/* 通用样式 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
b { font-weight: bold }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
table { border-collapse: collapse; border-spacing: 0 }
a { text-decoration: none }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
a { color: #333; text-decoration: none }
a:hover { color: #c00; text-decoration: underline }
em { font-style: normal }
img { border: 0; vertical-align: middle }
table { border-collapse: collapse; border-spacing: 0 }
p { word-wrap: break-word }
.bh:after, .cf:after, .layout1000:after, .layout1240:after { content: ""; display: table; clear: both }
body { font-size: 12px; font-family: "Microsoft YaHei", "SimSun", "SimHei", sans-serif, "Arial Narrow", HELVETICA }

.layout1240 { width: 1240px; margin: 0px auto }

/*
@media screen and (min-width: 1281px) {
.layout1240 { width: 1240px; margin: 0px auto }
}
@media screen and (max-width: 1280px) {
.layout1000 { width: 1000px; margin: 0px auto }
}
*/
.mt10 { margin-top: 10px }

/* 城市弹窗 */
.select_city { position: absolute; top: 18px; left: 172px; }
#slt1, #slt2 { display: none; }
.select_city .sub { float: left; width: 55px; height: 30px; position: relative; }
.select_city .sub_logo { float: left; width: 130px; height: 30px; padding-top: 19px; font-size: 18px; }
.select_city .link { float: left; color: #666; font-size: 14px; padding: 16px 0 0 37px; }
.select_city .toolbar { float: right; }
.select_city .Form-Crumbs-Article-QQ { float: right; padding-top: 14px; }
.select_city .Form-Crumbs-Article-QQ .submit { float: right; width: 75px; height: 22px; background: url(//mat1.gtimg.com/news/2009/final/split_v2.png) no-repeat 0 -372px; border: 0px; line-height: 20px; padding: 0 0 2px 0; *padding: 2px 0 0 0; padding: 2px 0 0 0 \0; font-size: 12px; cursor: pointer; }
.select_city .Form-Crumbs-Article-QQ .inputWarp { float: right; width: 202px; height: 21px; background: url(//mat1.gtimg.com/news/imgcss_article_qq/split_v4.1.png) no-repeat 0px -344px; margin-right: 3px; _display: inline; padding-top: 1px; padding-top: 2px \0; text-align: center; }
.select_city .Form-Crumbs-Article-QQ .txtArea { width: 166px; border: 0px; height: 16px; margin: 3px 8px 0 0; padding: 0; line-height: 16px; font-size: 13px; }
.select_city .Form-Crumbs-Article-QQ .SosoLogo { width: 24px; height: 16px; margin-top: 3px; float: left; }
.select_city .Form-Crumbs-Article-QQ .SosoLogo span { display: none}
.select_city .dis { display: block; }
.select_city .uundis { position: absolute; top: -9999px; left: -9999px; background: #fff; }
.select_city .sub .citylist h2, .select_city .sub .citylist .qgcity .bd dt, .select_city .sub_logo { font-family: "微软雅黑"; }
.select_city .sub .open { background-position: -46px -12px; }
.select_city .sub .chclose { background-position: -46px -35px; }
.select_city .sub .city a { color: #333; text-decoration: none; display: block; }
.select_city .sub .citylist { width: 290px; height: 290px; position: absolute; top: 33px; left: -35px; background: #fff; z-index: 9999}
.select_city .sub .citylist .citybox { width: 464px; height: 308px; border: 1px solid #bbb; position: relative; z-index: 9999; background-color: #fff; }
.select_city .sub .citylist .citybox .jiantou { display: block; width: 15px; height: 9px; background-position: -8px -133px; position: absolute; top: -9px; left: 40px; }
.select_city .sub .citylist h2 { font-size: 14px; font-weight: bold; line-height: 37px; height: 37px; color: #666666; border-bottom: 1px solid #e4e8ee; display: block; width: 100%; }
.select_city .sub .citylist .tjcity, .select_city .sub .citylist .qgcity { width: 440px; margin: 0 auto; padding-top: 5px; clear: both; }
.select_city .sub .citylist .tjcity .bd { display: block; line-height: 37px; height: 37px; }
.select_city .sub .citylist .tjcity li { float: left; font-size: 12px; }
.select_city .sub .citylist .tjcity li a, .select_city .sub .citylist .qgcity dd a { color: #333; text-decoration: none; display: inline-block; margin-right: 20px; font-size: 14px !important; }
.select_city .sub .citylist .tjcity li a:hover, .select_city .sub .citylist .qgcity dd a:hover { color: #f39800; text-decoration: none; }
.select_city .sub .citylist .qgcity .hd { height: 44px; position: relative; }
.select_city .sub .citylist .qgcity .hd h2 { float: left; color: #666666; }
.select_city .sub .citylist .qgcity .hd ul { width: 141px; height: 23px; background: #fafafa; margin-top: 2px; position: absolute; right: 0; top: 11px; border: 1px solid #e4e8ee; border-left: none; }
.select_city .sub .citylist .qgcity .hd ul li { float: left; text-align: center; line-height: 23px; cursor: pointer; width: 69px; height: 23px; color: #333; border-left: 1px solid #e4e8ee; }
.select_city .sub .citylist .qgcity .bd { width: 370px; height: 190px; }
.select_city .sub .citylist .qgcity .bd dl { float: left; }
.select_city .sub .citylist .qgcity .bd dt { width: 32px; height: 16px; float: left; font-size: 14px; color: #fff; line-height: 24px; font: 12px/16px "Arial"; background-color: #96bcf0; text-align: center; margin-top: 5px; _margin-top: 2px; }
.select_city .sub .citylist .qgcity .bd #scrollBox2 dt { width: 40px; }
.select_city .sub .citylist .qgcity .bd dd { width: 320px; margin-left: 15px; line-height: 24px; float: left; }
.select_city .sub .citylist .qgcity .bd #scrollBox2 dd { margin-left: 15px; width: 310px; float: left; }
.select_city .sub .citylist .qgcity .bd #scrollBox2 .area { margin-left: 0; font-weight: bold; color: #000}
.select_city .sub .citylist .qgcity .over { background: #fff; color: #96bcf0 !important; border-bottom: 1px solid #fff; width: 68px !important; border-top: 1px solid #2d6cc2; height: 24px !important; margin-top: -1px; }
.select_city .sub .citylist .qgcity .out { background: #fff; width: 70px !important; height: 23px !important; border-bottom: 1px solid #e4e8ee; margin-top: 0px; }
.select_city #scrollBox, .select_city #scrollBox2 { width: 427px; height: 170px; border-right: 2px solid #e1e1e1; padding: 0 10px 0 0; position: relative; }
.select_city #scrollBox_hq, .select_city #scrollBox2_hq { width: 427px; height: 170px; border-right: 2px solid #e1e1e1; padding: 0 10px 0 0; position: relative; }
.select_city #scrollBox_jj, .select_city #scrollBox2_jj { width: 427px; height: 170px; border-right: 2px solid #e1e1e1; padding: 0 10px 0 0; position: relative; }
.select_city #scrollBox_bj, .select_city #scrollBox2_bj { width: 427px; height: 170px; border-right: 2px solid #e1e1e1; padding: 0 10px 0 0; position: relative; }
.select_city .scrollContent { width: 367px; height: 170px; clear: both; overflow: hidden; }
.select_city .scrollBar { width: 13px; height: 35px; background: url(//mat1.gtimg.com/house/images/channel/icon_gd_m.jpg) left center; position: absolute; right: -8px; _right: -9px; top: 0; }
.select_city .scrollBar p { display: block; width: 100%; height: 100%; }
.select_city .scrollBar .topBg { background: url(//mat1.gtimg.com/house/images/channel/icon_gd_t.jpg) top left no-repeat; }
.select_city .scrollBar .barBg { background: url(//mat1.gtimg.com/house/images/channel/icon_gd_b.jpg) bottom left no-repeat; }
.select_city .link .tit { float: left; padding-top: 3px; }
.select_city .link a span { display: none; }
.select_city .link a { display: block; float: left; width: 20px; height: 21px; margin-right: 5px; }
.select_city .link a.weixin { background-position: -7px -72px; }

.select_city .link a.weibo { background-position: -32px -72px; }
.select_city .link a.qzone { background-position: -57px -72px; margin-right: 7px; }
.select_city .link a.mail { background-position: -84px -72px; }
.select_city .link a:hover.weixin { background-position: -7px -99px; }
.select_city .link a:hover.weibo { background-position: -32px -99px; }
.select_city .link a:hover.qzone { background-position: -57px -99px; }
.select_city .link a:hover.mail { background-position: -84px -99px; }
.select_city .sub { z-index: 999}
.select_city .phone_news { float: left; padding: 17px 0px 0 37px; line-height: 22px;
 *line-height: 23px; _line-height: 23px; font-size: 12px; }
.select_city .phone_news a { color: #196696; text-decoration: none; font-size: 14px; }
.select_city .phone_news a:hover { color: #196696; text-decoration: underline; }
.select_city .phone_news span { margin: 3px 4px 0 0; float: left; }

/*iriskang20130312*/
@media screen and (-webkit-min-device-pixel-ratio: 0) { /* Safari 3.0 and Opera 9 rules here */
	.select_city {  font-family: "Microsoft YaHei", "SimSun", "SimHei", sans-serif, "Arial Narrow", HELVETICA; }
}
.select_city .slt1 { padding-left: 20px; width: auto; }
.select_city .btn { color: #076aa9; }
.select_city .btn span { color: #076aa9; }
.select_city .slt1, .head_top .select_city .slt2 { font: 12px/24px "宋体"; text-align: left; color: #666; }
.select_city .slt2 { width: 69px; padding-left: 24px; }
.select_city .sub .chclose, .select_city .sub .open { background: none; }
.select_city .sub .btn em { height: 13px; width: 13px; display: block; float: left; margin: 5px 0 0 -3px; border: 1px solid #e9e9e9; background: url(//mat1.gtimg.com/auto/samuelcheng/car2015/img/down_arr.png) no-repeat 2px 4px; }
.select_city .sub .open .btn em { background: url(//mat1.gtimg.com/auto/samuelcheng/car2015/img/up_arr.png) no-repeat 2px 4px; }
.select_city .sub .citylist .citybox .closs { display: block; width: 18px; height: 15px; position: absolute; top: 16px; right: 16px; cursor: pointer }

/* 广告区 */
.adv div { float: left }
.adv .ewm { position: relative; width: 227px; height: 88px; border: 1px solid #eeeeee; margin-left: 10px }
.adv .ewm .pic { position: absolute; top: 0; left: 0; height: 87px; width: 88px; border: 1px solid #b8b8b8 }
.adv .ewm p { font-size: 11px; color: #6e6e6e; width: 108px; line-height: 21px; position: absolute; top: 25px; left: 103px }

/* 汽车页面头部 */
.header { margin-top: 28px; height: 48px; position: relative; z-index: 1000; }
.header-log { height: 34px; width: 285px; position: relative; top: 7px; left: 0 }
.header-wz { position: absolute; top: 19px; left: 300px; font-size: 12px; color: #3069b7 }
.header-wz-logo { height: 15px; width: 15px; position: absolute; top: 1px; right: -20px; cursor: pointer }
.header-search { width: 370px; height: 30px; float: left; position: absolute; top: 12px; left: 456px; margin-bottom: -2px; background-color: #fff }

.share10-logo {background-image: url("//mat1.gtimg.com/auto/samuelcheng/auto2016/img/share10-sd0f647814d.png"); background-repeat: no-repeat; background-position: 0 -706px }
.share10-cross {background-image: url("//mat1.gtimg.com/auto/samuelcheng/auto2016/img/share10-sd0f647814d.png"); background-repeat: no-repeat; background-position: 0 -138px }

/* 搜索框 */
.header-search-type { float: left; height: 30px; line-height: 30px; background-color: #f8fbfe; width: 64px; text-align: center }
.header-search-box { float: left }
.header-search-box .search-box { width: 280px; height: 30px; line-height: normal; position: relative; float: left; border-right: 0; background-color: #fff; overflow: hidden; box-shadow: 1px 1px 1px 0 #eaeaea inset }
.header-search-box .search-box input.search-text { width: 229px; height: 22px; line-height: 22px; padding: 0 5px; margin: 4px 0 0 0; font-size: 14px; border: 0; color: #999; outline: 0 none; background-color: #fff }
.header-search-box .search-box .btn { width: 90px; height: 30px; line-height: 30px; padding: 0; float: left; font-size: 18px }
.header-search-box a { position: absolute; width: 88px; height: 30px; line-height: 30px; padding: 0; float: right; font-family: \5FAE\8F6F\96C5\9ED1; font-size: 18px; background-color: #2e6cc3; color: #fff; text-align: center; display: block; border: 1px solid #2e6cc3; right: -1px; top: -1px; text-decoration: none }
.header-search-box form { float: left }
.header-search .search_car { width: 300px; height: 32px }
.header-search .search_car form { height: 33px; display: block }
.header-search .search_car form input { height: 27px; width: 300px; padding-left: 5px; border: 2px solid #9da8ba; line-height: 30px\9; padding-left: 5px\9; #margin-top:-1px; }
.header-search .search_car form .search_car_btn { position: absolute; top: 0px; right: -2px; display: block; height: 33px; width: 70px; text-align: center; line-height: 33px; color: #fff; background-color: #2d6cc2; font-size: 16px; text-decoration: none }
.header-search .search_car form .search_car_btn:hover { background-color: #215199 }
.header-search .search_car .results_list { border: 2px solid #9da8ba; left: 0px; position: absolute; top: 33px; width: 300px; background-color: #fff; z-index: 9999; border-top: none }
.header-search .search_car .results_list li { height: 24px }
.header-search .search_car .results_list li a { display: block; height: 24px; line-height: 24px; padding-left: 10px; position: relative }
.header-search .search_car .results_list li a .acronym { display: block; height: 24px; width: 100px; position: absolute; top: 0; right: 0 }
.header-search .search_car .results_list li a:hover { color: #f39800 }
.header-aboutcar { position: absolute; right: 0px; top: 0 }
.header-aboutcar ul li { float: left }
.header-aboutcar ul li a { display: inline-block; font-size: 12px; padding-top: 30px; width: 48px; text-align: center; margin-right: 12px; cursor: pointer }
.header-aboutcar ul li a.pic1 { color: #35b3eb }
.header-aboutcar ul li a.pic1:hover { color: #2665bb }
.header-aboutcar ul li a.pic2 { color: #fc6b56 }
.header-aboutcar ul li a.pic2:hover { color: #de3a3a }
.header-aboutcar ul li a.pic3 { color: #5ec28f }
.header-aboutcar ul li a.pic3:hover { color: #23a462 }
.header-aboutcar ul li a.pic4 { color: #FF9F58}
.header-aboutcar ul li a.pic4:hover { color: #ff7614}

/* 搜索右侧图标 */
.aboutcar-sprite, .aboutcar-aboutcar1, .aboutcar-aboutcar2, .aboutcar-aboutcar3, .aboutcar-aboutcar4 { background-image: url("//mat1.gtimg.com/auto/samuelcheng/auto2016/img/aboutcar-s2274752066.png"); background-repeat: no-repeat }
.aboutcar-aboutcar1 { background-position: 0 0 }
.aboutcar-aboutcar1:hover, .aboutcar-aboutcar1.aboutcar1-hover { background-position: -48px 0 }
.aboutcar-aboutcar2 { background-position: -96px 0 }
.aboutcar-aboutcar2:hover, .aboutcar-aboutcar2.aboutcar2-hover { background-position: -145px 0 }
.aboutcar-aboutcar3 { background-position: -193px 0 }
.aboutcar-aboutcar3:hover, .aboutcar-aboutcar3.aboutcar3-hover { background-position: -241px 0 }
.aboutcar-aboutcar4 { background-position: -294px 3px }
.aboutcar-aboutcar4:hover, .aboutcar-aboutcar4.aboutcar4-hover { background-position: -349px 3px }
/* 易鑫车贷 */
.header-aboutcar ul li a.pic5{ color:#e9474d;}
.header-aboutcar ul li a.pic5:hover{ color:#d5171e;}
.aboutcar-aboutcar5{ background:url(http://img1.gtimg.com/auto/pics/hv1/242/8/2192/142537082.png) no-repeat center 0;}
.aboutcar-aboutcar5:hover{ background:url(http://img1.gtimg.com/auto/pics/hv1/241/8/2192/142537081.png) no-repeat center 0;}
/*  |xGv00|3208bcda36ab7cfe4c5f3ad6540e7572 */