/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#057142!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff }
.banner{ display:none}
/*main*/
.main{ width:1000px; margin:0px auto; overflow:hidden}
.main .tit{ width:1000px; height:95px; line-height:95px; overflow:hidden; background:url(//mat1.gtimg.com/2014/jblt/titbg.png) no-repeat}
.main .tit h2{ margin-left:170px; font-size:32px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#088237}
/*box1*/
.box1,.layout { width:1000px!important; margin:30px auto 0px; overflow:hidden }
.box1 .left{ float:left; width:330px; overflow:hidden}
/*focus*/
#focus01 { float:left; position:relative; width:330px; height:294px; margin:0px; overflow:hidden; z-index:999 }
#focus01 .scrollBox { position:relative; width:330px; height:294px; overflow:hidden }
#focus01 .scrollUl { position:absolute; top:0px; left:0px; width:999999px; height:304px; overflow:hidden; }
#focus01 .scrollUl li { position:relative; float:left; width:330px; height:294px; }
#focus01 .scrollUl li img { width:330px; height:294px; }
#focus01 .scrollUl li .txt{ position:absolute; left:0px; bottom:0px; width:100%; height:40px; line-height:40px; text-indent:1em; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
#focus01 .scrollUl li .txt a,#focus01 .scrollUl li .txt a:hover{ color:#fff!important; text-decoration:none}
#focus01 .pageBox { display:none; position:absolute; bottom:10px; right:0px; width:320px; height:8px; text-align:center }
#focus01 .pageBox span { display:inline-block; width:8px; height:8px; margin-right:10px; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/iconD.png) no-repeat; cursor:pointer }
#focus01 .pageBox span.current { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/iconDon.png) no-repeat; }
#focus01 .pageBox span:hover { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s; -moz-transition:all 0.3s ease-in 0s; -o-transition:all 0.3s ease-in 0s }
#focus01 .leftBtn,#focus01 .rightBtn { position:absolute; top:125px; display:block; width:16px; height:29px; cursor:pointer }
#focus01 .leftBtn { left:0px; background:url(//mat1.gtimg.com/2014/jblt/leftBtn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/jblt/leftBtn.png', sizingMethod='crop'); }
#focus01 .rightBtn { right:0px; background:url(//mat1.gtimg.com/2014/jblt/rightBtn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/jblt/rightBtn.png', sizingMethod='crop'); }
#focus01 .leftBtn:hover { background:url(//mat1.gtimg.com/2014/jblt/leftBtnOn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/jblt/leftBtnOn.png', sizingMethod='crop');}
#focus01 .rightBtn:hover { background:url(//mat1.gtimg.com/2014/jblt/rightBtnOn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/jblt/rightBtnOn.png', sizingMethod='crop');}
.box1 .center{ display:inline; float:left; width:330px; margin:0px 20px; overflow:hidden}
.toutiao{ width:330px; margin:0px auto 30px; overflow:hidden}
.toutiao h3{ margin-bottom:5px; font-size:20px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#088237}
.toutiao h3 a{ color:#088237}
.toutiao p{ line-height:23px; color:#878787}
.toutiao p a{ color:#088237}
.box1 .right{ float:right; width:300px; overflow:hidden}
.rBox{ width:300px; margin:0px auto; overflow:hidden}
.rBox .hd{ width:300px; height:30px; line-height:30px; overflow:hidden; background:url(//mat1.gtimg.com/2014/jblt/hdbg.png) no-repeat}
.rBox .hd h2{ margin-left:38px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff}
.rBox .hd h2 a,.rBox .hd h2 a:hover{ color:#fff!important; text-decoration:none}
.rBox .bd{ width:300px; overflow:hidden}
#jianjie dl{ width:300px; margin:20px auto 0px; overflow:hidden}
#jianjie dl dt{ float:left; width:118px; height:82px;}
#jianjie dl dd{ float:right; width:164px; line-height:21px; color:#878787}
#jianjie p{ width:300px; margin:15px auto 0px; line-height:21px; color:#878787}
/*box2*/
.box2 { width:1000px; margin:40px auto 0px; overflow:hidden }
.box2 .left { float:left; width:680px; overflow:hidden }
.leftBox{ width:680px; margin:0px auto; overflow:hidden }
.leftBox .hd{ width:680px; height:30px; line-height:30px; overflow:hidden; background:url(//mat1.gtimg.com/2014/jblt/hdbg.png) no-repeat}
.leftBox .hd h2{ margin-left:38px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff}
.leftBox .hd h2 a,.leftBox .hd h2 a:hover{ color:#fff!important; text-decoration:none}
.leftBox .bd{ width:680px; padding:20px 0px; overflow:hidden}
.leftBox .bd ul{ float:left; width:325px;}
.leftBox .bd ul.fr{ float:right}
.leftBox .bd ul li{ width:325px; height:38px; line-height:38px; font-size:14px; border-bottom:1px dotted #cbcbcb}
.leftBox .bd ul li.bb0{ border-bottom:0px}
.box2 .right { float:right; width:300px; margin:0px; overflow:hidden }
.box2 .rBox .bd{ width:300px; overflow:hidden; background:#dbf0dd}
#focus03{ position:relative; width:266px; height:390px; margin:25px auto; overflow:hidden; background:#f3f3f3}
#focus03 .scrollBox{ width:260px; height:356px; margin:10px auto 0px; overflow:hidden; background:#fff}
#focus03 .scrollUl { position:absolute; top:0px; left:0px; width:999999px; height:356px; overflow:hidden; }
#focus03 .scrollUl li{ float:left; width:260px; height:356px;}
#focus03 .scrollUl li .ren{ display:inline; float:left; width:60px; margin:10px 0px 0px 22px; overflow:hidden}
#focus03 .scrollUl li .ren img{ display:block; width:60px; height:60px; margin-bottom:3px;}
#focus03 .scrollUl li .ren p{ width:60px; text-align:center}
#focus03 .pageBox { position:absolute; bottom:5px; left:102px; width:64px; height:11px; text-align:center }
#focus03 .pageBox span { display:inline-block; width:11px; height:11px; margin-right:10px; background:url(//mat1.gtimg.com/2014/jblt/iconD.png) no-repeat; cursor:pointer }
#focus03 .pageBox span.current { background:url(//mat1.gtimg.com/2014/jblt/iconD2.png) no-repeat; }
#focus03 .pageBox span:hover { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s; -moz-transition:all 0.3s ease-in 0s; -o-transition:all 0.3s ease-in 0s }
#focus03 .leftBtn,#focus03 .rightBtn { position:absolute; bottom:5px; display:block; width:7px; height:12px; cursor:pointer }
#focus03 .leftBtn { left:92px; background:url(//mat1.gtimg.com/2014/jblt/left.png) no-repeat; }
#focus03 .rightBtn { right:92px; background:url(//mat1.gtimg.com/2014/jblt/right.png) no-repeat; }
.cf:after,.layout:after,.hd:after,.bd:after{content:"";display:table;clear:both;}
.ic_tit {
    background: url("//mat1.gtimg.com/2014/index/img/ic_tit.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.layout {
    padding-bottom: 40px;
    position: relative;
}
.layout .hd{ width:1000px; height:30px; line-height:30px; overflow:hidden; background:url(//mat1.gtimg.com/2014/jblt/hdbg.png) no-repeat}
.layout .hd h2{ margin-left:38px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff}
.layout .hd h2 a,.layout .hd h2 a:hover{ color:#fff!important; text-decoration:none}
#focus02{ position:relative; width:1000px; height:630px; margin:0px auto; overflow:hidden; }
#focus02 .scrollBox{ width:1000px; height:600px; margin:0px auto 0px; overflow:hidden;}
#focus02 .scrollUl { position:absolute; top:0px; left:0px; width:999999px; height:600px; overflow:hidden; }
#focus02 .scrollUl li.split{ float:left; width:1000px; height:600px;}
#focus02 .pageBox { position:absolute; bottom:0px; left:0px; width:1000px; height:8px; text-align:center }
#focus02 .pageBox span { display:inline-block; width:8px; height:8px; margin-right:15px; background:url(//mat1.gtimg.com/2014/jblt/lv.png) no-repeat; cursor:pointer }
#focus02 .pageBox span.current { background:url(//mat1.gtimg.com/2014/jblt/lv2.png) no-repeat; }
/*À¸Ä¿Ìõ*/
.layout .main_tit {
    background-position: 0 -60px;
    color: #FFFFFF;
    height: 78px;
    line-height: 78px;
    padding-left: 60px;
}
.main_tit .tit_ad {
    height: 45px;
    padding: 13px 0 0;
}
.main_tit .tit_ad img {
    display: block;
}


/* ¸ßÇå×éÍ¼ */
.mod_pics{padding:20px 0 0;}
.mod_pics .pic_list li{position:relative;float:left;width:200px;height:200px;overflow:hidden;}
.mod_pics .pic_list .txt{padding:65px 20px 0;}
.mod_pics .pic_list .txt .pic_arr{display:inline-block;width:15px;height:15px;margin:0 5px;background:url(//mat1.gtimg.com/2014/index/img/pic_arr.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/index/img/pic_arr.png',sizingMethod='crop');}
.mod_pics .pic_list .pic{position:relative;display:block;cursor:pointer;}
.mod_pics .pic_list .pic .shadow{position:absolute;left:0;top:0;width:100%;height:100%;background-color:#2FA871;color:#FFF;opacity:0;filter:alpha(opacity=0);}
.mod_pics .pic_list .pic .shadow2{background-color:#FFA200;}
.mod_pics .pic_list .pic:hover{border:none;text-decoration:none;}
.mod_pics .pic_list .pic:hover .shadow{opacity:1;filter:alpha(opacity=100);}
.mod_pics .pic_list .first{width:400px;height:400px;}
.mod_pics .pic_list .first .txt{padding:125px 50px 0;font-size:24px;line-height:35px;}
.pic_list:hover .txt{ color:#fff!important}
/*´ó¿§Ðã*/
.mod_weishi .icons{
	background:url(//mat1.gtimg.com/2014/index/img/icons_v1.png) no-repeat -120px -60px;
    float: left;
    height: 25px;
    margin-right: 15px;
    width: 25px;
}
.mod_weishi .ws_scroll .ws_hd{padding:15px 0;border-bottom:1px solid #EDEDED;color:#333;}
.mod_weishi .ws_scroll .ws_hd i.icons{float:left;width:25px;height:25px;background-position:-120px -60px;margin-right:15px;}
.mod_weishi .ws_scroll .ws_bd{padding:20px 0 0;}
.mod_weishi .ws_scroll .list{height:120px;;}
.mod_weishi .ws_scroll .list li{float:left;width:90px;height:90px;padding:0 12px;display:inline;text-align:center;}
.mod_weishi .ws_scroll .pic{position:relative;display:block;width:90px;height:90px;}
.mod_weishi .ws_scroll .pic i.icons{position:absolute;left:0;bottom:0;width:26px;height:26px;background-position:-30px -60px;opacity:0.5;filter:alpha(opacity=50);}
.mod_weishi .ws_scroll .pic:hover i.icons{opacity:1;filter:alpha(opacity=100);}
.scroll_C{position:relative;width:916px;height:120px;padding:0 42px;}
.scroll_C .inner{position:relative;width:916px;height:120px;overflow:hidden;}
.scroll_C .inner .list{width:9999em;}
.scroll_C .btn{position:absolute;top:0;width:35px;height:112px;line-height:999em;;background:url(//mat1.gtimg.com/2014/index/img/icons_v1.png) no-repeat;overflow:hidden;}
.scroll_C .prev{left:0;background-position:0 -210px;}
.scroll_C .next{right:0;background-position:-40px -210px;}
.scroll_C .btn:hover{text-decoration:none;color:#FFA200;}
.scroll_C .prev:hover{background-position:-80px -210px;}
.scroll_C .next:hover{background-position:-120px -210px;}

/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop.png) no-repeat; bottom:45px; display:none; height:58px; position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop2.png) no-repeat; }




/* hzmt */
.hzmt{width:1000px;margin:0 auto;  }
.hzmt .hd{position:relative; height:40px;line-height:40px;border-bottom:2px solid #ffc602;   }
.hzmt .hd h2{font:normal normal 18px/40px "Î¢ÈíÑÅºÚ";color:#088237;border-bottom:2px solid #088237;padding:0 15px;display:inline-block;*display:inline;zoom:1;}
.mtlist {overflow:hidden;zoom:1;padding:10px 0 15px 0px;margin-left:-61px;}
.mtlist li{float:left; display:inline; margin:10px 0 0 62px;  }
.mtlist li img,.mtlist li{width:150px;height:52px;  }





/*  |xGv00|7ada181f0c2f64a2b96200543e8f3483 */