@import url("http://js.3conline.com/pclady/2010/block/expCmt.css");/* 新版评论 */
body{background:url(http://www1.pclady.com.cn/global/2009/images_d/bg.gif);}
/* 初始化,如有用到并有遗留，可补充 */
body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0;} 
/* 设置默认字体，行高，初始化ie6下表单元素 */
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif;}
/* 标题继承字体大小，ie6下表单元素继承字体大小*/
button,input,select,textarea,h1,h2,h3,h4{font-size:100%;}
/* 扶正 */
em,i{font-style:normal;}
/* 去默认序列号 */
ol,ul{list-style:none;}
/* 去默认边 */
img,fieldset{border:0;vertical-align:middle;}
/* 清浮 */
.clearfix:after{content:"\20";clear:both;height:0;display:block;overflow:hidden;}
.clearfix{*zoom:1;}
/* 网站特有写法，继承保留 */
.fl,.mark{float:left;}
.fr,.subMark{float:right;}
.spanclass,.contentdiv{display:none;}
/* 各网根据各网风格设置 相应色值 */
a{color:#454545;text-decoration:none;}
a:hover{color:#b06;text-decoration:underline;}

.clear{clear:both;content:' ';display:block;font-size:0;line-height:0;width:0;height:0;visibility:hidden;}

/*统一分页样式*/
/*Wednesday, 21-Sep-2011 18:09:06 CST*/
/*mod(turnPage.css 框架)*/
.pclady_page{ height:22px;clear:both;text-align:center;font:400 12px/14px \5b8b\4f53;}
.pclady_page span{margin:0 2px;padding:5px 10px 3px;color:#fff;background:#666; display:inline-block}
.pclady_page a{padding:4px 9px 2px;margin:0 2px;border:1px solid #ccc;color:#000;background:#fff;text-decoration:none; display:inline-block}
.pclady_page a:hover{color:#666;border:1px solid #666;text-decoration:underline;}
.pclady_page .prev,.pclady_page .next{background:url(http://www1.pclady.com.cn/ue/2011/ladyTurnPageBg.png) no-repeat;border:none;}
.pclady_page .prev{background-position:0 -50px; padding:5px 10px 3px 19px}
.pclady_page .next{background-position:0 0; padding:5px 19px 3px 10px}
.pclady_page a:hover.prev{border:none;background-position:0 -75px;}
.pclady_page a:hover.next{border:none;background-position:0 -25px;}

/*文章评论主体*/
.cmtContentNew{border:1px #D0D1D3 solid;border-top:none;background:#FFF;text-align:left;}
.cmtContentNew i{font-style:normal;}
.cmtContentNew a.f12{font-size:12px;}/*12号字体*/
.cmtContentNew .red,.cmtContentNew .red a,.cmtContentNew a.red{color:#F00;}/*红色字体*/
.cmtContentNew .mark{float:left;margin-left:10px;}
.cmtContentNew .subMark{float:right;margin-right:10px;}
.cmtContentNew .thead{height:31px;line-height:31px;background:url(http://www1.pconline.com.cn/global/2008/images/cmt_img/pconlinebg.gif) repeat-x 0px 0px;}
.cmtContentNew .thead .mark{width:300px;height:31px;line-height:31px;}
.cmtContentNew .thead .mark .imSub{font-size:14px;width:69px;height:31px;background:url(http://www1.pconline.com.cn/global/2008/images/cmt_img/pconline.gif) no-repeat;float:left;font-weight:bold;color:#FFF;padding-left:38px;line-height:31px;}
.cmtContentNew .thead .mark .imExp{font-size:12px;float:left;padding:0 0 0 12px;font-weight:normal;line-height:31px;white-space:nowrap;}
.cmtContentNew .tbody{padding:0 0 12px 0px;}
/*发表用户输入*/
.cmtContentNew .cmtFormInput .loginBtn{background:url(http://www1.pconline.com.cn/global/2008/images/cmt_img/login.gif) no-repeat;border:none;width:40px;height:25px;text-indent:-9999px;}
.cmtContentNew .cmtFormInput .registBtn{background:url(http://www1.pconline.com.cn/global/2008/images/cmt_img/reg.gif) no-repeat;border:none;width:40px;height:25px;}
.cmtContentNew .cmtFormInput .logoutBtn{background:url(http://www1.pconline.com.cn/global/2008/images/cmt_img/out.gif) no-repeat;border:none;width:40px;height:25px;text-indent:-9999px;}
.cmtContentNew .cmtFormInput .myadmBtn{background:url(http://www1.pconline.com.cn/global/2008/images/cmt_img/manage.gif) no-repeat;border:none;width:60px;height:25px;}
/*验证码*/
#captcha{border:1px #D1D1D1 solid;font-size:12px;padding:5px 5px 3px 5px;color:#5F5F5F;}
/*发表的评论内容*/
.cmtContentNew .cmtPublish{padding:0px 12px 12px 12px;}
.cmtContentNew .cmtPublish dl{margin:12px 0 0 0;padding:0px;list-style:none;line-height:25px;overflow:hidden;}
.cmtContentNew .cmtPublish dl dt{height:25px;background:#F3F3F3;border-top:1px #E1E1E1 solid;clear:both;}
.cmtContentNew .cmtPublish dl dt a{ text-decoration:underline; color:#FF6B07;}
.cmtContentNew .cmtPublish dl dd{font-size:14px;margin:0px;padding:0px;text-indent:2em;text-align:left;white-space:normal;word-break:break-all;word-wrap:break-word;clear:both;overflow:hidden;}/*单条评论内容*/
.cmtContentNew .cmtPublish .iFloor{color:#848484;/*楼数*/}
.cmtContentNew .cmtPublish .iName{color:#FF6B07;/*用户*/}
.cmtContentNew .cmtPublish .iTime{color:#848484;/*发表时间*/}
.cmtContentNew .cmtPublish .odd{/*奇数行样式*/}
.cmtContentNew .cmtPublish .even{/*偶数行样式*/}
/*评论表单*/
.cmtContentNew .cmtForm{border-top:0px #E1E1E1 solid;margin:0px 12px 0px 12px;padding:5px 0 0 0;clear:both;}
.cmtContentNew .cmtForm form{margin:0px;padding:0px;background:none;}
.cmtContentNew .cmtForm td{vertical-align:middle;}
.cmtContentNew .cmtForm td img{vertical-align:middle;}
.cmtContentNew .cmtForm td input{vertical-align:middle;}
.cmtContentNew .cmtForm td.formInfo .input{border:1px #D1D1D1 solid;font-size:12px;padding:5px 5px 3px 5px;color:#5F5F5F;}
.cmtContentNew .cmtForm td.formInfo .subMark{line-height:30px;}
.cmtContentNew .cmtForm td.textarea{text-align:center;}
.cmtContentNew .cmtForm td.textarea textarea{border:1px #D1D1D1 solid;width:99%;height:10em;margin:5px auto 5px auto;font-size:12px;color:#5F5F5F;padding:0px;text-align:left;}
.cmtContentNew .cmtForm td.formSubmit{line-height:30px;height:30px;}
.cmtContentNew .cmtForm td.formSubmit .mark{margin-left:0px;margin-right:12px;}
.cmtContentNew .cmtForm td.formSubmit .subMark{float:left;}
/*热评文章*/
.cmtHotArticle{clear:both;zoom:1;padding:0px 12px; display:none;}
.cmtHotArticle .divTitle{font-size:14px;text-align:left;margin-bottom:5px;}
.cmtHotArticle .divList ul{padding:0px;margin:0px;list-style:none;line-height:20px;}
.cmtHotArticle .divList ul li{list-style:none;}
/*文章引用网站列表*/
.cmtLinkArticle{clear:both;zoom:1;padding:5px 12px;font-weight:bold;}
.cmtLinkArticle a{font-weight:normal;}
/*评论统计*/
.formTotal{text-align:right;font-size:14px;padding-right:12px;}
.formTotal .viewMore{font-weight:bold;color:#003497;text-decoration:underline;}

#comment_tag .cmtHotArticle{ display: none; }

/*评论高度 3.25 by wenru*/
#cmt #comment_tag table,#cmt #_comment_tag_ table,#cmt table.cmtFormInput{ height:auto}
#comment_tag .imExp strong{ display:inline}
.main990 #cmt, .main990 #cmt a:link, .main990 #cmt a:visited, .main990 #cmt a:active {color:#333;}
/*评论按钮在ie6.0少了一个象素*/
.cmtContentNew .cmtFormInput .myadmBtn,.cmtContentNew .cmtFormInput .logoutBtn,.cmtContentNew .cmtFormInput .loginBtn,.cmtContentNew .cmtFormInput .registBtn{height:26px;vertical-align:middle}
.cmtContentNew .cmtForm td input{padding-bottom:3px;}
@charset "utf-8";
/* CSS Document */

/*  |xGv00|bba371eaa8b24bb211a34dda62b7d6d0 */