@charset "utf-8";
/* CSS Document */
body{ font-family:"微软雅黑";}
.top{  height:419px; background: url(//mat1.gtimg.com/cq/000/1/hunli1/top.jpg) no-repeat center top; margin:0px auto;}

.t_img{
	height:378px;
	float:left;
	position:absolute;
	left:-59px;
	top: 29px;
}

.t_span{ line-height:30px; float:left; position:absolute; font-size:14px; color:#FFFFFF; left:295px; top:226px; width:500px; text-indent:2em; }



.content{height:900px;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/body_bg.jpg') repeat center top; margin:0px auto; padding-top:30px; }

.content1{height:1500px;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/body_bg.jpg') repeat center top; margin:0px auto; padding-top:30px; }

.content2{height:800px;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/body_bg.jpg') repeat center top; margin:0px auto; padding-top:30px; }

.content3{height:700px;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/body_bg.jpg') repeat center top; margin:0px auto; padding-top:30px; }

.main{width:1000px;margin: 0 auto;}
.pos{position:absolute;}
.txtMode{font-size:14px;font-family:Microsoft YaHei;line-height:24px;}
.dp a{position:absolute;}
.dp a i{height:18px;padding:0 4px;background:#FFF;opacity:0.7;filter:alpha(opacity=70);position:absolute;z-index:999;font-family:Microsoft YaHei;white-space: nowrap;}
.inTxt a,.inTxt a:hover{color:#FFF;}



.index{width:1000px;height:800px;position:relative;overflow:hidden;}

.index .people1{width:183px;height:516px;top:83px;left:-183px;display:block;}
.index .people2{width:435px;height:592px;top:13px;right:-435px;;display:block;}
/*.index .people1{width:183px;height:516px;top:83px;left:30px;}
.index .people2{width:435px;height:592px;top:13px;right:22px;}*/


/*page1*/
.page1{width:1000px;height:1400px;position:relative;overflow:hidden;background:#000000;}

.page1 .people{width:210px;height:594px;top:-596px;left:347px;display:block;}
.page1 .dp{width:412px;height:537px;top:32px;right:-412px;display:block;}
/* 
.page1 .people{width:210px;height:594px;top:8px;left:347px;}
.page1 .dp{width:412px;height:537px;top:32px;right:20px;}
*/
.page1 .dp a.posA1{top:137px;right:247px;}
.page1 .dp a.posA1 i{top:85px;left:-30px;}
.page1 .dp a.posA2{top:32px;right:20px;}
.page1 .dp a.posA2 i{top:38px;left:-170px;}
.page1 .dp a.posA3{top:220px;right:300px;}
.page1 .dp a.posA3 i{top:93px;right:-93px;}
.page1 .dp a.posA4{top:330px;right:38px;}
.page1 .dp a.posA5{top:410px;right:150px;}
.page1 .dp a.posA5 i{top:112px;right:-58px;}
/*page2*/
.page2{width:1000px;height:720px;position:relative;overflow:hidden; }

.page2 .people{width:292px;height:571px;top:16px;left:-292px;display:block;}
.page2 .dp{width:433px;height:520px;top:43px;left:-645px;display:block;}

/*.page2 .people{width:292px;height:571px;top:16px;left:10px;}
.page2 .dp{width:433px;height:520px;top:43px;left:215px;}*/

.page2 .dp a.posA1{top:65px;left:103px;}
.page2 .dp a.posA1 i{top:-20px;left:-68px;}
.page2 .dp a.posA2{top:0;left:260px;}
.page2 .dp a.posA2 i{top:234px;left:0;}
.page2 .dp a.posA3{top:144px;left:67px;}
.page2 .dp a.posA3 i{top:85px;left:-130px;}
.page2 .dp a.posA4{top:274px;left:228px;}
.page2 .dp a.posA5{top:350px;left:0;}
.page2 .dp a.posA5 i{top:136px;left:-15px;}
.page2 .dp a.posA6{top:384px;left:156px;}
.page2 .dp a.posA6 i{top:35px;right:-73px;}

/*page3*/
.page3{width:500px;height:600px;position:relative;overflow:hidden; float:left;}

.page31{width:500px;height:600px;position:relative;overflow:hidden; float:left;}

.page3 .Title{width:304px;height:134px;margin:0 0 10px 680px;padding-top:38px;}
.page3 .inTxt{
	width:266px;
	height:580px;
	float:right;
	
	background-image: url(//mat1.gtimg.com/cq/000/hunlixianchang/txtbg.png);
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	
	line-height:20px;
	
}



.page3 .inTxt span{ font-size:14px; color:#000000;}

.page3 .inTxt label{ font-size:13px;color:#FFF;}
.page3 .people{width:200px;height:600px; float:left;}








.page31 .Title{width:304px;height:134px;margin:0 0 10px 680px;padding-top:38px;}
.page31 .inTxt{
	width:266px;
	height:580px;
	float:right;
	
	background-image: url(//mat1.gtimg.com/cq/000/hunlixianchang/txtbg.png);
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	padding-left: 20px;
	
	line-height:20px;
	
}



.page31 .inTxt span{ font-size:14px; color:#000000;}

.page31 .inTxt label{ font-size:13px;color:#FFF;}
.page31 .people{width:200px;height:600px; float:left;}












.page3 .dp{width:426px;height:563px;top:24px;right:-517px;display:block;}

/*.page3 .people{width:177px;height:586px;top:13px;left:357px;}
.page3 .dp{width:426px;height:563px;top:24px;right:30px;}*/


/*page4*/
.page4{width:1000px;height:600px;position:relative;overflow:hidden;}
.page4 .Title{width:304px;height:134px;margin:0 0 10px 680px;padding-top:38px;}
.page4 .inTxt{width:266px;height:356px;margin-left:680px;padding:20px 20px 0;color:#FFF;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/txtbg.png') no-repeat;}
.page4 .people{width:193px;height:595px;top:-595px;left:5px;display:block;}
.page4 .dp{width:447px;height:568px;top:22px;left:-490px;display:block;}
/*.page4 .people{width:193px;height:595px;top:9px;left:5px;}
.page4 .dp{width:447px;height:568px;top:22px;left:210px;}*/
.page4 .dp a.posA1{top:77px;left:37px;}
.page4 .dp a.posA1 i{top:-20px;left:-69px;}
.page4 .dp a.posA2{top:0;right:30px;}
.page4 .dp a.posA2 i{top:105px;right:-72px;}
.page4 .dp a.posA3{top:155px;left:20px;}
.page4 .dp a.posA3 i{top:197px;left:-60px;}
.page4 .dp a.posA4{top:320px;right:0;}
.page4 .dp a.posA4 i{top:170px;right:0;}
.page4 .dp a.posA5{top:418px;left:0;}
.page4 .dp a.posA5 i{top:113px;right:-30px;}

/*page5*/
.page5{width:1000px;height:600px;position:relative;}
.page5 .Title{width:304px;height:134px;margin:0 0 10px 299px;padding-top:38px;}
.page5 .inTxt{width:266px;height:356px;margin-left:299px;padding:20px 20px 0;color:#FFF;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/txtbg.png') no-repeat;}

.page5 .people1{width:157px;height:558px;top:18px;left:-157px;display:block;}
.page5 .people2{width:178px;height:594px;top:5px;left:-178px;display:block;}
.page5 .people3{width:171px;height:559px;top:12px;right:-171px;display:block;}
.page5 .people4{width:182px;height:589px;top:13px;right:-182px;display:block;}
.page5 .people5{width:153px;height:529px;top:12px;right:-153px;display:block;}
/*
.page5 .people1{width:157px;height:558px;top:18px;left:8px;}
.page5 .people2{width:178px;height:594px;top:5px;left:128px;}
.page5 .people3{width:171px;height:559px;top:12px;right:220px;}
.page5 .people4{width:182px;height:589px;top:13px;right:100px;}
.page5 .people5{width:153px;height:529px;top:12px;right:0px;}
*/
.page5 em.posTit{height:18px;display:none;padding:0 4px;background:#FFF;opacity:0.7;filter:alpha(opacity=70);position:absolute;z-index:999;}

.page5 .pos.hover em{display:block;}
.page5 .people1 em.posTit{top:335px;left:-7px;}
.page5 .people2 em.posTit{top:118px;right:-42px;}
.page5 .people3 em.posTit{top:325px;left:13px;}
.page5 .people4 em.posTit{top:436px;left:23px;}
.page5 .people5 em.posTit{top:326px;right:0;}

.team{height:26px;position:absolute;top:573px;left:269px;font-size:14px;color:#585858;font-family:Microsoft YaHei;}
.team span{margin-right:25px;}



.footNav{width:1200px;height:45px;margin:0 auto 26px;text-align:center;line-height:45px; }
.footNav li{width:164px;position:relative; float:left;margin-left:5px;display:inline;background:#000;font-size:24px;font-family:Microsoft YaHei;}
.footNav li em{width:23px;height:12px;position:absolute; top:-12px;left:50%;margin-left:-11px;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/triangle.png') no-repeat;}
.footNav li.current{background:url('//mat1.gtimg.com/cq/000/hunlixianchang/current.jpg') no-repeat;}
.footNav li a,.footNav li a:hover{color:#FFF;text-decoration:none;}
.footNav li.firstLi{width:162px;margin-right:3px;}
.footNav li.match{margin-right:4px;}
.footNav li.lastLi{width:160px;margin-right:0px;}
.footNav li a{display:block;}

.tips {width:33px;height: 98px;background:url('//mat1.gtimg.com/cq/000/hunlixianchang/review.png') no-repeat;position: fixed;_position: absolute;margin-left: 521px;left: 50%;top: 50%;margin-top:-145px;_margin-top:0;_top: expression(documentElement.scrollTop + (documentElement.clientHeight - this.clientHeight) / 2-100 + "px");}
.tips ul{width:159px;height:448px;display:none;padding:0 12px;position:absolute;top:1px;left:-183px;background:#585858}
.tips ul li{height:36px;padding-left:20px;line-height:36px;border-bottom:1px solid #ccc;color:#FFF;font-family:Microsoft YaHei;font-size:16px;}
.tips ul li a,.tips ul li a:hover{color:#FFF;text-decoration:none;}
.tips ul li.nobb{border-bottom: 0 none;}

body{background:#FFF;}
body #footer{width:990px;margin:0px auto;padding-bottom:0px;background:none;min-width:990px;}
body #footer .channelLinks{display:block;}
body #footer .companyLinks{background:none;border:0;}
body #footer .companyLinks,body #footer .copyRight{width:990px;margin:auto;}
body #footer .companyLinks a:link,body #footer .companyLinks,body #footer .companyLinks a:visited,body #footer .copyRight table .trTop td,body #footer .copyRight table .trTop a,body #footer .copyRight table td,body #footer a:link,body #footer a:visited{color:#000;}






.football{ width:983px; margin:20px auto;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#19FFFFFF', endColorstr='#19FFFFFF');background:rgba(255,255,255,0.1);}
.football{ padding-bottom:15px;}
.football .hd { padding-top:65px;}
.lay295{ width:295px; margin-left:10px; float:left;}
.lay380{ width:380px; margin:0 10px; float:left; overflow:hidden;}
.lay265{ width:265px; float:left;}
.imglist a{ display:block; position:relative; margin-bottom:10px;}

.imglist a i.tip { padding-right:1px;display:block;background:url(//mat1.gtimg.com/cq/000/hunlixianchang/tip_bg.png) repeat-y right top;color:#fff; position:absolute; left:12px; bottom:18%; display:none;}
.imglist a:hover{ text-decoration:none;}
.imglist a i.tip span{display:block; line-height:20px;}
.imglist a i.tip span.lbg{padding-left:1px;background:url(//mat1.gtimg.com/cq/000/hunlixianchang/tip_bg.png) repeat-y left top;}
.imglist  a i.tip span.rbg{padding:15px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#B2000000', endColorstr='#B2000000');background:rgba(0,0,0,0.7);}
.imglist a i.tip  strong{ padding-bottom:5px; margin-bottom:5px; display:block; text-align:center; border-bottom:1px dotted #fff; line-height:24px;font-size:18px;font-family:"Microsoft Yahei";}
.imglist .lay295 a{ width:295px;}
.imglist .lay295 a i.tip{ width:265px;}
.imglist .lay295 a i.tip span{ width:234px;}

.imglist .lay380 a{ width:380px;}
.imglist .lay380 a i.tip{width:355px;}
.imglist .lay380 a i.tip span{ width:324px;}

.lay380-sm{ width:390px;}
.lay185{ width:185px; margin-right:10px; float:left;}
.imglist .lay185 a{ width:185px;}
.imglist .lay185 a i.tip{width:160px;}
.imglist .lay185 a i.tip span{ width:129px;}

.imglist .lay265 a{ width:265px;}
.imglist .lay265 a i.tip{width:240px;}
.imglist .lay265 a i.tip span{ width:209px;}


.all{ width:100%; float:left;  position:relative;}




.case{background:url(//mat1.gtimg.com/cq/000/hunlixianchang/case.jpg) no-repeat;height:627px;overflow:hidden;width:891px;margin:0 auto;}
.case_box{position:relative;margin:100px auto 0px;width:870px;height:500px;overflow:hidden}
.case_box p{z-index:2;position:absolute;text-indent:-9999px;width:28px;height:51px;top:40%;cursor:pointer}
.case_box .prev{text-indent:-9999px;background:url(//mat1.gtimg.com/cq/000/hunlixianchang/previous.png) no-repeat;left:0px}
.case_box .next{background:url(//mat1.gtimg.com/cq/000/hunlixianchang/next.png) no-repeat;top:40%;right:0px}
.case_box ul{position:absolute;height:500px;overflow:hidden;top:0px;left:0px}
.case_box ul li{width:870px;float:left;height:500px}
.case_box ul li dl.case_info{line-height:17px;margin:95px 0px 0px 475px;width:295px;zoom:1;color:#616741;font-size:13px;overflow:hidden}
.case_box ul li dl.case_info dd{text-indent:26px}


.case_box ul li.case_2 dl{margin-top:150px}
.case_box ul li.case_3 dl{margin-top:135px}
.case_box ul li.case_4 dl{margin-top:110px}
.case_box ul li.case_5 dl{margin-top:120px}
.case_box ul li.case_6 dl{margin-top:115px}

.case_info_add dd{line-height:22px}

.case_box ol{position:absolute;bottom:0;left:50%;margin:0 0 0 -65px;height:12px;z-index:99;}
.case_box ol li{float:left;margin:0 4px;display:inline;width:12px;height:12px;line-height:999em;background:url(//mat1.gtimg.com/cq/000/hunlixianchang/pagination.png) no-repeat;overflow:hidden;cursor:pointer;}
.case_box ol li.active{background-position:0 -12px;}








.foucebox {
	width:980px;
	height:720px;
	background:#000;
	margin:10px auto;
}
.foucebox .bd {
	position:relative;
	float:left;
	width:720px;
	height:720px;
	overflow:hidden;
}
.foucebox .showDiv {
	position:relative;
	width:720px;
	height:720px;
}
.foucebox .showDiv img {
	width:720px;
	height:600px;
}
.foucebox .showDiv p {
	position:absolute;
	left:20px;
	bottom:0;
	padding-right:20px;
	color:#aaa;
	z-index:9;
	height:44px;
}
.foucebox .showDiv h2 {
	position:absolute;
	left:10px;
	bottom:0;
	padding-top:10px;
	width:720px;
	height:34px;
	background:url(//mat1.gtimg.com/cq/000/hunlixianchang/foucebox_h2.png) no-repeat 0 4px;
	_background:none;
	padding-left:20px;
	_padding-left:0;
	font-size:18px;
	font-family:"Microsoft Yahei";
	line-height:34px;
	z-index:9;
	overflow:hidden;
}
.foucebox .showDiv h2 a {
	color:#8ecf12;
	font-weight:normal;
}
.foucebox .foucebox_bg {
	position:absolute;
	left:0;
	bottom:0px;
	width:720px;
	height:100px;
	background:#000;
	filter:alpha(opacity=60);
	opacity:0.6;
	z-index:8;
	overflow:hidden;
}
.foucebox .hd {
	width:244px;
	height:318px;
	margin-top:4px;
	float:right;
}
.foucebox .hd ul li {
	width:114px;
	height:91px;
	float:left;
	margin:0 0 10px 4px;
	display:inline;
	position:relative;
}
.foucebox .hd ul a {
	display:block;
	width:114px;
	height:91px;
}
.foucebox .hd ul img {
	width:108px;
	height:84px;
	border:3px solid #2b2b2b;
}
.foucebox .hd ul .txt_bg {
	width:108px;
	height:24px;
	position:absolute;
	left:3px;
	top:63px;
	background:url(//mat1.gtimg.com/cq/000/hunlixianchang/bg_png.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="//mat1.gtimg.com/cq/000/hunlixianchang/bg_png.png");
}
.foucebox .hd ul .txt {
	width:103px;
	height:24px;
	line-height:24px;
	color:#fff;
	position:absolute;
	left:4px;
	bottom:4px;
	z-index:2;
	text-align:right;
	padding-right:5px;
	overflow:hidden;
}
.foucebox .hd ul .mask {
	width:108px;
	height:85px;
	display:block;
	position:absolute;
	left:3px;
	bottom:3px;
	z-index:3;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000');
	background:rgba(0,0,0,0.4);
}
.foucebox .hd ul a:hover .mask,.foucebox .hd ul .on .mask {
	display:none;
	position:relative;
}
.foucebox .hd ul a:hover img,.foucebox .hd ul .on img {
	border-color:#70a20f;
}
.foucebox .hd ul a:hover {
	color:#fff;
}
.foucebox .hd ul a:hover .txt_bg {
	background:#70a20f;
}
/*  |xGv00|33e83bf5d77cf12a05aece80f2614ea5 */