/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#ff6800!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff }
.WC-nav{ margin:0px auto 30px; overflow:hidden}
.banner{ display:none}
/*box1*/
.box1{ width:1000px; margin:0px auto; overflow:hidden}
.box1 .chief{ float:left; width:750px; overflow:hidden}
.box1 .chief .main{ float:right; width:335px; overflow:hidden}
.toutiaoBox{ width:335px; margin:0px auto 15px; overflow:hidden}
.toutiaoBox .hd{ width:335px; height:28px; overflow:hidden; border-bottom:1px solid #d8e6e2}
.toutiaoBox .hd h3{ display:inline-block; height:28px; line-height:28px; text-align:center; padding:0px 10px 0px 15px; font-size:16px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; background:url(//mat1.gtimg.com/2014/images/cp/toutiaoHd.png) no-repeat #0e9d45}
.toutiaoBox .hd h3 a,.toutiaoBox .hd h3 a:hover{ color:#fff!important; text-decoration:none}
.toutiaoBox .hd em{ line-height:28px; margin-right:5px}
.toutiaoBox .hd span{ display:inline-block; width:19px; height:28px; background:url(//mat1.gtimg.com/2014/images/cp/toutiaoHdx.png) no-repeat}
.toutiaoBox .bd{ padding:5px 0px 0px; overflow:hidden}
.toutiaoUl{ width:335px; overflow:hidden}
.toutiaoUl li{ width:335px; margin:10px 0px 0px; *margin:8px 0px 0px; overflow:hidden; }
.toutiaoUl li .tag{ float:left; width:47px; font-size:14px; text-align:left}
.toutiaoUl li .txt{ float:left; width:288px; font-size:14px;}
.toutiaoUl li .txt a{ margin-right:5px;}
.toutiaoBox p{ width:335px; margin:5px 0px 0px; font-size:16px; font-weight:bold; color:#d3ddda; text-align:center;}
.toutiaoBox p a{ color:#ff6800;}
.box1 .chief .sub{ float:left; width:380px;}
/*focus*/
#focus { position:relative; width:380px; height:213px; margin:0px auto 0px; overflow:hidden; }
.focus { width:380px; height:213px; position:relative; margin:0px auto; zoom: 1; z-index:11; }
#focus2 ul { width:999999px; height:213px; overflow:hidden; margin:0px; position:absolute; left:0px; padding:0px; z-index:97 }
.focus li { width:380px; height:213px; float:left; position:relative; z-index:12 }
#focus2 li h2, #focus2 li .bg { display:none }
#focus2 li.on h2, #focus2 li.on .bg { display:block }
.focus li h2 { position:absolute; left:0px; bottom:22px; width:380px; text-align:center; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; z-index:10 }
.focus li h2 a { color:#fff; }
.focus li h2 a:hover { color:#fff!important; text-decoration:none; }
.focus .bg { position:absolute; left:0px; bottom:0px; width:380px; height:45px; background:#000; opacity:0.5; filter:alpha(opacity=50); z-index:9 }
.foucsTit { width:380px; height:10px; left:0; position:absolute; bottom:9px; text-align:center; z-index:99 }
.foucsTit span { display:inline-block; width:9px; height:9px; margin:0px 2px 0px 0px; line-height:0; font-size:0; background:url(//mat1.gtimg.com/2014/images/cp/dian.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dian.png', sizingMethod='crop');
cursor:pointer; overflow:hidden; }
.foucsTit span.on { background:url(//mat1.gtimg.com/2014/images/cp/dianOn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/dianOn.png', sizingMethod='crop');
}
.focusBtnL, .focusBtnR { position:absolute; width:12px; height:23px; top:180px; cursor:pointer; z-index:100 }
.focusBtnL { left:20px; background:url(//mat1.gtimg.com/2014/images/cp/leftBtn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/leftBtn.png', sizingMethod='crop');
transition: left 0.5s; -moz-transition: left 0.5s; -webkit-transition:left 0.5s; -o-transition: left 0.5s; }
.focusBtnR { right:20px; background:url(//mat1.gtimg.com/2014/images/cp/rightBtn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/rightBtn.png', sizingMethod='crop');
transition: right 0.5s; -moz-
transition: right 0.5s; -webkit-transition:right 0.5s; -o-transition: right 0.5s; }
.focusBtnLHover { left:10px; transition: left 0.5s; -moz-transition: left 0.5s; -webkit-transition:left 0.5s; -o-transition: left 0.5s; }
.focusBtnRHover { right:10px; transition: right 0.5s; -moz-transition: right 0.5s; -webkit-transition:right 0.5s; -o-transition: right 0.5s; }
.subBox{ width:380px; margin:25px auto 0px; overflow:hidden}
.subBox .hd{ width:380px; height:26px; overflow:hidden; border-bottom:1px solid #d8e6e2}
.subBox .hd h3{ display:inline-block; height:26px; line-height:17px; padding:0px 20px 0px 10px; font-size:16px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; background:url(//mat1.gtimg.com/2014/images/cp/subBoxhd.png) no-repeat }
.subBox .hd .fr,.subBox .hd .fr a{ color:#666}
.saichengUl{ padding:10px 0px 0px; overflow:hidden}
.saichengUl li{ width:380px; height:31px; line-height:31px; overflow:hidden; border-bottom:1px dotted #dfdfdf}
.saichengUl li span{ display:block; float:left; font-size:14px}
.saichengUl li .time{ width:84px; text-align:center; font-family:Tahoma,Arial, Helvetica, sans-serif}
.saichengUl li .clock{ width:52px; text-align:center; font-family:Tahoma,Arial, Helvetica, sans-serif}
.saichengUl li .duizhen{ width:140px; padding-left:10px; text-align:left}
.saichengUl li .btn{ width:94px;}
.greenBtn{ display:inline-block; height:20px; line-height:20px; text-align:center; padding:0px 5px; color:#fff!important; font-size:12px; background:#74ba8e}
.greenBtn:hover,.orangeBtn:hover{ color:#fff!important; text-decoration:none}
.orangeBtn{ display:inline-block; height:20px; line-height:20px; text-align:center; padding:0px 5px; color:#fff!important; font-size:12px; background:#ff9000}
.saichengUl li .greenBtn,.saichengUl li .orangeBtn{ margin:5px 0px 0px; *margin:0px}
.saichengUl li .greenBtn{ margin:5px 10px 0px 0px; *margin:0px 10px 0px 0px;}
.wanDl{ display:inline; float:left; width:189px; margin:20px 0px 0px 10px; overflow:hidden}
.subBox .br1{ border-right:1px solid #d7ede3}
.wanDl dt{ }
.wanDl dt span{ display:inline-block; font-size:14px; padding:0px 0px 5px; border-bottom:1px solid #8dcaae}
.wanDl dd{ padding-left:15px; margin:15px 0px 0px; background:url(//mat1.gtimg.com/2014/images/cp/iconD.png) no-repeat scroll 0px 5px}
.wanDl2{ width:135px; margin:20px 0px 0px 32px;}
.wanDl2 dd{ padding-left:20px;}
.wanDl2 dd .greenBtn{ float:right;}
/*extra*/
.box1 .extra{ float:right; width:220px; overflow:hidden}
.box1 .extraBox{ width:220px; margin-bottom:15px; overflow:hidden}
.box1 .extraBox .hd{ width:220px; height:25px; line-height:20px; overflow:hidden}
.box1 .extraBox .hd h3{ padding-left:15px; font-size:16px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; background:url(//mat1.gtimg.com/2014/images/cp/extraHd.png) no-repeat top left}
.box1 .extraBox .hd .fr,.box1 .extraBox .hd .fr a{ color:#666}
.box1 .extraBox table{ width:218px; border:1px solid #d8e6e2}
.box1 .extraBox table tr td{ height:31px; line-height:31px; text-align:center}
.box1 .extraBox table tr.lv td{ background:#ecfbf4}
.box1 .extraBox table tr.touTr td{ height:34px; border-bottom:2px solid #d7ede3}
.box1 .extraBox table tr td .num{ font-family:Tahoma,Arial, Helvetica, sans-serif; color:#b0b0b0}
#wxgh .hd{ border-bottom:1px solid #d8e6e2}
.weixinUl{ width:220px; overflow:hidden}
.weixinUl li{ display:inline; float:left; width:110px; margin:10px 0px 0px;}
.weixinUl li img{ display:block; width:83px; height:83px; margin:0px auto 5px;}
.weixinUl li p{ text-align:center}
.wxP{ width:164px; margin:10px auto 0px; text-align:center; line-height:23px;}
/*caipiaoBox*/
.caipiaoBox{ width:1000px; margin:50px auto 0px; overflow:hidden}
.caipiaoBox .hd{ width:1000px; height:43px; margin:0px auto 36px; overflow:hidden; background:url(//mat1.gtimg.com/2014/images/cp/hdbg.png) no-repeat }
.caipiaoBox .hd h3{ line-height:32px; margin-left:15px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff}
.zhuanjiaBox{ width:1000px; margin:0px auto; overflow:hidden; border-top:1px solid #d8e6e2;}
.zhuanjiaBox .menuL{ float:left; width:54px; height:802px;}
.zhuanjiaBox .menuL .jieduan{ width:54px; height:60px; line-height:60px; text-align:center; overflow:hidden; background:#c8eedc}
.zhuanjiaBox .menuL ul{ width:54px; height:742px;}
.zhuanjiaBox .menuL ul li{ position:relative; width:54px; height:184px; border-bottom:1px solid #00a478; background:#e6f8f0; cursor:pointer }
.zhuanjiaBox .menuL ul li .sanjiao{ position:absolute; top:20px; right:-6px; display:none; width:6px; height:12px; background:url(//mat1.gtimg.com/2014/images/cp/sanjiao.png) no-repeat}
.zhuanjiaBox .menuL ul li.current .sanjiao{ display:block}
.zhuanjiaBox .menuL ul li span{ display:block; width:20px; padding-top:20px; margin:0px auto 0px; font-size:16px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; line-height:25px; color:#00a478}
.zhuanjiaBox .menuL ul li.current{ background:#74ba8e;}
.zhuanjiaBox .menuL ul li.current span{ color:#fff}
.zhuanjiaCon{ float:left; width:946px;}
.zhuanjiaCon .zjUl{ width:946px; height:60px; background:#ecfbf4}
.zhuanjiaCon .zjUl li{ float:left; text-align:center}
.zhuanjiaCon .zjUl li.li01{ width:48px; line-height:60px; color:#00a478}
.zhuanjiaCon .zjUl li.li02{ width:87px; line-height:60px;}
.zhuanjiaCon .zjUl li.li03{ width:114px; line-height:60px;}
.zhuanjiaCon .zjUl li.li04{ width:84px; line-height:60px;}
.zhuanjiaCon .zjUl li.zhuanjia{ width:75px;}
.zhuanjiaCon .zjUl li.zhuanjia .ball{ position:relative; width:32px; height:32px; margin:5px auto 3px; overflow:hidden}
.zhuanjiaCon .zjUl li.zhuanjia .ball img{ display:block; width:32px; height:32px; position:absolute; left:0px; top:0px; z-index:9}
.zhuanjiaCon .zjUl li.zhuanjia .ball .mask{ width:32px; height:32px; position:absolute; left:0px; top:0px; background:url(//mat1.gtimg.com/2014/images/cp/ball.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ball.png', sizingMethod='crop'); z-index:10}
.zhuanjiaCon .zjUl li.zhuanjia .ball .mask a{ display:block; width:32px; height:32px; background:url(//mat1.gtimg.com/2014/images/cp/ball.png) no-repeat scroll -9999px 0px;}
.zhuanjiaCon .zjUl li.zhuanjia p{ text-align:center}
.zhuanjiaCon .zjUl li.line{ display:inline-block; width:1px; height:20px; margin-top:21px; background:#21ba91}
.zhuanjiaCon table{ width:946px;}
.zhuanjiaCon table tr td{ height:45px; text-align:center; border:1px solid #ededed}
.zhuanjiaCon table .num{ font-size:14px; font-family:Tahoma,Arial, Helvetica, sans-serif;}
.zhuanjiaCon table .clock{ font-family:Tahoma,Arial, Helvetica, sans-serif;}
.zhuanjiaCon table .duizhen,.zhuanjiaCon table .duizhen a{ color:#178791}
.zhuanjiaCon table .ya{ display:inline-block; width:26px; height:26px; margin:0px 10px 0px 3px; vertical-align:middle; background:url(//mat1.gtimg.com/2014/images/cp/ya.png) no-repeat}
.zhuanjiaCon table .ou{ display:inline-block; width:26px; height:26px; margin:0px; vertical-align:middle; background:url(//mat1.gtimg.com/2014/images/cp/ou.png) no-repeat}
.zhuanjiaCon table .ya a,.zhuanjiaCon table .ou a{ display:block; width:26px; height:26px; background:url(//mat1.gtimg.com/2014/images/cp/ou.png) no-repeat scroll -9999px 0px}
/*mvkcUl*/
.mvkcUl{ padding-top:15px; overflow:hidden}
.mvkcUl li{ display:inline; float:left; width:468px; margin-bottom:40px;}
.mvkcUl li .vs{ width:468px; height:33px; line-height:33px; margin-bottom:30px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#057142; text-align:center;}
.mvkcUl li .vs span{ margin:0px 5px;}
.mvkcUl li .vs img{ display:inline-block; width:48px; height:33px;}
.mvkcUl li .fr,.mvkcUl li.fr{ float:right!important;}
.mvkcUl li .img{ position:relative; float:left; width:226px; height:390px;}
.mvkcUl li .img{ width:226px; height:390px;}
.mvkcUl li .img .bg{ position:absolute; left:0px; bottom:0px; width:226px; height:40px; opacity:0.7; filter:Alpha(Opacity=70); background:#000; z-index:9}
.mvkcUl li .img .count{ position:absolute; bottom:0px; left:100px; height:40px; line-height:40px; font-size:16px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal;color:#facd89; z-index:10}
.mvkcUl li .img .digg{ position:absolute; width:23px; height:21px; left:70px; bottom:10px; background:url(//mat1.gtimg.com/2014/images/cp/lvxin.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/lvxin.png', sizingMethod='crop'); z-index:10}
.mvkcUl li .img .digg a{ display:block; width:23px; height:21px; background:url(//mat1.gtimg.com/2014/images/cp/lvxin.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/lvxin.png', sizingMethod='crop');}
.mvkcUl li .img .digg a:hover{ background:url(//mat1.gtimg.com/2014/images/cp/hongxin.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/hongxin.png', sizingMethod='crop');}
/*toTop*/
#toTop { background:url(../images/toTop.png) no-repeat; bottom:45px; display:none; height:58px; opacity:0.3; filter:Alpha(Opacity=30); position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { opacity:1; filter:Alpha(Opacity=100); }
/*  |xGv00|abbe9499b902a93e190c8c5923fa2c58 */