body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}
			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

.top{height:36px;background:#4b4a4a;font-size:14px;color:#c1bebe}
.top a{font-size:14px;color:#c1bebe}
.top-left{float:left}
.top-left li{float:left;line-height:36px;background:url(//mat1.gtimg.com/cq/food/line.jpg) no-repeat center right;padding:0 8px 0 6px}
.top-right{float:right;margin-right:10px}
.top-right a,.top-right span{float:left;display:block;line-height:36px;color:#c1bebe}
.top-right a.login-img{width:20px;height:20px;margin:5px 14px;padding:2px;border:1px solid #fff}
.top-right a.login-img img{width:20px;height:20px}
.ad1{width:1000px;height:60px;margin:20px auto 0 auto}
.ad1 img{width:1000px;height:60px}
.l-s{width:1000px;height:42px;margin:20px auto}
.logo{float:left;width:250px;height:42px}
.logo img{width:165px;height:42px}
.Form-Crumbs-Article-QQ { float:right;padding-top:7px;}
.Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:30px;border:none;font-size:12px;background:url(//mat1.gtimg.com/cq/jinghao/soso-sprite-blue.jpg) left bottom no-repeat;cursor:pointer;}
.Form-Crumbs-Article-QQ .inputWarp{float:right;width:180px;height:28px;margin:0;padding:0;line-height:22px;background:#fff;border:#c9c9c9 1px solid;border-right:none;}
.Form-Crumbs-Article-QQ .txtArea{width:150px;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
.Form-Crumbs-Article-QQ .SosonLogo{float:right;width:22px;height:22px;margin:3px 3px 0 0;background:url(//mat1.gtimg.com/xian/2015images/2015index/20150204indexhd/soso-sprite.png) left top no-repeat;}
.Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:14px;line-height:28px;}
.soso-smart-b{background-color:#d8ecff;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.nav{width:1000px;height:48px;line-height:48px;overflow:hidden;margin:auto}
.nav li{float:left;background:#b5152d;font-size:18px;border-left:1px solid #c0384c;border-right:1px solid #900015;text-align:center}
.nav li a{display:block}
.nav li.nav-1{width:107px;border-left:1px solid #b5152d}
.nav li.nav-2{width:134px}
.nav li.nav-3{width:135px}
.nav li.nav-4{width:98px}
.nav li.nav-5{width:97px}
.nav li.nav-6{width:135px}
.nav li.nav-7{width:136px}
.nav li.nav-8{width:142px;border-right:1px solid #b5152d}
.nav li.active,.nav li.act{border-left:1px solid #900015;border-right:1px solid #900015;background:#900015}
.nav li a{color:#fff}
.foot-top-list{width:1020px;height:auto;overflow:hidden;margin:20px auto 19px auto}
.foot-top-list li{display:inline;float:left;width:320px;height:auto;overflow:hidden;margin:0 10px}
.foot-top-list li img{width:320px;height:180px}
.foot-top-list li h3{margin:12px 0 5px 0}
.foot-top-list li h3 a{font-size:18px;color:#222}
.foot-top-list li h3 a:hover{text-decoration:underline}
.foot-top-list li p{line-height:21px;color:#777}
.foot-index-main{width:1000px;height:auto;overflow:hidden;margin:auto;padding-top:16px;border-top:3px solid #bc364a}
.foot-index-main-l{float:left;width:660px;height:auto;overflow:hidden}
.foot-index-main-r{float:right;width:300px;height:auto;overflow:hidden}
.foot-tj h2 a{font-size:32px;font-weight:bold;color:#bc364a}
.foot-tj h2 a:hover{text-decoration:underline}
.foot-tj p{margin:2px 0 12px 0;font-size:14px;color:#777}
.foot-tj img{width:660px;height:350px}

.foot-index-list{width:660px;height:auto;overflow:hidden;padding:20px 0;border-top:1px solid #ddd}
.foot-index-list.nobor{border:none}
.foot-index-list h2.nojj{margin:-7px 0 10px 0}
.foot-index-list h2 a{font-size:22px;color:#414141}
.foot-index-list h2 a:hover{color:#b5152d;text-decoration:underline}
.nojj-list li{float:left;margin-right:21px;border:1px solid #ddd}
.nojj-list li.last{margin-right:0}
.nojj-list li,.nojj-list li img{width:201px;height:143px}
.foot-index-list-l{float:left;width:193px;height:138px;border:1px solid #ddd}
.foot-index-list-l img{width:193px;height:138px}
.foot-index-list-r{position:relative;float:right;width:447px;height:138px}
.foot-index-list-r h2{margin:0 0 6px 0}
.foot-index-list-r h2 a{font-size:22px;color:#414141}
.foot-index-list-r h2 a:hover,.foot-index-list-r p a:hover{color:#b5152d;text-decoration:underline}
.foot-index-list-r p{line-height:24px;padding-right:10px}
.foot-index-list-r p a{color:#666}
.foot-label{position:absolute;right:0;bottom:0}
.foot-label span,.foot-label a{display:inline-block}
.foot-label span{margin-left:13px}
.foot-label a{height:20px;line-height:20px;background:#bc364a;margin:0 5px;padding:0 5px;color:#fff}
.loading-more{height:32px;line-height:32px;background:#bc364a;text-align:center}
.loading-more a{display:block;font-size:14px;color:#fff}
.ad2{margin:20px 0 0 0}
.ad2,.ad2 img{width:660px;height:65px}

.spaqblt{width:270px;height:auto;overflow:hidden;background:#f6f6f6;margin:4px auto 0 auto;padding:19px 15px 15px 15px/*;border-bottom:1px solid #e0e0e0*/}
.spaqblt{margin-top:0}
.spaqblt-t{height:auto;overflow:hidden;margin-bottom:15px}
.spaqblt-t h2{float:left;width:156px;height:22px;line-height:22px;font-size:20px;font-weight:bold;color:#b5152d}
.spaqblt-t a{display:block;float:right;height:22px;line-height:22px;background:#b5152d;padding:0 8px;color:#fff}
.a-img{position:relative;display:block;width:270px;height:155px;margin:0 0 12px 0;clear:both}
.a-img img{width:270px;height:155px}
.a-img h3{position:absolute;left:0;bottom:0;width:270px;height:33px;line-height:33px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:14px;color:#fff;text-align:center}
.spaqblt-list li{line-height:28px;background:url(//mat1.gtimg.com/cq/food/bg.png) no-repeat -490px 13px;_background:url(//mat1.gtimg.com/cq/food/bgie6.png) no-repeat -490px 13px;padding-left:18px}
.spaqblt-list li a{font-size:14px;color:#414141}
.spaqblt-list li a:hover{text-decoration:underline}
.weixin{display:none;width:270px;height:auto;overflow:hidden;background:#f6f6f6;padding:19px 15px 19px 15px}
.weixin img,.weixin span{display:block}
.weixin img{float:left;width:117px;height:117px}
.weixin span{float:right;width:145px;height:auto;overflow:hidden}
.weixin span h3{margin:9px 0 7px 0;font-size:18px;color:#262626}
.weixin span p{line-height:21px;color:#777}
.hot{width:300px;height:auto;overflow:hidden;margin:30px 0 0 0}
.hot h3{margin-bottom:9px;padding-left:3px;font-size:20px;font-weight:bold;color:#b5152d}
.hot-lb,.hot-lb img{width:300px;height:250px}
.foot-info{width:264px;height:auto;overflow:hidden;background:#f6f6f6;margin-top:30px;padding:16px 18px 7px 18px;border-top:2px solid #bc364a}
.foot-info-t{height:22px;line-height:22px;margin-bottom:10px}
.foot-info-t h3{float:left;width:168px;font-size:20px;font-weight:bold;color:#b5152d}
.foot-info-t a{float:right;width:50px;color:#777;text-align:right}
.foot-info-list li{height:86px;overflow:hidden;padding:10px 0}
.foot-info-list li img,.foot-info-list li p{display:block}
.foot-info-list li img{float:left;width:105px;height:86px}
.foot-info-list li p{float:right;width:148px;line-height:24px;font-size:14px;color:#414141}
.foot-info-list li p a:hover{text-decoration:underline}
.foot-hydt-list{padding-bottom:9px}
.foot-hydt-list li{width:264px;height:30px;line-height:30px;overflow:hidden;background:url(//mat1.gtimg.com/cq/food/bg.png) no-repeat -490px 13px;_background:url(//mat1.gtimg.com/cq/food/bgie6.png) no-repeat -490px 13px;padding-left:17px}
.foot-hydt-list li a{font-size:14px;color:#414141}
.foot-hydt-list li a:hover{text-decoration:underline}
.ad3{width:300px;height:auto;overflow:hidden;margin-top:30px}
.ad3 img{max-width:300px}



.fs_A1{ width:300px; height:250px; position:relative; background:#000}  
.fs_A1 .A1fBt{ position:absolute; bottom:8px; left:0; overflow:hidden; zoom:1; width:300px;height:25px; z-index:10; text-align:center}  
.fs_A1 .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:40px; background:rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block; line-height:40px; text-align:left; }  
.fs_A1 .shadow a{ text-decoration:none; color:#fff; font-size:18px; overflow:hidden; margin-left:15px; font-family:"Microsoft YaHei" }  
.fs_A1 .fcon{ position:relative; width:100%; float:left;  display:none;  }  
.fs_A1 .A1fBt i{font-style:normal }    
.fs_A1 .A1fBt a{display:inline-block;background:url(//mat1.gtimg.com/gd/images/channel/ent2014/fs_a.png) no-repeat center center;width:14px;height:25px;position:relative;text-align:center }  
.fs_A1 .A1fBt a:hover,.fs_A1 .A1fBt a.current{background:url(//mat1.gtimg.com/gd/images/channel/ent2014/fs_ac.png) no-repeat center center;}  
.fs_A1 .fcon img{ display:block; } 

.foc_r{width:330px; float:right}
.fpic{position:relative}
.fpic span{width:100%; height:30px; display:block; background:#000; position:absolute; bottom:0; filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7; left:0}
.fpic i{width:100%; height:30px; display:block; position:absolute; bottom:0; font-weight:bold; text-align:center; font-size:14px; color:#fff; line-height:30px; left:0;font-family:"Microsoft YaHei"}
.fpic a{color:#fff; display:block}





/*¡–±Ì“≥*/
.page-nav{height:48px;line-height:48px;margin-top:13px;font-size:16px;color:#333;border-bottom:2px solid #bc364a}
.page-nav a{font-size:16px;color:#333}
.page-nav a:hover{text-decoration:underline}
.news-main{float:right;width:652px;height:auto;border-left:2px solid #d5d5d5}
.news-main-sub{position:relative;height:auto}
.news-time{position:absolute;z-index:2;left:-6px;top:18px;width:83px;height:26px;line-height:25px;background:url(//mat1.gtimg.com/cq/food/bg.png) no-repeat -96px 0;_background:url(//mat1.gtimg.com/cq/food/bgie6.png) no-repeat -96px 0;padding-left:30px;font-size:14px;color:#fff}
.news-list{padding-top:54px}
.news-list li{line-height:37px;background:url(//mat1.gtimg.com/cq/food/bg.png) no-repeat -476px 18px;_background:url(//mat1.gtimg.com/cq/food/bgie6.png) no-repeat -476px 18px;padding-left:37px;font-size:16px}
.news-list li a{color:#414141}
.news-list li a:hover{text-decoration:underline}
.foot-list-main{padding-top:0;border-top:none}

.invisible{display:none}
.invisible1{display:none}

.foot-top-list img:hover,.foot-tj img:hover,.foot-index-list img:hover,.foot-info-list img:hover,.a-img img:hover{opacity:0.8;-webkit-transition: opacity .3s ease-in-out;
            -moz-transition: opacity .3s ease-in-out;
            -o-transition: opacity .3s ease-in-out;
            -ms-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;}/*  |xGv00|36e8a8c7198eab242d8c9882efbb42e6 */