/* reset */
body{margin:0 auto;padding:0;background:#FFF;font:12px/14px '宋体';text-align:center;}
body > div{margin-right:auto;margin-left:auto;text-align:center;} 
div,form,ul,ol,li,span,p,dl,dt,dd,img,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none;}
table,td,input,textarea{font-size:12px;}

/* link */
a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}

/* float*/
.left,.center,.l{float:left;}
.right,.r{float:right;}

/* clearFloat */
.clear,.area,.pg,.pt,.tab{zoom:1;}
.clear:after,.area:after,.pg:after,.pt:after,.tab:after{content:".";display:block;visibility:hidden;height:0;clear:both;}

/* setWidth */
.area{width:960px;margin:0 auto 10px;}

/* list */
.list12 li{text-align:left;font:12px/24px '宋体';padding-left:12px;background:url(//mat1.gtimg.com/house/bykp_img/bg05.gif) no-repeat 4px 10px;}
.list14 li{text-align:left;font:14px/26px '宋体';padding-left:14px;color:#064756;}
.list14 li a{color:#064756;}

/* pic */
.pic img{display:block;margin:0 auto;}

/* text */
.txt{text-align:left;font:12px/22px '宋体';}

/* picGroup */
.pg li{float:left;}
.pg li img{display:block;margin:0 auto;}

/* picText */
.pt .pic img{border:1px #CBCBCB solid;float:left;margin-right:15px;}

/* tab */
.tab span{float:left;}

/* hiddenText */
.ht{overflow:hidden;font:12px/5000px '宋体';}

/* title */
.hd h2{text-align:left;color:#333;}

/* space */
.space5,.space10,.space15,.space20{height:5px;font-size:1px;overflow:hidden;}
.space10{height:10px;}
.space15{height:15px;}
.space20{height:20px;}

/* whiteBg */
.whiteBg{background:#fff;}

/* red */
.red{color:#DF4900!important;}

/* conA */
.conA{margin:10px auto 0;padding-bottom:20px;}
.conA .left{width:650px;}
.conA .right{width:300px;}
.conA .left .ayfcx_mod .hd{background:url(//mat1.gtimg.com/house/bykp_img/bg01.gif);height:57px;padding-top:7px;border:1px #DDD solid;border-bottom:0;}
.conA .left .ayfcx_mod .hd h2{width:628px;height:18px;background:url(//mat1.gtimg.com/house/bykp_img/bg02.gif);margin:0 auto 14px;}
.conA .left .ayfcx_mod .hd h2 span{font:16px/18px '黑体';float:left;padding:0 5px 0 12px;background:#fff;}
.conA .left .ayfcx_mod .hd .tab{height:25px;width:616px;margin:0 auto;}
.conA .left .ayfcx_mod .hd .tab select{float:left;border:0;color:#064756;background:none;font-weight:bold;margin:3px 8px 0 auto;*margin:0 8px 0 auto;}
.conA .left .ayfcx_mod .hd .tab span{margin-right:4px;width:37px;height:19px;padding-top:6px;color:#064756;}
.conA .left .ayfcx_mod .hd .tab span a{color:#064756;font-size:13px;}
.conA .left .ayfcx_mod .hd .tab span.now{width:35px;height:18px;padding-top:5px;border:1px #D5D5D5 solid;border-bottom:1px #FFF9DB solid;background:#FFF9DB;color:#7A6021;font-size:13px;}
.conA .left .ayfcx_mod .hd .tab span.now a{color:#7A6021;}
.conA .left .ayfcx_mod .bd table.title{height:22px;background:#FFF9DB;color:#7A6020;border:1px #ddd solid;border-top:0;border-bottom:0;}
.conA .left .ayfcx_mod .bd table.list{margin:0 auto 25px;}
.conA .left .ayfcx_mod .bd table.list td{height:46px;font-size:12px;background:#fff;}
.conA .left .ayfcx_mod .bd table.list td a{border-bottom:1px #6D6D6D dashed;font:14px/16px '宋体';color:#064756;}
.conA .left .ayfcx_mod .bd table.list td a:hover{text-decoration:none;}
.conA .left .ayfcx_mod .bd .pageNum{display:inline-block;*display:inline;zoom:1;}
.conA .left .ayfcx_mod .bd .pageNum a{border:1px #A7BBCA solid;margin:0 1px;padding:2px 7px;color:#0158A7;background:#fff;float:left;}
.conA .left .ayfcx_mod .bd .pageNum a:hover,
.conA .left .ayfcx_mod .bd .pageNum a.now{color:#fff;background:#6992DA;border:1px #506CC5 solid;}
.conA .left .ayfcx_mod .bd .pageNum a:hover{text-decoration:none;}
.conA .left .ayfcx_mod .bd .pageNum a.more{border:0;padding:2px 0;}
.conA .left .ayfcx_mod .bd .pageNum a.more:hover{background:none;color:#0158A7;border:0;}
.conA .right .box{width:298px;border:1px #ddd solid;margin:0 auto 10px;padding-bottom:12px;}
.conA .right .box .hd h2,
.conA .right .tab_mod .tab_title{width:276px;height:23px;*height:22px;background:url(//mat1.gtimg.com/house/bykp_img/bg03.gif);padding:9px 0 0 22px;*padding:10px 0 0 22px;font:600 14px/16px '宋体';margin:0 auto 8px;}
.conA .right li,
.conA .right li a{color:#064756;}
.conA .right .tab_mod{width:298px;border:1px #ddd solid;margin:0 auto 10px;padding-bottom:12px;}
.conA .right .tab_mod .tab_title span{float:left;width:87px;height:23px;*height:22px;padding-top:9px;*padding-top:10px;margin-top:-9px;*margin-top:-10px;text-align:center;font-weight:normal;}
.conA .right .tab_mod .tab_title span.now{background:url(//mat1.gtimg.com/house/xpbg_img/bg04.gif);font-weight:bold;}
.conA .right .tab_mod .list12{width:284px;margin:0 auto;}
.conA .right .tab_mod .list12 .address{width:60px;float:right;}
.conA .right .tab_mod .list12 .price{width:95px;float:right;}
.conA .right .xpydt_mod .bd ul{width:280px;margin:0 auto;}
.conA .right .xpydt_mod .bd li{font:12px/24px '宋体';text-align:left;}
.conA .right .xpydt_mod .bd li span{margin-right:8px;}
.conA .right .xpydt_mod .bd li a{margin:0 3px;}
.conA .right .djph_mod .bd .list12,
.conA .right .rtph_mod .bd .list12{margin:0 auto;width:280px;background:url(//mat1.gtimg.com/house/bykp_img/bg06.gif) no-repeat 0 6px;}
.conA .right .djph_mod .bd .list12 li,
.conA .right .rtph_mod .bd .list12 li{font:12px/26px '宋体';background:none;padding-left:38px;}
.conA .right .djph_mod .bd li .address{width:45px;float:right;}
.conA .right .djph_mod .bd li .price{width:82px;float:right;}
.conA .right .djph_mod .bd .title{background:none;}
.conA .right .djph_mod .bd .title li{color:#888;}
.conA .right .rtph_mod .bd .list12 li{padding-left:30px;}
.conA .right .rtph_mod .bd .list12 li span.fl{float:left;}
.conA .right .rtph_mod .bd .list12 li span.fr{float:right;width:45px;color:#DF4900;text-align:right;}
.conA .right .rtph_mod .bd .list12 li em{display:none;}/*  |xGv00|58c8a82248de8161107ecb7884f4e6b4 */