/*
time:2011-11-28
author:iriskang#tencent.com
*/
/*Tencent Reset*/
/*-------------------css reset-----------------*/
body{ font-size:12px; font-family:"宋体"; line-height:150%; color:#333; background-color:#fff;}
a:link,A:visited{ text-decoration:none;}
a:hover{ text-decoration:underline; color:#c00;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
a{ cursor:pointer; color:#101010;}
table{ border-collapse:collapse; border-spacing:0; } 
fieldset,img { border:0;} 
address,caption,cite,code,dfn,em,th,var,i { font-style:normal;font-weight:normal;} 
ol,ul {list-style:none;} 
caption,th {text-align:left;} 
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight: normal;} 
q:before,q:after {content:''; } 
abbr,acronym { border:0;} 
textarea,input,select{ font-size:12px;}
:focus {outline: 0;}
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*页面结构*/
body{ background: #00368b url(//mat1.gtimg.com/house/images/byself_kf/bg.jpg) 0 5px repeat-x; }
#head{ height:292px; background:url(//mat1.gtimg.com/house/images/byself_kf/bannner.jpg) center top no-repeat;}
#wrap{ width:960px; margin:0 auto; background:url(//mat1.gtimg.com/house/images/byself_kf/c_bg.png) repeat-y; border-bottom:2px solid #cfe9f6;}
.contain{ background:url(//mat1.gtimg.com/house/images/byself_kf/top_bg.png) no-repeat; }
.left,.center,.right{ float:left; display:inline;}
.left{ width:736px;}
.right{ width:224px;}
.red,.red a{ color:#cc0000;}
/*全局样式*/
.fr{ float:right}
.fl{ float:left;}
.tc{ text-align:center;}
.tl{ text-align:left;}
.tr{ text-align:center;}
.vm{ vertical-align:middle;}
.pt5{ padding-top:5px;}
.pr5{ padding-right:5px;}
.pt10{ padding-top:10px;}
.pr15{ padding-right:15px;}
.pl20{ padding-left:20px;}
.mt2{ margin-top:2px;}
.mb10{ margin-bottom:10px;}
.fb{ font-weight:bold;}
.f12{ font-size:12px;}
.text_cut{display:block;overflow: hidden;
white-space: nowrap;
-o-text-overflow:ellipsis; /*--4 opera--*/
text-overflow:ellipsis;}
/*焦点图*/
.partb{ padding:0 6px 0 3px;}
.parta{ padding:16px 24px 30px 16px; background:url(//mat1.gtimg.com/house/images/byself_kf/bg04.png) 15px bottom no-repeat;}
.focuse{ float:left; width:358px; height:240px; position:relative;}
.focuse .new{ position:absolute; top:0; left:0; display:block; background: url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) 0 -71px no-repeat; width:83px; height:78px;}
.focuse .img{ display:block; border:1px solid #a5a5a5; padding:1px; background-color:#fff; width:354px; height:236px;}
.focuse .img img{ display:block;width:354px; height:236px;}
.head_news{ width:314px; float:right; font-size:14px; line-height:25px;}
.head_news h2{ font-size:20px;font-family:"Microsoft YaHei"; padding-bottom:5px; }
.head_news .discript{ font-weight:bold; padding:5px 0 5px 0;}
.head_news .price{ height:97px; background:url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) 0 -160px no-repeat; padding-left:160px; position:relative;}
.head_news p.select{ color:#ec4040;font-family:"Microsoft YaHei"; font-size:14px; font-weight:bold;font-family:tahoma;}
.head_news p.select input{ vertical-align:middle;}
.head_news .price a.link{ position:absolute; display:block; width:150px; height:97px; left:0; top:0;}
.head_news .price .pri{ height:46px; line-height:46px; font-size:12px;}
.head_news .price .pri b{ color:#ff4e00; font-size:24px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
.head_news .number{ border:1px solid #dfdfdf; width:136px; height:35px; background-color:#f9f9f9; display:block; line-height:35px; color:#ff0000; text-align:center; font-size:12px;}
.head_news .number b{font-family:Arial, Helvetica, sans-serif; font-size:18px;}
.blk01{ border:2px solid #cfe9f6; padding:1px; background-color:#fff;}
.blk01 .box{ background:url(//mat1.gtimg.com/house/images/byself_kf/bg02.png) repeat-x;}
.blk01 h2{font-family:"Microsoft YaHei"; color:#007fc0; line-height:34px; padding-left:10px; font-size:20px;}
.blk01 h2 span{ font-size:14px; color:#000;}
/*最新报名*/
.new_sign{ margin:4px 0px 8px 14px; height:220px; overflow:hidden; position:relative;}
.new_sign .split{ color:#004653; line-height:22px;}
.new_sign .split:after,.blk_more_lp .lp:after,.kf_top li:after{display:block;clear:both;content:""; visibility:hidden;height:0;}
.new_sign .split .name{ width:31px; float:left;}
.new_sign .split .tel{ width:74px; float:left;}
.new_sign .split .lp{ width:86px; float:left;}
.new_sign .split .lp a{ width:86px; color:#258a36;}
/*报名楼盘*/
.sign_lp{ padding:28px 0 0 8px;}
.sign_lp li{ float:left; text-align:center; padding:7px; display:inline; margin:0px 19px 16px 0; width:206px; height:260px; border:1px solid #a5a5a5}
.sign_lp li .img img{ display:block; width:207px; height:215px;}
.sign_lp li p.name{ line-height:26px; color:#000; font-weight:bold; text-align:left;}
.sign_lp li p.select{ color:#ec4040;font-family:"Microsoft YaHei"; font-size:14px; font-weight:bold;font-family:tahoma;}
.sign_lp li p.select input{ vertical-align:middle;}
.othter_lp{ font-size:14px; padding:15px 0 30px 37px;}
.othter_lp .input01{ border:1px solid #a2a2a2; vertical-align:middle; padding:3px;}
.othter_lp .s{ margin-top:3px; background:url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) -159px -114px no-repeat; width:71px; height:17px; cursor:pointer; border:0;}
.othter_lp .prosi{ padding-right:5px; float:left; position:relative;}
.blk_tj{ padding:30px 0 16px 0; text-align:center;}
.blk_tj input{ background:url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) -96px -71px no-repeat; cursor:pointer; border:0; width:102px; height:38px;}
.blk_more_lp{ color:#444; width:688px; margin:0 auto; border:1px dashed #111111; background: #dadad9 url(//mat1.gtimg.com/house/images/byself_kf/bg03.png) repeat-x; padding:0 0 14px 0px; }
.blk_more_lp h3{ font-size:14px; padding:10px 0 10px 28px; font-weight:bold;}
.blk_more_lp .lp a.dele{ float:left; margin-top:5px; display:inline; margin-left:4px;width:14px; height:14px;background:url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) -294px -138px no-repeat;}
.blk_more_lp .lp .text_cut{ width:100px; float:left; text-align:right; color:#444;}
.blk_more_lp .lp li{ float:left; display:inline; margin-right:10px; line-height:26px;}
/*一周阵营公布*/
.public{}
.public .text{ padding-bottom:15px; width:430px; float:left; line-height:24px; padding-left:19px;}
.public .pic{ float:right; width:250px; padding-top:20px;}
.public .share{ padding:0px 0 20px 27px;}
.public h3{ text-align:center; font-size:14px;font-family:"Microsoft YaHei"; line-height:30px;}
h2.title{ background:url(//mat1.gtimg.com/house/images/byself_kf/bg06.png) repeat-x; height:37px; text-align:center; font-size:20px; line-height:37px;font-family:"Microsoft YaHei";}
.more{ font-weight:normal; font-size:12px!important; float:right; padding-right:10px; font-family:"宋体"}

.kf_top{ padding:2px 6px 6px 6px;}
.kf_top li{ clear:both; overflow:hidden; border-bottom:1px solid #dfdfdf; padding:8px 3px 8px 0;}
.kf_top li em{float:left;display:block;width:11px; padding-right:2px;height:14px;margin:2px 5px 0 0; font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:10px; background:url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) -210px -76px no-repeat; text-align:center;color:#fff; font-weight:bold;}
.kf_top li em.top{ background-position: -233px -76px;}
.kf_top li .img{ width:50px; height:50px; border:1px solid #939393; float:left; display:inline; margin-right:4px;}
.kf_top li .img img{display:block; width:50px; height:50px; }
.kf_top li .name01{ width:110px; display:block;}
.kf_top li .bm{ color:#cc2918; padding-top:10px;}
.kf_top li .text{ width:128px; float:left;}
.kf_top .btn{ float:right; background:url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) -96px -114px no-repeat; width:60px; height:17px;}
/*看房特色*/
dl.kf_ts{ padding:0 8px 15px 8px;}
dl.kf_ts dt{ margin-top:13px; background:url(//mat1.gtimg.com/house/images/byself_kf/bg05.png) no-repeat; width:96px; height:50px; text-indent:-99999px;}
dl.kf_ts dt.t1{ background-position: -210px 0}
dl.kf_ts dt.t2{ background-position: -104px 0}
dl.kf_ts dt.t3{ background-position: 0px 0}
dl.kf_ts dd{ padding:0 0 0 11px; line-height:24px;}
/*工具条*/

.Tool-Article-QQ {width: 638px;height: 32px;padding: 0px 12px 10px 27px;overflow: hidden;}
.Tool-Article-QQ li {float: right;margin-right: 20px;}
.Tool-Article-QQ a {color: #0B3B8C;display: block;width:30px;height: 17px;line-height: 17px;padding-left: 22px;background: url("//mat1.gtimg.com/news/imgcss_article_qq/sharetool_bt.png") 0 0 no-repeat;}
.Tool-Article-QQ a:visited {color: #0B3B8C;}
.Tool-Article-QQ a.tmblog {padding-left: 26px;background: url("//mat1.gtimg.com/news/imgcss_article_qq/sharetool_bt.png") 0 0 no-repeat;}
.Tool-Article-QQ a.tmblog_act {padding-left: 26px;background: url("//mat1.gtimg.com/news/imgcss_article_qq/sharetool_bt.png") 0 0 no-repeat;}
.Tool-Article-QQ a.tqzone {background: url("//mat1.gtimg.com/news/imgcss_article_qq/sharetool_bt.png") 0 -25px no-repeat;}
.Tool-Article-QQ a.tpeng {background: url("//mat1.gtimg.com/news/imgcss_article_qq/sharetool_bt.png") 0 -50px no-repeat;}
.Tool-Article-QQ .shareTxt{margin-right:10px;color:#333;line-height:17px;}
.Tool-Article-QQ .tmblogbox{position:relative;}
.Tool-Article-QQ .fmblogline {position:absolute;top:20px;left:-30px;width:210px;height:32px;overflow:hidden;zoom:1;}
.Tool-Article-QQ .nofmblog,.Tool-Article-QQ .lastfmblog {position:absolute;top:5px;left:0;float: left;height: 21px;padding: 1px 8px 0 12px;border:#bccde4 1px solid;background:#f7faff;}
.Tool-Article-QQ .nofmblog{width:86px;}
.Tool-Article-QQ .nofmblog a {display: inline;padding: 0;line-height: 21px;background:none;color: #999;}
.Tool-Article-QQ .lastfmblog a {display: inline;margin-right: 6px;padding: 2px 0 0 0;line-height: 14px;color:#94A3C2;background: none;border-bottom: 1px dotted #94A3C2;}
.Tool-Article-QQ .lastfmblog a:hover {border-bottom: 1px dotted #0B3B8C;text-decoration: none;color: #0B3B8C;}
.Tool-Article-QQ .lastfmblog span {color: #999;}
.Tool-Article-QQ .fmblogpop {position:absolute;top:0;left:48px;float: none;width: 10px;height: 6px;background: url("//mat1.gtimg.com/news/imgcss_article_qq/sharetool_bt.png") -2px -75px no-repeat;   }
.Tool-Article-QQ  ul{float:left;}
.Tool-Article-QQ  li{float:left;}
/*推推功能*/
.tui_mod{float:left;height:17px;margin-top:0;padding:0 0 0 20px;line-height:17px;background:url(//mat1.gtimg.com/news/imgcss_article_qq/bg_tui.png) 0 0 no-repeat;cursor:pointer;font-family:Arial;color:#4fa6cb;}
.tui_mod .tui_num_box{float:left;display:block;}
.tui_right{float:left;display:block;width:22px;height:17px;background:#fff url(//mat1.gtimg.com/news/imgcss_article_qq/bg_tui.png) -158px 0 no-repeat; }
.done{background-position:0 -17px;color:#b7c0c3;}
.done .tui_right{background-position:-158px -17px;}
.tui_link {float:left;}
.tui_link a{padding-left:8px;}
.tui_done{height:160px;color:#333;background:#fff;}
.tui_done div{width:200px;margin:0 auto;text-align:center;clear:both;zoom:1;}
.tui_done .tui_text span{font-family:"微软雅黑",Arial,Tohoma;}
.tui_done .tui_text{height:30px;padding-top:12px;line-height:30px;font-size:14px;font-family:"微软雅黑","宋体";}
.tui_done .tui_bt{width:140px;height:32px;line-height:32px;background:url(//mat1.gtimg.com/news/imgcss_article_qq/bg_bt_g.png) no-repeat;color:#fff;font-weight:bold;font-size:14px;}
#tui_tips .tui_bt a, #tui_tips .tui_bt a:visited,#tui_tips .tui_bt a:hover{color:#fff;text-decoration:none;}
.tui_done .tui_wording,.tui_done .tui_autoclose{color:#999;font-size:12px;height:30px;line-height:30px;}

/*微博*/
#side_qq_house{ width:200px; margin:0 auto;}
	#side_qq_house a:focus{ outline:0;-moz-outline:0;}
	#side_bar{cursor:pointer;  width:26px; height:43px; display:block; background:url(http://bbs.house.qq.com/source/plugin/weibo/images/btn_left.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://bbs.house.qq.com/source/plugin/weibo/images/btn_left.png'); position:absolute; left:-26px; top:9px;}
	#side_qq_house .b_t,#side_qq_house .b_b{ display:block; height:3px; clear:both; overflow:hidden; background:url(http://bbs.house.qq.com/source/plugin/weibo/images/btn01.png) no-repeat;}
	#side_qq_house .b_b{ background-position:0 -4px;}
	#side_qq_house .box{ padding:6px;  border-bottom:none; border-top:none; }
	#side_qq_house h2{ background:url(http://bbs.house.qq.com/source/plugin/weibo/images/btn01.png) no-repeat; height:21px; text-indent:-99999px; width:186px; clear:both; overflow:hidden;}
	#side_qq_house h2.t1{ background-position:0 -11px;}
	#side_qq_house h2.t2{ background-position:0 -36px;}
	#side_qq_house h2.t3{ background-position:0 -62px;}
	#userInfo{ height:68px; border-bottom:1px dashed #c7c7c7; clear:both; overflow:hidden; padding:10px 0 0 0;}
	#userInfo .userIco{ float:left; width:60px;}
	#userInfo .userIco img{ display:block; border:1px solid #d2d2d2; width:50px; height:50px;} 
	#userInfo .userInfo{color:#383A39;margin-left:60px;}
	#userInfo .userInfo strong{ font-size:14px; font-family:tahoma;}
	#userInfo .userInfo .name{height:20px;overflow:hidden;}
	#userInfo .userInfo .otips{ margin-right:4px; float:right; height:18px; width:18px; background:url(http://v.t.qq.com/show/images/tips.png) no-repeat;}
	#userInfo .userInfo a{color:#383A39;}
	#userInfo .addlisten{ margin-top:10px; cursor:pointer; width:78px; height:21px; text-indent:-99999px; display:block; background:url(http://v.t.qq.com/show/images/s1/bgs1.gif) no-repeat;}
	#side_qq_house .tjwb{border-top:1px dashed #c7c7c7; color:#5e9628; padding:10px 0 6px 0;}
	#side_qq_house .tjwb p{ padding-bottom:6px; line-height:18px;}
	#side_qq_house .tjwb a{ color:#5e9628;}
	#side_qq_house .tjwb a.listen,#side_qq_house .qq_house .add{ margin-top:1px; text-indent:-9999px; display:block; background:url(http://bbs.house.qq.com/source/plugin/weibo/images/btn01.png) -53px -86px no-repeat; float:right; width:50px; height:17px;}
	#side_qq_house .qq_house{ padding:10px 0 10px 11px; line-height:25px; color:#444;}
	#side_qq_house .qq_house dt{ font-weight:bold;}
	#side_qq_house .qq_house dd{ clear:both; overflow:hidden;}
	#side_qq_house .qq_house .add{ background-position:0 -86px; margin-top:4px;}
	#side_qq_house .mt5{ margin-top:5px;}
	#side_qq_house .qq_buy_t{ color:#498308; font-weight:bold; line-height:25px; padding:7px 0 0 0 ;}
	#side_qq_house .qq_buy_t img{ display:block; border:1px solid #5e9628; padding:1px; background-color:#fff; width:176px; height:60px; margin:0 auto;}
	#side_qq_house .qq_buy_t p{ padding:8px 0 0 6px;}
	#side_qq_house .qq_buy_t a{color:#498308; position:relative}
	#side_qq_house .popu_adv{ position: absolute; top:-80px; text-align:center;}
/*浮层*/
#pop{ position:absolute;}
#pop .pop_box{ width:640px; border:1px solid #cfe9f6; background: #fff url(//mat1.gtimg.com/house/images/byself_kf/bg02.png) left top repeat-x; padding:8px;}
#pop .close{ text-align:right; height:18px;}
#pop .close a{ display:inline-block; width:15px; height:15px; background:url(//mat1.gtimg.com/house/images/byself_kf/bg07.png) left bottom no-repeat;}
#pop form{ padding:0 0 0 20px; line-height:24px;}
.inputsy{ height:24px;float:left;display:inline; line-height:26px; color:#aeaeae;padding:0 0 0 5px;background:url(//mat1.gtimg.com/house/datalib/index/db_xq_pic1_06.jpg) repeat-x;border-top:1px solid #a0a0a0; border-left:1px solid #acacac; border-right:1px solid #acacac; border-bottom:1px solid #cacaca}
#pop form .is{ background:url(//mat1.gtimg.com/house/images/byself_kf/bg07.png) 0 0 no-repeat; cursor:pointer; border:0; width:102px; height:38px;}
/*add by yuri*/
body,html{height:100%;}
.float_layer_box_warp{width:100%; height:100%;  position:fixed; _position:absolute; top:0px; left:0px;  z-index:1001;}
.float_layer_box_bg{ width:100%; height:100%;  _position:absolute; top:0px; left:0px; background:#000;filter:alpha(opacity=50); /*IE*/ -moz-opacity:0.5; /*MOZ , FF*/opacity:0.5;/*CSS3, FF1.5*/ z-index:1000;}
.float_layer_box_inner{ width:100%; height:100%;   _position:absolute; top:0px; left:0px;  z-index:1001;}
.float_layer_box{margin:0px; padding:0px; width:660px; position:absolute; top:50%; margin-top:-127px; left:50%; margin-left:-330px; height:255px;  z-index:1002;}
.float_layer_box_iframe{ width:100%; height:100%; position:absolute; top:0px; left:0px;filter:alpha(opacity=0);-moz-opacity:0}
#smartbox_result{display: none;position: absolute; border-color: #8FA7C7; border-style:solid; border-width:1px; text-align: left; top: 19px; left:0px; width: 260px; background: none repeat scroll 0 0 #FFFFFF; font: 12px/1.75 "宋体",arial,sans-serif;}
#smartbox_list li{ padding-left:5px; height:21px;}
#smartbox_list .focus{ background: none repeat scroll 0 0 #DEEFFF; display: block; text-decoration: none;cursor:pointer;} /*  |xGv00|24b545cb3a4c99fc131eccfd9029e609 */