/* reset */
body{margin:0 auto;padding:0;background:#FFF;font:12px/14px '宋体';text-align:center;}
body > div{margin-right:auto;margin-left:auto;text-align:center;} 
div,form,ul,ol,li,span,p,dl,dt,dd,img,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none;}
table,td,input,textarea{font-size:12px;}

/* link */
a{color:#064756;text-decoration:none;}
a:hover{color:#064756;text-decoration:underline;}

/* float*/
.left,.center,.l{float:left;}
.right,.r{float:right;}

/* clearFloat */
.clear,.area,.pg,.pt,.tab{zoom:1;}
.clear:after,.area:after,.pg:after,.pt:after,.tab:after{content:".";display:block;visibility:hidden;height:0;clear:both;}

/* setWidth */
.area{width:960px;margin:0 auto 10px;}

/* list */
.list12 li{text-align:left;font:12px/24px '宋体';padding-left:12px;}
.list14 li{text-align:left;font:14px/26px '宋体';padding-left:14px;color:#064756;}
.list14 li a{color:#064756;}

/* pic */
.pic img{display:block;margin:0 auto;}

/* text */
.txt{text-align:left;font:12px/22px '宋体';}

/* picGroup */
.pg li{float:left;}
.pg li img{display:block;margin:0 auto;}

/* picText */
.pt .pic img{border:1px #CBCBCB solid;float:left;margin-right:15px;}

/* tab */
.tab span{float:left;}

/* hiddenText */
.ht{overflow:hidden;font:12px/5000px '宋体';}

/* title */
.hd h2{text-align:left;color:#333;}

/* space */
.space5,.space10,.space15,.space20{height:5px;width:100%;font-size:1px;overflow:hidden;}
.space10{height:10px;}
.space15{height:15px;}
.space20{height:20px;}

/* whiteBg */
.whiteBg{background:#fff;}

/* red */
.red{color:#c00!important;}

/* conA */
.conA{background:url(//mat1.gtimg.com/house/drbj_img/bg01.gif);margin:10px auto;border-bottom:1px #DEDEDE solid;}
.conA .fjdrb_mod .hd h2{height:26px;background:url(//mat1.gtimg.com/house/drbj_img/bg02.gif);padding:10px 10px 0 0;color:#DDD;text-align:right;}
.conA .fjdrb_mod .hd h2 a{color:#333;margin:0 6px;}
.conA .fjdrb_mod .hd h2 strong{margin:-2px auto 0 18px;color:#c00;font:18px/20px '黑体';float:left;}
.conA .fjdrb_mod .bd .box{width:958px;margin:-1px auto 0;overflow:hidden;position:relative;}
.conA .fjdrb_mod .bd .space10{margin:0 auto -1px -1px;background:url(//mat1.gtimg.com/house/drbj_img/bg01.gif) #fff;position:relative;}
.conA .fjdrb_mod .bd h3{height:21px;background:url(//mat1.gtimg.com/house/drbj_img/bg03.gif);padding:10px 12px 0 17px;text-align:right;margin:0 auto;width:929px;float:left;}
.conA .fjdrb_mod .bd h3 a{color:#A6A6A6;}
.conA .fjdrb_mod .bd h3 strong{width:157px;float:left;margin-top:-2px;font:600 14px/16px '宋体';color:#333;text-align:center;}
.conA .fjdrb_mod .bd .box .list12{background:url(//mat1.gtimg.com/house/drbj_img/bg04.gif);float:left;margin-left:-1px;width:959px;}
.conA .fjdrb_mod .bd .box .list12 ul{background:url(//mat1.gtimg.com/house/drbj_img/bg01.gif);zoom:1;}
.conA .fjdrb_mod .bd .box .list12 ul:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.conA .fjdrb_mod .bd .box .list12 li{width:239px;float:left;height:30px;color:#333;font:12px/30px '宋体';padding:0;overflow:hidden;}
.conA .fjdrb_mod .bd .box .list12 li a{font:14px/30px '宋体';color:#064756;}
.conA .fjdrb_mod .bd .box .list12 li span{float:left;}
.conA .fjdrb_mod .bd .box .list12 li .attribute{text-align:center;width:40px;height:30px;}
.conA .fjdrb_mod .bd .box .list12 li .preferential,
.conA .fjdrb_mod .bd .box .list12 li .open{background:url(//mat1.gtimg.com/house/drbj_img/bg05.gif) no-repeat 0 0;width:27px;height:15px;color:#fff;margin:7px auto 0 7px;font:12px/16px '宋体';overflow:hidden;}
.conA .fjdrb_mod .bd .box .list12 li .open{background:url(//mat1.gtimg.com/house/drbj_img/bg05.gif) no-repeat 0 -15px;}
.conA .fjdrb_mod .bd .box .list12 li .name{width:120px;height:30px;}
.conA .fjdrb_mod .bd .box .list12 li .price{width:54px;height:30px;text-align:right;}
.conA .fjdrb_mod .bd .box .list12 li .direction{width:24px;height:30px;text-align:center;}
.conA .fjdrb_mod .bd .box .list12 li .parallel,
.conA .fjdrb_mod .bd .box .list12 li .up,
.conA .fjdrb_mod .bd .box .list12 li .down{width:9px;height:9px;background:url(//mat1.gtimg.com/house/drbj_img/bg06.gif) no-repeat 0 0;margin:10px auto 0 7px;line-height:0;text-align:left;text-indent:-5000px;}
.conA .fjdrb_mod .bd .box .list12 li .parallel{background-position:0 -9px;}
.conA .fjdrb_mod .bd .box .list12 li .down{background-position:0 -18px;}
/*  |xGv00|cb8ff8d09dc6a0f91260b281abc5540e */