/* reset */
body{margin:0 auto;padding:0;background:#FFF;font:12px/14px '宋体',"Arial Narrow",HELVETICA;text-align:center;}
body > div{margin-right:auto;margin-left:auto;text-align:center;} 
div,form,ul,ol,li,span,p,dl,dt,dd,img,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none;}
table,td,input,textarea{font-size:12px;}

/* link */
a{color:#333;text-decoration:none;}
a:hover{color:#333;text-decoration:underline;}

/* float*/
.left,.center,.l{float:left;}
.right,.r{float:right;}

/* clearFloat */
.clear,.area,.pg,.pt{zoom:1;}
.clear:after,.area:after,.pg:after,.pt:after{content:".";display:block;visibility:hidden;height:0;clear:both;}

/* setWidth */
.area{width:960px;margin:0 auto 10px;}

/* cssSprites */
.conA .left .ss_mod .bd .searchBar,
.conA .left .ss_mod .bd .searchBar .searchBtn,
.conA .left .ss_mod .bd .txt span,
.conA .right .tab_mod .bd .tab_title,
.conA .right .tab_mod .bd .tab_title span.now,
.list12 li,
.conE .jgcx_mod .bd .list12 ol,
.conF .tslp_mod .bd .list12 ol,
.conB .right .zxdt_mod .hd h2,
.conB .right .zxdt_mod .bd h3 span,
.conB .left .tab_mod .bd .tab_title,
.conB .left .tab_mod .bd .tab_title span.now,
.conB .left .tab_mod .bd li img,
.conC .titleA span,
.conD .titleA span,
.conE .titleA span,
.conF .titleA span,
.conG .titleA span,
.conH .titleA span,
.conC .left .block .card_mod .bd h3,
.conD .left .sdpc_mod .bd .pt .txt h2,
.conD .left .sdpc_mod .hd .tab span,
.conD .left .sdpc_mod .hd .tab li,
.conD .left .sdpc_mod .bd .pt .txt .list12 li,
.conH .gflc_mod .bd .list h3 span,
.conH .mcjs_mod .bd .box .left .list12 li,
.conH .fdjsq_mod .bd h2,
.conG .lptj_mod .scrollPic .lBtn .on,
.conG .lptj_mod .scrollPic .rBtn .on,
.conH .fdjsq_mod .bd li,
.conC .left .block .card_mod,
.conG .lptj_mod .scrollPic .pg li,
.conC .right .wqhg_mod .hd h2,
.conD .right .wqpchg_mod .hd h2,
.conF .tslp_mod .bd h2,
.conD .left .sdpc_mod .bd .pt .txt td .progressBar{background:url(//mat1.gtimg.com/house/xf/bgA.gif) no-repeat;}

/* list */
.list12 li{text-align:left;font:12px/24px '宋体';padding-left:12px;background-position:-702px -284px;*background-position:-702px -285px;}
.list14 li{text-align:left;font:14px/26px '宋体';padding-left:14px;color:#064756;}
.list14 li a{color:#064756;}

/* pic */
.pic img{display:block;margin:0 auto;}

/* text */
.txt{text-align:left;font:12px/22px '宋体';}

/* picGroup */
.pg li{float:left;}
.pg li img{display:block;margin:0 auto;}

/* picText */
.pt .pic{float:left;}
.pt .txt{float:right;}

/* hiddenText */
.ht{overflow:hidden;font:12px/5000px '宋体';}

/* title */
.hd h2{text-align:left;color:#333;}

/* space */
.space5,.space10,.space15,.space20{height:5px;font-size:1px;overflow:hidden;}
.space10{height:10px;}
.space15{height:15px;}
.space20{height:20px;}

/* whiteBg */
.whiteBg{background:#fff;}

/* red */
.red{color:#c00!important;}

/* title */
.titleA{width:940px;height:27px;background:url(//mat1.gtimg.com/house/xf/bg06.gif);text-align:right;padding:19px 20px 0 0;color:#C0D7B2;}
.titleA a{color:#064756;}
.titleA span{float:left;width:181px;height:46px;margin-top:-19px;}

/* conA */
.conA{background:url(//mat1.gtimg.com/house/xf/bg01.gif);border-bottom:1px #C9DED5 solid;margin-top:10px;}
.conA .left{width:710px;}
.conA .right{width:250px;}
.conA .left .ss_mod .bd .searchBar{height:27px;width:710px;background-position:0 0;padding-top:11px;text-align:left;margin:0 auto 12px;}
.conA .left .ss_mod .bd .searchBar strong{margin:0 14px;font:600 14px/16px '宋体';float:left;}
.conA .left .ss_mod .bd .searchBar select,.conA .left .ss_mod .bd .searchBar input{color:#666;margin:-4px 5px 0 auto;border:1px #C8C8C8 solid;padding:2px;vertical-align:middle;float:left;}
.conA .left .ss_mod .bd .searchBar input{padding:3px 3px 4px;width:92px;}
.conA .left .ss_mod .bd .searchBar .searchBtn{width:54px;height:23px;background-position:0 -43px;margin-right:14px;_margin-right:11px;border:0;cursor:pointer;}
.conA .left .ss_mod .bd .searchBar a{font:12px/16px '宋体';}
.conA .left .ss_mod .bd .txt{font:12px/24px '宋体';color:#084759;width:685px;margin:0 auto 18px;}
.conA .left .ss_mod .bd .txt a{color:#666;}
.conA .left .ss_mod .bd .txt span{background-position:0 -71px;width:48px;padding-right:10px;margin-right:10px;}

.conA .right .tab_mod .bd .tab_title{width:237px;height:37px;background-position:-63px -43px;padding-left:13px;margin:0 auto 8px;}
.conA .right .tab_mod .bd .tab_title span{width:80px;height:23px;padding-top:14px;float:left;font:14px/16px '宋体';}
.conA .right .tab_mod .bd .tab_title span.now{background-position:-318px -43px;font-weight:bold;}
.conA .right .tab_mod .bd .tab_con{margin:0 auto 12px;}
.conA .right .tab_mod .bd .tab_con .list12{width:236px;margin:0 auto;}
.conA .right .tab_mod .bd .tab_con .list12 li{line-height:22px;color:#004653;background-position:-702px -285px;}
.conA .right .tab_mod .bd .tab_con .list12 li a{color:#004653;}
.conA .right .tab_mod .bd .tab_con .list12 li .address{float:right;width:60px;text-align:left;}
.conA .right .tab_mod .bd .tab_con .list12 li .price{width:66px;float:right;text-align:left;}

/* conB */
.conB{background:url(//mat1.gtimg.com/house/xf/bg02.gif);}
.conB .box{background:url(//mat1.gtimg.com/house/xf/bg03.gif) no-repeat bottom;}
.conB .left{width:700px;}
.conB .right{width:250px;}
.conB .left .tab_mod .bd .tab_title{width:680px;height:25px;background-position:0 -304px;text-align:right;padding:12px 20px 0 0;color:#C0D7B2;margin:0 auto 20px;}
.conB .left .tab_mod .bd .tab_title a{color:#064756;}
.conB .left .tab_mod .bd .tab_title span{float:left;width:113px;height:37px;margin:-12px -1px 0 auto;font:600 14px/37px '宋体';color:#333;text-align:center;}
.conB .left .tab_mod .bd .tab_title span.now{background-position:-97px -89px;color:#c00;width:113px;}
.conB .left .tab_mod .bd .pg{width:665px;margin:0 auto;}
.conB .left .tab_mod .bd li{width:108px;float:left;margin:0 12px 0 13px;font:12px/22px '宋体';color:#c00;display:inline;padding-bottom:18px;}
.conB .left .tab_mod .bd li a{color:#666;}
.conB .left .tab_mod .bd li img{background-position:0 -131px;padding:2px 4px 4px 2px;margin:0 auto 5px;}

.conB .right .zxdt_mod .hd h2{width:208px;height:38px;background-position:-403px -43px;font:600 14px/38px '宋体';padding:0 10px 0 32px;}
.conB .right .zxdt_mod .hd h2 a{float:right;font:300 12px/38px '宋体';}

.conB .right .zxdt_mod .bd{background:url(//mat1.gtimg.com/house/xf/bg04.gif) repeat-x top;width:248px;margin:0 auto;padding-top:15px;}
.conB .right .zxdt_mod .bd h3{width:230px;font:600 12px/14px '宋体';color:#C00;margin:0 auto 6px;text-align:left;padding-top:2px;}
.conB .right .zxdt_mod .bd h3 span{vertical-align:middle;width:46px;height:18px;*height:15px;*padding-top:3px;background-position:0 -89px;margin:-2px 6px 0 auto;display:inline-block;color:#fff;font:12px/18px '宋体';*font:12px/14px '宋体';text-align:center;}
.conB .right .zxdt_mod .bd h3 span.green{background-position:-46px -89px;}
.conB .right .zxdt_mod .bd h3 a{color:#c00;}
.conB .right .zxdt_mod .bd .list12{margin:0 auto 8px;width:236px;}
.conB .right .zxdt_mod .bd .list12 li{color:#004653;}
.conB .right .zxdt_mod .bd .list12 li a{color:#004653;}

/* conC */
.conC{background:url(//mat1.gtimg.com/house/xf/bg05.gif);border-bottom:1px #C9DFD3 solid;}
.conC .titleA span{background-position:-113px -131px;}
.conC .left{width:710px;padding-bottom:5px;}
.conC .right{width:250px;}

.conC .left .block{width:681px;margin:0 auto 5px;}
.conC .left .block .card_mod{width:334px;height:180px;background-position:0 -346px;padding-top:18px;}
.conC .left .block .card_mod .bd h2{width:305px;margin:0 auto 10px;font:600 12px/14px '宋体';color:#064756;text-align:left;}
.conC .left .block .card_mod .bd h2 a{color:#064756;}
.conC .left .block .card_mod .bd .pt{width:305px;margin:0 auto 10px;}
.conC .left .block .card_mod .bd .pt .pic{width:92px;margin-right:8px;}
.conC .left .block .card_mod .bd .pt .pic img{border:1px #CBCBCB solid;}
.conC .left .block .card_mod .bd .pt .txt{font:12px/22px '宋体';color:#064756;width:203px;}
.conC .left .block .card_mod .bd .pt .txt a,.conC .left .block .card_mod .bd .pt .txt span{color:#C00;}
.conC .left .block .card_mod .bd h3{width:299px;height:18px;background-position:-215px -89px;font:600 12px/18px '宋体';color:#fff;padding-left:6px;margin:0 auto 6px;text-align:left;}
.conC .left .block .card_mod .bd h3 a{color:#fff;}
.conC .left .block .card_mod .bd .list12{width:305px;margin:0 auto; text-align:left;}
.conC .left .block .card_mod .bd .list12 li{width:64px; display:inline;color:#064756; background-position:-702px -289px;}
.conC .left .block .card_mod .bd .list12 li a{color:#064756;}

.conC .right .wqhg_mod .hd h2{width:218px;height:32px;background-position:-339px -457px;padding-left:32px;font:600 14px/32px '宋体';}
.conC .right .wqhg_mod .bd{background:url(//mat1.gtimg.com/house/xf/bg07.gif) repeat-x top #fff;padding-top:13px;width:248px;margin:0 auto;}
.conC .right .wqhg_mod .bd .pt{width:230px;margin:0 auto 12px;height:84px;overflow:hidden;}
.conC .right .wqhg_mod .bd .pt .pic{width:104px;}
.conC .right .wqhg_mod .bd .pt .pic img{border:1px #CBCBCB solid;}
.conC .right .wqhg_mod .bd .pt .txt{color:#666;width:114px;}
.conC .right .wqhg_mod .bd .pt .txt a,.conC .right .wqhg_mod .bd .pt .txt span{color:#004653;}
.conC .right .wqhg_mod .bd .pt .txt h3{font:600 12px/16px '宋体';text-align:left;color:#064756;margin:0 auto 5px;}
.conC .right .wqhg_mod .bd .pt .txt h3 a{color:#064756;}
.conC .right .wqhg_mod .bd .list12{width:236px;margin:0 auto;}
.conC .right .wqhg_mod .bd .list12 li{color:#036;font:12px/22px '宋体';background-position:-702px -285px;*background-position:-702px -286px;}
.conC .right .wqhg_mod .bd .list12 li a{color:#036;}

/* conD */
.conD{background:url(//mat1.gtimg.com/house/xf/bg08.gif);border-bottom:1px #CDE1D5 solid;}
.conD .titleA span{background-position:-113px -182px;}
.conD .left{width:701px;margin-left:5px;display:inline;}
.conD .right{width:250px;}

.conD .left .sdpc_mod .hd h2{color:#064756;padding-left:17px;width:588px;float:left;}
.conD .left .sdpc_mod .hd h2 a{color:#064756;}
.conD .left .sdpc_mod .hd h2 strong{font:18px/30px '黑体',"Arial Narrow",HELVETICA;color:#064756;margin-right:15px;vertical-align:middle;}
.conD .left .sdpc_mod .hd .tab{width:92px;padding-right:4px;float:right;margin-top:6px;}
.conD .left .sdpc_mod .hd .tab span.pre{width:19px;height:17px;background-position:-525px -89px;float:left;margin-right:-1px;cursor:pointer;}
.conD .left .sdpc_mod .hd .tab span.next{width:19px;height:17px;background-position:-543px -89px;float:left;cursor:pointer;}
.conD .left .sdpc_mod .hd .tab .dot{display:inline;padding-top:5px;float:right;}
.conD .left .sdpc_mod .hd .tab .dot li{cursor:pointer;width:7px;height:7px;background-position:-591px -94px;float:left;margin-left:10px;display:inline;overflow:hidden;}
.conD .left .sdpc_mod .hd .tab .dot li.select{background-position:-574px -94px;}
.conD .left .sdpc_mod .bd{background:url(//mat1.gtimg.com/house/xf/bg09.gif) no-repeat;position:relative;width:700px;height:243px;overflow:hidden;}
.conD .left .sdpc_mod .bd .box{position:absolute:left:0;top:0;width:9999px;}
.conD .left .sdpc_mod .bd .pt{padding-top:15px;width:700px;float:left;}
.conD .left .sdpc_mod .bd .pic{width:386px;margin-right:16px;float:right;display:inline;position:relative;}
.conD .left .sdpc_mod .bd .pt .pic img{padding:2px;background:#fff;border:1px #CBCBCB solid;}
.conD .left .sdpc_mod .bd .pt .pic .bgA{position:absolute;bottom:3px;left:3px;width:380px;height:30px;background:#000;filter:alpha(opacity=60);opacity:0.60;}
.conD .left .sdpc_mod .bd .pt .pic strong{position:absolute;bottom:3px;left:3px;width:380px;height:30px;font:600 14px/30px '宋体';color:#fff;}
.conD .left .sdpc_mod .bd .pt .pic strong a{color:#fff;}
.conD .left .sdpc_mod .bd .pt .txt{width:250px;float:left;margin-left:16px;display:inline;}
.conD .left .sdpc_mod .bd .pt .txt h2{background-position:-215px -110px;width:237px;height:16px;font:600 14px/16px '宋体';text-align:left;padding-left:13px;margin:0 auto 14px;}
.conD .left .sdpc_mod .bd .pt .txt .list12{width:250px;overflow:hidden;margin:0 auto 10px;}
.conD .left .sdpc_mod .bd .pt .txt .list12 ul{width:258px;}
.conD .left .sdpc_mod .bd .pt .txt .list12 li{width:76px;height:17px;float:left;background-position:-603px -81px;margin:0 10px 0 auto;color:#015A23;text-align:center;font:12px/14px '宋体';padding:4px 0 8px;}
.conD .left .sdpc_mod .bd .pt .txt .list12 li a{color:#015A23;}
.conD .left .sdpc_mod .bd .pt .txt td{height:26px;color:#064756;}
.conD .left .sdpc_mod .bd .pt .txt td .progressBar{width:141px;height:6px;background-position:-338px -522px;padding:3px 4px 5px;display:block;overflow:hidden;}
.conD .left .sdpc_mod .bd .pt .txt td .percentage{background:url(//mat1.gtimg.com/house/xf/bg10.gif);height:6px;float:left;overflow:hidden;}
.conD .right .wqpchg_mod .hd h2{width:218px;height:32px;background-position:-339px -457px;padding-left:32px;font:600 14px/32px '宋体';}
.conD .right .wqpchg_mod .bd{background:url(//mat1.gtimg.com/house/xf/bg07.gif) repeat-x top #fff;padding-top:13px;width:248px;margin:0 auto;}
.conD .right .wqpchg_mod .bd .pt{width:230px;margin:0 auto 12px;height:84px;overflow:hidden;}
.conD .right .wqpchg_mod .bd .pt .pic{width:104px;}
.conD .right .wqpchg_mod .bd .pt .pic img{border:1px #CBCBCB solid;}
.conD .right .wqpchg_mod .bd .pt .txt{color:#666;width:118px;}
.conD .right .wqpchg_mod .bd .pt .txt a,.conD .right .wqpchg_mod .bd .pt .txt span{color:#004653;}
.conD .right .wqpchg_mod .bd .pt .txt h3{font:600 12px/14px '宋体';text-align:left;color:#064756;margin:0 auto 7px;}
.conD .right .wqpchg_mod .bd .pt .txt h3 a{color:#064756;}
.conD .right .wqpchg_mod .bd .pt .txt ul{width:118px;margin:0 auto;}
.conD .right .wqpchg_mod .bd .pt .txt li{width:57px;height:20px;float:left;color:#fff;margin:0 1px 2px;font:12px/20px '宋体';text-align:center;display:inline;}
.conD .right .wqpchg_mod .bd .pt .txt li a{color:#fff;}
.conD .right .wqpchg_mod .bd .pt .txt li.bgA{background:#D52E2E;}
.conD .right .wqpchg_mod .bd .pt .txt li.bgB{background:#358FAF;}
.conD .right .wqpchg_mod .bd .pt .txt li.bgC{background:#35A13E;}
.conD .right .wqpchg_mod .bd .pt .txt li.bgD{background:#7A4994;}
.conD .right .wqpchg_mod .bd .pt .txt li.bgE{background:#F48839;}
.conD .right .wqpchg_mod .bd .pt .txt li.bgF{background:#D33D7D;}
.conD .right .wqpchg_mod .bd .list12{width:236px;margin:0 auto 12px;}
.conD .right .wqpchg_mod .bd .list12 li{color:#036;font:12px/22px '宋体';background-position:-702px -285px;*background-position:-702px -286px;}
.conD .right .wqpchg_mod .bd .list12 li a{color:#036;}

/* conE */
.conE{background:url(//mat1.gtimg.com/house/xf/bg11.gif);border-bottom:1px #C9DFD3 solid;}
.conE .titleA span{background-position:-300px -131px;}
.conE .jgcx_mod .bd .tab{width:958px;height:30px;margin:0 auto;background:url(//mat1.gtimg.com/house/xf/bg12.gif);}
.conE .jgcx_mod .bd .tab span{text-align:center;height:29px;border-top:1px #FDFDFD solid;padding:0 16px;font:12px/28px '宋体';color:#064756;float:left;margin-left:-1px;}
.conE .jgcx_mod .bd .tab span.now{border:1px #C9DFD3 solid;border-bottom:0;font-weight:bold;background:#fff;}
.conE .jgcx_mod .bd .box{background:url(//mat1.gtimg.com/house/xf/bg13.gif) no-repeat top;padding:15px 0;height:208px;overflow:hidden;}
.conE .jgcx_mod .bd .left,.conE .jgcx_mod .bd .right{width:240px;}
.conE .jgcx_mod .bd .list12{width:212px;margin:0 auto;}
.conE .jgcx_mod .bd .list12 ol{ background:none;background-position:-694px -78px;*background-position:-694px -79px;width:100%;}
.conE .jgcx_mod .bd .list12 li{padding-left:26px;background:url(//mat1.gtimg.com/house/xf/bgA.gif) -697px -355px no-repeat; font:12px/26px '宋体';color:#064756;}
.conE .jgcx_mod .bd .list12 li a{color:#064756;}
.conE .jgcx_mod .bd .list12 li span{float:right;display:inline;}

/* conF */
.conF{background:url(//mat1.gtimg.com/house/xf/bg11.gif);}
.conF .titleA span{background-position:-300px -182px;}
.conF .tslp_mod .bd .left,.conF .tslp_mod .bd .right{width:240px;}
.conF .tslp_mod .bd .box{background:url(//mat1.gtimg.com/house/xf/bg14.gif) no-repeat bottom left;border-top:1px #C9DFD3 solid;margin-top:-1px;padding:12px 0;}
.conF .tslp_mod .bd .list12{width:212px;margin:0 auto;}
.conF .tslp_mod .bd .list12 ol{ background:none;width:100%;}
.conF .tslp_mod .bd .list12 li{padding-left:26px;background:url(//mat1.gtimg.com/house/xf/bgA.gif) -697px -355px no-repeat; font:12px/26px '宋体';color:#064756;}
.conF .tslp_mod .bd .list12 li a{color:#064756;}
.conF .tslp_mod .bd .list12 li span{float:right;display:inline;}
.conF .tslp_mod .bd h2{width:176px;height:23px;padding:0 7px 0 30px;margin:0 auto 10px;background-position:-339px -494px;text-align:left;font:600 14px/18px '宋体';color:#064756;}
.conF .tslp_mod .bd h2 a{color:#666;font:300 12px/20px '宋体';float:right;}

/* conG */
.conG{background:url(//mat1.gtimg.com/house/xf/bg15.gif);border-bottom:1px #C9DFD3 solid;}
.conG .titleA span{background-position:-487px -131px;}
.conG .lptj_mod{padding:24px 0 30px;}
.conG .lptj_mod .scrollPic{position:relative;width:960px;}
.conG .lptj_mod .scrollPic .lBtn .on,
.conG .lptj_mod .scrollPic .lBtn .off,
.conG .lptj_mod .scrollPic .rBtn .on,
.conG .lptj_mod .scrollPic .rBtn .off{position:absolute;top:18px;right:auto;left:1px;width:32px;height:64px;cursor:pointer;}
.conG .lptj_mod .scrollPic .rBtn .on,
.conG .lptj_mod .scrollPic .rBtn .off{left:auto;right:1px;}

.conG .lptj_mod .scrollPic .lBtn .on{background-position:-660px -232px;}
.conG .lptj_mod .scrollPic .rBtn .on{background-position:-625px -232px;}

.conG .lptj_mod .scrollPic .pg{width:839px;height:105px;margin:0 auto;overflow:hidden;}
.conG .lptj_mod .scrollPic .pg li{float:left;width:257px;height:102px;padding-top:4px;margin:0 34px 0 auto;background-position:-339px -346px;display:inline;}
.conG .lptj_mod .scrollPic .pg li img{float:left;margin-left:8px;display:inline;}
.conG .lptj_mod .scrollPic .pg li .txt{width:115px;float:right;font:12px/22px '宋体';color:#004653;}
.conG .lptj_mod .scrollPic .pg li .txt a{color:#004653;}
.conG .lptj_mod .scrollPic .pg .Cont{width:999999px;}
#List1_2,#List2_2{float:left;}

/* conH */
.conH{background:url(//mat1.gtimg.com/house/xf/bg15.gif);border-bottom:1px #C9DFD3 solid;}
.conH .titleA span{background-position:-487px -182px;}
.conH .hd h2{width:946px;height:31px;background:url(//mat1.gtimg.com/house/xf/bg16.gif);padding-left:14px;font:600 14px/30px '宋体';margin:0 auto 22px;}
.conH .gflc_mod .bd .list{width:925px;height:338px;overflow:hidden;background:url(//mat1.gtimg.com/house/xf/bg17.jpg);margin:-15px auto 26px;}
.conH .gflc_mod .bd .list ul{width:1020px;}
.conH .gflc_mod .bd .list li{float:left;padding-top:15px;width:139px;height:154px;margin-right:18px;display:inline;}
.conH .gflc_mod .bd .list h3{font:16px/18px '微软雅黑','黑体',"Arial Narrow",HELVETICA;color:#008835;text-align:left;width:120px;height:26px;padding-top:10px;margin:0 auto;}
.conH .gflc_mod .bd .list h3 span{width:17px;height:17px;display:inline-block;vertical-align:middle;margin:-5px 7px 0 auto;}
.conH .gflc_mod .bd .list h3 span.num1{background-position:-470px -110px;}
.conH .gflc_mod .bd .list h3 span.num2{background-position:-487px -110px;}
.conH .gflc_mod .bd .list h3 span.num3{background-position:-504px -110px;}
.conH .gflc_mod .bd .list h3 span.num4{background-position:-521px -110px;}
.conH .gflc_mod .bd .list h3 span.num5{background-position:-538px -110px;}
.conH .gflc_mod .bd .list h3 span.num6{background-position:-555px -110px;}
.conH .gflc_mod .bd .list h3 span.num7{background-position:-572px -110px;}
.conH .gflc_mod .bd .list h3 span.num8{background-position:-589px -110px;}
.conH .gflc_mod .bd .list h3 span.num9{background-position:-606px -110px;}
.conH .gflc_mod .bd .list h3 span.num10{background-position:-623px -110px;}
.conH .gflc_mod .bd .list h3 span.num11{background-position:-640px -110px;}
.conH .gflc_mod .bd .list h3 span.num12{background-position:-657px -110px;}
.conH .gflc_mod .bd .list li p{font:12px/26px '宋体',"Arial Narrow",HELVETICA;color:#064756;width:120px;margin:0 auto;text-align:left;}
.conH .mcjs_mod .bd{width:958px;height:197px;overflow:hidden;background:url(//mat1.gtimg.com/house/xf/bg18.gif);margin:-10px auto 10px;}
.conH .mcjs_mod .bd .box{width:960px;}
.conH .mcjs_mod .bd .box .left{width:160px;margin-top:5px;}
.conH .mcjs_mod .bd .box .left .list12{width:136px;margin:0 auto;}
.conH .mcjs_mod .bd .box .left .list12 li{font:12px/30px '宋体',"Arial Narrow",HELVETICA;color:#064756;padding-left:25px;width:111px;background-position:-699px -34px;*background-position:-699px -35px;}
.conH .mcjs_mod .bd .box .left .list12 li a{color:#064756;}
.conH .fdjsq_mod .bd .box{width:905px;margin:0 auto;padding-bottom:25px;}
.conH .fdjsq_mod .bd .left{margin-right:11px;display:inline;}
.conH .fdjsq_mod .bd h2{width:23px;padding-right:4px;height:59px;background-position:-595px -232px;padding-top:5px;font:12px/18px '宋体',"Arial Narrow",HELVETICA;float:left;margin-right:23px;display:inline;}
.conH .fdjsq_mod .bd ul{float:left;}
.conH .fdjsq_mod .bd li{width:82px;height:66px;float:left;margin-right:21px;display:inline;}
.conH .fdjsq_mod .bd li a{width:82px;height:24px;padding-top:42px;font:12px/22px '宋体',"Arial Narrow",HELVETICA;display:block;}
.conH .fdjsq_mod .bd li.bgA{background-position:0 -233px}
.conH .fdjsq_mod .bd li.bgB{background-position:-85px -233px;}
.conH .fdjsq_mod .bd li.bgC{background-position:-170px -233px;}
.conH .fdjsq_mod .bd li.bgD{background-position:-255px -233px;}
.conH .fdjsq_mod .bd li.bgE{background-position:-340px -233px;}
.conH .fdjsq_mod .bd li.bgF{background-position:-425px -233px;}
.conH .fdjsq_mod .bd li.bgG{background-position:-510px -233px;}/*  |xGv00|be4c76e07f3ee4ff25ce98a762f3fde5 */