body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 Microsoft YaHei;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
iframe,img{vertical-align:middle;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea,select,button{outline:none;resize:none;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
a{color:#333;text-decoration:none;/*outline:none*/}
a:hover{color:#d02606;text-decoration:underline;}
.clearfix:after,.clear:after,.cl{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix,.clear,.cl{*zoom:1;}
.left,.fl,.mark,.l{float:left}
.right,.fr,.subMark,.r{float:right}
.spanclass,.contentdiv,.hide{display:none}
.show{display:block;}
.yahei {font-family:"Microsoft YaHei"; font-size: 16px; font-weight: normal;}
.dib{ display:inline-block;*display:inline; *zoom:1;}
.white{color:#fff;}
.red{color:#c00;}
.mt5{ margin-top:5px;}
.ml30{ margin-left:30px;}
.ml5{ margin-left:5px;}
.w1000{ width:1000px;}
body{min-width:963px;color:#787878;line-height:20px;background:#FFF;}

.mininav{height:50px;background:#fff;}
.mininav .con{width:963px;margin:0 auto;padding:11px 0;}
.mininav .clogo{float:left;margin-right:10px;}
.mininav .nav{float:left;padding-left:15px;line-height:28px;color:#b5b5b5;}

.header{color:#777;background:url(//mat1.gtimg.com/gd/2014channel/digi/top_bg.gif) center 0 repeat-x;}
.header .con{width:1000px;height:130px;margin:0 auto;}
.header .content{width:820px;margin:40px 0 0 0px;line-height:22px;float:left; color: #3d4247; font-size: 14px;}
.header .content strong{color:#fff;}
.header .content .desc{ margin-left:10px;}
.header .content .desc .t{ font-size:28px; color:#3d4247;}
.header .content .desc .b{ font-size:16px; color:#999; margin-top:10px;}
.header .title{height:58px;}
.header .rqisu{margin:40px 3px 0 0;float:right;}
.header .rqisu strong {font-size: 24px; color: #2f6fa4;}
.header .rqisu select{ width:100px;}

.wrap1 {background:url(//mat1.gtimg.com/gd/images/pansz/digi_ghbj/wrap1.jpg) center 0 no-repeat;height: 64px;margin:20px auto 5px; width:960px;}
.wrap1 .left {color: #2f6fa4;float: left;height: 50px;line-height: 22px;padding-top: 10px;position: relative;text-align: center;width: 155px;}
.wrap1 p {float: right;line-height: 20px;padding: 10px 20px; font-size:14px; text-align: left;width: 760px;}
.wrap1 .left h1 {font-family: "Microsoft Yahei";font-size: 24px; color: #333;}
.wrap1 .left h2 {font-family: "Microsoft Yahei";font-size: 14px;}
.STYLE1 {}

.container{width:1000px;margin-left:auto; margin-right:auto; border-left:1px solid #dadada; border-right:1px solid #dadada;}
.container a{color:#787878;}
.container a:hover{color:#c00;}

.price_table{width:100%; margin-bottom:19px;}
	.price_table th{height:35px; line-height:35px; font-size:14px; color:#333;}
	.price_table td{height:35px; line-height:35px; border-bottom:1px solid #dedede; font-size:14px; color:#666;}
	.price_table th.th1,.price_table td.td1{padding-left:10px; width:430px; border-right:0;}
	.price_table th{font-weight:200; color:#333; background:#e0e9ef; border-bottom:1px solid #c8d7e4; text-align:left; padding-left:10px;}
	.price_table th.th2,.price_table td.td2{text-align:center;border-left:0;}
	.price_table td.td2{font-size:12px; font-weight:700; color:#34afdb;background:#f3fcff;}
	.price_table td a{color:#222;}
	.price_table td a:hover{color:#c00;}

.tbprice td{padding-left:10px}
.tc{text-align:center;}
.tbprice th.th1{width:270px; text-align: left;}
.STYLE1 {color: #FF0000}
.STYLE2 {font-size: 14px}
.STYLE4 {color: #129ed9}

.h2 {background:url(//mat1.gtimg.com/gd/images/pansz/digi_ghbj/h2titi.png) 0 12px no-repeat; line-height: 30px; height: 30px; margin-bottom: 20px;}
.h2 span{font-size: 11px; color: #fff; font-weight: normal; padding-left: 3px;}
.h2 strong { font-size:24px; color:#333; padding-left: 20px;}

.sidebar{width:300px;margin-right:21px;float:right;}
.sidebar .hd{height:32px;color:#262429;padding:0 10px 0 2px;background:url(http://img1.gtimg.com/gd/pics/hv1/198/23/1681/109313088.jpg) 0 0 repeat-x; border-top:1px solid #dadada; cursor:pointer;}
.sidebar .hd .mark{font:400 20px/32px \5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;}
.sidebar .hd .mark span{color:#FFFFFF;}
.sidebar .hd .mark span.mt{ font-size:20px; padding-left:10px;}
.sidebar .hd .mark span.mm{ font-size:20px; padding-left:10px;}
.sidebar .hd .subMark a{line-height:32px;}

.newest .bd{margin:13px 0 20px;}
.newest li{border-bottom:1px dotted #d8d7d6;height:28px;line-height:28px;padding-left:13px;background:url(//mat1.gtimg.com/gd/images/zt2013/abatePrice/bg_point.png) 2px center no-repeat;}

.topic .bd{margin:15px 0; display:none;}
.topic .focus{width:245px;}
.topic .focus .sliderwrapper{height:184px;position:relative;overflow:hidden;}
.topic .focus .sliderwrapper img{width:245px; height:184px;}
.topic .focus .mask{
    height:30px;line-height:30px;text-align:center;width:100%; color:#dbdbdb; position:absolute; bottom:0; left:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0.75)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC000000', endColorstr='#CC000000',GradientType=0 );
}
.topic .focus .pagination{height:13px;padding-top:15px;text-align:center;*padding:5px 0 10px;}
.topic .focus .pagination a{width:13px; height:13px; overflow:hidden; margin:0 3px; line-height:99em; display:inline-block; background:url(//mat1.gtimg.com/gd/images/zt2013/abatePrice/toc_0.png) 0 0 no-repeat;}
.topic .focus .pagination a:hover,
.topic .focus .pagination a.selected{background:url(//mat1.gtimg.com/gd/images/zt2013/abatePrice/toc_1.png) 0 0 no-repeat;}

.weibo .bd{margin:20px 0;}
.weibo .send{margin-bottom:15px;border:1px solid #e4e5e5;background:#fff;border-radius:5px;}
.weibo .send .title{margin:5px 0;padding-left:42px;font:400 22px/30px \5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;background:url(//mat1.gtimg.com/gd/images/zt2013/buyhouse/bg_elements.png) -75px -490px no-repeat;}
.weibo .send .con{padding:0 15px 5px;}
.weibo .list{border:1px solid #e4e5e5;}




.main{width:634px;margin:16px 0 0 22px;float:left;overflow:hidden;}

.m_bd .pagination{height:24px;}
.m_bd .toc{height:20px;float:left;margin-right:6px;padding:0 10px;line-height:19px;color:#fff;background:#81868d;cursor:pointer;}
.m_bd .selected{background:#cb0000;}


.scroll_bar{width:80px;position:fixed;top:16px;left:50%;margin-left:-610px;display:none;}
.scroll_bar li{margin-bottom:1px;background:#2f6fa4;color:#fff;line-height:30px;text-align:center;}
.scroll_bar li img{width:80px;height:60px;display:none;}
.scroll_bar li a{color:#fff;display:block;}
.scroll_bar li a:hover,
.scroll_bar li.cur{color:#fff;background:#5599d2;text-decoration:none;}
.scroll_bar li.cur{margin-bottom:0;}
.scroll_bar li.cur img{display:block;}

.scroll_bar div.go_top{width:80px;height:68px;display:block;overflow:hidden;line-height:99em;cursor:pointer;background:url(//mat1.gtimg.com/gd/2014channel/digi/bg_gototop.png) 0 0 no-repeat;}
.comment{width:960px; margin:0 auto 18px; background:#fff;}
	.comment .thA{height:28px;border:1px solid #c7c7c7; margin-bottom:-1px; padding-left:17px; position:relative; line-height:28px; color:#129ed9; font-weight:730; background:url(//mat1.gtimg.com/gd/images/zt2012/digiprice10/bg_th_2.png) 0 0 repeat-x;}
	.comment .tbA{width:960px;overflow:hidden;}
	.comment .comm_content{margin:-4px -4px 0 -3px;}

.team{height:45px;background:url(//mat1.gtimg.com/gd/images/zt2013/abatePrice/bg_team.png) 0 0 repeat-x;}
.team .content{width:963px;margin:0 auto;line-height:45px;}
.team .content a{color:#787878;}
.team .prod{float:left;height:45px;padding-left:125px;background:url(//mat1.gtimg.com/gd/images/pansz/digi_ghbj/bg_channel.png) 0 center no-repeat;}
.team .link{float:right;}

.weixin_box{overflow: hidden; margin-bottom: 20px;}
.weixin .yahei{color: #262429;}
.weixin_box .wx_pic{width: 82px;text-align: center;float:left; margin-right: 10px;}
.weixin_box .wx_info{padding:0 5px 5px 10px;line-height:20px; color: #787878; font-size: 12px;}

.footer{padding:15px 0 30px;}
.l_qq_com{display:none;}

.extend_block .dib{ vertical-align:middle;}
.extend_block .bes_title{ font-size:14px; color:#2f6fa4;}
.extend_block .bes_call{ font-size:14px; color:#666;}
.extend_block .bes_address{ font-size:12px; color:#666;}
.extend_block .bes_address a{ font-size:12px; color:#2076bd; text-decoration:underline;}
.extend_block .clearfix{ border-bottom:1px solid #dadada; margin-top:20px; margin-bottom:20px;}

.bTitle{height:50px;background:url(//mat1.gtimg.com/gd/images/channel/digi2013/titlebg.png) no-repeat left bottom;}
.bTitle span{line-height: 50px;font-size: 24px;float: left;font-weight: 400;font-family: Microsoft YaHei,寰蒋闆呴粦,Lucida,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;display: block;}
.bTitle span a{color: #4C4C4C;text-decoration: none;outline: none;}
.justify_fix{display:inline-block; width:100%; height:0; overflow:hidden;}
.sidebar .four_block{ text-align:justify; margin-top:20px;}
.sidebar .four_block li.dib{width:120px; height:140px;}
.sidebar .four_block li img{ width:120px; height:90px;}
.sidebar .four_block li p{ text-align:center; height:50px; line-height:20px;}
.sidebar .four_block li p a{ font-size:12px; color:#666; text-decoration:none;}
.sidebar .list_block{margin-top:10px;list-style-type: disc; list-style-position:inside; padding-bottom:15px; border-bottom:1px solid #e2e2e2;}
.sidebar .list_block li{line-height:28px;display:list-item; width:270px; white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
.sidebar .list_block li a{ font-size:12px; color:#666; text-decoration:none;}
.sidebar .list_block li a:hover{ text-decoration:underline;}

.sidebar .about_us{ padding-top:15px;}
.sidebar .about_us .au_cover.l.bj{ margin-top:15px;}
.sidebar .about_us dl,.sidebar .about_us dd{margin:0px;padding:0px;} 
.sidebar .about_us dl{ margin-top:5px; width:120px;}
.sidebar .about_us dd{line-height:22px; font-size:12px; color:#666;}
.sidebar .about_us .pone{ background:url(//mat1.gtimg.com/gd/2014channel/digi/right_title_a1.jpg) no-repeat 0 5px; padding-left:32px; height:25px; line-height:25px; margin-top:15px; font-size:14px; color:#666;}
.sidebar .about_us .ptwo{ background:url(//mat1.gtimg.com/gd/2014channel/digi/right_title_a2.jpg) no-repeat 0 5px; padding-left:32px; height:25px; line-height:25px; margin-bottom:10px; font-size:14px; color:#666;}
.sidebar .about_us p.lp{ font-size:14px; color:#666; line-height:25px;}
.sidebar .ew_block{ border-top:1px solid #e2e2e2; margin-top:15px; padding-top:20px;}
.sidebar .ew_block li{ width:130px; text-align:center;}
.sidebar .ew_block li p{ margin-top:12px; color:#666;}

/*导航*/
.nav .navLink a{position:relative;}
.nav .navLink a:hover,.nav .navLink a.cur{background:#565E75;text-decoration:none;}
.nav .navLink .ico_mygd{position:absolute;top:-24px;left:15px;width:68px;height:24px;display:none;background:url(//mat1.gtimg.com/gd/images/channel/digi2013/ico_column.gif) 0 0 no-repeat;}
.nav .navLink .mygd:hover .ico_mygd{display:block;}
.nav .navLink a {height: 40px;line-height: 40px;display: block;float: left;padding: 0 25px;font-size: 16px;font-family: "Microsoft Yahei";color: #fff;}
.nav .navLink a {position: relative;}

.adv_block{ width:270px; height:200px;}
.adv_block img{width:270px; height:200px;}

/*  |xGv00|f5156700af53be7099d045b430d3090c */