body{ background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/bg.png) repeat-x top #fff;margin:0; padding:0; font-size:12px; color:#3f3f3f; line-height:20px;}
a,ul,li,p,h1,img,h2,h3,dl,dt,dd{ margin:0; padding:0; list-style-type:none; text-decoration:none; border:none}
a{color:#057d02}
a:hover{ text-decoration:underline; cursor:pointer}
input,textarea,.from{ font-size:12px;}
img{ border:none; vertical-align:middle;}
.block{ height:12px;clear:both;}
h2,h3,.one_r,.weibo{ font-size:14px;}
.bd{ border: solid 1px #e3e7e8; padding:0 10px; margin-bottom:12px; clear:both;}
/*a_style*/
.head,.head .h_top span a{ color:#8a8a8a;}
.login ul li a,.rec_listen ul li a,.help ul li a{ color:#3e3e3e;}
/*line-height*/
.one_r,.help ul li{ line-height:22px;}
.list_r{ line-height:18px;}
.weibo ul li{ line-height:24px;}
/*color*/
.cor1{ color:#999;}

/*index.css*/
.top,.main_content{ width:950px; margin:0 auto;}
.head{ height:134px; padding-top:2px; background:url(http://mat1.gtimg.com/gongyi/2011img_bak/head_bg.png) no-repeat right 58px;}
.head .i_logo{background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/logo.png) no-repeat 0 0;height:46px; width:266px; display:block;}
.head .h_top span{ float:right; margin-top:17px;}
.head .h_top span a{ margin:0 5px;}
/*
#nav{height:73px; position:relative; margin-top:16px;}
#nav li {float:left; margin-right:12px; }
#nav li .v a{font-size:14px; width:88px; height:32px; text-align:center;  line-height:32px; display:block; color:#FFF; float:left; font-family:"Î¢ÈíÑÅºÚ";}
#nav li .v a:hover,
#nav li .v .sele,
.kind_menu a:hover{background:url(http://mat1.gtimg.com/gongyi/2011images/2011loveplan_v2/index/navbg.png) no-repeat 0 0; color:#414649; font-weight:bold; text-decoration:none;}
#nav .kind_menu {height:35px; line-height:35px;vertical-align:middle; position:absolute; top:31px; left:70px; width:930px; text-align:left; display:none; color:#656565; }
#nav .kind_menu a {color:#444; height:35px;; float:left; text-align:center; width:86px;}
#nav .kind_menu a:hover { background-position:0 -30px;font-weight:bold;}
*/


.bottom_box{ height:203px; margin:10px 0 13px; border: solid 1px #e3e7e8;}
.prev,.on,.next,.wyjk,.wyjk1,.phone,.vip,.luser_login,.login ul li,.help ul li,.ax,.listendown
{background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/btn.png) no-repeat 0 0; display:block; overflow:hidden;}
.jz_zhiyin li a{ background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/main.png) no-repeat 0 0;}
/*imgbox*/
.imgbox{ width:706px; height:203px;float:left;}
.imgbox .focu_spic{ height:203px;position:relative; overflow:hidden;}
.imgbox .focu_spic img{ width:706px; height:203px;}
.imgbox .focu_spic .play_set{ position:absolute; right:8px; bottom:7px; width:100px; color:#fff; font-family:Tahoma; font-family:11px;}
.imgbox .focu_spic .play_set a{ float:left; display:inline-block; width:15px; height:17px; margin-right:4px; }
.imgbox .focu_spic .play_set .prev{ background-position:-71px -71px;}
.imgbox .focu_spic .play_set .on{ background-position:-90px -71px;}
.imgbox .focu_spic .play_set .next{ background-position:-109px -71px;}
.imgbox .focu_spic .play_set .num{ margin-left:6px;}
.imgbox .focu_spic .play_set .num span{  margin:0 1px 0 3px;}
/*imgbox_end*/
.sat_num{ width:221px; padding:20px 0 0 20px; height:183px; float:left; color:#575757; background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/sat_num_bg.jpg); border-bottom:solid 1px #e3e7e8;}
.sat_num span{ display:block; }
.sat_num  .juanzeng{ height:54px; line-height:54px; margin-top:10px;}
.sat_num .num1,
.sat_num .num2,
.sat_num .num3{ padding:0 3px;}
.sat_num .num1{ font-size:16px; text-align:right;}
.sat_num .num2{font-family:Arial, Helvetica, sans-serif; font-size:30px;}
.wb1{ width:16px; height:16px; background:url(http://mat1.gtimg.com/gongyi/2011images/2011loveplan_v2/public/images/icon.png?v2) no-repeat scroll 0 0 transparent;background-position: left top; display:inline-block; vertical-align:middle; margin:0px 10px 4px 5px;}
.gz1{line-height: 32px; height:32px; text-align: right; margin:0 10px 12px 0; color:#666;}
.sat_num .pjjk{}

/*lunbo*/
.lb_toggle{position:absolute;bottom:5px; right:0px;overflow:hidden;}
.lb_toggle li{float:left; width:21px; height:20px; margin-right:5px;}
.lb_toggle a{width:19px;height:18px; border:solid 1px #bfbfbd; color:#898989; background-color:#fff; font-size:12px; display:block; text-align:center;}
.lb_toggle a.current1,
.lb_toggle a:hover{ width:21px; height:20px; color:#fff; background-color:#6c6c6c; border:0; text-decoration:none;}
.clearFix{zoom:1}
.clearFix:after{content:"\0020"; height:0; display:block; clear:both;}

.index_mleft{ width:708px; float:left;}
.yjjihua ,.sjjihua,.hzjigou{ overflow:hidden;}
.p_title{ color:#575757; line-height:32px; height:32px; border-bottom: solid 1px #e3e7e8; margin-bottom:14px; clear:both;}
.p_title{ font-size:14px; font-weight:bold;}
.p_title h2{ padding-left:12px; float:left; padding-right:12px;}
.p_title span a{ float:right; color:#575757; font-weight:normal;}
.p_box{ width:680px; margin:0 auto;}
.yjjihua .yjjihua_one{ overflow:hidden; padding-bottom:14px; margin-bottom:23px; background: url(http://mat1.gtimg.com/gongyi/2011images/donate/images/yjjihua_line.png) repeat-x bottom;}
.yjjihua .yjjihua_one img{ float:left; width:188px; height:118px; border: solid 1px #d1d2d4; margin-right:12px;}
.yjjihua .yjjihua_one .one_r{ width:450px; float:left;}
.yjjihua .yjjihua_one .one_r .wyjk{ width:79px; height:30px; float:left; background-position:0 -39px; margin-top:5px;}
.yjjihua .yjjihua_one .one_r .zhichi{ font-size:12px; float:left; padding:5px 0 0 5px;}
.yjjihua .yjjihua_one .one_r .zhichi em{ font-family: Arial,Helvetica,sans-serif; color: #575757;font-size: 24px;padding-right: 3px;text-decoration: underline;}
.yjjihua .yjjihua_list ul li{ float:left; width:330px; height:150px;}
.yjjihua .yjjihua_list ul li.l{ margin-right:16px;}
h3 a{color:#3f3f3f;}
.yjjihua .yjjihua_list h3{ margin-bottom:14px;}
.yjjihua .yjjihua_list img,.sjjihua .sj_list ul li img{ float:left; width:140px; height:90px; margin-right:10px;}
.wyjk1{ width:70px; height:26px; float:left;  background-position:0 -70px; margin-top:5px;}
.yjjihua .yjjihua_list .list_r .fankui{ float:right; margin-top:12px; margin-right:50px;}

.sjjihua .sj_list ul li{ padding-top:10px; height:145px; margin-bottom:10px;}
.sjjihua .sj_list h3{ margin-bottom:10px;}
.sjjihua .sj_list .sjlist_r{ float:left; position:relative;}
.sjjihua .sj_list .jindut {color: #3D8E15;font-family: "Î¢ÈíÑÅºÚ";font-size: 24px;left: 76px;position: absolute;top: 19px;width: 315px;}
.sjjihua .sj_list .jindut .jdt_con {background: none repeat scroll 0 0 #D0D9BB;float: left;height: 6px; font-size:0; line-height:0; margin: 8px 5px 0 0;width: 250px;}
.sjjihua .sj_list .jindut .jdt_con div {background: none repeat scroll 0 0 #3D8E15;float: left;height: 6px;}
/*weiboreyi*/
.weibo .p_title{ margin:0;}
.weibo{ border: solid 1px #e3e7ea; clear:both;}
.weibo ul{overflow-y:scroll; height:294px;}
.weibo ul li{ width:666px; margin-left:13px; color:#333; float:left; display:inline;padding-bottom:10px;border-bottom:1px dashed #D8D8D8; }
.weibo ul li .msgcnt{ width:588px;}
.weibo a{ color:#2b4a79;}
.weibo img{ width:60px; height:60px; border: solid 1px #d1d1d1; float:left; margin:10px 10px 0 0;}
.weibo ul li .msgcnt{ padding:10px 0 0 0;overflow:hidden; float:left; width:590px;}
.weibo ul li .msgcnt_zd{ background:#f8f8f8; padding:8px;border: solid 1px #dcdcdc; margin:5px 0;}
.weibo ul li .pubInfo .funBox{ float:right; width:85px; color:#d9dddc;}
.weibo ul li .pubInfo .funBox a{ color:#889cb7;}
.weibo ul li .pubInfo .funBox span,.zfNum{ margin:0 5px 0 9px;}
.weibo ul li a.icon{ width:17px; height:17px; display:inline-block; margin:0 2px 2px 2px; vertical-align:text-bottom;}
.weibo ul li a.icon.phone{ background-position:-125px -71px;}
.weibo ul li a.icon.vip{ background-position:-143px -71px;}
.publish_wb{ width:706px; height:120px; margin-bottom:12px;border: solid 1px #e3e7ea; border-bottom:none; background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/publish_wb.png) no-repeat 0 0;}
.publish_wb .text{ padding:8px 0 0 9px;}
.publish_wb em{font-family:Georgia,Tahoma,Arial; font-size:26px; font-style:normal; color:#999; margin:5px 28px 0 480px; float:left; line-height:28px;}
.publish_wb .gb_btn{width:112px; height:30px; display:block; float:left; margin-top:10px;}
/*hezuo_jigou*/
.hzjigou{height:100%;}
.hzjigou ul li{ height:64px; float:left;}
.hzjigou img{ height:46px; border: solid 1px #d7d7d7; margin: 0 15px 0 10px;}

.index_mright{ width:230px; float:right;}
/*login*/
.login{ width:193px; padding:8px 15px 10px 23px; background:#f5f5f5; border-bottom: solid 1px #e4e7e9;}
.login .luser_login{ width:191px; height:38px; background-position:0 0; margin-bottom:10px;}
.login img{ margin-bottom:10px;}
.login ul li,.help ul li{ background-position:-178px -65px; padding-left:20px;}

.jz_zhiyin h3{ margin:18px 0 15px 8px;}
.jz_zhiyin li a{ width:229px; height:53px; margin-bottom:5px; background-position:0 -204px; text-indent:-5000px; overflow:hidden; display:block;}
.jz_zhiyin li .step2{ background-position:0 -262px;}
.jz_zhiyin li .step3{ background-position:0 -320px;}
.jz_zhiyin li .step4{ background-position:0 -379px;}
.jz_zhiyin .tips{ padding:10px 0 34px;}
/*aixin_wangyou*/
/*
.friends_activities ul li.whole{ border-bottom: dotted 1px #bbb;float:left; margin-bottom:3px; line-height:18px;}
.friends_activities ul li img{ float:left; width:50px; height:50px; margin:8px 12px 0 8px;}
.friends_activities ul li .gudingk{ width:160px; float:left; overflow:hidden; padding-top:8px;}
.friends_activities ul li .gudingk li.ng_date{ text-align:right; color:#999; }*/
.ax{ background-position:-161px -71px; width:16px; height:17px; display:inline-block; vertical-align:text-bottom; margin-left:3px;}

.friends_activities ul li.whole{ border-bottom: dotted 1px #bbb;float:left; margin-bottom:3px; line-height:18px;}
.friends_activities ul li img,.friends_activities ul li img.users{ float:left; width:50px; height:50px; margin:10px 10px 0 8px;}
.friends_activities ul li .gudingk{ width:160px; float:left; overflow:hidden; padding-top:8px;}
.friends_activities ul li .gudingk li{ width:160px; float:left; overflow:hidden;height:20px;}
.friends_activities ul li .gudingk li.ng_date{ text-align:right; color:#999; }




/*tuijiang_weibo_shouting*/
.rec_listen ul li{ margin:0 16px 10px 10px; text-align:center; height:79px;line-height:30px; float:left; display:inline;}
.rec_listen ul li.li_right{ margin-right:0;}
.rec_listen ul li img{ border: solid 1px #dcdcdc; width:50px; height:50px;}
.rec_listen ul li label{ display:block; width:56px; height:56px; position:relative;}
.rec_listen ul li input{ position:absolute; left:-5px; bottom:-3px; }
.rec_listen .full{ clear:both; padding:20px 0 15px 70px;}
.rec_listen .full span{  float:left; line-height:35px; }
.rec_listen .listendown{ width:93px; height:31px; margin-left:10px; background-position:-80px -39px; display:block; float:left; }
/*help*/
.help ul{ padding-left:5px;}
.help{ margin-top:20px;}

/*index.css end*/
#footer{ width:950px; margin:0 auto; height:91px; clear:both; text-align:center; margin:0 auto; color:#aaaaaa; line-height:22px; padding-top:15px;}
#footer a{ color:#aaa; }

/*main_right*/
.fensi { background:url(http://mat1.gtimg.com/gongyi/2011images/2011loveplan_v2/public/images/fensibottom_bg.gif) no-repeat left bottom #f5f5f5;padding-bottom:10px; margin-bottom:9px; }
.fensi .top{ background: url(http://mat1.gtimg.com/gongyi/2011images/2011loveplan_v2/public/images/fensitop_bg.gif) no-repeat top #f1f1f1; height:auto; line-height:24px; height:52px; padding:11px 0; border-bottom: solid 1px #fff; width:100%;}
.fensi .top img{ float:left; margin:0 10px 0 13px;}
.fensi .top span { float:left; vertical-align:middle;}
.fensi  ul{ margin-top:10px;}
.fensi  p{ padding-top:5px; padding-right:8px;}
.fensi  ul li{ float:left; margin:0px 0px 0px 15px; width:100px; display:inline; padding:0;}
.fensi dt{ float:left; margin:2px 6px 2px 14px;display:inline;}
.fensi dl{ padding-top:8px; padding-bottom:8px;}
.fensi .enter{ text-align:right; padding-right:15px;}
.top_right{ float:right;}

.STYLE2,.basic_row,.weibo ul li,.why_yjjh,.program_ct,.wb_title { font-size:14px;}

/*QQ_lv1*/
.gongyi_level{width: 53px;  float: left; height: 22px; margin:0 40px 0 10px;}
.gongyi_level.open{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_bak.png) no-repeat 4px 3px;}
.gongyi_level.close{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_bak.png) no-repeat 3px -16px;}
.gongyi_level.open .lv{ background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/lv.png) no-repeat 0px 0px; float:left; width:14px; height:22px; margin-left:20px; }
.gongyi_level.close .lv{ background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/lv.png) no-repeat -15px 0px; float:left; width:14px; height:22px; margin-left:20px; }
.gongyi_level.open em{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 22px; margin-right:10px;}
.gongyi_level.close em{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/close_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 22px; margin-right:10px;}
.gongyi_level em.num1{ background-position:0px 1px;}
.gongyi_level em.num2{ background-position:-27px 1px;}
.gongyi_level em.num3{ background-position:-56px 1px;}
.gongyi_level em.num4{ background-position:-85px 1px;}
.gongyi_level em.num5{ background-position:-113px 1px;}
.gongyi_level em.num6{ background-position:-143px 1px;}
.gongyi_level em.num7{ background-position:-172px 1px;}
.gongyi_level em.num8{ background-position:-201px 1px;}





.pub_title_line{ padding-left:7px; border-bottom: solid 1px #e4e7e9; font-size:14px; font-weight:bold; line-height:30px; clear:both;}

/*junhaiguo add 2012-07-20*/
.i_fqjg{ border: solid 1px #e3e7e8; overflow:hidden; padding-top:8px;}
.xmfq{ clear:both; padding-left:2px;height:100%;}
.xmfq ul li{ float:left; padding:10px 8px; display:inline; margin:0 8px 0 8px;}
.xmfq ul li img{border: solid 1px #e5e5e5; height:46px;}
.xmfq .p_title{ margin:0 10px 0 10px; border-bottom: solid 1px #e4e7e9;}

/*penwang add 2011-07-22*/
.publish_wb .text{ padding:0px 0 0 0px;}
.weibo .p_title { border:#CC0099 0px solid; margin-left:12px;clear:both; float:left;}

/*2011-8-4 wb_title*/
.wb_title{ border-bottom: solid 1px #e3e7e8; line-height:32px; height:32px; background:none; padding:0 0 0 18px; font-weight:bold; }
.help ul li{ background-position:-178px -66px; padding-left:15px;}
.wb_con{ height:294px; overflow:auto;}


/*yuejuang_huodong*/
.yj_huodong img{ width:225px; height:65px; margin:11px 0 13px;}
.yj_huodong p{ margin-bottom:10px; width:228px; overflow:hidden;}
.pub_title{ padding:10px 0 5px 5px; border-bottom: solid 1px #e4e7e9; font-size:14px; font-weight:bold; clear:both;}/*  |xGv00|66a2abbe0cb97d4b9e6f8d5a4e30e511 */