@charset "gb2312";
/* CSS Document */
body, h1, h2, h3, p, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea { margin: 0; padding: 0; }
body, button, input, select, textarea { font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }
body{ background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/bg.png) repeat-x top; color:#3d3d3d;}
h1, h2, h3 { font-size: 100%; }
ul, ol { list-style: none; }
img{ vertical-align:top; border:0;}
a{ text-decoration:none; color:#3d3d3d;}
a:hover{ text-decoration:underline;}
.header,.content,#footer,.shankuan{ width:952px; margin:0 auto; clear:both;}
.pcolor1{ color:#398809;}
.zx_xx,.pcolor3,.ktyj_num span{ color:#34800c;}
.pcolor2,.jigou ul li p,.meitihz li,.p1 a,.p3 span,.meitihz span{ color:#8a8a8a;}
.xx,.listen,.pro_list span a{ color:#058004;}
.zx_xx,.xx{display:-moz-inline-box; display:inline-block; *display:inline; zoom:1}
.line{ border-bottom: solid 1px #e5e8e7; height:8px; margin-bottom:5px; overflow:hidden; clear:both;}
h2,h3,.start_title,.top_news ul li,.more,.p2,.activi dt,.Hot_News .pub_left ul li,.pic_listcon ul b{ font-size:14px;}
.box_hr{ height:23px; clear:both;}
/*img_float*/
.c_topl_down img,.donation img,.jigou ul li img,.Micro_Charity li img,.hezuohb ul li img{ float:left;border: solid 1px #e3e7ea;}
.inset_img,.activi img,.Hot_News img,.Tencent_Foundation img{ float:left;}

/*line-height*/
.gy_guanggao,.jk_pro,.meitihz span,#footer{ line-height:22px;}
.top_news,.radio_list li,.Hot_News ul li{ line-height:24px;}

/*btn-background*/
.login_btn,.ktyj,.listendown ,.turn_l a,.turn_r a, .play_set a{background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/btn.png) no-repeat 0 0;}
/*header*/
.header{ background:url(http://mat1.gtimg.com/gongyi/2011img_bak/nav_bg.png) no-repeat right bottom; height:121px; margin:12px auto 13px; font-size:14px;}
.header .h_top{height:39px; line-height:39px; margin-bottom:7px;}
.header .h_top span{ float:left; display:block;}
.header .h_top .wel{ margin-left:436px; display: inline;}
.header .h_top .login_btn { width:65px; height:25px;  display:inline-block; margin:5px 0 0 15px; background-position:0 0;}
.header .nav ul li{ float:left; margin-right:49px; display:inline; line-height:36px;}
.header .nav ul li a{ color:#fff; font-weight:bold;}
.header .shankuan{ padding-top:8px;}
.header .shankuan em{ font-weight:bold; font-family:"Tahoma";}
.header .shankuan i{ font-style:inherit; padding:0 20px 0 5px; font-size:12px;}
/*content-top*/
.c_top .c_topl{ width:590px; float:left;}
.c_top .c_topr{ width:348px; float:right;border: solid 1px #e3e7e8; overflow:hidden; background:#fff;}
.c_top .c_topl .focu_spic{ height:280px; margin-bottom:12px; position:relative; overflow:hidden;}
.c_top .c_topl .focu_spic .play_set{ position:absolute; right:8px; bottom:7px; width:100px; color:#969897; font-family:Tahoma; font-family:11px;}
/*
.c_top .c_topl .focu_spic .play_set a{ float:left; display:inline-block; width:15px; height:17px; margin-right:4px;}
.c_top .c_topl .focu_spic .play_set .prev{ background-position:-36px -89px;}
.c_top .c_topl .focu_spic .play_set .on{ background-position:-55px -89px;}
.c_top .c_topl .focu_spic .play_set .next{ background-position:-74px -89px;}
.c_top .c_topl .focu_spic .play_set .num{ margin-left:6px;}
.c_top .c_topl .focu_spic .play_set .num span{  margin:0 1px 0 3px;}
*/
.c_top .c_topl_down{ border: solid 1px #e3e7e8; padding:8px; overflow:hidden;}
.c_top .c_topl .gy_guanggao img{ width:138px; height:88px; margin:3px 15px 5px 0;}
.c_top .c_topl .gy_start{ overflow:hidden; height:86px;}
.c_top .c_topl .gy_start ul li,.start_r,.c_top .top_news ul li a{ float:left; display:block;}
.c_top .c_topl .start_r{ width:128px; margin-top:8px;}
.c_top .c_topl .start_r p{ color:#666;}
.c_top .c_topl .gy_start ul li img{ width:48px; height:48px;margin:12px 5px 0 5px;}
.c_top .c_topl .gy_start ul li .listen{ background:#f1f4e9;}
.c_top .top_news{ padding:8px 8px 0 8px;}
.c_top .top_news ul li,.video,.photo_news ul li,.ft_photonews ul li{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/icon.png) no-repeat; padding-left:14px;}
.c_top .top_news .video{ background-position:0 -24px; width:20px; height:16px; display:inline-block; margin-top:2px;}
/*lunbo*/
.lb_toggle{position:absolute;bottom:5px; right:0px;overflow:hidden;}
.lb_toggle li{float:left; width:21px; height:20px; margin-right:5px;}
.lb_toggle a{width:19px;height:18px; border:solid 1px #bfbfbd; color:#898989; background-color:#fff; font-size:12px; display:block; text-align:center;}
.lb_toggle a.current1,
.lb_toggle a:hover{ width:21px; height:20px; color:#fff; background-color:#6c6c6c; border:0; text-decoration:none;}
.clearFix{zoom:1}
.clearFix:after{content:"\0020"; height:0; display:block; clear:both;}

/*donation*/
.pub_left{ width:652px; padding:0 8px 9px 8px; border: solid 1px #e3e7e8; float:left; overflow:hidden;}
.pub_right{ width:254px; padding:0 7px; border: solid 1px #e3e7e8; float:right; overflow:hidden;}
.pub_right2{ width:268px;  border: solid 1px #e3e7e8; float:right; overflow:hidden;}
.p_title{ height:57px; background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/sub_titlebg.png) repeat-x top;}
.p_title h2{ background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/sub_title3.png) no-repeat 0 0; text-indent:-5000px; overflow:hidden; height:57px;}
	.p_title h2.t2{ background-position:0 -57px;}
	.p_title h2.t3{ background-position:0 -114px;}
	.p_title h2.t4{ background-position:0 -171px;}
	.p_title h2.t5{ background-position:0 -228px;}
	.p_title h2.t6{ background-position:0 -285px;}
    .p_title h2.t7{ background-position:0 -347px;}
    .p_title h2.t8{ background-position:0 -404px;}
	/*.p_title h2.t7{ background-position:0 -347px;}*/
    
.label_title{border-bottom: solid 1px #e3e7e8; height:33px; margin:0 0 12px 0; clear:both;}
.l_t_right{width:250px; margin-left:10px;}
.label_title h2{ line-height:33px; padding-left:5px;}
.label_title .more{ float:right; margin:8px 7px 0 0;}
.label_title .more a{ color:#575757;}
.yuanjuan ul li{ height:107px;}
.yuanjuan ul li img{ width:138px; height:88px; margin-right:13px;}
.yuanjuan ul li .ktyj{ background-position:0 -26px; width:80px; height:30px; display: inline-block; margin:15px 8px 0 0;}
.yuanjuan ul li em{ font-family: Arial,Helvetica,sans-serif;font-size: 24px;padding: 0 2px; color:#565656;}
.sanjuan ul li{ height:110px;}
.sanjuan ul li img{ width:108px; height:69px; margin:0 6px 0 5px;}
.sanjuan ul li dl{ float:left; height:67px;margin-bottom:5px; overflow:hidden;}
.sanjuan ul li dt{ font-weight:bold;}
.sanjuan ul li .jk{ margin: 7px 0 0 177px; clear:both; }
/*NPO_Platform*/
.activi .ha_top{ overflow:hidden; margin-bottom:18px;}
.activi .ha_top img{ width:100px; height:100px; margin:0 10px 0 5px;}
.activi .ha_top .jk_pro{ float:left; width:530px;}
.activi ul{ clear:both; overflow:hidden; height:83px;}
.activi ul li{ float:left; width:278px;}
.activi ul li span{ line-height:18px; height:18px;}
.activi ul li.li1{ margin-right:70px;}
.activi ul li img{ width:60px; height:60px; margin:0 12px 0 5px;}
.jigou ul li{ height:66px; }
.jigou ul li img{ width:48px; height:48px; margin:0 9px 0 12px;}
.jigou_t1 span{ width:134px;}
/*tab切换*/
.tb_title span{ float:left; border-left: solid 1px #e3e7e8;border-bottom: solid 1px #e3e7e8; margin-left:-1px; background:#f5f5f5; line-height:28px; text-align:center; font-weight:100; margin-bottom:12px; cursor:pointer; display:inline;}
.tb_title span.on{ border-bottom: solid 1px #fff; background:#fff; font-weight:bold;}
.con{width:268px;display:none; clear:both;}
.con.on{ display:block; visibility:visible;}
/*Micro_Charity*/
.Micro_left{ width:670; float:left;}
.Micro_left .radio{ width:668px; height:125px; background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/radio.png) no-repeat right; border: solid 1px #e3e7e8; overflow:hidden;}
.Micro_left .radio .text{ margin:12px 0 0 22px;}
.Micro_left .radio em{font-family:Georgia,Tahoma,Arial; font-size:26px; font-style:normal; color:#999; margin:0 27px 0 447px; float:left;}
.Micro_left .radio .gb_btn{ width:112px; height:30px; display:block; float:left; margin-top:8px;}
.Micro_left .radio_list li img{ width:50px; height:50px; margin:0 19px 0 5px;}
.Micro_left .radio_list li{ margin:18px 0 5px;}
.Micro_left .radio_list p{ float:right; width:552px; margin-right:18px;}
.tb_four .jigou_t2 span{ width:67px;}
.tb_four ul{ padding-left:10px;}
.tb_four ul li{ margin:0 15px 0 12px; text-align:center; height:86px; *height:87px;line-height:30px; float:left; display:inline;}
.tb_four ul li img{  padding:2px; width:50px; height:50px;}
.tb_four ul li label{ display:block; width:56px; height:56px; position:relative;}
.tb_four ul li input{ position:absolute; left:-5px; bottom:-8px; }
.tb_four .full{ clear:both; height:58px; padding-top:5px;}
.tb_four .full span{  float:left; padding:0 10px 0 70px; line-height:35px; }
.tb_four .listendown{ width:93px; height:31px; background-position:0 -57px; display:block; float:left; }
/*Hot_News*/
.pub_news_l,.pub_news_r{ width:310px; float:left;}
.pub_news_l{ margin-right:27px;}
.photo_news img{ width:111px; height:85px; margin:0 10px 10px 5px;}
.photo_news ul,.ft_photonews ul{ clear:both;}
.photo_news_info p{ line-height:24px;}
.fangtan .ft_h3{ padding:0 0 7px 5px;}
.fangtan .ft_photonews img{width:96px; height:64px; margin:5px 14px 12px 5px;}
.fangtan .ft_photonews .ftnews_info { float:left; width:125px;}
.fangtan .s_banner img{ width:238px; height:80px; margin:11px 0 9px 7px; }
.fangtan .don_info{ padding-bottom:10px;}
.fangtan .don_info  li{ height:24px;}
/*Tencent_Foundation*/
.Tencent_Foundation .pub_left{ padding-top:22px;}
.pro_list span{ float:left; margin:0 8px 0 5px;}
.pro_intro{ line-height:24px; padding-left:5px;}
.pro_list ul li{ float:left; width:115px; margin-left:5px; height:24px;}
/*Charity_Promotion*/
.turn_l,.turn_r,.pic_listcon{ float:left; height:102px;}
.turn_l,.turn_r{ width:17px; }
.turn_l a,.turn_r a{ width:17px; height:43px; display:block;margin-top:30px;}
.turn_l a{ background-position:0 -89px;}
.turn_r a{ background-position: -18px -89px;}
.pic_listcon{ width:906px; margin-left:12px; position:relative; overflow:hidden;}
.pic_listcon ul{ width:140px; height:102px;overflow:hidden; position:relative; float:left; margin-right:11px; text-align:center;}
.pic_listcon ul span,.pic_listcon ul b{width:140px ;height:27px; position:absolute; left:0; bottom:0;}
.pic_listcon ul span{  background:#000;filter:alpha(opacity=50); -moz-opacity:0.5; opacity: 0.5; display:block;}
.pic_listcon ul b{  line-height:27px; color:#fff; }
/*Partners*/
.Partners h3{ line-height:35px; clear:both;}
.Partners .p_title{ background:#f1f4e9; border-top: solid 1px #bad29f; height:37px;}
.Partners ul li{ float:left;}
.hezuohb{ padding-left:10px;}
.Partners .hezuohb ul li{ height:80px; }
.Partners .hezuohb ul li img{ width:; margin:0 7px 0 0; width:124px; height:66px; }
.Partners .hezuohb .meitihz span{padding: 0 5px 0 7px; }
/*about*/
.about{ padding:10px 8px; background:#f5f5f5; border: solid 1px #d2d5d4;}
.about .p1{ border-bottom: solid 1px #e0e2e2; padding-bottom:4px; margin-bottom:4px;}
.about .p1 span{ padding-right:8px;}
.about .p3 span{ float:right;}
/*footer*/
#footer{ clear:both; text-align:center; color:#aaaaaa; padding:20px 0 30px; }
#footer a{ color:#aaa; }

/*2011-07-27penwand add QQ_lv1*/
.gongyi_level{width: 53px;  float: left; height: 22px; margin:0 0px 0 0px; margin-top:7px;}
.gongyi_level.open{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_bak.png) no-repeat 4px 3px;}
.gongyi_level.close{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_bak.png) no-repeat 3px -16px;}
.gongyi_level.open .lv{ background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/lv.png) no-repeat 0px 0px; float:left; width:14px; height:22px; margin-left:20px; }
.gongyi_level.close .lv{ background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/lv.png) no-repeat -15px 0px; float:left; width:14px; height:22px; margin-left:20px; }
.gongyi_level.open em{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 22px; margin-right:10px;}
.gongyi_level.close em{ background: url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/close_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 22px; margin-right:10px;}
.gongyi_level em.num1{ background-position:0px 1px;}
.gongyi_level em.num2{ background-position:-27px 1px;}
.gongyi_level em.num3{ background-position:-56px 1px;}
.gongyi_level em.num4{ background-position:-85px 1px;}
.gongyi_level em.num5{ background-position:-113px 1px;}
.gongyi_level em.num6{ background-position:-143px 1px;}
.gongyi_level em.num7{ background-position:-172px 1px;}
.gongyi_level em.num8{ background-position:-201px 1px;}

/*gy_zixun*/
.t_banner{ width:950px; height:90px; margin:10px 0 16px 0;}
.info_left{width:630px; padding:0 8px 9px 8px; height:1590px; border: solid 1px #e3e7e8; float:left; overflow:hidden;}
.zixun_list{ padding:0 0 20px 0;}
.info_left .zixun_list ul li{ padding-left:18px; height:24px; line-height:24px;  background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/icon1.png) no-repeat 10px 10px;}
.info_left .zixun_list .i_tit{font-size:14px; color:#333; width:375px; float:left;}
.info_left .zixun_list .i_date{ color:#9c9c9c;}
.info_right{float:right;}
.gy_tuijian,.jxjz,.xwrd,.gy_gushi{width:281px; border: solid 1px #e3e7e8; overflow:hidden; background:#fff; padding:5px 5px 5px 10px; margin-bottom:10px;}
.gy_tuijian{ height:288px;}
.gy_tuijian ul li{ width:134px; height:110px; margin:0 6px 0 0; padding-bottom:14px; float:left; text-align:center;}
.gy_tuijian ul li p{line-height:16px; height:16px; margin-top:4px; color:#333;}
.zx_banner1{margin:0 0 10px 5px;}
.jxjz{height:413px;}
.jxjz_p1{width:266px; margin:10px 0 0 8px; line-height:20px;}
.jxjz ul li{ padding-left:18px; line-height:20px; height:20px; margin:4px 0 4px 0; background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/icon1.png) no-repeat 10px 8px;}
.yjjj{ border-top:solid 1px #e3e7e8; margin-left:12px; padding-top:10px;}
.jj_img{ margin-right:10px; float:left;}
.jj_img img{border:solid 1px #cfcfcf;}
.jj_con{ float:left; width:178px;}
.jj_tit{ font-size:14px; font-weight:bold;}
.zx_ktyj{background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/jkst_btn.jpg) 0 -136px; width:80px; height:30px; display: inline-block; margin:5px 0 0 25px;}
.ktyj_num{margin:0 0 10px 15px;}
.ktyj_num span{ font-weight:bold;}
.xwph{width:298px; border: solid 1px #e3e7e8; overflow:hidden; background:#fff; padding-bottom:10px; margin-bottom:10px;}
.xwph .xw_title .xw_ph{ width:136px; float:right; border-bottom:solid 1px #e6eaeb; border-left:none; background-color:#FFF; color:#3f3f3f;}
.xw_title{ height:32px; margin-bottom:10px; overflow:hidden;}
.xw_title span{width:78px; float:right; border:solid 1px #e6eaeb; border-top:none; font-size:14px; display:inline; height:30px; line-height:30px; text-align:center; background:#f5f5f5; cursor:pointer;}
.xw_title span.on{border-bottom: solid 1px #fff; background:#fff; font-weight:bold;}
.xw_con{width:298px;display:none;}
.xw_con.on{ visibility:visible; display:inline-block;}
.xw_con li{height:22px; line-height:22px; color:#3f3f3f; display:inline-block; overflow:hidden;}
.xw_con .xw_num{ color:#fff; width:16px; height:15px; line-height:15px; display:inline-block; text-align:center; background:url(http://mat1.gtimg.com/gongyi/2011images/htdocs/images/num_bg2.png) no-repeat 0 -15px; margin:0 10px 0 15px;}
.xw_con li:hover span{background-position:0 0;}
.xwrd{ height:243px;}
.xwrd_top{border-bottom: solid 1px #e3e7e8; margin:0 0 12px 0; padding-bottom:10px; width:272px;}
.xwrd_top h1{ font-size:16px; font-weight:bold; text-align:center;}
.xwrd_top p{text-align:center;}
.wxrd_con{ margin-bottom:15px;}
.wxrd_con img{ float:left; margin-right:10px;}
.wxrd_con ul{ float:left;}
.gy_gushi{ height:295px;}
.gy_gushi ul li{ width:134px; height:110px; margin:0 6px 0 0; padding-bottom:14px; float:left; text-align:center;}
.gy_gushi ul li p{line-height:16px; height:16px; margin-top:4px; color:#333;}
/*turn_page*/
.turn_page{ text-align:center; padding-bottom:10px;}
.turn_page a{ padding:2px 8px;border:1px solid #dedede; color:#999999}
.turn_page a{bblr:expression(this.onFocus=this.blur());/*IE使用*/
			outline-style:none;/*FF使用*/}
.turn_page a.current{ background:#dedede}
.turn_page a:hover{background:#dedede; text-decoration:none;}/*  |xGv00|0deec9aea7f5f8ddbe365ef441d71d44 */