@charset "gb2312";
/* 头部点亮图标 */
.gongyi_level.open {
    background: url("http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_bak.png") no-repeat scroll 4px 3px transparent
}

.gongyi_level {
    float: left;
    height: 22px;
    margin: 7px 0 0;
    width: 53px;
}
.gongyi_level.open .lv {
    background: url("http://mat1.gtimg.com/gongyi/2011images/htdocs/images/lv.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    margin-left: 20px;
    width: 14px;
}
.gongyi_level em.num1 {
    background-position: 0 1px;
}

.gongyi_level.open em {
    background: url("http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_num.png") no-repeat scroll 0 1px transparent;
    float: right;
    height: 22px;
    margin-right: 10px;
    width: 8px;
}

/*end */
/* CSS Document */
body{ background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/bg.png) repeat-x top #fff;margin:0; padding:0; font-size:12px; color:#3f3f3f; line-height:20px;}
a,ul,li,p,h1,img,h2,h3,dl,dt,dd{ margin:0; padding:0; list-style-type:none; text-decoration:none; border:none}
a{color:#057d02}
a:hover{ text-decoration:underline; cursor:pointer}
input,textarea,.from{ font-size:12px;}
img{ border:none; vertical-align:middle;}
.block{ height:12px;clear:both;}
h2,h3,.one_r,.weibo{ font-size:14px;}
.bd{ border: solid 1px #e3e7e8; padding:0 10px; margin-bottom:12px; clear:both;}
/*a_style*/
.head,.head .h_top span a{ color:#8a8a8a;}
.login ul li a,.rec_listen ul li a,.help ul li a{ color:#3e3e3e;}
/*line-height*/
.one_r,.help ul li{ line-height:22px;}
.list_r{ line-height:18px;}
.weibo ul li{ line-height:24px;}
/*color*/
.cor1{ color:#999;}

/*index.css*/
.top,.main_content{ width:950px; margin:0 auto;}
.head{ height:134px; padding-top:2px; background:url(http://mat1.gtimg.com/gongyi/2011img_bak/head_bg.png) no-repeat right 58px;}
.head .i_logo{background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/logo.png) no-repeat 0 0;height:46px; width:266px; display:block;}
.head .h_top span{ float:right; margin-top:17px;}
.head .h_top span a{ margin:0 5px;}
.npo_tit{ width:950px; height:38px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/tit_bg.jpg) no-repeat;}
.tit_p{ font-size:14px; color:#2d2d2d; font-weight:bold; height:26px; line-height:26px; margin:0 0 0 92px;}
.npo_con{ width:950px; margin-bottom:30px;}
.npo_con .con_left{ width:708px; border:solid 1px #e3e7e8; border-top:none; border-bottom:none; float:left;} 
.npo_con .b_bottom{ border-bottom:solid 1px #e3e7e8;} 
.npo_con .con_left .wbjf{ width:650px; margin:7px 0 0 12px; padding-left:44px; height:36px; line-height:36px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/bg_03.jpg) left no-repeat;}
.wb_huati{ width:708px; height:40px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/bg_06.jpg) bottom repeat-x;}
.wb_huati .ht_con{ padding:10px 0px 10px; float:left;}
.wb_huati .ht_con a{ padding:0 24px; border-right:solid 1px #e3e7e8; font-size:14px; line-height:14px; text-decoration:none;}
.wb_huati .ht_con.on{ background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/bg_07.jpg) bottom no-repeat;}
.wb_huati .ht_con.on a{ color:#575757;}
.wb_huati .ht_con.last a{ border:0;}
.wb_con{ width:708px; height:285px;}
.wb_con .wb_dy{ float:right; margin:15px 26px 0 0 ; display:inline;}
.wb_con .con_tit{ font-size:18px; clear:both; margin:0 0 5px 20px;}
.wb_con .con_js{ margin:0 26px 0 20px; color:#999;}
.wb_con .talkbox{ width:668px; height:78px; border:solid 1px #e3e7e8; margin:15px 0 15px 20px;}
.wb_con .counttxt{ width:230px; color:#999; height:30px; line-height:30px; float:right; display:inline; margin-right:20px;}
.wb_con .counttxt .num1{ font-size:20px; font-weight:bold; vertical-align:middle;}
.wb_con .counttxt .num2{ font-size:22px; font-weight:bold; vertical-align:middle;}
.wb_con .counttxt .num3{ font-size:24px; font-weight:bold; vertical-align:middle;}
.wb_con .wb_gb{ width:112px; height:30px; display:inline-block; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/wb_btn.png) no-repeat; float:right;}
.cy_weiai{ width:708px; height:130px; border-bottom:solid 1px #e3e7e8;}
.weiai_tit{ height:40px; padding-top:16px;}
.cy_weiai .cy_buzhou{ width:708px; height:72px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/bg_04.jpg) no-repeat;}
.cy_weiai .cy_buzhou span{ color:#057d02; font-size:16px; font-weight:bold; margin-right:10px;}
.cy_weiai .cy_buzhou a{ width:121px; margin-right:12px; padding-left:94px;height:72px; line-height:72px; color:#2d2d2d; font-size:14px; float:left; display:inline-block;}
.cy_weiai .cy_buzhou a:hover{text-decoration:none;}
.npo_con .con_right{ width:230px; float:right;}
.npo_con .con_right2{ width:240px; float:right;}
.pub_title_line{ padding-left:7px; border-bottom: solid 1px #e4e7e9; font-size:14px; font-weight:bold; line-height:30px;}
.pub_title_line_l{padding-left:7px; border-bottom: solid 1px #e4e7e9; font-size:14px; font-weight:bold; line-height:30px; margin:0 14px 0 8px;}
.wbtgy{ float:left; display:inline;}
.wb_more{ float:right; display:inline; font-weight:normal; color:#575757;}
.tj_huodong{ width:660px; margin:15px 0 20px 16px; line-height:22px;}
.tj_huodong .hd_img{ float:left; border:0; margin-right:10px; width:100px; height:100px;}
.tj_huodong .hd_tit{ font-size:14px; font-weight:bold; line-height:24px;}
.hd_list{ width:690px; margin-left:16px;}
.hd_list .hd_con{ width:300px; margin-bottom:30px;}
.hd_list .hd_con img{ float:left; border:0; margin:5px 10px 0 0;}
.hd_list .hd_con a{ font-size:14px;}
.hd_list .hd_con p{ line-height:18px;}
.hd_list .hd_con span{ color:#999;}
.hx_top{ width:670px; line-height:24px; margin:10px 0 10px 16px;}
.tc_chanpin{ width:670px; margin:0 0 20px 16px;}
.qun_shenqing{ font-size:14px; margin-top:15px; float:right; font-weight:bold;}
.tuichu_p{ font-size:14px; font-weight:bold; line-height:40px;}
.tuchu_img {margin}
.jj_tuichu{ width:877px; margin-left:0px; padding-bottom:20px;}
.jj_tuichu .qq_qiye,.gy_wkj,.tx_gg{ text-align:center; float:left; margin-right:40px;}
.jj_tuichu .qq_qiye p,.gy_wkj p{ margin-top:15px; font-size:14px;}
.jj_tuichu .tx_gg{ margin:0 0 0 0px;}
.jj_tuichu .tx_gg p{ margin-top:13px; font-size:14px;}
.q_a_zuzhi,.q_a_wangyou{ margin:10px 0;}
.q_a_tit{ color:#9a9a9a; margin-bottom:10px;}
.q_a_con{ height:20px; line-height:20px; padding-left:10px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/bg_05.png) no-repeat left 7px;width:200px;}
.q_a_con a{color:#3F3F3F }

.fd_l{ float:left;}
.fd_r{ float:right;}
.clearFix{zoom:1}
.clearFix:after{content:"\0020"; height:0; display:block; clear:both;}

.bottom_box{ height:205px; margin:10px 0 15px;}
.prev,.next,.wyjk,.wyjk1,.phone,.vip,.luser_login,.login ul li,.help ul li,.ax,.listendown
{background:url(http://mat1.gtimg.com/gongyi/2011images/donate/images/btn.png) no-repeat 0 0; display:block; overflow:hidden;}
.cy_liucheng li a{ background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/liucheng.png) no-repeat 0 0;}
.cy_liucheng h3{ margin:0px 0 10px 8px;}
.cy_liucheng li a{ width:141px; height:53px; margin-bottom:5px; padding-left:88px; line-height:53px; background-position:0 -204px; color:#2c2c2c; font-size:14px; display:block;}
.cy_liucheng li .step2{ background-position:0 -262px;}
.cy_liucheng li .step3{ background-position:0 -320px;}
.cy_liucheng li .step4{ background-position:0 -379px;}
.cy_liucheng .tips{ padding:10px 0 34px;}
/*imgbox*/
.imgbox{ width:708px; height:205px;float:left;}
.imgbox .focu_spic{ height:205px;position:relative; overflow:hidden;}
.imgbox .focu_spic img{ width:708px; height:205px;}
.imgbox .focu_spic .play_set{ position:absolute; right:8px; bottom:7px; width:100px; color:#fff; font-family:Tahoma; font-family:11px;}
.imgbox .focu_spic .play_set a{ float:left; display:inline-block; width:15px; height:17px; margin-right:4px; }
.imgbox .focu_spic .play_set .prev{ background-position:-71px -71px;}
.imgbox .focu_spic .play_set .on{ background-position:-90px -71px;}
.imgbox .focu_spic .play_set .next{ background-position:-109px -71px;}
.imgbox .focu_spic .play_set .num{ margin-left:6px;}
.imgbox .focu_spic .play_set .num span{  margin:0 1px 0 3px;}
/*imgbox_end*/
/*lunbo*/
.lb_toggle{position:absolute;bottom:5px; right:0px;overflow:hidden;}
.lb_toggle li{float:left; width:21px; height:20px; margin-right:5px;}
.lb_toggle a{width:19px;height:18px; border:solid 1px #bfbfbd; color:#898989; background-color:#fff; font-size:12px; display:block; text-align:center;}
.lb_toggle a.current1,
.lb_toggle a:hover{ width:21px; height:20px; color:#fff; background-color:#6c6c6c; border:0; text-decoration:none;}

/*intro*/
.npo_intro{ width:239px; height:203px; border:solid 1px #e3e7e8; float:left;background:url(http://mat1.gtimg.com/gongyi/2011images/npo/pic/zhuli_img.jpg)}
.intro_tit{ width:115px; height:27px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/bg_01.jpg) no-repeat; text-align:center; font-family: "微软雅黑"; margin-top:9px; line-height:27px;}
.intro_con{ width:204px; font-size:12px; line-height:20px; color:#575757; margin:50px 0 5px 20px;}
.xx{color: #057D02; display:inline-block;}
.intro_link{ width:170px; height:20px; padding-left:8px; margin-left:25px; line-height:20px; display:block; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/images/bg_02.png) no-repeat left 8px;}

/*listen*/
.btn a,.rec_listen .listendown,.program_ct .open_btn,.prev,.next,.sub_btn,.ckczxx_btn,.ins_open
{background:url(http://mat1.gtimg.com/gongyi/2011images/2011loveplan_v2/public/images/jkst_btn.jpg) no-repeat  0 0;}
.rec_listen ul li{ margin:10px 16px 0 10px; text-align:center; height:79px;line-height:30px; float:left; display:inline;}
.rec_listen ul li.li_right{ margin-right:0;}
.rec_listen ul li img{ border: solid 1px #dcdcdc; width:50px; height:50px;}
.rec_listen ul li label{ display:block; width:56px; height:56px; position:relative;}
.rec_listen ul li input{ position:absolute; left:-5px; bottom:-3px; }
.rec_listen .full{ clear:both; height:58px; padding:20px 0 15px 260px;}
.rec_listen .index_full{ padding-left:76px;}
.rec_listen .full span{  float:left; line-height:35px; }
.rec_listen .listendown{ width:93px; height:31px; margin-left:10px; background-position:0 -105px; display:block; float:left; }

/*NPO_Platform*/
.pub_right2{ width:238px; float:right; overflow:hidden;}
.jigou ul li{ height:66px; }
.jigou ul li img{ width:48px; height:48px; margin:0 9px 0 12px; float:left;border: solid 1px #e3e7ea;}
.jigou_t1 span{ width:134px;}
.label_title{border-bottom: solid 1px #e3e7e8; height:33px; margin:0 0 12px 0; clear:both;}
.l_t_right{width:220px; margin-left:10px;}
.label_title h2{ line-height:33px; padding-left:5px;}
.label_title .more{ float:right; margin:8px 7px 0 0;}
.label_title .more a{ color:#575757;}
/*tab切换*/
.tb_title span{ float:left; border-left: solid 1px #e3e7e8;border-bottom: solid 1px #e3e7e8; margin-left:-1px; background:#f5f5f5; line-height:28px; text-align:center; font-weight:100; margin-bottom:12px; cursor:pointer; display:inline;}
.tb_title span.on{ border-bottom: solid 1px #fff; background:#fff; font-weight:bold;}
.con{width:268px;}




/*介绍页面*/
.font_L{ font-size:28px; color:#387513;}
.font_S{ font-size:12px; color:#387513; font-weight:bold;}
.about_main{ width:948px; border:solid 1px #e3e7e8; margin:15px auto; background:#fff;}
/*
.about_top{ width:920px; padding-left:28px; height:230px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/npo_about/images/bg_01.jpg) right no-repeat;}
*/
.about_top{  background: url("") no-repeat scroll right center transparent;padding-bottom: 10px;padding-left: 28px;width: 920px;}

.about_top .zl_tit{ margin:28px 0 28px 300px; width:350px; font-family: "微软雅黑"; color:#6f6f6f; font-size:18px; font-weight:bold; line-height:28px;}

/*
.about_top .zl_txt{ color:#3f3f3f; font-size:14px; line-height:22px; width:630px; margin-bottom:24px;}
*/
.about_top .zl_txt{ color:#3f3f3f; font-size:14px; line-height:22px; width:900px; margin-bottom:24px;}

.top_con{ width:948px; height:206px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/npo_about/images/bg_02.jpg) no-repeat; margin-bottom:30px;}
.top_con .liaojie{ width:240px; height:181px; padding:25px 0 0 27px; float:left;}
.top_con .lj_tit,.top_con .xx_tit,.top_con .gz_tit{ color:#3f3f3f; font-size:14px; font-family: "微软雅黑"; height:28px; line-height:28px; border-bottom:solid 1px #c3d5b8; padding-bottom:7px; margin-bottom:18px;}
.top_con .lj_tit{ width:202px;}
.top_con .lj_txt{ color:#3f3f3f; font-size:12px; line-height:22px;}
.top_con .xiangxin{ width:311px; height:181px; padding:25px 0 0 27px; float:left;}
.top_con .xx_tit{ width:202px;}
.top_con .xx_txt{ color:#3f3f3f; font-size:12px; line-height:28px;}
.top_con .gongzhu{ width:313px; height:181px; padding:25px 0 0 27px; float:left;}
.top_con .gz_tit{ width:194px;}
.top_con .gz_txt{ color:#3f3f3f; font-size:12px; line-height:28px;}
.zl_main .m_top{ width:948px; height:451px; margin-bottom:50px;}
.zl_main .m_con{ width:877px; margin-left:36px; padding-bottom:25px; border-bottom:solid 1px #e5e6e8; margin-bottom:20px;}
.zl_main .m_con0{ width:877px; margin-left:36px; padding-bottom:25px; border-bottom:solid 0px #e5e6e8; margin-bottom:20px;}

.zl_main .m_con.last{ border-bottom:0; margin-bottom:0; padding-bottom:20px;}
.zl_main .m_tit{ font-size:14px; color:#2d2d2d; font-weight:bold; height:16px; margin-bottom:10px; float:left;}
.zl_main .tit_link{ font-size:14px; height:16px; float:right;}
.zl_main .m_txt{ clear:both; font-size:14px; color:#3f3f3f; line-height:24px;}
.zl_main .m_ft{ width:948px; height:55px;}
.canjia_zl{ width:653px; padding-left:27px; height:377px; float:left;}
.cj_tit{ width:640px; padding:9px 0 0 23px; height:26px; border-bottom:solid 1px #e3e7e8; color:#3f3f3f; font-size:14px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/npo_about/images/bg_03.jpg) 13px 12px no-repeat; font-weight:bold;}

.cj_con{ width:636px; height:340px; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/npo_about/images/bg_04.jpg) no-repeat;}
.cj_con .cj_step1,.cj_con .cj_step2,.cj_con .cj_step3_1,.cj_con .cj_step3_2,.cj_con .cj_step3_3{ width:173px; height:82px; text-align:center;}
.cj_con .cj_step1{ margin:123px 0 0 17px; float:left; display:inline;}
.cj_con .p1{ font-size:14px; color:#3f3f3f; line-height:50px;}
.cj_con .p2{font-size:12px; color:#3f3f3f; line-height:32px;}
.cj_con .pingtai{ color:#357311;}
.cj_con .cj_step2{ margin:123px 0 0 42px; float:left; display:inline;}
.cj_con .cj_step3{ float:left; margin:16px 0 0 57px; display:inline; width:173px;}
.cj_con .cj_step3_2{ margin-top:25px;}
.cj_con .cj_step3_3{ margin-top:21px;}
.jijinhui{ float:right; width:250px;}
.jjh_tit{ margin-left:7px; width:230px; height:36px; border-bottom:solid 1px #e3e7e8; line-height:36px; color:#3f3f3f; font-size:14px; font-weight:bold; margin-bottom:14px;}
.jjh_con{ width:224px; margin-left:10px; padding-bottom:25px;}
.jjh_pic{ width:100px; margin-right:8px; float:left;}
.jjh_pic img{ width:98px; height:98px; border:0; border:solid 1px #e4e7e9;}
.jjh_pic .shouting{ width:73px; height:21px; display:block; background:url(http://mat1.gtimg.com/gongyi/2011images/npo/npo_about/images/btn_01.png) no-repeat; margin:14px auto 0;}
.jjh_con p{ width:116px; color:#3f3f3f; font-size:12px; line-height:20px; float:left;}/*  |xGv00|47bb2cf427e825eeccafe772fd750bd3 */