@charset "gb2312";
/*reset*/
body {text-align:center;font-family:"宋体";background:#ffffff;font-size:12px;}
body,div,p,dl,th,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}
div {overflow:hidden;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{ margin:0 auto;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}  
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
a {color:#333;text-decoration:none;}
a:visited {color:#333;text-decoration:none;}
a:hover {color:#2A66C1;text-decoration:underline;}
a:active {color:#2A66C1;}

/*layout*/
.blankW {background:#fff;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block;}
.blank5 {clear:both; height:5px; overflow:hidden; display:block;}
.blank8 {clear:both; height:8px; overflow:hidden; display:block;}
.blank10 {clear:both; height:10px; overflow:hidden; display:block;}
.blank9w {background:#ffffff; clear:both; height:9px; overflow:hidden; display:block;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}
.area { width:960px; padding:0 5px; margin:0 auto;overflow:hidden;}
.colL { width:312px; float:left; }
.colC { width:382px; float:left; margin-left:8px; display:inline; }
.colR { width:251px; float:right;}
.colL_l { width:701px; float:left; overflow:hidden; text-align:left}
.colR_r{ width:251px; float:right;overflow:hidden;text-align:left;}
.ad250 { border:1px solid #B6DEF8; padding:3px;overflow:hidden; background:#F2F8FD; }

/* Clear Fix */ 
.cl{zoom:1;}
.cl:after{content:" ";display:block;clear:both;height:0; }
.clear {clear:both; height:0; display:block;}
/* public*/
.hd,.bd,.ft{width:100%; }
a{color:#333;text-decoration:none;}
a:hover{color:#2A66C1;text-decoration:underline;}
.wrap{width:960px; margin:0 auto; *zoom: 1;overflow:hidden;}
.inner{}
.dis{display:block}
.undis{display:none}
.fl{float:left; display:inline;}
.fr{float:right;}
.fontht{font-family:黑体;}
.fontar{font-family:arial;}
.font2em{text-indent:2em;}
.white1,.white1 a,.white1 a:hover{color:#fff}
.red1,.red1 a,.red1 a:hover{color:#ECA50D}
.gary666,.gary666 a,.gary666 a:hover{color:#666}
.font14{font-size:14px;}
.cWhite,.cWhite:visited,.cWhite a,.cWhite a:visited {color:#fff;}
.cYellow,.cYellow:visited{color:#ff0;}
.cGreen,.cGreen a,.cGreen a:visited{color:#97B81F;}
.cLGray,.cLGray:visited,.cLGray a,.cLGray a:visited {color:#333;}
.cGray,.cGray:visited,.cGray a,.cGray a:visited {color:#8692A4;}
.cDGray,.cDGray:visited,.cDGray a,.cDGray a:visited {color:#727171;}
.cBlack,.cBlack:visited,.cBlack a,.cBlack a:visited {color:#000;}
.cBlue,.cBlue:visited,.cBlue a,.cBlue a:visited {color:#2A66C1;}
.cRed,.cRed:visited,.cRed a,.cRed a:visited {color:Red;}
.cDRed,.cDRed:visited,.cDRed a,.cDRed a:visited {color:#DB3514;}
.cOrange,.cOrange:visited,.cOrange a,.cOrange a:visited {color:#D5820A;}
.cDOrange,.cDOrange:visited,.cDOrange a,.cDOrange a:visited {color:#D5820A;}
.cRed a:hover,a.cRed:hover,.cBlue a:hover,a.cBlue:hover,.cDRed a:hover,a.cDRed:hover,.cDOrange a:hover,a.cDOrange:hover,.cLGray a:hover,a.cLGray:hover,.cGray a:hover,a.cGray:hover,.cDGray a:hover,a.cDGray:hover,.cWhite a:hover,a.cWhite:hover,.cBlack a:hover,a.cBlack:hover,.cGreen a:hover,a.cGreen:hover,.cYellow a:hover,a.cYellow:hover{color:#FB5700;}
.fB{font-weight:bold;}
.fI{font-style: italic;}
.fn { font-weight:normal;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.left{float:left;}
.right{float:right;}
.hidden{display:none;}
a.unLine,.unLine a{text-decoration:none;}
a.underLine,.underLine a{text-decoration:underline;}
.noBorder{border:none;}
.txt_l { text-align:left;}
.txt_r { text-align:right;}
.txt_m { text-align:center;}
.more { float:right; margin-right:12px;  font-size:12px; font-weight:normal; color:#08559C;}
.dotlinew {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/bg3px.gif) repeat-x 0px 0px; height:1px; clear:both;margin:8px auto;}
.dotline {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/bg3px.gif) repeat-x 0px -100px; height:1px; clear:both; margin:6px auto;}

/*head nav*/
body {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/bg3px.gif) repeat-x 0 -167px;}
.banner { width:960px; margin:0 auto;}
.top { width:960px; margin: 0  auto;height:30px; line-height:20px; vertical-align:middle; text-align:right;}
.top a:link,.top a:visited { color:#666;}

/*left*/
.focus_pic {height:225px; width:310px; border:1px solid #CCE7FF}
.blog_tit  h2{background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png)  no-repeat  0 -321px; height:29px; line-height:29px; text-align:left; font-size:14px; color:#08559C; 
font-weight:bold; padding-left:35px;}

.blog_con { border:1px solid #CCE7FF; text-align:left; width:298px; height:200px; padding:10px 0px 0px 10px; float:left;}
.blog_con a{ display:block; width:64px; height:26px;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png)  no-repeat -554px 0; text-align:center; line-height:26px; vertical-align:middle; float:left; margin:0 10px 11px 0; display:inline; color:#08559C;}
.blog_con a:hover{background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png)  no-repeat -480px 0;color:#000; text-decoration:none;}

.blog_list { overflow:hidden; text-align:left;}
.blog_list li {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/dotlineb.gif)  no-repeat bottom; padding:0px 0px 0px 0px; margin-bottom:11px; clear:both; line-height:20px;height:70px; }
.blog_list li img { float:left; display:inline; margin:0px 12px 10px 2px; border:1px solid #C2D0E3; padding:3px;}
.blog_list li a,.blog_list li a:visited { color:#2A66C1;}
.blog_list li span { line-height:18px;}
.newslist  { padding-bottom:10px; text-align:left;}
.newslist li {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.jpg)  no-repeat; height:22px; line-height:22px; padding-left:20px; white-space:nowrap; overflow:hidden; width:276px;}
.newslistb {  padding-top:5px; padding-bottom:0;}
.newslistb li { background:none; padding-left:20px; color:#08559C;}
.newslistb li a{ color:#08559C;}
.f14px { padding-top:10px;padding-bottom:0px;}
.f14px li  {width:340px;  line-height:26px; height:26px;}
.f14px li  a.vico {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/vico.gif)  no-repeat right center; padding-right:20px; }
.toutiaolist li {background:none;width:340px;padding-left:10px;}
/*center*/
.colC_title {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png)  no-repeat;}
.toutiao {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png)  no-repeat top left; padding:10px 10px 0 10px;}
.news_toutiao h1 { font-size:18px; font-family:"黑体"; line-height:35px;}
.news_toutiao h1  a,.news_toutiao h1 a:visited { color:#2A66C1;}
.news_toutiao dd { line-height:22px;}
.colC_title h2 {font-size:14px; font-weight:bold;color:#333; height:25px; line-height:25px; padding-left:25px; text-align:left;}
.colC h3 {font-size:12px; font-weight:bold;color:#2A66C1; height:30px; line-height:30px; padding-left:8px; text-align:left;}
.colC h3 a,.colC h3 a:visited {color:#2A66C1;}
.colC_tit { border-top:1px solid #E0EBF6;}
/*right*/

.theday { height:30px;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; font-size:14px; font-weight:bold; color:#fff; text-align:left; line-height:30px; vertical-align:middle; padding-left:12px; }
.box_con { border:1px solid #CCE7FF; border-top:none; padding:12px 10px; background:#F2FAFF; zoom:1;}
.box_conbgw { background:#fff;}
.box_conbgw1 { background:#fff; padding:0; border-left:1px solid #C3E7FB; border-bottom:none;}
.box_conbdr { border:1px solid #EBEBEB;border-top:none; }
.box_conbdr1 { border:1px solid #EBEBEB;border-top:0; padding:0px; }
.img_area { float:left; margin-right:10px; display:inline;}
.img_area img { border:1px solid #B6DEF8; padding:2px;}
.text_area { line-height:22px; color:#333; text-align:left;}
.txt_m a,.txt_m a:visited{ font-size:14px;color:#2A66C1; line-height:30px;}
.piclist li { float:left; width:75px;}
.piclist li img { padding:2px; border:1px solid #C2D0E3;}
.jiabin {border:1px solid #B6DEF8;}
.jiabin_tit {color:#000; font-weight:bold; text-align:left; line-height:25px; padding-left:10px;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/bg3px.gif) repeat-x 0 -140px; clear:both;}
.jiabin_tit em { font-size:10px;}
.piclist1 li {width:112px;}
.piclist1 li img { display:block; margin-bottom:5px;}

/*picnews*/
.pic_news h2 {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; height:39px; }
.pic_news_list { padding:20px 15px; border:1px solid #B6DEF8; border-top:none;}
.pic_huigu_list { padding:4px 0px 0px 4px; float:left; width:292px;}
.pic_huigu_list li{width:126px; padding-bottom:5px; margin-right:20px;}
.pic_news_list li,.pic_big_list li {width:154px; float:left;}
.pic_news_list li img,.pic_huigu_list li img { display:block; margin:5px auto;}
.pic_big_list  { border:none; width:620px; float:left;}
.pic_big_list li img { padding:0;}
.title {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; height:39px; }
.title h2 { font-size:14px; color:#fff; font-weight:bold; text-align:left;}
.news_list_box .f14px { padding:15px 12px;}
.pic_mt_list li { width:136px; text-align:center; padding-bottom:12px;}
.pic_mt_list li img{ margin-bottom:8px; display:block; }

.colL_l_tit {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; height:29px; line-height:29px; vertical-align:middle; padding-left:30px; color:#08559C; font-size:14px; font-weight:bold;}
.colL_l_yilan {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; height:39px; }

.dianping { float:right; width:380px;}
.province { height:119px; border-bottom:1px solid #C3E7FB;}
.province .name {width:101px; height:119px; float:left;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; font-weight:bold; font-size:14px; line-height:119px; vertical-align:middle; text-align:center; margin-right:5px; display:inline;}
.province .province_m { width:450px; float:left; line-height:25px;}
.province_m_t {background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/bg3px.gif) repeat-x 0 56px; height:48px; padding:5px;}
.province_m_t h3  {font-weight:bold; font-size:14px;}
.province .province_r { float:right; width:117px; margin:8px 16px 0 0;display:inline;height:119px;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat;}
.province_r a.ping { width:117px; height:42px; display:block;}
.province_r a.write { width:117px; height:42px; display:block; margin-top:20px;}
.nan { margin-left:40px;}
.nan label { padding:0 5px;}
.submitbt { width:44px; height:20px;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; border:none; display:inline-block; line-height:20px; cursor:pointer;vertical-align:middle; margin:0 20px; color:#2C2D31;}
.submitbt1 {width:50px; height:22px;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; border:none; display:inline-block; line-height:20px; cursor:pointer;vertical-align:middle; margin:5px 15px; color:#D5820A;}
.province_m_b span { height:25px; display:block; float:left;}
.province_m_b p.txt_m { line-height:30px; height:30px; clear:both;padding-top:3px; vertical-align:middle;}

.linian { padding:10px 10px 13px 10px; line-height:22px;}
.linian a { padding:0 7px;}
.linian  a:link, .linian  a:visited { color:#08559C;}
.formstyle { padding:0 20px; clear:both;}
.formstyle label { padding:0px 12px;line-height:27px; height:27px; margin:0; vertical-align:middle; display:inline-block;}
.fabiaopinglun { display:block; width:140px; height:40px;background:url(http://mat1.gtimg.com/edu/gk2010/zuowen/icon.png) no-repeat; margin:5px auto;}
.net_friend { border:1px solid #ccc; height:220px; overflow:hidden;}
/*css sprite*/
.submitbt {background-position: -710px 0px;}
.province .name {background-position: -859px -150px;}
.province .province_r{background-position: right top;}
.colL_l_tit {background-position: 0px -350px;}
.colL_l_yilan {background-position: 0px -381px;}
.blog_title1 {background-position: -402px -24px;}
.newslist li {background-position: -947px 8px;}
.f14px li  {background-position:-947px 11px;}
.colC_title {background-position: -330px -322px;}
.theday {background-position: 0px -291px;}
.pic_news h2 {background-position: 0 -461px;}
.title {background-position: 0 -420px;}
.fabiaopinglun {background-position: -815px -380px}
.submitbt1 { background-position:-824px -346px}
/*  |xGv00|14e2e965599a29d51db50f1d4a8d36fa */