@charset "utf-8";
.ad250x228 ,.ad250x130 ,.ad250x230 ,.ad250x128{width: 250px; height: 228px; background-color: #CCCCCC;}
.ad250x128{height:128px;}
.ad250x230{height:230px;}
.ad250x130 {height:130px;}
.ad358x30{_height:31px;}
.ad960x90{width:960px;height:90px;}
.btn1 {text-align: center; overflow: hidden; display: block;}
	.btn1 a {background: url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") -47px -250px; margin: 0px 6px; width: 13px; height: 13px; text-align: center; display: inline-block;}
	.btn1 a:hover ,.btn1 a.on {background-position: -25px -250px;}

.nav_car .price strong{background-position: 0 -350px;color: white;float: left;font-size: 14px;font-weight: bold;height: 33px;line-height: 33px;text-align: center;width: 105px;}

/*.top_nav*/
	.top_nav .tool{width:958px;margin:0 0 0 -4px;border:0;}
	.top_nav .nav_sub {background: none repeat scroll 0 0 transparent;height: 51px;position:relative;}
	.top_nav .nl {background-position: 0 -200px;float:left;width: 5px;}
	.top_nav .nc {float: left; width: 950px;overflow:hidden;}
	.top_nav .nr {background-position: 0 -100px;float:right;width: 5px;}
	.top_nav .nl ,.top_nav .nc ,.top_nav .nr {height: 99px;}
	.top_nav .nav_sub a {display: block;float: left;font-size: 16px;line-height: 51px;margin: 0 10px;}
	.top_nav .cyg{text-indent:-9999px;position:absolute;z-index:2;background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat 0px -35px;width:70px;height:35px;right:30px;top:10px;}
	.top_nav .nav_search {border: 0;padding-top: 10px;}
	.top_nav .nav_search .ip_text {margin-left: 5px;}
	.top_nav .nav_search .ip_btn {margin-right: 5px;}
	.top_nav .nav_search .c_gary {line-height: 25px;}
	.top_nav .nav_search .chaxun a {display: inline-block;margin: 0 6px;}

/*焦点图*/
#KinSlideshow ul{margin-left:-10px;}
.slide .numberBG_2{	background:url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") repeat scroll -43px -198px transparent;}
.slide .numberBG_1{background:url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") repeat scroll -22px -198px transparent;}
.slide ul { position: relative; z-index:2; background-color:#000;padding-top:0; padding-left:0;}
.slide .bottom { width:100%; height:20px; position:absolute; z-index:1;  bottom:0px; _bottom:0px; left:0px; background-color:#000;}


.tuangou_baoming {height:298px;}
	.tuangou_baoming cl {overflow:hidden;}
	.tuangou_baoming li {height: 110px; overflow: hidden; _height: 105px;}
	.tuangou_baoming ul {height: 234px;}
	.tuangou_baoming li h4 {padding: 0px 0px 10px; line-height: 20px; height:10px; overflow:hidden; font-size: 14px; font-weight: 100;position:relative;width:280px;}
	.tuangou_baoming li h4 a{width:280px;display:inline-block;overflow:hidden;}
	.tuangou_baoming li img {width: 90px; height: 60px; clear: both; float: left;margin-top:12px;}
	.tuangou_baoming li div {width: 160px; float: right;}
	.tuangou_baoming li .p1 {top: 35px; height: 45px; right: 0px; color: rgb(102, 102, 102); line-height: 20px; overflow: hidden; position: absolute; z-index: 5;}
	.tuangou_baoming .c1 .p1 a{color:#999;}
	.tuangou_baoming .c1 .p1 a:hover{color:#3184DD;}
	.tuangou_baoming li .p2 a {padding:0px 3px; color:#FFFFFF; float: right; display: block; background-color:#FF6600;height:15px;line-height:15px;}
	.tuangou_baoming li .p2 {top: 83px; width: 170px; text-align: right; right: 10px; position: absolute; z-index: 10;}
	.tuangou_baoming li .p2 span {float: left; display: block;}


.xunjia_yuyue {height: 224px;}
	.xunjia_yuyue h3 {height: 22px;margin:5px 0;}
	.xunjia_yuyue h3 a {width: 69px; height: 21px; text-align: center; color: rgb(80, 89, 113); line-height: 21px; text-decoration: none; border-bottom-color: rgb(209, 217, 226); border-bottom-width: 1px; border-bottom-style: solid; float: left; display: block;}
	.xunjia_yuyue h3 a.on ,.xunjia_yuyue h3 a:hover{height: 22px; color: rgb(255, 255, 255); border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; background-color: rgb(58, 142, 230);}
	.xunjia_yuyue li {width: 266px; height: 24px; line-height: 24px; overflow: hidden; padding-top: 11px;}
	/*.xunjia_yuyue li b {width: 36px; float: left;}*/
	.xunjia_yuyue li .select1_sub {width: 114px; text-indent: 10px; float: left;}
	.xunjia_yuyue li .select1 ,.xunjia_yuyue li .text1 ,.xunjia_yuyue li .male ,.xunjia_yuyue li .female ,.xunjia_yuyue li .btn_xunjia{background: url("//mat1.gtimg.com/zj/css/common/images/icon_2.png") 0 0;}
	.xunjia_yuyue li .select1 {background-position: -126px 0px; width: 230px; height: 24px; float: left;}
	.xunjia_yuyue li .text1 {background-position: -126px -30px; width: 116px; text-indent: 10px; float: left;}
	.xunjia_yuyue li .male ,.xunjia_yuyue li .female ,.xunjia_yuyue li .btn_xunjia {background-position: -126px -60px; width: 108px; text-indent: -9999px; margin-left: 6px; float: left;}
	.xunjia_yuyue li .female {background-position: -126px -91px;}
	.xunjia_yuyue li .btn_xunjia {background-position: -247px -30px;}
	.xunjia_yuyue li .male a ,.xunjia_yuyue li .female a{width: 54px; float: left; display: block;}
	.btn_xunjia {cursor: pointer;}

.text1 ,.select1_sub{cursor: pointer;}
.top_news {height: 773px; background-color: rgb(255, 255, 255);}
	.top_news .top1{height:190px;overflow:hidden;}
	.top_news .top h3 {height: 32px; text-align: center; line-height:30px; overflow: hidden; font-size:20px; font-weight: bold;}
	.top_news .top h3 a {color: rgb(49, 132, 219); font-family: Microsoft YaHei,SimHei;}
	.top_news .top p {height: 24px; text-align: center; color: rgb(204, 204, 204); line-height: 24px; overflow: hidden; position: relative;}
	.top_news .top p a {margin: 0px 6px;}
	.top_news .top {margin: 0px auto; padding: 10px 0px 0px; width: 348px; height: 130px; overflow: hidden; no_border-bottom: 1px dashed #999999;}
	.top_news .top2 {height: 54px; font-size: 14px;}
	.top_news .top2 p {width: 380px; height: 24px; overflow: hidden;line-height:22px;}
	.top_news .top2 span {width: 380px; float: left; display: block;}
	.top_news .top2 b {width: 380px; float: left; display: block;}
	.top_news .top2 p .w {width: 28px; font-size: 14px;}
	.top_news .top2 p span {width: 10px; text-align: right; float: left; display: block;}
	.top_news .top2 p a {width: 160px; overflow: hidden; margin-left: 6px; float: left; display: block;line-height:22px;height:24px;_margin-left:5px;}
	.top_news .newssb {width:380px;padding-top:12px;}
	.top_news .newssb h4 {background: url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") no-repeat -40px 14px; padding: 11px 0px; line-height: 16px; text-indent: 24px; font-family: Microsoft YaHei,SimHei; font-size: 16px;}
	.top_news .newssb h4 span {font-size: 9px; font-weight: 100; margin-right:25px; float: right;}
	.top_news .newssb h4 span a{color:#ACACAC;}
	.top_news .newssb ul {height: 190px; padding-left: 10px;_padding-top:0px;}
	.top_news .newssb li {line-height: 30px;overflow: hidden; font-size: 14px;clear:both;}
	.top_news .newssb li a {width: 175px; height: 30px; overflow: hidden; margin-right: 8px; float: left; display:inline-block;}
	.top_news .t_line {margin: 0px auto; padding: 0px; width: 358px; height: 1px; overflow: hidden; background-color: rgb(217, 224, 234);}
	.top_news .t_line b {width: 75px; height: 5px; float: left; display: block; background-color: rgb(48, 125, 197);}



.shangjia_chuxiao {width: 248px; height: 393px; overflow: hidden;}
	.shangjia_chuxiao h2 {background: rgb(56, 133, 213); color: rgb(255, 255, 255);}
	.shangjia_chuxiao .tab {width: 300px; height: 45px;}
	.shangjia_chuxiao .tab a {height: 40px; text-decoration: none; margin-left: -1px; float: left; display: block;}
	.shangjia_chuxiao .tab b {border:1px solid #bdd7f2; width:62px; height: 30px; text-align: center; line-height: 28px;}
	.shangjia_chuxiao .tab a.on ,.shangjia_chuxiao .tab a:hover {background: url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") -24px -15px;}
	.shangjia_chuxiao .tab a.on b ,.shangjia_chuxiao .tab a:hover b{border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;}
	.shangjia_chuxiao li a {float: left;}
	.shangjia_chuxiao ul {height: 302px;}


.gouchehui {height: 380px;}
	.gouchehui ul {text-align: center; overflow: auto; padding-left: 3px;}
	.gouchehui li {width: 190px; height: 160px; padding-top: 5px; float: left;position:relative;}
	.gouchehui ul img {width: 168px; height: 98px;display:inline-block;}
	.gouchehui ul b {padding: 8px 0px 6px; line-height: 14px; font-size: 14px; font-weight: bold;}
	.gouchehui ul a {color: rgb(103, 112, 122);}
	.gouchehui li em{width:62px;height:62px;position:absolute;top:3px;left:8px;}
	.gouchehui li em.tg{background:url(//mat1.gtimg.com/fj/css/auto/etop/tg_icon.png) no-repeat 0 0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src="//mat1.gtimg.com/fj/css/auto/etop/tg_icon.png");_background:none;}
	.gouchehui li em.sp{background:url(//mat1.gtimg.com/fj/css/auto/etop/sp_icon.png) no-repeat 0 0;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src="//mat1.gtimg.com/fj/css/auto/etop/sp_icon.png");_background:none;}

.chebaojia {}
	.chebaojia ul {padding: 6px 0px 0px 11px;}
	.chebaojia h2 span {color: rgb(204, 204, 204); font-family: Arial,SimSun; font-size: 14px;}
	.chebaojia h2 span a {margin: 0px 12px;}
	.chebaojia h2 span a:hover ,.chebaojia h2 span a.on {color: rgb(255, 102, 0);}
	.chebaojia dl {padding: 1px 0px 0px 2px; height: 290px;}
	.chebaojia dl dd ,.chebaojia dl dt {border: 1px solid rgb(233, 233, 233); width: 465px; height: 30px; line-height: 30px; margin-top: -1px; margin-left: -1px; float: left;}
	.chebaojia dl b ,.chebaojia dl small ,.chebaojia dl big ,.chebaojia dl i {float: left;}
	.chebaojia dl b {width: 240px; padding-left: 6px;}
	.chebaojia dl b a {color: rgb(30, 70, 116);}
	.chebaojia dl small ,.chebaojia dl big {width: 60px; text-align: right;}
	.chebaojia dd small {color: rgb(115, 115, 115);}
	.chebaojia dd big {color: rgb(204, 0, 0);}
	.chebaojia dl i {width: 90px; text-align: right;}

/*
.jingxiaoshang {
	height: 400px;
}
.jingxiaoshang ul {
	padding: 6px 0px 0px 10px; height: 320px; overflow: hidden;
}
.jingxiaoshang li {
	padding: 5px; border: 1px solid rgb(233, 233, 233); width: 219px; height: 60px; margin-right: 3px; margin-bottom: 3px; float: left;
}
.jingxiaoshang li img {
	width: 50px; height: 50px; float: left;
}
.jingxiaoshang li b {
	width: 165px; float: right; display: block;
}
.jingxiaoshang li big {
	width: 165px; float: right; display: block;
}
.jingxiaoshang li b {
	height: 28px; line-height: 24px; overflow: hidden; font-size: 14px;
}
.jingxiaoshang li b a {
	color: rgb(30, 70, 116);
}
.jingxiaoshang li big {
	background: url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") no-repeat -45px -498px; text-indent: 18px;
}
.jingxiaoshang li big a {
	padding: 0px 3px; color: rgb(255, 255, 255); text-indent: 0px; float: right; display: block; background-color: rgb(0, 122, 204);
}
*/

.daodian_shipai {
	width: 308px; height:303px; overflow: hidden;
}
.daodian_shipai ul {
	width: 300px;overflow:hidden;
}

.daodian_shipai .shijia{width:281px;height:182px;position:relative;background:#f3f3f3;margin-bottom:13px;margin-top:3px;}
.daodian_shipai .shijia p,.daodian_shipai .shijia img,.daodian_shipai .shijia span{position:absolute;}
.daodian_shipai .shijia img{width:281px;height:182px;}
.daodian_shipai .shijia span a{color:white;}
.daodian_shipai .shijia span{width:100%;height:28px;line-height:28px;z-index:3;text-align:center;bottom:0;}
.daodian_shipai .daodian_shijia .shijia p{position:absolute;display:inline-block;width:100%;height:28px;line-height:28px;background:black;z-index:2;bottom:0;opacity:0.6;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
.daodian_shipai .daodian_shijia p{line-height:25px;height:25px;overflow:hidden;position:relative;text-indent:18px;}
.shipai_icon{display:inline-block;width:15px;height:15px;background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat 0 0;position:absolute;}
.shipai_icon{background-position:-87px -31px;top:2px;left:0;}
.daodian_shipai li i,.daodian_shipai li i img {margin: 0px auto; width: 130px; height: 90px;}

.daodian_shipai li {
	width: 130px; height: 122px; text-align: center; margin-right: 17px; float: left;
}
.daodian_shipai li b {
	padding-top: 5px;
}

.part {
  clear: both;
  height: auto;
  overflow: hidden;
  width: 960px;
}
.part3_news {
	height: 614px; overflow: hidden;
}
.part3_news .newssb {
	padding-top: 5px;
}
.part3_news .newssb ul {
	height: 160px;
}
.renwu_fangtan {
	height: 235px;
}
.renwu_fangtan h4 {
	line-height: 30px; font-size: 14px; font-weight: 100;
}
.renwu_fangtan img {
	width: 90px; height: 60px; float: left;
}
.renwu_fangtan .p1 {
	width: 120px; height: 60px; color: rgb(128, 128, 128); line-height: 20px; padding-right: 6px; float: right;
}
.renwu_fangtan .p2 {
	padding: 5px 0px 0px; clear: both;
}
.renwu_fangtan .p2 b {
	float: right;
}
.renwu_fangtan .p2 b a {
	margin: 0px 6px;
}
.renwu_fangtan li .sub {
	display: none;
}
.renwu_fangtan li.on {
	background: rgb(245, 249, 251); height: 115px; margin-bottom: 5px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.renwu_fangtan li.on .sub {
	display: block;
}
.renwu_fangtan li.on h4 {
	color: rgb(49, 132, 221);
}
.che_tousu {
	height: 225px;
}
.che_tousu .c1 b {
	height: 30px; font-size: 14px; display: block;
}
.zonghe_paihang {
	height: 230px;
}
.zonghe_paihang li {
	width: 220px; margin-left: 14px; float: left;
}
.zonghe_paihang li h3 {
	height: 30px; line-height: 30px; font-size: 14px; border-bottom-color: rgb(58, 142, 230); border-bottom-width: 2px; border-bottom-style: solid;
}
.zonghe_paihang li dl {
	background: url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") no-repeat -45px -343px; margin-top: 10px;
}
.zonghe_paihang li dd {
	height: 23px; line-height: 23px; overflow: hidden; padding-left: 20px; border-bottom-color: rgb(242, 242, 242); border-bottom-width: 1px; border-bottom-style: dotted;
}
.zonghe_paihang li dd span {
	color: rgb(153, 153, 153); float: right;
}
.hezuo_huoban {
	height: 130px;
}
.hezuo_huoban p {
	padding: 10px 14px; color: rgb(153, 153, 153);
}
.hezuo_huoban p a {
	margin: 0px 10px; display: inline-block;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.carLife{
	margin-bottom: 8px;
	overflow: hidden;
	width: 960px;
}
.carLife .carLife_cl {
	margin-top: 0px;
}
.carLife p {
	line-height: 30px; font-size: 14px;
}
.carLife .cl_1{border-bottom:1px dashed #d3d3d3;}
.carLife .cl_ys{background:#f5f9fb;}
.carLife .cl_ys p{color:#388be2;}
.cl_1 p{
	height:30px;line-hegith:30px;overflow:hidden;padding:0 8px;color:#585858;
}
.ml10 {
	overflow: hidden; margin-left: 10px;
}
.carLife .fs12 {
	font-size: 12px;
}
.cl_img {
	overflow: hidden; margin-top: 5px;
}
.cl_img img {
	height: 60px;width: 90px;background:#CCC;margin-left:5px;
}
.carLife .cl_img p {
  height: 60px;
  line-height: 19px;
  overflow: hidden;
  width: 155px;
}
.carLife .cl_submit {
	width: 255px; height:35px;overflow:hidden;
}
.cl_submit ul {
  height: 35px;
  width: 220px;
  margin-left:30px;
  _margin-left:40px;
}
.cl_submit li {
  float: left;
  height: 35px;
  list-style: none;
  margin-left:30px;
  _margin-left:5px;
  width: 50px;
}
.carLife .cl_submit a{
  float: left;
  height: 23px;
  margin-top: 8px;
  width: 78px;
  background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat 0 0;
}


/*知识讲堂*/
.bt0{border-top:0;}
.s_1{overflow:hidden;}
.zhishi img{float:left;height:75px;width:100px;background:#f3f3f3;margin-right:2px;}
.zhishi ul{float:right;width:190px;}
.zhishi ul li{ float:left; width:92px; height:20px;line-height:18px;overflow:hidden;}
.s_1 .zhishi{margin-top:10px;height:102px;overflow:hidden;display:block;padding:0 0 0 14px;}
.s_1 .zhishi li a{float:left;display:inline;height:20px;line-height:18px;width:90px;margin-left:5px;overflow:hidden;}
.yongpin .zhishi{height:103px;}

/*
.carLife .cl_submit1 a{
  background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat scroll -3px -4px transparent;
}
.carLife .cl_submit2 a{
  background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat scroll -102px -4px transparent;
}
*/
/*
.carLife .cl_submit1 a{background-position:0 0;}
.carLife .cl_submit2 a{background-position:-93px 0;}
.carLife .carLife_cl {
	height: 245px;
}
.carLife .c1 b {
	height: 30px; line-height:25px; overflow: hidden; font-size: 14px; display: block;
}
.carLife .carLife_weibo {
	margin:2px 0px;
}
.carLife .carLife_weibo a{
	height:30px;line-height:25px;overflow:hidden;font-size:12px;float:right;
}
.carLife .carLife_weibo span {
	 float: left;font-size:14px;
}
.carLife .carLife_weibo span a{
	 font-size:14px;width:218px;float:left;
}
.carLife .carLife_wb {
	height: 195px;
}
.w250 {
	width: 250px;
}
.carLife .center {
	width: 380px; height: 452px; margin-left: 9px;
}
.carLife .center p {
	line-height: 20px; font-size: 12px;
}
.carLife .center .blod,.carLife .center .blod a{
	height: 35px; text-align: center; line-height: 30px; font-family: Microsoft YaHei; font-size: 16px; font-weight: bold;overflow:hidden;color:#3b3a3f;
}
.carLife .center p a {
	color: rgb(49, 132, 219);
}
.carLife .center .ml160 {
	margin-left: 160px;
}
.carLife .center .comment_1 ,.carLife .center .comment_2{
	padding: 3px 5px; border: 1px solid #DDDDDD; width: 270px; height:43px; overflow:hidden; line-height: 22px; bacground: #f3f3f3;color:#777;
}
.carLife .center .comment_1{
 	margin-left: 17px;
}
.carLife .center .comment_2 {
	margin-right: 15px;
}
.carLife .center_comment {
	width: 352px; overflow: hidden; position: relative;
}
.carLife .mblog_jt1{
  margin:9px 0 5px 0;
}
.carLife .mblog_jt2{
  margin-top:5px;
}
.carLife .mblog_jt1 b ,.carLife .mblog_jt2 b{
  height: 14px;
  margin: 0 auto;
  width: 20px;
  cursor:pointer;
  background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat 0 0;
}
*/
/*
.carLife .mblog_jt1 b{
  background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat scroll -219px -11px transparent;
}
.carLife .mblog_jt2 b {
  background:url("//mat1.gtimg.com/cd/css/common/images/icon_cd.png") no-repeat scroll -191px -10px transparent;
}
*/
/*
.carLife .mblog_jt1 b{background-position:-219px -9px;}
.carLife .mblog_jt2 b {background-position:-191px -8px;}
.carLife .mblog_logo{
  height:60px;overflow:hidden;
}
.carLife .mblog_logo a ,.carLife .comment_1 a ,.carLife .comment_2 a{
  height: 20px;
  padding-left: 16px;
  position: relative;
}
.carLife .mblog_logo a em ,.carLife .comment_1 a em ,.carLife .comment_2 a em{
  background: url("//mat1.gtimg.com/www/images/nav/wblogin_bt_v3.png") no-repeat scroll -87px 1px transparent;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}
.center_comment img {
  background: none repeat scroll 0 0 #CCCCCC;
  height: 50px;
  width: 50px;
}
.comment_1 img,.comment_2 img{
  width:18px;
  height:20px;
  background:#ccc;
}
.carLife .center .radio {
	background: 0px 0px rgb(243, 243, 243); border: 1px solid rgb(227, 227, 227); overflow: hidden; margin-top: 10px;
}
.carLife .center .radio textarea {
	margin: 10px 0px 0px 12px; padding: 5px 10px; border: 1px solid rgb(195, 195, 195); width: 305px; height: 60px; font-size: 12px;
}
.carLife .center .radio .radioSub {
	margin: 10px; color: rgb(163, 163, 163); line-height: 30px; float: right; display: block;
}
.carLife .center .radio .button {
	margin: 3px 0px 0px 8px; border: 1px solid gray; width: 70px; height: 20px; text-align: center; color: black; line-height: 20px; float: right; display: block;
}
.carLife .center .radio img {
	cursor: pointer;
}
.carLife .center .radio .ziti {
	font-size: 18px;
}
*/
.cl_img ,.cl_submit{display:none;}
.cl_ys .cl_img,.cl_ys .cl_submit{display:block;}
.topic_arrow ,.topic_arrow3{background: url("//mat1.gtimg.com/cd/201108/yimu/car/topic_arrow.gif") no-repeat 0px 0px; width: 8px; height: 10px; position: absolute;}
.topic_arrow{left: 60px; top: 10px;}
.topic_arrow3{left: 58px; top: 20px;z-index: 2;}
.topic_arrow2 {background: url("//mat1.gtimg.com/cd/201108/yimu/car/topic_arrowr.gif") no-repeat 0px 0px; top: 10px; width: 8px; height: 10px; right: 63px; position: absolute;}
.pt10 {
	padding-top: 10px;
}
.tt2 {
	background:#ECECEC; padding: 10px 10px 0px; border: 1px solid #CCCCCC; width: 328px;height:120px;margin-top:5px;
}
.talkBox {
	background: 0px 0px rgb(236, 236, 236); padding: 0px 0px 4px; border-radius: 5px 0px 0px; width: 99%; position: relative; z-index: 11;
}
.sendCnt {
	border-radius: 6px; transition:border 0.2s linear, -moz-box-shadow 0.2s linear; line-height: 1.231; overflow: hidden; -ms-word-break: break-all; -ms-word-wrap: break-word;
}
.talkBox .cntBox {
	border-radius: 6px; width: 100%; overflow: hidden; position: relative; background-color: rgb(255, 255, 255);
}
.sendCnt .cntBox textarea {
	height: 38px !important;
}
.talkBox .cntBox textarea {
	font: 12px/21px Tahoma, Arial; margin: -1px auto 0px; padding: 3px 1%; border-radius: 8px 8px 0px 0px; border: 0px currentColor !important; width: 97.9%; height: 66px; -ms-overflow-y: auto; font-size-adjust: none; font-stretch: normal;
}
.talkBox .txtShadow {
	font: 12px/21px Tahoma, Arial; margin: -1px auto 0px; padding: 3px 1%; border-radius: 8px 8px 0px 0px; border: 0px currentColor !important; width: 97.9%; height: 66px; -ms-overflow-y: auto; font-size-adjust: none; font-stretch: normal;
}
select ,input ,button ,button img ,textarea ,label ,img ,body ,button ,input ,select ,textarea{
	margin: 0px; 
}
.talkBox .txtShadow {
	line-height: 21px;
}
.talkBox .cntBox textarea ,.talkBox .txtShadow {
	font: 12px/21px Tahoma, Arial; margin: -1px auto 0px; padding: 3px 1%; border-radius: 8px 8px 0px 0px; border: 0px currentColor !important; width: 97.9%; height: 66px; -ms-overflow-y: auto; font-size-adjust: none; font-stretch: normal;
}
.txtShadow {
	left: 0px; top: 0px; position: absolute; z-index: -1; -ms-word-break: break-all; -ms-word-wrap: break-word; opacity: 0;
}
.txtShadow b {
	width: 0px; overflow: hidden; display: inline-block;
}
b {
	font-weight: bold;
}
address ,caption ,cite ,code ,dfn ,em ,b ,th ,var ,i{
	font-style: normal; font-weight: normal;
}
.clear_ym2 {
	overflow: hidden; clear: both;
}


.traffic .mt0{height:202px;}
.traffic h2 span a ,.traffic .traffic_qu p span a {color: rgb(49, 132, 219);}
.traffic .traffic_qu p span {margin-right: 5px; float: right;}
.traffic .traffic_qu .traffic_name {float: left;color: #0066CC;}
.traffic .traffic_qu img {float: left;}
.traffic .traffic_qu p {padding:3px 5px; border:1px solid #DDDDDD; width: 140px; font-size: 12px; margin-left: 15px;position:relative; float: left;}
.traffic .traffic_qu {height: 160px; padding-bottom: 2px;position:relative;}
.traffic .traffic_qu a{color:#777777;}
.traffic .traffic_w {width: 220px; overflow: hidden; margin-bottom: 8px; position: relative;}
.traffic .traffic_w p{height:65px; overflow: hidden;line-height:22px;color:#777;}
.traffic_w img {background:#CCCCCC;height: 50px;width: 50px;}
.traffic_w p .xiangqing {left: 110px; top: 47px; color: #3184DB; position: absolute;}
.traffic .shoot {margin-top: 10px; height: 238px;}
.traffic .shoot p {padding: 0px 5px; border: 0;}
.traffic .traffic_tu img {background:#CCCCCC;height: 85px;margin: 3px 0 0 65px;width: 130px;}
.traffic .traffic_tu p {margin: 3px 0px 0px 60px; width: 120px; _margin: 3px 0 0 30px;}
.relayNum{display:inline;}

.top_news a img{margin-left:0px;}/*  |xGv00|2adccb86c85df61024eaf6c224f76a35 */