body,
h1,
h2,
h3,
h4,
blockquote,
p,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
form,
fieldset,
legend,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: "Microsoft YaHei";
  line-height: 1.5;
  color: #000;
  text-align: left;
}
button,
input,
select,
textarea,
h1,
h2,
h3,
h4 {
  font-size: 100%;
}
em,
i {
  font-style: normal;
}
ol,
ul {
  list-style: none;
  list-style-position: outside;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
  font-weight: 400;
}
img,
fieldset {
  border: 0;
  vertical-align: middle;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #c00;
  text-decoration: underline;
}
.show {
  display: block;
}
.center {
  width: 1000px;
  margin: 0 auto;
}
.clx:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}
.clx {
  *zoom: 1;
}
.clear {
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt10 {
  margin-top: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.f14 {
  font-size: 14px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb5 {
  padding-bottom: 5px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh26 {
  line-height: 26px;
}
.lh28 {
  line-height: 28px;
}
.imgA img {
  border: 1px solid #E2E2E2;
  padding: 2px;
  background: #ffffff;
}
.banner {
  height: 650px;
  background: url(http://mat1.gtimg.com/gd/2017/kepu/banner.png) no-repeat center top;
}
.nav {
  height: 75px;
  background: #0066CC;
  font-size: 16px;
}
.nav a {
  display: block;
  float: left;
  line-height: 75px;
  color: #fff;
  text-align: center;
  width: 141px;
  border-left: 1px solid #001362;
}
.nav a:hover {
  background: #FFDE16;
  color: #0066cc;
  text-decoration: none;
  height: 100px;
}
.tit {
  display: block;
  margin-bottom: 35px;
  position: relative;
}
.tit .more {
  width: 70px;
  height: 25px;
  border: 1px solid #D8D8D8;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  position: absolute;
  top: -2px;
  right: 0;
  display: block;
}
.p1 {
  height: 540px;
  padding-top: 60px;
  background: url(http://mat1.gtimg.com/gd/2017/kepu/main.png) no-repeat center top;
}
.p1_l {
  width: 544px;
  float: left;
}
.p1_r {
  width: 410px;
  float: right;
}
.swiper-slide {
  float: left;
}
.focus_photo {
  width: 500px;
  height: 270px;
  position: relative;
  overflow: hidden;
  background: #000;
  float: left;
  padding: 25px 22px 20px;
  background: url(http://mat1.gtimg.com/gd/2017/kepu/focusbg.png);
}
.focus_photo .swiper-container {
  width: 500px;
  height: 270px;
  position: relative;
  overflow: hidden;
}
.focus_photo .f_pic_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  text-indent: 1em;
}
.focus_photo img {
  width: 500px;
  height: 270px;
}
.focus_photo .f_pic_wrap {
  width: 100%;
  height: 270px;
  position: relative;
  display: block;
}
.focus_photo .pagination {
  position: absolute;
  right: 20px;
  bottom: 8px;
  text-align: center;
  z-index: 10;
}
.focus_photo .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: #666;
  text-align: center;
  line-height: 10px;
  cursor: pointer;
  color: #ffffff;
}
.focus_photo .swiper-active-switch {
  background: #115DAB;
}
.kxj {
  padding: 15px 15px 0px;
  height: 200px;
  background: #fff;
}
.kxj img {
  display: block;
  float: left;
  width: 180px;
  height: 180px;
  padding: 5px;
  border: 1px solid #DCDCDC;
  margin-right: 15px;
}
.kxj p {
  width: 170px;
  height: 190px;
  overflow: hidden;
  float: left;
  font-size: 14px;
  line-height: 2;
  color: #9a9a9a;
}
.kxj p span {
  display: block;
  color: #000;
}
.kxj_intro {
  background: #EEEEEE;
  border: 2px solid #fff;
  padding: 12px 14px 0;
  height: 82px;
  font-size: 14px;
  line-height: 1.8;
  color: #9a9a9a;
}
.kxj_intro span {
  display: block;
  color: #000;
}
.kxj_intro span a {
  color: #000;
}
.kxj_intro a {
  color: #348aa5;
}
.m_l {
  width: 650px;
  float: left;
}
.new_list {
  margin-bottom: 35px;
  margin-top: -30px;
}
.new_list li {
  height: 165px;
  padding-top: 30px;
  border-bottom: 1px solid #D6D6D6;
  position: relative;
  padding-left: 285px;
}
.new_list li img {
  display: block;
  width: 260px;
  height: 135px;
  position: absolute;
  left: 0;
  top: 30px;
}
.new_list li span {
  display: block;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.5;
}
.new_list li p {
  font-size: 14px;
  line-height: 24px;
  color: #9a9a9a;
}
.new_list li p a {
  color: #348aa5;
}
.m_r {
  width: 300px;
  float: right;
}
.focus_photo2 {
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background: #000;
  margin-bottom: 60px;
}
.focus_photo2 .swiper-container {
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.focus_photo2 .f_pic_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  text-indent: 1em;
  text-align: center;
}
.focus_photo2 img {
  width: 300px;
  height: 200px;
}
.focus_photo2 .f_pic_wrap {
  width: 100%;
  height: 200px;
  position: relative;
  display: block;
}
.focus_photo2 .pagination {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}
.focus_photo2 .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: #666;
  text-align: center;
  line-height: 10px;
  cursor: pointer;
  color: #ffffff;
}
.focus_photo2 .swiper-active-switch {
  background: #115DAB;
}
.kpzg {
  margin-bottom: 60px;
}
.kpzg li {
  height: 30px;
  line-height: 22px;
  font-size: 14px;
  overflow: hidden;
  float: left;
  width: 50%;
}
.wanzhuan li {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 14px;
  padding-left: 24px;
  background: url(http://mat1.gtimg.com/gd/2017/kepu/wz_ico.png) no-repeat left center;
}
.bianji {
  width: 100%;
  height: 50px;
  background: #242424;
}
.bianjimain {
  width: 960px;
  margin: 0 auto;
}
.bianjimain p {
  font-size: 14px;
  color: #ededed;
  line-height: 50px;
  text-align: center;
}
.vList {
  width: 170px;
  float: right;
}
.vList li {
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.vList li em {
  display: block;
  width: 60px;
  height: 60px;
  background: url(http://mat1.gtimg.com/gd/2019/01gdkp/play.png);
  position: absolute;
  top: 20px;
  left: 56px;
}
.vList li:hover em {
  opacity: .7;
}
.jsd_list {
  width: 570px;
  float: left;
  overflow: hidden;
}
.jsd_list li {
  float: left;
  height: 165px;
  padding-top: 30px;
  border-bottom: 1px solid #D6D6D6;
  position: relative;
  padding-left: 285px;
}
.jsd_list li p {
  height: 90px;
  overflow: hidden;
}
.new_list li span {
  margin-bottom: 5px;
}
.focus_photo3 {
  width: 390px;
  float: right;
}
.focus_photo3 {
  width: 390px;
  height: 560px;
  margin-bottom: 0;
}
.focus_photo3 .swiper-container {
  width: 390px;
  height: 560px;
  position: relative;
  overflow: hidden;
  background: #000;
}
.focus_photo3 img {
  width: 390px;
  height: 560px;
}
.focus_photo3 .f_pic_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  text-indent: 1em;
}
.focus_photo3 .f_pic_wrap {
  width: 100%;
  height: 560px;
  position: relative;
  display: block;
}
.focus_photo3 .pagination {
  position: absolute;
  right: 20px;
  bottom: 18px;
  text-align: center;
  z-index: 10;
}
.focus_photo3 .swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: #666;
  text-align: center;
  line-height: 10px;
  cursor: pointer;
  color: #ffffff;
}
.focus_photo3 .swiper-active-switch {
  background: #115DAB;
}
/*  |xGv00|b6fb2c12fd3ae0ee540023d275825228 */