
*{margin: 0;padding: 0;list-style-type: none;color: #333;}

body,html{width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:"Microsoft Yahei","Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,SimSun,sans-serif;}
a{text-decoration: none;}
img{display: block;border: none;}
.fangpiaofu45{height: 45px;}
.fangpiaofu30{height: 30px;}
.fangpiaofu1{clear: both;}



/*main*/
.main{width: 1100px;margin: 0 auto;padding-bottom: 105px;}

/*ad-three*/
.ad-three{width: 1100px;height: 60px;margin-bottom: 5px;}
.ad-three-left{width: 165px;height: 60px;float: left;}
.ad-three-center{width: 750px;height: 60px;float: left;margin-left: 10px;}
.ad-three-right{width: 165px;height: 60px;float: left;margin-left: 10px;}


/*ad-two*/
.ad-two{width: 1100px;height: 60px;margin-bottom: 5px;}
.ad-two-left{width: 545px;height: 60px;float: left;}
.ad-two-right{width: 545px;height: 60px;float: left;margin-left: 10px;}


/*ad-one*/
.ad-one{width: 1100px;height: 60px; margin-bottom: 5px;}
.ad-one-right{width: 1100px;height: 60px;}

/*logo-search*/
.logo-search{width: 1100px;height: 42px;margin-top: 20px;margin-bottom: 20px;}
.logo-search .quxian-logo{width: 167px;height: 42px;float: left;}
.logo-search .searchbox{width: 305px;height: 30px;margin-top: 8px;float: right;}
.logo-search .searchbox .search-input{box-sizing: border-box;width: 227px;height: 30px;float: left;border-left:1px solid #dcdcdc;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;padding:0 10px;color: #999;border-right: none;  }
.logo-search .searchbox .search-icon{width: 28px;height: 28px;float: left;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -266px -68px;}
.logo-search .searchbox .search-button{width: 50px;height: 30px;float: left;background:url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/searchbtn.png') no-repeat;border: none;cursor: pointer;}

/*city-nav*/
.city-nav{width: 1100px;height: 50px;}
.city-nav a{display: block;width: 70px;height: 50px;background-color: #308cd7;color: #fff;float: left;text-align: center;line-height: 50px;box-sizing: border-box;border-right:1px solid #9bc2e2; }
.wd90{width: 90px!important;}
.wd105{width: 105px!important;}
.hei105{height: 105px!important;clear: both;}
.pd-left{padding-left: 10px;}

/*content1*/

.content1{width: 1100px;height: 1110px;padding: 20px 0 30px;border-bottom: 3px solid #a1a0a0;}
.content1-left{box-sizing: border-box;width: 300px;height: 1110px;float: left;}
.content1-center{box-sizing: border-box;width: 415px;height: 1110px;float: left;margin-left: 25px;}
.content1-right{box-sizing: border-box;width: 330px;height: 1110px;float: left;margin-left: 25px;}

/*foucs*/
.foucs{width: 300px;height: 307px;margin-bottom: 25px;position: relative;}
.foucs-pic{width: 300px;height: 307px;position: absolute;z-index:1 ;top: 0;left: 0;}

.swiper-container {
    width: 300px;height: 307px;
}

.swiper-pagination-switch {  display: inline-block;  width: 23px;  height: 23px;  background: #bfc0c0;  margin-right: 10px;  opacity: 0.8;  cursor: pointer;border-radius: 50%;  }
.swiper-visible-switch {  background: #e50055;  }
.swiper-active-switch {  background: #e50055;  }
.pagination{  position: absolute;  z-index: 20;  bottom: 25px;  width: 100%;  text-align: center;  }
.pagination-nested-1 .swiper-pagination-switch {  display:  inline-block;  margin-right: 10px;  margin-bottom: 5px;  }



.title1 {
    display:block;
    width: 300px;
    height: 307px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.huizhao{width: 300px;height: 30px;background-color: #000;opacity: 0.5;position: absolute;z-index:2 ;bottom: 0;left: 0;}
.foucs-new-title{width: 280px;height: 30px;line-height: 30px;position: absolute;z-index: 4;left: 10px;bottom:0;color: #fff;font-size: 12px;overflow: hidden;}

.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:-20px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 10px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #308cd7;
}







/*zt-box*/
.zt-box{width: 300px;margin-bottom: 15px;}
/*zt-banner*/
.zt-banner{width: 300px;height: 23px;margin-bottom: 20px;}
.zt-banner .zt-logo{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -312px -123px;  width: 71px;  height: 23px;float: left;}
.zt-banner .zt-arrow{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -174px -20px;  width: 13px;  height: 13px;float: right;margin-top: 4px;}
.zt-banner .zt-word{width: 55px;height: 23px;line-height: 23px;font-size: 12px;color: #308cd7;float: right;}
.zt-box .zt-pic{width: 300px;box-sizing: border-box;border: 1px solid #e1e1e1;height: 110px;margin-bottom: 18px;}
.zt-box .zt-pic img{width: 280px;height: 90px;margin-top: 10px;margin-left: 10px;}
.zt-box .zt-list{width: 300px;height: 50px;}
.zt-box .zt-list li{width: 150px;height: 16px;margin-bottom: 9px;float: left;}
.zt-box .zt-list li a{display:block;height: 16px;line-height: 16px;width: 150px;font-size: 12px;color: #666666;cursor: pointer;text-indent: 10px;overflow: hidden;background: url("//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/point.png") no-repeat 5px center;}
.zt-box .zt-list li a:hover{text-decoration: underline;color: #fe6104;}


/*video-box*/
.video-box{width: 300px;height: 320px;box-sizing: border-box;border: 1px solid #e1e1e1;}
.video-box .video-tags{width: 300px;height: 40px;margin-bottom: 20px;}
.video-box .video-tags span{box-sizing: border-box;display:block;width: 165px;text-align: center;height: 40px;line-height: 40px;float: left;background-color: #f9f9f9;border-bottom: 2px solid #e1e1e1;}
.video-box .video-tags span:first-child{border-right: 2px solid #e1e1e1;}
.span-active{width: 135px!important;color: #308cd7;background-color: #fff!important;border-bottom:none!important;}

.video-box .video-list{width: 268px;margin-left:16px; }
.video-box .video-list li{width: 268px;height: 130px;}
.video-box .video-list li a.video-pic{display: block;width: 268px;height: 75px;position: relative;z-index: 2;}
.video-box .video-list li a.video-pic span.video-btn{display: block;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -314px -66px;width: 33px;height: 33px;position: absolute;z-index: 4;left: 117px;top: 21px;}
.video-box .video-list li a.video-pic img.video-feng{width: 268px;height: 75px;position: absolute;z-index: 3;left: 0;top: 0;}
.video-box .video-list li a.video-title{display: block;width: 268px;height: 45px;line-height: 45px;text-align: center;overflow: hidden;font-size: 13px;}
.video-box .video-list li a.video-title:hover{text-decoration: underline;color: #fe6104;}

#bianjitui-list{display: block;}
#zhibo-list{display: none;}


/*foucs-news*/
.foucs-news{width: 415px;height: 235px;border-bottom: 1px solid #e1e1e1;box-sizing: border-box}
.foucs-news .foucs-title{display:block;width: 415px;height: 40px;line-height: 40px;text-align: center;color: #e72241;overflow: hidden;font-size: 20px;margin-top: 5px;}
.foucs-news .foucs-small-title{width: 415px;height: 60px;line-height: 30px;color: #666666;font-size: 12px;overflow: hidden;text-indent: 24px;}
.foucs-title-black{color: #000!important;}


/*baoliao-box*/
.baoliao-box{width: 415px;height: 340px;}
.baoliao-banner{height: 34px;width: 415px;margin-top: 15px;}
.baoliao-banner .baoliao-logo{width: 77px;height: 34px;float: left;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -203px -12px;}
.baoliao-banner .baoliao-btn{display: block;width: 95px;height: 34px;border-radius: 6px;background-color: #308cd7;float: right;}
.baoliao-banner .baoliao-btn .baoliaobtn-bi{display: block;width: 16px;height: 16px;float: left;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -78px -16px;margin-left: 7px;margin-top:8px; }
.baoliao-banner .baoliao-btn .baoliaobtn-word{display: block;width: 60px;height: 34px;line-height: 34px;color: #fff;font-size: 14px;float: right;margin-right: 7px;}
.baoliao-title{display: block;width: 415px;height: 60px;line-height: 70px;overflow: hidden;font-size: 16px;color: #333;text-align: center;margin-bottom: 10px;font-weight: 600;}
.baoliao-desc{display: block;width: 415px;height: 55px; line-height: 26px;font-size: 13px;text-indent: 26px;overflow: hidden;}
.baoliao-list{width: 415px;padding: 5px 0 15px;border-top: 1px solid #e1e1e1;margin-top: 10px;}
.baoliao-list li{width: 415px;height: 35px;overflow: hidden;line-height: 35px;}
.baoliao-list li a{font-size: 15px;}
.baoliao-list li a:hover{text-decoration: underline;color: #fe6104;}
a.baoliao-title:hover{text-decoration: underline;color: #fe6104;}
a.baoliao-desc:hover{text-decoration: underline;color: #fe6104;}

/*news-banner*/
.news-banner{width: 400px;height: 23px;margin-bottom: 20px;}
.news-banner .news-logo{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -195px -123px;  width: 99px;  height: 23px;float: left;}
.news-banner .news-arrow{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -174px -20px;  width: 13px;  height: 13px;float: right;margin-top: 4px;}
.news-banner .news-word{width: 55px;height: 23px;line-height: 23px;font-size: 12px;color: #308cd7;float: right;text-align: right;margin-right: 5px;}
/*news-box*/

.news-box{width: 400px;height: 295px;}
.news-list{width: 400px;}
.news-list li{width: 400px;height: 35px;}
.news-list li a{display:block;height: 35px;line-height: 35px;width: 400px;font-size: 15px;color: #666666;cursor: pointer;text-indent: 10px;overflow: hidden;background: url("//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/point.png") no-repeat 5px center;}
.news-list li a:hover{text-decoration: underline;color: #fe6104;}


/*shequ-banner*/
.shequ-banner{width: 290px;height: 23px;margin-left: 20px;margin-top: 20px;}
.shequ-banner .shequ-logo{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/wanzhoushequ.png') no-repeat;  width: 96px;  height: 23px;float: left;}
.shequ-banner .shequ-arrow{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -174px -20px;  width: 13px;  height: 13px;float: right;margin-top: 4px;}
.shequ-banner .shequ-word{width: 55px;height: 23px;line-height: 23px;font-size: 12px;color: #308cd7;float: right;text-align: right;margin-right: 5px;}
/*shequ-box*/
.shequ-box{width: 330px;height: 280px;border: 1px solid #e1e1e1;box-sizing: border-box;}
.shequ-box .shequ-title{width: 290px;height: 60px;line-height: 60px;overflow: hidden;font-size: 18px;font-weight: 600;margin-left: 20px;}
.shequ-box .shequ-title:hover{text-decoration: underline;color: #fe6104;}
.shequ-box .shequ-pic-word{width: 290px;height: 75px;margin-left: 20px;}
.shequ-box .shequ-pic-word img{width: 105px;height: 75px;float: left;overflow: hidden;}
.shequ-box .shequ-pic-word p{width: 175px;height: 75px;float: right;font-size: 13px;line-height: 24px;overflow: hidden;}
.shequ-box .shequ-pic-word p:hover{text-decoration: underline;color: #fe6104;}
.shequ-box .shequ-list{clear: both;width: 290px;height: 80px;margin-top: 20px;margin-left: 20px;}
.shequ-box .shequ-list li{width: 290px;height: 25px;}
.shequ-box .shequ-list li a{display:block;width: 290px;height: 25px;font-size: 14px;overflow: hidden;line-height: 25px;}
.shequ-box .shequ-list li a span{color: #fe6104;}
.shequ-box .shequ-list li a:hover{text-decoration: underline;color: #fe6104;}

/*friend-box*/
.friend-box{width: 330px;height: 222px;margin-top: 15px;border: 1px solid #e1e1e1;box-sizing: border-box;}
.friend-box .hudong-desc{font-size: 12px;width: 290px;height: 48px;margin-left: 20px;line-height: 22px;overflow: hidden;}
.friend-box .hudong-desc span{color: #999999;}
.friend-box .hudong-desc a{color: #308cd7;}
.friend-box .hudong-desc a:hover{text-decoration: underline;color: #fe6104;}

.friend-box .shequ-title{width: 290px;height: 60px;line-height: 60px;overflow: hidden;font-size: 18px;font-weight: 600;margin-left: 20px;}
.friend-box .shequ-title:hover{text-decoration: underline;color: #fe6104;}
/*.friend-banner*/
.friend-banner{width: 290px;height: 23px;margin-left: 20px;margin-top: 20px;}
.friend-banner .friend-logo{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -294px -20px;  width: 98px;  height: 23px;float: left;}
.friend-banner .friend-arrow{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -174px -20px;  width: 13px;  height: 13px;float: right;margin-top: 4px;}
.friend-banner .friend-word{width: 55px;height: 23px;line-height: 23px;font-size: 12px;color: #308cd7;float: right;text-align: right;margin-right: 5px;}

/*hudong-pick*/
.hudong-pick{width: 290px;height: 50px;margin-left: 20px;box-sizing: border-box;margin-top: 5px;}
.zan-btn{width: 40px;height: 40px;float: left;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -17px -60px;line-height: 50px;text-align: center;color: #fff!important;font-size: 14px;position: relative;z-index: 2;}
.no-btn{width: 40px;height: 40px;float: right;margin-top: 10px;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -17px -12px;line-height: 30px;text-align: center;color: #fff!important;font-size: 14px;position: relative;z-index: 2;}
.hudong-box{width: 190px;height: 40px;float: left;margin-left: 10px;}
.hudong-top{width: 190px;height: 15px;line-height: 15px;font-size: 14px;margin-bottom: 5px;}
.hudong-top .top-zhichi{float: left;color: #e72241;}
.hudong-top .top-fandui{float: right;color: #308cd7;}
.hudong-center{width: 190px;height: 10px;background-color: #308cd7;margin-bottom: 5px;}
#redline{display: block;width: 50%;height: 10px;background-color: #e72241;}

.zan-btn span{display: block;width: 40px;height: 40px;position: absolute;z-index: -1;left: 0;top:0;color: #fff;}
.no-btn span{display: block;width: 40px;height: 40px;position: absolute;z-index: -1;left: 0;top:0;color: #fff;}


/*qie-banner*/
.qie-banner{height: 29px;width: 290px;margin-left: 20px;margin-top: 20px;}
.qie-banner .qie-logo{width: 160px;height: 29px;float: left;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -17px -120px;}
.qie-banner .qie-btn{display: block;width: 95px;height: 29px;background-color: #fff;float: right;border: 1px solid #308cd7;border-radius: 4px;}
.qie-banner .qie-btn .qie-bi{display: block;width: 13px;height: 13px;float: left;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -145px -20px;margin-left: 7px;margin-top:7px; }
.qie-banner .qie-btn .qie-word{display: block;width: 60px;height: 29px;line-height: 29px;color: #308cd7;font-size: 14px;float: right;margin-right: 7px;}

/*qie-box*/
/*.qie-box{min-height: 180px;width: 330px;margin-top: 15px;border: 1px solid #e1e1e1;box-sizing: border-box;}*/
/*.qie-pic-word{width: 290px;height: 110px;margin-top: 20px;margin-left: 20px;}*/
/*.qiepic{width: 110px;height: 110px;float: left;}*/
/*.qie-list{width: 170px;height: 110px;float: right;}*/
/*.qie-list a{display: block;width: 170px;height: 35px;overflow: hidden;line-height: 35px;font-size: 14px;}*/
/*.qie-list a:hover{text-decoration: underline;color: #fe6104;}*/

.qie-box{height:auto!important;min-height: 180px;width: 330px;margin-top: 15px;border: 1px solid #e1e1e1;box-sizing: border-box;}
.qie-pic-word-new{width: 290px;margin-top: 20px;margin-left: 20px;}
.qiepic-new{width: 45px;height: 45px;float: left;}
.qie-list-new{width: 290px;height: 45px;margin-bottom: 15px;}
.qie-list-new a{display: block;width: 230px;height: 45px;overflow: hidden;line-height: 25px;font-size: 14px;float: right;}
.qie-list-new a:hover{text-decoration: underline;color: #fe6104;}

/*life-box*/
.life-box{height: 132px;width: 330px;margin-top: 20px;border: 1px solid #e1e1e1;box-sizing: border-box;}
.life-box .life-title{width: 330px;height: 40px;border-bottom: 1px solid #e1e1e1;box-sizing: border-box;padding-top: 10px;}
.life-box .life-title img{width: 75px;height: 18px;margin-left: 14px;}
.life-box .life-btns{width: 330px;height: 92px;}
.life-box .life-btns a{display: block;height: 92px;width: 82px;float: left;line-height: 130px;font-size: 14px;text-align: center;}
.life-box .life-btns a.life-phone{background: url("//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/phone.png") no-repeat center 20px;}
.life-box .life-btns a.life-wator{background: url("//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/chazuo.png") no-repeat center 20px;}
.life-box .life-btns a.life-car{background: url("//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/car.png") no-repeat center 20px;}
.life-box .life-btns a.life-pick{background: url("//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/piao.png") no-repeat center 20px;}
.life-box .life-btns a:hover{text-decoration: underline;color: #fe6104;}

/*content2*/
.content2{width: 1100px;height: 445px;border-bottom: 3px solid #a1a0a0;overflow: hidden;}
/*content2-banner*/
.content2-banner{width: 1100px;height: 32px;margin-bottom: 30px;margin-top: 20px;}
.content2-logo-title{width: 150px;height: 32px;line-height: 32px;font-size: 27px;color: #555;float: left;margin-left: 20px;font-weight: 600;}
.content2-banner .content2-logo{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/huodongtime.png') no-repeat;  width: 181px;  height: 33px;float: left;margin-left: 5px;}
.content2-banner .content3-logo{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/hangye.png') no-repeat;  width: 198px;  height: 35px;float: left;margin-left: 5px;}
.content2-banner .content2-arrow{background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -174px -20px;  width: 13px;  height: 13px;float: right;margin-top: 9px;margin-right: 15px;}
.content2-banner .content2-word{width: 55px;height: 32px;line-height: 32px;font-size: 12px;color: #308cd7;float: right;text-align: right;margin-right: 5px;}

.activity-list{width: 1105px;}
.activity-list li{height: 335px;margin-bottom: 25px;width: 273px;float: left;margin-left: 2px;background-color: #f5f4f4;position: relative;z-index: 3;}
.activity-list li img.activity-pic{width: 230px;height: 180px;margin-left: 9px;margin-top: 9px;}
.activity-list li h3.activity-title{height: 60px;line-height: 60px;width: 230px;overflow: hidden;font-size: 16px;margin-left: 9px;text-indent: 10px;font-weight: 600;}
.activity-list li h3.activity-title a:hover{text-decoration: underline;color: #fe6104;}
.activity-list li p.hudong-desc{height: 75px;line-height: 23px;width: 220px;overflow: hidden;font-size: 12px;margin-left: 14px;}
.activity-list li p.hudong-desc span{}
.activity-list li p.hudong-desc a{color: #308cd7;}
.activity-list li p.hudong-desc a:hover{text-decoration: underline;color: #fe6104;}
.activity-tag{display: block;width: 54px;height: 28px;position: absolute;z-index: 4;right: 0;top: 27px;background: url('//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/icons.png') no-repeat -191px -68px;text-align: center;color: #fff;line-height: 28px;}

/*content3*/
.content3{width: 1100px;height: 850px;overflow: hidden;}

.hy-list{width: 1135px;}
.hy-list li{width: 335px;height: 385px;float: left;margin-right: 35px;border-top: 1px solid #d0cfcf;}
.hy-list li p.hy-title{width: 50px;height: 50px;line-height: 50px;font-size: 18px;text-indent: 5px;color: #555555;border-top: 2px solid #308cd7;margin-top: -1px;font-weight: 600;}
.hy-list li p.hy-title-chang{width: 100px;height: 50px;line-height: 50px;font-size: 18px;text-indent: 5px;color: #555555;border-top: 2px solid #308cd7;margin-top: -1px;font-weight: 600;}
.hy-list li img.hy-pic{width: 335px;height: 150px;}
.hy-list li h3.hy-news-title{width: 315px;height: 60px;margin-left: 10px;font-size: 17px;font-weight: 500;line-height: 60px;overflow: hidden;}
.hy-list li h3.hy-news-title a{}
.hy-list li h3.hy-news-title a:hover{text-decoration: underline;color: #fe6104;}
.hy-list li p.hy-newslist{width: 325px;height: 16px;font-size: 14px;line-height: 16px;overflow: hidden;background: url("//mat1.gtimg.com/cq/seanwang/year2017/March/wanzhou/images/point.png") no-repeat 5px center;text-indent: 10px;margin-bottom: 14px;}
.hy-list li p.hy-newslist a{}
.hy-list li p.hy-newslist a:hover{text-decoration: underline;color: #fe6104;}

/*footer*/
#footer{position:relative;width:100%;height:315px;background:#f8f8f8;margin:80px auto auto auto;border-top:1px solid #dfdfdf}
.footer{width:1000px;height:100%;line-height:29px;margin:auto;}
.footer-left{float:left;width:180px;overflow:hidden;padding-top:42px}
.footer-right{position:relative;float:right;width:819px;padding:37px 0;font-size:14px;color:#777;border-left:1px solid #dfdfdf}
.footer-right a{color:#777}
.footer-right h4{margin-bottom:10px;font-size:16px;color:#414141;text-align:center}
.footer-right-l,.footer-right-c{float:left}
.footer-right-l{display:inline;width:82px;margin:0 100px 0 60px}
.footer-right-l li{display:inline;float:left;line-height:29px;margin:0 6px;white-space:nowrap}
.footer-right-c{width:500px}
.footer-right-c h4{text-align:left}
.footer-right-c h4.pdlm{margin-top:25px}
.footer-right-c li{float:left;margin:0 20px 0 0}
.footer-right-r{position:absolute;left:708px;top:-40px;width:110px}
.footer-right-r img{width:108px;height:108px;margin-bottom:7px;border:1px solid #dfdfdf}
.footer-right-r p{line-height:22px}

.copyright{width:100%;height:auto;line-height:30px;overflow:hidden;background:#333438;padding:25px 0 17px 0;font-size:14px;color:#888886;text-align:center}
.copyright p{color:#888886}
.copyright a{color:#888886}
/*  |xGv00|6754126ce576f18911125efaac1c28aa */