@charset "gb2312";
/* CSS Document */

*{ margin:0; padding:0; border:none;}
a{ color:#000; text-decoration:none;}
a:hover{ text-decoration:none; color:#666;}
ul,li,dl,dd,dt{ overflow:hidden; list-style:none;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

body{ background-color:#eaeaea; font:normal 18px/32px "Microsoft YaHei"; color:#fff;}
.banner{ width:100%; height:880px; overflow:hidden; margin:0 auto; background:url(//mat1.gtimg.com/fj/zt2018/1012xbtd/banner_01.jpg) no-repeat center top;}
.banner h2{ margin:703px auto; height:70px; font:normal 36px/70px "Microsoft YaHei"; text-align:center; color:#333;}
.banner h2 span{ font-size:24px; color:#a2774c; padding-left:20px;}
.wrap{ width:1020px; margin:30px auto 0; overflow:hidden;}

.wrap1 .focus{ width:920px; margin:0 auto; padding-bottom:12px; overflow:hidden;}
.wrap1 .img{ width:480px; height:280px;}
.wrap1 .intor{ width:400px; height:240px; padding:20px; background-color:#fff;}

.wrap1 .scroll_A{ width:1020px; height:440px; overflow:hidden; position:relative;}
.wrap1 .scroll_A .inner{ width:930px; height:440px; position:relative; overflow:hidden; margin-left:44px;}
.wrap1 .scroll_A .split{width:298px;height:425px; float:left; padding:0 6px; margin-bottom:30px;}
.wrap1 .scroll_A .split p{ padding:10px 20px 20px 20px; background-color:#fff;}
.wrap1 .scroll_A .split p b{ display:block; font:bold 18px/34px "Microsoft YaHei";}
.wrap1 .scroll_A .btn{position:absolute;top:180px;width:60px;height:60px;cursor:pointer; display:none; z-index:300;}
.wrap1 .scroll_A .prev{background:url(//mat1.gtimg.com/cd/poon/2014/sjj/arrow_l.png) no-repeat; left:5px;}
.wrap1 .scroll_A .next{background:url(//mat1.gtimg.com/cd/poon/2014/sjj/arrow_r.png) no-repeat; right:5px;}

.wrap2{ background:url(//mat1.gtimg.com/fj/zt2018/1012xbtd/a1.gif) no-repeat center top; padding-top:100px;}
.wrap2 ul{ width:924px; margin:0 auto;}
.wrap2 ul li{ width:225px; padding:3px; float:left; display:inline;}

.wrap3{ background:url(//mat1.gtimg.com/fj/zt2018/1012xbtd/a2.gif) no-repeat center top; padding-top:50px;}
.wrap3 .hd h4{ width:180px; height:45px; line-height:45px; text-align:center; font-size:22px; background-color:#a1774d; margin:0 auto; font-weight:normal;}
.wrap3 .scroll_B{ width:1020px; height:250px; overflow:hidden; position:relative; background:url(//mat1.gtimg.com/fj/zt2018/1012xbtd/a3.png) no-repeat center center; margin:50px 0;}
.wrap3 .scroll_B .inner{ width:960px; height:250px; position:relative; overflow:hidden; margin-left:30px;}
.wrap3 .scroll_B .split{width:250px;height:250px; float:left; padding:0 35px;}
.wrap3 .scroll_B .split img{ border-radius:200px;}
.wrap3 .scroll_B .btn{position:absolute;top:95px;width:60px;height:60px;cursor:pointer; z-index:300;}
.wrap3 .scroll_B .prev{ left:0;}
.wrap3 .scroll_B .next{ right:0;}/*  |xGv00|1cbad90443810dd3768ebf66d483f343 */