.border0001 {
	border: 1px solid #7ECAFB;
}
.border0002 {
	border: 1px solid #D2E7F5;
}
.border0003 {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #6B6B6B;
	border-right-color: #6B6B6B;
	border-bottom-color: #6B6B6B;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #6B6B6B;
}
.border0004 {
	border: 1px solid #D8D8D8;
}
.border0005 {
	border: 1px solid #F6B98F;
}
.border0006 {
	border: 1px solid #D8A5F6;
}
.border0007 {
	border: 1px solid #38C0CF;
}
.border0008 {
	border: 1px solid #84CE84;
}
.border0009 {
	border: 1px solid #F8AC9B;
}
.border0010 {
	border: 1px solid #56B9F6;
}
.border0011 {
	border: 1px solid #B3D775;
}
.border0012 {
	border: 1px solid #66D8E5;
}
.border0013 {
	border: 1px solid #F6B256;
}
a:link {
	font-size: 12px;
	line-height: 20px;
	color: #454545;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 20px;
	color: #454545;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 20px;
	color: #990000;
	text-decoration: underline;
}
.p12_h_bo {
	font-size: 12px;
	font-weight: normal;
	color: #CF081D;
	text-decoration: none;
}
a.p12_h_bo:link,a.p12_h_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #CF081D;
	text-decoration: none;
}
a.p12_h_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_dl_bo {
	font-size: 12px;
	font-weight: normal;
	color: #0766A5;
	text-decoration: none;
}
a.p12_dl_bo:link,a.p12_dl_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #0766A5;
	text-decoration: none;
}
a.p12_dl_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_dh_bo {
	font-size: 12px;
	font-weight: normal;
	color: #A65824;
	text-decoration: none;
}
a.p12_dh_bo:link,a.p12_dh_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #A65824;
	text-decoration: none;
}
a.p12_dh_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_dz_bo {
	font-size: 12px;
	font-weight: normal;
	color: #734C92;
	text-decoration: none;
}
a.p12_dz_bo:link,a.p12_dz_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #734C92;
	text-decoration: none;
}
a.p12_dz_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_dll_bo {
	font-size: 12px;
	font-weight: normal;
	color: #3F9F8E;
	text-decoration: none;
}
a.p12_dll_bo:link,a.p12_dll_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #3F9F8E;
	text-decoration: none;
}
a.p12_dll_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_dlll_bo {
	font-size: 12px;
	font-weight: normal;
	color: #61904E;
	text-decoration: none;
}
a.p12_dlll_bo:link,a.p12_dlll_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #61904E;
	text-decoration: none;
}
a.p12_dlll_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_dllll_bo {
	font-size: 12px;
	font-weight: normal;
	color: #509404;
	text-decoration: none;
}
a.p12_dllll_bo:link,a.p12_dllll_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #509404;
	text-decoration: none;
}
a.p12_dllll_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_dllh_bo {
	font-size: 12px;
	font-weight: normal;
	color: #AB3343;
	text-decoration: none;
}
a.p12_dllh_bo:link,a.p12_dllh_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #AB3343;
	text-decoration: none;
}
a.p12_dllh_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
}
.p12_l_bo {
	font-size: 12px;
	font-weight: normal;
	color: #011083;
	text-decoration: none;
}
a.p12_l_bo:link,a.p12_l_bo:visited {
	font-size: 12px;
	font-weight: normal;
	color: #011083;
	text-decoration: none;
}
a.p12_l_bo:hover {
	font-size: 12px;
	font-weight: normal;
	color: #011083;
	text-decoration: underline;
}
.p15_w_bo {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.p15_w_bo:link,a.p15_w_bo:visited {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.p15_w_bo:hover {
	font-size: 15px;
	font-weight: bold;
	color: #FFFF00;
	text-decoration: underline;
}
.p14_r_bo {
	font-size: 14px;
	font-weight: bold;
	color: #CF081D;
	text-decoration: none;
}
.p14_hc_bo {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.p14_hc_bo:link,a.p14_hc_bo:visited {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.p14_hc_bo:hover {
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	text-decoration: underline;
}
.p14_w_bo {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.p14_w_bo:link,a.p14_w_bo:visited {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.p14_w_bo:hover {
	font-size: 14px;
	font-weight: bold;
	color: #FFFF00;
	text-decoration: underline;
}
.p14_lc_bo {
	font-size: 14px;
	font-weight: bold;
	color: #0766A5;
	text-decoration: none;
}
.p16_h_bo {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.p16_h_bo:link,a.p16_h_bo:visited {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.p16_h_bo:hover {
	font-size: 16px;
	font-weight: bold;
	color: #990000;
	text-decoration: underline;
}
.p14_hl_bo {
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
	line-height: 25px;
}
a.p14_hl_bo:link,a.p14_hl_bo:visited {
	font-size: 14px;
	font-weight: normal;
	color: #990000;
	text-decoration: none;
	line-height: 25px;
}
a.p14_hl_bo:hover {
	font-size: 14px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
	line-height: 25px;
}
.p14_h_bo {
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 22px;
}
a.p14_h_bo:link,a.p14_h_bo:visited {
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 22px;
}
a.p14_h_bo:hover {
	font-size: 14px;
	font-weight: normal;
	color: #990000;
	text-decoration: underline;
	line-height: 22px;
}
.p13_h_bo {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 25px;
}
a.p13_h_bo:link,a.p13_h_bo:visited {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 25px;
}
a.p13_h_bo:hover {
	font-size: 13px;
	font-weight: bold;
	color: #990000;
	text-decoration: underline;
	line-height: 25px;
}
.white {
	color: #FFFFFF;
}
a.white:link,a.white:visited {
	color: #FFFFFF;
}
a.white:hover {
	color: #FFFF00;
}
.l6r6 {
	margin-right: 13px;
	margin-left: 13px;
}
.up10 {
	margin-bottom: 10px;
}
.up15sx {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 0px;
}
