* html{ filter: expression(document.execCommand("BackgroundImageCache", false, true));}
body,div,ul,li,p,span,table,tr,td,hr,em,strong,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,button,select,a,form {margin:0; padding:0; word-break:break-all;}
input,select{font-size:12px;line-height:16px;}
img{border:none;}
ul,li{list-style-type:none;}
body {color:#555;font-size:12px; font-family:"宋体"; background:#fff; }
a:link {color:#254F6F;text-decoration:none; }
a:visited {color:#39709A;text-decoration:none; }
a:hover {color: #ff6000;text-decoration:underline;}
red,a.red {color: #ff6000;font-weight:bold;}
blue,a.blue {color: #005FA6;font-weight:bold;}
black,a.black {font-weight:bold;}
.dotLine {background:url(//mat1.gtimg.com/cq/images/09/dotline.gif) repeat-x ; height: 1px;clear:both; width: 94%;margin:10px 0 0 10px;  overflow:hidden;  }

a.more {background:#CCC2A0; color:#000;text-decoration:none; padding:0 2px 0 2px; }
a.more:hover {background:#483F20; color:#FFF;text-decoration:none;  }
.clear {clear:both; }
.blueList12 li {line-height:20px; background:url(//mat1.gtimg.com/cq/images/09/dot_blue.gif) no-repeat 0 9px; padding:0 0 0 7px; }
.blueList14 li {line-height:25px; background:url(//mat1.gtimg.com/cq/images/09/dot_blue.gif) no-repeat 0 11px; padding:0 0 0 8px; font-size:14px;}
.greyList12 li {line-height:20px; background:url(//mat1.gtimg.com/cq/images/09/dot_blue.gif) no-repeat 0 9px; padding:0 0 0 7px;}
.greyList12 li a {color:#555;}
.adTL {width: 958px; height: 90px; border:1px solid #DDDDDD;clear:both; margin:10px 0 0 0; float:left; overflow:hidden; }
.adTL .righttxt {float:right;width: 150px; padding:6px 8px 0 0;line-height:20px; }
.adTL .lefttl {float:left;width: 790px;  }

/*头部广告块*/
#TopAd { float:left; width:960px; height:90px; }
#TopAd .button { width:162px; float:left; padding:0; margin:0; overflow:hidden; }
#TopAd #banner1 { width:636px; float:left; padding:5px 0 0 0; }
.Topbanner {float:left; width:960px; height: 70px; overflow:hidden; margin:3px 0 0 0;  }
#Search { width:960px; height:70px; float:left; margin:5px 0; color:#00007f; line-height:20px; }
#Search .adtxt { width:142px; height:63px; float:left; border:1px solid #CDCBCC; background-image:url(//mat1.gtimg.com/cq/images/img08/searchtxtbg.gif); background-repeat: repeat-x; padding: 5px 0 0 8px; font-family:"宋体";}
#Search .barad { width:646px; height:70px; float:left; margin:0 5px; overflow:hidden;}

/*头部广告块二*/
#TopAd2 { float:left; width:960px; height:70px; }
#TopAd2 .banner1 { width:475px; float:left; }
#TopAd2 .blk { width:10px; height:70px; float:left; }

#container {width: 960px; margin:0 auto;  }
#mainArea {float:left; width: 700px; margin-top: 8px;}
#mainArea .leftCol {float:left; width: 310px; }
#newsHL {width: 310px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat ;  }
#newsHL h3.newsDt {font-size:14px;font-family:"宋体";color: #FFFFFF;padding:10px 0 0 28px;line-height:20px; height: 20px;  }
#newsHL h3.newsDt a,#newsHL h3.newsDt a:visited { color: #fff; }
#newsHL h3.newsDt span {margin:0 0 0 20px; font-size:12px;font-weight:normal; }
#newsHL h3.newsDt span a,#newsHL h3.newsDt span a:visited {color:#254F6F;}
#newsHL h3.newsDt span a:hover {color:#ff6000;}
.proTxt {float:right; margin-top: -16px;margin-right: 8px;}
#newsHL h2 {font-size:20px;font-family:"黑体";font-weight:normal;text-align:center; margin:18px 0 0 0; }
#newsHL p {text-align:center; line-height:22px; }

#newsArea {float:left; width: 308px;height: 270px; border-right:1px solid #AFD0E9;border-left:1px solid #AFD0E9; overflow:hidden;  }
#newsArea ul {margin:5px 0 0 10px; }
#newsArea li {white-space:nowrap; overflow:hidden; }
#newsHL a,#newsArea a {color: #254F6F;}

.lBox {width: 310px; float:left; margin-top: 8px;}
.lBox h3 {color: #FFFFFF;padding:14px 0 0 25px;font-size:14px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -120px;
height: 19px;line-height:19px; float:left; width: 285px;font-family:"宋体";}
.lBox .proList {float:left; width: 308px; border-right:1px solid #AFD0E9;border-left:1px solid #AFD0E9; overflow:hidden;}
.lBox .proList ul {margin:10px 0 10px 8px; }
.lBox .proList li {white-space:nowrap; overflow:hidden;line-height:20px; }
.lBox .proList li span {color: #254F6F;margin-right: 8px;}
.lBox .proList li span a {color: #254F6F;}
.lBottom {width: 310px;height: 5px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -165px ; float:left; overflow:hidden;   }

#mainArea .midCol {float:left; width: 380px; padding:0 0 0 10px; }
#mainFocus { border:1px solid #AFD0E9; }
#mainFocus .inner {background:#69A5D2;border:1px solid #FFFFFF;height: 284px;  }
#mainFocus p { margin:5px 0 0 5px; padding-bottom: 3px;width: 366px; }
#mainFocus p img {border:1px solid #95C0E1;}
#mainFocus #CQ09_Huis_button1 { margin:auto; padding:5px 0;} 
#focusImg {border:1px solid #95C0E1;margin:2px 0 0 5px;height: 230px;width: 364px; float:left; display:inline; overflow:hidden; }
#focusImg .opacityDiv {position:relative; z-index:10;background:#000000; height: 24px; width: 364px; top:-24px; opacity:0.6; -moz-opacity:0.6; filter:alpha(opacity=60);}
#focusImg h3 { position:relative; z-index:20;margin-top: -44px;left:4px;font-size:14px;height: 20px;color: #FFFFFF;line-height:18px;font-family:"宋体"; }
#focusImg h3 a {color: #FFFFFF;}
.focus_page{position:relative; z-index:20;margin-top: -20px;float:right; height:16px;margin-right: 6px;}
.focus_page a,.focus_page a:visited {color:#FFFFFF;text-decoration:none;padding:1px 4px;line-height:16px; cursor:pointer;}
.focus_page strong,.focus_page a:hover {background:#FF6000;color:#FFFFFF;padding:1px 4px;line-height:16px; cursor:pointer; }

#topicArea {width: 380px; height: 270px; background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -200px;margin-top: 8px;overflow:hidden; }
#topicArea h2 {font-size:20px;font-family:"黑体";font-weight:normal;text-align:center;margin:20px 0 0 0; }
#topicArea h2 a {color: #254F6F;}
#topicArea h3 {color: #FFFFFF;font-size:14px;padding:10px 0 0 28px;line-height:20px; height: 20px; }
#topicArea h3 span {float:right; margin-top:-20px;margin-right: 8px; font-size:12px;font-weight:normal;font-family:"宋体";}
#topicArea ul {margin:10px 0 0 10px; }
#topicArea li {line-height:19px; white-space:nowrap;}
#topicArea li a {margin-left: 10px;}
.mTop {width: 380px;height: 5px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -175px ; float:left; overflow:hidden; margin-top: 8px;  }
.mBottom {width: 380px;height: 5px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -185px ; float:left; overflow:hidden;  }

#midBox {float:left; width: 378px;height: 259px; border-right:1px solid #AFD0E9; border-left:1px solid #AFD0E9;font-family:simsun; }
#midBox  h3 {background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -400px -300px ;font-size:12px;height: 23px;line-height:23px; padding-left: 6px; 
margin:5px 0 0 8px;color: #005FA6;}
#midBox  h3 span {float:right; margin-top: -23px;font-weight:normal;margin-right: 10px;}
#midBox  h3 span a {color: #525252;}
#midBox ul {margin:6px 0 6px 12px; }
#midBox li {line-height:19px;white-space:nowrap; }
#midBox p {background:#E1F0FA; height: 19px; line-height:20px; text-align:center; width: 92%;margin-left: 10px; }
#midBox p a {color: #254F6F;}
#midBox .midLeft {float:left; width: 156px;overflow:hidden;  }
#midBox .midRight {float:left; width: 216px;overflow:hidden;  }
#midBox .midRight  h3 {background-position:-400px -330px   ;}
#videoArea {width: 138px;height: 97px; display:block;background:#E8E8E8 url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -400px -360px ;overflow:hidden;  cursor:pointer;margin:5px 0 0 12px; }
#videoArea:hover {background-position: -550px -360px ;background-color:#FFF5E3;  color: #FF6000;text-decoration:none; }
#videoArea img {border:1px solid #FFFFFF;margin:4px 0 2px 4px;display:block;}
#videoArea span {margin:0 0 0 28px;line-height:19px;  }

#proBox {float:left;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -580px ;   width: 700px;height: 60px; margin-top: 8px; }
#proBox ul {float:left; padding:10px 0 0 36px; font-family:simsun; }
#proBox li {float:left;width: 110px;line-height:21px; overflow:hidden; white-space:nowrap; }

.rightCol {float:right; width: 250px; }
.rightBox {margin-top: 8px;float:left; width: 250px;}
.rightBox dt {background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px 0 ;height: 22px;line-height:22px; font-size:14px;padding:4px 0 0 26px; font-weight:bold;font-family:simsun;color: #555555; }
.rightBox dt .more {float:right; margin-top: -23px;margin-right: 6px;font-size:12px;font-weight:normal;}
.rightBox dd {border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1;  }
.rightBox ul {padding:10px 0 8px 12px;  }
.rightCol .rBottom {width: 250px;height: 5px;background: url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px -35px ; float:left; overflow:hidden; }
.rightPro p {text-align:center; font-weight:bold;padding:10px 0 0 0; }
.rightPro li {white-space:nowrap;overflow:hidden;width: 228px; }
.rightPro .imgP {float:left; padding:6px 0 0 8px;width: 114px; overflow:hidden;  }
.rightPro .imgP p {font-weight:normal;padding:4px 0 0 0; white-space:nowrap;}
.rightPro .imgP img {border:1px solid #CCCCCC;padding:1px; }

.rightBox dt.rightTab {background:none ;border-bottom:1px solid #D1D1D1; padding:0; height: 25px;  }
.rightTab span {background: url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px -50px ;float:left; width: 68px;margin-left: 2px;
padding:3px 0 0 14px;  }
.rightTab span.tab_off {background: url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -425px -50px ;font-weight:normal;} 
.rightTab span a {color: #254F6F;}
.rightBox  p.pDt {padding:3px 0 0 15px; background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px -80px ;margin:0 0 0 6px; height: 17px; position:relative; top:5px;}
.rightBox  p.pDt a {font-weight:bold;color: #254F6F;}
.rightBox .formUl li {padding-top: 5px;}
#mallArea {padding:13px 0 7px 10px; height: 50px; overflow:hidden; }
#mallArea span {float:right;width: 60px;  margin-top: -52px;margin-right: 8px;overflow:hidden; height: 46px; }
#mallArea img {border:1px solid #cccccc;padding:1px; }
#cityGuide {height: 307px; }
#cityGuide p {margin:3px 0 0 6px;float:left; display:inline; width: 234px;font-family:simsun; }
#cityGuide a.grBtnLink{width: 110px;height: 23px;line-height:23px; text-align:center; color: #254F6F; background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -400px -240px; 
padding:3px 0 0 0; letter-spacing:1px;text-decoration:none;float:left; margin:3px 0 0 5px;  }
#cityGuide a.blBtnLink {width: 110px;height: 23px;line-height:23px; text-align:center; color: #254F6F;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -516px -240px;
padding:3px 0 0 0; letter-spacing:1px;text-decoration:none;float:left; margin:3px 0 0 5px;  }
#cityGuide a.blBtnLink:hover,#cityGuide a.grBtnLink:hover {background-position: -400px -268px ;color: #CF4E00;}


.mainBox {width: 475px;float:left; margin-top: 10px; }
.mainBox.rightFloat {float:right; }
.mainBox .bottom {width: 475px;height: 5px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -570px ; float:left; overflow:hidden;  }
.mainBox h3.mainDt {height: 22px; padding:18px 0 0 22px; font-size:14px;font-family:simsun; color: #FFFFFF;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -520px ; }
.mainBox h3.mainDt a,.mainBox h3.mainDt a:visited {color: #FFFFFF;}
.mainBox h3.mainDt span {font-size:12px;font-weight:normal;color: #005FA6;margin-left: 10px;}
.mainBox h3.mainDt span a,.mainBox h3.mainDt span a:visited {color: #005FA6;}
.mainBox h3.mainDt p {float:right; margin-top: -24px;margin-right: 8px;display:inline; }
.mainBoxBody {width: 473px;height: 238px; overflow:hidden;  border-right:1px solid #AFD0E9; border-left:1px solid #AFD0E9; float:left; }
.mainBoxBody .mainLeft {float:left; width: 165px; margin:15px 0 0 10px;border-right:1px dotted #B0B0B0;display:inline; overflow:hidden;   }
.mainBoxBody .mainLeft .img {background:#E8E8E8;border:1px solid #D1D1D1;width: 134px; height: 92px; padding:3px 0 0 3px; margin:0 0 0 8px;overflow:hidden;   }
.mainBoxBody .mainLeft .img img {border:1px solid #FFFFFF;}
.mainBoxBody .mainLeft .img p  {text-align:center; margin:2px 0 0 0; line-height:18px; }
.mainBoxBody .mainLeft .img p a {color: #333333;}
.mainBoxBody .mainLeft h4 {background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px -120px ;text-align:center; font-size:12px;width: 150px;
height: 20px; line-height:21px; color: #005FA6; margin:10px 0 0 0; }
.mainBoxBody .mainLeft h4 a, .mainBoxBody .mainLeft h4 a:visited {color: #005FA6;}
.mainBoxBody .mainLeft ul {padding:10px 0 0 5px; }
.mainBoxBody .mainLeft .imgTxt {float:left; padding:5px 0 0 10px; width: 64px; }
.mainBoxBody .mainLeft .imgTxt img {padding:1px; border:1px solid #CCCCCC;}
.mainBoxBody .mainLeft .imgTxt p {line-height:14px; margin-top: 2px;}
.mainBoxBody .mainLeft .imgTxt strong {color: #FF6000;}
.mainBoxBody .mainRight {float:right; width: 295px; overflow:hidden; }
.mainBoxBody .mainRight .headline {text-align:center;color: #254F6F; border-bottom:1px dotted #B0B0B0; width: 284px; margin-left: 5px;padding-bottom: 12px;}
.mainBoxBody .mainRight .headline h3 {text-align:center; font-size:16px;margin-top: 20px;line-height:28px; font-family:"黑体";font-weight:normal;}
.mainBoxBody .mainRight .headline a {color: #254F6F;}
.mainBoxBody .mainRight ul {padding:13px 0 0 10px; }
.mainBoxBody .mainRight li {line-height:20px; }

#coLink {width: 958px;height: 86px; border:1px solid #AFD0E9; background:#ECF2F7;margin-top: 10px; float:left; clear:both; }
#coLink h3 {background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -500px -120px ; width: 16px; height: 72px; color: #005FA6;font-size:12px;padding:14px 0 0 4px;
float:left; margin-left: 10px;display:inline; }
#coLink ul {float:left;padding:22px 0 0 10px;  }
#coLink li {float:left; background:#FFFFFF; border:1px solid #D4D4D4;width: 100px; height:40px;padding:1px;margin:0 0 0 15px; overflow:hidden;  display:inline; }

/* 清除浮动 */
.clear1{zoom:1}
.clear1:after{content:".";display:block;visibility:hidden;height:0;clear:both;}
.blank8{height:8px;font-size:1px;line-height:1px;background:#FFF;}

/* 焦点区 */
.focusArea{width:960px;margin:0 auto;background:url(//mat1.gtimg.com/cq/images/index/090727/bg10727.gif);}
.focusArea .left{width:700px;float:left;}
.focusArea .right{width:250px;float:right;}
.mainNews{width:700px;}
.mainNews .l{width:310px;float:left}
.mainNews .r{width:380px;float:right}

/* 大渝要闻 */
.hotNews{background:url(//mat1.gtimg.com/cq/images/index/090727/bg20727.gif) no-repeat top;padding-top:12px;}
.hotNews h3{padding:0 9px 0 10px;text-align:right;margin:0 0 20px 0;font-size:12px;font-weight:normal;}
.hotNews h3 strong{width:96px;float:left;font-size:14px;font-weight:bold;color:#FFF;text-align:center;margin-right:10px;}
.hotNews h3 strong a:link,.hotNews h3 strong a:hover,.hotNews h3 strong a:visited{color:#FFF}
.hotNews h3 span{float:left;}
.hotNews h1 {font-size:20px;font-family:"黑体";font-weight:normal;text-align:center; margin:18px 0 0 0; }
.hotNews p {text-align:center; line-height:22px; }
.hotNews ul {margin:5px 0 8px 10px; }
.hotNews li {white-space:nowrap; overflow:hidden; }
.hotNews a{color:#254F6F;}
.focusBot{height:2px;background:url(//mat1.gtimg.com/cq/images/index/090727/bot0727.gif);overflow:hidden;}

/* 时事·文体·财经 */
.lbox h3 {color: #FFFFFF;padding:14px 0 0 25px;font-size:14px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -120px;
height: 19px;line-height:19px; float:left; width: 285px;font-family:"宋体";}
.lbox .proList {float:left; width: 308px; border-right:1px solid #AFD0E9;border-left:1px solid #AFD0E9; overflow:hidden;}
.lbox .proList ul {margin:10px 0 5px 8px; }
.lbox .proList li {white-space:nowrap; overflow:hidden;line-height:20px; }
.lbox .proList li span {color: #254F6F;margin-right: 8px;}
.lbox .proList li span a {color: #254F6F;}

/* 滚动新闻 */
.scrollNews{width:360px;padding:2px 10px 0;height:18px;text-align:left;background:#E9F4FB;line-height:17px;border-top:5px solid #FFF;border-bottom:5px solid #FFF;}
.scrollNews span{font-weight:bold;color:#276AB2;float:left;width:65px;}
.scrollNews marquee{float:left;}

#topicArea1 {width: 380px; background:url(//mat1.gtimg.com/cq/images/index/090727/bg30727.gif) no-repeat top; }
#topicArea1 h2 {font-size:20px;font-family:"黑体";font-weight:normal;text-align:center;margin:17px 0 0 0; }
#topicArea1 h2 a {color: #254F6F;}
#topicArea1 h3 {color: #FFFFFF;font-size:14px;padding:10px 0 0 28px;line-height:20px; height: 20px; }
#topicArea1 h3 span {float:right; margin-top:-20px;margin-right: 8px; font-size:12px;font-weight:normal;font-family:"宋体";}
#topicArea1 ul {margin:10px 0 0 10px; }
#topicArea1 li {line-height:19px; white-space:nowrap;}
#topicArea1 li a {margin-left: 10px;}

#mainFocus .inner {background:#69A5D2;border:1px solid #FFFFFF;height: 269px;  }
#focusImg {border:1px solid #95C0E1;margin:2px 0 0 5px;height: 215px;width: 364px; float:left; display:inline; overflow:hidden; }
.mTop1 {width: 380px;height: 5px;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat 0 -175px ; float:left; overflow:hidden;  }

/* 焦点区右侧 */
.rightBox1 {float:left; width: 250px;}
.rightBox1 dt {background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px 0 ;height: 22px;line-height:22px; font-size:14px;padding:4px 0 0 26px; font-weight:bold;font-family:simsun;color: #555555; }
.rightBox1 dt .more {float:right; margin-top: -23px;margin-right: 6px;font-size:12px;font-weight:normal;}
.rightBox1 dd {border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1;  }
.rightBox1 ul {padding:10px 0 8px 12px;  }
.rightBox1 dt.rightTab {background:none ;border-bottom:1px solid #D1D1D1; padding:0; height: 25px;  }
.rightTab span {background: url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px -50px ;float:left; width: 68px;margin-left: 2px;
padding:3px 0 0 14px;  }
.rightTab span.tab_off {background: url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -425px -50px ;font-weight:normal;} 
.rightTab span a {color: #254F6F;}
.rightBox  p.pDt {padding:3px 0 0 15px; background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px -80px ;margin:0 0 0 6px; height: 17px; position:relative; top:5px;}
.rightBox  p.pDt a {font-weight:bold;color: #254F6F;}
.rightBox .formUl li {padding-top: 5px;}
.right .rBottom {width: 250px;height: 5px;background: url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -340px -35px ; overflow:hidden; }
.infoS{width:210px;margin:auto;line-height:20px;text-align:left;padding:5px 0;}
.infoS li{width:105px;float:left;}
.infoS .t a{color:#FF6000}
.focusArea .rightBox{margin-top:0}

#cityGuide1 p {margin:3px 0 0 6px;float:left; display:inline; width: 234px;font-family:simsun; }
#cityGuide1 a.grBtnLink{width: 110px;height: 23px;line-height:23px; text-align:center; color: #254F6F; background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -400px -240px; 
padding:3px 0 0 0; letter-spacing:1px;text-decoration:none;float:left; margin:3px 0 0 5px;  }
#cityGuide1 a.blBtnLink {width: 110px;height: 23px;line-height:23px; text-align:center; color: #254F6F;background:url(//mat1.gtimg.com/cq/images/09/bg_sprite.gif) no-repeat -516px -240px;
padding:3px 0 0 0; letter-spacing:1px;text-decoration:none;float:left; margin:3px 0 0 5px;  }
#cityGuide1 a.blBtnLink:hover,#cityGuide1 a.grBtnLink:hover {background-position: -400px -268px ;color: #CF4E00;}
.focusArea #midBox{height:250px;}
.lbox .dotLine{margin:5px auto 0;}
#ad700x60 .adPic{width:130px;float:left;margin-right:10px;border:1px solid #D3D3D3}
#ad700x60 div.end{margin:0}
.right .rightPro .imgP {float:left; padding:6px 0 0 6px;width: 114px; overflow:hidden;  }
.rightBox1 ul.infoS{padding:6px 0 0 0}
.ad250x60{width:248px;border:1px solid #D3D3D3}

/* 合作伙伴 */
#Partners{width:930px;margin:10px auto 0;border:1px solid #AFD0E9;background:#ECF2F7;padding:14px;}
#Partners h2{height:22px;text-align:left;font-size:14px;font-weight:bold;color:#005FA6;border-bottom:1px solid #CADBEF;margin-bottom:10px;}
#Partners .t{width:912px;margin:0 auto;}
#Partners .t span{float:left;padding-top:10px;color:#666;font-weight:bold;width:72px;}
#Partners .t .no{padding-top:0;line-height:24px;}
#Partners .t div{width:840px;float:left;line-height:24px;color:#DFDFDF}
#Partners .t .text a{margin:0 6px;color:#6E6E6E}
#Partners .t img{border:1px solid #CCC;margin:0 7px 8px 7px}
#Partners .bgline{width:920px;background:url(http://img1.gtimg.com/cq/pics/20738/20738436.gif) repeat-x center;height:17px;margin:0 auto;overflow:hidden}/*  |xGv00|0b457fad329490a88b2f566c258edbd5 */