/*
time:2011-10-12
author:shenshenyan#tencent.com
*/
/*Tencent Reset*/
/*-------------------css reset-----------------*/


/*移动设备支持 ip3 ip4 ipad*/  
@media screen and (max-device-width: 320px) {
 body {
-webkit-text-size-adjust:none;
}
}
@media screen and (max-device-width: 480px) {
 body {
-webkit-text-size-adjust:none;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
 body {
-webkit-text-size-adjust:none;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
 body {
-webkit-text-size-adjust:none;
}
}
/*reset*/  
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select { margin:0; padding:0 }
body { font:12px simsun Arial; background:#ededed url(//mat1.gtimg.com/auto/1/20111130wendao/topicBg.jpg) repeat-x 0 25px; color:#333; }
a,a:link,a:visited { color:#000; text-decoration:none }
a:hover { color:#d90606; text-decoration:underline }
em { font-style:normal }
li { list-style:none }/*去除listStyle */
img { border:0; vertical-align:middle }
table { border-collapse:collapse; border-spacing:0 }
p { word-wrap:break-word }
.fl, .layout .fl, .chief { float:left; display:inline }/*float */
.fr, .layout .fr, .extra { float:right; display:inline }
.undis { display:none }/*hidden */
.dis { display:block }
.ind { text-indent:2em }/*indent 2 letter */
.Q-red a, a.Q-red { color:#bd0a01 }/*标红 */
.Q-black a, a.Q-black { color:#000 }/*标黑 */
.layout:after, .hd:after, .bd:after, .ft:after, .cf:after, .Q-tList:after, .Q-tList ul:after, .Q-pList:after, .Q-pList ul:after, .Q-tpList:after, .Q-tpList ul:after, .Q-tpWrap:after { content:""; display:table; clear:both }/*布局与组件清楚浮动 */
.layout, .hd, .bd, .ft, .cf, .Q-tList, .Q-tList ul, .Q-pList, .Q-pList ul, .Q-tpList, .Q-tpList ul, .Q-tpWrap { *zoom:1
}/*.cf:clear float */
/*布局开始*/  
.layout { width:960px; margin:0 auto }
.Q-g12 .chief, .Q-g12 .extra { width:475px }
.Q-g14 .chief { width:570px }
.Q-g14 .extra { width:380px }
.Q-g16 .chief { width:640px }
.Q-g16 .main { width:380px }
.Q-g16 .sub { width:250px }
.Q-g16 .extra { width:310px }
.Q-g17a .chief, .Q-g17b .chief { width:700px }
.Q-g17a .main { width:380px }
.Q-g17a .sub { width:310px }
.Q-g17a .extra, .Q-g17b .extra { width:250px }
.Q-g17b .main, .Q-g17b .sub { width:345px }
.Q-g24 .chief { width:960px }
/*布局结束 */  
.hd h2, .hd h3 { float:left; display:inline }
/*字体 */  
.f12 { font-size:12px }
.f14 { font-size:14px }
.f16 { font-size:16px }
.f18 { font-size:18px }
.f20 { font-size:20px }
/*行高 */
.l16 { line-height:16px }
.l17 { line-height:17px }
.l18 { line-height:18px }
.l19 { line-height:19px }
.l20 { line-height:20px }
.l21 { line-height:21px }
.l22 { line-height:22px }
.l23 { line-height:23px }
.l24 { line-height:24px }
.l25 { line-height:25px }
.l26 { line-height:26px }
.l27 { line-height:27px }
.l28 { line-height:28px }
.l29 { line-height:29px }
.l30 { line-height:30px }
/*头条 段落 */  
.Q-hot, .Q-tList { margin:0 10px }
.Q-hot h2 { font:normal 18px/28px simhei; text-align:center }
.Q-hot h2.l30 { font-size:20px }
/*文字列表 */  
.Q-tList span, .Q-tpList li span { float:right }
/*图片列表 */  
.Q-pList li { float:left; display:inline; text-align:center }
.Q-pList a { display:block }
.Q-pList p a { display:inline }
/*图文混排 */  
.Q-tpList em { font-weight:bold }
.Q-tpList .pic { float:left; margin-right:10px; overflow:hidden; display:inline; text-align:center }
.Q-tpList .pic img { border:1px solid #cbcbcb; display:block }
/*带视频按钮的列表 */  
.Q-vBg { width:100%; height:21px; position:relative; margin-top:-21px; font:12px/21px simsun; background:rgba(0, 0, 0, 0.6); filter: progid:DXImageTransform.Microsoft.gradient( Q-gradientType = 0, startColorstr = '#80000000', endColorstr = '#80000000') \9;
text-align:right; cursor:pointer }
.Q-vBg b { display:block; position:absolute; width:21px; height:21px; top:0; left:0; cursor:pointer }
.Q-vBg span { padding:0 5px; color:#fff; cursor:pointer }
.vBg b { background:url(//mat1.gtimg.com/news/base2011/img/trs.png); _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="//mat1.gtimg.com/news/base2011/img/trs.png")
}
/*线 */  
.Q-line { height:0; font:0/0 Arial; overflow:hidden; clear:both; border-bottom:1px dashed #ccc }
/*文字列表前icon */  
.Q-iDot li, .Q-iDotBlue li, .Q-iDotGray li, .Q-iTqq li, .Q-iVideo li, .Q-iVideoBlue li, .Q-iVideoDeep li { background:url(//mat1.gtimg.com/news/base2011/img/i.png) no-repeat }
.Q-iDotBlue li { background-position:0 -30px }/*蓝点*/
.Q-iTqq li { background-position:0 -60px }/*微博*/
.Q-iVideo li { background-position:0 -90px }/*红色摄像机*/
.Q-iVideoBlue li { background-position:0 -120px }/*蓝色摄像机*/
.Q-iVideoDeep li { background-position:0 -120px }/*深红色摄像机*/
.Q-iDotGray li { background-position:0 -180px }/*灰点*/
.mt10 { margin-top:10px }
.mb10 { margin-bottom:10px }
.wrap a:link, .wrap a:visited { color:#333; }
.wrap a:hover { color:#000; }
:focus { outline:none }
/* 图片加载 */
.topicTop .flash .download, .topicTop .text .article .col, .topicTop .text .guests .guestsTop span, .topicTop .text .share span, .videoBox .hd h2, .videoBox .videoList li .article .play, .QandA .hd h2, .intrD .hd h2, .QandAw .intrD .pic, .picAppreciate .hd h2, .pastEvents .hd h2 { background:url(//mat1.gtimg.com/auto/1/20111130wendao/topicIcon.png) no-repeat; }
#btn_left, #btn_right, .QFfoot .bd .logoIcon { background:url(//mat1.gtimg.com/auto/1/20111130wendao/topicCol.png) no-repeat; }
.QandAw .QandA .qaUl { background:url(//mat1.gtimg.com/auto/1/20111130wendao/numIcon.png) no-repeat; }
.nav, .topicTop { margin-bottom:10px; }
/* wrap */
.wrap { background:#ededed url(//mat1.gtimg.com/auto/1/20111130wendao/topicBg.jpg) repeat-x 0 0; color:#333; padding-bottom:20px; border-bottom:1px solid #bebebe; }
.wrapBg { width:960px; margin:0 auto; }
 .topicHead { background:url(http://img1.gtimg.com/auto/pics/hv1/76/200/921/59939101.jpg) no-repeat 0 0; height:176px; width:960px; margin:0 auto; }
.topicHead h1 { text-indent:-999em; overflow:hidden; height:30px; }
 .topicHead .title { padding:106px 0 0 250px; }
 .topicHead .fr { margin-top:-30px; width:300px; text-align:right; }
/* nav */
.nav { overflow:hidden; zoom:1; height:38px; background:none!important;  width:960px; margin:0 auto;}
.nav .navUl { overflow:hidden; zoom:1; padding-top:8px; }
.nav .navUl li { float:left; display:inline; padding:0 20px; font-size:14px; font-weight:bold; border-left:1px solid #565656; height:20px; line-height:20px; margin-left:-1px; }
.nav .navUl li a:link, .nav .navUl li a:visited, .nav .navUl li a:hover { color:#fff; }
.nav .select { padding-top:8px; text-align:right; }
.topicTop { overflow:hidden; zoom:1  width:960px!important; margin:10px auto 0px;}
.topicTop .flash { width:490px; height:440px; }
.topicTop .flash .download { height:35px; line-height:35px; }
.topicTop .flash .download span { margin:0px 0 0 170px; font-size:14px; color:#fff; padding:5px 45px; cursor:pointer; }
.topicTop .flash .download span a:link, .topicTop .flash .download span a:visited, .topicTop .flash .download span a:hover { color:#fff; }
.topicTop .text { width:460px; background-position:0 0; }
.topicTop .text .article { padding:10px; background:#eaeaea; border:1px solid #a0a0a0; position:relative; height:88px }
.topicTop .text .article span { font-weight:bold; }
.topicTop .text .article .col { display:block; width:23px; height:25px; background-position:-501px -17px; position:absolute; top:107px; left:50px; }
.topicTop .text .guests { margin-top:35px; overflow:hidden; zoom:1; height:110px; }
.topicTop .text .guests .pic { float:left; display:inline; margin-right:10px; }
.topicTop .text .guests .pic img { width:90px; height:90px; background:#fff; padding:3px; }
.topicTop .text .guests .guestsTop span { background-position:-618px -21px; width:70px; height:20px; display:block; text-indent:-999em; overflow:hidden; }
.topicTop .text .guests .name { font-size:24px; font-family:'微软雅黑', '黑体'; height:35px; }
.topicTop .text .guests .name a:link,.topicTop .text .guests .name a:visited{ color:#000;}
.topicTop .text .guests .name a:hover{ color:#d00;}
.topicTop .text .says { height:130px; }
.topicTop .text .share { color:#fff; padding:5px 0 5px 30px; background:#909090; margin-top:10px; }
.topicTop .text .share span { display:inline; zoom:1; width:16px; height:16px; vertical-align:middle; margin-left:5px; display:inline-block; *display:inline;
zoom:1; cursor:pointer; }
.topicTop .text .share .t { background-position:-34px -42px; }
.topicTop .text .share .qzone { background-position:-58px -42px; }
.topicTop .text .share .pengy { background-position:-86px -42px; }
/* 精彩分段视频 */
.videoBox { padding-bottom:10px; border-bottom:1px solid #c3c3c3;  width:960px;  margin:10px auto 0px; }
.videoBox .hd { margin-bottom:5px; }
.videoBox .hd h2, .QandA .hd h2, .intrD .hd h2, .picAppreciate .hd h2, .pastEvents .hd h2 { background-position:-793px -10px; height:35px; line-height:35px; color:#9c0000; font-size:14px; text-indent:1em; }
.videoBox .videoList { overflow:hidden; zoom:1; margin-right:-12px; }
.videoBox .videoList li { float:left; display:inline; width:230px; margin-right:12px; }
.videoBox .videoList li .videoPic .pic img { width:220px; height:150px; padding:2px; background:#fff; border:1px solid #cecece; }
.videoBox .videoList li .opacity { opacity:0.5; filter:alpha(opacity=50); position:relative; margin-top:-30px; height:30px; background:#000; line-height:30px; }
.videoBox .videoPic { width:225px; position:relative; }
.videoBox .videoList li span { position:absolute; bottom:8px; z-index:10 }
.videoBox .videoList li span.time { right:8px; color:#fff; font-family:'arial', '黑体'; }
.videoBox .videoList li span.iconV { display:block; bottom:5px; width:17px; height:18px; background:url(//mat1.gtimg.com/auto/1/20111130wendao/ivideo.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled, sizingMethod=sSize, src="img/ivideo.png");
left:5px; }
.videoBox .videoList li h4 { height:30px; line-height:30px; font-size:14px; text-align:center; }
.videoBox .videoList li .article { color:#858585; padding-bottom:30px; position:relative; height:100px; line-height:22px; }
.videoBox .videoList li .article .play { display:block; width:70px; height:20px; background-position:-536px -20px; color:#fff; position:absolute; bottom:0px; right:0px; text-indent:1.3em; line-height:20px; }
/* 精彩分段视频 */
.picAppreciate { border-top:1px solid #fff; margin-bottom:10px;  width:960px; margin:0px auto 0px; }
.picAppreciate .hd { margin:10px 0; }
.QandAw { padding:10px 0; border-top:1px solid #fff; border-bottom:1px solid #c3c3c3; }
.QandAw .chief { width:660px; }
.QandAw .extra { width:270px; }
.QandAw .QandA .qaUl { background-position:0 0; height:530px; margin-top:-1px; overflow:hidden; }
.QandAw .QandA .qaUl li { border-top:1px dotted #828282; padding:10px 0px 10px 75px; height:67px; margin-top:-1px; line-height:22px; }
.QandAw .QandA .qaUl li .question { font-size:14px; font-weight:bold; margin-bottom:5px; }
.QandAw .intrD .pic { padding-bottom:10px; background-position:-528px 140px; display:block; text-align:center; }
.QandAw .intrD .pic img { border:1px solid #dfdfdf; }
.QandAw .intrD .bd { background:#e3e3e3; padding:10px; border:1px solid #d9d9d9; height:480px; }
.QandAw .intrD .article { padding:0 5px; color:#555; }
.picAppreciate #Pic-Mod-wrap .ft div.left li { width:93px; margin:0 15px 0 1px; display:inline; overflow:hidden; }
.picAppreciate #Pic-Mod-wrap .bd { border:none; }
.picAppreciate #Pic-Mod-wrap { width:100%; background:#1a1a1a; padding:10px 0; }
.picAppreciate #Pic-Mod-wrap .ft { border:none; height:89px; overflow:hidden; zoom:1 }
.picAppreciate #Pic-Mod-wrap .bd img { height:450px; }
.picAppreciate #Pic-Mod-wrap .ft .smallPic { background:#313131; margin:0 10px; width:auto; }
.picAppreciate #Pic-Mod-wrap .ft div.left { margin-bottom:6px; width:860px; }
.picAppreciate #Pic-Mod-wrap .ft div.left li div a img { width:90px; height:60px; }
.picAppreciate #Pic-Mod-wrap .ft div.left li div a { display:inline; }
.picAppreciate #Pic-Mod-wrap .ft div.left .mask { border:none; border:1px solid #ffa200; background:none; width:90px; height:60px; top:7px; left:0px; }
.picAppreciate #Pic-Mod-wrap .ft div.left li div, .picAppreciate #Pic-Mod-wrap .ft div.left li { height:100px; }
.picAppreciate #Pic-Mod-wrap .ft a.left, .picAppreciate #Pic-Mod-wrap .ft a.right { margin-top:29px; }
.picAppreciate #Pic-Mod-wrap .ft .scrollLine { display:none; }
/* 往期回顾 */
.pastEvents{ width:960px;  margin:10px auto 0px;}
.pastEvents .hd { margin-bottom:10px; }
#demo { position:relative; background:#fff; border:1px solid #d9d9d9; padding:20px 0px; }
#pic { width:845px; overflow:hidden; position:relative; left:60px; }/*宽度,overflow:hidden和相对定位是必须的属性*/
#pic .split { float:left; width:190px; text-align:center; margin-right:25px; }/*水平滚动的话，滚动单元必须浮动，垂直则必须不能浮动*/
#pic div.split img { display:block; width:190px; height:135px; margin-bottom:5px; border:1px solid #5b483d; }
#btn_left, #btn_right { width:40px; height:72px; display:block; position:absolute; top:55px; cursor:pointer; }/*左按钮*/
#btn_left { background-position:-138px 0; left:10px; }
#btn_right { background-position:-199px 0; right:10px; }/*右按钮*/
/* footer */
.QFfoot { border-top:1px solid #d5d5d5; background:#dadada; padding:20px 0; color:#4e4e4e; }
.QFfoot .bd { overflow:hidden; zoom:1; width:960px; margin:0 auto; }
.QFfoot .bd .logoIcon { display:block; width:133px; height:72px; float:left; background-position:0 0; display:inline; margin-right:10px; }
.QFfoot .email { line-height:24px; padding-top:10px; }
.QFfoot .link { float:right; display:inline; text-align:right; padding-top:20px; }



.quick_ct{background:none!important; height:0px!important; text-indent:-1000em!important;}
.layout_r1 .col_1{background:none!important; width:100%!important;}
.wrapper_zt{width:100%!important;}

.video_area { float:left; width:490px; height:447px; background:#0E1622;}
.video_paly { padding:5px;}
.video_bd { height:41px;background:url(../images/shuxianbg.png) repeat-x; line-height:40px;}
.video_bd a:link,.video_bd a:visited {font-size:12px; padding:0 6px;_padding:0 5px;color:#fff;background:url(../images/shuxian.png) no-repeat right center; float:left; height:40px; font-weight:bold}
.video_bd a:link.nobg,.video_bd a:visited.nobg { background:none;}
.video_bd a span{ float:left; width:16px; height:16px;background-repeat:no-repeat; margin:11px 2px 0 2px;display:inline;}
.video_bd a span.download{background-image:url(//mat1.gtimg.com/bb/css/mmm/ico_1.png) !important;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='//mat1.gtimg.com/bb/css/mmm/ico_1.png')}
.video_bd a span.qzone{background-image:url(//mat1.gtimg.com/bb/css/mmm/ico_22.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='//mat1.gtimg.com/bb/css/mmm/ico_22.png')}
.video_bd a span.friends{background-image:url(//mat1.gtimg.com/bb/css/mmm/ico_3.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='//mat1.gtimg.com/bb/css/mmm/ico_3.png')}
.video_bd a span.microblog{background-image:url(//mat1.gtimg.com/bb/css/mmm/ico_4.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='//mat1.gtimg.com/bb/css/mmm/ico_4.png')}
.video_bd a span.mypinglun{background-image:url(//mat1.gtimg.com/bb/css/mmm/ico_55.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='//mat1.gtimg.com/bb/css/mmm/ico_55.png');}

.banner_zt{display:none;}
.QandAw .bd{ height:auto !important;}


/*=E 浮动层 */
.share_layer { overflow:hidden;position:absolute; z-index:999999;zoom:1;font-size:12px; font-family:Arial, Sans-Serif; }
.share_layer ul, .share_layer ul li { list-style-type:none; }
.share_layer img { border:0 none; }
.share_layer a { text-decoration:none; }
.share_layer a:hover { text-decoration:underline; }
.share_layer button,.share_layer label { cursor:pointer; border:0 none; }
.share_layer input,.share_layer  button { font-size:12px; font-family:Arial, Sans-Serif; }
.share_layer_main{ border:1px solid #b5c1ca; position:relative; z-index:5}
.share_layer_title { height:24px; background:#EEF4F6 url(//mat1.gtimg.com/www/images/nav/loginpop_tbg.png) repeat-x; cursor:move; border-bottom:1px solid #CED3E4; }
.share_layer_title h3 { float:left; margin:0;padding:3px 0 0 12px; color:#666; font-size:13px;font-weight:normal; line-height:18px; overflow:hidden; font-family:Arial, Helvetica, sans-serif;}
.share_layer_title .mblogo{ padding-left:24px;background:url(//mat1.gtimg.com/www/images/nav/wblogin_bt1.png) -84px 6px no-repeat;}
.share_layer .bt_close { background:url(//imgcache.qq.com/qzonestyle/qzone_app/app_news_share_v1/pop_bg.png) no-repeat 0 -39px; width:9px; height:10px;cursor:pointer; position:absolute; right:10px; top:11px; z-index:5px;}
.share_layer_cont a:link, .share_layer_cont a:visited { color:#5F5F5F; text-decoration:underline; }
.share_layer_cont a:hover, .share_layer_cont a:active { color:#494949; }
.share_layer_cont { color:#000000; overflow:hidden;}
.share_layer_hint { color:#9E9E9E; font-style:normal; }
.global_tip_button { text-align:center; clear:both; width:100%;}
.bt_tip_sure, .bt_tip_cancel { background-image:url(//imgcache.qq.com/qzonestyle/qzone_app/app_news_share_v1/pop_bg.png); background-repeat:no-repeat; background-position:0 -58px; font-size:12px; line-height:19px; width:48px; height:23px; margin-right:6px; *overflow:visible;
_padding-top:3px; _line-height:12px; cursor:pointer; }
*:lang(zh) .bt_tip_sure, .bt_tip_cancel {padding-top /*\**/:4px\9}
.bt_tip_cancel { color:#4D637F; background-color:#F3F4F5; background-position:-54px -58px; }
.icon_hint_warn, .icon_hint_succeed { background:transparent url(//imgcache.qq.com/qzonestyle/qzone_app/app_news_share_v1/pop_bg.png) no-repeat; display:-moz-inline-stack; display:inline-block; height:15px; width:15px; vertical-align:middle; }
.icon_hint_warn { background-position:-39px -37px; _vertical-align:-2px; }
.icon_hint_succeed { background-position:-18px -37px; }
.layer_popup { background-color:#FFFFFF; border:2px solid #6792bc; }
.icon_hint_warn span, .icon_hint_succeed span { display:none; }
.share_layer .bg {position:absolute;top:0;left:0;height:100%;padding:500px;zoom:1;}
.share_layer .del_fri{font-weight:bold;display:-moz-inline-stack;display:inline-block;line-height:9px;width:11px;height:10px;position:absolute;top:6px;right:10px;cursor:pointer; font-family:"Comic Sans MS","Verdana", cursive; color:#99ADBA;}
.share_layer .del_fri:hover{text-decoration:none; color:#666666;}
.share_layer_title .none { display:none !important; }

.dy_bt{background:none;}
.dy_bt span{margin-left:5px;vertical-align:middle;margin-bottom:6px;display: inline-block; width:60px;height:19px;margin-top:1px;padding:0;text-indent:-99em;background:url(//mat1.gtimg.com/news/imgcss_article_qq/dy_bt.png);cursor:pointer;}
.dy_done{color:#999;}
.dy_done span{background:none;text-align:center;text-indent:0;}
/*  |xGv00|ad20578023608d27ce34da751316ee3b */