html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin: 0;padding: 0;border: 0;outline: 0;
}
ol,ul{list-style: none}
blockquote,q{quotes: none}
blockquote:before,blockquote:after,q:before,q:after{content: '';content: none}
:focus{outline: 0}
ins{text-decoration: none}
del{text-decoration: line-through}
table{border-collapse: collapse;border-spacing: 0}
body{background-color:#090f16;text-align:left;color:#304d64;line-height:21px;font-size:12px;font-family:"微软雅黑";}
a{text-decoration:none}
a:hover{text-decoration:underline}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}/*\*/
* html .clearfix{height:1%}
.clear{clear:both; overflow:hidden;}
.f28{font-size:28px;}
.f32{font-size:32px;}
.f30{font-size:30px;}
.w315{width:315px;}
.orange{color:#e76c1e;}
.mt22{margin-top:22px;}
.wrap1{background:url(http://mat1.gtimg.com/gongyi/weiai/act-bg1.jpg) center top no-repeat;}
.wrap2{background:url(http://mat1.gtimg.com/gongyi/weiai/act-bg2.jpg) center top no-repeat;}
.wrap3{background:url(http://mat1.gtimg.com/gongyi/weiai/act-bg3.jpg) center top no-repeat;}
.wrap4{background:url(http://mat1.gtimg.com/gongyi/weiai/act-bg4.jpg) center top no-repeat;}
.wrap5{background:url(http://mat1.gtimg.com/gongyi/weiai/act-bg5.jpg) center top no-repeat;}
.btns{background:url(http://mat1.gtimg.com/gongyi/weiai/btns.png) no-repeat;}
.banner1, .banner2, .mod1, .mod2, .mod3, .mod4{width:1000px; position:relative; margin:0 auto;}
.banner1{background:url(http://mat1.gtimg.com/gongyi/weiai/act-ban1.jpg) no-repeat; height:534px;}
.banner1 .logo_tx{width:304px;height:67px;display:block;}
.banner1 h1{display: none; z-index: 1;}
.act-top-r{position:absolute; right:20px; font-weight:bold; top:37px; height:186px; color:#000; display:block; _width:293px;}
.act-top-r b{color:#0c4ec6;}
.act-top-r h2{font-size:34px; line-height:48px;}
.act-top-time{font-size:38px; height:39px; line-height:34px;}
.act-top-time span{float:left;}
.act-top-r p{font-size:25px; text-align:center; font-weight:normal; line-height:40px;}
.act-top-money{float:left;}
.act-top-money em{margin-right:5px;font-style:normal; background:#231e00; color:#fff; width:39px; height:39px; line-height:39px; text-align:center; font-size:30px; float:left; display:inline;}
.mod1{height:430px; background:url(http://mat1.gtimg.com/gongyi/weiai/act-ban2.jpg) no-repeat; height:391px;}
.mod2{height:598px; background:url(http://mat1.gtimg.com/gongyi/weiai/act-ban3.jpg) no-repeat;height:448px;}
.mod3{height:790px; background:url(http://mat1.gtimg.com/gongyi/weiai/act-ban4.jpg) top no-repeat;height:616px;}
.mod4{height:790px; background:url(http://mat1.gtimg.com/gongyi/weiai/act-ban5.jpg) top no-repeat;height:340px;}
.mod-cen{padding:106px 20px 0 34px; width:946px;}
.mod_style1{float:left; width:305px; text-align:left; line-height:26px; font-size:18px;}
.mod_style2{font-size:15px; margin-left:43px; float:left; display:inline; width:340px;}
.mod_style2 .orange{color:#1c9bff;line-height:38px;}
.mod_style2 p{display:block;}
.mod_style2 p span{color:#e76c1e; font-size:22px; font-weight:bold;}
.mod_style3 a{display:block; width:152px; height:48px; line-height:44px; text-align:right; color:#fff; padding-right:55px;margin-top:27px; font-size:18px;}
.mod_style3 a:hover{background-position:0 -62px; text-decoration:none;}
.mod_style3{float:right}
.mod_style4{padding:122px 0 0 32px;}
.mod_style4 li{float:left; margin-right:15px; display:inline;}
.mod_style5{float:right; margin-top:13px; font-family:"宋体";}
.mod_style5 p i{width:25px; height:25px; float:left; background-position:-3px -123px; padding-right:7px;}
.mod_style5 p a{font-weight:bold; text-decoration:underline; color:#304d64;}
.mod_style5 p a:hover{color:#e76c1e;}
.mod_style5 span{float:left; padding-right:20px;}
.mod_style5 span a{font-weight:bold; text-decoration:underline; color:#304d64;}
.mod_style5 span a:hover{color:#e76c1e;}
.mod_style6{padding:122px 0 0 32px; float:left; width:946px; height:493px; overflow:hidden;}
.mod_style7{background:url(http://mat1.gtimg.com/gongyi/weiai/pic_1.jpg) no-repeat; width:226px; height:412px; float:left; padding:0 14px 0 0; display:inline;}
.mod_box{height:412px; margin-bottom:18px;}
.bg2{background:url(http://mat1.gtimg.com/gongyi/weiai/pic_2.jpg) no-repeat;}
.bg3{background:url(http://mat1.gtimg.com/gongyi/weiai/pic_3.jpg) no-repeat;}
.bg4{background:url(http://mat1.gtimg.com/gongyi/weiai/pic_4.jpg) no-repeat; padding:0;}
.bg4 .mod_txt{color:#4a2c6f;}
.bg3 .mod_txt{color:#2a5878}
.bg2 .mod_txt{color:#27683f;}
.mod_txt{text-align:center; padding-top:27px; color:#39651a}
.mod_txt p{line-height:32px;}
.mod_txt_cen{color:#fff; margin-top:80px; font-size:18px; padding-left:12px;}
.mod_txt_cen p{margin-bottom:28px; line-height:24px; width:181px;background-position:0 -149px; padding-left:17px;}
.mod_style8{float:left;}
.mod_foot{float:left; margin-left:203px; display:inline; width:260px;}
.mod_style9 img{float:left; padding-right:20px;}
.mod_style10{float:left; font-size:22px; line-height:38px;}
.mod_style9{float:left; width:260px; margin-bottom:20px;}
.mod_bottom{padding:116px 0 0 199px;}
.mod_style1 em{position:absolute; top:-5px; font-style:normal;}
.mod_style1 b{position:relative; padding-right:10px;}
/**/
.mod_style3 a.act-project {background-position: 0px -490px;}
.mod_style3 a.act-project:hover {background-position: 0px -552px;}

/*  |xGv00|40a5a1f8c378647a60bf8a12f3b7b8fe */













/*  |xGv00|e8d7b7237137e60232f7e25b7caabf82 */