/*kennanwang*/
body, td, selezs, input, div { font-size:12px; line-height:1.3!important; color:#333; font-family:"ËÎÌå"; }
body { background:#fff }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#4983B9!important; text-decoration:underline; }
.bb0 { border:0px!important }
.mt0 { margin-top:0px!important }
/*sprite*/
.iconKj, .iconWb, .iconSina, .iconRen, .xinyuan, .lBox .hd, .ScA2 .prev, .ScA2 .next, .rBox .hd .fr, .rBox .bd ul li, .box2 .hd, .tou01, .tou02, .tou03,#newAppBox h2 { background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/cssSprite.png) no-repeat }
#content { width:100%; margin:0px auto; overflow:hidden; background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/bg.jpg) no-repeat top center }
/*banner*/
#banner { width:100%; height:243px; margin:0px auto 0px; overflow:hidden; background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/banner.jpg) no-repeat top center }
.banner { position:relative; width:1000px; height:243px; margin:0px auto; overflow:hidden; }
.banner h1 { display:none }
.banner .share { position:absolute; top:196px; left:755px; font-size:14px; line-height:33px!important; overflow:hidden }
.banner .share span { float:left; display:inline-block; }
.banner .share a { display:inline-block; width:33px; height:33px; margin:0px 0px 0px 10px; overflow:hidden; cursor:pointer; text-indent:-9999em }
.iconKj { background-position:-459px -61px }
.iconWb { background-position:-507px -61px }
.iconSina { background-position:-550px -61px }
.iconRen { background-position:-593px -61px }
/*main*/
.main { width:1000px; margin:0px auto 0px; overflow:hidden; background:#fff }
.box1 { width:1000px; margin:0px auto 30px; overflow:hidden }
.box1 .l { float:left; width:660px; margin-top:30px; overflow:hidden }
.fs_A2 { height:250px; position:relative; width:660px; overflow:hidden; zoom:1; }
.fs_A2 .fcon { position:relative; width:660px; float:left; display:inline; }
.fs_A2 .fcon .text { position:absolute; width:295px; height:250px; right:0; top:0; }
.fs_A2 .fcon .text .bg { background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/focusCol.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled, sizingMethod=sSize, src="images/focusCol.png");
height:250px; padding-left:30px; }
.fs_A2 .fcon .text .biaoqian { font-family:'Î¢ÈíÑÅºÚ', 'ºÚÌå'; font-size:18px; color:#fff; background:#f48c0c; padding:3px 5px; margin:30px 0 5px 0; display:inline-block; *display:inline;
zoom:1; }
.fs_A2 .fcon .text .tit { font-family:'Î¢ÈíÑÅºÚ', 'ºÚÌå'; font-size:22px; font-weight:100; color:#fff; padding:10px 0; }
.fs_A2 .fcon .text .tit a { color:#fff; }
.fs_A2 .fcon .text .intr { font-size:14px; line-height:26px; color:#fff; }
.fs_A2 .A2fBt a { display:inline-block; *display:inline;
zoom:1; width:18px; height:15px; position:relative; margin:0 0px 0 0; background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/iconD.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='images/iconD.png');
line-height:2000px; overflow:hidden; }
.fs_A2 .A2fBt a:hover, .fs_A2 .A2fBt a.current { background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/iconD2.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='images/iconD2.png');
}
.fs_A2 .fix { position:relative; width:9999px; height:250px; }
.fs_A2 .fPs { width:660px; overflow:hidden; position:relative; height:250px; }
.fs_A2 .A2fBt { position:absolute; width:250px; height:25px; bottom:0px; right:10px; text-align:right; }
.fs_A2 .fcon i.bg { width:295px; height:251px; position:absolute; top:0; right:0; }
.fs_A2 .fcon i.bg a { background:url(http://mat1.gtimg.com/edu/shenshenadd/gaokao2013/focusCol.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled, sizingMethod=sSize, src="http://mat1.gtimg.com/edu/shenshenadd/gaokao2013/focusCol.png");
display:block; width:100%; height:100%; }
.fs_A2 .fcon .pic { position:relative; width:660px; height:250px; overflow:hidden; display:block; background:#fff; }
.fs_A2 .fcon .biaoqian a { color:#fff; }
.fs_A2 .fcon .biaoqian a:hover { text-decoration:none; }
.fs_A2 .fcon .biaoqian { font-family:'Î¢ÈíÑÅºÚ', 'ºÚÌå'; font-size:18px; color:#fff; background:#f48c0c; padding:3px 5px; display:inline-block; *display:inline;
zoom:1; position:absolute; z-index:50px; top:20px; left:400px; }
.fs_A2 .fcon .tit { font-family:'Î¢ÈíÑÅºÚ', 'ºÚÌå'; font-size:22px; font-weight:100; color:#fff; padding:10px 0; position:absolute; z-index:50px; top:60px; left:400px; width:235px; }
.fs_A2 .fcon .tit a { color:#fff; }
.fs_A2 .fcon .intr { font-size:14px; line-height:26px!important; color:#fff; position:absolute; z-index:50px; top:110px; left:400px; width:235px; }
.fs_A2 .prev, .fs_A2 .next { bottom: 35px; cursor: pointer; display: none; height: 65px; position: absolute; width: 41px; }
.fs_A2:hover .prev, .fs_A2:hover .next { display: block; }
.fs_A2 .prev { background: url("http://mat1.gtimg.com/cul/css/index2013/images/prev.png") no-repeat scroll 0 0 transparent; left: 0; }
.fs_A2 .next { background: url("http://mat1.gtimg.com/cul/css/index2013/images/next.png") no-repeat scroll 0 0 transparent; right: 0; }
.lBox { width:660px; margin:30px auto 0px; overflow:hidden }
.lBox .hd { width:660px; height:50px; line-height:50px!important; overflow:hidden; background-position:0px 0px; }
.lBox .hd h2 { font-size:24px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; }
.lBox .hd .fr { color:#888888 }
.lBox .hd .fr em { margin:0px 5px; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; color:#4983B9 }
#guang { width:660px; margin:23px auto 20px; }
.border1 { width:658px; height:70px; margin:0px auto; font-size:14px; color:#333; border:1px solid #D0D0D0 }
.wordNum { color:#999999 }
.wordNum em { font-size:24px; font-family:Georgia, "Times New Roman", Times, serif; }
.xinyuan { float:right; display:inline-block; width:112px; height:30px; line-height:30px; margin:10px 0px 0px; overflow:hidden; text-indent:-9999em; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff!important; background-position:-459px -100px }
.mt25 { margin-top:10px; color:#888888 }
.wbDl { width:660px; margin:15px auto 0px; padding-bottom:15px; overflow:hidden; border-bottom:1px dotted #000000 }
.wbDl dt { margin:0px 0px 5px; font-size:14px; font-weight:bold; color:#4983B9 }
.wbDl dt img { display:block; float:left; width:80px; height:80px; margin-right:15px; overflow:hidden }
.wbDl dd { line-height:22px; }
.wbDl dt a, .wbDl dd a { color:#4983B9 }
.ScA2 { position:relative; width:660px; margin:30px auto 0px; }
.ScA2 .scwr { position:relative; top:0px; left:42px; overflow: hidden; zoom: 1; width:595px; height:185px; } /*¿ÉÊÓ¿í¶Èwidth,heightÐèÉèÖÃÕýÈ· */
.ScA2 .split { float:left; width:595px; height:185px; }
.ScA2 .split ul { width:595px; height:185px; }
.ScA2 .split ul li { position:relative; float:left; width:80px; height:80px; margin:0px 19px 25px 0px; z-index:98 }
.ScA2 .split ul li img { width:80px; height:80px; z-index:90 }
.ScA2 .split ul li .intro { display:none; position:absolute; width:224px; line-height:22px; color:#fff; z-index:99 }
.ScA2 .split ul li .intro a { color:#64BBE3 }
.ScA2 .split ul li.current{ z-index:99}
.ScA2 .split ul li.current .intro { display:block }
.ScA2 .split ul li.zuoshang .intro { bottom:-50px; left:0px; height:58px; padding:30px 17px 0px; background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/zuoshang.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='images/zuoshang.png');
}
.ScA2 .split ul li.youshang .intro { bottom:-50px; right:0px; height:58px; padding:30px 17px 0px; background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/youshang.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='images/youshang.png');
}
.ScA2 .split ul li.zuoxia .intro { top:-50px; left:0px; height:78px; padding:10px 17px 0px; background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/zuoxia.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='images/zuoxia.png');
}
.ScA2 .split ul li.youxia .intro { top:-50px; right:0px; height:78px; padding:10px 17px 0px; background:url(http://mat1.gtimg.com/edu/adopezhang/zw_images/youxia.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='images/youxia.png');
}
.ScA2 .prev, .ScA2 .next { position:absolute; cursor:pointer; display:block; width:21px; height:41px; top:70px; }
.ScA2 .prev { left:0px; background-position:-459px -142px }
.ScA2 .next { right:0px; background-position:-507px -142px }
.box1 .r { float:right; width:300px; overflow:hidden }
.toutiao { width:300px; margin:30px auto 0px; overflow:hidden }
.toutiao dl { width:300px }
.toutiao dl dt { margin:0px 0px 0px; font-size:22px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; }
.toutiao dl dd { margin:9px 0px 0px; font-size:14px; color:#4983B9 }
.toutiao dl dd a { color:#4983B9 }
.toutiao p { margin:9px 0px 0px; font-size:14px; }
.rBox { width:300px; margin:30px auto 0px; overflow:hidden }
.rBox .hd { width:300px; height:35px; line-height:35px!important; overflow:hidden; border-bottom:1px solid #A2CFE3 }
.rBox .hd h2 { font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#666 }
.rBox .hd .fr { display:inline-block; width:18px; height:4px; margin:15px 10px 0px 0px; background-position:-593px -100px; }
.rBox .hd .fr a { display:block; width:18px; height:4px; text-indent:-9999em; }
.rBox .bd { width:300px; padding-top:5px; overflow:hidden }
.rBox .bd ul li { padding-left:15px; margin:10px auto 0px; background-position:-649px -168px }
/*box2*/
.box2 { width:1000px; margin:0px auto 0px; overflow:hidden }
.box2 .hd { width:1000px; height:50px; line-height:50px!important; overflow:hidden; background-position:0px 0px; }
.box2 .hd h2 { font-size:24px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; }
.box2 .hd .fr a { display:inline-block; margin:10px 10px 0px 0px; padding:3px 5px; line-height:23px!important; overflow:hidden; border:1px solid #D3D3D3; text-align:center }
.box2 .bd { width:1000px; padding:20px 0px 40px; overflow:hidden }
.box2 .bd dl { float:left; width:488px; padding:10px 0px 0px; }
.box2 .bd dl dt { margin:0px 0px 10px; font-size:14px; font-weight:bold; color:#4983B9 }
.box2 .bd dl dt a { color:#4983B9 }
.box2 .bd dl dd { font-size:14px; line-height:23px; }
.voteBox { float:right; width:463px; overflow:hidden }
.voteBox p { font-size:14px; margin:0px 0px 10px; }
.voteBox .option { display:inline; float:left; width:141px; height:59px; margin:0px 10px 0px 0px; overflow:hidden }
.voteBox .option .digg { padding:0px 0px 0px 60px; height:30px; line-height:36px!important; overflow:hidden; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#333 }
.voteBox .option .digg a { color:#F48C0C }
.voteBox .option .count { padding:0px 0px 0px 60px; height:29px; line-height:29px; overflow:hidden; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#F48C0C }
.tou01 { background-position:0px -61px }
.tou02 { background-position:-160px -61px }
.tou03 { background-position:-318px -61px }
/*toTop*/
#newAppBox { display:none; margin: -200px 0 0; position: fixed; right: 10px; text-align:left; top: 70%; width: 111px; z-index: 9999; }
#newAppBox h2{ width:111px; height:87px; background-position:-649px -61px; text-indent:-9999em; cursor:pointer}
#newAppBox ul{ width:111px; background:#EEEEEE}
#newAppBox ul li{ width:109px; height:25px; overflow:hidden; border:1px solid #DADADA; border-top:0px!important; font-size:12px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal;}
#newAppBox ul li a{ display:inline-block; padding:1px 3px; line-height:22px!important; text-align:center; margin:1px 0px 0px 13px;}
#newAppBox ul li a:hover{ background:#89BAED; color:#fff!important; text-decoration:none}
#newAppBox ul li.top01{ line-height:25px; text-align:center}
#newAppBox ul li.top02{ text-align:center; }
#newAppBox ul li.top02 a{ margin:1px 0px 0px 0px!important;}
#newAppBox .ewm{ width:109px; padding:0px 0px 5px; overflow:hidden; background:#fff; border:1px solid #DADADA; border-top:0px!important;}
#newAppBox .ewm img{ display:block; width:100px; height:99px; margin:5px auto 10px;}
#newAppBox .ewm p{ width:100px; margin:0px auto; line-height:22px;}/*  |xGv00|b4f7d5f5e8288b46b7597e8eeffa5996 */