@charset "gb2312";
/* CSS Document */
body, form, menu, dir, fieldset, blockquote, p, pre, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6 { padding:0; margin:0; }
body, textarea, h1, h2, h3, h4, h5, h6 { font-family: "瀹浣"; font-weight:normal; color:#333; }
html, body { height:100%; }
button, label { cursor:pointer; }
div, ul, li, dl, dt, dd { display:block; }
input[type=radio], input[type=checkbox] { cursor:pointer; }
a:active { star:expression(this.onFocus=this.blur());}
fieldset, a img { border:0; }
li { list-style:none; }
:focus { outline:0; }
a { outline: none; text-decoration:none;}


body{ width:100%;}

#big{ background:url(http://mat1.gtimg.com/astro/2014xzk/bg1.png) no-repeat top center;}

#wrap { width:1000px; margin:0 auto; clear:both; overflow:hidden;}
#wrap .top{ width:100%; height:154px; position:relative;}


/*logo部分begin*/
#wrap .top .logo{width:464px; height:154px; float:left; position:relative;_background:url(http://mat1.gtimg.com/astro/2014xzk/logo_ie6.jpg);}
#wrap .top .logo span{width:230px; height:121px; display:block; position:absolute; background:url(http://mat1.gtimg.com/astro/2014xzk/logo.png); top:-154px; left:0;}/*top:17*/
#wrap .top .logo em{width:293px; height:154px; background:url(http://mat1.gtimg.com/astro/2014xzk/ty.jpg);display:block; opacity:0; filter:alpha(opacity=0);}
#wrap .top .logo i{display:block; position:absolute;}
#wrap .top .logo i.l{width:13px; height:13px; background:url(http://mat1.gtimg.com/astro/2014xzk/star_l.png);left:164px; top:-154px;}/*left:164,top:58*/
#wrap .top .logo i.r{width:22px; height:21px; background:url(http://mat1.gtimg.com/astro/2014xzk/star_r.png); left:193px; top:-154px;}/*left:193,top:38*/
#wrap .top .logo b{width:237px; height:37px; display:block; position:absolute; right:0; top:72px; background:url(http://mat1.gtimg.com/astro/2014xzk/txt.png); opacity:0; filter:alpha(opacity=0);}/*top:72*/
#wrap .top .logo span, #wrap .top .logo em, #wrap .top .logo i, #wrap .top .logo b{ _display:none;}
/*logo部分over*/

#wrap .top p{ width:168px; height:24px; background:#894d05;  position:absolute; left:278px; top:130px;}
#wrap .top p span{font-size:12px; line-height:24px; color:#FFF; position:absolute; left:0; top:0; text-align:center; float:left; width:100%; height:100%; font-family:"Microsoft YaHei";}

#wrap .top1{ width:100%; height:74px; padding-top:9px;}
#wrap .top1 h1{ font-size:30px; line-height:74px; color:#894d05; font-family:"Microsoft YaHei"; text-indent:15px;}

#wrap .fenxiang{ width:100%; height:280px; position:relative;}

#fenxiang .iShareWrap{ width:32px; height:133px;}
#fenxiang .iShareWrap a{ background:none; width:32px; height:25px; display:block; margin-top:8px; margin-right:0px;} 
#fenxiang .action_title{ width:60px; height:26px;}
#fenxiang .showTime_2{ display:none;}
#fenxiang .iShareWrap .iShare_1_tqq{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-68px -199px !important;}
#fenxiang .iShareWrap .iShare_1_qzone{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-170px -199px !important;}
#fenxiang .iShareWrap .iShare_1_QQ{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-238px -199px !important;}
#fenxiang .iShareWrap .iShare_1_tsina{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-141px -136px !important;}
#fenxiang .iShareWrap .iShare_1_tqq:hover{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:0 -199px !important;}
#fenxiang .iShareWrap .iShare_1_qzone:hover{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-34px -199px !important;}
#fenxiang .iShareWrap .iShare_1_QQ:hover{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-141px -109px !important;}
#fenxiang .iShareWrap .iShare_1_tsina:hover{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-102px -199px !important;}

.shareBoxPc{width:32px;z-index:9;}
.shareBoxPc .shareBnt dt{height:20px;line-height:20px;text-align:center;margin-bottom:-5px;color:#8e8e8e}
.shareBoxPc .shareBnt a{display:inline-block;*display:inline;zoom:1;height:25px;width:32px}
.shareBoxPc .shareBnt dd{width:32px;height:25px;margin-top:8px;position:relative}
.shareBoxPc .shareBnt dd a{display:block;height:100%;text-indent:-999em;overflow:hidden;}
.shareBoxPc .shareBnt dd span{display:none;}
.shareBoxPc .shareBnt .phone a{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-204px -199px;}
.shareBoxPc .shareBnt .phone a:hover{background:url(http://mat1.gtimg.com/joke/wef/tpl/lenjing/1.0.0/images/index.png) no-repeat;background-position:-136px -199px;}
.shareBoxPc .shareBnt dd.phone a:hover span{display:block;text-decoration:none;position:absolute;height:123px;line-height:25px;background:#fff;width:109px;color:#868686;top:0;left:-109px;text-align:center;text-indent:0}
.shareBoxPc .shareBnt dd.phone a:hover span img{margin-top:5px}
.content{width:750px;position:relative;z-index:0;margin:20px 0 0}
#imgewm{ background:url(http://mat1.gtimg.com/astro/2014xzk/img.png) no-repeat 0 0; display:block; width:80px; position:relative; right:-15px; height:80px; -webkit-background-size:80px 80px;}


#wrap .fenxiang .left{ width:715px; height:100%; float:left;}
#wrap .fenxiang .left .left1{ width:301px; height:32px; _background:none; background:url(http://mat1.gtimg.com/astro/2014xzk/fenxiang.png) no-repeat 0 0 !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/renxiang.png',sizingMethod='scale'); text-align:center;}
#wrap .fenxiang .left .left1 span{ font-size:14px; line-height:32px; color:#ffffff; font-family:"Microsoft YaHei"; padding-right:22px;}
#wrap .fenxiang .left .left1 b{ font-weight:normal; font-size:14px; line-height:32px; color:#ffe400; font-family:"Microsoft YaHei";}
#wrap .fenxiang .left p{ width:481px; text-indent:2em; padding-left:7px; font-size:16px; line-height:26px; color:#894d05; font-family:"Microsoft YaHei"; padding-top:31px;}

#wrap .fenxiang .right{ width:285px; height:89px; float:left; padding-top:192px; position:relative;}
#wrap .fenxiang .right h1{ width:77px; height:22px; background:url(http://mat1.gtimg.com/astro/2014xzk/jiabin.png) no-repeat 73px 0; text-align:center; padding-left:73px; font-size:12px; line-height:22px; color:#ffffff; font-family:"Microsoft YaHei";}
#wrap .fenxiang .right .right1{ padding-top:4px; width:150px;}
#wrap .fenxiang .right p{ width:200px; height:20px; position:relative; right:50px;}
#wrap .fenxiang .right p span{ float:right; font-size:12px; line-height:20px; color:#894d05; font-family:"Microsoft YaHei";}
#wrap .fenxiang .right .right2{ width:126px; height:126px; position:absolute; right:1px; top:150px;}
#wrap .fenxiang .right .right2 .box1{ background:url(http://mat1.gtimg.com/astro/2014xzk/yuantu.png) no-repeat 0 0 !important; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/yuantu.png',sizingMethod='scale');}
#wrap .fenxiang .right .right2 img{ display:block; width:100%; height:100%; position:relative; left:0; top:-126px; z-index:8;}

.wrap1{ width:100%; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; background:#fdfdfd;}
.box{ width:1000px; clear:both; overflow:hidden; padding:0 50px; margin:0 auto; padding-top:33px; padding-bottom:36px;}
.box-left{ width:716px; float:left; position:relative;}
.box-left h1{ width:100%; background:url(http://mat1.gtimg.com/astro/2014xzk/h1-bg.png) repeat-x; height:27px;text-align:center;}
.box-left h1 b{ padding:0 14px; background:#fdfdfd; font-size:26px; line-height:27px; color:#363636;font-family:"Microsoft YaHei"; }

.box-left .ul1{ width:100%; padding-bottom:14px;}
.box-left .ul1 li{ width:100%; padding:5px 0 9px 0; clear:both; overflow:hidden;}
.box-left .ul1 li .span1{ float:left; width:67px; height:67px; padding-top:19px; padding-right:19px;}
.box-left .ul1 li b{ width:622px; float:right; font-weight:normal; padding-left:8px;position:relative;}
.box-left .ul1 li b i{ display:block; width:100%; font-style:normal;}
.box-left .ul1 li b .i1{ background:url(http://mat1.gtimg.com/astro/2014xzk/i1.png) no-repeat 0 bottom; height:14px; padding-top:10px;}
.box-left .ul1 li b .i2{ background:url(http://mat1.gtimg.com/astro/2014xzk/i2.png) repeat-y 0 -10px;}
.box-left .ul1 li b .i3{ background:url(http://mat1.gtimg.com/astro/2014xzk/i3.png) no-repeat 0 0; height:14px;}
.box-left .ul1 li b .i2 .span2{ display:block; width:576px; margin:0 auto; font-size:14px; line-height:25px; color:#465b0f; font-family:"Microsoft YaHei";}
.box-left .ul1 li b .i4{ background:url(http://mat1.gtimg.com/astro/2014xzk/i4.png) no-repeat 0 0; width:8px; height:22px; position:absolute; left:1px; top:30px;}


.box-left .kongbai{ width:100%; height:290px; margin-bottom:55px; background:#c1c1c1;}

.box-left .div1{ width:100%; padding-bottom:31px;}
.box-left .div1 .xiaojie{ width:100%;}
.box-left .div1 h2{ width:108px; height:43px; background:url(http://mat1.gtimg.com/astro/2014xzk/xiaojie.png) no-repeat 0 0; font-size:26px; line-height:43px; color:#ffffff; font-family:"Microsoft YaHei"; text-align:center; font-weight:bold;}
.box-left .div1 .weixin{ width:100%; padding-top:9px; clear:both; overflow:hidden;}
.box-left .div1 .weixin .span1{float:right; width:67px; height:67px; padding-top:10px;}
.box-left .div1 .weixin b{ width:622px; float:left; font-weight:normal; position:relative;}
.box-left .div1 .weixin b i{ display:block; width:100%;; font-style:normal;}
.box-left .div1 .weixin b .i1{ background:url(http://mat1.gtimg.com/astro/2014xzk/i1.png) no-repeat 0 bottom; height:14px; padding-top:10px;}
.box-left .div1 .weixin b .i2{ background:url(http://mat1.gtimg.com/astro/2014xzk/i2.png) repeat-y 0 0;}
.box-left .div1 .weixin b .i3{ background:url(http://mat1.gtimg.com/astro/2014xzk/i3.png) no-repeat 0 0; height:14px;}
.box-left .div1 .weixin b .i2 .span2{ display:block; width:576px; margin:0 auto; font-size:14px; line-height:25px; color:#465b0f; font-family:"Microsoft YaHei";}
.box-left .div1 .weixin b .i4{ background:url(http://mat1.gtimg.com/astro/2014xzk/i4_1.png) no-repeat 0 0; position:absolute; right:-7px; top:35px; width:8px; height:22px;}


.box-right{ width:262px; float:left; padding-top:13px; padding-left:22px;}
.box-right .div1{ width:100%; padding-top:20px; text-align:center;}
.box-right .div1 p{ font-size:14px; line-height:66px; color:#616161; padding-left:10px;text-align:center;}

.box-right .div2{ width:100%;}
.box-right .div2 h3{ width:100%; background:url(http://mat1.gtimg.com/astro/2014xzk/h3.png) no-repeat 1px 15px; font-size:18px; line-height:42px; color:#db8443; font-family:"Microsoft YaHei"; text-indent:18px; }
.box-right .div2 ul{ width:260px; border:1px solid #d9d9d9; background:url(http://mat1.gtimg.com/astro/2014xzk/ul_bg.png) no-repeat top center #ffffff; padding-top:13px; padding-bottom:16px;}
.box-right .div2 ul li{ width:100%; height:26px; position:relative; overflow:hidden;}
.box-right .div2 ul li a{ font-size:14px; line-height:26px; color:#616161; padding-left:37px;}
.box-right .div2 ul li span{ width:21px; height:21px; position:absolute; top:4px; left:11px; text-align:center; font-size:10px; line-height:21px; color:#ffffff; font-family:"Microsoft YaHei";}
.box-right .div2 ul .list1{ background:url(http://mat1.gtimg.com/astro/2014xzk/123.png) no-repeat 11px 4px;}
.box-right .div2 ul .list2{ background:url(http://mat1.gtimg.com/astro/2014xzk/456.png) no-repeat 11px 4px;}

.box-right .div3{ width:100%; padding-top:12px;}
.box-right .div3 h3{ width:100%; background:url(http://mat1.gtimg.com/astro/2014xzk/h3.png) no-repeat 1px 15px; font-size:18px; line-height:46px; color:#db8443;font-family:"Microsoft YaHei"; text-indent:18px; }
.box-right .div3 ul{ width:260px; height:400px; border:1px solid #d9d9d9; background:url(http://mat1.gtimg.com/astro/2014xzk/ul_bg.png) no-repeat top center #ffffff; padding-top:13px;}
.box-right .div3 ul li{ width:100%; height:26px; position:relative; overflow:hidden;}
.box-right .div3 ul li a{ font-size:14px; line-height:26px; color:#616161; }
.box-right .div3 ul li span{font-size:10px; line-height:21px; color:#616161; padding-left:22px;}


.bottom{ width:1000px; margin:0 auto;}

/*  |xGv00|d7920ac2fa71d8aa916295b51984aff0 */