body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif; color:#555;text-align:left}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none; list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{ text-align:left; font-weight:400}
img,fieldset{border:0;vertical-align:middle}
a{color:#444;text-decoration:none;outline:none}
a:hover{color:#c00;text-decoration:underline}
.spanclass,.contentdiv,.hide{display:none}
.show{display:block}

body{background:#fff}
.wrap{width:1000px; margin:0 auto; clear:both; zoom:1}
.clx:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.clx{*zoom:1}
.clear{font-size:0; line-height:0; height:0; overflow:hidden; clear:both; visibility:hidden}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.f14{ font-size:14px} 
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;} 
.fl{float:left}
.fr{float:right}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.imgA img{border:1px solid #E1E8F0; padding:1px; background:#fff}
.toc{cursor:pointer}

.bh:after, .ulclx li:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.bh, .ulclx li{*zoom:1}

/* channelTop */
.channelTop{height:45px; padding-top:10px}
.cSet{padding:10px 0 0 10px; color:#ddd}
.cSet a{display:inline; height:12px; line-height:12px; float:left; padding:0 8px; border-right:1px solid #ddd; *padding-top:1px; color:#777}
.cSet a.last{border:none}

.nav{height:40px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/nav.gif) repeat-x}
.nav .navLink a{height:40px; line-height:40px; display:block; float:left; padding:0 25px; font-size:16px; font-family:"Microsoft Yahei"; color:#fff}
.nav .navLink a:hover, .nav .navLink a.cur{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/nav_index.png) repeat-x; text-decoration:none}
.nav .st{float:right}
.nav .st a{display:block; line-height:40px; padding-left:20px; color:#fff; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/txweibo.png) no-repeat left center}
.city{width:958px; height:30px; line-height:30px; padding:0 20px; color:#B5B5B5; background:#E3E7EC; border:1px solid #D3D6DB; border-top:none; margin:0 auto 15px}
.city strong{color:#555}
.city a{color:#555}

.layA{width:300px; display:inline; float:left; margin-right:25px}
.layB{width:385px; display:inline; float:left}
.layC{width:260px; display:inline; float:right}

.btm{background:#F6F6F6; border-top:1px solid #DCDCDC}
.bTitle{height:50px;}
.bTitle span{line-height:50px; font-size:18px; float:left; font-family:"Microsoft Yahei"; display:block; color:#272f36; font-weight:bold}
.hzcon{ padding-bottom:15px;}
.pLinks{color:#ddd; padding:0 4px}
.pLinks a{color:#777}
.picLinks img{float:left; display:block; margin-right:15px; border:1px solid #ddd}
.contact{line-height:24px; color:#777; padding-left:4px}


.yctTitle{height:63px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/yuechetuan/yct_title.png) no-repeat}
.bmBox{border:1px solid #BBC0C6}
.bmBox .hd{height:28px; background:#BBC0C6;}
.bmBox .bd{height:40px; padding-top:15px; padding-left:20px }
.bmBox .tags i{width:86px; height:28px; display:block; float:left; text-align:center; line-height:28px;}
.bmBox .tags i.selected{font-weight:bold; background:#fff}
.choose .sCar{width:110px; }
.choose .sCity{width:80px; }
.choose .tj{width:45px; height:22px; line-height:22px; text-align:center; color:#fff; font-weight:bold; background:#272F36; cursor:pointer; border:none}

.cars{width:704px; border-right:1px dotted #CACACA}
.cars li{width:210px; height:268px; float:left; margin-right:24px; margin-bottom:15px}
.cars li img{display:block;}
.cars li p{height:100px; padding:7px 0 0 14px; border:1px solid #DCDCDC}
.cars li p strong{display:block; color:#272F36; line-height:28px;}
.cars li i{display:block; line-height:20px;}
.cars li span{font-size:14px; font-weight:bold; color:#BE0000}

.rSide{width:270px;}
.txtPic{position:relative;}
.txtPic a{display:block; height:100%; color:#fff}
.txtPic img{display:block;}
.txtPic em{display:block; width:100%; height:30px; background:#0A1520; filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75; position:absolute; bottom:0; left:0}
.txtPic i{display:block; width:100%; height:30px; line-height:30px; text-align:center; color:#fff; position:absolute; bottom:0; left:0}
.dealerTags{padding-left:70px; padding-top:10px; height:30px}
.dealerTags i{width:20px; height:20px; display:block; float:left; margin-right:4px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/dealertag.png) no-repeat center center;}
.dealerTags i.selected{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/dealertagslt.png) no-repeat center center}

.cTitle{height:30px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/yuechetuan/ctitle.png) no-repeat; padding:3px 12px 0; line-height:30px;}
.cTitle .mark{float:left; display:block; font-size:18px; font-family:"Microsoft Yahei"; color:#272f36;}
.cTitle em{color:#be0000}
.cTitle span b{color:#be0000}
.cTitle .submark{font-size:14px;font-family:"Microsoft Yahei"; color:#272f36;}
.cTitle .submark em{font-size:18px}
.bmtable th{height:30px; text-align:center; vertical-align:middle; border:1px solid #fff; background:#EEEEEE; font-weight:bold; color:#272F36}
.bmtable td{height:30px; text-align:center; vertical-align:middle; border-bottom:1px dotted #CACACA}

.ulGift li{width:180px; float:left; margin-right:25px}
.ulGift li img{display:block}
.ulGift li i{display:block; line-height:50px; text-align:center; font-size:14px}


/*  |xGv00|ff9bd17c2f71879e987a8a7a61f9475d */