/*
author:johnnyhan
date:2012-04-18
*/

/*reset*/
body { margin:0; padding:0; background:#fff; font-family: "宋体", "Arial Narrow"; }
div, form, input, select, ul, ol, li, p, h1, h2, h3, h4, h5, h6, p, dd, dt, dl { margin:0; padding:0; }
ul, ol, li { list-style:none; }
body, table, select, input { font-size:12px; color:#333; }
img { border:none; }
a { color:#666; text-decoration:none; }
a:hover { color:#c00; text-decoration:underline; }
h1 { font-size: 16px; }
h2, h3 { font-size: 14px; }
h4, h5, h6 { font-size: 12px; }
.fl { float:left; }
.fr { float:right; }
.wrapper{ background: #FFF url(//mat1.gtimg.com/ent/fmrw/bg_banner.jpg) center top no-repeat;}
.layout{ margin:0 auto; width:960px; overflow:hidden; }
/*box*/
.box .hd{ height: 89px; padding: 11px 0 0 88px; background: url(//mat1.gtimg.com/ent/fmrw/bg_hd.png) 0 0 no-repeat;}
.box .bd{ zoom:1;}
.box2 { padding-left: 53px; border-left: 1px solid #e9e9e9;}
.box2 .tit{ position: relative; left: -70px; height: 28px; padding-left: 70px; overflow: hidden; background: url(//mat1.gtimg.com/ent/fmrw/bg_timeline.png) 0 0 no-repeat;}
.box2 .con{ padding-bottom: 43px;}
.box2 .con p{ line-height: 26px; font-size: 14px; color: #808080; }
.box2 .con strong{ color: #ff6000;}
.box3 .hd{ height: 50px; line-height: 50px; text-indent: 20px; font-family: "微软雅黑","黑体"; background: url(//mat1.gtimg.com/ent/fmrw/bg_hd3.png) 0 0 no-repeat;}
.box3 .hd h3{ font-size: 21px; font-weight:normal;}
.box3 .bd{ background: #fff;}
/*图文混排*/
.twC,.twC2,.twC3{ overflow: hidden; zoom:1; margin-bottom: 43px;}
.twC .pic{ width: 460px; height: 230px; overflow: hidden;}
.twC .text{ width: 240px;  overflow: hidden;}
.twC .text h3,.twC2 .text h3{ line-height: 26px; padding-bottom: 8px; margin-top: -5px;}
.twC .text p,.twC2 .text p,.twC3 .text p{ line-height: 26px; font-size: 14px; color: #808080; }
.twC .text strong,.twC2 .text strong,.twC3 .text strong{ color: #ff6000;}
.twC3{ width: 350px;}
.twC3 .pic{ width: 350px; height: 230px; margin-bottom: 15px; overflow: hidden;}
.twC3 .text h3{ line-height: 28px; padding-bottom: 10px;}
.twC3 .text h3 span{ display: inline-block; margin-right: 5px; text-indent: 8px; font-size: 13px; color: #bdbdbd; width: 32px; height: 26px; background: url(//mat1.gtimg.com/ent/fmrw/bg_wen.png) 0 center no-repeat;}
/*banner*/
#banner{ height: 609px; margin: 0 auto; position: relative;}

/*第一栏*/
.topArea,.centerArea{ width: 720px; padding-left: 240px; overflow: hidden; margin: 20px auto;}
.topBox .hd{ background-position: 0 -5px;}
.topInfo{ margin-bottom: 30px; background: #f9f8f4; padding: 15px 20px; overflow: hidden; zoom:1;}
.topInfo p{ line-height: 24px;}
.bigPic1{ width: 220px; height: 310px; padding-left: 25px; overflow: hidden;}
.bigPic2{ width: 720px; height: 370px; margin-bottom: 20px; overflow: hidden;}
.centerInfo{ padding-left: 20px; line-height: 24px; padding-bottom: 15px; border-bottom: 1px solid #e0e0e0; margin-bottom: 37px;}
.wdList li{ width: 760px; overflow: hidden; zoom:1;}
.wdList li .twC3{ display: inline; float: left; margin-right: 20px;}
.jzszMOd{ padding: 40px 220px 60px 0; border-top: 5px solid #000; background: #FFF url(//mat1.gtimg.com/ent/fmrw/bg_jzsz.png) right 20px no-repeat;}
.jzszMOd p{ line-height: 26px; color: #333; font-size: 14px;}
/*大牌接招*/
.dpjzMod{background: #f0f0f0; overflow: hidden;}
.dpjzMod .titOuter{ height: 100px; background: #000; overflow: hidden;}
.userP{ padding-top: 15px;}
.userP,.userP .text{ overflow: hidden; zoom:1;}
.userP .pic{ float: left; display: inline; width: 30px; height: 30px; margin-right: 8px; _margin-right: 5px; overflow: hidden;}
.userP .text .info{ color: #808080; line-height: 18px;}
.dhmrMod{ width: 440px; overflow: hidden;}
.dhmrMod .bd,.kwkdMod .bd{ padding: 0 15px; height: 560px; overflow-y: auto; overflow-x: hidden;}
.twP{ padding: 15px 10px; background: #f7f7f8; margin-bottom: 15px; overflow: hidden; zoom:1;}
.twP .message{ line-height: 25px; line-height: 25px; color: #808080;}
.twP .message span{ display: inline-block; margin-right: 9px; text-indent: 6px; color: #fff; width: 38px; height: 24px; background: url(//mat1.gtimg.com/ent/fmrw/bg_tw.png) 0 center no-repeat;}

.kwkdMod li{ width: 237px; margin: 0 auto; padding-bottom: 15px;}
.kwkdMod li h4{ font-weight: normal; color: #333; line-height: 26px;}
.kdP{ margin:0 auto; width: 215px; line-height: 24px; padding: 10px 10px 15px; color: #808080; background:#f7f7f8 url(//mat1.gtimg.com/ent/fmrw/bg_jt2.png) 0 0 no-repeat;}
.kdP a{ color: #ff6000;}
.lastBox{ padding-top: 23px; height: 371px; background: url(//mat1.gtimg.com/ent/fmrw/bg_hd2.png) 0 0 no-repeat; clear: both;}
.lastBox .pl{ width: 500px; overflow: hidden;}
.lastBox .pl .hd{ padding-left: 90px; height:77px;}
.lastBox .pr{ width: 220px; overflow: hidden;}
.lastBox .pr img{ width: 220px; height: 370px; overflow: hidden;}
.wbP{ width: 236px; height: 91px; background:url(//mat1.gtimg.com/ent/fmrw/bg_wb.png) 0 0 no-repeat; overflow: hidden;}
.wbP p{ padding: 10px 20px; line-height: 24px;}
.wbP p,.wbP p a{ color: #808080;}
.ico_v,.ico_m{ display: inline-block; margin-right: 2px; width: 15px; height: 15px; vertical-align:text-bottom; background: url(//mat1.gtimg.com/ent/fmrw/ico_v.png) 0 0 no-repeat;}
.ico_v{ background-position: 0 1px;}
.ico_m{ background-position: -17px 0;}
.lastBox .pl .wbP{ float: left; display: inline; margin:0 14px 10px 0;}
/*大牌印象*/
.dpyxArea{ height: 508px; background: #000;zoom:1;}
.dpyxArea .inner{ width: 960px; margin:0 auto;}
#tit_dpyx{ float: left; position: relative; margin-top: -59px;}
.tdyxMod{ width: 410px; float: left; padding-left: 45px;}
.tdyxMod .hd{ padding-top: 40px; height: 18px;}
.tdyxMod .bd{ position:relative; height: 180px; overflow: hidden;}
.tdyxMod .bd span{ position: absolute; font-family: "微软雅黑","黑体"; color:#c6c6c6;}
.font16{ font-size: 16px;}
.font20{ font-size: 20px;}
.font22{ font-size: 22px;}
.font30{ font-size: 30px;}
.font38{ font-size: 38px;}
.tdyxMod .bd span.fontRed{ color: #ca2128;}
.cyxMod{ margin-top: 20px; width: 271px; height: 217px; float: right; background: #fff;}
.cyxMod .hd{ padding:19px 0 13px 20px ;}
.cyxMod .bd{ padding-left: 20px;}
/*往期回顾*/
.wqhgMod{ padding: 20px 0 0 20px; clear: both;}
.wqhgMod .hd{ height: 50px;}
.wqhgMod .hd .more{ margin-left: 6px; display: inline-block; width: 43px; height: 24px; line-height: 24px; text-indent: 12px; color: #fff; background: url(//mat1.gtimg.com/ent/fmrw/bg_more.png) 0 center no-repeat;}
.wqhgMod .bd{ height: 110px; padding-right: 20px; position: relative;}
#scrWrap1{width:826px;overflow:hidden;position:relative; left: 48px;}/*宽度,overflow:hidden和相对定位是必须的属性*/
#scrWrap1 .split{float:left; width: 180px; display: inline; margin-right: 35px;}/*水平滚动的话，滚动单元必须浮动，垂直则必须不能浮动*/
#scrWrap1 .split img{ width: 180px; height: 110px; overflow: hidden;}
#scrLeftBtn1,#scrRightBtn1{ position: absolute; left: 0; top: 35px; cursor: pointer; display: block; width: 16px; height: 31px; background: url(//mat1.gtimg.com/ent/fmrw/btn_prenext.png) 0 0 no-repeat;}/*左按钮*/
#scrRightBtn1{ background-position: right 0; left: 910px;}
/*幕后人员*/
.mhryMod{ padding-left: 20px; height: 25px; padding-top: 30px;}
.mhryMod .hd,.mhryMod .bd{ float: left;}
.mhryMod .bd{ padding-left: 28px;}
.mhryMod dl{ padding-top: 4px;}
.mhryMod dt,.mhryMod dd{ float: left; display: inline; line-height: 20px; color: #fff;zoom:1;}
.mhryMod dt{ padding-right: 5px; margin-right: 7px; height: 20px; background: #000 url(//mat1.gtimg.com/ent/fmrw/bg_mh.png) right -20px no-repeat;zoom:1;}
.mhryMod dt span{ padding:0 3px 0 5px; display:inline-block; height: 20px; background: url(//mat1.gtimg.com/ent/fmrw/bg_mh.png) 0 0 no-repeat;zoom:1;}
.mhryMod dd{ padding-right: 38px;}

*html{
background-image:url(about:blank);
background-attachment:fixed;
}
/*导航*/
#menu{ width: 240px; overflow: hidden; position: fixed; left: 50%; margin-left: -480px; z-index: 999;_position:absolute;_bottom:auto;}
.menuTop{ top: 158px;_top:expression(eval(document.documentElement.scrollTop)); _margin-top: 158px;}
.menuBtm{bottom:700px;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:700px;}
#menu li{ float: left; clear: both; height: 28px; line-height: 28px;zoom:1; background: url(//mat1.gtimg.com/ent/fmrw/bg_menu.png) right -36px no-repeat; vertical-align: bottom; margin-bottom: 8px; cursor: pointer; overflow: hidden;}
#menu li.current{ background-position: right 0;zoom:1;}
#menu li a{ display:inline-block;padding:0 40px 0 20px; height: 28px; color: #fff; font-size: 14px; cursor: pointer;zoom:1;}
#menu li a:hover{ color: #fff; text-decoration: none;}
/*回顶部*/
#goTop{ display: block; width: 51px; height: 67px; overflow: hidden; text-indent: -999em; position: fixed; left: 50%; margin-left: 500px; background: url(//mat1.gtimg.com/ent/fmrw/bg_gotop.png) 0 0 no-repeat;_position:absolute;_bottom:auto;}
.goTop_top{top:660px;_top:expression(eval(document.documentElement.scrollTop)); _margin-top: 660px;}
.goTop_btm{bottom:700px;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:700px;}

/*add by johnny in 2012.4.23*/
.box2 .tit{height:auto; line-height:26px;padding-bottom:10px;}
.box2 .tit h3{margin-top:-5px;}
.box2 { padding-left: 53px; border-left: 1px solid #e9e9e9; position: relative; zoom:1;}
.ico_timeline{ position:absolute; left:-17px; top:0; width:32px; height:15px; overflow:hidden; background:#FFF url(//mat1.gtimg.com/ent/fmrw/bg_timeline.png) 0 0 no-repeat;}
.box2 .tit{height:auto; line-height:26px;padding-bottom:10px; left:0;padding-left:0;background:none;}
.box2 .tit h3{margin-top:-5px;}
#scrWrap1{left:60px;}
#scrLeftBtn1,#scrRightBtn1{ position: absolute; left: 0; top: 35px; cursor: pointer; display: block; width: 36px; height: 51px; background: url(//mat1.gtimg.com/ent/fmrw/btn_prenext2.png) 0 0 no-repeat;}
#scrRightBtn1{ background-position: right 0; left: 910px;}
#scrLeftBtn1:hover,#scrRightBtn1:hover{ background: url(//mat1.gtimg.com/ent/fmrw/btn_prenext2.png) 0 -51px no-repeat;}
#scrRightBtn1:hover{ background-position: right -51px;}
.bigPic1{height:auto;}
.dpyxArea{padding-bottom:20px;height:auto;}
/*add by johnny in 2012.4.24*/
.dyArea{ margin:10px 0 30px; padding:15px 20px; background:#f9f8f4; font-size:12px; color:#333; line-height:24px; overflow:hidden; zoom:1;}
#kwkdMod .hd{ background-position:0 -5px; border-top:5px solid #000; padding-bottom:10px;}
.wdArea{overflow:hidden;padding:20px 0 20px 20px; background:#fff; zoom:1; margin-bottom:50px;}
.wdArea .inner{ padding-right:20px; height:456px; overflow-x:hidden; overflow-y:auto;}
.hdP{ margin-bottom: 30px; overflow: hidden; zoom:1;}
.hdP .message{ line-height: 26px; color: #333; font-size: 14px;}
.hdP .userP .text .info{ padding-right: 10px;}
.twC3{ margin-bottom:0; padding-bottom:43px;}/*  |xGv00|21d93c55be8fab103d020df2aa3d4d3b */


/*焦点图*/
.mod18{margin-bottom: 70px;width:720px;height:406px;position:relative;background:#f7f7f7;}
.mod18 .btn{position:absolute;width:15px;height:70px;top:336px;cursor:pointer;z-index:99;font-size:50px;font-weight:bold;}
.mod18 .prev{left:0;background:url(//mat1.gtimg.com/ent/guiquan/prevBtn.png) no-repeat;}
.mod18 #prevTop,.mod18 #nextTop{top:213px;width: 46px;height: 48px;}
.mod18 #prevTop{background: url(//mat1.gtimg.com/ent/guiquan/prevBtnTop.png) 0 0 no-repeat;}
.mod18 #nextTop{background: url(//mat1.gtimg.com/ent/guiquan/nextBtnTop.png) 0 0 no-repeat;}
.mod18 .next{right:0;background:url(//mat1.gtimg.com/ent/guiquan/nextBtn.png) no-repeat;}
.mod18 li{float:left;}
.mod18 .cf li{position: relative;color: #fff;}
.mod18 .cf a{display: block; width: 720px;height: 330px; position: absolute;color: #fff;}
.mod18 .cf li span{display: block;width: 640px; position: absolute; left: 0; bottom: 0;padding: 10px 20px;line-height: 22px;text-align:left;background:rgba(0,0,0,0.6);filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000") 6}
.mod18 .picBox{height:330px;position:relative;overflow:hidden;}
.mod18 .picBox ul{height:330px;position:absolute;}
.mod18 .picBox li{width:720px;height:330px;}
.mod18 .listBox{width:642px;height:100px;margin:0 auto;position:relative;padding:6px 0 10px;overflow:hidden;}
.mod18 .listBox ul{height:100px;position:absolute;}
.mod18 .listBox li{width:129px;height:70px;cursor:pointer;position:relative;}
.mod18 .listBox li i{display:none;}
.mod18 .listBox li a{display: block;width:124px;height: 70px;}
.mod18 .listBox li img{width:124px;height: 70px;}
.mod18 .listBox .on img{width: 118px;height: 64px;border:3px solid #AEAEAE;}
.mod18 .listBox .on i{display:block;}/*  |xGv00|38c082d5ecdf9fa53e718a51987e5255 */