/*
头部通用css
更新时间:2013-11-08
版本:css0.0.1
作者:ryanguo
*/
body{font-family:Arial, Helvetica, sans-serif; font-size:12px;-webkit-text-size-adjust:none; background:#18011e;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#ff0000;}
h2,h3{font-weight:normal;}
/* Clear Fix */ 
.cl{zoom:1;}
.cl:after{content:"　";display:block;clear:both;height:0;}

.hei,.hei a{color:#000; text-decoration:none;}
.hei a:hover{color:#ff0000; text-decoration:underline;}
.bai,.bai a{color:#fff; text-decoration:none;}
.bai a:hover{color:#fff; text-decoration:underline;}
.lv,.lv a{color:#2ea921; text-decoration:none;}
.lv a:hover{color:#ff0000; text-decoration:underline;}
.fen,.fen a{color:#ec008c; text-decoration:none;}
.fen a:hover{color:#ff0000; text-decoration:underline;}
.lan,.lan a{color:#3655a3; text-decoration:none;}
.lan a:hover{color:#ff0000; text-decoration:underline;}
.hui,.hui a{color:#a4a4a4; text-decoration:none;}
.hui a:hover{color:#ff0000; text-decoration:underline;}

h1,h2,h3,.ft_wryh{font-family:"微软雅黑"; font-weight:normal;}

.Q-tList{margin:0;}
.lh15{height:15px; line-height:15px; overflow:hidden;}
.lh10{height:10px; line-height:10px; overflow:hidden;}
.lh23{height:23px; line-height:10px; overflow:hidden;}

.mininav{width:100%; height:30px;}
.banner_box{width:100%; height:487px; background:url(http://mat1.gtimg.com/astro/2014yunshi/banner_bg_01.jpg) top center no-repeat;}
.banner_box .banner{width:1000px; height:487px; margin:0 auto; position:relative;}
.banner_box .banner .intro{width:540px; height:98px; position:absolute; top:262px; left:178px; color:#3e2003; text-indent:2em;}
.banner_box .banner .shouhuo{width:582px; height:98px; background:url(http://mat1.gtimg.com/astro/2014yunshi/toupiao_bg_01.jpg); position:absolute; top:378px; left:344px;}
.banner_box .banner .shouhuo .tp_box{width:97px; height:75px; float:left;}
.banner_box .banner .shouhuo .tp_box .bt_bg{display:inline-block; width:95px; height:53px; text-align:center; line-height:50px; font-style:normal;}
.banner_box .banner .shouhuo .tp_box .bt_bg a{display:inline-block; width:95px; height:53px; text-align:center; line-height:50px; background:url(http://mat1.gtimg.com/astro/2014yunshi/tp_01.png) no-repeat !important; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://mat1.gtimg.com/astro/2014yunshi/tp_01.png', sizingMethod='scale');}
.banner_box .banner .shouhuo .tp_box .bt_bg a:hover{color:#fff; text-decoration:none; background:url(http://mat1.gtimg.com/astro/2014yunshi/tp_02.png) no-repeat !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://mat1.gtimg.com/astro/2014yunshi/tp_02.png', sizingMethod='scale');}
.banner_box .banner .shouhuo .tp_box b{display:block; width:95px; height:22px; line-height:22px; text-align:center; color:#8a0103; font-size:16px;}
.banner_box .banner .shouhuo .mt_23{margin-top:23px;}

.content,
.content_01,
.content_02{width:961px; background:#e20b06; padding:19px 20px 0 19px; margin:0 auto; position:relative;}
.content .hd{width:758px; height:41px; position:absolute; top:35px; left:202px;}
.content .hd li{width:96px; height:40px; line-height:40px; font-size:16px; font-family:"微软雅黑"; line-height:40px; padding-top:1px; text-align:center; background:url(http://mat1.gtimg.com/astro/2014yunshi/bt_out_01.jpg); float:left; margin-right:3px; cursor:pointer;}
.content .hd .current{color:#fff; background:url(http://mat1.gtimg.com/astro/2014yunshi/bt_on_01.jpg);}
.content .bd{background:url(http://mat1.gtimg.com/astro/2014yunshi/rt_bg_01.jpg) top right no-repeat #fef3e7;}
.content .bd .left{width:153px; height:440px; padding:82px 0 0 29px; border-right:1px solid #e20b06; float:left;}
.content .bd .right{width:739px; height:428px; margin-top:58px; padding:16px 0 0 19px; background:#fff; float:left;}
.content .bd .left .pic{width:137px; height:137px;}
.content .bd .left .pic img{padding:2px; border:1px solid #cfcfcf; background:#fff;}
.content .bd .left .tit{width:137px; line-height:20px; padding:8px 0;}
.content .bd .left .tit strong{display:block;}
.content .bd .left .intro{width:137px; padding:8px 0; line-height:20px; color:#787878; border-top:1px solid #cbc2b9; border-bottom:1px solid #cbc2b9;}
.content .bd .left .ding{width:137px; height:35px; line-height:35px; background:url(http://mat1.gtimg.com/astro/2014yunshi/ding_bg.jpg); margin-top:14px;}
.content .bd .left .ding .bt{width:62px; color:#4f7b00; text-align:center; float:left; cursor:pointer;}
.content .bd .left .ding .no{width:75px; color:#ca6104; text-align:center; font-weight:bold; float:right;}
.content .bd .right li{width:184px; height:142px; float:left;}
.content .bd .right .pt_box{display:inline-block; width:168px; height:123px; border:2px solid #e9e9e9; position:relative; float:left; z-index:10;}
.content .bd .right .pt_box i{width:64px; height:40px; font-size:16px; font-family:"微软雅黑"; position:absolute; right:0; bottom:0; color:#333; font-style:normal;}
.content .bd .right a.pt_box:hover i{color:#c93213;}
.content .bd .right .pt_box b,
.content .bd .right .pt_box em{display:none;}
.content .bd .right a.pt_box:hover{border:2px solid #e66d4e; text-decoration:none; z-index:100;}
.content .bd .right a.pt_box:hover b,
.content .bd .right a.pt_box:hover em{display:inline-block; position:absolute; float:left;}
.content .bd .right a.pt_box:hover b{width:195px; height:116px; z-index:100;}
.content .bd .right a.pt_box:hover em{width:174px; height:80px; line-height:20px; color:#fff; text-decoration:none; text-indent:2em; z-index:200;}
.content .bd .right .tips_01 b{top:96px; left:66px; background:url(http://mat1.gtimg.com/astro/2014yunshi/tips_bg_01.gif);}
.content .bd .right .tips_01 em{top:120px; left:76px;}
.content .bd .right .tips_02 b{top:96px; left:-132px; background:url(http://mat1.gtimg.com/astro/2014yunshi/tips_bg_02.gif);}
.content .bd .right .tips_02 em{top:120px; left:-122px;}
.content .bd .right .tips_03 b{top:-45px; left:66px; background:url(http://mat1.gtimg.com/astro/2014yunshi/tips_bg_03.gif);}
.content .bd .right .tips_03 em{top:-35px; left:76px;}
.content .bd .right .tips_04 b{top:-45px; left:-132px; background:url(http://mat1.gtimg.com/astro/2014yunshi/tips_bg_04.gif);}
.content .bd .right .tips_04 em{top:-35px; left:-122px;}

#xzys .bd .left{background:url(http://mat1.gtimg.com/astro/2014yunshi/xzys_bg_01.jpg) left top no-repeat;}
#tlys .bd .left{background:url(http://mat1.gtimg.com/astro/2014yunshi/tlys_bg_01.jpg) left top no-repeat;}
#sxys .bd .left{background:url(http://mat1.gtimg.com/astro/2014yunshi/sxys_bg_01.jpg) left top no-repeat;}
#sxys .bd .right .pt_box i{font-size:20px; text-align:center;}
#zwys .bd .left{background:url(http://mat1.gtimg.com/astro/2014yunshi/zwys_bg_01.jpg) left top no-repeat; height:362px;}
#zwys .bd .right{height:348px;}
#zwys .bd .right li{width:147px; height:114px; float:left;}
#zwys .bd .right .pt_box{width:135px; height:99px; background:url(http://mat1.gtimg.com/astro/2014yunshi/con_bg_01.jpg); border:1px solid #d9d161;}
#zwys .bd .right a.pt_box:hover{border:1px solid #b56431;}
#zwys .bd .right .pt_box i{width:135px; height:40px; font-size:23px; left:0; top:36px; color:#a9780c; text-align:center; cursor:pointer;}
#zwys .bd .right a.pt_box:hover i{color:#c93213; cursor:pointer;}
#zwys .bd .right .tips_01 b,
#zwys .bd .right .tips_02 b{top:66px;}
#zwys .bd .right .tips_01 em,
#zwys .bd .right .tips_02 em{top:90px;}
#zwys .bd .right .tips_03 b,
#zwys .bd .right .tips_04 b{top:-75px;}
#zwys .bd .right .tips_03 em,
#zwys .bd .right .tips_04 em{top:-65px;}
#fsbz .bd .left{background:url(http://mat1.gtimg.com/astro/2014yunshi/fsbz_bg_01.jpg) left top no-repeat;}
#fsbz .bd .right .s_pti_box{width:368px; height:142px; float:left;}
#fsbz .bd .right .s_pti_box .s_pic{width:184px; float:left;}
#fsbz .bd .right .s_pti_box .s_pic img{padding:2px; border:1px solid #d4d4d4;}
#fsbz .bd .right .s_pti_box .s_ti{width:164px; float:left;}
#fsbz .bd .right .s_pti_box .s_ti .s_tit{line-height:30px; font-weight:bold;}
#fsbz .bd .right .s_pti_box .s_ti .s_intro{line-height:20px; color:#787878;}

.content_01 .left{width:626px; padding-left:17px; padding-bottom:17px; float:left; background:url(http://mat1.gtimg.com/astro/2014yunshi/con_bg_02.jpg) left top no-repeat #fef3e7;}
.content_01 .right{width:300px; padding-right:18px; padding-bottom:17px; float:right; background:#fef3e7;}
.wbst_box .hd{width:612px; height:57px; border-bottom:2px solid #b23209;}
.wbst_box .hd h2{display:none;}
.wbst_box .bd{width:583px; padding:22px 0 0 29px; height:208px; background:#fff;}
.wbst_box .bd li{width:82px; height:104px; float:left;}
.wbst_box .bd .pic{display:block; width:53px; height:53px; position:relative;}
.wbst_box .bd .pic img{padding:2px; border:1px solid #d2d2d2;}
.wbst_box .bd .pic input{position:absolute; bottom:0px; left:3px; _left:0;}
.wbst_box .bd p{margin-top:4px; line-height:20px;}
.wbst_box .ft{width:612px; height:50px; background:#fff; text-align:center;}
.wbst_box .ft button{width:109px; height:31px; line-height:31px; text-align:center; background:url(http://mat1.gtimg.com/astro/2014yunshi/wb_bt_01.jpg); color:#fff; margin:0 auto; border:none;}

#xyzxdst .hd{background:url(http://mat1.gtimg.com/astro/2014yunshi/tit_01.jpg) no-repeat;}
#ctmldst .hd{background:url(http://mat1.gtimg.com/astro/2014yunshi/tit_02.jpg) no-repeat;}
#ysdjk .hd{height:57px; background:url(http://mat1.gtimg.com/astro/2014yunshi/tit_03.jpg) no-repeat; border-bottom:2px solid #b23209;}
#ysdjk .hd h2{display:none;}
#ysdjk .bd{height:618px; border:1px solid #e0e0e0; border-top:none; background:#f8f6f7;}
#pinglun{padding-bottom:35px;}
#pinglun .hd{height:54px; background:url(http://mat1.gtimg.com/astro/2014yunshi/tit_04.jpg); border-bottom:2px solid #b23209;}
#pinglun .hd h2{display:none;}
#pinglun .bd{height:330px; background:#fff;}

#upBtn{width:134px;height:300px; padding-top:78px; position:fixed;top:450px; left:50%; margin-left:550px; background:url(http://mat1.gtimg.com/astro/2014yunshi/nav_bg_01.gif);}
#upBtn a{display:block; width:122px; height:34px; line-height:34px; text-align:center; color:#ffd987; cursor:pointer;}
#upBtn a:hover{color:#a00e13; text-decoration:none; background:url(http://mat1.gtimg.com/astro/2014yunshi/nav_bg_02.png) no-repeat !important; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://mat1.gtimg.com/astro/2014yunshi/nav_bg_02.png', sizingMethod='scale');}


.footer{height:200px; width:1000px; margin:0 auto;}











/*  |xGv00|1fdc49d7719aaccebc0f219d02ff9672 */