@charset "gb2312";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td ,fieldset,legend,input,textarea,select{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
fieldset{display:inline;}
button{line-height:1.2;vertical-align:middle;cursor:pointer;}
strong{font-weight:800;}
body{font:12px '\5FAE\8F6F\96C5\9ED1',Arial,sans-serif}
a{color:#333;text-decoration:none;outline:none;cursor:pointer;}
a:hover{text-decoration:underline;}
.fl,.layout .fl,.chief{float:left;display:inline}
.fr,.layout .fr,.extra{float:right;display:inline}
.extra.h675{position:relative;height:690px;overflow:hidden;}
.undis{display:none}
.dis{display:block}
.ind{text-indent:2em}
.Q-blue,.Q-blue a{color:#2489ff;}
.Q-red a,a.Q-red{color:#bd0a01}
.Q-black a,a.Q-black {color:#333}
.Q-gray,.Q-gray a,a.Q-gray {color:#888}
.layout:after,.hd:after,.bd:after,.ft:after,.cf:after,.Q-tList:after,.Q-tList ul:after,.Q-pList:after,.Q-pList ul:after,.Q-tpList:after,.Q-tpList ul:after,.Q-tpWrap:after{content:"";display:table;clear:both}
.layout,.hd,.bd,.ft,.cf,.Q-tList,.Q-tList ul,.Q-pList,.Q-pList ul,.Q-tpList,.Q-tpList u li,.Q-tpWrap{*zoom:1}
/*布局开始*/
.layout{width:1000px;margin:0 auto;}
.Q-g7{width:290px;}
.Q-g17{width:670px;}
.Q-g17 .sub{width:320px;}
.Q-g17 .main{width:370px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
/*布局结束*/
.hd h2,.hd h3{float:left;display:inline}
.pr{position:relative;}
/*字体*/
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.fb{font-weight:700;}
.f_song{font-family:"\5B8B\4F53";}
.Q-tr{text-align:right;}
/*行高*/
.l16{line-height:16px}
.l17{line-height:17px}
.l18{line-height:18px}
.l19{line-height:19px}
.l20{line-height:20px}
.l21{line-height:21px}
.l22{line-height:22px}
.l23{line-height:23px}
.l24{line-height:24px}
.l25{line-height:25px}
.l26{line-height:26px}
.l27{line-height:27px}
.l28{line-height:28px}
.l29{line-height:29px}
.l30{line-height:30px}
.l32{line-height:32px}
.l36{line-height:36px}
/*linker li*/
.Q-tList li{height:30px;line-height:30px;padding-left:14px;font-size:14px;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/news_ico.png") no-repeat;}
/*.Q-tList a{display:block}*/
/*.Q-tList p a{display:inline}*/
.Q-tList.green-ico li{background-position:0 0;}
.Q-tList.blue-ico li{background-position:0 -30px;}
.Q-tList.white-ico li{background-position:0 -60px;}
.Q-tList.black-ico li{background-position:0 -90px;}
.Q-tList.white-ico li a{color:#fff;}
/*Q-img*/
.Q-img{margin-bottom:10px;overflow:hidden;}
.Q-img dt{height:36px;line-height:36px;margin-top:3px;font-size:16px;}
.Q-img dt a{color:#333;}
.Q-img dd .image{float:left;width:106px;height:82px;}
.Q-img dd .intro{float:right;width:144px;height:66px;line-height:22px;padding:7px 14px;border:#dcdbdb 1px solid;background:#f3f3f3;overflow:hidden;}
.Q-img dd .intro a{color:#888;}

/*soso*/
#channel_nav .logo{display:inline;float:left;width:165px;height:30px;margin-top:15px;margin-left:10px;padding-right:210px;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/finance.png") 165px -45px no-repeat;}
#channel_nav .layout{height:60px;}
#channel_nav .toolbar{float:right;}
#channel_nav .Form-Crumbs-Article-QQ{float:right;padding-top:17px;}
#channel_nav .Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:26px;border:none;font-size:12px;background: url(//mat1.gtimg.com/news/imgcss_article_qq/soso_new_ui.png) 0 -26px no-repeat;cursor:pointer;}
#channel_nav .Form-Crumbs-Article-QQ .inputWarp{float:right;width:229px;height:24px;margin:0;padding:0;line-height:22px;background:none;border:#c9c9c9 1px solid;border-right:none;}
#channel_nav .Form-Crumbs-Article-QQ .txtArea{width:170px;height: 20px;margin:2px auto 0 2px;font-size:14px;line-height:20px;border:none;color:#424242;outline:none;inline:none;}
#channel_nav .Form-Crumbs-Article-QQ .SosonLogo{float:right;width:50px;height:24px;background:url(//mat1.gtimg.com/news/imgcss_article_qq/soso_new_ui.png) 0 -2px no-repeat;}
#channel_nav .Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:13px;line-height:22px;font-family:"宋体";}
.soso-smart-a{}
.soso-smart-b{background:#D8ECFF;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

#channel_nav .bd{height:44px;line-height:44px;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/finance.png") repeat-x;}
#channel_nav .bd ul{margin-left:55px;}
#channel_nav .bd li{float:left;margin-right:30px;font-size:16px;letter-spacing:3px;font-weight:700;}
#channel_nav .bd li a{color:#fff;}
/*pk*/
.tp h4{font-size:16px;line-height:32px;}
.tp p{color:#8f8f8f;}
.hot_digg{position:relative;width:290px;height:50px;margin-top:20px;overflow:hidden;}
.vote .agree{float:left;display:block;width:58px;padding-right:12px;background:url('//mat1.gtimg.com/jiangsu/css/index20131105/finance.png') 0 -560px no-repeat;}
.vote .btn{float:left;display:inline-block;width:70px;height:38px;line-height:38px;color:#fff;font-size:16px;text-align:center;cursor:pointer;}
.vote .disagree{float:right;display:block;width:58px;padding-left:12px;background:url('//mat1.gtimg.com/jiangsu/css/index20131105/finance.png') -70px -560px no-repeat;}
.vote .count{float:left;width:140px;height:30px;;overflow:hidden;}
.vote .count .vnum{height:16px;line-height:16px;}
.vote .count .vnum span.l{display:block;float:left;height:16px;}
.vote .count .vnum span.r{display:block;float:right;height:16px;}
.vote .count .color-gray{color:#b1b1b1;}
.vote .count .color-yellow{color:#f0b129;}
.vote .count .vimg{background:#fff;height:12px;overflow:hidden;width:155px;}
.vote .count .vimg span.t1{float:left;display:block;height:12px;background:#f0b129;}
.vote .count .vimg span.t2{float:right;display:block;height:12px;background:#b1b1b1;}
.wb_lock{width:320px;height:20px;text-align:right;}
/*box*/
.pkBox{height:210px;overflow:hidden;}
.sayBox .hd,.pkBox .hd,.eventBox .hd,.togeBox .hd,.attenBox .hd,.weBank .hd{height:38px;line-height:38px;padding-left:16px;font-size:16px;font-weight:700;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/finance.png") 0 -80px no-repeat;}
.eventBox .hd{background-position:0 -505px;}
.labBox .hd,.mobBox .hd,.recomBox .hd{height:59px;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/finance.png") no-repeat;}
.labBox .hd span,.mobBox .hd span,.recomBox .hd span{display:inline-block;margin:30px 0 0 225px;color:#fff;}
.mobBox .hd span,.recomBox .hd span{color:#896620;margin-top:32px;}
.recomBox .hd span{color:#fff;margin-top:37px;}
.labBox .hd{height:62px;background-position:0 -160px;}
.mobBox .hd{background-position:0 -225px;}
.recomBox .hd{background-position:0 -290px;}
.togeBox .hd{background-position:0 -355px;}
.attenBox {padding-top:2px;border-top:#f0b129 3px solid;}
.labBox .bd{height:215px;padding:15px 20px 0 18px;background:#b8b59a;}
.labBox .bd .labFimg{width: 252px;height:126px;overflow: hidden;}
.labBox .bd .labFtit{height:44px;line-height:22px;padding:8px 15px;background:#1d9c87;overflow:hidden;}
.labBox .bd .labFtit a{color:#fff;}
.labF .f16 a{color:#fff;}
.mobBox .bd,.recomBox .bd{height:217px;padding:15px 20px 0 18px;background:#f4cc76;}
.recomBox .bd{background:#836463;}
.labF,.mobF,.recomF{height:119px;}
.labF .l30,.mobF .l30,.recomF .l30{margin-bottom:7px;}
.labF .l30 a,.recomF .l30 a{color:#fff;}
.mobF .l30 a{color:#333;}
.mobFimg,.recomFimg{float:left;width:106px;height:82px;overflow: hidden;}
.mobFtit,.recomFtit{float:right;width:116px;height:66px;line-height:22px;padding:8px 10px;background:#9f9c85;overflow:hidden;}
.mobF .mobFtit{background:#ffe79f;}
.mobF .mobFtit a{color:#747474;}
.mobBox .Q-tList.white-ico li a{color:#333;}
.recomFtit{background:#947c76;}
.mobFtit a,.recomFtit a{color:#fff;}
.sayBoxF{margin-top:4px;}
.sayBoxT{height:30px;line-height:40px;overflow:hidden;}
.sayBoxInt{height:51px;line-height:22px;padding:15px 15px 0;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/finance.png") 0 -435px;}
.weBank ul{width:270px;padding:0 10px;overflow:hidden;}
.weBank ul li{float:left;width:90px;}
.weBank ul li a{display:block;height:30px;line-height:30px;margin-top:10px;padding-top:45px;text-align:center;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/bank_ico.jpg") no-repeat;}
.weBank ul li a.nong_ico{background-position:center top;}
.weBank ul li a.jiao_ico{background-position:center -75px;}
.weBank ul li a.zhong_ico{background-position:center -150px;}
.weBank ul li a.jian_ico{background-position:center -225px;}
.weBank ul li a.zhao_ico{background-position:center -300px;}
.weBank ul li a.gong_ico{background-position:center -375px;}
#cardBody2 img{display:block;border:none;}
.left_card,.right_card{float:left;width:140px;height:111px;line-height:24px;margin-top:10px;text-align:center;}
.right_card{float:right;}
/*tab atten*/
.attenLis{position:relative;height:290px;}
#tab2{position:relative;z-index:2;}
#cardBtn2{position:relative;height:26px;right:0;border-bottom:#ffca8a 1px solid;z-index:2;}
#cardBtn2 li{position:relative;top:0;float:left;display:inline;height:25px;line-height:26px;margin-right:3px;padding:0 14px;border:#ffca8a 1px solid;font-size:14px;color:#fff;cursor:pointer;background:#ffbd5e;overflow:hidden;z-index:3;}
#cardBtn2 .current{border:#ffca8a 1px solid;border-bottom:#fff 1px solid;color:#333;background:#fff;}
#cardBody2{height:245px;overflow:hidden;}

.contactBox a{float:left;display:inline-block;width:50px;height:26px;line-height:26px;margin-right:16px;overflow:hidden;}

/*focus*/
.fs_F1{position:relative;width:670px;height:268px;background:transparent;}
.fs_F1 .F1fBt{position:absolute;height:20px;bottom:24px;right:100px;overflow:hidden;zoom:1;z-index:10;}
.fs_F1 .F1fBt a{display:inline-block;float:left;width:20px;height:20px;line-height:20px;text-align:center;font-size:30px;color:#989898;text-decoration:none;outline:0;}
.fs_F1 .F1fBt a:hover,.fs_F1 .F1fBt a.current{color:#4aaaf2;}
.fs_F1 .shadow{position:absolute;display:block;width:198px;top:0;right:0;padding:20px 30px 0;z-index:10;}
.fs_F1 .shadow a{text-decoration:none;color:#333;overflow:hidden;}
.fs_F1 .fcon{display:none;position:relative;float:left;width:670px;height:268px;background:#ededed;}
.fs_F1 .fcon img{display:block;width:412px;height:268px;}
.scrolNews{width:670px;height:24px;padding:7px 0;border-bottom:#c8c8c8 1px dotted;}
.scrolNews dt{float:left;width:51px;height:24px;margin-right:9px;font-size:0;text-indent:-9999em;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/finance.png") -239px -45px no-repeat;}
.scrolNews dd{float:right;position:relative;width:610px;height:24px;overflow:hidden;}
.scrolNews dd a{float:left;position:relative;display:inline-block;height:14px;line-height:14px;margin:5px 0;padding:0 10px;color:#333;font-size:14px;border-right:#4e4e4e 1px solid;}
#scrol_list{position:absolute;width:9999px;overflow:hidden;}

.recomNews{padding-top:5px;overflow:hidden;}
.newsBox{height:110px;padding:25px 0 19px;border-bottom:#d9d9d9 1px dotted;overflow:hidden;}
.newsBox dt{float:left;width:165px;height:110px;}
.newsBox dt img{width:165px;height:110px;}
.newsBox dd{float:right;width:475px;height:110px;overflow:hidden;}

.AD{height:60px;background:#379be9;}

.imgNews{height:246px;overflow:hidden;}
.imgBox{float:left;position:relative;display:inline-block;overflow:hidden;}
.imgBoxM{float:left;width:235px;height:246px;overflow:hidden;}
.Q-tpBg{position:absolute;left:0;bottom:0;width:100%;height:36px;line-height:36px;font-size:14px;text-align:center;overflow:hidden;background:url(//mat1.gtimg.com/jiangsu/images/Q-vbg.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/jiangsu/images/Q-vbg.png',sizingMethod='crop');cursor:pointer;}
.Q-tpBg a{color:#fff;}
.imgBox.i_1{width:268px;height:246px;margin-right:3px;}
.imgBox.i_2{width:232px;height:146px;margin-right:3px;}
.imgBox.i_3{width:164px;height:246px;}
.imgBox.i_4{width:114px;height:96px;margin-right:3px;margin-top:4px;}
.imgBox.i_5{width:114px;height:96px;margin-right:3px;margin-top:4px;}

.newsListBtn{height:34px;line-height:34px;border-top:#ccc 1px solid;font-size:16px;color:#c0801b;text-align:center;cursor:pointer;}
.newsListBtn a{color:#333;}
.dasu{width:290px;height:149px;background:url("//mat1.gtimg.com/jiangsu/css/index20131105/finance_weixin.jpg") no-repeat;}
/* partner */
.partner{ background:#fafafa; border-top:2px solid #dedede; border-bottom:1px solid #dedede; margin-top:40px; padding:20px 0;}
.partner h2{ color:#979797; font-size:18px; height:30px; line-height:30px;}
.partner .left{ background:url(//mat1.gtimg.com/jiangsu/images/partnerLeft_bg.png) 20px 35px no-repeat; border-right:1px solid #dedede; float:left; padding-left:100px; width:530px;}
.partner .left p{ color:#cacaca; line-height:32px;}
.partner .left p b{ color:#333; display:inline-block; width:80px;}
.partner .right{ background:url(//mat1.gtimg.com/jiangsu/images/partnerRight_bg.png) 0 35px no-repeat; float:right; padding-left:75px; width:220px;}

.sayBox dl{margin-bottom:10px;overflow:hidden;}
.sayBox dt{height:24px;line-height:16px;font-size:14px;font-weight:700;}
.sayBox dt a{color:#333;}
.sayBox .sImg{float:left;width:110px;height:70px;overflow:hidden;}
.sayBox .sInfo{float:right;width:170px;height:70px;line-height:24px;color:#888;font-family:"\5B8B\4F53";overflow:hidden;}

#past_pages dl{display:none;}/*  |xGv00|a66c4c85846a2612d6e39837b0364563 */