@charset "gbk";
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{
	margin:0;
	padding:0;
}
body{
	font-size:12px; line-height:150%;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
a:active{
	background-color:transparent;
}
small,cite,code,em,th,i,b{
	font-weight:500;
	font-style:normal;
	font-size:1em;
}
input,select,textarea,button{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	font-size:1em;
}
textarea{
	overflow:auto;
	vertical-align:top;
	resize:vertical;
}
table{
	border-spacing:0;
	border-collapse:collapse;
}
fieldset,img,iframe{
	border:0 none;
}
img{
	/*display:inline-block;
	vertical-align:bottom;
	-ms-interpolation-mode:bicubic;*/
}
iframe{
	display:block;
}
ul,ol{
	list-style:none;
}

.header{ width:100%; height:97px;}
.logout{ width:980px; height:30px; margin:0 auto;}
.logout_t{height:30px; float:right;}

/**导航*/
.h_nav{ width:100%; height:67px; background:url(http://mat1.gtimg.com/gongyi/succor_13/common/top_navigate_bg.png) repeat-x;}
.nav_t{ width:1000px; height:67px; margin:0 auto;}
.logo{ width:310px; height:67px; float:left; background:url(http://mat1.gtimg.com/gongyi/succor_13/common/logo_13_v1.jpg) center no-repeat;}
.logo a{display:block;width:100%;height:100%;}

/*top navigate*/
ul.top_navigate{float:left;padding-top:16px;font-family:"微软雅黑";}
ul.top_navigate li{display:inline-block;float:left;text-align:center;line-height:30px;position:relative;padding:1px;z-index:10}
ul.top_navigate li.drop{background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/top-drop-icons.jpg) no-repeat right 12px;}
ul.top_navigate li.dropHover a{background:#4E931C;color:#FFF;}
ul.top_navigate li a{display:inline-block;height:39px;color:#4F4F4F;font-size:16px;padding-left:14px;padding-right:14px;}
ul.top_navigate li a:hover{background:url(http://mat1.gtimg.com/gongyi/succor_13/common/top_menu_bg.jpg) repeat-x; text-decoration:none;}
ul.top_navigate li a.ihover,ul.top_navigate li a:hover{background:url(http://mat1.gtimg.com/gongyi/succor_13/common/top_menu_bg.jpg) repeat-x center;color:#FFF;}
ul.top_navigate li div{position:absolute;top:28px;left:1px;z-index:10;display:none;}
ul.top_navigate li div a{background:#4E931C;display:block;clear:both;color:#FFF;line-height:35px;width:100px;text-align:left;padding-left:15px;}
ul.top_navigate li div a:hover{background:#377811;}
ul.top_navigate li div a:visited{color:#FFF;}

p.tips_success,h4.tips_success{background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/icon_success1.png) no-repeat; padding-left:10px;line-height:40px;font-size:14px;}
p.tips_error,h4.tips_error{background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/icon_error1.png) no-repeat; padding-left:10px;line-height:40px;font-size:14px;}
p.tips_warning,h4.tips_warning{background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/icon_warning1.png) no-repeat; padding-left:10px;line-height:40px;font-size:14px;}

.topLoginWrap{line-height:30px;}
.topLoginWrap ul li{float:left; padding-left:12px; color:#999;}

/*** footer ***/
.footer{ width:100%; height:108px; background:#489f23; margin-top:20px;}
.footer_info{ width:980px; height:90px; margin:0 auto;}
.foot_info_sp1{ font-size:12px; color:#ffffff; text-align:center; line-height:40px;}
.foot_info_sp2{ font-size:12px; color:#ffffff; text-align:center; line-height:20px;}
.foot_info_sp1 a:link,.foot_info_sp1 a:hover,.foot_info_sp1 a:visited{ color:#ffffff; }

.floatDiv .floatClose,.floatDiv .floatCloseBtn,.floatContent .floatOkBtn{cursor:pointer;float:left;display:block;width:18px;height:16px;border:0;background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/icons.png) 0px -193px  no-repeat;}
.floatDiv{color:red; background-color:#fff; line-height:25px; z-index:9999; display:none; border:3px solid #a1a1a1; width:440px;}
.floatTitle{background-color:#4e931c; color:#fff; display:block; height:60px; width:100%; line-height:60px;	text-indent:30px; }
.floatTitle-h4{font-size:14px;}

.floatContent{ width:100%; font-size:12px; color:#3f3f3f; padding:15px 0; }

.floatContent p{text-indent:2em; width:85%;	margin:0 auto;}

.floatDiv .floatClose{background-position:-154px -194px; width:14px; height:14px; float:right; display:block; margin-right:14px; margin-top:20px; text-indent:-9999px; overflow:hidden;}
.floatContent .floatCloseBtn,.floatContent .floatOkBtn,.floatDiv .floatCloseBtn{
	background-position:-151px -303px;
	width:122px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	font-size:16px;
	margin:20px 0 20px 0;
	overflow:hidden;
	text-decoration:none;
	float:none;
	margin:0 auto;
	display:inline-block;
	_display:inline;
	*display:inline;
	zoom:1; 
	margin-bottom:16px;
}
.tips-loading{background:url("http://mat1.gtimg.com/gongyi/succor_13/icons/loading1.gif") no-repeat top left; padding-left:40px; padding-bottom:10px;}
/*  |xGv00|2ffb97ef30b801d3dcc4f41b5fdd4f9c */