@charset "gb2312";
/* CSS Document */
/*header*/
.header{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/header.jpg) center top no-repeat; width:100%;}
.header .layout{ height:792px; padding-top:100px;}
.header .logo{ 
	background:url(//mat1.gtimg.com/2014/zhuanti/funpc/logo.png) no-repeat; 
	_background:none; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/funpc/logo.png',sizingMethod=''); 
	float:left; 
	height:445px; 
	width:410px;
	-webkit-animation:flip 1s .2s ease both;
	-moz-animation:flip 1s .2s ease both;
}
@-webkit-keyframes flip{
0%{-webkit-transform:perspective(400px) rotateY(0);
-webkit-animation-timing-function:ease-out}
40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(170deg);
-webkit-animation-timing-function:ease-out}
50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
-webkit-animation-timing-function:ease-in}
80%{-webkit-transform:perspective(400px) rotateY(360deg) scale(.95);
-webkit-animation-timing-function:ease-in}
100%{-webkit-transform:perspective(400px) scale(1);
-webkit-animation-timing-function:ease-in}
}
@-moz-keyframes flip{
0%{-moz-transform:perspective(400px) rotateY(0);
-moz-animation-timing-function:ease-out}
40%{-moz-transform:perspective(400px) translateZ(150px) rotateY(170deg);
-moz-animation-timing-function:ease-out}
50%{-moz-transform:perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
-moz-animation-timing-function:ease-in}
80%{-moz-transform:perspective(400px) rotateY(360deg) scale(.95);
-moz-animation-timing-function:ease-in}
100%{-moz-transform:perspective(400px) scale(1);
-moz-animation-timing-function:ease-in}
}
.header .text{ 
	float:right; 
	padding:30px 140px 0 0;
	-webkit-animation:bounceInRight 1s .2s ease both;
	-moz-animation:bounceInRight 1s .2s ease both;
}
.header .text p{ color:#fff; font-size:36px; font-weight:bold; line-height:60px; text-align:right;}
@-webkit-keyframes bounceInRight{
0%{opacity:0;
-webkit-transform:translateX(2000px)}
60%{opacity:1;
-webkit-transform:translateX(-30px)}
80%{-webkit-transform:translateX(10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceInRight{
0%{opacity:0;
-moz-transform:translateX(2000px)}
60%{opacity:1;
-moz-transform:translateX(-30px)}
80%{-moz-transform:translateX(10px)}
100%{-moz-transform:translateX(0)}
}
/*layout1*/
.disruptor {
	position: relative;
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 536px;
}
.mycontainer {
	width: 1000px;
	height: 536px;
	margin: 0 auto;
}
.mycontainer .section-body {
	padding-top: 130px;
	z-index: 600;
}
.grid {
	float: right;
	width:700px;
	display: block;
}
.grid h2{ color:#fff; font-size:96px; line-height:160px;}
.grid h3{; color:#fff; font-size:40px; line-height:60px;}
.grid h3 span{ border:8px solid #fff; display:inline-block; padding:0 30px;}
.grid p{ color:#fff; font-size:24px; line-height:60px;}
.layout1{ background-image: url(//mat1.gtimg.com/2014/zhuanti/funpc/layout1.jpg);}

/*layout2*/
.layout2{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/layout2.jpg) center top no-repeat; height:714px; padding-top:100px;}
.tpList{ overflow:hidden; padding:25px 0; width:1000px;}
.borb{ border-bottom:1px solid #f0f6f3;}
.tpList .picbox{ height:240px; width:400px;}
.tpList .infobox{ width:560px;}
.tpList .infobox h2{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/icon.png) 0 7px no-repeat; border-bottom:1px dotted #bbd1c5; color:#3a3a3a; font-size:32px; font-weight:bold; line-height:40px; padding:0 0 15px 45px;}
.tpList .infobox h2 a{ color:#3a3a3a;}
.tpList .infobox p{ color:#8aad9a; margin-top:15px;}
/*layout3*/
.djzl{position:relative;background:#333;overflow:hidden;margin-top:1px;}
.djzl #bgImg{position:absolute;top:0;left:0;width:100%;}
.djzl .bd{position:relative; z-index:100}
.djList li{margin-top:1px;height:140px;text-align:center; position:relative;cursor:pointer;vertical-align:middle;}
.djList li .cent{position:absolute;width:100%;left:0;top:50%;margin-top:-24px; }
.djList li h2{color:#fff;font:normal normal 30px/1.5em "微软雅黑";position:relative; z-index:10 }
.djList li span{display:block;font:normal normal 24px/1.5em "微软雅黑";color:#fdd63d;position:relative; z-index:10;overflow:hidden; height:0px; }
.djList li .shadow,.djzl .hd .shadow{background:#000;opacity:0.5;filter:alpha(opacity=50);position:absolute;width:100%;height:100%;top:0;left:0}
.djList li.on .shadow{background:#147f36;opacity:.8;filter:alpha(opacity=80);transition: all 0.5s ease-in-out 0s; }
/*layout4*/
.layout4{ background-image: url(//mat1.gtimg.com/2014/zhuanti/funpc/layout4.jpg);}
.layout4 .status{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/status.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/funpc/status.png',sizingMethod=''); height:612px; position:absolute; right:50%; top:-76px; width:756px; z-index:100;}
/*layout5*/
.layout5{ padding:100px 0 200px;}
/*layout6*/
.layout6{ background-image: url(//mat1.gtimg.com/2014/zhuanti/funpc/layout6.jpg);}
.layout6 .ball{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/ball.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/funpc/ball.png',sizingMethod=''); height:895px; position:absolute; right:50%; top:-320px; margin-right:100px; width:640px; z-index:100;}
/*layout7*/
.focusWrap{ height:1100px; overflow:hidden; position:relative;}
.focus_window{left:50%; width:2000px; height:1100px; overflow:hidden; margin-left:-1000px; position:absolute;}
.focus_window ul{ width:999999px; height:1100px; position:relative;}
.focus_window li{ width:2000px;height:1100px;text-align:center;font-size:0px;float:left;display:inline;}
.focus_list{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/line.png) right 0 no-repeat #07d33f; left:0%; bottom:0;width:30%;height:72px; position:absolute;}
.focus_list li{ height:72px; overflow:hidden; float:right; display:none; font-size:36px;}
.focus_list a{ color:#fff; font-family:Georgia; height:48px; line-height:48px;}
.focus_list li.active{ display:block; padding-right:50px; text-align:right;}
.focus_list li.active a{text-decoration:none;}
.focus_list li a:hover{text-decoration:none;}
.focusWrap .num{ color:#fff; font-size:18px; font-family: Georgia; height:30px; line-height:30px; position:absolute; bottom:10px; left:30%; margin-left:-40px;}
.text_list{background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( Q-gradientType = 0, startColorstr = '#99000000', endColorstr = '#99000000') \9; height:72px; line-height:72px; position:absolute; left:30%; bottom:0; width:70%;}
.text_list li{ color:#fff; display:none; font-size:28px; font-weight:bold; padding:0 20px;}
.text_list .active{ display:block;}
.focusWrap .btn{ cursor:pointer; height:73px; position:absolute; top:420px; width:73px;}
.focusWrap .prev{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/prev_d.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/funpc/prev_d.png',sizingMethod=''); left:50px;}
.focusWrap .prevHover{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/prev_dCur.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/funpc/prev_dCur.png',sizingMethod='');}
.focusWrap .next{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/next_d.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/funpc/next_d.png',sizingMethod=''); right:50px;}
.focusWrap .nextHover{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/next_dCur.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/funpc/next_dCur.png',sizingMethod='');}
/*layout8*/
.layout8{ background-image: url(//mat1.gtimg.com/2014/zhuanti/funpc/layout8.jpg);}
.layout8 .grid{ float:left; width:900px;}
/*layout9*/
.layout9{ padding:100px 0;}
/*layout10*/
.layout10{ background-image: url(//mat1.gtimg.com/2014/zhuanti/funpc/layout10.jpg); height:764px;}
.layout10 .mycontainer{ height:764px;}
.layout10 .mycontainer .section-body{ padding-top:70px;}
.layout10 .grid{ float:left; width:900px;}
.layout10 .znlist{ position:relative; width:1000px;}
.layout10 .znlist .inner{ height:367px; overflow:hidden; position:relative; width:1000px;}
.layout10 .znlist li{ float:left; padding-right:30px; width:228px;}
.layout10 .znlist li .box{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/li.png) repeat; padding:0 11px 11px 0; width:216px;}
.layout10 .znlist li .box h3{ background:#fff; color:#d6e4dd; font-size:60px; font-weight:bold; line-height:64px; padding-left:10px;}
.layout10 .znlist li .box p{ background:#fff; padding:20px 25px;}
.layout10 .znlist .btn{position:absolute; bottom:130px; width:48px;height:112px; line-height:112px; color:#fff; cursor:pointer;font-size:70px; text-align:center;}
.layout10 .znlist .btn:hover{ background:#a1a961;}
.layout10 .znlist .prev{left:-50px;}
.layout10 .znlist .next{right:-50px;}
/*layout11*/
.layout11{ background-image: url(//mat1.gtimg.com/2014/zhuanti/funpc/layout11.jpg); height:776px;}
.layout11 .mycontainer{ height:776px;}
.layout11 .mycontainer .section-body{ padding-top:70px;}
.layout11 .grid{ float:left; height:310px; width:900px;}
.scroll_A { position:relative; width:1000px;}
.scroll_A .inner{position:relative;width:1000px;height:270px;overflow:hidden;}
.scroll_A .split{ width:240px; height:270px; float:left; padding:0 5px;}
.scroll_A .split img{ border:1px solid #fff;}
.scroll_A .split p{ margin-top:20px;}
.scroll_A .split p,.scroll_A .split p a{ color:#295139;}
.scroll_A .btn{position:absolute; bottom:130px; width:48px;height:112px; line-height:112px; color:#fff; cursor:pointer;font-size:70px; text-align:center;}
.scroll_A .btn:hover{ background:#a1a961;}
.scroll_A .prev{left:-50px;}
.scroll_A .next{right:-50px;}
/*layout12*/
.layout12 .hd{ color:#3c9f39; padding:75px 0 45px; position:relative;}
.layout12 .hd h2{ background:url(//mat1.gtimg.com/2014/zhuanti/funpc/brazil.png) right center no-repeat; height:74px; line-height:74px; padding-right:360px;}
.layout12 .hd h2 span{ border:7px solid #3c9f39; font-size:40px; font-weight:bold; float:left; line-height:60px; padding:0 30px;}
/*footer*/
.footer{ background:#494949; padding:20px 0;}
.tcopyright{ color:#ababab !important; line-height:32px !important;}
.tcopyright a{ color:#ababab !important;}
/*gotoup*/
.gotoup{width:58px;height:58px;position:fixed; background:url(//mat1.gtimg.com/2014/index/img/icons.png) 0 -140px no-repeat;bottom:80px;left:50%;margin-left:520px;cursor:pointer;display:none;}
.gotoup:hover{background-position:-60px -140px;}
}
 /*  |xGv00|3b3de84daa2bc11bbb9920f01c2b59d9 */