@charset "gb2312";
/* CSS Document */
.clear{ clear:both; float:none;}
.opacity60 { background: rgba(0, 0, 0, 0.6);  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#99000000", endColorstr="#99000000");
}
:root .opacity60 { filter: none; background: rgba(0, 0, 0, 0.6); }
.font{font: normal 16px/40px "Microsoft YaHei";}
.background{_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/zhuanti/zhanshuban/yellow.png',sizingMethod='crop');}
/*战术板*/
.head_con{ width:100%; height:117px; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/bg.jpg) no-repeat top center;}
.head_box{ width:1000px; margin:0 auto;height:117px; position:relative; z-index:1;}
.head_box .pro{ font:normal 12px "宋体"; color:#e8fffa; position:absolute; top:26px; left:256px;*margin-top:2px;margin-top:2px\9;}
.head_box .pro2{font:normal 16px "Microsoft YaHei"; color:#13bb6a;top:72px; left:252px; position:absolute;}
.head_box .pra{font:normal 18px "Microsoft YaHei"; color:#3b7f0d;position:absolute;top:80px; left:734px;}
.head_box a.pra:hover{ color:#da5700; text-decoration:none;}
.head_box .pra2{font:normal 18px "Microsoft YaHei"; color:#3b7f0d;position:absolute;top:80px; left:842px; overflow:hidden; }
.head_box a.pra2:hover{ color:#da5700; text-decoration:none;}
.head_box .pra2 p{ display:block; margin-right:4px; display:inline-block; vertical-align:middle;*float:left;}
.head_box .pra2 i{ width:12px; height:6px;display:inline-block; vertical-align:middle; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/bottom.png) no-repeat; margin-top:4px;*float:left; *margin-top:10px; *display:block;}
.window{ width:300px; position:absolute; background:#fff; top:-1000px; right:-140px; z-index:99999;}
.w_box{ width:300px; position:relative;height:0px;}
.w_box span{position: absolute;width: 18px;height: 10px;background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/top_03.png) no-repeat;top: -9px;left: 35px;}
.newsBox{border:1px solid #e0e0e0;background: #fff;padding: 10px;font-size: 14px;}
.newsBox p{line-height:22px;height:22px;padding:10px 0px 10px 20px; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/pot.jpg) no-repeat 6px  20px;border-bottom:1px solid #f2f2f2;  }
.newsBox p a:hover{ text-decoration:none;}
.newsBox p.more{text-align:right;padding-bottom:0px;border-bottom:none;background:none;}
.w_box .close{background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/close.jpg) no-repeat;display: block;width: 16px;height: 16px;position: absolute;right: 8px;top:8px;z-index: 1000;}
.w_box a.close:hover{ background: url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/close1.png) no-repeat;} 

.main_con{ width:1000px; margin:0 auto; overflow:hidden; padding-bottom:50px;}
.main_con h1{ text-align:center; padding-top:36px; overflow:hidden;}
.main_con h1 .na{font:bold 30px "黑体"; color:#3d3d3d;display:inline-block;vertical-align:middle;margin-top:2px\9;}
.main_con h1 a.na:hover{color:#da5700; text-decoration:none;}
.main_con h1  span{ width:57px; height:26px; background:#4caf24; text-align:center;font:normal 14px/26px "宋体"; color:#fff; display:inline-block;vertical-align:middle;}
.main_con h1  i{ width:7px; height:26px; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/right_03.png) no-repeat; display:inline-block; vertical-align:middle; margin-right:14px;}

.proint{ width:1000px; height:600px; position:relative; overflow:hidden;}
/*焦点图*/
.fs_D2{ width:1000px;height:528px; position:relative; float:left;margin-top:30px; background:#000;}  
.fs_D2 .fPic{ position:absolute; left:0px; top:0px; }  
.fs_D2 .D2fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.fs_D2 .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:2; height:40px; line-height:40px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block; text-align:left; }  
.fs_D2 .fcon{ position:relative; float:left;}  
.fs_D2 .fcon img{ display:block; }  
.fs_D2 .shadow p{ line-height:40px; margin-left:60px;}
.fs_D2 .fcon .con_a{  display:block; position:relative; text-decoration:none;font: normal 16px "Microsoft YaHei"; color:#fff;}
.fs_D2 .fcon .con_a i{ width:40px; height:40px; display:block; position:absolute;bottom:0; left:0; z-index:3; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/play.jpg) no-repeat;}
.fs_D2 .fbg{ width:1000px; bottom:-30px; left:0px; position:absolute; height:21px; text-align:center;  }  
.fs_D2 .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.fs_D2 .D2fBt a{display:inline-block; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/green.jpg) no-repeat;width:8px; height:8px; position:relative; margin:0 2px; outline:0px;  text-decoration:none; }    
.fs_D2 .D2fBt .current,.fs_D2 .D2fBt a:hover{background: url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/cur.jpg) no-repeat;width:8px; height:8px;}    
.fs_D2 .D2fBt img{display:none}    
.fs_D2 .D2fBt i{display:none; font-style:normal; }  
.fs_D2 .prev{display:none }  
.fs_D2 .next{ display:none}  
.fs_D2 .fix{ position:relative; width:9999px; height:528px;}    
.fs_D2 .fPs{ width:100%; overflow:hidden; position:relative;} 
/*首发*/
.main_box{ width:1000px; overflow:hidden; padding-bottom:36px;}
.main_box h2{font:bold 24px "Microsoft YaHei"; color:#0f6b45; padding-left:6px;}
.bor{ width:1000px; height:4px; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/h2.png) no-repeat; overflow:hidden; margin-top:5px;}
.main_box .fp{font:normal 14px/24px "宋体"; color:#4a4a4a; text-indent:2em; padding-top:26px;}
.main_box .ima{display:block; margin-top:22px; cursor:pointer;}

.m_box{ background:#f6f6f4; width:490px; float:left; overflow:hidden; margin-top:30px; height:380px;}
.m_box .ima2{ display:block;}
.m_box h3{font: normal 18px "Microsoft YaHei"; color:#057142; text-align:center; margin-top:12px;}
.m_box h3 a{color:#057142;}
.m_box h3 a:hover{ text-decoration:none;color:#da5700;}
.m_box p{font:normal 14px/24px "宋体"; color:#4a4a4a; text-indent:2em; margin:10px 10px 0 10px;}

.m_box2{ float:right;}
.m_box3{ height:416px; background:#f3ffed;}
.m_box3 p{ margin-top:20px;}
.m_box3 p a{ color:#38ab3f;}
.m_box3 p a:hover{ text-decoration:none;color:#da5700;}

.main_box h4{ text-align:center;font: normal 24px "Microsoft YaHei"; color:#383838; margin-top:24px;}

.m_box4{ width:1000px; overflow:hidden; margin-top:30px;}
.m_box4 .mma{ display:block; float:left;}
.m_box4 .mma2{ display:block; float:right;}
.txt{ width:420px; height:284px; background:url(//mat1.gtimg.com/2014/zhuanti/zhanshuban/txt.jpg) no-repeat; float:left; overflow:hidden;}
.txt p{font:normal 14px/24px "宋体";color:#4a4a4a; text-indent:2em; margin:80px 0 0 68px; width:340px;}
.z_p{ width:770px;font:normal 14px/24px "宋体"; color:#4a4a4a; text-indent:2em; float:left; margin:60px 0 0 20px;_display:inline;}
.m_box5{ margin-top:10px;}
.z_p2{ font:normal 14px/24px "宋体"; color:#4a4a4a; text-indent:2em; float:left; margin:36px 20px 0 20px;_display:inline;}
/*  |xGv00|ebac43fe1768bbd57f3b59fc1a4580a8 */