/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#057142!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff;  }
.banner{ display:none}
/*topBox*/
#topBox{ width:100%; height:195px; margin:0px auto; overflow:hidden; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/banner.jpg) no-repeat top center}
.topBox{ position:relative; width:1000px; height:195px; margin:0px auto; overflow:hidden}
.topBox .img{ float:left; position:relative; width:184px; height:168px; margin-top:24px; }
.topBox .img img{ position:absolute; left:0px; top:0px; width:184px; height:168px; z-index:9}
.topBox .img .ball{ position:absolute; left:0px; top:0px; width:184px; height:168px; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/ball.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ball.png', sizingMethod='crop'); z-index:10}
.topBox .img .ball a{ display:block; width:184px; height:168px; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/ball.png) no-repeat scroll -9999px 0px}
.topBox dl{ float:left; margin:65px 0px 0px 10px; overflow:hidden}
.topBox dl dt{ font-size:44px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#a42727}
.topBox dl dt a{ color:#a42727}
.topBox dl dd{ font-size:48px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#373737}
.topBox dl dd a{ color:#373737}
.wqhg{ position:absolute; top:20px; left:202px; width:180px; height:30px;}
.wqhg em{ margin-right:10px; font-size:20px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#a42727}
.xzk{ width:93px;}
/*playerBox*/
.playerBox{ width:1000px; margin:0px auto; overflow:hidden}
.jieshao{ width:1000px; margin:15px auto; overflow:hidden}
.jieshao .yellow{ float:left; width:155px; height:111px; padding-top:10px; overflow:hidden; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/yellowBg.jpg) no-repeat}
.jieshao .yellow li{ margin:0px 0px 5px 25px; font-size:20px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#04582f}
.jieshao p{ float:right; width:808px; line-height:30px; text-indent:2em; font-size:18px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal;}
/*renBox*/
.renBox{ width:1000px; margin:0px auto; overflow:hidden}
.renBox .ren{ float:left; position:relative; width:346px; }
.renxing{ position:absolute; top:0px; left:0px; width:240px; height:443px;}
.ren ul{ float:right;}
.ren ul li{ float:right; padding-right:10px; overflow:hidden; width:224px; height:64px; margin-bottom:2px; text-align:right; background:#b3b3b3}
.ren ul li em{ display:inline-block; margin-top:3px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-style:italic; font-weight:normal; color:#fff}
.ren ul li p{ font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#ffdc05}
.ren ul li.long{ width:255px;}
.ren ul li.short{ width:190px;}
#wjvideo{ float:right; width:640px; height:408px;}
/*qtBox*/
.qtBox{ width:1000px; margin:40px auto 0px; overflow:hidden}
.qtBox .hd{ width:1000px; height:30px;}
.qtBox .hd h2{ text-indent:-9999em}
.qtBox .bd{ width:1000px; overflow:hidden}
#scbx .hd{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/scbx.jpg) no-repeat}
#sjfx .hd{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/sjfx.jpg) no-repeat}
#sgd .hd{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/sgd.jpg) no-repeat}
#shsy .hd{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/shsy.jpg) no-repeat}
#wypl .hd{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/wypl.jpg) no-repeat}
.scbxT{ width:1000px; overflow:hidden}
.attack{ float:left; width:482px; height:150px; margin-top:50px; overflow:hidden; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/attack.png) no-repeat}
.attack ul{ width:482px; height:150px; overflow:hidden}
.attack ul li{ width:482px; height:75px;}
.attack ul li span{ display:block; float:left; width:112px; height:75px; line-height:75px; text-align:center; font-size:20px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal;color:#373737}
.red{ float:left; margin-top:32px; height:20px; background:#ffad00; border-radius:0px 10px 10px 0px; -webkit-border-radius:0px 10px 10px 0px;}
.green{ float:left; margin-top:32px; height:20px; background:#74b38c; border-radius:0px 10px 10px 0px; -webkit-border-radius:0px 10px 10px 0px;}
.scbxP{ float:right; width:480px; margin-top:52px; font-size:14px; line-height:28px; text-indent:2em;}
.scbxUl{ width:1000px; margin:40px auto 0px; overflow:hidden}
.scbxUl li{ float:left; width:495px; overflow:hidden}
.scbxUl li img{ display:block; width:495px; height:280px; margin-bottom:30px;}
.scbxUl li p{ font-size:16px; text-indent:2em; line-height:28px;}
.scbxUl li.fr{ float:right}
/*sgd*/
#focus01{ position:relative; width:1000px; height:416px; margin:30px auto 0px; overflow:hidden; z-index:999}
#focus01 .scrollBox{ position:relative; width:1000px; height:416px; overflow:hidden}
#focus01 .scrollUl{ position:absolute; top:0px; left:0px; width:999999px; height:416px; overflow:hidden; margin-left:-430px;}
#focus01 .scrollUl li{ position:relative; float:left; width:624px; height:416px; margin-top:20px; opacity:0.5; filter:Alpha(Opacity=50);}
#focus01 .scrollUl li .txt{ display:none; position:absolute; left:0px; bottom:0px; width:100%; height:100px; background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
#focus01 .scrollUl li h3{ width:580px; margin:20px auto 0px; line-height:25px; font-size:16px; color:#fff; }
#focus01 .scrollUl li h3 a,#focus01 .scrollUl li h3 a:hover{ color:#fff!important; text-decoration:none}
#focus01 .scrollUl li.current .txt{ display:block}
#focus01 .scrollUl li.current{ margin:0px; opacity:1; filter:Alpha(Opacity=100);}
#focus01 .pageBox{ display:none; position:absolute; bottom:20px; left:20px; width:550px; height:16px; text-align:center}
#focus01 .pageBox span{ display:inline-block; width:16px; height:16px; margin-right:5px; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/iconD.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/iconD.png', sizingMethod='crop'); cursor:pointer}
#focus01 .pageBox span.current{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/iconDon.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/iconDon.png', sizingMethod='crop');}
#focus01 .pageBox span:hover{ -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s;  -moz-transition:all 0.3s ease-in 0s;-o-transition:all 0.3s ease-in 0s}
#focus01 .btn{ position:absolute; top:190px; width:55px; height:55px; cursor:pointer; z-index:50}
#leftBtn{ left:0px;  background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/left.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/left.png', sizingMethod='crop');}
#rightBtn{ right:0px; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/right.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/right.png', sizingMethod='crop');}
/*sjfx*/
#sjfx h3{ display:block; width:1000px; margin:40px auto 10px; overflow:hidden; font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal;color:#000}
.sjfxBox{ width:1000px; margin:20px auto 0px; overflow:hidden}
.sjfxBox .img{ float:left; width:520px;}
.sjfxBox p{ float:right; width:480px; font-size:16px; text-indent:2em; line-height:28px;}
/*huiBox*/
#huiBox{ width:100%; margin:40px auto 0px; padding-bottom:30px; overflow:hidden; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/bgr.jpg) repeat}
.huiBox{ width:1000px; margin:0px auto 0px; overflow:hidden }
.huiUl{ width:1000px; padding-top:20px; overflow:hidden}
.huiUl li{ float:left; width:495px; overflow:hidden}
.huiUl li h4{ display:block; width:495px; margin:0px 0px 15px; overflow:hidden; text-align:center; font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal;color:#000}
.huiUl li h4 a{ color:#000}
.huiUl li img{ display:block; width:495px; height:280px; margin-bottom:30px;}
.huiUl li p{ font-size:16px; text-indent:2em; line-height:28px;}
.huiUl li.fr{ float:right}
.shenyinBox{ position:relative; float:left; width:657px; height:152px; margin:30px 0px 0px; overflow:hidden}
.shenyinBox img{ position:absolute; top:0px; left:0px; width:152px; height:152px; z-index:9}
.shenyinBox .txt{ position:absolute; left:0px; top:0px; width:657px; height:152px; background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/ballL.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ballL.png', sizingMethod='crop'); z-index:10}
.shenyinBox2{ float:right;}
.shenyinBox2 .txt{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/ballR.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ballR.png', sizingMethod='crop');}
.shenyinBox .txt dl{ width:420px; margin:0px 0px 0px 180px;}
.shenyinBox .txt dl dt{ margin:15px 0px 5px; font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#4c4c4c}
.shenyinBox .txt dl dd{ font-size:16px; line-height:28px;}
.shenyinBox2 .txt dl{ margin:0px 0px 0px 55px;}
.shenyinBox2 img{ left:505px;}
/*zongjie*/
.zjH2{ display:block; margin:20px 0px 10px; text-align:left; font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:bold; color:#4c4c4c}
.zongjieP{ width:770px; margin:0px auto; overflow:hidden; text-indent:2em; font-size:16px; line-height:28px;}
/*dibu*/
#dibu{ width:100%; margin:0px auto 0px; border-top:3px solid #ffd900; padding-bottom:30px; overflow:hidden;}
.dibu{ width:1000px; margin:0px auto 0px; overflow:hidden }
.dibu h2{ display:block; width:1000px; margin-top:20px; text-align:center; font-size:24px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:bold; color:#4c4c4c}
.voteBox{ width:1000px; margin:70px auto 50px; overflow:hidden}
.voteBox .option{ display:inline; float:left; width:97px; margin:0px 0px 0px 160px; overflow:hidden}
.voteBox .option .digg{ width:97px; height:140px; line-height:242px; overflow:hidden; text-align:center; font-size:20px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:bold; color:#4c4c4c; }
.voteBox .option .digg a{ display:block; width:97px; height:140px;}
.first a{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/lian01.jpg) no-repeat}
.second a{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/lian02.jpg) no-repeat}
.third a{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/lian03.jpg) no-repeat}
.first a:hover,.first{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/lianOn01.jpg) no-repeat}
.second a:hover,.second{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/lianOn02.jpg) no-repeat}
.third a:hover,.third{ background:url(//mat1.gtimg.com/2014/zhuanti/qiutan/lianOn03.jpg) no-repeat}
.voteBox .option .count{ width:97px; color:#eb2e2e; font-size:20px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.comm{ width:1000px; margin:20px auto 0px; overflow:hidden}
/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop.png) no-repeat; bottom:45px; display:none; height:58px; position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop2.png) no-repeat; }
/*  |xGv00|f6114952010ed39a28a4eeb52a715479 */