@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0; border:none;}
body{ font:normal 14px/24px "Microsoft YaHei"; color:#333;}
ul,li{ list-style:none;}
a{ text-decoration:none; color:#212121;}
a:hover{ color:#51abcf !important;}
h1,h2,h3,h4,h5{ font-weight:normal;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

.header{ width:1240px; height:34px; overflow:hidden; margin:0 auto; padding:15px 0; background-color:#fff;}
.logo{width:150px;margin:0;}
.logo .logo_img{width:140px; height:34px; overflow:hidden; display:block; background:url(//mat1.gtimg.com/fj/home/2016index/logo.gif) no-repeat left top; text-indent:-1000em;}

.jjNav{ background:#212121; margin:0 auto;}
.jjNav-list{ overflow:hidden; width:1240px; margin:0 auto;}
.jjNav .jjNav-list > li{ width:137px; height:50px; float:left; text-align:center;}
.jjNav .nav-last{ border:none;}
.jjNav .jjNav-list li a{ font-size:18px; color:#fff; line-height:47px; display:inline-block; padding:0 5px;}
.jjNav .jjNav-list li.bordli a{ font-size:18px; color:#fff; line-height:40px; display:inline-block; padding:0 5px;}
.jjNav .jjNav-list > li:hover div a,.jjNav .jjNav-list > li:hover > a{ text-decoration:none; color:#fff !important; border-bottom:3px solid #51abcf;}
.jjNav .jjNav-list > li em{ color:#51abcf; font-weight:bolder;}
.jjNav .nav-select{ position:relative;}
.jjNav .nav-select div{ position:relative; z-index:200; background-color:#212121;}
.jjNav .nav-select .select-bx{ position:absolute; top:0px; left:0; z-index:99; background-color:#212121; display:none;}
.jjNav .nav-select .select-bx li{ width:137px; text-align:left; overflow:hidden; border-right:none; border-bottom:1px solid #212121;}
.jjNav .nav-select .select-bx li a{ display:block; height:auto; font-size:14px; line-height:20px; padding:10px 15px;}
.jjNav .nav-select .select-bx li a:hover span{ color:#fff;}
.jjNav .nav-select .select-bx .tit{ margin-bottom:8px;}
.jjNav .nav-select .select-bx .tit strong{ padding-right:15px;}
.jjNav .nav-select .select-bx .tit span{ font-size:12px;}
.jjNav .select-bx li:hover{ background-color:#212121;}

.wrap{ width:1064px; overflow:hidden; margin:0 auto;}

/*焦点图*/
.focus{width:1064px;height:554px;position:relative;overflow:hidden; background-color:#fff; margin-top:30px;}
.focus .focus_con .item{ width:1064px;height:518px; position:relative;}
.focus .focus_con img{ width:1064px;height:518px;}
.focus .pic-des{ width:1000px; height:64px; padding:0 32px; position:absolute; left:0; bottom:0; line-height:64px;color:#fff; background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.focus .pic-des h3{ font-size:22px;}
.focus .focus_dot{ width:210px; height:10px; margin:10px auto;}
.focus .focus_dot a{ width:25px; height:10px; display:inline-block; margin-left:13px; background-color:#cfa972;}
.focus .focus_dot a:hover,.focus .focus_dot .current{text-decoration:none;background-color:#434343;}

.hd{ height:30px; background:url(//mat1.gtimg.com/fj/zt2018/biesu/title_bg.gif) no-repeat left top; margin:60px 0 30px;}
.hd b{ height:30px; overflow:hidden; display:block; text-indent:-1000em;}

/*品牌装饰推荐*/
.ppzstj ul,.xmal ul{ width:1100px;}
.ppzstj li{ width:342px; height:180px; margin-right:18px; float:left; display:inline;}
.ppzstj li img{ width:340px; height:135px; border:1px #000 solid;}
.ppzstj li p,.xmal li p{ height:40px; line-height:40px; text-align:center; font-size:16px; line-height:40px;}

/*项目案例*/
.xmal .hd{ background-position:0 -30px;}
.xmal li{ width:350px; height:250px; margin-right:6px; float:left; display:inline;}

/*案例*/
.anli .hd{ background-position:0 -60px;}
.anli .fl{ width:700px; position:relative;}
.anli .fr{ width:340px;}
.anli .fl p{ width:640px; height:80px; padding:0 30px; line-height:80px; font-size:20px; background:rgba(0, 0, 0, 0.8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); color:#fff; position:absolute; left:0; bottom:0; }

/*设计师说*/
.sjss .hd{ background-position:0 -90px; margin:0 0 10px;}
.sjss .bd img{ border-radius:130px; margin:0 auto; display:block;}
.sjss .bd p{ line-height:20px; height:80px; overflow:hidden; padding-top:10px; text-indent:2em;}

/*设计界*/
.sjj .hd{ background-position:0 -120px;}
.scroll_A{position:relative; padding:0 37px;}
.scroll_A .inner{position:relative;width:990px;height:190px;overflow:hidden;}
.scroll_A .split{width:190px;height:190px;float:left; padding-right:10px; position:relative; overflow:hidden;}
.scroll_A .split i{ width:190px; height:190px; z-index:10000; position:absolute; left:0; top:0; background:url(//mat1.gtimg.com/fj/zt2018/biesu/png.png) no-repeat left top;}
.scroll_A .split .cont_a{width:190px;height:190px;overflow:hidden; position: absolute;top:0px;left:0px; z-index:100;}
.scroll_A .split .cont_b{ position:absolute;width:190px;height:80px; padding:55px 0; text-align:center; left:0; top:-190px;overflow:hidden; font-size:24px; line-height:40px;background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#ffffffff',endColorstr = '#ffffffff')\9; z-index:1000; color:#cfa972;}
.cont_b a{ color:#000;}
.scroll_A .btn{position:absolute;top:50%;margin-top:-20px;width:14px;height:41px;cursor:pointer; background:url(//mat1.gtimg.com/fj/zt2018/biesu/btn.gif) no-repeat left top;}
.scroll_A .prev{left:0;}
.scroll_A .next{right:0; background-position:right top;}

/*推荐品牌*/
.tjpp .hd{ background-position:0 -150px;}
.tjpp .left,.hyjj{ width:610px;}
.tjpp .right,.tbch{ width:445px;}
.tjpp p{ position:relative; width:100%; height:410px;}
.tjpp p b{ position:absolute; left:0; bottom:0; height:54px; width:100%; background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); color:#fff; line-height:54px; text-indent:20px; font-size:22px; font-weight:normal;}
.tjpp .right p{ height:200px; margin-bottom:10px;}
.tjpp .right p b{ height:48px; line-height:48px;}

/*行业聚焦*/
.hyjj .hd{ background-position:0 -180px;}
.hyjj .bd{ padding-left:32px;}
.hyjj b{ height:32px; line-height:32px; font-size:28px; font-weight:normal; padding-bottom:10px; display:inline-block; border-bottom:2px #434343 solid; margin-bottom:20px;}
.hyjj p{ line-height:28px;}

/*特别策划*/
.tbch .hd{ background-position:0 -210px;}
.tbch .bd{ width:445px; height:210px;} 

/*服务流程*/
.fwlc{ margin-bottom:100px;}
.fwlc .hd{ border-bottom:2px #000 solid; background:none;}
.fwlc .hd h3{font:bold 26px/42px "宋体"; text-indent:0; background-color:#fff; display:inline-block; width:130px; margin-left:467px;margin-top:10px;  text-align:center;}
.fwlc .bd{ padding-top:30px;}
.fwlc .bd li{ width:135px; height:168px; border:1px #a0a0a0 solid; padding:30px 14px 10px; float:left; display:inline; position:relative; margin:0 6px;}
.fwlc .bd li i{ font-style:normal; width:35px; height:35px; border-radius:20px; background-color:#cfa972; position:absolute; top:-15px; left:63px; text-align:center; font:bold 20px/34px Arial, Helvetica, sans-serif;}
.fwlc .bd li h4{ height:24px; font-size:14px; overflow:hidden; line-height:24px; font-weight:bold;}
.fwlc .bd li p{ line-height:20px; padding-top:10px;}/*  |xGv00|82c792740dc7e8be1372aa5606f0fb13 */