@charset "gb2312";
/* CSS Document */
.clear{ clear:both; float:none;}
.opacity60 { background: rgba(0, 0, 0, 0.6);  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#99000000", endColorstr="#99000000");
}
:root .opacity60 { filter: none; background: rgba(0, 0, 0, 0.6); }
.font{font: normal 16px/40px "Microsoft YaHei";}
.background{_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/yellow.png',sizingMethod='crop');}

.head_con{ width:100%; height:100%; overflow:hidden; background:url(//mat1.gtimg.com/2014/coffeyang/bg.jpg) no-repeat top center;}
.head_box{ width:1000px; margin:0 auto; height:139px; background:url(//mat1.gtimg.com/2014/coffeyang/head.jpg) no-repeat; border-top:1px solid #c3e5d0;} 
.head_box2{width:1000px; margin:0 auto; height:133px; background:url(//mat1.gtimg.com/2014/coffeyang/head2.jpg) no-repeat; overflow:hidden; }
.head_box2 img{ display:block; margin:0 auto;}
.menu{ width:1000px; border-top:1px solid #2ca87f; margin: 0 auto; overflow:hidden;}
.menu ul .li1{ width:138px; height:44px; display:block; background:#09976c;border-left:1px solid #2ca87f;border-right:1px solid #2ca87f; float:left;}
.menu ul .li1 p{ text-align:center; color:#fff;font: normal 22px/44px "Microsoft YaHei";}
.menu ul .li2{ float:left; width:860px; height:44px; background:url(//mat1.gtimg.com/2014/coffeyang/li.jpg) no-repeat; display:block; overflow:hidden;}
.menu ul .li2 a{font: normal 18px/44px "宋体"; color:#fff; float:left;}
.menu ul .li2 a:hover{ color:#c0471b; text-decoration:none;}
.menu ul .li2 span{ width:1px; height:22px; display:block; float:left; overflow:hidden;_display:inline; background:#169c76; margin:10px 15px 0 15px;}
.menu ul .li2 .na{ margin-left:40px;}

.menu_list{ width:1000px; margin:0 auto; overflow:hidden;}
.menu_list_left{ width:146px; height:400px; background:url(//mat1.gtimg.com/2014/coffeyang/left.jpg) no-repeat; float:left;}
.menu_list_left ul li{ padding:16px 0 0 20px;}
.menu_list_left ul li a{font: normal 14px "宋体"; color:#057142;}
.menu_list_left ul li a:hover{color:#c0471b; text-decoration:none;}

.br{ width:130px; height:1px; background:#a2e8b9; margin:28px 10px 6px 4px; overflow:hidden;}

.menu_list_right h2{ width:816px; height:39px; display:block; background:url(//mat1.gtimg.com/2014/coffeyang/h2.jpg) no-repeat; margin:15px 0 0 10px;}
.menu_list_right h2 p{font: normal 18px "Microsoft YaHei"; color:#fff; padding:4px 0 0 36px;}

.menu_list_right{ width:850px; float:right; height:400px;}

.scroll_b{position:relative; width:760px; }
.scroll_b .inner{ width:760px; overflow:hidden; position:relative; height:340px;margin-left:40px;}
.scroll_b .split{ float:left; width:760px; padding:10px 0 0 12px;}
.scroll_b ul{width:760px; display:block; overflow:hidden;  float:left;}
.scroll_b .split  li{ float:left; display:block; overflow:hidden; padding:30px 24px 0 0; width:128px; overflow:hidden;}
.scroll_b .split  li .imga{ width:128px; height:90px; overflow:hidden; display:block; position:relative; text-decoration:none;}
.scroll_b .split  li a.imga:hover{ text-decoration:none;}
.scroll_b .split  li .imga span{ width:128px; height:26px; display:block; position:absolute; bottom:0; left:0; color:#fff; font: normal 12px/26px Arial, Helvetica, sans-serif; padding-left:10px;}
.scroll_b .split P{ width:128px; font:normal 12px/18px "宋体"; padding-top:4px;}
.scroll_b .split p a{ color:#000;}
.scroll_b .split p a:hover{ text-decoration:none; color:#c0471b;}
.scroll_b .btn{position:absolute;top:50%; margin-top:-50px;width:22px;height:115px;cursor:pointer; display:block; z-index:9;}
.scroll_b .prev{left:8px; background:url(//mat1.gtimg.com/2014/coffeyang/l1.jpg) no-repeat;
}
.scroll_b .next{right:-74px; background:url(//mat1.gtimg.com/2014/coffeyang/r1.jpg) no-repeat;_right:-30px;}
.scroll_b a.prev:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/l2.jpg) no-repeat;

}
.scroll_b a.next:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/r2.jpg) no-repeat;
}
.banner3{ width:1000px; margin:0 auto; padding-top:20px;}
.banner3 img{ display:block;margin:0 auto;}
.date{ width:1000px; margin:0 auto; overflow:hidden;}
.d_box{ margin:30px 26px 0 35px; float:left;_display:inline;}
.d_box2{ margin-top:20px;}
.d_box h3{font:normal 18px "黑体"; color:#017b27;}
.d_box ul{ width:100000px; position:absolute; top:0; left:0; display:block; margin-left:-14px;}
/*滑动选项卡*/
.date .scroll_A{position:relative; width:265px;}
.date .scroll_A .inner{ width:265px; overflow:hidden; position:relative; height:150px;}
.date .scroll_A .split{ float:left; width:128px; padding:10px 0 0 14px;}
.date .scroll_A .split P{ width:128px; font:normal 12px/18px "宋体"; padding-top:4px;}
.date .scroll_A .split p a{ color:#000;}
.date .scroll_A .split p a:hover{ text-decoration:none; color:#c0471b;}
.date .scroll_A .btn{position:absolute;top:50%; margin-top:-30px;width:14px;height:27px;cursor:pointer; display:block; z-index:9;}
.date .scroll_A .prev{left:-25px; background:url(//mat1.gtimg.com/2014/coffeyang/g1.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g1.png',sizingMethod='crop');
}
.date .scroll_A .next{right:-25px; background:url(//mat1.gtimg.com/2014/coffeyang/g2.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g2.png',sizingMethod='crop');
}
.date .scroll_A a.prev:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/g3.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g3.png',sizingMethod='crop');
}
.date .scroll_A a.next:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/g4.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g4.png',sizingMethod='crop');
}

.main_con{ width:1000px; margin:0 auto;}
.match_box{ width:1000px; overflow:hidden; margin:30px auto 0 auto; background:#fff;}
.match_box h2{ height:64px; width:1000px; background:url(//mat1.gtimg.com/2014/coffeyang/h222.jpg) no-repeat; overflow:hidden;}
.match_box h2 p{ font:normal 30px "Microsoft YaHei"; color:#fff; padding:16px 0 0 120px; float:left;}
.match_box h2 .ia{  display:block; float:left; cursor:pointer; margin:10px 0 0 160px;}
.scroll_box{ width:1000px; height:168px; background:#eaeaea; overflow:hidden; margin-top:10px;}



.scroll_box .scroll_A{position:relative; width:900px; margin:0 auto; margin-top:12px;}
.scroll_box .scroll_A .inner{ width:900px; overflow:hidden; position:relative; height:160px;}
.scroll_box .scroll_A .split{ float:left; width:128px; padding:10px 0 0 20px;}
.scroll_box .scroll_A .split P{ width:128px; font:normal 12px/18px "宋体"; padding-top:4px;}
.scroll_box .scroll_A .split p a{ color:#000;}
.scroll_box .scroll_A .split p a:hover{ text-decoration:none; color:#c0471b;}
.scroll_box .scroll_A .btn{position:absolute;top:50%; margin-top:-30px;width:14px;height:27px;cursor:pointer; display:block; z-index:9;}
.scroll_box .scroll_A .prev{left:-25px; background:url(//mat1.gtimg.com/2014/coffeyang/g1.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g1.png',sizingMethod='crop');
}
.scroll_box .scroll_A .next{right:-25px; background:url(//mat1.gtimg.com/2014/coffeyang/g2.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g2.png',sizingMethod='crop');
}
.scroll_box .scroll_A a.prev:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/g3.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g3.png',sizingMethod='crop');
}
.scroll_box .scroll_A a.next:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/g4.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g4.png',sizingMethod='crop');
}

.yue{ width:1000px;overflow:hidden; margin-top:36px;}
.yue h3{ width:1000px; height:51px; background:url(//mat1.gtimg.com/2014/coffeyang/h3.jpg) no-repeat; display:block;}
.yue h3 p{ font:normal 30px "Microsoft YaHei"; color:#fff; padding:2px 0 0 80px;}
.banner4{ margin-top:30px;}

.yue .scroll_A{position:relative; width:900px; margin:0 auto; margin-top:12px;}
.yue .scroll_A .inner{ width:900px; overflow:hidden; position:relative; height:130px;}
.yue .scroll_A .split{ float:left; width:90px; padding:10px 0 0 20px;}

.yue .scroll_A .split .pla{width:90px; height:90px; overflow:hidden; position:relative; display:block; cursor:pointer;}
.yue .scroll_A .split .pla i{ width:26px; height:26px; display:block; position:absolute; bottom:0; left:0; background:url(//mat1.gtimg.com/2014/coffeyang/play.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/play.png',sizingMethod='crop');

}
.yue .scroll_A .split P{ width:90px; font:normal 12px/18px "宋体"; padding-top:4px; text-align:center;}
.yue .scroll_A .split p a{ color:#057142;}
.yue .scroll_A .split p a:hover{ text-decoration:none; color:#c0471b;}
.yue .scroll_A .btn{position:absolute;top:50%; margin-top:-30px;width:14px;height:27px;cursor:pointer; display:block; z-index:9;}
.yue .scroll_A .prev{left:-25px; background:url(//mat1.gtimg.com/2014/coffeyang/g1.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g1.png',sizingMethod='crop');
}
.yue .scroll_A .next{right:-25px; background:url(//mat1.gtimg.com/2014/coffeyang/g2.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g2.png',sizingMethod='crop');
}
.yue .scroll_A a.prev:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/g3.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g3.png',sizingMethod='crop');
}
.yue .scroll_A a.next:hover{ background:url(//mat1.gtimg.com/2014/coffeyang/g4.png) no-repeat;
_background-image:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/coffeyang/g4.png',sizingMethod='crop');
}

.match_box .na{ background:url(//mat1.gtimg.com/2014/coffeyang/zh3_07.jpg) no-repeat;}
.match_box .na p{padding:14px 0 0 84px;}
.match_box .na .ia2{margin:10px 0 0 95px;}
.match_box .na .ia3{margin:10px 0 0 126px;}
.bgn{ width:100%; height:1096px; background:url(//mat1.gtimg.com/2014/coffeyang/bgn.jpg) no-repeat top center; overflow:hidden;}
.bottom{ width:1000px; background:#fff; margin:0 auto; padding-top:20px; overflow:hidden; padding-bottom:30px;}
.bottom h3{ width:1000px; height:51px; background:url(//mat1.gtimg.com/2014/coffeyang/h3.jpg) no-repeat; display:block; margin:36px 0 0 2px;}
.bottom h3 p{ font:normal 30px "Microsoft YaHei"; color:#fff; padding:2px 0 0 80px;}
.bottom h3 p em{ font:normal 16px Arial, Helvetica, sans-serif;}
.bottom ul { overflow:hidden; overflow:hidden;}
.bottom ul li{display:block; border:1px solid #cacaca; width:132px; overflow:hidden; float:left; margin:28px 0 0 28px;_display:inline;}
.bottom .ga img{ display:block;}




/*  |xGv00|cdb09b9d53437657b97e5da6e77b65de */