body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333;outline:none}
a:hover{color:#fa5f3c}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
img{vertical-align:top}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}
			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

.ad1{width:1000px;height:60px;margin:20px auto 0 auto}
.ad1 img{width:1000px;height:60px}
.l-s{width:1000px;height:42px;margin:20px auto}
.logo{float:left;width:250px;height:42px}
.logo img{width:165px;height:42px}
.Form-Crumbs-Article-QQ { float:right;padding-top:7px;}
.Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:30px;border:none;font-size:12px;background:url(//mat1.gtimg.com/cq/jinghao/soso-sprite-blue.jpg) left bottom no-repeat;cursor:pointer;}
.Form-Crumbs-Article-QQ .inputWarp{float:right;width:180px;height:28px;margin:0;padding:0;line-height:22px;background:#fff;border:#c9c9c9 1px solid;border-right:none;}
.Form-Crumbs-Article-QQ .txtArea{width:150px;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
.Form-Crumbs-Article-QQ .SosonLogo{float:right;width:22px;height:22px;margin:3px 3px 0 0;background:url(//mat1.gtimg.com/xian/2015images/2015index/20150204indexhd/soso-sprite.png) left top no-repeat;}
.Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:14px;line-height:28px;}
.soso-smart-b{background-color:#d8ecff;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.nav{width:1000px;height:50px;line-height:50px;overflow:hidden;margin:auto}
.nav li{float:left;background:#222 url(//mat1.gtimg.com/cq/caijing/2015/line.png) no-repeat right top;font-size:18px;color:#fff;text-align:center}
.nav li a{display:block;color:#fff}
.nav li.nav-1{width:120px}
.nav li.nav-2{width:209px}
.nav li.nav-3{width:170px}
.nav li.nav-4{width:187px}
.nav li.nav-5{width:149px}
.nav li.nav-6{width:165px}
.nav li.active,.nav li.ac{background:#c09a4c}

.scroll{position:relative;width:645px;height:350px;overflow:hidden}
.focus_1{width:645px;height:350px;overflow:hidden;margin:auto}
.focus_1 img{width:645px;height:350px}

.section{width:1000px;height:auto;overflow:hidden;margin:auto;margin-top:30px}
.content1{height:350px;overflow:hidden}
.content1-l{float:left;width:645px;height:auto;overflow:hidden}
.headline{height:auto;overflow:hidden;margin:10px 0 16px 0;padding-bottom:17px;border-bottom:1px dotted #666}
.headline.last{margin-bottom:0;padding-bottom:0;border-bottom:none}
.headline h2{height:30px;overflow:hidden;margin-bottom:10px;font-size:20px;font-weight:bold;color:#333}
.headline h2 a{color:#333}
.headline p{height:50px;line-height:25px;overflow:hidden;font-size:14px;color:#777}
.headline p a{color:#666}
.content1-r{float:right;width:320px;height:auto;overflow:hidden}

.content2{height:49px;line-height:49px;border:1px solid #ece6db}
.content2-l,.content2-r{display:inline;float:left}
.content2-l{width:104px;height:25px;line-height:25px;margin:12px 0;font-size:18px;font-weight:bold;color:#b48b38;border-right:1px solid #ece6db;text-align:center}
.content2-l span{color:#000}
.content2-r{width:855px;padding:0 19px;font-size:14px;color:#b48b38}
.content2-r a{color:#b48b38}

.content3{margin-top:8px}
.content3-l,.content4-l{float:left;width:645px}
.title{height:64px;line-height:64px;overflow:hidden}
.title h3{display:inline-block;float:left;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat -494px 25px;padding-left:19px;font-size:24px;font-weight:bold;color:#c09a4c}
.title h3.zst{background-position:-478px -68px;padding-left:35px}
.title h3 span{color:#000}
.title a{display:inline-block;float:right;line-height:54px;font-size:30px;color:#c09a4c}
.load-more{display:block;height:23px;line-height:23px;margin-bottom:13px;font-size:14px;color:#c09a4c;border:1px solid #fae7e2;text-align:center}
.edu-news-box{display:none;height:1090px;overflow:hidden;clear:both}
.edu-news-box.active{display:block}
.edu-news{position:relative;height:auto;overflow:hidden;margin:0 0 34px 0}
.edu-news.last{margin-bottom:0}
.edu-news h3{height:30px;overflow:hidden;margin-bottom:10px;font-size:20px;font-weight:bold;color:#414141}
.edu-news h3 a{color:#414141}
.edu-news p{height:50px;line-height:25px;overflow:hidden;font-size:14px;color:#666}
.edu-news p a{color:#666}
.edu-news p.pic{height:90px;overflow:hidden;margin-top:17px}
.edu-news p.pic span{display:inline-block}
.edu-news p.pic span.sp1{float:left;width:140px;height:90px}
.edu-news p.pic span.sp1 img{width:140px;height:90px}
.edu-news p.pic span.sp2{float:right;width:495px;height:90px;overflow:hidden;padding-top:5px}
.edu-news p.p1{position:relative;height:25px;overflow:hidden;margin-top:12px}
.edu-news p.p1 span{display:inline-block;font-size:14px;color:#999}
.edu-news p.p1 span.sp1{float:left;width:230px}
.edu-news p.p1 span.sp2{float:right;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat 0 3px;_background-image:url(//mat1.gtimg.com/cq/caijing/2015/bgie6.png);padding-left:20px;cursor:pointer}
.edu-news p.p1 span.sp2.active{background-position:0 -37px;color:#de2526}
.share-box{position:absolute;z-index:1000;bottom:5px;_bottom:748px;right:48px;display:none;width:100px}
.edu-news-pic .share-box{_bottom:700px}
/*.edu-news p.p1 .jiathis_style{position:absolute;top:0;left:0;width:120px;float:left;border:1px solid #000}*/
.content3-r,.content4-r{float:right;width:320px}
.right-box{height:auto;overflow:hidden}
.right-box.last{border-bottom:none}
.pic-news{position:relative;display:block;width:320px;height:240px;overflow:hidden}
.pic-news img{width:320px;height:175px}
.pic-news h3{position:absolute;left:0;top:135px;display:block;width:300px;height:40px;line-height:40px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);padding:0 10px;font-size:16px;color:#fff}
.pic-news p{height:57px;line-height:22px;overflow:hidden;background:#ead3a5;padding:8px 15px 0;font-size:12px;color:#333}
.jplm-list{margin:15px 0}
.jplm-list li{height:30px;line-height:30px;overflow:hidden;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat -495px -122px;_background-image:url(//mat1.gtimg.com/cq/caijing/2015/bgie6.png);padding-left:9px;font-size:14px;color:#333}
.jplm-list li a{color:#333}
.yuedu{height:200px;margin-top:20px;padding:0 15px;border:1px solid #ece6db}
.yuedu .t{margin:14px 0 15px;font-size:22px;font-weight:bold;color:#c09a4c}
.yuedu .t span{color:#000}
.yuedu .title h3{background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat -473px -147px;_background-image:url(//mat1.gtimg.com/cq/caijing/2015/bgie6.png)}
.yuedu-c-l{float:left;width:100px;height:120px}
.yuedu-c-l img{width:100px;height:120px}
.yuedu-c-r{position:relative;float:right;width:175px;height:auto;overflow:hidden}
.yuedu-c-r h3{height:16px;line-height:16px;overflow:hidden;margin:12px 0;font-size:16px;color:#333}
.yuedu-c-r h3 a{color:#333}
.yuedu-c-r p{height:95px;line-height:25px;overflow:hidden;font-size:14px;color:#333}
.anli-list li{float:left;width:150px;height:auto;overflow:hidden;margin-right:20px}
.anli-list li.nomg{margin-right:0}
.anli-list li img{width:150px;height:100px}
.anli-list li p{height:52px;line-height:52px;overflow:hidden;font-size:14px;color:#414141;text-align:center}

.long-title{width:1000px;height:87px;line-height:87px;overflow:hidden;margin:auto;border-bottom:3px solid #c09a4c}
.long-title h2{display:inline-block;height:87px;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat -494px 35px;margin:auto;padding-left:22px;font-size:30px;font-weight:bold;color:#222}
.long-title h2.read-pic{width:145px;background-position:85px -171px;padding-left:155px}
.long-title h2 span{display:inline-block;width:6px;height:12px;overflow:hidden;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat -106px -37px;}
.content4{margin-top:0}
.toolbox-list li{height:auto;overflow:hidden;padding:12px 0 17px 0;_margin-bottom:82px}
.toolbox-list li.last{margin-bottom:0}
.toolbox-list li span{display:block}
.toolbox-list li span.sp1{float:left;width:155px;height:100px}
.toolbox-list li span.sp1 img{width:155px;height:100px}
.toolbox-list li span.sp2{position:relative;float:right;width:470px;height:100px;overflow:hidden}
.toolbox-list li span.sp2 h3{height:42px;line-height:42px;overflow:hidden;font-size:20px;font-weight:bold;color:#414141}
.toolbox-list li span.sp2 h3 a{color:#414141}
.toolbox-list li span.sp2 p{position:absolute;bottom:0;height:50px;line-height:25px;font-size:14px;color:#777}
.toolbox-list li span.sp2 p a{color:#777}

.join-us{padding-bottom:18px}
.join-us p{height:30px;line-height:30px}
.join-us p span,.join-us p a{float:left;display:block;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat;color:#000}
.join-us p span{width:145px;padding-left:45px;font-size:16px}
.join-us p a{float:right;width:75px;background-position:-203px -625px;padding-left:35px;font-size:14px}
.join-us p.p1 span{background-position:0 -625px}
.join-us p.p2{margin-top:15px}
.join-us p.p2 span{background-position:0 -670px}

.volunteer li{float:left;width:170px;height:52px;overflow:hidden;margin-bottom:45px}
.volunteer li.icon2,.volunteer li.icon4,.volunteer li.icon6,.volunteer li.icon8{width:150px}
.volunteer li.icon5,.volunteer li.icon6,.volunteer li.icon5 span.sp1 a,.volunteer li.icon6 span.sp1 a{height:54px}
.volunteer li.icon7,.volunteer li.icon8{margin-bottom:0}
.volunteer li span{display:block;float:left}
.volunteer li span.sp1{width:52px;height:52px}
.volunteer li span.sp1 a{display:block;width:52px;height:52px;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat}
.volunteer li span.sp2{width:85px;margin-left:13px}
.volunteer li span.sp2 h3{margin-top:5px;margin-bottom:2px;font-size:14px;font-weight:bold;color:#222}
.volunteer li span.sp2 p{font-size:12px;color:#777}
.volunteer li.icon1 span.sp1 a{background-position:0 -241px}
.volunteer li.icon2 span.sp1 a{background-position:-171px -241px}
.volunteer li.icon3 span.sp1 a{background-position:0 -334px}
.volunteer li.icon4 span.sp1 a{background-position:-171px -334px}
.volunteer li.icon5 span.sp1 a{background-position:0 -428px}
.volunteer li.icon6 span.sp1 a{background-position:-171px -428px}
.volunteer li.icon7 span.sp1 a{background-position:0 -526px}
.volunteer li.icon8 span.sp1 a{background-position:-171px -526px}

.read-pic-list{width:1015px;height:auto;overflow:hidden;margin:auto;margin-top:16px;*margin-top:35px;_margin-top:-3px}
.read-pic-list li{float:left;display:inline;margin:7px 8px 8px 7px}
.read-pic-list li.read1,.read-pic-list li.read1 a,.read-pic-list li.read1 a img{width:625px;height:350px}
.read-pic-list li.read2,.read-pic-list li.read2 a,.read-pic-list li.read2 a img{width:360px;height:350px}
.read-pic-list li.read3,.read-pic-list li.read4,.read-pic-list li.read3 a,.read-pic-list li.read3 a img,.read-pic-list li.read4 a,.read-pic-list li.read4 a img{width:305px;height:170px}
.read-pic-list li.read5,.read-pic-list li.read5 a,.read-pic-list li.read5 a img{width:360px;height:170px}
.read-pic-list li a{position:relative;display:block}
.read-pic-list li a h3{position:absolute;bottom:0;_bottom:5px;left:0;height:45px;line-height:45px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);padding:0 19px;font-size:16px;color:#fff}
.read-pic-list li.read1 a h3{width:587px}
.read-pic-list li.read2 a h3,.read-pic-list li.read5 a h3{width:322px}
.read-pic-list li.read3 a h3,.read-pic-list li.read4 a h3{width:267px}
.headline h2 a:hover{color:#fa5f3c}
.headline p a:hover{color:#fa5f3c}
.content2-r li a:hover{color:#fa5f3c}
.edu-news h3 a:hover{color:#fa5f3c}
.edu-news p a:hover{color:#fa5f3c}
.jplm-list li a:hover{color:#fa5f3c}
.yuedu-c-r h3 a:hover{color:#fa5f3c}
.yuedu-c-r p a:hover{color:#fa5f3c}
.toolbox-list li span.sp2 h3 a:hover{color:#fa5f3c}
.toolbox-list li span.sp2 p a:hover{color:#fa5f3c}

.quxian{height:290px;overflow:hidden;border:1px solid #e5ded3}


.diaocha{height:auto;overflow:hidden;margin-top:30px;padding:0 15px;border:1px solid #e5ded3}
.diaocha .t{height:35px;line-height:35px;overflow:hidden;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat -475px -164px;margin-top:15px;padding-left:32px;font-size:22px;font-weight:bold;color:#c09a4c}
.diaocha h3{height:22px;line-height:22px;overflow:hidden;margin:7px 0 12px;font-size:18px;color:#333}
.diaocha h3 a{color:#333}
.diaocha p{height:50px;line-height:25px;overflow:hidden;margin-bottom:10px;font-size:14px;color:#666}
.diaocha p a{color:#666}
.click{height:32px;line-height:32px;overflow:hidden;background:url(//mat1.gtimg.com/cq/caijing/2015/bg.png) no-repeat -108px 0;margin-top:16px}
.click a{display:block;height:32px;font-size:16px}
.click a.zancheng{float:left;width:96px;padding-left:39px;color:#222}
.click a.fandui{float:right;width:120px;padding-left:19px;color:#fff}

.short-title{height:60px;line-height:60px}
.short-title h3{display:inline-block;float:left;font-size:20px;font-weight:bold;color:#414141}
.short-title a{display:inline-block;float:right;line-height:45px;font-size:30px;color:#c09a4c}
.c-box{height:auto;overflow:hidden}
.c-box-l{float:left;width:280px;height:210px;overflow:hidden}
.c-box-l img{width:280px;height:150px}
.c-box-l p{height:40px;line-height:22px;background:#fcfcfc;padding:10px 19px;font-size:14px;color:#333}
.c-box-l p a{color:#333}
.c-box-r{float:right;width:340px;height:210px;overflow:hidden}
.c-box-r li{height:42px;line-height:42px;overflow:hidden;font-size:16px;color:#333}
.c-box-r li.b{font-weight:bold}
.c-box-r li a{color:#333}
.c-box-t{height:140px;overflow:hidden}
.c-box-t li{display:inline;float:left;margin-right:20px}
.c-box-t li.last{margin-right:0}
.c-box-t li img{width:150px;height:105px}
.c-box-t li p{line-height:35px;overflow:hidden;font-size:14px;color:#666;text-align:center}
.c-box-t li p a{color:#666}

.c-box-b{height:70px;overflow:hidden}
.c-box-b ul{padding-top:5px}
.c-box-b li{height:30px;line-height:30px;overflow:hidden;font-size:16px;color:#414141}
.c-box-b li a{color:#414141}

.content5{margin-top:0}
.content5-l{float:left;width:315px}
.content5-l li{height:40px;line-height:40px;overflow:hidden;font-size:16px;color:#333}
.content5-l li a{color:#333}
.content5-c{float:left;width:290px;margin-left:30px}
.content5-c img{width:290px;height:125px}
.b-info{height:110px;overflow:hidden;background:#fcfcfc}
.b-info h4{height:30px;line-height:30px;overflow:hidden;margin:9px 0 5px;font-size:16px;font-weight:bold;color:#333;text-align:center}
.b-info h4 a{color:#333}
.b-info p{line-height:25px;padding:0 20px;font-size:14px;color:#666}
.b-info p a{color:#666}
.content5-r{float:right;width:320px}
.content5-r img{width:320px;height:125px}


#part7 ul {background-color:#f0f0f0;}

#part7 ul li {border-bottom: 1px solid #BACCDC;border-right: 1px solid #BACCDC;cursor: pointer;float: left;font-size: 14px;height: 30px;line-height: 30px;text-align: center;width: 62px;}
#part7 ul li.on_hover {background-color: #FFFFFF;border-bottom: medium none;color: #CF1000;}
.index-map dt, .index-map li {
    border-top: 1px solid #FFFFFF;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
}
.index-map {
    border-bottom: 1px solid #E5EEF4;
    clear: both;
    margin: 0 auto;
    width: 300px;
}
.index-map .one, .index-map .two, .index-map .three, .index-map .four {
    float: left;
    font-family: Tahoma;
    font-size: 11px;
    height: 25px;
    overflow: hidden;
    text-align: right;
}
.index-map .one {
    color: #0D519C;
    font-family: "宋体";
    font-size: 12px;
    text-align: left;
}
.one {
    overflow: hidden;
    width: 60px;
}
.two {
    overflow: hidden;
    width: 89px;
}
.three {
    overflow: hidden;
    width: 81px;
}
.four {
    overflow: hidden;
    width: 65px;
}
.index-map dd {
    clear: both;
}
.undis {
    display: none;
}
.center a, .right a, .index-map span a {
    color: #0D519C;
}
.fc3, .fc_red, .up {
    color: #FF0300 !important;
}
.fc4, .fc_green, .down {
    color: #129800 !important;
}

.rowB_cC_r1 {height:223px}
.rowB_cC_r1 .hd2 {color:#6f6f6f;text-align:center;}
.rowB_cC_r1 .con1,.rowB_cC .xdc {width:230px;overflow:hidden;padding:0 15px;}
.rowB_cC_r1 .con1 {height:60px;}
.bar {background-color: #E5E5E5;font-size: 0;height: 8px;overflow: hidden;width: 114px;}
.bar span {background-image: url("//mat1.gtimg.com/finance/finance2010/finance2010_1.png");float: left;height: 6px;overflow: hidden;}
.bar span.b1 {background-position: 0 -404px;border: 1px solid #FC0604;}
.bar span.b2 {background-position: 0 -411px; border: 1px solid #77A40E;}
.bar span.b3 {background-position: 0 -418px;border: 1px solid #FA9217;}
.butt2 {background: url("//mat1.gtimg.com/finance/finance2010/finance2010_1.png") no-repeat scroll -274px -372px transparent;cursor: pointer;height: 17px;line-height: 17px;text-align: center;width: 35px;border:0;}
.survey tr td {line-height:24px;color:#666666;}
.survey tr td.line {line-height:18px;}
.survey .pl {padding-left:15px;}

.pic-news:hover img,.c-box-l a:hover img,.c-box-t li a:hover img,.content5-c a:hover img,.content5-r a:hover img,.yuedu-c-l a:hover img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.pic-news img,.c-box-l a img,.c-box-t li a img,.content5-c img,.content5-r img,.yuedu-c-l img{-webkit-transition-duration:0.5s;transition-duration:0.5s}/*  |xGv00|4ff4d837eb2c286420fde4a5fc9d2129 */