@charset "gb2312";
/* CSS Document */

body{ margin:0; padding:0;font:12px/20px "宋体"; color:#000; background:#F5561E;}

body,h1,h2,h3,h4,h5,h6,p,form,ol,ul,li,dl,dt,dd{ padding:0px; margin:0px;word-break:break-all;word-wrap:break-word;font:12px/20px "宋体";}
ol,ul,li{list-style:none;word-break:break-all;word-wrap:break-word;}
li{float:left;}
a{ text-decoration:none; cursor:pointer; color:#000}
img,button{ border:0px; padding:0px; margin:0px;cursor:pointer;}
.clearfix{zoom:1;}
.clearfix:after{ content:""; display:block; height:0; line-height:0; clear:both; visibility:hidden; }
.clear { clear:both;}
.hidden{ display:none;}
.display{ display:block;}

.font_red_bold{ color:#FF0000; font-weight:bold; font-size:14px; font-family:"微软雅黑", "宋体", Arial;}
.font_red_bold_12{ color:#FF0000; font-weight:bold; font-family:"微软雅黑", "宋体", Arial;}
.font_black_bold{ color:#000; font-weight:bold; font-size:14px; font-family:"微软雅黑", "宋体", Arial;}
.font_zong_bold{ color:#5A3530; font-weight:bold; font-family:"微软雅黑", "宋体", Arial; }
.font_red_12{ color:#FF0000; font-family:Tahoma; font-weight:bold;}
.font_zong_12{ color:#603813; font-family:Tahoma;}
a.font_12{ color:#FF0000; font-family:Tahoma;text-decoration:underline; font-size:12px;}
.font_14{ color:#FF0000; font-family:Tahoma; font-weight:bold; font-size:14px;}

.pop{ position:absolute; top:200px; z-index:99; width:377px; left:400px; overflow:hidden; border:#FA825F 5px solid; display:none;}
.pop .pop_head{ height:12px; background:#ffffff;}
.pop .pop_middle{ background:#fff; padding:0 11px; }
.pop .pop_bottom{ height:16px;background:#ffffff;}
.pop .pop_middle .poptxt{ width:100%; margin:0 auto;}
.pop .pop_middle .poptxt .a4{ background:#D71C1F; border-right:1px solid #6E0000; border-top:1px solid #FCC1C2; border-left:1px solid #FCC1C2; border-bottom:1px solid #6E0000; color:#fff; }



#box { width:auto; background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/parent.jpg) center top repeat-y; margin:0 auto;}
#main{ background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/header.jpg) center top no-repeat; width:100%;}
#container{ width:1000px; margin:0 auto;}
#header{ height:34px; text-align:right; line-height:34px;}
#header a{ margin-left:25px;}
#header a.ss{ margin-left:0; text-decoration:underline;}
#Luck{height:615px;}

#intro{width:920px; margin:0 auto;font-family:"微软雅黑", "宋体", Arial;color:#000;font-weight:bold;text-indent:25px; line-height:28px; padding-top:18px;}
.link1{ width:920px; text-align:right; height:25px; line-height:25px; margin:0 auto;}
.link1 a{ margin-left:50px; color:#FF0000; text-decoration:underline;}

#ml{  float:left;width:480px;  }

.t1{background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/intro.png) no-repeat !important; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/intro.png); width:154px; height:50px;}
.txt1{padding:0 0 15px 0; border-bottom:1px dotted #939598; margin-left:45px; }

.t2{background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/qa.png) no-repeat !important; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/qa.png); width:154px; height:50px; margin-top:10px;}
.txt2{padding:0;  margin-left:45px; }
.txt2 a{ color:#FF0000; text-decoration:underline;}

#mr{  float:left;width:454px; margin-left:30px; }
.box_header{ background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/box_header.jpg) no-repeat; height:79px; position:relative;}
.box_mid{ background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/box_mid.jpg) 3px 0 repeat-y; }
.moveup{ width:408px; margin:0 auto;}
.box_bottom{ background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/box_bottom.jpg) 3px 0 no-repeat; height:29px;}

.a3{position:absolute;width:300px;height:23px;color:#FF0000;text-decoration:underline;font-weight:bold;left: 127px;top: 23px;text-align:right;}
.a1{position:absolute;width:200px;height:23px;color:#000;font-weight:bold;left: 20px;top: 54px;text-align:center;}
.a2{position:absolute;width:200px;height:23px;color:#000;font-weight:bold;left: 226px;top: 54px;text-align:center;}

#faq{ width:920px;  margin:0 auto;}

#faq dt{ color:#FF0000; font-weight:bold; padding-top:15px;}
#faq dd{ color:#000000; line-height:165%;}
#footer{ FONT-SIZE: 12px; width:920px; MARGIN: 30px auto; OVERFLOW: hidden; COLOR: #000; LINE-HEIGHT: 24px; HEIGHT: 100px; TEXT-ALIGN: center; border-top:1px dotted #939598; padding-top:15px; font-family:Tahoma;}
#.footer a:hover{ color:#000; text-decoration:underline;}

#bottom{  background:url(http://mat1.gtimg.com/gongyi/2011images/monthly-activity/201101flash/bottom.jpg) no-repeat; height:67px; clear:both; width:1000px; margin:0 auto;}








/*prompt 弹出对话窗口*/
.prompt{   width:380px; height:158px; border: solid 2px #d7d7d7; background:#fff; text-align:center;}
.prompt .t{ line-height:32px; padding-left:13px; background:#f1f1f1; margin-bottom:30px; text-align:left;}
.prompt .t img{ float:right;}
.prompt p{ font-size:14px;}
.prompt .btn{ padding:25px 0 25px; }
.prompt .btn input{ background:url(http://gongyi.qq.com/images/npoimages/btn_bg.png) no-repeat; width:65px;height:29px;text-align:center; line-height:26px; border:none; cursor: pointer;}
#one{ position:absolute; left:45%; top:45%;}
#another{position:absolute; left:45%; top:75%;}
/*  |xGv00|c1dd20fb551edf2775cecd9ce6394324 */