body {margin:0; padding:0; font-family:tahoma; font-size:12px; line-height:1.8em; color:#333; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/bg.jpg) top repeat-x;}
ul,li,dl,dt,dd,h3,p {margin:0; padding:0;}
li {list-style-type:none;}
a {color:#6f6f6f; text-decoration:none;}
a:hover {color:#0070c7; text-decoration:underline;}

.top {height:356px; width:950px; margin:0 auto; position:relative; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/top_bg.jpg) top center no-repeat;}
	.top_in {width:950px; height:356px; margin:0 auto; position:relative;}
	.top_nav {height:30px; padding-top:35px; text-align:right;}
		.top_nav a {color:#115284; margin:0 5px;}
	.tab_nav {height:30px; position:absolute; bottom:-2px; _bottom:-9px; left:0;}
		.tab_nav a {display:inline-block; width:96px; height:37px; margin-right:-2px; text-align:center; color:#5d5d5d; font-size:14px; font-weight:bold; line-height:30px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/nav_bg1.jpg) top left no-repeat;}
		.tab_nav a:hover {text-decoration:none;}
		.tab_nav a.set {background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/nav_bg2.gif) top left no-repeat;}

.main_body {width:950px; margin:0 auto; overflow:hidden;}
	.tab_box {background:#F8F8F8; border:1px solid #C9C9C9; overflow:hidden; zoom:1; margin-bottom:10px;}
	.tab_bg {background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/tab_bg.jpg) #F8F8F8 right bottom no-repeat;}
	.left_block {width:680px; float:left; margin-top:2px;}
		.xmjs {padding:30px 15px 20px 15px; overflow:hidden; zoom:1;}
			.xmjs a {color:#0070c7; text-decoration:none;}
			.xmjs a:hover {color:#0070c7; text-decoration:underline;}
			.xmjs img {float:left; padding:8px; margin-right:20px; background:#ebebeb; border:1px solid #d4d4d4;}
			.xmjs .info {width:375px; float:right; margin-right:20px;}
				.xmjs h3 {text-align:center; font-size:14px;}
				.xmjs p {text-indent:2em; color:#6f6f6f;}
			.xmjs .more {padding-top:8px;}
			.xmjs .more a {margin-right:75px;}
		.left_head {padding:15px;}
			.left_head span {display:inline-block; color:#6f6f6f; margin-left:20px;}
			.btn_jz {display:inline-block; width:98px; height:29px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/btn_1.jpg); cursor:pointer;}
		.type1_title {height:43px; line-height:36px; text-indent:1em; font-size:14px; font-weight:bold; color:#FFF; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/type_1.jpg) left no-repeat; position:relative;}
			.tpay {width:98px; padding-top:41px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/cft.jpg) no-repeat; text-indent:0; text-align:center; font-size:12px; font-weight:normal; position:absolute; top:-10px; right:60px;}
		.table_input {width:140px;}
		.table_input_s {width:30px;}
		.table_area {width:460px;}
		#other_mask {display:none;}
		.type1_table {color:#6f6f6f; margin-bottom:20px;}
		.btn_kt {width:149px; height:47px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/btn_2.jpg); border:none; cursor:pointer;}
		.type2_title {height:43px; line-height:36px; text-indent:1em; font-size:14px; font-weight:bold; color:#FFF; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/type_2.jpg) left no-repeat;}
		.btn_sj {width:146px; height:38px; line-height:38px; font-size:14px; font-weight:bold; color:#FFF; border:none; margin:0 15px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/btn_3.jpg) no-repeat; cursor:pointer;}
		.more_info {width:600px; margin:0 auto 25px auto; overflow:hidden;}
			.more_info h3 {font-size:12px; color:#6f6f6f;}
			.more_info ul li {width:290px; float:left;}
	.tab_box span.orange {color:#ff8c00;}
		
			

	.right_block {width:258px; padding-top:0px; float:right; position:relative;}
		.r_title {height:35px; line-height:35px; overflow:hidden; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/title_bg.jpg); text-indent:1em; font-size:14px; font-weight:bold; color:#0070c7;}
		.r_more {float:right; font-size:12px; font-weight:normal; margin-right:10px; color:#0070c7; text-decoration:underline;}
		.r_more2 {color:#0070c7; text-decoration:underline;}
		.r_content {padding:5px 15px; color:#6f6f6f;}
		/*.aixing {width:264px; height:155px; margin-bottom:10px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/axll.jpg); position:absolute; top:0; left:-5px;}
			.aixing div {left:18px; position:absolute;}
			.aixing span {display:inline-block; text-align:center; height:22px; font-size:14px; font-weight:bold;}
			.ax_title {font-size:14px; font-weight:bold; color:#0070c7; top:23px;}
			.ax_word1 {color:#FFF; top:48px;}
			.ax_word2 {top:90px;}
			.ax_word3 {top:122px;}
			.ax_num1 {color:#3f8300; padding:0 0 0 5px; margin:0 5px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top left no-repeat;}
			.ax_num2 {color:#ff7800; padding:0 0 0 5px; margin:0 5px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top left no-repeat;}
			.ax_num3 {color:#0070c7; padding:0 0 0 5px; margin:0 5px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top left no-repeat;}
			.ax_ct {width:5px; float:right; *float:none; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top right no-repeat;}
		
		*/


		.aixing {
			width:264px;
			margin-bottom:10px; 
			background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/axll.v2.jpg) no-repeat; top:0;
			max-height:100%;
			clear:both;
			margin-left:-5px;
			_margin-left:-2px;
		}

			.aixing div {position:relative; border:#0000FF 0px solid;}
			.aixing span {display:inline-block; text-align:center; height:22px; font-size:14px; font-weight:bold;}
			.ax_title {font-size:14px; font-weight:bold; color:#0070c7; margin-top:24px; padding-left:18px;}
			.ax_word1 {color:#FFF;padding-left:18px;}
			.ax_word2 {padding-left:18px; border-top:#CACACA 0px solid;}
			.ax_word3 {padding-left:18px;}
			
			.ax_num1 {color:#3f8300; padding:0 0 0 5px; margin:0 5px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top left no-repeat;}
			.ax_num2 {color:#ff7800; padding:0 0 0 5px; margin:0 5px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top left no-repeat;}
			.ax_num3 {color:#0070c7; padding:0 0 0 5px; margin:0 5px; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top left no-repeat;}
			.ax_ct {width:5px; float:right; *float:none; background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/input.gif) top right no-repeat;}
			
			.aixing .boxdiv{
				border:#CACACA 1px solid;
				border-top:#CACACA 0px solid;
				width:256px;
				left:0px; 
				clear:both; 
				float:left; 
				margin-left:3px; 
				margin-top:15px;
				background:#F8F8F8;
				_display:block;_display:inline;
				padding-bottom:10px;		
			}
			
	






		
		.content_info {margin:0 auto 10px auto; padding-bottom:10px; position:relative; border-bottom:0px dotted #b2b2b2;}
			.content_info p {text-indent:2em;}
		.r_content h3 {font-size:14px; color:#0070c7;}
		.r_content ul li {background:url(http://mat1.gtimg.com/gongyi/09images/loveplan/guangming/li.gif) left 9px no-repeat; padding-left:10px;}
		
.foot {text-align:center; margin:20px auto; color:#6f6f6f;}/*  |xGv00|35c515847a6369539ee7b8e81aed5b5d */