body{ margin:0; padding:0; color:#333; background:#fff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,button,textarea,p,th,td{ margin:0; padding:0; font-size:12px;color:#6D6D6D;}
ul,li{ list-style:none}
img,a img{ border:none;}
a{ color:#000; text-decoration:none}
a:hover{ color:#f00; text-decoration:underline}
.uline a{ text-decoration:underline}
.uline a:hover{ color:#f00; text-decoration:none}
.inputTxt{ height:22px; line-height:22px; padding:0 5px; border:1px solid #A3A3A3}


/*页尾样式*/
#foot.main { background:url(http://mat1.gtimg.com/gongyi/css/gongyi_v1/style/screen/bg.jpg) repeat-x 0 -61px; color:#96A47B; padding:10px 0; text-align:center; width:100%; clear:both;}
#foot .valid { margin-bottom:5px; }
#foot a { color:#96A47B; }
#foot .license { }
#foot .license strong { font-family: Verdana, Helvetica; font-size: 80%; display:block; padding-bottom:5px; }
.num1{ font-family:"黑体"; font-size:26px; color:#FF9300; line-height:32px}

div{
	float:left;
	margin:auto;
}

#MainDiv{	
	border:#FF0000 0px solid;
	width:100%;
	height:auto;
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_11.jpg) repeat-x top;
	text-align:center;
	margin-bottom:10px;
	text-align:center;
}

#MainDiv .backgroudvector{	
	border:#0000FF 0px solid;
	width:100%;
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/leftbk.jpg) repeat-x top center;
}

#MainDiv .main{	
	border:#0000FF 0px solid;
	width:970px;
	clear:both;
	float:none;
	margin:0 auto;
}

#MainDiv .mainleft{	
	border:#0000FF 0px solid;
	width:690px;
	float:left;
}

#MainDiv .firstboxtip{	
	margin-top:0px; height:7px; 
	/*width:682px;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/lefttop_v3.jpg) no-repeat top center;*/
	margin-left:4px;
}


h3.title{	
	margin-top:10px; font-size:14px;color:#DD5400; font-size:16px; margin-bottom:20px;
}



#MainDiv .mainleft .firstboxMid{	
	/*width:690px; background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_36.gif) repeat-y; text-align:center; padding-bottom:10px;*/
	width:680px; 
	/*background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_36.gif) repeat-y; */
	text-align:center; 
	padding-bottom:10px;
	border:#CBC8C1 1px solid;
	margin-left:4px;
	background:#FFFFFF;
	border-top:none;
	display:block;
	display:none;
}


#MainDiv .mainleft .firstboxMid p.projectcontext{	
	width:600px; 
	text-align:left; 
	text-indent:30px; 
	line-height:25px;
	border:#0000FF 0px solid;
	font-size:14px;
	margin-left:40px;

}


#MainDiv .mainleft .firstboxMid p.aixingquizhu{	
	float:left;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_24.gif) no-repeat; 
	height:48px; width:630px; 
	border:#FF0000 0px solid; 
	text-align:left; margin-top:10px;
	margin-left:-6px;	
	
}

#MainDiv .mainleft .firstboxMid p.aixingquizhu span.titles{	
	margin:18px 0px 0px 20px; float:left; font-size:14px; color:#D46D10; font-weight:bold;
}

#MainDiv .mainleft .firstboxMid p.aixingquizhu span.more{	
	float:right; margin-top:35px;
}



#MainDiv .mainleft .firstboxMid p.projecttitles{	
	float:left;width:630px;
}


#MainDiv .mainleft .firstboxMid p.projecttitles span{	
	float:right; font-size:14px; font-weight:bold; margin-right:100px;
}



#MainDiv .mainleft .firstboxMid p.images{	
	float:left; border:#FF0000 0px solid; width:250px; padding-bottom:15px; border-right:#999999 1px dotted;
}
#MainDiv .mainleft .firstboxMid p.images img{	
	float:left; margin-left:40px;

}



#MainDiv .mainleft .firstboxMid p.projectcontext_one{	
	float:left; border:#FF0000 0px solid; width:360px;line-height:20px; text-align:left; text-indent:25px; margin-top:15px; margin-left:20px;
}
#MainDiv .mainleft .firstboxMid p.projectcontext_tow{	
	float:left; border:#FF0000 0px solid; width:360px; line-height:20px; text-align:left; text-indent:25px; margin-left:20px;
}

#MainDiv .firstboxdown{	
	height:4px; width:690px; background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_31.jpg) no-repeat;
}










/*捐赠接口开始---月捐*/
#MainDiv .AbadnTop{	
	border:#FF0000 0px solid;
	margin-top:5px; 
	height:3px; 
	width:690px; 
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_33.jpg) no-repeat top;
}


#MainDiv .AbandMid{	
	width:690px; background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_36.gif) repeat-y; padding-bottom:10px;
}

#MainDiv .AbandMid div.title_context{	
	float:left;margin-left:20px;  margin-top:15px; border:#FF0000 0px solid; width:600px; height:50px;
}


#MainDiv .AbandMid div.title_context p.images{	
	float:left;border:#FF0000 0px solid; width:96px; margin-top:5px;
}

#MainDiv .AbandMid div.title_context p.font{	
	float:left;border:#FF0000 0px solid; width:300px; text-align:left; line-height:20px; margin-left:10px;
}


#MainDiv .AbandMid p.abandmeth_one{	
	float:left;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_38.gif) no-repeat; height:47px; width:400px; border:#FF0000 0px solid; text-align:left; margin-top:5px;
}
#MainDiv .AbandMid p.abandmeth_one span{	
	margin:18px 0px 0px 20px; float:left; font-size:14px; color:#FFFFFF; font-weight:bold;
}
#MainDiv .AbandMid p.tenpayhelp{	
	float:left; width:230px; text-align:right;border:#FF0000 0px solid; line-height:20px;
}
#MainDiv .AbandMid div.abandtables{	
	float:left;margin-left:20px;  margin-top:15px; border:#FF0000 0px solid; width:600px;
}




/* 散捐开始*/
#MainDiv .AbandMid p.abandmeth_two{	
	float:left;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_43.gif) no-repeat; height:47px; width:400px; border:#FF0000 0px solid; text-align:left; margin-top:20px;
}
#MainDiv .AbandMid p.abandmeth_two span{	
	margin:18px 0px 0px 20px; float:left; font-size:14px; color:#FFFFFF; font-weight:bold;
}
#MainDiv .AbandMid div.tables_other{	
	float:left;margin-left:20px;  margin-top:15px; border:#FF0000 0px solid; width:600px;
}
#MainDiv .AbandMid #OtherAbandFontObj{	
	float:left;width:600px; text-align:left;
}

#MainDiv .AbandMid #ObjClick{	
	float:left; width:660px; text-align:right; margin-top:10px;
}



#MainDiv .AbandDwon{	
	height:4px; width:690px; background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_31.jpg) no-repeat;
}







/*右侧样式*/ 
#MainDiv .mainright{	
	border:#0000FF 0px solid;
	width:275px;
	float:right;
}


/*第一个框*/
#MainDiv .mainright .firstboxTop_Top{	
	border:#FF0000 0px solid;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_15.jpg) no-repeat; height:20px; width:260px;
}

#MainDiv .mainright .firstboxTop{	
	border:#FF0000 0px solid;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_18.jpg) no-repeat; height:25px; width:260px;
}

#MainDiv .mainright .firstboxMid{	
	/*border:#FF0000 0px solid;width:260px; 
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_19.gif) repeat-y; 
	padding-bottom:10px; line-height:23px;*/
	
	border:#FF0000 0px solid;
	width:256px; 
	/*background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_19.gif) repeat-y; */
	padding-bottom:10px; 
	line-height:23px;
	border:#CBC8C1 1px solid;
	clear:both;
	margin:0 auto;
	border-top:none;
	background:#FFFFFF;
}




#MainDiv .mainright .firstboxMid .lovepowercss{
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/lovepowertop_v2.gif) no-repeat;
	border:#CBC8C1 0px solid;
	height:40px;
	clear:both;
	margin-top:-20px;
	z-index:1000px;
	position:relative;
	width:256px; 
}



#MainDiv .mainright .firstboxMid p{
	display:inline;
	clear:both;
	float:left; text-align:left; border:#FF0000 0px solid; margin-left:15px; 
}

#MainDiv .mainright .firstboxMid p.permittitles{	
	font-size:14px; font-weight:bold; width:225px;
}
#MainDiv .mainright .firstboxMid p.onlime{	
	width:240px; 
}

#MainDiv .mainright .firstboxMid p.onlime table.tablecss{	
	float:left;margin-left:15px;
}

#MainDiv .mainright .firstboxMid p.secondtitles{	
	width:230px; border-bottom:#999999 1px dotted;
}

#MainDiv .mainright .firstboxMid ul{	
	display:inline;
	float:left; text-align:left; width:230px;; border:#FF0000 0px solid; margin-left:15px; line-height:20px;
	padding:0;
}


#MainDiv .mainright .firstboxMid li.titles{	
	font-size:14px; font-weight:bold; margin-top:5px;
	padding:0px;
}

#MainDiv .mainright .firstboxDown{	
	border:#FF0000 0px solid;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_26.jpg) no-repeat; height:3px; width:260px;
}

#MainDiv .mainright .firstboxMid ul li{
	width:230px;
	float:left;
}

/*第二个框*/

#MainDiv .mainright .ThreeBox_Top,
#MainDiv .mainright .GuestMemo_Top,
#MainDiv .mainright .SecondboxTop{	
	border:#FF0000 0px solid;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_28.jpg) no-repeat; height:3px; width:260px; margin-top:10px;
}

#MainDiv .mainright .ThreeBox_Mid,
#MainDiv .mainright .GuestMemo_Mid,
#MainDiv .mainright .SecondboxMid{	
	border:#FF0000 0px solid;width:260px; background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_19.gif) repeat-y; padding-bottom:10px; line-height:23px;
}


#MainDiv .mainright .ThreeBox_Mid ul,
#MainDiv .mainright .SecondboxMid ul{	
	display:inline;
	float:left; text-align:left; width:230px;; border:#FF0000 0px solid; margin-left:15px; line-height:20px;
}




#MainDiv .mainright .ThreeBox_Mid ul li,
#MainDiv .mainright .GuestMemo_Mid ul li,
#MainDiv .mainright .SecondboxMid ul li{
	width:230px;
	float:left;
}

#MainDiv .mainright .ThreeBox_Mid li.titles,
#MainDiv .mainright .SecondboxMid li.titles{	
	font-size:14px; font-weight:bold; margin-top:10px;color:#D46D10; padding-bottom:5px;border-bottom:#D9D9D9 1px solid;
}

#MainDiv .mainright .SecondboxMid li.more{	
	text-align:right;
}
#MainDiv .mainright .SecondboxMid li.bottomline{	
	border-bottom:#D9D9D9 1px dotted;
}

#MainDiv .mainright .ThreeBox_Down,
#MainDiv .mainright .GuestMemo_Down,
#MainDiv .mainright .SecondboxDown{	
	border:#FF0000 0px solid;background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/index_26.jpg) no-repeat; height:3px; width:260px;
}








/*留言*/
#MainDiv .mainright .GuestMemo_Mid ul{
	display:inline;
	float:left; text-align:left; width:230px;; border:#FF0000 0px solid; margin-left:15px; line-height:20px;
}

#MainDiv .mainright .GuestMemo_Mid ul li.Permittitles{
	font-size:14px; font-weight:bold; margin-top:10px;color:#D46D10; padding-bottom:5px;border-bottom:#D9D9D9 1px solid;
}
#MainDiv .mainright .GuestMemo_Mid ul li.Permittitles span{
	 margin-left:50px;clear:both;font-size:12px; font-weight:normal;
}

#MainDiv .mainright .GuestMemo_Mid ul li.Meno{
	border-bottom:#D9D9D9 1px dotted; margin-top:10px; padding-bottom:5px;
}


#MainDiv .mainright .GuestMemo_Mid h3.Permittitles{
	float:left; 
	margin-left:15px;
	font-size:14px; font-weight:bold; margin-top:10px;color:#D46D10; padding-bottom:5px;border-bottom:#D9D9D9 1px solid;
	width:230px;
	text-align:left; 
}
#MainDiv .mainright .GuestMemo_Mid h3.Permittitles span{
	 margin-left:50px;clear:both;font-size:12px; font-weight:normal;
}





.inputBtn{ 
		width:149px; 
		height:47px; 
		font-size:14px; 
		font-weight:bold; 
		color:#fff; 
		text-align:center; 
		line-height:38px;
		border:0; 
		background:url(http://mat1.gtimg.com/gongyi/images/loveplanv2/submitbt.gif) no-repeat; cursor:pointer;
}

.inputTxt{ height:22px; line-height:22px; padding:0 5px; border:1px solid #A3A3A3}
.inputArea{ width:566px; height:68px;line-height:22px; padding:0 5px; border:1px solid #A3A3A3}



a.red{
	color:#DD5400;
	text-decoration:underline;
}
a.blank{
	color:#6D6D6D;
}

.inputBtn1{ width:146px; 
			height:38px; 
			font-size:14px; 
			font-weight:bold; 
			color:#fff; 
			text-align:center; 
			line-height:38px; border:0; 
			background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/btnbg5.jpg) no-repeat; 
			cursor:pointer}



/*页尾样式*/
#foot.main {
float:none;
background:url(http://mat1.qq.com/gongyi/css/gongyi_v1/style/screen/bg.jpg) repeat-x 0 -61px; color:#96A47B; padding:10px 0; text-align:center; width:100%; clear:both;}
#foot .valid { margin-bottom:5px; }
#foot a { color:#96A47B; }
#foot .license { }
#foot .license strong { font-family: Verdana, Helvetica; font-size: 80%; display:block; padding-bottom:5px; }
.num1{ font-family:"黑体"; font-size:26px; color:#FF9300; line-height:32px}



























a.ccc{
	color:#6D6D6D;
	text-decoration:underline;	
}
a.cccnober{
	color:#6D6D6D;
}


.menu_logdiv{
	margin:0 auto;
	clear:both;
	border:#FF0000 0px solid;
	text-align:right;
	width:962px;
	height:20px;
	padding-top:5px;
}


.menu_logdivloginfo{
	padding:0;
	clear:both;
	border:0px solid #0000FF; 
	height:18px;
	width:962px;
	text-align:right;
	margin-top:5px;
}
.menu_logdiv a{
	color:#174E67;
}

.menu_logdivloginfo a{
	color:#174E67;
}



.menumaindiv{
	border:#0000FF 0px solid;
	width:100%; 
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/topbk.jpg) repeat-x top center; 
	clear:both;
	margin:0 auto;
	min-width:960px;
}
.manuseconddiv{
	border:#FF0000 0px solid; 
	width:100%; 
	height:358px; 
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/menubk.jpg) no-repeat top center; 
	clear:both; 
	margin:0 auto;
	text-align:center;
}



.mindbox{
	width:960px; 
	height:369px;
	border:#FF0000 0px solid;
	clear:both;
	float:none;
	margin:0 auto;
}




.menu_div_main{
	width:650px; 
	height:40px;
	border:#FF0000 0px solid; 
	float:left; 
	margin-top:259px;
	position:absolute;
}


.menu_div_main a:hover,
.menu_div_main a{
	border:#000000 0px solid;
	float:left;
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/selectbk_no.jpg) no-repeat top;
	height:40px;
	width:96px;
	line-height:30px;
	position:relative;
	margin-right:1px;
	text-decoration:none;
	cursor:pointer;
}

.menu_div_main a.on{
	float:left;
	background:url(http://mat1.gtimg.com/gongyi/09images/tencent_gongyi/selectbtn_ok.gif) no-repeat top;
	height:40px;
	width:96px;
	line-height:30px;
	border:none;
	border-top:#CBC8C1 1px solid;
	margin-top:1px;
}


.menu_div_main a span{
	clear:both;
	float:left;
	margin-left:25px;
	font-size:14px;
	font-weight:bold;
	margin-top:2px;
	color:#5d5d5d;
}
/*  |xGv00|6db3758bd553dbac38b60afe227eabe8 */