@charset "gb2312";
/* CSS Document */
/* reset */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select { margin: 0; padding: 0 }
body { background:url(http://mat1.gtimg.com/gongyi/2013jjh/images/bg.png) repeat; color:#333; font: 12px/22px "宋体", "Arial Narrow", HELVETICA; -webkit-text-size-adjust: 100%; }
h1, h2, h3, h4, h5, h6, .yh{ font-family:"微软雅黑", "黑体", "宋体"; font-size:100%; font-weight: normal;}
a { color:#333; text-decoration: none }
a:hover { color:#c00; text-decoration: underline }
em { font-style: normal }
li { list-style: none }
img,input{ border: 0; vertical-align: middle }
table { border-collapse: collapse; border-spacing: 0 }
p,a{ word-wrap: break-word }
.undis { display: none }
.dis { display: block }
.ind { text-indent: 2em }
.layout{ margin:0 auto; width:1000px;}
.layout:after, .hd:after, .bd:after, .ft:after, .cf:after{ content: ""; display: table; clear: both }
.layout, .hd, .bd, .ft, .cf{ *zoom:1}
@media screen {
.fl, .layout .fl, .chief { float: left; display: inline }
.fr, .layout .fr, .extra { float: right; display: inline }
.hd h2, .hd h3 { float: left; display: inline; font-weight:normal;}
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.f22 { font-size: 22px }
.f24 { font-size: 24px }
.l16 { line-height: 16px }
.l17 { line-height: 17px }
.l18 { line-height: 18px }
.l19 { line-height: 19px }
.l20 { line-height: 20px }
.l21 { line-height: 21px }
.l22 { line-height: 22px }
.l23 { line-height: 23px }
.l24 { line-height: 24px }
.l25 { line-height: 25px }
.l26 { line-height: 26px }
.l27 { line-height: 27px }
.l28 { line-height: 28px }
.l29 { line-height: 29px }
.l30 { line-height: 30px }
.mt10 { margin-top: 10px }
.mt20 { margin-top: 20px }
.mt30 { margin-top: 30px }
.bold{ font-weight:bold;}
.center{ text-align:center;}
.b0{ border:none !important;}
.vBg{ background:rgba(0,0,0,0.6); color:#fff; display:inline-block; filter:progid:DXImageTransform.Microsoft.gradient( Q-gradientType = 0, startColorstr = '#80000000', endColorstr = '#80000000') \9; width:100%;}
/* header */
.header{ height:80px;}
.logo{ float:left; padding-top:15px;}
.maskDiv { background-color:rgb(51, 51, 51); height:2154px; opacity:0.9; position:absolute; left:0px; top:0px; width:1423px; z-index:9999;}
.logout_t{ height:30px; line-height:30px; float:right; padding-top:15px;}
.mytuichu{ height:30px; display:block; color:#8c8c8c; line-height:30px;display:inline}
.topLoginWrap{color:#4f4f4f;line-height:30px;}
.topLoginWrap ul{overflow:hidden;color:#999;float:right}
.topLoginWrap ul li{float:left;display:inline;padding-left:12px;}
.topLoginWrap a:link,div.topLoginWrap a:visited{color:#999;}
.topLoginWrap a:hover{color:#057d02; text-decoration:underline;}
/* nav */
.nav{ background:url(http://mat1.gtimg.com/gongyi/2013jjh/images/nav.png) left bottom repeat-x; height:78px;}
.nav ul{ float:left; height:78px; overflow:hidden; position:relative;}
.nav li{ float:left; margin-right:50px;}
.nav li span a{ display: inline-block; height:40px; line-height:40px; padding:0 15px;}
.nav .on span a{ background:#ca3d40; color:#fff; text-decoration:none;}
.nav li .subNav{ display:none; height:38px; line-height:38px; position:absolute; left:0; top:40px;}
.nav li .subNav a{ color:#fff; padding:0 15px;}
.nav .on .subNav{ display:block;}
.nav .links{ color:#808080; float:right; height:40px; line-height:38px;}
.nav .links a{ color:#808080;}
/* content */
.content{ background:url(http://mat1.gtimg.com/gongyi/2013jjh/images/line.png) 43px 0 repeat-y;}
.content h2{ color:#ca3f41; font-size:18px; height:32px; line-height:32px;}
.content .hd{ border:1px solid #dcdcdc; border-bottom:none; padding:10px 20px;}
.content dl{ overflow:hidden;}
.content dt{ float:left; height:87px; width:87px;}
.content dd{ float:right; width:875px;}
.content dd .bd{ background:#f9f9f9; border:1px solid #dcdcdc; padding:0px 20px; position:relative;}
.content dd i{ background:url(http://mat1.gtimg.com/gongyi/2013jjh/images/bgs.png) 0 -240px no-repeat; height:19px; line-height:19px; position: absolute; left:-10px; top:35px; width:11px;}
.intro dt{ background:url(http://mat1.gtimg.com/gongyi/2013jjh/images/intro.png) no-repeat;}
.intro dd .bd{ padding:10px 20px 20px;}
.intro dd p{ color:#666;}
.news dt{ background:url(http://mat1.gtimg.com/gongyi/2013jjh/images/news.png) no-repeat;}
.news .item{ border-bottom:1px dotted #666; padding:15px 0;}
.news .item h3{ font-size:20px; height:32px; line-height:32px; padding-bottom:5px;}
.news .item .time{ color:#818181;}
.news .item .time a{ color:#ca3f41; margin-right:6px;}
.page{ height:22px; line-height:22px; margin:30px auto;}
.page span{ display:inline-block; float:left; height:22px; line-height:22px; margin-right:5px;}
.page .isNow{ padding:0 8px;}
.page span a{ display:inline-block; padding:0 8px; border:1px solid #ccdbe4;}
.page .disabled{ border:1px solid #ccdbe4; padding:0 8px;}
.gray{ color:#dbe1e6;}
/* partner */
.footWp{ background:url(http://mat1.gtimg.com/gongyi/2013jjh/images/foot.png) repeat; padding-top:30px; width:100%;}
}
/*  |xGv00|7581a8ea6da6dc2bdd3b9926c42cd30c */