@charset "utf-8";

*{ margin: 0; padding: 0; font-size: 14px; font-family:"Microsoft", arial, sans-serif; color:#555;}
body{ margin:0 auto; padding:0; font-size:14px; font-family:"微软雅黑", "宋体", Arial; color:#555;text-decoration:none; background-color:#ffffff; }
h1,h2,h3,h4,h5,h6,ul,ul li,ol,ol li,dl,dl dt,dl dd,form,img,p,b,div,a,span{margin:0;padding:0;border: none;list-style-type:none; text-decoration:none; font-family:"微软雅黑", "宋体", Arial;}
a{ color: #555; text-decoration: none; outline: 0;}
input{ font-family:"微软雅黑", "宋体", Arial; color:#555;}

.wrapper{ width:100%; min-width: 1100px; height: auto; overflow: hidden; background: #ffffff; }
.wrap_center{ width: 1000px; height: auto; overflow: hidden; background-color: #ffffff; margin: 0 auto; }

.clear{ clear:both; height:0px; margin:0; padding:0; width:0; border:none; overflow:hidden; }
.over{ height: auto; overflow: hidden;}
.all{ width:100%;}
.cl_0{ color: #333;}
.cl_1{ color: #555;}
.cl_2{ color: #009ee8;}
.cl_3{ color: #f08300;}
.cl_4{ color: #e9546b;}
.cl_5{ color: #f08437;}

.show{ display: block;}
.hide{ display: none;}

/* position */
.absolute{ position: absolute;}
.relative{ position: relative;}
.fixed{ position: fixed;}

/* float */
.lt{ float: left;}
.rt{ float: right;}

/* margin*/
.mb{ margin-bottom: 5px;}
.mb1{ margin-bottom: 25px;}
.mb2{ margin-bottom: 15px;}

.ml{ margin-left: 15px;}
.ml1{ margin-left: 10px;}
.ml2{ margin-left: 20px;}

.mt{ margin-top: 25px;}
.mt1{ margin-top: 35px;}
.mt2{ margin-top: 20px;}
.mt3{ margin-top: 10px;}
.mt4{ margin-top: 35px;}
.mt5{ margin-top: 40px;}
.mt6{ margin-top: 4.5px;}

.pb{ padding: 0 0 12px 0;}

.bor_bottom{ border-bottom: 1px solid #e9eaea;}

.live,.recommend, .viewpoint, .school, .public, .lecture, .student, .family{ height: auto; overflow: hidden;}
.main, .main_list{ width: 100%; height: auto; overflow: hidden;}

/* ad */
.adblock{ width:100%;height: auto; overflow: hidden; }
.ad{ width: 1000px; height: 60px; display: block;}
.ad a{ width: 1000px; height: 60px; display: block; cursor: pointer;}
.ad_double{ width: 495px; height: 60px; display: block;}
.ad_double a{ width: 495px; height: 60px; display: block; cursor: pointer;}
.ad_03{ width: 320px; height: 60px; display: block;}
.ad_03 a{ width: 320px; height: 60px; display: block; cursor: pointer;}
.ad_cover{ z-index: 9; top: 0; background-color: #ffffff; filter:alpha(opacity=0); opacity: 0; }
.ad_alert{ z-index: 10; width: 26px; height: 16px; left: 0; bottom: 0;}

/* edu_header */
.edu_header{ width: 100%; height: 51px; margin: 20px auto;}
.edu_header div, .edu_header img{ display: block; }
.wxh{ height: auto; overflow: hidden;}
.wxh li{ width: 135px; height: 51px; overflow: hidden; float: left; margin-left: 35px;}
.wxh li img{ margin-right: 5px;}
.wxh li .p1{line-height: 20px;font-size: 14px; text-align: left;}
.wxh li .p2{line-height: 15px;font-size: 12px; text-align: left;}
.wxh li p a:hover{ color:#00a1e8;}

.edu_header .input_box{ width: 228px; height: 25px; line-height: 25px; padding: 0 5px; border: 1px solid #cccccc; background-color: #ffffff; margin: 0;}
.edu_header .submit{ width: 48px; height: 27px; border: 1px solid #cccccc; background-size: cover; margin: 0;}

/* edu_menu */
.edu_menu{ width: 1000px; height: 60px; margin-bottom: 20px; background-color: #008cc9;}
.edu_menu a{ color: #ffffff;}
.edu_menu .homepage{ width: 80px; height: 60px; line-height: 60px; text-align: center; color: #ffffff; background-color: #00a0e9;}
.edu_menu .homepage a{ color: #ffffff; font-size: 18px;}
.edu_menu .menu_01{ width:920px; height: 60px; padding:5px 0; }
.edu_menu .submenu .submenu_title{ width: 50px;border-right: 1px solid #fff; line-height: 18px;color: #ffffff; font-size:16px; font-weight: bold; }
.edu_menu .submenu .submenu_detail{height: 50px;}
.edu_menu .submenu .submenu_detail li{ line-height: 25px; float: left; margin: 0 29.5px;}
.edu_menu .submenu .submenu_detail li a{  font-size: 14px;}
.edu_menu .submenu .submenu_detail li a:hover{color:#333;}

/* edu_recommend */
.edu_recommend{ width: 100%; height: 65px; background: #efefef;}
.edu_recommend table tbody tr td img{ margin-top: 6px;}
.edu_recommend table tbody tr td{ height: 65px; margin: 0;}
.edu_recommend table tbody tr .w0{ width: 38px;}
.edu_recommend table tbody tr .w0 div{ width: 37px; padding: 12.5px 21px; line-height: 1.25; font-size: 16px; text-align: center;}
.edu_recommend table tbody tr .w1{ width: 10px;}
.edu_recommend table tbody tr .w2{ width: 127px;}
.edu_recommend table tbody tr .td1 img{ border: none;}

/* main */
.center_left{ width:650px; height: auto; overflow: hidden; float: left}
.center_right{ width: 320px; height: auto; overflow: hidden; float: left; margin-left: 30px;}

/* focus player */
#player{ width:650px; height:340px;position:relative; overflow:hidden;}
.player .prev,.player .next{ width:52px; height:52px; position:absolute; z-index:2; cursor:pointer; bottom:50%; margin-bottom: -26px;}
.player .prev:hover,.player .next:hover{ opacity: .65; filter: alpha(opacity=65);}
.player .prev{ left:15px;}
.player .next{ right:15px;}
.player ol{ position:absolute; z-index:2; bottom:12px; left:50%;}
.player ol li{ width:25px; height:5px; float:left; margin-right:8px; cursor:pointer;}
.normal{ background:#efefef; opacity: .5; filter: alpha(opacity=50);}
.active{ background:#efefef; opacity: 1; filter: alpha(opacity=100); }
.player ul{ position:absolute; z-index:1; top:0; left:0}
.player ul li{ width:650px; height:320px; float:left; position: relative; background-color: #ccc;}
.player ul li p{ width: 88%; padding: 0 6%; line-height: 50px; height: 50px; overflow: hidden; padding-bottom: 10px; text-align: center; font-size: 18px; position: absolute; left: 0; bottom: 0; background: url(//mat1.gtimg.com/gd/2017szjy/images/imgbg.png) repeat; color: #fff;}
.player ul li p a{ text-align: center; font-size: 18px; color: #fff;}
.player ul li p a:hover{color: #009ee8;}
.player ul li p .sm{ text-align: center; font-size: 14px; color: #fff;}
.player img{ float:left; cursor: pointer;}

.player3{ width:650px; height:120px; position:relative; overflow:hidden; margin-bottom: 3.5px;}
.player3 .prev,.player3 .next{ width:33px; height:90px; cursor:pointer;}
.player3 .prev:hover,.player3 .next:hover{ opacity: .65; filter: alpha(opacity=65);}
.player3 .prev{ background: url(//mat1.gtimg.com/gd/2017szjy/images/left1.png) no-repeat center left; float: left;}
.player3 .next{ background: url(//mat1.gtimg.com/gd/2017szjy/images/right1.png) no-repeat center right; float: right;}
.player3 .player4{ width: 584px; height: 120px; overflow: hidden; position: relative; float: left;}
.player3 .player4 ul{ width: 100%; height: 120px; overflow: hidden; position: absolute;}
.player3 ul li{ width: 136px; height: 120px; float: left; margin: 0 5px; position: relative;}
.player3 ul .image, .list_x li .image a{ width: 136px; height: 90px; background-color: #333; display: block;}
.player3 ul .image img{ width: 136px; height: 90px;}
.player3 ul .image:hover{ filter:alpha(opacity=65); opacity: 0.65;}
.player3 ul p{ width: 100%; height: 30px; line-height: 30px; padding: 0 0; font-size: 12px; text-align: center; background-color: #fff; color: #007aff;}
.player3 ul p a{ }
.player3 ul p a:hover{ color:#009ee8;}

/* sub focus */
.sub_focus{ width: 320px; height: auto; overflow: hidden;}

.news{ width: 100%; height: auto; overflow: hidden;}
.sub_title{ width: 100%; height: 35px; position: relative;}
.sub_title p{border-left: 5px solid #35a4d4; height: 25px; text-indent: 10px; position: relative; line-height: 25px; font-size: 22px; color: #000; text-align: left;}
.sub_title p .s0{font-size: 22px; color: #000; float: left;}
.sub_title p .s1{ margin-left: 10px; line-height:2;  font-size: 14px; color: #9fa0a0; float: left; text-indent: 0;}
.sub_title p .s2{ font-size: 14px; line-height:2; color: #009ee8; float: right; text-indent: 0;}
.sub_title p .s2:hover{ color: #333}

.player2{ width: 320px; height: 180px; overflow: hidden; position: relative;}
.player2 img{ width: 320px; height: 180px; position: absolute; z-index: 2; left: 0; right: 0; top:0;}
.player2 p{ width: 88%; height: 35px; line-height: 35px; color: #fff; font-size: 16px; text-align: center; padding: 0 6%; position: absolute; z-index: 2; left: 0; right: 0; bottom: 0; background: url(//mat1.gtimg.com/gd/2017szjy/images/imgbg.png) repeat top left;}
.player2 p a{color: #fff; font-size: 14px;}
.player2 p a:hover{color: #009ee8;}

.sub_news{ width: 100%; height: auto; overflow: hidden; padding: 0 0 4px ;}
.sub_news .image{ width:135px; height: 105px; float: left;}
.sub_news .content{ width: 175px; height: 105px; float: left;}
.sub_news .content h3:hover{ color: #555;}
.sub_news .content h3{ font-size: 16px; text-align: left; color: #009ee8; font-weight: 300; line-height: 1; margin-bottom: 5px; white-space: nowrap;}
.sub_news .content p{  line-height: 20px; height: 80px; color: #898989; overflow: hidden;}
.sub_news .content p a{font-size: 9pt; background: #009ee8; margin: 0 8px; line-height: 1;color: #fff; padding: 0 3px; border-radius: 3px;}

.sub_focus ul{ width:100%; height: auto; overflow: hidden; display: block; margin-top: 10px;}
.sub_focus ul li{ width: 100%; line-height: 20px; text-indent: 15px; background: url(//mat1.gtimg.com/gd/2017szjy/images/tag.png) no-repeat left center; height: 20px; overflow: hidden;  padding: 6px 0; font-size: 14px; color: #333;}
.sub_focus ul li a{ font-size: 14px; color: #333; overflow: hidden; height: 20px;}
.sub_focus ul li a:hover{ color: #009ee8;}

.list{ width:100%; height: auto; overflow: hidden; display: block; margin-top: 10px;}
.list li{ width: 49%; line-height: 20px; text-indent: 15px; background: url(//mat1.gtimg.com/gd/2017szjy/images/tag.png) no-repeat left center; height: 20px; overflow: hidden;  padding: 6px 0; font-size: 14px; color: #333; margin-right: 0.5%; float: left;}
.list li a{ font-size: 14px; color: #333; overflow: hidden; height: 20px;}
.list li a:hover{ color: #009ee8;}


/* news list */
.news_list{ width: 100%; height: auto; overflow: hidden;}
.news_list li{ width: 100%; height:90px; padding: 20px 0; border-bottom: 1px solid #e9eaea; cursor: pointer;}
.news_list li:hover{ background-color: #f4f4f4;}
.news_list li .block_image{ width: 136px; height: 90px; background-color:#cccccc; float: left; }
.news_list li .block_text{ width: 495px; height: 90px; float: left; position: relative; }
.news_list li .block_text h3{ font-size: 18px; text-align: left; line-height: 20px; font-weight: 300; height: 20px; overflow: hidden; margin-bottom: 10px; cursor: pointer; word-break: normal; word-spacing:normal;}
.news_list li .block_text h3:hover{ color: #009ee8;}
.news_list li .block_text p{ line-height: 20px; text-align: left; height: 40px; margin-bottom: 10px; overflow: hidden;}
.news_list li .block_text .date{ width:100%; height: 14px; font-size: 12px; text-align: left; line-height: 14px; position: absolute; bottom: 0; left: 0;}

/* 亲子活动 */
.imgbig{ width: 320px; height: 240px; overflow: hidden; background-color: #eee; float: left; position: relative; margin-top: 15px;}
.imgbig img{ width: 320px; height: 240px;}
.imgbig p{ width: 94%; height: 40px; overflow: hidden; padding: 0 3%; line-height: 40px; text-align: left; color: #fff; font-size: 16px; position: absolute; left: 0; bottom: 0; background-color: #08050f; cursor: pointer;}
.imgbig p .span1{color: #fff; font-size: 16px; cursor: pointer;}
.imgbig p .span1:hover{ color: #009ee8;}
.imgbig p a .span2{ padding: 5px; border-radius: 5px; font-size: 14px; color: #fff; background-color: #d70b25;}
.imgbig p a .span2:hover{ background-color: #009ee8;}
.imgsmall{ width: 672px; height: auto; overflow: hidden; float: right; margin-top: 15px;}
.imgsmall li{ width: 148px; height: 115px; overflow: hidden; position: relative; float: left; margin:0 0 10px 20px; background-color: #eee;}
.imgsmall li img{ width: 148px; height: 115px;}
.imgsmall li img:hover{ opacity: 0.65; filter:alpha(opacity=65);}
.imgsmall li p{ width: 94%; height: 25px; overflow: hidden; padding: 0 3%; line-height: 25px; color: #fff; text-align: center; font-size: 14px; background: url(//mat1.gtimg.com/gd/2017szjy/images/tag2.png) repeat left top; position: absolute; left: 0; bottom: 0; cursor: pointer;}
.imgsmall li p:hover{color: #009ee8;}

/* atlas */
.img-liu{ width:100%; height: 455px; overflow: hidden; margin-top: 15px;}
.img-liu .img1{ width: 345px; height: 455px; overflow: hidden; position: relative; float: left;}
.img-liu .img1 img{ width: 345px; height: 455px;}
.img-liu .img1 p{ width: 94%; height: 45px; line-height: 45px; overflow: hidden; text-align: center; font-size: 16px; color: #fff; background: url(//mat1.gtimg.com/gd/2017szjy/images/tag3.png) repeat left top; position: absolute; left: 0; bottom: 0;}
.img-liu .img2{ width: 315px; height: 455px; overflow: hidden; position: relative; float: left; margin-left: 12.5px;}
.img-liu .img2 .img2-1{ width: 315px; height: 185px; overflow: hidden; position: relative;}
.img-liu .img2 .img2-1 img{ width: 315px; height: 185px;}
.img-liu .img2 .img2-2{ width: 315px; height: 255px; overflow: hidden; position: relative;}
.img-liu .img2 .img2-2 img{ width: 315px; height: 255px;}
.img-liu .img1 p,.img-liu .img2 .img2-1 p,.img-liu .img2 .img2-2 p{ width: 94%; height: 45px; line-height: 45px; cursor:pointer; padding: 0 3%; overflow: hidden; text-align: center; font-size: 16px; color: #fff; background: url(//mat1.gtimg.com/gd/2017szjy/images/tag3.png) repeat left top; position: absolute; left: 0; bottom: 0;}
.img-liu .img1 p:hover,.img-liu .img2 .img2-1 p:hover,.img-liu .img2 .img2-2 p:hover{ color: #009ee8;}
.img-liu .img1 p a,.img-liu .img2 .img2-1 p a,.img-liu .img2 .img2-2 p a{ width: 94%; height: 45px; line-height: 45px; cursor:pointer; padding: 0 3%; overflow: hidden; text-align: center; font-size: 16px; color: #fff; background: url(//mat1.gtimg.com/gd/2017szjy/images/tag3.png) repeat left top; position: absolute; left: 0; bottom: 0;}
.img-liu .img1 p a:hover,.img-liu .img2 .img2-1 p a:hover,.img-liu .img2 .img2-2 p a:hover{ color: #009ee8;}

/* friendship link */
.fs{ width: 100%; height: auto; overflow: hidden; padding:20px 0;}
.fs_left{ width: 47px; height: 47px; float: left;}
.fs_left img{ width: 47px; height: 47px;}
.fs ul{ width: 100%; height: auto; overflow: hidden;}
.fs ul li{ padding: 0 14.8px; height: 23.5px; line-height: 23.5px; text-align: center; float: left; }
.link_main{ height: auto; overflow: hidden; margin: 20px 20px 30px 0; width: 391px;}
.link_main p span{ font-size: 14px; font-family: "微软雅黑", "宋体", Arial; float: right;}
.code{ width: 76px; height: 76px; margin-top: 20px;}
.code img{ width:76px; height:76px;}
.fs a:hover{color: #009ee8;}

/* footer */
.footer { width: 100%; min-width:1000px; height: auto; overflow: hidden; background: #333; }
.fixed_code{ width: 70px; height: 100px; background-color: #cccccc; position: fixed; bottom: 200px; right: 50%; margin-right: -600px;}

.backtop{ width:45px; height:45px; position: fixed; bottom: 100px; right:50%; margin-right: -575px; background: #009ee8; cursor: pointer; }
.backtop:hover{ background: #0181b1;}

/* photo-box */
.photo-box1, .photo-box2, .photo-box3, .photo-box4, .photo-box5{ width: 100%;  height: auto;  overflow: hidden;  position: fixed;  z-index: 19; top: 0;  left: 0; display: none; }
.shadow{  width:100%;  height:100%;  overflow: hidden;  position:fixed;  z-index:99;  background:#000;  filter:alpha(Opacity=65);  -moz-opacity:0.65;  opacity: 0.65;  display:none;  left:0; }
.image-player{ position:fixed;  z-index:9999;  width:800px;  height:600px; top: 50%; margin-top: -300px; overflow: hidden;  margin:0 auto;  background-color:#1B1B1B;  display:none;  background-position:center center;  background-repeat:no-repeat;  background-size:contain;  padding:15px 0;  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .3);  box-shadow: 0 5px 10px rgba(0,0, 0, .3); }
.close{ width:35px;  height:35px;  border-radius:20px;  position:absolute;  z-index:10000;  display:none;  cursor:pointer; }
.title{ position:absolute;  z-index:999;  width:90%;  height:30px;  line-height:30px;  left:3%;  top:490px;  text-align:left;  color:#CCC;  }
.image-player ul{ overflow: hidden;  text-align:center;  height:470px;  position:absolute;  z-index:99;  }

.image-player ul li{ float: left;  overflow:hidden; }
.image-player ul li img{ width:100%;  }
.bottom{ width:100%;  height:110px;  overflow:hidden;  background:#333;  position:absolute;  z-index:9;  top:520px;  left:0;  }
.playernum{ float:left;  width:747px;  height:110px;  overflow:hidden;  background:#333;  position: relative;  }
.image-player ol{ height: 90px;  text-align: center;  padding:10px 0;  overflow:hidden;  position:absolute;  z-index:999;  left:0;  }

.image-player ol li{ overflow:hidden;  float:left;  margin-left:6px; border:1px solid #3E3E3E; cursor: pointer; }
.image-player ol li img{  width:100%;  }
.image-player ol .active{ width: 75px;  margin: 0 auto;  float:left;  margin-left:6px;  border:1px solid #0BC5FB;}
.left{ width:20px;  height:20px;  margin:45px 0 45px 5px;  background-repeat:no-repeat;  background-position:center center;  background-size:50%;  }
.right{ width:20px;  height:20px;  margin:45px 5px 45px 0;  background-repeat:no-repeat;  background-position:center center;  background-size:50%;  }
.left{  background-image:url(//mat1.gtimg.com/gd/2017szjy/images/lefttag.png);  float:left;cursor: pointer; }
.left:hover{  background-image:url(//mat1.gtimg.com/gd/2017szjy/images/left-w.png);  }
.right{ background-image:url(//mat1.gtimg.com/gd/2017szjy/images/righttag.png);  float:right; cursor: pointer;}
.right:hover{  background-image:url(//mat1.gtimg.com/gd/2017szjy/images/right-w.png);  }


/*  |xGv00|f5438023c4ccad7603fd3de55bdd1cf9 */