body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{margin:0;padding:0 }
body,button,input,select,textarea{ font:12px/1.5 "microsoft yahei"}
h1,h2,h3,h4,h5,h6{ font-style:normal; font-weight: 100;font-size:100%}
em,b{font-style:normal}
a{text-decoration:none; outline: none;}
li{list-style:none}
a:hover{text-decoration:underline;}
a:link, a:visited { text-decoration:none;}
img{border:0}
p{word-wrap:break-word}
button,input,select,textarea{font-size:100%;outline:none; border: none;}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0}
input:focus { outline: none; }
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
select{ appearance:none;  -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none;}
::-webkit-input-placeholder{color:#464a53;}
:-moz-placeholder{color:#464a53;}
::-moz-placeholder{color:#464a53;}
html,body{ overflow-x: hidden;}
.fl{float: left;}
.fr{float: right;}
.clearfix{zoom:1;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.bg{ width: 100%; height: 900px;}
.bg1{ background: url(../images/bg_01.jpg) no-repeat top center; background-size: 100%; height: 1218px;}
.bg2{ background: url(../images/bg_02.jpg) no-repeat top center; height: 582px;}
.bg3{ background: url(../images/bg_03.jpg) no-repeat top center;}
.bg4{ background: url(../images/bg_04.jpg) no-repeat top center;}
.bg5{ background: url(../images/bg_05.jpg) no-repeat top center;}
.bg6{ background: url(../images/bg_06.jpg) no-repeat top center;}
.main{ width: 1200px; position: absolute; top: 0; left: 50%; margin-left: -600px; }
.img01{ width: 959px; background-size: 100%; margin: 0 auto; padding-top: 40px; z-index: 2; display: block;}
.img02{ width: 1168px; background-size: 100%; margin: 0 auto; padding-top: 127px; z-index: 2; display: block;}
.rule_con01{ width: 1069px; background-size: 100%; margin: 0 auto; padding-top: 52px; z-index: 2; display: block;}
.img03{ width: 1183px; background-size: 100%; margin: 0 auto; padding-top: 128px; margin-left: -10px; z-index: 2; display: block;}
.rule_con02{ width: 1059px; background-size: 100%; margin: 0 auto; padding-top: 52px; z-index: 2; display: block;}
.img04{ width: 954px; background-size: 100%; margin: 0 auto; padding-top: 132px; z-index: 2; display: block;}
.img05{ width: 837px; background-size: 100%; margin: 0 auto; padding-top: 40px; z-index: 2; display: block;}

















