/*
Í·²¿Í¨ÓÃcss
¸üÐÂÊ±¼ä:2014-06-11
°æ±¾:css0.0.1
×÷Õß:ryanguo
*/
body{font-family:ËÎÌå,Î¢ÈíÑÅºÚ,Arial, Helvetica, sans-serif; font-size:12px; -webkit-text-size-adjust:none;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#00a55d;}
/* Clear Fix */ 
.cl{zoom:1;}
.cl:after{content:"¡¡";display:block;clear:both;height:0;}

.hui,.hui a{color:#666; text-decoration:none;}
.hui a:hover{color:#00a55d; text-decoration:underline;}
.bai,.bai a{color:#fff; text-decoration:none;}
.bai a:hover{color:#fff; text-decoration:underline;}
.lv,.lv a{color:#088237; text-decoration:none;}
.lv a:hover{color:#088237; text-decoration:underline;}
.hong,.hong a{color:#ff4901; text-decoration:none;}
.hong a:hover{color:#00a55d; text-decoration:underline;}
.hei,.hei a{color:#333; text-decoration:none;}
.hei a:hover{color:#00a55d; text-decoration:underline;}

h1,h2,h3,.ft_wryh{font-family:"Î¢ÈíÑÅºÚ"; font-weight:normal;}

.mininav{width:100%; height:40px;}
#zthz{width:1000px; height:auto; margin: 37px auto 0; clear: both; overflow: hidden;}
#zthz .hd{height:50px; background: url(//mat1.gtimg.com/2014/xiaobai/zhuantihuizong/tm_bg_01.jpg);}
#zthz .hd .tl_ad{float: left; margin-right:50px;}
#zthz .hd h2{font: 32px/30px "Î¢ÈíÑÅºÚ"; float: left;}
#zthz .bd{padding-top:30px;}
.focus_A{width:680px;height:400px;position:relative;overflow:hidden; float: left;}
.focus_A .focus_con .item{position:relative;}
.focus_A .focus_con img{width:680px;height:380px;}
.focus_A .shadow{position:absolute;left:0;bottom:0;text-indent:1em;color:#FFF;width:100%;height:40px;line-height:40px;background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); font-size: 20px; font-family: "Î¢ÈíÑÅºÚ";}
.focus_A .shadow b{display: block; padding-left:40px; height:40px; background: url(//mat1.gtimg.com/2014/xiaobai/zhuantihuizong/v_ico_01.jpg) top left no-repeat; font-weight: normal;}
.focus_A .focus_dot{position:absolute;left:313px;bottom:0px;}
.focus_A .focus_dot a{display:inline-block;width:8px;height:8px;line-height:8px;margin-right:14px;background:#00952f;}
.focus_A .focus_dot a:hover,
.focus_A .focus_dot .current{text-decoration:none;background:#FF7E00;}
#zthz .hot_list{width:306px; float: right;}
#zthz .hot_list li{padding-bottom:18px;}
#zthz .hot_list h3{font-size:18px; line-height:32px;}
#zthz .hot_list p{line-height:18px; color: #878787;}

.tlbox_01{width:1000px; height:auto; margin:30px auto 0;}
.tlbox_01 .hd{height:30px; background: url(//mat1.gtimg.com/2014/xiaobai/zhuantihuizong/tm_bg_02.jpg); padding-left:48px;}
.tlbox_01 .hd h2{font-size:18px; line-height:30px;}
.tabs .tab_hd_item,
.tabs .tab_hd_item1{width:166px;height:40px; font: 18px/40px "Î¢ÈíÑÅºÚ"; text-align: center; color: #878787; float:left;}
.tabs .tab_hd_item{cursor: pointer;}
.tabs .tab_hd .current{color:#3d3d3d;}
.tabs .tab_bd{width:1000px;}
.tabs .tab_bd_item{padding-top:36px;}
.tabs .tab_bd .xiaozusai{width:1020px;}

#sszt .xz_box{width:235px; height:212px; float: left; padding: 0 20px 20px 0;}
#sszt .xz_box .p_list{width:213px; height:162px; padding:12px 0 0 20px; background: #f3ffed; border: 1px solid #e3eedc; overflow: hidden;}
#sszt .xz_box .p_list ul{width:206px;}
#sszt .xz_box .p_list li{width:103px; height:82px; float: left;}
#sszt .xz_box .p_list a{display: block; width:90px; height:68px; border: 1px solid #edf8e7; color: #fff; text-decoration: none; position: relative;}
#sszt .xz_box .p_list b,
#sszt .xz_box .p_list i{display: none; width:90px; height:24px; line-height:24px; text-align: center; position: absolute; bottom:0; left:0; font-style: normal;}
#sszt .xz_box .p_list b{background:#000;opacity:0.7;filter:alpha(opacity=70);}
#sszt .xz_box .p_list a:hover{text-decoration: none;}
#sszt .xz_box .p_list a:hover b,
#sszt .xz_box .p_list a:hover i{display: block; cursor: pointer;}
#sszt .xz_box .z_list .fenzu_on,
#sszt .xz_box .z_list .fenzu{height:36px;}
#sszt .xz_box .z_list .fenzu{background: url(//mat1.gtimg.com/2014/xiaobai/zhuantihuizong/team_bg_01.jpg);}
#sszt .xz_box .z_list .fenzu_on{background: url(//mat1.gtimg.com/2014/xiaobai/zhuantihuizong/team_bg_02.jpg);}
#sszt .xz_box .z_list .fenzu_on h3,
#sszt .xz_box .z_list .fenzu h3{display: block; width:45px; height:36px; line-height:36px; text-align: center; color:#09913e; font-size:16px; float: left;}
#sszt .xz_box .z_list .fenzu_on .on_btn,
#sszt .xz_box .z_list .fenzu .on_btn{margin-left:52px; line-height:36px; font-size: 14px; color: #fff; cursor: pointer;}
#sszt .xz_box .z_list .fenzu_on .on_btn{color: #ffe61b;}
#sszt .xz_box .z_list .t_list{border: 1px solid #34b45c; border-top:0; position: relative; z-index: 100; background: #fff; display: none;}
#sszt .xz_box .z_list .t_list li{height:28px; line-height:28px;}
#sszt .xz_box .z_list .t_list i{font-style: normal; color: #878787;}
#sszt .xz_box .z_list .t_list .time{width:70px; padding-left:7px; float: left;}
#sszt .xz_box .z_list .t_list .link .time{color:#525252;}
#sszt .xz_box .z_list .t_list .team{width:156px; text-align: center; float: left;}
#sszt .xz_box .z_list .t_list .link .team{color:#057142;}
#sszt .xz_box .z_list .t_list .link{display: block;width:100%; height:28px; cursor: pointer;}
#sszt .xz_box .z_list .t_list .link:hover {background: #e1fff1; text-decoration: none;}

#sszt .pt_list{width:1000px; overflow: hidden;}
#sszt .pt_list ul{width:1020px; height:464px;}
#sszt .pt_list li{width:235px; padding:0 20px 20px 0; line-height:36px; text-align: center; font-size: 14px; float: left;}

#sszt .pti_box .ti_box h3{font: 18px/20px "Î¢ÈíÑÅºÚ";}
#sszt .box_4-1{width:1020px; height:464px;}
#sszt .box_4-1 .pti_box{width:490px; padding: 0 20px 28px 0; float: left;}
#sszt .box_4-1 .pti_box .pic_box{float: left; width:235px;}
#sszt .box_4-1 .pti_box .ti_box{float: left; width:223px; height:144px;}

#sszt .box_2-1{width:1020px; height:464px;}
#sszt .box_2-1 .pti_box{width:490px; padding: 0 20px 20px 0; float: left;}
#sszt .box_2-1 .pti_box .ti_box{height:136px;}

#sszt .box_1-1{width:1000px; height:464px;}
#sszt .box_1-1 .left{width:500px; float: left;}
#sszt .box_1-1 .right{width:478px; height:255px; padding:20px 0 0 22px; background: #f3ffed; float: left;}
#sszt .box_1-1 .right .ti_box{padding-right:20px;}
#sszt .box_1-1 .right .ti_box h3{font: 18px/20px "Î¢ÈíÑÅºÚ";}
#sszt .box_1-1 .right .ti_box p{margin-top: 10px; color:#878787; line-height:20px;}
#sszt .box_1-1 .right .pt_list li{width:219px; padding:26px 20px 0 0; float: left; line-height:30px; font-size: 14px; text-align: center;}

#xxs .bd{padding-top:20px;}
/* Ë®Æ½¹ö¶¯ */
.scroll_A{position:relative;}
.scroll_A .inner{position:relative;width:1000px;height:214px;overflow:hidden;}
.scroll_A .split{width:235px;height:120px;float:left;padding:0 20px 0 0; line-height:40px; text-align: center; font-size: 14px;}
.scroll_A .btn{position:absolute;top:40%;margin-top:-20px;width:55px;height:55px;cursor:pointer;font-size:40px; text-align: center; line-height:55px; color: #fff; text-decoration: none;background:#057142;opacity:0.7;filter:alpha(opacity=70);}
.scroll_A .prev{left:0;}
.scroll_A .next{right:0;}

.tlbox_01 .pti_box{float: left;}
.tlbox_01 .pti_box .ti_box{padding:16px; background: #f3ffed;}
.tlbox_01 .pti_box .ti_box h3{display:block; width:100%; text-align: center; font-weight: bold; font-size: 14px; line-height:20px; font-family: "ËÎÌå";}
.tlbox_01 .pti_box .ti_box p{margin-top: 10px; color:#878787; line-height:20px;}

#lgc,
#rch{width:1000px; overflow: hidden;}
#lgc .bd,
#rch .bd{width:1020px; padding-top:20px;}
#lgc .pti_box,
#rch .pti_box{width:235px; padding-right:20px;}

#ffr{width:1000px; overflow: hidden;}
#ffr .bd{width:1020px; padding-top:20px;}
#ffr .pti_box{width:320px; padding-right:20px;}

#yysjb .bd{padding-top:20px;}
#yysjb .left{width:400px; float: left;}
#yysjb .right{width:600px; float: right;}
#yysjb .v_pt_box{float: left;}
#yysjb .v_pt_box a{display:block; position: relative;}
#yysjb .v_pt_box b,
#yysjb .v_pt_box em{display: block; height:40px; position: absolute; bottom:0; left:0; font-style: normal; font: 16px/40px "Î¢ÈíÑÅºÚ";}
#yysjb .v_pt_box b{width:100%; background:#000;opacity:0.7;filter:alpha(opacity=70);}
#yysjb .v_pt_box i{display: block; width:40px; height:40px; background: url(//mat1.gtimg.com/2014/xiaobai/zhuantihuizong/v_ico_01.jpg);position: absolute; bottom:0; left:0;}
#yysjb .v_pt_box em{left:50px;}
#yysjb .p_400x400,
#yysjb .p_400x400 a,
#yysjb .p_400x400 img{width:400px; height:400px;}
#yysjb .p_400x200,
#yysjb .p_400x200 a,
#yysjb .p_400x200 img{width:400px; height:200px;}
#yysjb .p_200x200,
#yysjb .p_200x200 a,
#yysjb .p_200x200 img{width:200px; height:200px;}

#flashShow{width:1000px; height:260px; margin: 20px auto 0;}
#flashShow_100x300{width:100px; height:300px; position: absolute; top:260px; left:50%; margin-left:560px;}/*  |xGv00|56bef1c4be8875dbc285a58f4a568d3b */