html { background: #fff; }
body { margin: 0px; padding: 0px; font-size: 14px; color: #666; font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; word-wrap: break-word; }
div { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
input, textarea, div { resize: none; outline: none; font-size: inherit; }
.fileset { border: 1px solid #d3d2d1; border-radius: 5px; }
input:focus, select:focus, button:focus, textarea:focus { outline: none; }
ul { margin: 0px; padding: 0px; list-style: none; }
dl, dt, dd { margin: 0; }
a { font-size: inherit; text-decoration: none; color: #4183C4; cursor: pointer; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
a:hover, a:active { text-decoration: none; }
a img { border: 0px; margin: 0; padding: 0;}
i{display: inline-block;}
.clearfix:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
.clearfix { *zoom:1;} 
p { word-wrap: break-word; text-align: justify; text-justify: inter-ideographic; }
.transition_0_2 { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.abs { position: absolute; }
.rel { position: relative; }
/*margin padding*/
.mr10 { margin-right: 10px!important; }
.mr20 { margin-right: 20px!important; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px!important; }
.ml20 { margin-left: 20px!important; }
.ml30 { margin-left: 30px!important; }
.ml40 { margin-left: 40px!important; }
.mt5 { margin-top: 5px!important; }
.mt10 { margin-top: 10px!important; }
.mt20 { margin-top: 20px!important; }
.mt30 { margin-top: 30px!important; }
.mt40 { margin-top: 40px!important; }
.mt50 { margin-top: 50px!important; }
.mt60 { margin-top: 60px!important; }
.mt70 { margin-top: 70px!important; }
.mt80 { margin-top: 80px!important; }
.mt100 { margin-top: 100px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb40 { margin-bottom: 40px!important; }
.mb50 { margin-bottom: 50px!important; }
.mb130 { margin-bottom: 130px!important; }
.pl10 { padding-left: 10px!important; }
.pt10 { padding-top: 10px!important; }
.pt20 { padding-top: 20px!important; }
.pt30 { padding-top: 30px!important; }
.pt50 { padding-top: 50px!important; }
.pb10 { padding-bottom: 10px!important; }
.pb20 { padding-bottom: 20px!important; }
.pb30 { padding-bottom: 40px!important; }
.pb50 { padding-bottom: 50px!important; }
.pb75 { padding-bottom: 75px!important; }
.-mt60 { margin-top: -60px!important; }
.-mt40 { margin-top: -40px!important; }
.fl { float: left; }
.fr { float: right; }
/*  |xGv00|d3ec6e3954cbaa3d17fad44502975bbd */