@charset "gb2312";
/* CSS Document */
body{background:#f0f0f0; color:#232E45; font-family:"微软雅黑";}
.layout{background:#fff;}
/*.ads{margin-top:10px;}*/
a{color:#232E45; text-decoration:none;}
a:hover{color:#F30;}

.Q-hot{padding-bottom:12px; margin-bottom:10px; background: url(//mat1.gtimg.com/hn/images/index_2013/dot.png) 0 bottom repeat-x; text-align:center;}
.Q-hot em {font:normal 18px/28px 微软雅黑,simhei;}
.Q-hot p{line-height:32px; color:#888}
.Q-hot p a{padding:0 5px; color:#888;}
.Q-hot p a:hover{ color:#F30;}

.th a{color:#969696; padding:0 10px; text-decoration:none;}
.th a:hover{color:#F30;}
.th {height: 40px;background: url(//mat1.gtimg.com/hn/images/index_2013/splite_2.png) repeat-x; line-height:40px;color: #D2D2D2; margin-bottom:10px;}
.thl{width:388px; text-align:right; padding:2px 5px 0 0;}
.thr{width:387px; text-align:left; padding:2px 0 0 5px;}
.thm{width:175px;height: 40px;display: block;background: url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) no-repeat; }
.thm h2{display:none;}

.cBtn{ width:345px; padding-left:10px; height:32px; font:12px/20px "微软雅黑"; overflow:hidden; position:relative; z-index:2}
.cBtn li{ float:left; display:inline; margin:0 2px 0 0; border:1px solid #fff; border-bottom:1px solid #ccc;  padding:0 15px; cursor:pointer; height:30px; line-height:30px; overflow:hidden; font-size:14px; color:#232E45;}
.cBtn .current{border:1px solid #ccc; border-bottom:1px solid #fff;}
.cBody{width:345px; border-top:1px solid #ccc; margin-top:-1px; /*position:relative;*/ z-index:1; padding:10px 0 12px; font:12px/20px "微软雅黑"}
.sub .cBody {padding:18px 0 0;}
.sub .cBody .Q-tpWrap p{height:60px; overflow:hidden; }
.sub .cBody .Q-tpList em {height:24px; display:block;}
.sub .cBody .Q-tpWrap{height:90px;}

.hd{ background:url(//mat1.gtimg.com/hn/images/index_2013/splite_2.png) 0px -69px repeat-x; height:32px; line-height:32px; position: relative; margin:0 10px;}
h3,.hd h3,.extra h3{ font:14px/32px "微软雅黑";}
.hd h3{  font-weight:bold; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_2.png) repeat-x; padding-right:40px;}
.hd .more{position:absolute; top:0px; right:0px; background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 29px -355px no-repeat; padding-right:10px;}
.bd{padding: 10px 0 0;}

.mod_a .hd{background-position:0px -100px; margin:0px; height:37px; }
.mod_a h3{width:65px; padding:0; padding-top:5px; color:#232E45;}
.mod_a .more{ padding-top:5px; background-position: 29px -350px;}
.mod_a .Q-tpList em{font-weight:normal;}

.extra .bd{padding:0; padding-bottom:10px;}
.extra em{font-size:12px;}
.extra h3{ font-weight:bold; margin-bottom:0px;}
.extra .Q-tpList p{line-height:18px;}
.extra .Q-tpList p{margin-top:0;}

.top_add{ width:100%; height:34px; overflow:hidden;}
.header{ width:100%; height:71px; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_2.png) 0px -950px repeat-x; overflow: hidden;}
.wrap{ width:960px; margin:0px auto; z-index:1; clear:both; }
.nav{ height:71px; margin:0px auto; width:960px;  position:relative; _position:static; z-index:98; background:url(//mat1.gtimg.com/hn/images/index_2013/bg_nav.png) no-repeat;}
.header .logo a{ width:229px; height:51px; margin-top:10px; display:block; background:url(//mat1.gtimg.com/hn/images/index_2013/logo_dxw.png) no-repeat; text-indent:-999em}
.nav .mainnav{ width:660px; height:40px; line-height:35px; margin-left:50px; }
.nav .mainnav ul li{ width:75px; height:35px; padding-top:5px; float:left; color:#fff; cursor:pointer; text-align:center; font-size:16px; background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -455px no-repeat;}
.nav .mainnav ul li.current{background-color:#1a72ac;}
.nav .mainnav span{padding-left:22px;}
.nav .mainnav span.pd{background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -658px no-repeat;}
.nav .mainnav span.sq_n{background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -505px no-repeat;}
.nav .mainnav span.hd_n{background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -535px no-repeat;}
.nav .mainnav span.sj_n{background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -565px no-repeat;}
.nav .subnav{ width:660px;  height:31px; line-height:31px; zoom:1; overflow:hidden; margin-left:60px; }
.nav .subnav ul li{ float:left;}
.nav .subnav ul li a{ padding-right:15px; color:#fff; font-size:12px}
.nav .subnav ul li a:hover{color:#F30;}
.nav .toplink{ height:35px; line-height:35px; top:0px; right:0px; text-align:right; position:absolute; padding-left:12px; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -258px -144px no-repeat;}
.nav .toplink a{color:#fbff9b}

.news{padding-top:10px;}
.news .main{border-left:none; width:358px; padding-right:10px;}
.news .bd{padding-top:3px;}

.mod_focusA{height:245px;}
.fs_A1{ height:200px; position:relative; background:#000; width:335px; position:relative; }
.fs_A1 .shadow{ width:100%; position:absolute; top:166px; left:0px; z-index:10; height:34px; display:block; line-height:34px; text-align:center; background:url(//mat1.gtimg.com/hn/images/index_2013/gray.png) repeat; }
.fs_A1 .shadow a{ text-decoration:none; font-size:14px; font-weight:bolder; overflow:hidden; margin-left:10px; color:#fff; }
.fs_A1 .fcon{ position:relative; width:100%; float:left;  display:none;  }
.fs_A1 .A1fBt{ position:absolute; top:200px; left:100px; overflow:hidden; zoom:1; height:25px; padding-top:10px; z-index:10; }
.fs_A1 .A1fBt i{font-style:normal; display:none;}  
.fs_A1 .A1fBt a{display:block; float:left; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -194px -100px no-repeat; width:12px; height:12px; position:relative; margin:0 10px 0 0; color:#B0B0B0; font:12px/15px "微软雅黑"; text-decoration:none; text-align:center;}
.fs_A1 .A1fBt a:hover,.fs_A1 .A1fBt a.current{ background-position:-175px -100px; color:#fff}
.fs_A1 .fcon img{ display:block; }

.cft,.sdhn,.jplm,.sp{margin-right:20px;}
.cft em{font-size:14px; line-height:2em;}
.cft p{color:#888; line-height:1.6em;}
.cft .diaocha{margin-top:15px;}
.join_more em{color:#888;}
.join_more p a{font-size: 14px; background: url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -3px no-repeat; line-height: 24px; padding-left: 10px; font-size:12px;}
.pollbar{height: 60px; text-align: center; width: 205px; margin-left:60px; position:relative;}
.bar_zhichi{background:transparent; display: inline; float: left; overflow: hidden; width: 200px; height: 25px; position:absolute; top:0px; left:0px;}
.bar_fandui{background:transparent; display: inline; float: left; overflow: hidden; width: 200px; height: 25px; position:absolute; top:0px; right:0px;}
.nub_zhichi{display: block; float: left; font-family: Verdana; font-size: 13px; font-weight: bold; height: 40px; line-height: 40px; text-align: center; width: 40px; position:absolute; top:0px; left:-60px; color:#fff; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -176px -151px no-repeat;}
.nub_fandui{display: block; float: left; font-family: Verdana; font-size: 13px; font-weight: bold; height: 40px; line-height: 40px; text-align: center; width: 40px; position:absolute; top:0px; right:-60px; color:#fff; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -218px -151px no-repeat;}
#zheng{background: none repeat scroll 0 0 #75B1D6; bottom: 0px; height: 10px; left: 0; margin: 0; padding: 0;position: absolute;width: 200px;}
#fan{background: none repeat scroll 0 0 #e94830; bottom: 0px; height: 10px; right: 0; margin: 0; padding: 0;position: absolute;width: 200px;}
#apps_svy_digg .option{ height:50px; width:205px; position:absolute; top:0; left:0; z-index:99;}
/*#apps_svy_digg .option a { position:relative; z-index:100;}*/
#apps_svy_digg .count{color: #333532;font-family: "Verdana";font-size: 16px; text-align: center;}
#apps_svy_digg .digg{color: #CCCCCC; font-size: 12px;line-height: 20px;text-align: center; position:absolute; bottom:0;}
#apps_svy_digg .digg a{color: #1485ED; text-decoration: none;}
#apps_svy_digg .digg a:hover{text-decoration: underline;}
.lBtn .count{ left:0;}
.rBtn .count{ right:0;}
.lBtn .text{position:absolute; top:0; left:0; color: #75B1D6; font-size:12px;}
.rBtn .text{position:absolute; top:0; right:0; color: #e94830; font-size:12px;}
.diggleft, .diggright{text-align: center;}
.diggleft{color: #75B1D6; font-size: 12px;line-height: 30px; width:40px; height:40px; position:absolute; top:0px; left:-60px;}
.diggleft a,.diggright a{display:block; width:40px; height:40px;}
.diggright{color: #e94830;font-size: 12px;line-height: 30px; width:40px; height:40px; position:absolute; top:0px; right:-60px;}
.diggright a,.diggright { color: #fff; text-indent:-9999px;}
.diggleft a,.diggleft { color: #fff; text-indent:-9999px; }

.sdhn{margin-top:18px;}
.sdhn h3{font-weight: bold;}
.sdhn em{font-size:14px; line-height:2em; zoom:1; overflow:hidden;}
.sdhn span{float:right; color:#888;}
.sdhn p{color:#888; line-height:2em;}

.jplm{margin-top:18px;}
.jplm em{margin-left:-4px;}
.jplm li{background:none; margin-left:-14px; font-size:14px; line-height:26px;}
.jplm p{line-height:23px;}

.sp{margin-top:15px;}
.sp li{ background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -387px no-repeat;  padding-left:23px; font-size:14px; line-height:28px;}
.sp p{line-height:23px;}
.sp .Q-tpList .other{margin-top:10px;}

.topNews{padding-top:5px;}
.topNews h2 {line-height:45px;}
.topNews h2 a{color:#e54830; font-size:20px; font-weight:bold;}
.topNews h2 a:hover{color:#cd0200;}
.topNews .Q-hot{padding-bottom:14px;}
.topNews .Q-hot p{line-height:26px;}
.topNews .Q-hot p a{color:#232E45;}
.topNews .Q-hot p a:hover{color:#F30;}
.ht{margin-top:10px; position:relative; padding-left:32px; text-align:left;}
.ht em{font-size:12px; line-height:18px; *line-height:19px; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -210px -250px no-repeat; color:#fff; display:block; position:absolute; top:4px; *top:2px; left:0px; width:32px; height:21px; text-align:center;}
.topNews .ht p a{color:#e54830; font-size:14px; padding:0 8px; font-weight:bold;}

.newsList .Q-tList{}
.newsList li{line-height:2em; padding-left:0px; background-position:0px 3px;}
.newsList a{padding-left:12px;}
.newsList .hr{border-bottom:1px #ccc dotted; margin:12px 10px 13px; *margin:17px 10px 13px;}

.sq{margin-top:12px;}
.sq li{background:none; margin-left:-14px; font-size:14px; line-height:26px;}
.sq p{line-height:23px;}
.sq .more{background-position: 54px -350px;}
.jplm em,.sq em{margin-bottom:6px;*margin-bottom:5px; display:block;}

.sh{margin-top:15px;}
.sh .Q-tList{margin:0;}
.sh li{padding-left:12px; line-height:29px; height:29px; background-position:0px 2px;}

.sq,.sh{padding:0 10px;}

.wsh .hd{background:none;}
.wsh .bd{ background:url(//mat1.gtimg.com/hn/images/index_2013/dot.png) 4px 0px repeat-y; padding-bottom:0px;}
.wsh h3{color:#333; background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -50px no-repeat; padding-left:20px;}
.wsh .more{ background:none; font-size:14px; top:0px;}
.wsh em{font-size:14px;}
.wsh span{padding:2px 3px; font-size:12px; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -225px -95px no-repeat; color:#fff;}
.wsh dt{height:23px; line-height:26px; background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -326px no-repeat; padding-left:15px;}
.wsh dd{ padding-left:15px; display:none;}
.wsh dd.cur{display:block;}
.wsh img{border:1px #aadaf3 solid; padding:1px;}
.wsh p{height:32px; overflow:hidden;}
.wsh p.wb{text-align:right; line-height:22px; height:22px;}
.wsh p a{padding:0 3px;}

.yhs{margin-top:13px;}
.yhs .more{background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -176px -192px repeat-x; color:#fff; padding-left:5px;}

.yeka .cBtn,.yeka .cBody{width:100%;}
.yeka .cBtn{background:url(//mat1.gtimg.com/hn/images/index_2013/splite_2.png) 0px -100px repeat-x; padding-left:0;}
.yeka .cBtn li{margin:0; border:none; padding:0 15px 0 0; cursor:pointer;}
.yeka .cBtn h3{width:auto; font-weight:normal;}
.yeka .cBtn .current h3{border:none; font-weight:bold; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_2.png) repeat-x;}
.yeka .cBody {border-top:none;}
.yeka_fc .cBtn,.yeka_fc .cBody{width:100%;}
.yeka_fc .cBtn li{border:none; font-weight:bold;}
.yeka_fc .cBtn .current{background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -195px -116px no-repeat; color:#fff; font-weight:bold;}
.yeka_fc .Q-tpWrap{position:relative; padding-bottom:15px; margin-bottom:10px; background: url(//mat1.gtimg.com/hn/images/index_2013/dot.png) 0 bottom repeat-x;}
.yeka_fc .price{ padding-left:115px; background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 100px -304px no-repeat;}
.yeka_fc .area{ position:absolute; top:0; right:0; display:block; background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -274px no-repeat; padding-left:12px;}
.yeka_fc .cBody{padding-bottom:0; border-top:0;}

.zth{position:relative; margin-top:10px;}
.zth .cBody .more{ position:absolute; right:10px; top:8px; z-index:10; display:block; width:32px; background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) 29px -358px no-repeat;}
.zth .Q-tpList p,.yhs .Q-tpList p{line-height:20px; margin-top:0;}

.tuij .cBody{padding:4px 0 8px;}
.tuij .Q-tList{margin:0;}
.tuij .Q-tList li{font-size:12px;}

.wy-ad{margin-left:-15px;}

.hdjxs{margin-top:-26px;}
.hdjxs .hd{background: url(//mat1.gtimg.com/hn/images/index_2013/splite_2.png) 0px -100px repeat-x; margin:0;}
#ScC1 {position:relative; padding-bottom:15px;}
#ScC1 .scwr{ position:relative; top:0px; left:12px; overflow: hidden; zoom: 1; width:935px; height:180px;}  
#ScC1 .split{ float:left; width:189px; height:175px;  padding:0 22px; border-right:1px #ccc solid; position:relative;}  
#ScC1 .split img{ width:185px; height:120px; display:block; border:3px #ccc solid; overflow:hidden;  }  
/*#ScC1 .split a:hover{ background:red; }*/  /*ie6,7*/  
#ScC1 .split a:hover img{ border:3px #e54830 solid; }   
#ScC1 .split p{ text-align:left; font-size:14px; line-height:2em; margin-top:15px;}
#ScC1 .split a.join_hd{width:185px; height:38px; line-height:38px; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -90px -300px no-repeat; display:block; position:absolute; bottom:0; right:24px;}
#ScC1 .cols2{ position:absolute; top:20px; left:68px; overflow:hidden; zoom:1; width:666px;}  
#ScC1 .cols{ position:absolute;  width:9999px; }      
#ScC1 .prev{ width:14px; height:40px; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -175px 0px no-repeat; display:block; position:absolute; top:35px; left:0px; cursor:pointer;}  
#ScC1 .next{ width:14px; height:40px; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -189px 0px no-repeat; display:block; position:absolute; top:30px; right:0px; cursor:pointer;}  
#ScC1 a.prev:hover{ display:block;}       
#ScC1 .wr{ height:283px; position:relative; overflow:hidden; }  
#ScC1 a.next:hover{ display:block;}       
#ScC1 .wr{ height:283px; position:relative; overflow:hidden; }    
#ScC1 .count{ float:left; }  
#ScC1 .prevMouseClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -175px -250px no-repeat; }
#ScC1 .nextMouseClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -189px -250px no-repeat; }
#ScC1 .prevStopClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -175px -250px no-repeat; }
#ScC1 .nextStopClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -189px -250px no-repeat; }

.ScC2{ position:relative; padding-bottom:10px;}  
.ScC2 h3{line-height:26px;}
.ScC2 .scwr{ position:relative; top:0px; left:0px; overflow: hidden; zoom: 1; width:215px; height:95px; } /*可视宽度width,height必须设置 */     
.ScC2 .split{ float:left; margin-right:15px;}   
.ScC2 .split p{line-height:20px;width: 100px;height: 20px;overflow: hidden;}
.ScC2 .prev, .ScC2 .next{ width:14px; height:14px; display:block; position:absolute; top:7px; cursor:pointer }  
.ScC2 .prev{ background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) -1px -439px no-repeat; right:30px;}    
.ScC2 .next{ background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) -1px -425px no-repeat; right:10px; }     
.ScC2 .prevMouseClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) -1px -439px no-repeat; }  /*鼠标划过状态*/  
.ScC2 .nextMouseClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) -1px -425px no-repeat; }    /*鼠标划过状态*/  
.ScC2 .prevStopClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) -1px -439px no-repeat; }  /*鼠标停滞状态*/  
.ScC2 .nextStopClass{ background:url(//mat1.gtimg.com/hn/images/index_2013/i.png) -1px -425px no-repeat; }   /*鼠标停滞状态*/  

.fc_jj .th{ background-position: 0 -150px}
.fc_jj .thm{ background-position: 0 0px}
.fc .hd h3{ background-position: 0px -170px ;}
.jj .hd h3{ background-position: 0px -220px ;}
.ylq{ padding-bottom:10px; border-bottom:1px #999 solid;}

.qc_lc .th{ background-position: 0 -300px}
.qc_lc .thm{ background-position: 0 -50px}
.qc .hd h3{ background-position: 0px -320px ;}
.qc .Q-tList li{ width:47%; float:left; padding-left:0; background:none; margin-right:10px;}
.qc .Q-tList li a{padding-left:12px; background: url(//mat1.gtimg.com/hn/images/index_2013/i.png) 0px -4px no-repeat; padding-right:5px;}
.lc .hd h3{ background-position: 0px -370px ;}
.qc_lc .ads{margin-top:15px;}
.ylq{ padding-bottom:10px; border-bottom:1px #999 solid;}

.auto_bj{ width:210px;}
.auto_bj h5{ color:#fff; font-size:14px;}
.auto_bj h5 span{ background:#3968ae; padding:3px 5px;}
.auto_bj ul{ margin-top:15px; padding-bottom:20px; border-bottom:solid 1px #999; margin-bottom:20px;}
.auto_bj ul li{ height:26px; line-height:26px; font-size:12px; color:#333; padding-left:5px;}
.auto_bj ul li.on{ background:#efefef;}
.auto_bj ul li span{ display:inline-block; margin-left:10px;}
.auto_bj ul li span.aotu_mc{ width:40px;}
.auto_bj ul li span.aotu_up{ width:70px; text-align:center; color:#800000; background:url(//mat1.gtimg.com/hn/images/index_2013/splite_1.png) -258px -182px no-repeat;}
.auto_bj ul li span.aotu_bfb{ width:65px; text-align:center; color:#1d3f84;}
.auto_bj ul li span.bti{ background:none; color:#333;}
.auto_ss{}
.tool legend{display:none;}
.tool .link{position:absolute;top:12px; right:15px;}
.tool .link a{color:#333; font-size:12px;}
.dbsele{width:210px; float:left; display:inline; position:relative;}
.dbsele .z1,.dbsele .z2{width:140px; padding:5px 0 0 10px;margin:0; }
.dbsele .z2{width:140px;}
.z3-input{ background:#4bb2e6; display:inline-block; font-size:12px; color:#fff; text-align:center; text-decoration:none; border:none; border-right:solid 1px #d5edf9;}
.dbsele .z3-input{ width:45px; height:45px; line-height:45px; position:absolute; top:0; right:0}
.z3{width:35px; height:23px; float:left; text-align:left}
.z3 input{width:33px; height:18px; background:url("//mat1.gtimg.com/auto/2010/index2010/one.png") repeat scroll -567px -130px transparent; border:none; color:#E6EFF9; margin-top:1px; padding-top:0px;*padding-top:2px;_padding-top:2px; padding-left:6px;*padding-left:2px;_padding-left:2px;  cursor:pointer}
.scrinput{width:210px; height:23px; float:left; display:inline; margin-top:15px;}
.scrinput .z3-input{ width:45px; height:23px; line-height:23px;}
.scrinput .z1{width:152px; height:23px; float:left; display:inline;}
.scrinput .z1 input{padding-left:5px;width:147px; height:23px; line-height:23px; border:medium none;float:left; color:#999999;background:url("//mat1.gtimg.com/auto/2010/index2010/one.png") repeat scroll 0 -130px transparent;}
#scr1029 .line{width:3px; height:21px; background:url(//mat1.gtimg.com/auto/datalib/autoindex/scr1029_08.gif) no-repeat; float:left; display:inline; margin-left:15px; margin-right:15px;}
.zimu{ font-family: Arial; font-size:12px;  font-weight:bold; color:#3D5B8B }
.zimu a,.zimu span{width:22px; height:17px; margin-right:2px; padding-top:3px;float:left; display:inline;color:#3D5B8B}
.zimu span{width:auto;}
.zimu a:hover{width:20px; height:17px; border:1px solid #FF9900; float:left; display:inline; background:#fff; text-decoration:none} 
.xcdcont{width:124px;border:1px solid #808080; background:#000; position:absolute; z-index:9999; top:23px; left:0px; background:#fff; overflow: auto; display:none}
.xcdcont h4{padding-left:8px;} 
.menulist{ width:99px; margin-left:1px;}
.menulist ul li.jz{ text-align:center; color:#999999; font-family:Verdana; font-weight:bold}
.menulist ul li a{ color:#000;display:block; height:22px;line-height:22px;text-indent:8px;}
.menulist ul li a:hover{ background:#DBDBDB; height:22px;line-height:22px; text-decoration:none; color:#000}
.menulist ul.one li{ background:#E8E8E8; text-indent:8px;}
.menulist ul.two li{ background:#fff; text-indent:8px;}
.default_cursor{cursor:hand;cursor:pointer;}
.auto_height{height:auto;}
#id_seriallist a{width:122px;}
#id_seriallist ul li{line-height:21px;}
#id_bodyworklist a{width:126px;}
/* 搜索SMARTBOX */
#search_inputlist {font:12px/1.75 "宋体",arial,sans-serif;background:#ffffff;}
#search_inputlist ol,#search_inputlist ul {list-style:none}
#search_inputlist h1,#search_inputlist h2,#search_inputlist h3,#search_inputlist h4,#search_inputlist h5,#search_inputlist h6{font-size:100%;font-weight:400;}
#search_inputlist legend{display:none;}
#search_inputlist a{color:#000;text-decoration:none;}
#search_inputlist a:hover{color:#000;text-decoration:underline;}
#search_inputlist {width:211px; border:1px solid #808080; border-top:none; top: 23px;text-align: left;}
#search_inputlist ul{ padding:0 1px;}
#search_inputlist ul li{line-height:22px; display:block}
#search_inputlist ul li a{ line-height:22px;padding-left:3px;display:block;zoom:1;}
#search_inputlist ul li a:hover{text-decoration:none}
#search_inputlist .focus2{line-height:22px;padding-left:3px;background:#DBDBDB; display:block; text-decoration:none}
#search_inputlist .tips{ border-top:1px solid #d5d5d5; line-height:16px; margin:0 auto; padding:5px 2px; color:#666}
#search_inputlist .tips .red{color:#f00}

.yl_ss .th{ background-position: 0 -450px}
.yl_ss .thm{ background-position: 0 -100px}
.yl .hd h3{ background-position: 0px -470px ;}
.ss .hd h3{ background-position: 0px -520px ;}
.ylq{ padding-bottom:10px; border-bottom:1px #999 solid;}
.ycs{ margin-top:7px;}
.ycs h3{ margin-bottom:5px;}

.ms_ly .th{ background-position: 0 -600px}
.ms_ly .thm{ background-position: 0 -150px}
.ms .hd h3{ background-position: 0px -620px ;}
.ly .hd h3{ background-position: 0px -670px ;}
.xbtd{ padding-bottom:10px; border-bottom:1px #999 solid;}

.jk_bb .th{ background-position: 0 -750px}
.jk_bb .thm{ background-position: 0 -200px}
.jk .hd h3{ background-position: 0px -770px ;}
.bb .hd h3{ background-position: 0px -820px ;}
.jkft{ border-bottom:1px #999 solid;}

.ms_ly .extra .Q-tpList p,.jk_bb .extra .Q-tpList p{line-height:20px;}

.xsj .th{ background-position: 0 -900px}
.xsj .thm{ background-position: 0 -250px}
.xsj li{width:160px; margin:0px 16px;}
.xsj p{line-height:30px;}
.xsj .Q-pList{padding-top:10px;}

.zsdxw ul{height:58px; background:url(//mat1.gtimg.com/hn/images/index_2013/hands_hn.gif) no-repeat; padding-left:113px; position:relative;}
.zsdxw li{background:url(//mat1.gtimg.com/hn/images/index_2013/hands_hn.gif) no-repeat; height:58px; float:left; text-indent:-9999px; position:absolute; top:0px; cursor:pointer;}
.zsdxw li.a{width:408px; background-position:-113px -58px;}
.zsdxw li.b{width:251px; left:492px; background-position:-492px -116px;}
.zsdxw li.c{width:251px; left:709px; background-position:-709px -174px;}

.area_site em,.friend_link em{font:14px/30px 微软雅黑 bold;}
.area_site p,.friend_link p{line-height:2em;}
.area_site a,.friend_link a{padding-right:12px;}
.area_site{padding-bottom:10px;}
.friend_link{border-bottom:1px #ccc solid; padding-bottom:10px;}

.footer{padding-top:0px;}/*  |xGv00|0fc37dc270eeb762b4eea955b9f69e08 */