@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0; border:none;}
ul,li{ list-style:none; overflow:hidden;}
a:link,a:visited{ text-decoration:none; color:#666;}
a:hover,a:active{ text-decoration:underline; color:#3694c4; opacity:0.9;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.hr20{ height:20px; overflow:hidden;}

body{ font:normal 14px/22px "Microsoft YaHei"; color:#666;}

.wrap{ width:1000px; margin:0 auto; overflow:hidden;}

.header{ height:34px; padding:10px 0; line-height:34px;}
.header .logo{ width:145px; padding-right:100px; background:url(//mat1.gtimg.com/fj/travel/2017index/logo.png) no-repeat; text-indent:-1000em;}

.title{ height:42px; margin-bottom:20px; background:url(//mat1.gtimg.com/fj/travel/2017index/baotuan/title.gif) no-repeat left center #52a7d2;}
.title h1{ text-indent:-1000em;}
h2{ height:30px; padding-left:20px; margin-bottom:15px; overflow:hidden; font:normal 18px/30px "Microsoft YaHei"; color:#333; border-left:4px #52a7d2 solid;}
.zutu{ width:460px; height:356px; overflow:hidden; position:relative;}
.item-con{ width:495px;}

/* 组图 */
.flashBanner{width:460px;height:356px;overflow:hidden;}
.flashBanner{position:relative;}
.flashBanner .mask{height:66px; width:470px; position:absolute;left:0;bottom:0;overflow:hidden;}
.flashBanner .mask img{ width:110px; height:66px;margin-right:7px;cursor:pointer; float:left; display:inline;}
.flashBanner .mask img.show{ width:106px; height:62px; border:2px #ffa024 solid;}

/* 右侧信息 */
.item-con{ width:495px; height:350px; padding-top:6px; overflow:hidden; font-size:14px; color:#666;}
.item-con .item{ overflow:hidden;} 
.item-con .item .fl{ height:46px; overflow:hidden; line-height:46px;}
.item-con .item .fr{ padding-top:20px;}
.item-con .item h5{ line-height:46px; font-weight:normal; border-bottom:1px #ccc dotted; margin-bottom:20px; font-size:14px;}
.item-con i{ font-style:normal; font-size:20px; color:#ff6000;}
.item-con .price{ font-style:normal; font-size:40px; color:#ff6000; padding-right:5px;}
.item-con .satisfied{ font-style:normal; font-size:22px; color:#ff6000;}
.item-con .join_btn{ width:110px; height:42px; margin-right:15px; display:inline-block; background-color:#ff9913; border-radius:3px; text-decoration:none; line-height:42px; text-align:center; font-size:18px; color:#fff; cursor:pointer;}
.item-con .item .qq{ margin-top:19px; display:inline-block;}
.item-con b{ font-weight:normal; line-height:30px; padding-top:15px; display:block;}
.item-con p{ line-height:24px; text-indent:2em;}

/* 扫码 */
.order_qrcode_btn{border:1px
solid #ccc;background:#fff;height:41px;padding:0
10px;font:normal normal 14px/41px "microsoft yahei";color:#666;cursor:pointer;position:relative;display:inline-block;z-index:2}
.icon_arrow{transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);-webkit-transition:-webkit-transform 0.5s;-moz-transition:-moz-transform 0.5s;-ms-transition:-ms-transform 0.5s;-o-transition:-o-transform 0.5s;transition:transform 0.5s}
.app_discounts{color:#f60;font-weight:bold}
.icon_qrcode{background:url("http://img.tuniucdn.com/img/201510132038/tour/u_order_qrcode.png") -8px -40px no-repeat}
.icon_qrcode{display:inline-block;vertical-align:middle;margin-left:4px;background:url("http://img.tuniucdn.com/img/201510132038/tour/u_order_qrcode.png") -8px -3px no-repeat;width:16px;height:16px}
.icon_arrow{position:absolute;bottom:4px;left:43px;width:9px;height:5px;background:url("http://img.tuniucdn.com/img/201510132038/tour/u_order_qrcode.png") -32px -11px no-repeat}

/* 详情 */
.tab-content{ width:1000px; margin:0 auto; overflow:hidden;}
.nav-collapse{ height:40px; background-color:#cbe4f1;}
.nav-collapse li{ height:34px; line-height:34px; padding:0 15px; float:left; display:inline; margin-left:20px; font-size:16px;}
.nav-collapse li.active{ border-bottom:2px #52a7d2 solid; font-weight:bold;}
.nav-collapse li a{ color:#666; text-decoration:none;}
.nav-collapse li.active a,.nav-collapse li:hover a{ font-weight:bold; color:#3694c4;}
.nav-collapse li:hover{ text-decoration:none; color:#fff; border-bottom:2px #52a7d2 solid;}
.nav-collapse.fixed{ width:1000px; position:fixed; top:0; left:50%; margin-left:-500px; z-index:999; }
.tab-box{ overflow:hidden; padding:50px; border:1px #ccc solid; margin-bottom:20px;}
.tab-box .con{ width:805px; padding-left:20px; line-height:26px; font-size:14px; color:#666;}
.tab-box h3{ width:73px; height:36px; padding-bottom:37px; float:left; display:inline; background:url(//mat1.gtimg.com/fj/travel/2017index/baotuan/xcjs.gif) no-repeat center 37px #52a7d2; text-align:center; font:normal 16px/36px "Microsoft YaHei"; color:#fff;}.tab-box .con h4{ width:797px; height:32px; line-height:32px; background-color:#f0f0f0; padding-left:8px; margin-bottom:15px; background:url(//mat1.gtimg.com/fj/travel/2017index/baotuan/tit_bg.gif) no-repeat left center #f0f0f0; padding-left:25px; font-weight:normal; color:#52a7d2;}
.tab-box .con .s_con{ padding-left:15px; padding-bottom:20px;}
.tab-box .con h5{ display:block; font-size:14px; font-weight:normal;}
.tab-box .con p.t2em{ padding-left:2em;}
.tab-box ul.pic li{ width:48%; height:240px; padding-right:2%; overflow:hidden; float:left; display:inline; padding-top:10px;}
.tab-box ul.pic li img{ width:100%; height:auto;}
.tab-box ul.pic li span{ display:block; text-align:center;}
.tab-box div.pic img{ width:100%;}

/* 回顶部 */
#gotopbtn{ background-image:url(//mat1.gtimg.com/fj/money/2012money/back_top.png);bottom:45px; height:54px; opacity:0.3;filter:alpha(opacity=30); width:54px; right:25px; display:block; position:fixed; display:none}
#gotopbtn:hover{opacity:1;filter:alpha(opacity=100); cursor:pointer;}

/* 报团 */
.blk{ width:420px; height:300px; background-color:#fff; padding:20px; border:5px #63b0d6 solid; border-radius:12px;}
.closeBtn{ float:right; display:block;}
.blk h3{ padding-bottom:20px;}
.control-group .pro{ min-width:65px !important;}
.control-group .city{ min-width:120px !important;}/*  |xGv00|d722eb04dd16ad49edec8c5669fc5c9f */