/* public
----------------------------------------------- */
body,div,h1,h2,h3,h4,h5,h6,p,ol,ul,li,table,th,td,dl,dt,dd,iframe,
form,input,textarea,select,label,
article,aside,audio,details,figcaption,figure,footer,header,hgroup,mark,menu,nav,section,summary,time,video{ margin: 0; padding: 0;}
article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,img,menu,nav,section,video{ display: block;}
html,body{ width: 100%; height: 100%; font-family: Helvetica,"STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,body{ font-size: 10px}/* 1rem = 10px */
textarea{ resize: none;}
iframe,img{ border: 0;}
ul,ol,li,dl,dt,dd{ list-style: none;}
input,select,textarea{ outline: 0; -webkit-user-modify: read-write-plaintext-only;}
input{ -webkit-appearance: none;}
a{ text-decoration: none;}

.tada{
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.bounceInUp{
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.rotateIn{
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* private
----------------------------------------------- */
.p-index {  position:relative; height: 100%; width: 100%; overflow: hidden; }
.page{ position:absolute; left:0; top:0%; overflow: hidden; width: 100%; height: 100%; background-repeat: no-repeat; background-size: 100% 100%; background-color: #000;}
.page.show { display:block; z-index:10;}
.page.hide { display:none; z-index:5;}
.page.active { display:block; z-index:15;}

/* page1 */
.page1{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/bg1.jpg);}
.page1 .logo,
.page1 .slogan,
.page1 .dajiang{ position: absolute; left: 50%; background-repeat: no-repeat; background-size: 100% 100%;}
.page1 .logo{ top: 17.92%; width: 33.13%; height: 5.56%; margin-left: -16.56%; background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/logo.png);}
.page1 .slogan{ top: 25.55%; width: 92.34%; height: 19.35%; margin-left: -46.17%; background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/slogan.png);}
.page1 .dajiang{ top: 34.03%; width: 91.56%; height: 13.43%; margin-left: -45.78%; background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/dajiang.png);}
.page1 p{ position: absolute; left: 50%; width: 75%; margin-left: -37.5%;}
.page1 .info1{ top: 54.56%; color: #333; font: 1.4rem/1.8rem "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";}
.page1 .info2{ top: 69.08%; color: #026367; font: bold 1.8rem/2.2rem "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";}

/* page2 */
.page2{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/bg2.jpg);}
.page2 h2{ position: absolute; left: 50%; top: 1%; width: 110px; height: 28px; margin-left: -55px; background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/tit1.png); background-repeat: no-repeat; background-size: 100% 100%; color: #fff; font: 16px/28px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page2 ul{ position: absolute; left: 50%; top: 8.24%; width: 300px; margin-left: -150px;}
.page2 li{ position: relative; float: left; width: 130px; height: 90px; margin: 0 10px 20px;
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.page2 li img{ width: 130px; height: 90px;}
.page2 li span{ display: block; position: absolute; left: 0; bottom: 24px; width: 40px; height: 17px; padding-right: 7px; background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/title.png); background-repeat: no-repeat; background-size: 100% 100%; color: #fff; font: 10px/17px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page2 li h3{ position: absolute; left: 0; bottom: 0; width: 130px; height: 24px;}
.page2 li h3 em{ display: block; width: 130px; height: 24px; background-color: #000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.page2 li h3 strong{ display: block; position: absolute; left: 0; bottom: 0; width: 130px; height: 24px; color: #fff; font: 12px/24px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page2 .chakan{ display: block; position: absolute; left: 50%; top: 85.77%; width: 110px; height: 35px; margin-left: -55px; border-radius: 17.5px; background-color: #ffb43d; color: #fff; font: 16px/35px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}

/* 规则 */
.guize{ display: none; position:absolute; left:0; top:0%; z-index: 99; width: 100%; height: 100%;}
.guize .bg{ display: block; width: 100%; height: 100%; background-color: #000; filter:Alpha(Opacity=80); -moz-opacity:0.8; opacity:0.8;}
.guize h2{ position: absolute; left: 50%; top: 1%; width: 10rem; height: 2.2rem; margin-left: -5rem; color: #ffb43d; font: 1.6rem/2.2rem "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.guize div{ position: absolute; left: 50%; top: 7.84%; width: 90%; margin-left: -45%;}
.guize div p{ margin: 10px 0 0; color: #fff; font: 1.5rem/2.6rem "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.guize div strong{ display: inline-block; margin-right: 0.6rem; padding: 0 0.5rem; border-radius: 1.3rem; background-color: #ffb43d; font: normal 1.5rem/2.6rem "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";}
.guize div h4{ color: #fff; font: normal 1.2rem/2.6rem "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";}
.guize .guizeClose{ display: block; position: absolute; right: 1%; top: 1%; width: 20px; height: 20px; background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/close.png); background-repeat: no-repeat; background-size: 100% 100%;}

/* page3 */
.page3{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/bg2.jpg);}
.page3 h2{ position: absolute; left: 50%; top: 1%; width: 165px; height: 28px; margin-left: -83px; background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/tit2.png); background-repeat: no-repeat; background-size: 100% 100%; color: #fff; font: 16px/28px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page3 ul{ position: absolute; left: 50%; top: 9.92%; width: 300px; margin-left: -150px;}
.page3 li{ margin-bottom: 10px;}
.page3 li:after{ display: block; clear: both; visibility: hidden; content: "."; height: 0;}
* html .page3 li{ height: 1%;}
.page3 label{ float: left; width: 70px; height: 30px; margin-bottom: 0; font: normal 15px/30px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; vertical-align: middle;}
.page3 input[type="text"]{ float: left; width: 200px !important;}
.page3 select{ float: left; width: 214px !important;}
.page3 select.col2{ width: 100px !important; margin-right: 14px;}
.page3 .btn{ display: block; position: absolute; left: 50%; top: 72%; width: 110px; height: 35px; margin-left: -55px; border-radius: 17.5px; background-color: #ffb43d; background-image: none; color: #fff; font: 16px/24px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page3 .marginB10{ margin-bottom: 10px;}

/* page4 */
.page4{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/bg2.jpg);}
.page4 h2{ position: absolute; left: 50%; top: 1%; width: 165px; height: 28px; margin-left: -83px; background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/tit2.png); background-repeat: no-repeat; background-size: 100% 100%; color: #fff; font: 16px/28px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page4 .tags{ position: absolute; left: 50%; top: 9.92%; width: 90%; margin-left: -45%;}
.page4 #tagTit_a{ position: absolute; left: 0; top: 0; width: 100%;}
.page4 #tagTit_a li{ float: left; width: 20%; height: 26px; background: #f8f8f8; font: 10px/26px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page4 #tagTit_a li.hover{ background: #ffb43d; color: #fff;}
.page4 .tags .bg{ height: 350px; background: #fff; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.page4 #tagBod_a{ position: absolute; left: 0; top: 26px; width: 100%;}
.page4 #tagBod_a ul{ width: 90%; margin: 0 auto; padding: 10px 0;}
.page4 #tagBod_a li{ height: 30px;}
.page4 #tagBod_a li strong{ float: left; font: bold 15px/30px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";}
.page4 #tagBod_a li strong a:link,.page4 #tagBod_a li strong a:visited{ border-bottom:1px solid #333;}
.page4 #tagBod_a li span{ float: right; font: 15px/30px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1";}
.loadingData{ overflow:hidden; width:200px; height:16px; margin:0 auto; padding:100px 0; text-align:center;}

/* page5 */
.page5{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/bg2.jpg);}
.page5 div{ position: absolute; left: 50%; background-repeat: no-repeat; background-size: 100% 100%;}
.page5 .qr{ top: 20%; width: 38.44%; margin-left: -19.22%;}
.page5 .qr h3{ color: #fff; font: 1.2rem/3rem "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page5 .qr img{ width: 144px; height: 144px;}
.page5 .share{ display: block; position: absolute; left: 50%; top: 65.97%; width: 160px; height: 35px; margin-left: -80px; border-radius: 17.5px; background-color: #ffb43d; color: #fff; font: 16px/35px "STHeiti","Droid Sans Fallback","\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.page5 .sharetips{ display:none; position:absolute; left:0; top:0%; z-index: 99; width: 100%; height: 100%; background:#000 url(//mat1.gtimg.com/auto/2015/xunjia/images/shre.png) right top no-repeat; filter:Alpha(Opacity=80); -moz-opacity:0.8; opacity:0.8; background-image:}
.page5 .sharetips a.shareClose{ width:100%; height:100%; z-index:9999;}


/* media query
----------------------------------------------- */
/* Retina */
@media only screen and (-o-min-device-pixel-ratio: 2/1), /* Opera */
       only screen and (min--moz-device-pixel-ratio: 2), /* Firefox 16 之前 */
       only screen and (-webkit-min-device-pixel-ratio: 2), /* Webkit */
       only screen and (min-resolution: 240dpi), /* 标准 */
       only screen and (min-resolution: 2dppx) /* 标准 */
{
	.page1 .logo{ background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/logo_2.png);}
	.page1 .slogan{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/slogan_2.png);}
	.page1 .dajiang{ background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/dajiang_2.png);}

	.page2 h2{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/tit1_2.png);}
	.page2 li span{ background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/title_2.png);}
	.guize .guizeClose{ background-image: url(//mat1.gtimg.com/auto/005/h5/xunjia/images/close_2.png);}

	.page4 h2{ background-image: url(//mat1.gtimg.com/auto/00s/1/xj/images/tit2_2.png);}
}

/* 屏幕尺寸 */

@media screen and (max-device-width:320px){
	html,body{ font-size: 10px;}
	.page3 div p{ line-height: 2.0rem;}
}

@media screen and (max-device-height:480px){
	.page5 .share{ top: 73%;}
}

@media screen and (min-device-width: 321px) and (max-device-width:375px){
	html,body{ font-size: 11.7px;}
	.page3 div p{ line-height: 2.6rem;}
}

@media screen and (min-device-width: 376px){
	html,body{ font-size: 13px;}
	.page3 div p{ line-height: 3.0rem;}
}

.dis{ display: block;}
.undis{ display: none;}
div.swipe_tip{width:49px;height:36px;z-index:5;position:absolute;right:10px;bottom:10px;background:url(//mat1.gtimg.com/news/2014mahang/mh370/hdtip_bg.png) no-repeat;-webkit-background-size:49px 36px;-moz-background-size:49px 36px;-o-background-size:49px 36px;background-size:49px 36px;}

/*  |xGv00|c07ba7bb975242159c056be7414eba42 */