@charset "gb2312";

/*
author:sevenqzhang
date:2013-11-12
*/

/*reset*/
body { margin:0; padding:0; background:#fff; font-family: "\u5b8b\u4f53", "Arial Narrow"; }
div, form, input, select, ul, ol, li, p, h1, h2, h3, h4, h5, h6, p, dd, dt, dl { margin:0; padding:0; }
ul, ol, li { list-style:none; }
body, table, select, input { font-size:12px; color:#004653; }
img { border:none; }
h1,h2,h3,h4,h5,h6{font-weight: normal;}
h1 { font-size: 16px; }
h2, h3 { font-size: 14px; }
h4, h5, h6 { font-size: 12px; }
.fl { float:left; }
.fr { float:right; }
.dis{display: block;}
.undis{display: none;}
.fyh{font-family: "\u5fae\u8f6f\u96c5\u9ed1","\u9ed1\u4f53";}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.clearfix{*zoom:1;}
.layout{ margin:0 auto; width:1000px; overflow:hidden; }
.opacity60{filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#99000000",endColorstr = "#99000000");}
:root .opacity60{filter:none;background:rgba(0,0,0,0.6);}


/* CSS Document */
a {color: #666;}
a:hover {color: #c00; text-decoration: none;}
.wryh{font-family: Microsoft Yahei;}
body{ margin: 0; padding: 0; background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/topbg.jpg) center 29px #f4f4f4 no-repeat;}  

.act_wrapper {
    zoom:1;
    color: #666666;
    font-size:12px; 
    line-height: 22px;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/centertop.jpg) center 0  no-repeat;
} /*重点*/  
.act_wrapper .act_inner {margin:auto; text-align: left; width: 1000px;}/*重点*/  
.act_box1{
    padding-top:365px;
}
.act_box1 h1,.act_box1 .t{
    display: none;
    text-indent: -999em;
}
.act_box1 h2{
    position: relative;
    height: 68px;
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.jpg) 0 0 no-repeat;
}
.act_box1 h2 div{
    position: absolute;
    height: 40px;
    line-height: 40px;
    top:15px;
    font-size: 32px;
    color: #fff;
    font-style: italic;
    font-family: 黑体;
}
.act_box1 h2 div span{
    font-size: 35px;
    color:#ffe288;
    font-family: Arial;
    text-shadow:1px 1px 1px #000;
}
.act_box1 h2 .count1{
    left: 292px;
}
.act_box1 h2 .count2{
    left: 720px;
}
.act_box1 .bd{
    height: 400px;
    background: #ffffff;
}
.act_box1 .focusp{
    padding:9px 17px 0 9px;
    width:680px;
    height: 349px;
}
.fs_A1{ height:349px; position:relative; background:#000; width:680px;}  
  
.fs_A1 .shadow{ width:100%;font-family: Microsoft Yahei; position:absolute; top:315px; left:0px; z-index:10; height:34px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block; line-height:34px; text-align:left; }  
.fs_A1 .shadow a{ text-decoration:none; color:#fff; font-size:14px; overflow:hidden; margin-left:20px; }  
.fs_A1 .fcon{ position:relative; width:100%; float:left;  display:none;  }

.fs_A1 .A1fBt{ position:absolute; top:320px; left:588px; overflow:hidden; zoom:1;  height:22px; z-index:10; }
.fs_A1 .A1fBt i{font-style:normal }    
.fs_A1 .A1fBt a{display:inline;float:left;width:22px;height:22px;position:relative;    
margin:0 1px 0 0;color:#fff;font:12px/22px "宋体";text-decoration:none; text-align:center; outline:0 }  
.fs_A1 .A1fBt a:hover,.fs_A1 .A1fBt a.current{ background:#c74d4d;color:#fff}  
.fs_A1 .fcon img{ display:block; }





.mr9{
    margin-right: 9px;
}
.act_box1 .latestinfo{
    width:280px;
}
.act_box1 .latestinfo h3{
    position: relative;
    height: 33px;
    line-height: 40px;
    border-bottom: 2px solid #a7a7a7;
    text-align: right;
    font-size: 12px;
}
.act_box1 .latestinfo h3 span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    left: 0;
}

.act_box1 .latestinfo ul{
    padding-top:9px;
}
.act_box1 .latestinfo ul li{
    padding-left: 10px;
    height: 34px;
    line-height: 34px;
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.png) 1px -135px no-repeat;  
}
.act_box1 .latestinfo ul li span{
    float: right;
}

.act_box2 .hd{
    height: 34px;
    padding:0 8px;
    background: #fff;
    
}
.act_box2 .hd h2{
    position: relative;
    border-bottom: 2px solid #a7a7a7;
    height: 34px;
    width: 100%;
}
.act_box2 .hd span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    left: 0;
}
.act_box2 .bd{
    background: #f5f0ef;
}
.act_box2 .flowimg_o{
    margin-bottom:92px;
}
.act_box2 .flowimg_n{
    position: relative;
    height: 698px;
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.png) #f5f0ef 158px -250px no-repeat;
}
.act_box2 .flowimg_n h3{
    display: none;
    text-indent: -999em;
}
.act_box2 .flowimg_n .org{
    padding-top: 4px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Microsoft Yahei;      
}
.act_box2 .flowimg_n .count{
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
}
.act_box2 .flowimg_n .flowblock1{
    position: absolute;
    width: 243px;
    height: 66px;
    top:57px;
    left: 51px;
    background: #f4ba19;
}
.act_box2 .flowimg_n .flowblock2{
    position: absolute;
    width: 306px;
    height: 66px;
    top:57px;
    left: 340px;
    background: #56b873;
}
.act_box2 .flowimg_n .flowblock3{
    position: absolute;
    width: 243px;
    height: 66px;
    top:57px;
    left: 699px;
    background: #5bc0bf;
}
.act_box2 .flowimg_n .flowblock4{
    position: absolute;
    width: 243px;
    height: 66px;
    top:171px;
    left: 51px;
    background: #ea8321;
}
.act_box2 .flowimg_n .flowblock5{
    position: absolute;
    width: 243px;
    height: 66px;
    top:171px;
    left: 699px;
    background: #2b9fdb;
}
.act_box2 .flowimg_n .flowblock6{
    position: absolute;
    width: 243px;
    height: 66px;
    top:284px;
    left: 51px;
    background: #e94810;
}
.act_box2 .flowimg_n .flowblock7{
    position: absolute;
    width: 243px;
    height: 66px;
    top:284px;
    left: 699px;
    background: #2c66b1;
}
.act_box2 .flowimg_n .flowblock8{
    position: absolute;
    width: 243px;
    height: 66px;
    top:399px;
    left: 51px;
    background: #d31d1a;
}
.act_box2 .flowimg_n .flowblock9{
    position: absolute;
    width: 243px;
    height: 66px;
    top:399px;
    left: 699px;
    background: #333591;
}
.act_box2 .flowimg_n .flowblock10{
    position: absolute;
    width: 243px;
    height: 66px;
    top:515px;
    left: 51px;
    background: #b2146b;
}
.act_box2 .flowimg_n .flowblock11{
    position: absolute;
    width: 306px;
    height: 66px;
    top:515px;
    left: 340px;
    background: #862c8c;
}
.act_box2 .flowimg_n .flowblock11 .org{
    font-size: 15px;
}
.act_box2 .flowimg_n .flowblock12{
    position: absolute;
    width: 243px;
    height: 66px;
    top:515px;
    left: 699px;
    background: #551e87;
}
.act_box2 .flowimg_n .flowblock12 .org{
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    padding:4px 0 0 10px;
    text-align: left;
}
.act_box2 .flowimg_n .flowtotal{
    position: absolute;
    width: 165px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#fff;
    text-align: center;
    top:341px;
    left: 413px;
    font-family: Arial;
}

.act_box3 .act_part3_row1{
    height: 500px;
    padding:0 6px;
}
.act_box3 .act_part3_row1 h3{
    position: relative;
    height: 49px;
    width: 100%;
    border-bottom: 2px solid #a7a7a7;
}
.act_box3 .act_part3_row1 h3 span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    _bottom:-3px;
    left: 0;
}
.act_part3_row1 .txtnews{
    width:438px;
    height: 449px;
}
.act_part3_row1 .txtnews .bblock{
    height: 122px;

}
.act_part3_row1 .txtnews .bblock .btitle{
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #000;
    padding-top:11px;
}
.act_part3_row1 .txtnews .bblock .btitle a{
    color: #000;
}
.act_part3_row1 .txtnews .bblock .btitle a:hover{
    color:#c00;
}
.act_part3_row1 .txtnews .bblock p{
    line-height: 22px;
    color: #a6a6a6;
}
.act_part3_row1 .txtnews ul{
    padding-top:18px;


}
.act_part3_row1 .txtnews ul li{
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.png) 0 -135px no-repeat;
}
.act_part3_row1 .txtnews ul li a{
    color:#3c3c3c;
}
.act_part3_row1 .txtnews ul li a:hover{
    color:#c00;
}

.act_part3_row1 .imgcon{
    padding-top:16px;
    width: 543px;
}
.act_part3_row1 .imgcon li{
    float: left;
    width: 175px;
    height: 212px;
}
.act_part3_row1 .imgcon li .lititle{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
 }
 .act_part3_row1 .imgcon li .lititle a{
    color: #000;
 }
.act_part3_row1 .imgcon li .lititle a:hover{
    color:#c00;
}
.act_part3_row1 .imgcon li .licontent{
    color:#a6a6a6;
 }
.act_part3_row2{
    height: 539px;
    padding:0 6px;
}
.act_part3_row2 h3{
    position: relative;
    height: 47px;
    border-bottom: 2px solid #a7a7a7;
}
.act_part3_row2 h3 span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    _bottom:-3px;
    left: 0;
}
.act_part3_row2 .bd .boxl{
    width: 432px;
    height: 430px;
}
.act_part3_row2 .bd .boxl .btitle{
    height: 71px;
    line-height: 71px;
    font-size: 18px;
    color: #3c3c3c;
}
.act_part3_row2 .bd .boxl .focusp2{
    width: 423px;
    height: 357px;
}


.fs_C2{ height:357px;width:423px; position:relative; background:#fff; }  

.fs_C2 .fcon{ position:relative; height:283px; width:423px; float:left;  display:none;  }  
.fs_C2 .shadow{ width:423px; position:absolute; top:249px; left:0px; height:34px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block; line-height:34px;text-indent: 20px;font-family: Microsoft Yahei;}  
.fs_C2 .shadow a{ text-decoration:none; color:#fff; font-size:14px; overflow:hidden; }  

.fs_C2 .C2fBt{ position:absolute; top:286px; left:0; zoom:1;  width:423px }  
.fs_C2 .C2fBt li{ float:left; padding-right: 3px; display:inline; width:103px; height:71px;position: relative; } 
.fs_C2 .C2fBt li.fix{ padding-right:0px; }
.fs_C2 .C2fBt li.pr4{ padding-right: 4px;}
.fs_C2 .C2fBt li .tarr{position: absolute;width: 18px;height: 7px; top:-7px; left: 44px; display: none;_overflow: hidden;
background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.png) 0 -993px no-repeat;} 
.fs_C2 .C2fBt li img{ display:block;}  
.fs_C2 .C2fBt li.current{  cursor:pointer; }   
.fs_C2 .C2fBt li.current .tarr{
    display: block;
}
.fs_C2 .fcon img{ display:block; }
.fs_C2 .fPs{ height:283px; position:relative; overflow:visible; }  
.fs_C2 .fPic{  position:absolute; }
.fs_C2 .fbtFix{ width:9999px;  }



.act_part3_row2 .bd .boxr{
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.png) -999px -250px no-repeat;
    height: 380px;
    padding:71px 0 0 9px;
}
.act_part3_row2 .bd .boxr .list1{
    height: 165px;
}
.act_part3_row2 .bd .boxr .list1 li{
    width: 175px;
    height: 165px;
    float: left;
}
.act_part3_row2 .bd .boxr .list1 li .titleb{
    height: 45px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.act_part3_row2 .bd .boxr .list1 li .titleb a{
    color: #000;
}
.act_part3_row2 .bd .boxr .list1 li .titleb a:hover{
    color: #c00;
}
.act_part3_row2 .bd .boxr .list2{
    height: 194px; 

}
.act_part3_row2 .bd .boxr .list2 li{
    width: 175px;
    height: 194px;
    float: left;
}
.act_part3_row2 .bd .boxr .list2 li .titleb{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
.act_part3_row2 .bd .boxr .list2 li .titleb a{
    color:#000;
}
.act_part3_row2 .bd .boxr .list2 li .titleb a:hover{
    color:#c00;
}
.act_part3_row2 .bd .boxr .list2 li .licontent{
    height: 44px;
    line-height: 22px;
    color: #a6a6a6;
}

.act_box4 .bdb{
    height: 500px;
}
.act_box4 .bdb .bdl{
    width: 455px;
    height: 500px;
    padding-left:15px; 
}
.act_box4 .bdb .bdl .bdlp{
    padding-top:33px;
}
.act_box4 .bdb .bdl .bdlp h4{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.act_box4 .bdb .bdl .bdlp h4 a{
    color:#000;
}
.act_box4 .bdb .bdl .bdlp h4 a:hover{
    color:#c00;
}
.act_box4 .bdb .bdl .bdlp .content{
    color: #a6a6a6;
    line-height: 22px;
    height: 85px;
}
.act_box4 .bdb .bdl .bblist .titleb{
    position: relative;
    height: 36px;
    line-height: 50px;
    border-bottom: 2px solid #a7a7a7;
    text-align: right;
    font-size: 12px;
}
.act_box4 .bdb .bdl .bblist .titleb span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    left: 0;
}
.act_box4 .bdb .bdl .bblist ul{
    padding-top:5px;
}
.act_box4 .bdb .bdl .bblist ul li{
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.png) 0 -135px no-repeat;
}
.act_box4 .bdb .bdr{
    padding-left: 20px;
    width: 500px;
}
.act_box4 .bdb .bdr .hdd{
    position: relative;
    height: 64px;
    border-bottom: 2px solid #a7a7a7;
}
.act_box4 .bdb .bdr .hdd span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    left: 0;
}

.act_box5 .hd{
    padding:0 10px;
    height: 66px;
}
.act_box5 .hd h2{
    position: relative;
    height: 66px;
    width: 100%;
    border-bottom: 2px solid #a7a7a7;
}
.act_box5 .hd h2 span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    left: 0;
}
.act_box5 .bd{
    padding-left: 16px;
    height: 500px;
}
.act_box5 .bd .bimglist{
    padding-top: 27px;
    width: 636px;
    height: 364px;
}
.act_box5 .bd .bimglist li{
    float: left;
    height: 182px;
    width: 305px;
    margin-right: 7px;
}
.act_box5 .bd .bimglist li .content{
    height: 38px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.act_box5 .bd .bimglist li .content a{
    color: #000;
}
.act_box5 .bd .bimglist li .content a:hover{
    color:#c00;
}
.act_box5 .bd .conlist{
    padding-top: 17px;
    width: 342px;
}
.act_box5 .bd .conlist li{
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    background: url(http://mat1.gtimg.com/gongyi/css/2013dizhenjiuzai/img/gy_sprite.png) 0 -135px no-repeat;
}

.act_box6{
    padding:0 10px;
}
.act_box6 h2{
    position: relative;
    height: 36px;
    border-bottom: 2px solid #a7a7a7;
}
.act_box6 h2 span{
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color:#8d2c2c;
    border-bottom: 2px solid #c74d4d;
    text-indent: 5px;
    bottom:-2px;
    left: 0;
}
.act_box6 .colist{
    padding-top:26px;
    padding-left: 10px;
}
.act_box6 .colist li{
    float: left;
    width:230px;
    height: 101px;
    margin-right: 20px;
}
.act_box6 .colist li.mr0{
    margin-right: 0;
}
.act_box6 .colist li .content{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.act_box6 .colist li .content a{
    color:#000;
}
.act_box6 .colist li .content a:hover{
    color:#c00;
}
    









/*  |xGv00|38610fbd91009787d885c2e97cb9538a */