/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#057142!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff }
.banner{ display:none}
.plBox { width:1000px; margin:0px auto; overflow:hidden; }
/*author*/
.authorList { width:1000px; margin:30px auto 20px; overflow:hidden }
.authorList .hd{ width:1000px; height:47px; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/hdbg.png) no-repeat bottom}
.authorList h2 { line-height:40px; text-align:left; overflow:hidden; font-size:20px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#057142 }
.authorList .bd{ position:relative; width:1000px; margin-top:15px; overflow:hidden}
.scroll_A .inner{position:relative;width:900px;height:78px; margin:0px auto;overflow:hidden;}
.scroll_A .btn{position:absolute;top:10px;width:40px;height:60px;cursor:pointer;}
.scroll_A .prev{left:0; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/leftBtn.png) no-repeat}
.scroll_A .next{right:0; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/rightBtn.png) no-repeat}
.authorList ul { float:left; width:920px; }
.authorList ul li { display:inline; float:left; width:160px; height:78px; padding:0px 10px; overflow:hidden }
.authorList ul li .img { float:left; position:relative; width:60px; height:60px; margin:10px 10px 0px 0px; overflow:hidden }
.authorList ul li .img img { position:absolute; left:0px; top:0px; width:60px; height:60px; z-index:9 }
.authorList ul li .img .ball { position:absolute; left:0px; top:0px; width:60px; height:60px; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/ball2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/css/kennanwang/pinglun/ball2.png', sizingMethod='crop');
z-index:10 }
.authorList ul li dl dt { margin:20px 0px 5px 0px; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#398763 }
.authorList ul li dl dt a { color:#398763 }
.authorList ul li dl dd { color:#b2b2b2 }
.authorList ul li a{ text-decoration:none}
/*box1*/
.box1 { position:relative; width:680px; height:304px; margin:0px auto; overflow:hidden }
/*focus*/
#focus01 { float:left; position:relative; width:680px; height:304px; margin:0px; overflow:hidden; z-index:999 }
#focus01 .scrollBox { position:relative; width:680px; height:304px; overflow:hidden }
#focus01 .scrollUl { position:absolute; top:0px; left:0px; width:999999px; height:304px; overflow:hidden; }
#focus01 .scrollUl li { position:relative; float:left; width:680px; height:304px; }
#focus01 .scrollUl li img { width:680px; height:304px; transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s; -moz-transition:all 0.3s ease-in 0s; -o-transition:all 0.3s ease-in 0s }
#focus01 .scrollUl li:hover img { -moz-transform:scale(1.1); -moz-transition:all 0.3s ease-in 0s; transform:scale(1.1); transition:all 0.3s ease-in 0s; -webkit-transform:scale(1.1); -webkit-transition:all 0.3s ease-in 0s; -o-transform:scale(1.1); -o-transition:all 0.3s ease-in 0s }
.box1 .pageBox { position:absolute; bottom:10px; right:0px; width:320px; height:8px; text-align:center }
.box1 .pageBox span { display:inline-block; width:8px; height:8px; margin-right:10px; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/iconD.png) no-repeat; cursor:pointer }
.box1 .pageBox span.current { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/iconDon.png) no-repeat; }
.box1 .pageBox span:hover { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s; -moz-transition:all 0.3s ease-in 0s; -o-transition:all 0.3s ease-in 0s }
#babyTxt { float:left; width:320px; height:304px; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/lvBg.png) no-repeat; z-index:60 }
#babyTxt ul { width:320px; height:304px; overflow:hidden }
#babyTxt ul li { display:none; width:320px; height:304px; }
#babyTxt ul li dl { width:266px; margin:0px auto; overflow:hidden }
#babyTxt ul li dl dt { margin:25px 0px; font-size:24px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#057142 }
#babyTxt ul li dl dt a, #babyTxt ul li dl dd a { color:#057142 }
#babyTxt ul li dl dd { line-height:23px; color:#888; text-indent:2em; }
#babyTxt ul li.current { display:block }
#leftBtn, #rightBtn { position:absolute; bottom:0px; display:block; width:28px; height:28px; cursor:pointer }
#leftBtn { right:30px; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/left.png) no-repeat; }
#rightBtn { right:0px; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/right.png) no-repeat; }
#leftBtn:hover, #rightBtn:hover { opacity:0.7; filter:Alpha(Opacity=70); }
/*box1*/
.box1 { width:1000px; margin:0px auto; overflow:hidden }
/*box2*/
.box2 { width:1000px; margin:0px auto 30px; overflow:hidden }
.box2 .left { float:left; width:680px; overflow:hidden }
.pageAllBox { width:680px; overflow:hidden }
.pageAllBox ul li { width:680px; margin:25px auto 0px; padding-bottom:25px; border-bottom:1px solid #f7f7f7 }
.pageAllBox ul li img { display:block; float:left; width:120px; height:80px; margin-right:20px; }
.pageAllBox ul li h3 { display:block; margin-bottom:10px; font-size:22px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#398763 }
.pageAllBox ul li h3 a, .pageAllBox ul li p a { color:#057142 }
.pageAllBox ul li p { line-height:23px; color:#888; text-indent:2em; }
#pageZone1 { margin:30px auto 0px; overflow: hidden;  text-align: right; width: 680px; }
#pageZone1 span { border: 1px solid #e2e2e2; display: inline-block; font-size: 14px; height: 34px; line-height: 34px; margin-right: 5px; padding: 0 13px; }
#pageZone1 span.current { background: #4ab96d; color: #FFFFFF; }
#pageZone1 span.Disabled { background: none repeat scroll 0 0 #F8F8F8; color: #9A9A9A; }
#pageZone1 a { color: #057142; }
#pageZone1 .number { font-size: 16px; }
.box2 .right { float:right; width:290px; margin:25px 0px 0px; overflow:hidden }
.rBox { width:290px; margin-bottom:20px; overflow:hidden }
.rBox .hd { width:290px; height:33px; line-height:25px; overflow:hidden; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/rBoxhd.png) no-repeat bottom }
.rBox .hd h3 { font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#2a2a2a }
.rBox .hd .fr, .rBox .hd .fr a { color:#057142 }
.rBox .bd { width:290px; overflow:hidden }
.tjUl { width:290px; overflow:hidden }
.tjUl li { padding-left:10px; margin:13px 0px 0px; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#333; background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/dian.png) no-repeat scroll 0px 8px }
.tjUl li a { color:#333 }
/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop.png) no-repeat; bottom:45px; display:none; height:58px; position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop2.png) no-repeat; }
/*  |xGv00|f0069149342d8eff641042fc7c13ed6e */