* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
}
a {
  color: #fff;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  font-family: "Microsoft YaHei";
}
#containerAll {
  width: 100%;
  height: 100%;
}
.posr {
  position: relative;
}
#p1 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg1.jpg) no-repeat center;
  background-size: cover;
}
#p1 .p1con {
  position: absolute;
  left: 150px;
  top: 200px;
}
#p1 .p1title {
  display: block;
}
#p1 .links {
  width: 600px;
}
#p1 .links i {
  display: block;
  float: left;
  width: 131px;
  padding-right: 20px;
  height: 36px;
  padding-top: 22px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/p1but.png);
  text-align: center;
  line-height: 34px;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  cursor: pointer;
}
.ptitle {
  display: block;
  margin: 0 auto 10px;
}
.vbox {
  width: 868px;
  height: 480px;
  padding: 10px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/box.jpg);
  margin: 0 auto;
}
.vbox .left {
  width: 400px;
  float: left;
}
#p2 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg2.jpg) no-repeat center;
  background-size: cover;
}
#p3 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg3.jpg) no-repeat left center;
  background-size: cover;
}
.control_tabs {
  width: 960px;
  margin: 0 auto 25px;
  height: 40px;
  padding: 5px 0px;
  border-radius: 50px;
  background: #de292d;
}
.control_tabs i {
  width: 100px;
  height: 40px;
  margin: 0 10px;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  display: block;
  float: left;
  cursor: pointer;
}
.control_tabs i.cur {
  background: #e98f24;
  font-weight: bold;
}
.slider {
  position: relative;
  height: 255px;
  overflow: hidden;
}
.slider img {
  display: block;
  width: 400px;
  height: 255px;
}
.newsInfo {
  height: 225px;
  padding: 0 25px;
  background: #000722;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.newsInfo span {
  display: block;
  font-size: 30px;
  line-height: 40px;
  padding: 15px 0 8px;
}
.newsInfo a:hover {
  text-decoration: underline;
}
#pagination1 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 230px;
  text-align: center;
}
#pagination1 span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
}
.vlist {
  background: #9c1717;
  width: 468px;
  float: right;
  height: 480px;
}
.vlist ul {
  margin: 0 30px;
}
.vlist ul li {
  height: 76px;
  padding-top: 10px;
  border-bottom: 1px solid #a62f2f;
  font-size: 24px;
  line-height: 1.5;
}
.vlist ul li a:hover {
  text-decoration: underline;
}
.vlist ul li.more {
  height: 40px;
  line-height: 40px;
  border: none;
  text-align: center;
  font-size: 14px;
  padding-top: 0;
}
.vlist ul li.more a {
  color: #fff;
}
#p4,
#p4s {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg4.jpg) no-repeat center;
  background-size: cover;
}
.showList {
  width: 1000px;
  margin: 0 auto;
}
.showList li {
  width: 155px;
  margin: 0 20px 30px;
  float: left;
  height: 220px;
  padding-top: 7px;
  background: #9c1717;
  border-radius: 10px;
}
.showList li img {
  width: 145px;
  height: 115px;
  display: block;
  margin: 0 auto 5px;
}
.showList li strong {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}
.showList li p {
  padding: 0 6px;
  line-height: 1.2;
  height: 2.4em;
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 7px;
  text-align: center;
}
.showList li .votezone {
  height: 24px;
  line-height: 24px;
  padding-left: 30px;
}
.showList li .votezone .like {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 7px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/like.png);
  cursor: pointer;
}
.showList li .votezone em {
  font-size: 18px;
}
.showList12 li {
  margin: 0 5px 30px;
}
.detail {
  width: 400px;
  padding: 20px;
  background: #9c1717;
  border-radius: 30px;
  position: fixed;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: none;
}
.detail .picbox {
  width: 400px;
  height: 320px;
  position: relative;
  margin-bottom: 5px;
}
.detail .picbox img {
  width: 400px;
  height: 320px;
  display: block;
}
.detail .picbox .votezone {
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.detail .picbox .votezone .like {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-right: 10px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/like30.png);
  cursor: pointer;
}
.detail .picbox .votezone em {
  font-size: 20px;
}
.detail .nameTitle {
  height: 56px;
  line-height: 56px;
  font-size: 16px;
}
.detail .nameTitle strong {
  font-size: 36px;
}
.detail p {
  font-size: 14px;
  line-height: 1.8;
  padding-bottom: 5px;
}
#p5 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg5.jpg) no-repeat center;
  background-size: cover;
}
#p6 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg6.jpg) no-repeat center;
  background-size: cover;
}
.noticeList {
  background: #9c1717;
  height: 480px;
  padding: 0 25px;
}
.noticeList li {
  border-bottom: 1px solid #a62f2f;
  position: relative;
}
.noticeList li strong {
  display: block;
  font-weight: normal;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.noticeList li .pubtime {
  line-height: 50px;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
}
.noticeList li p {
  font-size: 14px;
  line-height: 24px;
  display: none;
  height: 48px;
  overflow: hidden;
}
.noticeList li.cur {
  padding-bottom: 10px;
}
.noticeList li.cur strong {
  font-size: 28px;
  line-height: 60px;
  height: 60px;
  overflow: hidden;
}
.noticeList li.cur .pubtime {
  display: none;
}
.noticeList li.cur p {
  display: block;
}
#p7 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg7.jpg) no-repeat center;
  background-size: cover;
}
#p8 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg8.jpg) no-repeat center;
  background-size: cover;
}
#p9 {
  background: #000 url(//mat1.gtimg.com/gd/2018/gastar/bg9.jpg) no-repeat center;
  background-size: cover;
}
.nav {
  width: 129px;
  position: fixed;
  top: 200px;
  right: 20px;
  z-index: 999;
}
.nav i {
  display: block;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background: url(//mat1.gtimg.com/gd/2018/gastar/nav_i.png);
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 18px;
}
.nav i.cur {
  color: #410202;
  background: url(//mat1.gtimg.com/gd/2018/gastar/nav_i_cur.png);
}
.black {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  display: none;
}
.commbox {
  width: 505px;
  height: 168px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/commbox.png);
  margin: 0 auto 30px;
}
#commtext {
  width: 480px;
  height: 105px;
  overflow: hidden;
  padding: 15px 0 0 20px;
  border: none;
  background: none;
  font-size: 14px;
  line-height: 1.4;
  resize: none;
}
.commCtrl {
  padding-right: 15px;
  height: 30px;
  line-height: 40px;
  text-align: right;
  font-size: 14px;
  color: #fff;
}
.commCtrl span {
  color: #fdc218;
}
#write {
  float: right;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/commbtn.png);
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
  vertical-align: middle;
  font-weight: bold;
}
.item {
  width: 174px;
  height: 227px;
  padding: 9px;
  line-height: 30px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/single.png);
}
#container span {
  height: 40px;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 14px;
}
#container p {
  font-size: 14px;
  height: 7.5em;
  margin: 10px 20px;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.5;
}
#container a {
  width: 25px;
  height: 25px;
  display: block;
  background: url(//mat1.gtimg.com/gd/2018/gastar/close.png) no-repeat center center;
}
.totalList {
  width: 990px;
  margin: 0 auto;
  position: relative;
}
.totalList .sl_tit {
  width: 170px;
  height: 50px;
  margin: 0 auto 30px;
  text-align: center;
  line-height: 50px;
  background: url(//mat1.gtimg.com/gd/2018/gastar/showlist_tit.png);
  font-size: 22px;
  color: #fff;
}
.totalList li {
  width: 145px;
  height: 190px;
  margin: 0 5px 20px;
  border: 5px solid #9c1717;
  border-radius: 8px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}
.totalList li img {
  display: block;
  width: 145px;
  height: 190px;
}
.totalList .totalContent {
  display: none;
}
.totalList .butt {
  width: 82px;
  height: 82px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 250px;
  opacity: .5;
}
.totalList .butt:hover {
  opacity: 1;
}
.totalList #prev {
  background: url(//mat1.gtimg.com/gd/2018/gastar/left.png);
  left: -80px;
}
.totalList #next {
  background: url(//mat1.gtimg.com/gd/2018/gastar/right.png);
  right: -80px;
}
.moreInfo {
  display: block;
  margin: 30px auto 0;
}
.p4box {
  width: 990px;
  margin: 0 auto;
  position: relative;
}
.p4box .butt {
  width: 82px;
  height: 82px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 165px;
  opacity: .5;
}
.p4box .butt:hover {
  opacity: 1;
}
.p4box #prev2 {
  background: url(//mat1.gtimg.com/gd/2018/gastar/left.png);
  left: -80px;
}
.p4box #next2 {
  background: url(//mat1.gtimg.com/gd/2018/gastar/right.png);
  right: -80px;
}
.list30 li {
  width: 85px;
  height: 90px;
  margin: 0 4px 30px;
  background: #9c1717;
  border: 3px solid #9c1717;
}
.list30 li img {
  width: 85px;
  height: 63px;
  margin-bottom: 8px;
}
.list30 li span {
  display: block;
  line-height: 1;
  text-align: center;
  font-size: 12px;
}
.activebox {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border: 8px solid #626262;
  position: relative;
}
.activebox #swiperACT {
  height: 400px;
  overflow: hidden;
}
.activebox img {
  width: 600px;
  height: 400px;
}
.activebox .butt {
  width: 82px;
  height: 82px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 150px;
  opacity: .5;
}
.activebox .butt:hover {
  opacity: 1;
}
.activebox #prev3 {
  background: url(//mat1.gtimg.com/gd/2018/gastar/left.png);
  left: -130px;
}
.activebox #next3 {
  background: url(//mat1.gtimg.com/gd/2018/gastar/right.png);
  right: -130px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
}
.hysp .video {
  width: 742px;
  height: 460px;
  overflow: hidden;
}
.hysp .wrap {
  width: 240px;
  height: 75px;
  color: #7b8a9a;
  background: #39414a;
  padding-top: 15px;
  border-bottom: 1px solid #4f565e;
}
.hysp .list {
  height: 460px;
  background: #39414a;
  overflow: auto;
}
.hysp .wrap img {
  width: 100px;
  height: 60px;
  margin-left: 10px;
}
.hysp .wrap div {
  width: 120px;
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;
}
.hysp .wrap:hover {
  background: #414b56;
  color: #fff;
}
.hysp .wrap.on {
  background: #414b56;
  color: #fff;
}
.hysp .video iframe {
  display: none;
}
.hysp .video iframe.show {
  display: block;
}
/*  |xGv00|a0fdc0e3756a7a23ddba5ced72f70caa */