@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#fafafa;}
html { padding:0; margin:0;}

.main { margin:0 auto; padding:0;}
.resize { width:960px; padding:0; margin:0 auto;}
/********** header **********/
.header_resize {background: url(//mat1.gtimg.com/fj/huayang001/header_bg.gif) top repeat-x; margin:0; padding:0;}
.header { width:960px; padding:0; margin:0 auto; }
.header_blog { background: url(//mat1.gtimg.com/fj/huayang001/header_block_bg.jpg) top center repeat-x; padding:20px 0 0 0; margin:0; height:380px;}
.header_blog2 { background: url(//mat1.gtimg.com/fj/huayang001/header_bglog2_bg.gif) top center repeat-x; padding:20px 0 0 0; margin:0; height:105px;}
.header_blog2 h2 { width:350px; float:left; font: bold 36px Arial, Helvetica, sans-serif; color:#292929; padding:10px 0 0 15px; margin:0;}
.header_blog2 p { font: italic 12px Arial, Helvetica, sans-serif; color:#6d6d6d; padding:10px 0 0 0; margin:0; width:300px; float:right;}
.header_blog h2 { font: normal 18px Arial, Helvetica, sans-serif; color:#1d1d1d; padding:10px 0 0 0; margin:0;}
.header_blog p { font: normal 11px Arial, Helvetica, sans-serif; color:#fff; padding:0 0 30px 0; margin:0;}
/* logo */
.logo {padding:0; margin:0; width:148px; float:left;}
/*menu*/
.menu { padding:13px 0 0 0; margin:0 ; width:500px;  float:right; }
.menu ul { text-align: right;  padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0;}
.menu ul li a { float:left; margin:0; padding:12px 0; color:#fffefe; font:normal 11px Arial, Helvetica, sans-serif; text-decoration:none; text-transform:uppercase;}
.menu ul li a span { padding:12px 9px; background:none;}
.menu ul li a:hover {  background: url(//mat1.gtimg.com/fj/huayang001/r_menu.gif) no-repeat right;}
.menu ul li a:hover span {   background:url(//mat1.gtimg.com/fj/huayang001/l_menu.gif) no-repeat left;}
.menu ul li a.active {  background:url(//mat1.gtimg.com/fj/huayang001/r_menu.gif) no-repeat right;}
.menu ul li a.active span {   background:url(//mat1.gtimg.com/fj/huayang001/l_menu.gif) no-repeat left;}
/* body */
.body_resize  { padding:0; width:960px; margin:0 auto;}
.body { padding:20px 0; margin:0 auto; background:#fafafa; border-top:none; }
.body h2 { font:normal 20px Arial, Helvetica, sans-serif; color:#171717; padding:10px 5px 20px 5px; margin:0;}
.body p {
	font:normal 13px Arial, Helvetica, sans-serif;
	color:#898989;
	line-height:1.8em;
	padding:3px 5px;
	margin:0;
	font-size: 14px;
}
.body p span { color:#247ca4; font: normal 11px Arial, Helvetica, sans-serif; line-height:1.8em; padding:5px 0; margin:0;}
.body a { color:#247ca4; text-decoration:none; font: bold 12px Arial, Helvetica, sans-serif;}
.body img { margin:5px auto; padding:0;}
.body img.floated { float:left; margin:10px 10px; padding:0;}
.full { margin:0; padding:10px;}
.right { width:300px;margin:0; padding:10px; float:right;}
.left {width:620px;margin:0; padding:10px; float:left;}
.blog_port { width:281px; margin:0 5px; padding:15px 10px; float:left; border:1px solid #ddd; background:#fefefe;}
.blog_port img { margin:0; padding:0 5px 10px 5px; float:none;}
.butons { width:50px; margin:10px auto; padding:0;}
/*.body_bottom */
.body_bottom { background:#f8f8f8; padding:0; margin:0; border-bottom:1px solid #e9e9e9;}
.body_bottom .block { width:300px; float:left; padding:15px 10px; margin:0;}
.body_bottom h2 { font: normal 20px Arial, Helvetica, sans-serif; color:#171717; padding:15px 10px; margin:0;}
.body_bottom h2 span { font: italic 11px Arial, Helvetica, sans-serif; color:#247ca4;}
.body_bottom p { font: normal 12px Arial, Helvetica, sans-serif; color:#9a9a9a; padding:10px 5px; margin:0; line-height:1.8em;}
.body_bottom img { float:left; margin:10px 10px 10px 0; padding:0;}
.body_bottom_resize { width:960px; padding:0; margin:0 auto;}
/********** contact form **********/
#contactform { margin:0; padding:5px 10px; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:
5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:100px; display:block; padding:10px 0; color:#898989; font: normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:450px; border:1px solid #e1e1e1; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:right; }
#contactform textarea { width:450px; border:1px solid #e1e1e1; margin:2px 0; padding:2px; background:#fff; float:right; }
#contactform 
ons input { padding:3px 0 3px 480px; margin:10px 0 0 0; border:0; color:#FFF; float:left; }

/*************footer**********/
.footer {padding:0;  margin:0; border-top:1px solid #e9e9e9; background:#ececec;}
.footer_resize { width:940px; margin:0 auto; padding:20px 10px;}
.footer p { font:normal 12px  Arial, Helvetica, sans-serif; color:#777;}
.footer a { font:bold 12px Arial, Helvetica, sans-serif; color:#777; text-decoration:none; padding:5px; margin:0;}
.footer p.right { text-align:right; width:350px; margin:0; padding:15px 0 0 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:15px 0 0 0; float:left;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { float:right; clear:both; border-top:1px solid #e2e2e2; width:100%; padding:0; margin:1px 0; background:none; line-height:0;}

/* Slider */
#slider {  width:960px; padding:0 0 0 0; margin:0 auto;}
div#slideshow { float: left; width: 100%; height: 341px; }
.slider-item { width: 100% !important; height: 341px; }
.slider_content_inner img { border: none; }
.controls-center { width: 960px; margin-left: auto; margin-right: auto; }
#slider_controls { float: right; position: relative; margin:10px 0 0 0; z-index: 1000; width:960px; height:23px;}
#slider_controls ul { margin:0 auto; padding:2px 23px 2px 0; width:54px;}
#slider_controls ul li { margin: 0; padding: 0; list-style: none; }
#slider_controls ul li { float: left; display: block; }
#slider_controls ul li a { width: 10px; height: 10px; background:url('//mat1.gtimg.com/fj/huayang001/tabs_2.gif') no-repeat center center; display: block; float: left; padding:2px; margin:2px !important; margin:1px 1px; outline: none; }
#slider_controls ul li a:focus { outline: none; }
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide { background:url('//mat1.gtimg.com/fj/huayang001/tabs_1.gif') no-repeat center center; }
***********************************************************
body {background:#ebeaea;padding:0px;font-size:12px; font-family:"宋体"}
ul li{float:left;margin:0px;padding:0px;list-style-type:none;}
h2,h1,h3,h4,h5,p{margin:0px;padding:0px;}
a{text-decoration:none;color:#333333;}
.clear{clear:both;}
/*首页页头css开始*/
.marTop,.bigBox,.boxTop,.footer,.carousel{width:950px;margin:0 auto;}
.marTop{background:#ffffff;}
.martopBg{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/bodytop.gif) no-repeat;height:12px;}
.marLogo{height:115px;}
.marLft{float:left;margin-top:30px;margin-left:25px;}
.marRgt{float:right;margin-right:20px;}
.menu{
	height:36px;
	line-height:36px;
	color:#ffffff;
	font-family:"黑体";
	font-size:16px;
	background-image: url(8-1.gif);
	background-repeat: no-repeat;
}
.menuL{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/menuL.gif) no-repeat;height:36px;float:left;width:5px;}
.menuR{
	height:36px;
	float:right;
	width:17px;
	background-repeat: no-repeat;
}
.menuList{width:930px;height:36px;margin:0px;padding:0px;color:#ffffff;font-size:15px;font-weight:600;}
.menuList li{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/fgf.gif) no-repeat right top;height:36px;padding-left:25px;padding-right:27px;}
.menuList .serCenter{background:none;padding-right:0px;}
.menuList li a,.menuList li a:hover{color:#ffffff; text-decoration:none;}
.grayBg{background:#afaaaa;height:25px;padding-top:5px;}
.grayL{float:left;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/topGrayL.gif) no-repeat;height:25px;width:5px;}
.grayR{float:right;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/topGrayR.gif) no-repeat;height:25px;width:5px;}
.menuList li{list-style-type:none;}
.home{
	float:left;
	width:93px;
	text-align:center;
	background-image: url(//mat1.gtimg.com/fj/huayang001/1-1.gif);
	background-repeat: no-repeat;
}
.menuD a{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/menuD.gif) no-repeat;width:118px;text-align:center;height:36px;float:left;}
.menuD a:hover{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/hongguangBG.gif) no-repeat;}
.menuK a{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/khBg.gif) no-repeat;width:130px;height:36px;text-align:center;float:left;}
.menuK a:hover{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/khhongguang.gif) no-repeat;}
.menuS a{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/home.gif) no-repeat;float:left;text-align:center;width:92px;}
.menuS a:hover{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/syBg.gif) no-repeat;width:92px;}
.dangqian{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/dangqian.gif) no-repeat;float:left;text-align:center;width:118px;}
.teshu{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/khhongguang.gif) no-repeat;float:left;text-align:center;width:118px;margin-left:10px;}
.menu a{
	color:#ffffff;
	background-image: url(//mat1.gtimg.com/fj/huayang001/4-1.gif);
}
.menuD01 a{
	width:110px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/2-1.gif);
	background-repeat: no-repeat;
}
.menuD01 a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/2-2.gif);
	background-repeat: no-repeat;
}
.menuD06 a{
	width:118px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/7-1.gif);
	background-repeat: no-repeat;
}
.menuD06 a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/7-2.gif);
	background-repeat: no-repeat;
}
.menuD02 a{
	width:110px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/3-1.gif);
	background-repeat: no-repeat;
}
.menuD02 a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/3-2.gif);
	background-repeat: no-repeat;
}
.menuD03 a{
	width:110px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/4-1.gif);
	background-repeat: no-repeat;
}
.menuD03 a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/4-2.gif);
	background-repeat: no-repeat;
}
.menuD04 a{
	width:118px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/5-1.gif);
	background-repeat: no-repeat;
}
.menuD04 a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/5-2.gif);
	background-repeat: no-repeat;
}
.menuD05 a{
	width:118px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/6-1.gif);
	background-repeat: no-repeat;
}
.menuD05 a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/6-2.gif);
	background-repeat: no-repeat;
}
.menuD07 a{
	width:118px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/8-1.gif);
	background-repeat: no-repeat;
}
.menuD07 a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/8-2.gif);
	background-repeat: no-repeat;
}
.newshouye a{
	width:110px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/1-1.gif);
	background-repeat: no-repeat;
}
.newshouye a:hover{
	background-image: url(//mat1.gtimg.com/fj/huayang001/1-2.gif);
	background-repeat: no-repeat;
}
.chenggonganli{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/6-2.gif) no-repeat;width:118px;text-align:center;height:36px;float:left;}
.kehufuwuzhong{
	width:128px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/8-1.gif);
	background-repeat: no-repeat;
}
.meitiyoushi{
	width:118px;
	text-align:center;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/4-1.gif);
	background-repeat: no-repeat;
}
.fenghuangguandian{
	width:110px;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/3-2.gif);
	background-repeat: no-repeat;
}
.zuixindongtai{
	width:92px;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/2-1.gif);
	background-repeat: no-repeat;
}
.yingxiaoziyuan{
	width:118px;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/5-1.gif);
	background-repeat: no-repeat;
}
.yingxiaolinian{
	width:118px;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/6-1.gif);
	background-repeat: no-repeat;
}
.chenggonganli{
	width:118px;
	height:36px;
	float:left;
	background-image: url(//mat1.gtimg.com/fj/huayang001/7-1.gif);
	background-repeat: no-repeat;
}

/*首页页头css结束*/

.carousel{background:#66080d;margin-top:10px;}
.carouselLft{float:left;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/carouselLFT.gif) no-repeat;height:260px;width:5px;}
.carouselRgt{float:right;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/carouselRHT.gif) no-repeat;height:260px;width:5px;}
.caroContent{width:930px;margin:0 auto;}
.caroContent ul{padding:0px;margin:0px;float:left;height:244px;margin-top:12px;}
.caroContent ul li{float:none;margin-bottom:5px;}
.caroPic{float:left;margin-top:7px;margin-left:15px;}
.caroLianxi{float:left;margin-left:10px;}
/*首页内容css开始*/
.boxTop{background:#ffffff;margin-top:10px;height:9px;}
.boxTopL{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/boxTopL.gif) no-repeat;height:9px;width:6px;float:left;}
.boxTopR{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/boxTopR.gif) no-repeat;height:9px;width:6px;float:right;}
.bigBox{background:#ffffff;}
.boxLft,.boxMidl{float:left;}
.boxLft{width:301px;padding-left:20px;}
.blTip{background:#e7e2e2;width:301px;border-bottom:1px solid #8f1d22;}
.boxLft .hh,.boxMidl .hh{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/redbg.gif) no-repeat;width:93px;height:25px;margin-left:20px;font-size:16px;color:#ffffff;line-height:25px;text-align:center; font-family:"微软雅黑";}
.boxLft span,.boxMidl span,.trendsMore span,.trendsRgt span{float:right;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/moreLogo.gif) no-repeat left center;padding-left:15px;line-height:25px;color:#911d26;margin-right:10px;}
.boxLft span a,.boxLft span a:hover,.boxMidl span a,.boxMidl span a:hover,.trendsMore span a,.trendsMore span a:hover,.trendsRgt span a,.trendsRgt span a:hover{color:#911d26;}
.blNews{padding:0px;margin:0px;margin-top:10px;margin-left:10px;}
.blNews li{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/uldot.gif) no-repeat left center;padding-left:10px;float:left;width:280px;line-height:23px;}
.lineheight{height:30px;width:200px;}
.blreport{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/dotline.gif) repeat-x left bottom;height:20px;margin-bottom:15px;margin-top:20px;}
.blreport p{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon01.gif) no-repeat left center;padding-left:15px;}
.ifengRe{width:301px;margin-bottom:10px;}
.RePic{float:left;border:1px solid #dadada;padding:2px;}
.Retext{float:left;margin-left:10px;}
.Retext h5{font-size:12px;font-weight:normal;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon02.gif) no-repeat left center;padding-left:9px;margin-top:5px;}
.Retext h5 a,.Retext h5 a:hover{color:#8c0002;}
.Retext p{width:180px;margin-left:10px;line-height:20px;color:#727171;margin-top:5px;}
.Retext p a,.Retext p a:hover{color:#727171;}
.sayNew{color:#727171;}
.blNews .redline{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon02.gif) no-repeat left center;color:#8c0002;}
.blNews .redline a,.blNews .redline a:hover{color:#8c0002;}
.blreport02{margin-top:0px;}
.rss{background:#d8e0e4;height:66px;border:1px solid #b2bec4;}
.rssPic,.edm{float:left;}
.edm p{margin-top:15px;color:#395968;}
.email{color:#97a8b0;margin-top:5px;}
.subscribe{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/dyBg.gif) no-repeat;border:none;width:47px;height:21px; cursor:pointer;}
.downLoad{margin-top:15px;}
.downLoad a img{border:none;border:1px solid #6e8088;}


.boxMidl{width:301px;padding-left:15px;}
.case{margin-top:25px;margin-left:20px;}
.caseTitle{font-family:"微软雅黑";font-size:14px;font-weight:bold;color:#8f1d22;}
.casePic{padding:2px;border:1px solid #d6dbe0;width:267px;margin-top:5px;}
.case p{margin-top:10px;line-height:18px;}
.caseTitle a{color:#8f1d22;}
.casePic a img{border:none;}
.boxRgt{width:301px;margin-left:10px;background:#d5cdcd;float:right;color:#898989;line-height:18px;padding-bottom:10px;}
.rtIdea{background:#ffffff;width:279px;border:1px solid #d6dbe0;margin:0 auto;margin-top:10px; padding-bottom:10px;}
.rtIdeaLogo{border-bottom:1px solid #dcdcdc;}
.rtIdeaLogo img{margin-left:80px;}
.rtideaText{width:255px;margin:0 auto;margin-top:15px;}
.char{width:245px;margin:0 auto;}
.charPic{margin-top:15px;}
.char p{margin-top:5px;}
.char p a{color:#898989;}
.rtfooter{width:301px;}
.rtfooter img{margin-top:15px;margin-left:50px;}

.lineGray,.lineRed,.lineGray02{float:left;height:5px;}
.lineGray{background:#7f8592;width:334px;}
.lineRed{background:#8f1d22;width:315px;}
.lineRed02{width:627px;}
.lineGray02{background:#7f8592;width:301px;}
.lineGray03{width:323px;}
.lineGray04{width:363px;}
.lineRed03{width:587px;}
.colorline{height:5px;}
.rtIdeaLogo a img,.rssPic a img{border:none;}

.caroLianxi a img{border:none;}

/*首页内容css结束*/

/*案例分行业副本css开始*/
.industryLft{float:left;}
.industryLft{width:566px;padding-left:15px;margin-top:20px;}
.indusTitle{border-bottom:1px solid #8f1d22;}
.indusTitle .titleBg{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon01.gif) no-repeat left center;padding-left:20px;margin-left:5px;}
.indusTitle .titleBg{font-family:"微软雅黑";font-size:16px;color:#8f1d22;}
.industry01{margin-top:20px;margin-left:10px;color:#727171;padding-bottom:20px;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/dotline.gif) repeat-x left bottom;}
.induIcon{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon03.gif) no-repeat;height:22px;width:70px;padding:5px 14px 10px 10px;color:#ffffff;}
.induBt{font-size:14px;font-weight:bold;margin-left:20px;color:#8f1d22;}
.induPic{margin-top:15px;border:1px solid #d6dbe0;padding:2px;width:163px;float:left;}
.induText{margin-top:20px;line-height:20px;float:left;width:366px;margin-left:20px;}
.induQx{background:#ebebeb;width:60px;height:19px;border:1px solid #d6dbe0;float:right;text-align:center;color:#728fa6;margin-top:25px;}
.induQx a{color:#728fa6;}
.induPage{height:28px;line-height:28px;text-align:center;margin-top:20px;margin-bottom:10px;background:url(http://img.ifeng.com/list/list_nextpagebg.gif) repeat-x;padding:2px 0 0;margin-bottom:30px;}
.induPage a{padding:0 3px;color:#961319;}
.induPage .l_home{float:left;margin-right:200px;}
.induPage .m_page{float:left;padding-top:1px;width:200px;overflow:hidden;}
.induPage .m_page span{ cursor:pointer;display:block;float:left;margin:0 5px;}
.induPage a img{border:none;}
.induPage a{line-height:28px;}
.induPage .r_end{float:right;}



.industryRgt{float:right;padding-right:15px;width:303px;margin-top:20px;}
.induLinks{background:#efeeed;padding-bottom:10px;margin-bottom:20px;}
.induBox{width:288px;margin:0 auto;}
.induFirst{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/redhy.gif) no-repeat;width:134px;height:37px;float:left;margin-left:5px;display:block;line-height:37px;          text-align:center;margin-top:7px;font-family:"微软雅黑";font-size:16px;color:#948b8b;}
.induBox a{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/hybg.gif) no-repeat;width:134px;height:37px;float:left;margin-left:5px;display:block;line-height:37px;          text-align:center;margin-top:7px;font-family:"微软雅黑";font-size:16px;color:#948b8b;}
.induBox a:hover{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/redhy.gif) no-repeat;width:134px;height:37px;float:left;margin-left:5px;display:block;line-height:37px;          text-align:center;margin-top:7px;font-family:"微软雅黑";font-size:16px;color:#948b8b;}
.induDot{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/dotline.gif) repeat-x;height:1px;margin-bottom:20px;}
.induContact{background:#f9f9f9;margin-top:20px;}
.contactTile{background:#e2e6e7;border-bottom:1px solid #395968;height:34px;}
.contactTile span{margin-left:20px;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/contactBg.gif) no-repeat;height:25px;width:93px;text-align:center;line-height:26px;font-family:"微软雅黑";font-size:16px;padding-left:15px;padding-right:15px;color:#ffffff;font-weight:bold;}
.contactContent{margin-top:20px;margin-left:30px;color:#746f6e;line-height:20px;padding-bottom:30px;margin-bottom:20px;}
.contactContent p{margin-top:20px;}

/*案例分行业副本css结束*/

.pulldown{background:#Ffffff;width:299px;height:19px;float:right;margin-right:45px;font-size:12px;line-height:19px;}
.puuleft{float:left;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/pulldownleft.gif) no-repeat;width:7px;height:19px;}
.puuright{float:right;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/pulldownright.gif) no-repeat;width:7px;height:19px;}
.pulldown a,.pulldown a:hover{color:#66080d;padding-left:3px;margin-left:2px;}

.pulldown02{width:180px;margin-right:10px;}
.pulldown03{width:180px;margin-right:220px;}
.pulldown04{width:224px;margin-right:320px;}
.pulldown05{width:180px;margin-right:10px;}

/*案例分行业副本展示开始*/
.show{margin-left:40px;margin-top:50px;}
.showPic{border:1px solid #d6dbe0;padding:2px;width:472px;margin-top:20px;}
.showPage{height:30px;line-height:30px;margin-top:20px;margin-left:40px;padding-bottom:20px;}
.showPage ul li{float:left;height:23px;line-height:23px;padding:0 5px;}
.showPage a{color:#961319;}
.pageButtonL{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/showButtonL.gif) no-repeat left center;height:23px;width:48px;cursor:pointer;}
.pageButtonR{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/showButtonR.gif) no-repeat left center;height:23px;width:48px;cursor:pointer;margin-left:10px;}
.showDescri{margin-right:35px;line-height:20px;color:#727171;}
/*案例分行业副本展示结束*/

/*凤凰观点css开始*/
.pointL{width:555px;float:left;margin-left:10px;margin-top:20px;}
.piontVedio{background:#e6e6e6;border:1px solid #dadada;padding-bottom:10px;}
.piontVedio p{height:23px;line-height:23px;color:#000000;font-size:14px;margin-top:10px;margin-left:15px;}
.VedioContent{width:530px;margin:0 auto;margin-top:10px;}
.vedioMore{overflow-y:scroll;background:#e6e6e6;border:1px solid #dadada;margin-top:20px;height:134px;width:555px;margin-bottom:20px;}
.vedioMore ul{margin:10px 0 10px 30px;padding:10px;}
.vedioMore ul li{float:none;list-style-image:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon04.gif);line-height:27px;}

.pointR{float:right;width:333px;margin-right:15px;background:#efeeed;margin-top:20px;padding-bottom:20px;}
.pointR .hh{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/redbg.gif) no-repeat;width:93px;height:25px;margin-left:20px;font-size:16px;color:#ffffff;line-height:25px;text-align:center; font-family:"微软雅黑"}
.pointR span{float:right;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/moreLogo.gif) no-repeat left center;padding-left:15px;line-height:25px;color:#911d26;margin-right:10px;}
.pointR span a,.pointR span a:hover{color:#911d26;}
.pointRTip{background:#efeeed;border-bottom:1px solid #8f1d22;margin-top:10px;}
.pointRContent{margin-top:17px;margin-left:15px;}

/*凤凰观点css结束*/

/*客户服务中心css开始*/
.customer{background:#f9f9f9;margin-top:0px;margin-left:0px;padding-bottom:15px;}
.customer p{margin-top:10px;margin-left:30px;}
.cusText{padding-top:10px;}
.customerLft{margin-top:15px;margin-left:10px;}
.cusDown{margin-bottom:20px;}
.industryRgt009{margin-top:0px;}
.partner{width:910px;margin:0 auto;background:#f8f8f8 url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/blackline.gif) no-repeat left top;margin-left:25px;margin-bottom:30px;margin-top:30px;}
.partnertitle span img{border:none;}
.partnertitle table{text-align:center;margin-top:15px;margin-bottom:20px;}
.partnertitle table td img{padding:2px;border:1px solid #d8d8d8;}
.partnertitle table td{padding-left:25px;}
/*客户服务中心css结束*/

/*媒体优势css开始*/
.mediaLft{background:#e6e6e6;border:1px solid #d3d2d2;margin-bottom:20px;}
.mediaText{margin-top:25px;margin-left:25px;}
.label{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/label.gif) repeat-x;margin-top:20px;}
.label ul{margin:0px;padding:0px;height:27px;font-size:14px;font-family:"微软雅黑";color:#8f1d22;font-weight:bold;}
.labelIfeng{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/label_ifeng.gif) no-repeat;height:27px;line-height:27px;padding:0 20px;margin-left:15px;}
.label02{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/label_wx.gif) no-repeat;height:27px;line-height:27px;padding:0 12px;margin-left:5px;}
.mediaText .labelText{color:#624c4c;margin-top:30px;margin-left:20px;line-height:20px;}
.hiddenline{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/fgf02.gif) no-repeat;height:2px;margin-top:20px;margin-left:10px;text-align:center;}
.hiddenline a{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/button.gif) no-repeat;height:11px;width:35px;}
.hiddenline a img{border:none;}
.channel{margin-top:20px;margin-bottom:20px;}
.chanPic,.chanText{float:left;}
.chanText{width:330px;margin-left:20px;margin-top:10px;line-height:20px;color:#727171;}
.chanText a{float:right;}
.chanText img{border:none;}
.mediaText .mediades{font-family:"微软雅黑";font-size:14px;color:#624c4c;}
.mediaLft img{margin:8px;}
.mediaVedio{background:#e6e6e6;width:303px;text-align:center;padding-top:10px;padding-bottom:5px;margin-bottom:20px;}
.mediaVedio p{text-align:left;margin-left:10px;margin-bottom:10px;}
.chakan{float:right;margin-bottom:40px;}
.chakan a img{border:none;}

/*媒体优势css结束*/

/*最新动态css开始*/
.trends{color:#595757;}
.trends ul{margin:0px;padding:0px;margin-top:20px;margin-left:30px;}
.trends ul li{line-height:25px;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/dotgray.gif) no-repeat left center;padding-left:10px;}
.induDot03{margin-top:20px;margin-left:30px;margin-right:20px;}
/*最新动态css结束*/

/*最新动态副本css开始*/
.trendsMore span{ font-family:"宋体";font-size:12px;}
.trendsMore b{float:left;}
.ifengRe02{width:600px;}
.Retext02 p{width:430px;}
.pointRContent02{margin-bottom:20px;}
.trends02{margin-bottom:20px;}
.trendsLft{background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon01.gif) no-repeat left center;padding-left:20px;font-family:"微软雅黑";font-size:16px;color:#8f1d22;font-weight:bold;}
.trendsRgt span{float:none;margin-left:325px;}
.trendsRgt02 span{float:none;margin-left:290px;}
.induDot04{width:520px;margin-left:30px;}
/*最新动态副本css开始*/

/*营销资源css开始*/
.market{margin-top:20px;color:#727171;}
.marketText{float:left;margin-left:15px;}
.marketText img{padding:2px;border:1px solid #d6dbe0;}
.TextDetai{width:252px;}
.marTitle{color:#8c0002;margin-top:10px;margin-bottom:5px;}
.marMore{line-height:20px;}
.marMore a{color:#727171;}
/*营销资源css结束*/

/*媒体频道介绍css开始*/
.channelContent{margin-top:20px;margin-left:20px;}
.channelText{width:500px;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/dotline.gif) repeat-x left bottom;padding-bottom:30px;margin-top:30px;}
.channelPic{float:left;}
.channelDeta{float:left;width:240px;margin-left:20px;margin-top:10px;line-height:20px;color:#708da4;}
.channelDeta a img{border:none;margin-left:50px;margin-top:10px;}


/*媒体频道介绍css结束*/


/*客户服务中心css开始*/
.rssSign{width:900px;margin:0 auto;}
.rssLogo{padding-top:30px;}
.rssbox{border:1px solid #cccccc;padding-bottom:40px;margin-bottom:50px;}
.resspreface {margin-top:20px;margin-left:130px;}
.resspreface .prefaceTitle{color:#395968;font-size:18px;font-weight:bold; font-family:"微软雅黑";}
.signin{margin-left:20px;margin-top:20px;}
.refer{margin-left:200px;margin-top:50px;}
.refer a img{border:none;}
/*客户服务中心css结束*/

/*营销资源副本css开始*/
.cooperation{margin-top:40px;margin-left:15px;}
.cooperText,.cooperPic{float:left;}
.cooperText{width:350px;line-height:20px;color:#595757;}
.cooperPic{margin-left:10px;}
/*营销资源副本css结束*/

.induBox02 a{background:none;}
.induBox02 a:hover{background:none;}
/*营销理念副本css开始*/
.PrincipleLft{ float:left;width:345px;margin-left:10px;padding-left:40px;}
.PrincipleLft p{font-family:"微软雅黑";margin-top:40px;line-height:20px;}
.PrincipleRgt{float:left;width:493px;background:#f6f6f6;margin-left:30px;margin-bottom:20px;}
.PrincipleText{margin:20px 25px 20px 25px;background:url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/grayline.gif) no-repeat left bottom;padding-bottom:20px;}
.PrincipleText p{line-height:20px;margin-top:10px;color:#595757;}
.magazinLInks a img{border:none;}
.pulldown008 a,.pulldown008 a:hover{margin-left:20px;}
/*营销理念副本css结束*/

.ColdFusion{width:566px;}
.ColdFusion02{width:543px;margin:0 auto;}
.ColdPic img{width:549px;height:373px;padding:5px;border:1px solid #d3d2d2;}
.ColdPic{background:#ebeaea;width:559px;height:383px;}

.journalLft{width:745px;margin-left:10px;float:left;}
.rss02{width:732px;float:right;}
.monthly{width:745px; overflow-y:scroll;margin-top:20px;height:750px;margin-bottom:20px;}
.rss02 .edm{width:600px;}
.rss02 .edm .email{width:540px;}
.journalRgt{width:160px;float:right;}
.RgtBg{background:#ebeaea;width:145px;padding-top:10px;text-align:center;padding-bottom:10px;}
.periodicals{width:120px;margin:0 auto; background:#ffffff url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon5.gif) no-repeat left center;padding-top:10px;}
.qishu{width:60px;}
.periodicals02{padding:0px;height:30px;background:#ffffff url(http://res.img.ifeng.com/2f86f1d4ae63c9a4/2011/0304/icon5.gif) no-repeat left top;}
.djDy{margin-top:10px;}
.djDy a img{border:none;}
/*页尾css开始*/
.footerContent{margin-top:40px;margin-left:290px;}
.footerPic,.footertext{float:left;height:37px;}
.footertext p{height:37px;margin-top:5px;margin-left:15px;color:#7f8592;line-height:15px;}
/*页尾css结束*/
/*  |xGv00|85ad91f8e592581dc03a1276a5b68746 */