/* public
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin: 0; padding: 0; color: #333; font-size: 12px; font-family: "\5B8B\4F53","Arial Narrow",Tahoma,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
ul,ol,li,dl,dt,dd{ list-style-type: none; margin: 0; padding: 0;}
li{ vertical-align: bottom;}
h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0;}
strong{ font-weight: bold;}
img{ vertical-align: bottom; border: 0;}
a:link,a:visited{ color: #333; text-decoration: none;}
a:hover{ color: #4587c0; text-decoration: none;}

.cls{ clear: both; height: 0; font: 0/0 Arial;}
.clearfix:after{ display: block; clear: both; visibility: hidden; content: "."; height: 0;}
* html .clearfix{ height: 1%;}
.wrapper{ width: 1000px; margin: 0 auto;}

html{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.tit{ height: 55px; background: url(//mat1.gtimg.com/auto/005/bbb/images/titBg.png) repeat-x 0 bottom;}
.tit h2{ float: left; height: 50px; border-bottom: 5px solid #333; padding: 0 10px; font: bold 28px/50px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.tit h2.Top1{ border-color: #f2941a;}
.tit h2.Top2{ border-color: #4587c0;}

body{ background: #f9f9f9;}
.wrapper{ width: 800px; margin: 0 auto;}

/* 淡入 */
@-webkit-keyframes fadeIn{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}
@-moz-keyframes fadeIn{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}
@-ms-keyframes fadeIn{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}
@-o-keyframes fadeIn{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}
@keyframes fadeIn{
	0%{ opacity: 0;}
	100%{ opacity: 1;}
}

li{ -webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-ms-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
	
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* private
----------------------------------------------- */

/** banner **/
.banner{ height: 110px; background: #fff url(http://img1.gtimg.com/auto/pics/hv1/123/164/1910/124239693.jpg) no-repeat center 0;}
.banner .wrapper{ position: relative; width:750px; height: 110px; margin:0 auto;}

/* 分享 */
.mymenu{ position:relative; float:right; width:500px; padding-right:16px;}
.myitem{ position:relative; cursor:pointer; z-index:1; overflow:hidden; float:right; width:34px; height:34px; margin:50px 5px 0; background:url(//mat1.gtimg.com/view/todayTopic/2012/wbsetBlue.png) no-repeat;}
.myitem .item_content p{ margin:0; padding:0 0px 0 12px; font:15px/32px "\5FAE\8F6F\96C5\9ED1";}
.item_content a,.item_content a:hover{ color:#556a8f;}
.icobox{ position:absolute; right:0; top:0; z-index:2; width:34px; height:34px;}
.icobox a{ display:block; z-index:3; width:34px; height:34px; background:url(//mat1.gtimg.com/view/todayTopic/2012/wbIconBgblue2.png) no-repeat;}
a.icon_wb{ background-position:-128px 0;}
a.icon_mail{ background-position:-85px 0;}
a.icon_hz{ background-position:-1px 0;}
a.icon_find{ background-position:-44px 0;}

/** 首屏 **/
.firstP{ border-bottom: 1px solid #e6e6e6; padding-bottom: 20px;}
.firstP .hd{ margin: 20px 0; border-bottom: 1px solid #e6e6e6; color: #666; font: 12px/30px "\5B8B\4F53";}
.firstP .bd .pic{ display: block; position: relative; float: left; width: 500px; height: 375px;}
.firstP .bd .pic img{ width: 500px; height: 375px;}
.firstP .bd .pic em{ display: block; position: absolute; left: 50%; top: 50%; cursor: pointer; width: 70px; height: 70px; margin: -35px 0 0 -35px; background: url(//mat1.gtimg.com/auto/005/bbb/images/player.png) no-repeat;}
.ie6 .firstP .bd .pic em{ display: none;}
.firstP .bd .txt{ float: right; width: 280px; height: 375px;}
.firstP .bd .txt h2{ font: bold 32px/40px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.firstP .bd .txt p{ margin: 15px 0 0; color: #666; font: 14px/32px "\5B8B\4F53"; text-indent: 2em;}

/** 最新进展 **/
.jinzhan{ width: 750px; padding-left: 50px; background: url(//mat1.gtimg.com/auto/005/bbb/images/icoBg.png) repeat-y 0 0;}
.jinzhan h3{ width: 750px; height: 28px; margin-left: -50px; padding-left: 50px; background: url(//mat1.gtimg.com/auto/005/bbb/images/ico.png) no-repeat; font: normal 22px/28px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.jinzhan p{ margin: 50px 0 20px; font: 12px/28px "\5B8B\4F53";}
.jinzhan .pic{ float: left; width: 440px;}
.jinzhan .pic li{ float: left; width: 200px; height: 130px; margin-right: 20px;}
.ie6 .jinzhan .pic li{ display: inline;}
.jinzhan .pic li a{ display: block; position: relative; width: 200px; height: 130px;}
.jinzhan .pic li a img{ width: 200px; height: 130px;}
.jinzhan .pic li a span,
.jinzhan .pic li a strong{ display: block; position: absolute; left: 0; bottom: 0; width: 200px;}
.jinzhan .pic li a span{ height: 30px; background: url(//mat1.gtimg.com/auto/005/bbb/images/shadow0.png) no-repeat;}
.ie6 .jinzhan .pic li a span{ background: #000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.jinzhan .pic li a strong{ height: 30px; color: #fff; font: normal 14px/30px "\5B8B\4F53"; text-align: center;}
.jinzhan .pic li a strong em{ display: inline-block; width: 11px; height: 11px; margin-right: 4px; background: url(//mat1.gtimg.com/auto/005/bbb/images/player2.png) no-repeat;}
.jinzhan .txt{ float: right; width: 310px;}
.jinzhan .txt li{ height: 30px; padding-left: 15px; background: url(//mat1.gtimg.com/auto/img/ico/point.png) no-repeat 0 center; font: 14px/30px "\5B8B\4F53";}

/** 事件回顾 **/
.huigu{ overflow-x: hidden; overflow-y: auto; width: 750px; height: 500px; padding-left: 50px; background: url(//mat1.gtimg.com/auto/005/bbb/images/icoBg.png) repeat-y 0 0;}
.huigu ul{ padding-right: 10px;}
.huigu h3{ width: 750px; height: 28px; margin-left: -50px; padding-left: 50px; background: url(//mat1.gtimg.com/auto/005/bbb/images/ico.png) no-repeat; font: normal 22px/28px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.huigu h4{ display: inline-block; height: 21px; margin-top: 20px; padding: 0 5px 0 9px; background: #4587c0 url(//mat1.gtimg.com/auto/005/bbb/images/paopao.png) no-repeat 0 0; color: #fff; font: normal 12px/21px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.ie7 .huigu h4{ display: inline;}
.ie6 .huigu h4{ display: inline;}
.huigu p{ margin: 20px 0; font: 14px/28px "\5B8B\4F53";}

/** 各方观点 **/
.guandian .pic{ display: block; position: relative; float: left; width: 326px; height: 212px;}
.guandian .pic img{ width: 326px; height: 212px;}
.guandian .pic span,
.guandian .pic strong{ display: block; position: absolute; left: 0; bottom: 0; width: 326px;}
.guandian .pic span{ height: 36px; background: url(//mat1.gtimg.com/auto/005/bbb/images/shadow1.png) no-repeat 0 bottom;}
.guandian .pic strong{ height: 36px; color: #fff; font: normal 14px/36px "\5B8B\4F53"; text-align: center;}
.guandian .txt{ float: right; width: 444px; height: 212px;}
.guandian .txt h2{ font: normal 22px/40px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.guandian .txt p{ margin: 10px 0 0; color: #666; font: 14px/32px "\5B8B\4F53"; text-indent: 2em;}
.liebiao{ overflow: hidden; width: 800px; margin: 20px 0;}
.liebiao ul{ width: 842px; margin: -1px 0 0 -20px;}
.liebiao li{ float: left; width: 380px; height: 115px; border: 1px solid #e6e6e6; border-width: 1px 1px 0 0; padding: 20px;}
.liebiao img{ float: left; width: 168px; height: 113px; border: 1px solid #e6e6e6;}
.liebiao .txt{ float: right; width: 192px; height: 115px;}
.liebiao .txt strong{ font: normal 18px/28px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.liebiao .txt p{ margin: 0; color: #666; font: 12px/24px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.liebiao .txt p a:link,.liebiao .txt p a:visited{ color: #4587c0;}
.liebiao .txt p a:hover,.liebiao .txt p a:active{ color: #333;}

/** 观点交锋 **/
.jiaofeng .pk{ position: relative; width: 800px; height: 750px;}
.jiaofeng .pk img{ position: absolute; top: 155px; z-index: 0; width: 252px; height: 252px;}
.jiaofeng .pk img.fl{ left: 60px;}
.jiaofeng .pk img.fr{ right: 60px;}
.jiaofeng .pk .zhezhao{ position: absolute; left: 0; top: 0; z-index: 1; width: 800px; height: 750px; background: url(//mat1.gtimg.com/auto/005/bbb/images/zhezhao.png) no-repeat 0 0;}
.ie6 .jiaofeng .pk .zhezhao{ background: url(//mat1.gtimg.com/auto/005/bbb/images/zhezhaoIE6.png) no-repeat 0 0;}
.jiaofeng .pk .zhezhao h2{ margin-top: 20px; font: 22px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.jiaofeng .pk .zhezhao p{ margin-top: 20px; color: #666; font: 14px/28px "\5B8B\4F53"; text-indent: 2em;}
.jiaofeng .pk .zhezhao div.fl{ float: left; width: 252px; padding: 0 80px 0 60px;}
.jiaofeng .pk .zhezhao div.fr{ float: right; width: 252px; padding: 0 60px 0 80px;}
.jiaofeng .pk .zhezhao h3,
.jiaofeng .pk .zhezhao h4{ font: 18px/28px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.jiaofeng .pk .zhezhao h3{ margin-top: 300px; text-align: center;}
.jiaofeng .pk .zhezhao h4{ margin-top: 30px; padding-left: 35px; text-align: left;}
.jiaofeng .pk .zhezhao h4 a:link,.jiaofeng .pk .zhezhao h4 a:visited{ color: #4587c0;}
.jiaofeng .pk .zhezhao h4 a:hover,.jiaofeng .pk .zhezhao h4 a:active{ color: #333;}

.photo{ position: relative; width: 800px; height: 420px;}
.photo img{ width: 800px; height: 420px;}
.photo span,
.photo strong{ display: block; position: absolute; left: 0; bottom: 0; width: 800px;}
.photo span{ height: 71px; background: url(//mat1.gtimg.com/auto/005/bbb/images/shadow1.png) no-repeat;}
.ie6 .photo span{ background: #000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.photo strong{ height: 60px; color: #fff; font: normal 20px/60px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA"; text-align: center;}

.text{ width: 640px; border: 1px solid #d8d8d8; padding: 15px 79px;}
.text li{ float: left; width: 305px; height: 30px; padding-left: 15px; background: url(//mat1.gtimg.com/auto/img/ico/point.png) no-repeat 0 center; font: 14px/30px "\5B8B\4F53";}

.picList{ overflow: hidden;}
.picList ul{ width: 825px;}
.picList li{ float: left; width: 250px; height: 230px; margin-right: 25px;}
.picList li a.pic{ display: block; position: relative; width: 250px; height: 170px;}
.picList li img{ width: 250px; height: 170px;}
.picList li span,
.picList li strong{ display: block; position: absolute; left: 0; bottom: 0; width: 250px;}
.picList li span{ height: 36px; background: url(//mat1.gtimg.com/auto/005/bbb/images/shadow2.png) no-repeat;}
.ie6 .picList li span{ background: #000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.picList li strong{ height: 36px; color: #fff; font: normal 14px/36px "\5B8B\4F53"; text-align: center;}
.picList li p{ margin: 8px 0 0; line-height: 26px;}
.picList li p a{ height: 26px; padding-left: 15px; background: url(//mat1.gtimg.com/auto/img/ico/point.png) no-repeat 0 center; font: 14px/26px "\5B8B\4F53";}

/** 事件影响 **/
.yingxiang li{ height: 212px; margin-top: 20px;}
.yingxiang .pic{ display: block; position: relative; float: left; width: 326px; height: 212px;}
.yingxiang .pic img{ width: 326px; height: 212px;}
.yingxiang .pic span,
.yingxiang .pic strong{ display: block; position: absolute; left: 0; bottom: 0; width: 326px;}
.yingxiang .pic span{ height: 36px; background: url(//mat1.gtimg.com/auto/005/bbb/images/shadow1.png) no-repeat 0 bottom;}
.ie6 .yingxiang .pic span{ background: #000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.yingxiang .pic strong{ height: 36px; color: #fff; font: normal 14px/36px "\5B8B\4F53"; text-align: center;}
.yingxiang .txt{ float: right; width: 444px; height: 212px;}
.yingxiang .txt h2{ font: normal 22px/40px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}
.yingxiang .txt p{ margin: 10px 0 0; color: #666; font: 14px/28px "\5B8B\4F53"; text-indent: 2em;}

/** 他的生活履历 **/
.history{ position:relative;}
.historyCon{ position:relative; width:800px; height:170px; margin:20px 0;}
.historyCon .timeLine{ height:170px;}
.historyCon .timeLine li{ float: left; width: 250px; height: 170px; margin-right: 25px;}
.historyCon .timeLine li a{ display: block; position: relative; width: 250px; height: 170px;}
.historyCon .timeLine li img{ width: 250px; height: 170px;}
.historyCon .timeLine li span,
.historyCon .timeLine li strong{ display: block; position: absolute; left: 0; bottom: 0; width: 250px;}
.historyCon .timeLine li span{ height: 36px; background: url(//mat1.gtimg.com/auto/005/bbb/images/shadow2.png) no-repeat;}
.ie6 .historyCon .timeLine li span{ background: #000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.historyCon .timeLine li strong{ height: 36px; color: #fff; font: normal 14px/36px "\5B8B\4F53"; text-align: center;}

#mainWrap{ overflow:hidden; width:800px; height:170px; margin:0 auto;}
.main{ position:relative; overflow:hidden; width:800px; height:170px;}
.main-inner{ width:99999px;}
.main-inner ul{ float:left;}
.srcollBar{ position:relative; width:800px; height:0px; margin-top: 20px; font:0/0 Tahoma;}
#barWrap{ position:relative; overflow:hidden; float:left; width:800px; height:10px; background:#dbdbdb; font:0/0 Tahoma;}
#bar{ position:absolute; top:0; left:0; cursor:pointer; overflow:hidden; height:10px; background:#92c2ec; font:0/0 Tahoma;}
#upBtn,#downBtn{ display:block; position:absolute; top:-115px; overflow:hidden; cursor:pointer; width:40px; height:44px;}
#upBtn span,#downBtn span{ display:block; width:40px; height:44px; background: #000;}
#upBtn em,#downBtn em{ display:block; position:absolute; left: 0; top: 0; width:40px; height:44px;}
#upBtn{ left:0;}
#downBtn{ right:0;}

#upBtn.moreL:link span,#upBtn.moreL:visited span{ filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
#upBtn.moreL:hover span,#upBtn.moreL:active span{ filter:Alpha(Opacity=30); -moz-opacity:0.3; opacity:0.3;}

#downBtn.moreR:link span,#downBtn.moreR:visited span{ filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
#downBtn.moreR:hover span,#downBtn.moreR:active span{ filter:Alpha(Opacity=30); -moz-opacity:0.3; opacity:0.3;}

#upBtn em{ background:url(//mat1.gtimg.com/auto/005/bbb/images/goL.png) no-repeat center center;}
#downBtn em{ background:url(//mat1.gtimg.com/auto/005/bbb/images/goR.png) no-repeat center center;}
#upBtn.noL:link span,#upBtn.noL:visited span{ filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
#upBtn.noL:hover span,#upBtn.noL:active span{ filter:Alpha(Opacity=30); -moz-opacity:0.3; opacity:0.3;}

#downBtn.noR:link span,#downBtn.noR:visited span{ filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
#downBtn.noR:hover span,#downBtn.noR:active span{ filter:Alpha(Opacity=30); -moz-opacity:0.3; opacity:0.3;}




.daoyu_{ height:105px;}
.daoyu_ h2.Top1{ width:30px; height:60px; padding:20px 5px; line-height:30px;}
.daoyuBd{ float:right; width:750px; font:14px/24px "宋体";}
.cls{ clear:both; height:0; overflow:hidden; font:0/0 "宋体";}
/*!important*/
.gqzt-bod{ margin-top:20px;}
.gqzt-bod table{ width:850px !important;}
.dis{ display:block}
.undis{ display:none}
#jgphb td.jg a{ color:#ea0704; text-decoration:none}/*  |xGv00|2d150d43664b94e1edf0cff1f15d8eb2 */
.xgfcs3{width:850px; height:480px; overflow:hidden; position:relative}
.xgfcs3 .tsbg3{position:absolute; width:850px; height:79px; left:1px; top:402px; background:#666666;filter: Alpha(Opacity=70);-moz-opacity:0.7;}
.xgfcs3 .fsimg3{position:absolute; width:850px; height:72px; left:10px; top:402px; padding-top:7px; overflow:hidden}
.xgfcs3 .fsimg3 img{cursor:pointer}
.xgfcs3 #sbimg{width:850px; height:480px; filter:progid:DXImageTransform.Microsoft.Fade(duration=1,overlap=1)}
.xgfcs3 #scimg{width:10000px; position:absolute; left:0px}
.xgfcs3 #scimg div{float:left; width:121px}
.xgfcs3 .f4{border:#fff 1px solid}
.xgfcs3 .f5{border:#a9a9a9 1px solid; filter: Alpha(Opacity=70);-moz-opacity:0.7;}
.fcon2{padding:0 14px; line-height:24px}
.xgim7 img{ width:850px; height:480px; border:#a9a9a9 1px solid}

#floatLeft{ display:none;}
.tit h2.Top2{ border-color:#f2941a;}
.daoyuBd p{ margin:15px 0;}

/* media query
----------------------------------------------- */


/* 补充
----------------------------------------------- */
.marginT20{ margin-top: 20px;}
/*  |xGv00|af10c167981900aaea19be6a85c294af */