@charset "utf-8";
/* CSS Document */


body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select { margin: 0; padding: 0 }
body{
	color: #333;
	position: relative;
	min-width: 1000px;
	font-family: "宋体", Arial;
	font-size: 12px;
	line-height: 24px;
	background-color: #FFFFFF;
}
a { color: #333; text-decoration: none;outline:none;}
a:hover {
	color: #FFB618;
	text-decoration: none;
	
}
li { list-style: none }
img { border:none; vertical-align: middle;}
table { border-collapse: collapse; border-spacing: 0 }
input{ background:none;}
p { word-wrap: break-word;}
.left{float:left}
.right{float:right}
.clear{clear:both;}
.centre{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.fl{ float:left}
.fr{float:right}
.re{position:relative;}
.ab{ position:absolute;}
/*  Header styles */

.mod_back_top{position:fixed;_position:absolute;z-index:99999;bottom:45px;_bottom:auto;right:30px}
.mod_back_top .back_top{display:block;width:50px;height:50px;line-height:100;overflow:hidden;background-image:url(//mat1.gtimg.com/gd/images/iveimage/backtop.png);}
.mod_back_top .back_top:hover{background-image:url(//mat1.gtimg.com/gd/images/iveimage/backtoplink.png);}
.innerBox{margin-top:20px;}
.bianji{width:100%; height:50px;background:#242424; min-width:1000px;}
.bianjimain{ width:1000px;margin:0 auto; }
.bianjimain p {font-size: 14px; color: #ededed;  line-height: 50px; text-align: center;}


.header{
	height: 490px;
	min-width: 1000px;
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 80px;
}

.fl{ float:left}

.logo{
	width: 207px;
	padding-top: 20px;
	margin-bottom: 22px;
	float: left;
}
.list{
	font-size: 16px;
	color: #FFF;
	line-height: 30px;
	height: 30px;
	padding-top: 60px;
	font-family: "微软雅黑", Arial;
	float: right;
}
.list a{
	color: #FFF;
}
.title{
	background-color: #ffb618;
	height: 350px;
	width: 270px;
	padding-right: 40px;
	padding-left: 40px;
	font-family: "微软雅黑", Arial;
	float: left;
}
.title .num{
	background-color: #043187;
	margin-right: auto;
	margin-left: auto;
	line-height: 50px;
	color: #FFF;
	height: 50px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding-right: 30px;
	padding-left: 30px;
	width: 120px;
}
.title h1{
	font-size: 30px;
	line-height: 40px;
	font-weight: normal;
	margin-bottom: 15px;
}
.title h2{
	font-size: 14px;
	font-weight: normal;
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/del.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 30px;
	margin-bottom: 20px;
}
.title .vote{
	line-height: 35px;
	color: #FFF;
	text-align: center;
	height: 35px;
	margin-right: 15px;
	background-color: #000;
	width: 80px;
	float: left;
}
.focus{
	float: right;
	width: 650px;
	font-family: "微软雅黑", Arial;
}
.focus .pic{
	width: 650px;
}
.focus .bg{
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/focusbg.jpg);
	height: 55px;
	color: #FFF;
	padding-left: 20px;
	padding-top: 5px;
}
.focus .bg span{
	color: #999;
}
.act{
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/act.jpg);
	height: 42px;
	font-family: "微软雅黑", Arial;
	font-size: 18px;
	color: #FFF;
	line-height: 42px;
	margin-bottom: 40px;
}
.act1{
	float: left;
	text-align: center;
	width: 270px;
}
.act2{
	float: right;
	width: 270px;
	text-align: center;
}
.pkall{
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/PK.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 40px;
}
.pkall .pk{
	color: #FFF;
	width: 290px;
	font-family: "微软雅黑", Arial;
	font-size: 14px;
	line-height: 24px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	background-repeat: no-repeat;
	background-position: 15px center;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 105px;
}
.pkall .pk1{
	background-color: #E78F25;
	float: left;
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/PK1.png);
}
.pkall .pk2{
	background-color: #48A3E4;
	float: right;
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/PK2.png);
}
.pkall .tit{
	line-height: 124px;
	font-weight: bold;
	width: 90px;
	float: left;
}
.pkall .word{
	float: left;
	width: 290px;
}
.manner{
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/tit.jpg);
	padding-top: 80px;
	background-repeat: no-repeat;
	margin-bottom: 80px;
}
.mannera{
	width: 494px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
	padding-left: 5px;
	float: left;
}
.manbox{
	width: 460px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #cccccc;
	margin-bottom: 20px;
}
.manbox .bd{
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
	color: #333;
	font-family: "微软雅黑", Arial;
}
.detail{
	float: left;
	width: 300px;
	margin-left: 10px;
	color: #999;
}
.detail span{
	color: #336699;
}
.detail a{
	color: #336699;
	float: right;
}

.mannerb{
	float: left;
	width: 465px;
	padding-left: 35px;
}
.pinglun{
	padding-bottom: 20px;
}
.votebox{
	margin-bottom: 80px;
}
.voteButton{
	width: 440px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/vs.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 40px;
}
.voteButton span{
	display: block;
	position: relative;
	text-align: center;
	font-size: 16px;
	font-family: "微软雅黑", Arial;
	padding-top: 0;
	padding-bottom: 0;
	color: #FFF;
	line-height: 35px;
}
.voteButton .vs{
	width: 130px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	height: 100px;
}
.voteButton .num{
	font-size: 20px;
	color: #FFF;
	text-align: center;
	line-height: 65px;
	height: 65px;
}
.voteButton .vs1{
	float: left;
	background-color: #DE7F51;
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/vs1.jpg);
	background-repeat: no-repeat;
}
.voteButton .vs2{
	float: right;
	background-color: #8CA9D1;
	background-image: url(//mat1.gtimg.com/gd/alanhe/wywtd/vs2.jpg);
}
.voteButton a{
	color: #FFF;
}
.persent{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	font-family: "微软雅黑", Arial;
	font-size: 18px;
	color: #999;
}
.persent td{
	height: 15px;
}
.persent td#per1{
	background-color: #EF8F28;
}
.persent td#per2{
	background-color: #30A3E6;
}
#num1{
	position: absolute;
	left: 0%;
	margin-left: -5%;
}
#num2{
	position: absolute;
	right: 0px;
	margin-right: -5%;
}
.appbox{ display:none;}/*  |xGv00|21bb78127fd6a00ea1b1b501d5d175c0 */