.clearfix{+zoom:1}.clearfix:after{clear:both;content:".";display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
html,body{overflow-x:hidden;}
.pageInner{
	margin: auto;
    min-width: 1000px;
    position: relative;
    z-index: 1
}
.page{
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/bg.jpg')  no-repeat center top;
	position:relative;
	width:100%;
	height:100%;
	font-family:microsoft yahei;
}
.container{
	padding-top:4px;
	position:relative;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/topbg.png') no-repeat center top;
	z-index:4;
}
.banner{
	height:0;
	overflow:hidden;
}
.banner h1,.banner p{
	font-size:0;
	text-indent:-9999px;
}
.layout{
	width:1000px;
	margin:0 auto;
	position:relative;
}
.animinate{
	z-index:3;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
.show_customer{
	height:194px;
	overflow:hidden;
	position:relative;
}
.mazdalogo{
	position:absolute;
	top:80px;
	right:0;
}
.videoarea{
	position:relative;
	padding-top:47px;
	height:600px;
}
.fishlogo{
	width:212px;
	height:218px;
	position:absolute;
	top:-170px;
	left:-25px;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/logo.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/logo.png");
    _background:none;
	font-size:0;
	text-indent:-9999px;
	z-index:10;
}
.updatetime{
	position:absolute;
	top:-32px;
	left:730px;
	width:130px;
	height:32px;
	line-height:32px;
	font-size:14px;
	color:#333;
	white-space:nowrap;
	overflow:hidden;
}
.qishu{
	display:block;
	position:absolute;
	top:12px;
	left:152px;
	width:70px;
	text-align:center;
	color:#f1f201;
	font-size:14px;
}
.title{
	position:absolute;
	top:0;
	left:220px;
	width:480px;
	height:45px;
	overflow:hidden;
	font:bold 20px/45px microsoft yahei;
	color:#fff;
}
.title:hover{color:#FFD32D; text-decoration:none;}
.person{
	position:absolute;
	top:-117px;
	left:195px;
	width:130px;
	height:116px;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/personbg.png') no-repeat;
}
.mod_action_share{
	position:absolute;
	top:10px;
	left:735px;
	width:308px;
}
.sharetips,.shareicon{
	float:left;
	display:inline;
}
.shareicon{width:150px;}
.sharetips{
	font:normal 14px/24px microsoft yahei;
	color:#333;
	margin-right:8px;
}
.mod_share,.mod_action{
	float:left;
	display:inline;
}
.mod_action{
	background:#FF9933;
	padding:1px 8px 3px;
	border-radius:2px;
	margin-right:10px;
}
.action_item .ico_alert,.action_item .ico_collect,.action_item .ico_collected,.ico_collect_star{
	float:left;
	display:inline;
	width:20px;
	height:19px;
	overflow:hidden;
	margin-top:1px;
	margin-right:5px;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/shareicon.png') no-repeat;
	cursor:pointer;
	vertical-align:middle;
}
.action_item .ico_collect{background-position: -152px -3px;}
.action_item:hover .ico_collect{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition:all .5s ease-in-out;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	background-position: -182px -3px\9;

}
.btn_alert_cancel .ico_collect{background-position: -182px -3px;}
.action_item .ico_text{float:left; display:block; height:15px; line-height:14px; padding-top:4px; overflow:hidden; font-size:14px;color: #fff; cursor:pointer; text-decoration:none; overflow:hidden;}
.mod_action .action_item{float:left;position:relative;*zoom:1}
.action_item:hover .ico_collect {
    opacity:1;
	filter:alpha(opacity=100);
}
.mod_pop_alert_hint{position:absolute;width:auto;_width:300px;white-space:nowrap;left:0;top:47px; z-index:4;}
.mod_pop_alert_hint .mod_pop_content{white-space:nowrap;font-size:0;letter-spacing:-5px}
.mod_pop_alert_hint .triangle,.mod_pop_alert_hint .fix_left,.mod_pop_alert_hint .fix_right,.mod_pop_alert_hint .mod_pop_content_inner{
	display:inline-block;
	height:23px;
	overflow:hidden;
	vertical-align:top;
	background-image:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_alert_hint.32.png);
	_background-image:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_alert_hint.ie6.png)
}
.mod_pop_alert_hint .fix_left{width:4px}
.mod_pop_alert_hint .fix_right{width:5px;background-position:right 0}
.mod_pop_alert_hint .triangle{
	background:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_arrow.32.png) no-repeat 0 0;
	_background:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_arrow.32.ie6.png) no-repeat 0 0;
	position:absolute;top:-7px;left:22px;width:15px;height:8px
}
.mod_pop_alert_hint .mod_pop_content_inner{background-position:0 -25px;overflow:visible}
.mod_pop_alert_hint .mod_pop_content_inner .text{display:inline-block;padding:0 6px;line-height:22px;color:#7e7e7e;font-family:simsun;font-size:12px;letter-spacing:normal}
.popup_wadint{height:36px;line-height:36px;padding:0 40px 0 10px;color:#7d5818;background:#ffffd7;border:#e1d8bf 1px solid;border-radius:3px;font-size:14px}
.popup_wadint a{color:#4580cf;text-decoration:underline}
.mod_pop_alert_hint .tags_close{font-size:25px;position:absolute;right:10px;top:2px;color:#B89864;cursor:pointer;font-style:normal;font-weight:400;}

.mod_share .iShareWrap a{
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/shareicon.png') no-repeat;
}
.mod_share .iShareWrap a.iShare_1_weixin,.mod_share .iShareWrap a.iShare_1_weixin:hover{
	background-position:-117px 0!important;	
}
.mod_share .iShareWrap a.iShare_1_qzone,.mod_share .iShareWrap a.iShare_1_qzone:hover{
	background-position:-30px 0!important;
}
.mod_share .iShareWrap a.iShare_1_QQ,.mod_share .iShareWrap a.iShare_1_QQ:hover{
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/shareicon.png') no-repeat -59px 0!important;
}
.mod_share .iShareWrap a.iShare_1_tqq,.mod_share .iShareWrap a.iShare_1_tqq:hover{
	background-position:0 0!important;
}
.mod_share .iShareWrap a.iShare_1_tsina,.mod_share .iShareWrap a.iShare_1_tsina:hover{
	background-position:-88px 0!important;
}
.mod_share .iShareWrap a.iShare_1_weixin,
.mod_share .iShareWrap a.iShare_1_qzone,
.mod_share .iShareWrap a.iShare_1_QQ,
.mod_share .iShareWrap a.iShare_1_tqq,
.mod_share .iShareWrap a.iShare_1_tsina{
	width:24px;
	height:24px;
	margin-right:6px;
}

.mod_share .iShareWrap a.iShare_1_weixin:hover,
.mod_share .iShareWrap a.iShare_1_qzone:hover,
.mod_share .iShareWrap a.iShare_1_QQ:hover,
.mod_share .iShareWrap a.iShare_1_tqq:hover,
.mod_share .iShareWrap a.iShare_1_tsina:hover{
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.videobox{
	width:100%;
	height:468px;
	background:#000;
	position:relative;
}
.mod_player div{
	width:750px;
	height:468px;
}
.mod_player{
	float:left;
	display:inline;
	width:750px;
	height:468px;
	background:#000;
	position:relative;
	z-index:1;
}
.videolistbox{
	float:right;
	display:inline;
	width:248px;
	height:468px;
	background:#242424;
	position:relative;
	z-index:2;
}
.videolistbox h3{
	font:normal 14px/32px Microsoft YaHei,Tahoma, Geneva, sans-serif,simSun;
	color:#fff;
	padding-left:25px;
	border-bottom:1px solid #13772f;
}
.playlist{
	position:relative;
	width:100%;
	height:435px;
	overflow-y:auto;
}
.playlist ul{
    overflow: hidden;
    position: relative;
    top: 0;
}
.playlist li a{
	display: block;
	height:46px;
	min-height:46px;
	padding:10px 10px 15px 25px;
}
.playlist li.current a{
	background:#151515;
	height:62px;
	min-height:22px;
}
.playlist li a:hover{cursor: pointer;}
.playlist img{
	float: left;
	display:inline;
	width: 81px;
	height:46px;
	margin-right: 10px;
}
.playlist li.current a img{
	width:109px;
	height:62px;
}
.playlist a:hover{text-decoration: none;}
.playlist h4{
	color: #a6a6a6;
	margin-bottom:6px;
	font:normal 12px/20px simSun;
}

.playlist::-webkit-scrollbar{width:8px}
.playlist::-webkit-scrollbar-button{display:none}
.playlist::-webkit-scrollbar-button:vertical:end:increment{display:block;height:8px;}
.playlist::-webkit-scrollbar-track{height:200px;border-radius:3px;}
.playlist::-webkit-scrollbar-button:vertical:end:increment{background-color:#4b4b4b;}
.playlist::-webkit-scrollbar-track{background-color:#4b4b4b;}
.playlist::-webkit-scrollbar-track-piece:vertical:start{width:4px;background:#4b4b4b}
.playlist::-webkit-scrollbar-track-piece:vertical:end{width:4px;background:#4b4b4b}
.playlist::-webkit-scrollbar-thumb:vertical{background:#818181;cursor:pointer}
.playlist{
	scrollbar-arrow-color:#4b4b4b;/*ie下上下箭头的颜色*/
	scrollbar-face-color:#818181;/*ie下滚动条的基本颜色*/
	scrollbar-track-color:#4b4b4b;/*ie下立体滚动条背景颜色*/
	scrollbar-highlight-color:#818181;/*ie下滚动条空白部分的颜色*/
	scrollbar-3dlight-color:#616161;/*立体滚动条亮边的颜色*/
	scrollbar-shadow-color:#818181;/*ie下立体滚动条阴影的颜色*/
	scrollbar-darkshadow-color:#616161;/*立体滚动条强阴影的颜色*/
}
.video_tit{color:#bebebe; line-height:18px;}

.videobox .btn_player_expand{
	display:none;
	position:absolute;
	width:10px;
	height:468px;
	top:0;
	left:750px;
	overflow:hidden;
	z-index:2;
	border-right:1px solid #2D2D2D;
	background:#343434;
	background:-moz-linear-gradient(left,#2d2d2d 0,#3b3b3b 100%);
	background:-webkit-linear-gradient(left,#2d2d2d 0,#3b3b3b 100%);
	background:linear-gradient(to right,#2d2d2d 0,#3b3b3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d2d2d',endColorstr='#3b3b3b',GradientType=1);
	*background:url(about:blank);
	*zoom:1;
	clear:both;
	cursor:pointer;
}
.videobox .btn_player_expand:hover{
	border-right-color:#444;
	background:#1d1d1d;
	background:-moz-linear-gradient(left,#5B5B5B 0,#5D5D5D 100%);
	background:-webkit-linear-gradient(left,#5B5B5B 0,#5D5D5D 100%);
	background:linear-gradient(to right,#5B5B5B 0,#5D5D5D 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#595959',endColorstr='#5D5D5D',GradientType=1);
	*background:url(about:blank)
}
.btn_player_expand:hover .btn_inner::before{color:#EE9303}
.btn_player_expand .btn_inner{
	position:absolute;
	display:block;
	width:8px;
	height:7px;
	overflow:hidden;
	top:50%;
	left:2px;
	margin-top:-3px;
	background:transparent url(http://imgcache.gtimg.cn/mediastyle/video_2013/style/img/play/sprite_play_ie8.png) -20px 0 no-repeat;
}
.btn_player_expand:hover .btn_inner{background-position:-70px -70px}
/**展开后**/
.mod_player_section_wide .btn_player_expand{
	left:auto;
	right:-8px;
	_right:0px;
	border-right:0 none;
	border-left:1px solid #2D2D2D;
}
.mod_player_section_wide .btn_player_expand .btn_inner{
	left:-1px;
	margin-left:2px;
}
.mod_player_section_wide .btn_player_expand .btn_inner{background-position:-30px 0;margin-left:1px}
.mod_player_section_wide .btn_player_expand:hover .btn_inner{background-position:-80px -70px}
.huigu{
	margin-top:65px;
	position:relative;
	height:446px;
}
.huigu h3{
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/huigu_titbg.png');
	width:158px;
	height:88px;
	text-align:center;
	font:bold 24px/94px microsoft yahei;
	color:#3c9dd2;
	position:relative;
	margin-left:-25px;
	overflow:hidden;
}
.huigu .pre,.huigu .next{
    cursor: pointer;
    display: block;
    font-size: 0;
    width: 79px;
    height: 151px;
    overflow: hidden;
    position: absolute;
    top:40%;
    background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/sprits.png');
}
.huigu .pre{left:0;background-position:0 0;}
.huigu .next{right:0;background-position:-80px 0;}
.huigu .pre:hover{background-position:-161px 0;}
.huigu .next:hover{background-position:-241px 0;}
.huigucont{
	width:765px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
.huigucont ul{width:800px;padding:0 13px; overflow:hidden;}
.huigucont li{
	float:left;
	display:none;
	width:155px;
	height:134px;
	margin:16px 45px 0 0;
	position:relative;
	background:#62a00a;
}
.huigucont li img{
	display:block;
	width:155px;
	height:87px;
}
.huigucont h4{
	background:#fff;
	padding:5px;
	height:37px;
	overflow:hidden;
	font:normal 12px/20px microsoft yahei;
	color:#333;
}
.mask_txt{
	position:absolute;
	top:68px;
	left:-9px;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/sprits.png') -235px -245px;
	_background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/spritsie6.png') -235px -245px;
	width:47px;
	height:28px;
	z-index:10;
	padding-left:12px;
	color:#fff;
	font:normal 12px/20px microsoft yahei;
}
.huigucont a:hover .mask_txt{text-decoration:none;}
.first .mask_txt{background-position:-159px -245px;}
.playbtn{
	position:absolute;
	top:26px;
	left:50%;
	width:25px;
	height:29px;
	margin-left:-12px;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/sanjiao.png') no-repeat;
    z-index:10;
    display:none;
    _zoom:1;
}
.huigucont li a{display:block;width:100%;}
.huigucont li a:hover img,.huigucont li.on img{
	opacity:0.4;
	filter:alpha(opacity=40);
}
.huigucont a:hover{color:#333;cursor:pointer;}
.huigucont a:hover .playbtn,.huigucont li.on .playbtn{display:block;}
.huigucont li.nodate{
	background:#0f6d9e url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/sprits.png') no-repeat 0 -154px;
	overflow:hidden;
}
.huigu .btn {
	width:765px; 
	height:10px;
	padding:5px 0; 
	position:absolute;
	bottom:15px;
	left:145px;
	text-align:center;
}
.huigu .btn span {
	display:inline-block; 
	_display:inline; 
	_zoom:1; 
	width:40px; 
	height:6px; 
	_font-size:0; 
	margin:0 5px; 
	cursor:pointer; 
	background:#2781af;
	overflow:hidden;
}
.huigu .btn span.on{background:#fff;}
.hudong{margin-top:55px;}
.good_hud{
	float:left;
	display:inline;
	width:708px;
	overflow:hidden;
}
.mod_hd{width:100%;}
.hudong h3{font:normal 24px/32px Microsoft YaHei,Tahoma, Geneva, sans-serif,simSun;}
.mod_hd i{
	display:block;
	width:100px;
	height:2px;
	margin-top:8px;
	padding:0 5px;
	overflow:hidden;
	background:-moz-linear-gradient(left,#8ecb0c,#fcd20b 50%);
	background:-webkit-linear-gradient(left,#8ecb0c,#fcd20b 50%);
	background:linear-gradient(to right,#8ecb0c,#fcd20b 50%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ecb0c',endColorstr='#fcd20b',GradientType=1);
}
.hud_theme li{
	float:left;
	display:inline;
	width:312px;
	margin:20px 40px 0 0;
}
.hud_theme h5{
	padding:16px 0 10px;
	font-weight:bold;
}
.theme_tit{
	border-bottom:1px solid #cfe5a0;
	width:100%;
	height:30px;
	font:normal 16px/30px Microsoft YaHei,Tahoma, Geneva, sans-serif,simSun;
}
.theme_tit span{
	float:left;
	display:block;
	padding:0 45px 0 15px;
	background:#f2ffd6;
	position:relative;
}
.theme_tit i{
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/sprits.png') no-repeat -280px -154px;
	width:13px;
	height:30px;
	position:absolute;
	right:0;
	top:0;
}
.hud_theme p{
	line-height:28px;
	font-size:14px;
}
.sendweibo{
	margin-top:15px;
	position:relative;
	padding-top:25px;
	width:664px;
}
.pinglunmore{
	font:normal 14px/20px Microsoft YaHei,Tahoma, Geneva, sans-serif,simSun;
	color:#79B200;
	position:absolute;
	top:0;
	right:0;
}
.sentM{ background:#f2f2f2;}
.subhudong{
	float:right;
	width:278px;
}
.host{
	border:1px solid #e2e6e9;
	padding:15px;
}
.hostpic{
	display:block;
	width:60px;
	height:60px;
	position:relative;
	overflow:hidden;
	margin-bottom:6px;
}
.hostpic .circle{
	width:60px;
	height:60px;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/circle.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/circle.png");
    _background:none;
	cursor:pointer;
}
.hostinfo,.hosttxt{
	float:left;
	display:inline;
}
.hostinfo{margin-right:10px;}
.hosttxt{width:165px; line-height:24px;color:#6a6a6a}
.hostitem li{margin-top:15px; overflow:hidden;}
.listenbtn{
	display:inline-block;
	background:#79b200;
	padding:0px 5px;
	line-height:20px;
	margin-left:2px;
	color:#fff;
	vertical-align:middle;
}
.weixin{
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/sprits.png') no-repeat 0 -290px;
	width:258px;
	height:109px;
	padding:0 0 0 16px;
	margin-top:15px;
	color:#333;
}
.weixin img{
	float:right;
	width:102px;
	height:102px;
	margin:4px 23px 0 0;
}
.weixin{font:normal 20px/24px Microsoft YaHei,Tahoma, Geneva, sans-serif,simSun;}
.weixin h4{font-weight:normal;padding-top:18px;}
.weixin p{font-size:14px;}

#scrolltop{
	display:none;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/sprits.png') no-repeat -159px -154px;
	width:59px;
	height:59px;
	position:fixed;
	_position:absolute;
	bottom:99px;
	right:0;
	font-size:0;
	line-height:200px;
	overflow:hidden;
	z-index:10;
}
#scrolltop:hover{background-position:-220px -154px; cursor:pointer;}
.cloud{
	position:absolute;
	left:50%;
	background-repeat:no-repeat;
	-moz-animation:a_cloud 4s ease-in-out infinite alternate;
	-webkit-animation:a_cloud 4s ease-in-out infinite alternate;
	-o-animation:a_cloud 4s ease-in-out infinite alternate;
	animation:a_cloud 4s ease-in-out infinite alternate;
}
.cloud1{
	width:310px;
	height:163px;
	margin-left:-890px;
	top:405px;
	z-index:2;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud1.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud132.png");
	_background:none;
}
.cloud2{
	width:239px;
	height:125px;
	margin-left:-750px;
	top:403px;
	z-index:2;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud2.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud232.png");
	_background:none;
}
.cloud3{
	width:168px;
	height:89px;
	margin-left:590px;
	top:280px;
	z-index:3;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud3.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud332.png");
	_background:none;

}
.cloud4{
	width:273px;
	height:143px;
	margin-left:672px;
	top:160px;
	z-index:2;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud4.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud432.png");
	_background:none;

}
.cloud5{
	width:112px;
	height:58px;
	margin-left:480px;
	top:250px;
	z-index:1;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud5.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/cloud532.png");
	_background:none;

}

@-moz-keyframes a_cloud{
	from{
		left:50%;
	}
	to{
		left:49%;
	}
}
@-webkit-keyframes a_cloud{
	from{
		left:50%;
	}
	to{
		left:49%;
	}
}
@-o-keyframes a_cloud{
	from{
		left:50%;
	}
	to{
		left:49%;
	}
}
@keyframes a_cloud{
	from{
		left:50%;
	}
	to{
		left:49%;

	}
}


.fish{
	position:absolute;
	left:50%;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/fish.png');
	z-index:1;
}
.fish1{
	width:133px;
	height:116px;
	margin-left:725px;
	top:280px;
	top:54px\9;
	margin-left:530px\9;
	-moz-animation:a_fish1 13s ease-in infinite;
	-webkit-animation:a_fish1 13s ease-in infinite;
	-o-animation:a_fish1 13s ease-in infinite;
	animation:a_fish1 13s ease-in infinite;
}
.fish1first{
	background-position:0 0;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/fish1.png");
	_background:none;

}
.fish1second{background-position:-135px 0;}
.fish2{
	width:112px;
	height:99px;
	margin-left:605px;
	top:265px;
	top:175px\9;
	margin-left:530px\9;
	-moz-animation:a_fish2 12s ease-in infinite 3s;
	-webkit-animation:a_fish2 12s ease-in infinite 3s;
	-o-animation:a_fish2 12s ease-in infinite 3s;
	animation:a_fish2 12s ease-in infinite 3s;
}

.fish2first{
	background-position:0 -120px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/fish2.png");
	_background:none;
}
.fish2second{background-position:-120px -120px;}
.fish3{
	width:231px;
	height:198px;
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/fish_btrg.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/fish_btrg.png");
	_background:none;
	margin-left:567px;
	top:1290px;
	-moz-animation:a_fish3 10s ease-in-out infinite;
	-webkit-animation:a_fish3 10s ease-in-out infinite;
	-o-animation:a_fish3 10s ease-in-out infinite;
	animation:a_fish3 10s ease-in-out infinite;

}

@-moz-keyframes a_fish1{
	0%{
		left:50%;
		opacity:1;
		top:160px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:40%;
		top:10px;
		-moz-transform: rotate(-5deg);
	}
	65%{
		left:25%;
		top:80px;
		-moz-transform: rotate(-10deg);
	}
	100%{
		left:20%;
		top:260px;
		-moz-transform: rotate(-10deg);
	}

}
@-webkit-keyframes a_fish1{
	0%{
		left:50%;
		opacity:1;
		top:160px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:40%;
		top:10px;
		-moz-transform: rotate(-5deg);
	}
	65%{
		left:25%;
		top:80px;
		-moz-transform: rotate(-10deg);
	}
	100%{
		left:20%;
		top:260px;
		-moz-transform: rotate(-10deg);
	}
}
@-o-keyframes a_fish1{
	0%{
		left:50%;
		opacity:1;
		top:160px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:40%;
		top:10px;
		-moz-transform: rotate(-5deg);
	}
	65%{
		left:25%;
		top:80px;
		-moz-transform: rotate(-10deg);
	}
	100%{
		left:20%;
		top:260px;
		-moz-transform: rotate(-10deg);
	}

}
@keyframes a_fish1{
	0%{
		left:50%;
		opacity:1;
		top:160px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:40%;
		top:10px;
		-moz-transform: rotate(-5deg);
	}
	65%{
		left:25%;
		top:80px;
		-moz-transform: rotate(-10deg);
	}
	100%{
		left:20%;
		top:160px;
		-moz-transform: rotate(-10deg);
	}
}


@-moz-keyframes a_fish2{
	0%{
		left:50%;
		opacity:.6;
		top:265px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:48%;
		top:160px;
		opacity:1;
		-moz-transform: rotate(10deg);
	}
	65%{
		left:42%;
		top:280px;
		-moz-transform: rotate(-5deg);
	}
	100%{
		left:36%;
		top:400px;
		-moz-transform: rotate(-10deg);
	}
}
@-webkit-keyframes a_fish2{
	0%{
		left:50%;
		opacity:.6;
		top:265px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:48%;
		top:160px;
		opacity:1;
		-moz-transform: rotate(10deg);
	}
	65%{
		left:42%;
		top:280px;
		-moz-transform: rotate(-5deg);
	}
	100%{
		left:36%;
		top:400px;
		-moz-transform: rotate(-10deg);
	}

}
@-o-keyframes a_fish2{
	0%{
		left:50%;
		opacity:.6;
		top:265px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:48%;
		top:160px;
		opacity:1;
		-moz-transform: rotate(10deg);
	}
	65%{
		left:42%;
		top:280px;
		-moz-transform: rotate(-5deg);
	}
	100%{
		left:36%;
		top:400px;
		-moz-transform: rotate(-10deg);
	}

}
@keyframes a_fish2{
	0%{
		left:50%;
		opacity:.6;
		top:265px;
		-moz-transform: rotate(0);		
	}
	35%{
		left:48%;
		top:160px;
		opacity:1;
		-moz-transform: rotate(10deg);
	}
	65%{
		left:42%;
		top:280px;
		-moz-transform: rotate(-5deg);
	}
	100%{
		left:36%;
		top:400px;
		-moz-transform: rotate(-10deg);
	}

}

@-moz-keyframes a_fish3{
	0%{
		-moz-transform:translate(0,0);
		opacity:.6;
	}
	50%{
		-moz-transform:translate(-50px,-10px);
		opacity:1;
	}
	100%{
		-moz-transform:translate(-100px,-15px);
		opacity:0;
	}
}
@-webkit-keyframes a_fish3{
	0%{
		-webkit-transform:translate(0,0);
		opacity:.6;
	}
	50%{
		-webkit-transform:translate(-50px,-10px);
		opacity:1;
	}
	100%{
		-webkit-transform:translate(-100px,-15px);
		opacity:0;
	}

}
@-o-keyframes a_fish3{
	0%{
		-o-transform:translate(0,0);
		opacity:.6;
	}
	50%{
		-o-transform:translate(-50px,-10px);
		opacity:1;
	}
	100%{
		-o-transform:translate(-100px,-15px);
		opacity:0;
	}
}
@keyframes a_fish3{
	0%{
		transform:translate(0,0);
		opacity:.6;
	}
	50%{
		transform:translate(-80px,-10px);
		opacity:1;
	}
	100%{
		transform:translate(-160px,-15px);
		opacity:0;
	}
}
#guang{position:relative;}
#guang .undis{display:block;overflow:hidden;zoom:1;position:relative; }
.massage{border:1px solid #eaeaea;}
#guang .border1{padding:5px;color:#000;width:652px;height:110px; font-size:14px;overflow:hidden; border:0;}
#tqq_wrt_form{}
#guang .sentM{overflow:hidden;zoom:1;margin:0 0 10px 0; }
#guang .wordNum{position:absolute;bottom:10px;right:110px;font-family:'微软雅黑','黑体';font-size:16px;color:#909090; }
#guang .wordNum em{color:#f00;  }
#guang .sentM .btn{
	    width:100px;
	    height:36px;
	    background:#79b200;
	    float:right; 
	    display:inline;
	    color:#fff;
	    font-size:16px;
	    line-height:36px;
	    text-align:center;
	    border:none;	 
}
#guang .sentM .btn:hover{
	background:#70a402;
}
#guang .sentM .btn:hover{text-decoration:none; }
#followall_mod{display:none;}
.weibopop{
	background:url('//mat1.gtimg.com/2014/images/feiyuqiumixiu/weibopopbg.png');
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="//mat1.gtimg.com/2014/images/feiyuqiumixiu/weibopopbg.png");
	_background:none;
	width:395px;
	height:270px;
	position:absolute;
	z-index:10;
	display:none;
}
.pop_playerbox{
	width:580px;
	height:400px;
	position:absolute;
	z-index:10;
	background:#000;
	margin-top:-210px;
	display:none;
}
.pop_tit{
	height:30px;
	background:#000;
}
.pop_videotit{
	font-size:16px;
	color:#fff;
	line-height:30px;
	padding-left:10px;
	width:530px;
	white-space:nowrap;
	overflow:hidden;
}
#pop_player div{
	width:580px;
	height:400px;
}
.mod_player div{
	width:750px;
	height:468px;
}
.pop_playerclose{
	width:22px;
	height:20px;
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
	background:#333;
	color:#fff;
	font-size:14px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
.pop_playerclose:hover{
	text-decoration:none;
}
.weibo_close{
	width:22px;
	height:22px;
	position:absolute;
	top:51px;
	right:66px;
	font-size:0;
	text-indent:-9999px;
	cursor:pointer;
}
.weibopop h4{
	position:absolute;
	top:127px;
	left:101px;
	width:179px;
	height:46px;
	font:normal 18px/46px Microsoft YaHei,Tahoma, Geneva, sans-serif,simSun;
	color:#fff;
	text-align:center;
}
.weibopop h4 a{color:#fff;}
.extension{margin-top:14px;}
.mod_flashad{margin-top:10px;width:100%; height:90px;position:relative;}
.mod_flash{position:absolute;top:0;left:0; z-index:1;}
.flashlink{
	display:block;
	width:100%; 
	height:90px; 
	position:relative;
	z-index:2;
	background:url(//mat1.gtimg.com/2014/images/feiyuqiumixiu/transparent.png);
}
/*  |xGv00|385850b9b15d104c8e6567d5f26c982e */