/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#f8f8f8; }
a:hover { color:#fff4b8!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff }
.banner,shareTxt,shareImg{ display:none }
/*ad1000*/
.ad1000 { width:1000px; height:150px; margin:0px auto; overflow:hidden }
/*videoBox*/
.videoBox { width:1000px; margin:46px auto 0px; overflow:hidden }
.videoBox .tit { width:1000px; height:26px; line-height:26px; overflow:hidden }
.videoBox .tit h2 { padding-left:35px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#00b63c; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/iconPlay.png) no-repeat }
.videoBox .tit h2 a { display:none; color:#fff; }
.videoBox .tit h2 a:hover{ color:#fff!important; text-decoration:none}
.videoBox .share { float:right; }
.videoBox .share em { color:#fff; }
.videoBox .share .shareA { display:inline-block; width:16px; height:16px; margin:0px 0px 0px 3px; vertical-align:middle; cursor:pointer; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/shareBtn.png) no-repeat }
.videoBox .share .shareA:hover { opacity:0.8; filter:Alpha(Opacity=80); }
.videoBox .share .shareWb { background-position:-19px 0px }
.videoBox .share .shareSina { background-position:0px 0px }
.videoBox .share .shareZone { background-position:-38px 0px }
.videoBox .share .shareMail { background-position:-57px 0px }
.videoBox .share .shareKx { background-position:-76px 0px }
.videoBox .share .shareRenren { background-position:-95px 0px }
.videoBox .dingyue { display:inline-block; width:59px; height:21px; margin-left:10px; line-height:21px; text-align:left; vertical-align:middle; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/greenBtn.png) no-repeat }
.videoBox .dingyue a { color:#fff; margin-left:9px; padding-right:20px; }
.videoBox .dingyue a:hover { color:#fff!important; text-decoration:none }
.videoBox .dingyue .dy { background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/iconDy.png) no-repeat right }
.videoBox .dingyue .dy:hover { background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/iconDyOver.png) no-repeat right }
.videoBox .dingyue .dyOn { margin-left:2px!important }
.videoBox .dingyue .dyOn, .videoBox .dingyue .dyOn:hover { background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/iconDyOn.png) no-repeat right!important }
.mod_action { display: inline-block; margin-left:5px; vertical-align:middle}
.mod_action { background: none repeat scroll 0 0 #FF9933; border-radius: 2px; padding: 1px 8px 3px; }
.action_item .ico_alert,.action_item .ico_collect,.action_item .ico_collected,.ico_collect_star { background: url("//mat1.gtimg.com/2014/images/feiyuqiumixiu/shareicon.png") no-repeat; cursor: pointer; display: inline; float: left; height: 19px; margin-right: 5px; margin-top: 1px; overflow: hidden; vertical-align: middle; width: 20px;  }
.action_item .ico_collect { background-position: -152px -3px; }
.action_item:hover .ico_collect { transform: rotate(360deg); transition: all 0.5s ease-in-out 0s; }
.btn_alert_cancel .ico_collect { background-position: -182px -3px; }
.action_item .ico_text { color: #FFFFFF; cursor: pointer; display: block; float: left; font-size: 14px; height: 15px; line-height: 14px; overflow: hidden; padding-top: 4px; text-decoration: none; }
.mod_action .action_item { float: left; position: relative; }
.action_item:hover .ico_collect { opacity: 1; }
.mod_pop_alert_hint { left: 0; position: absolute; top: 47px; white-space: nowrap; width: auto; z-index: 4; }
.mod_pop_alert_hint .mod_pop_content { font-size: 0; letter-spacing: -5px; white-space: nowrap; }
.mod_pop_alert_hint .triangle, .mod_pop_alert_hint .fix_left, .mod_pop_alert_hint .fix_right, .mod_pop_alert_hint .mod_pop_content_inner { background-image: url("//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_alert_hint.32.png"); display: inline-block; height: 23px; overflow: hidden; vertical-align: top; }
.mod_pop_alert_hint .fix_left { width: 4px; }
.mod_pop_alert_hint .fix_right { background-position: right 0; width: 5px; }
.mod_pop_alert_hint .triangle { background: url("//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_arrow.32.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 8px; left: 22px; position: absolute; top: -7px; width: 15px; }
.mod_pop_alert_hint .mod_pop_content_inner { background-position: 0 -25px; overflow: visible; }
.mod_pop_alert_hint .mod_pop_content_inner .text { color: #7E7E7E; display: inline-block; font-family: simsun; font-size: 12px; letter-spacing: normal; line-height: 22px; padding: 0 6px; }
#video { width:1000px; height:474px; margin:8px auto 0px; background:#000 }
/*box1*/
.box1 { width:1000px; margin:50px auto 0px; overflow:hidden }
.box1 .hd { width:1000px; height:47px; line-height:36px; overflow:hidden; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/hdbg.png) no-repeat }
.box1 .hd h2 { margin-left:26px; font-size:24px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; }
.box1 .bd { width:1000px; margin:40px auto 0px; overflow:hidden }
.scrollBox { position:relative; width:1000px; height:128px; }
.scrollBox .con { position:relative; width:928px; height:128px; margin-left:38px; overflow:hidden; }
.scrollBox .leftBtn { position:absolute; top:29px; left:0px; width:35px; height:71px; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/left.png) no-repeat; cursor:pointer }
.scrollBox .rightBtn { position:absolute; top:29px; right:0px; width:35px; height:71px; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/right.png) no-repeat; cursor:pointer }
.scrollBox .leftBtn:hover, .scrollBox .rightBtn:hover { opacity:0.8; filter:Alpha(Opacity=80); }
.scrollUl { position:absolute; top:0px; left:0px; width:928px; height:128px; overflow:hidden; }
.scrollUl li { display:inline; position:relative; float:left; width:228px; height:128px; padding-right:4px; overflow:hidden; opacity:0.5; filter:Alpha(Opacity=50) }
.scrollUl li img { width:228px; height:128px }
.scrollUl li .txt { position:absolute; bottom:-18px; left:0px; width:228px; height:44px; background:rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endColorstr='#99000000');
-moz-transition:all 0.3s ease-out 0s; }
.scrollUl li .txt .play { display:block; float:left; width:25px; height:26px; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/iconPlay.png) no-repeat }
.scrollUl li .txt p { float:left; width:183px; padding:4px 10px 0px 10px; line-height:19px; overflow:hidden; font-size:13px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; }
.scrollUl li .txt p a, .scrollUl li .txt p a:hover { color:#fff!important; text-decoration:none }
.scrollUl li:hover .txt { bottom:0px; -moz-transition:all 0.3s ease-out 0s; transition:all 0.3s ease-out 0s; -o-transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s; }
.scrollUl li.cur { opacity:1; filter:Alpha(Opacity=100) }
/*box2*/
.box2 { width:1000px; margin:50px auto 0px; padding-top:60px; border-top:5px solid #4ab96d; overflow:hidden }
.box2 .left { float:left; width:680px; overflow:hidden }
.comm { width:680px }
.box2 .right { float:right; width:270px; overflow:hidden }
.zhuchi { width:270px; margin-bottom:35px; overflow:hidden }
.zhuchi .img { float:left; position:relative; width:109px; height:109px; }
.zhuchi .img img { position:absolute; top:0px; left:0px; width:109px; height:109px; z-index:9 }
.zhuchi .img .ball { position:absolute; top:0px; left:0px; width:109px; height:109px; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/ball.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ball.png', sizingMethod='crop');
z-index:10; }
.zhuchi .img .ball a { display:block; width:109px; height:109px; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/ball.png) no-repeat scroll -9999px 0px }
.zhuchi .txt { float:right; width:150px; overflow:hidden }
.zhuchi .txt dl { width:150px; overflow:hidden }
.zhuchi .txt dl dt { width:150px; height:26px; line-height:26px; overflow:hidden; margin-bottom:10px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#333 }
.zhuchi .txt dl dt a { color:#333 }
.zhuchi .txt dl dt span { display:inline-block; width:85px; height:26px; margin-right:5px; line-height:26px; text-align:left; text-indent:0.1cm; color:#fff!important; background:url(//mat1.gtimg.com/2014/images/videoimg/jingcaisjb/zebian.png) no-repeat }
.zhuchi .txt dl dt span a, .zhuchi .txt dl dt span a:hover { color:#fff!important; text-decoration:none }
.zhuchi .txt dl dd { line-height:23px }
.box2 .right .ad { width:270px; height:180px; background:#dbdbda }
/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop.png) no-repeat; bottom:45px; display:none; height:58px; position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop2.png) no-repeat; }
/*  |xGv00|d5ebf265b6c469433b8239e678153326 */