@charset "utf-8";
/* CSS Document */

.hkhk{width:1100px;margin:0px auto;}

/*导航*/
.dhpc{float:left; color:#FFF; font-size:22px; line-height:52px;font-family:'微软雅黑';text-align:center;width:125px;}
.dhpc a{float:left; color:#FFF; font-size:22px; line-height:52px;font-family:'微软雅黑';text-align:center;width:125px;}
.dhpc a:hover{float:left; color:#FFF; font-size:22px; line-height:52px;font-family:'微软雅黑';text-align:center;width:125px; background-color:#a4cf64; text-decoration:none;}

/*logo变字*/



/*小焦点图*/
/*.focus{ width:100%; height:280px; overflow:hidden; position:relative;}
.page_con{ height:280px; position:relative; overflow:hidden;}
.r_con_pic{ width:400px;height:265px;position:absolute; right:0; bottom:0;}
.r_con_info{ width:330px; height:260px; padding:30px 0 0 30px; position:absolute; left:0; top:0; background:url(//mat1.gtimg.com/fj/2016index/fbg.png) no-repeat;}
.r_con_info h3{ width:300px; height:60px; font-size:18px; line-height:30px;}
.r_con_info h3 a:hover{ text-decoration:none;}
.r_con_info p{ width:290px; height:78px; margin-top:15px; overflow:hidden; color:#888;}
.f_page{ width:100px; height:30px; position:absolute; bottom:30px;left:50px;}
.f_page ul{ width:170px; height:30px; overflow:hidden;}
.f_page ul li{ width:13px; height:13px; margin:0 5px; float:left; background:url(//mat1.gtimg.com/fj/2016index/ibg.png) no-repeat -24px top !important; cursor:pointer}
.f_page ul li.current{ background:url(//mat1.gtimg.com/fj/2016index/ibg.png) no-repeat left top !important;}
.f_page ul li i{ text-indent:-1000em; display:block;}*/


/*滚动图片 huoguoul*/
.huoguoul{width: 930px;border-radius: 8px; }
.swiperx1{width: 930px;height: 170px;}
.gundongp{box-sizing:border-box;width: 165px;margin-left: 10px;}
.gundongp a.huoguopic{width: 165px;height: 120px;}
.gundongp a.huoguopic img{width: 165px;height: 120px;}
.gundongp a.huoguoli{display: block;width: 165px;height: 50px;line-height: 40px;text-align: center;overflow: hidden;font-size: 12px;color: #333;}
.gundongp a.huoguoli:hover{text-decoration: underline;}



/*看案例图片*/
.content1{height: 180px;}
.content1 div.left-foucs{height: 180px;float: left;position: relative;z-index: 1;}
.foucebj{height: 50px;position: absolute;z-index: 2;background-color: #000;opacity: 0.5;bottom: 0;left: 0;}
.fouceword{height: 50px;position: absolute;z-index: 3;bottom: 0;left: 0;color: #fff;font-size: 22px;text-indent: 120px;line-height: 50px;}
.content1 div.right-foucs{width: 188px;position: relative;z-index: 1;overflow: hidden;}
.content1 div.right-foucs a{display:block;width: 188px;height: 180px;position: relative;z-index: 1;overflow: hidden;margin-bottom: 10px;}
.content1 div.right-foucs a p.heitiao{display:block;width: 188px;height: 30px;position: absolute;z-index: 3;overflow: hidden;bottom: 0;left: 0;background-color: #000;opacity: 0.5;}
.heitiaowen{display:block;width: 188px;height: 30px;position: absolute;z-index: 4; font-size:14px;overflow: hidden;bottom: 0;left: 0;line-height: 30px; text-align:center;color: #fff;background:rgba(0,0,0,.6)}
.content1 div.right-foucs img{display:block;width: 188px;height: 180px;position: absolute;z-index: 2;}
.content1 div.right-foucs a p.heitiaowen:hover{color: #F00;}



.content2{height: 370px;}
.content2 div.left-foucs{height: 370px;float: left;position: relative;z-index: 1;}
.foucebj{height: 50px;position: absolute;z-index: 2;background-color: #000;opacity: 0.5;bottom: 0;left: 0;}
.fouceword{height: 50px;position: absolute;z-index: 3;bottom: 0;left: 0;color: #fff;font-size: 22px;text-indent: 120px;line-height: 50px;}
.content2 div.pic-foucs{width: 307px;position: relative;z-index: 1;overflow: hidden;}
.content2 div.pic-foucs a{display:block;width: 307px;height: 370px;position: relative;z-index: 1;overflow: hidden;margin-bottom: 10px;}
.content2 div.pic-foucs a p.heitiao{display:block;width: 307px;height: 30px;position: absolute;z-index: 3;overflow: hidden;bottom: 0;left: 0;background-color: #000;opacity: 0.5;}
.pichetih{display:block;width: 307px;height: 30px;position: absolute;z-index: 4; font-size:14px;overflow: hidden;bottom: 0;left: 0;line-height: 30px; text-align:center;color: #fff;background:rgba(0,0,0,.6)}
.content2 div.pic-foucs img{display:block;width: 307px;height: 370px;position: absolute;z-index: 2;}
.content2 div.pic-foucs a p.heitiaowen:hover{color: #F00;}




/*卖场特刊*/
.meishi-list{height:193px;overflow:hidden; width:306px;}
.meishi-list li{position:relative;display:inline;float:left;width:285px;height:193px;overflow:hidden;}
.meishi-list li.first{width:306px}
.meishi-list li.last{margin-right:0}
.meishi-list li .bok{position:relative;display:block;width:285px;height:193px}
.meishi-list li .bok img{position:relative;display:block;width:285px;height:193px}
.meishi-list li .bok p{position:absolute;bottom:10px;left:27px;width:230px;height:33px;line-height:33px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ddffffff',endColorstr='#ddffffff');background:rgba(255,255,255,.9);font-size:16px;color:#333;text-align:center}
.meishi-list li.first .bok{width:306px}
.meishi-list li.first .bok img{width:306px}
.meishi-list li.first .bok p{left:25px;width:260px}
.meishi-list li span{position:absolute;top:193px;left:0;display:block;width:306px;height:150px;}
.meishi-list li span div{width:306px;height:147px;background:#fff;padding:10px 10px 0px 10px}
.meishi-list li span div h3{line-height:30px;margin:0 0 12px 0;font-size:22px;color:#333}
.meishi-list li span div h3 a{color:#333}
.meishi-list li span div p{line-height:25px;font-size:14px;color:#666}
.meishi-list li span div p.p1{margin-top:47px}
.meishi-list li span div .bok1{display:block;width:140px;height:39px;line-height:39px;background:#ff7300;margin:25px auto 0 auto;font-size:16px;color:#fff;text-align:center}
.meishi-list li.first span{width:285px;}
.meishi-list li.first span div{width:245px;}



.meishi-pic-list{height:118px;overflow:hidden; width:306px;}
.meishi-pic-list li{position:relative;display:inline;float:left;width:285px;height:118px;overflow:hidden;}
.meishi-pic-list li.first{width:149px}
.meishi-pic-list li.last{margin-right:0}
.meishi-pic-list li .bok{position:relative;display:block;width:285px;height:193px}
.meishi-pic-list li .bok img{position:relative;display:block;width:285px;height:193px}
.meishi-pic-list li .bok p{position:absolute;bottom:10px;left:27px;width:230px;height:33px;line-height:33px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ddffffff',endColorstr='#ddffffff');background:rgba(255,255,255,.9);font-size:16px;color:#333;text-align:center}
.meishi-pic-list li.first .bok{width:149px}
.meishi-pic-list li.first .bok img{width:149px}
.meishi-pic-list li.first .bok p{left:25px;width:260px}
.meishi-pic-list li span{position:absolute;top:193px;left:0;display:block;width:149px;height:150px;}
.meishi-pic-list li span div{width:149px;height:147px;background:#fff;padding:10px 10px 0px 10px}
.meishi-pic-list li span div h3{line-height:30px;margin:0 0 12px 0;font-size:22px;color:#333}
.meishi-pic-list li span div h3 a{color:#333}
.meishi-pic-list li span div p{line-height:25px;font-size:14px;color:#666}
.meishi-pic-list li span div p.p1{margin-top:47px}
.meishi-pic-list li span div .bok1{display:block;width:140px;height:39px;line-height:39px;background:#ff7300;margin:25px auto 0 auto;font-size:16px;color:#fff;text-align:center}
.meishi-pic-list li.first span{width:285px;}
.meishi-pic-list li.first span div{width:245px;}/*  |xGv00|4d00e526765f6b5b01ada2592310d8a8 */