body{margin:0;padding:0;background-color:#FFF;}
form,input,select,ul,li,ol,p,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
body,td,select,input,div{font-size:12px; color:#333;}
img{border:none;}
ul,li,ol,dl,dt,dd{list-style:none;}

.nl,.nl a,.ul a:hover,a.nl,a.ul:hover{text-decoration: none;}
.ul,.ul a,.nl a:hover,a.ul,a.nl:hover{text-decoration: underline;}

.color_black{color:#333;}
.color_white{color:#FFF;}
.color_red{color:#F00;}
.color_blue{color:#0F0CBF;}
.color_grey{color:#888888;}

.line_h_16{line-height:16px;}
.line_h_18{line-height:18px;}
.line_h_20{line-height:20px;}
.line_h_21{line-height:21px;}
.line_h_22{line-height:22px;}
.line_h_24{line-height:24px;}
.line_h_26{line-height:26px;}

.text_ind{text-indent:2em;}
.font_s_14{font-size:14px;}
.font_s_12{font-size:12px;}
.font_w_n{font-weight:normal;}
.font_w_b{font-weight:bold;}

.redh a:hover,a.redh:hover{color:#F00;}

.float_l{float:left;}
.float_r{float:right;}

.text_l{text-align:left}
.text_r{text-align:right}
.text_c{text-align:center}

.dis{display:block;}
.undis{display:none;}

.text_title1{font-family:ºÚÌå;font-size:18px;line-height:28px;}
.text_title2{font-family:ºÚÌå;font-size:20px;line-height:28px;}

/* CSS¿Õ°× */
.box_hr4,.box_hr5,.box_hr6,.box_hr8,.box_hr10,.box_hr12{margin:0 auto;font-size:0;line-height:0; background:#fff;clear:both;}
.box_hr4{height:4px;}
.box_hr5{height:5px;}
.box_hr6{height:6px;}
.box_hr8{height:8px;}
.box_hr10{height:10px;}
.box_hr12{height:12px;}

.clr{width:1px;height:0;font-size:0;clear:both;}/*  |xGv00|04e722f1121b5a30e6fd961faf997723 */