/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#057142!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
.container{ width:100%; margin:0px auto; overflow:hidden; background:#0c5c3f }
.banner{ width:100%; height:149px; margin:0px auto; overflow:hidden; background:url(//mat1.gtimg.com/2014/schedule/datamaster/banner.png) no-repeat top center }
.banner h1,.banner p{ display:none}
.box1{ width:1004px; margin:20px auto 0px; overflow:hidden}
.box1 .hd{ width:1004px; height:40px; line-height:34px; overflow:hidden; background:url(//mat1.gtimg.com/2014/schedule/datamaster/hd02.png) no-repeat}
.flBox { background:url(//mat1.gtimg.com/2014/schedule/datamaster/hd01.png) no-repeat}
.flBox .hd{ background:none}
.box1 .hd h2{ margin-left:48px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff}
.box1 .bd{ background:#fff; padding-bottom:10px; overflow:hidden}
.ztBox .bd{ width:960px; margin:0px auto;}
.left{ float:left; width:433px;}
.left .bd{ width:380px; margin:0px 0px 0px 22px; overflow:hidden }
.right{ float:left; width:571px;}
.right .bd{ width:548px; margin:0px 0px 0px 1px; overflow:hidden }
.dateUl li{ display:inline; float:left; width:205px; overflow:hidden}
.dateUl li img{ display:block; width:205px; height:154px; margin-bottom:5px;}
.dateUl li p{ text-align:center;}
.four{ width:960px;}
.four li{ margin:10px 0px 0px 28px;}
.one{ width:380px;}
.one li{ margin:10px 0px 0px 90px;}
.two{ width:548px;}
.two li{ margin:10px 0px 0px 46px;}
/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop.png) no-repeat; bottom:45px; display:none; height:58px; position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop2.png) no-repeat; }/*  |xGv00|2caecd181cba36510bc7dff9c091e440 */