/*global v1.0.0 power by Austinjin @20110525*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
fieldset { display:inline; }
button { line-height:1.2; vertical-align:middle; cursor:pointer; }
strong { font-weight:800; }
/*全局*/
body { font-size:12px;line-height:20px;background:#fff; color:#004653;}
a{color:#004653; text-decoration:none }
a:hover, a:active {text-decoration:underline; }
h1{font-size:20px;font-family:"黑体","Arial Narrow",HELVETICA;line-height:28px;}
h2{font-size:14px;font-weight:bold;}
h4{font-size:12px;font-weight:bold;}
.wrap { width:960px; margin:0 auto 10px auto; overflow:hidden; zoom:1;} 
.hd, .bd, .ft {overflow:hidden; zoom:1; }

.dis{display:block;}
.undis{display:none;}
.fl{float:left;}
.fr{float:right;}

#cards{width:200px;height:30px;}
#cards div{width:30px;height:18px;padding-top:2px;margin:2px;color:#fff;line-height:16px; font-size:12px; font-weight:bold; text-align:center; cursor:pointer; background:#00F; float:left;}
#cards .at{background:#CCC;}
#cards .def{background:#666;}
#cards_con {width:200px;height:120px;}
#cards_con div{width:200px;height:120px; text-align:center;}
#cards_con .dis{display:block;}
#cards_con .undis{display:none;}  


.adArea1 img,.adArea2 img,.adArea3 img,.adArea4 img{display:block;}


.s_col_1 .col_1{float:left;width:310px;}
.s_col_1 .col_2{float:left;width:450px;}
.s_col_1 .col_3{float:right;width:200px;}
.s_col_2 .col_1{float:left;width:688px;padding:0 10px;}
.s_col_2 .col_2{float:right;width:250px;}
.s_col_3 .col_1{float:left;width:319px;}
.s_col_3 .col_2{float:left;width:320px; background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_9.png) left center no-repeat;}
.s_col_3 .col_3{float:right;width:319px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_9.png) left center no-repeat;}
/*模块*/
/*头部搜索区*/
.top_bar{width:958px;height:113px;border:#c9dfd3 1px solid;}
.top_bar .logo{float:left;width:134px;height:113px; background:url(//mat1.gtimg.com/house/bbs/hbbs_logo_1.png) no-repeat; text-indent:-99em;}
.top_bar .fromArea{float:left;width:640px;padding-left:18px;color:#d0d0d0;}
.top_bar .fromArea div{height:22px;line-height:24px;}
.top_bar .fromArea a{color:#666;}
.top_bar .fromArea em{color:#666;}
.top_bar .searchFrom{height:28px;padding-top:8px;vertical-align:middle;}
.top_bar .linkAz{padding:6px 0;}
.top_bar .linkAz a{display:inline-block; width:18px;height:17px;margin:0 2px;line-height:17px;font-size:11px;font-family:Arial, Helvetica, sans-serif; background:url(//mat1.gtimg.com/house/bbs/hbbs_num_3.png) no-repeat; text-align:center;}
.top_bar .linkAz a:hover{color:#fff;background:#c00;text-decoration:none;}
.top_bar .adArea1{float:right;margin:3px;border:#cbcbcb 1px solid;}
/*焦点图*/
.focus_mod{height:258px;}
.focus_mod .bd{width:308px;height:255px;border:#c9dfd3 1px solid;}
/*Q友活动区*/
.qyhd_mod .hd{height:30px;line-height:30px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_1.png) no-repeat;color:#333;}
.qyhd_mod .hd h2{float:left;padding-left:22px;}
.qyhd_mod .hd span{float:right;padding-right:22px;}
.qyhd_mod .hd a{color:#333;}
.qyhd_mod .bd{height:280px;padding:0 11px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_2.png) left top repeat-x; border:#c9dfd3 1px solid;border-top:none;}
.qyhd_mod .picText{height:80px;margin:18px 0 12px;}
.qyhd_mod .picText .picBox{float:left;width:114px;height:77px;}
.qyhd_mod .picText .picBox img{width:100px;height:75px;border:#cbcbcb 1px solid;}
.qyhd_mod .picText .textBox{float:left;width:170px;}
.qyhd_mod .picText .textBox p{color:#666;line-height:21px;}
.qyhd_mod .listBox{line-height:26px;}
/*头条*/
.title_mod{width:420px;margin:0 auto;border-bottom:#dbdbdb 1px dashed;}
.title_mod h1{height:32px;text-align:center;color:#c00;}
.title_mod h1 a{color:#c00;}
.title_mod p{padding:0 20px 12px;color:#666;line-height:24px;}
/*新闻列表1*/
.newslist1_mod{width:390px;margin:0 auto;padding:13px 10px 12px 20px;border-bottom:#dbdbdb 1px dashed;}
.newslist1_mod .bd li{float:left;width:382px;padding-left:8px;line-height:26px; background:url(//mat1.gtimg.com/house/bbs/hbbs_dot_1.png) 0 10px no-repeat;}
.newslist1_mod .bd .fl{ float:left;font-size:14px;}
.newslist1_mod .bd .fr{ float:right;color:#666;}
/*Q友购房群*/
.qyqun_mod .hd{height:33px;line-height:33px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_3.png) no-repeat;color:#333;}
.qyqun_mod .hd h2{float:left;padding-left:35px;}
.qyqun_mod .bd{height:645px;border:#c9dfd3 1px solid;border-top:none;background:#fbfffc;}
.qyqun_mod .bd .qundata table{margin-top:6px;}
/*精彩图片*/
.jctp_mod .hd,.fcbbs_mod .hd,.bbstop_mod .hd{height:46px; background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_4.png) no-repeat;}
.jctp_mod .hd h2,.fcbbs_mod .hd h2,.bbstop_mod .hd h2{float:left;width:96px;height:24px;margin:9px 0 0 82px;overflow:hidden;}
.jctp_mod .bd{height:178px;border:#c9dfd3 1px solid;border-top:none;}

/*滚动图片*/
.srollpics_mod {width:946px;margin:0 auto;margin-bottom:20px;padding-top:15px;}
.srollpics_mod .bd{border:none;}
.srollpics_mod .leftButton,.aboutPics .rightButton{float:left;}
.srollpics_mod .leftButton div,
.srollpics_mod .rightButton div{float:left;width:28px;height:60px;margin-top:40px;}
.srollpics_mod .leftButton div{margin-right:4px;_margin-right:2px;}
.srollpics_mod .rightButton div{margin-left:4px;}
.srollpics_mod .leftButton .off{ background:url(//mat1.gtimg.com/house/bbs/hbbs_bt_2off.png) no-repeat;}
.srollpics_mod .leftButton .on{ background:url(//mat1.gtimg.com/house/bbs/hbbs_bt_2.png) no-repeat;cursor:pointer;}
.srollpics_mod .rightButton .off{ background:url(//mat1.gtimg.com/house/bbs/hbbs_bt_3off.png) no-repeat;}
.srollpics_mod .rightButton .on{ background:url(//mat1.gtimg.com/house/bbs/hbbs_bt_3.png) no-repeat;cursor:pointer;}
.srollpics_mod .picswrap{float:left;width:880px;height:150px;overflow:hidden;position:relative;}
.srollpics_mod .picslist {}
.srollpics_mod .picslist li{display:inline;float:left;width:174px;height:150px;margin:0 1px;line-height:30px;text-align:center;}
.srollpics_mod .picslist img{display:block;width:160px;height:120px;margin:0 auto;border:#cbcbcb 1px solid;}

/*房产论坛*/
.fcbbs_mod .bd{height:398px;border:#c9dfd3 1px solid;border-top:none;}
/*房产论坛列表*/
.bbslist1_mod{float:left;width:300px;padding:10px 20px 0 20px;}
.bbslist1_mod .hd{height:26px;padding-top:2px;line-height:26px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_10.png) left top repeat-x;border-bottom:#fff 1px solid;color:#333;}
.bbslist1_mod .hd a{color:#333;}
.bbslist1_mod .hd h2{margin:0;padding-left:6px;}
.bbslist1_mod .hd span{float:right;padding-right:6px;}
.bbslist1_mod .hd span a{color:#666;}
.bbslist1_mod .bd{height:160px;border:none;border-top:#e3e3e3 1px solid;}
.bbslist1_mod .bd ul{margin:12px 6px 0 0;}
.bbslist1_mod .bd li{float:left;width:294px;line-height:26px;}
.bbslist1_mod .bd .fl{ float:left;font-size:14px;}
.bbslist1_mod .bd .fr{ float:right;color:#666;}
/*版主风采*/
.bzfc_mod {margin-top:10px;}
.bzfc_mod .hd{height:33px;line-height:33px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_6.png) no-repeat;color:#333;}
.bzfc_mod .hd h2{margin:0;padding-left:24px;}
.bzfc_mod .hd a{color:#333;}
.bzfc_mod .bd{height:auto;border:none;border-left:#c9dfd3 1px solid;}
.bzfc_mod .ft{height:86px;padding:15px 0 0 11px;border-left:#c9dfd3 1px solid;}
.bzfc_mod .picText{height:112px;margin:15px 0 0 11px;color:#333;}
.bzfc_mod .picText a{color:#333;}
.bzfc_mod .picText .picBox{float:left;width:122px;height:112px;color:#333;}
.bzfc_mod .picText .picBox img{width:110px;height:110px;border:#cbcbcb 1px solid;}
.bzfc_mod .picText .textBox{float:left;width:100px;}
.bzfc_mod .picText .textBox p{line-height:22px;}
/*论坛热榜*/
.bbstop_mod .bd{height:317px;padding-top:15px;border:#c9dfd3 1px solid;border-top:none;}

.toplist_mod{float:left;}
.toplist_mod .hd{height:32px;line-height:32px;background:none;}
.toplist_mod .hd h2{float:left;width:90px;margin:0;padding-left:20px;}
.toplist_mod .hd div{float:left;width:60px;height:32px;text-align:center; cursor:pointer;}
.toplist_mod .hd .at{height:31px;font-weight:bold;line-height:30px;border:#c0d3c8 1px solid;border-bottom:none; background:#fff;}
.toplist_mod .bd{height:273px;padding:0;border:none;}
.toplist_mod .bd ul{}
.toplist_mod .bd li{height:26px;line-height:26px; vertical-align:bottom;}
.toplist_mod .bd em{float:left;display:block;width:16px;height:13px;margin:5px 6px 0 0; font-family:Arial, Helvetica, sans-serif;font-size:10px;line-height:13px; background:url(//mat1.gtimg.com/house/bbs/hbbs_num_2.png) no-repeat; text-align:center;color:#036;}
.toplist_mod .bd em.top{ background:url(//mat1.gtimg.com/house/bbs/hbbs_num_1.png) no-repeat;color:#fff;}
.toplist_mod .bd .fl{ float:left;}
.toplist_mod .bd .fr{float:right;color:#df4900; font-family:Arial, Helvetica, sans-serif;}

.cardA{width:321px;}
.cardA .hd{ background:url(//mat1.gtimg.com/house/bbs/hbbs_card_1.png)}
.cardA .bd {padding:12px 10px 0 16px;border-right:#c9dfd3 1px solid;}
.cardA .bd li{width:280px;}

.cardB{width:388px;}
.cardB .hd{ background: url(//mat1.gtimg.com/house/bbs/hbbs_card_2.png)}
.cardB .bd{padding-top:12px;border-right:#c9dfd3 1px solid;}
.cardB .bd ul{float:left;padding:0 10px 0 16px;}
.cardB .bd li{width:165px;}

.cardC{width:249px;}
.cardC .hd{ background: url(//mat1.gtimg.com/house/bbs/hbbs_card_3.png)}
.cardC .bd{padding:12px 6px 0 16px;}
.cardC .bd li{width:220px;}

.bbsresearch_mod .hd{height:33px;line-height:33px; background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_5.png) no-repeat;}
.bbsresearch_mod .hd h2{float:left;padding-left:35px;}
.bbsresearch_mod .bd{padding-bottom:6px;border:#c9dfd3 1px solid;border-top:none;}

.bbscard_mod .hd{height:31px;padding-top:5px;padding-left:24px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_7.png) repeat-x;}
.bbscard_mod .hd div{float:left;width:86px;height:31px;margin-right:14px;font-size:14px;line-height:31px; background:url(//mat1.gtimg.com/house/bbs/hbbs_card_5.png) no-repeat; cursor:pointer; text-align:center;}
.bbscard_mod .hd .at{ background: url(//mat1.gtimg.com/house/bbs/hbbs_card_4.png) no-repeat;font-weight:bold;}
.bbscard_mod .bd{border:none;}

.listtable {width:300px;margin:10px 0;}
.listtable td{width:88px;height:24px;padding-left:12px; text-align:left;}
.listtable td a{color:#666;}
.listtable .title{height:36px;line-height:34px;background:url(//mat1.gtimg.com/house/bbs/hbbs_bg_8.png) center center no-repeat;}
.listtable h2{float:left;padding-left:12px;width:80px;}
.listtable span{float:right;padding-right:6px;}
.listtable span a{color:#92baa3;}

.mb10{margin-bottom:10px;}
.nbrb{border-bottom:none;}

/*  |xGv00|a1b5bf9553b927ce634235e6da4ab668 */