* { margin:0; padding:0; list-style:none; text-decoration:none; border:none; color:#333; font-size:12px;}
.banner { width:100%; height:300px; background:url(//mat1.gtimg.com/fj/olympic/banner.jpg) center top no-repeat;}
.banner .gm { width:960px; margin:0 auto; height:300px; position:relative;}
.banner .gm .enddays { width:312px; height:80px; position:absolute; top:63px; right:41px; background:url(//mat1.gtimg.com/fj/olympic/gm.gif) center no-repeat;}
.banner .gm .goldenranks { width:312px; height:46px; position:absolute; top:102px; right:91px;/* background:url(//mat1.gtimg.com/fj/olympic/goldenranks_bg.jpg) center no-repeat;*/}
.banner .gm .goldenranks table { width:180px;text-align:center;border-right:1px solid #ccc; border-top:1px solid #ccc;}
.banner .gm .goldenranks table tr { background:#e94290; font-family:'Microsoft YaHei';}
.banner .gm .goldenranks table .tr1 { height:22px; font-weight:bold;}
.banner .gm .goldenranks table td { height:18px; color:#fff; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
.banner .gm .enddays em { display:inline-block; width:32px; font-size:16px; font-weight:bold; font-style:normal; color:#fff; text-align:center;}
.banner .gm .enddays em.days { margin:40px auto auto 94px;}
.banner .gm .enddays em.hours { margin:40px auto auto 44px;}
.banner .gm .enddays em.minutes { margin:40px auto auto 44px;}
.menu { width:100%; height:72px; padding-bottom:10px; background:url(//mat1.gtimg.com/fj/olympic/menu_repeat_bg.jpg) top repeat-x;}
.menu ul { width:1040px; height:72px; margin:0 auto; overflow:hidden; zoom:1; background:url(//mat1.gtimg.com/fj/olympic/menu_bg.jpg) center 1px no-repeat;}
.menu ul li { width:88px; height:26px; float:left; margin:26px auto auto auto; text-align:center;}
.menu ul li.nav_home { margin-left:57px;}
.menu ul li.nav_guess { width:100px; margin-left:30px;}
.menu ul li.nav_report { width:120px; margin-left:20px;}
.menu ul li.nav_zero { width:95px; margin-left:30px;}
.menu ul li.nav_baby { width:110px; margin-left:40px;}
.menu ul li.nav_video { width:50px; margin-left:30px;}
.menu ul li.nav_history { width:100px; margin-left:40px;}
.menu ul li.nav_dianxin{ margin-left:2px;}
.menu ul li a { display:block; width:auto; height:26px; font-size:0px;}

.main { width:960px; margin:0 auto; }
.main .celebrity_circle { width:960px; height:121px; padding-bottom:10px; background:url(//mat1.gtimg.com/fj/olympic/celebrity_circle.jpg) center top no-repeat;}
.main .celebrity_circle h2 { padding:12px 0px 13px 24px; ; font-size:14px;}
.main .celebrity_circle .celebrity { width:960px; overflow:hidden;}
.main .celebrity_circle .celebrity ul { width:auto; padding-left:22px; overflow:hidden; zoom:1;}
.main .celebrity_circle .celebrity ul li { float:left; margin-right:22px;}
.main .celebrity_circle .celebrity ul li img { width:50px; height:50px; display:block;}
.main .celebrity_circle .celebrity ul li span { width:auto; display:block; padding-top:4px; text-align:center; font-size:12px;} 

.main .first { width:960px; height:642px; padding-bottom:24px;/* overflow:hidden;*/ zoom:1;position:relative;}
.main .first .videoad {display:block;width:197px;height:36px;position:absolute;top:320px;left:140px;background:url(//mat1.gtimg.com/fj/olympic/dianxin.jpg) center no-repeat; z-index:1000;}
.main .first .focus,
.main .first .head_news,
.main .first .guess,
.main .first .video,
.main .first .athletes_report,
.main .first .talking { float:left; display:inline; overflow:hidden; padding:0;}
.main .first .focus { width:346px; height:317px; padding:0px 17px 10px 0px;}
.main .first .head_news { width:336px; height:317px; padding:0px 9px 10px 0px;}
.main .first .head_news ul li { padding:0 0 10px 0; border-bottom:1px dashed #ccc;}
.main .first .head_news ul li.no_border { border:none;}
.main .first .head_news ul li h3 { line-height:48px; text-align:center;}
.main .first .head_news ul li h3 a { font-family:"Microsoft YaHei"; font-weight:normal; font-size:20px; color:#e94290;}
.main .first .head_news ul li p { line-height:24px; text-align:center;}
.main .first .head_news ul li p a { padding:0px 3px; font-size:14px;}
.main .first .head_news ul li p a:hover { color:#E94290;}
.main .first .guess { width:251px; height:317px; padding-bottom:10px;}
.main .first .video { width:346px; height:315px; padding:0px 17px 0px 0px; _padding:0 15px 0 0;}
.main .first .video h3 { width:auto; height:34px; position:relative; background:url(//mat1.gtimg.com/fj/olympic/vedio_title_bg.jpg) center top no-repeat; font-size:0px;}
/*.main .first .video h3 .videoad {display:block;width:206px;height:53px;position:absolute;top:-27px;left:110px;background:url(//mat1.gtimg.com/fj/olympic/dianxin.jpg) center no-repeat;}*/
.main .first .video .videocon { width:343px; height:280px; padding-top:10px; border:1px solid #ccc; border-top:none;}
.main .first .video .videourl { width:326px; height:260px; margin:0 auto; background:#006666;}
.main .first .athletes_report { width:336px; height:310px; padding:0px 9px 0px 0px; _padding:0px 6px 0px 0px;}
.main .first .athletes_report h4 { padding:10px 5px 10px 5px; margin-bottom:5px; font-size:14px; background:url(//mat1.gtimg.com/fj/olympic/title_bgs.jpg) left bottom no-repeat;}
.main .first .athletes_report div a { display:block; padding-left:12px; line-height:24px; font-size:14px; overflow:hidden; background:url(//mat1.gtimg.com/fj/olympic/icobg.png) left center no-repeat;}
.main .first .athletes_report div a:hover { color:#E94290;}
.main .first .athletes_report div span { vertical-align:middle; color:#0c48a0; font-size:18px;}
.main .first .talking { width:251px; height:315px;}
.main .first .talking h3 { width:auto; height:36px; font-size:0px; background:url(//mat1.gtimg.com/fj/olympic/talking_title_bg.jpg) center top no-repeat;}
.main .first .talking .talkcon { width:249px; height:278px; border:1px solid #ccc; border-top:none; background:#f7fcff; font-size:12px;}
.main .first .talking .talkcon .talkings1 { width:132px; position:relative; padding:15px 15px 12px 100px; border-bottom:1px dashed #ccc;}
.main .first .talking .talkcon .talkings1 .headimg { display:block; position:absolute; top:15px; left:12px;}
.main .first .talking .talkcon .talkings1 .headimg img { width:80px; height:80px;}
.main .first .talking .talkcon .talkings1 h4 { padding:2px 0px 5px;}
.main .first .talking .talkcon .talkings1 p { line-height:20px; text-indent:2em; color:#666;}
.main .first .talking .talkcon .talkings1 p a span { color:#4698eb;}
.main .first .talking .talkcon .talkings2 { width:219px; padding:8px 0px 0px; margin:0 auto; overflow:hidden; white-space:nowrap;}
.main .first .talking .talkcon .talkings2 span { color:#0c48a0; vertical-align:middle;}
.main .zero { position:relative; width:960px; padding-bottom:15px;}
.main .zero h2 { width:960px; height:46px; font-size:0px; background:url(//mat1.gtimg.com/fj/olympic/zero_title_bg2.jpg) center top no-repeat;}
.main .zero .wish { position:absolute; top:1px; right:0px; width:135px; height:46px; overflow:hidden; text-align:center;}
.main .zero .wish em { display:block; width:106px; height:19px; line-height:19px; margin:0 auto; background:#ff29a4; color:#fff; font-style:normal; font-weight:bold;}
.main .zero .wish em.count{text-align:center;color:#fff;}
.main .zero .wish .digg{ width:auto; height:28px; line-height:28px; padding-left:25px; text-align:center;font-size:14px;color:#fff; font-weight:bold;}
.main .zero .wish .digg a{ display:block; width:auto; font-size:14px; color:#fff;text-decoration:none}
.main .zero .wish .digg a:hover{text-decoration:underline}
.main .zero .zerocon { width:958px; height:485px; overflow:hidden; zoom:1; border:1px solid #d8e6ef; border-top:none;}
.main .zero .zerocon .map { width:700px; height:438px; float:left;}
.main .zero .zerocon .map .maparea { width:676px; height:455px; padding:15px;/* background:url(//mat1.gtimg.com/fj/olympic/map.jpg) right bottom no-repeat;*/}
.main .zero .zerocon .map .maparea #popWeib { position:absolute; left:50px; top:100px; padding:30px 0px 0px; background:#fff; z-index:1000; opacity:0.8; FILTER:ALPHA(opacity=80); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.main .zero .zerocon .map .maparea #popWeib #closePopw { position:absolute; top:5px; right:5px; color:#900; font-weight:bold;}
.main .zero .zerocon .map .maparea #map { position:absolute; left:15px; top:61px; width:676px; height:455px; z-index:1; background:url(//mat1.gtimg.com/fj/olympic/map1.jpg) top left no-repeat;}
.main .zero .zerocon .map .maparea ul { position:relative; width:650px; height:390px;}
.main .zero .zerocon .map .maparea ul li { position:absolute; background:#f00; z-index:100; cursor:pointer;}
.main .zero .zerocon .map .maparea ul li span { display:none; position:absolute; right:15px; bottom:15px; width:200px; height:50px; padding:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#fff; opacity:0.8; FILTER:ALPHA(opacity=80); font-size:12px; color:#0066FF; font-weight:bold; z-index:1500; text-align:left; text-indent:2em; line-height:24px; cursor:pointer;}
.main .zero .zerocon .map .maparea ul li#num1 span { left:0; left:5px; top:30px;}
.main .zero .zerocon .map .maparea ul li#num2 span { left:0; right:55px; bottom:20px;}
.main .zero .zerocon .map .maparea ul li#num3 span { left:0; right:55px; bottom:20px;}
.main .zero .zerocon .map .maparea ul li#num4 span { left:0; right:0px; top:30px;}
.main .zero .zerocon .map .maparea ul li#num5 span { left:0; right:0px; top:30px;}
.main .zero .zerocon .map .maparea ul #num1 { right:190px; bottom:95px; width:33px; height:33px; background:url(//mat1.gtimg.com/fj/olympic/num3.gif) right bottom no-repeat;} 
.main .zero .zerocon .map .maparea ul #num2 { right:285px; bottom:150px; width:19px; height:19px; background:url(//mat1.gtimg.com/fj/olympic/num3.gif) right bottom no-repeat;}
.main .zero .zerocon .map .maparea ul #num3 { right:363px; bottom:176px; width:19px; height:19px; background:url(//mat1.gtimg.com/fj/olympic/num3.gif) right bottom no-repeat;} 
.main .zero .zerocon .map .maparea ul #num4 { left:140px; top:195px; width:33px; height:33px; background:url(//mat1.gtimg.com/fj/olympic/num3.gif) right bottom no-repeat;} 
.main .zero .zerocon .map .maparea ul #num5 { left:35px; top:140px; width:33px; height:33px; background:url(//mat1.gtimg.com/fj/olympic/num3.gif) right bottom no-repeat;}

.main .zero .zerocon .rules { width:250px; height:438px; float:right;}
.main .zero .zerocon .rules h4 { width:auto; height:40px; line-height:40px; background:url(//mat1.gtimg.com/fj/olympic/rule_title_bg.jpg) left bottom no-repeat; font-size:14px;}
.main .zero .zerocon .rules p { line-height:24px; padding:2px 30px 2px 12px; font-size:12px;}
.main .zero .zerocon .map .maparea .shownum { position:absolute; width:675px; height:70px; line-height:70px; bottom:30px; left:15px; z-index:500; overflow:hidden; zoom:1; background:url(//mat1.gtimg.com/fj/olympic/hit_bg.jpg) center bottom no-repeat #fff;}
.main .zero .zerocon .map .maparea .shownum .desc { padding-left:15px; font-size:20px; font-family:'Microsoft YaHei'; color:#fff;}
.main .zero .zerocon .map .maparea .shownum .desc span { font-size:20px; font-family:'Microsoft YaHei'; color:#fff; font-weight:bold;}
.main .zero .zerocon .map .maparea .shownum .hitnum { float:right; margin:15px 50px auto auto;}
.main .zero .zerocon .map .maparea .shownum .hitnum .count { background:none;}
.main .zero .zerocon .map .maparea .shownum .hitnum .digg { padding-left:30px;}

.main .wishwall { width:960px; height:560px; padding-bottom:15px; overflow:hidden;}
.main .wishwall h2 { width:auto; height:46px; background:url(//mat1.gtimg.com/fj/olympic/wishwall_bg.jpg) center top no-repeat;}
.main .wishwall .wishwallcon { width:958px; height:512px; border:1px solid #d8e6ef; border-top:none;}

.main .jcsj { width:960px; height:688px; padding-bottom:15px; overflow:hidden;}
.main .jcsj h2 { width:auto; height:46px; background:url(//mat1.gtimg.com/fj/olympic/jcsj_bg.jpg) center top no-repeat;}
.main .jcsj .jcsjcon { width:958px; height:640px; border:1px solid #d8e6ef; border-top:none;}
.main .jcsj .jcsjcon ul { padding-top:20px; overflow:hidden; zoom:1;}
.main .jcsj .jcsjcon ul li { float:left; width:212px; overflow:hidden; margin:0px 6px 20px 20px; _margin:0px 3px 20px 10px;}
.main .jcsj .jcsjcon ul li .bigimg img { display:block; border:1px #ccc solid; padding:2px; width:204px; height:148px;}
.main .jcsj .jcsjcon ul li .ti_sh { line-height:32px; padding:0px 5px; overflow:hidden; zoom:1;}
.main .jcsj .jcsjcon ul li .ti_sh .titleto { float:left;}
.main .jcsj .jcsjcon ul li .ti_sh .shareto { float:right; padding-left:12px; background:url(//mat1.gtimg.com/fj/olympic/wb_icon.jpg) left center no-repeat; color:#137dea;}

.main .babies { width:960px; height:733px; padding-bottom:15px;}
.main .babies h2 { width:auto; height:46px; background:url(//mat1.gtimg.com/fj/olympic/babies_title_bg.jpg) center top no-repeat;}
.main .babies h2 a { display:block; width:258px; height:38px; font-size:0px;}
.main .babies .babiescon { width:958px; height:687px; border:1px solid #d8e6ef; border-top:none;}
.main .comments { width:960px; overflow:hidden; zoom:1;}
.main .comments .comment{ float:left; width:325px; padding-right:28px;}
.main .comments .comment h3 { padding:12px 5px; font-size:14px; background:url(//mat1.gtimg.com/fj/olympic/comment_title_bg.jpg) left bottom no-repeat;}
.main .comments .comment ul { padding:5px 0px;}
.main .comments .comment li { padding:3px 0px 2px;}
.main .comments .comment li span { display:inline-block; margin-left:-5px; font-size:18px; vertical-align:middle; color:#0c48a0;}
.main .comments .comment li a { font-size:14px;}
.main .comments .comment li a:hover { color:#E94290;}
.main .comments .talking { float:left; width:251px; height:355px;}
.main .comments .talking h3 { width:auto; height:36px; font-size:0px; background:url(//mat1.gtimg.com/fj/olympic/videojj_title_bg.jpg) center top no-repeat;}
.main .comments .talking .talkcon { width:249px; height:320px; border:1px solid #ccc; border-top:none; background:#f7fcff; font-size:12px;}
.main .comments .talking .talkcon .talkings1 { width:132px; position:relative; padding:15px 15px 12px 100px; border-bottom:1px dashed #ccc;}
.main .comments .talking .talkcon .talkings1 .headimg { display:block; position:absolute; top:15px; left:12px;}
.main .comments .talking .talkcon .talkings1 .headimg img { width:80px; height:80px;}
.main .comments .talking .talkcon .talkings1 h4 { padding:2px 0px 8px;}
.main .comments .talking .talkcon .talkings1 p { line-height:20px; text-indent:2em; color:#666;}
.main .comments .talking .talkcon .talkings1 p a span { color:#4698eb;}
.main .comments .talking .talkcon .talkings2 { width:219px; padding:8px 0px 0px; margin:0 auto; overflow:hidden; white-space:nowrap;}
.main .comments .talking .talkcon .talkings2 li { padding:2px 0px 1px;}
.main .comments .talking .talkcon .talkings2 span { display:inline-block; margin-left:-5px; color:#0c48a0; vertical-align:middle; font-size:18px;}
.main .comments .weibo { float:left; width:679px; height:720px; padding:15px 30px 22px 0px;}
.main .comments .weibo h3 { width:auto; height:35px; background:url(//mat1.gtimg.com/fj/olympic/weibo_title_bg.jpg) left bottom no-repeat; font-size:0px;}
.main .comments .weibo .weibocon { width:625px; height:653px; padding:16px 26px; border:1px solid #ccc; border-top:none;}
.main .comments .asides { width:250px; height:auto; float:left;}
.main .comments .asides .weiboinput { height:120px; width:auto;}
.main .comments .asides h4 { width:auto; height:40px; line-height:40px; padding-top:7px; background:url(//mat1.gtimg.com/fj/olympic/rule_title_bg.jpg) left bottom no-repeat; font-size:14px;}
.main .comments .asides a,.main .comments .asides { display:block; width:250px; height:142px; padding-top:12px;}
.main .ofamous { width:auto; padding-bottom:25px;}
.main .ofamous .famouscon { width:956px; height:auto; border:2px solid #d8e6ef; border-top:none;}
.main .ofamous .famouscon ul { overflow:hidden; zoom:1;}
.main .ofamous .famouscon ul li.lists { float:left;}
.main .ofamous .famouscon ul li ul li { position:relative; display:block; display:inline\9;/*解决ie67默认margin*/}
.main .ofamous .famouscon ul li ul li img { display:block;}
.main .ofamous .famouscon ul li ul li span { display:block; height:26px; line-height:26px; text-align:center; position:absolute; _position:relative; bottom:0px; z-index:10; color:#fff; font-weight:bold; background:#000; opacity:0.5; FILTER:ALPHA(opacity=50)}
.main .ofamous .famouscon ul li.list1,
.main .ofamous .famouscon ul li.list1 ul li img,
.main .ofamous .famouscon ul li.list1 ul li span { width:168px;}
.main .ofamous .famouscon ul li.list2,
.main .ofamous .famouscon ul li.list2 ul li img,
.main .ofamous .famouscon ul li.list2 ul li span { width:304px;}
.main .ofamous .famouscon ul li.list3,
.main .ofamous .famouscon ul li.list3 ul li img,
.main .ofamous .famouscon ul li.list3 ul li span { width:280px;}
.main .ofamous .famouscon ul li.list4,
.main .ofamous .famouscon ul li.list4 ul li img,
.main .ofamous .famouscon ul li.list4 ul li span { width:204px;}
.main .ofamous h2 { width:960px; height:47px; font-size:0px; background:url(//mat1.gtimg.com/fj/olympic/ofamous_title.jpg) center top no-repeat;}
.main .ohistory { width:auto; padding-bottom:25px;}
.main .ohistory .historycon { width:958px; height:auto; border:1px solid #d8e6ef; border-top:none;}
.main .ohistory h2 { width:960px; height:47px; font-size:0px; background:url(//mat1.gtimg.com/fj/olympic/ohistory_title.jpg) center top no-repeat;}



/*focus*/
#myfocus{width:346px;height:317px;margin-bottom:6px;overflow:hidden;font:12px Verdana, Arial, Helvetica, sans-serif;background:#000 no-repeat;position:relative;}
#myfocus .z_index_top { position:absolute; top:0; left:0; width:346px; height:270px; z-index:100; background:url(//mat1.gtimg.com/fj/olympic/focus_z_index.png) center top no-repeat; _background:url(//mat1.gtimg.com/fj/olympic/focus_z_index.gif) center top no-repeat;_background:none;}
#myfocus #myloading{position:absolute;top:0;left:0;z-index:9999;width:346px;height:317px;background:#333;color:#f60;font-size:12px;text-align:center;padding-top:90px;}
#myfocus #myloading .bg{position:absolute;top:0;left:0;z-index:-1;}/*载入画面*/
#myfocus .pics{width:346px;height:270px; overflow:hidden;position:relative;}
#myfocus .pics ul{height:250px;position:absolute;}
#myfocus .pics ul li{width:346px;height:250px;float:left;position:relative; padding-top:20px;}/*图片大小300px*262px*/
#myfocus .pics ul li a img { width:346px; height:250px;}
#myfocus .pics ul li div,#myfocus .pics ul li div span,#myfocus .pics ul li div a{display:block;position:absolute;top:0;left:0;width:100%;height:34px;}
#myfocus .pics ul li div span{/*filter:alpha(opacity=50);opacity: 0.5;*/background:#1188fd;}/*文字标题的背景样式*/
#myfocus .pics ul li div a{line-height:34px;overflow:hidden;padding-left:16px;text-decoration:none;font-size:14px;color:#fff;font-weight:bold;}/*文字标题样式*/
#myfocus .mybtn{position:absolute;bottom:0px;right:0px; width:346px; height:47px; background:url(//mat1.gtimg.com/fj/olympic/focus_bg.jpg) center top no-repeat #fff;}
#myfocus .mybtn ul { padding:4px 0 0 152px;}
#myfocus .mybtn ul li{text-align:center;float:left;width:32px;height:24px;line-height:24px;margin-left:4px;overflow:hidden;cursor:pointer; color:#fff;}
#myfocus .mybtn ul li.current{background:url(//mat1.gtimg.com/fj/olympic/list_bg.jpg) center top no-repeat;color:#fff; font-weight:bold;}
/*focus*//*  |xGv00|cd857aaaf58166b12992ba23b7a672ac */