/*待删除*/
/*.row-L .fz0 img{display:none;}
.rowC .row-R img{display:none;}
ul.hr_ul li img{display:none;}*/

code{zoom:1;}
/*强制调整间距*/
.rowF{margin-top:20px;}
.rowD{margin-top:15px;}
.rowJ{margin-top:25px;}
.rowB-hd-Top .scrinput .z1{zoom:1;width:auto !important;}

.wc960{width:1000px;}

/*广告图片*/
.ad,.ad260x210,.ad260x105,.ad260x115,.ad330x30,.ad350x60{background:#ccc;}
.ad{width:1000px;height:60px;display:none;}
.ad img{width:1000px;height:60px;}
.ad350x60{width:350px;height:60px;}
.ad330x30{width:330px;height:30px;}
.ad260x210{width:260px;height:210px;}
.ad260x105{width:260px;height:105px;}
.ad260x115{width:260px;height:115px;}

/*标题图片*/
.row .hd,.row .hd1,.row .hd2{background:url("//mat1.gtimg.com/fj/auto/v2/img/hd-line_03.jpg") no-repeat 0 50px;}
#tabT01 li,.cxBrandName{background:url("//mat1.gtimg.com/fj/auto/v2/img/auto_v2_bg.png") repeat-x 0 0;}

/*切换小图标为宽度*/
.tab-T-3{width:auto;}

/*头部导航-搜索区*/
.rowA .mainnav{background-color:#2E2E2E;}
.rowB{position:relative;zoom:1;z-index:222;margin-top:1px;}
.rowB .rowB-hd-Top{border:0;margin-left:-1px;margin-right:-1px;background-color:#fff;width:auto;height:40px;position:relative;z-index:10;zoom:1;}
.rowB-hd-Left{width:auto;}
.rowB-hd-Left ul{width:714px;}
.rowB-bd-Left .cx-box{height:99px;overflow:hidden;border-bottom:1px dotted #dedede;background:url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") repeat-x 0 -1000px;}
.rowB-bd-Left .cx-boxEven{background-color:#f9f9f9;}
.rowB-bd-Left .cx-box li{padding:0 5px 0 15px;width:82px;height:32px;line-height:32px;text-align:left;}
.rowB-bd-Left .cx-box .link-auot-box a{padding:0 3px;}
.rowB-bd-Left .cx-box li .cx-name{font-size:12px;height:32px;overflow:hidden;}

.tabC_01 .rowB-bd-Right{top:87px;width:285px;height:99px;padding:0;position:absolute;right:0;background-color:#fff;border-left:1px solid #dedede;zoom:1;display:none;}
.tabC_01 .rowB-bd-Right .only-pic,.tabC_01 .rowB-bd-Right .only-pic img{width:170px;height:99px;}
.tabC_01 .rowB-bd-Right .only-pic{position:absolute;z-index:2;top:0;left:0;}
.tabC_01 .rowB-bd-Right .link-auot-box{position:absolute;top:30px;right:14px;width:100px;text-align:left;color:#ccc;z-index:5;}
.tabC_01 .rowB-bd-Right .link-auot-box a{color:#666;display:inline-block;}
.tabC_01 .rowB-bd-Right .link-auot-box a:hover{color:#d81d1b;}
.rowB-bd-Right .link-auot-box a{padding:0 2px;}
.cxBrandName{background-position:0 -107px;zoom:1;position:absolute;top:-40px;left:-1px;text-align:left;width:285px;height:38px;line-height:38px;border:1px solid #dedede;border-right:0;font-weight:bold;}
.cxBrandName em{font-style:normal;padding-left:12px;font-weight:100;}
.cxBrandName span{padding-left:12px;font-size:14px;font-weight:bold;}
.cxBrandName span i{font-style:normal;color:#999;font-weight:100;}
.link{height:34px;line-height:32px;}
/*#tabT01 li.cur a{color:#050505;}*/
#tabC01 a{color:#666;}
#tabC01 a:hover{color:#d81d1b;}
#tabC01{position:relative;z-index:1;zoom:1;width:714px;overflow:visible;height:99px;}
#tabT01 li.last{width:78px;border-right:0;}
#tabT01 li.cur{width:77px;background:#fff;}
#tabT01 li{width:79px;background-position:0 -107px;height:38px;line-height:38px;}
#tabT01 li.first{width:83px;border-right:0;}
#tabT01 li.first.cur{width:82px;border-right:1px solid #dedede;}

/*热点推荐*/
.rowD .row-R .column-name .fr a{color:#de8e3f;font-weight:normal;font-size:12px;}

/*头版-广告1*/
.row-L .fz0{background-color:#ccc;height:30px;width:330px;}
/*头版-左*/
.row .row-L{width:330px;}
.row-L-news .news-list li{width:320px;}
#focus_img{width:330px;}
/*头版-中*/
.link-auot-box a{padding:0 1px;}
.row .row-C{width:350px;}
.row-C .hot-news-box .news-list{width:350px;}
.row-C .hot-news-box .news-list li{width:165px;}
/*头版-右*/
.row .row-R{}
/*头版-新车导购列表-----头版-热点新闻列表*/
.hot-news-box .news-list{width:350px;overflow:hidden;zoom:1;}
.hot-news-box .news-list li{width:165px;float:left;}
.hot-news-box .news-list li.on{background:none;}
/*头版-商家促销*/
.row-L-news .shangjia_chuxiao li{float:left;zoom:1;}
.shangjia_chuxiao .tab a.on b, .shangjia_chuxiao .tab a:hover b{cursor:pointer;}
.shangjia_chuxiao h2 a, .shangjia_chuxiao h2 a:hover{text-decoration:none;}
.shangjia_chuxiao li { font-size:14px; padding-left:6px; height:29px;overflow:hidden;zoom:1;}
.shangjia_chuxiao li a{height:16px; line-height:16px; overflow:hidden; display:block;}
.shangjia_chuxiao li span { display: inline-block;  text-align:left; float:left; }
.shangjia_chuxiao li span a { color:#999;width:4.5em;}
.shangjia_chuxiao {padding-top:17px;width: 330px; height: 262px; overflow: hidden;}
.shangjia_chuxiao h2 a{display:inline-block;}
.shangjia_chuxiao .tab {width: 310px; height: 45px;padding-top:16px;}
.shangjia_chuxiao .tab a.frist b{border-left:1px solid #EDEDED;}
.shangjia_chuxiao .tab a {height: 32px; text-decoration: none; margin-left:0; float: left; display: block;background-color:#ededed;}
.shangjia_chuxiao .tab b {border:1px solid #EDEDED;border-left:0; width:76px; height: 30px; text-align: center; line-height:30px;display:inline-block;font-weight:100;font-size:14px;}
.shangjia_chuxiao .tab a.on ,.shangjia_chuxiao .tab a:hover {color:#000;background:#fff;/* url("//mat1.gtimg.com/zj/css/common/images/icon_1.png") -19px -15px;*/}
.shangjia_chuxiao .tab a.on b ,.shangjia_chuxiao .tab a:hover b{border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;}
.shangjia_chuxiao li a {float: left; width:260px;zoom:1; }
.shangjia_chuxiao ul {height: 170px;zoom:1;padding-top:5px;overflow:hidden;}
.shangjia_chuxiao .tab{width:330px;}
.shangjia_chuxiao .tab b{width:81px;}
/*头版-新车导购*/
.row-C-r4 .column-name{font-size:15px;color:#777;font-size:19px;}
.row-C-r4 .column-name a{margin:0 1px;}
/*头版-精品推荐列表*/
.rowC-R-r3 .news-list li a{text-align:left;}


/*热点推荐-图片列表*/
.hr_ul .text-in-pic .icon-text{z-index:5;cursor:pointer;}
.hr_ul{width:1000px;height:410px;position:relative;}
.hr_li01,.hr_li02,.hr_li03,.hr_li04,.hr_li05,.hr_li06,.hr_li07{position:absolute;background-color:#ccc;}
.hr_li01{left:0px;top:0px;width:330px;}
.hr_li02{left:0px;top:265px;width:330px;}
.hr_li03{left:340px;top:0px;width:325px;}
.hr_li04{right:0px;top:0px;width:325px;}
.hr_li05{left:340px;top:110px;width:230px;}
.hr_li06{left:340px;top:265px;width:230px;}
.hr_li07{right:0px;bottom:0px;width:420px;}
/*热点推荐-策划1*/
.rowD-r2-cB-a{width:330px;}
.text-down-pic .news-list-left li{text-align:left;text-indent:8px;}
/*热点推荐-策划2-1*/
.row-C .news-list li{width:340px;}
.pic-list .pic{width:106px;}
.pic-list .pic img{width:106px;height:83px;}
/*活动回顾*/
.row .row-R .row-R_hd li{padding-top:4px;margin-top:10px;border-top:1px solid #ddd;height:76px;}
.row .row-R .row-R_hd li a{float:left;}
.row .row-R .row-R_hd li img{width:78px;height:54px;}
.row .row-R .row-R_hd li.li01{border:0;padding-top:0;margin-top:18px;}
.row .row-R .row-R_hd .row-R_p1{float:right;width:175px;}
.row .row-R .row-R_hd h4{line-height:18px;height:18px;overflow:hidden;margin-bottom:4px;}
.row .row-R .row-R_hd h4 a{font-size:13px;float:none;}
.row .row-R .row-R_hd .row-R_p1 a{float:none;}
.row .row-R .row-R_hd .row-R_p1 p{line-height:18px;color:#999;height:18px;overflow:hidden;}
.row .row-R .row-R_hd .row-R_p1 p i,.row .row-R .row-R_hd .row-R_p1 p em{font-style:normal;font-family:"SimSun";color:#333;}
.row .row-R .row-R_hd .row-R_p1 p em{color:#f00;}


/*热门车型*/
.rowE .warp-pic-list{width:1000px;}
.rowE .count li{width:184px;}
.rowE .count li img{width:184px;}
.rowE .count .img_wrap{width:184px;}

/*经销商报价*/
.row .row-big-L{width:710px;}

/*车型大全*/
#focus_img2{display:none;}
#focus_img2 img{width:330px;}
.rowH-2{position:relative;zoom:1;margin-top:20px;}
.rowH-2 .rowH{margin-top:0;}
.rowH-2 #focus_img2_2{position:absolute;zoom:1;left:0;top:80px;}

.rowH-2 .row-L div{margin-top:164px;display:none;}
.rowH .row-L .pic-list .pic,.rowH .row-L .pic-list .pic img{width:102px;}
/*车型大全-热门车型推荐*/
.rowH .row-L .pic-list li{width:102px;}
.rowH-2 .rowH-2_L .pic-list .pic,.rowH-2 .rowH-2_L .pic-list .pic img{width:102px;}
.rowH-2 .rowH-2_L .pic-list li{width:102px;margin-right:12px;}
.rowH-2 .rowH-2_L .pic-list li.last{margin-right:0;}
.rowH-2_L{position:absolute;top:378px;left:0;width:330px;zoom:1;}
.rowH-2_L .pic-list .text{margin-top:7px;}


/*车型大全_右侧*/
.row .row-big-R{width:640px;}
/*车型大全_分类*/
.rowH-R-r2 .warp-pic-list li{width:145px;}
.rowH-R-r2 .warp-pic-list .img_wrap{width:145px;}
.rowH-R-r2 .warp-pic-list .img_wrap img{width:145px;}
/*车型大全_列表1*/
.rowH-R-r3 ul li{width:145px;}
/*车型大全_列表2*/
.rowH-R-r4 li{width:295px;}

/*推荐经销商*/
.txt-right-pic li{margin-right:24px;margin-bottom:32px;}
#tabC06 ul{width:1030px;}


/*精彩资讯*/
.rowI .news-list{height:150px;overflow:hidden;}
.rowI .text-down-pic .news-list{height:180px;}
.news-list li{overflow:hidden;}



<!--顶部导航登陆-->
<!--mininav-->
.l{float:left}
.r{float:right}
.mininav{  margin:0 auto; width:100%; height:34px; overflow:hidden; background:#4b4a4a; zoom:1}
.mininav .sc_mininav{width:1000px; height:34px; line-height:34px; overflow:hidden; margin:0px auto; }
.mininav .sc_mininav a{ color:#c1bebe; text-decoration:none }
.mininav .sc_mininav a:hover{ color:#c1bebe !important; }
.mininav .sc_mininav .topic_navlist{ width:850px; height:34px; text-align:left; overflow:hidden; line-height:34px; margin-left:0px; }
.mininav .sc_mininav .topic_navlist a{ padding:0px 10px; text-align:center; height:34px; display:block; float:left;}
.mininav .sc_mininav .topic_navlist a:hover{ background:#3c3c3c; text-decoration:none; }

#login{ font-size:12px; color:#c1bebe; }
#login img{ padding:2px; border:solid 1px #e7e7e7; display:inline-block }
#login .l_btn{ background:url(//mat1.gtimg.com/cd/201108/yimu/edu/login_bg.gif) no-repeat left top; width:39px; line-height:20px; height:20px; overflow:hidden; display:block; text-align:center; float:right; margin:7px 0px 0px 5px; color:#C1BEBE; text-decoration:none; }
#login .l_btn:hover{ text-decoration:none; }
.login_box{ height:34px; line-height:34px; overflow:hidden; }/*  |xGv00|bc095b44d5682d723e4c32bd77e4dcc4 */