@charset "gb2312";
/* CSS Document */

#cardbh p{ margin:0px; padding:0px;}
#cardbh ul{ list-style:none; margin:0px; padding:0px;}
#cardbh { width:956px; border:1px solid #CCC; margin:0px auto; padding:1px; color:#DFDFDF;font-size:12px}
#cardbh a{ text-decoration:none; color:#333}
#cardbh a:hover{ text-decoration:underline; color:#C00}
#cardtt2 { text-align:center; line-height:22px;}
#cardtt2 a { color:#818181; }
#cardbh h1{ font-family:黑体; font-weight:normal; font-size:20px; text-align:center; line-height:32px; margin:0px; padding:0px;}
#cardbh h1 a{ color:#103262;}
#cardbh ul{ padding:0px 5px;;}
#cardbh li { float:left; width:50%; font-size:12px; line-height:24px; height:24px}
#cardbh li span { color:#9E1618; font-size:14px; background:url(//mat1.gtimg.com/hb/sucai/kabo/spangg.gif) no-repeat center 2px; height:24px; width:37px; text-align:center; float:left; margin-right:5px;}
#cardph { line-height:22px; margin-top:10px;}
#cardphtt { text-align:center; color:#A11514;}
#cardphtx { text-indent:28px;}
#cardimg { width:102px;text-align:center; overflow:hidden; padding:12px 0px 0px 13px;}
#cardimg img{ display:block; font-size:0px;}
#cardimg p{line-height:22px; }/*  |xGv00|531c04ee2752db296f056611ac669966 */