@charset "gbk";
/* CSS Document */


.main_na{ width:979px; height:16px; margin:0 auto;}
.bank1{ width:100%; height:20px;}
.na_in{ width:979px; height:120px;}
.na1{ width:316px; height:106px; margin-right:15px; display:inline; float:left;}
.na2{ width:316px; height:106px; margin-right:15px; display:inline; float:left;}
.na3{ width:316px; height:106px; float:left;}

.main_top{ width:986px; margin:0 auto;padding-bottom:20px;}
.mbxie{height:30px; margin:0 auto;clear:both;overflow:hidden;font-size:12px; color:#2f2f2f;}
.mbxie a{color:#2f2f2f;line-height:30px;}
.mbxie a:hover{text-decoration:underline;color:#057D02;}
.mb_sp3{ display:block; width:12px; height:12px;overflow:hidden;margin-top:10px; background-position:-74px -14px; float:left;}
.info_title{ height:40px;background:#eaeaea;}
.p_div{ width:500px; height:40px; float:left;}
.logo_div{ width:210px; height:40px; float:right; display:inline; }
.share_div{margin-top:15px;float:left;width:140px;height:16px;overflow:hidden}

#shareQzone{background-position:-22px -193px}
#shareSinaWeibo{background-position:-44px -193px}
#shareKaixin{background-position:-66px -193px}
#shareRenren{background-position:-88px -193px}
#shareDouban{background-position:-110px -193px}

.inf_sp1{ line-height:43px; margin-left:30px; font-size:16px; color:#464646; font-family:"微软雅黑";}

.fx_p1{ width:45px; height:40px; float:left; line-height:45px; color:#3d3d3d; font-size:12px;}
.fx_p2{ width:23px; height:40px; float:left; background:url(http://mat1.gtimg.com/gongyi/succor_13/p_17.png) center no-repeat;}
.fx_p2 a{ width:100%; height:100%; display:block;}
.fximg1{ background-position:-5px 0;}
.fximg2{ background-position:-28px 0;}
.fximg3{ background-position:-49px 0;}
.fximg4{ background-position:-71px 0;}
.fximg5{ background-position:-93px 0;}
.fximg6{ background-position:-115px 0;}



.xiangmu{ width:930px; height:230px; margin:0 auto;_overflow:hidden;}
.xiangmu_img{ width:200px; height:228px; margin-right:20px; float:left; display:inline;}
.xiangmu_cen{ height:220px; float:left;width:460px;}
.renz_tu{ width:100px; height:200px; float:left;}
.xiangmu_qe{ width:240px; height:225px; float:right; border-left:1px solid #e4e4e4;overflow:hidden;}

.xiangmu_img_i{ width:200px; height:200px;position:relative;overflow:hidden;}
.p-focus-ul{position:absolute;z-index:5;}
.p-focus-ul li{display:none;}
.p-focus-ul li img{width:200px;height:200px;}
.p-focus-div-num{position:absolute;bottom:5px;right:5px;z-index:10;line-height:150%;}
.p-focus-div-num a{padding:2px 5px;border:1px #BFBFBD solid;background:#FFF;margin-left:5px;font-size:12px;font-family:Arial;cursor:pointer;}
.p-focus-div-num a:hover,.p-focus-div-num a.cur{background:#6C6C6C;color:#FFF;}
.tjzt_sp4{ width:90px; height:20px; line-height:20px; margin:0 auto;}
.tjzt_sp5{  width:30px; height:20px; margin-right:5px; display:inline-block; float:left;}
.hot_sp5{ font-family:Arial, Helvetica, sans-serif; color:#9c9a9b;  float:left; font-size:12px;}
.licon{ background:url(http://mat1.gtimg.com/gongyi/succor_13/icon.png) center no-repeat; background-position:-145px -13px;}
.micon{ background:url(http://mat1.gtimg.com/gongyi/succor_13/icon.png) center no-repeat; background-position:-98px -13px;}

.xm_p{  display:block; height:25px;}
.xm_sp1{ width:60px; height:25px; display:block; float:left; line-height:25px; color:#9c9a9b; font-size:14px;}
.xm_sp2{ height:25px; display:block; float:left; line-height:25px; color:#3d3d3d; font-size:14px;}
.xm_sp3{ width:20px; height:25px; display:block; float:left; line-height:24px; text-align:center; color:#9c9a9b;}
.xm_sp4{ color:#9c9a9b; font-size:12px; line-height:25px; width:350px; display:block;}
.xm_sp5{ width:30px; height:25px; float:left; background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/p_32.jpg) center no-repeat;}

.xm_sp6{ width:12px; height:14px;overflow:hidden; background-position:-133px -193px;margin:3px 0 0 3px; display: block; float:left;}
.xm_sp6 a{display:block;width:100%;height:100%;}
.xm_sp_sz{ font-family:Tahoma, Geneva, sans-serif;}

.xm_tiao{ width:250px; height:20px;}
.jindu_xm{ width:100px; height:10px; margin-top:5px; display:inline; float:left; margin-right:10px; overflow:hidden;}
.jindu_xm_p{ width:100px; height:6px; background:#e4e4e4; display:block; margin-top:2px;}
.jindu_xm_p span{ height:6px;  display:block;}


.jindu_xm2{ width:150px; height:10px; margin-top:5px; display:inline; float:left; margin-right:10px; overflow:hidden;}
.jindu_xm_p2{ width:150px; height:6px; background:#e4e4e4; display:inline-block; margin-top:2px; float:left;}
.jindu_xm_p2 span{ height:6px;  display:block;}
.baifenshu{ width:50px; height:20px; float:left; font-size:12px; font-family:Tahoma, Geneva, sans-serif; color:#3d3d3d; display:block; line-height:18px;}


.istrue{ background:#4c9220;}
.notrue{ background:#ff7244;}
.xm_dis{ width:140px; height:20px; line-height:20px; float:left; color:#9c9a9b; font-size:12px;}
.renzheng_bto{ width:350px; height:40px; margin-top:20px;}

.renzheng_bto2{height:40px; margin-top:10px;}
.renzheng_bto3{ width:350px; height:40px;}
.renzheng_bto a.renling{width:143px; height:40px; display:block; background-position:0 -244px;text-align:center;line-height:40px;color:#FFF;font-size:16px;font-weight:bold;letter-spacing:3px;}
.renzheng_bto a.renling:hover{background-position:0 -284px;}
.renzheng_bto .bindover{width:143px; height:40px; display:block; background-position:0 -405px}



.renzheng_bto_a2,.renzheng_bto_a3{ width:75px; height:30px; display:block; background-position:0 -157px; float:left; margin-right:20px;}
.renzheng_bto_a3{ background-position:-80px -157px; }
/***
.renzheng_bto_a{ width:150px; height:40px; display:block; background:url(http://mat1.gtimg.com/gongyi/succor_13/p_19.jpg) center no-repeat; float:left;}
.renzheng_bto_a4{ width:122px; height:40px; display:inline-block; background:url(http://mat1.gtimg.com/gongyi/succor_13/p_42.jpg) top no-repeat; float:left; margin-right:10px;}
***/
.renzheng_yi{ /*width:215px;*/ height:40px; float:left;}
.yi_sp1{ font-size:12px; color:#9c9a9b; display:block; float:left; line-height:20px;}
.yi_sp2{ font-size:12px; color:#f43f00; display:inline-block; float:left; font-family:Tahoma, Geneva, sans-serif; line-height:18px; margin:0 5px; font-weight:bold;}
.yi_sp3{ font-size:12px; color:#3d3d3d; display:inline-block; float:left; margin-right:8px; line-height:20px;}
.y_sp4{ font-family:Tahoma, Geneva, sans-serif; line-height:19px;}
.shuzi_p{height:20px; display:block;}
.jindutiao2{  width:213px; height:20px; float:left;}


.xiangmu_qe_t{ width:190px; height:40px; margin-left:49px;}
.xm_qe_ul{ width:210px;/* height:120px;*/ margin-left:30px;}
.xm_qe_ul li a,.xm_qe_ul li a:visited{color:#3d3d3d;}
.xm_qe_ul li a:hover{color:#057D02;text-decoration:underline;}

.qe_sp1{ font-size:12px; color:#3d3d3d; line-height:40px; font-weight:bold; float:left; margin-right:5px;}
.qe_sp_a1,.qe_sp_a2,.qe_sp_a1_1,.qe_sp_a2_1{ width:10px;overflow:hidden; height:10px; display:block; background-position:-74px 0; float:left;margin-top:15px;}
.qe_sp_a1{cursor:default}
.qe_sp_a2{background-position:-88px 0; float:left;cursor:default;margin-left:6px}
.qe_sp_a1_1{background-position:-118px 0;float:left;margin-left:6px}
.qe_sp_a2_1{background-position:-103px 0;float:left;}
.xm_qe_li{width:200px; height:20px; line-height:20px; font-size:12px; color:#3d3d3d; vertical-align:bottom;overflow:hidden;clear:both;}
.xm_qe_li2{height:20px; line-height:20px; font-size:12px; color:#3d3d3d; vertical-align:bottom;overflow:hidden;clear:both;background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/icons.png?v=5) no-repeat;padding-left:20px;background-position:-268px -32px;}
.auth-text{background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/p_32.jpg) no-repeat right top;padding-right:18px;height:20px;line-height:20px;overflow:hidden;display:inline-block;}
.auth-text:hover{color:#057D02;text-decoration:underline;}
.qe_sp3{ display:block; height:20px; float:left; margin-right:5px; display:inline; line-height:22px;}

.qe_sp2{ display:block; width:18px; height:20px; float:left;background-position:-48px 0}

.qe_sp4{ width:20px; height:20px; background-position:-162px 0; display:block; float:left;}


.xm_qe_bt{ width:150px; height:60px; margin-left:49px;}
/*.xm_sta_bton{ width:138px; height:38px; margin:0 auto; background:url(http://mat1.gtimg.com/gongyi/succor_13/p_43.jpg) top center no-repeat;}*/
a.xm_sta_btona{width:138px; height:37px;display:block;background-position:0px -138px;clear:both;padding-left:40px;color:#FFF;line-height:32px;font-size:14px;font-weight:bold;}
a.xm_sta_btona:hover{background-position:0px -175px;}
.xm_p_n{ display:none;width:150px; text-align:center; font-size:12px; line-height:26px; color:#989898;clear:both;}
.xm_p_n span{font-family:Arial, Helvetica, sans-serif; color:#f15b28; width:50px; text-align:center; line-height:24px; font-weight:bold;}
.renz_tu_r{ background:url(http://mat1.gtimg.com/gongyi/succor_13/p_41.jpg) 580px center no-repeat;}


/*****/
/*.main_top_tu{ width:986px; height:308px; background:url(http://mat1.gtimg.com/gongyi/succor_13/p_1.jpg) top center no-repeat;}*/
.main_top_tu{ width:982px;padding-bottom:20px;clear:both;border:1px #dadada solid;border-top:3px #4d9321 solid;background:#f7f7f7;}


.main_info{ width:980px; margin:0 auto;overflow:hidden;clear:both;}


.main_left{ width:676px; float:left;overflow:hidden;}
.hot_pj{ width:676px; height:281px;}
.hot_pj_t{ width:676px; height:33px;border-bottom:1px #d6d6d6 solid;z-index:-2;_background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/bottom-bg-h.jpg) bottom repeat-x;_border-bottom:none;}
.hot_pj_t ul{overflow:hidden;list-style:none;float:left;display:inline-block;border-right:1px #d6d6d6 solid;height:34px;z-index:5;}
.hot_pj_t ul li{ width:115px; height:30px;line-height:30px;text-align:center;float:left; display:inline;background:#d6d6d6;border-top:4px #d6d6d6 solid;cursor:pointer;font-family: "微软雅黑";font-size:14px;}
.hot_pj_t ul li.hover{background:#FFF;border-top:4px #4e931c solid;}
/*.hot_pj_t ul{overflow:hidden;list-style:none;float:left;display:inline-block;}
.hot_pj_t ul li{ width:115px; height:36px;line-height:36px;text-align:center;margin-right:1px; float:left; display:inline;background:#6dbf3e;font-size:14px; font-family: "微软雅黑"; color:#ffffff;cursor:pointer;}
.hot_pj_t ul li.hover{background:#4c9220;}
*/


/**捐助说明*/
.jzsm{ width:676px; }

.jzsm_info{ width:676px;display:block;word-break:break-all ; margin-top:20px; font-size:12px; line-height:28px; color:#3d3d3d; }

/**微博**/
.weibotl{ width:676px;clear:both;overflow:hidden;margin-top:20px;background:#f5f5f5;}
.weibotl .titles{color:#3d3d3d; font-family: "微软雅黑";line-height:36px;border-bottom:1px #c6c6c6 solid;background:#FFF;}
.weibotl .titles h3{color:#333;width:80px;border-bottom:3px #3fac03 solid;font-size:16px;text-align:center;}
ul.weibo_m{ margin-top:2px;clear:both;overflow:hidden;}
.weibo_li{ width:620px;margin:10px auto; border-bottom:1px dashed #d3d3d3;vertical-align:bottom;clear:both;overflow:hidden;}
.weibo_img{ width:40px; float:left; padding-top:5px;}
.weibo_cen{ width:575px;float:right;padding-bottom:10px;}
.weibo_top{ width:575px;}
.weibo_b{ width:575px;}
.weibo_top p{ font-size:12px; color:#333333; line-height:25px;}
.weibo_top p span{ color:#2b4a78;}
.weibo_sp1{ font-size:12px; font-family:Tahoma, Geneva, sans-serif; color:#7f7f7f; display:block; float:left; line-height:25px;}
.weibo_sp2{ width:80px; height:25px; display:block; float:right; color:#333333; font-size:12px; line-height:25px;}
.weibo_p_a{ width:30px; height:25px; display:block; text-align:center; color:#333333; float:left; line-height:25px;}
.weibo_p_a:hover{ color:#4d911b;}
.weibo_sp2 span{ display:block; float:left; line-height:22px;}
.fanye{ width:676px; padding:6px;overflow:hidden;clear:both;height:30px;}
.fanye_i{ width:400px; height:40px; margin:0 auto;}
.fanye_left{ width:100px; height:28px; float:left; text-align:right;}
.fanye_cen{ height:28px; float:left;}
.fanye_right{ width:100px; height:28px; float:left;}
.fenye_sta2{ width:54px; height:19px; border:1px solid #dedede; display:block; line-height:19px; font-size:12px; text-align:center; color:#999999; float:left;}
.fenye_sta1{ line-height:22px; font-size:12px; color:#3f3f3f; float:right; margin-right:5px; display:inline;}

.fenye_sta3{ width:23px; height:19px; border:1px solid #dedede; float:left; display:inline; margin-left:3px; margin-right:3px; 
text-align:center; line-height:19px; color:#999999; font-family:Tahoma, Geneva, sans-serif;}
.fenye_sta4{ width:54px; height:19px; border:1px solid #dedede; display:block; line-height:19px; font-size:12px; text-align:center; color:#999999;float:right;}
.fenye_sta6{  background:#dedede;}

/**发布**/
.weibo_sm{ width:674px; height:190px; margin:0 auto; background:#f5f5f5;}
.weibo_sm_t{ width:658px; height:3px; margin:0 auto; background:#a7a7a7;}
.weibo_sm_c{ width:660px; height:160px; margin:0 auto; border:1px solid #e3e7ea;}
.weibo_sm_in{ width:658px; height:100px; margin:0 auto; border-bottom:1px solid #e3e7ea;}
.weibo_textarea{ width:656px; height:100px; overflow:hidden; padding:0; margin:0; border:none; color:#999;}
.weibo_sm_bto{  width:656px; height:50px; margin:0 auto;}
.sm_bto_a{ width:100px; height:50px; float:right; background:url(http://mat1.gtimg.com/gongyi/succor_13/p_29.jpg) center no-repeat;  margin-right:15px;}
.sm_bto_sp{ font-size:12px; color:#999; line-height:50px; float:right; margin-right:15px; display:inline;}
.sm_bto_sp span{ font-family:Georgia,Tahoma,Arial; line-height:50px; font-size:20px; font-style:italic;}

/**右边**/
.main_right{ width:273px; float:right;}
.login_l{ width:273px; height:291px; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_21.jpg) top no-repeat;}
.log_btn{ width:273px; height:63px;}
.bank2{width:273px; height:15px;}
.log_btn a{ width:172px; height:46px; display:block; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_22.jpg) top center no-repeat; margin:0 auto;}
.log_cen{ width:273px; height:136px;}
.log_text1{ width:230px; height:60px; margin:0 auto;}
.log_text2{ width:230px; height:70px; margin:0 auto;}
.log_sp1{ font-size:16px; color:#3d3d3d; line-height:50px;}
.log_sp2{ font-size:12px; color:#3d3d3d; line-height:28px;}
.log_sp1 a{ color:#579f23;}
.bank4{ width:273px; height:26px;}
.log_btn2{ width:273px;height:30px;}
.log_btn2 a{ width:98px; height:28px; display:block; margin:0 auto; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_23.jpg) top center no-repeat;}
.bank3{ width:273px; height:25px;}
/**排行*/
.paihang{ width:273px; height:450px;}
.paihang_t{ width:273px; height:34px;}
.paihang_t1{ width:92px; height:34px; float:left; display:inline; margin-right:1px; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_24.jpg) top center no-repeat;}
.paihang_t2{ width:89px; height:34px; float:left; display:inline; margin-right:1px; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_25.jpg) top repeat-x;}
.paihang_t3{ width:90px; height:34px; float:left; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_25.jpg) top repeat-x;}
.paihang_sp1{ font-size:14px; color:#ffffff; font-family: "微软雅黑";line-height:34px; width:92px; height:34px; display:block; text-align:center;}
.paihang_sp2{ font-size:14px; color:#3f463b; font-family: "微软雅黑";line-height:34px; width:89px; height:34px; display:block; text-align:center;}
.paihang_sp3{ font-size:14px; color:#3f463b; font-family: "微软雅黑";line-height:34px; width:90px; height:34px; display:block; text-align:center;}

.ph_ul{ width:273px; height:415px;}
.ph_li{ width:273px; height:30px; margin-bottom:15px; vertical-align:bottom;}
.ph_shuzi{ width:30px; height:30px; margin-right:10px;  margin-left:5px; float:left; display:inline; text-align:center; line-height:30px;}
.ph_name{ width:140px; height:30px; float:left; text-align:center; line-height:30px;}
.ph_jifen{ width:80px; height:30px; float:left; text-align:center; line-height:30px;}
.ph_title{ line-height:30px; text-align:center; font-size:12px; color:#4f4f4f; text-align:center;}
.jifen_p{ font-size:12px; color:#9c9a9b; font-family:Tahoma, Geneva, sans-serif;}
.ph_img{ width:30px; height:30px; margin-right:10px; display:inline; float:left;}
.ph_n{ height:30px; display:block; float:left; font-size:12px; color:#3d3d3d;}
.ph_bio{ width:25px; height:20px; padding-top:5px; float:left;}
.ph_sp1{ color:#42ae05;}
.ph_shuzi1{ width:30px; height:30px; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_26.jpg) center no-repeat; color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:31px; font-size:11px;}
.ph_shuzi2{ width:30px; height:30px; background:url(http://mat1.gtimg.com/gongyi/succor_13/a_27.jpg) center no-repeat; color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:31px;
font-size:11px;}

/**最新捐助*/
.zuixinjz{ width:273px;clear:both;overflow:hidden;}
.zuixinjz_t{ width:273px; height:32px;border-bottom:1px #e8e8e8 solid;background:#f5f5f7;margin-bottom:1px;}
.zuixinjz_t p{ margin-left:10px; font-size:14px; color:#1b1b1b; font-family: "微软雅黑";line-height:34px; letter-spacing:1px;}
.bank6{ width:273px; height:15px;}
.bank7{ width:260px; height:15px; border-top: 1px dashed #d3d3d3; margin:0 auto;}
.zuixinjz_c{ width:250px; height:72px; margin:0 auto;}
ul.lastDonaterList{list-style:none;overflow:hidden;padding-bottom:10px;}
ul.lastDonaterList li{list-style:none;overflow:hidden;border-bottom:1px #d7d7d7 dashed;padding:12px;}
ul.lastDonaterList li img{width:50px;float:left;margin-right:10px;}
ul.lastDonaterList li h5{font-size:12px;font-weight:100;padding-bottom:10px;}
ul.lastDonaterList li p{color:#999;font-size:12px;line-height:180%;}
ul.lastDonaterList li p span{color:#333;}

/****乐捐推荐******/
.zuixinjz_1{ width:273px;}
.zuixinjz_c1{ width:260px;clear:both;margin:0 auto;overflow:hidden;padding-bottom:10px;}
.zxjz_img2{ width:100px; height:100px; float:left;  margin-right:10px;}
.zxjz_cen2{ width:145px; height:100px; float:left;}
.zxjz_sp6,.zxjz_sp6 a:link,.zxjz_sp6 a:visited{ font-size:12px; color:#3d3d3d; line-height:20px; font-weight:bold;height:20px;overflow:hidden;}
.zxjz_sp5{ font-size:12px; color:#3d3d3d; line-height:20px;height:80px;overflow:hidden;position:relative;}
.zxjz_sp6 a:hover{color:#057d02; text-decoration:underline;}

/****/
.login_2{ width:273px; height:272px; margin:0 auto; background:url(http://mat1.gtimg.com/gongyi/succor_13/p_26.jpg) top center no-repeat;}
.login_2_t{ width:260px; height:35px; margin:0 auto; font-size:14px; color:#1b1b1b; font-family: "微软雅黑"; line-height:34px; letter-spacing:1px;}
.login_2_c{ width:220px;margin:0 auto;}
.login_2_div{ width:200px;margin:5px auto;}
.login_2_bto{ width:200px; height:30px; margin:0 auto;}
.login_2_sp1{ font-size:12px; color:#3d3d3d; line-height:20px;}
.l_bto2{ width:63px; height:23px; display:block; float:left; background-position:-88px -32px}
.l_bto_3{ font-size:12px; line-height:23px; color:#3d3d3d; float:left; display:inline-block; margin-left:10px;}
.l_bto_3 span{ color:#f43f00;}


/**机构介绍**/
.tsmm{ width:250px;margin:0 auto;}
.tsmm_top{ width:250px; /*height:55px;*/}
.tsmm_des{ width:250px;}
.tsmm_img{ width:66px; height:66px; float:left;}
.tsmm_img_p{ width:180px;float:left;}
.tsmm_sp1{ font-size:14px; color:#3d3d3d; line-height:25px; font-weight:bold;height:25px;overflow:hidden}
.tsmm_sp2{ font-size:12px; color:#3d3d3d; line-height:23px;}
.tsmm_sp2 a{font-family:Arial, Helvetica, sans-serif;color:#f43f00; font-weight:bold; line-height:18px;}
.tsmm_sp2 a:hover{ text-decoration:underline;}
.tsmm_a{ font-size:12px; color:#539b24; line-height:25px;}
.tsmm_a:hover{ text-decoration:underline;}

/**常见问题*/
.questions_t{ width:155px; height:34px; float:left; display:inline-block;}
.lxkf{ width:85px; height:25px; margin-top:5px; float:left; display:inline-block; background-position:-159px -157px}
.questions_c{ width:250px; height:220px; margin:8px auto;}
.questions_sp1 a{ font-size:12px; color:#414141; line-height:26px;}
.questions_sp1 a:hover{ color:#057d02; text-decoration:underline;}

/***志愿团报名**/
.zyt_top{ width:986px; height:30px; margin:0 auto;}
.zyt_reg{width:980px; margin:0 auto; border-top:2px solid #4e9418;border-left:1px solid #dadada;border-right:1px solid #dadada;border-bottom:1px solid #e2e2e2;}
.zyt_reg_t{ width:100%; height:41px; margin:0 auto; background-color:#f0f0f0}
.zyt_sp_t{line-height:41px; font-size:16px; color:#000; font-weight:bold;text-indent:40px}
.zyt_sp_t span{ line-height:41px; font-size:14px; color:#4e931c; font-weight:normal;}
.zyt_split {width:1px;height:187px;overflow:hidden;float:left;background-color:#dadada;margin-left:70px;margin-top:25px;}
.zyt_noreg{ width:900px; height:215px; margin:20px  auto auto auto;}
.zyt_left{ width:390px; height:214px; float:left;}
.zyt_right{ width:350px; height:214px; float:right;margin-top:50px;}
.zyt_l_img{ width:350px; height:100px;}
.zyt_l_p{ width:360px; padding-left:15px;}
.zyt_l_p1{ font-size:12px; color:#3d8e15; font-weight:bold; line-height:30px;}
.zyt_l_p2{ font-size:12px; color:#000; line-height:24px;}
.zyt_sta_n,.zyt_sta_y{ width:50px; height:50px; }
.zyt_sta_text{color:#4d4d4d;text-indent:2em;line-height:50px;font-size:13px;}
.zyt_sta_n{background-position:-148px -99px;}
.zyt_sta_y{background-position:-204px -99px;}
.zyt_sta_bton,.zyt_sta_btoy,.zyt_sta_bto{width:150px; height:49px; margin-top:15px; margin-bottom:8px;}
.zyt_sta_bton{background-position:0 -303px;}
.zyt_sta_btoy{background-position:0 -354px;width:177px}
.zyt_sta_bto{width:265px;background-position:0px -251px}
.zyt_right #volunteerId{margin-top:25px;}
#identify1,#identify2{display:none}
.zyt_sta_btona{ width:100%; height:100%; display:block;}
.zyt_p_n{ display:none;clear:both;width:150px; text-align:center; font-size:12px; line-height:26px; color:#989898}
.zyt_p_y{ width:177px; text-align:center; font-size:12px; line-height:26px; color:#989898}
.zyt_p_n span,.zyt_p_y span{ font-family:Arial, Helvetica, sans-serif; color:#f15b28; width:50px; text-align:center; line-height:26px; font-weight:bold;}
.gotoApplyList{width:265px;height:50px;display:block;color:#fff;font-weight:600;line-height:50px;text-align:center}
/**********************/


/** 月捐项目推荐**/
.right_re{ width:273px;margin:0 auto;}
.right_ms{ width:273px;margin-top:1px; background:#ededed;}

.login_2_c{ width:220px;margin:0 auto;}
.login_2_img{ width:220px;overflow:hidden;position:relative;z-index:2;}
.login_2_img a{display:block;z-index:6;}
.login_2_img div.yuejuan-title{position:absolute;background-color:#1e1a19;filter:alpha(Opacity=70);-moz-opacity:0.7;opacity:0.7;height:24px;overflow:hidden;color:#FFF;line-height:24px;padding-left:10px;bottom:0;font-size:12px;width:220px;z-index:10;}
.login_2_div{ width:200px;margin:5px auto;clear:both;overflow:hidden;}
.login_2_bto{ width:200px; height:30px; margin:0 auto;}
.login_2_sp1{ font-size:12px; color:#3d3d3d; line-height:20px;}

.l_bto_3{ font-size:12px; line-height:23px; color:#3d3d3d; float:left; display:inline-block; margin-left:10px;}
.l_bto_3 span{ color:#f43f00;}

/**项目页面***/
.pro_top{ width:980px; height:30px; margin:0 auto;}
.pro_main{ width:980px; margin:0 auto; /*border-top:1px solid #e5e5e5;*/}

.pro_title{ width:980px; height:50px; margin:0 auto; background:#f4f4f4; border-bottom:1px solid #fff; border-top:2px solid #4e941c;border-bottom:1px solid #E5E5E5;}
.pro_se{ height:50px; margin:0 auto;clear:both;padding:0 10px;}
/*.pro_se span{display:inline-block;float:left;line-height:50px;font-size:14px;}*/
.pro_se_apply span{display:inline-block;float:left;line-height:50px;font-size:14px;}

.pro_se span.sel{padding-top:12px;padding-right:32px;}
.pro_se span.sel select{height:26px;*height:26px;line-height:28px;padding:4px;display:block;border:1px #e3e9ef solid;border-top:1px #abadb3 solid;}
.pro_se span.sel2{padding-top:12px;padding-right:30px;}
.pro_se span.sel2 select{height:26px;*height:26px;line-height:28px;padding:4px;display:block;vertical-align: middle;border:1px #e3e9ef solid;border-top:1px #abadb3 solid;}
.pro_se1{ width:320px; height:50px; float:left; line-height:50px;margin-right:8px; display:inline;}
.pro_se2{ width:420px; height:50px; float:left; line-height:50px;display:inline;}
.pro_se3{width:190px;float:right;line-height:50px;display:inline-block;}

.pro_sele{ width:120px; height:27px;line-height:27px;color:#9b9b9b;margin:0;padding:4px;margin-top:11px;clear:both;float:left;}
.pro_sele1{width:100px; height:27px;line-height:27px;color:#9b9b9b; margin:0; padding:4px; margin-left:10px;margin-top:11px;}
.pro_sele2{ height:27px;line-height:27px;color:#9b9b9b; margin:0; padding:4px; margin-left:5px;margin-top:11px;}
.pro_sele3{ width:100px; height:27px;line-height:27px;color:#9b9b9b; margin:0; padding:4px; margin-left:5px; margin-right:5px;margin-top:11px;}
.pro_search{ width:132px; height:24px; margin-top:11px; float:left; display:inline;line-height:24px;border:1px #e3e9ef solid;border-top:1px #abadb3 solid;}
.subm_a{ width:40px; height:26px; border:1px solid #c8c6c6; line-height:26px; text-align:center; color:#000; margin-top:10px; display:inline-block; margin-left:8px;}
.subm_btn{ width:50px; height:27px; display:block; float:left; margin-top:11px; background-position:-215px 0;cursor:pointer;}

.se_div1{ width:75px; height:50px; float:left;}
.se_div2{ width:120px; height:50px; float:left;}
.se_div3{ width:80px; height:50px; float:left;}
.se_div4{ width:55px; height:50px; float:left;}
.se_div5{ width:130px; height:50px; float:left;}
.se_div7{ width:130px; height:50px; float:left;} 

.pro_ul{ width:980px;margin:0 auto; }
.pro_li{ width:980px;clear:both;margin-top:20px; border-bottom:1px dashed #dfdfdf;font-size:12px;padding-bottom:20px;}
.pro_li_img{ width:140px; float:left;}
.pro_li_img img{border:1px #ececec solid;}
.pro_li_cen{ width:590px;float:left;}
.pro_li_jin{ width:200px; height:120px; float:right;}
.pro_list_stat{width:220px;}
.pro_sp1{ font-size:14px; color:#3d3d3d; line-height:25px;clear:both;}
.pro_sp1 a:link{color:#3d3d3d;}
.pro_sp1 a:visited{color:#3d3d3d;}
.pro_sp1 a:hover{color:#057D02; text-decoration:underline;}
.pro_sp1 a.btn_zhufu{font-weight:bold;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333;width:auto;}
.pro_sp1 a.titless{display:inline-block;float:left;font-size:16px;font-family:"微软雅黑";}
.pro_sp1 a.titless:hover{color:#057D02;}
.pro_sp1 div.zhufuTips{right:0px;left:auto;top:22px;}
li.pro_li div.zfWrap{float:right;position:relative;height:22px;}
li.pro_li div.zfWrap div.zhufuTips{right:0px;left:auto;top:20px;}
.pro_cen_p{ width:600px;}
.pro_cen_left{ width:70px; height:60px; float:left;}
.pro_list_cen_left{ width:70px; height:40px; float:left;}
.pro_cen_right{ width:522px;float:left;}

.pro_sp2{ font-size:12px; line-height:20px; color:#9b9b9b; width:70px;font-size:12px;display:inline-block;}
.pro_sp3{ font-size:12px; line-height:18px; color:#3d3d3d;}
.pro_sp4{ font-size:12px; line-height:20px; color:#3d3d3d;}
.pro_sp4 a,.pro_sp4 a:link,.pro_sp4 a:visited,.pro_sp4 a:hover{color:#3d3d3d;}
.pro_sp4 a:hover{text-decoration:underline;color:#057D02;}
.time-s,.money-s{font-family:Arial, Helvetica, sans-serif;}

.sp_block{ display:block; float:left;}
.wol_bto{ width:200px; height:30px; margin-top:22px;}
.wol_btoa{ width:112px; height:27px; display:block; background-position:0px -83px;color:#FFF;line-height:27px;text-align:center;font-size:14px;}
.wol_btoa:hover{background-position:0px -110px;}
/**分页*/
.pro_pages{ width:960px; height:50px; margin:10px auto;}
.pages_sta1{ width:85px; height:34px; text-align:center; color:#222222; font-size:14px; border:1px solid #e2e2e2; float:left; line-height:34px;}
.pages_cen{  float:left; height:50px;}
.pages_sta3{ width:34px; height:34px; border:1px solid #e2e2e2; color:#222222; line-height:34px; float:left; display:inline; margin-left:5px; text-align:center; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.ind_stas{ background:#579f23; color:#ffffff;}

/**项目页百分比*/
.pro_jindu{ width:180px;  color:#9c9a9b; font-size:12px; line-height:25px; display:block;}
.pro_tiao{ width:200px; height:20px;}
.jindu_xm{ width:100px; height:10px; margin-top:5px; display:inline; float:left; margin-right:10px; overflow:hidden;}
.jindu_xm_p{ width:100px; height:6px; background:#e4e4e4; display:block; margin-top:2px;}
.jindu_xm_p span{ height:6px;  display:block;}
.pro_dis{height:20px; line-height:20px; float:left; color:#9c9a9b; font-size:12px;}

.pro_jindu_2{ width:180px;  color:#9c9a9b; font-size:12px; line-height:25px; display:block;}
.pro_tiao_2{ width:210px; height:20px;color:#9b9b9b;}
.jindu_xm_2{ width:170px; height:10px; margin-top:5px; display:inline; float:left; margin-right:10px; overflow:hidden;}
.jindu_xm_p_2{ width:170px; height:6px; background:#e4e4e4; display:block; margin-top:2px;}
.jindu_xm_p_2 span{ height:6px;  display:block;}
.pro_dis_2{height:20px; line-height:20px; float:left; color:#9c9a9b; font-size:12px;}
.pro-donate-stat{line-height:28px;color:#9c9a9b;}
.pro-donate-stat span{font-family:Arial, Helvetica, sans-serif;color:#f43f00;font-weight:bold;}
/*微博分页*/
.weiboPages{text-align:center;}
.weiboPages span{margin:0 3px;}
.weiboPages a{line-height:22px;color:#999;margin:0 3px;padding:2px 8px;border:1px #DEDEDE solid;}
.weiboPages a.current,.weiboPages a:hover{background:#DEDEDE;}
.weiboPages a:visited{color:#999;}
/*微博回复/评论*/

div.repayWrap{border:1px #DCDCDC solid;clear:both;position:relative;background:#FFF;margin:2px;font-size:12px;color:#333;}
div.repayWrap a.closets{position:absolute;top:10px;right:10px;display:block;width:16px; height:16px;background-position:-117px 0;}
div.repayWrap a.closets:hover{background-position:-137px 0;}
div.repayWrap p.summary{padding:10px;line-height:19px;color:#999;}
div.repayWrap div.textareaWrap{margin:0 10px;}
div.repayWrap textarea{width:100%;border:1px #DCDCDC solid;overflow-y:auto;margin:0 auto;height:56px;}
div.repayWrap span.haveCntWrap{padding-right:18px;}
div.repayWrap input.btn_weibo_comment{width:60px; height:20px; background-position:-124px -90px;border:none;cursor:pointer;}
div.repayWrap input.btn_weibo_broadcast{width:60px; height:20px; background-position:0 -110px;border:none;cursor:pointer;}
div.repayWrap .weiboFootWrap{text-align:right;color:#999;padding:12px;}
div.repayWrap .weiboFootWrap em,div.weiboSendWrap span.countTxt em{font-size:22px; font-family:Georgia,Tahoma,Arial;}
/*微博广播*/
div.weiboSendWrap{border:1px #e3e7ea solid;border-top:3px #a7a7a7 solid;margin:10px;}
div.weiboSendWrap .cntBox{padding:10px;background:#FFF;border-bottom:1px #e3e7ea solid;}
div.weiboSendWrap textarea{border:0px;width:100%;background:#FFF;overflow-y:auto;height:58px;}
div.weiboSendWrap .sendFun{text-align:right;color:#999;padding:12px;background:#f6f6f6;}
div.weiboSendWrap span.countTxt{padding-right:18px;}
input.sendBtn{width:112px;height:30px;border:none;cursor:pointer;}

/*微博项目反馈*/
ul.processWeiboList{list-style:none;padding:0 20px;font-size:12px;line-height:24px;color:#666;padding-bottom:10px;}
ul.processWeiboList li{list-style:none;overflow:hidden;clear:both;padding:8px 0;border-bottom:1px dashed #D3D3D3;}
ul.processWeiboList li a.bighover{cursor:url(http://mat1.gtimg.com/www/mb/images/cursor_zoom.cur), pointer;}
ul.processWeiboList li a.smallhover{cursor: url(
http://mat1.gtimg.com/www/mb/images/cursor_minify.cur), pointer !important;display:block;overflow:hidden;padding:0;width:100%;}
ul.processWeiboList li img.userFace{width:30px;height:30px;border:1px #D2D2D2 solid;float:left;margin-top:4px;}
ul.processWeiboList li div.iWrap{padding-left:40px;}
ul.processWeiboList li p a{color:#0078B6;}
ul.processWeiboList li p img{display:inline-block;}
ul.processWeiboList li div .footProcessMenu{}
ul.processWeiboList li div .footProcessMenu a{color:#0078B6;}

/*提交项目进展*/
span.addProcessBtn{float:right;padding-top:10px;padding-right:10px;}
span.addProcessBtn a,span.addProcessBtn a:visited{color:#666;font-size:12px;}
h5.addProcessTitle{font-size:12px;padding-left:10px;margin:0;line-height:100%;font-weight:100;font-size:12px;}
div.addProcessFileWrap{border:1px #e3e7ea solid;margin:10px;clear:both;background:#FFF;padding:10px;font-size:12px;display:none;}
div.addProcessFileWrap div.titless{clear:both;overflow:hidden;}
div.addProcessFileWrap div.titless a.files{text-decoration:none;background:url(http://mat1.gtimg.com/gongyi/2012images/fu_btn.gif) no-repeat;width:90px; height:30px;float:left;display:inline-block;}
div.addProcessFileWrap div.titless a.files:hover{background-position:0 -30px;background-color:#FFFFEE;}
a.files input {margin-left:-350px;font-size:30px;cursor:pointer;filter:alpha(opacity=0);opacity:0;}
a.thumbProcessUnSendImg{position:relative;}
a.thumbProcessUnSendImg img{position:absolute;top:6px;right:-125px;z-index:30;border:1px #ccc solid;padding:1px;}

/*取消点击时的虚线框*/
a.files, a.files input {outline:none;/*ff*/hide-focus:expression(this.hideFocus=true);/*ie*/}
div.addProcessFileWrap div.titless a.closeUpFile{float:right;padding:0;color:#057d02}
div.addProcessFileWrap ul.fileList{list-style:none;clear:both;width:80%;font-size:14px;padding-bottom:8px;}
div.addProcessFileWrap ul.fileList li{clear:both;padding:3px 5px;}
div.addProcessFileWrap ul.fileList li span{float:left;display:inline-block;}
div.addProcessFileWrap ul.fileList li a.cancel{float:right;color:#057D02;}
div.addProcessFileWrap p.notifys{line-height:22px; background:#F4F4F4;margin:5px 0; padding:3px;}
div.addProcessFileWrap p.notifys span{color:red;}
div.addProcessFileWrap div.footMenus{text-align:right;}

/*按钮集合*/
a.btn_donate{width:122px;height:40px;background-position:0 0px;float:left;display:inline-block;color:#FFF;font-size:16px;font-weight:bold;text-align:center;line-height:40px;margin-right:20px;}
a.btn_donate:hover{background-position:0 -41px;}
input.btn_city{width:43px;height:26px;font-size:12px;background:#EFEFEF;border:1px #c7c5c6 solid;}


/*** g ***/
.font-ap{ font-family:Arial, Helvetica, sans-serif;}
.font_bl{ font-weight:bold;}
.font_h_s{color:#057d02}
.bank8{ width:100%; height:24px;}
.bank30{ width:100%; height:30px;}
.bank20{ width:100%; height:10px;}
.bank15{ width:100%; height:15px;}
.bank25{ width:100%; height:25px;}
.nobottoom{ border:none;}
.ml5{ margin-left:5px;}
.fl_d{ float:left; display:block;}

.fileli_even,.fileli_odd{
	width:99%;
	float:left;
}

.fileli_even{background-color:#fff}
.fileli_odd{background-color:#ededed}

.update_file_name{
	width:365px;
	float:left;
}

.remove_file{
	width:100px;
	float:right;
	text-align:right;
	font-size:12px;
}

.remove_file a,.update_file_name a{color:#057d02;}
div.searchResultSummary{width:980px;margin:5px auto;background:#C0C0C0;font-size:12px;clear:both;overflow:hidden;height:25px;}
div.searchResultSummary p span{color:red;}
div.searchResultSummary p{float:left;display:inline-block;padding-left:10px;line-height:25px;}
div.searchResultSummary a.closett{float:right;line-height:25px; margin-right:10px;}

.select-wrap-search{display:inline-block;float:left;padding-top:11px;_width:612px;}
.s-text{padding-top:7px;float:left;font-size:14px;}
.drop-span{cursor:pointer;font-size:12px;width:88px;height:26px;line-height:26px;display:inline-block;z-index:0;position:relative;margin-right:25px;float:left;}
.d-title2{padding-left:4px;display:block;border:1px #e3e9ef solid;border-top:1px #abadb3 solid;background:#FFF url(http://mat1.gtimg.com/gongyi/succor_13/icons/icons-2.png) no-repeat right 0;font-size:12px;}
.d-title2-hover{background-position:right -25px;}
.drop-ul{z-index:8;border:1px #CCC solid;position:absolute;background:#fff;width:100%;display:none;}
.drop-ul li{height:26px;display:block;}
.drop-ul li a{line-height:26px;padding-left:4px;display:block;height:26px;color:#333;}
.drop-ul li a:hover{background:#ECECEC;color:#333;}

.top-org-nav{font-size:14px;font-weight:bold;}
.a-more-2{color:#539B24;position:absolute;bottom:0;right:0;background:#FFF;padding-left:14px;}
.a-more-2:hover{text-decoration:underline;}

.v-wrap{padding-left:49px;padding-top:20px;}
.v-title3{font-size:12px;font-weight:bold;color:#3d3d3d; padding-bottom:6px;}
.v-name3{font-size:12px;color:#3d3d3d;}
.v-name3:hover{color:#057D02;}

.renzheng_bto2 #weixin_qrcode{
float:left;
width:150px;
height:44px;
position:relative;
z-index:99;
margin-top:10px;
display:none;
font-size:12px;
}
.renzheng_bto2 #weixin_qrcode .tlt{
	height: 22px; line-height: 22px;clear:right;
}
#weixin_qrcode .img_qrcode{
	float:left;
	margin-right:10px;
}
.renzheng_bto2 #weixin_qrcode .desc{
	height:22px;
	line-height:22px;
}
.renzheng_bto2 .weixin_logo{
margin: 0px; 
padding: 0px; 
border: 0px none; 
width: 21px; 
height: 17px; 
display: inline-block; 
background: url("http://mat1.gtimg.com/gongyi/2013/loveplan/lp_btn_gather_v2.png") -84px -237px no-repeat;
_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://mat1.gtimg.com/gongyi/2013/loveplan/weixin_logo.png');
vertical-align:middle;
}
.renzheng_bto2 #weixin_qrcode_big{
	height: 300px;
	position: absolute; 
	border: 1px solid #ccc; 
	z-index: 99; 
	top: -257px; 
	background-color: #fff; 
	width: 248px;
	display:none;
}
.renzheng_bto2 #weixin_qrcode_big .img{
	margin: 14px; 
	float: left;
}
.renzheng_bto2 #weixin_qrcode_big div{
	float: left; 
	width: 100%; 
	text-align: center;
}
.renzheng_bto2 #weixin_qrcode_big .tip{
	line-height:24px
}


.main_right #weixin_qrcode{
	height:75px;margin-bottom:12px;border:1px solid #dcdcdc;padding:12px;display:none;
}
.main_right #weixin_qrcode .weixin_logo{
	background: url("http://mat1.gtimg.com/gongyi/2013/loveplan/lp_btn_gather_v2.png") no-repeat scroll -84px -237px #fff;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://mat1.gtimg.com/gongyi/2013/loveplan/weixin_logo.png');
    border: 0 none;
    display: inline-block;
    height: 17px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 21px;
}
.main_right #weixin_qrcode .tlt{
	font-weight:600;font-size:15px;color:#787878;font-family:微软雅黑;
}
.main_right #weixin_qrcode .tip{
	color:#787878;margin-top:12px;font-size:12px;line-height:18px;font-family:宋体;
}
.search-pub-wrap{width:980px; margin:0 auto; font-size:14px; font-weight:bold; line-height:30px;}
/*  |xGv00|5a42151d308803e96ba7c7db635d40b8 */