.page {background:#f2eede; padding-bottom:110px;}
.pageInner {background:url(//mat1.gtimg.com/2014/coffeyang/xbyrj/bg_1.jpg) 50% top no-repeat;}
.banner {text-indent:-9999em; height:202px;}
.container {margin:0px auto; width:1000px;}
.tab_hd {padding-left:248px;}
.tab_bd {background:#fff url(//mat1.gtimg.com/2014/coffeyang/xbyrj/bg_2.png) left top repeat-y; margin-top:26px;}
.tabs .tab_hd_item{float:left;width:158px; height:38px; text-align:center;line-height:38px; background:#f3efdf; border:1px #dad0aa solid; color:#b3ac91; font-size:18px;font-family:Microsoft YaHei,ºÚÌå; margin-right:2px; display: inline; cursor:pointer;}
.tabs .tab_hd .current{background:#ffae1b;border:1px #ffae1b solid; color:#fff;}
.tabs .tab_bd_item  {padding-top:15px; position:relative;}
.bg_ft {height:100px; width:1000px; background:#fff; position:absolute;left:0px; bottom:0px; z-index: 1;}
.tabs .tab_bd_item .box,.tabs .tab_bd_item .box1,.tabs .tab_bd_item .box2 { padding-bottom:32px; position:relative;z-index: 5;; }
.tabs .tab_bd_item .l {width:115px; position:relative; height:140px;}
.tabs .tab_bd_item .r {width:874px; float:left;}
.tabs .tab_bd_item .timer {}
.poptip{background:#fff; line-height: 35px;  padding:0px 15px; position:absolute; left:15px; top:51px; text-align:center; color: #8d8874;font-size: 20px; font-family:Arial; border:1px #d7282f solid;}
.poptip i {position:absolute; width:11px; height:13px; background:url(//mat1.gtimg.com/2014/coffeyang/xbyrj/bg_3.png) no-repeat; right:-11px; top:50%; margin-top:-7px;}
.icons, .i_wb, .i_tp, .i_sp, .i_ws, .i_zt, .i_dj {
background: url(//mat1.gtimg.com/2014/index/img/icons_v1.png) no-repeat;
}
 .shadow a:hover i.icons, .first a:hover i.icons,  .shadow i.icons,  .first i.icons {
-moz-transition: background-position .2s ease;
-webkit-transition: background-position .2s ease-in;}
.scroll_A{position:relative; width:768px;}
.scroll_A .inner{position:relative;width:780px;height:140px;overflow:hidden;}
/*.scroll_A .split{width:200px;height:120px;float:left;padding:0 10px;}*/
.scroll_A .btn{display: none; position:absolute;top:50%;margin-top:-14px;width:28px;height:28px;cursor:pointer;font-size:40px;font-weight:bold; background:url(//mat1.gtimg.com/2014/coffeyang/xbyrj/bg_4.png) no-repeat;}
.scroll_A .btn:hover {opacity:0.8;filter:alpha(opacity=80);}
.scroll_A .prev{left:7px; background-position: 0px -29px;}
.scroll_A .next{right:-5px;}
 .video_list li{position:relative;float:left;width:245px;height:140px;padding:0px 7px;overflow:hidden;display:inline;}
  .video_list li a {display: block;width:249px; position:relative; text-decoration:none;}
 .video_list li .pic:hover img{opacity:0.8;filter:alpha(opacity=80);}
 .video_list .shadow{position:absolute;left:0;bottom:0;width:100%;height:26px;line-height:26px;color:#FFF;background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
 .video_list .shadow i.icons{float:left;width:26px;height:26px;margin-right:10px;background-position:-60px -60px;}
 .video_list .txt{position:relative;}
 .video_list a:hover i.icons {background-position: -90px -60px; }
/*  |xGv00|43012ae68bae9082fa209aec13845645 */