body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:14px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#333;outline:none}
a:hover{color:#ff6216}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}
			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

.ad1{width:1000px;height:60px;margin:20px auto 0 auto}
.ad1 img{width:1000px;height:60px}
.l-s{width:1000px;height:42px;margin:20px auto}
.logo{float:left;width:250px;height:42px}
.logo img{width:165px;height:42px}
.Form-Crumbs-Article-QQ { float:right;padding-top:7px;}
.Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:30px;border:none;font-size:12px;background:url(//mat1.gtimg.com/cq/jinghao/soso-sprite-blue.jpg) left bottom no-repeat;cursor:pointer;}
.Form-Crumbs-Article-QQ .inputWarp{float:right;width:180px;height:28px;margin:0;padding:0;line-height:22px;background:#fff;border:#c9c9c9 1px solid;border-right:none;}
.Form-Crumbs-Article-QQ .txtArea{width:150px;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
.Form-Crumbs-Article-QQ .SosonLogo{float:right;width:22px;height:22px;margin:3px 3px 0 0;background:url(//mat1.gtimg.com/xian/2015images/2015index/20150204indexhd/soso-sprite.png) left top no-repeat;}
.Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:14px;line-height:28px;}
.soso-smart-b{background-color:#d8ecff;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.nav{width:1000px;height:50px;line-height:50px;overflow:hidden;background:#da2900;margin:auto}
.nav li{float:left;width:118px;background:#f14119;margin-left:1px;font-size:18px;text-align:center}
.nav li a{display:block;color:#fff}
.nav li a:hover{text-decoration:none;color:#fff}
.nav li.nav-1{margin-left:0}
.nav li.nav-6{width:135px}
.nav li.nav-8{width:150px}
.nav li.active,.nav li.ac{background:#e62b00}
.btn,.link-c{background-image:url(//mat1.gtimg.com/cq/bruceliu/cqcs/bg.png);_background-image:url(//mat1.gtimg.com/cq/bruceliu/cqcs/bgie6.png);background-repeat:no-repeat}
.scroll{position:relative;width:600px;height:350px;overflow:hidden;margin-bottom:20px}
.focus_1{width:600px;height:350px;overflow:hidden;margin:auto}
.focus_1 img{width:600px;height:350px}
.section{width:1000px;height:auto;overflow:hidden;margin:auto;margin-top:30px}
.content1-l{float:left;width:600px;height:auto;overflow:hidden}
.headline{height:96px;overflow:hidden;padding-top:19px;border-bottom:1px solid #dfdfdf}
.headline.first{padding-top:3px}
.headline.last{border:none}
.headline h2{height:30px;overflow:hidden;font-size:18px;font-weight:bold;color:#414141}
.headline h2 a{color:#414141}
.headline h2 a:hover{font-size:20px}
.headline p{height:45px;line-height:25px;overflow:hidden;font-size:14px;color:#666}
.headline p a{color:#666}
.content1-r{float:right;width:380px;height:auto;overflow:hidden}
.right-box{height:auto;overflow:hidden;border-bottom:1px solid #dfdfdf}
.right-box.last{border-bottom:none}
.jzx{margin-top:-3px}
.lm-title{height:59px;line-height:59px}
.lm-title h3,.lm-title a{display:inline-block}
.lm-title h3{float:left;font-size:20px;font-weight:bold;color:#f14119}
.lm-title a{float:right;line-height:41px;font-size:30px;font-weight:bold;color:#f14119}
.news-list{padding-top:12px}
.news-list li{height:30px;line-height:30px;overflow:hidden;font-size:16px;color:#414141}
.more{text-align:right}
.more a{color:#ff6e16}
.box{height:auto;overflow:hidden;margin-top:30px;padding:0 20px;border:1px solid #dfdfdf}
.wly{height:90px;overflow:hidden}
.wly-l{display:block;float:left;width:125px;height:90px}
.wly img{width:125px;height:90px}
.wly-r{float:right;width:190px}
.wly-r h4{height:30px;line-height:30px;overflow:hidden;font-size:16px;color:#222}
.wly-r p{height:40px;line-height:20px;overflow:hidden;margin-top:10px;font-size:12px;color:#999}
.wly-r p a{color:#999}
.box1{width:998px;margin:30px auto 0}
.wrap{float:left;width:100%;height:auto;overflow:hidden}
.wrap1{width:280px}
.wrap2{margin-left:40px}
.wrap ul{display:block;height:auto;overflow:hidden;padding-top:13px;border-top:1px solid #dfdfdf}
.wrap li{display:inline-block;width:280px;height:35px;line-height:35px;overflow:hidden}
.wrap li.even{margin-left:35px;_margin-left:40px}
.wrap li a{color:#333}
.zyz li{margin-bottom:-5px;*margin-bottom:0;*display:inline}
.wsjz{padding-bottom:26px}
.wsjz h4{height:22px;line-height:22px;overflow:hidden;margin:4px 0 10px;font-size:18px;font-weight:bold;color:#333}
.wsjz h4 a{color:#333}
.wsjz p{font-size:16px;color:#333}
.wsjz .p1{height:47px;line-height:47px;overflow:hidden;background:#f3f2f2;margin-top:15px;padding:0 12px}
.wsjz .p1 span{font-size:30px;color:#f14119}
.btn-box{height:45px;margin-top:13px;text-align:center}
.btn{display:inline-block;height:45px;line-height:45px;font-size:20px;color:#fff;text-align:center}
.btn:hover{color:#fff}
.jz{width:141px;background-position:-109px 0}
.cx{width:155px;background-position:-258px 0}
.cqcs{padding-bottom:9px}
.csjj{padding-bottom:10px}
.csjj p{height:45px;line-height:45px;overflow:hidden;color:#333}
.csjj p strong{font-size:18px;font-weight:bold}
.cqcs ul{height:auto;overflow:hidden;margin-top:9px}
.cqcs li{height:28px;line-height:28px;color:#666}
.cqcs li a{color:#666}
.content2,.content3,.content4{width:998px;height:auto;overflow:hidden;margin:30px auto 0;border:1px solid #dfdfdf}
.link{height:60px;padding:15px 0;overflow:hidden}
.link-l{float:left;_display:inline;width:35px;line-height:25px;margin-left:20px;padding-top:5px;font-size:16px;color:#f14119}
.link-c{float:left;_display:inline;width:8px;height:56px;background-position:-111px -53px;margin-left:15px}
.link-r{float:left;_display:inline;width:920px}
.link-r img{display:inline;float:left;width:135px;height:60px;margin-left:15px}
.link-menu,.link-menu a{color:#414141}
.link-menu{line-height:33px;padding:20px 15px 20px 12px;border-top:1px solid #dfdfdf}
.link-menu a{display:inline-block;margin-left:8px}
.content4{padding:20px 0}
.content4 li{display:inline;float:left;width:auto;height:30px;line-height:30px;margin-left:20px;color:#333}
.headline h2 a:hover,.headline p a:hover,.wrap li a:hover,.wsjz h4 a:hover,.cqcs li a:hover,.link-menu a:hover{color:#f14119}
/*  |xGv00|ee09bcfd581d767b015a11ba4080af23 */