@charset "UTF-8";
@-webkit-keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.15, 1.15, 1.15);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes zoomIn {
    0%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        transform: translate3d(0, -10%, 0);
    }

    to {
        opacity:1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInUp {
    from {
        opacity:0;
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity:1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes moveC {
    0% {
        -webkit-transform:translate(50%, 80%);
        transform:translate(50%,80%);
        opacity: 0;

    }
    100%{
        -webkit-transform:translate(0,0%);
        transform:translate(0%,0%);
    }
}
.active .pulse1 {
    -webkit-animation:pulse 1.5s 2s ;-moz-animation: pulse 1.5s 2s;animation: pulse 1.5s 2s;
}
.active .pulse2{
    -webkit-animation: pulse 1.5s 3.5s;;-moz-animation: pulse 1.5s 3.5s;animation: pulse 1.5s 3.5s;
}
.active .pulse3{
    -webkit-animation:pulse 1.5s 5s;-moz-animation:pulse 1.5s 5s;animation: pulse 1.5s 5s;
}
.active .pulse4{
    -webkit-animation:pulse 1.5s 6.5s;-moz-animation:pulse 1.5s 6.5s;animation: pulse 1.5s 6.5s;
}
.active .pulse5{
    -webkit-animation:pulse 1.5s 8s;-moz-animation:pulse 1.5s 8s;animation: pulse 1.5s 8s;
}
.active .pulse6{
    -webkit-animation:pulse 1.5s 9.5s;-moz-animation: pulse 1.5s 9.5s; animation: pulse 1.5s 9.5s;
}
.active .qp{display: block;
}
.active .zoomIn1{
    -webkit-animation: zoomIn 1.5s 2s;-moz-animation: zoomIn 1.5s 2s; animation: zoomIn 1.5s 2s;
}
.active .zoomIn2{
    -webkit-animation: zoomIn 1.5s 3.5s;-moz-animation:zoomIn 1.5s 3.5s;animation: zoomIn 1.5s 3.5s;
}
.active .zoomIn3{
   -webkit-animation:zoomIn 1.5s 5s;-moz-animation: zoomIn 1.5s 5s;  animation: zoomIn 1.5s 5s;
}
.active .zoomIn4{
   -webkit-animation: zoomIn 1.5s 6.5s;-moz-animation: zoomIn 1.5s 6.5s;animation: zoomIn 1.5s 6.5s;
}
.active .zoomIn5{
   -webkit-animation:zoomIn 1.5s 8s;-moz-animation: zoomIn 1.5s 8s; animation: zoomIn 1.5s 8s;
}
.active .zoomIn6{
   -webkit-animation:zoomIn 1.5s 9.5s;-moz-animation: zoomIn 1.5s 9.5s;animation: zoomIn 1.5s 9.5s;
}
.active .fadeInDown{-webkit-animation: fadeInDown 1000ms 2s linear both ;-moz-animation: fadeInDown 1000ms 2s linear both;animation: fadeInDown 1000ms 2s linear both}
.active .move1{
    -webkit-animation: moveC 1000ms 1s linear both;
    -moz-animation: moveC 1000ms 1s linear both;
    animation: moveC 1000ms 1s linear both;}
.active .wenzi,.active .downbtn,.active .wenzi1{
    -webkit-animation: fadeInDown 1000ms 1s linear both ;-moz-animation: fadeInDown 1000ms 1s linear both;animation: fadeInDown 1000ms 1s linear both
}
.active .verbar{
    -webkit-animation: fadeInDown 1000ms 0.5s linear both ;-moz-animation: fadeInDown 1000ms 0.5s linear both;animation: fadeInDown 1000ms 0.5s linear both
}
@-moz-keyframes anim1 {
    0%{width: 0%;}
    100%{width: 100%;}
}
@-o-keyframes anim1 {
    0%{width: 0%;}
    100%{width: 100%;}
}
@-webkit-keyframes anim1 {
    0%{width: 0%;}
    100%{width: 100%;}
}
@keyframes anim1 {
    0%{width: 0%;}
    100%{width: 100%;}
}
.anim1{
    -webkit-animation: anim1 2s linear;
    -o-animation: anim1 2s linear;
    -moz-animation:anim1 2s linear;
    animation:anim1 2s linear;
}
