.artist_l {
	POSITION: relative; MARGIN: 20px 0px 2px; WIDTH: 960px; HEIGHT: 354px
}
.artist_l .a1 {
	POSITION: absolute; WIDTH: 232px; HEIGHT: 232px;OVERFLOW: hidden; TOP:124px; LEFT: 0px
}
.artist_l .a01 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT:0
}
.artist_l .a02 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT:120px
}
.artist_l .a2 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a3 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a4 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a5 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a6 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a7 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a8 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a9 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a10 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a11 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a12 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px;
}
.artist_l .a1 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px
}
.artist_l .a01 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;
}
.artist_l .a02 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;
}
.artist_l .a2 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px;background:#3366FF;
}
.artist_l .a3 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#3366FF;
}
.artist_l .a4 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#3366FF;
}
.artist_l .a5 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#44824a;
}
.artist_l .a6 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a8 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a7 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a9 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 192px; PADDING-RIGHT: 20px; HEIGHT: 90px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a10 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#ff6600;
}
.artist_l .a11 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#ff6600;
}
.artist_l .a12 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px;background:#ff6600;
}



.artist_l {
	POSITION: relative; MARGIN: 10px 0px 2px; WIDTH: 960px; HEIGHT: 354px
}
.artist_l .a13 {
	POSITION: absolute; WIDTH: 232px; HEIGHT: 232px;OVERFLOW: hidden; TOP:124px; LEFT: 0px
}
.artist_l .a1301 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT:0
}
.artist_l .a1302 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT:120px
}
.artist_l .a14 {
	POSITION: absolute; WIDTH: 232px; HEIGHT: 232px; OVERFLOW: hidden; TOP: 0px; LEFT: 482px
}
.artist_l .a15 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 244px; LEFT: 482px
}
.artist_l .a16 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 244px; LEFT: 604px
}
.artist_l .a17 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a18 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 362px
}
.artist_l .a19 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 120px; LEFT: 240px
}
.artist_l .a20 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 120px; LEFT: 362px
}
.artist_l .a21 {
	POSITION: absolute; WIDTH: 232px; OVERFLOW: hidden; TOP: 244px; LEFT: 240px;
}
.artist_l .a22 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 726px
}
.artist_l .a23 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 848px
}
.artist_l .a24 {
	POSITION: absolute; OVERFLOW: hidden; WIDTH: 232px; HEIGHT: 232px; TOP: 120px; LEFT: 726px
}


.artist_l .a13 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px; background:#942cfe;
}
.artist_l .a1301 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#942cfe;
}
.artist_l .a1302 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#942cfe;
}
.artist_l .a14 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px;background:#0f94e0;
}
.artist_l .a15 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#0f94e0;
}
.artist_l .a16 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#0f94e0;
}
.artist_l .a17 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#2c80fe;
}
.artist_l .a18 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#f72cfe;
}
.artist_l .a19 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#10aea8;
}
.artist_l .a20 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#e0ca0f;
}
.artist_l .a21 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 192px; PADDING-RIGHT: 20px; HEIGHT: 90px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 10px;
}
.artist_l .a22 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#8eb054;
}
.artist_l .a23 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#8eb054;
}
.artist_l .a24 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px;background:#8eb054;
}



.artist_l .a25 {
	POSITION: absolute; WIDTH: 232px; HEIGHT: 232px;OVERFLOW: hidden; TOP:124px; LEFT: 0px
}
.artist_l .a2501 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT:0
}
.artist_l .a2502 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT:120px
}
.artist_l .a26 {
	POSITION: absolute; WIDTH: 232px; HEIGHT: 232px; OVERFLOW: hidden; TOP: 0px; LEFT: 240px
}
.artist_l .a27 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 244px; LEFT: 240px
}
.artist_l .a28 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 244px; LEFT: 362px
}
.artist_l .a29 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 482px
}
.artist_l .a30 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 604px
}
.artist_l .a31 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 120px; LEFT: 482px
}
.artist_l .a32 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 120px; LEFT: 604px
}
.artist_l .a33 {
	POSITION: absolute; WIDTH: 232px; OVERFLOW: hidden; TOP: 244px; LEFT: 482px
}
.artist_l .a34 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 726px
}
.artist_l .a35 {
	POSITION: absolute; WIDTH: 110px; HEIGHT: 110px; OVERFLOW: hidden; TOP: 0px; LEFT: 848px
}
.artist_l .a36 {
	POSITION: absolute; WIDTH: 232px; HEIGHT: 232px; OVERFLOW: hidden;  TOP: 120px; LEFT: 726px
}


.artist_l .a25 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px;background:#bc3cb2;
}
.artist_l .a2501 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#bc3cb2;
}
.artist_l .a2502 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#bc3cb2;
}
.artist_l .a26 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px;background:#3366FF;
}
.artist_l .a27 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#3366FF;
}
.artist_l .a28 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#3366FF;
}
.artist_l .a29 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#44824a;
}
.artist_l .a30 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a31 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a32 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a33 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 192px; PADDING-RIGHT: 20px; HEIGHT: 90px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#44824a;
}
.artist_l .a34 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px; background:#afb34f;
}
.artist_l .a35 A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 10px; HEIGHT: 90px; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 10px;background:#afb34f;
}
.artist_l .a36 A {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 30px; WIDTH: 182px; PADDING-RIGHT: 20px; HEIGHT: 172px; FONT-SIZE: 18px; OVERFLOW: hidden; PADDING-TOP: 45px;background:#afb34f;
}




.nartist_l .a1 {
	WIDTH: 232px; HEIGHT: 232px; 
}
.artist_l .a01 {
	TOP: 0px; LEFT: 0px
}
.artist_l .a02 {
	TOP: 0px; LEFT: 120px
}

.artist_l .a2 {
	WIDTH: 232px; HEIGHT: 232px
}
.artist_l .a3 {
	TOP: 244px; LEFT: 240px
}
.artist_l .a4 {
	TOP: 244px; LEFT: 362px
}
.artist_l .a5 {
	TOP: 0px; LEFT: 482px
}
.artist_l .a6 {
	TOP: 0px; LEFT: 604px
}
.artist_l .a7 {
	TOP: 120px; LEFT: 482px
}
.artist_l .a8 {
	TOP: 120px; LEFT: 604px
}
.artist_l .a9 {
	WIDTH: 232px; TOP: 244px; LEFT: 482px
}
.artist_l .a10 {
	TOP: 0px; LEFT: 726px
}
.artist_l .a11 {
	TOP: 0px; LEFT: 848px
}
.artist_l .a12 {
	WIDTH: 232px; HEIGHT: 232px; TOP: 120px; LEFT: 726px
}
.artist_l A {
	POSITION: absolute; FILTER: alpha(opacity=85); FONT-FAMILY: 'Microsoft YaHei'; BACKGROUND: #ff0048; COLOR: #fff; TOP: 0px; LEFT: 1px; opacity: .9
}
.artist_l A:hover {
	COLOR: #fff
}
.artist_l A STRONG {
	LINE-HEIGHT: 2em
}

/*  |xGv00|85fddec265b4dd02ee4453a62ef24b8d */