@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;border:0 none;background:transparent;font-size:100%;vertical-align:baseline}
#part1 .left .txt2 .c, #part1 #wbxxse .txt .cur_l, #part1 #wbxxse .txt .cur_r, #part1 #gdxxr .hd h2, #part1 #gdxht .hd h2, #part1 #wzwlp .mleft .cur, #part1 #wzwlp .mright .pk, #part1 #wzwlp .mright .comment, #part1 #wzwlp .mright dl .ping, #part1 #wzwlp .mright dt span, #part1 #wzwlp .mright .t1 .cur, #part1 #mldjt .cur, .listtxt a, #djch .bd .col1 span, #djch .bd .col2 .a1 .txt h3, #djch .bd .col2 .a2 .txt h3, #ssfs #lxzj .bd h2, #ssfs #ssqzs .bd .txt1 .wb, .mode .mod2 dd h4, #ssfs #xfs .bd h3 a, #mrmt #fsmrj ul li, #mrmt #wbmrzj .say .txt .cur, #mrmt #wbmrzj .wb li, #mrmt #xpss .hd .link .enter, #mrmt #hzpk .bd .searchbtn, #mrmt .title1, #mrmt .rnav a.on, #mrmt #mfsy .mflq, #mrmt .bnav a.on, #mrmt #bzhr .cur, #qgsx #wbqgzj .cur, #qgsx #wbqgzj .say li, #qgsx #qgntwzj .wytw_btn, #bkwb #wft .wbtxt li, #bkwb #wbph .hd h2, #spft .left li, #mthdyc .mid .txt3 span, #mthdyc .mid .gz .doing, #mthdyc #wsl dd .cur {
	background-repeat:no-repeat;
	
}

.guide{height:100%;width:100%; float:left; padding-bottom:30px;}

.guide_top{width:960px; height:60px; background: url(//mat1.gtimg.com/cq/000/2014newwedding/1/gonglue.jpg); float:left; }

.guide_top_right{width:200px;height:60px; float:right; font-size:14px; color:#FFFFFF; line-height:60px;}

.gonglu_top {
	float: left;
	height: 430px;
	width: 960px;
		background-color:#FFFFFF;
}

.gonglu_left {
	float: left;
	height: 400px;
	width: 300px;
	margin-left: 15px;
	margin-top: 10px;
	position: relative;
}
.gonglu_img {
	float: left;
	height: 400px;
	width: 300px;
}
.gonglu_line {
	height: 40px;
	width: 300px;
	position: absolute;
	left: 0px;
	top: 360px;
	filter:alpha(opacity=50);
	opacity:0.6;
	background-color: #FFFFFF;
	font-size: 16px;
	line-height: 40px;
	color: #666666;
	text-align:center;
	font-weight:bolder;
	color:#000000;
	
}

.gonglu_line a{ color: #000000; text-decoration:none;} 

.gonglu_line a:hover{ color: #FF0000; text-decoration:none;} 


.gonglu_line1 {
	float: left;
	height: 30px;
	width: 300px;
	font-size: 14px;
	line-height: 30px;
	margin-top: 5px;
}

.gonglu_line1 span{ width:30px; font-size:12px;}

.gonglu_line1 a{ color:#000000; text-decoration:none;}

.gonglu_line1 a:hover{ color: #FF0000; text-decoration:none;}

.guide_img{width:33px; height:50px; float:left; margin-right:5px;}

.guide_txt{width:90px; height:50px; float:left; }

.guide_txt span{ font-size:12px; color:#000000; width:90px; float:left;}

.guide_txt a{ color: #FF0000; text-decoration:none;}

.guide_txt a:hover{ color: #FF0000; text-decoration:none;}

.gonglu_line2 {
	float: left;
	height: 200px;
	width: 300px;
	margin-top: 20px;
}



.gonglu_img1 {
	float: left;
	height: 180px;
	width: 300px;
}
.gimg {
	float: left;
	height: 52px;
	width: 90px;
	text-align: center;
}
.gonglu_line2 {

	font-size: 12px;
	line-height: 20px;
	float: left;
	height: 20px;
	width: 90px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.gonglu_line2 a{ color:#000000; text-decoration:none;}

.gonglu_line2 a:hover{ color:#FF0000; text-decoration:none;}


.gl {
	float: left;
	height: 67px;
	width: 71px;
	margin-left: 3px;
}
.gonglu_imgs {
	float: left;
	height: 200px;
	width: 300px;
	margin-top: 20px;
}
.imgs1 {
	float: left;
	height: 200px;
	width: 142px;
	margin-left: 5px;
}
.gonglu_txt {
	float: left;
	height: 150px;
	width: 298px;
	margin-top: 5px;
}

.lie {
	float: left;
	height: 50px;
	width: 300px;
	margin-top: 10px;
}
.lie_left {
	float: left;
	height: 50px;
	width: 135px;
	margin-left: 5px;
}/*  |xGv00|5d25647218d16a479d27cd55c559495e */