@charset "utf-8";
/* CSS Document */


.hotl {height:100%;width: 100%; float:left; padding-bottom:30px;}
.hotl_top{ width:960px; height:60px; background: url(//mat1.gtimg.com/cq/000/2014newwedding/1/hotl.jpg); float:left; }
.hotl_top1{ width:960px; height:100%; background-color:#FFFFFF; float:left;}

.hotl_top1_left{width:270px;height:470px;float:left;margin-top:5px;background-image: url(//mat1.gtimg.com/cq/000/2014newwedding/1/hotl_bg.jpg);background-repeat: no-repeat; padding-bottom:10px;}



.hotl_img{ width:247px; height:50px; float:left; margin-left:5px; margin-top:5px;}

.hotl_txt{ width:260px;  float:left; margin-left:5px;}

.hotl_txt ul{ width:100%; float:left;}

.hotl_txt ul li{ width:90%; padding:0 5%; }

.hotl_txt ul li span{ width:235px; float:left; font-size:12px; line-height:20px; color:#000000; padding-top:5px;}

.hotl_txt1{ width:100%; float:left; padding-top:10px; padding-bottom:5px;float:left; position:relative;}

.hotl_txt1 a{  padding-top:5px; padding-bottom:5px; font-size:12px; background: #FFFFFF; color: #999999; border: solid 1px  #CCCCCC; text-decoration:none;padding-left:10px; padding-right:10px; float:left; margin-left:5px;}

.hotl_txt1 a:hover{
 padding-top:5px; padding-bottom:5px; font-size:12px; border: solid 1px #FF0000;  color: #999999; text-decoration:none; padding-left:10px; padding-right:10px; margin-left:5px;
}

.hotl_txt1 a.hover{padding-top:5px; padding-bottom:5px; font-size:12px; background:#FF0000; color:#FFFFFF; text-decoration:none; padding-left:10px; padding-right:10px; margin-left:5px;
}

.hotl_inputbtn{width:226px;height:32px;border:0px;float:left;cursor:pointer; background:url(//mat1.gtimg.com/cq/000/2014newwedding/1/hotl_btn.png);background-repeat: no-repeat;background-position: 0 0; font-size:12px; color:#FFFFFF;text-align:center; line-height:32px;
}
.hotl_inputbtn a{ font-size:12px; color:#FFFFFF; text-decoration:none; text-align:center; }

.hotl_inputbtn a:hover{ font-size:12px; color:#FFFFFF; text-decoration: underline; text-align:center; }


.hotl_txt2{ width:200px; float:left; margin-left:10px;}

.hotl_txt3{ width:150px; float:left; margin-left:20px; font-size:12px; color:#999999; line-height:18px;}


.float_fours{ position:absolute; width:100%; height:100%; background-color:#FFFFFF; border:1px solid #CCCCCC; display: none;}

.float_fours ul{ width:100%; float:left}

.float_fours ul li{ float:left;}

.float_fours ul li a{ width:100%; float:left; height:25px; line-height:25px; font-size:12px; color:#333333; text-decoration:none; margin:0px; }

.float_fours ul li a:hover{ background-color:#f95d50; color:#FFFFFF; text-decoration:none;}

<!--右部酒店部分-->
.hotl_top1_right{width:680px;height:470px;float:left;margin-top:5px; padding-bottom:10px;}

.hotl_right_top{width:680px;height:300px;float:left;margin-top:7px;position:relative;}

.hotl_right_img{ width:680px; height:300px; float:left;}

.hotl_right_txt{ width:270px; height:270px; float:left; position:absolute; left:400px;}

.hotl_rtxt1{ width:270px;  float:left; padding-bottom:10px; padding-top:5px; background:url(//mat1.gtimg.com/cq/000/2014newwedding/1/4.png); background-repeat:repeat;}


.hotl_rtxt1 dl{ width:100%; float:left;  }

.hotl_rtxt1 dl dt{ width:120px; height:50px; float:left; margin-left:10px; margin-top:10px;}

.hotl_rgiht_botomm{ width:680px; height:150px; float:left; margin-top:5px;}

.hotl_time{ width:340px; float:left; height:150px; background:url(//mat1.gtimg.com/cq/000/2014newwedding/1/time.jpg);  }

.hotl_time_left{ width:100px; float:left; margin-top:30px;} 

.hotl_time_left span{ width:100%; float:left; font-size:14px; color:#FFFFFF; text-align:center;}

.hotl_time_left label{ width:100%; float:left; font-size:40px; color: #000000; text-align:center; padding-top:10px;}

.hotl_time_right{ width:220px; float:left;  margin-top:40px; }

.hotl_time_right span{width:80px; float:right; font-size:12px; color: #FF0000;}

.hotl_time_right span a{ color:#FF0000; text-decoration:none;}

.hotl_time_right span a:hover{ color:#FF0000; text-decoration: underline;}

.hotl_time_right p{ width:100%; float:left; font-size:12px; text-align:center; padding-top:3px; color:#666666;}

.hotl_time_bg{ width:200px; height:33px; float:left; margin-left:9px; margin-top:10px; background:url(//mat1.gtimg.com/cq/000/2014newwedding/1/time_bg.jpg); border:solid 1px #CCCCCC;}

.time_1{ font-size:12px; color:#999999; float:left; padding-left:10px; line-height:33px;}

.hotl_imgs{ width:300px; height:150px; float:left;}

.hotl_imgs ul{ width:100%; padding-left:5px; padding-top:5px; }

.hotl_imgs ul li{  float:left; padding-left:10px; } 



/*  |xGv00|80ebd0e5a6d722a4e03dcd132c35f94c */