@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;border:0 none;background:transparent;font-size:100%;vertical-align:baseline}


.share {height:100%;width:100%; float:left; padding-bottom:30px;}

.share_top{ width:960px; height:60px; background: url(//mat1.gtimg.com/cq/000/2014newwedding/1/fenxiang.jpg); float:left; }

.share_top_text{width:400px;height:60px; float:right; font-size:14px; color:#FFFFFF; line-height:60px;}

.share_top_text  a{ color: #FFFFFF; text-decoration:none; padding-left:10px;  }

.share_top_text  a:hover{ color: #FFFFFF; text-decoration: underline;}

.share_main {
	float: left;
	height: 590px;
	width: 960px;
	background-color: #FFFFFF;
}
.share_left {
	float: left;
	height: 570px;
	width: 212px;
	margin-top: 15px;
	margin-left: 20px;	
}


.share_left1 {
	float: left;
	height: 560px;
	width: 220px;
	margin-top: 15px;
	margin-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D4D0C8;
	padding-left: 10px;
}

.alpha{filter:alpha(opacity=100) blendTrans(duration=0.5)} 

.sharel_top {
	float: left;
	height: 335px;
	width: 211px;
	border: 1px solid #CCCCCC;
	background-color: #fdfbfb;
}
.share_img {
	float: left;
	height: 285px;
	width: 211px;
	
}
.share_line {
	float: left;
	height: 40px;
	width: 200px;
	margin-top: 10px;
	font-size:12px;
	line-height: 40px;
	padding-left:11px;
	
}

.share_line a{ color: #FF3300; text-decoration:none;}


.share_line a:hover{ color: #FF0000; text-decoration: underline;}



.share_img1 {
	float: left;
	height: 160px;
	width: 211px;
	
}
.share_top1 {
	float: left;
	height: 210px;
	width: 211px;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	
}
.share_top2{
	float: left;
	height: 210px;
	width: 211px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	
}

.share_txt{
	width:210px;
	height:30px;
	float:left;
	
}

.share_txt1{
	width:198px;
	height:106px;
	float:left;
	background-image: url(//mat1.gtimg.com/cq/000/2014newwedding/311.jpg);
	background-repeat: no-repeat;
	padding-left: 7px;
	padding-top: 5px;
	margin-top: 3px;
	
}

.share_txt2{
	width:205px;
	height:25px;
	float:left;
	font-size: 14px;
	line-height: 25px;
	color: #FF0000;
	text-align: center;
}

.share_txt2 a{ color:#FF0000; text-decoration:none;}

.share_txt2 a:hover{ color: #FF6600; text-decoration: underline;}



.share_txt3{
	width:205px;
	height:60px;
	float:left;
	font-size: 12px;
	line-height: 20px;
	color: #828687;
}
.share_txts{
	width:205px;
	height:95px;
	float:left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
	
}
.share_txt4
{
	width:66px;
	height:30px;
	float:left;
	margin-left: 120px;
	
}

.share_txt5{
	width:205px;
	height:120px;
	float:left;
	margin-top:5px;
	

}
.share_txt5_left{
	width:85px;
	height:85px;
	float:left;
	margin-top: 10px;
	margin-left: 2px;
	border: 1px solid #D4D0C8;
	padding-top: 4px;
	padding-left: 4px;
	
}
.share_txt5_right{
	width:100px;
	height:110px;
	float:left;
	margin-top: 10px;
	margin-left: 10px;
	
}

.share_txt5_right span{ font-size:14px; color:#999999; float:left; width:100px;}


.share_txt5_right span a{ color: #FF0000; text-decoration:none; font-size:12px;}

.share_txt5_right span a:hover{ color: #FF0000; text-decoration: underline;  font-size:12px;}/*  |xGv00|b968163931eb0dccae30fc561b3aa889 */