@charset "utf-8";
/* CSS Document */

body{padding:0px;margin:0px;	font-family: "微软雅黑";}

*{ margin:0px; padding:0px;}

li{ list-style-type:none;}

img{ border:0px;}

.top{
	width:960px;
	height: 50px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.s_top{ width:400px; height:50px; float:left;}

.s_top1{ width:400px; height:50px; float:right; }

.s_top1 span{ font-size:12px; color:#000000; line-height:50px;}

.meue{ width:100%; height:40px; background-color: #f95d50;}

.dh{width:960px;height:40px;line-height:40px; margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;}

.dh ul{ width:100%; float:left;}

.dh ul li{ float:left; margin:0px 5px;}

.dh ul li a{ height:40px; float:left; padding:0px 20px; font-size:14px; font-weight:bolder; color:#FFFFFF; text-decoration:none;}

.dh ul li a:hover{ background-color:#fd9188;}

.dh ul li a.hover{background-color:#fd9188;}

.main{ width:100%; float:left;}

#hscroll {
	height:330px;
	overflow:hidden;
	zoom:1;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #fff;
}
#hscroll #scrllbox {
	width:960px;
	position:relative;
	overflow:hidden;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#hscroll #pic {
	overflow:hidden;
	position:relative;
	width:960px;
	height:320px;
}
#hscroll #pic .split {
	float:left;
	margin-right:10px;
	position:relative;
	height:320px;
	overflow:hidden;
}
#hscroll #pic .split p {
	background:rgba(0, 0, 0, 0.6);

filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0, startColorstr = '#60000000', endColorstr = '#60000000')\9;
	color:#fff;
	font-family:"微软雅黑";
	font-size:16px;
	height:28px;
	line-height:28px;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-indent:1em;
	white-space:nowrap;
}
#hscroll #pic .split a:hover {
font-family:"微软雅黑";
	color:#fff;
	text-decoration: none;
}
#hscroll #pic .split p.cover {
	color:#fff;
	font-family:"微软雅黑";
	font-size:16px;
	height:28px;
	line-height:28px;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-indent:1em;
	white-space:nowrap;
	background-color:#000;
	filter:alpha(opacity=50);
	opacity:0.6;
	text-decoration: none;
}
#hscroll #pic .split a.infotxt {
	color:#fff;
	font-family:"微软雅黑";
	font-size:16px;
	height:28px;
	line-height:28px;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	text-indent:1em;
	white-space:nowrap;
	text-decoration: none;
}
#hscroll #btn_left {
	position:absolute;
	left:0;
	top:120px;
	cursor:pointer;
	display:none;
}/*左按钮*/
#hscroll #btn_right {
	position:absolute;
	right:0;
	top:120px;
	cursor:pointer;
	width:40px;
	height:82px;
	_background:none;

_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='nLeftCur.png');
	background-image: url(//mat1.gtimg.com/cq/000/20113weddingpt/nLeftCur.png);
	background-repeat: no-repeat;
}/*右按钮*/
#hscroll .sllink {
	overflow:hidden;
	zoom:1;
	width:960px;
	margin:4px auto 0;
}
#hscroll .sllink li {
	background:url(//mat1.gtimg.com/lady/2011nvxingind//mat1.gtimg.com/cq/000/2014newwedding/1/dot2.png) no-repeat 6px 6px;
	float:left;
	padding-left:15px;
}
#hscroll .sllink li.nn0 {
	width:205px;
	padding-right:10px;
}
#hscroll .sllink li.nn1 {
	width:345px;
	padding-right:10px;
}
#hscroll .sllink li.nn2 {
	width:345px;
}
#hscroll .sllink a {
	color:#666;
}
#hscroll .sllink a:hover {
	color:#c00;
}

.main_one{ width:100%; float:left; margin-top:5px; padding-bottom:30px;}

.main_one_left{ width:470px;height:100%;float:left;background-color: #FFFFFF;border: 1px solid #fcb3ac; padding-bottom:9px;}

.main_one_ltop{ width:460px; height:100%; padding-top:5px; float:left; padding-bottom:15px;}

.main_one_ltop ul{ width:100%; float:left;}

.main_one_ltop ul li{ width:100%; overflow: hidden; float:left;}

.main_one_ltop ul li span{ font-size:16px;  text-align:center; width:400px; float:left; height:30px; padding-top:10px; overflow: hidden;
 }

.main_one_ltop ul li span a{ color:#990000; text-decoration:none;}

.main_one_ltop ul li span a:hover{ color:#f95d50; text-decoration:none;}

.main_one_ltop ul li  label{ font-size:14px; width:440px; float:left; text-indent:2em; height:45px; padding-left:10px; color:#666666;}

.main_one_ltop ul li  label a{color: #666666; text-decoration:none; font-size:12px;}

.main_one_ltop ul li  label a:hover{color:#f95d50; text-decoration: underline; font-size:12px;}

.main_one_ltop ul li em{ width:400px; font-style:normal; margin-top:5px; margin-left:20px; font-size:12px; padding-left:30px;}

.main_one_ltop ul li em a{color:#f95d50; text-decoration:none;}

.main_one_ltop ul li em a:hover{color:#f95d50; text-decoration:underline;}

.main_one_ltop1{ width:460px;  margin-left:5px; height:105px; margin-right:5px;float:left; margin-top:10px;}

.img_1{ width:82px; height:78px; margin-top:10px; border:solid 1px  #CCCCCC; margin-left:5px; margin-right:5px; float:left;}

.line_1{ width:340px; float:left;  height:105px; margin-left:5px; padding-top:5px;}

.line_1 ul{ width:100%; float:left;}

.line_1 ul li{ width:100%; margin-top:5px; }

.line_1 ul li span{ font-size:16px;  }

.line_1 ul li span a{ color:#000000; text-decoration:none; font-size:16px;}

.line_1 ul li span a:hover{ color:#f95d50; text-decoration: none;}

.line_1 ul li a { font-size:13px; margin-left:10px; color:#000000;  text-decoration:none;}

.line_1 ul li a:hover{ color:#f95d50; text-decoration: underline;}

.line_1 ul li em{ font-size:14px;  font-style:normal; color: #FF0000;}

.line_1 ul li em a{color: #FF0000; text-decoration:none;}

.line_1 ul li em a:hover{ color:#f95d50; text-decoration: none;}


.line_2{ width:340px; float:left;  height:105px; margin-left:5px; padding-top:5px;}

.line_2 ul{ width:100%; float:left;}

.line_2 ul li{ width:100%; margin-top:5px; }

.line_2 ul li span{ font-size:16px;  }

.line_2 ul li  label{ font-size:14px; color: #666666;}

.line_2 ul li  label a{ color:#FF0000; text-decoration:none;}

.line_2 ul li  label a:hover{ color:#FF0000; text-decoration:underline;}

.line_2 ul li span a{ color:#000000; text-decoration:none; font-size:16px;}

.line_2 ul li span a:hover{ color:#f95d50; text-decoration: none; font-size:16px;}

.line_2 ul li a { font-size:12px; margin-left:10px; color: #FFFFFF;  text-decoration:none;}

.line_2 ul li a:hover{ color: #FFFFFF; text-decoration: underline; font-size:12px;}

.line_2 ul li em{ font-size:13px;  font-style:normal; color: #FF0000;}

.line_2 ul li em a{color: #FF0000; text-decoration:none; font-size:13px;}

.line_2 ul li em a:hover{ color:#f95d50; text-decoration: none; font-size:13px;}

.img1 {
	float: left;
	width: 230px;
	text-align: center;	
	font-size: 14px;
	color: #333333;
	
}

.img_2{ width:350px; margin-left:80px; float:left;margin-top:5px;}

.img_2 span{ width:288px; float:left; margin-top:10px;}

.img_2 em{ float:left; font-size:12px; font-style:normal; }

.img_2 em a{color:#f95d50; text-decoration:none}

.img_2 em a:hover{color:#f95d50; text-decoration: underline}

#apps_svy_digg{
	height: 60px;
	width: 350px;
	float: left;
}
 .option{
	margin:0px;
	float:left;
	width:340px;
	height:30px;
	
}
.appsleft {
	float: left;
	width: 300px;
	height: 30px;
	
}
 .count{
	text-align:center;
	font-size:14px;
	color:#333532;
	float: left;
	width: 20px;
	
}
.digg{
	font-size:12px;
	color: #FFFFFF;
	float: left;
	width: 53px;
	height: 19px;
	background-image: url(//mat1.gtimg.com/cq/000/20113weddingpt/8.jpg);
	background-repeat: no-repeat;
	line-height: 19px;
	background-position: left;
	padding-left:9px;
}
.digg a{
	font-size:12px;
	color:#FFFFFF;
	float: left;
	text-decoration: none;
	width:100%; color:#FFFFFF;
	
}
.digg a:hover{
	font-size:12px;
	color:#FFFFFF;
	float: left;
	
}

.main_two{ width:450px; height:100%; float:left; margin-top:18px; padding-bottom:13px;}

.newstart{ width:209px; height:132px; background:url(//mat1.gtimg.com/cq/000/2014newwedding/4.jpg); background-repeat: no-repeat; padding-top:40px; padding-left:30px; float:left;}

.newstart span{ font-size:14px; color:#FF0000; width:200px; float:left; }

.newstart span em{font-size:12px; color:#FF0000; margin-left:5px; font-style:normal;}

.newstart span em a{color:#FF0000; text-decoration:none;}

.newstart span em a:hover{color:#FF0000; text-decoration:none;}


.newstart span a{ color:#FF0000; text-decoration:none;}

.newstart span a:hover{ color:#FF0000; text-decoration:none;}

.newstart label{ color:#666666; font-size:13px;  float:left; width:200px; padding-top:5px;}

.newstart label a{ color: #FF0000; text-decoration:none; }

.newstart label a:hover{ color:#FF0000; text-decoration:underline; }

.newstart_1{width:161px;height:153px;float:left;margin-top: 10px;margin-left: 10px;background-image: url(//mat1.gtimg.com/cq/000/2014newwedding/15.png);background-repeat: no-repeat;padding-top: 6px;padding-left: 7px;}

.main_one_right{width:470px;height:100%;float:right;background-color: #FFFFFF;border: 1px solid #fcb3ac; padding-bottom:10px; }

.main_tiyan{ width:450px; height:35px; float:left;}

.main_tiyan span{ width:200px; height:35px; float:left;}

.main_tiyan label{ width:40px; height:35px; float:right; font-size:12px; line-height:35px; }

.main_tiyan label a{ color:#FF0000; text-decoration: none;}

.main_tiyan label a:hover{ color:#FF0000; text-decoration: underline;}

.main_tiyan_one{ width:470px; height:100%; float:left;}

.main_tiyan_one_img{width:189px;height:132px;float:left;margin-left: 5px;margin-top: 5px;background-image: url(//mat1.gtimg.com/cq/000/2014newwedding/bgg.jpg);padding-top: 5px;padding-left: 7px;}

.main_tiyan_one_text{width:250px;height:140px;float:left;margin-left: 10px;line-height: 30px;position: relative;left: 5px;}

.main_tiyan_one_text span{ width:250px; font-size:14px; padding-top:5px; padding-left:5px; color:#000000; float:left;}

.main_tiyan_one_text span a{ color:#000000; text-decoration:none;}

.main_tiyan_one_text span a:hover{ color:#FF0000; text-decoration:none;}

.main_tiyan_one_text label{ width:250px; font-size:12px; padding-top:5px; padding-left:5px; color: #666666; float:left;}

.main_tiyan_one_text label em{ font-style:normal; color:#FF0000;}

.main_tiyan_two{ width:450px; height:40px; float:left;}

.main_tiyan_two span{width:220px; height:40px; float:left;}

.main_tiyan_two label { width:40px; height:35px; float:right; font-size:12px; line-height:40px; }

.main_tiyan_two label a{ color:#FF0000; text-decoration: none;}

.main_tiyan_two label a:hover{ color:#FF0000; text-decoration: underline;}

.main_tiyan_three{width:470px;height:175px;float:left; background-color:#f9d6d6; padding-top:5px;}

.main_tithree{ width:180px;height:150px;float:left;margin-top: 5px;margin-right: 5px;margin-left: 20px;text-align: left;padding-left: 10px;}

input{
	width:200px;
	height:20px;
	border:1px solid #CCCCCC;
}

.main_tithree span{ width:180px; font-size:14px; color:#CC0000; float:left; line-height: 31px;}


.main_tithree_text label{ width:450px; font-size:12px; color: #000000; float:left; padding-left:10px; padding-top:10px; padding-bottom:5px;}

.main_tithreeright{width:250px;height:100%;float:left;margin-top: 5px; line-height:35px;}


.main_tithree_text{width:460px;height:56px;float:left; padding-bottom:5px;}

.btn{	width:50px;height:30px;position: absolute;top: 110px;left: 120px;
}


.helpbtns{width:200px;height:30px;float:left;  }

.helpbtns span{font-size: 12px;line-height: 30px;#F95D50;padding-left:100px;width:100px;}

.helpbtns span em{ color:#FF0000;}

.ry_inputbtn{width:93px;height:30px;border:0px;float:left;cursor:pointer;background-image: url(//mat1.gtimg.com/cq/000/2014newwedding/1/bt.jpg);background-repeat: no-repeat;background-position: 0 0;
}/*  |xGv00|997d364775b8f70da1eb6443f07953b9 */


.jietxt{width:300px; float:left;   font-size:14px; }

.jietxt ul{ width:100%; list-style-type:none;}

.jietxt ul li{ width:80px; float:left; line-height:25px;}

.checktxt{ width:20px; line-height:25px; float:left; border:0px;}

.t_table{ font-size:14px; }

.inpt_tt{ background:#FFFFFF; line-height:25px;}

.jietxt1{ font-size:14px; margin-top:10px; height:20px; line-height:20px;}/*  |xGv00|2e41e1eed9ee4295219dfa35c5356e3c */