@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;border:0 none;background:transparent;font-size:100%;vertical-align:baseline}
#part1 .left .txt2 .c, #part1 #wbxxse .txt .cur_l, #part1 #wbxxse .txt .cur_r, #part1 #gdxxr .hd h2, #part1 #gdxht .hd h2, #part1 #wzwlp .mleft .cur, #part1 #wzwlp .mright .pk, #part1 #wzwlp .mright .comment, #part1 #wzwlp .mright dl .ping, #part1 #wzwlp .mright dt span, #part1 #wzwlp .mright .t1 .cur, #part1 #mldjt .cur, .listtxt a, #djch .bd .col1 span, #djch .bd .col2 .a1 .txt h3, #djch .bd .col2 .a2 .txt h3, #ssfs #lxzj .bd h2, #ssfs #ssqzs .bd .txt1 .wb, .mode .mod2 dd h4, #ssfs #xfs .bd h3 a, #mrmt #fsmrj ul li, #mrmt #wbmrzj .say .txt .cur, #mrmt #wbmrzj .wb li, #mrmt #xpss .hd .link .enter, #mrmt #hzpk .bd .searchbtn, #mrmt .title1, #mrmt .rnav a.on, #mrmt #mfsy .mflq, #mrmt .bnav a.on, #mrmt #bzhr .cur, #qgsx #wbqgzj .cur, #qgsx #wbqgzj .say li, #qgsx #qgntwzj .wytw_btn, #bkwb #wft .wbtxt li, #bkwb #wbph .hd h2, #spft .left li, #mthdyc .mid .txt3 span, #mthdyc .mid .gz .doing, #mthdyc #wsl dd .cur {
	background-repeat:no-repeat;

}/* CSS Document */

.tuku {
	height: 100%;
	width: 100%;
	float:left;
	padding-bottom:30px;
	
	
}
.tuku_top1{ width:960px; height:60px; background: url(//mat1.gtimg.com/cq/000/2014newwedding/1/tuku.jpg); float:left; position:relative; }

.tuku_top {
	float: left;
	height: 450px;
	width: 960px;
		background-color: #FFFFFF;
}
.tuku_img {
	float: left;
	height: 446px;
	width: 230px;
	margin-left: 5px;
	position: relative;
	
	
}

.tuku_txt{float: left;height: 30px;width: 230px;position: absolute;left: 0px;top: 115px; text-align:center;font-size: 14px;line-height: 30px;background-color: #000000;filter:alpha(opacity=50);opacity:0.6;color: #FFFFFF;}

.tuku_txt a{ color:#FFFFFF; text-decoration:none;}
.tuku_txt a:hover{ color:#FFFFFF; text-decoration:underline;}

.tuku_txt1{float: left;height: 30px;width: 230px;position: absolute;left: 0px;top: 395px; text-align:center;font-size: 14px;line-height: 30px;background-color: #000000;filter:alpha(opacity=50);opacity:0.6;color: #FFFFFF;"><a href="http://www.showo.net/brand/store.php?id=375&amp;action=album&amp;xid=816}


.tuku_txt1 a{ color:#FFFFFF; text-decoration:none;}
.tuku_txt1 a:hover{ color:#FFFFFF; text-decoration:underline;}


.tuku_txt2{float: left;height: 30px;width: 230px;position: absolute;left: 0px;top:250px; text-align:center;font-size: 14px;line-height: 30px;background-color: #000000;filter:alpha(opacity=50);opacity:0.6;color: #FFFFFF;}

.tuku_txt2 a{ color:#FFFFFF; text-decoration:none;}
.tuku_txt2 a:hover{ color:#FFFFFF; text-decoration:underline;}


.tuku_txt3{float: left;height: 30px;width: 230px;position: absolute;left: 0px;top: 400px; text-align:center;font-size: 14px;line-height: 30px;background-color: #000000;filter:alpha(opacity=50);opacity:0.6;color: #FFFFFF;}

.tuku_txt3 a{ color:#FFFFFF; text-decoration:none;}
.tuku_txt3 a:hover{ color:#FFFFFF; text-decoration:underline;}


.tuku_img3{width:230px; height:420px; float:left; margin-top:10px;}

.timg_top {
	float: left;
	height: 135px;
	width: 230px;
	margin-top: 10px;
}
.timg_tline {
	float: left;
	height: 30px;
	width: 230px;
	position: absolute;
	left: 200px;
	top: 3441px;
		font-family: "微软雅黑";
	font-size: 14px;
	line-height: 30px;
	background-color: #666666;
	filter:alpha(opacity=50);
	opacity:0.6;
	color: #FFFFFF;
}
.timg_top1 {
	float: left;
	height: 270px;
	width: 230px;
	margin-top: 10px;
}
.timg_tline1 {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	width: 230px;
	position: absolute;
	left: 200px;
	top: 3720px;

	background-color: #666666;
	filter:alpha(opacity=50);
	opacity:0.6;
	color: #FFFFFF;
}
/* CSS Document */



.xishi_top{ width:960px; height:60px; background: url(//mat1.gtimg.com/cq/000/2014newwedding/1/xishi.jpg); float:left;   }

.xishi{
	width:960px;
	height:100%;
	margin:0 auto;
	
}
/*  |xGv00|c9a6f9ada53f4cc7a47cc8ef19d2f359 */