@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;border:0 none;background:transparent;font-size:100%;vertical-align:baseline}
#part1 .left .txt2 .c, #part1 #wbxxse .txt .cur_l, #part1 #wbxxse .txt .cur_r, #part1 #gdxxr .hd h2, #part1 #gdxht .hd h2, #part1 #wzwlp .mleft .cur, #part1 #wzwlp .mright .pk, #part1 #wzwlp .mright .comment, #part1 #wzwlp .mright dl .ping, #part1 #wzwlp .mright dt span, #part1 #wzwlp .mright .t1 .cur, #part1 #mldjt .cur, .listtxt a, #djch .bd .col1 span, #djch .bd .col2 .a1 .txt h3, #djch .bd .col2 .a2 .txt h3, #ssfs #lxzj .bd h2, #ssfs #ssqzs .bd .txt1 .wb, .mode .mod2 dd h4, #ssfs #xfs .bd h3 a, #mrmt #fsmrj ul li, #mrmt #wbmrzj .say .txt .cur, #mrmt #wbmrzj .wb li, #mrmt #xpss .hd .link .enter, #mrmt #hzpk .bd .searchbtn, #mrmt .title1, #mrmt .rnav a.on, #mrmt #mfsy .mflq, #mrmt .bnav a.on, #mrmt #bzhr .cur, #qgsx #wbqgzj .cur, #qgsx #wbqgzj .say li, #qgsx #qgntwzj .wytw_btn, #bkwb #wft .wbtxt li, #bkwb #wbph .hd h2, #spft .left li, #mthdyc .mid .txt3 span, #mthdyc .mid .gz .doing, #mthdyc #wsl dd .cur {
	background-repeat:no-repeat;

}
/* CSS Document */

.zhoukan {
	height: 100%;
	width: 100%;
	margin:0 auto;
	padding-bottom:30px;
}

.zhoukan_top{width:960px; height:60px; background: url(//mat1.gtimg.com/cq/000/2014newwedding/1/zhoukan.jpg); float:left;  }

.zhoukan_top_right{width:200px;height:60px; float:right; font-size:14px; color:#FFFFFF; line-height:60px; text-align:right; padding-right:20px;}

.zhoukan_top_right a{ color:#FFFFFF; text-decoration:none;}

.zhoukan_top_right a:hover{ color:#FFFFFF; text-decoration:underline;}
.rollBox{
	width:960px;
	overflow:hidden;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	height: 420px;
	background-color:#FFFFFF;
}
.rollBox .Cont{
	width:860px;
	overflow:hidden;
	float: left;
	margin-top: 0;
	margin-bottom: 0px;
	height: 420px;
}
.rollBox .ScrCont{width:10000000px;}
.rollBox .Cont .pic{
	width:210px;
	float:left;
	text-align:center;
	padding-right:20px;
	height: 380px;
	margin-top: 20px;
}
*+html .rollBox .Cont .pic{
	width:210px;
	float:left;
	text-align:center;
	height: 349px;
}
.rollBox .Cont .pic img{padding:4px;background:#fff;border:1px solid #ccc;display:block;margin:0 auto;}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{
	color:#333333;
	text-decoration:none;
	font-size: 14px;
	line-height: 20px;
}
.rollBox .Cont a:hover{color:#f00;text-decoration:underline;}
.rollBox #List1,.rollBox #List2{float:left;}

.weekly{ width:40px; height:190px; float:left; padding-top:160px; margin-right:10px;}

.weekly_right{ width:40px; height:190px; float:left; padding-top:160px; margin-left:10px;}/*  |xGv00|658ddfe51e83c29e626ca693beb9bd47 */