* { margin:0; padding:0; border:0 none; }
html, body { font-size:12px; font-family:"宋体", arial, Simsun; color:#333; }
select, input, label, button, textarea { margin:0; padding:0; font:normal normal normal 12px/1.2em arial, Simsun, Arial Unicode MS, Mingliu, Arial; }
button, label { cursor:pointer; }
table { border-collapse:collapse; border-spacing:0; }
a { text-decoration:none; outline:none; color:#364658; }
a:hover { text-decoration:underline; }
body{text-align:center;}
ul, ol, li { list-style:none; }
.red{color:#C12627;}
.wrap{width:960px; margin:0 auto; text-align:left; position:relative;}
.left{width:654px; height:1170px; border:1px solid #D2D6DC; float:left; margin-top:10px;}
.right{width:292px; height:1170px; border:1px solid #D2D6DC; float:right; margin-top:10px;}
.path{height:30px; line-height:30px; background-color:#EEF1F4; padding-left:10px;}
.path a{margin:0 5px;}
.list_news{margin-top:-1px; overflow:hidden; margin:0 15px;}
.list_news li{height:178px; overflow:hidden; border-bottom:1px dashed #D2D6DC; padding:15px 0;}
.list_news .pic{float:left; margin-right:30px;}
.list_news .pic img{border:1px solid #D6DCE1;}
.list_news li h3{line-height:40px;}
.list_news li h3 a{font-family:"黑体", Simsun, Arial Unicode MS, Mingliu, Arial; font-size:18px; font-weight:normal;}
.list_news li .tx{text-indent:2em; line-height:22px; font-size:14px;}
.info{margin:12px 12px 0 12px; padding-bottom:12px; border-bottom:1px solid #E7EAEB;}
.info .tx{margin:10px 0; line-height:22px; text-indent:2em;}
.info .search{background:url(//mat1.gtimg.com/auto/2010/lanmu/bg_search.png) no-repeat 0 0; width:255px; height:21px; line-height:21px; padding-left:15px; position:relative;}
.info .search strong{color:#364658; font-weight:normal;}
.info .search .in_tx{width:152px; height:17px; background:none; position:absolute; top:2px; left:80px;}
.info .search .in_submit{background:none; width:33px; height:18px; position:absolute; right:2px; top:2px; font-size:0; line-height:200px; overflow:hidden; cursor:pointer;}
.right h3{height:27px; background:url(//mat1.gtimg.com/auto/2010/lanmu/bg_title.png) no-repeat; width:267px; line-height:29px; padding-left:25px; padding-top:2px; margin:15px 0; font-size:14px; color:#364658; }
.team .col1{width:45%; color:#364658;}
.team td{height:26px;}
.list_rank{ clear:both; background:#FAFBFC url(//mat1.gtimg.com/auto/2010/lanmu/auto.gif) no-repeat -365px 5px; padding:0 0 0 37px; overflow:hidden; }
.list_rank li a { font-size:12px; line-height:26px; }
.list_rank li span { position:absolute; top:0; right:0; height:26px; line-height:26px; color:#666666; }
.list_rank li { width:235px; height:26px; position:relative; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.go_top{position:absolute; top:1195px; left:570px;}
/*-- 头部搜索 --*/ 
.wrap_search{background:url(//mat1.gtimg.com/auto/2010/lanmu/search.png) no-repeat 0 0; width:960px; height:161px; margin:10px auto 0; zoom:1; text-align:left; position:relative; z-index:3;}
.wrap_search a{color:#375a91;}
.wrap_search .lf{width:694px; float:left;}
.wrap_search .rt{width:266px; float:right;}
.wrap_search .tab_hd{height:30px; overflow:hidden; padding-left:15px; padding-top:6px; zoom:1;}
.wrap_search .tab_hd a{display:inline-block; height:30px; float:left; background:url(//mat1.gtimg.com/auto/2010/lanmu/fenge.png) no-repeat right 0; zoom:1; overflow:hidden;}
.wrap_search .tab_hd a:hover { text-decoration:none; }
.wrap_search .tab_hd a.sel { background:url(//mat1.gtimg.com/auto/2010/lanmu/fenge.png) repeat-x 0 -36px; position:relative; left:-2px; }
.wrap_search .tab_hd span { display:block; height:28px; font-size:14px; line-height:26px; color:#375A91; text-align:center; cursor:pointer; padding:0 15px; }
.wrap_search .tab_hd a.sel span { background-color:#FFF; margin:2px 1px 0; font-weight:bold; color:#a80d0d; }
.wrap_search .tab_sc{height:160px; overflow:hidden;}
.wrap_search .tx_sc{position:absolute; top:8px; left:321px; width:350px; height:20px; }
.wrap_search .tx_sc .tx{width:290px; height:20px; *padding-top:2px; *height:18px; position:absolute; top:0; left:0; padding-left:5px;}
.wrap_search .tx_sc .btn{width:54px; height:20px; background:none; border:none; font-size:0; overflow:hidden; line-height:200px; position:absolute; top:0; right:0; cursor:pointer;}
.wrap_search .tab_con{height:125px; padding-left:25px; margin-top:6px;}
.wrap_search .tab_con .con{height:39px; line-height:39px; clear:both;}
.wrap_search .tab_con strong{margin-right:20px; display:block; width:5em; color:#637085; float:left; font-weight:normal;}
.wrap_search .tab_con strong a{color:#637085; font-weight:normal;}
.wrap_search .tab_con span a{display:block; width:6em; float:left; text-align:center; color:#375a91;}
.wrap_search .link_sc{position:absolute; top:13px; right:15px;}
.wrap_search .link_sc a{margin:0 7px; text-decoration:underline;}
.wrap_search .mod_com{margin-top:36px;}
.wrap_search .mod_com h3{padding:10px 0 0 25px; height:20px; position:relative; font-size:12px; font-weight:bold; color:#375a91;}
.wrap_search .mod_com h3 .ad{position:absolute; right:5px; top:0; display:block; height:30px; line-height:30px;}
.wrap_search .mod_com dl{margin:5px 0 0 10px;}
.wrap_search .mod_com dt{float:left; margin-right:5px;}
.wrap_search .mod_com dd{line-height:26px; color:#375a91;}
.wrap_search .mod_com dd a{margin:0 5px;}
.wrap_search .inputlist{width:350px; border:1px solid #7F9DB9; top:20px;}
#search_inputlist {width:width:350px; border-top:none;font:12px/1.75 "宋体",arial,sans-serif;background:#ffffff; width:350px;}
#search_inputlist ol,ul {list-style:none}
#search_inputlist legend{display:none;}
#search_inputlist a{color:#000;text-decoration:none;}
#search_inputlist a:hover{color:#000;text-decoration:underline;}
#search_inputlist ul{ padding:0 1px;}
#search_inputlist ul li{line-height:22px; display:block}
#search_inputlist ul li a{ line-height:22px;padding-left:3px;display:block;zoom:1 }
#search_inputlist ul li a:hover{text-decoration:none}
#search_inputlist .focus{line-height:22px;padding-left:3px;  background:#D0E2EB; text-decoration:none}
#search_inputlist .tips{ border-top:1px solid #d5d5d5; line-height:16px; margin:0 auto; padding:5px 2px; color:#666}
#search_inputlist .tips .red{color:#f00}/*  |xGv00|56d857ef9a11458430e5a24c50a0eec6 */