@charset "gb2312";
/* CSS Document */
/* reset */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select { margin: 0; padding: 0 }
body { color:#333; font: 12px/22px "宋体", "Arial Narrow", HELVETICA; background: #fff; -webkit-text-size-adjust: 100%; }
h1, h2, h3, h4, h5, h6, .yh{ font-family:"微软雅黑", "黑体", "宋体"; font-size:100%; font-weight:normal;}
a { color:#333; text-decoration: none }
a:hover { color:#c00; text-decoration: underline }
em { font-style: normal }
li { list-style: none }
img,input{ border: 0; vertical-align: middle }
table { border-collapse: collapse; border-spacing: 0 }
p,a{ word-wrap: break-word }
.undis { display: none }
.dis { display: block }
.ind { text-indent: 2em }
.layout{ margin:0 auto; width:1000px;}
.layout:after, .hd:after, .bd:after, .ft:after, .cf:after, .Q-tList:after, .Q-tList ul:after, .Q-tList ol:after, .Q-pList:after, .Q-pList ul:after, .Q-tpList:after, .Q-tpList ul:after, .Q-tpWrap:after { content: ""; display: table; clear: both }
.layout, .hd, .bd, .ft, .cf, .Q-tList, .Q-tList ul, .Q-tList ol, .Q-pList, .Q-pList ul, .Q-tpList, .Q-tpList ul, .Q-tpWrap { *zoom:1}
@media screen {
.fl, .layout .fl, .chief { float: left; display: inline }
.fr, .layout .fr, .extra { float: right; display: inline }
.hd h2, .hd h3 { float: left; display: inline }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.l16 { line-height: 16px }
.l17 { line-height: 17px }
.l18 { line-height: 18px }
.l19 { line-height: 19px }
.l20 { line-height: 20px }
.l21 { line-height: 21px }
.l22 { line-height: 22px }
.l23 { line-height: 23px }
.l24 { line-height: 24px }
.l25 { line-height: 25px }
.l26 { line-height: 26px }
.l27 { line-height: 27px }
.l28 { line-height: 28px }
.l29 { line-height: 29px }
.l30 { line-height: 30px }
.Q-tList { margin: 0 10px }
.Q-tList span, .Q-tpList li span { float: right }
.Q-pList li { float: left; display: inline; text-align: center }
.Q-pList a { display: block }
.Q-pList p a { display: inline }
.Q-tpList .pic { float: left; margin-right: 10px; overflow: hidden; display: inline; text-align: center }
.Q-tpList .pic img { display: block }
.Q-tpList em{ font-family:"微软雅黑", "黑体", "宋体";}
.mt5 { margin-top: 5px }
.mt10 { margin-top: 10px }
.mt20 { margin-top: 20px }
}
/* banner */
.bannerWp{ height:134px; background:#f5f5f5; border-bottom:4px solid #e40000;}
.banner{ width:1000px; height:134px; margin:0 auto; background:url(//mat1.gtimg.com/auto/7day/dongchazhe/logo.png) no-repeat;}
.banner .info{ float:left;}
.banner .info h1{ display:none;}
.banner .erweima{ float:right; padding:15px 20px 0 0; text-align:center; width:88px;}
.banner .erweima p a{ color:#666;}
/* main */
.content{ border-bottom:1px solid #e9e9e9; margin-bottom:40px; padding-bottom:40px;}
.main{ border-right:1px solid #e9e9e9; float:left; padding-right:40px; width:650px;}
.main .Q-tpWrap{ border-top:1px solid #e9e9e9; padding:20px 0;}
.main .Q-tpWrap img{ width:165px; height:122px;}
.main .bt0{ border-top:none;}
.main .Q-tpWrap em span{ background:url(//mat1.gtimg.com/finance/11lx/2013/cjgc/bgs.png) 0 -440px no-repeat; color:#fff; display:inline-block; font-size:14px; float:left; height:23px; line-height:23px; margin:1px 5px 0 0; text-align:center; width:69px;}
.main .Q-tpWrap p{ color:#888;}
.main .Q-tpWrap .intro{ padding:5px 0;}
.main .Q-tpWrap .time{ color:#888; text-align:right;}
.shareTo{ background:url(//mat1.gtimg.com/finance/11lx/2013/cjgc/bgs.png) 10px -358px no-repeat; border-left:1px solid #888; cursor:pointer; float:right; height:14px; line-height:14px; margin-top:4px; margin-left:8px; position:relative; width:50px;}
.shareTo .share{ background:#fff; display:none; overflow:hidden; position:absolute; right:26px; top:-8px; width:215px;}
.shareTo .share a{ background:url(//mat1.gtimg.com/finance/11lx/2013/cjgc/bgs.png) no-repeat; display:inline-block; float:left; margin-right:5px; height:24px; line-height:994px; overflow:hidden; width:24px;}
.shareTo .share .sharewb{ background-position:0 0;}
.shareTo .share .shareqzone{ background-position:-29px 0;}
.shareTo .share .sharewx{ background-position:-58px 0;}
.shareTo .share .sharesina{ background-position:-87px 0;}
.shareTo .share .sharerenren{ background-position:-116px 0;}
.shareTo .share .shareqqemail{ background-position:-145px 0;}
.shareTo .share .sharekaixin{ background-position:-174px 0;}
.shareTo .sharelist{ border:1px solid #e1e1e1; border-right:none; float:left; height:24px; padding:4px 0 4px 5px; width:204px;}
.shareTo .shareBg{ background:url(//mat1.gtimg.com/finance/11lx/2013/cjgc/tips.png) right center no-repeat; float:left; height:34px; width:5px;}
.main .hover{ background:#f6f6f6;}
/* sub */
.sub{ float:right; width:290px;}
.sub .hd{ border-bottom:3px solid #e9e9e9; height:46px; line-height:46px; width:290px;}
.sub .hd h2{ font-size:22px;}
.sub .hd h2 span{ color:#8e7440;}
.rank ul{ background:url(//mat1.gtimg.com/finance/11lx/2013/cjgc/bgs.png) 0 -33px no-repeat; margin-top:10px; padding-left:25px;}
.rank li{ font-size:12px; height:30px; line-height:30px;}
.contact li{ float:left; width:80px; height:105px; margin:12px 0 0 12px; line-height:22px; text-align:center;}
.contact li img{ width:76px; height:76px; margin-bottom:3px; border:1px solid #eee; padding:1px;}

.jianjie .bd{ padding-top:10px; font:14px/26px "\5FAE\8F6F\96C5\9ED1"; text-indent:2em;}
.hd h2{ font-family:"\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}

.shareTo .share {width:191px;}
.shareTo .sharelist {width:176px;}
.content {margin-bottom: 20px;}

/*  |xGv00|e33acbc1325f293da92d81f8fa8f3a9a */