body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding:0;margin:0; }
fieldset, img { border:none;}
table { border-collapse:collapse;border-spacing:0;}
ol,ul,li{ list-style: none;list-style-type:none;}
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; }     
caption,th { text-align: left; }   
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%;}   
q:before,q:after {content:''; }   
abbr,acronym { border: 0}
a{ color:#4c4c4c; text-decoration:none;}
a:hover{ color:#fe0000; text-decoration:none}
body{ font-size:12px; font-family:'宋体',Arial, Helvetica, sans-serif;}

/*==============清除浮动开始==============*/
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{clear:both; height:0; font:0/0 Arial; visibility:hidden;}
/*==============清除浮动结束==============*/

.main{ clear:both; width:1366px; margin:0 auto; /*margin-top:26px; _margin-top:0px;*/ position:relative}
.prev{ width:55px; height:55px; display:block; background:url(//mat1.gtimg.com/auto/08auto/qqnew/prve.gif) no-repeat; position:fixed; _position:absolute; top:40%; left:0; z-index:100}
.next{ width:55px; height:55px; display:block; background:url(//mat1.gtimg.com/auto/08auto/qqnew/next.gif) no-repeat; position:fixed; _position:absolute; top:40%; right:0; z-index:100}
.slides_container {width:1366px;}
.pagination { display:none}
.slides_control{ min-height:630px; height:auto !important; height:630px; overflow:visible}
.jian{ width:1366px; height:680px; background:url(//mat1.gtimg.com/auto/08auto/qqnew/06.jpg) no-repeat center center}
.jiandiv{ width:960px; height:395px; padding-top:80px; border:1px solid #ccc; margin:103px auto 0; background:#f0f0f0}
.jianleft{ width:215px; height:395px; float:left; margin-left:50px; margin-right:35px; display:inline}
.jianleft img{ width:215px; height:230px; margin-bottom:10px}
.jianleft span{ width:100px; height:35px; line-height:35px; text-align:center; font-weight:bold; color:#fff; font-size:28px; background:#da0000; display:block; margin-left:115px; font-family:"\5FAE\8F6F\96C5\9ED1"; text-align:center;}
.jianleft strong{ height:20px; line-height:20px; color:#fff; background:#000; display:block; text-align:center; font-family:Arial, Helvetica, sans-serif; font-weight:bold;font-family:"\5FAE\8F6F\96C5\9ED1"}
.jianright{ width:615px; height:395px; float:left}
.jianh1{ width:175px; height:51px; background:url(//mat1.gtimg.com/auto/08auto/qqnew/kan.gif) no-repeat; margin-top:10px}
.jianul{ height:55px; padding:30px 0 20px}
.jianul li{ width:132px; height:55px; line-height:55px; float:left; background:#c6c6c6; margin-right:10px; display:inline; text-align:center; font:600 18px/55px "\5FAE\8F6F\96C5\9ED1";}
.jianul li a{ font-size:18px; font-weight:bold; color:#000; display:block; font-family:"\5FAE\8F6F\96C5\9ED1"}
.jianul li a:hover{ color:#000}
.jianh2{ width:170px; height:32px; line-height:32px; color:#fff; font-size:18px; font-weight:bold; text-align:center; margin-bottom:20px; background:#000; clear:both; font-family:"\5FAE\8F6F\96C5\9ED1"}
.jiancon{ line-height:20px; font-size:14px; color:#666; font-weight:300; font-family:"\5FAE\8F6F\96C5\9ED1"}
.pic{ width:1366px; height:630px; background:url(//mat1.gtimg.com/auto/08auto/qqnew/07.jpg) no-repeat center center}
.pic img{ margin:185px auto 0; display:block}
.pho{width:1366px; height:630px; background:url(//mat1.gtimg.com/auto/08auto/qqnew/01.jpg) no-repeat center center}
.hum{width:1366px; height:630px; background:url(//mat1.gtimg.com/auto/08auto/qqnew/04.jpg) no-repeat center center; position:relative}
.humdiv{ width:695px; height:520px; margin:70px auto 0; }
.humul li{ width:166px; height:166px; float:left; margin:3px; display:inline; background:#0f0f0f}
.humul li a{ width:166px; height:166px; display:block; }
.humul li.f01 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian1b.jpg) no-repeat}
.humul li.f01 a,.humul li.f02 a,.humul li.f03 a,.humul li.f04 a,.humul li.f07 a,.humul li.f08 a,.humul li.f09 a{ filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;}

.humul li.f01 a:hover,.humul li.f02 a:hover,.humul li.f03 a:hover,.humul li.f04 a:hover,.humul li.f07 a:hover,.humul li.f08 a:hover,.humul li.f09 a:hover{ filter:alpha(opacity=100);  
      -moz-opacity:1;  
      -khtml-opacity: 1;  
      opacity: 1;  }
.humul li.f02 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian2b.jpg) no-repeat}

.humul li.f03 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian3b.jpg) no-repeat}

.humul li.f04 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian4b.jpg) no-repeat}

.humul li.f05{ background:none}
.humul li.f06 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/ren.jpg) no-repeat}
.humul li.f07 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian5b.jpg) no-repeat}
.humul li.f08 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian6b.jpg) no-repeat}
.humul li.f09 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian7b.jpg) no-repeat}
.humul li.ff0 a{ background:url(//mat1.gtimg.com/auto/08auto/qqnew/lian8.jpg) no-repeat}


.video{width:1366px; background:url(//mat1.gtimg.com/auto/08auto/qqnew/video.gif) no-repeat left bottom; position:relative !important;}
.videotop{ height:350px; background:#0f0f0f url(//mat1.gtimg.com/auto/08auto/qqnew/v.jpg) no-repeat right top}
.videodiv{height:350px; width:960px; margin:0 auto;}
.vleft{ width:390px; height:350px; float:left; margin-right:20px; display:inline}
.vmid{ width:540px; height:265px; padding-top:85px; float:left;}
.vh1{ height:90px;}
.vh1 span{ background:#da0000; height:90px; line-height:90px; text-align:center; font-weight:bold; color:#fff; font-size:80px; float:left; font-family:"\5FAE\8F6F\96C5\9ED1"; padding:5px 10px}
.vh1 strong{ height:30px; line-height:30px; margin-top:60px; color:#fff; font-weight:bold; float:left; margin-left:10px; font-family:"\5FAE\8F6F\96C5\9ED1"}
.vcon{ clear:both; color:#333; line-height:20px; font-weight:300; color:#7f7f7f; background:#fff; width:300px; height:110px; padding:15px; font-family:"\5FAE\8F6F\96C5\9ED1"}
.videomid{ width:960px; margin:0 auto; background:url(//mat1.gtimg.com/auto/08auto/qqnew/yu.gif) no-repeat 40px 40px}
.vdl{ width:700px; min-height:105px; _height:105px; background:url(//mat1.gtimg.com/auto/08auto/qqnew/hr.gif) no-repeat left bottom; margin-left:260px; margin-top:30px}
.vdl dt{ width:90px; height:45px; line-height:45px; float:left; background:url(//mat1.gtimg.com/auto/08auto/qqnew/m.gif) no-repeat; font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:18px; font-weight:bold; text-indent:23px; font-family:"\5FAE\8F6F\96C5\9ED1"}
.vdl span{font-size:18px;color:#ff9900; font-weight:700}
.vdl span.red{color:#ff0000}
.vdl dd{ width:590px; float:left; margin-left:20px; color:#666; line-height:20px; font-weight:300; padding-top:10px; _height:95px; font-family:"\5FAE\8F6F\96C5\9ED1"; }
.wen{ height:115px; background:#dadada; border-top:1px solid #cbcbcb}
.wendiv{ height:115px; width:960px; margin:0 auto}
.wenul{ height:20px; padding-top:40px; float:right}
.wenul li{ height:20px; line-height:20px; float:left; color:#333}
.wenul li a{ display:inline-block; margin:0 5px; color:#333}
.wenul li a:hover{ color:#fe0000}
.dao{ width:133px; height:115px; float:left; background:url(//mat1.gtimg.com/auto/08auto/qqnew/topicCol.png) no-repeat left center}
.conta{ height:45px; padding-top:35px; padding-left:10px; float:left}
.conta p{line-height:18px; color:#333}
/*  |xGv00|69c5591254815e14284a5b44d7684aba */