/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,p,form{ margin:0; padding:0; color:#333; font:100 12px/18px Tahoma,"\5B8B\4F53";}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{ width:960px; margin:0 auto;}
.fl, .layout .fl, .chief { float:left; display:inline }/*float */
.fr, .layout .fr, .extra { float:right; display:inline }

body{ background:url(http://img1.gtimg.com/auto/pics/hv1/66/74/1087/70701111.png) #ededed repeat-x 0px 25px;}
.logoIcon { background:url(//mat1.gtimg.com/auto/1/20111130wendao/topicCol.png) no-repeat; }
/* 栏目模板 */
.column1 .title{ overflow:hidden; height:37px; background:url(//mat1.gtimg.com/auto/20101208/wendao/column1.png) repeat-x;}
.column1 .title h2{ float:left; padding-left:33px; background:url(//mat1.gtimg.com/auto/20101208/wendao/column1.png) no-repeat 0 -37px; font:600 14px/37px "\5B8B\4F53";}
.column1 .title span{ float:right; padding-right:10px; background:url(//mat1.gtimg.com/auto/20101208/wendao/column1.png) no-repeat right -74px; font:12px/37px "\5B8B\4F53";}
.column1 .body{ border:1px solid #c3c3c3; border-top:0;}

/* header
----------------------------------------------- */
.topicHead { background:url(http://img1.gtimg.com/auto/pics/hv1/230/168/1088/70790270.png) no-repeat 0 0; height:176px; width:960px; margin:0 auto; }
.topicHead h1 { text-indent:-999em; overflow:hidden; height:30px; }
.topicHead .title { padding:106px 0 0 250px; }
.topicHead .fr { margin-top:-30px; width:300px; text-align:right; }
/* nav */
.nav { overflow:hidden; zoom:1; height:38px; background:none!important;  width:960px; margin:0 auto;}
.nav .navUl { overflow:hidden; zoom:1; padding-top:8px; }
.nav .navUl li { float:left; display:inline; padding:0 20px; font-size:14px; font-weight:bold; border-left:1px solid #565656; height:20px; line-height:20px; margin-left:-1px; }
.nav .navUl li a:link, .nav .navUl li a:visited, .nav .navUl li a:hover { color:#fff; }
.nav .select { padding-top:8px; text-align:right; }
/* footer */
.QFfoot { border-top:1px solid #d5d5d5; background:#dadada; padding:20px 0; color:#4e4e4e; }
.QFfoot .bd { overflow:hidden; zoom:1; width:960px; margin:0 auto; }
.QFfoot .bd .logoIcon { display:block; width:133px; height:72px; float:left; background-position:0 0; display:inline; margin-right:10px; }
.QFfoot .email { line-height:24px; padding-top:10px; }
.QFfoot .link { float:right; display:inline; text-align:right; padding-top:20px; }

/* body
----------------------------------------------- */

/* 往期回顾 */
.history .body{ overflow:hidden; width:939px; padding:20px 0 0 19px;}
.history ul{ width:940px;}
.history li{ display:inline; float:left; width:450px; height:146px; margin:0 20px 20px 0;}
.history img{ float:left; width:190px; height:140px; border:1px solid #cecece; padding:2px; background:url(//mat1.gtimg.com/auto/20101208/wendao/liBg.png) repeat-x 0 bottom;}
.history .info{ float:right; width:240px; color:#696969; line-height:22px;}
.history h3{ margin-bottom:5px; font:600 14px/24px "\5B8B\4F53";}
.history h3 span{ color:#d00;}
/* 嘉宾索引 */
.index{ display:none;}
.index .body{ overflow:hidden; width:958px; background:#e4e4e4;}
.index table{ width:100%;}
.index td{ width:50%; vertical-align:top;}
.index dt{ margin-bottom:10px; background:url(//mat1.gtimg.com/auto/20101208/wendao/lineX.png) repeat-x 0 bottom; font:24px/34px Tahoma;}
.index dd{ padding-left:13px; background:url(//mat1.gtimg.com/auto/img/ico/point.png) no-repeat 0 10px; line-height:24px; color:#666;}




.dy_bt{background:none;}
.dy_bt span{margin-left:5px;vertical-align:middle;margin-bottom:6px;display: inline-block; width:60px;height:19px;margin-top:1px;padding:0;text-indent:-99em;background:url(//mat1.gtimg.com/news/imgcss_article_qq/dy_bt.png);cursor:pointer;}
.dy_done{color:#999;}
.dy_done span{background:none;text-align:center;text-indent:0;}
/* footer
----------------------------------------------- */
.tcopyright img{ display:inline; vertical-align:middle;}

/* 公共布局补充
----------------------------------------------- */
.marginT10{ margin-top:10px;}
.tico,a.tico,li.tico,div.tico{ padding-right:11px;text-indent:0;background:url(//mat1.gtimg.com/auto/64Q/icoT.png) no-repeat right 0;}
.ticoBig,a.ticoBig{ padding-right:14px;text-indent:0;background:url(//mat1.gtimg.com/auto/64Q/ticoBig.gif) no-repeat right 0;}
.red,a.red:link,a.red:visited{ color:#e00;}
.tico,a.tico{ display:inline-block; padding-right:11px; background:url(//mat1.gtimg.com/auto/64Q/icoT.png) no-repeat right center;}
.vico,a.vico{ display:inline-block; padding-right:17px; background:url(//mat1.gtimg.com/auto/64Q/icoV.png) no-repeat right center;}
/*  |xGv00|4bd577fa6e00e38e6de2f3cf066a5923 */