/* common
----------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ht {
  border: 0;
  background-color: transparent;
  color: transparent;
  text-shadow: none;
  font: 0/0 arial;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: hiragino sans gb, microsoft yahei, tahoma, arial, sans-serif;
}
/* module
----------------------------------*/
.mod-inner {
  position: relative;
  width: 980px;
  margin: 0 auto;
}
.mod-share {
  position: absolute;
  top: -40px;
  _top: -20px;
  right: 20px;
}
.mod-column {
  position: relative;
  border: 4px solid #c6af8e;
  margin: 24px 0 0;
}
.column-head {
  position: relative;
  top: -28px;
  height: 52px;
  margin-bottom: -28px;
  overflow: hidden;
  zoom: 1;
}
.column-title {
  width: 405px;
  height: 52px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/title.png) no-repeat; 
  text-indent: -999em;
  overflow: hidden;
}
.column-patch {
  position: absolute;
  top: -4px;
  width: 15px;
  height: 15px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat;
  _background: none;
}
/* header
----------------------------------*/
.header {
  min-width: 980px;
  height: 40px;
  font-family: hiragino sans gb, microsoft yahei, simsun, tahoma, arial, sans-serif;
  box-shadow: 0px 1px 1px #e5e5e5;
  border-bottom: 1px solid #d6d6d6;
  background-color: #eee;
}
.logo {
  float: left;
  width: 119px;
  margin: 7px 56px 0 0;
  display: inline;
}
.logo a {
  width: 119px;
  height: 27px;
  background: url("http://mat1.gtimg.com/gongyi/2014/statistic/img/logo.png") no-repeat;
  text-indent: -999em;
  display: block;
  overflow: hidden;
}
.menu,
.menu li {
  float: left;
}
.menu a {
  height: 40px;
  color: #2a2a2a;
  font-size: 14px;
  line-height: 40px;
  padding: 0 14px;
  display: inline-block;
  _display: inline;
  _zoom: 1;
}
.menu a:hover {
  background-color: #4e931c;
  color: #fff;
  text-decoration: none;
}
.logout {
  float: right;
  font-family: hiragino sans gb, simsun, tahoma, arial, sans-serif;
  line-height: 40px;
  height: 40px;
}
.logout a,
.logout span {
  color: #898989;
  margin: 0 4px;
}
.logout a:hover {
  color: #3d8e15;
}
.logout .username {
  color: #333;
}
/* banner
----------------------------------*/
.banner {
  min-width: 980px;
  height: 240px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_banner.jpg) no-repeat center top;
}
.banner .mod-inner {
  height: 240px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/banner.png) no-repeat center;
  _background:none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/banner.png');
  text-indent: -999em;
  overflow: hidden;
}
.banner-list {
  min-width: 800px;
  margin: 25px 0 0;
}
.banner-list .list-box01,
.banner-list .list-box02 {
  width: 980px;
  height: 112px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_banner02.jpg) no-repeat center center;
  text-indent: -999em;
  overflow: hidden;
}
.banner-list .list-box02 {
  height: 106px;
  background-image: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_banner03.jpg);
}
/* content
----------------------------------*/
.content {
  padding: 25px 0 0;
}
.content-bg {
  position: relative;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_content.png);
  padding: 35px 0 0;
}
.column01,
.column03 {
  border-width: 4px 4px 0 0;
}
.column02,
.column04 {
  border-width: 4px 0 0 4px;
}
.column01 .column-title {
  background-position: 0 0;
}
.column02 .column-title {
  background-position: 0 -55px;
}
.column03 .column-title {
  background-position: 0 -110px;
}
.column04 .column-title {
  background-position: 0 -165px;
}
.column02 .column-title,
.column04 .column-title {
  float: right;
}
.column01 .column-patch,
.column03 .column-patch {
  right: -4px;
  background-position: -15px 0;
}
.column02 .column-patch,
.column04 .column-patch {
  left: -4px;
  background-position: 0 0;
}
.column01 {
  padding: 0 0 50px;
}
.column01 .data01 {
  width: 844px;
  height: 150px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/data01.png) no-repeat center;
  color: #8c7f6d;
  font-size: 30px;
  text-align: center;
  margin: 55px 0 0;
}
.column01 .data01 strong {
  color: #d5270a;
  font: 700 72px/100% arial;
}
.column01 .data01 b {
  color: #d5270a;
  font-weight: 500;
}
.column01 .data01 span {
  margin: 0 20px 0 20px;
}
.column01 .data02 {
  position: relative;
  height: 170px;
  border-bottom: 1px solid #cab496;
 }
.column01 .data02 .data-point {
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat -30px 0;
}
.column01 .data02 .item01 {
  position: relative;
  float: left;
  width: 50%;
  height: 170px;
}
.column01 .data02 .item02 {
  position: relative;
  float: left;
  width: 49%;
  height: 170px;
}
.column01 .data02 .item01 strong,
.column01 .data02 .item02 strong {
  position: absolute;
  bottom: -1px;
  left: 325px;
  width: 66px;
  height: 45px;
  background-color: #9eb700;
  border-top: 1px solid #d0dc83;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 45px;
  padding: 22px 0 0;
}
.column01 .data02 .item02 strong {
  left: 20px;
  padding-top: 45px;
}
.column01 .data02 span {
  position: absolute;
  color: #8c7f6d;
  font-size: 18px;
}
.column01 .data02 b {
  color: #9eb700;
  font: 500 24px arial;
}
.column01 .data02 .item01 .text01 {
  bottom: 70px;
  left: 310px;
}
.column01 .data02 .item01 .text02 {
  bottom: 5px;
  right: 188px;
}
.column01 .data02 .item01 .text01 b {
  color: #8c7f6d;
  font: 500 30px arial;
}
.column01 .data02 .item02 .text01 {
  bottom: 93px;
  left: 10px;
}
.column01 .data02 .item02 .text02 {
  bottom: 5px;
  left: 110px;
}
.column01 .data02 .item02 .text01 b {
  color: #8c7f6d;
  font: 500 30px arial;
}
.column02 {
  position: relative;
  height: auto;
  min-height: 398px;
  _height:398px;
}
.column02 .data-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 460px;
  height: 260px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/data02.png) no-repeat center;
  text-indent: -999em;
  margin: -130px 0 0 -230px;
  overflow: hidden;
}
.column02 .data-item {
  position: relative;
}
.column02 .data-item h4 {
  color: #5e513e;
  font-size: 20px;
  font-weight: 500;
}
.column02 .data-item p {
  color: #5e513e;
  font-size: 14px;
}
.column02 .data-item p a {
  color: #9eb700;
}
.column02 .data-item .item01 {
  position: absolute;
  top: 60px;
  left: 43px;
}
.column02 .data-item .item02 {
  position: absolute;
  top: 150px;
  left: 43px;
}
.column02 .data-item .item03 {
  position: absolute;
  top: 240px;
  left: 43px;
}
.column02 .data-item .item04 {
  position: absolute;
  top: 40px;
  left: 705px;
}
.column02 .data-item .item05 {
  position: absolute;
  top: 150px;
  left: 705px;
}
.column02 .data-item .item06 {
  position: absolute;
  top: 248px;
  left: 705px;
}
.column03 {
  padding: 0 0 45px;
}
.column03 .data-title {
  color: #5e513e;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 0 25px;
}
.column03 .data-title b {
  color: #f77a00;
  font-weight: 500;
}
.column03 .data-title strong {
  color: #f77a00;
  font-size: 30px;
  font-weight: 500;
}
.column03 .data-title span {
  font-size: 14px;
  margin-left: 10px;
}
.column03 .data-item {
  padding: 0 25px 0 0;
  overflow: hidden;
  zoom: 1;
}
.column03 .item01 {
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_dash.png) repeat-x left top;
  padding: 0 0 25px;
  overflow: hidden;
  zoom: 1;
}
.column03 .item-title {
  width: 73px;
  height: 28px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat -45px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
.column03 .item01 .item-head {
  float: left;
  width: 165px;
  padding: 0 0 0 15px;
}
.column03 .item01 .item-avatar {
  width: 120px;
  height: 120px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat 0 -30px;
  margin: 15px 0 0;
}
.column03 .item01 .item-name {
  color: #9eb700;
  font-size: 18px;
  font-weight: 500;
  padding-left: 30px;
}
.column03 .item01 .item-name strong {
  font: 500 30px arial;
}
.column03 .item01 .item-cont {
  float: left;
  color: #5e513e;
  font-size: 14px;
}
.column03 .item01 .item-cont p {
  padding-bottom: 5px;
}
.column03 .item01 .item-cont strong {
  color: #9eb700;
  font: 500 24px arial;
}
.column03 .item01 .item-cont .text {
  font-size: 24px;
  line-height: 18px;
  padding-bottom: 15px;
}
.column03 .item02,
.column03 .item03,
.column03 .item04 {
  float: left;
  width: 33%;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_dash.png) repeat-x left top;
  overflow: hidden;
  zoom: 1;
}
.column03 .item04 {
  width: 34%;
}

.column03 .item02 .item-head,
.column03 .item03 .item-head,
.column03 .item04 .item-head {
  float: left;
  width: 120px;
}
.column03 .item02 .item-avatar, 
.column03 .item03 .item-avatar, 
.column03 .item04 .item-avatar {
  width: 95px;
  height: 95px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat 0 -150px;
  margin: 15px 0 10px;
}
.column03 .item03 .item-avatar {
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat 0 -245px;
}
.column03 .item04 .item-avatar {
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat 0 -340px;
}
.column03 .item02 .item-name,
.column03 .item03 .item-name,
.column03 .item04 .item-name {
  color: #9eb700;
  font-size: 14px;
  font-weight: 500;

}
.column03 .item03 .item-name,
.column03 .item04 .item-name {
  padding-left: 10px;
}
.column03 .item02 .item-name strong,
.column03 .item03 .item-name strong,
.column03 .item04 .item-name strong {
  font: 500 24px arial;
}
.column03 .item02 .item-cont,
.column03 .item03 .item-cont {
  float: left;
  width: 160px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_dash2.png) repeat-y
  right top;
  color: #5e513e;
  font-size: 12px;
  line-height: 28px;
  padding: 0 20px 0 0;
}
.column03 .item04 .item-cont {
  float: left;
  width: 200px;
  color: #5e513e;
  font-size: 12px;
  line-height: 28px;
}
.column03 .item02 .item-cont strong,
.column03 .item03 .item-cont strong,
.column03 .item04 .item-cont strong {
  color: #9eb700;
  font: 500 18px arial;
}
.column03 .item05 {
  position: relative;
  border-top: 1px solid #e8dfd2;
  overflow: hidden;
  zoom: 1;
}
.column03 .item05 .item-head {
  position: relative;
  float: left;
  width: 312px;
  padding: 33px 0 0;
  margin-top: -28px;
}
.column03 .item05 .item-avatar {
  width: 180px;
  margin: 0 auto;
  text-align: center;
}
.column03 .item05 .item-avatar a {
  width: 180px;
  height: 54px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/data03.png) no-repeat center center;
  text-indent: -999em;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.column03 .item05 .item-name {
  color: #5e513e;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.column03 .item05 .item-name strong {
  color: #9eb700;
  font: 500 30px arial;
}
.column03 .item05 .item-name b {
  color: #9eb700;
  font: 500 14px arial;
}
.column03 .item05 .item-name span {
  display: block;
}
.column03 .item05 .item-cont {
  position: relative;
  float: left;
  width: 637px;
  border-left: 1px solid #e8dfd2;
  color: #5e513e;
  font-size: 12px;
  line-height: 28px;
  margin-top: -28px;
}
.column03 .item05 .list01 {
  border-bottom: 1px solid #e8dfd2;
  padding: 20px 0 15px 40px;
  overflow: hidden;
  zoom: 1;
}
.column03 .item05 .list01 .list-item {
  float: left;
  width: 25%;
  color: #5e513e;
  font-size: 16px;
  line-height: 20px;
}
.column03 .item05 .list01 .list-item strong {
  color: #9eb700;
  font: italic 500 30px arial;
}
.column03 .item05 .list01 .list-item b {
  color: #9eb700;
  font-weight: 500;
}
.column03 .item05 .list01 .list-item span {
  display: block;
}
.column03 .item05 .list02 {
  padding: 15px 0 15px 40px;
  overflow: hidden;
  zoom: 1;
}
.column03 .item05 .list02 .list-item {
  float: left;
  width: 20%;
  color: #5e513e;
  font-size: 16px;
  line-height: 20px;
}
.column03 .item05 .list02 .list-item dt {
  float: left;
  width: 14px;
  color: #5e513e;
  font-size: 14px;
  line-height: 16px;
  margin: 0 6px 0 0;
}
.column03 .item05 .list02 .list-item dd {
  float: left;
  width: 99px;
  color: #5e513e;
  font-size: 12px;
}
.column03 .item05 .list02 .list-item em {
  color: #999;
  line-height: 12px;
  display: block;
}
.column03 .item05 .list02 .list-item strong {
  color: #9eb700;
  font: 500 18px arial;
}
.column03 .item06 {
  float: left;
  width: 25%;
  border-top: 1px solid #e8dfd2;
  overflow: hidden;
  zoom: 1;
}
.column03 .item06 .item-avatar {
  float: left;
  width: 95px;
  padding: 15px 8px 0 5px;
}
.column03 .item06 .item-avatar a {
  width: 95px;
  height: 95px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/item.png) no-repeat;
  text-indent: -999em;
  display: block;
  overflow: hidden;
}
.column03 .item07 .item-avatar a {
  background-position: 0 -95px;
}
.column03 .item08 .item-avatar a {
  background-position: 0 -190px;
}
.column03 .item09 .item-avatar a {
  background-position: 0 -285px;
}
.column03 .item06 .item-cont {
  float: left;
  width: 129px;
  color: #5e513e;
  font-size: 12px;
  line-height: 24px;
  padding: 25px 0 0;
}
.column03 .item06 .item-cont strong {
  color: #9eb700;
  font-size: 14px;
  font-weight: 500px;
}
.column03 .item06 .item-cont b {
  color: #9eb700;
  font-style: italic;
  font-weight: 500px;
}
.column03 .item07 .item-avatar,
.column03 .item08 .item-avatar,
.column03 .item09 .item-avatar {
  border-left: 1px solid #e8dfd2;
  padding-right: 7px;
}
.column04 {
  padding: 0 0 10px;
}
.column04 .data-title {
  color: #736858;
  font-size: 24px;
  font-weight: 500;
  padding: 15px 0 0 65px;
}
.column04 .data-title b {
  color: #f77a00;
  font-weight: 500;
}
.column04 .data-title strong {
  color: #f77a00;
  font: italic 500 48px arial;
}
.column04 .data-title2 {
  color: #736858;
  font-size: 30px;
  font-weight: 500;
  padding: 0 0 0 65px;
  margin-bottom:20px;
}
.column04 .data-title2 strong {
  color: #f77a00;
  font: 500 44px arial;
}
.column04 .data-item {
  position: relative;
  zoom: 1;
}
.column04 .item-map {
  float: left;
  width: 320px;
  height: 258px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/map.jpg) no-repeat;
  margin: 0 0 0 215px;
  display: inline;
}
.column04 .item-title {
  position: relative;
  float: left;
  color: #736858;
  font-size: 26px;
  font-weight: 500;
  margin: 100px 0 0 15px;
  z-index: 2;
}
.column04 .item-title strong {
  color: #f77a00;
  font: 500 26px arial;
}
.column04 .item-toplist {
  position: relative;
  float: left;
  width: 225px;
  height: 383px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/toplist.jpg) no-repeat 0 0;
  text-indent: -999em;
  margin: -40px 0 0 -50px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  overflow: hidden;  
}
.column05 {
  border: 0 none;
  margin: -15px 0 0;
}
.column05 .column-list {
  padding: 0 0 100px;
  zoom: 1;
}
.column05 .column-list li {
  width: 485px;
  height: auto;
  min-height: 150px;
  _height: 150px;
  padding: 35px 0 0;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}
.column05 .list-item {
  position: relative;
  height: auto;
  min-height: 146px;
  _height: 146px;
  padding: 4px 25px 0 220px;
}
.column05 .list-item .item-title {
  width: 100%;
  height: 30px;
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow: hidden;
}
.column05 .list-item .item-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  border: 1px solid #d7d7d7;
}
.column05 .list-item .item-logo img {
  width: 190px;
  height: 144px;
  display: block;
}
.column05 .list-item .item-cont {
  color: #6d6d6d;
  font: 12px/24px simsun;
}
.column05 .list-item .item-cont strong{
	color:#f66e00
}
.column05 .list-item .item-cont a {
  color: #9eb700;
  float:right;
}
.column06 {
  border: 0 none;
  margin: 0;
}
.column06 .column-detail {

}
.column06 .detail-head {
  position: relative;
  height: 126px;
  background-color: #9eb700;
  z-index: 2;
}
.column06 .detail-head .head-patch {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 43px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat -95px -150px;
}
.column06 .detail-logo {
  position: absolute;
  top: 24px;
  left: 42px;
  width: 190px;
  height: 144px;
  border: 1px solid #d7d7d7;
  text-align: center;
}
.column06 .detail-logo .logo-shadow {
  position: absolute;
  top: 145px;
  left: 0;
  width: 192px;
  height: 10px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_shadow.png) no-repeat;
}
.column06 .detail-logo img {
  width: 190px;
  height: 144px;
  display: block;
}
.column06 .detail-title {
  width: 640px;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  padding: 50px 0 0 265px;

}
.column06 .detail-title02 {
  font-size: 24px;
  padding-top: 55px;
}
.column06 .detail-body {
  position: relative;
  background-color: #fbfbf9;
  border: 1px solid #e0dfdc;
  border-bottom: 0;
  padding: 115px 45px 100px;
}
.column06 .detail-content {}
.column06 .detail-content .content-title {
  color: #372d24;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.column06 .detail-content .content-subtitle {
  color: #372d24;
  font-weight: 600;
  line-height: 27px;
}
.column06 .detail-content .content-text {
  color: #372d24;
  font-size: 14px;
  line-height: 30px;
  padding: 10px 0 15px;
}
.column06 .detail-content .content-pic {
  text-align: center;
  padding: 2px 0 15px;
}
.column06 .detail-content .content-pic img {
  margin: 5px 3px;
}
.column06 .detail-content .content-table {
  padding: 2px 0 15px;
}
.column06 .detail-opt {
  position: absolute;
  top: 35px;
  right: 55px;
}
.column06 .detail-feedback {
  text-align: right;
}
.column06 .detail-feedback a {
  width: 78px;
  height: 37px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/icon.png) no-repeat 0 -535px;
  color: #fff;
  font-size: 14px;
  line-height: 37px;
  text-align: left;
  padding-left: 45px;
  outline: 0 none;
  display: inline-block;
}
.column06 .detail-feedback a:hover {
  text-decoration: none;
}
.column06 .detail-share {
  padding: 15px 0 0;
  zoom: 1;
}
/* slogan
----------------------------------*/
.slogan {
  min-width: 980px;
  height: 145px;
  background: #f77a00 url(http://mat1.gtimg.com/gongyi/2014/statistic/img/bg_slogan.png) repeat-x left top;
  overflow: hidden;
}
.slogan-logo {
  float: left;
  width: 170px;
  height: 90px;
  background: url(http://mat1.gtimg.com/gongyi/2014/statistic/img/slogan.png) no-repeat left top;
  _background:none;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/slogan.png');
  text-indent: -999em;
  margin: 30px 45px 0 90px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  overflow: hidden;  
}
.slogan-content {
  float: left;
  width: 630px;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  padding: 40px 0 0;
}
/* footer
----------------------------------*/
.footer {
  position: relative;
  min-width: 980px;
  font-family: hiragino sans gb, microsoft yahei, tahoma, sans-serif;
  color: #171717;
  line-height: 24px;
  background-color: #f5f5f5;
  border-top: 1px solid #dfdcdc;
}
.footer h3 {
  color: #000;
  margin-right: 50px;
  margin-left: 62px;
}
.footer a {
  color: #171717;
  text-decoration: none;
}
.footer .contact_us {
  padding: 0 10px;
}
.footer .contact_us h3 {
  font-size: 20px;
  float: left;
  font-weight: normal;
  display: inline;
}
.footer .contact_us .contact_inner {
  width: 888px;
  margin: 32px auto 0 auto;
  border-bottom: 1px solid #fff;
  font-size: 14px;
}
.footer .contact_us .contact_inner .inner {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}
.footer .contact_us .proj {
  margin-right: 25px;
  line-height: 24px;
  float: left;
  margin-top: 3px;
}
.footer .contact_us .regard {
  line-height: 24px;
  display: inline-block;
  *zoom: 1;
  margin-top: 3px;
}
.footer ul {
  font-family: simsun;
  font-size: 13px;
  line-height: 23px;
  margin: 15px auto 0 auto;
  text-align: center;
  width: 680px;
}
.footer ul a,
.footer ul span {
  color: #989898;
}
.footer ul li {
  float: left;
  margin-right: 5px;
}
.footer ul .line {
  margin-left: 5px;
}
.footer .copyright {
  text-align: center;
  font-size: 11px;
  color: #989898;
  margin: 0;
  padding-bottom: 30px;
}
/* share
----------------------------------*/
.logo_div {
  width: 158px;
  float: right;
  margin-top: 11px;
  font: 12px/20px hiragino sans gb, simsun, tahoma, arial, sans-serif;
  color: #9c9a9b;
}
.logo_div .share_span {
  float: left;
  display: inline;
}
.logo_div .share_div {
  float: right;
  height: 18px;
}
.logo_div .share_div .share_btn {
  background: url("http://mat1.gtimg.com/gongyi/succor_13/v2.1/lp_icon_gather_png8_v3.png") no-repeat 0 1px;
  width: 19px;
  height: 19px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: inline;
  float: right;
  margin-left: 3px;
}
.logo_div .share_div .share_btn:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.logo_div .share_div #shareTencentWeibo {
  background-position: 0px 0;
}
.logo_div .share_div #shareQzone {
  background-position: -19px 0;
}
.logo_div .share_div #shareWeixin {
  background-position: -38px 0;
  display:none;
}
.logo_div .share_div #sharePengyou {
  background-position: -58px 0;
  display:none;
}
.logo_div .share_div #shareSinaWeibo {
  background-position: -78px 0;
}
.logo_div .share_div #shareRenren {
  background-position: -97px 0;
}
.logo_div .share_div #shareKaixin {
  background-position: -118px 0;
}
.detail-content table td{border:1px solid #000}/*  |xGv00|c79139f6ff35410cc10f6946dc7c2f45 */