/*简单reset*/
/*必须，关系到单个page能否全屏显示*/
html,
body {
    height: 100%;
    overflow: hidden;
}
a{-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
#container,
.sections,
.section {
    /*必须，兼容，在浏览器不支持transform属性时，通过改变top/left完成滑动动画*/
    position: relative;
    /*必须，关系到单个page能否全屏显示*/
    height: 100%;
}
.section {
    /*有背景图时必须，关系到背景图能够全屏显示*/
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
}
/*非必需，只是用来设置背景图，id不会被插件用到*/
.section .side{position: absolute;left: 50%;margin-left: 310px; width: 290px;height: 100%;background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/side.png?888) center center no-repeat;}
.section .con{position: absolute;width: 1200px;height: 550px;top: 50%;margin-top: -275px;left: 50%;margin-left: -600px;}

#section0 {
    background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/p1bg.jpg) center center no-repeat;
}
.p0{background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/p1house.png) 0 0 no-repeat;}
.p0 .city{position: absolute;left: 0;bottom: 0;width: 50%;height: 80%;}
.p0 .city img{position: absolute;bottom: -10%;left: -28%;width: 130%;}
.p0 .logo{position: absolute;width: 528px;height: 562px;left: 50%;top: 50%;margin-top: -281px;margin-left: -200px;}
.p0 .logo img{width: 100%;}
#section1 {
    background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/p2bg.jpg) center center no-repeat;
}
.p1 .con .marks{position: absolute;top: 0;
left: 0;}
.p1 .con .popup{display: none; position: absolute;width: 291px;height: 307px;background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/popup.png) 0 0 no-repeat;}
.p1 .con #as{top: 380px; left: 50%; margin-left: -260px;}
.p1 .con .popup .close{position: absolute;width: 16px;height: 16px;right: 10px;top: 30px;}
.p1 .con .popup .popup-con{width: 250px;margin: 0 auto;padding-top: 45px;}
.p1 .con .popup .popup-con .pictxt{height: 75px;padding-bottom: 20px;border-bottom: 1px dashed #ccc;margin-bottom: 20px;}
.p1 .con .popup .popup-con a:hover{text-decoration: none;}
.p1 .con .popup .popup-con .pictxt .pic{float: left;width: 100px;height: 75px;margin-right: 10px;}
.p1 .con .popup .popup-con .pictxt .pic img{width: 100px;height: 75px;}
.p1 .con .popup .popup-con .pictxt h3{font-size: 14px;font-weight: 300;line-height: 20px;margin-bottom: 2px;}
.p1 .con .popup .popup-con .pictxt p{font-size: 12px;line-height: 18px;}
.p1 .con .popup .popup-con .video{position: relative;}
.p1 .con .popup .popup-con .video i{position: absolute;left: 50%;margin-left: -38px;top: 50%;margin-top: -33px; z-index: 100;display: block;width: 77px;height: 66px;background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/videoico.png) 0 0 no-repeat;}
#map{width: 800px;height: 600px;margin-left: 80px;}

#bx{
    top: 300px;
    right: 440px;
}
#fs{
    top: 250px;
    right: 400px;
}
#sy{
    top: 240px;
    right: 510px;
}
#fx{
    top: 220px;
    left: 280px;
}
.p1 .con #hld .close,.p1 .con #dl .close{
    top: 10px;
}
.p1 .con #hld .popup-con,.p1 .con #dl .popup-con{
    padding-top: 26px;
    padding-left: 15px;
}
#hld{
    top: 260px;
    left: 340px;
    width: 308px;height: 290px;background: url(//mat1.gtimg.com/ln/images/2016zt/11Nov/zgln/popup2.png) 0 0 no-repeat;
}
#dl{
    top: 330px;
    left: 530px;
    width: 308px;height: 290px;background: url(//mat1.gtimg.com/ln/images/2016zt/11Nov/zgln/popup2.png) 0 0 no-repeat;
}

#section2 {
    background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/p456bg.jpg) center center no-repeat;
}
.p2 .tit{position: absolute;left: 0;top: 50px;}
.p2 .list{position: absolute;bottom: 0;left: 0;transform-style: preserve-3d;}
.p2 .list ul li {position: relative;float:left;width: 205px;height: 365px;margin-right: 15px;}
.p2 .list ul li a{display: block;width: 205px;height: 365px;}
.p2 .list ul li a:hover span.msk{background:rgba(196,0,1,0.6);-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
.p2 .list ul li span.msk{position: absolute;width: 205px;height: 365px;z-index: 100;top: 0;left: 0;text-align: center;}
.p2 .list ul li span.msk i{position: absolute;top: -70px;left: 50%;margin-left: -35px; display: block;width: 70px;height: 70px;z-index: 100;}
.p2 .list ul li span.msk i img{width: 70px;height: 70px;}
.p2 .list ul li span.msk .jiangtxt{position: absolute;top: 0;left: -205px; z-index: 50;width: 205px;height: 365px;}

#section3 {
    background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/p55bg.jpg) center center no-repeat;
}
.p3 .tit{position: absolute;left: 0;top: 50px;}


#section4 {
    background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/p456bg.jpg) center center no-repeat;
}
.p4 .tit{position: absolute;left: 0;top: 50px;}
.p4 .list{position: absolute;bottom: 0;left: 0;transform-style: preserve-3d;margin-left:12px;}
.p4 .list ul li {position: relative;float:left;width: 230px;height: 380px;margin-right: 15px;}
.p4 .list ul li a{display: block;width: 230px;height: 380px;}
.p4 .list ul li a:hover span.msk{background:rgba(196,0,1,0.6);-webkit-transition: all 0.4s ease;transition: all 0.4s ease;}
.p4 .list ul li span.msk{position: absolute;width: 230px;height: 380px;z-index: 100;top: 0;left: 0;text-align: center;}
.p4 .list ul li span.msk i{position: absolute;top: -70px;left: 50%;margin-left: -35px; display: block;width: 70px;height: 70px;z-index: 100;}
.p4 .list ul li span.msk i img{width: 70px;height: 70px;}
.p4 .list ul li span.msk .jiangtxt{position: absolute;top: 0;left: -230px; z-index: 50;width: 230px;height: 380px;}
.p4 .list ul li:nth-child(odd){transform: perspective(1400px) rotateY(30deg);perspective-origin:20px 125%;margin-left: -22px;}
.p4 .list ul li:nth-child(even){transform: perspective(1400px) rotateY(-30deg);perspective-origin:50%;margin-left: -37px;}




/*以下样式用来设置slider样式，可自行修改*/
.pages {
    position:fixed;
    right: 10px;
    top: 50%;
    margin-top: -100px;
    list-style: none;
}
.pages li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/nav.png) right -40px no-repeat;
    margin: 15px 0 0 7px;
    font-size: 16px;
    font-family: "\534E\6587\6977\4F53";
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
.pages li.active {
    width: 40px;
    height: 40px;
    background: url(//mat1.gtimg.com/ln/images/2016zt/10Oct/zgln/nav.png) right 0 no-repeat;
}/*  |xGv00|583c8bd71d28651e02df7ccb263a754c */