html, body{overflow:hidden}
body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif; color:#333;text-align:left}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none; list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{ text-align:left; font-weight:400}
img,fieldset{border:0;vertical-align:middle}
a{color:#333;text-decoration:none;outline:none}
a:hover{color:#c00;text-decoration:underline}
.spanclass,.contentdiv,.hide{display:none}
.show{display:block}

.clx:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.clx{*zoom:1}
.clear{font-size:0; line-height:0; height:0; overflow:hidden; clear:both; visibility:hidden}

.center{width:1000px; height:650px; margin:0 auto; position:relative}

.next{width:1000px; min-height:30px; background:url(//mat1.gtimg.com/gd/images/2013zt/yj06/bg/next.png) no-repeat center center; position:absolute; top:650px; left:0px; cursor:pointer;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.next{
	transition: opacity 0.8s;
	-moz-transition: -moz-opacity 0.8s;	/* Firefox 4 */
	-webkit-transition: opacity 0.8s;	/* Safari ºÍ Chrome */
	-o-transition: opacity 0.8s;
}
.next:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}

.page{overflow:hidden; position:relative}
.links{display:block; position:absolute;}

.nav .hd, .nav .control i, .nav .control .sublev i{background:url(//mat1.gtimg.com/gd/images/2013zt/yj06/bg/ctrl.png) no-repeat}

.nav{width:24px; position:fixed; top:50%; right:50px; margin-top:-260px}
.nav .hd{display:block; height:66px; background-position:1px 0}
.nav .control{ background:url(//mat1.gtimg.com/gd/images/2013zt/yj06/bg/navbg.png) repeat-y center center; padding-top:14px}
.nav .control i{display:block; width:23px; height:23px; cursor:pointer; margin:0 auto 5px}
.nav .control i.c_b{background-position:-25px 5px}
.nav .control i.c_g{background-position:-25px -15px}
.nav .control i.c_o{background-position:-25px -35px}
.nav .control i.c_r{background-position:-25px -55px}
.nav .control i.cur{background-position:-51px 0px}

.nav .control .sublev{display:none}
.nav .control .sublev i{width:23px; height:23px; cursor:pointer; margin:0 auto 2px; background-position:-45px -33px}
.nav .control .sublev i.cur{background-position:-48px -58px}

.review{width:97px; position:fixed; top:50%; left:50px; margin-top:-100px}
.review a{width:19px; height:19px; display:block; margin-bottom:10px; cursor:pointer; background:url(//mat1.gtimg.com/gd/images/2013zt/yj06/bg/re.png) no-repeat; margin-left:14px;}
.review a.cur, .review a:hover{width:97px; height:45px;; margin-left:0; background:url(//mat1.gtimg.com/gd/images/2013zt/yj06/review.png) no-repeat}

.review a#re1.cur, .review a#re1:hover{background-position:0 0px}
.review a#re2.cur, .review a#re2:hover{background-position:0 -50px}
.review a#re3.cur, .review a#re3:hover{background-position:0 -100px}
.review a#re4.cur, .review a#re4:hover{background-position:0 -150px}
.review a#re5.cur, .review a#re5:hover{background-position:0 -200px}
.review a#re6.cur, .review a#re6:hover{background-position:0 -250px}

#backgroundPopup{display:none; position:absolute; width:100%; top:0; left:0; background:#000000; z-index:1; }
#popupContact{display:none; position:absolute; width: 800px; height: 532px; background: #FFFFFF;  z-index:2; }

.zhentou{width:800px; height:533px; position:absolute; top:58px; left:100px; display:none}
/*  |xGv00|323cb81e4a0ac0b1d6024d96812ab1b1 */