body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333;outline:none}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}
			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

.banner{height:299px;background:url(//mat1.gtimg.com/cq/cs/g/banner.jpg) no-repeat center center;padding-top:435px}
.banner p{width:944px;line-height:35px;margin:auto;padding-left:56px;font-size:20px;color:#fff}

.section{width:1000px;height:auto;overflow:hidden;margin:auto;padding:80px 0}

.c1-t{height:auto;overflow:hidden;margin-bottom:25px}
.c1-l{float:left;width:501px;height:275px}
.c1-l img{width:501px;height:275px}
.c1-r{float:right;width:473px;height:273px}
.c1-r img{width:473px;height:273px}
.c1 p{line-height:35px;font-size:16px;color:#5a5c5e;text-indent:2em}
.zj{width:540px;height:40px;line-height:40px;margin:33px 0 58px 325px;font-size:20px;font-weight:bold;color:#fff}
.zj span{display:block;float:left;text-align:center}
.zj span.sp1{width:380px;background:#fc6566;color:#fff}
.zj span.sp2{width:160px;background:#e5e5e5;font-size:24px;color:#6d6161}
.nav{width:990px;height:166px;background:#fff;margin:auto;padding:0 5px}
.nav.po{position:fixed;z-index:1000;top:0;left:50%;margin-left:-500px}
.nav li{display:inline;float:left;width:158px;height:166px;background:url(//mat1.gtimg.com/cq/cs/g/nav_bg.png);margin-right:50px}
.nav li.active{background-image:url(//mat1.gtimg.com/cq/cs/g/nav_bg1.png)}
.nav li a{display:block;width:158px;height:166px}
.nav li.li1{background-position:0 0}
.nav li.li2{background-position:-210px 0}
.nav li.li3{background-position:-417px 0}
.nav li.li4{background-position:-622px 0}
.nav li.li5{background-position:-831px 0;margin-right:0}

.c2{background:#f4f5f8}
.c2-t{height:auto;overflow:hidden;margin-bottom:60px}
.c2-t-l{float:left;width:278px;height:106px;background:url(//mat1.gtimg.com/cq/cs/g/bg.png) no-repeat -322px 0}
.c2-t-r{float:right;width:625px}
.c2-t-r p{line-height:25px;font-size:14px;color:#77797a;text-indent:2em}
.c2 img{display:block;margin:auto}

.c3{background:#5586dc}
.cont{position:relative;width:1000px;margin:auto;padding:48px 0}
.cont .pic{position:absolute;top:-112px;right:0;width:375px;height:375px;background:url(//mat1.gtimg.com/cq/cs/g/c3.png) no-repeat}
.cont h3{width:385px;height:70px;background:url(//mat1.gtimg.com/cq/cs/g/bg.png) no-repeat -215px -109px}
.cont p.p1{width:610px;line-height:30px;margin-top:15px;font-size:20px;color:#b5cff9}
.cont span{display:block;width:150px;height:40px;line-height:40px;background:#436daf;margin-top:42px;font-size:22px;color:#bbc8e0;text-align:center}
.cont p.p2{line-height:30px;margin-top:15px;font-size:16px;color:#fff}

.title{height:56px;margin-bottom:54px}
.title h2{display:block;float:left;height:56px;background:url(//mat1.gtimg.com/cq/cs/g/bg.png) no-repeat;text-indent:-9999em}
.title.shuhua h2{width:359px;background-position:-241px -184px}
.title span{position:relative;display:block;float:right;height:56px}
.title.shuhua span{width:605px}
.title span p{position:absolute;bottom:0;left:0;font-size:18px;color:#487db3}

.zg-zp,.jl-tg{height:auto;overflow:hidden}
.zg-zp li,.jl-tg li{display:inline;float:left;width:480px;height:auto;overflow:hidden;margin-right:40px}
.zg-zp li.li2,.jl-tg li.li2{margin-right:0}
.zg-zp li h3,.jl-tg li h3{height:64px;line-height:90px;overflow:hidden;background:url(//mat1.gtimg.com/cq/cs/g/bg.png) no-repeat;margin-bottom:27px;padding-left:78px;font-size:24px;font-weight:bold;color:#5786de}
.zg-zp li.li1 h3{background-position:-536px -487px}
.zg-zp li.li2 h3{background-position:-536px -556px}
.jl-tg li.li1 h3{background-position:-536px -626px}
.jl-tg li.li2 h3{background-position:-536px -696px}
.zg-zp li p{line-height:25px;background:url(//mat1.gtimg.com/cq/cs/g/dot.png) no-repeat left 10px;margin-left:30px;padding-left:17px;font-size:14px;color:#747474}
.jl-tg{margin-top:20px}
.jl-tg li span{display:block;width:430px;background:#ee212a;margin-bottom:8px;padding:5px 10px;font-size:18px;color:#fff}
.jl-tg li p,.jl-tg li span{margin-left:30px}
.jl-tg li.li1 p{line-height:36px;font-size:16px;font-weight:bold;color:#747474}
.jl-tg li.li2 p{line-height:25px;font-size:14px;color:#747474}
.a-bok{display:block;width:185px;height:63px;line-height:61px;background:#5786de;margin:auto;margin-top:22px;font-size:30px;color:#fff;text-align:center;border-radius:5px}

.c5{background:#f4f5f8}
.c6{background:#fff}
.c7{background:#f4f5f8}
.c8{background:#fff}
.title.sheying h2{width:367px;background-position:-233px -244px}
.title.sheying span{width:597px}
.title.zhengwen h2{width:368px;background-position:-232px -304px}
.title.zhengwen span{width:596px}
.title.weiship h2{width:420px;background-position:-180px -364px}
.title.weiship span{width:544px}
.title.katong h2{width:568px;background-position:-32px -424px}
.title.katong span{width:396px}

.c9{height:480px;overflow:hidden;background:#f4f5f8 url(//mat1.gtimg.com/cq/cs/g/c9.jpg) no-repeat center center}
.c9 h3{width:545px;margin-bottom:22px;font-size:30px;font-weight:bold;color:#5c5858;text-align:center}
.c9 p{width:545px;line-height:33px;font-size:16px;color:#5c5858;text-indent:2em}
.c9 p a{color:#5c5858}

.c10{height:auto;overflow:hidden;background:#5586dc;padding:22px 0}
.c10 h3{margin-bottom:6px;font-size:20px;font-weight:bold;color:#fff;text-align:center}
.c10 p{font-size:16px;color:#fff;text-align:center}/*  |xGv00|58d884968c6aaed02b338327199874e0 */