body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,select,th,td,section,p,span,font,div{margin:0;padding:0;font:14px/1.5 'STHeiti', 'Microsoft yahei', 'Arial', 'Helvetica', 'sans-serif';color:#666}
h1,h2,h3,h4,h5,h6,address,cite,dfn,em,var,i{font-style:normal;font-weight:normal}
ul,ol{list-style:none}
input,textarea,select{border:none;outline:none}
a{text-decoration:none;color:#333;outline:none}
a:hover{color:#247dc8}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
html{overflow-y:scroll}
body{background:#eee}
			
/*common*/
.section{width:1200px;height:auto;overflow:hidden;margin:auto}
.nav li i, .banner-btn a, .title i, .form-row i, .focusme, .dk-tab li span, .dk-desc li i, .process-item i{background-image:url(//mat1.gtimg.com/cq/caijing/20170807/bg.png);background-repeat:no-repeat}
.top{position:relative;z-index:10;height:78px;background:#fff;border-bottom:2px solid #1d8aee}
.top-section{width:1200px;margin:auto}
.logo{float:left;width:390px;padding-top:24px}
.logo img{height:35px}
.nav{float:right;display:inline-block;height:46px;margin-top:32px}
.nav li{position:relative;display:inline-block;height:100%;background:url(//mat1.gtimg.com/cq/caijing/20170807/line.png) no-repeat right 4px;padding:0 35px;font-size:16px;color:#141414;*display:inline;*zoom:1}
.nav li.last{background:none}
.nav li i{position:absolute;left:50%;bottom:0;display:none;width:20px;height:13px;background-position:-84px -31px;margin-left:-10px}
.nav li.active i, .nav li:hover i{display:block}
.nav li a, .nav li:hover a, .nav li.active a{color:#141414}
.nav li a:hover{color:#1d8aee}
.sub-list{position:absolute;z-index:10;top:30px;left:0;display:none;width:100%;background:#fff;line-height:30px;font-size:16px}
.sub-list a{display:block;margin-bottom:5px;text-align:center}
.nav li:hover .sub-list{display:block}
.wihite-bg{position:absolute;z-index:1;top:78px;left:0;display:none;width:100%;height:60px;background:#fff}

.banner{height:440px;background:none}
.banner .section{position:relative;height:500px}
.banner-box{min-width:100%;height:440px;position:relative;overflow:hidden;}
.banner-box .bd{ width:100% !important;}
.banner-box .bd li .m-width {width:100%;margin:0 auto;overflow:hidden;}
.banner-box .bd li .m-width img{position:absolute;top:0;left:50%;width:1920px;height:440px;margin-left:-960px}
.banner-box .bd li{width:100% !important;height:440px;}
.banner-box .bd li a{display:block;background-size:auto;}
.banner-btn{width:1200px;position:absolute;top:190px;left:50%;margin-left:-600px}
.banner-btn a{display:block;width:60px;height:60px;position:absolute;top:0}
.banner-btn a.prev{left:0;background-position:0 -391px} 
.banner-btn a.next{right:0;background-position:0 -453px}

.banner-box .hd {position:absolute;top:218px;left:50%;margin-left:-50px}
.banner-box .hd ul li{width:12px;height:12px;border-radius :50%;text-indent:-9999px;margin-right:20px;background:#ccc;float:left;cursor:pointer;}
.banner-box .hd ul li.on{background:#DA324D;}
.form{position:absolute;left:50%;top:50%;width:330px;height:366px;background:#eee;margin-left:180px;margin-top:-183px}
.form.m{margin-left:170px}
.form h3{position:absolute;z-index:10;top:40px;left:37px;width:125px;height:25px;line-height:25px;font-size:20px;color:#181818}
.focusme{position:absolute;z-index:8;top:11px;left:157px;width:74px;height:28px;line-height:28px;padding-left:35px;font-size:12px;color:#df9c1f}
.top-form{width:255px;margin:84px auto 0}
.form-row{height:36px;background-color:#eee;margin-bottom:20px;border-radius:3px}
.white{background-color:#fff}
.form-row i{float:left;display:block}
.form-row i.i-name{width:14px;height:17px;background-position:-80px -189px;margin:8px 0 0 15px}
.form-row i.i-edu{width:18px;height:14px;background-position:-80px -154px;margin:11px 0 0 13px}
.form-row i.i-phone{width:16px;height:16px;background-position:-80px -171px;margin:10px 0 0 14px}
.form-row i.i-car{width:20px;height:16px;background-position:-80px -208px;margin:10px 0 0 12px}
.input{float:right;width:210px;height:18px;line-height:18px;background:none;margin-top:9px}
.submit{width:100%;height:46px;line-height:46px;background:#1d8aee;font-size:18px;color:#fff;text-align:center;border-radius:3px;cursor:pointer}
.dai-count{margin-top:20px;color:#181818}
.dai-count span{font-size:18px;color:#df9c1f}
.coop-box{position:relative;width:766px;height:234px;margin:auto}
	.coop-box img{width:766px;height:234px}
	.ar{position:absolute;z-index:22;display:none;width:147px;height:147px;background-repeat:no-repeat}
	.ar1{top:0;left:0;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_1.png)}
	.ar2{top:0;left:155px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_2.png)}
	.ar3{top:0;left:311px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_3.png)}
	.ar4{top:0;left:467px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_4.png)}
	.ar5{top:0;left:622px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_5.png)}
	.ar6{top:90px;left:78px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_6.png)}
	.ar7{top:90px;left:234px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_7.png)}
	.ar8{top:90px;left:391px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_8.png)}
	.ar9{top:89px;left:546px;background-image:url(//mat1.gtimg.com/cq/caijing/daikuan1/yh1_9.png)}
.layui-layer-content{color:#fff}
.easeForm_picture{
	width: 0px;
	height: 346px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	overflow: hidden;
}
.leaseFormlogo_1,.leaseFormlogo_2{
	width: 70px;
	height: 71px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}
.leaseFormlogo_2{
	z-index: 2;
}
.leaseFormlogo_1 img,.leaseFormlogo_2 img{
	width: 100%;
	height: 100%;
}
.easeForm_picture img{
	float:left;
	width: 262px;
	height: 262px;
	margin-top: 84px;
}

.main1{margin-top:20px}
.main1-l{float:left;width:735px}
.main1-r{float:right;width:425px}
.box-l-t, .box-l-b, .box-r-t, .box-r-b{overflow:hidden;background:#fff}
.box-l-t, .box-r-t{height:456px}
.box-l-b, .box-r-b{height:465px;margin-top:20px}
.title, .title1{height:65px;border-bottom:1px solid #ddd}
.title i{float:left;display:none;width:25px;height:25px;background-position:-80px -48px;margin:20px 20px 0 20px}
.title span{float:left;display:inline-block;height:100%;line-height:65px;margin-left:20px;font-size:20px;color:#181818}
.title1{line-height:65px;color:#181818;text-align:center}
.title1 span{font-size:18px;color:#1d8aee}
.dkgl-list{width:695px;margin:auto}
.dkgl-list li{height:90px;overflow:hidden;margin-top:30px}
.dkgl-list li .sp1{float:left;width:90px;height:100%}
.dkgl-list li .sp1 img{width:100%;height:100%}
.dkgl-list li .sp2{float:right;width:585px;height:100%}
.dkgl-list li .sp2 h3{height:27px;line-height:27px;font-size:16px;color:#181818}
.dkgl-list li .sp2 h3 a{color:#181818}
.dkgl-list li .sp2 h3 span{display:inline-block;width:46px;height:25px;line-height:25px;background:#da251d;margin-left:25px;color:#fff;border:1px solid #da251d;text-align:center}
.dkgl-list li .sp2 p{line-height:17px;margin-top:5px}
.dkgl-list li .sp2 .p1{margin-top:7px}
.box-r-t img{display:block;width:385px;height:auto;margin:30px auto 0}
.dkpg{width:100%}
.dkpg th{height:76px;font-size:16px;color:#181818;border-bottom:1px solid #ddd}
.dkpg td{height:45px;text-align:center}
.dk-tab{height:76px;border-bottom:1px solid #ddd}
.dk-tab li{position:relative;float:left;display:inline;width:14.2857%;height:76px;line-height:76px;font-size:16px;color:#181818;text-align:center;cursor:pointer}
.dk-tab li.active{color:#1d8aee}
.dk-tab li span{position:absolute;bottom:-1px;left:50%;display:none;width:37px;height:14px;background-position:-66px -392px;margin-left:-18px}
.dk-tab li.active span{display:block}
.prodct-sub{display:none}
.prodct-sub.active{display:block}
.prodct-sub-l{float:left;width:360px;margin-left:35px}
.dk-info{margin-top:52px;text-align:center}
.dk-info li{display:inline-block;width:106px;text-align:center;*display:inline;*zoom:1}
.dk-info li p{font-size:16px;color:#181818}
.dk-info li p.p1{margin-bottom:10px;color:#da251d}
.dk-desc{height:auto;overflow:hidden;margin-top:52px;padding-top:18px;border-top:1px dashed #ddd}
.dk-desc li{float:left;display:inline-block;height:18px;line-height:18px;margin:30px 0 0 20px;color:#181818}
.dk-desc li i{float:left;display:block;width:18px;height:18px;background-position:-80px -75px;margin-right:10px}
.dk-desc li.gray{color:#999}
.dk-desc li.gray i{background-position:-80px -96px}
.dk-desc li em{font-size:16px;color:#E04F48}
.prodct-sub-r{float:right;width:305px;margin-right:35px}
.product-ewm{display:block;margin:80px auto 0}
.prodct-form{width:255px;margin:80px auto 0}
.main2{background:#fff;margin-top:20px;margin-bottom:100px;padding-bottom:25px}
.process{margin-top:30px}
.process-item{float:left;width:240px;text-align:center}
.process-item i{display:block;width:75px;height:69px;margin:auto}
.process-item1 i{background-position:0 -31px}
.process-item2 i{background-position:0 -103px}
.process-item3 i{background-position:0 -175px}
.process-item4 i{background-position:0 -247px}
.process-item5 i{background-position:0 -319px}
.process-item .p1{margin:17px 0 0;font-size:16px;color:#181818}
.fixed_application{
			width: 100%;
			position: fixed;
			bottom: 0;
			height: 65px;
			background-color: #1D8BED;
		}
		.bottom_form{
			width: 1000px;
			margin: auto;
			height: 65px;
		}
		.phone_num{
			float: left;
			height: 65px;
			line-height: 65px;
			width: 250px;
		}
		.hot_ico, .hot_ico img{
			height: 30px;
			width: 30px;
			margin-left: 20px;
		}
		.hot_ico img{
			position: relative;
			top: 8px;
		}
		.hot_num{
			color: #fff;
			font-size: 20px;
			margin-left: 5px;
		}
		.input_bg{
			height: 40px;
			width: 400px;
			float: right;
			position: relative;
			top: 15px;
			background-color: #fff;
			overflow: hidden;
			-moz-border-radius: 5px; /* Firefox */
			-webkit-border-radius: 5px; /* Safari 和 Chrome */
			border-radius: 5px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
		}
		#phone_num_input{
			height: 40px;
			line-height: 40px;
			width: 265px;
			font-size: 16px;
			margin-left: 15px;
			border: none;
			outline: none;
		}
		#phone_num_submit{
			height: 40px;
			line-height: 40px;
			width: 105px;
			float: right;
			background-color: #DA251D;
			color: #fff;
			font-size: 18px;
			cursor:pointer
		}
.top, .banner{min-width:1200px}/*  |xGv00|b71ac0a6d0a21db76246aa35c28c0c58 */