@charset "gb2312";
body{ background:#f4f4f4;}
dl ,dt ,dd{ margin:0; padding:0;}
#topnav{ height:149px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_bg1.png) repeat-x;}
.topnav_bd{width:960px; margin:0 auto; overflow:hidden;}
#topnav .logo{ width:200px; float:left; margin:48px 0 0 5px; display:inline;}
#topnav h5{width:190px;color:#044e99; float:right; font-size:12px; font-weight:normal; padding:75px 10px 0 0; text-align:right;}#topnav h5 a{ color:#044e99}
#nav{ width:100%; background:url(//mat1.gtimg.com/gd/images/weibo/wb_nav.png) no-repeat; float:left; margin-top:9px; line-height:50px;}
#nav ul{width:495px; float:left; margin-left:17px; display:inline;}
#nav li{width:98px; font:16px/50px "微软雅黑";float:left;}
#nav li a{ color:#fff;}
#nav dl{width:323px;color:#fff; float:left; font-size:14px;} 
#nav dd{ text-indent:24px; float:left;}
#nav dd.gb{width:198px;}#nav dd.tz{width:115px;}
#nav h4 {width:112px; height:25px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit.png) no-repeat; float:left; font-size:14px; color:#fff; margin:12px 0 0 0; line-height:25px; text-indent:30px;}
#nav h4 a{ color:#0267af;}
#part01{width:960px; margin:0 auto; overflow:hidden;}
.section{width:678px; float:left;}
#huati{height:327px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_bg2.png) no-repeat}
#huati .hd h2{width:555px; float:left; font:22px/32px "微软雅黑"; margin-top:18px; text-indent:25px; height:32px; overflow:hidden; }#huati .hd h2 a{ color:#04529e;}
#huati .hd span{width:97px; height:28px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit2.png) no-repeat; float:left; font-size:14px; color:#0264aa; font-weight:bold; line-height:28px; text-align:center; margin-top:23px;}#huati .hd span a{color:#0264aa;}
#huati .daoyu{font-size:12px; line-height:20px; padding:24px 40px 0; height:40px; overflow:hidden}
#huati .daoyu strong{ color:#097fd1;} 
#huati_ul{ padding:18px 32px 0;position:relative; overflow:hidden;}
#huati ul{top:0; left:0; padding:0;}
#huati ul li{}
#huati ul li .conli_left{ width:68px; float:left; padding:7px 0px 0px 10px;}
#huati ul li .conli_left img{ width:50px; height:50px; border: solid 1px #D5D3D4; padding:1px;}
#huati ul li .conli_right{ width:525px; float:left;}
#huati ul li .conli_right p{ font-size:14px; font-family:'simsun', 'Arial'; color:#333333; line-height:24px;}
#huati ul li .conli_right a{ color:#097FD1;}
#huati ul li .conli_right a:hover{ text-decoration:underline;color:#097FD1;}
#huati ul li .conli_right .date{color:#666666; font-size:12px; padding:3px 0px;}
#huati .ft{ display:none;}
#reyi{ background:#fff; border:solid 1px #e6e6e6; margin:0 auto;}
#reyi .hd{ height:35px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit3.png) repeat-x;color:#0c4c90; line-height:35px;}
#reyi .hd h2{width:135px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit4.png) no-repeat; float:left; text-indent:-9999px;}
#reyi .hd p{width:240px;float:right;font-size:12px;}#reyi .hd a{ color:#0c4c90;}
#reyi .hd span{float:right;font-size:12px; margin:0 10px 0 5px; display:inline;}
#reyi .bd{ height:430px; overflow:hidden;}
#con{}
#con ul{ margin:0px 20px; top:0; left:0; padding:0;}
#con ul li{ width:100%; border-bottom:1px #D9D9D9 dotted; padding:22px 0px 13px; overflow:hidden;}
#con ul li .conli_left{ width:68px; float:left; padding:0px 0px 0px 5px;}
#con ul li .conli_left img{ width:50px; height:50px; border: solid 1px #D5D3D4; padding:1px;}
#con ul li .conli_right{ width:555px; float:left;}
#con ul li .conli_right p{ font-size:14px; font-family:'simsun', 'Arial'; color:#333333; line-height:24px;}
#con ul li .conli_right a{ color:#097FD1;}
#con ul li .conli_right a:hover{ text-decoration:underline;color:#097FD1;}
#con ul li .conli_right .date{color:#666666; font-size:12px; padding:3px 0px;}
#weibo{width:676px; overflow:hidden; background:#fff; border:solid 1px #e6e6e6;}
#weibo .hd{ height:35px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit3.png) repeat-x;color:#0c4c90; line-height:35px;}
#weibo .hd h2{width:130px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit5.png) no-repeat; float:left; text-indent:-9999px;}
#weibo .hd p{width:460px;float:right;font-size:12px; margin-right:20px; display:inline;}#weibo .hd a{ color:#0c4c90;}
#weibo .wb_tit{width:153px; height:608px;float:left; margin:1px 0 0 1px; display:inline}
#weibo .wb_tit li{ height:32px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit9.png) no-repeat; cursor:pointer; color:#0c4c90;font-size:14px; line-height:32px; text-indent:36px;}
#weibo .wb_tit li.on{background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit10.png) no-repeat;  font-weight:bold;}
#weibo .wb_tit li.noborder{ margin-top:-2px; background:#e5e9ec; margin-right:8px;}
#weibo .wb_con{width:507px; height:601px; overflow:hidden; float:left; padding-left:15px;}
.weibonavrightpart ul{width:100%; overflow:hidden;}
.weibonavrightpart ul li{ width:165px; float:left; margin-top:20px; vertical-align:middle;}
.weibonavrightpart .weibonavrpart_l{ width:56px; float:left;}
.weibonavrightpart .weibonavrpart_l img{ margin:0px auto;}
.weibonavrightpart .weibonavrpart_l .userpics{ width:50px; height:50px; border: solid 1px #D1D1D1; padding:2px; margin:0px 0px 3px 0px;}
.weibonavrightpart .weibonavrpart_r{ width:100px; float:left; padding:0px 0px 0px 8px;}
.weibonavrightpart .weibonavrpart_r p{ font-size:12px; color:#343434; line-height:20px;}
.weibonavrightpart .weibonavrpart_r p span{ font-size:14px; color:#2A4E72; line-height:24px;}
.weibonavrightpart .weibonavrpart_r p span a{color:#2b4a78; text-decoration:none;}
.weibonavrightpart .weibonavrpart_r p span a:hover{color:#2A4E72; text-decoration:underline}
.weibonavbutton{ width:242px; padding:30px 0px 0px 160px;}
.weibonavbutton img{ float:left; width:190px; height:58px;}
.weibonavbutton p{ width:100px; float:left; font-size:12px; color:#126D8B; padding:23px 0px 0px 15px;}
.weibonavbutton p a{color:#126D8B; text-decoration:none;}
.weibonavbutton p a:hover{color:#126D8B; text-decoration:underline}
#part01 .side{width:265px; background:#0f569c url(//mat1.gtimg.com/gd/images/weibo/wb_bg3.png) no-repeat; float:right;}
#login { height:152px; padding:18px 0 0 18px; overflow:hidden;}
#login li{ margin-bottom:13px;}
#wbht .hd{ height:46px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit7.png) no-repeat; text-indent:-9999px;}
#wbht{ height:359px; overflow:hidden;}
#wbht ul{ margin:5px 0 0 18px}
#wbht li p{ font-size:14px; line-height:26px;}
#wbht li p a{ color:#fff;}
#wbht .weibotopicpart{width:230px; margin-bottom:5px;}
#wbht .weibotopicpart .weibotopictop{ height:20px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_bg4.png) no-repeat; }
#wbht .weibotopicpart .weibotopicmid{ background:url(//mat1.gtimg.com/gd/images/weibo/wb_bg4.png) left bottom no-repeat;line-height:21px; font-size:12px; padding:2px 12px 10px;}
#wbht .weibotopicpart a{ color:#545454;;}
#huodong{ margin-top:20px}
#huodong .hd{ height:46px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit8.png) no-repeat; text-indent:-9999px;}
#huodong .bd{ padding:15px 0 8px;}
#huodong li{width:230px; margin:0 auto 5px;}
#huodong li img{ display:block; border:5px solid #fff;}
#huodong li p{ line-height:38px; text-align:center; font-size:14px; font-weight:bold;}#huodong li p a{ color:#fff;}
#hezuo{ width:958px; background-color:#fff; border:solid 1px #e6e6e6; margin:0 auto;}
#hezuo .hd{ height:35px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit3.png) repeat-x;color:#0c4c90; line-height:35px;}
#hezuo .hd h2{width:108px; background:url(//mat1.gtimg.com/gd/images/weibo/wb_tit11.png) repeat-x;color:#0c4c90; text-indent:-9999px;}
#hezuo ul{ margin:15px 15px;}
#hezuo li{ color:#333; font-size:12px; line-height:24px;}
.clear{ clear:both; height:0; overflow:hidden;}
.hr10{height:10px; overflow:hidden;}
.hr15{height:15px; overflow:hidden;}
.hr20{height:20px; overflow:hidden;}/*  |xGv00|3b8ec4b601d9b99c3b0340ebed7199a4 */