@charset "gb2312";
/* css by xingwanghan 2012.12.04 */
/* CSS Document */
body{ color:#666;}
a{ color:#438513;}
a:hover{ color:#438513;}

.banner{ font-size:0; height:0; line-height:0; overflow:hidden;}
.layout{ width:1000px;}
.layout .main{ border-right:1px solid #e9e9e9; float:left; padding-right:19px; width:640px;}
.layout .extra{ float:right; width:320px;}
/*header begin*/
.header{ height:42px; padding-top:15px;}
.logo{ float:left; width:322px;}
.login{ color:#999; float:right; height:42px; line-height:42px; text-align:right; width:640px;overflow:hidden;}
.login span{ color:#8a8a8a; font-size:12px; float:right; padding:0 6px; white-space: nowrap;}
.login a,.login a:hover{ color:#438513}
.login .logout{ color:#999;}
.login .mess{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -350px no-repeat; padding-left:20px;}
.login .mess:hover{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -370px no-repeat; text-decoration:none;}
.login .login_btn{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) -80px 0px no-repeat; color:#fff; font-family:"微软雅黑", "黑体"; font-size:14px; float:right; height:24px; line-height:24px; margin:9px 0 0 15px; text-align:center; width:66px;}
.login .login_btn:hover{ color:#fff; text-decoration:none;}
.login .loginname{ overflow:hidden;}
.login .loginname img{ border:1px solid #d6d6d6; float:left; height:22px; margin:7px 10px 0 0; padding:2px; vertical-align:middle; width:22px;}
/*header end*/
/*nav begin*/
.nav{ background:#579f23; height:38px; margin-top:20px;}
.nav ul{ overflow:hidden; padding:0 15px; width:970px;}
.nav li{ float:left; height:38px; line-height:38px;}
.nav .line{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/navLine.png) center no-repeat; height:38px; padding:0 15px; width:2px;}
.nav li a{ color:#f9fafd; display:inline-block; font-family:"微软雅黑", "黑体"; font-size:14px; height:38px; padding:0 13px;}
.nav li a:hover,.nav .current a{ background:#438513; color:#f9fafd; text-decoration:none;}
/*nav end*/
/*focusLayout begin*/
.focusLayout{ margin-top:10px;}
.fs_D1{ border:1px solid #e5e5e5; height:300px; position:relative; width:638px;}  
.fs_D1 .fPic{ position:absolute; left:0px; top:0px; }  
.fs_D1 .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.fs_D1 .shadow{ width:608px; position:absolute; bottom:20px; left:0px; z-index:10; height:40px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block; line-height:40px; overflow:hidden; padding:0 15px;}  
.fs_D1 .shadow em{ background:#e74866; color:#fff; font-size:14px; float:left; height:20px; line-height:20px; margin-top:10px; text-align:center; width:40px;}
.fs_D1 .shadow a{ color:#fff; font-family:"微软雅黑", "黑体"; font-size:18px; overflow:hidden; margin-left:10px; text-decoration:none;}  
.fs_D1 .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.fs_D1 .fcon img{ display:block; height:300px; width:638px;}  
.fs_D1 .fbg{ width:638px; background:#000; bottom:0px; left:0px; position:absolute; height:20px; text-align:center;  }  
.fs_D1 .fbg div{margin:3px auto 0;overflow:hidden;zoom:1;height:14px}    
.fs_D1 .D1fBt a{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -170px no-repeat; display:inline-block; height:14px; position:relative; margin:0 2px; outline:0px; text-decoration:none; width:14px;}    
.fs_D1 .D1fBt .current,.fs_D1 .D1fBt a:hover{ background-position:-20px -170px;}    
.fs_D1 .D1fBt img{display:none}    
.fs_D1 .D1fBt i{display:none; font-style:normal; }    
.fs_D1 .prev{ display:none;}  
.fs_D1 .next{ display:none;}
.focusNum{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/FNum1_bg.png) no-repeat; height:303px; padding:0 20px; width:280px;}
.yililiang{ display:block; height:94px; width:280px;}
.focusNum dl{ font-family:"微软雅黑", "黑体"; height:86px;}
.focusNum dt{ font-size:16px; height:36px; line-height:36px;}
.focusNum dd{ font-size:18px; line-height:46px;}
.focusNum dd span{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/numbox_bg.png) no-repeat; color:#579f23; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:30px; height:46px; line-height:46px; margin-right:10px; padding-right:14px; text-align:right; width:210px;}
/*focusLayout end*/
/*content begin*/
.main .head{ border-bottom:1px solid #e9e9e9; font-family:"微软雅黑", "黑体"; height:52px; line-height:52px;}
.main .head span{ color:#333; font-size:15px;}
.main .head a{ color:#333; margin-right:8px; padding:2px 4px;}
.main .head a:hover,.main .head .current{ background:#579f23; color:#fff; text-decoration:none;}
.main .head2 a{ color:#438513; margin:0 10px; padding:0;}
.main .head2 a:hover{ background:#fff; color:#438513; text-decoration:underline;}
.main .Q-tpList{ border-bottom:1px solid #e9e9e9; padding:15px 0; width:640px;}
.main .Q-tpList .title{ display:block; font-family:"微软雅黑", "黑体"; font-size:22px; font-weight:normal; height:32px; line-height:32px; overflow:hidden;}
.main .Q-tpList .title a{ color:#222;}
.main .Q-tpList .title a:hover{ background:#579f23; color:#fff; text-decoration:none;}
.main .Q-tpList .title span{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) no-repeat; color:#fff; display:block; font-size:14px; float:left; height:32px; margin-right:15px; padding-right:3px; text-align:center; width:36px;}
.main .Q-tpWrap{ margin-top:15px; zoom:1;}
.main .Q-tpWrap .pic{}
.main .Q-tpWrap p{ zoom:1;}
.main .Q-tpWrap .pb{ padding-bottom:15px;}s
.main .Q-tpWrap .number{ margin-top:15px; zoom:1;}
.main .Q-tpWrap .number .btn{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -40px no-repeat; color:#fff; display:inline-block; height:18px; line-height:18px; margin-right:15px; text-align:center; padding-right:3px; width:28px;}
.main .Q-tpWrap .number .btn:hover{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -40px no-repeat; text-decoration:none;}
.main .Q-tpWrap .number span{ color:#fff; display:inline-block; height:18px; line-height:18px; margin-right:12px; padding-right:3px; text-align:center; width:28px;}
.main .Q-tpWrap .number em{ color:#438513; font-weight:normal; margin-right:15px;}
.main .Q-tpWrap .number .jkbtn{ background:#579f23; color:#fff; display:inline-block; height:20px; line-height:20px; padding:0 5px;text-align:center;width:60px;}
.main .Q-tpWrap .number .jkbtn:hover{ background:#579f23; text-decoration:none;}
.main .Q-tpWrap .time{ color:#999; padding-right:10px; zoom:1;}
.main .Q-tpWrap .time .plbtn{ float:right; zoom:1;}
.main .Q-tpWrap .time .pl{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -400px no-repeat; color:#c2c2c2; display:inline-block; height:14px; line-height:14px; margin-top:4px; padding-left:20px;}
.main .Q-tpWrap .time .pl:hover{ background-position:0 -420px; color:#438513;}
.main .Q-tpWrap .time .from:hover{ background:#579f23; color:#fff; padding:2px; text-decoration:none;}
.main .Q-tpWrap .tag a{ margin-right:6px;}
.main .Q-tpList .pic2{ display:block; margin-right:0; margin-bottom:10px;}
#pageZone1{ font-family:"微软雅黑", "黑体"; font-size:16px; margin-top:60px; overflow:hidden;}
#pageZone1 .count{ display:none;}
#pageZone1 span{ border:1px solid #e2e2e2; cursor:pointer; float:left; height:34px; line-height:34px; margin-right:5px; text-align:center; width:34px;}
#pageZone1 .Disabled{ color:222; font-size:14px; height:34px; width:85px;}
#pageZone1 span a{ color:#222; display:inline-block; height:34px; text-decoration:none; width:34px;}
#pageZone1 .Disabled a{ width:85px;}
#pageZone1 .current,#pageZone1 span a:hover{ background:#579f23; color:#fff;}
/*content end*/
/*extra begin*/
.extra .hd{ border-bottom:1px solid #e9e9e9; height:52px; line-height:52px;}
.extra .hd h2{ border-bottom:1px solid #579f23;  font-family:"微软雅黑", "黑体"; font-size:22px; font-weight:normal; height:52px; margin-right:10px; position:relative; _bottom:-1px;}
.extra .hd h2 a{ color:#222;}
.extra .hd h2 a:hover{ color:#438513; text-decoration:none;}
.extra .hd .dot{ border-top:5px solid transparent; border-right:5px solid transparent; border-left:5px solid transparent; border-top-color:#579f23; border-right-color:#fff; border-left-color:#fff; float:left; height:0; margin-top:24px; overflow:hidden; width:0;}
.extra .Q-tpList{ padding-bottom:10px;}
.extra .Q-tpWrap{ padding-top:20px;}
.extra .Q-tpWrap .pic{ margin-top:5px;}
.extra .Q-tpWrap em{ font-family:"微软雅黑", "黑体"; height:26px; line-height:26px; overflow:hidden;}
.extra .Q-tpWrap em a{ color:#222;}
.extra .Q-tpWrap em a:hover{ color:#438513; text-decoration:none;}
/*.extra .Q-tpWrap p .green{ color:#438513;} */
.extra .right{ margin-top:8px; line-height:20px; text-align:right;}
.extra .right a{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) -80px -80px no-repeat; color:#fff; display:inline-block; height:20px; line-height:20px; margin-left:10px; text-align:center; width:69px;}
.extra .right a:hover{/* background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) -80px -120px no-repeat;*/ text-decoration:none;}
.extra .Q-pList li{ text-align:left; padding-top:20px; width:320px;}
.extra .Q-pList .Q-vBg{ height:35px; line-height:35px; margin-top:-35px; padding-left:10px; text-align:left; width:310px;}
.extra .Q-pList .Q-vBg a{ color:#fff; font-family:"微软雅黑", "黑体"; font-size:16px;}
.extra .Q-pList .num{ padding-bottom:5px;}
.extra .Q-pList p{ color:#222;}
.extra .Q-pList p span{ color:#fff; display:inline-block; height:18px; line-height:18px; margin-right:12px; padding-right:3px; text-align:center; width:28px;}
.aim{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -60px no-repeat;}
.yet{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -80px no-repeat;}
.extra .Q-pList p em{ margin-right:12px;}
.wbIcon{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/wbIcon.png) right center no-repeat; padding-right:16px;}
.ScA2{ position:relative }   
.ScA2 .scwr{ position:relative; top:px; left:px; overflow: hidden; zoom: 1; width:320px; height:262px; }   
.ScA2 .scwr2{ height:200px;}
.ScA2 .split{ float:left; }   
.ScA2 .prev,.ScA2 .next{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -110px no-repeat #ccc; cursor:pointer; display:block; height:20px; position:absolute; top:-34px; width:21px;}  
.ScA2 .prev{ background-position:0 -110px; right:30px;}    
.ScA2 .next{ background-position:-30px -110px; right:0px;}
.ScA2 .prevMouseClass{ background-position:0 -140px;} 
.ScA2 .nextMouseClass{ background-position:-30px -140px;}
.extra .videoList .Q-vBg{ padding-left:40px; width:280px;}
.Q-vBg b{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/videoIcon.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="http://mat1.gtimg.com/gongyi/index_inc2012/videoIcon.png"); height:24px; left:10px; top:6px; width:24px;}
.advBox{ border-top:1px solid #e9e9e9; margin-top:20px; padding-top:20px; width:320px;}
/*extra end*/
.footWp{ background:#f4f4f4; border-top:1px solid #e1e1e1; margin-top:60px; padding:25px 0;}
.partner .hd{ border-bottom:1px solid #e1e1e1; padding-bottom:20px;}
.partner .bd{ border-top:1px solid #fff; padding:0;}
.partner h2{ color:#222; font-family:"微软雅黑", "黑体"; font-size:22px; font-weight:normal; line-height:32px;}
.partner h3{color: #222222; font-family: "微软雅黑","黑体"; font-size: 16px; font-weight: normal; height:60px; line-height:60px;}
.partner p{ color:#999; line-height:26px;}
.partner a{ color:#333;}
.partner a:hover{ background:#579f23; color:#fff; padding:2px 0; text-decoration:none;}
.partner .ft{ padding-top:20px;}
#tcopyright{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/footline.png) repeat-x; padding:10px 0; width:1000px;}
/*toTop begin*/
#toTop{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -190px no-repeat; width: 58px;height: 58px;display: block;position: fixed;right: 25px;bottom: 45px;}
#toTop:hover{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0 -250px no-repeat;}
/*toTop end*/
/*plArea begin*/
.plArea { width: 624px; height: auto; padding:7px; border: 1px solid #d7d7d7; clear: both; margin: 20px auto 0px auto; background: #f9fafd; position: relative }
.plArea .closeBtn { width: 15px; height: 15px; clear: both; background: url(http://mat1.gtimg.com/tech/2012/2012keji/bg.png) -52px -49px no-repeat; position: absolute; right: 5px; top: 5px; z-index: 2; }
.plArea .closeBtn a { display: block; background: url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) -50px -0px no-repeat; height: 15px;  width: 15px;}
.plArea .closeBtn a:hover { background-position:-50px -20px;}
.plArea li { padding: 10px 0px; border-top: 1px dotted #d4d5d7; }
.plArea li span { float: none }
.plArea li span a { color: #4c7caa }
.plArea li p { display: inline }
.plContent { width: 596px; margin: 0 auto; clear: both }
.plContent .hd { padding-right: 15px; height: 18px; line-height: 18px }
.plContent .hd h2, .plContent .bd h2 { font-family: Microsoft YaHei; font-size: 15px; color: #222 }
.plContent .bd h2 { margin-bottom: 10px; margin-top: 10px }
.plContent .hasCom { float: right; color: #666; height: 16px; line-height: 16px }
.plContent .hasCom a { color: #4c7caa; font-family: simsun; margin-left: 5px }
.plContent .hasCom a:hover { color: #cc0000 }
.plDinfo { clear: both }
.plDinfo .logoinFrm { height: 270px }
.plDinfo textarea { width:594px; height: 74px; border: 1px solid #c1c1c1; margin-top: 10px; outline: none; resize: none }
.plDinfo .commt-sub { height: 29px; line-height: 29px; clear: both; position: relative }
.plDinfo .commt-sub .submit { position: absolute; top: 3px; width: 67px; height: 25px; line-height: 25px; text-align: center; border: none; cursor: pointer; color: #fff; background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) 0px -310px no-repeat; right: 0px }
.plDinfo .commt-sub a { color: #4c7caa; font-family: simsun }
.plDinfo span.sync_mb input { float: left; vertical-align: middle; margin-top: 7px; *margin-top:3px; margin-right:3px }
.plDinfo .cmt_status { color: #666; margin-left: 107px; display: inline; font-family: "宋体", "Arial Narrow", HELVETICA }

.hotlist .newsinfo { position: relative }
.hotlist .newsinfo a { padding-left: 0px }
#login_list { height: auto }
#ComTitle { display: none }
#cmt_jump_form { display: none }
/*plArea end*/
/*基金会页 begin*/
.lhjjh{ padding:15px 0 0;}
.lhjjh .Q-tpList{ border-bottom:none;}
.lhjjh .hd{ border-bottom:1px solid #e9e9e9; height:64px; line-height:52px;}
.lhjjh .hd h2{ font-family:"微软雅黑", "黑体"; font-size:30px; font-weight:normal;}
.lhjjh .right{ text-align:right;}
.lhjjh .right a{ background:#aed195; color:#fff; display:inline-block; height:18px; line-height:18px; padding:0 5px;}
.lhjjh .right a:hover{ background:#579f23; text-decoration:none;}
.lhjjh .extra .Q-tpList{ background:#f4f7ef; padding:0 15px 12px; width:290px;}
.lhjjh .extra .Q-tpWrap{ padding:10px 0 5px;}
.lhjjh .extra .Q-tpList img{ border:1px solid #e9e9e9;}
/*基金会页 end*/
#login_div{ background:#fff;}
#_MaskLayout_gongyi_penwang{ background:#333!important;}
#zhude .right a,#activity .right a{ background:url(http://mat1.gtimg.com/gongyi/index_inc2012/bgs_v2.png) -80px -160px no-repeat; width:33px;}/*  |xGv00|559b558b39a56e8b40270145e223ea2c */