@charset "gb2312";
body{margin:0;padding:0; background:#fff; }
form,p,span,div,ul,li,input,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
td,body,select{font-size:12px; color:#333;}
li { list-style:none; }
img{border:none;}


#tab1 ul li.over,#tab1 ul li.out,#tab2 ul li.over,#tab3 ul li.over,#tab4 ul li.over,#tab5 ul li.over,#tab6 ul li.over,#bbsnav ul li a:hover,.hotBbs,.ibbPicList,.bbsGonggao,.bbsGonggaoList,.top10Title,.top10List,.xinWenBbsTitle,.xinWenBbsBgTle,.xinWenBbsBgTle2,.xinWenBbsList,.banzhuListTle,.banzhuList,.qcbgtle,.qctitle,.qcbgtle2,.qcBbsList,.ibbspic4_07,.ibbspic4_08,.ylbbspic1_03,.ylbbspic1_04,.ylbbspic1_05,.ylbbspic1_08,.nxbbspic1_03,.nxbbspic1_04,.nxbbspic1_05,.nxbbspic1_08,.yxbbspic1_03,.yxbbspic1_04,.yxbbspic1_05,.yxbbspic1_08,.ibbspic1_03,.ibbspic1_08,.ibbspic1_06,.dengluBtn,.ibbspic3_11,.ibbspic3_08{background:url(//mat1.gtimg.com/cd/guyuecha/by/indexPage_btn_src1_3.jpg) no-repeat; overflow:hidden}

.hotBbsList{background:#F4F7FB url(//mat1.gtimg.com/cd/guyuecha/by/indexPage_btn_src1_3.jpg) no-repeat; background-position:0px -730px}
.topBbsList{background:url(//mat1.gtimg.com/cd/guyuecha/by/indexPage_btn_src1_3.jpg) no-repeat; background-position:-1200px -400px}
.hotBbs{ background-position:-500px 0px}
.ibbPicList{ background-position:-500px -50px}
.bbsGonggao{ background-position:-360px -140px}
.bbsGonggaoList{background-position:-400px -220px}
.top10Title{ background-position:-670px -145px}
.top10List{background-position:-670px -220px}

.xinWenBbsTitle{ background-position:0px -160px; width:161px; height:35px}
.xinWenBbsBgTle{background-position:-840px 0px}
.xinWenBbsBgTle2{ background-position:-390px -390px}
.xinWenBbsList{ background-position:-940px -220px}
.banzhuListTle{ background-position:-385px -455px}
.banzhuList{ background-position:-670px -550px}
.qcbgtle{background-position:-890px -45px}
.qctitle{background-position:-170px -160px; width:161px; height:35px}
.qcbgtle2{background-position:-392px -521px}
.qcBbsList{background-position:-980px -220px}
.ibbspic4_07{background-position:0px -620px}
.ibbspic4_08{background-position:-945px -545px}
.ylbbspic1_03{background-position:-980px -100px;width:161px; height:35px}
.ylbbspic1_04{background-position:-395px -570px}
.ylbbspic1_05{background-position:0px -660px}
.ylbbspic1_08{background-position:-1020px -220px}
.nxbbspic1_03{background-position:0px -220px;width:161px; height:35px}
.nxbbspic1_04{background-position:0px -280px}
.nxbbspic1_05{background-position:0px -330px}
.nxbbspic1_08{background-position:-1070px -220px}
.yxbbspic1_03{background-position:-170px -220px;width:161px; height:35px}
.yxbbspic1_04{background-position:0px -380px}
.yxbbspic1_05{background-position:0px -430px}
.yxbbspic1_08{background-position:-1110px -220px}
.ibbspic1_03{background-position:0px -480px;width:138px; height:33px}
.ibbspic1_08{background-position:-950px -160px;width:45px; height:21px;cursor:pointer;border:0px none; border:0px none!important; }
.ibbspic1_06{background-position:-1000px -160px;width:47px; height:21px;cursor:pointer;border:0px none; border:0px none!important; }
.dengluBtn{background-position:-1060px -160px;width:47px; height:21px;cursor:pointer;border:0px none; border:0px none!important; }
.ibbspic3_11{background-position:-340px -698px}
.ibbspic3_08{background-position:-170px -480px; width:15px; height:44px;cursor:pointer;border:0px none; border:0px none!important; }




h4{font-size:14px;}
.input1{width:125px; height:19px; border:1px solid #B3C6DF; }
.imgbor1{ border:1px solid #BEC5D4; padding:1px; background:#fff}
.imgbor2{ border:1px solid #BEC5D4; padding:3px; background:#fff}
a{ text-decoration:none; color:#333}
a:hover{ text-decoration:underline; color:#f00}


.fontht{font-family:黑体;}
.fontxt{font-family:}

.fontvd{font-family:Verdana;}

.white,.white a,.white a:hover{ color:#ffffff}


.lan1,.lan1 a{ color:#333333}
.lan1 a:hover{ color:#333333}

.lan2,.lan2 a{ color:#333333}
.lan2 a:hover{ color:#333333}

.lan3,.lan3 a{ color:#333333}
.lan3 a:hover{ color:#333333}

.gary1,.gary1 a{ color:#888888}
.gary1 a:hover{ color:#f00}

.orange1,.orange1 a{ color:#FD9706}
.orange1 a:hover{ color:#f00}

.orange2,.orange2 a{ color:#E77800}
.orange2 a:hover{ color:#f00}

.green1,.green1 a{ color:#82B000}
.green1 a:hover{ color:#f00}

.uline a{ text-decoration:underline}
.uline a:hover{ text-decoration:none}

.fontl16{line-height:16px;}
.fontl18{line-height:18px;}
.fontl20{line-height:20px;}
.fontl22{line-height:22px;}
.fontl24{line-height:24px;}
.fontl25{line-height:25px;}
.fontl26{line-height:26px;}
.fontl28{line-height:28px;}
.fontl30{line-height:30px;}
.fontl32{line-height:32px;}
.fontl34{line-height:34px;}  
.fontl38{line-height:38px;}
.fontl36{line-height:36px;}
.font2em{text-indent:2em;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font22{font-size:22px;}
.font26{font-size:26px;}
.fontbold{font-weight:bold;}
.fl{float: left;}
.fr{float: right;}
.mart3{ margin-top:3px;}
.mart5{ margin-top:5px;}
.mart6{ margin-top:6px;}
.mart8{ margin-top:8px;}
.mart7{ margin-top:7px;}
.mart10{ margin-top:10px;}
.mart12{ margin-top:12px;}
.mart15{ margin-top:15px;}

.mart18{ margin-top:18px;}
.mart20{ margin-top:20px;}
.mart25{ margin-top:25px;}
.marb10{ margin-bottom:10px;}
.marb5{ margin-bottom:5px;}
/*页卡*/

.dis{ display:block; }
.undis{ display:none;}
#tab1{}
#tab1 ul{margin-left:14px;}
#tab1 ul li{float:left; font-size:12px;cursor:pointer; margin-left:0px; margin-right:0px;}
#tab1 ul li.over{float:left; height:29px; margin-left:-1px; line-height:29px;width:83px; text-align:center; color:#333333; background-position:0px 0px;}
#tab1 ul li.out{float:left; height:29px; line-height:29px;width:83px; text-align:center;  color:#000; background-position:-100px 0px; }


#tab2{}
#tab2 ul{margin-left:14px;}
#tab2 ul li{float:left; font-size:12px;cursor:pointer; margin-left:0px; margin-right:0px;font-weight:bold;}
#tab2 ul li.over{float:left; height:28px; line-height:28px;width:120px; text-align:center; color:#333333; background-position:-200px 0px; }
#tab2 ul li.out{float:left; height:28px; line-height:28px;width:120px; text-align:center;  color:#888888;  }


#tab3{}
#tab3 ul{margin-left:14px;}
#tab3 ul li{float:left; font-size:12px;cursor:pointer; margin-left:0px; margin-right:0px;font-weight:bold;}
#tab3 ul li.over{float:left; height:28px; line-height:28px;width:120px; text-align:center; color:#333333;  background-position:-350px 0px;}
#tab3 ul li.out{float:left; height:28px; line-height:28px;width:120px; text-align:center;  color:#888888;  }


#tab4{}
#tab4 ul{margin-left:14px;}
#tab4 ul li{float:left; font-size:12px;cursor:pointer; margin-left:0px; margin-right:0px;font-weight:bold;}
#tab4 ul li.over{float:left; height:28px; line-height:28px;width:120px; text-align:center; color:#333333; background-position:0px -40px;}
#tab4 ul li.out{float:left; height:28px; line-height:28px;width:120px; text-align:center;  color:#888888;  }


#tab5{}
#tab5 ul{margin-left:14px;}

#tab5 ul li{float:left; font-size:12px;cursor:pointer; margin-left:0px; margin-right:0px;font-weight:bold;}
#tab5 ul li.over{float:left; height:28px; line-height:28px;width:120px; text-align:center; color:#333333; background-position:-140px -40px;}
#tab5 ul li.out{float:left; height:28px; line-height:28px;width:120px; text-align:center;  color:#888888;  }


#tab6{}
#tab6 ul{margin-left:14px;}
#tab6 ul li{float:left; font-size:12px;cursor:pointer; margin-left:0px; margin-right:0px;font-weight:bold;}
#tab6 ul li.over{float:left; height:28px; line-height:28px;width:120px; text-align:center; color:#333333;background-position:-280px -40px;}
#tab6 ul li.out{float:left; height:28px; line-height:28px;width:120px; text-align:center;  color:#888888;  }


#bbsnav{width:960px; height:27px; margin-top:0px; margin-left:auto; margin-right:auto; padding-top:6px; background:url(//mat1.gtimg.com/bbs/sybbsimg/ibbspic1_13.jpg) no-repeat; }
#bbsnav ul{margin-left:20px;}
#bbsnav ul li{float:left; width:39px; height:21px; line-height:21px;font-size:14px;text-align:center; color:#fff; }
#bbsnav ul li a{float:left; width:39px; height:21px; line-height:21px;font-size:14px;color:#fff; }
#bbsnav ul li a:hover{float:left; width:39px; height:21px; line-height:21px;font-size:14px;color:#fff;  background-position:-410px -40px; text-decoration:none;}
#bbsnav ul li.line{width:13px; height:23px; background:url(//mat1.gtimg.com/bbs/sybbsimg/bbsnavline.gif) no-repeat center center; }


.swf_content{
	width:310px;
	height:397px;
}
/*  |xGv00|505e04ede4af64eb594fcf893b541b23 */