/*
 * author: windguo#tencent.com
 * updata: 2013-04-15 17:48:45
*/
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select{margin:0;padding:0;}
body{font:12px "ËÎÌå","Arial Narrow",HELVETICA;background:#FFF;-webkit-text-size-adjust:100%;color:#333;background:#FFF;line-height:22px;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none; color:#0b4e99;}
em{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
p{word-wrap:break-word;}
.undis{display:none;}
.dis{display:block;}
.i2{text-indent:2em;}
.cf:after,.layout:after,.hd:after,.bd:after,.ft:after,.qBox:after,.box:after,.rbox:after,.Q-box:after,.sBox{content:"";display:table;clear:both;}
.cf,.layout,.hd,.bd,.ft,.qBox,.box,.rbox,.Q-box,.sBox{*zoom:1;}
.layout{ width:1000px; margin:0 auto}
.c_838383{ color:#838383;}
.fl{ float:left; _display:inline}
.fr{ float:right; _display:inline}
.c_1a9ea6{ color:#1a9ea6;}
i.cover{ background:#000;opacity:0.7;filter:alpha(opacity=70); display:block; position:absolute; left:0px;}
.l26{ line-height:26px;}
.yh{ font-family:"Î¢ÈíÑÅºÚ"; font-weight:normal;}
.mt20{ margin-top:20px;}
.tih{text-indent:-999em; overflow:hidden;}
.pos{ position:relative;}
.bor1{border:1px solid #9ce0e3}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.tc{ text-align:center}
.f18{ font-size:18px;}
.l27{ line-height:27px;}
.m10{ margin-top:15px; margin-bottom:15px}
body{ background:url(//mat1.gtimg.com/house/wind/ency/images/bj.gif)}

.hWrap{ background:url(//mat1.gtimg.com/house/wind/ency/images/headBg.gif) repeat-x; margin-bottom:20px; z-index:200}
.header{ background:url(//mat1.gtimg.com/house/wind/ency/images/hBanner.jpg) no-repeat top center; height:99px;}
.nav span{padding:10px 0; display:block; width:123px; padding-bottom:10px;color:#fff;font-size:14px; font-weight:bold;}

.mymenu{height:40px;float:right;position:relative;padding-top:32px; padding-right:20px;font-size: 15px;line-height:40px;}
.mymenu a:hover{ color:#4f8bd5; text-decoration:none}
.myitem{position:relative;float:left;width:40px;padding-left:8px;height:40px;cursor:pointer;overflow:hidden;}
.icobox{left:0;top:0;position:absolute;width:40px;height:40px;z-index:2;}
.link{display:block;width:40px;height:40px;z-index:3;}
.item_content a{color:#4f8bd5;}
.icon_wb{ background:url(//mat1.gtimg.com/house/wind/ency/images/htIco_24.png) no-repeat left top; text-indent:30px;_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/htIco_24.png');}
.icon_find{ background:url(//mat1.gtimg.com/house/wind/ency/images/hMailIco_24.png) no-repeat left top; text-indent:30px;_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/hMailIco_24.png');}
.icon_mail{ background:url(//mat1.gtimg.com/house/wind/ency/images/hLxIco_24.png) no-repeat left top; text-indent:30px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/hLxIco_24.png');}
.icon_home{ background:url(//mat1.gtimg.com/house/wind/ency/images/hIndexIco_24.png) no-repeat left top; text-indent:30px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/hIndexIco_24.png');}
.item_content p{ text-indent:41px;}
.htIco_on_24{background:url(//mat1.gtimg.com/house/wind/ency/images/htIco_on_24.png) no-repeat left top; text-indent:30px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/htIco_on_24.png');}
.hMailIco_on_24{background:url(//mat1.gtimg.com/house/wind/ency/images/hMailIco_on_24.png) no-repeat left top; text-indent:30px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/hMailIco_on_24.png');}
.hLxIco_on_24{background:url(//mat1.gtimg.com/house/wind/ency/images/hLxIco_on_24.png) no-repeat left top; text-indent:30px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/hLxIco_on_24.png');}
.hIndexIco_on_24{background:url(//mat1.gtimg.com/house/wind/ency/images/hIndexIco_on_24.png) no-repeat left top; text-indent:30px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/hIndexIco_on_24.png');}

.navMenu{ position:relative; height:46px; width:123px; margin-right:8px;_display:inline; z-index:5000}
.second{ position:absolute; top:44px; left:0px; width:600px; background:#fff; border:1px solid #d5d5d5; border-top:0px; z-index:1000}
.second a:hover{color:#0b4e99}
.navMenu span{ display:inline-block; background:url(//mat1.gtimg.com/house/wind/ency/images/navabg_24.png) no-repeat;_background:url(//mat1.gtimg.com/house/wind/ency/images/navabg_8.png) no-repeat;width:123px; text-indent:40px; position:absolute; top:0px; left:0px; z-index:10001}
.navMenu .ico1{ background-position:0px 9px;}
.navMenu .ico2{ background-position:-120px 8px;}
.navMenu .ico3{ background-position:-246px 9px;}
.navMenu .ico4{ background-position:-375px 6px;}
.navMenu .ico5{ background-position:-501px 9px;}
.navMenu .ico6{ background-position:-624px 6px;}
.navMenu .ico7{ background-position:-746px 8px; text-indent:35px;}

.navMenu .Gico{ background:url(//mat1.gtimg.com/house/wind/ency/images/navOnBg.png) no-repeat;color:#0b4e99; height:51px; cursor:pointer;}
.navMenu .shown2{ background-position:-126px 0px}
.navMenu .shown3{ background-position:-252px 0px}
.navMenu .shown4{ background-position:-378px 0px}
.navMenu .shown5{ background-position:-504px 0px}
.navMenu .shown6{ background-position:-630px 0px}
.navMenu .shown7{ background-position:-756px 0px}

.navMenu .bd{ background:url(//mat1.gtimg.com/house/wind/ency/images/nav_x.gif) repeat-x top center; padding:15px 0; color:#494848; line-height:22px;}
.navMenu .bd a{ display:inline-block;}
.navMenu .bd ul{ margin-left:40px; width:148px;}
.navMenu .bd ul h3{ border-bottom:1px solid #494848; padding-bottom:3px; font-size:14px;}
.navMenu .bd ul p{ padding-top:4px;}
.navMenu .bd ul p.line{ border-top:1px dotted #494848; margin-top:12px;}

.wMains{ background:url(//mat1.gtimg.com/house/wind/ency/images/text_content2.gif) repeat-y;}
.wMain{ padding:15px; background:#fff; width:970px;}
.wMain .first{ background:#f8f8f8;}
.wMain .first .text{ width:280px; position:relative; padding:0 40px; z-index:1}
.wMain .first .text span{ position:absolute; z-index:1}
.wMain .first .text span.draw{right:143px; top:10px;}
.wMain .first .text span.qk{right:0px; top:0px; background:url(//mat1.gtimg.com/house/wind/ency/images/qbg.gif) no-repeat; width:106px;height:43px; display:inline-block; font-size:18px; color:#fff; line-height:43px; text-align:center;}
.wMain .first .text h2{ padding:66px 0 20px 0; font-size:26px;}
.wMain .first .text p{ color:#686868; line-height:26px; font-size:14px;}

.wMain .wrap{ padding:20px 0px;background:url(//mat1.gtimg.com/house/wind/ency/images/text_content_list.gif) repeat-y; margin-top:20px;}
.wMain .main{ width:643px;}
.wMain .slide{overflow:hidden;}

.guide { font-size:14px; padding:10px 0px;}
.guide span{ margin-right:20px; font-weight:bold;}
.guide a{ margin-right:10px; display:inline-block; text-indent:22px;}
.guide a.picList{ background:url(//mat1.gtimg.com/house/wind/ency/images/slt1.gif) no-repeat left;}
.guide a.picListOn{ background:url(//mat1.gtimg.com/house/wind/ency/images/slt2.gif) no-repeat left; color:#5077b8;}
.guide a.textList{ background:url(//mat1.gtimg.com/house/wind/ency/images/lb1.gif) no-repeat left;}
.guide a.textListOn{ background:url(//mat1.gtimg.com/house/wind/ency/images/lb2.gif) no-repeat left; color:#5077b8;}

.mBox{ border-bottom:1px dotted #ccc; margin-bottom:12px; padding-bottom:25px; width:610px;}
.mBox .hd{ padding:10px 0px;}
.mBox .hd span{ display:inline-block; background:#437bba; padding:3px 7px; font-size:14px; font-weight:bold; color:#fff; margin-right:10px; border-radius:5px;}
.mBox .hd h2{ font-weight:bold; font-size:20px; margin-top:2px;}
.mBox .hd h2 a{color:#5077b8;}
.mBox .hd h2 a:hover{ color:#c00;}
.mBox p{ padding-bottom:10px;}

.picBox ul{ margin-right:-10px;}
.picBox li{ float:left; border:1px solid #cbcbcb; margin-right:9px; margin-bottom:9px;_display:inline; padding:3px; overflow:hidden; width:200px;}
.picBox li img{ width:200px; height:135px;}
.picBox li p{ padding:3px 3px 0px 3px;}
.picBox{ margin-right:-10px;}

#pageZone{ clear:both; padding-top:10px;}
.lTitle{ display:none;}
.wMain .slide .hd{ position:relative;height:40px; width:330px; margin-left:8px;}
.wMain .slide .hd i{ background:url(//mat1.gtimg.com/house/wind/ency/images/slide_hbg.gif) no-repeat left; display:inline-block; width:22px;height:33px; position:absolute; top:0px; left:-8px;_left:0px;}
.wMain .slide .hd h2{ background:#58a6fe; padding:0 25px; height:33px; line-height:33px; color:#fff; position:absolute; top:0px; left:14px;_left:22px;font-size:16px;}
.wMain .slide .scan p{ margin-left:40px; margin-top:10px;}
.wMain .slide .bd{ padding-left:20px;}

.no .slide .hd i{ background:url(//mat1.gtimg.com/house/wind/ency/images/slide_hbg.gif) no-repeat left; display:inline-block; width:22px;height:33px; position:absolute; top:0px; left:9px;}
.no .slide .hd h2{ background:#58a6fe; padding:0 25px; height:33px; line-height:33px; color:#fff; position:absolute; top:0px; left:31px; font-size:16px;}



.gContent{padding-left:0px;padding-right:0px; }
#slide{ background:#fff; padding:10px 0px 10px 15px; width:279px;}
#slide .hd i{ background:url(//mat1.gtimg.com/house/wind/ency/images/slide_hbg.gif) no-repeat left; display:inline-block; width:22px;height:33px; margin-left:-14px;}
#slide .hd h2{ background:#58a6fe; padding:0 25px; height:33px; line-height:33px; color:#fff; font-size:16px;}
#slide .scan p{ margin-left:10px; margin-top:10px;}



.wrap{ width:970px; margin:0 auto;}
.content{ width:627px; float:left;display:inline;}
.content .cont{ background:#fff; position:relative; padding:15px}
#contImg{ width:600px ; overflow:hidden}
.content .cont h2{ color:#000; border-bottom:5px solid #0a8fb2;font-family:"Î¢ÈíÑÅºÚ"; font-size:16px; margin-bottom:10px;}
.content .cont h2 span{color:#006681; margin:0px 6px; display:inline-block; font-size:24px;}
#qting a.addAttention{ position:absolute; bottom:38px; right:-24px; background:url(//mat1.gtimg.com/news/012FY/0730/tIco2.png) no-repeat 0 -49px; width:118px; height:49px; display:block; text-indent:-999em; overflow:hidden;}
#qting a.addAttention:hover{background:url(//mat1.gtimg.com/news/012FY/0730/tIco2.png) no-repeat 0 0px;}
#qting a.delAttention{ position:absolute; bottom:26px; right:-73px; background:url(//mat1.gtimg.com/news/012FY/0730/yting.png) no-repeat; width:118px; height:49px; display:block; text-indent:-999em; overflow:hidden;}


a.ting{ position:absolute; bottom:87px; right:-24px; background:url(//mat1.gtimg.com/news/012FY/0730/tIco.png) no-repeat 0 -49px; width:118px; height:49px; display:block; text-indent:-999em; overflow:hidden;}
.content .cont a.ting:hover{background:url(//mat1.gtimg.com/news/012FY/0730/tIco.png) no-repeat}

.pre{ position:absolute; right:-79px; height:120px;width:109px;}
.pre span{width:112px; height:86px; padding-top:6px; padding-left:6px; display:none; position:absolute; top:0px; left:0px;}
.pre span img{width:91px; height:61px;}

.pre a{ background:url(//mat1.gtimg.com/house/wind/ency/images/share.gif) no-repeat; display:inline-block;text-indent:-999em; overflow:hidden;position:absolute; width:78px;height:33px;}
.pre a.p{ right:16px;}
.preHover span{display:block; position:absolute; top:-85px; left:0px; z-index:1000; background:url(//mat1.gtimg.com/house/wind/ency/images/smallImg.png) no-repeat}

.pre a.k{right:16px; margin-top:35px; background-position:0 -36px; cursor:auto}
.pre a.sina{right:16px; margin-top:68px; background-position:0px -102px}
.pre a.qqt{right:16px; margin-top:101px;background-position:0px -73px}
.pre a.com{right:16px; margin-top:135px;background-position:0px -140px; height:47px;}

.sharre{ margin-top:20px;}
.iShareWrap{ float:left; width:400px!important; clear:none!important; margin-left:10px;}
.pContent{ padding:0 20px 20px 30px;}
.pContent .info{ border-bottom:1px solid #ebebeb; line-height:25px;}
.pContent .info a{ color:#2d96e9; margin-right:10px;}
.pContentCont p{ padding:10px 0px; font-size:14px; line-height:28px; text-indent:2em;}



#slide{width:290px; overflow:hidden; float:right;display:inline; position:relative; background:url(//mat1.gtimg.com/house/wind/ency/images/slide_bg.gif) repeat-y left #fff;}
.div1{ top:0px;}
#float{position:fixed;_position:absolute;}


#goodTe{ width:260px; padding:30px 0px;}
#goodTe ul{ padding-left:20px; width:300px;}
#goodTe li{ margin-right:20px; float:left; margin-bottom:10px;_margin-right:15px;}
#goodTe li p{ text-align:center;}
#goodTe li img{ width:80px;height:80px; padding:3px; border:1px solid #ccc; margin-bottom:5px;}
#goodTe li input{ vertical-align:middle;}
#goodTe .ft{ margin-top:20px; text-align:center}
#goodTeBtn{ background:url(//mat1.gtimg.com/house/wind/ency/images/t.gif) no-repeat; width:113px;height:30px; border:0px;cursor:pointer;}
#goodTeBtn.followed{ background:none; text-indent:0px;}

.pre span p{display:none;}
.preons span a{background:none}
.preons span p{ display:block;position:absolute; top:-90px; left:-15px; background:url("//mat1.gtimg.com/news/012FY/0730/pres_vbgg.png") no-repeat;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/news/012FY/0730/pres_vbgg.png'); /* IE6 */_background-image: none;width:117px; height:145px;}
#smallImg{ width:95px;height:54px; border:1px solid #000; z-index:9999}

#listss li{ display:none; overflow:hidden;}

#slide{ height:2000px;}
#slide dt{ background:url(//mat1.gtimg.com/news/012FY/0730/titlebg.gif) repeat-x bottom; padding-bottom:9px; text-indent:-999em; overflow:hidden; margin-top:5px; margin-bottom:4px; width:241px;}
#slide .edit{ background:url(//mat1.gtimg.com/news/012FY/0730/s_title.gif) no-repeat; width:39px; height:19px;}
#slide .snews{ background:url(//mat1.gtimg.com/news/012FY/0730/s_title.gif) no-repeat -40px 0px; width:77px; height:19px; margin-top:15px;}
#slide .eliteTing{ background:url(//mat1.gtimg.com/news/012FY/0730/s_title.gif) no-repeat -120px 0px; width:77px; height:19px; margin-top:15px;}
.eliteTingdt{ margin-bottom:20px;}
#slide .oldElite{ background:url(//mat1.gtimg.com/news/012FY/0730/s_title.gif) no-repeat 0px -18px; width:77px; height:19px; margin-top:15px; position:relative; width:242px}
#slide .oldElite a{ position:absolute; top:2px; right:10px; text-indent:0px;}
#slide  dt.oldElites{ margin-bottom:14px;}
#slide  dt.texton{ text-indent:0px; font-size:14px; padding-top:10px; padding-bottom:15px; font-weight:bold;}
#slide table{ line-height:32px;}
.snewsList{ padding-top:10px; line-height:22px;}
.snewsList a.title{ font-size:14px; font-weight:bold;}
.snewsList p{ padding:5px 10px 10px;}
.snewsList p a{color:#0a8fb2}

#qrting{ padding-bottom:3px;}
#qrting a.addAttention{ background:#89b4ca; border-left:1px solid #c9f1ff; border-top:1px solid #c9f1ff; text-align:center; padding:2px 4px;display:inline-block;cursor:pointer; color:#fff;}
#qrting a.delAttention{ background:#89b4ca; border-left:1px solid #c9f1ff; border-top:1px solid #c9f1ff;padding:2px 4px;display:inline-block; color:#fff;}
#qrting a:hover{ color:#fff;}

.pos{ position:relative; margin-top:15px; line-height:18px; height:151px;}
.pos span.tbs{ position:absolute; top:66px; left:13px;_left:4px; background:url(//mat1.gtimg.com/news/012FY/0730/s_spanbg.gif) no-repeat; width:217px; height:85px; color:#a2ebfe; padding:20px 0 0 10px;}

.cfon img{ float:left; margin-left:30px;_margin-left:20px; display:inline; margin-right:10px; width:60px; overflow:hidden;}
.cfon .bright{ float:left; width:133px;}

.bottomElite{position: absolute; bottom:0;left:0px;} 
.bottomElite dt{ margin-bottom:10px;}
.box{ position:relative; background:url(//mat1.gtimg.com/news/012FY/0730/elitebg.gif) no-repeat top left; width:236px; height:181px; padding-left:5px; padding-top:6px; color:#666; overflow:hidden}
.box img{ width:224px; height:142px;}
.box h2{ position:absolute; top:6px; left:4px; background:#090809;opacity:0.8;filter:alpha(opacity=80); color:#fff; font-size:12px; padding:5px; width:214px; text-align:center; font-weight:normal;}
.box p{ display:none; text-indent:2em;position:absolute; top:10px; left:15px; padding:30px 25px 10px 5px; line-height:18px;}
.box a,.box a:hover{ color:#666; text-decoration:none;}
.box i{width:222px; height:141px; background:#fff; display:none; position:absolute; top:6px; left:6px;opacity:0.87;filter:alpha(opacity=87);color:#666}

.boxHover i{ display:block;color:#666}
.boxHover p{ display:block;}

.rightHovers p{ display:block;}

.etitle{ width:225px; margin-top:2px; color:#666;}
.etitle span{ float:right;}

#eliteTing .pList{ *margin:20px 0 15px 0;}
#eliteTing .pList ul{ margin-bottom:20px;}
#eliteTing .pList li{ float:left; margin:0px 0px 10px 27px ; display:inline; width:78px; text-align:center; height:105px; overflow:hidden;}
#eliteTing .pList li img{ padding:3px; border:1px solid #c0c0be; width:70px; height:70px;}
#eliteTing .pList li p{ margin-top:4px; }
#eliteTing .pList li p input{vertical-align:middle;}
#eliteTing .ft{ text-align:center;}


#submit_survey{ background:url(//mat1.gtimg.com/news/012FY/0730/submit_survey.gif) no-repeat; width:69px; height:31px; border:0px; text-indent:-9999em; overflow:hidden; padding-top:10px; vertical-align:middle; margin-right:10px;}
.result{ font-size:14px; color:#0063a4;}

.comment{ width:1000px; margin:41px auto 0 auto;}
.comment h2{background:url(//mat1.gtimg.com/news/012FY/0730/commenth2.gif) no-repeat left; height:41px; text-indent:-9999em; overflow:hidden;border-bottom:3px solid #08718c;}


#market,#dot{ *padding-top:10px;}
#marketFocus{width:255px; margin:17px 0 17px 10px; height:326px;overflow:hidden}
#marketBox{height:250px;position:relative;}
#marketFocus #wrap{height:190px; position:relative;}
#marketFocus #wrap li{position:absolute;overflow:hidden;cursor:pointer;padding:0px; background:#fff;}
#marketFocus #wrap li h2{ font-size:14px; color:#f00}
#marketFocus #wrap li a { width:100%; height:100%; display:block}
#marketFocus #wrap li a img{ width:190px; height:250px;}
#marketFocus #wrap .img_0{left:0px;top:20px;width:190px;height:200px;z-index:1;}
#marketFocus #wrap .img_1{left:35px;top:0px;width:190px;height:250px;z-index:2; }
#marketFocus #wrap .img_2{left:64px;top:20px;width:190px;height:200px;z-index:1;}
#marketFocus p{width:100%;font-size:12px;line-height:22px; color:#666; z-index:100;}
#marketFocus span{font-size:14px; font-weight:bold; line-height:21px;width:255px;text-align:center; display:block; padding:11px 0 3px 0}
#btnLeft,#btnRight{display:none;}


.pContentCont{ padding:20px 0px;}

.deepComment{ width:250px;}
#deepHouse_content{ padding:15px 0 15px 20px;}
.cTitle{ display:none}
#purchase ul li{ height:24px; overflow:hidden;}
#purchase ul li a{ font-size:12px;}
#purchase ul li a.b-tico{ background:none;}
#purchase{ width:250px; padding:5px 0 15px 10px; height:auto}
#purchase .ft{ display:none;}

#pageZone { padding-top:20px;}
#pageZone span{border:1px solid #ccdbe4; display:inline-block; margin:0px 2px;}
#pageZone span.isNow{background:#89b4e4; border:1px solid #89b4e4; color:#fff; padding:2px 10px;}
#pageZone span a{display:inline-block;padding:2px 10px;}
#pageZone span a:hover{background:#89b4e4;color:#fff;}
#pageZone span.Disabled,#pageZone span.line{padding:2px 10px;}
#pageZone span.previousPage a{display:inline-block; text-align:center}
#pageZone span.nextPage a{display:inline-block; text-align:center;}


.pContent h2{ font-size:24px; padding:20px 0}

.no{ padding:0px;}
.no .main{ width:630px;}
#wraps{ width:1000px;}
.w1000{ width:985px;}
#tcopyright{ padding-top:30px;}

/*deepHouse*/
#deepHouse{ width:220px; padding-left:20px;}
#deepHouse .Q-tpList p{color:#666; line-height:20px;}
#deepHouse .bd { padding:0px;}
#deepHouse .bd .Q-tpList img{ float:left; margin-right:6px;display:inline;}
#deepHouse .bd .text{ height:26px; line-height:26px; margin-bottom:2px;color:#81899A}
#deepHouse .bd .text em{ font-weight:bold;}
#deepHouse .bd .text a{color:#81899A}
/*deepHouseTab*/
#deepHouse #tab{position:relative;border:1px solid #e3e3e3;height:55px;}
#cardBtn1{ width:60px;font:12px/20px "ËÎÌå"; position:absolute; left:0px; top:-1px;}  
#cardBtn1 li{cursor:pointer; height:28px; background:url(//mat1.gtimg.com/house/houseIndex2012/images/one_ico_v1_1.png) no-repeat -65px -558px; position:relative; border-bottom:1px solid #fff; font-size:16px; line-height:28px; text-align:center; color:#fff;font-family:"Î¢ÈíÑÅºÚ"; font-weight:normal;}  
#cardBtn1 li span{ display:inline-block; position:absolute; top:11px; right:0px;width:4px;height:7px;background:url(//mat1.gtimg.com/house/houseIndex2012/images/one_ico_v1_1.png) no-repeat 0 -330px; display:none}
#cardBtn1 .current{background-position:-65px -530px;}  
#cardBtn1 .current span{ display:block;}
#cardBody1{width:158px; height:62px; padding:5px 18px 10px 18px; line-height:21px; position:absolute; left:60px; top:0px;} 
#cardBody1 a{color:#81899A}

#slide #deepHouse{ padding-left:0px;}
/*  |xGv00|73cf3b7f418c895e449478daf61d4187 */