/*time:2012-11-12author:shenshenyan#tencent.com*/
/*reset*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px simsun Arial;color:#676550;background:#eee;  }
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#d11007;}
em{font-style:normal}
li{list-style:none}
/*È¥³ýlistStyle */
img{border:0;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
label{cursor:pointer;}
p{word-wrap:break-word}
.cf:after{content:"";display:table;clear:both}
.cf{*zoom:1}
.jbjs .topBox .tit a,.jbjs .topBox .tit a:hover,.jbjs .techang p b,#zhuanjiList ul li b{color:#238c8f; }
.sdhd .hd,.qaBox .qaList li .atit,.thdBox .topBg{background:url(http://mat1.gtimg.com/health/images/mingyitang/titBg.png) no-repeat ;  }
/* wrap */
.firstBox,.sdhd,.thdBox{width:960px;margin:0 auto;}
.jbjs{overflow:hidden;zoom:1;}
.jbjs .hd{width:25px;float:left; display:inline; text-indent:-9999em;overflow:hidden;  }
.jbjs .bd{float:right; display:inline;}
.jbjs .topBox{margin-top:26px;overflow:hidden;zoom:1;height:100px; }
.jbjs .topBox a.pic{ }
.jbjs .topBox img{float:left; display:inline; margin:0px 0 0 7px;padding:3px;background:#fff;border:1px solid #d1d1d1; }
.jbjs .topBox .text{width:180px;float:right; display:inline;  }
.jbjs .topBox .tit{font-size:14px;font-weight:bold;margin-bottom:5px;line-height:24px; }
.jbjs .topBox .zhiwu{margin-bottom:5px;line-height:20px; }
.jbjs .techang p{padding-top:5px;line-height:20px; }
.jbjs .techang p b{font-size:14px;font-weight:bold;}
.wrap{background:url(http://mat1.gtimg.com/health/images/mingyitang/lineBg.jpg) repeat-x ; }
.wrap .bg{background:url(http://mat1.gtimg.com/health/images/mingyitang/wrapBgCent.png) no-repeat  top center; }
.banner{width:960px;margin:0 auto;background:url(http://mat1.gtimg.com/health/images/mingyitang/banner.jpg) no-repeat ;height:150px; }
.banner h1{width:287px;float:left; display:inline; height:150px;  }
.banner h1 a{display:block;text-indent:-9999em;overflow:hidden; height:100%; }
.banner h2{padding-top:42px;width:670px;overflow:hidden;  }
.banner .time{font-size:18px;font-weight:100;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';line-height:30px;height:30px;  }
.banner .time b{margin:0 20px;font-weight:100; }
/* µ×²¿¹ö¶¯ */
#ScA3{ overflow:hidden; zoom:1; height:200px; position:relative; width:100%; }    
.wrapBox{top:0px; left:0px; overflow: hidden; zoom: 1; margin:0 55px;  position: relative;height: 200px}
#ScA3 li{float:left; display:inline; width:135px;margin-right:30px;height:200px;  }    
#ScA3 .count{ overflow:hidden; float:left; }    
#ScA3 li a:hover{ background:red; }  /*ie6,7*/    
#ScA3 li a:hover img{ background:red;}     
#ScA3 .cols2{ position:absolute; top:20px; left:68px; overflow:hidden; zoom:1; width:666px;  }    
#ScA3 .cols{ position:absolute;  width:9999px; }        
#ScA3 .prev{ width:30px; height:60px; background:url(http://mat1.gtimg.com/joke/Koala/pic/btn1.jpg) no-repeat; display:block; position:absolute; top:22px; left:15px; cursor:pointer;overflow:hidden;z-index:100}    
#ScA3 .next{ width:30px; height:60px; background:url(http://mat1.gtimg.com/joke/Koala/pic/btn3.png) no-repeat; display:block; position:absolute; top:22px; right:15px; cursor:pointer;overflow:hidden;z-index:100}       
#ScA3 a.prev:hover{ display:block;}         
#ScA3 .wr{ height:283px; position:relative; overflow:hidden; }    
#ScA3 a.next:hover{ display:block;}         
#ScA3 .wr{ height:283px; position:relative; overflow:hidden; }
#ScA3 .count li span{text-align:center;display:block;margin-top:10px;}
#ScA3 .count li  a,#ScA3 .count li  a:hover{color:#fff;background:none; }
#ScA3 .count{ float:left; }    
#ScA3 .prevMouseClass{ background:url(http://mat1.gtimg.com/joke/Koala/pic/btn2.jpg) no-repeat; }  
#ScA3 .nextMouseClass{ background:url(http://mat1.gtimg.com/joke/Koala/pic/btn4.jpg) no-repeat; }  
#ScA3 .prevStopClass{ background:url(http://mat1.gtimg.com/joke/Koala/pic/btn1_n.jpg) no-repeat; }  
#ScA3 .nextStopClass{ background:url(http://mat1.gtimg.com/joke/Koala/pic/btn3_n.png) no-repeat; }  
	/* fotBoxBg */
.fotBoxBg{opacity:0.85;filter:alpha(opacity=85);width:100%;height:228px; background:#000;position:absolute;top:0;left:0;  }
.fotBox{position:fixed; left:0; bottom:-228px; z-index:999;_position:relative;  height:228px;width:100%;_bottom:0px;}
.fotBox .hd{padding:15px 0px;overflow:hidden;zoom:1;height:50px;line-height:50px;position:relative; text-indent:40px;z-index:10  }
.fotBox .hd span{position:absolute;right:50px;top:20px;width:25px;height:24px;background:url(http://mat1.gtimg.com/view/todayTopic/2012/iconAndBnt.png) no-repeat -169px -73px ;    cursor:pointer; }
.fotBox .hd h3{font-size:24px;font-family:'Î¢ÈíÑÅºÚ','ËÎÌå';font-weight:100;color:#a3a3a3; width:200px; }
.fotBox .bd{overflow:hidden;width:100%;position:relative; z-index:10;  height:195px;  }
#botBScrl{overflow:hidden; height:150px;}

.firstBox{background:url(http://mat1.gtimg.com/health/images/mingyitang/boxTop.jpg) no-repeat ; height:483px;position:relative; }
.firstBox .setkj,.firstBox .setwb{position:absolute;width:71px;padding-top:35px; line-height:25px;top:-20px;cursor:pointer;text-indent:18px;}
.firstBox .setkj:hover,.firstBox .setwb:hover{text-decoration:underline; }
.firstBox .setkj{left:717px;}
.firstBox .setwb{left:795px;}
.firstBox .main{width:310px;padding:10px;float:right; display:inline;  }
.firstBox .sub{float:left; display:inline;width:570px;  }
.videoBox{padding:5px;}
.firstBox .bqdd{padding-top:35px;color:#c4f2f3;line-height:24px; font-size:14px;height:210px;  }
.firstBox .bqdd .hd,.firstBox .jbjs .hd{display:none; height:0px;  overflow:hidden;  }
.followall_mod{float:left; display:inline; height:21px;}
.tiwen{ background:#6aa23d; padding:3px 5px;color:#fff;float:left; display:inline; margin-left:5px; }
.attentBoxWrap{float:left; display:inline;  background:#6aa23d; padding:3px 5px;color:#fff;text-align:center; height:15px;overflow:hidden;   }
.attentBoxWrap a,.attentBoxWrap a:hover,.tiwen,.tiwen:hover{color:#fff; }
.addBox{overflow:hidden;zoom:1;}
.sdhd{margin-top:10px;padding-top:10px;}
.sdhd .hd{height:60px;background-position:0 0 ;text-indent:-9999em;overflow:hidden; }
.qaBox {width:960px;overflow:hidden;  }
.qaBox .qaList {overflow:hidden;zoom:1;width:1000px; }
.qaBox .qaList li{float:left; display:inline; width:324px;height:411px;background:url(http://mat1.gtimg.com/health/images/mingyitang/qaBg.jpg) no-repeat ;margin-right:6px;margin-top:20px;}
.qaBox .qaList li .qtit{height:75px;text-indent:-999em; overflow:hidden;  }
.qaBox .qaList li .atit{background-position:0 -150px ;height:50px;width:280px;margin:10px;  text-indent:-999em;overflow:hidden;   }
.qtext,.atext{margin:0px 40px 0 35px; }
.qtext{line-height:20px; }
.atext{line-height:24px;font-size:14px; }
.atext b{font-weight:bold;color:#238c8f; }
.atext a{background:#238c8f;color:#fff;padding:2px 5px; }
.thdBox{margin-top:20px;overflow:hidden;zoom:1;}
.thdBox .topBg{background-position:0 -62px ;height:80px;width:960px;  }
.thdBox{background:#fff url(http://mat1.gtimg.com/health/images/mingyitang/lineBgshu.png) repeat-y 625px 0;padding-bottom:20px; }
.thdBox .hd{display:none;  }
.thdBox .main{float:left; display:inline; width:600px;margin:0px 0 0 15px;  }
.thdBox .sub{float:right; display:inline; width:320px; }
.thdBox .main .topicTit{font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:20px;font-weight:100;border-bottom:1px dotted #777;padding-bottom:10px; margin-bottom:10px;height:25px;line-height:25px;  }

.thdBox .main .topicTit b{color:#238c8f;margin-right:15px;}
.ftsl{height:630px;overflow-y:auto; line-height:26px;font-size:14px; color:#333;  }
.ftsl .text{padding:10px;}


































































/*  |xGv00|8ea3d1cc391c2ec3d4fe7105b7a8a11a */