*{
	margin: 0px;
	padding: 0px;
}

.bo{
	margin:0 auto;   
	width:1000px;;
}

.header{
	padding-top:20px;
	text-decoration: none;
}

.header>img{
	margin-top: -4px;
	margin-left: 85px;
}

.span{
	width:590px;
	padding-top:9px;
	position:absolute;
	height:37px;
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: linear-gradient(135deg, #fff, #fff), linear-gradient(135deg, #0551db, #71caf4);
	border:6px transparent solid;
	border-radius:7px;           
}
.span>a{
	text-decoration: none;
}

.header>.span>a{
	font-weight:bold;
	color:#1270ee;
	margin-left: 50px;
	font-size: 18px;
}

.header>.span>a:hover{
	cursor:pointer;
	color:#e0d5c9;
}

.body>img{
	margin-top: 16px;
    margin-bottom: 9px;
	width: 100%;
}

.body0>div>img{
	width: 100%;
}

.body1{
	padding-top:7px;
	float:left;
	height:120px;
	background-color:#b2ccdb;
	text-align: center;
}

.body1>img{
	cursor:pointer;
	width: 23%;
}

.button{
	height:100px;
	border:6px solid #1198dc;
}

.body2>a>img{
	cursor:pointer;
	width: 100%;
}

.tail>a>img{
	cursor:pointer;
	height:302px;
	width: 50%;
}/*  |xGv00|31cc24a2a2982878d3fa0b8d1dfec9d3 */