body { font-family:SimSun, Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; margin:0 auto; color:#333; background-image:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/didi.jpg);padding:0;magin:0;font-family:"Microsoft YaHei"
} 

div,form,input,ul,li,img,span,h1,h2,h3,h4,p,fieldest,select,label,button,object{ margin:0; padding:0;border:0; line-height:24px;}


li{ list-style:none; text-decoration:none}
a:link{ color:#333; text-decoration:none}
a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#fb7102; text-decoration:none;}
a.red:link{ color:#ff0000; text-decoration:none;}
a.red:visited{ color:#ff0000; text-decoration:none;}
a.red:hover{ color:#ff0000; text-decoration:underline;}

input,select{ font-size:12px; }
.selector {font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","Microsoft JhengHei","\534E\6587\7EC6\9ED1",STHeiti,MingLiu}
.fl{float:left;}
.fr{float:right;}
.fz{ font-size:12px; font-weight:normal;}
p{ text-indent:2em;}

.m_top{width:1120px;margin:0 auto; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/banner.jpg) no-repeat;height:670px;overflow:hidden;}
.m_top img{ position:relative;top:485px;left:880px}
.m_time{width:1100px;margin:0 auto;overflow:hidden;}
.m_time .tu{margin:0 auto;width:1050px}
.m_list{width:1100px;margin:10px auto;}
.m_list li{float:left;width:230px;padding-left:45px; text-align:left}
.t1{width:1100px;margin:5px auto;padding:15px 0 20px 0;overflow:hidden;}
.t1 .jiao{width:490px;float:left;padding-left:20px;}
.t1 .news{width:500px;float:left;padding-left:20px;}
.t1 .news h1{width:500px; font-size:24px;}
.t1 .news p{width:500px;float:left;color:#666;padding:15px 0; font-size:14px;}
.t1 .news .n_list{width:275px;float:left ;font-size:14px;}
.t1 .news .n_list li{padding:7px 0}
.t1 .news .n_list li.more a{padding:10px 0;color:#fb7102}
.t1 .news .wei{float:left;padding-top:20px;}

.t0{width:100%;margin:0 auto; overflow:hidden;}
.t0 .nav{width:100%; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/re.jpg) repeat-x;height:100px; }
.t0 .name{width:510px;margin:0 auto; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/b1.png) no-repeat;height:100px; position:relative;top:50px;}
.t0 .name h1{ font-size:35px;width:510px; text-align:center;padding-top:37px;}

.l_duan{width:450px;float:left;padding:20px}
.l_duan img{float:left;width:215px;padding-right:15px;}
.l_duan h2{float:left;width:200px;padding-bottom:15px;}
.l_duan p{float:left;width:200px;}
.l_duan span a{color:#fb7102}

.slind {
	width: 1100px;
	margin: 20px auto;
	background-color: #f8f8f8;
	height:440px;
}
.hcenter{width:1100px;float:left;}
.hcenter li {
	width: 450px;
	float: left;
}
.slides1_wrap {
	position: relative;
	padding: 40px 0 37px 49px;
	width: 1000px;
}
#slides1 {
	width:1100px;
	
}
#slides1 li {
	list-style: none;
	width:1000px;
}

.slides1_wrap .prev {
	position: absolute;
	left:0;
	top: 200px; cursor:pointer;
	
}

.slides1_wrap .next {
	position: absolute;
	right:0;
	top: 200px;
	outline: 0;cursor:pointer;
}

.slides1_wrap a:active {
	top: 200px;
}

.tp{width:100%;margin:0 auto; overflow:hidden;}
.tp .nav{width:100%; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/re.jpg) repeat-x;height:100px; }
.tp .name{width:510px;margin:0 auto; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/b1.png) no-repeat;height:100px; position:relative;top:50px;}
.tp .name h1{ font-size:35px;width:510px; text-align:center;padding-top:37px;}
.tp .tp_ju{width:1100px;margin:50px auto 10px auto;overflow:hidden;}
.tp .tp_ju .t_wei{width:530px;float:left;padding:15px 10px}
.tp .tp_ju .t_wei img{float:left;padding-right:20px;}
.tp .tp_ju .t_wei h2{ font-size:18px;float:left;width:320px;}
.tp .tp_ju .t_wei p{float:left; font-size:14px;padding-top:10px;float:left;width:320px;}


.t2{width:100%;margin:0 auto; overflow:hidden;}
.t2 .nav{width:100%; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/re.jpg) repeat-x;height:100px; }
.t2 .jia{width:1100px;margin:0 auto;}
.t2 .jia .tjm{width:1100px; text-align:center;clear:both; font-size:16px;float:left;padding-top:20px;color:#cd0000}
.t2 .nav .an{top:50px;z-index:1000;float:left; position:relative;}
.t2 .name{width:510px;margin:20px auto; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/b1.png) no-repeat;height:100px; position:relative;z-index:800;top:50px}
.t2 .name h1{ font-size:35px;width:510px; text-align:center;padding-top:37px;}

.t2 .pian{width:1100px;margin:40px auto;}
.t2 .p_list{width:1100px;float:left;padding-top:20px;}
.t2 .p_list li{width:256px; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/di.jpg) no-repeat;height:355px;float:left;margin:10px 19px 10px 0}
.t2 .p_list li h2{ text-align:center;padding:20px 0 10px 0;}
.t2 .p_list li i{width:225px;padding-left:15px;}
.t2 .p_list li p{width:225px;float:left;padding-left:15px; line-height:22px;}

.xia{width:205px;float:left;margin:20px 0 0 15px}
.xia em{ font-style:normal; font-size:16px; background-color:#cd0000;width:23px;height:23px; display:block;float:left; border-radius:30px; text-align:center;color:#fff;}
.xia b{ font-size:16px; display:block;padding-left:5px;float:left;}
.xia img{float:right; display:block}

.t3{width:100%;margin:20px auto; }
.t3 .nav{width:100%; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/re.jpg) repeat-x;height:100px; }
.t3 .name{width:510px;margin:0 auto; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/b1.png) no-repeat;height:100px; position:relative;top:50px;}
.t3 .name h1{ font-size:35px;width:510px; text-align:center;padding-top:37px;}
.t3 .diaocha{width:1100px;margin:20px auto 0 auto;height:850px;}
.t3 .jiang{width:500px; text-align:center;margin:0 auto; font-size:16px;color:#cd0000;position:relative;top:50px;}

.t4{width:100%;margin:20px auto;overflow:hidden; }
.t4 .nav{width:100%; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/re.jpg) repeat-x;height:100px;  }
.t4 .two{width:1100px;margin:0 auto;}
.t4 .name{width:510px;float:left; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/b1.png) no-repeat;height:100px; position:relative;top:50px;}
.t4 .name h1{ font-size:35px;width:510px; text-align:center;padding-top:37px;}
.t4 .content{width:1100px;margin:50px auto;}
.t4 .s_left{width:490px;float:left;padding-top:20px;padding-left:15px;}
.t4 .s_left .shang{width:475px; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/dd.jpg) no-repeat;height:308px;}
.t4 .s_left .shang img{padding:32px 0 0 27px;}
.t4 .s_left h3{ font-size:20px;padding:15px 0}
.t4 .s_left p{ font-size:15px; line-height:35px;}
.t4 .s_left p a{color:#fb7102}
.t4 .s_right{width:490px;float:right;height:650px;}


.t5{width:100%;margin:20px auto; }
.t5 .nav{width:100%; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/re.jpg) repeat-x;height:100px; }
.t5 .name{width:510px;margin:0 auto; background:url(//mat1.gtimg.com/cq/js/news/shirley/cqmp/b1.png) no-repeat;height:100px; position:relative;top:50px;}
.t5 .name h1{ font-size:35px;width:510px; text-align:center;padding-top:37px;}
.t5 .you{width:1100px;margin:20px auto;}
.t6{width:100%;margin:0 auto; }
.t6 p{width:800px;margin:0 auto;font-size:16px; text-align:center}

.d_tou{width:1050px;margin:50px auto 0 auto;overflow:hidden;}
.d_tou .tuleft{width:500px;float:left;}
.d_tou .turight{width:500px;float:left;}

.d_tou .tuleft h2,.d_tou .turight h2{ font-size:20px;float:left;width:500px;padding-bottom:10px; color:#cd0200}
.d_tou .tuleft p,.d_tou .turight p{ width:500px; text-indent:0;font-size:16px; line-height:35px;}


/*  |xGv00|f77513a78af6dae52be01c3742391002 */