body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font-size:12px; font-family: "Microsoft YaHei"; line-height: 1.5; color:#000;text-align:left}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none; list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{ text-align:left; font-weight:400}
img,fieldset{border:0;vertical-align:middle}
a{color:#000;text-decoration:none;outline:none}
a:hover{color:#c00;text-decoration:underline}
.show{display:block}

.center{width:1000px; margin:0 auto;}
.clx:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.clx{*zoom:1}
.clear{font-size:0; line-height:0; height:0; overflow:hidden; clear:both; visibility:hidden}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.f14{ font-size:14px} 
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;} 
.fl{float:left}
.fr{float:right}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.imgA img{border:1px solid #E2E2E2; padding:2px; background:#fff}

body{background: #F6F6F6}
.banner{
	height: 495px; background: url(//mat1.gtimg.com/gd/2017/shiyaojian/banner2.jpg) no-repeat center top;
}


.nav{
	height: 60px; background: #0166FF; font-size: 16px; margin-bottom: 10px;
}
.nav a{
	display: block; float: left; padding: 0 2em; line-height: 60px; color: #fff;
}
.nav a:hover{
	background: #FFA800; text-decoration: none;
}

.swiper-slide{float: left;}
.focus_photo{
	width:520px;height:300px; position: relative; overflow: hidden; background: #000; float: left;
}
.focus_photo .f_pic_text{
	position: absolute; left: 0; bottom: 0; width: 100%; height: 36px; line-height: 36px; background: #000; background: rgba(0,0,0, .8); color: #fff; font-size: 16px; text-indent: 1em;
}
.focus_photo img{
	width: 520px; height: 300px;
}
.focus_photo .f_pic_wrap{
	width: 100%; height: 300; position: relative; display: block;
}
.focus_photo .pagination{
	position: absolute; right: 20px; bottom: 8px; text-align: center; z-index: 10;
}
.focus_photo .swiper-pagination-switch{
	display: inline-block; width: 10px; height: 10px; margin: 0 2px; background:#666; text-align: center; line-height: 10px; cursor: pointer; color: #fff
}	
.focus_photo .swiper-active-switch{
	background: #115DAB; 
}

.newsR{
	width: 480px; height: 300px; float: right; background: #fff;
}
.newsli{
	margin: 0 20px; padding: 5px 0; border-bottom: 1px dashed #E4E4E4;
}
.newsli a{
	font-size: 18px; 
}
.newsli span{
	display: block; color: #999999;
}
.viewmore{
	  padding-top: 20px; text-align: center;
}
.viewmore a{
	color: #0166FF; font-size: 14px;
}

.tags{
	height: 38px; background: #EBEAEA;
}
.tag{
	display: block; float: left; line-height: 38px; padding: 0 1em; font-size: 18px; cursor: pointer;
}
.tags .on{
	background: #fff; border-top: 4px solid #0166FF; line-height: 34px; height: 34px;
}
.tag_content .tag_con{
	display: none; background: #fff; padding: 10px 0; padding-left: 45px; 
}
.tag_content .tag_con p{
	padding-bottom: 10px; font-size: 16px; line-height: 28px;
}
.tag_content .on{
	display: block;
}
.tag_list{
	width: 440px; float: left;
}
.list_l{
	padding-right: 15px; margin-right: 15px; border-right: 1px dashed #E4E4E4;
}
.tag_list li{
	padding-top: 5px; height: 46px; border-bottom: 1px dashed #E4E4E4;
}
.tag_list a{
	font-size: 16px; 
}
.tag_list span{
	display: block; color: #999999;
}

.left{
	width: 670px; float: left; background: #fff;
}
.right{
	width: 320px; float: right; background: #fff;
}
.blk_title{
	height: 50px;
}
.blk_title span{
	padding: 10px 0 0 10px; display: block; float: left;
}
.blk_title em{
	padding-right: 10px; display: block; float: right; line-height: 50px;
}
.blk_title em a{
	color: #0063e7;
}

.picTxt{height: 130px; border-bottom:1px dashed #C1C1C1; position: relative; margin: 0 10px}
.picTxt img{position: absolute; top: 10px; left: 0; border: 1px solid #c1c1c1; width: 178px; height: 108px;}
.picTxt .rText{padding-left: 190px;}
.picTxt .rText b{font-size:18px;line-height:34px;display:block;}
.picTxt p{color: #999999; font-size: 14px; line-height: 1.5; height: 5em; overflow:hidden}
.picTxt .date{color: #999;}

.art_list{
	margin: 0 10px;
}
.art_list li{
	padding: 8px 0; border-bottom:1px dashed #C1C1C1;
}
.art_list li b{
	display: block; font-size: 18px; line-height: 1.5; 
}
.art_list li p{
	color: #999999; font-size: 14px; line-height: 1.5; height: 3em; overflow:hidden; margin-bottom: 5px;
}
.art_list li span{
	display: block; color: #999;
}

.right .art_list li b{
	font-size: 16px; font-weight: normal;
}

.bianji{width:100%; height:50px;background:#242424;}
.bianjimain{ width:960px;margin:0 auto; }
.bianjimain p {font-size: 14px; color: #ededed;  line-height: 50px; text-align: center;}/*  |xGv00|2c13bff3ce647bcd6e6d14eb3b9ad2fb */