@charset "utf-8";
/* CSS Document */
html, body, ul, li, a, p{margin: 0;padding: 0;}
body{background: url(//mat1.gtimg.com/cq/000/1/hunli0v3/maxbg.jpg) repeat;background-attachment: fixed;}

img{border: 0;}
ul, li{list-style: none;}
a{text-decoration: none;}
.content_show{background: #fff;width: 100%;max-width: 960px; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)>960?"960px":"100%"); margin-left:auto; margin-right:auto; margin-bottom:20px;}
/*清除浮动*/
.clearfix:after{content: ".";display: block;height: 0;visibility: hidden;clear: both;}
.clearfix{*zoom:1;}
/*main css*/
.show{display:block;}
.none{display:none;}
.banner{width: 100%;min-width: 960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<960?"960px":"100%");overflow: hidden;position: relative;height: 525px;z-index: 998}
.banner_container{height: 525px;width: 100%;min-width: 960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<960?"960px":"100%");max-width:960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>960?"960px":"100%");display: block;overflow: hidden;left: 50%;margin-left: -720px;z-index: 997}
.banner_container .banner_content{position: absolute;left: 0%;top: 0%;width: 100%;min-width: 960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<960?"960px":"100%");max-width:960px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>960?"960px":"100%");height: 100%;overflow: hidden;z-index: 996}
.banner_container .banner_content img{z-index: 995}
.banner_nav{position: absolute;z-index: 10;bottom: 10px;left: 50%;margin-left: -64px;z-index: 999}
.banner_nav li{float: left;width: 22px;height: 20px;}
.banner_nav li a{float: left;width: 22px;height: 20px;text-align: center;line-height: 20px;font-size: 0px;cursor: pointer;background-image: url(//mat1.gtimg.com/cq/000/1/hunli0v3/point_2.png);background-repeat: no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='//mat1.gtimg.com/cq/000/1/hunli0v3/point_2.png')}
.banner_nav li.current a{background-image: url(//mat1.gtimg.com/cq/000/1/hunli0v3/point_1.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='//mat1.gtimg.com/cq/000/1/hunli0v3/point_1.png');}
/*  |xGv00|cfa938e14ab90330692c07913e1fd424 */