@charset "gb2312";
/* CSS Document */

*{ margin:0; padding:0; border:none;}
a{ text-decoration:none; color:#fff;}
a:hover{ text-decoration:underline; color:#ccc;}
ul,li{ list-style:none;}

body{ background-color:#0b0a0c; color:#fff; font:normal 16px/28px "Microsoft YaHei";}
.wrap{ width:1100px; margin:0 auto; overflow:hidden;}
.w1{ height:480px; background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/01.jpg) no-repeat center top; margin-top:130px;}
.w1 p{ width:460px; padding:305px 0 0 50px;}

.w2{ height:460px; background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/02.jpg) no-repeat center 67px; padding-top:150px;}
.tabs{ padding-left:55px;}
.tabs .tab_hd{ width:360px; float:left; display:inline; padding-top:40px;}
.tabs .tab_hd_item{ height:70px; line-height:70px; padding-left:10px; font-size:22px; cursor:pointer;}
.tabs .tab_hd .current{background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/03.gif) no-repeat center left;}
.tabs .tab_bd{ float:right; display:inline; padding-right:35px; width:620px;}
.tabs .tab_bd_item{padding:10px;}
.tabs .tab_bd_item h3{ font:normal 26px/36px "Microsoft YaHei";}
.tabs .tab_bd_item p{ padding:15px 0;}

.w3{ height:545px; background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/05.jpg) no-repeat center 38px; padding-top:115px;}
.w3 .inner{ width:1200px; height:470px; background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/06.jpg) no-repeat left top; margin:70px 0 0 55px; padding-left:235px;}
.w3 .inner dl{ width:335px; overflow:hidden; float:left; display:inline; padding:0 100px 40px 0;}
.w3 .inner dl dd{ float:left; display:inline; width:120px;}
.w3 .inner dl dt{ float:right; display:inline; width:195px;}
.w3 .inner dl dt h4{ font:normal 14px/26px "Microsoft YaHei"; padding-bottom:5px;}
.w3 .inner dl dt p{ height:90px; overflow:hidden; font:normal 12px/18px "Microsoft YaHei";}

.w4{ height:1400px; background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/08.jpg) no-repeat center 60px; padding-top:200px;}
.bigimg{ padding-left:55px; overflow:hidden;}
.bigimg dd{ width:636px; float:left; display:inline; padding-right:20px;}
.bigimg dt{ width:337px; height:302px; float:left; display:inline;}
.bigimg dt.bigimg_bg1{ background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/10.gif) no-repeat center top;}
.bigimg dt.bigimg_bg2{ background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/12.gif) no-repeat center top;}
.bigimg dt p{ width:300px; height:180px; overflow:hidden; padding:95px 0 0 20px; font-size:14px; line-height:18px;}
.td{ width:1200px; height:280px; overflow:hidden; margin:60px 0 0 55px;}
.td1{ background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/11.gif) no-repeat left top; margin-bottom:80px;}
.td2{ background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/13.gif) no-repeat left top;}
.td li{ width:390px; height:70px; padding-left:55px; float:left; display:inline; margin:0 112px 18px 0;}
.td li h4{ font:normal 20px/30px "Microsoft YaHei";}
.td li p{ font-size:12px; line-height:16px;}

.w5{ background:url(http://mat1.gtimg.com/fj/zt2019/0306aeg/14.gif) no-repeat center top; padding-bottom:100px;}
.w5 p{ width:865px; height:160px; padding:75px 0 0 50px; font-size:14px; line-height:30px;}/*  |xGv00|7f0d4966c695abaae74f2b8c66a55b16 */