html,
body {
  font: 12px/18px Simsun, Helvetica, Arial, sans-serif;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
button {
  padding: 0;
  margin: 0;
}

input,
label,
select,
option,
textarea,
button {
  font: 12px/18px Simsun, Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

img {
  border: none;
  display: block;
}

button {
  cursor: pointer;
}

input,
textarea {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  text-decoration: none;
  color: #BD0A01;
}

::selection {
  background-color: #669900;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: #669900;
  color: #FFFFFF;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.dis {
  display: block;
}

.undis {
  display: none;
}

.header .logo {
  display: inline-block;
  padding-top: 45px;
  padding-right: 38px
}

.header .searchBox {
  display: inline-block
}

.header .searchBox .search_tab span {
  display: inline-block;
  cursor: pointer;
  width: 78px;
  text-align: center;
  font-size: 16px
}

.header .searchBox .search_tab span:first-child {
  border-right: 2px solid #e0e3e8
}

.header .searchBox .search_tab span.tab_check {
  color: #1479d7
}

.header .searchBox .search_wrap {
  margin-top: 8px;
  width: 531px;
  height: 40px;
  background: #f3f6f8;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  line-height: 40px;
  padding-left: 24px;
  vertical-align: bottom
}

.header .searchBox .search_wrap input {
  font-size: 16px;
  width: 390px;
  background: #f3f6f8;
  border: none;
  outline: 0
}

.header .searchBox .search_wrap input::-webkit-input-placeholder {
  color: #aeaeae;
  font-family: "Microsoft YaHei"
}

.header .searchBox .search_wrap .inputWarp {
  display: inline-block
}

.header .searchBox .search_wrap .txtArea {
  height: 39px;
  line-height: 39px;
  border: 1px solid #dadada;
  color: #a7a7a7;
  font-size: 16px;
  width: 390px;
  background: #f3f6f8;
  border: none;
  outline: 0
}

.header .searchBox .search_wrap .txtArea::-webkit-input-placeholder {
  color: #aeaeae;
  font-family: "Microsoft YaHei"
}

.header .searchBox .search_wrap #smartbox_1 {
  font-family: "Microsoft YaHei" !important
}

.header .searchBox .search_wrap #smartbox_search_1,
.header .searchBox .search_wrap .submit,
.header .searchBox .search_wrap button {
  width: 110px;
  height: 40px;
  background: #1479d7;
  border: none;
  color: #fff;
  border-radius: 20px;
  float: right;
  font-size: 18px;
  font-family: "Microsoft YaHei" !important;
  outline: 0;
  cursor: pointer
}

.header .searchBox .search_wrap #smartbox_result_1 {
  top: 41px !important
}

.header .searchBox .search_wrap #smartbox_result_1 #smartbox_list_1 {
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
  width: 390px !important
}

.header .searchBox .search_wrap #smartbox_result_1 #smartbox_list_1 li {
  padding-left: 10px !important
}

.header .searchBox .info_wrap {
  display: none
}

.header .map {
  display: inline-block;
  margin-left: 26px
}

.header .map img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}

.header .map span {
  font-size: 16px;
  color: #a8a8a8
}

.changeCity {
  display: inline-block;
  cursor: pointer;
  margin-right: 99px;
  position: relative
}

.changeCity #city {
  font-size: 18px
}

.changeCity .pull_down {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  vertical-align: sub;
  background: #f5f5f5;
  border: 1px solid #ededed
}

.changeCity .cityBox {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 500px;
  height: 330px;
  background: #fff;
  border: 1px solid #3380cc
}

.changeCity .cityBox .jiantou {
  display: block;
  width: 27px;
  height: 15px;
  position: absolute;
  top: -15px;
  left: 52px;
  background: url(//mat1.gtimg.com/house/houseIndex2015/images/icon_img.png) -65px -108px no-repeat
}

.changeCity .cityBox .close {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  background: url(//mat1.gtimg.com/house/houseIndex2015/images/icon_img.png) -64px -51px no-repeat
}

.changeCity .cityBox .hot_city {
  padding-top: 22px;
  width: 460px;
  margin: 0 auto
}

.changeCity .cityBox .hot_city p {
  display: inline;
  font-size: 14px;
  height: 18px;
  padding-right: 10px;
  overflow: hidden;
  font-weight: 700
}

.changeCity .cityBox .hot_city ul {
  display: inline
}

.changeCity .cityBox .hot_city ul li {
  display: inline;
  margin-left: 5px
}

.changeCity .cityBox .hot_city ul li a {
  font-size: 14px
}

.changeCity .cityBox .all_city {
  padding-top: 12px;
  width: 460px;
  margin: 0 auto
}

.changeCity .cityBox .all_city .all_top {
  height: 30px
}

.changeCity .cityBox .all_city .all_top h4 {
  display: inline;
  font-size: 14px;
  height: 18px;
  padding-right: 10px;
  overflow: hidden;
  font-weight: 700
}

.changeCity .cityBox .all_city .all_top .cityTab_wrap {
  float: right
}

.changeCity .cityBox .all_city .all_top .cityTab_wrap p {
  display: inline-block;
  width: 60px;
  height: 28px;
  border: 1px solid #3380cc;
  color: #3380cc;
  line-height: 28px;
  text-align: center;
  font-size: 14px
}

.changeCity .cityBox .all_city .all_top .cityTab_wrap p:last-child {
  margin-left: -3px;
  border-left: none
}

.changeCity .cityBox .all_city .all_top .cityTab_wrap p.over {
  background: #3380cc;
  color: #fff
}

.changeCity .cityBox .all_city .all_bottom .scrollContent {
  overflow-y: scroll;
  font-size: 14px;
  height: 222px;
  display: none
}

.changeCity .cityBox .all_city .all_bottom .scrollContent.over_in {
  display: block
}

.changeCity .cityBox .all_city .all_bottom .scrollContent dl {
  padding-bottom: 12px
}

.changeCity .cityBox .all_city .all_bottom .scrollContent dl dt {
  float: left;
  width: 44px;
  text-align: center;
  margin-right: 10px;
  color: #3380cc
}

.changeCity .cityBox .all_city .all_bottom .scrollContent dl dd a {
  margin-right: 10px
}

.promotion {
  width: 100%;
  margin-top: 30px
}

.promotion .promotion_tab {
  width: 100%;
  height: 39px;
  box-sizing: border-box;
  background: #f7fbfc;
  border-top: 2px solid #e3e8ee;
  border-left: 1px solid #e3e8ee;
  border-right: 1px solid #e3e8ee;
  border-bottom: 1px solid #3380cc
}

.promotion .promotion_tab li {
  float: left;
  background: #f7fbfc;
  line-height: 36px;
  line-height: 35px\9
}

.promotion .promotion_tab li a {
  color: #666;
  font-size: 14px;
  padding: 0 20px;
  border-right: 1px solid #ccc
}

.promotion .promotion_tab li:last-child a {
  border-right: none
}

.promotion .promotion_tab li.moveIn {
  background: #fff;
  border-top: 2px solid #3380cc;
  border-left: 1px solid #3380cc;
  border-right: 1px solid #3380cc;
  border-bottom: 1px solid #fff;
  margin-top: -2px;
  margin-left: -1px
}

.promotion .promotion_tab li.moveIn a {
  border-right: none
}

.promotion .promotion_main {
  margin-top: 1px;
  padding-top: 3px;
  height: 124px;
  overflow: hidden;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed
}

.promotion .promotion_main .promotion_content {
  width: 915px;
  display: inline-block;
  margin-right: 10px
}

.promotion .promotion_main .promotion_content ul {
  display: none;
  height: 123px
}

.promotion .promotion_main .promotion_content ul.pt_show {
  display: block
}

.promotion .promotion_main .promotion_content ul li {
  border-bottom: 1px dashed #eaeaea;
  line-height: 40px
}

.promotion .promotion_main .promotion_content ul li a {
  padding: 0 10px
}

.promotion .promotion_main .promotion_content ul li:last-child {
  border-bottom: none
}

.promotion .promotion_main .promotion_img {
  display: inline-block;
  width: 300px;
  height: 100px;
  overflow: hidden;
  vertical-align: top;
  margin-top: 10px
}

.promotion .promotion_main .promotion_img a dl dt {
  display: inline-block;
  width: 140px;
  height: 100px;
  overflow: hidden;
  margin-right: 6px
}

.promotion .promotion_main .promotion_img a dl dt img {
  width: 140px;
  height: 100px
}

.promotion .promotion_main .promotion_img a dl dd {
  width: 150px;
  display: inline-block;
  vertical-align: top
}

.promotion .promotion_main .promotion_img a dl dd p {
  color: #66605d
}

.promotion .promotion_main .promotion_img a dl dd p:first-child {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #1156a4
}

.promotion .brand_logo {
  height: 61px
}

.promotion .brand_logo a {
  float: left;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed
}

.promotion .brand_logo a:first-child {
  border-left: 1px solid #ededed
}

.promotion .brand_logo a img {
  width: 122.9px;
  height: 60px
}

.focus_news {
  margin-top: 38px
}

.focus_news .newsLeft {
  width: 410px;
  overflow: hidden;
  float: left
}

.focus_news .newsLeft ul li {
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.focus_news .newsLeft ul li a {
  font-size: 16px
}

.focus_news .newsLeft ul li:first-child a {
  font-size: 20px;
  color: #2d6cc2;
  font-weight: 700
}

.focus_news .newsLeft ul li:nth-child(6) {
  margin-top: 3px;
  border-top: 1px solid #dfdfdf;
  padding-top: 10px
}

.focus_news .newsLeft ul li:nth-child(6) a {
  font-size: 20px;
  color: #2d6cc2;
  font-weight: 700
}

.focus_news .newsRight {
  width: 800px;
  float: right
}

.focus_news .newsRight .img_big {
  float: left;
  position: relative
}

.focus_news .newsRight .img_big img {
  width: 490px;
  height: 360px
}

.focus_news .newsRight .img_big p {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  line-height: 30px;
  padding: 12px 20px 20px;
  display: inline-block;
  font-weight: 400;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .8))
}

.focus_news .newsRight .img_right {
  float: right
}

.focus_news .newsRight .img_right .right_item {
  position: relative
}

.focus_news .newsRight .img_right .right_item img {
  width: 300px;
  height: 175px
}

.focus_news .newsRight .img_right .right_item p {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 18px;
  padding: 12px;
  color: #fff;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .8))
}

.focus_news .newsRight .img_right .right_item:first-child {
  margin-bottom: 10px
}

.middle_wrap {
  clear: both;
  padding-top: 25px
}

.middle_wrap .new_house {
  float: left;
  width: 910px;
  overflow: hidden
}

.middle_wrap .new_house .top_content h3 {
  font-size: 26px;
  line-height: 40px;
  border-bottom: 2px solid #669fe6;
  margin-bottom: 20px;
  letter-spacing: 6px
}

.middle_wrap .new_house .top_content .new_house_list dl {
  float: left;
  margin-right: 20px
}

.middle_wrap .new_house .top_content .new_house_list dl:last-child {
  margin-right: 0
}

.middle_wrap .new_house .top_content .new_house_list dl dt {
  position: relative
}

.middle_wrap .new_house .top_content .new_house_list dl dt img {
  width: 290px;
  height: 165px
}

.middle_wrap .new_house .top_content .new_house_list dl dt p {
  width: 290px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  line-height: 30px;
  background: rgba(0, 0, 0, .5);
  font-size: 14px
}

.middle_wrap .new_house .top_content .new_house_list dl dd {
  margin-top: 15px
}

.middle_wrap .new_house .top_content .new_house_list dl dd p {
  float: left
}

.middle_wrap .new_house .top_content .new_house_list dl dd p span {
  display: block;
  font-size: 14px
}

.middle_wrap .new_house .top_content .new_house_list dl dd p span i {
  color: #f60;
  font-style: normal
}

.middle_wrap .new_house .top_content .new_house_list dl dd p span:last-child {
  color: #666
}

.middle_wrap .new_house .top_content .new_house_list dl dd a {
  float: right;
  width: 70px;
  height: 30px;
  background: #f60;
  color: #fff;
  line-height: 30px;
  text-align: center;
  border-radius: 3px
}

.middle_wrap .new_house .bottom_content {
  padding-top: 35px;
  clear: both
}

.middle_wrap .new_house .bottom_content h3 {
  float: left;
  width: 40px;
  height: 200px;
  font-size: 18px;
  background: #e2edf0;
  position: relative
}

.middle_wrap .new_house .bottom_content h3 span {
  line-height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.middle_wrap .new_house .bottom_content ul {
  width: 410px;
  height: 200px;
  box-sizing: border-box;
  padding-top: 10px;
  background: #f7fbfc
}

.middle_wrap .new_house .bottom_content ul li {
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  height: 30px
}

.middle_wrap .new_house .bottom_content ul li a {
  float: left;
  width: 33.3%
}

.middle_wrap .new_house .bottom_content ul li span {
  float: left;
  width: 33.3%;
  color: #666;
  text-align: center
}

.middle_wrap .new_house .bottom_content ul li span:nth-child(3) {
  text-align: left
}

.middle_wrap .new_house .bottom_content .hot_l {
  float: left;
  padding-left: 30px
}

.middle_wrap .new_house .bottom_content .hot_l li {
  border-right: 1px dashed #d7d9da
}

.middle_wrap .new_house .bottom_content .hot_r {
  float: right;
  width: 459px;
  padding-left: 30px
}

.disnone {
  display: none;
}

.main_right {
  float: right;
  width: 300px
}

.main_right>h2 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 10px
}

.newhouse .bor {
  border: 1px solid #c8c8c8
}

.calendarBox #leftBtn,
.calendarBox #rightBtn {
  display: none;
}

.calendarBox {
  width: 300px;
  box-sizing: border-box;
  line-height: 22px;
  height: 275px;
  position: relative;
  background: #f7fbfc;
  border-left: 1px solid #99bfee;
}

.calendarBox .title {
  background: #f7fbfc;
  line-height: 37px;
  height: 35px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  font-size: 12px;
  width: 298px;
  display: block;
}

.calendarBox h2 {
  float: left;
  width: 70px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.calendarBox .title a {
  color: #8faed5
}

.calendarBox .calendarTab {
  width: 216px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 68px
}

.calendarBox .calendarTab .t_width {
  width: 900px
}

.calendarBox .calendarTab ul li {
  float: left;
  text-align: center;
  width: 36px;
  color: #666666
}

.calendarBox #leftBtn {
  width: 6px;
  height: 10px;
  background-position: -142px -568px;
  float: left;
  cursor: pointer;
  margin-top: 13px;
  text-indent: -999em;
  overflow: hidden
}

.calendarBox #rightBtn {
  width: 6px;
  height: 10px;
  background-position: -149px -568px;
  float: right;
  cursor: pointer;
  margin-top: 13px;
  margin-right: 6px;
  text-indent: -999em;
  overflow: hidden
}

.calendarBox .calendarTab ul li.calendarOn {
  background: #1479d7;
  color: #fff;
  cursor: pointer
}

#calendarCon {
  position: relative;
  height: 235px;
  overflow: hidden
}

.calendarBox #calendarMonth {
  display: none
}

#calendarCon li {
  padding-left: 16px
}

#calendarCon li.ico {
  background-position: -237px -430px;
  padding: 0 0 0
}

#calendarCon li.ico_no,
#calendarCon li.ico_noBg {
  background-position: -238px -636px
}

#calendarCon li.ico span {
  background-position: -142px -532px;
  display: inline-block;
  padding-left: 12px;
  color: #6d9fc8;
  width: 60px;
  font-size: 12px;
  font-weight: 700
}

#calendarCon li.ico_no span {
  color: #fc9113
}

#calendarCon li.ico_noBg span {
  background: 0 0;
  color: #fc9113
}

#calendarCon li span {
  margin-left: 5px
}

#innerCon {
  width: 900px
}

#innerCon #content1,
#innerCon #content2,
#innerCon #content3 {
  float: left;
  width: 300px
}

#scrollBox_all2 {
  margin-top: 5px
}

#scrollBox_all2 #scrollBoxC2 {
  width: 294px;
  height: 235px;
  padding: 0 5px 0 0;
  position: relative
}

#scrollBox_all2 .scrollContent {
  width: 284px;
  height: 380px !important;
  clear: both;
  overflow: hidden;
  position: absolute
}

#scrollBox_all2 .scrollBar {
  width: 4px;
  height: 135px !important;
  border-radius: 5px;
  background: #cccccc;
  position: absolute;
  right: 0;
  top: 0
}

#scrollBox_all2 .scrollBar p {
  display: block;
  width: 100%;
  height: 100%
}

#scrollBox_all1 {
  margin-top: 5px
}

#scrollBox_all1 #scrollBox1 {
  width: 294px;
  height: 235px;
  padding: 0 5px 0 0;
  position: relative
}

#scrollBox_all1 .scrollContent {
  width: 284px;
  clear: both;
  position: absolute
}

#scrollBox_all1 .scrollBar {
  width: 13px;
  height: 35px;
  background: url(//mat1.gtimg.com/house/images/channel/icon_gd_m.jpg) left center;
  position: absolute;
  right: 0;
  top: 0
}

#scrollBox_all1 .scrollBar p {
  display: block;
  width: 100%;
  height: 100%
}

#scrollBox_all1 .scrollBar .topBg {
  background: url(//mat1.gtimg.com/house/images/channel/icon_gd_t.jpg) top left no-repeat
}

#scrollBox_all1 .scrollBar .barBg {
  background: url(//mat1.gtimg.com/house/images/channel/icon_gd_b.jpg) bottom left no-repeat
}

#scrollBox_all3 {
  margin-top: 5px
}

#scrollBox_all3 #scrollBox3 {
  width: 294px;
  height: 184px;
  padding: 0 5px 0 0;
  position: relative
}

#scrollBox_all3 .scrollContent {
  width: 284px;
  clear: both;
  position: absolute
}

#scrollBox_all3 .scrollBar {
  width: 13px;
  height: 35px;
  background: url(//mat1.gtimg.com/house/images/channel/icon_gd_m.jpg) left center;
  position: absolute;
  right: 0;
  top: 0
}

#scrollBox_all3 .scrollBar p {
  display: block;
  width: 100%;
  height: 100%
}

.scrollBarBg {
  width: 13px;
  position: absolute;
  right: 0;
  top: 0;
  height: 235px;
  display: none
}

#scrollBox1,
#scrollBox3,
#scrollBoxC2 {
  overflow: hidden
}

#newPrice {
  padding-top: 2px;
  background: #f7fbfc;
  border-left: 1px solid #99bfee;
}

#newPrice .hd {
  border-bottom: 1px solid #c8c8c8
}

#newPrice .hd h2 {
  font-size: 20px;
  padding-left: 10px;
  line-height: 35px;
  display: inline;
}

#newPrice .hd span {
  line-height: 35px;
}

#newPrice .bd {
  padding: 5px 12px 9px;
  height: 160px;
  box-sizing: border-box;
  overflow: hidden
}

.newhouse .bor .ft {
  margin-top: 25px
}

#newPrice .bd dt {
  background-position: -111px -50px;
  line-height: 26px;
  clear: both;
  height: 26px;
  overflow: hidden;
}

#newPrice .bd dt .name {
  width: 96px;
  overflow: hidden
}

#newPrice .bd dt .city {
  width: 60px;
  height: 26px
}

#newPrice .bd dt .fr {
  width: 105px;
  margin-left: 3px
}

#newPrice .bd dd {
  clear: both
}

#newPrice .bd .Q-tpList {
  padding: 3px 0
}

#newPrice .bd .Q-tpList div.l23 {
  color: #666;
  line-height: 22px
}

#newPrice .bd .Q-tpList p {
  width: 162px;
  height: 22px;
  overflow: hidden
}

#newPrice .bd .Q-tpList p span {
  margin-right: 6px
}

.newhouse .headlines h1 a {
  color: #353636
}

#newPrice .hd h2 {
  width: 238px
}

#newPrice .Q-tpList .pic {
  float: left;
  margin-right: 10px;
  overflow: hidden;
  display: inline;
  text-align: center;
}

#newPrice .Q-tpList .pic img {
  width: 70px;
  height: 40px
}

.main_wrap {
  clear: both
}

.main_wrap .main_left {
  float: left;
  width: 910px
}

.main_wrap .main_right {
  float: right;
  width: 300px;
  overflow: hidden
}

.er_house {
  width: 910px;
  float: left;
  padding-top: 25px
}

.er_house h3 {
  font-size: 26px;
  line-height: 44px;
  border-bottom: 2px solid #1479d7;
  letter-spacing: 6px
}

.er_house .house_wrap {
  margin-top: 23px
}

.er_house .house_wrap .house_item {
  width: 285px;
  float: left;
  margin-right: 25px
}

.er_house .house_wrap .house_item:last-child {
  margin-right: 0
}

.er_house .house_wrap .house_item>p {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 20px
}

.er_house .house_wrap .house_item>p span {
  display: inline-block;
  width: 80px;
  height: 28px;
  text-align: center;
  font-size: 14px;
  cursor: pointer
}

.er_house .house_wrap .house_item>p span.tab_inner {
  color: #1479d7;
  border-bottom: 2px solid #1479d7
}

.er_house .house_wrap .house_item .house_page {
  display: none
}

.er_house .house_wrap .house_item .house_page.page_inner {
  display: block
}

.er_house .house_wrap .house_item .house_page a {
  float: left
}

.er_house .house_wrap .house_item .house_page a:nth-child(odd) {
  margin-right: 15px
}

.er_house .house_wrap .house_item .house_page a:nth-child(5),
.er_house .house_wrap .house_item .house_page a:nth-child(6) {
  display: none
}

.er_house .house_wrap .house_item .house_page a dl dt {
  position: relative
}

.er_house .house_wrap .house_item .house_page a dl dt img {
  width: 135px;
  height: 90px
}

.er_house .house_wrap .house_item .house_page a dl dt p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  height: 22px;
  width: 135px;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  background: rgba(0, 0, 0, .5)
}

.er_house .house_wrap .house_item .house_page a dl dd {
  margin-top: 10px;
  margin-bottom: 20px
}

.er_house .house_wrap .house_item .house_page a dl dd p {
  line-height: 24px;
  font-size: 14px
}

.er_house .house_wrap .house_item .house_page a dl dd p:last-child {
  color: #666
}

.renting {
  width: 910px;
  float: left
}

.renting h3 {
  font-size: 26px;
  line-height: 44px;
  border-bottom: 2px solid #1479d7;
  letter-spacing: 6px
}

.renting .rent_content {
  margin-top: 23px
}

.renting .rent_content .rent_item {
  width: 285px;
  float: left;
  margin-right: 25px
}

.renting .rent_content .rent_item:last-child {
  margin-right: 0
}

.renting .rent_content .rent_item>p {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 20px
}

.renting .rent_content .rent_item>p span {
  display: inline-block;
  width: 80px;
  height: 28px;
  text-align: center;
  font-size: 14px;
  cursor: pointer
}

.renting .rent_content .rent_item>p span.rent_inner {
  color: #1479d7;
  border-bottom: 2px solid #1479d7
}

.renting .rent_content .rent_item .rent_page {
  display: none
}

.renting .rent_content .rent_item .rent_page.rentpage_inner {
  display: block
}

.renting .rent_content .rent_item .rent_page a {
  float: left
}

.renting .rent_content .rent_item .rent_page a:nth-child(odd) {
  margin-right: 15px
}

.renting .rent_content .rent_item .rent_page a:nth-child(5),
.renting .rent_content .rent_item .rent_page a:nth-child(6) {
  display: none
}

.renting .rent_content .rent_item .rent_page a dl {
  width: 135px;
  overflow: hidden
}

.renting .rent_content .rent_item .rent_page a dl dt {
  position: relative
}

.renting .rent_content .rent_item .rent_page a dl dt img {
  width: 135px;
  height: 90px
}

.renting .rent_content .rent_item .rent_page a dl dt p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  height: 22px;
  width: 135px;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
  background: rgba(0, 0, 0, .5)
}

.renting .rent_content .rent_item .rent_page a dl dd {
  margin-top: 10px;
  margin-bottom: 20px
}

.renting .rent_content .rent_item .rent_page a dl dd p {
  line-height: 24px;
  font-size: 14px
}

.renting .rent_content .rent_item .rent_page a dl dd p:last-child {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

/* 精品推荐 */
.rec_bar {
  float: right;
  width: 300px;
  padding-top: 25px;
  box-sizing: border-box
}

.rec_bar .rec_title {
  border-bottom: 2px solid #1479d7;
  height: 44px;
  line-height: 44px
}

.rec_bar .rec_title h2 {
  font-size: 26px;
  display: inline-block
}

.rec_bar .rec_title a {
  float: right;
  margin-right: 10px;
  padding-right: 10px;
  background: url(//mat1.gtimg.com/house/house2019/right.png) 30px 19px no-repeat
}

.rec_bar .rec_con {
  width: 300px;
  box-sizing: border-box;
  background: #f7fbfc;
  padding: 15px
}

.rec_bar .rec_con .big_con {
  position: relative;
  background: 0 0;
  padding-left: 0
}

.rec_bar .rec_con .big_con a img {
  width: 270px;
  height: 260px
}

.rec_bar .rec_con .big_con a p {
  width: 270px;
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  font-size: 16px;
  line-height: 48px;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.rec_bar .rec_con ul {
  margin-top: 20px
}

.rec_bar .rec_con ul li {
  background: url(//mat1.gtimg.com/house/house2019/dot.png) 0 8px no-repeat;
  padding-left: 10px;
  color: #c6c6c6;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.rec_bar .rec_con ul li a {
  color: #000;
  font-size: 14px;
  text-align: justify
}

.rec_bar .rec_con ul li a:hover {
  color: #bd0a01
}

.rec_bar .rec_con ul li:last-child {
  margin-bottom: 0
}

/* 原创栏目 */
.ori_bar {
  clear: both;
  padding-top: 25px
}

.ori_bar .rec_title {
  border-bottom: 2px solid #1479d7;
  height: 44px;
  line-height: 44px
}

.ori_bar .rec_title h2 {
  font-size: 26px;
  display: inline-block
}

.ori_bar .rec_title a {
  float: right;
  margin-right: 10px;
  padding-right: 10px;
  background: url(//mat1.gtimg.com/house/house2019/right.png) 30px 19px no-repeat
}

.ori_bar ul {
  padding: 15px 0;
  background: #f7fbfc
}

.ori_bar ul li {
  margin-bottom: 20px
}

.ori_bar ul li:last-child {
  margin-bottom: 0
}

.ori_bar ul li .origin_author {
  border-left: 4px solid #4492ef;
  padding-left: 10px;
  font-size: 18px;
  line-height: 20px;
  height: 20px
}

.ori_bar ul li img {
  width: 270px;
  height: 130px;
  margin: 8px auto 15px
}

.ori_bar ul li .origin_tit {
  background: url(//mat1.gtimg.com/house/house2019/dot.png) 0 8px no-repeat;
  padding-left: 10px;
  margin-left: 15px;
  font-size: 14px !important;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000
}

.ori_bar ul li .origin_tit:hover {
  color: #bd0a01
}

/* 热门专题 */
.topic_bar {
  clear: both;
  padding-top: 25px
}

.topic_bar .rec_title {
  border-bottom: 2px solid #1479d7;
  height: 44px;
  line-height: 44px
}

.topic_bar .rec_title h2 {
  font-size: 26px;
  display: inline-block
}

.topic_bar .rec_title a {
  float: right;
  margin-right: 10px;
  padding-right: 10px;
  background: url(//mat1.gtimg.com/house/house2019/right.png) 30px 19px no-repeat
}

.topic_bar ul {
  background: #f7fbfc;
  padding: 15px
}

.topic_bar ul li {
  display: none;
  background: url(//mat1.gtimg.com/house/house2019/dot.png) 0 8px no-repeat;
  padding-left: 10px;
  color: #c6c6c6;
  margin-bottom: 10px
}

.topic_bar ul li:first-child,
.topic_bar ul li:nth-child(2) {
  display: block
}

.topic_bar ul li.big_topic {
  background: 0 0;
  padding-left: 0
}

.topic_bar ul li.big_topic a img {
  width: 270px;
  height: 130px
}

.topic_bar ul li.big_topic a p {
  box-sizing: border-box;
  width: 270px;
  padding: 7px 15px;
  height: auto;
  overflow: hidden;
  line-height: 22px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.topic_bar ul li.big_topic a p:hover {
  color: #bd0a01
}

.topic_bar ul li a {
  color: #000;
  font-size: 14px;
  text-align: justify
}

.topic_bar .topic_more {
  line-height: 40px;
  background: #f0f0f0;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: #666;
  border-radius: 5px
}

/* 房产资讯 */
.house_property {
  clear: both
}

.house_property>h3 {
  padding-top: 20px;
  font-size: 26px;
  line-height: 30px
}

.house_property .houseinfo_tab {
  width: 910px;
  border-top: 2px solid #dbeaf8;
  border-bottom: 1px solid #f4f4f4;
  background: #f7fbfc;
  height: 46px;
  box-sizing: border-box;
  margin-top: 9px
}

.house_property .houseinfo_tab li {
  border-top: 4px solid transparent;
  margin-top: -2px;
  float: left;
  width: 130px;
  font-size: 18px;
  text-align: center;
  line-height: 41px;
  cursor: pointer
}

.house_property .houseinfo_tab li.info_inner {
  border-top: 4px solid #1479d7;
  background: #fff;
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4
}

.house_property .list_content {
  padding-top: 15px;
  display: none
}

.house_property .list_content.list_inner {
  display: block
}

.house_property .list_content ul li {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  display: none
}

.house_property .list_content ul li:first-child {
  border-top: none
}

.house_property .list_content ul li.hover {
  display: block
}

.house_property .list_content ul li .picture {
  display: block;
  position: relative;
  float: left;
  margin-right: 20px;
  width: 230px;
  height: 130px;
  overflow: hidden;
  min-width: 230px;
  max-width: 230px
}

.house_property .list_content ul li .picture img {
  width: 100%;
  min-height: 130px
}

.house_property .list_content ul li .detail {
  height: 130px
}

.house_property .list_content ul li .detail h3 {
  font-size: 20px;
  line-height: 32px;
  min-height: 110px
}

.house_property .list_content ul li .detail .binfo {
  position: relative;
  color: #666;
  font-size: 12px;
  height: 22px;
  padding-right: 10px
}

.house_property .list_content ul li .detail .i-share {
  position: relative;
  display: inline-block;
  color: gray;
  height: 22px;
  line-height: 22px
}

.house_property .list_content ul li .detail .i-share .t {
  display: inline-block;
  padding-left: 18px;
  background: url(//mat1.gtimg.com/house/house2019/share.png) no-repeat 0;
  cursor: pointer
}

.house_property .list_content ul li .detail .i-share .panel {
  position: absolute;
  left: -20px;
  top: 22px;
  width: 75px;
  font-size: 12px;
  padding: 5px 0 5px 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  display: none;
  z-index: 2
}

.house_property .list_content ul li .detail .i-share .panel .share_item {
  display: block;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  padding-left: 20px;
  outline: 0
}

.house_property .list_content ul li .detail .i-share .panel .qzone {
  background: url(//mat1.gtimg.com/house/house2019/qzone.png) no-repeat 0
}

.house_property .list_content ul li .detail .i-share .panel .qq {
  background: url(//mat1.gtimg.com/house/house2019/qq.png) no-repeat 0
}

.house_property .list_content ul li .detail .i-share .panel .sina {
  background: url(//mat1.gtimg.com/house/house2019/sina.png) no-repeat 0
}

.house_property .list_content ul li .detail .cmt {
  display: inline-block;
  line-height: 20px;
  height: 20px;
  color: gray;
  margin-left: 15px;
  padding-left: 18px;
  background: url(//mat1.gtimg.com/house/house2019/cmt.png) no-repeat 0
}

.house_property .list_content .load_state {
  margin-top: 20px;
  background: #f0f0f0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px
}

body {
  min-width: 1240px;
  font-family: "microsoft yahei";
}

.wrap {
  width: 1240px;
  margin: 0 auto;
  font-family: "Microsoft YaHei";
  position: relative;
}

.mininavInner {
  width: 1240px !important;
}

.column_nav {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: #1479d7;
  clear: both
}

.column_nav li {
  height: 50px;
  float: left;
  padding: 0 29px;
  line-height: 50px
}

.column_nav li a {
  font-size: 16px;
  color: #fff;
  font-weight: 700
}

.column_nav li:hover {
  background: #4b99de
}

.goTop {
  position: fixed;
  width: 60px;
  right: 150px;
  bottom: 100px;
  z-index: 49;
  display: none
}

.goTop a {
  width: 100%;
  height: 60px;
  color: #1479d7;
  font-size: 14px;
  display: inline-block;
  background: #f5f8fc;
  border: 1px solid #c9dff4;
  margin-bottom: 20px;
  text-align: center;
  line-height: 60px
}

.goTop a .icon {
  display: inline-block;
  width: 25px;
  height: 14px;
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(//mat1.gtimg.com/pingjs/ext2020/qqindex2018/dist/img/right-up1.png);
  background-image: -webkit-image-set(url(//mat1.gtimg.com/pingjs/ext2020/qqindex2018/dist/img/right-up1.png) 1x, url(//mat1.gtimg.com/pingjs/ext2020/qqindex2018/dist/img/right-up1_2x.png) 2x)
}/*  |xGv00|f4673de92e1c0dbeddc0f6ab30f5356d */