.aCell {
    width: 142px;
    height: 82px;
    margin: 0 5px;
    display: inline-block;
    position:relative;
    cursor: pointer;
}

.aCell:active {
    border: 0;
}

.aCell:hover {

}

.acon {
    height: 104px;
    transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
}
.select .aImg {
    border: 2px solid #408ed6;
}
.aImg {
    width: 52px;
    height: 52px;
    border: 2px solid #ffffff;
}

.title {
    position:absolute;
    left: 1px;
    bottom: 1px;
    text-align: center;
    height: 22px;
    width: 140px;
    line-height: 22px;
    overflow:hidden;
    font-size: 12px;
    color: #f2f2f2;
    background-color: rgba(18,15,15,0.7);;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3181515,endColorstr=#B3181515);
}

.select .title {
    color: #ffffff;
}

.cellContainer {
    top: 22px;
}

.albumPre {
    position:absolute;
    top: 48px;
    left: 12px;
    width: 20px;
    height: 33px;
    background:url(../img/main.png) -251px -44px;
    cursor: pointer;
}

.albumNext {
    position:absolute;
    top: 48px;
    right: 12px;
    width: 20px;
    height: 33px;
    background:url(../img/main.png) -276px -44px;
    cursor: pointer;
}

.albumCate {
    margin-left: 45px;
    height: 22px;
    line-height: 22px;
}

.albumCateItem, .albumCateItemSelect {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    height: 22px;
    width: 82px;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    color: #ffffff;
    margin-right: 6px;
    cursor: pointer;
    font-weight: 700;
    background-color: rgba(0,0,0,0.7);;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
}

.albumCateItemSelect {
    color: #408ed6;
}




