ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list {
    position: absolute;
    top: -0px;
    right: 80px;
    width: 154px;
    height: 20px;
}

.pre {
    height: 18px;
    width: 154px;
    background:url(../img/main.png) -251px 0px;
    cursor: pointer;
}

.nex {
    height: 18px;
    width: 154px;
    background:url(../img/main.png) -252px -23px;
    cursor: pointer;
}

.content {
    width: 154px;
    height: 222px;
    background-color: rgba(0,0,0,0.7);
    margin: 2px 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
    overflow: hidden;
    z-index: 9999;
}

.item {
    cursor: pointer;
    position: relative;
    height: 72px;
    border: 1px solid transparent;
    border-bottom: 1px solid #3b3837;
}

.no {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 19px;
    height: 23px;
    line-height: 23px;
    background:url(../img/main.png) -319px -48px;
    font-size: 10px;
    color: #ffffff;
    padding-left: 3px;
}

.tit {
    padding: 7px 0 7px 25px;
    color: #ffffff;
    font-size: 12px;
    overflow: hidden;
    height: 11px;
    width: 80px;
}
.dis {
    position: absolute;
    color: #ffffff;
    font-size: 12px;
    top: 7px;
    left: 115px;
}
.starCon {
    margin-left: 25px;
    height: 16px;
    line-height: 16px;
}
.star {
    display:inline-block;
    *display: inline;
    *zoom: 1;
    width: 17px;
    height: 16px;
    background:url(../img/main.png) -348px -46px;
}
.price {
    padding: 5px 0 5px 25px;
    font-size: 12px;
    color: #ffffff;
}
.book {
    position:absolute;
    bottom: 3px;
    right: 12px;
    width: 48px;
    height: 19px;
    background:url(../img/main.png) -193px 0px;
    cursor: pointer;
}

.itemSelect {
    border: 1px solid #3573ab;
}

#shareCon {
    position:absolute;
    width:168px;
    height:168px;
    background-color: rgba(0,0,0,0.7);;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
    border-radius: 5px;
    top: 320px;
    right: 80px;
    z-index: 1000;
}

.mapCon {
    position: absolute;
    width: 175px;
    height: 152px;
    top: 440px;
    right: 22px;
    background-color: rgba(0,0,0,0.7);;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
    border-radius: 3px;
    z-index: 10000;
}

#innerCon {
    position:absolute;
    width: 171px;
    height: 148px;
    top:2px;
    left: 2px;
}

.mapIcon, .mapIconSelect{
    position: absolute;
    width: 22px;
    height: 88px;
    background:url(../img/main.png) -257px -79px;
    top: 440px;
    right: 0px;
    cursor: pointer;
    z-index: 10000;
}

.mapIconSelect {
    background-position: -284px -79px;
}
