@charset "gb2312"; body{ min-width:1241px;}
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select{ margin:0; padding:0;}
body{ font-family:"微软雅黑"; background:#fff;}
em, i{ font-style:normal;}
h1,h2,h3,h4,h5,h6{ font-family:"微软雅黑"; font-size:14px; font-weight:normal;}
img{ border:none; vertical-align:middle;}
table{ border-collapse:collapse; border-spacing:0;}
p{ word-wrap:break-word;}
ul,li{ list-style:none; padding:0; margin:0;}
.fl{ float:left;}
.fr{ float:right;}
a{ text-decoration:none; color:#212121; font-family:"微软雅黑";}
a:hover{ color:#51abcf !important;}
.ft12{ font-size:12px;}
.ft16{ line-height:26px;}
.ft14{ font-size:14px; line-height:26px;}

.clearfix:after{ content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix{ zoom:1;}
.hide{ display:none;}
.wrap{ width:1240px; margin:0 auto; background-color:#fff;}

.ad{ width:745px; height:90px; overflow:hidden;}
.jj_topad .left{ float:left;}
.jj_topad .right{ float:right;}

.header{ width:1240px; height:32px; overflow:hidden; margin:0 auto; padding:18px 0; background-color:#fff;}
.logo{width:150px;margin:0;}
.logo .logo_img{width:146px; height:32px; overflow:hidden; display:block; background:url(http://mat1.gtimg.com/fj/2016index/logo_2018_home.gif) no-repeat left top; text-indent:-1000em;}
.logo .soso{ padding-top:2px;}
.city{ width:120px; color:#666; padding:6px 0 0 20px; height:20px; line-height:20px; font-size:14px;}
.city .btn{ position:relative;}
.city .btn p{ color:#999;}
.city .btn .inner{ padding-left:5px; display:none; line-height:20px;}
.city .btn:hover .inner{ display:block; width:100px; height:100px; overflow:hidden; position:absolute; left:0; top:0;}
.city .btn:hover .inner a{ display:block; text-decoration:none;}
.city .btn:hover p{ display:none;}

.toplink{width:550px;overflow:hidden;height:26px;line-height:26px;padding:4px 0 4px 65px; font-size:14px;color:#51abcf;}
.toplink .fl{ width:75px;}
.roll-wrap{ width:475px;}
.roll-wrap ul,.roll-wrap ul li{ height:26px;}

.jjNav{ background:#212121; margin:0 auto;}
.jjNav-list{ overflow:hidden; width:1240px; margin:0 auto;}
.jjNav .jjNav-list > li{ width:137px; height:50px; float:left; text-align:center;}
.jjNav .nav-last{ border:none;}
.jjNav .jjNav-list li a{ font-size:18px; color:#fff; line-height:47px; display:inline-block; padding:0 5px;}
.jjNav .jjNav-list li.bordli a{ font-size:18px; color:#fff; line-height:40px; display:inline-block; padding:0 5px;}
.jjNav .jjNav-list > li:hover div a,.jjNav .jjNav-list > li:hover > a{ text-decoration:none; color:#fff !important; border-bottom:3px solid #51abcf;}
.jjNav .jjNav-list > li em{ color:#51abcf; font-weight:bolder;}
.jjNav .nav-select{ position:relative;}
.jjNav .nav-select div{ position:relative; z-index:200; background-color:#212121;}
.jjNav .nav-select .select-bx{ position:absolute; top:0px; left:0; z-index:99; background-color:#212121; display:none;}
.jjNav .nav-select .select-bx li{ width:137px; text-align:left; overflow:hidden; border-right:none; border-bottom:1px solid #212121;}
.jjNav .nav-select .select-bx li a{ display:block; height:auto; font-size:14px; line-height:20px; padding:10px 15px;}
.jjNav .nav-select .select-bx li a:hover span{ color:#fff;}
.jjNav .nav-select .select-bx .tit{ margin-bottom:8px;}
.jjNav .nav-select .select-bx .tit strong{ padding-right:15px;}
.jjNav .nav-select .select-bx .tit span{ font-size:12px;}
.jjNav .select-bx li:hover{ background-color:#212121;}

/*css script*/
.scriptC{ background:url(http://mat1.gtimg.com/cd/pjq2015/2017/3/jiajugb/csssp.png) no-repeat;}

/*焦点图*/
.focus{width:745px;height:500px;position:relative;overflow:hidden; background-color:#fff;}
.focus .focus_con .item{ position:relative;}
.focus .focus_con img{width:745px;height:470px;}
.focus .pic-des{ width:720px; height:67px; padding:10px 0 0 25px; position:absolute; left:0; bottom:0; line-height:28px;color:#fff; background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.focus .pic-des h3{ font-size:22px;}
.focus .focus_dot{ width:330px; height:30px; margin:0 auto; *padding-top:15px;}
.focus .focus_dot a{ width:100px; height:4px; display:inline-block; margin-left:6px; background-color:#212121;}
.focus .focus_dot a:hover,.focus .focus_dot .current{text-decoration:none;background-color:#51abcf;}

/*购物列表*/
.shop-items{ margin-top:25px;}
.shop-items .item{ padding:22px 0; border-bottom:1px solid #eaeaea;}
.item .item-hd{ width:200px; height:150px; overflow:hidden; margin-right:20px;}
.item .item-hd img:hover{ opacity:.9;}
.item .item-bd{ padding-right:20px;}
.item .item-bd .item-cap{ color:#7c7c7c; margin:10px 0 18px 0; height:52px; overflow:hidden; text-overflow:ellipsis;}

.item .item-bd .item-ifo .item-share,.onlyimg .item-share{ position:relative; background-position:-94px -68px; height:19px; width:21px; border:2px solid transparent;}
.item .item-bd .item-ifo .item-tags, .onlyimg .item-ifo .item-tags{ background-position:-194px -117px; padding-left:25px;}
.item .item-bd .item-ifo .item-tags > a, .onlyimg .item-tags > a{ color:#c8c8c8; font-size:12px;}
.onlyimg{ list-style:none; padding-right:20px!important;}
.onlyimg .item-tit{ margin:0px 0 16px 0;}
.onlyimg a.artit{ width:100%!important; margin-top:0; line-height:1rem; line-height:14px; margin-bottom:1.5rem; margin-bottom:22px;}
.items-1 .onlyimg{ display:none;}
.oimgS{ overflow:hidden; margin-bottom:16px;}

.tit{ width:186px; height:34px; display:block;}
a:hover img{ filter:alpha(opacity=70);opacity:0.7; -moz-opacity:0.7;}
a{ text-decoration:none;}
a:hover{ text-decoration:none; color:#51abcf!important;}
.border{ display:inline-block; vertical-align:5px; margin:0 5px;}

.f18{ font-size:18px;}
.f16{ font-size:16px;}
.f14{ font-size:14px;}
.f20{ font-size:20px;}
.f22{ font-size:22px;}
.f28{ font-size:28px;}
.colorR{ color:#51abcf;}
i{ display:block; float:left;}

/*form*/
.huiyan-form .control-group{ border-bottom:1px solid #212121;margin-bottom:16px!important; padding-bottom:6px!important;}
.huiyan-form .control-label{ padding-right:0!important; width:85px!important;}
.huiyan-form input{ width:200px!important; float:right; border:0!important; outline:none; box-shadow:none!important; margin-top:3px!important;}

.huiyan-form i{ display:block; width:19px; height:22px; float:right!important;}
#submitBtn{ display:block; width:182px; height:34px; background-position:-13px 0;border:0; outline:0; margin:0 auto; cursor:pointer; background-repeat:no-repeat;}
.add{ border:1px solid #cfcfcf; overflow:hidden; padding-bottom:20px; background:url(http://mat1.gtimg.com/fj/home/2017index/add_bg_n.gif) no-repeat left top;}
.add_hd{ width:100%; height:100px; display:block;}
.add_hd a{width:100%;height:56px;display:block;}
.add_hd span{padding-left:282px; font-size:16px;line-height:26px;color:#51abcf;}
.add_con{ width:340px; margin:0 auto;}
.add_banner{ margin:0px auto 20px;}
.add_tel{ display:block; color:#51abcf; font-size:14px; line-height:18px; margin:10px 0;}
.add_tel i{ display:block; width:22px; height:18px; background-position:-146px -116px;}

.add_banner img{ display:block; width:100%; height:auto;}
.add_formS{ background-position:-50px -65px;}
.add_formE{ background-position:-50px -134px;}

/*最新活动*/
.activity{ width:428px; background:url(http://mat1.gtimg.com/cd/pjq2015/2017/3/jiajugb/actbg.png) no-repeat center center; background-size:100% 100%; padding:100px 0 50px;}
.act{ width:342px; overflow:hidden;}
.act1{ margin:50px auto 0;}
.act2,.act3,.xb4{ margin:0 auto;}
.pic{ width:100%; height:auto;}
.des{ width:100%; text-align:center; margin-top:16px;}
.des a{ color:#212121;}

/*喜图*/
.xt{ width:100%; height:auto; position:relative; overflow:hidden; margin:40px 0;}
.xt .xtimg{ display:block; width:100%; height:auto;}
.xt-con{ overflow:hidden; padding:20px 0; border:1px solid #cfcfcf;border-top:0;}
.xt h3{ width:340px; text-align:left; color:#676666; margin:0 auto;}
.xt-logo{ position:absolute; width:80px; height:80px; border-radius:50%; display:block; bottom:23px; right:30px;}

/*品牌推荐*/
.pptt{ width:435px; position:relative; border-top:0; margin-top:40px;}
.pptt_icon1{ display:block; position:absolute; background-position:-913px 0px; width:92px; height:57px; right:-15px; top:11px; z-index:5;}
.pptt-tit{ width:100%; overflow:hidden; height:auto;}
.pptt_icon2{ display:block; width:434px; height:34px; background-position:-223px -147px;}

.pptt_con{ border:1px solid #cfcfcf; width:431px; border-top:0; padding:15px 0;}
.pptt_con ul{ width:345px; margin:0 auto;}
.pptt_con ul li{ display:flex; -webkit-box-align:center; -webkit-align-items:center; align-items:center; margin:27px 0 26px; overflow:hidden;}
.pptt_con ul li>a{ display:block; width:148px; height:103px; margin-right:25px; border:1px solid #cfcfcf; float:left;}
.pptt_img{ display:block; width:146px; height:101px;}
.pptt_des{ line-height:26px; float:left; width:170px;}
.pptt_des h2{ width:100%; height:26px; overflow:hidden; margin-bottom:10px;}
.pptt_des h2 a{ color:#2e2e2e; font-weight:700;}
.pptt_des p{ color:#7c7c7c; height:50px; overflow:hidden;}

/*设计家*/
.mrt,.nactive{ border-top:4px solid #51abcf; border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf; padding:20px 45px 30px; margin:40px 0;}
.mrt_tit{ color:#212121; margin:5px 0 10px; height:37px; overflow:hidden;}
.mrt_tit b{ font-weight:normal;}
.mrt_tit a{ display:inline-block; float:right; margin-top:20px;}
.mrt_tit a i{ display:block; width:48px; height:13px; background-position:-146px -68px;}
.mrt .des{ text-align:left;}
.mrt .des p{ line-height:36px; height:36px; color:#666;}

/*惠民修缮*/
.hmxs{ width:340px; margin:20px auto 0; border:1px #ccc solid; padding:10px 44px; overflow:hidden;}
.hmxs dt{ width:180px; font-size:14px;}
.hmxs dt h4{ font-size:18px; height:36px; line-height:36px;}
.hmxs dt p{ height:66px; line-height:22px; overflow:hidden;}
.hmxs dd{ width:150px;}

/*最新活动*/
.nactive{ padding:35px 44px 20px;}
.nactive li{ padding-bottom:10px;}
.nactive li h4{ font-size:18px; text-align:center; line-height:36px; height:36px;}

/*热门活动*/
.rmhd{ width:330px; height:203px; background:url(http://mat1.gtimg.com/fj/home/2017index/rmhd_bg.jpg) no-repeat center center; background-size:100% 100%; padding:85px 50px 30px;}
.rmhd li{ border-bottom:1px dashed #cfcfcf;}
.rmhd li:last-child{ border-bottom:0; border-bottom:none;}
.rmhd li a{ font-size:16px; color:#212121; line-height:46px;}

/*行业动态*/
.hydt{ width:330px; height:500px; background:url(http://mat1.gtimg.com/cd/pjq2015/2017/3/jiajugb/hydtbg.png) no-repeat center center; background-size:100% 100%; padding:85px 50px 30px;}
.hydt li{ border-bottom:1px dashed #cfcfcf;}
.hydt li:last-child{ border-bottom:0; border-bottom:none;}
.hydt li a{ font-size:16px; color:#212121; line-height:46px;}

/*推荐买/逛卖场*/
.tjm_gmc_foc{width:338px;height:220px;position:relative; clear:both; display:block;}
.tjm_gmc_foc .focus_con{height:220px;overflow:hidden;}
.tjm_gmc_foc .focus_con .item{position:relative;}
.tjm_gmc_foc .focus_dot{position:absolute;left:100px;top:-30px;}
.tjm_gmc_foc .focus_dot a{display:inline-block;width:8px;height:8px;margin-right:5px; background:url(http://mat1.gtimg.com/fj/home/2017index/icon_aa.png) no-repeat right top;}
.tjm_gmc_foc .focus_dot a:hover,.tjm_gmc_foc .focus_dot .current{text-decoration:none; background-position:left top;}

/*曝光台*/
.bgt{ width:330px; height:200px; background:url(http://mat1.gtimg.com/fj/home/2017index/bgt_bg1.gif) no-repeat center center; background-size:100% 100%; padding:85px 50px 30px;}
.bgt li{ border-bottom:1px dashed #cfcfcf; color:#666; line-height:46px;}
.bgt li:last-child{ border-bottom:0; border-bottom:none; padding-top:10px;}
.bgt li a{ font-size:16px; color:#212121; line-height:46px;}

/*小白*/
.dottedline{ margin:20px auto 26px; height:1px; width:342px; border-bottom:1px dotted #212121;}
.jhxb{ width:418px; border:1px solid #212121; position:relative; padding:5px;}
.jhxb2{ border:1px solid #212121; position:relative; width:416px; overflow:hidden; padding-bottom:40px;}

.xb{ width:342px; overflow:hidden;}
.xb1{ margin:50px auto 0;}
.xb2,.xb3,.xb4{ margin:0 auto;}
.xb .pic{ width:100%; height:auto;}
.xb .pic img{ width:100%; height:auto;}
.xb .des{ width:100%; text-align:center; margin-top:16px;}

/*分页*/
.pagination{ width:100%; text-align:center; margin:20px 0; overflow:hidden;}
.pagination a{ text-decoration:none; color:#353535;}
.pagination a, .pagination span{ display:inline-block; padding:0.5em 1em; margin-right:5px; margin-bottom:5px; border-radius:3px;}
.pagination .prev, .pagination .next{ color:#fff; background:#353535;}
.pagination .current{ background:#51abcf; color:#fff;}
.pagination .current.prev, .pagination .current.next{ color:#fff; background:#353535;}
.pagination .page-on{ background:#51abcf; color:#fff;}
.pagination .page-on:hover{ color:#fff!important;}

/*合作商家*/
.footer{ overflow:hidden; background:#353535;}
.footer h4{ width:1240px; margin:55px auto 25px; overflow:hidden;}
.hb_scroll{ position:relative; width:1240px; height:290px; margin:0 auto;}
.hb_scroll .scroll_con{ zoom:1; width:1100px; height:290px; overflow:hidden; position:relative; margin:0px auto;} /*可视宽度width,height必须设置 */
.hb_scroll .scroll_con .split{ width:1100px; height:290px; overflow:hidden; float:left; padding-right:20px; text-align:center; display:block;}
.hb_scroll .scroll_con .split p{ margin:0 12px 24px; ; text-align:center; width:112px; height:112px; overflow:hidden; float:left;}
.hb_scroll .scroll_con .split p a{ color:#212121;}
.hb_scroll .scroll_con .split p a img{ width:112px; height:112px; overflow:hidden;}
.hb_scroll .prev, .hb_scroll .next{ width:37px; height:87px; position:absolute; cursor:pointer; display:block; top:85px;}
.hb_scroll .prev{ background-position:-787px 0; left:0px;}
.hb_scroll .next{ background-position:-849px 0; right:0px;}
.icon5{ width:1240px; height:70px; background-position:0 -222px;}
/*行业合作*/
.hyhz{ width:1240px; overflow:hidden; margin:25px auto 40px;}

.footewm{ margin:23px;}
.footewm img{ display:block; float:left;}
.ewmimg{ overflow:hidden; background:#fff; border-radius:6px; padding:6px; margin-right:23px;}

.footr{ color:#fff; font-size:15px; margin-top:25px; font-weight:700;}
.footgghz{ padding-left:8px; color:#51abcf;}
.footr p{ line-height:24px; margin:10px;}
.footr p>span{ margin-right:15px;}

.main-bd{ margin-top:26px; margin-bottom:77px;}
.main-bd .bd-left{ width:745px;}
.main-bd .bd-right{ width:430px;}
.shop-sameTag{ height:40px; line-height:40px; font-size:24px; font-weight:500; padding-left:10px; border-bottom:1px solid #212121;}
.shop-items{ margin-top:25px;}
.shop-items .item{ padding:26px 0; border-bottom:1px solid #eaeaea;}

.share-bx{ position:absolute; top:20px; left:-35px; width:75px; height:20px;}
.share-bx a{ float:left; display:inline-block; width:20px; height:20px; margin-right:5px; background:url(http://mat1.gtimg.com/cd/2016/shop/images/icon.png) no-repeat;}
.share-bx a:hover{ opacity:0.8;}
.share-bx .sina{ background-position:0 0;}
.share-bx .qzone{ background-position:0 -21px;}
.share-bx .weixin{ background-position:0 -43px;}

.weixinWrap{ position:absolute; z-index:8888; top:-125px; right:0px; width:259px; height:85px; background:#fff; padding:10px; border:1px solid #c8c8c8; color:#212121; font-size:14px;}
.weixinWrap .pic{ width:85px; height:85px; overflow:hidden; margin-right:15px;}
.weixinWrap .pic img{ width:100%;}
/*base64 图片地址可以减少页面请求，但是会增加页面大小，两者取重点--减少页面请求*/
.weixinWrap .icon{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABzSURBVChTlZBLDoAgDER7XmLc4cqEo7jiLPRW2oFhoVCjLzHAfAARVT1LKbv8AHn0UE6Y2LfRewU55lMXIoWlCg7wmYuUGq5BoNOfH2BGv9LtFzx9wAL1BHuUFWuMLE5vNGCFwMLBjQKtb1ghs5gpPRC5AGT7fgvP/5JRAAAAAElFTkSuQmCC) no-repeat;}
.weixinWrap .tria{ position:absolute; right:20px; bottom:-8px; width:15px; height:8px; background-color:#fff; background-position:0 0;}

.backToTop{ display:none; width:54px; height:54px; border-radius:50%; background:url(http://mat1.gtimg.com/fj/money/2012money/back_top.png) no-repeat; background-color:#51abcf; position:fixed; _position:absolute; z-index:6; bottom:80px; _bottom:"auto"; cursor:pointer; filter:alpha(opacity=60); left:50%; margin-left:590px ;}
.backToTop:hover{ opacity:.6;}
.bx-wrapper .bx-loading{ background:none;}

.jjNav.fixed{ width:100%; position:fixed; top:0; left:0; z-index:999;}

.footer .wrap{ background:#353535;}
.tcopyright {width:960px;margin:0 auto;padding:8px 0;font-size:12px;line-height:28px;color:#fff!important; text-align:center; overflow:hidden;clear:both;}
.tcopyright .en{font-family:Arial;}
.tcopyright a{color:#fff!important;text-decoration:none;}
.tcopyright a:hover{color:#bd0a01;text-decoration:underline;}

/*行业合作*/
.icon6{ width:1240px; height:70px; background:url(http://img1.gtimg.com/fj/pics/hv1/161/84/2310/150229331.png) no-repeat center top;}
.hy_scroll{ width:1240px; position:relative;}
.hy_scroll .inner{ position:relative; width:1216px; height:112px; overflow:hidden;margin:0 auto;}
.hy_scroll .split{ width:140px; height:112px; float:left; padding:0 6px;}
.hy_scroll .split img{ width:140px; height:112px;}
.hy_scroll .btn{position:absolute;top:50%;margin-top:-18px;width:36px;height:36px;cursor:pointer; background:url(http://img1.gtimg.com/fj/pics/hv1/28/87/2310/150229963.png) no-repeat center top}
.hy_scroll .prev{left:0;}
.hy_scroll .next{right:0; background-position:center bottom;}/*  |xGv00|8af2ca7aa0b2f953fcd408feed9a147c */