body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333;outline:none}
a:hover{color:#db1011}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}
			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}


.l-s{width:1135px;height:53px;margin:20px auto}
.logo{float:left;width:250px;height:53px}
.logo img{width:185px;height:53px}


.nav{width:1135px;height:54px;overflow:hidden;margin:auto;border-top:1px solid #dfdfdf}
.nav li{display:inline;float:left;width:162px;height:50px;line-height:50px;font-size:20px;color:#403e3e;border-bottom:4px solid #4b4a4a;text-align:center}
.nav li a{display:block;color:#403e3e}
.nav li.nav-1{width:163px}
.nav li a.active{color:#db1011;border-bottom:4px solid #dc1617}


.scroll{position:relative;width:645px;height:410px;overflow:hidden;margin-bottom:7px}
.focus_1{width:645px;height:410px;overflow:hidden;margin:auto}
.focus_1 img{width:645px;height:410px}

.section{width:1135px;height:auto;overflow:hidden;margin:auto;margin-top:30px}
.content1-l{position:relative;float:left;width:750px;height:470px;overflow:hidden}
.focus-pic,.focus-pic li,.focus-pic img{width:750px;height:470px}
.focus-pic li{display:none}
.focus-pic li.active{display:block}
.small-pic{position:absolute;z-index:2;left:0;bottom:0;height:92px}
.small-pic li{display:inline;float:left;width:187px;height:78px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#55000000',endColorstr='#55000000');background:rgba(0,0,0,.5);margin-top:14px;margin-left:1px;cursor:pointer}
.small-pic li.w{width:186px;margin-left:0}
.small-pic li.active{height:92px;background:#dc1617;margin-top:0}
.small-pic li p{font-size:12px;color:#fff;text-align:center}
.small-pic li p.p1{height:37px;line-height:37px;overflow:hidden;margin-top:7px;font-size:18px}
.small-pic li.active p.p1{margin-top:18px}

.content1-r{position:relative;float:right;width:340px;height:470px;overflow:hidden}
.top-title{height:46px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat}
.top-title h2{text-indent:-9999em}
.top-news{height:auto;overflow:hidden;padding:5px 0 12px 0;border-bottom:1px dotted #333;_height:87px}
.top-news.last{padding-bottom:19px;_height:94px}
.top-news-l{float:left;width:45px;height:70px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat}
.top-news-l.l1{background-position:0 -46px}
.top-news-l.l2{background-position:0 -161px}
.top-news-l.l3{background-position:0 -277px}
.top-news-r{float:right;width:295px}
.top-news-r h3{height:43px;line-height:43px;overflow:hidden;font-size:22px;color:#333}
.top-news-r h3 a{color:#333}
.top-news-r p{height:46px;line-height:23px;overflow:hidden;font-size:12px;color:#666}
.hot{position:absolute;bottom:0;height:110px}
.hot-title{width:83px;height:25px;line-height:25px;background:#dc1617;margin:auto;font-size:14px;color:#fff;text-align:center}
.hot-list{height:18px;line-height:17px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat -10px -416px;margin-top:16px}
.hot-list li{display:inline;float:left;font-size:18px;color:#333;text-align:center}
.hot-list li.hl1{width:96px;padding-left:6px;text-align:left}
.hot-list li.hl2{width:128px}
.hot-list li.hl3{width:105px;padding-left:5px}
.hot-list li a{color:#333}
.hot-more{height:36px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/dot.png) repeat-x left center;margin-top:15px}
.hot-more a{display:block;width:146px;height:32px;line-height:30px;background:#fff;margin:auto;font-size:16px;color:#000;border:2px solid #000;text-align:center}

.content2-l{float:left;width:575px}
.c2-title{height:28px;margin-bottom:20px}
.c2-title h3,.c2-title h3 span,.c2-title a{display:block;height:28px}
.c2-title h3,.c2-title a{float:left}
.c2-title h3 span{text-indent:-9999em}
.c2-title h3{width:118px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat -362px 0;margin-right:19px}
.c2-title h3.fuli{background-position:-362px -32px}
.c2-title a{display:inline-block;line-height:28px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat -485px 6px;padding-left:22px;font-size:14px;color:#333}
.c2-main-l,.c2-main-l img{float:left;width:238px;height:260px}
.c2-main-l{border:1px solid #efefef}
.c2-main-r{position:relative;float:left;width:295px;height:262px;overflow:hidden;margin-left:25px}
.c2-main-r h3{height:48px;line-height:24px;overflow:hidden;margin-top:6px;font-size:20px;color:#000}
.c2-main-r h3 a{color:#000}
.c2-main-r p.p1{height:48px;line-height:24px;overflow:hidden;margin-top:12px;font-size:12px;color:#666}
.c2-main-r p.p2{margin:19px 0 4px 0;font-size:14px;color:#666;text-decoration:line-through}
.c2-main-r p.p3{font-size:14px;color:#000}
.c2-main-r p.p3 span{font-size:30px;color:#db1011}
.my-join{position:absolute;left:0;bottom:0;height:39px}
.my-join a{display:block;width:113px;height:39px;line-height:39px;background:#dc1617;font-size:18px;color:#fff;text-align:center}
.content2-r{float:right;width:560px}
.c2-main-list{height:auto;overflow:hidden;padding-bottom:3px;border-left:1px solid #dfdfdf}
.c2-main-list li{display:inline;float:left;width:258px;height:auto;overflow:hidden;margin-left:19px}
.c2-main-list li img{width:258px;height:165px}
.c2-main-list li p{height:50px;line-height:50px;font-size:14px;color:#333;text-align:center}
.c2-main-list li p a{color:#333}
.c2-main-list li a.my-btn{display:block;width:236px;height:36px;line-height:36px;margin:auto;font-size:18px;color:#000;border:3px solid #4b4a4a;text-align:center}
.c2-main-list li a.my-btn span{color:#dc1617}
.content2-r .c2-title h3{margin-left:19px}

.long-title{width:1135px;height:83px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/dot1.png) repeat-x left 27px;margin:30px auto 20px auto}
.long-title h2{width:301px;height:83px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat;margin:auto;*margin-top:0}
.long-title h2 span{display:block;text-indent:-9999em}
.long-title h2.gj-dp{background-position:0 -499px}
.long-title h2.hf-mz{background-position:0 -585px}
.long-title h2.wb-zb{background-position:0 -672px}
.long-title h2.tc-qz{background-position:0 -759px}

.content3-l{float:left;width:750px}
.content3-l-t,.content3-l-b{height:287px}
.content3-l-t{background:#f8f8f8;overflow:hidden}
.content3-l-t-l{float:left;width:325px}
.content3-l-t-l a{position:relative;display:block;width:325px;height:287px}
.content3-l-t-l img{width:325px;height:287px}
.content3-l-t-l a h3{position:absolute;bottom:52px;left:22px;width:285px;height:37px;line-height:37px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:20px;color:#fff;text-align:center}
.content3-l-t-l a p{position:absolute;bottom:21px;left:22px;width:285px;height:30px;line-height:30px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:14px;color:#fff;text-align:center}
.content3-l-t-r{float:left;width:385px;margin-left:39px}
.content3-l-t-r h3{height:32px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat 0 -845px;_background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/bgie6.png);margin:35px 0 0 0}
.content3-l-t-r h3 span{display:block;text-indent:-9999em}
.s-list li{height:70px;overflow:hidden}
.s-list li span{display:block;float:left}
.s-list li span.sp1{width:27px;height:22px;line-height:22px;background:#000;margin-top:24px;font-size:15px;color:#fff;text-align:center}
.s-list li span.sp2{width:320px;height:69px;line-height:69px;margin-left:18px;font-size:20px;color:#000;border-bottom:1px dotted #000;text-align:center}
.s-list li.last span.sp2{border-bottom:none}
.s-list li span.sp2 a{color:#000}
.content3-l-b{margin-top:45px}
.content3-l-b-l{position:relative;float:left;width:325px}
.content3-l-b-l a img{width:325px;height:287px}
.content3-l-b-l .icon{position:absolute;z-index:2;bottom:45px;left:137px;width:50px;height:50px;border:3px solid #fff}
.content3-l-b-l .icon img{width:50px;height:50px}
.content3-l-b-l .tit{position:absolute;z-index:1;bottom:0;left:35px;width:260px;height:60px;background:#fff}
.content3-l-b-l .tit p{font-size:14px;color:#000;text-align:center}
.content3-l-b-l .tit p.p1{margin-top:16px}
.content3-l-b-l .tit p a{color:#000}
.content3-l-b-r{float:right;width:416px}
.content3-l-b-r li{display:inline;float:left;width:200px;height:287px;overflow:hidden;margin-left:8px}
.content3-l-b-r li a{position:relative;display:block;width:200px;height:287px}
.content3-l-b-r li a img{width:200px;height:287px}
.content3-l-b-r li a p{position:absolute;bottom:0;left:0;width:180px;height:39px;line-height:39px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);padding:0 10px;font-size:14px;color:#fff;text-align:center}
.content3-r{float:right;width:340px;height:619px;overflow:hidden}
.content3-r-top{height:257px;border:15px solid #4b4a4a}
.lm-title{width:272px;height:23px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/dot2.png) repeat-x left center;margin:auto;margin-top:20px;_margin-top:0}
.lm-title h3{height:23px;background:#fff url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat;_background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/bgie6.png);margin:auto}
.lm-title h3 span{display:block;text-indent:-9999em}
.lm-title h3.wanzi{width:143px;background-position:-370px -67px}
.lm-title h3.shangchang{width:124px;background-color:#f8f8f8;background-position:-391px -95px}
.content3-r-top a{display:block;height:255px;border:1px solid #fff}
.content3-r-top a p{height:20px;line-height:20px;overflow:hidden;margin-top:15px;_margin-top:0;font-size:14px;color:#000;text-align:center}
.content3-r-top a img{display:block;width:247px;height:135px;margin:auto;margin-top:16px}
.content3-r-b{height:332px;background:#f8f8f8;padding:15px}
.content3-r-b .a-bok{position:relative;display:block;width:310px;height:178px;margin:25px 0 10px 0;_margin-top:0}
.content3-r-b .a-bok img{width:310px;height:178px}
.content3-r-b .a-bok p{position:absolute;bottom:0;left:0;width:290px;height:39px;line-height:39px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);padding:0 10px;font-size:14px;color:#fff;text-align:center}
.content3-r-b p{height:25px;line-height:25px;overflow:hidden;padding-left:12px;font-size:14px;color:#000}
.content3-r-b p a{color:#000}
.content3-r-b p a span{color:#dc1617}
.content3-r-b p span{color:#dc1617}

.content4{height:785px}
.content4-l{float:left;width:750px;height:785px;background:#f8f8f8}
.content4-l-t,.pic-cont{height:450px;overflow:hidden}
.content4-l-t{position:relative}
.pic-cont{position:relative;float:left}
.pic-cont a.a-bok{position:relative;display:block;width:750px;height:450px}
.pic-cont img{width:750px;height:450px}
.pic-cont span{position:absolute;top:15px;left:15px;display:block;width:717px;height:418px;border:1px solid #fff}
.pic-cont .tit{position:absolute;bottom:22px;left:65px;width:478px;height:88px;background:#fff}
.pic-cont .tit p{height:25px;line-height:25px;overflow:hidden;font-size:20px;color:#000;text-align:center}
.pic-cont .tit p a{color:#000}
.pic-cont .tit p.p1{margin:13px 0 5px 0;font-size:16px;color:#666}
.pic-cont .tit p.p1 a{color:#666}
.content4-l-b{height:335px;background:#f8f8f8}
.lm-title h3.tuijian{width:175px;background-color:#f8f8f8;background-position:-366px -188px}
.lm-title1{width:710px;background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/dot3.png);margin-top:30px}
.tj-list{height:auto;overflow:hidden;margin-top:33px}
.tj-list li{float:left;width:250px}
.tj-list li img{display:block;width:200px;height:185px;margin:auto}
.tj-list li p{height:25px;line-height:25px;margin-top:9px;font-size:14px;color:#000;text-align:center}
.tj-list li p a{color:#000}
.content4-r{float:right;width:340px;height:785px;background:#f8f8f8}
.content4-r-top{position:relative;height:420px}
.lm-title h3.dujia{width:112px;background-color:#fff;background-position:-405px -126px}
.content4-r-top a{height:280px;background:#fff}
.content4-r-top a img{height:185px;margin-top:30px}
.content4-r-top h4{height:25px;line-height:25px;overflow:hidden;margin:19px 0 10px 0;padding:0 20px;font-size:18px;color:#000;text-align:center}
.content4-r-top h4 a{display:inline;background:none;color:#000;border:none}
.content4-r-top p{height:48px;line-height:24px;overflow:hidden;padding:0 20px;font-size:14px;color:#666}
.content4-r-top a.a-bok{position:absolute;bottom:-15px;left:100px;display:block;width:130px;height:36px;line-height:36px;background:#db1011;font-size:14px;color:#fff;border:none;text-align:center}
.content4-r-top a.a-bok:hover{color:#fff}
.lm-title h3.shiyong{width:128px;background-color:#f8f8f8;background-position:-384px -158px}
.lm-title2{width:320px;background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/dot3.png);margin-top:30px}
.sy-list{width:340px;margin:auto;margin-top:33px;_margin-top:0}
.sy-list li{display:inline;float:left;width:150px;height:auto;overflow:hidden;margin:0 10px}
.sy-list li img{width:150px;height:185px}
.sy-list li p{height:25px;line-height:25px;overflow:hidden;margin-top:9px;font-size:14px;color:#000;text-align:center}
.sy-list li p a{color:#000}

.content5{height:765px}
.content5-l{float:left;width:750px;height:765px}
.content5-l-t,.pic-cont{height:450px}
.content5-l-t{position:relative}
.content5-l-b{height:315px}
.content5-r{float:right;width:340px;height:765px;background:#f8f8f8}
.content5-r-top{position:relative;height:420px}
.content5-r-top a{height:280px;background:#fff}
.content5-r-top a img{height:185px;margin-top:30px}
.content5-r-top h4{height:25px;line-height:25px;overflow:hidden;margin:19px 0 10px 0;padding:0 20px;font-size:18px;color:#000;text-align:center}
.content5-r-top h4 a{display:inline;background:none;color:#000;border:none}
.content5-r-top p{height:48px;line-height:24px;overflow:hidden;padding:0 20px;font-size:14px;color:#666}
.content5-r-top a.a-bok{position:absolute;bottom:-15px;left:100px;display:block;width:130px;height:36px;line-height:36px;background:#db1011;font-size:14px;color:#fff;border:none;text-align:center}
.content5-l-b .tj-list{margin-top:35px}
.content5-l-b .tj-list li{width:215px;height:280px;overflow:hidden;margin-left:20px;padding-top:0}
.content5-l-b .tj-list li img{width:215px;height:240px}
.content5-l-b .tj-list li.first{margin-left:0}
.content5-l-b .tj-list li.first,.content5-l-b .tj-list li.first img{width:280px}
.content5-l-b .tj-list li p{height:40px;line-height:40px;background:#f8f8f8;margin-top:0}
.content5-l-b .tj-list li p a{color:#000}
.content5-l-t .pic-cont .tit{left:136px}
.content5-r-m{width:303px;margin:auto}
.c5-r-t{height:45px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat;_background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/bgie6.png);margin:32px 0 25px 0}
.c5-r-t h3{text-indent:-9999em}
.c5-r-t.wb{background-position:0 -880px}
.c5-r-t.zb{background-position:0 -925px}
.wb-pic,.wb-pic img{width:303px;height:260px}
.wb-pic{position:relative}
.wb-pic p{position:absolute;bottom:-18px;left:24px;width:255px;height:45px;line-height:45px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.8);font-size:18px;color:#fff;text-align:center}
.wb-pic p a{color:#fff}

.quanzi-list{width:1135px;height:auto;overflow:hidden;margin:auto}
.quanzi-list li{display:inline;float:left;width:169px;height:auto;overflow:hidden;margin-right:29px}
.quanzi-list li.last{width:140px;margin-right:0}
.quanzi-list li p{width:140px;font-size:12px;color:#666;text-align:center}
.quanzi-list li p.p1{margin-bottom:8px;font-size:18px;color:#000}
.quanzi-list li p.p2{margin-top:18px;font-size:18px;color:#dc1617}
.quanzi-list li p.p2 a{color:#dc1617}
.quanzi-list li p.p3{margin-top:-2px}
.quanzi-list li .p{width:168px;border-right:1px solid #e0e0e0}
.quanzi-list li.last .p{width:140px;border-right:0}
.quanzi-list li .p img{width:140px;height:154px}

.contact{width:1135px;height:auto;overflow:hidden;margin:auto;margin-top:37px;border-top:3px solid #4b4a4a}
.contact p{font-size:14px;color:#333}
.contact p.p1{font-size:24px;font-weight:bold}
.contact-l,.contact-c,.contact-r{float:left}
.contact-l{width:490px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat -446px -220px;_background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/bgie6.png);padding:54px 0 58px 80px}
.contact-c{width:275px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat -442px -402px;_background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/bgie6.png);padding:54px 0 58px 65px}
.contact-r{width:125px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat -420px -572px;_background-image:url(//mat1.gtimg.com/cq/00/0maciya/2015/bgie6.png);padding:54px 0 58px 100px}
.contact-l li{float:left;width:195px}


.scroll_num{position:absolute;z-index:1000;bottom:35px;right:17px;height:56px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.8);padding:0 22px}
.scroll_num span{display:inline-block;width:23px;height:23px;line-height:23px;background:url(//mat1.gtimg.com/cq/00/0maciya/2015/bg.png) no-repeat -475px -782px;margin:16px 6px 0 6px;color:#000;text-align:center;cursor:pointer;font-size:14px;font-weight:bold;font-family:'Hiragino Sans GB','Microsoft YaHei','simsun'}
.scroll_num span.current{background-position:-440px -782px}


.top-news-r h3 a:hover,.hot-list li a:hover,.hot-more a:hover,.c2-title a:hover,.c2-main-list li p a:hover,.c2-main-r h3 a:hover,.s-list li span.sp2 a:hover,.content3-r-top a:hover,.content3-r-b p a:hover,.pic-cont .tit p.p1 a:hover,.pic-cont .tit p a:hover,.content4-r-top h4 a:hover,.tj-list li p a:hover,.sy-list li p a:hover,.wb-pic p a:hover{color:#db1011;-webkit-transition: color .2s ease-in-out;
            -moz-transition: color .3s ease-in-out;
            -o-transition: color .3s ease-in-out;
            -ms-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out;}/*  |xGv00|ba77fa3ca06f47773440614ae6c8f32d */