.mr20{
	margin-right: 20px;
}
.tabs li a,.yiwan .tit_box h3, .shishi .box .hbox .tit_box h3,.shishi .box .hbox .tit_box h3 span,.shouxuan .tit_box h3,.linghang .tit_box h3,.muhou .tit_box h3{
	background: url(//mat1.gtimg.com/2014/xiaobai/pandian/pds.png) no-repeat;
}

/*banner*/
.banner_box{
	height: 650px;
	background: url(//mat1.gtimg.com/2014/xiaobai/pandian/banner1.jpg) no-repeat center top;
	position: relative;
}
.banner_box .layout{
	padding-top: 370px;
}
.tabs{
	display:block;
	width: 1000px;
	height: 100px;
}
.tabs li{
	position: relative;
	display:block;
	float:left;
	height:100px;
	width:250px;
}
.tabs li a{
	position:absolute;
	display:block;
	height:100px;
	width:124px;
	top:0;
}
.tabs li a:hover{ top:-15px;}
.tabs .a a{left:30px;}
.tabs .b a{
	left:65px;
	background-position: -124px 0;
}
.tabs .c a{
	left:85px;
	background-position: -248px 0;
}
.tabs .d a{
	left:110px;
	background-position: -372px 0;
}
.dataSupp{ margin-top:115px;}
.dataSupp p{ font-size:14px; line-height:28px;}
.dataSupp p span{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/data.png) right top no-repeat; display:inline-block; height:41px; line-height:41px;padding-right:215px;}
/*视频*/
.video_box{
	width:1000px;
	height:555px;
	position:relative;
}
.video_win{
	position:absolute;
	top:-32px;
	left:0;
	height:587px;
	width:1004px;
	background:url(//mat1.gtimg.com/2014/xiaobai/pandian/video_bg.png) no-repeat;
}
.video_win .video{ height:516px; margin:45px auto 0; width:880px;}
/*他们说*/
.tms{
	margin-top: 18px;
	width: 1000px;
	height: 124px;
	background:url(//mat1.gtimg.com/2014/xiaobai/pandian/tms_bg.png) no-repeat;
	position:relative;
}
.scroll_A{position:absolute;width:750px; top:26px; left:220px; }
.scroll_A .inner{position:relative;width:750px;height:75px;overflow:hidden;}
.scroll_A .split {width:750px; float:left;}
.scroll_A .split .box{width:75px;height:75px;float:left;padding:0 5px;*padding:0 5px 0 6px;position:relative;}
.scroll_A .split b {position:absolute; width:75px; height:75px; left:50%; margin-left:-37.5px; top:0px; background:url(//mat1.gtimg.com/2014/xiaobai/pandian/tip1.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/xiaobai/pandian/tip1.png',sizingMethod='');}
.scroll_A .btn{position:absolute;top:50%;margin-top:-8px;width:17px;height:17px;cursor:pointer;font-size:40px;font-weight:bold; background:url(//mat1.gtimg.com/2014/xiaobai/pandian/pds.png) no-repeat;}
.scroll_A .prev{ background-position:-285px -110px; left:-25px;}
.scroll_A .prev:hover { background-position:-285px -141px;}
.scroll_A .next{right:-7px; background-position:-312px -110px;}
.scroll_A .next:hover{ background-position:-312px -141px;}

.scroll_A .split .box .b2 {height:75px; position:absolute; top:0px; left:0px; width:217px; display:none;}
.scroll_A .split .hover {width:217px;}
.scroll_A .split .hover .b2 {display: block;}
.scroll_A .split .box .t3 { width:75px; height:75px; float:left; background:url(//mat1.gtimg.com/2014/xiaobai/pandian/tip2.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/xiaobai/pandian/tip2.png',sizingMethod='');}
.scroll_A .split .box .t5 { float:left; width:135px; height:70px;background:#f0f0f0 url(//mat1.gtimg.com/2014/xiaobai/pandian/tip3.png) right top no-repeat; padding-top:5px; padding-left:5px;}
.scroll_A .split .box .t5 em { font-weight:bold; font-family:宋体; font-size:14px; line-height:26px; color:#515151;}
.scroll_A .split .box .t5 p {font-size:12px; line-height:18px; color:#515151; padding-right:5px;}
.scroll_A .split .box .t5 p a{color:#167f95;}
/*模块通用样式*/
.mod{
	
	position:relative;
	padding-top:96px;
}
.mod .hd{
	position:absolute;
	height: 110px;
	width:1000px;
	top: 18px;
	left: 0;
}
.mod .hd img{
	height: 110px;
	width: 1025px;
}
.mod .bd{
	border:1px solid #e5e5e5;
	padding-top:50px;
}
.details{
	color:#1c9e7b;
}
.intro{
	font-size:14px;
	line-height:28px;
	text-indent:2em;
}
/*亿万用户选择*/
.yiwan{
	height:688px;
	background:url(//mat1.gtimg.com/2014/xiaobai/pandian/yw_bg.jpg) no-repeat bottom right;
}
.yiwan .chart_box{
	padding-top: 10px;
}
.yiwan .bd{
	height: 621px;
	padding:66px 0 0;
}
.yiwan .bd .intro{
	padding: 0 19px;
}
.yiwan .hbox{ height: 48px;padding:15px 20px 0 25px;}
.yiwan .tit_box{ height: 45px; border-bottom:3px solid #6fcf77;}
.yiwan .tit_box h3{
	float:left;
	width:353px;
	height:48px;
	background-position:0 -227px;
	padding-left:30px;
	font-size:24px;
	line-height:48px;
	font-weight:bold;
	color:#fff;
}
.yiwan .up_box {
	border-bottom:1px solid #e5e5e5;
	padding-left: 20px;
}
.yiwan .bot_box {
	padding-left: 20px;
}
.chart_box .item{
	float:left;
	width:225px;
	height:245px;
}
.chart_box .item h3{
	text-align:center;
	font-size:16px;
	height:45px;
	line-height:45px;
	font-weight:bold;
}
.chart_box .item .pic,.chart_box .item .pic img{
	height:140px;
	width:225px;
}
.chart_box .item .txt{
	height:40px;
	line-height:40px;
	color:#7b7b7b;
	text-align:center;
}
.yiwan .data{
	width: 292px;
	height: 126px;
	position:absolute;
	bottom:98px;
	right:186px;
}
.yiwan .data img{
	width: 292px;
	height: 126px;
}
.yiwan .hardware{
	width: 334px;
	height: 259px;
	position:absolute;
	bottom:5px;
	right:-68px;	
}
.yiwan .hardware img{
	width: 334px;
	height: 259px;
}

/*实时交互参与*/
.shishi{
	height:1229px;
	background:url(//mat1.gtimg.com/2014/xiaobai/pandian/m2_bg.jpg) no-repeat bottom left;
}
.shishi .top{
	height:337px;
	background:url(//mat1.gtimg.com/2014/xiaobai/pandian/m2_ico_bg.jpg) no-repeat 560px 112px;
}
.shishi .top .inner{
	width:680px;
	padding-left:29px;
}
.shishi .top .inner .chart_box .data{
	padding: 48px 23px 0 0;
}
.shishi .phone{
	width: 305px;
	height: 420px;
	position: absolute;
	top:55px;
	right:0;
}
.shishi .box{
	padding: 0 20px;
}
.shishi .box .hbox{
	height:48px;
	padding-left:5px;
}
.shishi .box .hbox .tit_box{
	height: 45px;
	border-bottom: 3px solid #6fcf77;
}
.shishi .box .hbox .tit_box h3{
	float:left;
	width:163px;
	height:48px;
	background-position:0 -110px;
	padding-left:50px;
	font-size:24px;
	line-height:48px;
	font-weight:bold;
	color:#fff;
}
.shishi .box .hbox .tit_box h3 span{
	display:block;
	height:33px;
	width: 33px;
	float:left;
}
.shishi .box .hbox .tit_box h3 .weishi{
	margin:10px 5px 0 0;
	background-position:-339px -110px;
}
.shishi .box .hbox .tit_box h3 .weibo{
	margin:10px 5px 0 0;
	background-position:-382px -110px;
}
.shishi .box .bbox{
	
}
.shishi .box .bbox .intro{
	margin-top: 48px;
	height: 40px;
	border-top:1px dotted #aecdbb;
	text-align:center;
}
.shishi .box .bbox .intro p{
	display:inline-block;
	height:26px;
	line-height:26px;
	font-size:16px;
	background-color: #fff;
	font-weight:bold;
	margin-top:-13px;
	text-indent:0;
	padding:0 5px;
}
.shishi .box .bbox .intro p span{
	color:#ff6613;
}
.shishi .middle{
	height: 340px;
}
.shishi .ws_box .ws_item{
	width: 294px;
	height: 180px;
	float:left;
	margin-right: 38px;
}
.shishi .ws_box .last{
	margin-right: 0;
}
.shishi .ws_box .ws_inner{
	border:1px solid #d5e2ea;
	height: 128px;
	background:#f9fffc url(//mat1.gtimg.com/2014/xiaobai/pandian/ws_list_bg.jpg) no-repeat right 33px;
	padding:10px 12px 0;
}
.shishi .ws_box .ws_inner li{
	float:left;
	height:39px;
	border-bottom:1px dotted #bebebe;
	width:100%;
	line-height:39px;
}
.shishi .ws_box .ws_inner li.last{
	border-bottom:none;
}
.shishi .ws_box .ws_inner li span{
	display: block;
	height: 15px;
	width: 15px;
	line-height:15px;
	background-color: #62c9de;
	color:#fff;
	float:left;
	margin-right:8px;
	text-align:center;
	margin-top: 12px;
}
.shishi .ws_box .ws_inner li span.one{
	background-color: #ff6613;
}
.shishi .ws_box .ws_item p{
	height:38px;
	line-height:38px;
	color:#7b7b7b;
	text-align:center;
}
.shishi .bottom{
	height: 500px;
}
.shishi .bottom .bbox{
	width: 690px;
	height:
}
.shishi .bottom .bbox .players{
	padding-top: 6px;
}
.shishi .bottom .bbox .players .player_item{
	width: 220px;
	height: 129px;
	float: left;
	position:relative;
	color:#fff;
	font:15px/34px "微软雅黑";
}
.shishi .bottom .bbox .players .player_item .name{
	display:block;
	height: 34px;
	width: 112px;
	position:absolute;
	bottom:0;
	left:9px;
	text-align:center;
}
.shishi .bottom .bbox .players .player_item .hudong{
	display: block;
    height: 24px;
    left: 126px;
    line-height: 24px;
    padding-left:6px;
    position: absolute;
    top: 37px;
    width: 78px;
}
.shishi .bottom .bbox .players .player_item .yuedu{
	display: block;
    height: 24px;
    left: 126px;
    line-height: 24px;
    padding-left:6px;
    position: absolute;
    top: 63px;
    width: 95px;
}
.shishi .bottom .bbox .players .a{
	background: url(//mat1.gtimg.com/2014/xiaobai/pandian/meixi_player.png) no-repeat;
	margin-right: 15px;
}
.shishi .bottom .bbox .players .b{
	background: url(//mat1.gtimg.com/2014/xiaobai/pandian/neimar_player.png) no-repeat;
	margin-right: 15px;
}
.shishi .bottom .bbox .players .c{
	background: url(//mat1.gtimg.com/2014/xiaobai/pandian/german_player.png) no-repeat;
}
.shishi .m2_data{
	padding:40px 0 0 10px;
}

.shishi .fplayer{
	width: 472px;
	height: 414px;
	position:absolute;
	bottom:15px;
	right:-117px;
}

/*首选媒体平台*/
.shouxuan{
	
}
.shouxuan .bd{ padding:50px 18px 0;}
.shouxuan .chart_bd{ padding:30px 0 0;}
.shouxuan .hbox{ height: 48px;}
.shouxuan .chart_bd .hbox{ width:460px;}
.shouxuan .tit_box{ height: 45px; border-bottom:3px solid #6fcf77;}
.shouxuan .tit_box h3{
	float:left;
	width:353px;
	height:48px;
	background-position:0 -227px;
	padding-left:30px;
	font-size:24px;
	line-height:48px;
	font-weight:bold;
	color:#fff;
}
.shouxuan .chart_box{ padding-top:30px;}
.shouxuan .dotline{ border-right:1px dotted #aecdbb; float:left; height:140px; margin-top:75px; width:10px;}
.shouxuan .renzhi{
	width: 367px;
	height: 258px;
	position: absolute;
	top: 454px;
	right: -102px;
}
.shouxuan .ft .hbox{ padding:10px 18px 0;}
.shouxuan .zsbt{display:block; background:url(//mat1.gtimg.com/2014/xiaobai/pandian/zsbt.jpg) center top no-repeat; height:319px; position:relative; left:-18px; width:998px;
}
.shouxuan .zsbt .ggp{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/ggp.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/xiaobai/pandian/ggp.png',sizingMethod=''); height:343px; position:absolute; bottom:0; right:20px; width:521px;}
/*领航移动创新*/
.linghang .text{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/linghang.png) -1px 0 no-repeat; height:305px;}
.linghang .text p{ font-size:16px; line-height:28px; padding:50px 0 0 40px; text-indent:2em; width:376px;}
.linghang .hbox{ height:48px; padding:0 18px;}
.linghang .tit_box{ height: 45px; border-bottom:3px solid #6fcf77;}
.linghang .tit_box h3{
	float:left;
	width:280px;
	height:48px;
	background-position:0 -170px;
	padding-left:30px;
	font-size:24px;
	line-height:48px;
	font-weight:bold;
	color:#fff;
}
.linghang .ycbox{ padding:50px 18px;}
.linghang .spyybox{ height:648px; position:relative;}
.linghang .spyybox img{ height:648px; position:absolute; left:-46px; top:0; width:1133px;}
.linghang .spyybox p{ font-family:"微软雅黑","黑体", arial; font-size:18px; line-height:28px; margin-top:30px; position:relative; text-align:center; width:1000px; z-index: 10;}
.linghang .dzdbox{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/dzd.jpg) no-repeat; height: 638px; padding:40px 40px 0 600px;}
.linghang .dzdbox p{ font-size:14px; line-height:28px; text-indent:2em;}
.linghang .dzdbox p a{ color:#1c9e7b;}
.linghang .cpcxbox{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/cpcx.jpg) no-repeat; height: 418px; padding:40px 540px 0 30px; position:relative;}
.linghang .cpcxbox .fangyan{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/fangyan.jpg) no-repeat; padding:270px 70px 0 0; position:absolute; right:-54px; top:40px; width:350px;}
.linghang .cpcxbox p{ font-size:14px; line-height:28px; text-indent:2em;}
.linghang .cpcxbox p a{ color:#1c9e7b;}
/*在幕后在现场*/
.muhou .chart_box{ padding:0 18px; position: relative;}
.muhou .chart_box .jizhe{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/jizhe.png) no-repeat; _background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/xiaobai/pandian/jizhe.png',sizingMethod=''); height:322px; position: absolute; top:-80px; right:-40px; width:290px;}
.muhou .hbox{ height:48px; padding:0 18px;}
.muhou .tit_box{ height: 45px; border-bottom:3px solid #6fcf77;}
.muhou .tit_box h3{
	float:left;
	width:280px;
	height:48px;
	background-position:0 -170px;
	padding-left:30px;
	font-size:24px;
	line-height:48px;
	font-weight:bold;
	color:#fff;
}
.storybox{ background:#fff; padding:40px 19px 0; position:relative; z-index: 10;}
.storybox .inner{ position:relative; height:568px; overflow:hidden;}
.storybox .split{ float:left; overflow:hidden; padding:0 20px 30px; width:440px;}
.storybox .split .pic{ float:left; height:112px; margin-right:20px; width:200px;}
.storybox .split h2{ font-size:18px; line-height:24px;}
.storybox .split p{ color:#666; font-size:14px; line-height:26px; margin-top:10px;}
.storybox .split p a{ color:#1c9e7b;}
.storybox .btn{ background:url(//mat1.gtimg.com/2014/xiaobai/pandian/pds.png) no-repeat; height:21px; position:absolute; top:-30px; width:21px;}
.storybox .prev{ background-position:-223px -110px; right:70px;}
.storybox .next{ background-position:-254px -110px; bottom:0; right:40px;}
.storybox .prev:hover{ background-position:-223px -137px;}
.storybox .next:hover{ background-position:-254px -137px;}
/*底部*/
.footer_box{ background:#55bcd1 url(//mat1.gtimg.com/2014/xiaobai/pandian/footbar.png) no-repeat top center; height:120px; margin-top:-110px; padding-top:120px;}
.tcopyright,.tcopyright a{ color:#fff !important;}

.bottom_des{
	border-top:1px solid #dedede;
	height:49px;
	background-color: #fafafa;
	line-height:25px;
	color:#555;
	font-size:14px;
	padding:10px 45px;
}/*  |xGv00|c847696b050c84aaf39d3fe243c35044 */