body{font-family:'Microsoft YaHei';  }
.clear{clear:both}
a:hover{color: #d33931;}

.main{width: 1200px; margin: 0 auto; position: relative; top: 0; left: 0;}

.main .fs_close{background:url(//mat1.gtimg.com/bj/images/index/2018gb/fsbg_close.png) no-repeat; position: absolute; top: -24px;left: 1140px; width: 60px; height: 24px; cursor: pointer;}


.main .page{}

/* logo导航 */
.page .logo_tit{width: 1160px; margin: 0 auto 20px; padding: 20px 0; border-bottom: 1px solid #ddd;}
.logo_tit .logobox{float: left;}
.logo_tit .jjjline{float: right; font-size: 12px; color: #222222; margin-top: 10px;}
.logo_tit .jjjline span{float: left; line-height: 31px;}
.logo_tit .jjjline img{margin: 0 12px; vertical-align: middle;}
.logo_tit .jjjline .logoin{margin-left: 26px; float: left;}

/* 页面主内容 */
.page .mian_content{width: 1160px; margin: 0 auto;}
/* 菜单 */
.page .mian_content .menu{float: left; width: 140px;}
.page .mian_content .menu_fixed{ position: fixed;  _position: absolute; top: 0; width: 140px; }
.mian_content .menuline{width: 74px; height: 48px; line-height: 48px; padding-left: 66px; background-color: #f8f8f8; display: block; font-size: 16px; color: #222; vertical-align: middle; background-repeat:  no-repeat; background-position: 28px 14px; background-size: 20px 20px;}
.mian_content .menuline img{width: 20px; height: 20px; vertical-align: -8%; margin-left: 28px; margin-right: 13px;}
.mian_content .menuline:hover{background-color: #d33931; color: #fff;}
.mian_content .menulinehover{background-color: #d33931; color: #fff;}
/* 推荐 */
.mian_content .menuline#index{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/tj_1.png');  }
.mian_content .menuline#index.menulinehover,.mian_content .menuline#index:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/tj_2.png');}
/* 财经 */
.mian_content .menuline#finance{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/cj_1.png');  }
.mian_content .menuline#finance.menulinehover,.mian_content .menuline#finance:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/cj_2.png');}
/* 房产 */
.mian_content .menuline#house{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/fc_1.png');  }
.mian_content .menuline#house.menulinehover,.mian_content .menuline#house:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/fc_2.png');}
/* 政务 */
.mian_content .menuline#gov{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/zw_1.png');  }
.mian_content .menuline#gov.menulinehover,.mian_content .menuline#gov:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/zw_2.png');}
/* 教育 */
.mian_content .menuline#edu{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/jy_1.png');  }
.mian_content .menuline#edu.menulinehover,.mian_content .menuline#edu:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/jy_2.png');}
/* 健康 */
.mian_content .menuline#health{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/jk_1.png');  }
.mian_content .menuline#health.menulinehover,.mian_content .menuline#health:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/jk_2.png');}
/* 旅游 */
.mian_content .menuline#travel{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/ly_1.png');  }
.mian_content .menuline#travel.menulinehover,.mian_content .menuline#travel:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/ly_2.png');}
/* 娱乐 */
.mian_content .menuline#ent{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/yl_1.png');  }
.mian_content .menuline#ent.menulinehover,.mian_content .menuline#ent:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/yl_2.png');}
/* 汽车 */
.mian_content .menuline#car{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/qc_1.png');  }
.mian_content .menuline#car.menulinehover,.mian_content .menuline#car:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/qc_2.png');}
/* 美食 */
.mian_content .menuline#food{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/ms_1.png');  }
.mian_content .menuline#food.menulinehover,.mian_content .menuline#food:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/ms_2.png');}
/* 家居 */
.mian_content .menuline#home{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/jj_1.png');  }
.mian_content .menuline#home.menulinehover,.mian_content .menuline#home:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/jj_2.png');}
/* 环保 */
.mian_content .menuline#eco{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/hb_1.png');  }
.mian_content .menuline#eco.menulinehover,.mian_content .menuline#eco:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/hb_2.png');}
/* 科普 */
.mian_content .menuline#science{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/kp_1.png');  }
.mian_content .menuline#science.menulinehover,.mian_content .menuline#science:hover{ background-image: url('//mat1.gtimg.com/bj/images/index/2018gb/menu_icon/kp_2.png');}


/* 主内容 */
.page .mian_content .content{float: right; width: 1000px;}

/* 顶部广告 */
/* 顶部通栏 */
.adv_TOP{margin: 0 auto 10px; }
/* 顶部左右横幅 */
.adv_top_LR{margin: 0 auto 10px;}
.adv_top_LR .adv_top_L{float: left; width: 495px; }
.adv_top_LR .adv_top_R{float: right; width: 495px; }
/* 全屏 */
.adv_top_FULL{margin: 0 auto 10px; }
/* 伸缩通栏 */
.adv_top_TC{margin: 0 auto 10px; }
/* 特效浮层 */
.adv_LAYER{position: fixed; z-index: 9; }
/* 左右对联 width: 110px; height: 300px; */
.adv_TOP_L_COU{position: fixed; left: 0; top: 0; }
.adv_TOP_R_COU{position: fixed; right: 0; top: 0; }
/* 左下角弹窗 width: 300px; height: 255px; */
.adv_RIGHT_WIN{position: fixed; right: 0; bottom: 0;  z-index:10;}

/* 左侧腰部广告 width: 670px; height: 80px; border-bottom: 1px solid #e5e5e5;*/
.adv_LEFT{margin-top: 20px; padding-bottom: 20px;  }
.adv_left_LR{margin-top: 20px; padding-bottom: 20px;  }
.adv_left_LR .adv_left_L{float: left; width: 330px;}
.adv_left_LR .adv_left_R{float: right; width: 330px;}

/* 左侧腰部广告 width: 310px; height: 260px;*/
.adv_RIGHT{}

/* 入口 */
.content .entry{background-color: #f8f8f8; padding: 11px 0;}
.content .entry .entry_item{float: left; width: 212px;  margin: 0 20px; border-right: 1px solid #dfdfdf;}
.content .entry .entry_item_end{margin: 0 0 0 20px; border-right: 0;}
.content .entry .entry_item img{vertical-align: middle; float: left;}
.content .entry .entry_item .tf{float: left; margin-left: 11px;width: 137px;}
.content .entry .entry_item .tf .mc{font-size: 20px; color: #333; margin-top: 6px; margin-bottom: 12px;}
.content .entry .entry_item .tf .msg{font-size: 14px; color: #666;}

/* 新闻内容 */
.content .newscon{margin: 20px auto 0;}
/* 抓取列表-左 */
.content .newscon .newsl{width: 670px; float: left;}
.newsl .slidebox{position:relative;width:670px;height:380px;}
.newsl .slidebox .hd ul{position:absolute;bottom:19px;right:10px;z-index: 1;}
.newsl .slidebox .hd ul li{float:left;margin:0 3px;cursor:pointer;background:url(//mat1.gtimg.com/bj/images/index/2018gb/p0.png) no-repeat;width:8px;height:8px;-webkit-background-size:8px 8px;background-size:8px 8px;background-position:center}
.newsl .slidebox .hd ul li.on{background:url(//mat1.gtimg.com/bj/images/index/2018gb/p1.png) no-repeat;width:18px;height:8px;-webkit-background-size:18px 8px;background-size:18px 8px;background-position:center}
.newsl .slidebox .bd{width:670px;height:380px;overflow:hidden}
.newsl .slidebox .bd a{display:block;position:relative}
.newsl .slidebox .bd a img{width:670px;height:380px;display:block}
.newsl .slidebox .bd a .bdbom{position: absolute; width: 670px; height: 101px; bottom: 0; left: 0; background:url(//mat1.gtimg.com/bj/images/index/2018gb/shadow2.png) no-repeat; color: #fff; }
.newsl .slidebox .bd a .bdbom .bdbomtit{font-size: 20px; text-indent:24px; margin-top: 65px; width: 570px;height: 22px; overflow: hidden}
.newsl .slidebox .bd a .bdbom .bdbomcon{display: none; font-size: 14px; text-indent:24px; margin-top: 8px; width: 560px; height: 30px; overflow: hidden;}

.newsl .newslist{margin-top: 20px;}
.newslist .newsitem{margin-bottom: 20px;  padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;}
.newslist .newsitem img{float: left; width: 160px; height: 100px;}
.newslist .newsitem .newsitemcon{float: left; margin-left: 20px;}
.newslist .newsitem .newsitemcon .ntit{font-size: 20px; color: #333; margin-top: 14px;  width: 460px; height: 22px; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.newslist .newsitem:hover .newsitemcon .ntit{color: #d33931;}
.newslist .newsitem .newsitemcon .flagtime{margin-top: 22px;}
.newslist .newsitem .newsitemcon .flagtime .flag{float: left; font-size: 14px; color: #f15b53; padding: 2px 4px; border: 1px solid #f15b53;}
.newslist .newsitem .newsitemcon .flagtime .time{float: left; font-size: 14px; color: #666; line-height: 22px; margin-left: 28px;}

.newsl .imglistbox{font-size: 20px; color: #333; padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;}
.imglistbox .imglist{margin-top: 20px;}
.imglistbox .imglist img{width: 160px; height: 100px; float: left; margin-right: 10px;}
.imglistbox .imglist .imgend{margin-right: 0;}
.imglistbox .flagtime{margin-top: 10px;}
.imglistbox .flagtime .flag{float: left; font-size: 14px; color: #f15b53; padding: 2px 4px; border: 1px solid #f15b53;}
.imglistbox .flagtime .time{float: left; font-size: 14px; color: #666; line-height: 22px; margin-left: 28px;}
/* 显示更多 */
.newsl .more{margin-top: 20px;}
.more .newslistAll .newsitem{margin-bottom: 20px;  padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;}
.more .newslistAll .newsitem img{float: left; width: 160px; height: 100px;}
.more .newslistAll .newsitem .newsitemcon{float: left; margin-left: 20px;}
.more .newslistAll .newsitem .newsitemcon .ntit{font-size: 20px; color: #333; margin-top: 14px;  width: 460px; height: 22px; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.more .newslistAll .newsitem:hover .ntit{color: #d33931;}
.more .newslistAll .newsitem .newsitemcon .flagtime{margin-top: 22px;}
.more .newslistAll .newsitem .newsitemcon .flagtime .flag{float: left; font-size: 14px; color: #f15b53; padding: 2px 4px; border: 1px solid #f15b53;}
.more .newslistAll .newsitem .newsitemcon .flagtime .time{float: left; font-size: 14px; color: #666; line-height: 22px; margin-left: 28px;}

.more .morebtn{width: 110px; margin: 30px auto; cursor: pointer;}
.more .morebtn img{width: 13px; height: 7px; vertical-align: middle; display: inline-block;}
.more .morebtn .moretx{font-size: 14px; color: #666; display: inline-block;}

/* 热点栏目-右 */
.content .newscon .hotcolumn{width:310px; float: right;}
/* 燕女郎 */
.hotcolumn .ynl{background-color: #f8f8f8; padding: 20px 0; margin: 0 auto 20px;}
.hotcolumn .ynl .title{font-size: 20px;}
.hotcolumn .ynl .title .t_name{float: left; width: 140px; line-height: 20px; border-left: 3px solid #d33931; padding-left: 10px;}
.hotcolumn .ynl .title .t_more{float: right; margin-right: 10px; line-height: 20px; font-size: 14px; color: #999;}
.hotcolumn .ynl .title .t_more:hover{color: #d33931;}
.hotcolumn .ynl .info{margin: 20px 10px; position: relative; top:0; left: 0;}
.hotcolumn .ynl .info img{width: 290px; height: 170px; display: block;}
.hotcolumn .ynl .info .shadow{position: absolute; width: 250px; height: 48px; padding: 0 20px; line-height: 48px; bottom: 0; left: 0; background:url(//mat1.gtimg.com/bj/images/index/2018gb/shadow1.png) no-repeat; color: #fff; font-size: 16px; text-align: center; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.hotcolumn .ynl .info .shadow:hover{color: #d33931;text-decoration: underline;}
.hotcolumn .ynl .infolr{padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; margin: 0 10px;}
.hotcolumn .ynl .infolrend{ border-bottom:none; margin-top: 10px; padding-bottom: 0;}
.hotcolumn .ynl .infolr img{float: left; width: 98px; height: 70px;}
.hotcolumn .ynl .infolr .msg{float: right; width: 180px; height: 70px; line-height: 24px; font-size: 16px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
/* 热点新闻 */
.hotcolumn .rdxw{background-color: #f8f8f8; padding: 20px 0; margin: 20px auto 20px;}
.hotcolumn .rdxw .title{font-size: 20px; padding-bottom: 10px; border-bottom: 1px solid #ededed; }
.hotcolumn .rdxw .title .t_name{float: left; width: 140px; line-height: 20px; border-left: 3px solid #d33931; padding-left: 10px;}
.hotcolumn .rdxw .title .t_more{float: right; margin-right: 10px; line-height: 20px; font-size: 14px; color: #999;}
.hotcolumn .rdxw .title .t_more:hover{color: #d33931;}
.hotcolumn .rdxw ul{overflow: hidden; padding: 0 14px; margin-top: 15px;}
.hotcolumn .rdxw ul li{font-size: 16px; color: #333; margin-bottom: 22px;}
.hotcolumn .rdxw ul :last-child{margin-bottom: 0;}
.hotcolumn .rdxw ul li .topnum{font-size: 12px; color: #666; float: left; width: 18px; line-height: 18px; text-align: center; }
.hotcolumn .rdxw ul li .topnum1{width: 18px; height: 18px; background-color: #d33931; color: #fff;}
.hotcolumn .rdxw ul li .topnum2{width: 18px; height: 18px; background-color: #f88b3a; color: #fff;}
.hotcolumn .rdxw ul li .topnum3{width: 18px; height: 18px; background-color: #ffc834; color: #fff;}
.hotcolumn .rdxw ul li .toptit{float: left; width: 250px; height: 18px; line-height: 18px; margin-left: 13px; overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}

/* 热门图片 */
.hotcolumn .tmtp{background-color: #f8f8f8; padding: 20px 0; margin: 20px auto 20px;}
.hotcolumn .tmtp .title{font-size: 20px; padding-bottom: 10px; border-bottom: 1px solid #ededed; }
.hotcolumn .tmtp .title .t_name{float: left; width: 140px; line-height: 20px; border-left: 3px solid #d33931; padding-left: 10px;}
.hotcolumn .tmtp .title .t_more{float: right; margin-right: 10px; line-height: 20px; font-size: 14px; color: #999;}
.hotcolumn .tmtp .title .t_more:hover{color: #d33931;}
.hotcolumn .tmtp ul{overflow: hidden; margin-top: 15px;}
.hotcolumn .tmtp ul li{float: left; width: 140px; font-size: 16px; color: #333; margin-bottom: 30px; margin-left: 10px; }
.hotcolumn .tmtp ul .eli{margin-bottom: 0;}
.hotcolumn .tmtp ul li img{width: 140px; height: 90px; display: block;}
.hotcolumn .tmtp ul li .tmtpmsg{font-size: 16px; width: 140px; line-height: 24px; height: 48px; margin-top: 10px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
/* 腾讯地方站 */
.hotcolumn .dfz{background-color: #f8f8f8; padding: 20px 0; margin: 20px auto 20px;}
.hotcolumn .dfz .title{font-size: 20px; padding-bottom: 10px; border-bottom: 1px solid #ededed; }
.hotcolumn .dfz .title .t_name{width: 140px; line-height: 20px; border-left: 3px solid #d33931; padding-left: 10px;}
.hotcolumn .dfz .dfzn{margin-top: 18px; font-size: 16px; color: #333; width: 284px; margin: 16px auto 0; border-bottom: 1px solid #ededed; }
.hotcolumn .dfz .dfzn p{float: left; margin-bottom: 18px; margin-right: 30px;}
.hotcolumn .dfz .dfzn .endp{margin-right: 0;}
/* 联系方式 */
.hotcolumn .contact{margin: 18px 13px 0; padding-bottom: 20px; border-bottom: 1px solid #ededed; }
.hotcolumn .contact img{width: 200px; height: 35px; display:block; }
.hotcolumn .contact .contacttext{font-size: 16px; line-height: 36px;}
.hotcolumn .contact .madis{margin-top: 20px;}
.hotcolumn .contact .madis img{width: 80px; height: 80px; float: left;}
.hotcolumn .contact .madis .mamsg{float: left; width: 130px; line-height: 35px; margin-left: 18px; font-size: 16px; color: #333;}
/* 关于我们 */
.hotcolumn .aboutus{margin: 18px 13px 0; font-size: 16px; color: #323232;}
.hotcolumn .aboutus .itembox{}
.hotcolumn .aboutus .itembox .item{float: left; padding-right: 13px; margin-right: 13px; margin-bottom: 18px; border-right: 2px solid #7a7a7a;}
.hotcolumn .aboutus .itembox .item1{border-right:none;}
.hotcolumn .aboutus .Copyright{font-size: 14px; color: #999; margin-top: 10px; line-height: 24px;}
.hotcolumn .aboutus .Copyright .lcr{margin-top: 30px;}

/* 顶部按钮 */
.main .topbtn{width: 40px; height: 40px; background:url(//mat1.gtimg.com/bj/images/index/2018gb/topbtn.png) no-repeat;  position: fixed; right: 40px; bottom: 95px; z-index: 9; cursor: pointer;}/*  |xGv00|620a16ac83a3506499bcb28139d5a2f9 */