.lovefeedback .lf_content .lf_main.activity {
  border-top: 2px solid #63aa2f;
  width: 720px;
  padding-left: 10px;
}
.lovefeedback .lf_content .lf_main.activity .activity_head {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/vip_header.png");
  border-bottom: 1px dotted #e9e9e9;
  height: 106px;
}
.lovefeedback .lf_content .lf_main.activity .activity_head .activity_head_left {
  float: left;
  height: 73px;
  vertical-align: middle;
  padding-top: 14px;
}
.lovefeedback .lf_content .lf_main.activity .activity_head .activity_head_left h1 {
  font: 22px microsoft yahei;
  color: #1e1e1e;
  margin-top: 6px;
  _margin-top: 12px;
}
.lovefeedback .lf_content .lf_main.activity .activity_head .activity_head_left h2 {
  font: 14px microsoft yahei;
  color: #646464;
  margin-top: 3px;
  _margin-top: 6px;
}
.lovefeedback .lf_content .lf_main.activity .activity_body {
  padding-left: 5px;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_banner {
  margin-top: 20px;
  display: block;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dt {
  font: 18px microsoft yahei;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -27px -257px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -27px -257px;
  padding-bottom: 14px;
  _padding-bottom: 18px;
  margin-bottom: 16px;
  margin-top: 33px;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dt.activity_list_dt {
  margin-top: 39px;
  font: 14px simsun;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dt.activity_list_dt span {
  color: #9c9c9c;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dt.activity_list_dt a {
  color: #9c9c9c;
  text-decoration: none;
  outline: none;
  border: 0;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dt.activity_list_dt a:focus,
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dt.activity_list_dt a:active {
  outline: none;
  border: 0;
}
.lightup_head_right {
  float: right;
  margin-top: 55px;
  margin-right: 24px;
}
.lightup_head_right a {
  /*background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -214px;
							_background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -217px;*/

  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -229px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -232px;
  padding-left: 18px;
  color: #63aa2f;
  font-family: hiragino sans gb, microsoft yahei, simsun, tahoma, arial, sans-serif;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dt.activity_list_dt a.current_state {
  font: bold 18px microsoft yahei;
  color: #1e1e1e;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd {
  font: 12px tahoma,simsun;
  color: #787878;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li {
  height: 157px;
  margin: 20px 0;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -37px -1897px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -37px -1897px;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li div {
  float: left;
  height: 157px;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li .date {
  width: 90px;
  color: #54a014;
  font-family: microsoft yahei;
  text-align: center;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li .date .year {
  font-size: 23px;
  margin-top: 62px;
  vertical-align: middle;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li .ac_detail_img {
  float: left;
  margin-top: 16px;
  margin-left: 28px;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li .activity_context {
  margin-top: 18px;
  margin-left: 24px;
  width: 320px;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li .activity_context h3 {
  font: bold 14px microsoft yahei;
  color: #5a5a5a;
}
.activity_context h3 a:hover {
  color: #63aa2f;
  text-decoration: underline;
}
.lovefeedback .lf_content .lf_main.activity .activity_body .activity_list dl dd ul li .activity_context p {
  color: #6f6f6f;
  margin-top: 12px;
  line-height: 20px;
}
/*  |xGv00|311a153d3bdd97dd8be4bfa890fced3a */