.lovefeedback .lf_main {
	width: 720px;
	padding-left: 10px;
	border-top: 2px solid #63aa2f;
}
.lovefeedback .icon {
	float: left;
	width: 68px;
	height: 53px;
	background: url(http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/icons.jpg) no-repeat;
	margin: 20px 20px 0 0;
}
.lovefeedback .lf_head .icon {
	background-position: 0 0;
}
.lovefeedback .lf_head_left {
	float: left;
	padding-top: 14px;
}
.lf_head h1 {
	font: 22px "microsoft yahei";
	color: #1e1e1e;
	margin-top: 6px;
}
.lf_head h2 {
	font: 14px "microsoft yahei";
	color: #646464;
	margin-top: 3px;
}
.lovefeedback .lf_head_right {
	float: right;
	margin: 56px 24px 0 0;
}
.lovefeedback .lf_head_right a,.lovefeedback .tip a {
	color: #63aa2f;
	padding-left: 18px;
	background: url(http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png) no-repeat -15px -229px;
}
.lf_mod h3.title {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 14px;
	background: url(http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png) no-repeat -27px -260px;
	_background: url(http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png) no-repeat -27px -260px;
	margin-bottom: 4px;
}
.lf_body .lf_mod {
	margin-bottom: 35px;
}
.lf_mod p {
	font: 12px tahoma,simsun;
	color: #787878;
	line-height: 24px;
}
.lf_mod .more {
	color: #63aa2f;
	margin-left: 30px;
}
.caibei .lf_head {
	height: 106px;
	background: url(http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/vip_header.png) no-repeat;
	border-bottom: 1px dotted #e9e9e9;
	margin-bottom: 20px;
}
.caibei .lf_head .icon {
	background-position: -78px 0;
}
.lf_mod .faq li {
	margin-bottom: 35px;
}
.lf_mod .faq .que {
	font-size: 14px;
	font-weight: bold;
	color: #6e6e6e;
}
.lf_mod .faq em {
	color: #1e1e1e;
	font-weight: bold;
	font-family: "microsoft yahei";
	margin-right: 10px;
}
.lf_mod .tip {
	margin-top: 20px;
}
.caibei_desc {
	width: 720px;
	overflow: hidden;
}
.caibei_desc p {
	margin-bottom: 10px;
}
.caibei_desc ul {
	overflow: hidden;
	zoom: 1;
	margin: 30px -39px 0 0;
}
.caibei_desc li {
	float: left;
	width: 148px;
	margin-right: 39px;
}
.caibei_desc .pic {
	height: 113px;
	background: url(http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/caibei_desc.jpg) no-repeat;
}
.caibei_desc .pic_1 {
	background-position: 0 0;
}
.caibei_desc .pic_2 {
	background-position: -148px 0;
}
.caibei_desc .pic_3 {
	background-position: -296px 0;
}
.caibei_desc .pic_4 {
	background-position: -444px 0;
}
.caibei_desc li span {
	display: block;
	color: #929292;
	margin-top: 12px;
	text-align: center;
}
.vip_exp_desc {
	overflow: hidden;
	zoom: 1;
	margin-top: 25px;
}
.vip_exp_desc img {
	float: left;
}
.vip_exp_desc .txt {
	margin: 40px 0 0 330px;
}
.vip_exp_desc .p1 {
	font-size: 20px;
	color: #323232;
	font-family: "microsoft yahei";
	margin-bottom: 10px;
}/*  |xGv00|1e9dc801af22d541071310fb07e29646 */