.lf_menu {
  float: left;
  border: 1px solid #dcdcdc;
  width: 226px;
}
.lf_menu .lf_menu_inner {
  background: #f8f8f8;
}
.lf_menu .lf_menu_inner .lf_menu_title {
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  color: #6e6e6e;
  padding-left: 46px;
}
.lf_menu .lf_menu_inner .lf_menu_title.love_indentify {
  background: #eaeaea url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat;
  _background: #eaeaea url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat;
}
.lf_menu .lf_menu_inner .lf_menu_title.love_encourage {
  background: #eaeaea url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat 0 -44px;
  _background: #eaeaea url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat 0 -44px;
}
.lf_menu .lf_menu_inner .lf_menu_title.special_activity {
  background: #eaeaea url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat 0 -87px;
  _background: #eaeaea url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat 0 -87px;
}
.lf_menu .lf_menu_inner .lf_menu_inner_li {
  cursor: pointer;
}
.lf_menu .lf_menu_inner .lf_menu_inner_li a {
  display: block;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 29px;
  font-size: 14px;
  background-color: #f8f8f8;
}
.lf_menu .lf_menu_inner .lf_menu_inner_li a .lf_menu_inner_li_span {
  display: block;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #eaeaea;
  *margin-bottom: -4px;
  _margin-bottom: -1px;
  _zoom: 1;
}
.lf_menu .lf_menu_inner .lf_menu_inner_li a .lf_menu_inner_li_span .gt {
  float: right;
  font-family: simsun;
}
.lf_menu .lf_menu_inner .lf_menu_inner_li a .lf_menu_inner_li_span .lf_menu_inner_li_span_left {
  float: left;
}
.lf_menu .lf_menu_inner .lf_menu_inner_li a:hover,
.lf_menu .lf_menu_inner .lf_menu_inner_li a.current {
  background-color: #63aa2f;
  color: #fff;
  text-decoration: none;
}
.lf_menu .lf_menu_inner .lf_menu_inner_li a:hover .lf_menu_inner_li_span,
.lf_menu .lf_menu_inner .lf_menu_inner_li a.current .lf_menu_inner_li_span {
  border-bottom: 1px solid #63aa2f;
}
/*  |xGv00|b6088c34b7c9513f2d68fddf4d0fb58b */