.lightup {
  border-top: 2px solid #63aa2f;
  width: 720px;
  padding-left: 10px;
  font-family: Tahoma,simsun;
}
.lightup .lightup_head {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/vip_header.png");
  border-bottom: 1px dotted #e9e9e9;
  height: 106px;
}
.lightup .lightup_head .lightup_head_left {
  float: left;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -126px -963px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -126px -961px;
  padding-left: 90px;
  height: 73px;
  vertical-align: middle;
  margin-top: 14px;
}
.lightup .lightup_head .lightup_head_left h1 {
  font: 22px hiragino sans gb, microsoft yahei, simsun, tahoma, arial, sans-serif;
  color: #1e1e1e;
  margin-top: 4px;
  _margin-top: 10px;
}
.lightup .lightup_head .lightup_head_left h2 {
  font: 14px hiragino sans gb, microsoft yahei, simsun, tahoma, arial, sans-serif;
  color: #646464;
  margin-top: 2px;
  _margin-top: 6px;
}
.lightup .lightup_head .lightup_head_right {
  float: right;
  margin-top: 55px;
  margin-right: 24px;
}
.lightup .lightup_head .lightup_head_right a {
  /*background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -214px;
							_background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -217px;*/

  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -229px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -232px;
  padding-left: 18px;
  color: #63aa2f;
  font-family: hiragino sans gb, microsoft yahei, simsun, tahoma, arial, sans-serif;
}
.lightup .lightup_body {
  padding-left: 5px;
}
.lightup .lightup_body .lightup_list dl dt {
  font: 18px microsoft yahei;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -27px -257px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -27px -257px;
  padding-bottom: 14px;
  margin-bottom: 12px;
  margin-top: 34px;
}
.lightup .lightup_body .lightup_list dl dt.lightup_list_faceuser {
  margin-top: 20px;
}
.lightup .lightup_body .lightup_list dl dt.lightup_service {
  margin-bottom: 20px;
}
.lightup .lightup_body .lightup_list dl dd.lightup_list_faceuser_dd {
  font: 12px tahoma,simsun;
  color: #787878;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_img {
  float: left;
  margin-right: 35px;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content {
  padding-left: 45px;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content h4 {
  font-size: 14px;
  color: #6e6e6e;
  margin: 12px 0 26px 0;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content p {
  font: 12px tahoma,simsun;
  color: #787878;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content ol li {
  margin-top: 28px;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content ol li .service_title {
  font: bold 14px simsun;
  color: #6e6e6e;
  margin-right: 10px;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content ol li .service_detail {
  font: 12px simsun;
  color: #787878;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content ol li .yuejuan_btn {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -19px -1215px;
  display: block;
  width: 76px;
  height: 25px;
  margin-top: 11px;
  cursor: pointer;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content ol li .yuejuan_btn:hover {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -20px -1366px;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content ol li .juankuan_btn {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -19px -1261px;
  display: block;
  width: 76px;
  height: 25px;
  margin-top: 11px;
  cursor: pointer;
}
.lightup .lightup_body .lightup_list dl dd .lightup_service_content ol li .juankuan_btn:hover {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -20px -1424px;
}
.lightup .lightup_body .lightup_list dl .lightup_rule_dd .lightup_rule_p {
  font: 12px simsun;
  color: #646464;
  margin: 5px 0 15px 0;
}
.lightup .lightup_body .lightup_list dl .lightup_rule_dd table {
  width: 99%;
  border-top: 2px solid #63aa2f;
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  text-align: center;
  vertical-align: middle;
  font: 12px Tahoma,simsun;
}
.lightup .lightup_body .lightup_list dl .lightup_rule_dd table tr.highlight {
  background-color: #f8f8f8;
}
.lightup .lightup_body .lightup_list dl .lightup_rule_dd table tr td {
  border: 1px solid #e9e9e9;
  height: 40px;
}
.lightup .lightup_body .lightup_list dl .lightup_rule_dd table tr td.lever {
  font-weight: bold;
  color: #a1a1a1;
}
.lightup .lightup_body .lightup_list dl .lightup_icon_status .lightup_icon_status_img .lightup_icon_status_img_1 {
  margin-right: 96px;
}
.lightup .lightup_body .lightup_list dl .lightup_icon_status .name {
  font: bold 14px simsun;
  color: #6e6e6e;
  margin: 22px 0 8px 0;
}
.lightup .lightup_body .lightup_list dl .lightup_icon_status .explain {
  font: 12px simsun;
  color: #787878;
  padding-left: 14px;
}
/*  |xGv00|7dabcc733bc6c04b1b497d1616268a8e */