@charset 'UTF-8';
.lovefeedback {
  font-family: hiragino sans gb, microsoft yahei, simsun, tahoma, arial, sans-serif;
}
.lovefeedback a {
  color: #5a5a5a;
}
.lovefeedback a:hover {
  color: #63aa2f;
}
.lovefeedback .lf_content {
  width: 980px;
  margin: 0 auto;
  margin-bottom:50px;
}
.lovefeedback .lf_content .lf_crumbs {
  color: #989898;
  margin-bottom: 8px;
  margin-top: 22px;
}
.lovefeedback .lf_content .lf_crumbs a {
  color: #303030;
}
.lovefeedback .lf_content .lf_crumbs a:hover {
  color: #63aa2f;
}
.lovefeedback .lf_content .lf_crumbs span {
  margin: 0 2px;
  color: #303030;
  font-family: hiragino sans gb, simsun, tahoma, arial, sans-serif;
}
.lovefeedback .lf_content .lf_crumbs .pj_name {
  color: #b4b4b4;
}
.lovefeedback .lf_content .lf_main {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.yuejuan_tip {
  display:none;
  width: 230px;
  padding: 20px;
  background: #fff;
  border: 5px solid #8fcd78;
}
.yuejuan_tip p {
  margin-bottom: 10px;
}
/*  |xGv00|16197a9a7e0474a05a569728ecb9218e */