.qqshow {
  border-top: 2px solid #63aa2f;
  width: 720px;
  padding-left: 10px;
}
.qqshow .qqshow_head {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/vip_header.png");
  border-bottom: 1px dotted #e9e9e9;
  height: 106px;
}
.qqshow .qqshow_head .qqshow_head_left {
  float: left;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -369px -143px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -369px -143px;
  padding-left: 90px;
  height: 73px;
  vertical-align: middle;
  margin-top: 14px;
}
.qqshow .qqshow_head .qqshow_head_left h1 {
  font: 22px microsoft yahei;
  color: #1e1e1e;
  margin-top: 6px;
  _margin-top: 12px;
}
.qqshow .qqshow_head .qqshow_head_left h2 {
  font: 14px microsoft yahei;
  color: #646464;
  margin-top: 3px;
  _margin-top: 6px;
}
.qqshow .qqshow_head .qqshow_head_right {
  float: right;
  margin-top: 56px;
  margin-right: 24px;
}
.qqshow .qqshow_head .qqshow_head_right a {
  color: #63aa2f;
  padding-left: 18px;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -229px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -232px;
}
.qqshow .qqshow_body {
  padding-left: 5px;
}
.qqshow .qqshow_body .qqshow_list dl dt {
  font: 18px microsoft yahei;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -27px -257px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -27px -257px;
  padding-bottom: 14px;
  _padding-bottom: 18px;
  margin-bottom: 17px;
  margin-top: 33px;
}
.qqshow .qqshow_body .qqshow_list dl dt.qqshow_list_faceuser {
  margin-top: 21px;
}
.qqshow .qqshow_body .qqshow_list dl dt.qqshow_service {
  margin-bottom: 34px;
}
.qqshow .qqshow_body .qqshow_list dl dd.qqshow_list_faceuser_dd {
  font: 12px tahoma,simsun;
  color: #787878;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_left {
  float: left;
  margin-left: 35px;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right {
  float: right;
  width: 270px;
  margin-right: 65px;
  position:relative;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list {
  float: left;
  margin-top: 30px;
}
.qqshow_service_right_list h3{margin-bottom:12px;}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list .qqshow_service_right_img {
  float: left;
  width: 69px;
  height: 70px;
  border: 1px solid #dcdcdc;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list .qqshow_service_right_img.gold {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -18px -969px;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list .qqshow_service_right_img.silver {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -18px -1066px;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list .qqshow_service_right_content {
  float: right;
  margin-left: 14px;
  font: 12px simsun;
  color: #6e6e6e;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list .qqshow_service_right_content .want_donate {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -21px -1168px;
  width: 73px;
  height: 23px;
  display: block;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list .qqshow_service_right_content .want_donate:hover {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -21px -1319px;
}
.qqshow .qqshow_body .qqshow_list dl dd .qqshow_service_right .qqshow_service_right_list .qqshow_service_right_content p {
  margin-bottom: 9px;
  margin-top: 2px;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_flow_dd {
  margin-left: -3px;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_flow_dd ol {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -13px -871px;
  padding-top: 8px;
  border: 1px solid #e3e3e3;
  width: 709px;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_flow_dd ol li {
  float: left;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_flow_dd ol li.border_right {
  border-right: 1px dashed #d2d2d2;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_flow_dd ol li h4 {
  width: 170px;
  height: 29px;
  line-height: 37px;
  text-align: center;
  font: 14px microsoft yahei;
  color: #787878;
  _margin-top: 5px;
  _height: 24px;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_QandA_dt {
  margin-bottom: 28px;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_QandA .question {
  font: bold 14px simsun;
  color: #6e6e6e;
  margin-bottom: 10px;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_QandA .question span {
  font-family: microsoft yahei;
}
.qqshow .qqshow_body .qqshow_list dl .qqshow_QandA .answer {
  font: 12px simsun;
  color: #787878;
}
.yuejuan_tip {
	width: 230px;
	padding: 20px;
	background: #fff;
	border: 5px solid #8fcd78;
	display:none;
	position:absolute;
}
.yuejuan_tip p {
	margin-bottom: 10px;
}/*  |xGv00|76a263fc34ae8ba2ab9f045f4fe85621 */