.qqvip {
  border-top: 2px solid #63aa2f;
  width: 720px;
  padding-left: 10px;
}
.qqvip .qqvip_head {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/vip_header.png");
  border-bottom: 1px dotted #e9e9e9;
  height: 106px;
}
.qqvip .qqvip_head .qqvip_head_left {
  float: left;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat 3px -141px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat 3px -138px;
  padding-left: 90px;
  height: 73px;
  vertical-align: middle;
  margin-top: 14px;
}
.qqvip .qqvip_head .qqvip_head_left h1 {
  font: 22px microsoft yahei;
  color: #1e1e1e;
  margin-top: 6px;
}
.qqvip .qqvip_head .qqvip_head_left h2 {
  font: 14px microsoft yahei;
  color: #646464;
  margin-top: 3px;
}
.qqvip .qqvip_head .qqvip_head_right {
  float: right;
  margin-top: 56px;
  margin-right: 24px;
}
.qqvip .qqvip_head .qqvip_head_right a {
  color: #63aa2f;
  padding-left: 18px;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -229px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -232px;
}
.qqvip .qqvip_body {
  padding-left: 5px;
}
.qqvip .qqvip_body .qqvip_list dl dt {
  font: 18px microsoft yahei;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -27px -260px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -27px -260px;
  padding-bottom: 14px;
  margin-bottom: 12px;
  margin-top: 34px;
}
.qqvip .qqvip_body .qqvip_list dl dt.qqvip_list_faceuser {
  margin-top: 23px;
}
.qqvip .qqvip_body .qqvip_list dl dd.qqvip_list_faceuser_dd {
  font: 12px tahoma,simsun;
  color: #787878;
}
.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_p {
  font: 12px tahoma,simsun;
  color: #787878;
  padding-left: 3px;
  margin-bottom: 6px;
}
.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro {
  margin-left: -25px;
}
.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro a,
.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro p {
  float: left;
  width: 94px;
  border: 1px solid #dcdcdc;
  margin-top: 24px;
}
.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro a:hover {
  color: #63aa2f;
}
.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro a.img {
  height: 92px;
  text-indent: -100%;
  overflow: hidden;
  margin-left: 25px;
  cursor: pointer;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_light {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -13px -478px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_light:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_light_d {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -13px -372px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_forest {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -130px -478px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_forest:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_forest_d{
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -130px -372px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_truth {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -244px -478px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_truth:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_truth_d{
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -244px -372px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_childdream {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -356px -478px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_childdream:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_childdream_d {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -356px -372px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_green {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -472px -478px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_green:hover ,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_green_d{
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -472px -372px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_child {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -578px -478px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_child:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_child_d {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -578px -372px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_donate {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -13px -706px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_donate:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_donate_d {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -13px -601px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_hope {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -127px -706px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_hope:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_hope_d{
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -127px -601px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_growth {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -244px -706px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_growth:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_growth_d {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -244px -601px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_dream {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -356px -706px;
}
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_dream:hover,
.lovefeedback .lf_content .lf_main.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .img_dream_d{
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -356px -601px;
}
.qqvip .qqvip_body .qqvip_list dl dd .qqvip_service_intro .more {
  font: 14px simsun;
  margin-left: 25px;
  color: #a4a4a4;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  height: 72px;
  padding-top: 20px;
  background-color: #f8f8f8;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_flow_dt {
  margin-top: 41px;
  margin-bottom: 26px;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_flow_dd {
  margin-left: -3px;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_flow_dd ol {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -13px -871px;
  padding-top: 8px;
  border: 1px solid #e3e3e3;
  width: 709px;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_flow_dd ol li {
  float: left;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_flow_dd ol li.border_right {
  border-right: 1px dashed #d2d2d2;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_flow_dd ol li h4 {
  width: 170px;
  height: 29px;
  line-height: 37px;
  text-align: center;
  font: 14px microsoft yahei;
  color: #787878;
  _margin-top: 5px;
  _height: 24px;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_flow_dd .remark {
  margin-top: 15px;
  color: #acacac;
  font: 12px simsun;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_QandA_dt {
  margin-bottom: 26px;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_QandA .question {
  font: bold 14px simsun;
  color: #6e6e6e;
  margin-bottom: 10px;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_QandA .question span {
  font-family: microsoft yahei;
}
.qqvip .qqvip_body .qqvip_list dl .qqvip_QandA .answer {
  font: 12px simsun;
  color: #787878;
}


.floatDiv .floatClose,.floatDiv .floatCloseBtn,.floatContent .floatOkBtn{cursor:pointer;float:left;display:block;width:18px;height:16px;border:0;background:url(http://mat1.gtimg.com/gongyi/succor_13/icons/icons.png) 0px -193px  no-repeat;}
	
.floatDiv{
	color:red;
	background-color:#fff;
	line-height:25px;
	z-index:9999;
	display:none;
	border:3px solid #a1a1a1;
	width:440px;
}

.floatTitle{
	background-color:#4e931c;
	color:#fff;
	display:block;
	height:60px;
	width:100%;
	line-height:60px;
	text-indent:30px;
}

.floatContent{
	width:100%;
	font-size:12px;
	color:#3f3f3f;
	padding:15px 0;
}

.floatContent p{
	text-indent:2em;
	width:85%;
	margin:0 auto;
}

.floatContent h4.tips-title{
	text-indent:2em;
	width:85%;
	margin:0 auto;
	font-size:14px;font-weight:100;
}
.floatContent p.tips-content{
	width:85%;
	margin:0 auto;text-indent:0em;padding-bottom:18px;
}

.floatDiv .floatClose{
	background-position:-154px -194px;
	width:14px;
	height:14px;
	float:right;
	display:block;
	margin-right:14px;
	margin-top:20px;
	text-indent:-9999px;
	overflow:hidden;
}

.floatContent .floatCloseBtn,.floatContent .floatOkBtn,.floatDiv .floatCloseBtn{
	background-position:-151px -303px;
	width:122px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	font-size:16px;
	margin:20px 0 20px 0;
	overflow:hidden;
	text-decoration:none;
	float:none;
	margin:0 auto;
	display:inline-block;
	_display:inline;
	*display:inline;
	zoom:1; 
	margin-bottom:16px;
}
#tipsMask{
	filter:alpha(Opacity=80);-moz-opacity:0.8;opacity:0.8;
}
#sureBtn:hover{color:#fff}/*  |xGv00|a43b09f151b1ad7a8b928aa6b51ae921 */