.qqweibo {
  border-top: 2px solid #63aa2f;
  width: 720px;
  padding-left: 10px;
}
.qqweibo .qqweibo_head {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/vip_header.png");
  border-bottom: 1px dotted #e9e9e9;
  height: 106px;
}
.qqweibo .qqweibo_head .qqweibo_head_left {
  float: left;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -126px -1057px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -126px -1057px;
  padding-left: 90px;
  height: 73px;
  vertical-align: middle;
  margin-top: 14px;
}
.qqweibo .qqweibo_head .qqweibo_head_left h1 {
  font: 22px microsoft yahei;
  color: #1e1e1e;
  margin-top: 6px;
  _margin-top: 12px;
}
.qqweibo .qqweibo_head .qqweibo_head_left h2 {
  font: 14px microsoft yahei;
  color: #646464;
  margin-top: 3px;
  _margin-top: 6px;
}
.qqweibo .qqweibo_head .qqweibo_head_right {
  float: right;
  margin-top: 56px;
  margin-right: 24px;
}
.qqweibo .qqweibo_head .qqweibo_head_right a {
  /*background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -214px;
							_background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -217px;*/

  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -229px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -232px;
  padding-left: 18px;
  color: #63aa2f;
}
.qqweibo .qqweibo_body {
  padding-left: 5px;
}
.qqweibo .qqweibo_body .qqweibo_list dl dt {
  font: 18px microsoft yahei;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -27px -257px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -27px -257px;
  padding-bottom: 14px;
  _padding-bottom: 18px;
  margin-bottom: 16px;
  margin-top: 33px;
}
.qqweibo .qqweibo_body .qqweibo_list dl dt.qqweibo_list_faceuser {
  margin-top: 21px;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd.qqweibo_list_faceuser_dd {
  font: 12px tahoma,simsun;
  color: #787878;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_p {
  font: 12px simsun;
  color: #676767;
  margin-bottom: 28px;
  _margin-bottom: 24px;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_bottom .qqweibo_service_right_list {
  width: 353px;
  float: left;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_bottom .qqweibo_service_right_list img {
  margin: 0 auto;
  display: block;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_bottom .qqweibo_service_right_list .qqweibo_service_right_list_btn {
  width: 291px;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_bottom .qqweibo_service_right_list .qqweibo_service_right_list_btn p {
  font: 12px/22px simsun;
  color: #787878;
  width: 252px;
  margin: 7px auto 0 auto;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_bottom .qqweibo_service_right_list .qqweibo_service_right_list_btn .yuejuan_btn_big {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -156px -1236px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -156px -1236px;
  width: 136px;
  height: 38px;
  display: block;
  margin: 16px auto 0px auto;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_bottom .qqweibo_service_right_list .qqweibo_service_right_list_btn .yuejuan_btn_big:hover {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -327px -1236px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -327px -1236px;
}
.qqweibo .qqweibo_body .qqweibo_list dl dd .qqweibo_service_bottom .qqweibo_service_right_list .qqweibo_service_right_list_btn .weiai_btn_big {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -576px -1653px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -156px -1168px;
  width: 136px;
  height: 38px;
  display: block;
  color:#AFAFAF;
  margin: 16px auto 0px auto;
  font: bold 16px simsun;
  line-height: 38px;
  text-align: center;
}
.qqweibo .qqweibo_body .qqweibo_list dl .qqweibo_QandA_dt {
  margin-bottom: 28px;
}
.qqweibo .qqweibo_body .qqweibo_list dl .qqweibo_QandA .question {
  font: bold 14px simsun;
  color: #6e6e6e;
  margin-bottom: 10px;
}
.qqweibo .qqweibo_body .qqweibo_list dl .qqweibo_QandA .question span {
  font-family: microsoft yahei;
}
.qqweibo .qqweibo_body .qqweibo_list dl .qqweibo_QandA .answer {
  font: 12px simsun;
  color: #787878;
}
/*  |xGv00|5ab40958fb2c1f8454bdf102f716f1fa */