.tenpay {
  border-top: 2px solid #63aa2f;
  width: 720px;
  padding-left: 10px;
}
.tenpay .tenpay_head {
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/vip_header.png");
  border-bottom: 1px dotted #e9e9e9;
  height: 106px;
}
.tenpay .tenpay_head .tenpay_head_left {
  float: left;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -6px -1493px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -6px -1490px;
  padding-left: 90px;
  height: 73px;
  vertical-align: middle;
  margin-top: 14px;
}
.tenpay .tenpay_head .tenpay_head_left h1 {
  font: 22px microsoft yahei;
  color: #1e1e1e;
  margin-top: 6px;
}
.tenpay .tenpay_head .tenpay_head_left h2 {
  font: 14px microsoft yahei;
  color: #646464;
  margin-top: 3px;
}
.tenpay .tenpay_head .tenpay_head_right {
  float: right;
  margin-top: 56px;
  margin-right: 24px;
}
.tenpay .tenpay_head .tenpay_head_right a {
  color: #63aa2f;
  padding-left: 18px;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -15px -229px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -15px -232px;
}
.tenpay .tenpay_body {
  padding-left: 5px;
}
.tenpay .tenpay_body .tenpay_list dl dt {
  font: 18px microsoft yahei;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat -27px -260px;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat -27px -260px;
  padding-bottom: 14px;
  margin-bottom: 12px;
  margin-top: 34px;
}
.tenpay .tenpay_body .tenpay_list dl dt.tenpay_list_faceuser {
  margin-top: 23px;
}
.tenpay .tenpay_body .tenpay_list dl dd.tenpay_list_faceuser_dd {
  font: 12px tahoma,simsun;
  color: #787878;
}
.tenpay .tenpay_body .tenpay_list dl dd .tenpay_service_p {
  font: 12px tahoma,simsun;
  color: #787878;
  padding-left: 3px;
  margin-bottom: 6px;
}
.tenpay .tenpay_body .tenpay_list dl dd .tenpay_service_intro .tenpay_service_intro_img {
  margin-top: 28px;
  float: left;
}
.tenpay .tenpay_body .tenpay_list dl dd .tenpay_service_intro .tenpay_service_intro_detail {
  margin-top: 76px;
  margin-left: 112px;
  float: left;
}
.tenpay .tenpay_body .tenpay_list dl dd .tenpay_service_intro .tenpay_service_intro_detail h3 {
  font: 20px microsoft yahei;
  color: #323232;
}
.tenpay .tenpay_body .tenpay_list dl dd .tenpay_service_intro .tenpay_service_intro_detail .intro_detail_p1 {
  margin-top: 12px;
  margin-bottom: 94px;
  font-size: 12px;
  color: #6e6e6e;
}
.tenpay .tenpay_body .tenpay_list dl dd .tenpay_service_intro .tenpay_service_intro_detail .intro_detail_p1 span {
  color: #323232;
}
.tenpay .tenpay_body .tenpay_list dl dd .tenpay_service_intro .tenpay_service_intro_detail .intro_detail_p2 {
  color: #b8b8b8;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dt {
  margin-top: 41px;
  margin-bottom: 0;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol {
  _zoom: 1;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol li {
  float: left;
  padding-top: 26px;
  padding-left: 65px;
  width: 130px;
  height: 53px;
  background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite.png") no-repeat;
  _background: url("http://mat1.gtimg.com/gongyi/act/aizaiyiqi/2013/lf_sprite_png8.png") no-repeat;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol li.mgrg {
  margin-right: 60px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol li h4 {
  font-weight: normal;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol li p {
  color: #b6b6b6;
  margin-top: 2px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol li.light_up_icon {
  background-position: -18px -1572px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol li.special_qqshow {
  background-position: -18px -1654px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_vipright_dd ol li.happy_club {
  background-position: -18px -1736px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_QandA_dt {
  margin-bottom: 26px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_QandA li {
  margin-bottom: 26px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_QandA li .question {
  font: bold 14px simsun;
  color: #6e6e6e;
  margin-bottom: 10px;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_QandA li .question span {
  font-family: microsoft yahei;
}
.tenpay .tenpay_body .tenpay_list dl .tenpay_QandA li .answer {
  font: 12px simsun;
  color: #787878;
}
/*  |xGv00|fc7089ffdc1e75c90a1aefca7f7ce57f */