html{overflow-y:scroll}
html,body{height:100%}
*{margin:0;padding:0;border:0 none;background:transparent;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{margin:0px;padding:0px;}
body,input,button,select,textarea,table{font:12px/1.5 Tahoma,Helvetica,Arial,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,select{vertical-align:middle}
label,input[type=button],input[type=submit]{cursor:pointer}
button{cursor:pointer;overflow:visible;padding:0;width:auto}
textarea{overflow:auto}
table{border-collapse:collapse;border-spacing:0}
address,cite,dfn,em,var{font-style:normal;}
ul,ol{ list-style:none;}
img{ border:0px;vertical-align:top}
*+html img{-ms-interpolation-mode:bicubic}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }/*Clear float*/
.clearfix{zoom:1;}/*Clear float*/
.clear{ clear:both;}
/* Clear Fix */
.clearfix{display:inline-block;}
/* Hide from IE Mac */
.clearfix {display:block;}
/* End hide from IE Mac */
/* end of clearfix */



/*Public Styles*/
body{background-color:#FFF;color:#333}
a{color:#414141}
a:link,a:visited{text-decoration:none}
a:hover,a:active{text-decoration:underline;color:#0c479f;}
h1{ font-family:"Microsoft YaHei", "微软雅黑", SimHei, "黑体";}
.mr25{ margin-right:25px;}

/*---------------------------------
Global color
Body background:#def455
Container background:#fff
Main Text:#333
Links:#00600f
Visited links:#098761
Hover links:#aaf433
H1, H2, H3:#960
H4, H5, H6:#000
---------------------------------*/

/*顶部样式*/
.top_bg{ height:71px; border-bottom:2px solid #c0afa3; padding-top:15px;}
.con{
	width:960px;
	margin-top: 30;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.top_logo{
	width:366px;
	height:53px;
	background-image: url(//mat1.gtimg.com/cq/grace/2014/2014mlt/mlt_03.gif);
	background-repeat: no-repeat;
}
.top_link{ float:right; font:16px/53px 'microsoft yahei'; color:#786557;}
.top_link a{ color:#786557; margin:0 10px;}


/*焦点图*/
.focus_bg{ background:#f5f5f5; text-align:center; border-bottom:1px solid #d2d2d2; padding:20px 0;}
.focus_bg h2{
	font:72px/120px 'microsoft yahei';
	color:#222222;
	font-weight:bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	margin-bottom: 1px;
}
.focus_bg h3{
	font:16px/28px 'microsoft yahei';
	color:#918d8b;
	border-top:5px solid #383635;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	padding-right: 40px;
	padding-left: 40px;
}
.focus_bg h2 em{ font-size:16px;}
.focus_bg h2 em i{ color:#952a26; font-weight:bold; font-style:normal;}


.xb{
	position:absolute;
	width:80px;
	left:-90px;
	top:300px;
}
.xb ul li{ width:80px; text-align:center; margin-bottom:25px;}
.xb ul li span{ display:block; line-height:26px; color:#333; font-size:12px;}
.xb ul li img{border-radius:50px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ -moz-border-radius:50px; /* Mozilla浏览器的私有属性 */ -webkit-border-radius:50px; /* Webkit浏览器的私有属性 */ }

/*主持人语*/
.zcr{ background:#f0f0f0; padding:20px; width:920px; margin:20px auto;}
.zcr_img{ width:100px; height:100px; float:left;}
.zcr_img img{ border-radius:50px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ -moz-border-radius:50px; /* Mozilla浏览器的私有属性 */ -webkit-border-radius:50px; /* Webkit浏览器的私有属性 */ }
.zcr_con{ float:right; width:800px;font:14px/24px 'microsoft yahei'; color:#414141;}
.zcr_con h3{font:24px/44px 'microsoft yahei'; color:#7d2d2a;}

/*第一部分*/
.menu{ background:url(//mat1.gtimg.com/cq/grace/2014/2014mlt/mlt_10.gif) repeat-x; height:88px;font:40px/88px 'microsoft yahei'; color:#000000;}
.menu img{ float:left; margin-right:10px;}
.contain{
	border:1px solid #dfdfdf;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
}
.left{ float:left;font:16px/30px 'microsoft yahei'; color:#414141; width:500px;}
.left p{ text-indent:2em;}
.right{ float:left; width:370px;}
.btn{ height:50px;width:456px; overflow:hidden;}
.btn a.t1{ width:155px; display:block; height:50px;float:left;background:url(//mat1.gtimg.com/cq/grace/2014/2014mlt/btn.gif) 0 0; margin-right:2px;}
.btn a.t2{ width:146px; display:block; height:50px;float:left;background:url(//mat1.gtimg.com/cq/grace/2014/2014mlt/btn.gif) -157px 0;margin-right:2px;}
.btn a.t3{ width:151px; display:block; height:50px;float:left;background:url(//mat1.gtimg.com/cq/grace/2014/2014mlt/btn.gif) -305px 0;}
.btn a.t1:hover{ background-position:0 -50px; }
.btn a.t2:hover{ background-position:-157px -50px;}
.btn a.t3:hover{ background-position:-305px -50px;}


/*大图*/
.datu{ height:690px; background:#f0f0f0; margin:20px auto; width:960px; overflow:hidden;}

/*微博评论*/
.weibo{ width:658px; float:left;}
.copy{ width:280px; float:right;font:12px/24px "宋体"; color:#555; }
.copy p{text-indent:2em;}
.copy p em{ font-size:14px; font-weight:bold; display:block;}
.tab{font:18px/40px 'microsoft yahei'; color:#2a2a2a; border-bottom:2px solid #cea6a4; margin-bottom:10px;}
.copy_con{ background:url(//mat1.gtimg.com/cq/grace/2014/2014mlt/copy.gif) no-repeat; width:210px; height:94px; padding-left:70px; padding-top:22px; margin-top:10px;}

/*往期回顾*/
.past_menu{ height:50px; background:#ebebeb;font:20px/50px 'microsoft yahei'; color:#222; }
.past_con{ background:#f4f4f4;padding:20px 0;}
.past_con ul{ width:1100px; }
.past_con ul li{ float:left; width:222px; height:172px; margin-right:20px;}
.btn_l,.btn_r{ background:url(//mat1.gtimg.com/cq/grace/2014/2014mlt/lr_ico.gif); width:22px; height:34px; position:absolute; display:block;}
.btn_l{left:-45px;top:70px;}
.btn_r{right:-45px;top:70px; background-position:-38px -50px;}
.btn_l:hover{ background-position:0 -49px;}
.btn_r:hover{ background-position:-38px 0;}/*  |xGv00|3837c0ebfd22fdb3c3d2454c45aff026 */