body {
  margin: 0;
}
.clear {
  clear: both;
}
.act-banner {
  height: 602px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/0.png);
  text-align: center;
}
.act-content {
  width: 100%;
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/1.png);
  text-align: center;
  padding-top: 1px;
}
.act-content .box {
  height: 334px;
  width: 1002px;
  margin: 260px auto 0 auto;
}
.act-content .box .box-item {
  height: 167px;
  float: left;
}
.act-content .box .box-item-334 {
  width: 334px;
}

.act-content .box .box-item-167 {
  width: 167px;
}
.act-content .box .user-repply {
  display: table;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/user-repply.png);
  color: #2e7f94;
  overflow: hidden;
}
.act-content .box .user-repply p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.act-rule {
  background-color: #ebebeb;  
  position: relative;
  height: 950px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/3.png);
}
.act-rule a {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 150px;
}
.act-user-img {
  height: 890px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/4.png);
  padding-top: 1px;
}
.act-user-img .ifr {
  width: 1000px;
  height: 633px;
  display:block; 
  margin: 165px auto 0 auto;
  /*margin: 0 auto;*/
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
.act-org-img {
  height: 600px;
  padding: 1px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/5.png);
}

.act-org-img .swiper-container {
  margin: 180px auto 0 auto;
  width: 624px;
  height: 327px;
  position: relative;
  border: 0;
}
.act-org-img .swiper-container p {
  text-align: center;
  max-width: 604px;
  z-index: 1000;
  position: absolute;
  white-space: pre-wrap; 
  top: 230px;
  color: #2e7f94;
  overflow: hidden;
  margin: 0 10px 0 10px;
  background-color: rgba(238, 238, 238, 1);
  opacity:0.4;
  filter:alpha(opacity=40);
}
.act-org-img .swiper-container a {
  display: inline-block;
}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 100px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

.act-org-img .arrow-left {
  background: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/arrows.png) no-repeat left top;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 17px;
  height: 30px;
  z-index: 999;
}
.act-org-img .arrow-right {
  background: url(//mat1.gtimg.com/cq/city/2017Q4/jfb20/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -20px;
  width: 17px;
  height: 30px;
  z-index: 999;
}/*  |xGv00|63528908098d12c3da37228521ed1dcf */