body{margin:0;padding:0;background-color:#FFF;}
form,input,select,div,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;}
body,td,select,input,div{font-size:12px; color:#333;}
img{border:none;}
ul,li{list-style:none;}
h1,h2{font-weight:normal;}
a{text-decoration: none; color:#333;}
a:hover{text-decoration:underline; color:#ff0000;}
/* Clear Fix */ 
.cl{zoom:1;}
.cl:after{content:"　";display:block;clear:both;height:0;}
.cl{zoom:1;}
.cl:after{content:"　";display:block;clear:both;height:0;}

.white,.white a{color:#FFF;}
.hui,.hui a{color:#b4b4b4;}
.lan,.lan a{color:#1044ba;}


.lh22{line-height:22px;}
.lh26{line-height:26px;}

.ti2{text-indent:2em;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}

.fl{float:left;}
.fr{float:right;}

.dis{display:block;}
.undis{display:none;}

/* CSS空白 */
.hr4,.hr5,.hr6,hr7,.hr8,.hr10,.hr12,hr14,.h16{margin:0 auto;font-size:0;line-height:0; background:#fff;clear:both;}
.hr4{height:4px;}
.hr5{height:5px;}
.hr6{height:6px;}
.hr7{height:7px;}
.hr8{height:8px;}
.hr10{height:10px;}
.hr12{height:12px;}
.hr14{height:14px;}
.hr16{height:16px;}

.bg_bcn{background-position:bottom center; background-repeat:no-repeat;}

.pic_1 img{border:1px solid #d8d8d8;}

.mgt10{margin-top:10px;}

/*一级容器*/
.wrap{width:960px; margin:10px auto 0; background:#fff;}

/*首屏*/
#screenf .left{ float:left;width:710px;}
#screenf .right{ float:left;width:250px;}

/*焦点图*/
#focus{width:700px; height:179px;}
#focus .lf{width:250px; float:left;}
#focus .lf .jdtit{width:246px; height:228px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) 0 0; padding:6px 0 0 4px;}
#focus .lf .jdtit .nos,#focus .lf .jdtit .s{width:226px; height:68px; line-height:26px; font-size:14px; padding:6px 0 4px 20px !important; padding:4px 0 4px 20px; cursor:hand;}
#focus .lf .jdtit .nos strong,#focus .lf .jdtit .s strong{font-size:16px;}
#focus .lf .jdtit .nos strong{color:#c21c13;}
#focus .lf .jdtit .nos{background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -258px 0;}
#focus .rt{width:450px; height:458px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -512px 0; position:relative; float:left;}
#focus .rt .jdpic{width:430px; height:438px; position:absolute; top:10px; left:10px; filter:progid:DXImagetransform.Microsoft.GradientWipe(duration=1,gradientSize=0.5,motion=forward );}
#focus .rt .jdintro{width:410px; height:66px; padding:5px 7px; background:url(//mat1.gtimg.com/ent/mrf960/bg_1.png) !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/ent/mrf960/bg_1.png', sizingMethod='scale'); cursor:hand; position:absolute; top:370px; left:13px;}
/*娱乐播报*/
.ylbb{width:250px; height:224px;}
.ylbb .hd{height:33px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -257px -98px;}
.ylbb .bd{height:191px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -256px -139px;}
/*明星通告*/
.mxtg .hd{width:230px; height:26px; color:#fff; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) 0 -242px; padding:3px 0 0 20px; line-height:26px; font-size:14px; font-weight:bold;}
.mxtg .bd{width:248px; height:211px; border:1px solid #cbcbcb; border-bottom:none;}
/*热点活动*/
.rdhd .hd{width:230px; height:26px; color:#fff; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) 0 -277px; padding:3px 0 0 20px; line-height:26px; font-size:14px; font-weight:bold;}
.rdhd .bd{width:248px; height:186px; border:1px solid #cbcbcb;}
/*星光大来宾*/
.xgdlb{width:615px; height:448px; float:left;}
.xgdlb .hd{width:108px; height:31px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -971px 0; padding-left:497px;}
.xgdlb .hd li{float:left; margin-right:5px;}
.xgdlb .hd .an{display:block; cursor:pointer; width:13px; height:12px; margin-top:15px;}
.xgdlb .hd .dian{display:inline; cursor:pointer; width:8px; height:8px; margin-top:17px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -434px -361px;}
.xgdlb .hd li.current{display:inline; cursor:pointer; width:8px; height:8px; margin-top:17px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -434px -383px;}

.xgdlb .bd{width:603px; height:416px; border:1px solid #e0e0e0; border-top:none; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -971px -41px no-repeat;}
#newProgram1,#newProgram2,#newProgram3,#newProgram4{width:576px; margin:0 auto;}
#newProgram1 div,#newProgram2 div,#newProgram3 div,#newProgram4 div{width:144px; padding-top:12px; line-height:28px; text-align:center; float:left;}
#newProgram1 img,#newProgram2 img,#newProgram3 img,#newProgram4 img{border:1px solid #d8d8d8;}
/*Q仔跑现场*/
.qzpxc{width:345px; height:448px; float:left;}
.qzpxc .hd{width:335px; height:28px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) 0 -346px; text-align:right; padding-right:10px; line-height:28px; padding-top:2px;}
.qzpxc .bd{width:343px; height:417px; border:1px solid #cbcbcb; border-top:none;}
.qzpxc .bd .tp{height:161px; background:url(//mat1.gtimg.com/ent/mrf960/bg_4.jpg);}
.qzpxc .bd .tit{height:252px;}
/*星光零距离*/
.xgljl .hd{width:950px; height:30px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) 0 -469px; padding:4px 10px 0 0; line-height:30px; text-align:right;}
.xgljl .bd{width:952px; height:410px; border:1px solid #e9e9e9; border-top:none; padding:10px 0 0 6px;}
.xgljl .bd .tp1,.xgljl .bd .tp2,.xgljl .bd .tp3,.xgljl .bd .tp4{float:left;}
.xgljl .bd .tp1{width:302px;}
.xgljl .bd .tp2{width:212px;}
.xgljl .bd .tp3{width:232px;}
.xgljl .bd .tp4{width:200px;}
/*栏目*/
.lm .hd{height:35px;}
.lm .hd .lm_tit{width:122px; height:35px; float:left;}
.lm .hd .gd{width:828px; height:30px; float:left; padding:5px 10px 0 0; text-align:right; line-height:30px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) 0 -511px;}
.lm .bd{width:960px; height:273px; background:url(//mat1.gtimg.com/ent/mrf960/bg_5.jpg); padding-top:11px;}
.lm .bd ul{width:952px; height:262px; margin:0 auto;}
.lm .bd ul li{float:left; width:238px; height:262px;}
.lm .bd .box{width:210px; height:262px; margin:0 auto; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) 0 -558px; position:relative;}
.lm .bd .box .pic{width:200px; height:150px; padding:5px;}
.lm .bd .box .tit{height:18px; line-height:18px; font-weight:bold; padding-bottom:6px; text-align:center;}
.lm .bd .box .intro{width:194px; padding:8px; line-height:22px;}
.lm .bd .box .tb{width:25px; height:21px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -426px -418px; position:absolute; top:126px; left:169px; cursor:pointer;}
.xgyf .hd .lm_tit{background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -223px -558px;}
.xgjc .hd .lm_tit{background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -356px -558px;}
.xgyy .hd .lm_tit{background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -488px -558px;}
/**/
.js_mt_lx .left{width:710px; float:left;}
.js_mt_lx .right{width:250px; float:left;}
#tab1{width:300px; height:21px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -223px -603px; padding:8px 0 0 400px;}
#tab1 ul li{width:50px; height:20px; line-height:20px; padding-top:1px; text-align:center; font-size:14px; font-weight:bold; float:left; cursor:pointer;}
#tab1 ul li.over{background:url(//mat1.gtimg.com/ent/mrf960/bg_6.png) !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/ent/mrf960/bg_6.png', sizingMethod='scale');}
#tab1 ul li.out{color:#fff; background:url(//mat1.gtimg.com/ent/mrf960/bg_7.png) !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/ent/mrf960/bg_7.png', sizingMethod='scale');}
#tabb1{width:694px; height:241px; border:1px solid #fde6bf; padding:2px;}
#tabb1 div{width:694px; height:241px;  overflow-y:scroll;}

/*合作媒体*/
.hzmt .hd{width:229px; height:26px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -223px -643px; padding:3px 0 0 21px; line-height:26px; font-size:14px; font-weight:bold;}
.hzmt .bd{width:238px; height:97px; border:1px solid #eaeaea; padding:10px 0 0 10px; line-height:22px;}
/*联系我们*/
.lxwm .hd{width:229px; height:26px; background:url(//mat1.gtimg.com/ent/mrf960/bg.png) -486px -643px; padding:2px 0 0 21px; line-height:26px; font-size:14px; font-weight:bold;}
.lxwm .bd{width:238px; height:98px; border:1px solid #eaeaea; padding:10px 0 0 10px; line-height:22px;}
/*底部版权*/
#footer {height:90px; text-align:center; margin-top:20px;}/*  |xGv00|8c157d42c5e72109a0413c6878cbe5c1 */