.team{width:956px; height:70px; line-height:70px; padding:1px; background:#fff; border:1px solid #E7E7E7; margin:20px auto; font-size:12px; color:#666;}
	.team .tCon{background:#F6F6F6; height:70px;}
	.team .tCon .alogo{display:block; width:40px; height:40px; margin:15px 10px 0 10px; background:url(//mat1.gtimg.com/gd/images/channel/common/shareiconA.png) no-repeat 0 0; float:left}
	.team .tCon .alogo:hover {background:url(//mat1.gtimg.com/gd/images/channel/common/shareiconA.png) no-repeat 0 -40px;}
	.team .tCon .atop{display:block; width:40px; height:40px; margin:15px 10px 0 0; background:url(//mat1.gtimg.com/gd/images/channel/common/shareiconB.png) no-repeat 0 0; float:right}
	.team .tCon .atop:hover {background:url(//mat1.gtimg.com/gd/images/channel/common/shareiconB.png) no-repeat 0 -40px;}
	.team .tCon p{width:600px; float:left; display:inline; margin:0 10px 0 0; }
	.TLcol #shareall{padding-right:40px;}
	#shareall{float:left; }
	#shareall img{vertical-align:middle; display:inline;}
	#shareall2{ float:left; margin-top:28px;}
	
	
	/*  |xGv00|70c888a1128d19a6ccc85c4e9c2750eb */