@charset "utf-8";*{margin:0;padding:0}
body{margin:0 auto;padding:0;background-color:#fff;color:#333;text-decoration:none;font-size:14px;font-family:Microsoft YaHei,arial}
input,select,textarea{font-size:100%;font-family:inherit}
body,form,h1,h2,h3,h4,h5,h6,ol,p,ul{margin:0}
h4,h5,h6{font-size:1em}
ol,ul{padding-left:0;list-style-type:none}
a{color:#000}
a:hover{text-decoration:underline}

/*image with no-border*/
img{border:0}
a,b,div,dl,dl dd,dl dt,form,h1,h2,h3,h4,h5,h6,img,ol,ol li,p,ul,ul li{margin:0;padding:0;border:none;list-style-type:none;text-decoration:none}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
*html .clearfix{height:1%}
.wrapper{width:100%;min-width:1000px;height:auto;overflow:hidden;margin:0 auto;padding-bottom:50px;border-bottom:1px solid #eee}
.banner{width:100%;min-width:1000px;height:150px;background:url(//mat1.gtimg.com/gd/wendy/mostlife/bar_bg.jpg) no-repeat center bottom;background-size:cover;border-bottom:5px solid #e64916}
.banner-cont{padding-top:10px;width:1000px;height:150px;margin:0 auto}
.content{width:1000px;height:auto;overflow:hidden;margin:0 auto;padding:50px 0 0 0}

/* left */
.content .cont-left{ width: 690px; height:auto; overflow: hidden; display: block; float: left; border-right: 1px solid #eeeeee; padding-right: 10px; }
/* new */
.new{ width: 690px; height: 270px; overflow:hidden;}
.new .new-left{ width:450px; height:270px; float: left; diaplay:block; position: relative;}
.new .new-left a img{ width: 450px; height:270px;}
.new .new-left i{ position: absolute; z-index: 9; top: 0; left:0;}
.new .new-left i img{ width:103px; height:89px }

.new .new-right{ width:190px; height: 270px; overflow:hidden; padding:0 30px 0 20px;}
.new .new-right h3{ line-height: 20px; text-align: left; color: #840303; font-size: 16px; text-indent: -7px; font-weight:500;}
.new .new-right h1{ line-height: 25px; text-align: left; font-size: 18px;  margin: 15px 0;}
.new .new-right p{ line-height: 22px; text-align: left; font-size: 14px; margin: 0 0 15px 0; color:#666666;}

.news-list{ width: 650px; height: auto; overflow: hidden;  margin: 50px 0;}
.news-list ul{ width:100%; height: auto; overflow: hidden; }
.news-list ul li{ width: 100%; height: 110px; overflow: hidden; padding: 20px 0; border-bottom: 1px solid #eeeeee; }
.news-list ul li img{ width: 172px; height: 110px; display: block; float: left; margin: 0 20px 0 0; }
.news-list ul li h3{ line-height: 20px; font-size: 14px; text-align: left; font-weight:500; text-indent: -5px; }
.news-list ul li h1{ line-height: 20px; font-size: 18px; text-align: left; font-weight: 400; margin: 15px 0; }
.news-list ul li p{ line-height: 22px; font-size: 14px; text-align: left; color:#666666;}

.btn{ width: 180px; line-height: 35px; height: 35px; font-size: 16px; text-align: center; border:1px solid #eeeeee; margin: 50px auto; }
.btn:hover{ background-color: #eeeeee; cursor: pointer; }

/* right */
.content .cont-right{ width:250px; height: auto; overflow: hidden; display: block; float: right; }
.content .cont-right .detail{ width:100%; height: auto; overflow: hidden; padding: 10px 0; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee;}
.content .cont-right .detail img{width: 100%;display: block;float: left;margin: 15px 10px 20px 0;}
.content .cont-right .detail p{ line-height: 25px; font-size: 14px;}
.content .cont-right .code{width: 250px;height: auto;overflow: hidden;margin: 50px 0;}
.content .cont-right .code img{display: block; }
.content .cont-right .code p{  width:200px; line-height: 30px; font-size: 16px; text-align: center; margin: 20px 0 0 0;}

/*  |xGv00|f94bb2b97c4d4ad79bf071ae742737b3 */
.fl{float:left;}
.fr{float:right;}
.fli_wrap{margin-top:20px;overflow:hidden;margin-bottom: 10px}
.fli_wrap img{width:90px;height:70px;}
.fli_wrap .t{font-size:16px;line-height:24px}
.fli_wrap p{font-size:14px;color:#666666;}
.fli_tit{font-size: 24px;font-weight: 400;margin-top: 20px;}
.fli_wrap .picwrap{margin-right:10px}
.titwrap{width:140px;}
.link{font-size:14px;line-height:30px;color:#666666;}
.more{color:#999;font-size:12px;margin-left:85px}/*  |xGv00|0ec7ba73ec82de128959090dcbb68229 */