body{margin:0 auto;font-size:12px;background:#FFF;color:#2A2A2A;}
table,input,select{line-height:180%;}

a:link,a:visited,a:active{
	color: #2A2A2A;text-decoration:none;
}
a:hover{
	color: #F00;text-decoration:underline;
}

.f14{font-size:14px;}
.fb{font-weight:bold;}
.ti2{text-indent:2em;}
.lh24{line-height:24px;}
.lh20{line-height:20px;}

.bor1{border:1px solid #C9C9C9;}
.bor2{border:1px solid #C5590A;}
.bor3{border:3px solid #C6C6C6;}
.bor4{border-right:1px solid #DEDEDE;}

a.big:link,a.big:visited,a.big:active{
	color: #FFFDD5;font-family:"ºÚÌå";font-size:18px;line-height:28px;
}
a.big:hover{
	color: #F00;font-family:"ºÚÌå";font-size:18px;line-height:28px;
}

.ff{color:#FFF;}
a.ff:link,a.ff:visited,a.ff:active{color:#FFF;}
a.ff:hover{color:#FF0;}

.fA8{color:#A81A01;}
a.fA8:link,a.fA8:visited,a.fA8:active{color:#A81A01;}
a.fA8:hover{color:#F00;}

.fC5{color:#C5590A;}
a.fC5:link,a.fC5:visited,a.fC5:active{color:#C5590A;}
a.fC5:hover{color:#F00;}

.fFF{color:#FFDB60;}
a.fFF:link,a.fFF:visited,a.fFF:active{color:#FFDB60;}
a.fFF:hover{color:#F00;}

.f52{color:#525252;}
a.f52:link,a.f52:visited,a.f52:active{color:#525252;}
a.f52:hover{color:#F00;}

.mgt10{margin-top:10px;}

.txt1{border:1px solid #FFF;}