@charset "UTF-8";
#wrap {
	width: 100%;
	height: auto;
	float: left;
	min-width: 1200px;
}
#wrap .sitebg {
	width: 100%;
	float: left;
	height: 579px;
	background: #10152c;
}
#wrap .sitebg .sitehead {
	width: 100%;
	height: 60px;
	position: relative;
}
#wrap .sitebg .sitehead .logo {
	float: left;
	height: 60px;
	padding-left: 50px;
}
#wrap .sitebg .sitehead .logo img {
	width: 242px;
	height: 30px;
	margin-top: 30px;
	float: left;
	display: block;
}
#wrap .sitebg .sitehead .sitec {
	float: left;
	margin-left: 60px;
	height: 60px;
}
#wrap .sitebg .sitehead .sitec .siteul {
	width: 100%;
	height: auto;
	float: left;
}
#wrap .sitebg .sitehead .sitec .siteul li {
	position: relative;
	z-index: 1000;
	width: 150px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	margin-top: 30px;
	text-align: center;
	float: left;
}
#wrap .sitebg .sitehead .sitec .siteul li .nitem {
	color: #fff;
	font-size: 14px;
	font-family: 微软雅黑;
	text-align: center;
}
#wrap .sitebg .sitehead .sitec .siteul li .nitem:hover {
	color: #fff;
	font-size: 14px;
	font-family: 微软雅黑;
}
#wrap .sitebg .sitehead .sitec .siteul li .down-option {
	display: none;
	width: 202px;
	height: auto;
	left: -26px;
	position: absolute;
	background: url(../images/sj.png) no-repeat center top;
	padding-top: 10px;
	top: 24px;
}
#wrap .sitebg .sitehead .sitec .siteul li .down-option .ditem {
	display: block;
	height: 37px;
	line-height: 37px;
	background: #fff;
	color: #000;
}
#wrap .sitebg .sitehead .sitec .siteul li .down-option .ditem a {
	color: #000;
}
#wrap .sitebg .sitehead .sitec .siteul li .down-option .ditem:hover {
	display: block;
	height: 37px;
	color: #fff;
	line-height: 37px;
	background: #10152c;
}
#wrap .sitebg .sitehead .sitec .siteul li .down-option .ditem:hover a {
	color: #fff;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover {
	z-index: 1000;
	width: 150px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	margin-top: 30px;
	text-align: center;
	float: left;
	position: relative;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover .nitem {
	color: #fff;
	font-size: 14px;
	font-family: 微软雅黑;
	text-align: center;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover .nitem:hover {
	color: #fff;
	font-size: 14px;
	font-family: 微软雅黑;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover .down-option {
	display: block;
	width: 202px;
	height: auto;
	left: -26px;
	top: 24px;
	position: absolute;
	background: url(../images/sj.png) no-repeat center top;
	padding-top: 10px;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover .down-option .ditem {
	display: block;
	height: 37px;
	line-height: 37px;
	background: #fff;
	color: #000;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover .down-option .ditem a {
	color: #000;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover .down-option .ditem:hover {
	display: block;
	height: 37px;
	color: #fff;
	line-height: 37px;
	background: #10152c;
}
#wrap .sitebg .sitehead .sitec .siteul li:hover .down-option .ditem:hover a {
	color: #fff;
}
#wrap .sitebg .b-slide {
	width: 1200px;
	position: relative;
	margin: 0 auto;
	top: 0px;
}
.b-w-slide{
	width:100%;
	float:left;
	height:579px;
	position:relative;
	top:-60px;
}

#wrap .sitebg .b-slide .b-left {
	width: 382px;
	height: 579px;
	position: relative;
	float: left;
}
#wrap .sitebg .b-slide .b-left .b-left-earth {
	width: 382px;
	height: 529px;
	float: left;
	display: none;
}
#wrap .sitebg .b-slide .b-left .b-txt {
	width: 400px;
	font-size: 48px;
	text-align: left;
	font-family: 微软雅黑;
	color: #fff;
	position: absolute;
	top: 247px;
	left: 0px;
}
#wrap .sitebg .b-slide .b-left .bm-txt {
	width: 400px;
	font-size: 30px;
	text-align: left;
	font-family: 微软雅黑;
	color: #fff;
	position: absolute;
	top: 320px;
	left: 0px;
}
#wrap .sitebg .b-slide .b-right {
	width: 808px;
	height: 579px;
	float: right;
}
#wrap .sitebg .b-slide .b-right .br-img {
	margin-top: 36px;
	width: 808px;
	height: 543px;
}
#wrap .wisdom-nrbox {
	width: 100%;
	height: auto;
	float: left;
}
#wrap .wisdom-nrbox .zhdj {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhdj h3 {
	width: 100%;
	font-size: 32px;
	margin: 50px 0;
	text-align: center;
	font-family: 微软雅黑;
	color: #000;
	font-style: normal;
	font-weight: 400;
}
#wrap .wisdom-nrbox .zhdj .zhdjul {
	width: 1300px;
	height: auto;
	float: left;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli {
	float: left;
	width: 87px;
	height: 130px;
	margin-right: 137px;
	margin-left: 36px;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-one:hover {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid red;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-one:hover img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-two:hover {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #00bff2;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-two:hover img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-three:hover {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #0052d9;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-three:hover img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-four:hover {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #e06000;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-four:hover img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-five:hover {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #003487;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-five:hover img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-one.act {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid red;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-one.act img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-two.act {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #00bff2;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-two.act img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-three.act {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #0052d9;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-three.act img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-four.act {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #e06000;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-four.act img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-five.act {
	float: left;
	width: 87px;
	height: 127px;
	border-bottom: 3px solid #003487;
	overflow: hidden;
	margin-right: 137px;
	margin-left: 36px;
}
#wrap .wisdom-nrbox .zhdj .zhdjul .zdli.z-five.act img {
	width: 87px;
	height: 115px;
}
#wrap .wisdom-nrbox .zhwrap {
	width: 100%;
	height: auto;
	background: #f5f5f6;
	float: left;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox {
	width: 100%;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox {
	width: 1300px;
	height: auto;
	float: left;
	margin: 35px 0;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .zhdl {
	width: 305px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .zhdl dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .zhdl dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .zhwy {
	width: 197px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .zhwy dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .zhwy dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .qezhul {
	width: 100%;
	float: left;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox .qezhul .qeli {
	width: 258px;
	height: 80px;
	line-height: 80px;
	float: left;
	margin-bottom: 35px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act {
	width: 1300px;
	height: auto;
	float: left;
	background: #fff;
	border-bottom: 3px solid #d30000;
	margin: 35px 0;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .zhdl {
	width: 305px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .zhdl dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .zhdl dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .zhwy {
	width: 197px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .zhwy dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .zhwy dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
	margin-bottom:100px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .qezhul {
	width: 100%;
	float: left;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-one.act .qezhul .qeli {
	width: 258px;
	height: 80px;
	line-height: 80px;
	float: left;
	margin-bottom: 35px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act {
	width: 1300px;
	height: auto;
	float: left;
	background: #fff;
	border-bottom: 3px solid #00bff2;
	margin: 35px 0;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .zhdl {
	width: 305px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .zhdl dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .zhdl dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .zhwy {
	width: 197px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .zhwy dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .zhwy dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .qezhul {
	width: 100%;
	float: left;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .zhwbox.zb-two.act .qezhul .qeli {
	width: 258px;
	height: 80px;
	line-height: 80px;
	float: left;
	margin-bottom: 35px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox {
	width: 1300px;
	height: auto;
	float: left;
	margin: 35px 0;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .zhdl {
	width: 305px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .zhdl dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .zhdl dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .zhwy {
	width: 197px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .zhwy dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .zhwy dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .qezhul {
	width: 100%;
	float: left;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .qezhul .qeli {
	width: 258px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	float: left;
	background: #fff;
	margin-bottom: 35px;
	margin-right: 56px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .qezhul .qeli a {
	font-size: 20px;
	font-family: 微软雅黑;
	color: #1f2531;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .qezhul .qeli:hover {
	color: #fff;
	background: #0052d9;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox .qezhul .qeli:hover a {
	font-size: 20px;
	font-family: 微软雅黑;
	color: #FFFFFF;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act {
	width: 1300px;
	height: auto;
	float: left;
	margin: 35px 0;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .zhdl {
	width: 305px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .zhdl dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .zhdl dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .zhwy {
	width: 197px;
	height: auto;
	float: left;
	margin-right: 88px;
	margin-left: 28px;
	padding: 35px 0;
	min-height: 165px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .zhwy dt {
	width: 100%;
	font-size: 20px;
	font-family: 微软雅黑;
	color: #000;
	margin-bottom: 20px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .zhwy dd {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #656565;
	line-height: 24px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .qezhul {
	width: 100%;
	float: left;
	overflow: hidden;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .qezhul .qeli {
	width: 258px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	float: left;
	background: #fff;
	margin-bottom: 35px;
	margin-right: 56px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .qezhul .qeli a {
	font-size: 20px;
	font-family: 微软雅黑;
	color: #1f2531;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .qezhul .qeli:hover {
	color: #fff;
	background: #0052d9;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .qebox.zb-three.act .qezhul .qeli:hover a {
	font-size: 20px;
	font-family: 微软雅黑;
	color: #FFFFFF;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox {
	width: 1300px;
	height: auto;
	float: left;
	margin: 35px 0;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul {
	width: 100%;
	height: auto;
	float: left;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem {
	width: 352px;
	height: 433px;
	background: #fff;
	float: left;
	margin-right: 72px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem .yptit {
	text-align: center;
	height: 66px;
	line-height: 66px;
	font-size: 20px;
	font-family: 微软雅黑;
	border-bottom: 1px solid #f5f5f6;
	float: left;
	width: 100%;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem .ypnr {
	width: 100%;
	height: auto;
	float: left;
	padding-top: 40px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem .ypnr .topname {
	font-family: 微软雅黑;
	font-size: 18px;
	font-weight: bold;
	color: #656565;
	padding: 0 35px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem .ypnr .sname {
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: 400;
	color: #656565;
	line-height: 30px;
	padding: 0 35px;
	margin-bottom: 40px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem:hover {
	width: 352px;
	height: 433px;
	background: #e06000;
	float: left;
	margin-right: 72px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem:hover .yptit {
	text-align: center;
	height: 66px;
	line-height: 66px;
	font-size: 20px;
	color: #fff;
	font-family: 微软雅黑;
	border-bottom: 1px solid #f5f5f6;
	float: left;
	width: 100%;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem:hover .ypnr {
	width: 100%;
	height: auto;
	float: left;
	padding-top: 40px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem:hover .ypnr .topname {
	font-family: 微软雅黑;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	padding: 0 35px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .ypbox .ypboxul .nritem:hover .ypnr .sname {
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	line-height: 30px;
	padding: 0 35px;
	margin-bottom: 40px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox {
	width: 1300px;
	float: left;
	height: auto;
	margin-bottom: 43px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .yioxul {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 43px;
	margin-bottom: 43px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .yioxul .yitem {
	width: 352px;
	height: 255px;
	background: #fff;
	float: left;
	margin-right: 72px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .yioxul .yitem .yptit {
	width: 100%;
	text-align: center;
	font-size: 20px;
	height: 66px;
	line-height: 66px;
	font-family: 微软雅黑;
	border-bottom: 1px solid #f5f5f6;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .yioxul .yitem .yinr {
	padding: 35px;
	color: #656565;
	font-size: 14px;
	font-family: 微软雅黑;
	line-height: 30px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .yioxul .yitem:hover {
	width: 352px;
	height: 255px;
	background: #003487;
	float: left;
	margin-right: 72px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .yioxul .yitem:hover .yptit {
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #fff;
	height: 66px;
	line-height: 66px;
	font-family: 微软雅黑;
	border-bottom: 1px solid #f5f5f6;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .yioxul .yitem:hover .yinr {
	padding: 35px;
	color: #fff;
	font-size: 14px;
	font-family: 微软雅黑;
	line-height: 30px;
}
#wrap .wisdom-nrbox .zhwrap .zhdjbox .zhbox .yioxbox .dtbox {
	width: 1112px;
	padding: 44px;
	line-height: 30px;
	font-size: 14px;
	float: left;
	font-family: 微软雅黑;
	color: #656565;
	background: #fff;
}
#wrap .zhfc {
	width: 100%;
	height: auto;
	float: left;
}
#wrap .zhfc .zhfc-tit {
	width: 100%;
	height: auto;
	margin-top: 78px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 32px;
	float: left;
}
#wrap .zhfc .zhfc-head {
	width: 1200px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin: 0 auto;
}
#wrap .zhfc .zhfc-head .zhfctab {
	font-size: 18px;
	font-family: 微软雅黑;
	color: #1f2531;
	display: inline-block;
	margin-right: 80px;
	margin-left: 80px;
}
#wrap .zhfc .zhfc-head .zhfctab a {
	color: #1f2531;
}
#wrap .zhfc .zhfc-head .zhfctab.cur {
	font-size: 18px;
	font-family: 微软雅黑;
	color: #ec9007;
	display: inline-block;
	margin-right: 80px;
	margin-left: 80px;
	border-bottom: 1px solid #ec9007;
}
#wrap .zhfc .zhfc-head .zhfctab.cur a {
	color: #ec9007;
}
#wrap .zhfc .zhfc-head .zhfctab:hover {
	font-size: 18px;
	font-family: 微软雅黑;
	color: #ec9007;
	display: inline-block;
	margin-right: 80px;
	margin-left: 80px;
	border-bottom: 1px solid #ec9007;
}
#wrap .zhfc .zhfc-head .zhfctab:hover a {
	color: #ec9007;
}
#wrap .zhfc .fcbox {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#wrap .zhfc .fcbox .fcitem {
	width: 1300px;
	float: left;
	margin-top: 110px;
	height: auto;
}
#wrap .zhfc .fcbox .fcitem .fcpro {
	width: 270px;
	height: 295px;
	float: left;
	margin-right: 162px;
}
#wrap .zhfc .fcbox .fcitem .fcpro .fcimg {
	width: 100%;
	float: left;
}
#wrap .zhfc .fcbox .fcitem .fcpro .fcimg img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
}
#wrap .zhfc .fcbox .fcitem .fcpro .fcname {
	width: 100%;
	font-size: 24px;
	font-family: 微软雅黑;
	color: #000;
	display: block;
	height: auto;
	float: left;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}
#wrap .zhfc .fcbox .fcitem .fcpro .fcontent {
	width: 100%;
	display: block;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #000;
	height: auto;
	float: left;
	text-align: center;
}
#wrap .zhfc .fcbox .fcitem .fcpro:hover {
	width: 270px;
	height: 295px;
	float: left;
	margin-right: 162px;
}
#wrap .zhfc .fcbox .fcitem .fcpro:hover .fcimg {
	width: 100%;
	float: left;
}
#wrap .zhfc .fcbox .fcitem .fcpro:hover .fcimg img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
}
#wrap .zhfc .fcbox .fcitem .fcpro:hover .fcname {
	width: 100%;
	font-size: 24px;
	font-family: 微软雅黑;
	color: #ec9007;
	display: block;
	margin-top: 30px;
	margin-bottom: 25px;
	height: auto;
	float: left;
	text-align: center;
}
#wrap .zhfc .fcbox .fcitem .fcpro:hover .fcontent {
	width: 100%;
	font-size: 14px;
	font-family: 微软雅黑;
	color: #ec9007;
	display: block;
	height: auto;
	text-align: center;
	float: left;
}
#wrap .solutebox {
	width: 100%;
	height: 340px;
	background: #F5F5F6;
	margin-bottom:100px;
	float: left;
}
#wrap .solutebox .solute-center {
	width: 1200px;
	margin: 0 auto;
	height: 340px;
}
#wrap .solutebox .solute-center .zsol {
	width: 600px;
	height: 100%;
	position: relative;
	float: left;
}
#wrap .solutebox .solute-center .zsol img {
	width: 100%;
	hegiht: 340px;
	position: absolute;
}
#wrap .solutebox .solute-center .zsol .mask {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9;
	background: url(../images/sy-jjfajh-hover.png) no-repeat center center;
	background-size: 100%;
}
#wrap .solutebox .solute-center .zsol .zstit {
	line-height: 340px;
	height: 340px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	float: left;
	display: block;
	position: absolute;
	text-align: center;
	z-index: 10;
	width: 100%;
}
#wrap .solutebox .solute-center .zsol:hover {
	width: 600px;
	height: 100%;
	position: relative;
	float: left;
}
#wrap .solutebox .solute-center .zsol:hover img {
	width: 100%;
	hegiht: 340px;
	position: absolute;
}
#wrap .solutebox .solute-center .zsol:hover .mask {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9;
	background: url(../images/sy-jjfajh-hover.png) no-repeat center center;
	background-size: 100%;
}
#wrap .solutebox .solute-center .zsol:hover .zstit {
	line-height: 340px;
	height: 340px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	float: left;
	display: block;
	position: absolute;
	text-align: center;
	z-index: 10;
	width: 100%;
}
#wrap .solutebox .solute-center .ysol {
	width: 600px;
	height: 100%;
	position: relative;
	float: left;
}
#wrap .solutebox .solute-center .ysol img {
	width: 100%;
	hegiht: 340px;
	position: absolute;
}
#wrap .solutebox .solute-center .ysol .mask {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9;
	background: url(../images/sy-jjfajh-hover.png) no-repeat center center;
	background-size: 100%;
}
#wrap .solutebox .solute-center .ysol .zstit {
	line-height: 340px;
	height: 340px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	z-index: 10;
	float: left;
	display: block;
	text-align: center;
	width: 100%;
}
#wrap .solutebox .solute-center .ysol:hover {
	width: 600px;
	height: 100%;
	position: relative;
	float: left;
}
#wrap .solutebox .solute-center .ysol:hover img {
	width: 100%;
	hegiht: 340px;
	position: absolute;
}
#wrap .solutebox .solute-center .ysol:hover .mask {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../images/sy-jjfajh-hover.png) no-repeat center center;
	background-size: 100%;
	z-index: 9;
}
#wrap .solutebox .solute-center .ysol:hover .zstit {
	line-height: 340px;
	height: 340px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	float: left;
	position: absolute;
	z-index: 10;
	display: block;
	text-align: center;
	width: 100%;
}
#wrap .activebox.hdyt {
	width: 100%;
	float: left;
	height: auto;
	padding-top: 55px;
	background:#f5f5f6;
}
#wrap .activebox .act-center {
	width: 1200px;
	margin: 0 auto;
}
#wrap .activebox .act-center .addplane{
	text-align:center;
	font-size:40px;
	font-family: 微软雅黑;
	margin-bottom:20px;
		color: #1f2531;
}
#wrap .activebox .act-center .act-tit {
	font-family: 微软雅黑;
	text-align: center;
	font-size: 32px;
	color: #1f2531;
	margin-bottom: 60px;
}
#wrap .activebox .act-center .abox {
	width: 100%;
	float: left;
	padding-bottom: 110px;
}
#wrap .activebox .act-center .abox .hbox {
	float: left;
	width: 240px;
	margin-right: 80px;
	border: none;
}
#wrap .activebox .act-center .abox .hbox .himg {
	width: 100%;
	display: block;
	float: left;
	border: 1px solid #f3f3f3;
	height: auto;
	padding: 20px 0;
}
#wrap .activebox .act-center .abox .hbox .himg img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
#wrap .activebox .act-center .abox .hbox .htit {
	width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
	color: #010101;
	font-size: 18px;
	font-family: 微软雅黑;
}
#wrap .activebox .act-center .abox .hbox .htit a {
	color: #010101;
	font-size: 18px;
	font-family: 微软雅黑;
}
#wrap .activebox .act-center .abox .hbox:hover {
	float: left;
	width: 237.5px;
	margin-right: 80px;
	border: 1px solid #f3f3f3;
}
#wrap .activebox .act-center .abox .hbox:hover .himg {
	width: 100%;
	display: block;
	float: left;
	height: auto;
	border: none;
	padding: 20px 0;
}
#wrap .activebox .act-center .abox .hbox:hover .himg img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
#wrap .activebox .act-center .abox .hbox:hover .htit {
	width: 100%;
	display: block;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
	color: #010101;
	font-size: 18px;
	font-family: 微软雅黑;
}
#wrap .activebox .act-center .abox .hbox:hover .htit a {
	color: #010101;
	font-size: 18px;
	font-family: 微软雅黑;
}
#wrap .yfmap {
	width: 100%;
	float: left;
	height: auto;
}
#wrap .yfmap .yf-center {
	width: 1200px;
	margin: 0 auto;
}
#wrap .yfmap .yf-center .yf-tit {
	width: 100%;
	float: left;
	height: auto;
	text-align: center;
	padding: 32px 0 64px 0;
	font-size: 32px;
	font-family: 微软雅黑;
}
#wrap .footer {
	width: 100%;
	height: 200px;
	float: left;
	background: #f5f5f6;
}
#wrap .footer .footer-center {
	width: 1200px;
	margin: 0 auto;
	margin-top: 66px;
}
#wrap .footer .footer-center .friendlink {
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
#wrap .footer .footer-center .friendlink a {
	font-size: 12px;
	font-family: 微软雅黑;
	color: #838383;
}
#wrap .footer .footer-center .copyright {
	font-size: 12px;
	font-family: 微软雅黑;
	text-align: center;
	color: #838383;
}
#wrap .footer .footer-center p {
	width: 100%;
	text-align: center;
	float: left;
	font-size: 12px;
	margin-top: 15px;
	font-family: 微软雅黑;
}
#wrap .footer .footer-center p a {
	font-size: 12px;
	font-family: 微软雅黑;
	color: #838383;
}

/*# sourceMappingURL=index.css.map */
