/*
Í·²¿Í¨ÓÃcss
¸üÐÂÊ±¼ä:2014-05-11
°æ±¾:css0.0.1
×÷Õß:ryanguo
*/
body{font-family:ËÎÌå,Î¢ÈíÑÅºÚ,Arial, Helvetica, sans-serif; font-size:12px; -webkit-text-size-adjust:none; background: #f6f6f6;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#333;}
/* Clear Fix */ 
.cl{zoom:1;}
.cl:after{content:"¡¡";display:block;clear:both;height:0;}

.hui,.hui a{color:#666; text-decoration:none;}
.hui a:hover{color:#00a55d; text-decoration:underline;}
.bai,.bai a{color:#fff; text-decoration:none;}
.bai a:hover{color:#fff; text-decoration:underline;}
.lv,.lv a{color:#498c00; text-decoration:none;}
.lv a:hover{color:#498c00; text-decoration:underline;}
.hong,.hong a{color:#ff4901; text-decoration:none;}
.hong a:hover{color:#00a55d; text-decoration:underline;}
.hei,.hei a{color:#333; text-decoration:none;}
.hei a:hover{color:#00a55d; text-decoration:underline;}

h1,h2,h3,p,.ft_wryh{font-family:"Î¢ÈíÑÅºÚ"; font-weight:normal;}

/* banner */

.banner_box{width:100%; height:750px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/banner_bg_01.jpg) top center no-repeat;}
.banner_box .banner{width:1000px; height:200px;}
.banner_box .banner h1,
.banner_box .banner p{position: absolute; top:-999px; left:-999px;}

.focus{width:1000px;height:500px;overflow:hidden; zoom: 1;position: relative; margin: 0 auto;}
.focus ul{width:1000px;height:500px;overflow:hidden;position:relative; }
.focus li{width:1000px;height:500px;float:left;position:relative;}
.focus li a{display:block;cursor:pointer;}
.focus .tit{width:1000px;position:absolute;left:0;bottom:35px;text-align:center;z-index:1;}
.focus .tit a{color:#fff;}
.focus .tit a:hover{text-decoration:none;}
.focus .bg{width:1000px;height:70px;position:absolute;left:0;;bottom:0;background:#000;opacity:0.7;filter:alpha(opacity=70);}
.focus .foucsTit{width:1000px;height:22px;left:0;position:absolute;bottom:3px;text-align:center;}
.focus .foucsTit span{display:inline-block;width:7px;height:7px;margin: 0 5px;line-height:0;font-size:0;background:url(//mat1.gtimg.com/sports/index2013/images/icons_v8.png) -160px -90px no-repeat;cursor:pointer;overflow:hidden;}
.focus .foucsTit span.on{background:url(//mat1.gtimg.com/sports/index2013/images/icons_v8.png) -170px -90px no-repeat;}
.focus .focusBtnL,
.focus .focusBtnR{width:40px;height:56px;padding:7px;margin-top:-70px;position:relative;z-index:1;}
.focus .focusBtnL{float:left;}
.focus .focusBtnR{float:right;}
.focus .focusBtnL img{float:right;}
.focus .focusBtnL img,
.focus .focusBtnR img{display:none;cursor:pointer;}
.focus .focusBtnL span,
.focus .focusBtnR span{display:inline;width:23px;height:45px;margin:7px 5px 0;cursor:pointer;overflow:hidden;background:url(//mat1.gtimg.com/sports/index2013/images/icons_v8.png) 0 0 no-repeat;}
.focus .focusBtnL span{float:left;background-position:0 -90px;}
.focus .focusBtnR span{float:right;background-position:-30px -90px;}
.focus .focusBtnLHover span{background-position:-60px -90px;}
.focus .focusBtnRHover span{background-position:-90px -90px;}
.focus .focusBtnLHover,
.focus .focusBtnRHover{width:146px;background:#408ED6;overflow:hidden;}
.focus .focusBtnLHover img,
.focus .focusBtnRHover img{display:inline;}

.baby_top_box{width:100%; height:534px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/baby_top_bg_01.jpg);}
.baby_top_box .baby_top{width:1000px; padding-top:66px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/baby_top_bg_02.jpg) top right no-repeat; margin: 0 auto;}
.baby_top_box .baby_top .baby_video{width:560px; float: left;}
.baby_top_box .baby_top .baby_tit{width:400px; float: right;}
.baby_top_box .baby_top .baby_tit .baby_news{padding-top:70px;}
.baby_top_box .baby_top .baby_tit .baby_news h1{font-size: 24px; line-height:40px;}
.baby_top_box .baby_top .baby_tit .baby_news p{font-size: 14px; line-height:26px;}
.baby_top_box .baby_top .baby_tit .baby_news .ico_v{padding-left:20px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/ico_v.jpg) 0 4px no-repeat;}
.baby_top_box .baby_top .baby_plist{width:400px; padding-top:24px; overflow: hidden;}
.baby_top_box .baby_top .baby_plist ul{width:420px;}
.baby_top_box .baby_top .baby_plist li{width:140px; float: left;}
.baby_top_box .baby_top .baby_plist .pti_box{display: block; width:120px; height:80px; position: relative;}
.baby_top_box .baby_top .baby_plist .pti_box b,
.baby_top_box .baby_top .baby_plist .pti_box em{display: block; height:28px; line-height:28px; position: absolute; bottom:0; left:0;}
.baby_top_box .baby_top .baby_plist .pti_box b{width:120px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/pic_sp_bg.png) no-repeat !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/2014girl16/images/pic_sp_bg.png', sizingMethod='scale');}
.baby_top_box .baby_top .baby_plist .pti_box em{padding-left:30px; width:90px;}

.ad_1k{width:1000px; height:95px; margin: 50px auto 0;}

.video_list{width:1000px; margin:44px auto 0;}
.video_list .hd{height:44px;}
.video_list .hd h2{float: left; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/ico_v_01.jpg) top left no-repeat; padding-left:60px; font-size: 30px; line-height:44px;}
.video_list .hd .fr{font-size: 14px; padding-top:20px;}
.video_list .hd .fr a{padding-left:25px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/ico_gd_01.jpg) 0 2px no-repeat; line-height:20px; font-family: "Î¢ÈíÑÅºÚ";}
.video_list .bd{width:1000px; overflow: hidden;}
.video_list .bd ul{width:1050px;}
.video_list .bd li{width:350px; padding-top: 26px; float: left;}
.video_list .bd .video_box{display: block; width:300px; height:225px; position: relative;}
.video_list .bd .video_box b,
.video_list .bd .video_box em{display:none; height:60px; line-height:60px; font: 16px/60px "Î¢ÈíÑÅºÚ"; position: absolute; bottom:0; left:0;}
.video_list .bd .video_box b{width:300px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/pic_sp_bg_02.png) no-repeat !important; background: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/2014girl16/images/pic_sp_bg_02.png', sizingMethod='scale');}
.video_list .bd .video_box em{padding-left:76px; width:224px;}
.video_list .bd a.video_box:hover b,
.video_list .bd a.video_box:hover em{display: block;}

.foot_box{width:100%; height:495px; padding-top:10px; background: url(//mat1.gtimg.com/2014/images/2014girl16/images/foot_box.jpg) top center no-repeat;}

.box1{ width:1000px; margin:58px auto 0px; overflow:hidden;}
.box1 .hd{ width:100%; height:35px; overflow:hidden}
.box1 .hd h2{ padding-left:54px; background:url(//mat1.gtimg.com/sports/2014girl/images/hdbg.jpg) no-repeat; font-size:30px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#498c00}
.box1 .hd .fr{ display:inline-block; line-height:40px; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal;  }
.box1 .hd .fr em{ display:inline-block; width:17px; height:17px; margin-right:5px; background:url(//mat1.gtimg.com/sports/2014girl/images/more.jpg) no-repeat scroll 0px 0px; transition:all 0.3s ease-in 0s; -moz-transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s; -o-transition:all 0.3s ease-in 0s}
.box1 .hd .fr:hover em{ -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg);}
.box1 .bd{ width:100%;}
.box1 .left{ float:left; width:480px;}
.box1 .left .bd,.box1 .right .bd{ width:480px; margin-top:20px; padding-bottom:25px; overflow:hidden; background:#fff}
.box1 .right{ float:right; width:480px;}
.hezuoUl{ width:480px; overflow:hidden}
.hezuoUl li{ display:inline; float:left; width:140px; height:45px; margin:25px 0px 0px 15px; overflow:hidden}
.box1 .left p{ margin:35px 0px 0px 15px;}
.muhouUl{ width:480px; overflow:hidden}
.muhouUl li{ display:inline; float:left; width:180px; height:70px; margin:25px 0px 0px 35px; overflow:hidden}
.muhouUl li .img{ float:left; position:relative; width:70px; height:70px;}
.muhouUl li .img .ball{ position:absolute; top:0px; left:0px; width:70px; height:70px; background:url(//mat1.gtimg.com/sports/2014girl/images/ball.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/sports/2014girl/images/ball.png', sizingMethod='crop');}
.muhouUl li .img .ball a{ display:block; width:70px; height:70px;}
.muhouUl li .img .ball img{ width:70px; height:70px;}
.muhouUl li dl{ float:right;width:90px;}
.muhouUl li dl dt{ margin:10px 0px 10px; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal;}
.muhouUl li dl dd{ text-align:left; margin:0px}

















/*  |xGv00|f94f6845378255391a534d33b809105a */