@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0; border:none;}
body{ min-width:1241px;}
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select{ margin:0; padding:0;}
body{ font-family:"微软雅黑"; background:#fff;}
em, i{ font-style:normal;}
h1,h2,h3,h4,h5,h6{ font-family:"微软雅黑"; font-size:14px; font-weight:normal;}
img{ border:none; vertical-align:middle;}
table{ border-collapse:collapse; border-spacing:0;}
p{ word-wrap:break-word;}
ul,li{ list-style:none; padding:0; margin:0;}
.fl{ float:left;}
.fr{ float:right;}
a{ text-decoration:none; color:#212121; font-family:"微软雅黑";}
a:hover{ color:#51abcf !important;}
.ft12{ font-size:12px;}
.ft16{ line-height:26px;}
.ft14{ font-size:14px; line-height:26px;}

.f18{ font-size:18px;}
.f16{ font-size:16px;}
.f14{ font-size:14px;}
.f20{ font-size:20px;}
.f22{ font-size:22px;}
.f28{ font-size:28px;}
.colorR{ color:#51abcf;}
i{ display:block; float:left;}

.clearfix:after{ content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix{ zoom:1;}
.hide{ display:none;}
.wrap{ width:1240px; margin:0 auto; background-color:#fff; overflow:hidden;}

.header{ width:1240px; height:34px; overflow:hidden; margin:0 auto; padding:15px 0; background-color:#fff;}
.logo{width:150px;margin:0;}
.logo .logo_img{width:140px; height:34px; overflow:hidden; display:block; background:url(//mat1.gtimg.com/fj/home/2016index/logo.gif) no-repeat left top; text-indent:-1000em;}
.jjNav{ background:#212121; margin:0 auto;}
.jjNav-list{ overflow:hidden; width:1240px; margin:0 auto;}
.jjNav .jjNav-list > li{ width:137px; height:50px; float:left; text-align:center;}
.jjNav .nav-last{ border:none;}
.jjNav .jjNav-list li a{ font-size:18px; color:#fff; line-height:47px; display:inline-block; padding:0 5px;}
.jjNav .jjNav-list li.bordli a{ font-size:18px; color:#fff; line-height:40px; display:inline-block; padding:0 5px;}
.jjNav .jjNav-list > li:hover div a,.jjNav .jjNav-list > li:hover > a{ text-decoration:none; color:#fff !important; border-bottom:3px solid #51abcf;}
.jjNav .jjNav-list > li em{ color:#51abcf; font-weight:bolder;}
.jjNav .nav-select{ position:relative;}
.jjNav .nav-select div{ position:relative; z-index:200; background-color:#212121;}
.jjNav .nav-select .select-bx{ position:absolute; top:0px; left:0; z-index:99; background-color:#212121; display:none;}
.jjNav .nav-select .select-bx li{ width:137px; text-align:left; overflow:hidden; border-right:none; border-bottom:1px solid #212121;}
.jjNav .nav-select .select-bx li a{ display:block; height:auto; font-size:14px; line-height:20px; padding:10px 15px;}
.jjNav .nav-select .select-bx li a:hover span{ color:#fff;}
.jjNav .nav-select .select-bx .tit{ margin-bottom:8px;}
.jjNav .nav-select .select-bx .tit strong{ padding-right:15px;}
.jjNav .nav-select .select-bx .tit span{ font-size:12px;}
.jjNav .select-bx li:hover{ background-color:#212121;}
.jjNav.fixed{ width:100%; position:fixed; top:0; left:0; z-index:999;}

.scriptC{ background:url(//mat1.gtimg.com/cd/pjq2015/2017/3/jiajugb/csssp.png) no-repeat;}

.wrap1{ height:450px; overflow:hidden;}
/*焦点图*/
.focus{width:745px;height:400px;position:relative;overflow:hidden; margin-top:40px; background-color:#fff;}
.focus .focus_con .item{ position:relative;}
.focus .focus_con img{width:745px;height:370px;}
.focus .pic-des{ width:720px; height:67px; padding:10px 0 0 25px; position:absolute; left:0; bottom:0; line-height:28px;color:#fff; background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.focus .pic-des h3{ font-size:22px;}
.focus .focus_dot{ width:330px; height:30px; margin:0 auto; *padding-top:10px;}
.focus .focus_dot a{ width:100px; height:4px; display:inline-block; margin-left:6px; background-color:#212121;}
.focus .focus_dot a:hover,.focus .focus_dot .current{text-decoration:none;background-color:#51abcf;}

.foc-r li img{ width:340px; height:280px;}
.foc-r li h4{ width:340px; overflow:hidden;}
.nactive{ border-top:4px solid #51abcf; border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf; padding:20px 45px 30px; margin:40px 0;}
.nactive{ padding:35px 44px 20px;}
.nactive li{ padding-bottom:10px;}
.nactive li h4{ font-size:18px; text-align:center; line-height:36px; height:36px;}

/*人气单品*/
.wrap2 .hd h3,.pptj .hd h3,.xbjx .hd h3{ color:#51abcf; font-size:24px; height:60px; line-height:60px;}
.wrap2 .bd{ background-color:#f5f5f5; border:1px #ccc solid; border-top:3px #51abcf solid; padding:15px; overflow:hidden;}
.wrap2 .bd .dpl{ width:413px; overflow:hidden;}
.wrap2 .bd .dpr{ width:795px; height:475px; overflow:hidden;}
.wrap2 .bd .dp{ float:left; display:inline; margin:0 0 15px 15px; background-color:#fff; text-align:center; overflow:hidden;}
.wrap2 .bd .dpl .dp{ margin:0; height:475px;}
.wrap2 .bd .dpl .dp img{ width:413px; height:360px;}
.wrap2 .bd .dp b{ width:70px; height:20px; display:block; margin:15px auto 0; background-color:#ee6641; font:normal 12px/20px "宋体"; color:#fff;}
.wrap2 .bd .dp h4{ height:46px; overflow:hidden; font:normal 16px/46px "Microsoft YaHei";}
.wrap2 .bd .dp span{ font-size:18px; color:#f60000;}
.wrap2 .bd .dpr .dp{ width:250px; height:230px;}
.wrap2 .bd .dpr .dp img{ width:250px; height:160px;}
.wrap2 .bd .dpr .dp b{ margin:5px auto 1px;}
.wrap2 .bd .dpr .dp h4,.wrap2 .bd .dpr .dp span{ height:20px; line-height:20px; font-size:14px;}

/*品牌推荐*/
.wrap3{ margin-top:30px;}
.pptj,.xbjx{ width:745px;}
.pptj .hd,.xbjx .hd{ width:100%; border-bottom:3px #51abcf solid;}
.scroll_A{ position:relative; padding-top:20px;}
.scroll_A .inner{ position:relative;width:745px;height:245px;overflow:hidden;}
.scroll_A .split{ width:225px; height:245px;float:left; padding-right:35px; position:relative;}
.scroll_A .split img{ width:225px;height:245px;}
.scroll_A .split p{ width:205px; position:absolute; left:0; bottom:0; height:30px; line-height:30px; overflow:hidden; text-align:center; padding:0 10px; background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); text-align:center; font-size:14px; color:#fff;}
.scroll_A .split a:hover p{ color:#51abcf;}
.scroll_A .btn{ width:32px; height:56px; position:absolute; top:50%;margin-top:-20px;cursor:pointer; background:url(//mat1.gtimg.com/fj/home/2017index/jjrz/btn.png) no-repeat left top;}
.scroll_A .prev{left:0;}
.scroll_A .next{right:0; background-position:right top;}

.pptj_r_pic{ border-left:5px #000 solid; padding-left:40px; margin-top:60px; position:relative;}
.pptj_r_pic img{ width:385px; height:268px;}
.pptj_r_pic p{ width:365px; height:42px; line-height:42px; position:absolute; right:0; bottom:0; padding:0 10px; background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); text-align:center; font-size:16px; color:#fff;}
.pptj_r_pic a:hover p{ color:#51abcf;}

/*小编精选*/
.wrap4{ margin-top:30px;}


/*购物列表*/
.shop-items .item{ padding:22px 0; border-bottom:1px solid #eaeaea;}
.item .item-hd{ width:200px; height:150px; overflow:hidden; margin-right:20px;}
.item .item-hd img:hover{ opacity:.9;}
.item .item-bd{ padding-right:20px;}
.item .item-bd .item-cap{ color:#7c7c7c; margin:10px 0 18px 0; height:52px; overflow:hidden; text-overflow:ellipsis;}
.item .item-bd .item-ifo .item-share,.onlyimg .item-share{ position:relative; background-position:-94px -68px; height:19px; width:21px; border:2px solid transparent;}
.item .item-bd .item-ifo .item-tags, .onlyimg .item-ifo .item-tags{ background-position:-194px -117px; padding-left:25px;}
.item .item-bd .item-ifo .item-tags > a, .onlyimg .item-tags > a{ color:#c8c8c8; font-size:12px;}
.onlyimg{ list-style:none; padding-right:20px!important;}
.onlyimg .item-tit{ margin:0px 0 16px 0;}
.onlyimg a.artit{ width:100%!important; margin-top:0; line-height:1rem; line-height:14px; margin-bottom:1.5rem; margin-bottom:22px;}
.items-1 .onlyimg{ display:none;}
.oimgS{ overflow:hidden; margin-bottom:16px;}

/*软装设计师*/
.rz_des{ width:348px; margin-top:60px; border:1px #ccc solid; border-top:3px #51abcf solid; padding:0 44px 40px;}
.rz_des .hd{ width:100%; position:relative; height:50px;}
.rz_des .hd h3{ width:170px; height:40px; background-color:#fff; margin:0 auto; font-size:28px; line-height:40px; margin-top:-23px; text-align:center;}
.icon1{ display:block; position:absolute; background-position:-913px 0px; width:92px; height:57px; right:-40px; top:15px; *top:-5px; z-index:5;}
.rz_des .bd{ margin-top:15px;}
.xbjx_r{ width:438px; overflow:hidden;}
.xbjx_r .nactive{ padding-bottom:35px;}
.xbjx_r .nactive p,.rz_des .bd p{ text-align:center; display:block; font-size:18px; height:36px; line-height:36px;}

/*热文榜*/
.rwb{ width:330px; height:280px; background:url(//mat1.gtimg.com/fj/home/2017index/rmhd_bg.jpg) no-repeat center center;background-size: 100% 100%;padding:85px 50px 30px; background:url(//mat1.gtimg.com/fj/home/2017index/jjrz/rwb_bg.gif) no-repeat center top; margin-bottom:35px;}
.rwb li{ line-height:52px; height:52px; overflow:hidden; padding-left:35px;}

/*微信*/
.wechat{ border-left:5px #000 solid; padding-left:40px; margin-top:60px; overflow:hidden;}
.wechat p{ background:url(//mat1.gtimg.com/fj/home/2017index/jjrz/wechat.gif) no-repeat left center; font-size:18px; line-height:28px; height:28px; overflow:hidden; padding:4px 0 4px 50px;}
.wechat h4{ height:58px; line-height:58px; overflow:hidden; font-size:20px; border-bottom:1px #51abce solid;}
.wechat span{ height:45px; line-height:44px; overflow:hidden; display:block; font-size:14px; color:#999;}

/*底部*/
.footer{ background-color:#353535; overflow:hidden; margin-top:50px;}
.footer .layout{ width:1000px; overflow:hidden; margin:0 auto; color:#fff; padding:50px 0;}
.footgghz{ padding-left:8px; color:#51abcf;}
.footer p{ line-height:24px; margin:10px;}
.footer p>span{ margin-right:15px;}

/*分享*/
.share-bx{ position:absolute; top:20px; left:-35px; width:75px; height:20px;}
.share-bx a{ float:left; display:inline-block; width:20px; height:20px; margin-right:5px; background:url(//mat1.gtimg.com/cd/2016/shop/images/icon.png) no-repeat;}
.share-bx a:hover{ opacity:0.8;}
.share-bx .sina{ background-position:0 0;}
.share-bx .qzone{ background-position:0 -21px;}
.share-bx .weixin{ background-position:0 -43px;}
.weixinWrap{ position:absolute; z-index:8888; top:-125px; right:0px; width:259px; height:85px; background:#fff; padding:10px; border:1px solid #c8c8c8; color:#212121; font-size:14px;}
.weixinWrap .pic{ width:85px; height:85px; overflow:hidden; margin-right:15px;}
.weixinWrap .pic img{ width:100%;}
/*base64 图片地址可以减少页面请求，但是会增加页面大小，两者取重点--减少页面请求*/
.weixinWrap .icon{ background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABzSURBVChTlZBLDoAgDER7XmLc4cqEo7jiLPRW2oFhoVCjLzHAfAARVT1LKbv8AHn0UE6Y2LfRewU55lMXIoWlCg7wmYuUGq5BoNOfH2BGv9LtFzx9wAL1BHuUFWuMLE5vNGCFwMLBjQKtb1ghs5gpPRC5AGT7fgvP/5JRAAAAAElFTkSuQmCC) no-repeat;}
.weixinWrap .tria{ position:absolute; right:20px; bottom:-8px; width:15px; height:8px; background-color:#fff; background-position:0 0;}
.backToTop{ display:none; width:54px; height:54px; border-radius:50%; background:url(//mat1.gtimg.com/fj/home/2017index/jjrz/back_top.png) no-repeat; position:fixed; _position:absolute; z-index:6; bottom:80px; _bottom:"auto"; cursor:pointer; filter:alpha(opacity=60); left:50%; margin-left:590px ;}
.backToTop:hover{ opacity:.6;}
.bx-wrapper .bx-loading{ background:none;}/*  |xGv00|4d148a1169641ffa61603b21172cc6ec */