@charset "gb2312";
/* CSS Document */

*{ margin:0; padding:0; border:none;}
ul,li{ list-style:none; overflow:hidden;}
a{ text-decoration:none; color:#cfa972;}
a:hover{ text-decoration:underline;}
.fl{ float:left; display:inline;}

body{ font:normal 14px/22px "Microsoft YaHei"; color:#18191b; background-color:#121314; padding-bottom:120px;}
.wrap{ width:100%; overflow:hidden;}
.w1000{ width:1000px; margin:0 auto; overflow:hidden;}
.w1{ height:500px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/w1_bg.jpg) no-repeat center top; background-size:auto 100%;}
.w2{ height:500px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/w2_bg.jpg) no-repeat center top; background-size:auto 100%;}
.w3{ background-color:#121314;}

.tabs{ padding-bottom:60px;}
.tab_hd{ width:1200px; height:173px;}
.tabs .tab_hd_item{ width:134px; height:173px; padding-right:39px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/tab_hd_bg.gif) no-repeat left top; float:left; display:inline; line-height:134px; text-align:center; font-size:24px;}
.tab_bd{ border-top:1px #fff solid;}
.tabs .tab_bd,.tabs .tab_hd .current{ background-position:left bottom; cursor:pointer; color:#fff;}
.tabs .tab_bd_item{ line-height:26px; padding:15px 5px; min-height:52px; overflow:hidden;}

.w4{ height:573px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/w4_bg.jpg) no-repeat center top; background-size:auto 100%;}
.w4 ul{ width:908px; padding:205px 46px 0;}
.w4 li{ width:191px; margin:0 18px; float:left; display:inline;}
.w4 li b{ width:191px; height:102px; overflow:hidden; display:block;}
.w4 li b.t1{ background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/t1.png) no-repeat center bottom;}
.w4 li b.t2{ background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/t2.png) no-repeat center bottom;}
.w4 li b.t3{ background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/t3.png) no-repeat center bottom;}
.w4 li b.t4{ background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/t4.png) no-repeat center bottom;}
.w4 li p{ height:170px; background-color:#cfa972; display:block; padding:0 18px;}
.w4 li p span{ font:bold 20px/60px "Microsoft YaHei"; text-align:center; display:block;}

.w5{ height:670px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/w5_bg.jpg) no-repeat center top #121314; background-size:auto 100%;}

.w6{ height:643px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/w6_bg.jpg) no-repeat center top; background-size:auto 100%;}
.w6 ul{ width:1200px; padding-top:145px;}
.w6 ul li{ width:238px; height:215px; float:left; display:inline; padding-right:16px; text-align:center;}
.w6 ul li h4{ font:normal 18px/30px "Microsoft YaHei";}

.w7{ height:418px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/w7_bg.jpg) no-repeat center top; background-size:auto 100%;}
.w7 ul{ padding-top:213px;}
.w7 li{ width:94px; height:94px; background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/w7_li_bg.png) no-repeat center top;position:relative; float:left; display:inline; padding:0 15px;}
.w7 li h5{ position:absolute; width:90px; height:44px; font-size:18px; line-height:22px; text-align:center; top:50%; margin-top:-22px;}
.w7 li h5.line3{ height:66px; margin-top:-33px;}

.w8{ background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/fix_bg_02.png) repeat; height:100px; line-height:54px; padding:20px 0; position:fixed; left:0; bottom:0; position:fixed; left:0; bottom:0;}
.join{ display:block; overflow:hidden;}
.join .control-group{ padding-left:50px;}
.join .control-label{ font-size:30px;}
.join .input-xxlarge{ height:42px; width:180px; padding:0 10px; margin:6px 15px;}
.join .btn{ background:url(http://mat1.gtimg.com/fj/zt2019/0428bkj/btn.png) no-repeat center top; width:203px; height:53px; margin-left:15px; cursor:pointer;}
.w8 p{ height:40px; line-height:20px; padding:10px 0;}/*  |xGv00|8e96e8ef1e4e8a52a3b7c56322be3c07 */