@charset "utf-8";
/* CSS Document */

*{ font-family:'微软雅黑'}
.main_four{
	width:100%;
	height:100%;
	float:left;
	
	padding-bottom:30px;
	
}
.img{ border:0px;}

.main_hyb{ width:960px; height:60px; background:url(//mat1.gtimg.com/cq/000/2014newwedding/1/hyb.jpg); float:left; position:relative; }

.main_hyb_right{width:300px;height:60px; float:right; font-size:14px; color:#FFFFFF; }

.hyb_line{ width:122px; height:60px; line-height:60px; float:left}

.main_hyb_qq{ width:74px; height:30px; float:left; padding-top:20px;}

.hunyibao{ width:960px; float:left;position:relative;}

/*==============焦点图================*/
#main_promo{
	height:360px;
	width:960px;
	top:0;
	overflow:hidden;
	z-index:0;
	float: left;
	
}
.promoWD{
	width:960px;
	
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}
.slide{display:block; float:left;  width:960px;}
#dots{height:13px; position:absolute; bottom:13px; left:429px; z-index:99;}
#dots li{ width:23px; height:13px; float:left; }
#dots li a{ width:10px; display:block; height:10px; background-color:#7f0705; border:1px solid #FFFFFF;}
#dots li.act a{background-color:#000000;}
/*==============焦点图 end================*/


/*==============婚易宝列表 end================*/


.hyb_list{ width:240px;position: absolute;left: 10px;top:5px;float: left;}
.hyb_list1{width:100px;position: absolute;left: 850px;top:5px;float: left; border:solid 1px #999999;}

.tjskl-sidebar{
	width:237px;
	float: left;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
.tjskl-sidebar #submain_hidden{border-top:0;display:none;}
.tjskl-sidebar .bsb{border-bottom:1px solid #c8d2e5;border-top:0;}
/* tj_submain */
.tj_submain{
	border:1px solid #c8d2e5;
	border-bottom:0;
	width:235px;
	font-weight:normal;
}
.tj_submain .title{

	height:50px;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
	width:235px;
	background-color: #FFFFFF;
	text-align: center;
}

.tj_img{width:33px; height:35px; float:left; margin-top:5px; margin-left:20px; margin-left:20px;}

.tj_text{width:100px; height:50px; float:left; margin-left:10px; text-align:center; line-height:50px;}

.tj_text a{ color:#000000; text-decoration:none;}

.tj_text a:hover{ color: #FF0000; text-decoration:none;}

.tj_img2{width:21px; height:50px; float:right;}

.tj_submain li{

	width:235px;
	height:50px;
	position:relative;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #efefef;
	background-color: #FFFFFF;
}

.tj_submain ul li{ float:left;margin-right:10px;display:inline;}



.tj_submain span{position:absolute;top:-100px;left:237px;z-index:999;display:none;width:460px;   }

.tj_bus{width:100%; float:left; background-color:#f2f1f1; background-repeat:repeat; height:450px;}

.tj_bus_1{width:100%; float:left; background-color:#f2f1f1; background-repeat:repeat; height:300px;}


.tj_bussiness{ width:100%; float:left; padding-bottom:20px; height:200px;}

.tx_1{
	width:400px;
	float:left;
	line-height:25px;
	font-size:14px;
	color:#FF0000;
	padding:5px 5px 5px 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #990000;
}


.tx_2{
	width:400px;
	float:left;
	line-height:25px;
	font-size:14px;
	color:#FF0000;
	padding:5px 5px 5px 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #990000;
	padding-top:30px;
}




.tj_bussiness dl{ width:100%; float:left; }

.tj_bussiness dl dt{ width:120px; height:80px; float:left; margin-left:15px; margin-bottom:10px; }

.tj_text_imgas{width:120px; height:50px; float:left; margin-top:5px;}

.tj_text_txts{ width:120px; float:left;  font-size:14px; text-align:center; margin-top:10px; margin-bottom:20px; }

.tj_text_txts label{  color:#000000;  font-size:14px; width:120px; float:left;  }

.tj_text_txts label a{ color:#000000; text-decoration:none; }

.tj_text_txts  label a:hover{ color: #FF0000; text-decoration:none; }

.tj_bussiness_text{ width:400px; float:left; padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px;}





.tj_bussiness_text em{ font-size:14px; color:#000000; line-height:25px; font-style:normal; float:left; } 

.tj_bussiness_text em a{ color:#000000; text-decoration:none; width:120px; margin-left:10px; float:left;}

.tj_bussiness_text em a:hover{ color:#FF0000; text-decoration:none;}



.tj_bussiness_texts{ width:400px; float:left; padding-top:10px; padding-left:10px; padding-right:10px; padding-bottom:10px;}


.tj_bussiness_texts em{ font-size:14px; color:#000000; line-height:25px; font-style:normal; float:left; } 

.tj_bussiness_texts em a{ color:#000000; text-decoration:none; width:120px; margin-left:10px; float:left;}

.tj_bussiness_texts em a:hover{ color:#FF0000; text-decoration:none;}






.tj_bus_mark{ width:100%; float:left; font-size:16px; text-align:center; color:#FF0000; padding-top:10px; line-height:25px;}/*  |xGv00|e5adbf7b5e8e98b86d9bfb1c605b532c */