@charset "gb2312";
/* CSS Document */
html,
body{ overflow-x:hidden;}
.header{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/header01.jpg) center top no-repeat #333a43; height:1044px; overflow:hidden; width:100%;}
.title{ height:46px; line-height:50px; margin:0 auto; position:relative; width:1000px; z-index:9;}
.title h2{ color:#fff; font-size:24px; padding:0 50px;}
/*focus*/
.focusWp{ height:432px; position:relative; width:100%;}
.focus_A{ width:1000px; height:432px; position:relative; margin:0 auto 0; overflow:hidden;}
.focus_A .focus_con{ height:432px; overflow:hidden;}
.focus_A .focus_con .item{ padding-top:19px; width:1000px !important;}
.focus_A .focus_con .itembox{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/focus_box.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/focus_box.png',sizingMethod=''); overflow:hidden; padding:0px 46px 0 79px; position:relative; width:875px;}
.focus_A .focus_con .item .pic{ float:left; width:612px;}
.focus_A .focus_con .item img{ height:343px; width:612px;}
.focus_A .focus_con .info{ float:right; height:320px; padding-top:23px; position:relative; width:236px;}
.focus_A .focus_con .info h3{ font-size:22px; line-height:30px;}
.focus_A .focus_con .info h3 a{ color:#fff;}
.focus_A .focus_con .info p{ color:#999; font-size:14px; line-height:28px; margin-top:15px; width:185px;}
.focus_A .focus_con .info .link{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/bgs.png) 75px -60px no-repeat; color:#4ab96d; display:inline-block; padding-right:22px; position:absolute; right:50px; bottom:20px; z-index:99;}
.focus_A .focus_con .info .link:hover{ color:#4ab96d;}
.focus_A .focus_dot{position:absolute;left:450px;bottom:30px;}
.focus_A .focus_dot a{display:inline-block;width:20px;height:20px;line-height:20px;margin-right:5px;text-align:center; position:relative;}
.focus_A .focus_dot a em{display:inline-block;width:12px;height:12px;line-height:12px;overflow:hidden;background:#fff;}
.focus_A .focus_dot a span{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/subbox.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/subbox.png',sizingMethod=''); display:none;width:103px;height:57px;line-height:20px; color:#FFF; padding:1px 1px 7px; position:absolute; left:-42px; top:-65px;}
.focus_A .focus_dot a span i{ display:inline-block; font-style:normal; position:absolute; left:0; bottom:7px;}
.focus_A .focus_dot a:hover{text-decoration:none;}
.focus_A .focus_dot a:hover em,
.focus_A .focus_dot .current em{text-decoration:none;background:#82b548;}
.focus_A .focus_dot a:hover span,
.focus_A .focus_dot .current span{ display:inline-block;}
.float{ position:absolute;}
.ball{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/ball.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/ball.png',sizingMethod=''); height:75px; margin-left:-620px; left:50%; top:70px; width:75px;}
.peo1{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/peo1.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/peo1.png',sizingMethod=''); left:50%; top:160px; margin-left:-900px; height:124px; width:178px;}
.peo2{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/peo2.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/peo2.png',sizingMethod=''); right:50%; top:130px; margin-right:-770px; height:118px; width:134px;}
.float1{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/float1.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/float1.png',sizingMethod=''); left:50%; top:-46px; margin-left:-930px; height:100px; width:120px;}
.float2{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/float2.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/float2.png',sizingMethod=''); left:50%; top:0px; margin-left:-720px; height:48px; width:58px;}
.float3{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/float3.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/float3.png',sizingMethod=''); right:50%; top:-46px; margin-right:320px; height:40px; width:136px;}
.float4{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/float4.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/float4.png',sizingMethod=''); right:50%; top:-46px; margin-right:-780px; height:84px; width:92px;}
.float5{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/float5.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/float5.png',sizingMethod=''); right:50%; top:240px; margin-right:-680px; height:68px; width:85px;}

/*program*/
.program{ margin-top:22px;}
.program .hd{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/hd1.png) no-repeat; height:38px; line-height:38px;}
.program .hd h2{ color:#fff; font-size:24px; padding-left:56px;}
.program .bd{ padding-top:40px;}

.program_hd{ float:left; width:160px;}
.program_hd li{ color:#fff; height:10px; line-height:10px;}

.program_bd{ float:right; width:835px;}
.program_bd_item{ display:none;}
.program_bd .qdBox{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/qidai.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/qidai.png',sizingMethod=''); height:60px; margin:0 auto; padding-top:210px; width:490px;}
.program_bd .qdBox h3{ color:#fff; font-size:24px; line-height:52px; text-align:center;}
.program_bd_item li{ float:left; margin-bottom:30px; padding-left:17px; position:relative; vertical-align:middle; width:150px;}
.program_bd_item li .ico-dy{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/dy.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/dy.png',sizingMethod=''); display:block; height:33px; position:absolute; right:0; top:0; width:33px;}
.program_bd_item li .ico-dy:hover,.program_bd_item li .dy-on{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/dy2.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/dy2.png',sizingMethod='');}
.program_bd_item li i{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/playIcon.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/playIcon.png',sizingMethod=''); display:block; height:26px; line-height:26px; position:absolute; left:17px; top:59px; width:26px;}
.program_bd_item li p{ background:#fff; font-size:14px; height:60px; line-height:20px; padding:5px 5px 30px;}
.program_bd_item li .time{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/time.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/time.png',sizingMethod=''); color:#fff; font-size:18px; height:24px; line-height:24px; padding-top:6px; position:absolute; left:9px; bottom:0; text-align:center; width:69px;}
.program_bd_item li .hotTag{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/hot.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/hot.png',sizingMethod=''); color:#fff; font-size:14px; height:24px; line-height:24px; position:absolute; left:73px; bottom:-4px; text-align:center; width:54px;}
.month{ height:42px; width:160px;}
.month span{ border:1px solid #4ab96d;cursor:pointer; color:#fff; font-size:18px; float:left; height:40px; line-height:40px; text-align:center; width:78px;}
.month .current{ background:#4ab96d;}
.tabsnav{ float:left; height:375px; margin-top:10px; position:relative; width:160px;}
.tabsnav .list{ position:absolute; left:0; top:0; width:160px;}
.tabsnav ul{}
.tabsnav .tab1{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/mark.png) center top repeat-y; padding-top:45px;}
.tabsnav .tab2{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/mark2.png) center top repeat-y;/* height:195px;*/ padding-top:1px;}
.tabsnav li{ color:#4ab96d; cursor:pointer; font-size:0px; list-style:none; height:15px; line-height:14px; padding-left:30px; position:relative; vertical-align:middle; width:100px; z-index:5;}
.tabsnav li em{ font-size:12px; position:relative; left:-9999em; top:7px; *top:3px;}
.tabsnav .m{ text-indent:0;}
.tabsnav .m em{ left:0;}
.tabs .ceng{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/pointer.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/pointer.png',sizingMethod=''); color:#fff; font-size:14px; padding-left:25px; width:51px; height:32px; line-height:32px; z-index:23; position:absolute; left:77px; margin-top:-1px; top:60px;}
.con{ float:right;}
.con .box{ display:none;}
/*content*/
.content .layout{ margin-top:30px;}
.content .layout .hd{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/hd.png) no-repeat; height:38px; line-height:38px;}
.content .layout .hd h2{ color:#fff; font-size:24px; padding-left:56px;}
.content .layout .hd .more{ float:right; padding:0 10px;}
/*picList*/
.picList{ border-bottom:1px solid #f2f2f2; overflow:hidden; padding:30px 0 20px; width:1000px;}
.picList ul{ overflow:hidden; width:1045px;}
.picList li{ float:left; height:186px; margin:0 45px 20px 0; width:215px;}
.picList li .pic{ display:block; height:120px; position:relative; width:215px;}
.picList li .pic i{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/playIcon.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/shipinjiemushouye/playIcon.png',sizingMethod=''); display:block; height:26px; line-height:26px; position:absolute; left:0; bottom:0; width:26px;}
.picList li p{ height:40px; margin-top:6px;}
.picListMoreBtn{ height:20px; margin:0 auto; width:110px;}
.picListMoreBtn em{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/bgs.png) no-repeat; display:block; height:20px; text-indent:-999em; width:110px;}
.picListMoreBtn .off{ background-position:0 -30px;}
.picListMore{ display:none;}
/*footer*/
.footer{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/footer.jpg) center top no-repeat; height:150px; margin-top:35px; padding-top:20px;}
.tcopyright{ color:#ababab !important; line-height:32px !important;}
.tcopyright a{ color:#ababab !important;}
/*gotoup*/
.gotoup{width:58px;height:58px;position:fixed; background:url(//mat1.gtimg.com/2014/index/img/icons.png) 0 -140px no-repeat;bottom:80px;left:50%;margin-left:520px;cursor:pointer;display:none;}
.gotoup:hover{background-position:-60px -140px;}
}
/*  |xGv00|ff6c7b35ad61340db033cd8e60a6cfdf */