/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#3498db!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff }
.picHd { width:1000px; height:64px; margin:10px auto 0px; overflow:hidden; background:url(//mat1.gtimg.com/2014/images/photoimg/picHd.png) no-repeat }
.picHd h1, .picHd h2 { display:none }
/*focus*/
#focus { position:relative; width:100%; margin:30px auto 0px; overflow:hidden; }
.focus { width:1000px; height:550px; position:relative; margin:0px auto; zoom: 1; z-index:11; }
#focus2 ul { width:999999px; height:550px; overflow:hidden; position:absolute; left:0px; margin-left:-1000px; z-index:97 }
.focus li { width:1000px; height:550px; float:left; position:relative; z-index:12 }
#focus2 li h2, #focus2 li .bg { display:none }
#focus2 li.on h2, #focus2 li.on .bg { display:block }
.focus li h2 { position:absolute; left:0px; bottom:35px; width:1000px; line-height:50px; text-align:center; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; z-index:10 }
.focus li h2 a { color:#fff; }
.focus li h2 a:hover { color:#fff!important; text-decoration:none; }
.focus li .playL { display:none; position:absolute; left:18px; top:290px; width:67px; height:67px; background:url(//mat1.gtimg.com/2014/images/photoimg/play2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/play2.png', sizingMethod='crop');
z-index:10 }
.focus li .playR { display:none; position:absolute; right:18px; top:290px; width:67px; height:67px; background:url(//mat1.gtimg.com/2014/images/photoimg/play2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/play2.png', sizingMethod='crop');
z-index:10 }
.focus .bg { position:absolute; left:0px; bottom:0px; width:1000px; height:90px; background:#000; opacity:0.5; filter:alpha(opacity=50); z-index:9 }
.focus .zhezhao { position:absolute; left:0px; bottom:0px; width:1000px; height:550px; background:#000; opacity:0.5; filter:alpha(opacity=50); z-index:9 }
#focus2 li.on .zhezhao { display:none }
.foucsTit { width:1000px; height:22px; left:0; position:absolute; bottom:13px; text-align:center; z-index:99 }
.foucsTit span { display:inline-block; width:12px; height:11px; margin: 0 5px; line-height:0; font-size:0; background:url(//mat1.gtimg.com/2014/images/photoimg/tit.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tit.png', sizingMethod='crop');
cursor:pointer; overflow:hidden; }
.foucsTit span.on { background:url(//mat1.gtimg.com/2014/images/photoimg/titOn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/titOn.png', sizingMethod='crop');
}
.focusBtnL, .focusBtnR { position:absolute; width:79px; height:151px; top:200px; cursor:pointer; z-index:98 }
.focusBtnL { left:0px; background:url(//mat1.gtimg.com/2014/images/photoimg/left.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/left.png', sizingMethod='crop');
transition: left 0.5s; -moz-transition: left 0.5s; -webkit-transition:left 0.5s; -o-transition: left 0.5s; }
.focusBtnR { right:0px; background:url(//mat1.gtimg.com/2014/images/photoimg/right.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/right.png', sizingMethod='crop');
transition: right 0.5s; -moz-transition: right 0.5s; -webkit-transition:right 0.5s; -o-transition: right 0.5s; }
.focusBtnLHover { left:-5px; background:url(//mat1.gtimg.com/2014/images/photoimg/leftOn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/leftOn.png', sizingMethod='crop');
transition: left 0.5s; -moz-transition: left 0.5s; -webkit-transition:left 0.5s; -o-transition: left 0.5s; }
.focusBtnRHover { right:-5px; background:url(//mat1.gtimg.com/2014/images/photoimg/rightOn.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/rightOn.png', sizingMethod='crop');
transition: right 0.5s; -moz-transition: right 0.5s; -webkit-transition:right 0.5s; -o-transition: right 0.5s; }
.focusBtnL2 { position:absolute; top:0px; height:550px; background:url(ablank) no-repeat; cursor:pointer; z-index:99 }
.focusBtnR2 { position:absolute; top:0px; height:550px; background:url(ablank) no-repeat; cursor:pointer; z-index:99 }
/*box1*/
.box1 { width:1000px; margin:53px auto 0px; overflow:hidden }
.box1 .hd { width:1000px; height:34px; }
.box1 .hd h2 { float:left; display:inline-block; width:130px; margin-top:-7px; font-size:26px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#232423 }
.box1 .hd .line { position:relative; float:left; width:870px; height:33px; border-top:1px solid #d8d8d8 }
.box1 .hd .line .fr { display:block; float:right; width:28px; height:34px; background:url(//mat1.gtimg.com/2014/images/photoimg/fr.png) no-repeat; cursor:pointer }
.box1 .hd .line .more { display:none; position:absolute; top:0px; right:0px; width:79px; height:29px; line-height:24px; overflow:hidden; text-align:center; background:url(//mat1.gtimg.com/2014/images/photoimg/more.png) no-repeat; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; cursor:pointer }
.box1 .hd .line .more a, .box1 .hd .line .more a:hover { color:#fff!important; text-decoration:none }
.box1 .bd { width:1000px }
/*hotBox*/
.hotBox { position:relative; width:1000px; height:494px; margin:25px auto 0px; overflow:hidden }
.hotBox ul { width:1000px; height:494px; }
.hotBox ul li { display:inline; float:left; position:relative; width:245px; height:160px; margin:0px 2px 4px; overflow:hidden }
.hotBox ul li .txt { position:absolute; bottom:-30px; left:0px; width:100%; height:30px; line-height:30px; text-align:center; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; z-index:10; background:rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#99000000, endColorstr=#99000000);
}
.hotBox ul li .txt a, .hotBox ul li .txt a:hover { color:#fff!important; text-decoration:none }
.hotBox ul li:hover .txt { bottom:0px; transition: bottom 0.5s; -moz-transition: bottom 0.5s; -webkit-transition:bottom 0.5s; -o-transition: bottom 0.5s; }
.fresh { position:absolute; right:0px; bottom:6px; width:245px; height:160px; background:url(//mat1.gtimg.com/2014/images/photoimg/fresh.png) no-repeat; cursor:pointer }
.fresh span { display:block; text-align:center; margin:60px auto 0px; font-size:20px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#07923d }
.fresh span em { display:inline-block; width:28px; height:22px; margin-right:5px; background:url(//mat1.gtimg.com/2014/images/photoimg/zhuan.png) no-repeat; vertical-align:middle; transition: all 0.5s; -moz-transition: all 0.5s; -webkit-transition:all 0.5s; -o-transition:all 0.5s; }
.fresh:hover em { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }
.oneUl { position:absolute; left:0px; top:0px }
.twoUl { position:absolute; left:1000px; top:0px }
.rollOut { -webkit-animation:rotateOut 1s .2s ease both;
-moz-animation:rotateOut 1s .2s ease both;
}
@-webkit-keyframes rotateOut { 0% {
-webkit-transform:rotate(0);
opacity:1
}
100% {
-webkit-transform:rotate(-90deg);
opacity:0
}
}
@-moz-keyframes rotateOut { 0% {
-moz-transform:rotate(0);
opacity:1
}
100% {
-moz-transform:rotate(-90deg);
opacity:0
}
}
.rollIn { -webkit-animation:rotateOut 1s .2s ease both;
-moz-animation:rotateOut 1s .2s ease both;
}
@-webkit-keyframes rotateOut { 0% {
-webkit-transform:rotate(-90deg);
opacity:0
}
100% {
-webkit-transform:rotate(0);
opacity:1
}
}
@-moz-keyframes rotateOut { 0% {
-moz-transform:rotate(-90deg);
opacity:0
}
100% {
-moz-transform:rotate(0);
opacity:1
}
}
/*tuku*/
#tuku .tab_hd { width:1000px; height:50px; border-bottom:3px solid #07923d; line-height:50px; margin:10px auto 0px; overflow:hidden }
#tuku .tab_hd li { float:left; width:125px; text-align:center; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#07923d; cursor:pointer }
#tuku .tab_hd li em { font-size:25px; font-family:Arial, Helvetica, sans-serif; font-weight:bold }
#tuku .tab_hd li.current { background:url(//mat1.gtimg.com/2014/images/photoimg/iconSj.png) no-repeat center 39px }
.countryUl { width:1000px; height:50px; }
.countryUl li { float:left; width:250px; height:50px; line-height:50px; text-align:center; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#363636; background:#e5f7ee }
.countryUl li.q { background:#f2fbf7 }
.countryUl li em { display:inline-block; width:20px; height:15px; vertical-align:middle; margin-right:5px }
.countryUl li span { margin-left:5px; color:#07923d }
/*video*/
.videoBox { width:1000px; margin:15px auto 0px; overflow:hidden; background:#383838 }
.titLt .vList { color: #FFFFFF; display: inline; float: right; overflow: hidden; width:342px;  }
.titLt .vList a { color: #fff; }
.titLt .bntall { background: none repeat scroll 0 0 #222222; display: inline; float: right; height: 428px; margin: 1px 10px 0 0; width: 14px; }
.liveList { }
.liveList li { background: url("//mat1.gtimg.com/v/dpjdnew/bg_wzsp.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); color: #FFFFFF; cursor: pointer; display: none; font-family: "Î¢ÈíÑÅºÚ"; font-size: 14px; line-height: 24px; overflow: hidden; padding: 14px 10px 14px 11px; }
.liveList li img { display: inline; float: left; height: 80px; margin-right: 10px; width: 140px; }
.onlive { height: 108px; position: relative; }
.oline { bottom: 10px; display: none; position: absolute; right: 15px; }
.liebiaoList { overflow: hidden; }
.liebiaoList li { cursor: pointer; width:290px; height:80px; line-height:25px; overflow: hidden; padding:10px 10px 10px 20px; position: relative; }
.liebiaoList li.cur { color:#d48134; background:#272727 }
.liebiaoList li.cur a{ color:#d48134!important;}
.liebiaoList li img { display: inline; float: left; height:80px; margin-right: 10px; width:130px; }
.vBox { float:left; width:656px; height:460px; border-right:2px solid #474747}
#mod_player { background:#000000; height:460px; overflow: hidden; width:642px; }
.liebiao { }
.liebiao h2 { color: #fff; font-size: 20px; font-weight:bold; text-indent:1em; height:40px; line-height:40px; background:#2f2f2f}
.liebiaoList li i { display: none; }
.liebiaoList li b { display: none; }
.liebiaoList li.cur b { display: none; }
.liebiaoList li a { color: #000000; }
.liebiaoList li.cur a { font-weight: bold; }
.liebiaoList li.cur .living { bottom: 10px; display: none; position: absolute; right: 20px; }
.liebiaoList li a { text-decoration: none; }
#scro2 { height: 400px; overflow: hidden; position: relative; }
.ulbox { position: absolute; width: 100%; }
.scrollBarBg { background:#4b4b4b; top: 0; height: 400px; position: absolute; right: 0; width:15px; }
.scrollBar { background:#818181; cursor: pointer; position: relative; width:15px; }
.videoBox .tit { width:990px; height: 50px; line-height: 50px; width: 1000px; background:#07923d; color:#fff; padding:0px 0px 0px 10px; }
.videoBox .tit a { background:url(//mat1.gtimg.com/2014/images/photoimg/hsj.png) no-repeat scroll 0px 5px; padding-left:25px; color: #fff; display: none; font-family: "Î¢ÈíÑÅºÚ", "ºÚÌå"; font-size: 18px; font-weight: normal; }
.videoBox .tit a:hover { text-decoration: none; color:#fff!important }
.liveing { display: none; }
/*meituUl*/
.meituUl{ width:1000px; height:325px; margin:20px auto 0px; overflow:hidden;}
.meituUl li{ display:inline; float:left; position:relative; width:125px; height:325px; margin-left:1px; overflow:hidden}
.meituUl li img{ width:125px; height:325px; -moz-transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s;-o-transition:all 0.3s ease-out 0s;transition:all 0.3s ease-out 0s;}
.meituUl li .txt { position:absolute; bottom:-30px; left:0px; width:100%; height:30px; line-height:30px; text-align:center; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; z-index:10; background:rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#99000000, endColorstr=#99000000);
}
.meituUl li:hover img{ -moz-transform:scale(1.01);-moz-transition:all 0.3s ease-in 0s ; transform:scale(1.1);transition:all 0.3s ease-in-out 0s;  -webkit-transform:scale(1.1);-webkit-transition:all 0.3s ease-in-out 0s; -o-transform:scale(1.1);-o-transition:all 0.3s ease-in-out 0s}
.meituUl li .txt a,.meituUl li .txt a:hover { color:#fff!important; text-decoration:none }
.meituUl li:hover .txt { bottom:0px; transition: bottom 0.5s; -moz-transition: bottom 0.5s; -webkit-transition:bottom 0.5s; -o-transition: bottom 0.5s; }
.meituUl li.big{ width:495px; margin:0px}
.meituUl li.big img{ width:495px;}
/*cehua*/
.cehuaUl{ width:1000px; height:325px; margin:20px auto 0px; overflow:hidden}
.cehuaUl li{ display:inline; position:relative; float:left; width:245px; height:160px; margin:0px 0px 5px 5px; overflow:hidden}
.cehuaUl li img{ width:245px; height:160px; -moz-transition:all 0.3s ease-out 0s; -webkit-transition:all 0.3s ease-out 0s;-o-transition:all 0.3s ease-out 0s;transition:all 0.3s ease-out 0s;}
.cehuaUl li .txt { position:absolute; bottom:-30px; left:0px; width:100%; height:30px; line-height:30px; text-align:center; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; z-index:10; background:rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#99000000, endColorstr=#99000000);
}
.cehuaUl li:hover img{ -moz-transform:scale(1.01);-moz-transition:all 0.3s ease-in 0s ; transform:scale(1.1);transition:all 0.3s ease-in-out 0s;  -webkit-transform:scale(1.1);-webkit-transition:all 0.3s ease-in-out 0s; -o-transform:scale(1.1);-o-transition:all 0.3s ease-in-out 0s}
.cehuaUl li .txt a,.cehuaUl li .txt a:hover { color:#fff!important; text-decoration:none }
.cehuaUl li:hover .txt { bottom:0px; transition: bottom 0.5s; -moz-transition: bottom 0.5s; -webkit-transition:bottom 0.5s; -o-transition: bottom 0.5s; }
.cehuaUl li.big{ width:495px; height:325px; margin:0px}
.cehuaUl li.big img{ width:495px; height:325px}
/*lvyin*/
.lvyinUl{ width:1000px; margin:20px auto 0px; overflow:hidden}
.lvyinUl li{ display:inline; float:left; width:245px; margin:0px 1px 30px; overflow:hidden}
.lvyinUl li .img{ position:relative; width:245px; height:138px; margin-bottom:15px}
.lvyinUl li .img img{ width:245px; height:138px; opacity:1; filter:Alpha(Opacity=100);}
.lvyinUl li .img img:hover{ background:#000; opacity:0.8; filter:Alpha(Opacity=80); -webkit-transition:opacity 0.2s ease-in-out 0s; -moz-transition:opacity 0.2s ease-in-out 0s; -o-transition:opacity 0.2s ease-in-out 0s; transition:opacity 0.2s ease-in-out 0s;}
.lvyinUl li .play{ position:absolute; left:0px; bottom:0px; width:26px; height:26px; background:url(//mat1.gtimg.com/2014/images/photoimg/iconPlay.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/iconPlay.png', sizingMethod='crop');}
.lvyinUl li:hover .play{ background:url(//mat1.gtimg.com/2014/images/photoimg/iconPlay2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/iconPlay2.png', sizingMethod='crop');}
.lvyinUl li p{ text-align:left; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal;}
/*mrjx*/
.mrjx{ width:100%; height:485px; margin:50px auto 0px; overflow:hidden; background:url(//mat1.gtimg.com/2014/images/photoimg/mrjx.png) no-repeat top center}
.mrjx h2{ display:block; width:1000px; height:85px; margin:0px auto; line-height:48px; font-size:26px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:bold; color:#474847 }
.mrjxBox{ width:1000px; margin:0px auto; }
.mrjxBox .scroll{ position:relative; width:1000px; height:340px; margin:0px auto; }
.scrollBox{ position:relative; width:1000px; height:340px; margin:0px auto; overflow:hidden; }
.scrollBox ul{ position:absolute; width:99999px; left:0px; top:0px; height:340px; z-index:99}
.scrollBox ul li{ display:inline; float:left; width:335px; height:340px; overflow:hidden}
.scrollBox ul li .img{ position:relative; width:330px; height:287px; margin-bottom:10px;}
.scrollBox ul li .img img{ width:330px; height:287px;}
.scrollBox ul li .img .tag{ position:absolute; right:0px; top:0px; width:39px; height:68px; background:url(//mat1.gtimg.com/2014/images/photoimg/date.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/date.png', sizingMethod='crop');}
.scrollBox ul li .img .tag .day{ display:block; width:39px; height:40px; line-height:45px; text-align:center; font-size:26px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fff}
.scrollBox ul li .img .tag .ri{ display:block; width:36px; height:28px; padding-right:3px; line-height:20px; text-align:right; font-size:12px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff}
.scrollBox ul li p{ text-align:center; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff}
.scrollBox ul li p a,.scrollBox ul li p a:hover{ color:#fff!important; text-decoration:none}
.scroll .prevBtn,.scroll .nextBtn{ display:block; position:absolute; top:90px; width:46px; height:90px; background:url(//mat1.gtimg.com/2014/images/photoimg/left2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/left2.png', sizingMethod='crop'); z-index:100}
.scroll .prevBtn { left:0px; background:url(//mat1.gtimg.com/2014/images/photoimg/left2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/left2.png', sizingMethod='crop');
transition: left 0.5s; -moz-transition: left 0.5s; -webkit-transition:left 0.5s; -o-transition: left 0.5s; }
.scroll .nextBtn { right:0px; background:url(//mat1.gtimg.com/2014/images/photoimg/right2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/right2.png', sizingMethod='crop');
transition: right 0.5s; -moz-transition: right 0.5s; -webkit-transition:right 0.5s; -o-transition: right 0.5s; }
.scroll .prevBtn:hover { left:-5px; background:url(//mat1.gtimg.com/2014/images/photoimg/leftOn2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/leftOn2.png', sizingMethod='crop');
transition: left 0.5s; -moz-transition: left 0.5s; -webkit-transition:left 0.5s; -o-transition: left 0.5s; }
.scroll .nextBtn:hover { right:-5px; background:url(//mat1.gtimg.com/2014/images/photoimg/rightOn2.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/rightOn2.png', sizingMethod='crop');
transition: right 0.5s; -moz-transition: right 0.5s; -webkit-transition:right 0.5s; -o-transition: right 0.5s; }
.scollLine{ position:relative; width:1000px; height:24px; margin:0px auto; overflow:hidden}
.yellowTag{ position:absolute; left:0px; top:0px; width:72px; height:24px; background:url(//mat1.gtimg.com/2014/images/photoimg/ruler.png) no-repeat; font-size:14px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#056129; text-align:center; z-index:101 }
.scollLine .line{ width:1000px; height:3px; margin-top:11px; background:#067f35}
.line01{ position:absolute; top:120px; left:-150px; width:235px; height:173px; background:url(//mat1.gtimg.com/2014/images/photoimg/line01.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/line01.png', sizingMethod='crop'); z-index:98}
.line02{ position:absolute; top:120px; right:-150px; width:235px; height:173px; background:url(//mat1.gtimg.com/2014/images/photoimg/line02.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/line02.png', sizingMethod='crop'); z-index:98}
/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/images/photoimg/toTop.png) no-repeat; bottom:45px; display:none; height:58px; opacity:0.3; filter:Alpha(Opacity=30); position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { opacity:1; filter:Alpha(Opacity=100); }
/*  |xGv00|607a121325c8dadfed4f0d1165bc0e3c */