html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; color: #4f4732; font-weight: inherit; font-style: inherit; font-size: 12px; font-family: Arial,"微软雅黑", "Microsoft YaHei", sans-serif; vertical-align: baseline; }
:focus { outline: 0; }

body { position: relative; margin: 0 auto; max-width: 1680px; min-width: 1200px; overflow-x: hidden; }

p { line-height: 22px; text-align: justify; }

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
a { text-decoration: none; color: #797a81; }
a img, iframe { border: none; }
img { vertical-align: top; }
ol, ul { list-style: none; }
input, textarea, select, button { font-size: 100%; font-family: inherit; }
select { margin: inherit; }
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
ol { *margin-left: 2em; }
/* == clearfix == */
.clearfix:after { content: "\200B"; display: block; height: 0; clear: both; }
.clearfix { *zoom: 1; }
/*IE/7/6*/
/* == 以上 reset Css == */

/* ==全站左右浮动== */
.fl { float: left; }
.fr { float: right; }
/* ==全站左右浮动== */

@font-face { font-family: 'dincond-mediumregular'; src: url('dincond-medium.eot'); src: url('dincond-medium.eot?#iefix') format('embedded-opentype'), url('dincond-medium.woff2') format('woff2'), url('dincond-medium.woff') format('woff'), url('dincond-medium.ttf') format('truetype'), url('dincond-medium.svg#dincond-mediumregular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: "Novecento-WideLight"; src: url('../font/novecento-widelight-webfont.eot'); src: url('../font/novecento-widelight-webfont.eot?#iefix') format('embedded-opentype'),url('../font/novecento-widelight-webfont.woff2') format('woff2'),url('../font/novecento-widelight-webfont.woff') format('woff'),url('../font/novecento-widelight-webfont.ttf') format('truetype'),url('../font/novecento-widelight-webfont.svg#novecento_wide_lightregular') format('svg'); font-weight: normal; font-style: normal; }

.wrap { width: 1100px; margin: auto; }
.w1100 { margin: 0 auto; width: 1100px; }



/*  |xGv00|009f825c0e3341d0bbfb4740038507b4 */