/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%
}

q:before,
q:after {
    content: ''
}

fieldset,
img,
abbr,
acronym {
    border: 0
}

/*footer*/
/*footer*/
.foot .foot_cpright {
    padding: 30px 430px;
}

.foot_lefts .logo_timi {
    display: block;
    float: left;
    width: 143px;
    height: 40px;
    text-indent: -999em;
    overflow: hidden;
    margin: 10px 0 0 10px;
    background: url(//ossweb-img.qq.com/images/peng/pc/web201506/timi_logo.png);
}

.foot_dark a {
    text-decoration: none;
}

/* basic */
.c:before,
.c:after {
    content: "";
    display: table
}

.c:after {
    clear: both
}

.c {
    zoom: 1
}

body {
    font: 12px/1.5 tahoma, \5b8b\4f53, sans-serif;
    padding-top: 42px;
    background-color: #0d1015;
    font-family: '\5FAE\8F6F\96C5\9ED1';
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

.wrap {
    min-width: 1280px;
    overflow: hidden;
    background-color: #0d1015;
    position: relative;
    width: 100%;
    _width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1002?'1000px':'');
}

.wrap-o {
    background: #0d1015 url(//game.gtimg.cn/images/hdl/web20170413/rp-t.jpg) 50% 0 no-repeat;
}

.wrap-i {
    background: url(//game.gtimg.cn/images/hdl/web20170413/rp-b.jpg) 50% bottom no-repeat;
}

.wrap .container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    /* background: url(//game.gtimg.cn/images/hdl/web20170413/hd-t.jpg) 50% 0 no-repeat; */
}

.hide {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.db {
    display: block;
    text-indent: -999em;
}

.y {
    font-family: '\5FAE\8F6F\96C5\9ED1';
}

.btn-ios,
.btn-and,
.hd-more,
.icon5,
.btn-wqdb,
.btn-more,
.arr-prev,
.arr-next,
.nav-inner li a,
.nav-inner .curr a,
.v-icon1,
.v-icon2,
.v-icon3,
.jiahao,
.prev,
.next,
.btn-more2,
.sanj,
.c3-icon1,
.c3-icon2,
.c3-icon3,
.c3-icon4 {
    background-image: url(//game.gtimg.cn/images/hdl/web20170413/icon.png);
    background-repeat: no-repeat;
}

.bt,
.zt-list .on,
.zt-list li {
    background-image: url(//game.gtimg.cn/images/hdl/web20170413/tit.png);
    background-repeat: no-repeat;
}

/* head */
.head {
    height: 1178px;
    /* background: url(//game.gtimg.cn/images/hdl/web20170413/hd-b.jpg) 50% 500px no-repeat; */
}

.logo {
    width: 280px;
    height: 100px;
    position: absolute;
    left: 490px;
    top: 0;
}

.h-video {
    display: block;
    width: 316px;
    height:180px;
    /* background: url(//game.gtimg.cn/images/hdl/web20170413/video.png) 0 0 no-repeat; */
    position: absolute;
    left: 484px;
    top: 362px;
}

.b-down {
    left: 18px;
    top: 757px;
    width: 180px;
}

.b-ewm {
    width: 178px;
    height: 184px;
    position: relative;
}

.b-down img {
    display: block;
    margin: 0 auto;
}

.line {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 2;
    height: 5px;
    width: 100%;
    background: url(//game.gtimg.cn/images/hdl/web20170413/line.png) no-repeat;
    animation: myScan 2s infinite alternate;
    -webkit-animation: myScan 2s infinite alternate;
}

@keyframes myScan {
    from {
        top: 0px;
    }

    to {
        top: 180px;
    }
}

-webkit-@keyframes myScan {
    from {
        top: 0px;
    }

    to {
        top: 184px;
    }
}

.btn-ios {
    width: 180px;
    height: 58px;
    background-position: -44px 0;
    margin-top: 14px;
}

.btn-and {
    width: 180px;
    height: 57px;
    background-position: -44px -59px;
    margin-top: 10px;
}

.swiper-container {
    width: 456px;
    height: 323px;
    overflow: hidden;
    position: absolute;
    left: 211px;
    top: 760px;
}

.swiper-slide {
    width: 456px;
    height: 306px;
    position: relative;
}

.btn-look {
    width: 456px;
    height: 306px;
}

.btn-look img {
    display: block;
    width: 456px;
    height: 323px;
}

.tab {
    width: 577px;
    height: 343px;
    position: absolute;
    left: 683px;
    top: 740px;
    overflow: hidden;
}

.hd-more {
    height: 25px;
    width: 25px;
    position: absolute;
    background-position: 0 -370px;
    right: 0;
    top: 15px;
}

.tab .hd {
    height: 58px;
    position: relative;
}

.tab .hd li {
    float: left;
    width: 90px;
    height: 58px;
}

.tab .hd li a {
    display: block;
    height: 56px;
    line-height: 56px;
    color: #b6b6b6;
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid #241d1a;
}

.tab .hd .on a,
.tab .hd li a:hover {
    color: #ff7b33;
    text-decoration: none;
    border: none;
    background: url(//game.gtimg.cn/images/hdl/web20170413/e-bg.jpg) 0 bottom no-repeat;
    height: 58px;
}

.tab .bd {
    height: 267px;
    margin-top: 18px;
}

.ta-text {
    height: 41px;
    color: #8f401d;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    background: url(//game.gtimg.cn/images/hdl/web20170413/ta-bg.jpg) 0 0 no-repeat;
}

.ta-text a {
    color: #8f401d;
}

.icon5 {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-position: -26px -370px;
}

.l-new {
    width: 577px;
    margin: 0 auto;
}

.l-new li {
    float: left;
    width: 100%;
    font-size: 14px;
    height: 45px;
    border-bottom: 1px dashed #444447;
    line-height: 44px;
    color: #7a7a7a;
}

.l-new strong {
    color: #5b5a5d;
    float: left;
}

.l-new a {
    color: #bfbfbf;
    margin-left: 30px;
    float: left;
    width: 410px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.l-new a:hover {
    color: #8f401d;
}

/* content */
.content-o {
    background: url(//game.gtimg.cn/images/hdl/web20170413/ct-t.jpg) 50% 0 no-repeat;
}

.content {
    background: url(//game.gtimg.cn/images/hdl/web20170413/ct-b.jpg) 50% bottom no-repeat;
}

.c-con1 {
    height: 712px;
}

.yx-cons {
    position: absolute;
    width: 1500px;
    height: 745px;
    left: 0;
    top: 0;
    display: none;
}

.p-box {
    position: absolute;
    left: 20px;
    top: 135px;
    width: 500px;
    z-index: 5;
}

.pb-top {
    width: 581px;
    height: 188px;
    border-bottom: 1px solid #1f2020;
}

.pb-name {
    height: 45px;
    line-height: 44px;
    font-size: 24px;
    color: #f2e9e3;
}

.pb-tit {
    height: 98px;
    width: 100%;
    display: block;
}

.pb-tit strong {
    float: left;
    font-size: 60px;
    color: #b55115;
    line-height: 94px;
}

.pb-tit span {
    border-bottom: 3px solid #b34f1e
}

.hz-icon {
    float: left;
    width: 96px;
    height: 110px;
    margin: -12px 0 0 18px;
    display: inline;
    background: url(//game.gtimg.cn/images/hdl/web20170413/hz-icon10.png) 0 0 no-repeat;
    color: #e6a060;
    font-size: 50px;
    text-align: center;
    line-height: 110px;
    font-weight: bold;
}

.pb-text {
    height: 44px;
    font-size: 14px;
    color: #b9b9b9;
    line-height: 44px;
    text-align: left;
    position: relative;
}

.pb-more {
    position: absolute;
    left: 480px;
    top: 270px;
    font-size: 20px;
    color: #ffffff;
    overflow: hidden;
    display: block;
    width: 120px;
    height: 44px;
    background-color: #673311;
    border: 1px solid #ba511b;
    text-align: center;
    line-height: 44px;
    font-weight: bold;
    z-index: 30;
}

.jiahao {
    width: 25px;
    height: 25px;
    background-position: 0 -370px;
    position: absolute;
    right: 0;
    top: 10px;
    overflow: hidden;
}

.left-img {
    position: absolute;
    top: 0;
    right: 20px;
}

.left-img img {
    display: block;
    margin: 0 auto;
    width: 833px;
    height: 704px;
}

.yx-lists {
    position: absolute;
    left: 20px;
    top: 350px;
    z-index: 10;
    width: 630px;
    height: 300px;
    overflow: hidden;
}

.yx-lists li {
    float: left;
    width: 108px;
    height: 150px;
    margin-right: 18px;
}

.yx-lists a {
    display: block;
    width: 108px;
    height: 87px;
    overflow: hidden;
    position: relative;
}

.yx-lists a img {
    display: block;
    width: 108px;
    height: 87px;
    margin: 0 auto;
}

.yx-name {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 84px;
    font-size: 14px;
    color: #ffdca7;
    position: absolute;
    left: 0;
    bottom: -87px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.yx-lists li a:hover .yx-name {
    bottom: 0;
}

.yx-lists p {
    font-size: 14px;
    color: #838383;
    text-align: center;
    line-height: 54px;
}

.c-con2 {
    height:620px;
    overflow: hidden;
}

.c-con3 {
    height: 659px;
}

.c-well {
    position: relative;
    height: 431px;
    margin-top: 41px;
    width: 1280px;
}

.c-well li {
    position: relative;
    width: 162px;
    height: 431px;
    float: left;
    overflow: hidden;
    display: inline;
    margin-left: 20px;
    border: 1px solid #b55115;
}

.c-well h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 162px;
    height: 431px;
}

.link1 {
    width: 162px;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(//game.gtimg.cn/images/hdl/web20170413/link1.jpg) 0 0 no-repeat;
}

.link2 {
    width: 162px;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(//game.gtimg.cn/images/hdl/web20170413/link2.jpg) 0 0 no-repeat;
}

.link3 {
    width: 162px;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(//game.gtimg.cn/images/hdl/web20170413/link3.jpg) 0 0 no-repeat;
}

.on .link1 {
    width: 162;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(//game.gtimg.cn/images/hdl/web20170413/h-link1.jpg) 0 0 no-repeat;
}

.on .link2 {
    width: 162px;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(//game.gtimg.cn/images/hdl/web20170413/h-link2.jpg) 0 0 no-repeat;
}

.on .link3 {
    width: 230px;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(//game.gtimg.cn/images/hdl/web20170413/h-link3.png) 0 0 no-repeat;
}

.c-well .c3-box {
    position: absolute;
    width: 709px;
    top: 0;
    left: 162px;
    height: 429px;
    overflow: hidden;
    border: 1px solid #b55115;
    background-color: #201e1e;
}

.n-list {
    padding-left: 22px;
}

.n-list p {
    float: left;
    width: 100px;
    height: 47px;
    text-align: center;
    font-size: 16px;
    color: #b5b5b5;
    line-height: 42px;
    border-bottom: 2px solid #2c2727;
    cursor: pointer;
    margin: 0;
}

.n-list p.on {
    color: #ff7b33;
    height: 49px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/e-bg.jpg) 0 bottom no-repeat;
    border: none;
}

.x-list p {
    float: left;
    width: 80px;
    height: 47px;
    text-align: center;
    font-size: 16px;
    color: #b5b5b5;
    line-height: 42px;
    border-bottom: 2px solid #2c2727;
    cursor: pointer;
    margin: 0;
}

.x-list p.on {
    color: #ff7b33;
    height: 49px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/e-bg.jpg) 0 bottom no-repeat;
    border: none;
}

.x-new {
    margin-top: 10px;
}

.x-new p {
    float: left;
    width: 100%;
    font-size: 14px;
    height: 45px;
    border-bottom: 1px dashed #444447;
    line-height: 44px;
    color: #7a7a7a;
}

.x-new strong {
    color: #5b5a5d;
    float: left;
    margin-left: 20px;
}

.x-new a {
    color: #bfbfbf;
    margin-left: 30px;
    float: left;
    width: 520px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.x-new a:hover {
    color: #8f401d;
}

.x-new span {
    float: left;
}

.bb-box {
    margin-top: 15px;
}

.n-news {
    width: 686px;
    margin-left: 23px;
}

.n-news a {
    width: 208px;
    height: 168px;
    margin: 10px 20px 0 0;
    position: relative;
    overflow: hidden;
    float: left;
}

.n-news a:hover .v-name {
    color: #fff;
}

.n-box {
    width: 208px;
    height: 135px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/vi-bg.jpg) 0 0 no-repeat;
    position: relative;
    overflow: hidden;
}

.n-news a:hover .v-kuang {
    top: 0;
}

.v-kuang {
    width: 208px;
    height: 135px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/vi-bg2.jpg) 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: -100%;
}

.n-box img {
    display: block;
    margin: 0 auto;
    width: 208px;
    height: 103px;
    overflow: hidden;
}

.v-name {
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #b9b9b9;
    position: relative;
    z-index: 5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.v-icon3 {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    background-position: -402px 0;
    left: 82px;
    top: 39px;
    z-index: 5;
    animation: breath infinite 3s ease-in-out;
    -webkit-animation: breath infinite 3s ease-in-out;
}

.n-news a:hover .v-icon3 {
    background-position: -402px -37px;
}

.v-bot {
    height: 33px;
    font-size: 14px;
    line-height: 32px;
}

.v-left {
    float: left;
    color: #838383;
}

.v-right {
    float: right;
    color: #838383;
}

.v-icon1 {
    float: left;
    width: 17px;
    height: 17px;
    background-position: -439px 0;
    margin: 8px 10px 0 0;
}

.v-icon2 {
    float: left;
    width: 19px;
    height: 17px;
    background-position: -457px 0;
    margin: 8px 10px 0 0;
}

.n-news a:hover .v-icon1 {
    background-position: -439px -18px;
}

.n-news a:hover .v-icon2 {
    background-position: -457px -18px;
}

.n-news a:hover .v-left {
    color: #b9b9b9;
}

.n-news a:hover .v-right {
    color: #b45215;
}

.c3b-top {
    width: 642px;
    margin: 0 auto;
    padding: 30px 0 30px;
    border-bottom: 1px solid #363232;
}

.c3b-main {
    width: 642px;
    margin: 0 auto;
    padding: 30px 0 30px;
    border-bottom: 1px solid #363232;
}

.c3b-bot {
    width: 642px;
    margin: 0 auto;
    padding: 30px 0 30px;
}

.c3-bt {
    float: left;
    width: 64px;
    height: 36px;
    text-align: center;
    font-size: 20px;
    color: #e8e7e7;
    line-height: 36px;
    background: #9c4919;
    margin-right: 40px;
}

/*.c3-bt3{margin-top: 14px;}*/
.c3b-left {
    float: left;
    width: 490px;
    padding-left: 48px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/icon55.png) 0 0 no-repeat;
}

.c3b-min {
    float: left;
    width: 490px;
    padding-left: 48px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/icon55.png) 0 0 no-repeat;
}

.c3b-las {
    float: left;
    width: 490px;
    padding-left: 48px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/icon55.png) 0 14px no-repeat;
}

.c3b-left a {
    font-size: 20px;
    color: #bfbfbf;
    float: left;
    width: 120px;
    line-height: 36px;
}

.c3b-min a {
    font-size: 20px;
    color: #bfbfbf;
    float: left;
    width: 120px;
    line-height: 36px;
}

.c3b-las a {
    font-size: 20px;
    color: #bfbfbf;
    float: left;
    width: 120px;
    line-height: 36px;
}

.c3b-min a:hover,
.c3b-las a:hover,
.icon-a:hover {
    color: #b45015;
    text-decoration: underline;
}

.c-con4 {
    height: 508px;
}

.c-con5 {
    height: 486px;
    z-index: 10;
}

.zt-list {
    margin: 30px auto 0;
    width: 1240px;
    height: 52px;
    border-bottom: 1px solid #23272e;
}

.zt-list li {
    float: left;
    padding-left: 150px;
    width: 262px;
    height: 51px;
    position: relative;
    background-position: 0 -729px;
    line-height: 50px;
    font-size: 20px;
    color: #73829d;
    font-weight: bold;
}

.zt-list .zt-min {
    margin: 0 2px;
}

.zt-list a {
    display: block;
    text-indent: -999rem;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 240px;
    top: 14px;
}

.zt-list .on {
    color: #ffe3b5;
    background-position: 0 -781px;
}

.c-con6 {
    height: 751px;
}

.bt {
    height: 89px;
    width: 794px;
    margin: 0 auto;
}

.c-con2 .bt {
    background-position: 0 -91px;
}

.c-con3 .bt {
    background-position: 0 -182px;
}

.c-con4 .bt {
    background-position: 0 -273px;
}

.c-con5 .bt {
    background-position: 0 -638px;
}

.c-con6 .bt {
    background-position: 0 -455px;
}

.c-con7 .bt {
    background-position: 0 -548px;
}

.c-con8 .bt {
    background-position: 0 -837px;
}

.c-con4 .btn-more {
    top: 151px;
}

.btn-more {
    width: 25px;
    height: 25px;
    background-position: 0 -370px;
    position: absolute;
    right: 29px;
    top: 71px;
}

.btn-more2 {
    width: 25px;
    height: 25px;
    background-position: 0 -370px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.btn-wqdb {
    display: block;
    width: 128px;
    height: 44px;
    background-position: -180px -120px;
    position: absolute;
    top: 61px;
    right: 21px;
    font-size: 18px;
    color: #040505;
    text-align: center;
    line-height: 44px;
}

.c-tab {
    margin: 46px 0 0 37px;
}

.c-tab li {
    float: left;
    width: 143px;
    height: 59px;
}

.c-tab a {
    display: block;
    width: 100%;
    height: 57px;
    border-bottom: 2px solid #241d1a;
    line-height: 52px;
    color: #b5b5b5;
    text-align: center;
    font-size: 16px;
}

.c-tab .on a,
.c-tab a:hover {
    color: #ff7b33;
    height: 59px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/e-bg2.jpg) 0 bottom no-repeat;
}

.a-list {
    margin-top: 27px;
}

.a-list li {
    width: 289px;
    height: 177px;
    float: left;
    margin: 14px 8px 0 20px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/li-bg.png) 0 0 no-repeat;
    overflow: hidden;
    position: relative;
    display: inline;
}

.box {
    padding-top: 9px;
}

.box img {
    display: block;
    margin: 0 auto;
}

.box p {
    height: 42px;
    text-align: center;
    font-size: 14px;
    color: #b9b9b9;
    line-height: 42px;
}

.box p strong {
    color: #e56f25;
}

.ovrly {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: url(//game.gtimg.cn/images/hdl/web20170413/li-bg2.png) 0 0 no-repeat;
}

.a-list li:hover .ovrly {
    top: 0;
}

.o-tit {
    font-size: 14px;
    color: #e56f25;
    font-weight: bold;
    padding: 20px 0 0 25px;
}

.o-text {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    padding: 0 25px;
}

.b-list {
    margin-top: 50px;
}

.b-list li {
    float: left;
    width: 289px;
    height: 197px;
    display: inline;
    margin: 0 8px 0 20px;
    border: 1px solid #1e242e;
}

.b-box {
    width: 289px;
    height: 197px;
    text-align: center;
    font-size: 14px;
    background-color: #000;
}

.b-box img {
    display: block;
    margin: 0 auto;
    width: 289px;
    height: 135px;
}

.b-box strong {
    display: block;
    color: #b45215;
    line-height: 34px;
}

.b-box span {
    display: block;
    color: #b9b9b9;
    line-height: 20px;
}

.b-list p {
    font-size: 14px;
    color: #838383;
    line-height: 24px;
    text-align: center;
    padding: 5px 10px 0;
}

.slides {
    width: 1300px;
    height: 888px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slides .slides_container {
    width: 1300px;
    height: 888px;
    position: relative;
    z-index: 5;
}

.slides .slides-item {
    display: block;
    width: 1300px;
    height: 892px;
    position: relative;
    overflow: hidden;
}

.s-pic {
    position: absolute;
    width: 100%;
    left:0;
    bottom: 0;
    /*-webkit-animation:fadeInLeft ease-in-out .8s both;-moz-animation:fadeInLeft ease-in-out .8s both;-ms-animation:fadeInLeft ease-in-out .8s both;animation:fadeInLeft ease-in-out .8s both;*/
}
.s-pic img{display: block;margin: 0 auto;}
.c-pone {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-animation: fadeInRight ease-in-out .8s both;
    -moz-animation: fadeInRight ease-in-out .8s both;
    -ms-animation: fadeInRight ease-in-out .8s both;
    animation: fadeInRight ease-in-out .8s both
}

.c-pone1 {
    right: 50px;
}

.c-pone2 {
    right: -150px;
    bottom: 40px;
}

.c-pone3 {
    right: -40px;
    top: 290px;
}

.c-pone4 {
    right: 0px;
}

.prev,
.next {
    width: 67px;
    height: 47px;
    top: 510px;
    position: absolute;
    z-index: 100;
}

.prev {
    left: 0;
    background-position: -44px -118px;
}

.next {
    right: 0;
    background-position: -112px -118px;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.c-con7 {
    height: 663px;
    position: relative;
     margin-top:30px;
}

.btn-zxsc {
    display: block;
    font-size: 16px;
    color: #b5b5b5;
    width: 142px;
    height: 62px;
    text-align: center;
    line-height: 56px;
    position: absolute;
    top: 120px;
    right: 120px;
}

.ss-list {
    margin-top: 30px;
    padding-left: 20px;
}

.ss-list li {
    float: left;
    width: 142px;
    height: 62px;
    margin-right: 30px;
}

.ss-list a {
    display: block;
    width: 142px;
    height: 62px;
    font-size: 16px;
    color: #b5b5b5;
    text-align: center;
    line-height: 56px;
}

.ss-list .on a,
.ss-list a:hover {
    color: #fb7932;
    background: url(//game.gtimg.cn/images/hdl/web20170413/e-bg2.jpg) 0 bottom no-repeat;
}

.ss-con {
    width: 1240px;
    margin: 40px auto 0;
}

.ss-fl {
    float: left;
    width: 258px;
    height: 358px;
    border: 1px solid #0d1015;
}

.ss-fl a,
.ss-fl img {
    display: block;
    width: 258px;
    height: 358px;
}

.ss-min {
    float: left;
    width: 521px;
    margin-left: 40px;
}

.ss-news {
    width: 100%;
}

.ss-news li {
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.ss-news a {
    float: left;
    width: 470px;
    color: #b5b5b5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ss-news span {
    float: left;
    width: 51px;
    text-align: right;
    color: #b5b5b5;
}

.ss-right {
    float: left;
    width: 306px;
    margin-left: 113px;
    padding-top: 6px;
}

.ss-tit {
    font-size: 20px;
    color: #fb7932;
    font-weight: bold;
    border-bottom: 1px solid #fb7932;
    text-align: center;
}

.ss-tit1 {
    line-height: 106px;
    height: 106px;
}

.ss-tit2 {
    line-height: 30px;
    padding-top: 24px;
    height: 82px;
}

.ss-text {
    font-size: 16px;
    color: #b5b5b5;
    line-height: 50px;
}

.ss-text strong {
    float: left;
    width: 100px;
    text-align: left;
    margin-left: 20px;
}

.ss-text span {
    float: left;
    width: 150px;
    text-align: left;
    margin-left: 36px;
}

.c-con8 {
    height: 410px;
}

.bzz-list {
    margin-top: 30px;
}

.bzz-list li {
    float: left;
    width: 289px;
    height: 230px;
    margin-left: 31px;
}

.bzz-list img {
    display: block;
    width: 287px;
    height: 175px;
    border: 1px solid #1e242e;
}

.bzz-list p {
    text-align: center;
    font-size: 14px;
    color: #828282;
    line-height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 渚у锟�? */
.side-nav {
    width: 176px;
    z-index: 100;
}

.nav-inner {
    width: 100%;
    height: 470px;
}

.nav-inner li {
    position: relative;
    width: 176px;
    height: 47px;
    margin: 13px 0 0 0;
    z-index: 999;
}

.nav-inner li a {
    display: block;
    padding-left: 43px;
    width: 133px;
    height: 100%;
    font-size: 18px;
    color: #b5b5b5;
    line-height: 46px;
    background-position: -225px -48px;
}

.nav-inner .curr a,
.nav-inner li a:hover {
    color: #ff7b33;
    background-position: -225px 0;
}

.sn-top {
    display: block;
    height: 48px;
    text-align: center;
    font-size: 18px;
    color: #7c7573;
    line-height: 22px;
}

.sn-top:hover {
    color: #ff7b33;
}

/* 瑙嗛 */
.pop {
    display: none;
    width: 800px;
    height: 500px;
    border: 5px solid #10131a;
    position: relative;
    background-color: #10131a;
}

.pop-close {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #10131a;
    position: absolute;
    right: -45px;
    top: -5px;
    font-family: Tahoma;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.pop-close:hover {
    color: #fff;
    text-decoration: none;
}

.video {
    left: 0;
    top: 0;
    z-index: 20;
    position: absolute;
    width: 800px;
    height: 500px;
}

.ts {
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -9px;
    color: #fff;
    z-index: 10;
    position: absolute;
}

.ggBox {
    width: 456px;
    height: 323px;
}

/*淇敼鎴愬箍鍛婂浘鐗囩殑灏哄鍗冲彲*/
.ggBox {
    position: relative;
    background: #0e97dc;
    overflow: hidden
}

/*浠ヤ笅鏄疆鎾殑鍥剧墖鏍峰紡锛屼笉鐢ㄤ慨锟�?*/
.adPic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.adPic a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: #0e97dc
}

.adPic img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.adPic p {
    position: relative;
    padding-top: 50px
}

.loadI {
    width: 130px;
    text-align: center;
    line-height: 20px;
    color: #FFF;
    background: #18b2ff;
    margin: 0px auto;
    display: block
}

.adPicUl {
    width: 1000%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all 0.1s linear;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden
}

.adPicUl li {
    float: left;
    width: 14.3%;
    height: 100%;
}

.adPicUl a {
    display: block;
    width: 100%;
    height: 100%
}

.adPicUl img {
    display: block;
    width: 100%;
    height: 100%
}

/*浠ヤ笅鏄疆鎾皬鎸夐挳鏍峰紡锛屽彲鎸夎璁＄ǹ鑷繁淇敼~*/
.adBtn {
    position: absolute;
    z-index: 2;
    right: 17px;
    bottom: 20px;
    height: 20px
}

.adBtn a {
    display: block;
    float: left;
    text-indent: -5000px;
    margin-right: 3px;
    overflow: hidden;
    width: 19px;
    height: 19px;
    background-image: url(//ossweb-img.qq.com/images/game/portal2012/roll_btn.png);
    background-repeat: no-repeat;
    background-position: 0 1px
}

/*灏忔寜閽牱锟�?*/
a.on {
    background-position: -19px 1px;
    _background: #efefef
}

/*灏忔寜閽綋鍓嶅抚鏍峰紡*/
.adBtn a:hover {
    background-position: -19px -18px
}

/*灏忔寜閽紶鏍囩粡杩囨牱锟�?*/

.cover {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999;
}

.qtt {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 456px;
    height: 323px;
    margin-left: -228px;
    margin-top: -161.5px;
    z-index: 1000;
}

.qtt p {
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
}

.btn-ctmd {
    display: block;
    width: 145px;
    height: 249px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/ctm-bg.png) 0 0 no-repeat;
    position: fixed;
    left: 50px;
    top: 150px;
    -webkit-animation: start 1.2s infinite linear;
    animation: start 1.2s infinite linear;
    z-index: 30;
}

.btn-ctmd strong {
    display: block;
    font-size: 20px;
    color: #fffadf;
    line-height: 22px;
    text-align: center;
    padding-top: 70px;
}

@-webkit-keyframes start {
    0% {
        -webkit-transform: translate(0, -3px);
    }

    30% {
        -webkit-transform: translate(0, -8px);
    }

    100% {
        -webkit-transform: translate(0, -3px);
    }
}

@keyframes start {
    0% {
        -webkit-transform: translate(0, -3px);
    }

    30% {
        -webkit-transform: translate(0, -8px);
    }

    100% {
        -webkit-transform: translate(0, -3px);
    }
}

/* 娴眰 */
.left-stps {
    width: 277px;
    height: 441px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/fc-bg22.png);
    position: fixed;
    left: 10px;
    top: 500px;
    z-index: 100;
}

.ls-box2 {
    width: 181px;
    height: 169px;
    margin-left: 96px;
}

.ls-box2 p {
    text-align: center;
    font-size: 20px;
    color: #92d0f0;
    line-height: 28px;
    padding-top: 25px;
}

.btn-fcxq {
    width: 142px;
    height: 53px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/btn-fcxq.png) 0 0 no-repeat;
    margin: 20px auto 0;
}

.f-close {
    width: 39px;
    height: 39px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/f-close.jpg) 0 0 no-repeat;
    position: absolute;
    right: 7px;
    top: 222px;
}