/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}
q:before,q:after{content:''}
fieldset,img,abbr,acronym{border:0}
/*footer*/
#footer_ieg{background: transparent;position: relative;z-index: 7;background-color: #000000;}
.wrap_ieg{width: 1000px;margin: 0 auto;padding: 20px 0;}
.wrap_ieg p{text-align: center;color: #5a5858;line-height: 28px;font-size: 14px;}
.wrap_ieg a{color: #5a5858;}
/* basic */
.c:before,.c:after{content:"";display:table}
.c:after{clear:both}
.c{zoom:1}
body{font:12px/1.5 tahoma,\5b8b\4f53,sans-serif;padding-top:42px;background-color:#101018;font-family:'\5FAE\8F6F\96C5\9ED1';}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
.wrap{min-width:1000px;overflow:hidden;position:relative;width:100%;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1002?'1000px':'');overflow:hidden;}
.wrap .container{width:1280px;margin:0 auto;position:relative;z-index:2;}
.hide{display:block;width:0;height:0;overflow:hidden;}
.pr{position:relative;}
.pa{position:absolute;}
.fl{float: left;}
.fr{float: right;}
.db,.p-box2 h5,.p-tit3{display:block;text-indent:-999em;}
.y{font-family:'\5FAE\8F6F\96C5\9ED1';}
/* head */
.wq-wrap1{height:800px;position: relative;padding-top: 105px;}
.head2{width:1280px;height:800px;margin:0 auto;position:relative;}
.wq-box {
    width: 1151px;
    height: 144px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/box-bg.png) 50% 0 no-repeat;
    position: absolute;
    top: 587px;
    left: 50%;
    margin-left: -576px;
    padding-top: 24px;
    z-index: 20;
}
.top-list{
    width: 750px;
    margin: 0 auto;
}
.top-list li {
    width: 228px;
    border: 1px solid #aa500f;
    float: left;
    display: inline;
    margin: 0 10px;
    cursor: pointer;
}
.top-list img{display: block;}
.wq-medal {
    width: 1920px;
    height: 63px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/medal.png) 50% 0 no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    top: 791px;
    z-index: 30;
}
.wq-images {
    width: 1920px;
    height: 906px;
    position: absolute;
    top: 0;
    left: -320px;
}
.wq-img {
    width: 100%;
    height: 100%;
}
.top-name{
    width:750px;
    height:150px;
    position: absolute;
    left:50%;
    top:460px;
    font-size:58px;
    color:#fff;
    font-weight:900;
}


.wq-wrap2{z-index: 10;padding-bottom:20px;min-height: 1000px;background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/bg.jpg) 50% 0 no-repeat;padding-top: 90px;}
.wq-title{background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/title.png) 0 0 no-repeat;width: 794px;height: 65px;margin: 55px auto 0;}
.ct-tit{font-size: 16px;color: #ffffff;}
.ct-tit .a1 {margin-right: 10px;
}
.ct-tit a{font-size: 16px;color: #ffffff;}
.ct-tit .on {color: #ff9b08;}
.ct-box {width: 100%;}
.ct-list {
    margin-top: 30px;
    padding-left: 20px;
}
.ct-list li {
    width: 153px;
    float: left;
    height: 60px;
}
.ct-list li a {
    width: 100%;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: #b5b5b5;
    border-bottom: 2px solid #241d1a;
}
.ct-list li.on a{
    color: #fb7932;
    height: 60px;
    background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/border-bg.png) 0 bottom no-repeat;
}
.ct-wq{
    width: 100%;
}
.wq-comm{}
.wq-list li{
    width: 290px;
    height: 177px;
    float: left;
    margin: 30px 8px 0 20px;
}
.wq-list li a{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.wq-list .mask{display: block;background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/li-bg.png) 0 0 no-repeat;width: 290px;display: block;position: absolute;top: 0;left: 0;z-index: 7;height: 177px;}
.wq-list img{
    display: block;margin: 0 auto;
}
.level{position: absolute;top: 5px;left: 5px;z-index: 7;}
.wq-list span{position: absolute;z-index: 7;top: 102px;right: 5px;height: 29px;display: block;}
.jx1{background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/jx1.png) 0 0 no-repeat;width: 55px;}
.jx2{background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/jx2.png) 0 0 no-repeat;width: 145px;}
.name{width: 100%;text-align: center;font-size: 16px;color: #fff;position: relative;z-index: 9;line-height: 32px;}
.pop{width: 703px;position: relative;padding-bottom: 10px;}
.pop-bg{background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/tc-bg.png) 0 0 no-repeat;padding-bottom: 30px;}
.btn-close,.p-box2 h5,.p-tit3{background-image: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/p-sp.png);background-repeat: no-repeat;}
.btn-close{width: 86px;height: 86px;background-position: 0 -87px;position: absolute;display: block;top: -25px;right: -37px;}
.pop-bot{background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/tc-bg-bot.png) 0 0 no-repeat;width: 703px;height: 16px;}
.p-con{padding-top: 162px;}
.p-box{width: 290px;position: relative;margin: 0 auto;}
    .p-box img{display: block;}
    .p-mask{background: url(//game.gtimg.cn/images/hdl/web20170413/wqimg/p-mask.png) 0 0 no-repeat;width: 290px;height: 177px;z-index: 7;position: absolute;top: 0;left: 0;}
    .p-box span{position: absolute;z-index: 7;top: 102px;right: 5px;height: 29px;display: block;}
.p-box2{margin-top: 80px;}
    .p-box2 li{width: 240px;float: left;margin-left: 63px;margin-right: 33px;}
    .p-box2 h5{height: 24px;}
    .p-tit1{background-position: 0 0;width: 54px;}
    .p-tit2{background-position: 0 -29px;width: 110px;}
    .p-tit3{background-position: 0 -58px;width: 110px;height: 24px;}
    .b-img{width: 100%;margin-top: 17px;position: relative;}
        .b-img img{display: block;}
        .b-img p{position: absolute;top: 102px;left: 0;display: block;width: 100%;text-align: center;font-size: 14px;color: #fff8f4;height: 34px;line-height: 34px;background-color: #000;z-index: 7;}
.p-box3{margin-top: 48px;margin-left: 63px;}
    .p-list{margin-top: 20px;}
        .p-list li{float: left;margin-right: 28px;width: 174px;}
        .p-list img{display: block;border: 1px solid #2d3039;}