@charset "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;}html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;clear:both;box-sizing:border-box}body{font:14px/1.5 'Microsoft YaHei',arial,helvetica,sans-serif;-webkit-text-size-adjust:none;color:#555;-webkit-text-size-adjust:none;min-width:320px;font-size:14px;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}form{display:inline;}textarea{}table{border-collapse:collapse;border-spacing:0;}ul,ol{list-style:none;}input,select,button{font-family:'Microsoft YaHei',arial,helvetica,sans-serif;font-size:100%;vertical-align:middle;outline:none;}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button;}input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent;}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}a{text-decoration:none;color:#555;}img{vertical-align:middle;font-size:0;border:0;-ms-interpolation-mode:bicubic}
select{-webkit-appearance: none;}
img{width:100%;height:100%}
em,i{font-style:normal}
input,select,textarea{font-family:'Microsoft YaHei',arial,helvetica,sans-serif;border:none;outline:none}
a,label,.answer{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none}
body{position:relative}
html,body{height:100%;min-height:100%}


#loading{
	width:60px; height:60px; position:absolute;z-index:4; top:50%; left:50%; margin-top:-30px; margin-left:-30px;
}
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
}
 
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #dd0007;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
   
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loading-text {
position:absolute;

width: 99px;
height: 11px;
top: 80%;
left: 50%;
margin: 25px 0 0 -50px;
}
.main{position:relative;width:100%;max-width:750px;min-height:100%;overflow:hidden;margin:auto;box-sizing:border-box;opacity:0}
.page{position:absolute;top:0;left:0;width:100%;height:100%}
.page1{background:url(//mat1.gtimg.com/cq/city/2016Q4/2016.12.23/big_bg1.jpg) bottom;background-size:100%}
.lantern1{position:absolute;top:0;left:0;width:17.34%;height:auto}
.lantern2{position:absolute;top:0;right:0;width:30.3%;height:auto}
.title{display:block;width:72%;height:auto;margin:4.2% auto 0}
.start-btn{width:43.75%;height:40px;line-height:40px;margin:40px auto 0;font-size:16px;font-weight:600;color:#dd0006;border:1px solid #dd0006;border-radius:8px;text-align:center/*;-webkit-animation:start 1s linear infinite;animation:start 1s linear infinite*/}
@-webkit-keyframes start{
	0%{-webkit-transform:scale(1)}
	25%{-webkit-transform:scale(.8)}
	50%{-webkit-transform:scale(1)}
	75%{-webkit-transform:scale(1.1)}
	100%{-webkit-transform:scale(1)}
}

.cock{position:absolute;z-index:2;bottom:14%;left:30%;width:50%;height:auto}
/*.cock{position:absolute;z-index:2;bottom:14%;left:25%;width:auto;height:40%}*/
.cover{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8)}
.light{position:absolute;top:24%;left:4%;width:92%;height:auto;-webkit-animation:light 15s linear infinite;animation:light 15s linear infinite}
@-webkit-keyframes light{
	0%{-webkit-transform:rotate(0)}
	100%{-webkit-transform:rotate(360deg)}
}
@keyframes light{
	0%{transform:rotate(0)}
	100%{transform:rotate(360deg)}
}

.box{position:absolute;bottom:29.87%;left:30%;width:40%;height:40%}
.box.active{-webkit-animation:box .5s linear infinite;animation:box .5s linear infinite;-webkit-transform-origin:bottom;transform-origin:bottom}
@-webkit-keyframes box{
	0%{-webkit-transform:rotate(0)}
	25%{-webkit-transform:rotate(-5deg)}
	50%{-webkit-transform:rotate(0)}
	75%{-webkit-transform:rotate(5deg)}
	100%{-webkit-transform:rotate(0)}
}
@keyframes box{
	0%{transform:rotate(0)}
	25%{transform:rotate(-5deg)}
	50%{transform:rotate(0)}
	75%{transform:rotate(5deg)}
	100%{transform:rotate(0)}
}

.page2{display:none}
.bucket{position:absolute;bottom:0;left:1%;width:98%;height:auto}
.draw-box{position:absolute;bottom:0;left:0;width:100%;height:100%}
.draw-img{position:absolute;left:0;bottom:10%;width:16.8%;height:auto}
.draw-img1{bottom:25%;left:10%;transform:rotateZ(-9deg);transform-origin:center center}
.draw-img2{bottom:20%;left:10%}
.draw-img3{bottom:15%;left:25%}
.draw-img4{bottom:27%;left:30%;transform:rotateZ(-9deg);transform-origin:center center}
.draw-img5{bottom:20%;left:35%}
.draw-img6{bottom:30%;left:40%;transform:rotateZ(9deg);transform-origin:center center}
.draw-img7{bottom:16%;left:45%}
.draw-img8{bottom:17%;left:50%}
.draw-img9{bottom:20%;left:60%;transform:rotateZ(9deg);transform-origin:center center}
.draw-img10{bottom:19%;left:70%;transform:rotateZ(9deg);transform-origin:center center}
.draw-img7.active{-webkit-animation:img7 .5s linear forwards;animation:img7 .5s linear forwards}
@-webkit-keyframes img7{
	0%{-webkit-transform:translateY(0)}
	100%{-webkit-transform:translateY(-50%)}
}
@keyframes img7{
	0%{transform:translateY(0)}
	100%{transform:translateY(-50%)}
}

.page3{display:none;background:#dd0007 url(//mat1.gtimg.com/cq/city/2016Q4/2016.12.23/bg.png) no-repeat center;background-size:98% 98%}
/*.page3-out{position:absolute;left:50%;top:0;display:inline-block;height:100%}*/


.page3-in{position:absolute;top:37%;left:0;width:100%;height:67.3%;overflow:hidden;text-align:center}
.word{display:inline-block;width:auto;height:80px;margin:auto}
.page3-in p{color:#fad4a7;text-align:center}
.page3-in .p1{margin-top:4px;font-size:16px}
.ewm{display:inline-block;width:auto;height:100px;margin:15px auto 0}
.share{padding-top:10px}
.share img{display:block;width:auto;height:60px;margin:auto}
.tip{display:none}
.tip img{display:block;width:25.35%;height:auto;margin:40px auto 0;-webkit-transform:translateY(-50%);transform:translateY(-50%);opacity:0}
.tip img.active{-webkit-animation:tip .4s linear forwards;animation:tip .4s linear forwards}
@-webkit-keyframes tip{
	0%{-webkit-transform:translateY(-50%);opacity:0}
	100%{-webkit-transform:translateY(0);opacity:1}
	
}
@keyframes tip{
	0%{transform:translateY(-50%);opacity:0}
	100%{transform:translateY(0);opacity:1}
	
}
.tip p{margin-top:15px;font-size:15px}
.zz{position:fixed;z-index:1;top:0;left:0;display:none;width:100%;height:100%;background:rgba(0,0,0,.8)}
.zz img{position:absolute;right:20px;top:20px;width:40%;height:auto}

.flower{position:absolute;top:0;height:auto}
.flower0,.flower2{width:9%}
.flower1{width:12%}
.anim0{-webkit-animation:anim0 .2s linear infinite;animation:anim0 .2s linear infinite}
@-webkit-keyframes anim0{
	0%{-webkit-transform:rotate(0)}
	100%{-webkit-transform:rotate(360deg)}
	
}
@keyframes anim0{
	0%{transform:rotate(0)}
	100%{transform:rotate(360deg)}
	
}
.anim1{-webkit-animation:anim1 5s linear infinite;animation:anim1 5s linear infinite}
@-webkit-keyframes anim1{
	0%{-webkit-transform:rotate(0)}
	50%{-webkit-transform:rotate(-180deg)}
	100%{-webkit-transform:rotate(0)}
	
}
@keyframes anim1{
	0%{transform:rotate(0)}
	50%{transform:rotate(-180deg)}
	100%{transform:rotate(0)}
	
}


.tape{position:absolute;height:auto;-webkit-transform-origin:top;transform-origin:top}
.tape1{top:3%;left:5%;width:2.5%;-webkit-animation:tape1 .5s linear infinite;animation:tape1 .5s linear infinite}
@-webkit-keyframes tape1{
	0%{-webkit-transform:rotate(0)}
	25%{-webkit-transform:rotate(-5deg)}
	50%{-webkit-transform:rotate(0)}
	75%{-webkit-transform:rotate(5deg)}
	100%{-webkit-transform:rotate(0)}
}
@keyframes tape1{
	0%{transform:rotate(0)}
	25%{transform:rotate(-5deg)}
	50%{transform:rotate(0)}
	75%{transform:rotate(5deg)}
	100%{transform:rotate(0)}
}
.tape2{top:3.5%;right:18.75%;width:2.18%;-webkit-animation:tape1 .6s linear infinite;animation:tape1 .6s linear infinite}
@-webkit-keyframes tape2{
	0%{-webkit-transform:rotate(0)}
	25%{-webkit-transform:rotate(-4deg)}
	50%{-webkit-transform:rotate(0)}
	75%{-webkit-transform:rotate(4deg)}
	100%{-webkit-transform:rotate(0)}
}
@keyframes tape2{
	0%{transform:rotate(0)}
	25%{transform:rotate(-4deg)}
	50%{transform:rotate(0)}
	75%{transform:rotate(4deg)}
	100%{transform:rotate(0)}
}
.tape3{top:5.1%;right:5.3%;width:2.7%;-webkit-animation:tape1 .8s linear infinite;animation:tape1 .8s linear infinite}
@-webkit-keyframes tape3{
	0%{-webkit-transform:rotate(0)}
	25%{-webkit-transform:rotate(-6deg)}
	50%{-webkit-transform:rotate(0)}
	75%{-webkit-transform:rotate(6deg)}
	100%{-webkit-transform:rotate(0)}
}
@keyframes tape3{
	0%{transform:rotate(0)}
	25%{transform:rotate(-6deg)}
	50%{transform:rotate(0)}
	75%{transform:rotate(6deg)}
	100%{transform:rotate(0)}
}

.cloud,.leaf{position:absolute;height:auto}
.cloud1{bottom:42.26%;left:1.875%;width:33.28%;-webkit-animation:cloud1 30s linear infinite;animation:cloud1 30s linear infinite}
@-webkit-keyframes cloud1{
	0%{-webkit-transform:translateX(0)}
	25%{-webkit-transform:translateX(-50%)}
	50%{-webkit-transform:translateX(0)}
	75%{-webkit-transform:translateX(50%)}
	100%{-webkit-transform:translateX(0)}
}
@keyframes cloud1{
	0%{transform:translateX(0)}
	25%{transform:translateX(-50%)}
	50%{transform:translateX(0)}
	75%{transform:translateX(50%)}
	100%{transform:translateX(0)}
}
.cloud2{bottom:56%;right:7.8%;width:29.6875%;-webkit-animation:cloud2 40s linear infinite;animation:cloud2 40s linear infinite}
@-webkit-keyframes cloud2{
	0%{-webkit-transform:translateX(0)}
	25%{-webkit-transform:translateX(120%)}
	50%{-webkit-transform:translateX(0)}
	75%{-webkit-transform:translateX(-70%)}
	100%{-webkit-transform:translateX(0)}
}
@keyframes cloud2{
	0%{transform:translateX(0)}
	25%{transform:translateX(120%)}
	50%{transform:translateX(0)}
	75%{transform:translateX(-70%)}
	100%{transform:translateX(0)}
}

.leaf1{left:0;bottom:11.77%;width:12.96%;-webkit-animation:leaf1 10s linear infinite;animation:leaf1 10s linear infinite;-webkit-transform-origin:bottom;transform-origin:bottom}
@-webkit-keyframes leaf1{
	0%{-webkit-transform:rotate(0)}
	25%{-webkit-transform:rotate(-5deg)}
	50%{-webkit-transform:rotate(0)}
	75%{-webkit-transform:rotate(5deg)}
	100%{-webkit-transform:rotate(0)}
}
@keyframes leaf1{
	0%{transform:rotate(0)}
	25%{transform:rotate(-5deg)}
	50%{transform:rotate(0)}
	75%{transform:rotate(5deg)}
	100%{transform:rotate(0)}
}
.leaf2{left:30.3%;bottom:1.58%;width:34.6875%}
.leaf3{left:53.59%;bottom:-11.77%;width:58.4375%}
.leaf4{right:9%;bottom:3.6%;width:14%}
.bottom{position:absolute;left:0;bottom:0;width:100%;height:auto}




@media screen and (max-width: 320px) {
	.title{display:block;width:60%;height:auto;margin:4.2% auto 0}
	.cock{left:28%;width:54%}
	.ewm{height:80px}
	.share img{height:40px}
}
/*  |xGv00|60c7addc1407d0a922f2aad43cb21651 */