@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0; border:none;}
ul,li,dl,dd,dt{ list-style:none; overflow:hidden;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

body{ background-color:#0a122d; font:normal 16px/30px "Microsoft YaHei"; color:#fff;}
.wrap{ width:100%; overflow:hidden;}
.inner{ width:990px; margin:0 auto; overflow:hidden;}

.banner{ height:710px; background:url(//mat1.gtimg.com/fj/zt2018/0705xsd/banner.jpg) no-repeat center top; overflow:hidden;}
.focus{ width:594px; height:327px; border:10px #fff solid; margin:95px 0 0 300px; overflow:hidden; position:relative;}
.descr{ padding:50px 60px;}

.bg1{ height:635px; background:url(//mat1.gtimg.com/fj/zt2018/0705xsd/bg1.jpg) no-repeat center top;}
.xxxr .hd{ text-align:center; overflow:hidden; padding-top:70px;}
.xxxr .bd{ width:875px; height:370px; padding:15px; background-color:#fff; overflow:hidden; margin:20px auto 40px; color:#000;}
.xxxr .bd dd{ width:405px;}
.xxxr .bd dt{ width:430px;}
.xxxr .bd dt h3{ height:60px; line-height:60px; font-size:44px; padding:60px 0 40px; text-align:center;}
.xxxr .bd dt h4{ width:430px; height:32px; padding-bottom:35px; font-size:28px; position:relative;}
.xxxr .bd dt h4 b{ width:120px; height:50px; line-height:50px; background-color:#fff;}
.xxxr .bd dt h4 span{ width:300px; height:2px; background-color:#000; position:absolute; right:10px; top:25px;}
.xxxr .bd dt p{ font-size:24px; line-height:38px; clear:both;}

.xqtg{ padding-top:20px;}
.scroll_A{position:relative; padding:10px 0 20px;}
.scroll_A .inner{position:relative;width:889px;height:445px;overflow:hidden;}
.scroll_A .split{width:921px;height:445px;float:left;}
.scroll_A .split .pic{ width:275px; height:210px; float:left; margin:0 16px 25px; position:relative;}
.scroll_A .split .pic h4{ width:275px; position:absolute; left:0; bottom:0; height:32px; line-height:32px; text-align:center; background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.scroll_A .btn{ width:17px; height:56px; position:absolute;top:50%;margin-top:-28px;cursor:pointer; background:url(//mat1.gtimg.com/fj/zt2018/0705xsd/icon1.gif) no-repeat left top;}
.scroll_A .prev{left:0;}
.scroll_A .next{right:0; background-position:right top;}

.jchx{ height:821px; background:url(//mat1.gtimg.com/fj/zt2018/0705xsd/bg4.jpg) no-repeat center bottom;}
.focus_A{ width:660px;height:410px;position:relative; margin:190px 0 0 285px;}
.focus_A .focus_con .item{position:relative;}
.focus_A .focus_con img{width:660px;height:370px;}
.focus_A .shadow{position:absolute;left:0;bottom:0;text-indent:1em;color:#FFF;width:100%;height:35px;line-height:35px;background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.focus_A .focus_dot{position:absolute;right:290px;bottom:0;}
.focus_A .focus_dot a{display:inline-block;width:14px;height:14px;line-height:20px;margin-right:5px; background:url(//mat1.gtimg.com/fj/zt2018/0705xsd/icon2.png) no-repeat right top;}
.focus_A .focus_dot a:hover,.focus_A .focus_dot .current{ background-position:left top;}
.focus_A .prevBtn,.focus_A .nextBtn{position:absolute;display:inline-block;width:26px;height:68px;top:50%;margin-top:-34px;cursor:pointer; background:url(//mat1.gtimg.com/fj/zt2018/0705xsd/icon3.png) no-repeat left top;}
.focus_A .prevBtn{left:20px;}
.focus_A .nextBtn{right:20px; background-position:right top;}/*  |xGv00|4761d00d8fa669d0db9796daedb806af */