@charset "gb2312";
/* CSS Document */
/*{width:100%;margin:0 auto; float:left;}
 #nav{width:100%;height:111px;float:left;border-bottom:1px solid #e6e6e6;}
 #nav .innernav{width:1200px;margin:0 auto;height:111px;}
 #nav .innernav .logo{background: url(../images/logo.png); width:300px;height:111px;float:left;}
 #nav .innernav .navlist{height:111px;float:left;}

 #nav .innernav .navlist ul{float:left;height:111px;}
 #nav .innernav .navlist ul li{width:75px;height:35px;float:left;margin-top:38px;margin-left:36px;}
 #nav .innernav .navlist ul li a{color:#333;text-decoration:none;line-height:35px;text-align :center;display:block}
 #nav .innernav .navlist ul .active{background:#1eb97b;}
 #nav .innernav .navlist ul .active a{color:#fff;text-decoration:none;}
 #nav .innernav .login{width:90px;height:30px;float:right;margin-top:40px;}*/



#wraper{ width:100%; height:auto; float:left}





/*d第二部分左边*/
 #main {width:1200px; margin:0 auto;}
 #main #mida{width:100%;float:left;}
 #main #mida .midaa{width:1200px;height:127px;margin-top:38px;float:left;}
 #main #mida .midaa .midaa1{background:#20c482; width:220px;height:127px;float:left;}
 #main #mida .midaa .midaa1 span a{font-size:28px;color:#fff;text-decoration:none;line-height:115px;text-align :center;display:block; font-family:"寰杞榛"}


/*第二部分中间*/
 #main #mida .midaa .midaa2{width:460px;height:127px;border:1px solid #e6e6e6;float:left;margin-left:30px;}
 #main #mida .midaa .midaa2 .midaa21{background:url(http://mat1.gtimg.com/edu/scampus/help/yyjq.jpg);width:80px;height:26px;float:left;margin-top:20px;margin-left:20px;}
 #main #mida .midaa .midaa2 .midaa22{float:left;margin-top:23px;margin-left:17px;color:#666666;font-size:14px;}
 #main #mida .midaa .midaa2 .midaa23{background:url(http://mat1.gtimg.com/edu/scampus/help/point.jpg);width:5px;height:5px;margin-top:70px;margin-left:22px;}
 #main #mida .midaa .midaa2 .midaa24{margin-top:-14px;margin-left:35px;float:left}
 #main #mida .midaa .midaa2 .midaa24 a{color:#444444;text-decoration:none;}
 #main #mida .midaa .midaa2 .midaa25{background:url(http://mat1.gtimg.com/edu/scampus/help/point.jpg);width:5px;height:5px;margin-top:23px;margin-left:22px;}
 #main #mida .midaa .midaa2 .midaa26{margin-top:-14px;margin-left:35px;float:left}
 #main #mida .midaa .midaa2 .midaa26 a{color:#444444;text-decoration:none;}
/*第二部分右边*/
 #main #mida .midaa .midaa3{width:460px;height:127px;border:1px solid #e6e6e6;float:right;}
 #main #mida .midaa .midaa3 .midaa31{background:url(http://mat1.gtimg.com/edu/scampus/help/yyjq.jpg);width:80px;height:26px;float:left;margin-top:20px;margin-left:20px;}
 #main #mida .midaa .midaa3 .midaa32{float:left;margin-top:23px;margin-left:17px;color:#666666;font-size:14px;}
 #main #mida .midaa .midaa3 .midaa33{background:url(http://mat1.gtimg.com/edu/scampus/help/point.jpg);width:5px;height:5px;margin-top:70px;margin-left:22px;}
 #main #mida .midaa .midaa3 .midaa34{margin-top:-14px;margin-left:35px;float:left}
 #main #mida .midaa .midaa3 .midaa34 a{color:#444444;text-decoration:none;}
 #main #mida .midaa .midaa3 .midaa35{background:url(http://mat1.gtimg.com/edu/scampus/help/point.jpg);width:5px;height:5px;margin-top:23px;margin-left:22px;}
 #main #mida .midaa .midaa3 .midaa36{margin-top:-14px;margin-left:35px;float:left}
 #main #mida .midaa .midaa3 .midaa36 a{color:#444444;text-decoration:none;}



/*第三部分*/
 #midb{width:100%;margin:16px auto;float:left;}
 #midb .midba{width:1200px;margin:16px auto;}
 #midb .midba .midbaa{width:248px;float:left;border:1px solid #e6e6e6;border-right-style: none; padding-bottom:40px;}
 #midb .midba .midbaa ul li{height:20px;width:110px;margin-top:35px;margin-left:50px;}
 #midb .midba .midbaa ul li a:hover{color:#288f66;text-decoration:none;background:url(http://mat1.gtimg.com/edu/scampus/help/you.png); width:110px; height:20px;}

 #midb .midba .midbaa ul li a {font-size:20px;color:#000;text-decoration:none;line-height:20px;display:block;}
 #midb .midba .midbaa ul .active a{color:#288f66;text-decoration:none;background:url(http://mat1.gtimg.com/edu/scampus/help/you.png); width:110px; height:20px;}


 #midb .midbb {width: 948px;float: left;border: 1px solid #e6e6e6;}
 #midb .midbb  .midbbx{width: 948px;border-bottom: 1px solid #e6e6e6;float: left;background: #fff; padding-bottom:30px; padding-top:30px;}
 #midb .midbb  .midbbx p{font-size:14px;color:#666666;line-height:28px; margin:0 40px;}
 #midb .midbb  .midbbx img {border: 3px solid #f3f3f3;display: block;margin: 25px auto;}
 #midb .midbb  .midbby{width: 948px;height: 50px;border-bottom: 1px solid #e6e6e6;float: left;background: #f8f8f8;}
 #midb .midbb .midbbx ul {margin: 15px 0px;}
 #midb .midbb .midbbx li {margin: 0 90px;display: list-item;font-size: 14px;list-style: initial; color: #909090;line-height: 24px;}
 
 
 #midb .midbb .midbby p{color:#666666;margin-top:16px;margin-left:22px;font-size:16px;}
 #midb .midbb .midbby li{cursor:pointer;float:right;display:block;background:url(http://mat1.gtimg.com/edu/scampus/help/upward.png);width:11px;height:7px;margin-top:-18px;margin-right:18px;}
 #midb .midbb .midbby .active {cursor:pointer;float:right;display:block;background:url(http://mat1.gtimg.com/edu/scampus/help/downward.png);width:11px;height:7px;margin-top:-18px;margin-right:18px;}





/*尾部*/
#footer{ width:100%; height:350px; float:left; background:#f2f2f2; margin-top:50px; border-top: solid 1px #e8e8e8}
#footer .footbox{ width:1200px; height:auto; margin:0px auto}
#footer .footbox ul{ width:1200px; height:14px; float:left; margin-top:30px; font-size:14px; color:#444444}
#footer .footbox .fb01{ width:60px; height:14px; float:left; margin-right:20px; margin-left:30px}
#footer .footbox ul a{color:#444444; text-decoration:none}
#footer .footbox li {height: 18px;float: left;margin-left: 20px;margin-right: 20px;font-size: 17px;line-height: 18px;color: #444;}
#footer .footbox .hzlx{width:1200px; height:46px; margin-top:40px;margin-bottom: 20px; float:left;}
#footer .footbox .hzlx p{font-size:36px;font-family:"微软雅黑"; text-align:center;color:#444444;}


#footer .footbox .fbfoot{ width:1200px; height:auto; float:left; text-align:center; margin-top:40px}
#footer .footbox .smbox{width:1200px; height:80px; margin-top:30px; float:left; margin-top:50px; margin-bottom:100px;}
#footer .footbox .hz{width:1200px; height:auto; text-align:center;}
#footer .footbox .hz span{height:18px; margin-left:20px; margin-right:20px; font-size:17px; line-height:18px; color:#444;}



/*  |xGv00|ed6b20b9fd885dc8e1a796baf2a3a332 */