@charset "gb2312";
/* CSS Document */

#wraper{ width:100%; height:auto; float:left; position:relative}


#wz{ width:100%; height:auto; float:left}
#wz .wztop{ width:100%; height:95px; float:left; background:#f7f7f7; font-size:40px; line-height:36px; color:#444444; text-align:center; padding-top:45px}
#wz .wztop a{color:#444444; text-decoration:none}
#wz .wbox{ width:1200px; height: auto; margin:0px auto; margin-top:160px}
/*消息信息*/
#wz .wbox .wbleft{ width:300px; height:auto; float:left}
#wz .wbox .wbleft .wbl_a{ width:300x; height:203px; float:left; background:#f7f7f7; margin-bottom:20px}
#wz .wbox .wbleft .wbl_a .wbl_atitle{ width:300px; height:45px; float:left; border-top: solid 1px #1eb97b; font-size:20px; line-height:36px; color:#444444; text-align:center; padding-top:10px}
#wz .wbox .wbleft .wbl_a .wbl_aaz{ width:300px; height:152px; float:left; border-top: solid 1px #e6e6e6}
#wz .wbox .wbleft .wbl_a .wbl_aaz ul{ width:280px; height:85px; float:left; margin-top:15px; margin-left:20px}
#wz .wbox .wbleft .wbl_a .wbl_aaz li{ width:90px; height:26px; float:left; font-size:16px; line-height:26px; color:#444444; text-align:center}
#wz .wbox .wbleft .wbl_a .wbl_aaz li:hover{ width:90px; height:26px; float:left; background:#1eb97b }
#wz .wbox .wbleft .wbl_a .wbl_aaz ul a{color:#444444; text-decoration:none}
#wz .wbox .wbleft .wbl_a .wbl_aaz li:hover a{ color:#FFF}
#wz .wbox .wbleft .wbl_a .wbl_aaz .wbyjaz{ width:112px; height:30px; float:left; margin-left:84px; background:url(//mat1.gtimg.com/edu/scampus/suite/img_az.jpg) no-repeat center center; font-size:14px; line-height:32px; color:#1eb97b; padding-left:20px}
#wz .wbox .wbleft .wbl_a .wbl_aaz .wbyjaz a{color:#1eb97b;}
#wz .wbox .wbleft .wbl_a .wbl_aaz .wbyjaz:hover{width:112px; height:30px; float:left; margin-left:84px; background: url(//mat1.gtimg.com/edu/scampus/suite/img_az_hover.png) no-repeat center center; font-size:14px; line-height:32px; color:#ffffff; padding-left:20px}
#wz .wbox .wbleft .wbl_a .wbl_aaz .wbyjaz:hover a{ color:#ffffff; text-decoration:none}

/*右侧班级助手*/
#wz .wbox .wbright{ width:860px; height:870px; float:right; border: solid 1px #f0f0f0; border-top: solid 1px #1eb97b}
#wz .wbox .wbright .wbrbox{ width:780px; height: auto; float:left; margin-left:40px}
#wz .wbox .wbright .wbrbox .wbrzs{ width:780px; height:130px; float:left; margin-top:50px; border-bottom: solid 1px #f0f0f0;}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft{ width:310px; height:100px; float:left; border-right: solid 1px #f0f0f0}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslpt{ width:100px; height:100px; float:left; margin-right:20px}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslr{ width:170px; height:100px; float:left}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslr h2{ width:170px; height:36px; font-size:22px; float:left; color:#444444;}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslr p{width:170px; height:36px; font-size:14px; float:left; color:#666666;}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslr .zslraz{ width:47px; height:23px; float:left; background:url(//mat1.gtimg.com/edu/scampus/suite/img_zs_az.png) no-repeat center center; font-size:14px; line-stacking:26px; color:#1eb97b; text-align:center; padding-top:3px}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslr .zslraz a{color:#1eb97b; text-decoration:none}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslr .zslraz:hover{width:47px; height:23px; float:left; background:url(//mat1.gtimg.com/edu/scampus/suite/img_zs_azhover.png) no-repeat center center; font-size:14px; line-stacking:26px; color:#ffffff; text-align:center; padding-top:3px}
#wz .wbox .wbright .wbrbox .wbrzs .zsleft .zslr .zslraz:hover a{ color:#ffffff}

#wz .wbox .wbright .wbrbox .wbrzs .zsright{ width:440px; height:10px; float:right}
#wz .wbox .wbright .wbrbox .wbrzs .zsright p{ font-size:14px; line-height:26px; float:left; color:#444444}
#wz .wbox .wbright .wbrbox .wbrzs .zsright p a{color:#444444; text-decoration:none}
#wz .wbox .wbright .wbrbox .wbrzs .zsright .bz{ width:80px; height:16px; float:right; font-size:14px;color:#444444; margin-top:20px}
#wz .wbox .wbright .wbrbox .wbrzs .zsright .bz span{ width:15px; height:15px; float:right; margin-top:2px}
#wz .wbox .wbright .wbrbox .wbrzs .zsright .bz a{ color:#444444; text-decoration:none}




/*特色功能*/
#wz .wbox .wbright .wbrbox .tsgn{ width:780px; height:auto; float:left}
#wz .wbox .wbright .wbrbox .tsgn .ttitle{ width:300px; height:22px; float:left; margin-top:30px; border-left: solid 5px #1eb97b; font-size:22px; color:#444444;}
#wz .wbox .wbright .wbrbox .tsgn .ttitle h3{font-size:22px; color:#444444; margin-left:10px; line-height:22px}
#wz .wbox .wbright .wbrbox .tsgn .ttitle h3 a{color:#444444; text-decoration:none}

/*左侧*/
#wz .wbox .wbright .wbrbox .tsgn .gnbox{ width:780px; height:578px; float:left; margin-top:30px}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnptbox{ width:330px; height:578px; float:left; background:#f7f7f7}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnptbox .gnpt{ width:320px; height:569px; float:left; margin:5px 5px 4px 5px}

/*右侧*/
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright{ width:420px; height:578px; float:right}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright .gnlist{ width:440px; height:578px; float:left; overflow:hidden}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright .gnlist .gn01{ width:200px; height:167px; float:left; margin-right:20px; margin-bottom:20px;background:#f7f7f7}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright .gnlist .gn01 .gn01_box{ width:175px; height:130px; float:left; margin:20px auto auto 15px}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright .gnlist .gn01 .gn01_box h4{ width:200px; height:18px; float:left; font-size:18px; line-height:18px; color:#288f66; margin-bottom:20px }
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright .gnlist .gn01 .gn01_box h4 a{color:#288f66; text-decoration:none}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright .gnlist .gn01 .gn01_box p{ font-size:14px; line-height:24px; float:left; color:#666666}
#wz .wbox .wbright .wbrbox .tsgn .gnbox .gnright .gnlist .gn01 .gn01_box p a{color:#666666; text-decoration:none}

/*尾部*/

#footer{ width:100%; height:360px; float:left; background:#f2f2f2; margin-top:50px; border-top: solid 1px #e8e8e8}
#footer .footbox{ width:1200px; height:auto; margin:0px auto}
#footer .footbox li {height: 18px;float: left;margin-left: 20px;margin-right: 20px;font-size: 17px;line-height: 18px;color: #444;}
#footer .footbox .hzlx{width:1200px; height:46px; margin-top:40px;margin-bottom: 20px; float:left;}
#footer .footbox .hzlx p{font-size:36px;font-family:"微软雅黑"; text-align:center;color:#444444;}
#footer .footbox ul{ width:1200px; height:auto; float:left; margin-top:30px; }
#footer .footbox .fb01{ width:60px; height:14px; float:left; margin-right:20px; margin-left:30px}
#footer .footbox .fb02{ height:14px; float:left}
#footer .footbox ul a{color:#444444; text-decoration:none}

#footer .footbox .smbox{width:1200px; height:80px; margin-top:30px; float:left; margin-top:50px; margin-bottom:100px;}
#footer .footbox .hz{width:1200px; height:auto; text-align:center;}
#footer .footbox .hz span{height:18px; margin-left:20px; margin-right:20px; font-size:17px; line-height:18px; color:#444;}








/*浮层应用安装*/
/*
#wraper .fcbox{ width:100%; height:1400px; float:left; margin:0px auto; background:url(//mat1.gtimg.com/edu/scampus/suite/img_fcbj.png) repeat center center; position: absolute; top:0px; left:0px}
#wraper .fcbox .azbox{ width:800px; height:480px; float:left; background:#ffffff; position:absolute; top:270px; left:25%}
#wraper .fcbox .azbox .azgb{ width:17px; height:17px; float:right; margin:15px 15px auto auto;}
#wraper .fcbox .azbox .azbbox{ width:750px; height:370px; float:left; margin-top:25px; margin-left:20px}
#wraper .fcbox .azbox .azbbox .azleft{ width:370px; height:378px; float:left; background:url(//mat1.gtimg.com/edu/scampus/suite/img_fc_leftd.png) no-repeat center bottom}
#wraper .fcbox .azbox .azbbox .azleft .azpt{245px; height:358px; float:left; margin-left:60px}

/*二维码*/
/*
#wraper .fcbox .azbox .azbbox .azewm{ width:330px; height:370px; float:left; border-left: solid 1px #f0f0f0; margin-left:10px}
#wraper .fcbox .azbox .azbbox .azewm .sqaz{ width:370px; height:18px; line-height:18px; float:left; color:#444444; text-align:center; margin-top:44px}
#wraper .fcbox .azbox .azbbox .azewm .ewmbox{ width:260px; height:260px; float:left; border: solid 1px #f0f0f0; margin:35px auto auto 65px}
#wraper .fcbox .azbox .azbbox .azewm .ewmbox .ewm{ width:240px; height:240px; float:left; margin:10px 10px}

*/



/*浮层套件安装*/
#wraper .tjazbox{ width:100%; height:1400px; float:left; margin:0px auto;background:url(//mat1.gtimg.com/edu/scampus/suite/img_fcbj.png) repeat center center; position: absolute; top:0px; left:0px}
#wraper .tjazbox .tjaz{width:800px; height:440px; float:left; background:#ffffff; position:absolute; top:270px; left:25%}
#wraper .tjazbox .tjaz .tjaztop{width:800px; height:480px; float:left;}
#wraper .tjazbox .tjaz .tjaztop .azgb{ width:17px; height:17px; float:right; margin:15px 15px auto auto;}
#wraper .tjazbox .tjaz .tjaztop .azbbox{ width:750px; height:370px; float:left; margin-top:25px; margin-left:20px}
#wraper .tjazbox .tjaz .tjaztop .azbbox .azleft{ width:370px; height:378px; float:left; background:url(//mat1.gtimg.com/edu/scampus/suite/img_fc_leftd.png) no-repeat center bottom}
#wraper .tjazbox .tjaz .tjaztop .azbbox .azleft .azpt{245px; height:358px; float:left; margin-left:60px}
/*二维码*/
#wraper .tjazbox .tjaz .tjaztop .azewm{ width:330px; height:370px; float:left; border-left: solid 1px #f0f0f0; margin-left:10px}
#wraper .tjazbox .tjaz .tjaztop .azewm .sqaz{ width:370px; height:18px; line-height:18px; float:left; color:#444444; text-align:center; margin-top:44px}
#wraper .tjazbox .tjaz .tjaztop .azewm .ewmbox{ width:260px; height:260px; float:left; border: solid 1px #f0f0f0; margin:35px auto auto 65px}
#wraper .tjazbox .tjaz .tjaztop .azewm .ewmbox .ewm{ width:240px; height:240px; float:left; margin:10px 10px}

/*应用*/
#wraper .tjazbox .tjaz .tjazyy{ width:800px; height:180px; float:left; }
#wraper .tjazbox .tjaz .tjazyy .title{ width:660px; height:18px; float:left; background:url(//mat1.gtimg.com/edu/scampus/suite/img_yydi.png) no-repeat center center; margin-left:60px; font-size:18px; line-height:18px; color: #444444; text-align:center}
#wraper .tjazbox .tjaz .tjazyy .yylist{ width:700px; height:130px; float:left; margin-top:25px; margin-left:60px; overflow:hidden}
#wraper .tjazbox .tjaz .tjazyy .yylist .yy01{ width:100px; height:130px; float:left; margin-right:40px;}
#wraper .tjazbox .tjaz .tjazyy .yylist .yy01 .yypt{ width:100px; height:100px; float:left}
#wraper .tjazbox .tjaz .tjazyy .yylist .yy01 p{ font-size:16px; line-height:30px; float:left; color:#444444; padding-left:10px}
/*  |xGv00|ac241ec866a980a4cf2a205a67ab0cef */