@charset "gb2312";
/*===== 重置 =====*/
body { font:12px/1.5 "微软雅黑","Microsoft YaHei" Tahoma, "宋体"; color:#266323; margin:0; min-width:1000px; background:#ffffff;OVERFLOW-X: hidden }
h1, h2, h3, h4, h5, h6, div, p, ul, ol, dl, dd, dt, abbr, form, input, img { margin: 0; padding: 0; }
img { border:0; }
table { border-collapse:collapse; }
th { font-weight:normal; }
h1, h2, h3 { font-size:100%; }
a { color:#266323; text-decoration:none; outline:none; }
a:hover { color:#266323; text-decoration:underline; }
ul { margin:0; padding:0 }
ul li { list-style:none }
.clear { clear:both; }
/*-----------------rest---------------------------------*/
.hide { display:none }
.link { position:absolute; display:block; text-indent:-9999px }
.pos_r { position:relative; }
.l,.fl { float:left; }
.r,.fr { float:right; }
.b { display:block; }
.t { text-indent:-9999px; }
.s { font-weight:bold; }
.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.yahei { font-family:"微软雅黑", "Microsoft YaHei"; }
.macen { margin:0 auto; }
/*--------------------------------------------------*/
.bg1 { background:url(//mat1.gtimg.com/gd/2014breakfast/bg1.jpg) no-repeat center top; width:100%; min-width:1000px; }
.bg2 { background:url(//mat1.gtimg.com/gd/2014breakfast/bg2.jpg) no-repeat center 560px; width:100%; min-width:1000px; }
.bg3 { background:url(//mat1.gtimg.com/gd/2014breakfast/bg3.jpg) no-repeat center 1200px; width:100%; min-width:1000px; }
.wrap { margin: 0 auto; width: 1000px; position: relative; z-index: 1; }
#header { height: 560px; z-index: 2; }
.video_box { position: absolute; width: 395px; height: 291px; top: 186px; left: 601px; }
.btn_top { width: 318px !important; height: 123px !important; background-image:none !important; top: 386px; left: 246px; }

/*右浮动导航*/
.float{width:198px; height:209px; background:url(//mat1.gtimg.com/gd/2014breakfast/right.png) no-repeat; position:fixed; left:50%; margin-left:525px; top:130px;_position: absolute;_top: expression(eval(document.documentElement.scrollTop + 130));overflow: hidden; text-align:center;}
.float .title{ text-align:center; line-height:53px; height:53px; font-weight:bold; padding-bottom:8px;}
.float .title p{ color:#ffffff; font-size:32px;}
.float .title p span{ font-family:simsun;}
.float img{ width:140px; height:140px; vertical-align:top;}

#m_wrap{ height:635px;}

#main { height: 568px; width: 1000px; position:absolute; z-index: 1; }
.round{ position:absolute;}
.round p{ font-size:18px; line-height:23px; font-weight:bold; color:#00501f;}
.r11{ top: 64px; left: -10px; width: 569px; height: 445px; background: url(//mat1.gtimg.com/gd/2014breakfast/r1.png) no-repeat; }
.r12{ top: 73px; right: -41px; width: 585px; height: 452px; background: url(//mat1.gtimg.com/gd/2014breakfast/r12.png) no-repeat; }
.r11 p{ padding-top: 365px; padding-left: 20px; }
.r12 p{ padding-top: 375px; padding-left: 20px; }
.vs1{ position: absolute; top: 187px; width: 82px; height: 145px; background: url(//mat1.gtimg.com/gd/2014breakfast/vs.png) no-repeat; left: 469px; }

/*main1*/
#main1{ height: 720px; width: 1000px; position: absolute; top: 40px; }
.r21{ top: 25px; left: 5px; width: 567px; height: 373px; background: url(//mat1.gtimg.com/gd/2014breakfast/r2.png) no-repeat; }
.r22{ top: 28px; right: -34px; width: 556px; height: 369px; background: url(//mat1.gtimg.com/gd/2014breakfast/r22.png) no-repeat; }
.r21 p{ padding-top:360px; padding-left:20px;}
.r22 p{ padding-top:370px; padding-left:20px;}
.vs2{ position: absolute; top: 154px; width: 82px; height: 145px; background: url(//mat1.gtimg.com/gd/2014breakfast/vs.png) no-repeat; left: 478px; }
.text_box{ position: absolute; top: 389px; left: 13px; width: 778px; height: 88px; background: url(//mat1.gtimg.com/gd/2014breakfast/r2_tbg.png) no-repeat; line-height: 19px; padding-top: 15px; padding-left: 60px; padding-right: 60px; }
.text_box p,.text_box a{ font-size:18px; line-height:23px; font-weight:bold; color:#00501f;}






/*main2*/
#main2{ height: 909px; width: 1000px; position: absolute; top: -30px; }
#main2 .top{ width: 1000px; height: 397px; color: #00501f; background: url(//mat1.gtimg.com/gd/2014breakfast/m2_bot.png) no-repeat; position: absolute; top: 120px; left: 0px; }
#main2 .top .left{ float:left; width:50%; height:446px;}
#main2 .top .left p{ font-size: 18px; line-height: 24px; font-weight: bold; padding: 315px 70px 0 40px; }
#main2 .top .right{ float:left; width:50%; height:446px;}
#main2 .top .right p{ font-size: 18px; line-height: 24px; font-weight: bold; padding: 315px 20px 0 55px; }

#main2 .bot { width: 720px; position: absolute; top: 122px; left: 50%; margin-left:-360px; height: 455px; overflow: hidden; }
.if_inside{ position:absolute; top:-685px;}
.spr { background: url(//mat1.gtimg.com/gd/2014breakfast/sprBg.png) no-repeat; }
.db{ display:block;}
.listShow { clear: both; overflow: hidden; }
.listShow li { width: 212px; float: left; margin-right: 4px; margin-bottom:5px; background:#ffffff; }
.listShow .last { margin-right: 0; }
.listImg { width: 212px; height: 174px; position: relative; overflow: hidden; }
.pageNum { bottom: -2px; left: 0; width: 40px; height: 21px; background-color: #000; line-height: 21px; font-size: 12px; text-align: center; color: #FFF; filter: alpha(opacity=60); opacity: 0.6; }
.badgeNew { height: 26px; padding-right:3px; background-color: #ffae00; position: absolute; left: 0; top: 8px; font-size: 18px; line-height: 27px; color: #FFF; }
.badge { width: 18px; height: 16px; margin: 5px 5px 0 5px; background-position: -556px -67px; overflow: hidden; }
.badgArrow { width: 10px; height: 26px; position:absolute; top:0; right:-10px; display:block;background-position: -536px -73px; }
.grey .badgeNew { background-color: #a5a5a5; }
.grey .badge { background-position: -556px -83px; }
.grey .badgArrow { background-position: -546px -73px; }
.showInfo { padding: 0 45px 0 5px; border: 1px solid #e2e2e2; border-top: none; line-height: 35px; position: relative; overflow: hidden; }
.showInfo span, .showSum { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.showInfo span { width: 150px; }
.showInfo .sPrise, .pageNum { position: absolute; }
.showInfo .sPrise { right: 0; top: 0; margin-right: 5px; _right: 150px; _top: 10px; _width:60px; }
.incoPraise, .incoNoPraise { width: 15px; height: 15px; display: inline-block; margin-right: 2px; vertical-align: middle; }
.incoPraise { background-position: -575px -67px; }
.incoNoPraise { background-position: -575px -84px; }


#main3{ height: 1120px; width: 1000px; position: relative; }
#main3 .top { width: 720px; position: absolute; top: 122px; left: 50%; margin-left:-360px; height: 455px; overflow: hidden; }
#main3 .m3_wrap{ padding-top:914px; padding-bottom:30px; padding-left: 65px;}
#main3 .bot{ width: 810px; height: auto; padding: 0px 25px 15px 25px; border: 3px solid #84c179; background: #aee1a5; color: #32a06b; line-height: 24px; position:relative; }
#main3 .bot p{ color:#266323; }
#main3 .bot h3{ font-size: 23px; line-height: 32px; font-style: italic; padding-bottom: 8px; font-weight: bold; color: #088a57; padding-left: 60px; }
#main3 .bot h3 .num{ position: absolute; top: -8px; left: 25px; display: block; background: #07923d; width: 53px; height: 48px; line-height: 48px; color: #a2d18e; text-align: center; -webkit-transform: skew(-18deg); -moz-transform: skew(-18deg); font-style: normal; }
#main3 .btn_bot{ display: block; width: 356px !important; height: 288px !important; background-image:none !important; position: absolute; top: 588px; right: 317px; text-indent: -9999px; }

#main4{ height: auto; margin: 0 auto; padding: 0px 25px 30px 25px; border-top: 7px solid #fcce3a; background: #ffd800; color: #32a06b; line-height: 24px; }
#main4 h3{ font-size: 23px; line-height: 32px; font-style: italic; padding-bottom: 8px; font-weight: bold; color: #088a57; padding-left: 40px; }
#main4 h3 .num{ position: absolute; top: -11px; left: -14px; display: block; background: #07923d; width: 53px; height: 48px; line-height: 48px; color: #a2d18e; text-align: center; -webkit-transform: skew(-18deg); -moz-transform: skew(-18deg); font-style: normal; }
#main4 .wrap{ width:810px; position: relative;}
#main4 ul{}
#main4 ul li{ font-style: italic; font-weight:bold; font-size:18px; line-height:24px; color:#088a57; }
#main4 ul li span{ display:inline-block; width:20px; padding-right:7px; vertical-align:middle; text-align:center; height:24px; background:url(//mat1.gtimg.com/gd/2014breakfast/d.jpg) no-repeat 0 1px;}



.moveInLeft { -webkit-animation: moveInLeft  0.3s ease; -moz-animation: moveInLeft  0.3s ease; -o-animation: moveInLeft  0.3s ease; animation: moveInLeft  0.3s ease; -webkit-animation-fill-mode: backwards; -moz-animation-fill-mode: backwards; -o-animation-fill-mode: backwards; animation-fill-mode: backwards }
.moveInRight { -webkit-animation: moveInRight 0.3s ease; -moz-animation: moveInRight  0.3s ease; -o-animation: moveInRight  0.3s ease; animation: moveInRight  0.3s ease; -webkit-animation-fill-mode: backwards; -moz-animation-fill-mode: backwards; -o-animation-fill-mode: backwards; animation-fill-mode: backwards }
.fadeIn { -webkit-animation: fadeIn  0.3s ease 0.1s; -moz-animation: fadeIn  0.3s ease 0.1s; -o-animation: fadeIn  0.3s ease 0.1s; animation: fadeIn  0.3s ease 0.1s; -webkit-animation-fill-mode: backwards; -moz-animation-fill-mode: backwards; -o-animation-fill-mode: backwards; animation-fill-mode: backwards }


@-webkit-keyframes fadeIn { 
0% {
transform:scale(0.5);
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	-o-transform:scale(0.5);
	-ms-transform:scale(0.5);
}
50% {
transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
}
100% {
transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
}
}
@keyframes fadeIn { 
0% {
transform:scale(0.5);
	-webkit-transform:scale(0.5);
	-moz-transform:scale(0.5);
	-o-transform:scale(0.5);
	-ms-transform:scale(0.5);
}
50% {
transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
}
100% {
transform:scale(0);
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
}
}

@-webkit-keyframes moveInLeft { 0% {
-webkit-transform:translateX(40px);
opacity:0
}
100% {
-webkit-transform:translateX(0px);
opacity:1
}
}
@keyframes moveInLeft { 0% {
transform:translateX(100px);
opacity:0
}
100% {
transform:translateX(0px);
opacity:1
}
}
@-webkit-keyframes moveInRight { 0% {
-webkit-transform:translateX(-100px);
opacity:0
}
100% {
-webkit-transform:translateX(0px);
opacity:1
}
}
/*  |xGv00|bb6c43a6517c824abaad0fcd852a1ee4 */