/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#333; font-size:12px; font-family:Tahoma,"\5B8B\4F53";}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
body{ }
.wrapper{ width:1000px; margin:0 auto;}

.fl{ float:left}
.fr{ float:right}


/************************车友版首页********************************/
.wrapper_index{ width:100%; height:457px; background:#FFD900 url(//mat1.gtimg.com/auto/01/1/gzgzcyb/index_bg.png) center top no-repeat; padding:60px 0;}

.ind_left{ width:360px; height:477px; color:#fff; position:relative}
.ind_right{ width:620px;}

.ind_left h4{ font:100 20px/36px "\5FAE\8F6F\96C5\9ED1"; position:absolute; top:310px; right:80px;}
.ind_left div{font:100 12px/22px "\5B8B\4F53"; color:#fff; width:150px; height:80px; text-indent:2em; position:absolute; top:350px; right:40px;}

.ind_right ul li{ float:left; width:150px; height:150px; position:relative; margin:0 5px 5px 0px; _display:inline}
.ind_right ul li h3,.ind_right ul li div.bg{ display:none}
.ind_right ul li.on h3,.ind_right ul li.on div.bg{ display:block}
.ind_right ul li .bg{width:150px; height:150px; background:#000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6; position:absolute; top:0; left:0;}
.ind_right ul li h3{ width:110px; height:110px; color:#fff; font:100 12px/24px "\5B8B\4F53"; text-align:center; padding:40px 20px 0; position:absolute; top:0px; left:0;}
.ind_right ul li h3 a{ display:block; width:110px; height:110px}
.ind_right ul li h3 a:link,.ind_right ul li h3 a:visited{ color:#fff;}
.ind_right ul li h3 a:hover,.ind_right ul lih3 a:active{ color:#ff0;}
.ind_right ul li#special_one{ width:140px; height:140px; background:#FCBD0D; padding:5px;}
.li_block_img{ width:36px; height:36px;}
.li_blcok_text{ width:94px;}
.li_blcok_text h4,.li_blcok_text h5{ font:100 12px/18px "\5B8B\4F53";}
.li_blockB{ height:73px; margin-top:10px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/index_text_bg.png) center top no-repeat; padding:20px 10px 0; font:100 12px/22px "\5B8B\4F53";}
.li_blockB h5{font:100 12px/18px "\5B8B\4F53";}
.ind_right ul li#special_two{ width:265px; height:110px; padding:20px; background:#3B3B3B; overflow:hidden}
#special_two  h2{font:100 28px/46px "\5FAE\8F6F\96C5\9ED1"; padding-bottom:10px; border-bottom:1px solid #505050; margin-bottom:10px;}
#special_two  h2 a:link,#special_two  h2 a:visited{ color:#ffba00}
#special_two  h2 a:hover{ color:#fff}
#special_two h5{font:100 12px/24px "\5B8B\4F53";}
#special_two h5 a:link,#special_two h5 a:visited{ color:#939392}
#special_two h5 a:hover{ color:#ffba00}
.ind_right ul li#special_three{ background:#3B3B3B;}
#special_three h6{ width:123px; height:75px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/index_forward.png) no-repeat; margin:37px 0 0 10px; font:100 20px/38px "\5FAE\8F6F\96C5\9ED1"; padding-left:6px;}
#special_three h6 a{ display:block; width:123px; height:75px;}
#special_three h6 a:link,#special_three h6 a:visited{ color:#ffba00}
#special_three h6 a:hover{ color:#fff; text-decoration:none;}


/*导航*/
.wrapper_nav_ind{ width:100%; height:85px; background:#232323 url(//mat1.gtimg.com/auto/01/1/gzgzcyb/nav.png) center top no-repeat; }
.wrapper_nav_ind .wrapper ul li{ float:left; width:191px; height:85px; text-align:center; font:100 22px/85px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.wrapper_nav_ind .wrapper ul li.on{ height:85px; background: url(//mat1.gtimg.com/auto/01/1/gzgzcyb/index_li_bg.png) repeat-x; position:relative;}
.wrapper_nav_ind .wrapper ul li a{ display:block; width:191px; height:85px;}
.wrapper_nav_ind .wrapper ul li a:link,.wrapper_nav_ind .wrapper ul li a:visited{ color:#fff}
.wrapper_nav_ind .wrapper ul li a:hover{ color:#ff0; text-decoration:none;}
.wrapper_nav_ind .wrapper ul li.on a:link,.wrapper_nav_ind .wrapper ul li.on a:visited{ color:#fff;}
.wrapper_nav_ind .wrapper ul li.on a:hover{color:#2c2c2c;text-decoration:none; }
.wrapper_nav_ind .wrapper ul li.on span{ display:block; width:25px; height:20px; background: url(//mat1.gtimg.com/auto/01/1/gzgzcyb/navli_arrow.png); position: absolute; top:-20px; left:83px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/ind_red.gif",sizingMethod="crop"); 
_background-image:none;}

/******************车友版 All In One***************************/

.wrapper_one{ width:100%; height:501px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_bg.png) repeat; padding:40px 0; z-index:9}
.tag_z{ width:1000px; height:510px; position:relative}
.one_block{ width:25px; height:25px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/one_col_bg.png) no-repeat; position:absolute; z-index:99;}
.one_bg1{ left:0; top:0}
.one_bg2{ right:0; top:0;}
.one_bg3{ left:0; bottom:0;}
.one_bg4{ bottom:0; right:0;}
#tag_title_z{ width:700px; height:50px; padding-left:290px; background:#000 url(//mat1.gtimg.com/auto/01/1/gzgzcyb/one_timeline.png) center center no-repeat; position:absolute; bottom:5px; left:5px; z-index:999}
#tag_title_z li{ float:left; width:50px; height:28px; background:#24A087; text-align:center; font:100 14px/28px "\5B8B\4F53"; color:#fff; margin:11px 10px; cursor:pointer;}
#tag_title_z li span{ display:block; width:50px; height:28px; background:#24A087;}
#tag_title_z li.on span{ background:#FAA501}
#tag_title_z li span.one_li_gray{ background:#8C8C8C}

#tag_body_z{ width:990px; height:450px;  position:absolute; top:5px; left:5px; z-index:9999;}
.one_wx{ width:260px; height:370px; padding:20px; position:absolute; top:25px; right:25px;  background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9; color:#fff}
.one_wx h4{font:100 18px/36px "\5FAE\8F6F\96C5\9ED1"; text-align:center}
.one_wx_text{ color:#fff; font:100 12px/24px "\5B8B\4F53"; border-top:2px solid #515151; padding:10px 0;}
.one_wx_block{ height:64px; padding:15px 0; border-top:1px solid #3D3C3C}
.one_img{ width:65px;}
.one_text{ width:175px;}
.one_text h4{font:600 12px/24px "\5B8B\4F53"; text-align:left}
.one_text h4 a.ricon{ display:inline-block; padding-right:20px; background:url(//mat1.gtimg.com/auto/img/ico/icoTrue1.png) no-repeat right center; color:#fff}
.one_text h5{font:100 12px/20px "\5B8B\4F53"; color:#fff}

/* qqPlayer */
.says{width:259px; height:35px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/one_wx.png) no-repeat; overflow:hidden; margin-top:10px;}
.qqcom_player{ overflow:hidden; zoom:1; cursor:pointer; width:200px; height:17px; margin:9px 11px 19px 20px;}
.qqcompalyer_btn_play_unchk,
.qqcompalyer_btn_play_hover{ overflow:hidden; cursor:pointer; width:175px; height:17px; border:0; padding-left:25px; line-height:17px; text-align:left;}
.qqcompalyer_btn_play_unchk{ background:url(//mat1.gtimg.com/auto/slt/playIconG.png) no-repeat scroll 0 0 transparent; color:#333; font:600 14px/17px "\5B8B\4F53";}
.qqcompalyer_btn_play_hover{ background:url(//mat1.gtimg.com/auto/slt/palyicg.gif) no-repeat scroll 0 0 transparent; color:#FE5302; font:600 14px/17px "\5B8B\4F53";}
.qqcompalyer_btn_play_chk{ display:inline; overflow:hidden; float:left; width:20px; height:17px; margin-right:5px; border:0; padding:0; background:url(//mat1.gtimg.com/auto/slt/palyicg.gif) no-repeat scroll 0 0 transparent; line-height:17px; text-indent:-9999em;}
.qqcompalyer_pro{ float:left; width:85px; height:6px; margin-top:5px; background:url(//mat1.gtimg.com/auto/slt/playheise.png) repeat-x; line-height:0;}
.qqcompalyer_pro div{ overflow:hidden; width:0px; height:6px; background:#ef8a12 url(//mat1.gtimg.com/auto/slt/playhuangse.png) repeat-x; line-height:0;}

/*翻页*/
.one_back{ display:block; width:89px; height:56px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_left.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/a_left.gif",sizingMethod="crop"); 
_background-image:none; position:absolute; top:285px; left:0;}
.one_forward{ display:block; width:90px; height:56px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_right.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/a_right.gif",sizingMethod="crop"); 
_background-image:none; position:absolute; top:285px; right:0;}


/*导航*/
.wrapper_nav_one{ width:100%; height:85px; background:#232323 url(//mat1.gtimg.com/auto/01/1/gzgzcyb/nav.png) center top no-repeat; }
.wrapper_nav_one .wrapper ul li{ float:left; width:191px; height:85px; text-align:center; font:100 22px/85px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.wrapper_nav_one .wrapper ul li.on{ height:85px; padding-top:20px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_nav_on.png) no-repeat; margin-top:-20px;}
.wrapper_nav_one .wrapper ul li a{ display:block; width:191px; height:85px;}
.wrapper_nav_one .wrapper ul li a:link,.wrapper_nav_one .wrapper ul li a:visited{ color:#fff}
.wrapper_nav_one .wrapper ul li a:hover{ color:#ff0; text-decoration:none;}
.wrapper_nav_one .wrapper ul li.on a:link,.wrapper_nav_one .wrapper ul li.on a:visited{ color:#2c2c2c;}
.wrapper_nav_one .wrapper ul li.on a:hover{color:#fff;text-decoration:none; }


/********************车友版--S联盟**************************/

.wrapper_yellow{ width:100%; height:545px; padding-top:31px; background:#FE9A1C url(//mat1.gtimg.com/auto/01/1/gzgzcyb/yellow_bg.png) center top no-repeat;}

.tag_w{ width:735px; height:510px; position:relative;}
#tag_title_w{ width:735px; height:115px; position:absolute; left:1px; bottom:4px;}
#tag_title_w li{ float:left; width:120px; height:115px; background:#29292A; border:0; color:#fff; margin-left:2px; cursor:pointer; text-align:center; overflow:hidden;}
#tag_title_w li.on{height:110px; border-bottom:5px solid #29292A; background:#CB0D7D}
#tag_title_w li h6{font:100 26px/110px "\5FAE\8F6F\96C5\9ED1";}
#tag_title_w li h5{font:100 16px/32px "\5FAE\8F6F\96C5\9ED1";}
#tag_title_w li h4{font:100 20px/32px "\5FAE\8F6F\96C5\9ED1";}
#tag_title_w li h5 em{font:100 44px/62px "\5FAE\8F6F\96C5\9ED1"; margin:0 5px;}

#tag_body_w{ width:730px; height:377px; position:absolute; top:12px; left:3px;}
#tag_body_w div{ display:none}
#tag_body_w div.on{ display:block}

.yellow_right{ width:230px; height:500px; }
.yellow_right div{ margin-top:270px;}
.yellow_right div h4{font:100 14px/32px "\5B8B\4F53"; color:#fff}
.yellow_right div h4 a:link,.yellow_right div h4 a:visited{color:#fff}
.yellow_right div h4 a:hover{ color:#29292A}

/*翻页*/
.yellow_back{ display:block; width:89px; height:56px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/yellow_left.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/a_left.gif",sizingMethod="crop"); 
_background-image:none; position:absolute; top:285px; left:0;}
.yellow_forward{ display:block; width:90px; height:56px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/yellow_right.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/a_right.gif",sizingMethod="crop"); 
_background-image:none; position:absolute; top:285px; right:0;}


/*导航*/
.wrapper_nav_yel{ width:100%; height:85px; background:#232323 url(//mat1.gtimg.com/auto/01/1/gzgzcyb/nav.png) center top no-repeat; }
.wrapper_nav_yel .wrapper ul li{ float:left; width:191px; height:85px; text-align:center; font:100 22px/85px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.wrapper_nav_yel .wrapper ul li.on{ height:85px; background: url(//mat1.gtimg.com/auto/01/1/gzgzcyb/nav_li.png) repeat-x; position:relative;}
.wrapper_nav_yel .wrapper ul li a{ display:block; width:191px; height:85px;}
.wrapper_nav_yel .wrapper ul li a:link,.wrapper_nav_yel .wrapper ul li a:visited{ color:#fff}
.wrapper_nav_yel .wrapper ul li a:hover{ color:#ff0; text-decoration:none;}
.wrapper_nav_yel .wrapper ul li.on a:link,.wrapper_nav_yel .wrapper ul li.on a:visited{ color:#2c2c2c;}
.wrapper_nav_yel .wrapper ul li.on a:hover{color:#fff;text-decoration:none; }
.wrapper_nav_yel .wrapper ul li.on span{ display:block; width:25px; height:20px; background: url(//mat1.gtimg.com/auto/01/1/gzgzcyb/arrow.png); position: absolute; top:-20px; left:83px; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/ind_yel.gif",sizingMethod="crop"); 
_background-image:none;}


/*****************车友版--微信看展*********************/
.wrapper_green{ width:100%; height:501px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_bg.png) repeat; padding:40px 0;}

.phone-left{ width:265px; height:501px; float:left; _display:inline; background: url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_phone.png) no-repeat; position:relative;}
.phone-right{ width:337px;  float:right}

.wxphone{ width:612px}
.wxcamera{ width:368px;}

.ecmenu{ width:207px; height:33px; position:absolute; bottom:77px; right:15px;  z-index:999}
.ecmenu ul li{ width:69px; height:33px; float:left; text-align:center;font:100 14px/33px "\5FAE\8F6F\96C5\9ED1"; color:#fff; cursor:pointer}
.ecmenu ul li ul.nav-sh,.ecmenu ul li ul.nav-xc,.ecmenu ul li ul.nav-hd{ width:69px; height:136px; padding-top:5px; margin-top:-172px; display:none; background:url(http://img1.gtimg.com/auto/pics/hv1/4/248/1461/95064769.png) no-repeat;}
.ecmenu ul li ul li{ height:40px; line-height:40px; color:#333; color:#fff;}
.ecmenu ul li ul li.on{ color:#ff0;}
.ecmenu ul li ul li a:link,.ecmenu ul li ul li a:visited{ color:#fff;}
.ecmenu ul li ul li a:hover,.ecmenu ul li ul li a:active{ color:#ff0;}

.tag_body_a{ width:201px; height:410px; position:absolute; top:130px; left:30px; }
.phone-bot ul li{ width:201px; height:38px; padding:4px 0;}
.phone-picB{ width:201px; height:113px; position:relative}
.phone-picB h4{ width:192px; padding-left:9px; height:24px; position:absolute; bottom:0; left:0; z-index:99}
.phone-picB h4 a:link,.phone-picB h4 a:visited{font:100 12px/24px "\5B8B\4F53"; color:#fff}
.phone-picB h4 a:hover{ color:#ff9;}
.phone-picB h5{ width:201px; height:24px; position:absolute; bottom:0; left:0;  background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9; }
.phone-bot-text{ width:150px; float:left}
.phone-bot-text a{font:100 12px/19px "\5FAE\8F6F\96C5\9ED1";}
.phone-bot-img{ width:38px; float:right}
.phone-bot{ margin-top:5px;}

.tag_body_a{ display:none;}
#tag_body_a div.on{ display:block}

.phone-con2{ background:#fff;}
.phone-con2 h1{font:100 22px/32px "\5FAE\8F6F\96C5\9ED1";}
.phone-con2 h2{font:100 14px/32px "\5FAE\8F6F\96C5\9ED1"; color:#898989}
.phone-con2 h3{}
.phone-con2 h4{font:100 14px/26px "\5FAE\8F6F\96C5\9ED1"; color:#898989; padding:10px 0; border-bottom:1px solid #E4E4E4}
.phone-con2 h5{font:100 16px/42px "\5FAE\8F6F\96C5\9ED1"; background:url(//mat1.gtimg.com/auto/0618/wx/arrow.png) right center no-repeat}

.phone-con3{ background:#fff;}
.phone-con3 h1{font:100 16px/24px "\5FAE\8F6F\96C5\9ED1";}
.phone-con3 h2{font:100 14px/22px "\5FAE\8F6F\96C5\9ED1"; color:#898989}
.phone-con3 h3{}
.phone-con3 h4{font:100 12px/18px "\5FAE\8F6F\96C5\9ED1"; color:#898989; padding:5px 0; border-bottom:1px solid #E4E4E4}
.phone-con3 h5{font:100 16px/26px "\5FAE\8F6F\96C5\9ED1"; background:url(//mat1.gtimg.com/auto/0618/wx/arrow.png) right center no-repeat}


.phone-right h3,.phone-right h4{ margin-top:10px;}
.phone-right h4{ background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_ico2.png) left center no-repeat; height:30px; padding-left:25px;  font:600 14px/30px "\5B8B\4F53";}
.phone-right h5{ text-align:center; padding:10px 0 0;}
.phone-right h3 span{ display:block; width:75px; height:20px; text-align:center; background:#7BAC11; font:100 16px/20px "\5FAE\8F6F\96C5\9ED1"; color:#fff;}
.phone-right h3 em{ font:600 14px/20px "\5B8B\4F53";}
.xcqb ul{ padding-bottom:10px;}
.xcqb ul li{ width:80px; height:24px; float:left; cursor:pointer; text-align:center; font:100 14px/25px "\5B8B\4F53"; color:#666; margin-top:6px}
.xcqb ul li.on{color:#507500; font-weight:bold;}
.xcqb ul li a:link,.xcqb ul li a:visited{font:100 14px/25px "\5B8B\4F53"; color:#666;}
.xcqb ul li a:hover{color:#507500;}
.phone-right h6{font:100 14px/25px "\5B8B\4F53";}

.wx_camera_tit{ height:36px; background: url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_tit_03.png) repeat;}
.wx_camera_tit h3{ width:170px; background:#79AB0E; text-align:center; font:100 18px/36px "\5FAE\8F6F\96C5\9ED1"; color:#fff}
.wx_camera_left{ width:170px;}
.wx_camera_right{ width:178px;}
.wx_camera_right h4{font:600 14px/32px "\5B8B\4F53"; }
.wx_camera_right h4 a:link,.wx_camera_right h4 a:visited{ color:#507500}
.wx_camera_right h4 a:hover{ color:#ff0}
.wx_camera_right div{ text-indent:2em; font:100 12px/22px "\5B8B\4F53"; color:#666}

.wx_camera_con2{ width:368px;}
.wx_camera_con2 div{ width:178px;}
.wx_camera_con2 div h5{ height:24px; background:#79AB0E; text-align:center; font:100 12px/24px "\5FAE\8F6F\96C5\9ED1"; }
.wx_camera_con2 div h5 a:link,.wx_camera_con2 div h5 a:visited{ color:#fff}
.wx_camera_con2 div h5 a:hover{ color:#ff0}

/*翻页*/
.green_back{ display:block; width:89px; height:56px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_left.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/a_left.gif",sizingMethod="crop"); 
_background-image:none; position:absolute; top:285px; left:0;}
.green_forward{ display:block; width:90px; height:56px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_right.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/a_right.gif",sizingMethod="crop"); 
_background-image:none; position:absolute; top:285px; right:0;}

/*导航*/
.wrapper_nav_green{ width:100%; height:85px; background:#232323 url(//mat1.gtimg.com/auto/01/1/gzgzcyb/nav.png) center top no-repeat; }
.wrapper_nav_green .wrapper ul li{ float:left; width:191px; height:85px; text-align:center; font:100 22px/85px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.wrapper_nav_green .wrapper ul li.on{ height:85px; padding-top:20px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/green_nav_on.png) no-repeat; margin-top:-20px;}
.wrapper_nav_green .wrapper ul li a{ display:block; width:191px; height:85px;}
.wrapper_nav_green .wrapper ul li a:link,.wrapper_nav_green .wrapper ul li a:visited{ color:#fff}
.wrapper_nav_green .wrapper ul li a:hover{ color:#ff0; text-decoration:none;}
.wrapper_nav_green .wrapper ul li.on a:link,.wrapper_nav_green .wrapper ul li.on a:visited{ color:#2c2c2c;}
.wrapper_nav_green .wrapper ul li.on a:hover{color:#fff;text-decoration:none; }

.marginT10{ margin-top:10px;}

/*****************车友版--回到汽车未来**********************/

.wrapper_100{ width:100%; background:#C61709 url(http://img1.gtimg.com/auto/pics/hv1/41/238/1461/95062256.png) center top no-repeat; height:560px; padding-top:42px}
.red_top{ height:255px;}
.red_left{ width:747px;}
.red_right{ width:219px; padding:10px; border-top:1px solid #FF9D9D; background:#EE4F41;}
.red_text{ width:372px; padding:20px;}
.red_weibo{ width:320px; padding-top:18px; }
.red_tit{ height:50px; }
.red_tit h3{ height:50px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/tit.png) no-repeat; color:#ffe7ca; font:100 38px/50px "\5FAE\8F6F\96C5\9ED1"; padding-left:10px; }
.red_text h4{font:100 22px/54px "\5FAE\8F6F\96C5\9ED1"; }
.red_text h4 a:link,.red_text h4 a:visited{ color:#ffcfbc}
.red_text h4 a:hover{ color:#ff0}
.red_text h5{ color:#ffcfbc; font:100 12px/24px "\5B8B\4F53"; margin-top:10px;} 
.red_weibo h4{ height:54px; font:100 22px/54px "\5FAE\8F6F\96C5\9ED1";  color:#ffcfbc; padding-left:20px;}
.red_weibo_con{ widows:304px; height:116px; padding:8px; }
.red_img_bg h5{ height:24px; text-align:center; font:100 14px/32px "\5B8B\4F53"; }
.red_img_bg h5 a:link,.red_img_bg h5 a:visited{ color:#ffcfbc}
.red_img_bg h5 a:hover{ color:#ff0}
.red_bot{ margin-top:10px;}
.red_bot ul li{ float:left; width:220px; padding:10px; border-top:1px solid #FF9D9D; background:#EE4F41; margin-right:13px; _display:inline}
.red_bot ul li.end{ margin:0;}
.red_bot ul li h5{ text-align:center;  font:100 14px/32px "\5B8B\4F53";}
.red_bot ul li h5 a:link,.red_bot ul li h5 a:visited{color:#ffcfbc}
.red_bot ul li h5 a:hover{color:#ff0}

.red_back{ display:block; width:89px; height:56px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/left.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/01/1/gzgzcyb/a_left.gif",sizingMethod="crop"); 
_background-image:none; position:absolute; top:285px; left:0;}

/*导航*/
.wrapper_nav_red{ width:100%; height:85px; background:#232323 url(//mat1.gtimg.com/auto/01/1/gzgzcyb/nav.png) center top no-repeat; }
.wrapper_nav_red .wrapper ul li{ float:left; width:191px; height:85px; text-align:center; font:100 22px/85px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.wrapper_nav_red .wrapper ul li.on{ height:85px; padding-top:20px; background:url(//mat1.gtimg.com/auto/01/1/gzgzcyb/nav_03.png) no-repeat; margin-top:-20px;}
.wrapper_nav_red .wrapper ul li a{ display:block; width:191px; height:85px;}
.wrapper_nav_red .wrapper ul li a:link,.wrapper_nav_red .wrapper ul li a:visited{ color:#fff}
.wrapper_nav_red .wrapper ul li a:hover{ color:#ff0; text-decoration:none;}
.wrapper_nav_red .wrapper ul li.on a:link,.wrapper_nav_red .wrapper ul li.on a:visited{ color:#2c2c2c;}
.wrapper_nav_red .wrapper ul li.on a:hover{color:#fff;text-decoration:none; }


/* 专题补充
----------------------------------------------- */
.nav_zt{ height:auto; margin-top:0;}
#copyright_table_zt{ margin:0 auto;}
.tcopyright img{ display:inline; vertical-align:middle;}

/*放开宽度*/
.wrapper_zt {width:100%;}
.layout_rl {width:1000px;} 
#ztg_1,#ztg_2,#ztg_3,#ztg_4,#ztg_5,#ztg_6,#ztg_7,#ztg_8,#ztg_9,#ztg_10,#ztg_11 {width:100%;}
#ztg_1 .col_1,#ztg_2 .col_1,#ztg_3 .col_1,#ztg_4 .col_1,#ztg_5 .col_1,#ztg_6 .col_1,#ztg_7 .col_1,#ztg_8 .col_1,#ztg_9 .col_1,#ztg_10 .col_1,#ztg_11 .col_1,#ztg_12 .col_1{margin:0 auto; float:none; width:1000px;}  

/*  |xGv00|003292e4412b67aa4ab7e5aab3fb2a84 */