body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#333;}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{color:#308cd7}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;vertical-align: top}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}
			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

/*Ô²½Ç1*/
.yuanxing{-webkit-border-radius:50em;-moz-border-radius:50em;border-radius:50em;}
/*Ô²½Ç*/
.yuan{-webkit-border-radius:0.3em;-moz-border-radius:0.3em;border-radius:0.3em;}
/*Ô²½Ç´ó»¡¶È*/
.yuan1{-webkit-border-radius:3em;-moz-border-radius:3em;border-radius:3em;}
.yuan2{-webkit-border-radius:0.8em;-moz-border-radius:0.8em;border-radius:0.8em;}

.fangpiaofu1{clear: both;width: 100%;height: 1px;}
.fangpiaofu11{clear: both;width: 100%;height: 10px;}
.fangpiaofu20{clear: both;width: 100%;height: 20px;}
.fangpiaofu10{clear: both;width: 80%;height: 10px;border-bottom: 1px solid #d5d4d4;margin-left: 20%;}
.fangpiaofu50{clear: both;width: 100%;height: 50px;}


.back{width: 100%;height: 35px;background-color: #000;}
.back div.nav{width: 1000px;height: 35px;margin: 0 auto;}
.back div.nav a{display: block;width: 40px;height: 35px;color: #c9c9c9;float: left;font-size: 12px;line-height: 35px;cursor: pointer;}
.back div.nav a:nth-child(odd){font-weight: 600;}

.header{width: 100%;height: 85px;border-bottom: 2px solid #458fce;}
.header div.header_cont{width: 1000px;height: 85px;margin: 0 auto;position: relative;z-index: 2;}
.header div.header_cont a.video_logo{display: block;width: 174px;height: 39px;background: url("//mat1.gtimg.com/cq/2015video/images/dywlogo.png") no-repeat;position: absolute;z-index: 3;left: 0;top: 23px;cursor: pointer;}
/*.header div.header_cont div.input_k{width: 500px;height: 35px;border:1px solid #458fce;border-radius:50px 50px 50px 50px; position: absolute;z-index: 3;left: 200px;top: 23px;}*/
.header div.header_cont div.input_k{width: 496px;height: 34px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat 0 -392px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat 0 -392px; position: absolute;z-index: 3;left: 200px;top: 23px;}
.header div.header_cont div.input_k img{display:block;float:left;margin:8px 9px 0 15px}
.header div.header_cont div.input_k input{display:block;float:left;width: 320px;height: 20px;line-height: 20px;font-size: 12px;color: #b0b0b0;margin-top: 7px;border: none;*margin-top:5px}
.header div.header_cont div.input_k a{display: block;width: 95px;float: right;padding:8px 0 9px 0;line-height:normal;text-align: center;color: #fff;font-family: "SimHei", 'Microsoft YaHei';font-size: 18px;cursor: pointer}
.header div.header_cont a.look{display: block;width: 25px;height: 40px;position: absolute;z-index: 3;left: 780px;top: 30px;cursor: pointer;}
.header div.header_cont a.look span:first-child{display: block;width: 25px;height: 25px;background: url("//mat1.gtimg.com/cq/2015video/images/shuaxin.png") no-repeat center top;}
.header div.header_cont a.look span:last-child{display: block;width: 25px;height: 15px;font-size: 12px;color: #666666;text-align: center;}
.header div.header_cont a.attention{display: block;width: 25px;height: 40px;position: absolute;z-index: 3;left: 830px;top: 30px;cursor: pointer;}
.header div.header_cont a.attention span:first-child{display: block;width: 25px;height: 25px;background: url("//mat1.gtimg.com/cq/2015video/images/zan.png") no-repeat center 20%;}
.header div.header_cont a.attention span:last-child{display: block;width: 25px;height: 15px;font-size: 12px;color: #666666;text-align: center;}
.header div.header_cont a.upload{display: block;width: 25px;height: 40px;position: absolute;z-index: 3;left: 880px;top: 30px;cursor: pointer;}
.header div.header_cont a.upload span:first-child{display: block;width: 25px;height: 25px;background: url("//mat1.gtimg.com/cq/2015video/images/up.png") no-repeat center top;}
.header div.header_cont a.upload span:last-child{display: block;width: 25px;height: 15px;font-size: 12px;color: #666666;text-align: center;}
.header div.header_cont a.qqloading{display: block;width: 45px;height: 42px;background: url("//mat1.gtimg.com/cq/2015video/images/login.png") no-repeat center;position: absolute;z-index: 3;right: 5px;top: 33px;cursor: pointer;}


.qq-sub-site-hd-soso{width: 496px;height: 34px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat 0 -392px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat 0 -392px; position: absolute;z-index: 3;left: 200px;top: 23px;}
.qq-sub-site-hd-soso img{display:block;float:left;margin:8px 9px 0 15px}
 .Form-Crumbs-Article-QQ .submit1{/*float:right;width:50px;height:30px;border:none;font-size:12px;cursor:pointer;*/width: 95px;float: right;height:34px;line-height:normal;text-align: center;color: #f00;font-family: "SimHei", 'Microsoft YaHei';font-size: 18px;cursor: pointer;background:none;border:none}
    .Form-Crumbs-Article-QQ .inputWarp{float:left;width:335px;height:28px;margin:0;padding:0;line-height:22px;background:#fff;margin-top:2px}
    .Form-Crumbs-Article-QQ .txtArea{width:335px;border:1px solid #f00;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
    .Form-Crumbs-Article-QQ .SosonLogo{display: block;width: 95px;float: right;padding:8px 0 9px 0;line-height:normal;text-align: center;color: #fff;font-family: "SimHei", 'Microsoft YaHei';font-size: 18px;cursor: pointer}
    .Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
    .soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
    .soso-smart-m td{font-size:14px;line-height:28px;}
    .soso-smart-b{background-color:#d8ecff;}
    .soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.vip_nav{width: 1000px;height: 45px;border-bottom: 1px solid #d2e1f1;margin: 0 auto;position: relative;z-index: 2;}
.vip_nav ul{float:left;width:894px;height:45px;line-height:44px;line-height:45px\9;padding-left:6px}
.vip_nav li{float:left;margin-right:32px;_margin-right:30px}
.vip_nav li.active{background:url(//mat1.gtimg.com/cq/2015video/images/lanjiantou.png) no-repeat center bottom}
.vip_nav li.active a{color:#308cd7}
.vip_nav li a{font-size:16px;color:#000}
.vip_nav li a:hover{color:#308cd7}
.spzb{float:left;width:100px;height:28px;line-height:28px;margin-top:8px}
.spzb a{display:block;width:68px;padding-left:32px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -212px 0;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -212px 0;font-size:15px;color:#308cd7}

.menu{width:1000px;height:45px;line-height:45px;margin:auto}
.menu ul{display:none;width:994px;padding-left:6px}
.menu ul.active{display:block}
.menu li{float:left;margin-right:30px}
.menu li a{color:#666}
.menu li a:hover{color:#308cd7}

.scorll-index{width:1000px;height:337px;margin:4px auto 10px auto}

.section-index{width:1000px;height:auto;overflow:hidden;margin:auto}
.section-title{width:1000px;height:23px;margin:auto;padding:24px 0 25px 0}
.section-title-l{float:left;width:143px;height:23px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat}
.section-title-l.t2{background-position:0 -29px}
.section-title-l.t3{background-position:0 -58px}
.section-title-l.t4{background-position:0 -484px}
.section-title-l.t5{background-position:0 -118px}
.section-title-l.t6{background-position:0 -150px}
.section-title-l.t7{background-position:0 -184px}
.section-title-l.t8{background-position:0 -524px}
.section-title-l.t9{background-position:0 -327px}
.section-title-l.t10{background-position:0 -440px}
.section-title-l h2{text-indent:-9999em}
.section-title-c{float:left;height:23px;line-height:23px}
.section-title-c li{float:left;margin-right:19px}
.section-title-c li a.active{color:#308cd7}
.section-content{width:1000px;height:auto;overflow:hidden}
.section-content-l{float:left;width:702px;height:auto;overflow:hidden}
.section-content-l-c{display:none}
.section-content-l-c.active{display:block}
.section-content-r{float:right;width:278px;height:auto;overflow:hidden;margin-left:20px}
.yp-big{float:left;width:340px;height:auto}
.yp-big a{position:relative;display:block;width:340px;height:245px}
.yp-big a img{width:340px;height:245px}
/*.yp-big a h3{position:absolute;left:0;bottom:20px;width:340px;height:51px;line-height:51px;overflow:hidden;font-size:18px;color:#fff;text-align:center}
.yp-big a span{position:absolute;left:0;bottom:0;display:block;width:301px;height:20px;line-height:20px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5) url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -473px -244px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -473px -244px;padding-left:39px;font-size:12px;color:#666}*/
.yp-big a h3{position:absolute;left:0;bottom:0;display:block;width:340px;height:51px;line-height:51px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:18px;color:#fff;text-align:center}
.yp-big1 a{position:relative;display:block;float:left;width:160px;height:335px}
.yp-big1 a img{width:160px;height:335px}
.yp-big1 a h3{position:absolute;left:0;bottom:20px;width:160px;height:51px;line-height:51px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:18px;color:#fff;text-align:center}
.yp-big1 a span{position:absolute;left:0;bottom:0;display:block;width:121px;height:20px;line-height:20px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5) url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -473px -244px;_background-image:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png);padding-left:39px;font-size:12px;color:#fff}
.yp-list{float:right;width:362px;height:auto}
.yp-list li{display:inline;float:left;width:160px;height:auto;overflow:hidden;margin-left:19px;margin-bottom:21px}
.yp-list li.mb-none{margin-bottom:0}
.yp-list li a{position:relative;display:block;width:160px;height:112px}
.yp-list li a img{width:160px;height:112px}
.yp-list li a h3{position:absolute;left:0;bottom:0;width:160px;height:20px;line-height:20px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:12px;color:#fff;text-align:center}
.ph-title-list{width:278px;height:40px;line-height:40px;border-bottom:1px solid #d2e1f1}
.ph-title-list li{float:left;margin-right:45px}
.ph-title-list li.active{background:url(//mat1.gtimg.com/cq/2015video/images/up.jpg) no-repeat center bottom}
.ph-title-list li a.active{font-size:14px;color:#308cd7}
.ph-title-list li.last{margin-right:0}
.ph-main-list{width:278px;height:auto;overflow:hidden;padding-top:7px;padding-bottom:2px}
.ph-main-list ul{display:none}
.ph-main-list ul.current{display:block}
.ph-main-list li{float:left;width:134px;height:27px;margin-left:5px;line-height:27px;_display:inline}
.ph-main-list li span{display:block;float:left;width:15px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -485px -98px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -485px -98px;color:#fff;text-align:center}
.ph-main-list li.active span{background-position:-485px -40px}
.ph-main-list li a{display:inline;float:left;width:109px;height:12px;margin-left:10px}
.ad1,.ad1 img{width:278px;height:60px}
.ad2{margin-top:14px}
.ad2,.ad2 img{width:702px;height:120px}

.yp-list1{height:auto;overflow:hidden}
.yp-list1 li{float:left;width:160px;height:auto;overflow:hidden;margin-right:19px}
.yp-list1 li.last{margin-right:0}
.yp-list1 li a{position:relative;display:block;width:160px;height:112px}
.yp-list1 li a img{width:160px;height:112px}
.yp-list1 li a h3{position:absolute;left:0;bottom:0;width:160px;height:20px;line-height:20px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:12px;color:#fff;text-align:center}

.yp-list1 li p{height:23px;line-height:23px;color:#999}
.yp-list1 li p.p1{margin-top:5px}
.yp-list1 li p a{display:inline;color:#666}
.yp-list1 li p span{display:inline-block;float:left;width:50px;padding-left:20px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat;color:#666}
.yp-list1 li p span.sp1{background-position:-485px -152px}
.yp-list1 li p span.sp2{background-position:-485px -196px}
.section-content-r-l{float:left}
.section-content-r-l,.section-content-r-l img{width:109px;height:78px}
.section-content-r-r{float:left;width:164px;margin-left:5px}
.section-content-r-r p{line-height:20px;color:#999}
.section-content-r-r p.p1{margin-top:5px;margin-bottom:7px}
.section-content-r-r p a{color:#666}
.yp-list2{height:78px;margin-bottom:20px}
.yp-list2.last{margin-bottom:0}
.yp-list li p{width:160px;line-height:20px;color:#999;text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
.yp-list li p.p1{margin-top:8px}
.yp-list li p a{display:inline;font-size:14px;color:#666}
.ylbg li{margin-bottom:17px}
.ylbg-yp-top img{width:278px;height:112px}
.ylbg-yp-top p{line-height:20px;color:#999;text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
.ylbg-yp-top p.p1{margin-top:8px}
.ylbg-yp-top p.p1 span{display:inline-block;float:left}
.ylbg-yp-top p.p1 span.sp1{width:220px}
.ylbg-yp-top p.p1 span.sp2{width:50px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -485px -153px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -485px -153px;color:#666;text-align:right}
.ylbg-yp-top p a{font-size:14px;color:#666}
.ylgb-list{margin-top:12px}
.ylgb-list li{height:33px;line-height:33px;border-bottom:1px solid #d6d6d6}
.ylgb-list li.last{border-bottom:none}
.ylgb-list li span{display:inline-block;float:left;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat}
.ylgb-list li span.sp1{width:203px;background-position:-490px -275px;padding-left:17px}
.ylgb-list li span.sp2{width:50px;background-position:-485px -146px;color:#666;text-align:right}
.ph-title-list1{position:relative}
.jjzh-ph-title{position:absolute;bottom:10px;width:130px;height:23px;_line-height:23px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat 2px -560px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat 2px -560px}
.jjzh-ph-title h3{text-indent:-9999em}
.ph-title-list1 ul{float:right;width:148px}
.ph-title-list1 li{margin-right:35px}
.ph-main-list1 li{float:none;width:278px;height:25px;line-height:25px;*height:19px;*line-height:19px;_display:block}
.ph-main-list1 li.active span{*background-position:-485px -43px}
.ph-main-list1 li span{background-position:-485px -99px;*background-position:-485px -102px}
.ph-main-list1 li span.sp1{width:202px;background:none;text-align:left}
.ph-main-list1 li span.sp2{width:50px;background-position:-485px -150px;*background-position:-485px -153px;margin-right:10px;color:#666;text-align:right}
.ph-main-list1 li span.sp1 a{display:inherit;width:auto;padding-left:0}

.yp-big-qcxy{float:left;width:340px;height:auto}
.yp-big-qcxy-list{width:340px;height:158px;margin-bottom:20px}
.yp-big-qcxy-list.last{margin-bottom:0}
.yp-big-qcxy-list img,.yp-big-qcxy-list span{display:inline-block;float:left}
.yp-big-qcxy-list img{width:175px;height:158px}
.yp-big-qcxy-list span{width:133px;height:158px;background:#f6f3f3;padding:0 16px}
.yp-big-qcxy-list span h3{margin:19px 0 10px 0;text-align:center}
.yp-big-qcxy-list span h3 a{font-size:14px;color:#333}
.yp-big-qcxy-list span p{color:#999}
.qcxy-list{margin-top:8px}
.qcxy-list li{float:left;display:inline;width:103px;height:29px;line-height:29px;overflow:hidden;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -498px -310px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -498px -310px;margin-right:58px;padding-left:7px}
.yp-list3 li a h3 i{float:left;width:40px;text-align:center}
.yp-list3 li a h3 i.i1{width:110px;padding-left:10px;text-align:left}
.yp-list3 li p{height:31px;line-height:31px}
.yp-list3 li p a{font-size:14px}
.yp-list4 li a em{position:absolute;z-index:1;left:8px;bottom:6px;width:40px;height:40px}
.yp-list4 li a em img{width:35px;height:35px;border:2px solid #fff;border-radius:50%}
.yp-list4 li a em.em1{z-index:2;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -131px 0;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -131px 0}
.yp-list4 li a h3 i{float:right;width:100px;padding-left:10px;text-align:left}
.yp-list4 li p{height:34px;line-height:34px;text-align:center}
.yctd-ph-title{width:100px;height:18px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat 0 -302px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat 0 -302px}
.yctd-ph-title h2{text-indent:-9999em}
.yctd-ph-list li{position:relative;height:40px;margin-top:14px;*margin-top:7px}
.yctd-ph-list li img{position:absolute;z-index:20;left:7px;top:0;width:35px;height:35px;border-radius:50%;border:1px solid #fff}
.yctd-ph-list li h3{position:absolute;z-index:1;left:0;bottom:0;width:278px;height:26px;line-height:26px;background:#e5e5e5}
.yctd-ph-list li h3 i{float:left;width:60px;text-align:center}
.yctd-ph-list li h3 i.i1{width:160px;padding-left:58px;text-align:left}

.section-content-l1,.section-content-l1 .section-content-l{width:1000px}
.yp-list5 li,.yp-list5 li a img{width:320px}
.yp-list5 li a em{position:absolute;z-index:1;left:8px;bottom:6px;width:40px;height:40px}
.yp-list5 li a em img{width:35px;height:35px;border:2px solid #fff;border-radius:50%}
.yp-list5 li a em.em1{z-index:2;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -131px 0;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -131px 0}
.yp-list5 li a h3{width:320px;height:22px;line-height:22px;background:#e5e5e5;color:#333}
.yp-list5 li a h3 i{float:left;width:58px;text-align:center}
.yp-list5 li a h3 i.i1{width:204px;padding-left:58px;text-align:left}
.yp-list5 li p a{color:#333}
.yp-list5 li p{height:24px;line-height:24px}
.yp-list5 li p.p1{margin-top:9px}

/*Ê×Ò³½áÊø*/



.csax-sort{width:1000px;height:auto;overflow:hidden;margin:auto;margin-top:20px}
.csax-sort-sub{float:left;width:290px;height:136px;overflow:hidden;margin-right:21px;padding:0 10px 0 17px;border:1px solid #d2e1f1}
.csax-sort-sub.last{margin-right:0}
.csax-sort-sub h2{margin:25px 0 8px 0;padding-left:13px;font-size:14px;font-weight:bold;color:#333}
.csax-sort-sub li{display:inline;float:left;height:29px;line-height:29px;margin:0 12px 0 13px;white-space:nowrap}
.csax-sort-sub li a{font-size:12px; color:#333}
.csax-main{width:1020px;height:auto;overflow:hidden;margin:auto}
.csax-main li{display:inline;float:left;width:310px;height:112px;overflow:hidden;margin:20px 15px}
.csax-main li span{display:inline-block;float:left;width:160px}
.csax-main li span img{width:160px;height:112px}
.csax-main li span.sp1{width:137px;padding-left:13px}
.csax-main li span.sp1 h3{margin-bottom:10px}
.csax-main li span.sp1 h3 a{font-size:14px}
.csax-main li span.sp1 p{color:#999}
.video-fenye{width:1000px;height:auto;overflow:hidden;margin:auto;margin-top:36px;text-align:center}
.video-fenye span,.video-fenye strong,.video-fenye a{display:inline-block;width:32px;height:32px;line-height:32px;margin:0 1px;font-size:14px;color:#000;border:1px solid #cacaca;text-align:center}
.video-fenye strong{background:#edeae9}
.video-fenye span.width64,.video-fenye strong.width64,.video-fenye a.width64{width:64px}
.video-fenye span.width56,.video-fenye strong.width56,.video-fenye a.width56{width:56px}

/*´ÈÉÆ°®ÐÄ½áÊø*/



.jjzh-main{width:1010px;height:auto;overflow:hidden;margin:auto;margin-top:26px}
.jjzh-main li{display:inline;float:left;width:189px;height:auto;overflow:hidden;margin:0 7px 35px 6px}
.jjzh-main li a.a-block{position:relative;display:block;width:189px;height:129px}
.jjzh-main li a.a-block img{width:189px;height:129px}
.jjzh-main li a.a-block span{position:absolute;right:8px;bottom:8px;display:block;width:47px;height:18px;line-height:18px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);color:#fff;text-align:center}
.jjzh-main li h3{margin:9px 0 4px 0}
.jjzh-main li h3 a{font-size:14px}
.jjzh-main li p i{float:left;width:53px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -485px -197px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -485px -197px;padding-left:20px;color:#666}
.jjzh-main li p i.i1{background-position:-485px -153px}

/*¾­¼Ã×Ýºá½áÊø*/



.qcxy-main{width:1016px;height:auto;overflow:hidden;margin:auto;margin-top:30px}
.qcxy-main li{display:inline;float:left;width:236px;height:157;overflow:hidden;margin:0 9px 24px 9px}
.qcxy-main li a{position:relative;display:block;width:236px;height:157px}
.qcxy-main li a img{width:236px;height:157px}
.qcxy-main li a h3{position:absolute;left:0;bottom:0;width:236px;height:30px;line-height:30px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);color:#fff;text-align:center}

/*Çà´ºÐ£Ô°½áÊø*/


.shwx-top{width:1000px;height:auto;overflow:hidden;margin:auto}
.shwx-top-l{float:left;width:406px;height:300px}
.shwx-top-l a{position:relative;display:block;width:406px;height:300px}
.shwx-top-l a img{width:406px;height:300px}
.shwx-top-l a h3{position:absolute;left:0;bottom:0;width:406px;height:32px;line-height:32px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:16px;color:#fff;text-align:center}
.shwx-top-r{float:right;width:591px;height:300px;overflow:hidden}
.shwx-top-r li{display:inline;float:left;width:189px;height:146px;margin:0 0 8px 8px}
.shwx-top-r li a{position:relative;display:block;width:189px;height:146px}
.shwx-top-r li a img{width:189px;height:146px}
.shwx-top-r li a h3{position:absolute;left:0;bottom:0;width:189px;height:26px;line-height:26px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);font-size:14px;color:#fff;text-align:center}

.shwx-main{width:1002px;height:auto;overflow:hidden;margin:auto;margin-top:22px}
/*.shwx-main li{float:left;width:165px;height:185px;overflow:hidden;background:#f1efef;margin:0 2px 20px 0;padding-top:5px}*/
.shwx-main li{float:left;width:165px;height:auto;overflow:hidden;background:#f1efef;margin:0 2px 20px 0;padding-top:5px;padding-bottom:5px}
.shwx-main li a.a-block{position:relative;display:block;width:155px;height:115px;margin:auto}
.shwx-main li a.a-block img{width:155px;height:115px}
.shwx-main li a.a-block h3{position:absolute;left:0;bottom:0;width:155px;height:25px;line-height:25px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);color:#fff;text-align:center}
.shwx-main li span{display:block;width:153px;height:57px;overflow:hidden;padding:18px 0 0 12px}
.shwx-main li span i{float:left;width:105px}
.shwx-main li span i.i1{width:48px}
.shwx-main li span i.i1 img{width:35px;height:35px;border:1px solid #fff;border-radius:50%}
.shwx-main li span i p{line-height:20px;color:#000}
.shwx-main li span i p.p1{background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -485px -243px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -485px -243px;padding-left:24px}

/*Éú»îÍòÏó½áÊø*/



.ymgx-main{width:1014px;height:auto;overflow:hidden;margin:auto;margin-top:7px}
.ymgx-main li{display:inline;float:left;width:156px;height:145px;overflow:hidden;margin:0 7px 20px 6px}
.ymgx-main li a.a-block{position:relative;display:block;width:156px;height:110px}
.ymgx-main li a.a-block img{width:156px;height:110px}
.ymgx-main li a.a-block h3{position:absolute;left:0;bottom:0;width:156px;height:22px;line-height:22px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);color:#fff;text-align:center}
.ymgx-main li a.a-block h3 i{float:left;width:45px}
.ymgx-main li a.a-block h3 i.i1{width:88px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -485px -243px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -485px -243px;padding-left:23px}
.ymgx-main li p{height:35px;line-height:35px}
.ymgx-main-sub{display:none}
.ymgx-main-sub.active{display:block}

.ymgx-section-title{width:1000px;height:23px;margin:auto;padding:24px 0 25px 0}
.ymgx-section-title-l{float:left;width:143px;height:23px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat 0 -29px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat 0 -29px}
.ymgx-section-title-l h2{text-indent:-9999em}
.ymgx-section-title-c{float:left;height:23px;line-height:23px}
.ymgx-section-title-c li{float:left;margin-right:19px}
.ymgx-section-title-c li.active a{color:#308cd7}

/*ÓÄÄ¬¸ãÐ¦½áÊø*/



.ylbg-main{margin-top:2px}
.ylbg-main li{display:inline;margin-bottom:24px}
.ylbg-main li h3{margin:9px 0 0px 0}
.ymgx-section-title-l.t2{background-position:0 -58px}

/*ÓéÀÖ°ËØÔ½áÊø*/



.yctd-main{width:1016px;height:auto;overflow:hidden;margin:auto;margin-top:60px}
.yctd-main li{display:inline;float:left;width:236px;height:157;overflow:hidden;margin:0 9px 24px 9px}
.yctd-main li img{width:236px;height:157px}
.yctd-main li h3{width:236px;margin:8px 0 3px 0}
.yctd-main li h3 a{font-size:14px;color:#333}
.yctd-main li p{color:#999}

/*Ô­´´ÌìµØ½áÊø*/



.ymgx-section-title-l.t3{background-position:0 0}
.zxkx-main li h3 {margin-bottom:2px}
.zxkx-main li h3 a{font-size:12px}
.zxkx-main li p{line-height:22px}
.zxkx-main li p,.zxkx-main li p span{color:#999}
.zxkx-main li p a{color:#308cd7}
.zxkx-main li p span{float:left;display:inline-block;float:left;width:80px}
.zxkx-main li p span.sp1{width:76px}
.zxkx-title{padding:9px 0 20px 0}
.zxkx-top{width:1000px;height:440px;overflow:hidden;margin:auto}
.zxkx-top-l{float:left;width:362px;height:auto;overflow:hidden}
.zxkx-top-l img{width:362px;height:259px}
.zxkx-top-l h3{margin:18px 0 10px 0;text-align:center}
.zxkx-top-l h3 a{font-size:18px}
.zxkx-top-l p{line-height:24px;font-size:14px;color:#666}
.zxkx-top-l p a{color:#666}
.zxkx-top-l p a:hover{color:#308cd7}
.zxkx-top-r{float:right;width:633px;height:auto;overflow:hidden}
.zxkx-top-r li{display:inline;float:left;width:196px;margin:0 0 8px 15px}
.zxkx-top-r li a.a-block{position:relative;display:block;width:196px;height:139px}
.zxkx-top-r li a.a-block img{width:196px;height:139px}
.zxkx-top-r li a.a-block span{position:absolute;right:5px;bottom:5px;display:block;width:48px;height:21px;line-height:21px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);color:#fff;text-align:center}
.zxkx-top-r li h3 {margin:6px 0 4px 0;font-size:14px;font-weight:bold;color:#333}
.zxkx-top-r li h3 a{font-size:14px}
.zxkx-top-r li p{line-height:22px}
.zxkx-top-r li p,.zxkx-top-r li p span{color:#999}
.zxkx-top-r li p a{color:#308cd7}
.zxkx-top-r li p span{float:left;display:inline-block;float:left;width:135px}
.zxkx-top-r li p span.sp1{width:61px}

/*×îÐÂ¿ìÑ¶½áÊø*/



.video-play{height:636px;background:url(//mat1.gtimg.com/cq/2015video/images/video_bg_small.jpg) repeat}
.video-play-c{height:636px;background:url(//mat1.gtimg.com/cq/2015video/images/video_bg.jpg) no-repeat center}
.video-play-main{width:1096px;height:636px;margin:auto}
.ymgx-section-title-l.t4{background-position:-128px -88px}
.hot-title,.hot-main{width:1075px}
.hot-title{width:1066px;padding-left:9px}
.hot-main li{width:198px}
.hot-main li a img{width:198px;height:137px}
.hot-main li h3{font-size:14px;margin:6px 0}
.hot-main li p span{float:left;display:inline-block;float:left;width:135px;color:#666}
.hot-main li p span.sp1{width:63px;text-align:center}

/*ÊÓÆµµ×²ãÒ³½áÊø*/




#d_tab29 img{border:0;vertical-align:top}
#d_tab29{position:relative; height:337px;text-align:left}
#d_tab29 .d_img{position:relative;margin:0 auto;width:1000px;height:100%} 
#d_tab29 .d_img li{position:absolute;display:none;z-index:0}
#d_tab29 .d_img li img{width:100%}
#d_tab29 .d_img li.d_pos1{display:block;width:400px;left:0%;top:40px;z-index:1}
#d_tab29 .d_img li.d_pos2{display:block;width:450px;left:10%;top:20px;z-index:2}
#d_tab29 .d_img li.d_pos3{display:block;width:500px;left:25%;top:0;z-index:3}
#d_tab29 .d_img li.d_pos4{display:block;width:450px;right:10%;top:20px;z-index:2}
#d_tab29 .d_img li.d_pos5{display:block;width:400px;right:0%;top:40px;z-index:1}
#d_tab29 .d_menu{position:absolute;z-index:100;bottom:15px;width:100%;text-align:center}
#d_tab29 .d_menu li{display:inline-block;zoom:1;*display:inline;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -420px -134px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -420px -134px;width:18px;height:18px;cursor:pointer;margin-right:10px}
#d_tab29 .d_menu li.d_select{background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -390px -134px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -390px -134px}
#d_tab29 .d_next{position:absolute;left:50%;width:45px;height:45px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -331px -59px;margin-left:455px;top:146px;z-index:10;cursor:pointer}
#d_tab29 .d_prev{position:absolute;left:50%;width:45px;height:45px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -331px 0;margin-left:-500px;top:146px;z-index:10;cursor:pointer}

/*Í¼Æ¬ÂÖ²¥1*/



.banner{width:1000px;height:337px;position:relative;overflow:hidden;float:left;}
.banner-btn{display:none;}
.banner-btn a{display:block;position:absolute;top:146px;width:45px;height:45px;overflow:hidden;z-index:4;}
.prevBtn{left:0px;}
.nextBtn{right:0px;}
.banner i{background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat;width:45px;height:45px;cursor:pointer;display:block;}
.banner .nextBtn i{background-position:-331px -59px;}
.banner .prevBtn i{background-position:-331px 0;}
.banner-img{font-size:0;*word-spacing:-1px;/* IE6¡¢7 */ letter-spacing:-3px;position:relative;}
.banner-img li{display:inline-block;*display:inline;*zoom:1;/* IE6¡¢7 */ vertical-align:top;letter-spacing:normal;word-spacing:normal;}
.banner-img li img{width:1000px;height:337px;vertical-align:top;}
.banner-circle{position:absolute;left:50%;bottom:15px;height:18px;text-align:center;font-size:0;}
.banner-circle li{margin:5px;display:inline-block;display:-moz-inline-stack;vertical-align:middle;zoom:1;cursor:pointer;float:left;}
.banner-circle li a{display:block;width:18px;height:18px;background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -420px -134px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -420px -134px;;overflow:hidden;}
.banner-circle .selected a{background:url(//mat1.gtimg.com/cq/2015video/images/bg.png) no-repeat -390px -134px;_background:url(//mat1.gtimg.com/cq/2015video/images/bgie6.png) no-repeat -390px -134px}

/*Í¼Æ¬ÂÖ²¥2*/



.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}
.clearLeft {
	clear: left
}
.clearRight {
	clear: right
}
/*slider*/
.zq_homeView {
	width: 100%;
	background: #fff;
}
.zq_homeView .zq_pictureBox {
	height: 360px;
	max-width: 2232px;
	min-width: 960px;
	overflow: hidden;
	position: relative;
	margin: 0 auto 15px
}
.zq_homeView .zq_pictureBox .zq_pictures {
	
	height: 360px;
	overflow: hidden;
	position: absolute
}
.zq_homeView .zq_pictureBox .zq_pictures a {
	width: 1000px;
	height: 360px;
	float: left;
	display: inline;
	margin: 0 12px
}
.zq_homeView .zq_pictureBox .zq_pictures a img {
	width: 1000px;
	height: 360px;
	display: block
}
.zq_homeView .zq_imgBox {
	width: 1015px;
	height:50px;
	margin: 0 auto;
	position: relative
}
.zq_homeView .zq_imgBox .zq_imgs {
	width: 1015px;
	
}
.zq_homeView .zq_imgBox .zq_imgs a {
	width: 130px;
	height: 50px;
	border: 1px solid #fff;
	float: left;
	display: inline;
	margin: 0 6px
}
.zq_homeView .zq_imgBox .zq_imgs a:hover {
	border: 2px solid #058bf9;
}
.zq_homeView .zq_imgBox .zq_imgs a.currentImg {
	border: 2px solid #058bf9;
}
.zq_homeView .zq_imgBox .zq_imgs a img {
	width: 130px;
	height: 50px;
	display: block
}
.zq_homeView .zq_imgBox .zq_slides a {
	display: block;
	width: 30px;
	height: 39px;
	position: absolute;
	top: 9px
}
.zq_homeView .zq_imgBox .zq_slides a em {
	display: block;
	width: 22px;
	height: 35px;
	background: url("//mat1.gtimg.com/cq/2015video/images/all.png") no-repeat scroll;
	margin: 2px 4px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideLeft {
	left: -45px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideLeft em {
	background-position: -187px -47px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideRight {
	right: -45px
}
.zq_homeView .zq_imgBox .zq_slides a.zq_slideRight em {
	background-position: -210px -47px
}
.zq_homeView .zq_mask {
	width: 1000px;
	height: 360px;
	position: absolute;
	background-color: #000;
	opacity: .5;
	filter: alpha(opacity=50);
	top: 0
}
.zq_homeView .zq_maskLeft {
	left: 0
}
.zq_homeView .zq_maskRight {
	right: 0
}


/*Í¼Æ¬ÂÖ²¥3*/
/*  |xGv00|15ff095eb3edc709411abb8816df2342 */