/*
html{background:url(http://mat1.gtimg.com/gongyi/npoimages/body_bg.gif) repeat-x left 51px #e9e9e9;}
body{background:url(http://mat1.gtimg.com/gongyi/npoimages/banner_bg.gif) repeat-x  top; margin:0; padding:0; font-size:12px; color:#3f3f3f; line-height:18px;}

*/
html{background:url() repeat-x left 51px #e9e9e9;}
body{background:url() repeat-x  top; margin:0; padding:0; font-size:12px; color:#3f3f3f; line-height:18px;}
a,ul,li,p,h1,img,h2,h3,dl,dt,dd{ margin:0; padding:0; list-style-type:none; text-decoration:none; border:none}
a{ color:#057d02}
a:hover{ text-decoration:underline; cursor:pointer}
p{ word-break:break-all; word-wrap:break-all;}
#header{ background:url(http://mat1.gtimg.com/gongyi/npoimages/banner.jpg) no-repeat  center top; height:51px; margin:0 auto; min-width:970px; }
#header .header_bg .header_content{width:959px; margin:0 auto; height:51px; }
#header .header_bg .header_content h1{}
#header .header_bg .header_content h1 a{display:block;height:51px;line-height:99;overflow:hidden;width:180px; float:left}

/*4-11*/
#header .header_bg .header_content .test{ width:41px; float:left; height:21px; line-height:18px; background:url(http://mat1.gtimg.com/gongyi/npoimages/tips_bg.png) no-repeat 0 0; margin:10px 0px 0 5px; color:#738874; text-align:center;}


/*menu*/
#header .header_bg .header_content .menu{ width:390px; height:50px; float:left; margin-left:22px;}
#header .header_bg .header_content .menu ul{padding:19px 0 0 0px;}
#header .header_bg .header_content .menu ul li{background:url(http://mat1.gtimg.com/gongyi/npoimages/sub_menu.gif) no-repeat center; margin-right:2px;float:left; width:95px; height:32px; text-align:center;}
#header .header_bg .header_content .menu ul li.menu_current{background:url(http://mat1.gtimg.com/gongyi/npoimages/sub_menucurrent.gif) no-repeat center; _border-bottom: solid 1px #fff;; display:block; color:#4e4d49; font-weight:bold; text-decoration: none;}
#header .header_bg .header_content .menu ul li.menu_current a{ color:#000; text-decoration:none;}

#header .header_bg .header_content ul li a{text-align:center; color:#ffffff;line-height:30px; font-size:14px}

/*quick_links*/
#header .header_bg .header_content .quick_links {position:relative;right:3px;top:24px; float:right}
.quick-split{ background:url(http://mat1.gtimg.com/gongyi/npoimages/split.gif) no-repeat right center;}
#header .header_bg .header_content .quick_links ul li{ float:left;}
#header .header_bg .header_content .quick_links ul li a{float:left;line-height:18px;padding:0 8px; color:#aec4af;font-size:12px}

/*main*/
/*.main_bg{background:url(http://mat1.gtimg.com/gongyi/npoimages/cen_bg.gif) no-repeat top; width:961px;margin:0 auto; margin-bottom:20px}
.main_content{ width:952px;margin:0 auto; background:#fff; padding:13px 0; padding-bottom:0; }
*/
.main_bg{ width:961px;margin:20px auto 0;}
.main_content{ width:952px;margin:0 auto;  padding:0; }
.main_content .title{ width:910px;  margin:0 auto; clear:both; font-weight:100; overflow:hidden;*padding-bottom:2px;}
.main_content .title_boder{ border-bottom: solid 1px #e4e7e9 ; height:32px;}
.main_content .title .right_rz{ float:left; width:500px; margin-bottom:10px;}
.main_content .title img{ float:left; border: solid 1px #eaecee; margin-right:8px;}
.main_content .line{ border-bottom:1px solid #d7d7d7; height:1px; padding-top:3px}
.main_content .title #imageField{ vertical-align:middle; margin-left:18px;}
.main_content .title h2{color:#2c2c2c; font-size:16px;font-weight:bold; line-height:20px; display:inline; float:left; padding-top:3px;}
.main_content .title p{ display:inline; color:#999999}
.STYLE1{color:#057d02; font-weight:bold}
.STYLE3{color:#057d02;}
.STYLE2{ font-size:14px; display:block}
.STYLE4,.more a,.box1 p a{ color:#999999}
.STYLE5{ color:#8a8a8a}
.STYLE6 a{ color:#0c75a5;}
.STYLE7{ color:#f6ff14; font-weight:bold;}
.STYLE8{ font-weight:100;}
.STYLE9{ color:#a10117; font-size:14px;}
.float{ float:left;}
.sc{ font-size:14px; color:#999; padding-left:20px;}
span.ywzt{ font-family:Tahoma, Geneva, sans-serif;}
.more{ font-size:12px; color:#999; float:right; font-weight:100;}
.padding_left1{ padding-left:360px; float:right; padding-top:2px; padding-right:3px;}
/*content*/
.main_content .content{ background:#fff; border:1px solid #ccc; padding:0; line-height:20px; clear:both; min-height:400px;margin:0}

/*main_left*/
.main_content .content .main_left{ width:665px; margin-left:6px;_margin-left:4px; float:left; padding-left:9px;padding-top:17px}
.main_content .content .main_left .active{margin-left:13px; margin-bottom:33px; height:100px;}
.main_content .content .main_left .active span a{color:#057d02;}
.main_content .content .main_left .active span img{ margin-right:17px; float:left}
.main_content .content .main_left .active p{ height:86px; }
.main_content .content  .rzlist_nav{ width:833px; padding-left:0px; padding-top:12px;}
.submenu{ padding-left:9px; height:26px; clear:both; background:url(http://mat1.gtimg.com/gongyi/npoimages/submenu_bg.gif) repeat-x bottom;}
.main_content .content  .submenu ul{  }
.main_content .content  .submenu ul li{float:left;padding-left:21px;height:26px;line-height:26px;margin-right:5px}
.main_content .content  .submenu ul li a{padding-right:21px;_padding:5px 21px 3px 0;color:#2c2c2c;font-size:14px; display:block; _display:inline;  }
.main_content .content  .submenu ul li.current{ background-position:left top;}
.main_content .content  .submenu ul li.current a{ background-position:right top; font-weight:bold; }

.main_content .content  .submenu .gongneng{ float:right; line-height:25px }
.main_content .content  .submenu .gongneng a{color:#057d02;background:url(http://mat1.gtimg.com/gongyi/npoimages/icon.gif) no-repeat left -137px;padding-left:22px;font-size:12px; padding-top:3px\9}
.main_content .content  .submenu .gongneng a.bg1{ background-position:left -175px}
.main_content .content  .submenu .gongneng a.bg2{ background-position:left -214px}
.main_content .content .main_left .dongtai{ padding:15px 0 15px 5px;overflow:hidden;border-bottom:1px solid #d7d7d7;clear:both; _padding-bottom:5px; width:665px;}
.main_content .content .main_left .none{ border:none;}
.main_content .content .main_left .dongtai img{ margin-right:15px; float:left; }
.main_content .content .main_left .dongtai h3{ font-weight:normal; padding-left:25px; float:left; font-size:14px}
.main_content .content .main_left .dongtai .bg{ background:url(http://mat1.gtimg.com/gongyi/npoimages/icon.gif) no-repeat left top;}
.main_content .content .main_left .dongtai .bg_position1{ background-position:left -31px}
.main_content .content .main_left .dongtai .bg_position2{ background-position:left -68px}
.main_content .content .main_left .dongtai .bg_position3{ background-position:left -103px}
.main_content .content .main_left .dongtai .time{ text-align:right; font-size:12px;color:#999999; clear:right}
.main_content .content .main_left .dongtai span{}
.main_content .content .main_left .dongtai span img{ float:left; margin-right:16px}
.main_content .content .main_left .dongtai .dongtai_con{margin:15px 15px 0px 23px; clear:both; overflow:hidden }
.main_content .content .main_left .dongtai ul{ overflow:hidden; float:left; width:510px}
.main_content .content .main_left .dongtai ul li.left{ color:#999999; float:left}
.main_content .content .main_left .dongtai ul li.right{ color:#3f3f3f; float:left; clear:right; width:440px}


/*add by niou for index new photos begin*/
.main_content .content_photo{  padding-top:0; line-height:15px; clear:both;}
.main_content .content_photo .main_photo .dongtai{ padding:15px 0 15px 5px;overflow:hidden;border-bottom:1px solid #d7d7d7;clear:both; _padding-bottom:5px; width:665px;}
.main_content .content_photo .main_photo .none{ border:none;}
.main_content .content_photo .main_photo .dongtai img{ margin-right:15px; float:left; }
.main_content .content_photo .main_photo .dongtai h3{ font-weight:normal; padding-left:25px; float:left; font-size:12px}
.main_content .content_photo .main_photo .dongtai .bg{ background:url(http://mat1.gtimg.com/gongyi/npoimages/icon.gif) no-repeat left top;}
.main_content .content_photo .main_photo .dongtai .bg_position1{ background-position:left -31px}
.main_content .content_photo .main_photo .dongtai .bg_position2{ background-position:left -68px}
.main_content .content_photo .main_photo .dongtai .bg_position3{ background-position:left -103px}
.main_content .content_photo .main_photo .dongtai .time{ text-align:right; font-size:12px;color:#999999; clear:right}
.main_content .content_photo .main_photo .dongtai span{}
.main_content .content_photo .main_photo .dongtai span img{ float:left; margin-right:16px}
.main_content .content_photo .main_photo .dongtai .dongtai_con{margin:15px 15px 0px 23px; clear:both; overflow:hidden }
.main_content .content_photo .main_photo .dongtai ul{ overflow:hidden; float:left; width:510px}
.main_content .content_photo .main_photo .dongtai ul li.left{ color:#999999; float:left}
.main_content .content_photo .main_photo .dongtai ul li.right{ color:#3f3f3f; float:left; clear:right; width:440px}

/*add by niou for index new photos end*/


/*turn_page*/
.main_content .content  .turn_page{ text-align:center;clear:both; margin-top:30px; margin-bottom:10px}
.main_content .content  .turn_page a{ padding:2px 8px;border:1px solid #dedede; color:#999999;outline:none;hide-focus:expression(this.hideFocus=true); }
.main_content .content  .turn_page a.current{ background:#dedede}
.main_content .content  .turn_page .current:hover{ background:#dedede; text-decoration:none}
.main_content .content  .turn_page a:hover{background:#dedede; text-decoration:none}
.main_content .content  .turn_page a.active{ border:1px solid #dedede;color:#057d02}
/*main_right*/
.main_content .content .main_right{float:right; width:230px; overflow:hidden;padding-top:17px; margin-right:20px;_margin-right:10px;}
.fensi{ padding-bottom:20px;  overflow:hidden; background:url(http://mat1.gtimg.com/gongyi/npoimages/fensibottom_bg.gif) no-repeat left bottom #f5f5f5 ;}
 .top{padding-left:12px;padding-top:10px; background: url(http://mat1.gtimg.com/gongyi/npoimages/fensitop_bg.gif) no-repeat top #f1f1f1;clear:both; overflow:hidden; height:115px;padding-bottom:5px; border-bottom:1px solid #fff;}
.main_content .content .main_right .fensi .top img{ float:left; margin-right:14px; margin-bottom:5px; border:solid 1px #e3e7ea;}
.main_content .content .main_right .fensi .top .fensi_r span{ float:left}
.main_content .content .main_right .fensi .fensi_r p{ font-family:"寰蒋闆呴粦 "; font-size:21px; color:#057d02; font-weight:400;}
.main_content .content .main_right .fensi .top p a{ padding-left:50px;}
.main_content .content .main_right .fensi input{background:url(http://mat1.gtimg.com/gongyi/npoimages/right_btn_support.gif) no-repeat center; width:53px; height:23px; cursor:pointer;color:#057d02; margin-top:12px}
.main_content .content .main_right .fensi .qq_link{clear:both;padding-right:20px; padding-left:12px; margin-top:6px; overflow:hidden}
.main_content .content .main_right .box1{ margin-top:10px; overflow:hidden; clear:both}
.main_content .content .main_right .box1 .box1_title{ border-bottom:1px solid #d7d7d7; padding:3px 10px; margin-bottom:8px; }
.main_content .content .main_right .box1 .box1_title h3{color:#2c2c2c; font-size:14px;float:left}
.main_content .content .main_right .box1 p{ text-align:right;font-size:12px; font-weight:normal; color:#707070; line-height:22px}
.list_content{ padding-left:8px; overflow:hidden;}
.list_content ul{}
.list_content ul li{ margin:8px 11px;float:left;display:inline;}
.list_content p{ text-align:center;overflow:hidden;}
.box1 .list_content p a{color:#057d02;}

.zhiyuan{ background:url(http://mat1.gtimg.com/gongyi/npoimages/line.gif) no-repeat bottom; margin-top:5px; padding-bottom:8px;_padding-bottom:0px;overflow:hidden; clear:both;}

.zhiyuan .renwu_xiao{ float:left; margin-top:3px; padding-left:2px;_margin-top:8px;}
.zhucezuzhi .logo img{ float:left; margin:3px 8px 3px 10px;border: solid 1px #e4e8e9;}
.zhiyuan ul{margin:0; float:left; padding-left:10px; padding-top:8px; }
.zhiyuan ul.gudingk{margin:0; width:165px; float:left; padding-left:10px; overflow:hidden;}
.zhiyuan ul li{margin:0; float:none; line-height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; display:block}
.zhucezuzhi{ clear:both;  margin:7px auto; overflow:hidden;}
.zhucezuzhi h3 a{ color:#000;}
.zhucezuzhi p{ float:left; color:#999; }
.zhucezuzhi h3{ font-weight:100; font-size:12px; color:#3f3f3f; padding-top:7px;}
.zhiyuan ul li img{ vertical-align:bottom; padding-left:5px;}
.zhiyuan ul li a{ color:#057d02;}
.zhiyuan ul li.list_r{text-align:right}

/*footer*/
#footer{ background:url(http://mat1.gtimg.com/gongyi/npoimages/bottom.gif) no-repeat top; height:90px; clear:both; text-align:center; margin:0 auto; color:#aaaaaa; line-height:22px; padding:8px 0; border-top:1px solid #d2d2d2;}

#footer a{ color:#aaa; }


/*master*/
.main_content .content .master_l{ padding-top:0;}
.main_content .content .main_left .mas_active{ margin:18px 0 22px 13px;}
.main_content .content .main_left .active .bg img{ margin-right:3px}
.main_content .content .main_left .dongtai .mas_h{ padding-left:0; float:none}
.main_content .content .main_left .dongtai .dongtai_con .neirong{}
.main_content .content .main_left .dongtai .mas_dongtai{ margin-left:12px; margin-bottom:10px; overflow:hidden; width:660px;}
.list_content p.STYLE6{ text-align:left}
.shenhe ul{ clear:both;}
.shenhe a{ color:#057d02}
.borderline{border-bottom:1px solid #e4e7e9;}
.main_content .content .main_left .mas_dongtai { padding-top:0; overflow:hidden}

.zhiyuan ul li p.list_r{ float:right; padding-left:15px;}
.master_dong{ padding:8px 0 12px 18px;  overflow:hidden;margin:0 auto;width:666px; }
.master_dong .title_l{float:left; width:520px; white-space:normal; font-size:14px;}
.zhiyuan .list_righ{ padding-left:60px}

/*娉ㄥ唽闄勫姞鏍峰紡*/
p,ul li{ padding:0; margin:0; list-style-type:none}
.zc_head{ font-size:14px; font-weight:bold; padding-left:45px; padding-top:23px;}
.zc_head ul{ display:block; clear:both; margin:5px 0; overflow:hidden;}
.zc_head ul li{ float:left; margin-right:3px;}
.zc_head ul li #imageField2{ vertical-align:middle; padding-bottom:1px;}
input,select{ font-size:12px; padding:0; margin:0;}
input#text{border: solid 1px #b7b7b7;}
span.gray{ color:#8a8a8a;}
span.check{ color:#057d02; font-size:12px;}
.text{width:238px; border: solid 1px #b7b7b7;}
.select{ width:96px; border: solid 1px #b7b7b7;}
.red{ color:#F00; padding-right:3px;}
.pub_title{ font-size:14px; font-weight:bold; border-bottom: solid 1px #e4e7e9; line-height:26px; height:30px;width:826px; margin:0 auto ; clear:both;}
.next{ text-align:center; padding-top:50px;}

.huodong_list ul li img{float:left;  padding-right:15px}
.huodong_list li{ width:260px; margin:3px 0px 18px 100px ; line-height:22px;float:left; display:inline;}
.huodong_list li div{ float:left;}
.zc_content{ margin:10px auto 0 auto; line-height:26px; clear:both; padding-top:23px;_padding-top:12px; padding-left:45px; }
/*add by niou begin*/
.zc_content2{ margin:10px auto 0 auto; line-height:26px; clear:both; padding-top:0px;_padding-top:0px; padding-left:45px; }
/*add by niou end*/
.zc_content ul li{padding-top:3px; padding-bottom:3px; }
.zc_content ul li.col_l1{ width:211px; text-align:right;float:left; clear:left;}
.zc_content ul li.col_r1{ width:688px;float:right; clear:right; overflow:hidden; text-align:left;}
.zc_content ul.chkbox{ width:580px; overflow:hidden;}
.zc_content ul.chkbox li{ float:left; width:80px; padding:0px; margin:0px;}
.zc_content .top{ text-align:center; padding-top:30px;}
.zc_head0 ul li{float:left;}
 .grayline{ border-bottom:solid 1px #e4e7e9; width:826px; padding-bottom:5px;}

.z_tx{ width:100px; height:100px;}
.s_tx{ width:60px; height:60px; margin-top:16px;}
.x_tx{ width:50px; height:52px; padding-top:16px;}
.img_border{ border: solid 1px #b2b2b2; padding:44px; margin-right:10px; position:relative;}
.img_border span img{ border: solid 2px #90a73d; padding:3px; display:block;}
.lashen{ position:absolute; top:241px; left:242px;_left:198px;}
.querenbd{ padding-left:300px; margin-top:35px;}
 #imageField,#imageField1,#imageField2,#imageField3,#imageField4,#imageField5{ vertical-align:middle; border:none;}

.zc_content .photo_sc li{ float:left; margin-right:18px;}
.zc_content .zhucezg{ padding-left:38px;}
.zc_content .zhucezg p{ background:url(http://mat1.gtimg.com/gongyi/npoimages/yes.gif) no-repeat 5px top; line-height:36px; font-size:16px; font-weight:bold; color:#2c2c2c; padding-left:62px;}
.zc_content .zhucezg div{ padding-left:62px; padding-bottom:6px; font-size:14px;}
.basic_row{ padding-bottom:5px;*padding-bottom:5px;padding-bottom:5px\9;_padding-bottom:13px;}
.basic_title{float:left;margin-right:10px;text-align:right;width:192px; clear:left;}
.basic_row span.notice{color:#ACA899;padding-left:5px; margin:0;}
.basic_row .biaodanqr{ margin:50px 0 0 369px;}

/*鏃ュ織鍒楄〃椤甸潰鍐呭閮ㄥ垎鏍峰紡*/
.log_list_detail{ border-bottom:solid 1px #e4e7e9; clear:both; width:910px; margin:0 auto; padding:12px 0px}
.log_list_detail p { padding-left:8px; line-height:24px;}
.log_list_detail .p_top{ padding-top:5px;_padding-top:9px;}
.rz_content{ line-height:24px; font-size:14px; padding-top:3px; padding-bottom:10px;}
.rz_title { font-size:16px; font-weight:bold; padding-bottom:5px;}
.onpage{ padding-bottom:12px;}
.pinglun li img{ float:left; margin:3px 8px;}
.pinglun{ margin-bottom:45px;}
.log_list_detail .fangbiaopl p{ padding-top:5px;}
.log_list_detail .fangbiaopl ul li{ padding-left:70px; margin-top:5px;}

/*photo*/
.photo_list{clear:both; width:910px; margin:0 auto; padding:20px 0px !important; *padding:28px 0px !important;_padding:28px 0px; overflow:hidden;}
.photo_list li{ float:left; width:220px; height:125px; margin-right:7px; margin-top:26px;  margin-bottom:25px;}
.img_bk{ border:solid 1px #e4e7e9; padding:1px; width:109px; height:120px; float:left; margin-right:10px;}
.img_bkin{ border-right:solid 1px #e4e7e9; border-bottom:solid 1px #e4e7e9; padding:4px; height:111px; text-align:center; width:100px;}
.photo_detail,.photo_show{ margin:0 auto; clear:both;}
.photo_detail .photo_detailtop{ width:910px;  margin:10px auto 0px auto; line-height:18px; margin-top:10px;clear:both; font-weight:100;}
.top_right{ float:right;}
.top_right img
.photo_detail ul,.clear{ clear:both;}
.photo_detail ul li{ width:110px; height:110px;margin:26px 23px 15px ; text-align:center; float:left; display:inline; border:solid 1px #e4e7e9;}

.photo_list .upload_photo{ margin-top:23px;}
.photo_list .upload_photo p{ padding: 5px 0px 5px 268px;}
/*date_show*/
.date_show{ margin-right:23px; line-height:24px; margin-top:20px;_margin-top:30px; margin-left:45px; }
.date_show p{ font-size:14px; width:550px;  padding-left:225px; margin-top:10px;}
.date_show p p{ font-size:14px; width:550px;  padding-left:0px; margin-top:1px;}
/*.date_show img{ float:left; border:solid 1px #e3e7ea; padding:5px; margin:0px 23px 0px 10px;}  鍙栨秷缁勭粐淇℃伅鍥剧墖鍋忕Щ*/
.date_show img{ border:solid 1px #e3e7ea; padding:5px; margin:0px 23px 0px 10px;}

.date_show dl dt{ font-size:16px; font-weight:bold; padding-bottom:5px;}


/*CommunityEvent_list*/
#wrapper .main_bg .main_content .content .height{ height:30px; margin-bottom:10px; }
.content .gongyihdlb_content{clear:both; width:924px; margin:5px auto 0px auto; font-size:14px; padding:0; overflow:hidden;}
.main_content .content  .gongyihuodong{ width:900px; margin-left:20px; margin-bottom:15px;  clear:both;}
.content .gongyihdlb_content .gongyihdlb_left{ width:182px; padding-left:12px; float:left;}
.content .gongyihdlb_content .gongyihdlb_right{ float:left; width:78%; overflow:hidden;}
.content .gongyihdlb_content .gongyihdlb_left ul li{ width:90px; padding-left:6px; padding-top:12px; border-bottom: solid 1px #e9e9e9; color:#3f3f3f;}
.content .gongyihdlb_content .gongyihdlb_left ul li a,.pingtaipd_left ul li a,.faqihd a,.gengduodongtai a{ color:#3f3f3f;}
.content .gongyihdlb_content .gongyihdlb_left .noneborder{ width:auto; border:none;}
.gongyihdlb_list{ margin-bottom:20px; clear:both;}
.gongyihdlb_list img{ float:left; margin-right:18px; width:100px; height:100px;}
.gongyihdlb_list .neirong_content{font-size:12px; overflow:hidden;width:561px;}
.gongyihdlb_list .neirong_content h3{ padding-bottom:8px; }
.line_x{  border-bottom: solid 1px #e4e7e9; margin-top:10px; clear:both; }
.gengduodongtai{ width:666px; height:27px;padding-top:9px; border:solid 1px #d1d1d1; background:#f5f5f5; text-align:center; clear:both;}
.gongyihdlb_list .neirong_content .col_l2{ float: left; width:60px; color:#999; clear:left;}
.gongyihdlb_list .neirong_content .col_r2{ float: left; width:500px;}

/*PEEvent_list*/
.gongyihdlb_content .pingtaipd_left{ width:191px; float:left; margin-right:32px; margin-left:5px;padding-top:5px;}
.gongyihdlb_content .pingtaipd_right{ width:690px; float:left; padding-top:11px;}
.gongyihdlb_content .pingtaipd_left li{ width:172px; line-height:33px; border-bottom: solid 1px #e4e7e9; display:block; padding-left:18px;}
.gongyihdlb_content .pingtaipd_left li.current{ background: url(http://mat1.gtimg.com/gongyi/npoimages/channel_listbg.gif) no-repeat left center; }
.gongyihdlb_content .pingtaipd_left p{ font-size:12px;}
.gongyihdlb_content .pingtaipd_left .faqihd{ width:168px; height:32px; font-weight: bold; margin-top:12px; background:url(http://mat1.gtimg.com/gongyi/npoimages/gongyihd_listbg.gif) no-repeat left; font-size:14px; padding-left:23px; padding-top:8px;_height:28px;_padding-top:12px; }
.gongyihdlb_content .pingtaipd_left .faqihd img{ vertical-aligns:middle;}
.gongyihdlb_content .huodong_lx{border-bottom: solid 1px #e4e7e9; margin-bottom:14px;  font-size:14px; font-weight:bold; clear:both;}
.gongyihdlb_content .pingtaipd_right .huodong_list ul li{ margin:0px 30px 23px 0px; width:300px; font-size:12px;}


/*PNorganize_lsit*/
 .new_organize { float:left;  width:345px; padding-bottom:25px; margin-top:16px;}
.new_organize img{ float:left; width:100px; height:100px; border:solid 1px #e4e7e9; margin-right:2px;}
/*update by niou begin*/
/*.new_organize .organize_msg{ float:left; font-size:12px;}*/
.new_organize .organize_msg{font-size:12px; width:225px;float:right; margin-right:5px; height:130px;}

/*update by niou end*/
.new_organize .organize_msg li{ color:#057d02; background:url(http://mat1.gtimg.com/gongyi/npoimages/icon09.gif) no-repeat left; padding-left:8px; line-height:22px; border:none;}
 .organize_msg  .gengduo{*padding-right:38px;}
 /*12-24*/
 .pingtaipd_right ul li.borderbottom{border-bottom:solid 1px #e4e7e9;float:left;}
/*12-24*/









/*eventshow*/
.main_content .content .event_showhead p{ padding-left:26px; margin:0 auto;}
.main_content .content .turn_page1{margin:15px 20px 5px 26px; text-align:left;}
.content .online_event{ width:950px;margin:0 auto; clear:both; border-bottom:solid 1px #e4e7e9; overflow:hidden;}
.content .event_title{ height:32px; border-bottom: solid 1px #e4e7e9; border-top:solid 1px #e4e7e9; background:#f1f1f1; padding-left:16px; line-height:32px;}
.content .online_event .eventcontent_left{ width:189px; float:left; }
.content .online_event .enentcontent_right{ float:left; width:756px;border-left: solid 1px #e4e7e9; }
.content .online_event .eventcontent_left .jijinhui{ border-bottom:solid 1px #e4e7e9; text-align:center;  padding-bottom:20px; margin-bottom:10px;}
.content .online_event .eventcontent_left .jijinhui img{ border: solid 1px #e4e7e9; margin:20px 0 15px 0;}
.content .online_event .eventcontent_left .pingjia{ padding-left:44px; line-height:22px;}
.content .online_event .eventcontent_left .pingjia h3{ font-size:12px; padding-bottom:5px; font-weight:bold;}
.content .online_event .enentcontent_right .right_head{ border-bottom: solid 1px #e4e7e9; line-height:38px; padding-left:26px; margin-bottom:8px;}
.content .online_event .enentcontent_right .huodongxx{ width:714px; margin-left:26px; clear:both;}
.content .online_event .enentcontent_right .huodongxx p.top{ margin-top:25px;}
.content .online_event .enentcontent_right .huodongxx ul{ float:left; line-height:24px; width:434px;}
.content .online_event .enentcontent_right .huodongxx ul span{ padding-top:5px;}
/*emilydeng 2011/8/9疃编辑写图片时图片耍删式 */
.content .online_event .enentcontent_right .huodongxx span img{ float:right; }
.content .online_event .enentcontent_right .linex{ background:url(http://mat1.gtimg.com/gongyi/npoimages/line_x.gif) repeat-x bottom; clear:both; margin-bottom:10px; height:10px;}
.content .online_event .enentcontent_right .huodongxx .shenhe ul{ width:715px;}
.content .online_event .enentcontent_right .huodongxx .shenhe ul li{ float:left; margin-right:18px; line-height:20px;height: 92.5px;}
.content .online_event .enentcontent_right .huodongxx .shenhe ul li img{ margin-top:12px; margin-bottom:5px;}
.content .online_event .enentcontent_right .huodongxx .huodongjs{ clear:both; overflow:hidden; font-size:14px; }
.content .online_event .enentcontent_right .huodongxx .huodongjs ul li img{ margin:20px 0px;}
.content .online_event .enentcontent_right .huodongxx .huodongjs img{float:none;}

.content .tiezi{ clear:both; height:115px; line-height:24px; overflow:hidden;border-bottom:solid 1px #e4e7e9; margin-top:15px;}
.content .tiezi  span{ float:left; margin:0px 70px 0px 70px; text-align:center;}
.content .tiezi  span img{ margin-bottom:8px;}
.content .tiezi  div{ float:left; width:686px;}
.content .huifu{ margin:22px 1px 20px 1px; padding:0;}
.content .huifu span.baominghd{ float:left; background:#fff; border-left:solid 1px #e4e7e9; border-right:solid 1px #e4e7e9; border-bottom:solid 1px #fff; padding:0 10px;}
/* add by niou begin*/
.content .huifu span.baominghd2{ float:left; background:#f1f1f1; border-left:solid 0px #e4e7e9; border-right:solid 0px #e4e7e9; border-bottom:solid 1px #f1f1f1; padding:0 10px;}
.content .huifu span.huifuhd{float:left;background:#fff; border-left:solid 1px #e4e7e9; border-right:solid 1px #e4e7e9; border-bottom:solid 1px #fff; padding:0 10px;}
.content .padding_left2{ padding-left:190px; padding-top:5px;}
/*add  by niou end*/
.content .huifu_content{ border-bottom:none; height:auto; line-height:25px; }
.content .huifu_content img{ border: solid 1px #e4e7e9;}
.content .padding_left{ padding-left:48px; padding-top:5px;}

/*zuzhiyhzrthdlb_gl*/
.content .gongyihdlb_content .zuzhiyhzrdhdlb_left{ width:182px; float:left; line-height:30px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_left a{ color:#2c2c2c;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_left dl{width:146px;  font-size:14px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_left dl dt{ border-bottom: solid 2px #e6e7e9; font-weight:bold;margin-top:10px;padding-left:4px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_left dl dd {  border-bottom: solid 1px #e6e7e9;padding-left:4px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_left .icon13{ padding-top:10px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_left dl dd.current{ background:#f1f1f1;padding-left:10px;}

.content .gongyihdlb_content .gongyihdlb_right .daishenh{ height:30px; background:#f5f3f4; padding-left:9px; line-height:30px; margin:5px 0 17px; font-size:12px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right img{ width:61px; height:61px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .gongyihdlb_list .neirong_content{ width:639px;}

/*zuzhiyhzrthdlb_sc*/
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .gongyihdlb_list .neirong_content ul .delete{ padding-right:13px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .sc_top{ height:20px;}

/*zuzhiyhzrtfbhdzj_scwz*/
.content .zc_content .basic_row .basic_title1{ width:115px;}
.content .zc_content .basic_row .link a{ color:#00F;}

/*zuzhiyhzrthdlb_hdpj*/
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .huodong_head{ height:30px; line-height:30px;  font-size:12px;background:#f5f5f5;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .hdpj_top{ height:30px; padding-left:15px; margin:5px 0; font-size:12px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .huodong_head span{ padding:0 10px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .huodong_head ul li{ float:left; border-left: solid 2px #fff; text-align:center;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .none{ background:none;padding-left:15px; font-size:14px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .pingjia_list ul li{ line-height:37px; border-bottom: solid 1px #e3e7ea; overflow:hidden;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .pingjia_list ul li span{ float:left; text-align:center; }
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .huodong_head ul li.hdmc{width:280px; padding-left:15px; text-align:left;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .pingjia_list ul li .hdmc{ width:280px; padding-left:15px; text-align:left;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .hps,.zps,.cps{ width:99px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .hdjzsj{ width:118px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .pingjia_list ul li .cps,.pingjia_list ul li .zps{ width:88px; padding-left:11px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .pingjia_list ul li .hdjzsj{ width:100px; padding-left:18px;}

/*zuzhiyhzrt_shbmr*/
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right.gongyihdlb_right .xsss{ background:none;  height:36px; padding-left:15px; line-height:36px; font-size:12px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right.gongyihdlb_right .xsss input{ margin-top:5px; *float:left;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li .pic img{ width:49px; height:49px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right.gongyihdlb_right .xsss span{margin:0 10px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right.gongyihdlb_right .xsss span.current{ background:#097c03; padding:1px 2px 0 2px; display:inline; color:#fff;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .pic{ width:86px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .name_address{ width:80px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .age{ width:44px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .phone{ width:89px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .email{ width:110px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .leave_word{ width:89px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .hdqk{ width:108px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .bmsj{ width:98px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list{ font-size:12px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li{ padding:16px 0 12px;_height:48px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li .pic{ text-align:left;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li .name_address{ text-align:left; width:73px; padding-left:10px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li .phone{ text-align:right; width:84px; padding-right:5px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li .bmsj{ text-align:right; width:93px; padding-right:5px;}

.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li input{ padding-top:6px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list.pingjia_list ul li .pic span.chkbox{padding-top:14px; margin:0 5px 0 8px; *margin-right:2px;}
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li span p{ padding:0; margin:0; line-height:20px; }
.content .gongyihdlb_content .zuzhiyhzrdhdlb_right .shbmr_list ul li span p.nicheng{ padding-top:3px;}




/*penwang 娣诲姞,upload css*/
.img_border{ border: solid 1px #b2b2b2; padding:44px; margin-right:10px; position:relative;}
.img_border span img{ border: solid 2px #90a73d; padding:3px; display:block;}


.img_border{ border: solid 1px #b2b2b2; padding:44px; margin-right:10px; position:relative;
	clear:both;float:left;height:196px;width:196px;overflow:hidden;
}

.img_border div.boxsmall,
.img_border span
{
width:210px;overflow:hidden; min-height:210px; max-height:210px; padding:0px;border: solid 0px #0000FF;
}

.img_border span img{ border: solid 0px #90a73d; padding:0px; display:block;}
.img_border div.boxsmall .img_div{ border: solid 2px #90a73d; padding:3px; width:195px;overflow:hidden; min-height:195px; max-height:195px;}
.img_border div.boxsmall .img_div img{ border: solid 0px #90a73d; padding:0px; display:block;}


form { margin:0; padding:0; }
/* penwang edit end*/





/*menu_show*/  /*add by niou begin*/
.main_bg_show{background:url(http://mat1.gtimg.com/gongyi/npoimages/cen_bg.gif) no-repeat top; width:961px;margin:0 auto; margin-bottom:0px}
#header .header_bg .header_content .menu_show{ margin-left:-16px;position:absolute; *margin-left:-476px;z-index:2; height:51px}
#header .header_bg .header_content .menu_show ul{padding:19px 0 0 217px;}
#header .header_bg .header_content .menu_show ul li{background:url(http://mat1.gtimg.com/gongyi/npoimages/sub_menu.gif) no-repeat center; margin-right:2px;float:left; width:95px; height:30px; text-align:center; color:#ffffff}
.scroll_photo{overflow:hidden; margin:0 auto; width:685px; height:60px;}
.scroll_photo button{cursor:pointer; overflow:hidden; float:left; width:17px; height:60px; border:0 none; background:url(http://imgcache.qq.com/city_v1/img/bg_turn_page.png) no-repeat 0 0;}
.scroll_photo button span{display:none;}
.scroll_photo .btn_next{background-position:-19px 0;}
.scroll_photo .list_mini_photo{overflow:hidden; float:left; margin:0 3px; width:645px;}
.scroll_photo .list_mini_photo ul{width:1000px;}
.scroll_photo .list_mini_photo li{float:left; margin-right:5px; padding:1px; border:1px solid #DADADA;}
.scroll_photo .list_mini_photo li .photo{overflow:hidden; margin:3px; width:50px; height:50px; background-color:#E7E7E7; text-align:center; line-height:50px;}
.scroll_photo .list_mini_photo li a img{display:block; font-size:0;}
.scroll_photo .list_mini_photo li.current{border:2px solid #0C75A3;}
.scroll_photo .list_mini_photo li.current .photo{margin:2px;}
.scroll_photo_static{height:40px; line-height:40px; text-align:center;}
/*==clear both==*/
.clearfix:after{clear:both; display:block; content:"."; height:0; visibility:hidden;}
.clearfix{zoom:1;}
/*===== 鍥剧墖浜掑姩鍔熻兘 =====*/
.show_big_photo .photo_acts{clear:both;padding:52px 0 15px;text-align:center;}
.show_big_photo .photo_acts a{margin-right:15px;}
.show_big_photo .photo_acts a img{margin-right:2px;background-color:#fff;_vertical-align:-3px;}
.show_big_photo .photo_acts .icon_musicbox{vertical-align:-7px;_vertical-align:-5px;}/*  |xGv00|517421758e4a5771bc9aea16bbae8200 */

/*add by niou end*/



/*
.gongyi_level{width: 53px;  float: left; height: 22px; margin:0 40px 0 10px;}
.gongyi_level.open{ background: url(http://mat1.gtimg.com/gongyi/npoimages/personal/open_bak.png) no-repeat -7px 0px;}
.gongyi_level.close{ background: url(http://mat1.gtimg.com/gongyi/npoimages/personal/close_bak.png) no-repeat -7px 0px;}

.gongyi_level.open .lv{ background:url(http://mat1.gtimg.com/gongyi/npoimages/personal/lv.png) no-repeat 0px 0px; float:left; width:14px; height:22px; margin-left:20px; }
.gongyi_level.close .lv{ background:url(http://mat1.gtimg.com/gongyi/npoimages/personal/lv.png) no-repeat -15px 0px; float:left; width:14px; height:22px; margin-left:20px; }

.gongyi_level.open em{ background: url(http://mat1.gtimg.com/gongyi/npoimages/personal/open_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 22px; margin-right:10px;}
.gongyi_level.close em{ background: url(http://mat1.gtimg.com/gongyi/npoimages/personal/close_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 22px; margin-right:10px;}

.gongyi_level em.num1{ background-position:0px 1px;}
.gongyi_level em.num2{ background-position:-27px 1px;}
.gongyi_level em.num3{ background-position:-56px 1px;}
.gongyi_level em.num4{ background-position:-85px 1px;}
.gongyi_level em.num5{ background-position:-113px 1px;}
.gongyi_level em.num6{ background-position:-143px 1px;}
.gongyi_level em.num7{ background-position:-172px 1px;}
.gongyi_level em.num8{ background-position:-201px 1px;}
*/

/*QQ_lv1*/
.gongyi_level{width: 53px;  float: left; height: 18px; margin:0 0px 0 10px;}
.gongyi_level.open{
  background: url("http://mat1.gtimg.com/gongyi/2011images/htdocs/images/open_bak.png") no-repeat scroll 4px 3px transparent
}
.gongyi_level.close{ background: url(http://mat1.gtimg.com/gongyi/npoimages/personal/close_bak.png) no-repeat -7px 0px;}

.gongyi_level.open .lv{ background:url(http://mat1.gtimg.com/gongyi/npoimages/personal/lv.png) no-repeat 0px 0px; float:left; width:14px; height:16px; margin-left:18px; }
.gongyi_level.close .lv{ background:url(http://mat1.gtimg.com/gongyi/npoimages/personal/lv.png) no-repeat -15px 0px; float:left; width:14px; height:22px; margin-left:18px; }

.gongyi_level.open em{ background: url(http://mat1.gtimg.com/gongyi/npoimages/personal/open_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 16px; margin-right:12px;}
.gongyi_level.close em{ background: url(http://mat1.gtimg.com/gongyi/npoimages/personal/close_num.png) no-repeat 0px 1px; float: right; width: 8px;  height: 22px; margin-right:12px;}

.gongyi_level em.num1{ background-position:0px 1px;}
.gongyi_level em.num2{ background-position:-27px 1px;}
.gongyi_level em.num3{ background-position:-56px 1px;}
.gongyi_level em.num4{ background-position:-85px 1px;}
.gongyi_level em.num5{ background-position:-113px 1px;}
.gongyi_level em.num6{ background-position:-143px 1px;}
.gongyi_level em.num7{ background-position:-172px 1px;}
.gongyi_level em.num8{ background-position:-201px 1px;}




/*prompt 寮瑰嚭瀵硅瘽绐楀彛*/
.prompt{   width:380px; height:158px; border: solid 2px #d7d7d7; background:#fff; text-align:center;}
.prompt .t{ line-height:32px; padding-left:13px; background:#f1f1f1; margin-bottom:30px; text-align:left;}
.prompt .t img{ float:right;}
*+html .prompt .t{margin-top:0px;}
.prompt p{ font-size:14px;}
.prompt .btn{ padding:25px 0 25px; }
.prompt .btn input{ background:url(http://mat1.gtimg.com/gongyi/npoimages/btn_bg.png) no-repeat; width:65px;height:29px;text-align:center; line-height:26px; border:none; cursor: pointer;}
#one{ position:absolute; left:45%; top:45%;}
#another{position:absolute; left:45%; top:75%;}

/*prompt 寮瑰嚭瀵硅瘽绐楀彛涓撻棬閽堝photo椤甸潰*/
.promptforphoto{   width:380px; height:158px; border: solid 2px #d7d7d7; background:#fff; text-align:center;}
.promptforphoto .t{ line-height:32px; padding-left:13px; background:#f1f1f1; margin-bottom:30px; text-align:left;}
.promptforphoto .t img{ float:right;}
* html .promptforphoto .t img{ float:right;margin-top:-30px;}
*+html .promptforphoto .t img{ float:right;margin-top:-30px;}
.promptforphoto p{ font-size:14px;}
.promptforphoto .btn{ padding:25px 0 25px; }
.promptforphoto .btn input{ background:url(http://mat1.gtimg.com/gongyi/npoimages/btn_bg.png) no-repeat; width:65px;height:29px;text-align:center; line-height:26px; border:none; cursor: pointer;}



/*4-11*/
.main_content .qqgy_img img{ margin:0 0 0 17px;}
.main_content .left .method_lc{ width:666px; height:81px; background:url(http://mat1.gtimg.com/gongyi/npoimages/gyqq_sqlc.jpg) no-repeat; margin-bottom:32px;}
.main_content .left .method_lc p{ float:left; padding-top:12px; display:inline;}
.main_content .left .method_lc p a{ display:block;}
.main_content .left .method_lc p.p1{ width:125px; margin-left:40px;}
.main_content .left .method_lc p.p2{ width:158px; margin-left:88px;}
.main_content .left .method_lc p.p3{ width:175px; margin-left:80px;}
.main_content .left .c_question_con{ font-size:14px; line-height:24px; padding-left:5px;}
.main_content .left .c_question p{ text-indent:24px;}
.main_content .left .c_question p.sm{ font-size:12px; color:#858585; text-indent:0; padding:15px 0 40px;}
.main_content .left .c_question h3{ font-weight:100;}


/*4-15 Mdate_alter*//*emilydeng 更改了，将title改为subtitle,并加入了.main_content .subtitle样式*/
.main_content .subtitle{ width:665px;  margin:0 auto; clear:both; font-weight:100; overflow:hidden;*padding-bottom:2px;}

.main_content .subtitle .mdate_menu{ clear:both; height:29px; background:#f5f5f5;}
.main_content .subtitle .mdate_menu ul li{ float:left; padding:0 10px; line-height:28px;}
.main_content .subtitle .mdate_menu ul li a{ color:#2c2c2c;}
.main_content .subtitle .mdate_menu ul li.on{ background:#fff; border: solid 1px #e4e6e9; border-bottom:none; margin-top:1px; height:27px;}

/*4-21*/
.main_content .right .p4 span{ width:92px; float:left;padding:3px 20px 0 0;}
.main_content .right .p5{ border-top: solid 4px #fff; clear:both; padding-top:3px;}
.main_content .right .p5 span{ float:right; padding-left:37px; padding-top:3px; }
.main_content .right .p5 span.sp1{ background:url(http://mat1.gtimg.com/gongyi/npoimages/icon08.gif) no-repeat 18px 3px;}
.main_content .right .p5 span.sp2{ background:url(http://mat1.gtimg.com/gongyi/npoimages/icon01.png) no-repeat 18px 3px;}

/*4-29hduser_list.html*/
.hduser_list{ padding-left:7px;}
.hduser_list ul li{float: left;overflow: hidden;width: 64px; text-align:center; margin:10px 20px 10px;}
.hduser_list ul li img{border: 1px solid #C8C8C8;display: block;height: 60px;padding: 1px;width: 60px; margin-bottom:3px;}
.hduser_list ul li .c_1{  color: #E56100;text-decoration: none;}
 p.p6{ height:20px; padding-left:15px; line-height:20px;}
p.p7{ background:#F1F1F1; height:25px; line-height:25px; padding-left:15px; margin:10px 0px 5px 0;}

/*
 * 2011/7/21 emily(master.htm)*/
.mdate_menu {
    background: none repeat scroll 0 0 #F5F5F5;
    clear: both;
    height: 29px;
}
 */
 
 
 /*2011-8-1*/
.fl{ float:left; margin:5px 0 10px; }
.comments_btn:hover,.tab_title span a:hover{ text-decoration:none;}
.alter_tag .l_tric,.comments_btn,.tab_title span,.tab_title{ background:url(http://mat1.gtimg.com/gongyi/npoimages/tbox_bg.png) no-repeat 0 0; display:inline-block;}
.c_question_con{ padding-top:5px;}
.c_question_con h3{ font-size:14px;}
.guanfangqq{ position: relative; padding:18px 0;}
.alter_tag{ position:absolute; left:620px; top:218px; width:380px; height:50px; line-height:22px; padding:5px 0 0 15px; border: solid 1px #f6e190; background:#fffae2; color:#9a603b;}
.alter_tag .l_tric{ position:absolute; left:-10px; top:20px; width:10px; height:17px; background-position: 0 0;}
#alert_box{ border: solid 1px #dda977; background:#fefec8; width:495px; padding:0 0 0 15px; overflow:hidden;}
.jingqincj{ padding-top:35px;}
.w_comments .rose{ width:19px; height:21px; background:url(http://mat1.gtimg.com/gongyi/npoimages/rose.jpg) no-repeat 0 0; display:inline-block; margin-right:3px;}
.w_comments .rose.r2{ background-position:0 -21px;}
.w_comments .rose.r3{ background-position:0 -42px;}
.r2,.r3,.comments_btn{ margin-left:35px;}
.w_comments .comments_btn{ width:56px; height:21px; background-position:0 -18px; padding:2px 0 0 10px; color:#3f3f3f; } 
.tab_title{ background-position:0 -93px;  width:715px; height:26px; margin-bottom:20px; background-position:0 -93px; background-repeat:repeat-x;}
.tab_title span{ width:94px; height:26px; background-position:0 -67px; float:left; font-weight:bold; text-align:center; line-height:26px; margin-left:7px; margin-bottom:-1px;}
.tab_title span.on{ background-position:0 -41px;}
.tab_title span a{color:#404040; font-size:14px;}
.tab_con.on{ display:block; visibility:visible;}
.tab_con{ display:none;}


 /*2011-8-1*/
.l_tric2{ background:url(http://mat1.gtimg.com/gongyi/npoimages/tbox_bg.png) no-repeat top; display:inline-block;margin-top: 6px;}
.alter_tag2{ position:relative; left:235px; top:-10px; width:485px; height:72px; line-height:22px; padding:5px 0 0 15px; border: solid 1px #f6e190; background:#fffae2; color:#9a603b;}
.alter_tag2 .l_tric2{ position:absolute; left:-10px; top:20px; width:10px; height:17px; background-position: 0 0;}
#alert_box2{ border: solid 1px #dda977; background:#fefec8; width:495px; padding:0 0 0 15px; overflow:hidden;}

 /*2011-8-1 寰崥鍥剧墖 */ 
.wb
{background:url(http://mat1.gtimg.com/gongyi/2011images/2011loveplan_v2/public/images/icon.png?v2) no-repeat 0 3px;position:relative; left:5px; top:6px;width:16px; height:16px;}

/*2011-08-29 Grade-integral*/
.dj_jifen{ padding:10px 16px; overflow:hidden; color:#2c2c2c; }
.djjf_info{ height:228px;}
.jjh_logo img{ width:180px; height:178px; padding:9px;  display:block; float:left; margin-right:17px;}
.jjh_logo #logo { width:180px; height:178px; padding:9px; border: solid 1px #e3e7ea; display:block; float:left; margin-right:17px;}

.dj_jifen .dj_h2,.jifen_tabtitle,.zhishu_bar{ background:url(http://mat1.gtimg.com/gongyi/npoimages/dj_jifen_bg.png) no-repeat 0 0;}
.dj_jifen .dj_h2{ width:267px; height:37px; background-position:0 -58px; text-indent:-999px;}
.dj_jifen .size{ font-size:14px; line-height:24px; padding:8px 0;}
.jifen_tabtitle{ height:52px; clear:both;}
.jifen_tabtitle span{ height:26px; line-height:26px;float:left; background-position:left -29px;margin-left:7px; margin-top:26px;  padding-left:18px; font-size:14px;}
.jifen_tabtitle span a{ float:left; background-position:right -29px; padding-right:15px; color:#3f3f3f;}
.jifen_tabtitle span.on{ background-position:left top; font-weight:bold;}
.jifen_tabtitle span.on a{ background-position:right top;}
.jifen_tabtitle span a:hover{ text-decoration:none;}
.dj_jifen h3{ font-size:14px;margin:20px 0 0 0;}
.dj_jifen table {border-collapse: collapse; border-top: 3px solid #4DB410; margin-left:5px;}
.dj_jifen table .style1 {font-weight: bold; color:#1A6701}
.dj_jifen table td { border: solid 1px #D0D3D4; padding:5px; text-align:center;}
.jifen_tabcon{ display:none; width:890px; padding-left:5px; overflow:hidden; clear:both;}
.jifen_tabcon.on{ display:block; visibility:visible;}

.grade_scores{ float:left; width:688px; height:180px;margin-top:5px;}
.grade_scores h2{ font-size:16px; float:left; }
.grade_scores .level{ float:left; width:260px; padding:0 0 20px 20px;}
.grade_scores .level span{ float:left;}
.st1,.st2,.st3,.st4,.st1_g,.st2_g,.st3_g,.st4_g{ background:url(../images/exp_01.png) no-repeat; width:18px; height:18px; vertical-align:middle; display:block; margin-right:2px;}
.level .st1{ background-position:0 0;}
.level .st2{ background-position:-18px 0;}
.level .st3{ background-position:-36px 0;}
.level .st4{ background-position:-54px 0;}
.level .st1_g{ background-position:0 -18px;}
.level .st2_g{ background-position:-18px -18px;}
.level .st3_g{ background-position:-36px -18px;}
.level .st4_g{ background-position:-54px -18px;}
.grade_scores .dengji{ font-family:Tahoma, Geneva, sans-serif; color:#057d02; font-weight:bold; margin-left:5px;}
.grade_scores .zhishu_bar{ background-position:0 -93px; width:688px; height:76px; clear:both; position:relative;}
.grade_scores .zhishu_bar .cur_bar{ background:url(http://mat1.gtimg.com/gongyi/npoimages/cur_bar.jpg) no-repeat right; position:absolute; top:29px; height:18px; width:1%;}
.grade_scores .seemore{ padding-left:233px;}
.level{ float:left; width:260px; padding:0 0 10px;}
.level span{ float:left;}
.level span img{ float:left; margin-right:2px;}
 #exphref:hover { text-decoration:none;}

/* 2011-8-31 emilydeng 主要是主，客态组织的指数，活力值，魅力值，专业值相关样式*/
#huoli {width:150px;height:5px;overflow:hidden;background:#d9e3c5;margin-top:5px;float:left;}
#huoli div {width:1px;height:5px;background:#3d8e15;float:left;display:none} 	
#huolidiv .hlz{ float:left;width:50px;} 	
#meili {width:150px;height:5px;background:#d9e3c5;margin-top:5px;float:left;}
#meili div {width:1px;height:5px;background:#3d8e15;} 	
#meilidiv .hlz{ float:left;width:50px;}   	
#zhuanye {width:150px;height:5px;background:#d9e3c5;margin-top:5px;float:left;}
#zhuanye div {width:1px;height:5px;background:#3d8e15;} 	
#zhuanyediv .hlz{ float:left;width:50px;} 
#huolidiv{height:25px;width:200px;}
#meilidiv{height:25px;width:200px;}
#zhuanyediv{height:25px;width:200px;}
#huoliview{float:left;width:150px;}
#meiliview{float:left;width:150px;}
#zhuanyeview{float:left;width:150px;}
#huolipoint{font-family:tahoma;color:#999999;height:20px;font-size:10px;float:left;margin-top:-5px;}
#meilipoint{font-family:tahoma;color:#999999;height:20px;font-size:10px;float:left;margin-top:-5px;}
#zhuanyepoint{font-family:tahoma;color:#999999;height:20px;font-size:10px;float:left;margin-top:-5px;}

/*  |xGv00|c6565c7acae5a7b59a2d64a42e63d90a */