.bottom{ margin-bottom:18px;_margin-bottom:10px;}
span.more{ padding-right:16px;}
#wrapper .main_bg .main_content .left{ width:670px; float:left; margin-left:18px;_margin-left:9px;}
#wrapper .main_bg .main_content .right{ width:240px;float:left; margin-left:15px;}
#wrapper .main_bg .main_content .title_{ font-size:14px; color:#2c2c2c; border-bottom:solid 1px #e4e7e9; font-weight:bold; padding:8px 0 9px 8px; clear:both; }
#wrapper .main_bg .main_content .jigou_title{ font-size:14px;color:#2c2c2c; padding-left:8px; font-weight:bold;}
#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content{ position:relative;}
/*#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .img{  height:147px; position:absolute; top:-16px; left:0;filter:chroma(color=black);}*/
/*12-24*/
#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .top_con{ width:670px; overflow:hidden;height:147px; line-height:20px;background:url(http://mat1.gtimg.com/gongyi/npoimages/i_js1.gif) no-repeat left; padding:0; }
#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .top_con .title{ color:#057d02; font-weight:bold; font-size:14px; padding: 25px 0 0 195px;}
#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .top_con .jieshao{ color:#a3a3a3; padding:5px 0 5px 195px;}
#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .top_con ul li{ background:url(http://mat1.gtimg.com/gongyi/npoimages/icon09.gif) no-repeat 185px center; padding-left:195px; }
/*12-24*/




#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .img{  height:147px; }
#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .jigou_list{ height:96px; padding-top:12px; background:url(http://mat1.gtimg.com/gongyi/npoimages/i_jgtjbg.gif) repeat-x top; }
#wrapper .main_bg .main_content .left .jigoutj.bottom .jigoutj_content .jigou_list .turn_left{ float:left; width:13px; padding-left:7px; padding-top:38px; margin-right:8px;}
#wrapper .main_bg .main_content .left .jigoutj.bottom .jigoutj_content .jigou_list .turn_right{ float:right; width:13px; padding-right:7px; padding-top:38px; margin-left:8px;}

#wrapper .main_bg .main_content .left .jigoutj.bottom .jigoutj_content .jigou_list .jjh_list{ float:left; width:613px;margin-top:18px; overflow:hidden;position:relative;z-index:2; height:75px;}
#scroll2 {width:3960px!important;width:1980px;list-style:none;margin:0;padding:0;overflow:hidden;}
#wrapper .main_bg .main_content .left .jigoutj.bottom .jigoutj_content .jigou_list .jjh_list ul li{ width:290px; float:left;display:inline;margin-right:40px;}
#wrapper .main_bg .main_content .left .jigoutj.bottom .jigoutj_content .jigou_list .jjh_list ul li img{ float:left; margin-right:13px;  border:solid 1px #dfdfdf;}
#wrapper .main_bg .main_content .left .jigoutj.bottom .jigoutj_content .jigou_list .jjh_list ul li h3{ font-size:12px; color:#057d02; padding-bottom:5px; font-weight:100;}
#wrapper .main_bg .main_content .left .jigoutj .jigoutj_content .bottom_line{ background:url(http://mat1.gtimg.com/gongyi/npoimages/i_jgtj_linex.gif) no-repeat top; height:4px;}
#wrapper .main_bg .main_content .left .ce_online,.nothing_new{ overflow:hidden; clear:both;}
#wrapper .main_bg .main_content .left .ce_online ul li{ float:left; width:328px; margin:10px 0 12px 7px; line-height:19px; display:inline; }
#wrapper .main_bg .main_content .left .ce_online ul li img{ float:left; margin-right:12px; margin-top:5px;}
#wrapper .main_bg .main_content .left .ce_online ul li div,.nothing_new  h3,.nothing_newcontent ul{ float:left; }
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist h3{ font-size:14px; font-weight:100;}
#wrapper .main_bg .main_content .left .nothing_new img{ float:left; margin-right:16px; margin-left:8px;}
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist{ margin-top:12px;}
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist .nothing_newcontent{  width:593px;  background:url(http://mat1.gtimg.com/gongyi/npoimages/line_x.gif) repeat-x bottom; padding:14px 0px 18px 0px; overflow:hidden; margin-bottom:15px;}
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist .none { background:none;}
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist .nothing_newcontent img{ float:left; margin-left:0;}
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist span.dongtai{ padding:0 9px; font-size:14px;}
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist .nothing_newcontent ul  li{ margin:0;}
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist .nothing_newcontent ul li.left{ width:60px; float:left; color:#999; clear:left; }
#wrapper .main_bg .main_content .left .nothing_new .nothing_newlist .nothing_newcontent ul li.right{ width:380px; float:left; }

#wrapper .main_bg .main_content .right #check_login p{ margin:8px 0px 23px ;}
#wrapper .main_bg .main_content .right #check_login p img{ vertical-align:middle; margin:0px 8px;*margin:0px 10px;}
#wrapper .main_bg .main_content .right .gonggaoban ul{ padding:9px 0;_padding-bottom:11px;}
#wrapper .main_bg .main_content .right .gonggaoban ul li{ background: url(http://mat1.gtimg.com/gongyi/npoimages/icon09.gif) no-repeat 10px center; color:#3f3f3f; padding-left:19px; line-height:22px;}
#wrapper .main_bg .main_content .right .gonggaoban ul li a{ color:#3f3f3f;}

#wrapper .main_bg .main_content .left .zuzhitj { width:670px; height:155px;_padding-bottom:8px;}
#wrapper .main_bg .main_content .left .zuzhitj ul li { margin-top:12px;float:left; width:334px;}
#wrapper .main_bg .main_content .left .zuzhitj ul li img{ float:left; margin:0px 10px 0px 8px; border:solid 1px #e4e7e9;}
#wrapper .main_bg .main_content .left .zuzhitj li div{ float:left; width:198px;}
#wrapper .main_bg .main_content .left .zuzhitj li div h3{ font-size:14px; font-weight:bold; padding-bottom:6px;}
#wrapper .main_bg .main_content .left .zuzhitj li p.jieshao{ padding:4px 0px 5px; color:#3f3f3f;}
#wrapper .main_bg .main_content .right .fensi { padding-bottom:13px; margin-bottom:15px; _padding-bottom:35px;}
#wrapper .main_bg .main_content .right .fensi .top{ height:auto; line-height:24px; height:60px; padding-bottom:11px;}
#wrapper .main_bg .main_content .right .fensi .top img{ float:left; margin-right:10px;}
#wrapper .main_bg .main_content .right .fensi .top span img{ float:none; vertical-align:middle;}
#wrapper .main_bg .main_content .right .fensi  ul{ margin-top:10px;}
#wrapper .main_bg .main_content .right .fensi  p{ padding-top:5px; padding-right:8px;}
#wrapper .main_bg .main_content .right .fensi  ul li{ float:left; margin:0px 0px 0px 15px; width:100px; display:inline; padding:0;}
#wrapper .main_bg .main_content .right .fensi dt{ float:left; margin:2px 6px 2px 14px;display:inline;}
#wrapper .main_bg .main_content .right .fensi dl{ padding-top:8px; padding-bottom:8px;}

.fensibang{ overflow:hidden; height:63px; border-bottom: solid 1px #f1f3f4;}
.fensibang img{ float:left;}
.fensibangjigou h3 a{ font-size:12px; font-weight:100;color:#3f3f3f;}
.fensibangjigou p{ color:#999;}
.fensibangjigou img{float:left; margin:0px 4px 0px 6px;}
.fensibangjigou{width:190px; float:left; padding:8px 0px 7px 0px}

/*  |xGv00|01572f1b3c0bc05e6f426a10533d1009 */