body {
	background: #fff;
	margin: 0px; 
	color: #000;
	line-height:150%;
}
body,td{
	font-size:12px;	
}
a:link {
	color: #000000;
	text-decoration:none;
}
a:visited {
	color: #000000;
	text-decoration:none;
}
a:hover {
	color: #D19ED7;
	text-decoration:underline;
}
a:active {
	color: #000000;
	text-decoration:none;
}
img,form{border:0;padding:0;margin:0;}
.m4{margin-top:4px;}
.b4{margin-bottom:4px;}
.m6{margin-top:6px;}
.m8{margin-top:8px;}
.p14{font-size:14px;}
.bolds{font-weight:bold;}
.top7{padding-top:7px;}
.left10{padding-left:10px}
.left18{padding-left:18px}
.hei24{line-height:24px;}

.cwhite{color:white}
.c2{color:#232E70}

a.lwhite:link,a.lwhite:visited{color:#fff;text-decoration:none;}
a.lwhite:hover{color:#EAEAEA;text-decoration:underline;}
a.lblack:link,a.lblack:visited{color:#000;font-size:14px;line-height:24px;text-decoration:none;}
a.lblack:hover{color:#737373;font-size:14px;line-height:24px;text-decoration:underline;}
a.lblack1:link,a.lblack1:visited{color:#000;text-decoration:underline;}
a.lblac1:hover{color:#737373;text-decoration:underline;}
a.lred:link,a.lred:visited{color:#FF416F;text-decoration:none;}
a.lred:hover{color:#737373;text-decoration:underline;}
a.lred1:link,a.lred1:visited{color:#FF3300;text-decoration:none;}
a.lred1:hover{color:#ff0000;text-decoration:underline;}
a.lred2:link,a.lred2:visited{color:#CC48CD;text-decoration:none;}
a.lred2:hover{color:#ff0000;text-decoration:underline;}

a.lblue:link,a.lblue:visited{color:#232E70;text-decoration:none;}
a.lblue:hover{color:#ff0000;text-decoration:underline;}

a.lblue1:link,a.lblue1:visited{color:#0090DB;text-decoration:none;}
a.lblue1:hover{color:#ff0000;text-decoration:underline;}

.fra{border:1px solid #7ACAF8;}
.fra1{border:1px solid #000;}
.fra2{border:5px solid #F4CFF8;}
.fra3{border:solid #78C7F5;border-width:0 6px 6px;}
.fra4{border:5px solid #E1E1E1;}
.fra5{border:1px solid #E1E1E1;}
.fra6{border:6px solid #C3E1F9;}
.fra7{border:1px solid #A8D6F8;}
.fra8{border:solid #C3E1F9;border-width:0 1px 1px;}
.fra9{border:solid #C3E1F9;border-width:2px 2px 0;}
.fra10{border:solid #C3E1F9;border-width:0 2px 0;}
.fra11{border:solid #C3E1F9;border-width:0 2px 2px;}
.fra12{border:6px solid #F9D46F;}
.fra13{border:solid #FFBCCD;border-width:0 1px 1px;}
.fra14{border:solid #FED0DD;border-width:0 2px 0;}
.fra15{border:solid #FED0DD;border-width:0 2px 2px;}
.fra16{border:5px solid #C3E1F9;}

.fra17{border:solid #67C6EE;border-width:0 1px 0;}
.fra18{border:solid #E5BDEA;border-width:0 1px 0;}
.fra19{border:solid #BFDFF8;border-width:2px 2px 0;}
.fra21{border:1px solid #EACDEE;}
.fra22{border:solid #EAB8EA;border-width:0 1px 1px;}
.bgli {
	background-image: url(http://mat1.qq.com/astro/images/zhuanti/20060702/dot6.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.input {border:1px solid #CD81D7;BACKGROUND-COLOR:#F7E5FA}
.en {
	text-indent: 24px;
}
