@charset "gbk";
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button {
    margin: 0;
    padding: 0;
}
body,
button,
input,
select,
textarea {
    font: 12px/1.5 arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    background-color: transparent;
}
small,
cite,
code,
em,
th,
i,
b {
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
}
input,
select,btn_primary_largebtn_primary_large
textarea,
button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 1em;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
fieldset,
img,
iframe {
    border: 0 none;
}
img {
    display: inline-block;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic;
}
iframe {
    display: block;
}
ul,
ol {
    list-style: none;
}
.mod_crumbs a:hover{
color:green;
text-decoration:underline;

}
.content_topic a:hover{
color:green;
text-decoration:underline;

}/*  |xGv00|9b87820ab313a0f48c8f5bf83cb6596b */