/*公共部分*/
body {font:12px/20px "Tahoma","宋体","SimSun";color:#414141;}
a {color:#414141;}
a:hover {color:#d81d1b;}
.hot a {color:#d81d1b;}
.hot a:hover {color:#d81d1b;text-decoration:underline;}
.hot-noline a,.hot-noline a:hover {color:#d81d1b;}
.no-change a,.no-change a:hover {color:#414141;}
.default_cursor {cursor:pointer;}
.fz0 {font-size:0;}
.only-pic {font-size:0;}
.wc960 {margin: 0 auto;width:960px;}
.mtb15 {margin-top:15px;margin-bottom:15px;}
.mt8 {margin-top:8px;}
.mt10 {margin-top:10px;}
.mt12 {margin-top:12px;}
.mt13 {margin-top:13px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.ml24 {margin-left:24px;}
.pt10 {padding-top:10px;}
.bt-line-dotted {border-top:1px dotted #dedede;}
.icon {background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/icon.png') no-repeat 0 0;}
.cdede {color:#dedede;}

/*全局栏目名称*/
.column-name {font:20px/24px "微软雅黑","Microsoft YaHei","黑体","SimHei";}
.column-name a {font:20px/24px "微软雅黑","Microsoft YaHei","黑体","SimHei";}
/*全局文字列表*/
.news-list li {background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/point.gif') no-repeat 0 12px;padding-left:10px;font-size:14px;line-height:30px;height:30px;}
.news-date-list li a {float:left;}
.news-date-list li .date {float:right;color:#5d5d5d;}
/*全局图文模块*/
.text-down-pic {text-align:center;}
.text-down-pic img {font-size:0;border:0 none;}
.text-down-pic .text {font:bold 14px/30px "微软雅黑","Microsoft YaHei","黑体","SimHei";color:#414141px;padding: 2px 0 3px;border-bottom:1px dotted #dedede;}

.pic-list {text-align:center;}
.pic-list li {margin-right:15px;float:left;}
.pic-list li.last {margin-right:0px;}
.pic-list .pic {border:1px solid #dedede;font-size:0;border:0 none;width:98px;height:83px;overflow:hidden; display:block;}
.pic-list .text {margin-top:5px;}

.text-in-pic {position:relative;}
.text-in-pic img {font-size:0;overflow:hidden;}
.text-in-pic .bg {height:35px;width:100%;position:absolute;bottom:0;left:0;background-color:#000;opacity:0.5;filter:Alpha(opacity=50);display:block;}
.text-in-pic .icon {background-position: 0 -366px;width:20px;height:20px;display:block;position:absolute;bottom:6px;left:10px;*background: none;*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='//mat1.gtimg.com/cq/cody/2013/auto/all/bf-icon.png');}
.text-in-pic .icon-text {position:absolute;left:40px;bottom:0;height:35px;line-height:35px;overflow:hidden;color:#fff;font-size:14px;}
.text-in-pic .text {position:absolute;left:15px;bottom:0;line-height:35px;color:#fff;font-size:14px;}

.warp-pic-list li {float:left;display:inline;}
.warp-pic-list .img_wrap {display:block;font-size:0;overflow:hidden;}
.warp-pic-list .text-area {background-color:#f2f2f2;line-height:24px;}

/*页面框架*/
.row .row-L {width:310px;overflow:hidden;}
.row .row-C {width:330px;margin:0 30px;overflow:hidden;}
.row .row-R {width:260px;overflow:hidden;}
.row .row-big-L {width:670px;}
.row .row-big-R {width:620px;overflow:hidden;}

/*全局板块*/
.row .hd {background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/hd-line_01.jpg') no-repeat 0 50px;height:55px;}
.row .hd1 {background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/hd-line_02.jpg') no-repeat 0 50px;}
.row .hd2 {background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/hd-line_03.jpg') no-repeat 0 50px;}
.row .hd .title {font: 26px/40px "微软雅黑","Microsoft YaHei","黑体","SimHei";}

/*全局左侧新闻列表*/
.row-L-news .news-list li {width:300px;height:29px;line-height:29px;overflow:hidden;vertical-align:middle;}

/*全局文字链接*/
.link-box dt {float:left;display:inline;}
.link-box .title {color:#5d5d5d;font-weight:bold;font-size:12px;}
.link-box dd {float:left;padding:0 6px;display:inline;}
.link-box dd a {word-break:keep-all;}
.link-box dd.last {float:right;}
.link-auot-box a {padding:0 5px;}


/*全局页签*/
.tab-T-2 li {width:84px;height:30px;line-height:30px;float:left;border:1px solid #ededed;border-bottom:0 none;background-color:#ededed;text-align:center; font-size:14px;}
.tab-T-2 li.cur {background-color:#fff;}
.tab-T-3 {width:66px;}
.tab-T-3 li {width:12px;height:12px;font-size:0;background-color:#dfdfdf;float:left;margin-left:10px;cursor:pointer;display:inline;}
.tab-T-3 li.cur {background-color:#d81c1b;}

.tab-T-4 {border-bottom:1px solid #dedede;}
.tab-T-4 li {float:left;width:80px;height:35px;line-height:35px;text-align:center;border-top:2px solid #fff;position:relative;top:1px;cursor:pointer;}
.tab-T-4 li.cur {border:1px solid #dedede;border-top:2px solid #414141;border-bottom:1px solid #fff;}
.tab-T-4 li.cur a {color:#d81c1b;font-weight:bold;}


/*下拉选项*/
.selectContainer{position:relative; width:80px;height:28px; display:inline-block; _display:inline; _zoom:1; z-index:1000; background:#FFF; border:1px solid #dedede;cursor:pointer;}
.selectContainer input{}
.selectContainer .selectOption{min-width:100px; padding:0 5px; line-height:28px; height:28px; white-space:nowrap; overflow:hidden;border:none;z-index:1000}
.selectContainer .shows{width:10px; height:10px; position:absolute; right:8px; top:12px; background:url(//mat1.gtimg.com/cq/cody/2013/auto/all/icon.png) no-repeat -13px -46px;}
.selectContainer ul{position:absolute; width:100%; top:29px; left:-1px; display:none;border:1px solid #ccc;border-top: 0  none;}
.selectContainer ul li{padding:0 5px;border-bottom:1px solid #EEE; line-height:28px;height:28px; width:70px;overflow:hidden; background:#FFF; cursor:pointer}
.selectContainer ul li:hover{background:#F5F5F5}
.selectContainer ul.dis{display:block!important;}
.selectContainer ul.undis{display:noneimportant;}
.zIndex{z-index:10000!important}
.selectContainer .gray{color:#5d5d5d}


/*Logo*/
.logoAutoQQ {margin:8px 20px 0 10px;padding-left:10px;border-left:2px solid #dedede;height:20px;line-height:20px;line-height:22px\9;font-size: 18px;font-weight:normal;}

/*城市切换*/
.sel-city-box {margin-top:5px;position:relative;width:72px;}
.sel-city-box .sel-Btn {border:1px solid #dfdfdf;background-color:#f6f6f6;width:65px;height:22px;height:20px\9;line-height:22px;display:inline-block;padding-left:5px;position:relative;z-index:10;}
.sel-Btn i {border-color: #2e2e2e #FFFFFF #FFFFFF;border-style: solid;border-width: 4px;font-size: 0;width: 0;height: 0;line-height: 0;position: absolute;right: 6px;top: 8px;-moz-transition:-moz-transform .2s ease-in;-moz-transform:rotate(0deg);-webkit-transition:-webkit-transform .2s ease-in;-webkit-transform:rotate(0deg);-o-transition:-o-transform .2s ease-in;-o-transform:rotate(0deg);transition: transform 0.2s ease-in 0s;transform: rotate(0deg);}
.hover .sel-Btn {border-bottom:0 none;}
.hover .sel-Btn i {
    -moz-transform:rotate(180deg);
    -moz-transform-origin:50% 30%;
    -webkit-transform:rotate(180deg); 
    -webkit-transform-origin:50% 30%;
    -o-transform:rotate(180deg);
    -o-transform-origin:50% 30%; 
    transform: rotate(180deg);
    transform-origin: 50% 30% 0;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    top:3px\9
}

.sel-city-box .city-box { background-color:#f6f6f6; border:1px solid #dfdfdf;padding:5px;position:absolute;top:20px;left:0;z-index:5;width:200px;}
.sel-city-box .city-box a {line-height:30px;display:inline-block;padding:0 10px;}
.sel-city-box .city-box a:hover {background-color:#2e2e2e;color:#fff;}

/*SOSO*/
.toolbar {width:280px;margin-top:8px;}
.toolbar .Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:26px;border:none;font-size:12px;background: url(//mat1.gtimg.com/news/imgcss_article_qq/soso_new_ui.png) 0 -26px no-repeat;cursor:pointer;}
.toolbar .Form-Crumbs-Article-QQ .inputWarp{float:right;width:229px;height:24px;margin:0;padding:0;line-height:22px;background:none;border:#c9c9c9 1px solid;border-right:none;}
.toolbar .Form-Crumbs-Article-QQ .txtArea{width:170px;height: 20px;margin:2px auto 0 2px;font-size:14px;line-height:20px;border:none;color:#5d5d5d;outline:none;inline:none;float:left;border: 0 none;}
.toolbar .Form-Crumbs-Article-QQ .SosonLogo{float:right;width:50px;height:24px;background:url(//mat1.gtimg.com/news/imgcss_article_qq/soso_new_ui.png) 0 -2px no-repeat;}
.toolbar .Form-Crumbs-Article-QQ .SosonLogo span{display:none;}

/*=S soso smart */
/* 整个smartbox 样式 */ 
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:13px;line-height:22px;font-family:"宋体";}
/* 未选中行的样式 */
.soso-smart-a{}
/* 选择行的样式 */
.soso-smart-b{background:#D8ECFF;}
/* 文本样式 */
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}
/*=E soso smart */

/*导航*/
.mainnav li {float:left;}
.mainnav li a {color:#fff;display:inline-block;background-color:#2e2e2e;padding:0 17px;height:42px;line-height:42px;font-size:14px;float:left;}
.mainnav li span {width:2px;height:42px;display:inline-block;background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/icon.png') no-repeat -1px -314px;float:left;}
.mainnav li.cur a,.mainnav li a:hover {background-color:#171717;color:#e0b965;font-size:14px;}
.mainnav li.last {width:130px;height:42px;overflow:hidden;}
.mainnav li.last a {display:inline;padding:0;margin:0;}

.rowB .hd {background-color:#f6f6f6;}
/*页签头*/
.rowB-hd-Left {width:407px;}
.rowB {border:1px solid #dedede;border-top: 0 none;}
.rowA-r2 {background-color:#f2f2f2;height:35px;line-height:35px;padding-left:15px;}
#tabT01 li {border:1px solid #dedede;border-bottom:1px solid #DEDEDE;border-left:0 none;border-right:0 none;height:44px;line-height:44px;width:102px;text-align:center;float:left;display:inline;cursor:pointer;}
#tabT01 li a {font-size:14px;}
#tabT01 li.first {border-left:0 none;width:100px;border-right:1px solid #f6f6f6;}
#tabT01 li.cur {border-top:2px solid #414141;border-bottom:0 none; border-right:1px solid #dedede;border-left:1px solid #dedede;width:100px;background-color:#fff;}
#tabT01 li.cur a {color:#d81c1b;font-weight:bold;}
#tabT01 li.first {border-left:0 none;width:100px;}

/*页签内容*/
#tabC01 {border-right:1px solid #dedede;width:714px;height:169px;overflow:hidden;}
#tabC01 dl {padding:18px 0 18px 27px ;border-bottom:1px solid #dedede;height:20px;overflow:hidden;}
#tabC01 dl dt {padding-right:12px;}
#tabC01 dl dd {padding:0 12px;}
#tabC01 .last {border-bottom:0 none;}

.cx-box {border-bottom:1px solid #dedede;height:84px;}
.cx-box li {text-align:center;line-height:24px;height:60px;padding-top:25px;float:left;display:inline;}
.cx-box li .cx-name {font-size:14px;}
.cx-box li .sp {background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/icon.png') no-repeat -1px -404px;width:20px;height:12px;font-size:0;display:inline-block;margin-left:2px;}
.cx-box .link-auot-box a {padding: 0 5px;}

.rowB-bd-Right {width:245px;text-align:center;padding-top:20px;}
.rowB-bd-Right .rowB-bd-Right-r1 {line-height:30px;}


/*车型、车系、品牌搜索*/
.rowB-hd-Right {width:547px;border:1px solid #dedede;border-left:0 none;border-right:0 none;height:37px;padding-top:7px;padding:7px 6px 0 0;}
.search-box .input-box {float:left;}
.search-box .text {border:1px solid #dedede;border-right: 0 none;display:block;height:26px;line-height:26px;color:#5d5d5d;padding-left:10px;float:left;}
.search-box .text1 {width:100px;border:1px solid #dedede;border-right: 0 none;display:block;height:28px;line-height:28px;color:#5d5d5d;padding-left:10px;background-color:#fff;position:relative;float:left;}
.search-box .text1 i {background:url(//mat1.gtimg.com/cq/cody/2013/auto/all/icon.png) no-repeat -13px -46px;position:absolute;right:8px;top:12px;width:11px;height:7px;display:block;font-size:0;}
.search-box .z {float:left;}
.search-box .search-btn {border:0 none;background-color:#414141;color:#fff;width:65px;height:30px;line-height:30px;text-align:center;float:left;}
.search-box .search-hover,.search-box .search-btn:hover {background-color:#111;}
.xcdcont { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DEDEDE; display: block; left: 0; overflow: auto; position: absolute; top: 30px; width: 110px; height: 330px; z-index: 999;}
.menulist {width:90px;}
.menulist ul li a { color: #000000; display: block; height: 22px; line-height: 22px; text-indent: 8px;}
.menulist ul li.jz { color: #999999; font-family: Verdana; font-weight: bold; text-align: center;}
.menulist ul.one li { background: none repeat scroll 0 0 #E8E8E8; text-indent: 8px;}
.menulist ul.two li { background: none repeat scroll 0 0 #FFFFFF; text-indent: 8px;}

/*第一屏右侧*/
.row-L-r4 .news-list li {margin-bottom:8px;height:26px;line-height:26px;}
.row-L-r4 .news-list li a {float:left;display:block;}
.row-L-r4 .news-list .bm {float:right;width:47px;height:26px;text-align:center;background-color:#D71D1B;color:#fff;}
.row-L-r4 .news-list a.bm:hover {background-color:#c60200;color:#fff;}

.row-L-r4 .news-date-list {padding-top:10px;}
.row-L-r4 .news-date-list li {margin:0;line-height:29px;height:29px;}
.row-L-r4 .news-date-list li a.title {float:left;display:inline-block;}
.row-L-r4 .news-date-list li .date {float:right;display:inline-block;}

.tmp li {border:1px solid red;}

/*第一屏中间*/
.hot-title {font: bold 20px/24px "微软雅黑","Microsoft YaHei","黑体","SimHei","Arial Narrow",HELVETICA;color:#d81c1b;padding-top:10px;line-height:30px;text-align:center;}
.samll-title {text-align:center; border-bottom: 1px dotted #CCCCCC;line-height: 22px; padding: 5px 0 8px 0;}
.row-C .news-list li {width:320px;height:29px;line-height:29px;overflow:hidden;}
.row-C-r4 .news-list {padding-top:12px;}

/*第一屏右边*/
.rowC-R-r3 .news-list {background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/icon-list.jpg') no-repeat 0 11px;padding-top:10px;background-position:0 9px\9;_background-position:0 11px;}
.rowC-R-r3 .news-list li {background:none;overflow:hidden;line-height:32px;height:32px;padding-left:0;width:260px;vertical-align:middle;}
.rowC-R-r3 .news-list li span {margin-right:10px;color:#fff;display:block;width:48px;float:left;font-size:12px;}
.rowC-R-r3 .news-list li a {display:block;width:202px;height:32px;overflow:hidden;float:left;}

/*第二屏*/
.rowD-r1-cA {width:310px;}
.rowD-r1-cB {width:640px;}
.rowD-r1-cA-a {width:310px;height:255px;overflow:hidden;}
.rowD-r1-cA-b {width:310px;height:145px;overflow:hidden;}
.rowD-r1-cA-c {width:310px;height:100px;overflow:hidden;}
.rowD-r1-cA-d {width:220px;height:145px;overflow:hidden;}
.rowD-r1-cA-e {width:410px;height:300px;overflow:hidden;}
.rowD-r2-cB-a {width:310px;height:130px;overflow:hidden;}

.rowD .row-L .column-name .icon {background-position: 0 -433px;padding-left:15px;color:#1277bb;font-size:12px;font-weight:normal;}
.rowD .row-C .column-name .fr a {color:#de8e3f;font-size:12px;font-weight:normal;}

/*热门车型*/
.rowE .warp-pic-list {position:relative;width:960px;height:230px;overflow:hidden;}
.rowE .count li {margin-right:20px;width:176px;height:228px;}
.rowE .count .img_wrap {width:176px;height:135px;}
.rowE .count li .text-area {padding:10px 0 10px 15px;}
.rowE .count li .text-area  p {line-height:24px;height:24px;}
.rowE .count li:hover .text-area,.rowE .count li.hover .text-area {background-color:#d81c1b;color:#fff;}
.rowE .count .p-num {font-family:"Tahoma";font-weight:bold;}
.rowE .btn {display: block; height: 55px;  position: absolute; top: 78px; width: 35px; z-index: 200;cursor:pointer;}
.rowE .prev { background-position: 0 -88px; left: 0;}
.rowE .prev:hover {background-position:0 -144px;}
.rowE .next { background-position: 0 -200px; right:0;}
.rowE .next:hover {background-position:0 -256px;}

/*经销商报价*/
.w133 {width:133px;}
.w206 {width:206px;}
.w84 {width:84px;}
.w100 {width:100px;}
.w160 {width:160px;}
.price-box th {text-align:left;font-size:14px;height:50px;line-height:50px;border-bottom:1px solid #dedede;}
.price-box tr {cursor:pointer;}
.price-box tr.hover {background-color:#f2f2f2;}
.price-box td {line-height:30px;height:30px;height:29px\9;overflow:hidden;border-bottom:1px dotted #dedede;}
.price-box tr.last td {border-bottom:0 none;}
.price1 {color:#5d5d5d;font-weight:bold;}
.price2 {color:#d81c1b;font-weight:bold;}
.price2 span {font-family:"Tahoma";}
.rowF .search-box {width:395px;}
.local-search {background-color:#f2f2f2;height:46px;}
.local-search .title {line-height:46px;font-weight:bold;}
.local-search .z {top:8px;}
.local-search .text1 {background-color:#fff;}
.local-search .search-btn {margin-top:8px;}
.local-search .search-hover,.local-search .search-btn:hover {background-color:#111;}
.a_btn { color: #FFFFFF; display: inline-block; width: 95px; height: 30px; line-height: 30px;overflow:hidden;margin: 8px 10px 0 0; text-align: center;}
.appl-btn {background-color:#3399DC;}
.appl-btn:hover {background-color:#1E84C7;color:#fff;}
.login-btn {background-color:#38BA6F;}
.login-btn:hover {background-color:#1D9F52;color:#fff;}

/*实用工具*/
.tool-box td {border:1px solid #ebebeb;width:129px;height:92px;text-align:center;vertical-align:middle;background-color:#f6f6f6;cursor:pointer;}
.tool-box .tool-icon {display:block;background:url('//mat1.gtimg.com/cq/cody/2013/auto/all/tool-icon.jpg') no-repeat 0 0;width:45px;height:44px;margin:0 auto;}
.tool-box p {font-size:14px;}
.tool-box td .zsjt {background-position:0 -44px;}
.tool-box td .sslk {background-position:0 -88px;}
.tool-box td .wxwd {background-position:0 -132px;}
.tool-box td .wzcx {background-position:0 -176px;}
.tool-box td .yhdb {background-position:0 -220px;}
.tool-box td.hover,.tool-box td:hover {background-color:#d81c1b;}
.tool-box td.hover .bgt,.tool-box td:hover .bgt {background-position:-45px 0;}
.tool-box td.hover .zsjt,.tool-box td:hover .zsjt {background-position:-45px -44px;}
.tool-box td.hover .sslk,.tool-box td:hover .sslk {background-position:-45px -88px;}
.tool-box td.hover .wxwd,.tool-box td:hover .wxwd {background-position:-45px -132px;}
.tool-box td.hover .wzcx,.tool-box td:hover .wzcx {background-position:-45px -176px;}
.tool-box td.hover .yhdb,.tool-box td:hover .yhdb {background-position:-45px -220px;}
.tool-box td.hover a,.tool-box td:hover a {color:#fff;}

/*经销商推荐*/
.txt-right-pic li {float:left;width:232px;height:77px;margin:0 8px 40px 0;display:inline;cursor:pointer;}
.txt-right-pic li.last {margin-bottom:0;}
.txt-right-pic .pic a {display:block;font-size:0;border:1px solid #dedede;width:75px;height:75px;overflow:hidden;}
.txt-right-pic .link {width:140px;height:24px;overflow:hidden;}
.txt-right-pic .cont-list {margin-left:10px;display:inline;line-height:24px;font-size:14px;}
.txt-right-pic .cont-list .zxzx a {display:block;width:74px;height:25px;line-height:25px;text-align:center;background-color:#f2f2f2;}
.txt-right-pic .pic a:hover {border:1px solid #F15A5C;}
.txt-right-pic .link a:hover {text-decoration:underline;color:#d81c1b;}
.txt-right-pic .zxzx a:hover {background-color:#d81c1b;color:#fff;}
.txt-right-pic .s_ewm:hover {background: url("//mat1.gtimg.com/cq/cody/2013/auto/all/icon_wx_share.png") no-repeat scroll 0 0;}
.ewm {position:relative;left:5px;}
.ewm:hover .wemcn {display:block;}
.s_ewm { background: url("//mat1.gtimg.com/cq/cody/2013/auto/all/s_wem.jpg") no-repeat scroll 0 0; display: block;width: 0; height: 24px; padding-left:24px;overflow:hidden;}
.wemcn {position: absolute;left: -10px;  top: -125px; z-index: 4;}
.ewmDiv { background: none repeat scroll 0 0 #FFFFFF; border: 2px solid #DCDCDC; border-radius: 5px; height: 89px; padding: 10px; width: 255px; z-index: 7;}
.ewmsj { background: url("//mat1.gtimg.com/cq/cody/2013/auto/all/icon_erwm_sj.png") no-repeat scroll 0 0 ; height: 13px; margin-left: 12px; margin-top: -2px; position: absolute; width: 18px;}
.ewmkg { background: url("//mat1.gtimg.com/cq/cody/2013/auto/all/icon_wem_k_k.png") no-repeat scroll 0 0; display: block; height: 13px; position: absolute; right: 12px; top: 11px; width: 13px;}
.ewmimg { float: left; height: 85px; width: 85px;}
.rwmtext { float: left; padding-top: 7px; text-indent: 8px; width: 145px;}
.rwmtext p { color: #636363; line-height: 25px;font-size:12px; text-indent: 12px; width: 145px;}

/*热门车型推荐*/
.rowH .row-L .pic-list li {margin-right:12px;width:95px;height:110px;overflow:hidden;}
.rowH .row-L .pic-list li.last {margin-right:0;}
.rowH .row-L .pic-list .pic {width:95px;height:85px;overflow:hidden;}

/*车型大全页签*/
.rowH .tab-T-4 li {width:68px;}
.rowH .tab-T-4 li.big {width:70px;}
.rowH-R-r2 .warp-pic-list li {width:140px;margin-right:20px;}
.rowH-R-r2 .warp-pic-list li.last {margin-right:0;}
.rowH-R-r2 .warp-pic-list .img_wrap {width:140px;height:105px;}
.rowH-R-r2 .warp-pic-list .text-area {text-align:center;}
.rowH-R-r2 .warp-pic-list .link a {color:#39475d;}

.rowH-R-r3 ul {border-bottom:1px dotted #dedede;}
.rowH-R-r3 ul li {width:140px;height:27px;line-height:27px;margin-right:20px;float:left;display:inline;vertical-align:middle;overflow:hidden;}
.rowH-R-r3 ul li.last {margin-right:0;}
.rowH-R-r3 ul li .brands {color:#777}
.rowH-R-r3 ul li .brands:hover {color:#d81c1b;}

.rowH-R-r4 {background-color:#f2f2f2;padding:14px 15px;}
.rowH-R-r4 li {float:left;width:285px;height:26px;line-height:26px;overflow:hidden;margin-right:20px;display:inline;font-size:14px;}
.rowH-R-r4 li.last {margin-right:0;}
.rowH-R-r4 li .pk {font-family:"Tahoma";margin:0 5px;color:#d81c1b;}

/*热门活动推荐*/
.rowI .row-C li {height:30px;line-height:30px;}
.rowI .row-R li {width:250px;overflow:hidden;}
.rowI .text-down-pic .text {padding:6px 0;}

/*城市站导航*/
.row .links {background-color:#f2f2f2;padding:10px;}
.rowJ .hd,.rowK .hd {height:30px;background: none;}
.row .links a {display:inline-block;padding:0 9px;font-size:14px;line-height:30px;}
.row .links a.cur,.row .links a:hover {background-color:#d81c1b;color:#fff;}/*  |xGv00|6b0051ddf1101ec234a1d98385acebe9 */