/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#057142!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
.pt0{ padding-top:0px!important}
.bb0{ border-bottom:0px!important;}
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff }
.banner{ width:100%; height:184px; margin:0px auto; overflow:hidden; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/banner.jpg) no-repeat top center }
.banner h1,.banner p{ display:none}
.container{ width:100%; margin:0px auto; overflow:hidden; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/bgr.png) repeat}
.main{ width:1000px; margin:0px auto 60px; padding-top:50px; overflow:hidden}
.jxBox { position:relative; width:1000px; margin:0px auto; padding:65px 0px 0px 0px; overflow:hidden; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/line.png) repeat-y scroll 61px 0px;}
.jxBox ul{ float:right; width:880px; overflow:hidden; *padding-bottom:65px; border-bottom:1px solid #b4b4b4}
.jxBox ul li{ display:inline; float:left; width:184px; margin:0px 0px 40px 30px; overflow:hidden}
.jxBox ul li .img{ width:184px; height:196px; margin-bottom:10px; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/liBg.png) no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/liBg.png', sizingMethod='crop');}
.jxBox ul li .img .num{ width:184px; height:32px; line-height:32px; text-align:center; overflow:hidden; text-align:center; font-size:16px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#f5c400}
.jxBox ul li .img .num em{ color:#f5eb00; font-size:25px;}
.jxBox ul li .img img{ display:block; width:164px; height:164px; margin:0px auto}
.jxBox ul li p{ text-align:center; font-size:16px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal;}
.jxBox .date{ position:absolute; left:0px; top:50px; width:134px; height:100px; text-align:center; line-height:100px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:normal; color:#fff; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/date.jpg) no-repeat;}
.jxBox .dateRed{ top:0px; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/dateRed.jpg) no-repeat;}
.moreBox{ width:1000px; margin:20px auto 0px; overflow:hidden}
.more{ display:block; width:147px; height:35px; margin:0px auto; line-height:35px; text-align:left; text-indent:1.5em; font-size:18px; font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå"; font-weight:bold; color:#fff; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/more.png) no-repeat; cursor:pointer}
.more:hover{ color:#fff!important; text-decoration:none; background:url(//mat1.gtimg.com/2014/xiaobai/superstar/moreOn.png) no-repeat}
.tcopyright{ padding:40px 0px 30px; border-top:1px solid #b8b8b8}
.gengduo{ display:none}
/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop.png) no-repeat; bottom:45px; display:none; height:58px; position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { background:url(//mat1.gtimg.com/2014/css/kennanwang/pinglun/toTop2.png) no-repeat; }
/*  |xGv00|d86a74ae3f30b06cbae27b3b326c4d7e */