body {
	margin-left: 0px;
	margin-top: 0px;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td,section,article,aside,header,footer,nav,dialog,figure{margin:0;padding:0}
body,button,input,select,textarea,span{font:12px/1.5 \5b8b\4f53,verdana,sans-serif;font-family:"微软雅黑";color:#333}
section,article,aside,header,footer,nav,dialog,figure{display:block}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0} 
address,caption,cite,code,dfn,em,b	
,th,var,i{font-weight:normal;font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
ol,ul{list-style:none} 
caption,th{text-align:left} 
q:before,q:after{content:""} 
abbr,acronym{border:0}
select,input,button,button img,textarea,label{margin:0px;vertical-align:middle}
/*input[type=radio],input[type=checkbox]{margin-right:5px}*/
b{font-weight:bold}
.clear{overflow:hidden;clear:both}
.clearfix:after{clear:both;overflow:hidden;content:"."}
.imghover { opacity:0.9; filter:alpha(opacity=90);}
@media screen and (max-device-width: 320px){
 body{-webkit-text-size-adjust:none}
}
@media screen and (max-device-width: 480px){
body{-webkit-text-size-adjust:none}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2){
body{-webkit-text-size-adjust:none}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
body{-webkit-text-size-adjust:none}
}

/*-----common------*/
a{text-decoration:none;outline:none}
a:hover{text-decoration:underline;}
.undis{display:none}
a.blue{color:#3184db}
a.blue1{color:#3b639f}
a.white{color:#fff}
.gray{color:#7a7272}
.gray3{color:#333}
a.gray33, a.gray33:hover{color:#333;text-decoration:none}
.gray4{color:#444}
.gray5{color:#555}
.gray6{color:#666}
.gray9{color:#999}
a.red{color:#db1c1c}
a span.topred, a:visited .topred, a:hover .topred, a:active .topred{color:#cc0000}

/*----layout----*/
a.lchot, a.lchot:hover, .lchot{color:#bd0a01}
.f-l { float:left;}
.f-r { float:right;}
.f-12{font-size:12px !important}
.f-14{font-size:14px !important}
.f-15{font-size:15px !important}
.f-16{font-size:16px !important}
.f-18{font-size:18px !important}
.wrap{width:960px;margin:0px auto;z-index:1;clear:both}
.hr10{height:10px;clear:both;overflow:hidden}
.hr5{height:5px;clear:both;overflow:hidden}
.mt30{margin-top:30px}
.mt15{margin-top:15px}
.mt10{margin-top:10px}
.mr15{margin-right:15px}
.pt2{padding-top:2px !important}
.pt5{padding-top:5px !important}
.pt8{padding-top:8px !important}
.pt10{padding-top:10px !important}
.pt12{padding-top:12px !important}
.pt14{padding-top:14px !important}
.pt15{padding-top:15px !important}
.pt18{padding-top:18px !important}
.pb4{padding-bottom:4px !important}
.pb6{padding-bottom:6px !important}
.pb10{padding-bottom:10px !important}
.pb11{_padding-top:11px !important}
.pb16{padding-bottom:16px !important}
.pl10{padding-left:10px !important}
.pr10{padding-right:10px !important}
.line22{line-height:20px !important}
.line24{line-height:24px !important}
.line26{line-height:26px !important}
.l{float:left}
.r{float:right}
.c1{ color:#e66034}
.clearfix { *zoom:1;}
.clearfix:after { content:''; display:table; clear:both;}

.main{ margin:0 auto; width:1000px; min-height:2300px; display:block;}
.top{ float:left; margin-top:20px; width:1000px; height:40px}
.logo{ float:left;width:260px; height:40px}
.logo a{ float:left; width:135px; height:39px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/logo_ms.jpg)}
.jchd{ float:left; margin-top:10px; width:460px; }
.jchd span{ float:left; font-size:13px; color:#d94f00; }
.jchd a{ float:left; font-size:13px; color:#333 }
.soso{ float:left; width:280px; height:40px}

.nav{ width:990px; height:36px; padding-left:10px; background-color:#ed6950;}
.nav li { float:left; height:36px; line-height:36px; padding:0 40px; text-align:center;}
.nav li.nav-on { background-color:#6fb79b;}
.nav a{ font-size:16px; color:#fff;}
.nav a:hover{ text-decoration:none;}


.p1{ float:left; width:1000px; margin-top:20px;}
.l1{ float:left; width:580px; height:593px;POSITION: relative; overflow:hidden-}
.r1{ float:right; width:396px; height:593px;POSITION: relative; background:url(//mat1.gtimg.com/fj/eat/2017index/msbg03.gif) no-repeat left top}
/*focus*/
.jdt { float:left; position:relative; width:580px; height:290px; overflow:hidden; z-index:0;}
.jdt .item { width:580px; height:290px;}
.jdt .item span { display:inline-block; height:40px; line-height:40px;}
.jdt .item.undis { display:none;}
.jdt .f-txt { position:absolute; bottom:0; left:0; height:40px; line-height:40px;  padding:0 130px 0 15px; z-index:2;}
.jdt .f-txt span { padding-right:15px; color:#fff;}
.jdt .f-txt span a { color:#E66034;}
.jdt .f-mask { position:absolute; width:580px; height:40px; bottom:0; left:0; background:#000; opacity:0.6; filter:alpha(opacity=60); z-index:1;}
.jdt .f-opt { position:absolute; bottom:10px; right:0; z-index:3;}
.jdt .f-opt li { float:left; width:20px; height:20px; line-height:20px; margin-right:10px; background:#ed6950; color:#fff; font-size:12px; text-align:center; cursor:pointer;}
.jdt .f-opt li.f-opt-last { border:none;}
.jdt .f-opt li.f-on { background:#6bb297; font-weight:bold;}
.xxh{position:absolute;width:587px;height:278px;z-index:1; background:url(//mat1.gtimg.com/fj/eat/2013index/msbg01.jpg) left top no-repeat; top:325px; left:-7px}
.bt{ float:left; background-color:#ed6950; font-size:20px; color:#fff; height:35px; line-height:35px;padding:0 17px 0px 17px; margin-bottom:20px; display:inline}
.xxh dl{ float:left; width:558px; height:196px; margin-left:30px; display:inline}
.xxh dl dd{ float:left; width:204px; height:196px;}
.xxh dl dd img{width:204px; height:196px;}
.xxh dl dt{ float:left; width:558px; height:196px;}
.xxh dl dt .act-simg{ float:left; width:558px; height:113px;}
.xxh dl dt .act-simg li{ float:left; width:134px; height:98px;margin-left:12px; position:relative; z-index:0;}
.xxh dl dt .act-simg li span{ position:absolute; left:40%; top:35%; width:20%; height:auto; opacity:0.8;}
.xxh dl dt .act-simg li.xxh-2 span{ width:30%; height:auto; left:35%;}
.xxh dl dt .act-simg li span img{ width:100%; height:auto;}
.xxh dl dt .act-simg li:hover span{ opacity:1;}
.xxh dl dt .act-simg li.xxh-1 { width:262px; height:198px; margin-left:0;}
.xxh dl dt .act-simg li.xxh-1.xxh-on a { display:block; width:264px; height:196px; position:absolute; left:0; top:0; z-index:2; background:url(//mat1.gtimg.com/fj/eat/2013index/img21.png) -3px -5px no-repeat;}
.xxh dl dt .act-simg li.xxh-2.xxh-on a { display:block; width:134px; height:104px; position:absolute; left:0; top:0; z-index:2; background:url(//mat1.gtimg.com/fj/eat/2013index/img20.png) -5px -5px no-repeat;}
.xxh dl dt .act-info { width:280px; overflow:hidden; zoom:1; float:right;}
//mat1.gtimg.com/fj/money/20131216xmbank/{width:108px; height:98px;}
.xxh dl dt p a.xxh-on img { width:102px; height:92px;}
.xxhb{ float: left; width:270px; height:28px; font-size:16px; color:#E66034; text-align:center; font-weight:bold}
.xxhb a{ font-size:16px; color:#333;}
.xxh dl dt span{ float:left; width:140px; height:46px; line-height:24px}
.wycj{ float: right; width:126px; height:47px; margin-right:10px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg02.jpg)}


.ttp1{ float:left; width:310px; height:225px; margin:30px 0 0 60px; display:inline}
.ttbt{ float:left; width:100%; height:32px; font-size:16px; font-weight:bold; color:#e66034; text-align:center; margin-top:8px;}
.ttp1 p{ float:left; width:100%; height:72px; font-size:14px; color:#666; line-height:24px}

.r1 dl{ width:391px; padding:5px 30px 0; overflow:hidden;}
.r1 dl dd{ width:335px; height:170px;}
.r1 dl dd img{width:335px; height:170px;}
.r1 dl dt{ width:335px; height:110px;}
.r1 dl dt p{ float:left; width:100%;line-height:24px;font-size:14px; color:#666;}
.r1 dl dt p a {color:#E66034;}
.djch{ float: left; width:100%; height:36px; line-height:40px;font-size:16px;color:#E66034; text-align:center; font-weight:bold}


.nav2{ float:left; width:1000px; height:50px; margin:20px 0 50px 0; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg04.jpg)}
.rmzj{ float:left; width:698px; height:20px; margin:16px 0 0 22px; display:inline}
.rmzj a{ float:left; width:112px; height:20px; font-size:12px; color:#000; text-align:center; background-image:url(//mat1.gtimg.com/fj/eat/2013index/ico02.png);background-repeat: no-repeat;background-position: right top;}
.rmzj a:hover{color:#fff; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg05.png)}
.nav2 b{ float:left; font-size:12px; color:#000}
.lt{ float:left; width:275px; height:27px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg05.jpg); margin-top:13px;}
.ss{ float:left; width:167px; height:20px; padding-left:5px; line-height:26px; font-size:13px; border: 0 solid #cccccc; margin:3px 0 0 5px}
.ssan{ float:left; width:26px; height:26px; border: 0px solid #cccccc;cursor: pointer; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg06.jpg)}

.l2{ float:left; width:664px; height:575px; POSITION: relative;border-left: 1px solid #f8c9c0;}
.msfx{position:absolute;width:16px;height:26px;z-index:1; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg07.jpg);left:-8px; top:0;}
.l2 dl{ float:left; width:642px; height:165px;border-bottom: 1px dashed #dddddd; margin-left:20px; display:inline; margin-bottom:24px  }
.l2 dl.no-b { border:none;}
.l2 dl dd{ float:left; width:210px; height:140px;}
.l2 dl dd img{width:210px; height:140px;}
.l2 dl dt{ float:right; width:410px; height:140px;}
.l2 dl dt p{ float:left; width:100%; height:80px;line-height:24px;font-size:14px; color:#666;}
.msbt{ float:left; width:100%; height:30px; font-size:16px; font-weight:bold; color:#e66034; line-height:30px;margin-bottom:10px }
.msfx_hd{ float:right; width:129px; height:16px;}
.gz{float:left;height:16px; padding-left:25px; margin-right:5px;background-image:url(//mat1.gtimg.com/fj/eat/2013index/ico03.jpg);
background-repeat: no-repeat;background-position: left top; line-height:14px; font-size:12px; color:#999}
.pl{float:left;width:34px;height:29px; padding-left:25px;background-image:url(//mat1.gtimg.com/fj/eat/2013index/ico04.jpg);
background-repeat: no-repeat;background-position: left top; line-height:14px;font-size:12px; color:#999}
.msfx_hd span a{font-size:12px; color:#999}

.r2{ float:right; width:290px; height:575px; background:url(//mat1.gtimg.com/fj/eat/2017index/msbg08.gif) no-repeat center top;}
.zctj{ float:left; width:100%; height:24px; text-align:right}
.zctj a{ font-size:12px; color:#999}
.zctp{ float:left; width:285px; height:157px;}
.zctp img{ float:left; width:285px; height:150px;}
.zctd{float:right; width:100%; height:120px;}
.zctd b{ font-size:12px; line-height:24px; color:#999; font-weight:lighter }
.zctd span{ font-size:12px; line-height:24px; color:#666; font-weight:lighter }
.xj{display:block; background-image:url(//mat1.gtimg.com/fj/eat/2013index/x_4.jpg); width:76px; height:20px}

/* 秒杀 */
.jpmp{ width:270px; padding-top:5px; float:right; height:215px;}
.jpmp h4,.bgq h4{ text-align:center; height:34px; font:bold 16px/36px "Micoroft YaHei"; overflow:hidden;}
.jpmp p em{ text-decoration:line-through; padding:0 3px;}
.jpmp p b{ padding:0 2px;}

.bgq{ float:right; padding-top:10px;}
.bgq p{ font-size:14px; line-height:24px; height:72px; overflow:hidden; color:#666;}

.l3{ float:left; width:664px; height:337px;background:url(//mat1.gtimg.com/fj/eat/2013index/msbg09.jpg) right 10px no-repeat;}
.r3{float:right; width:290px; height:337px; border-left: 1px solid #f8c9c0;POSITION: relative;}
.lslp{float:right; width:664px; height:273px; }
.lsrs{float:left; width:194px; height:272px;border: 1px solid #cccccc; margin-right:28px }
.lsp{float:left; width:194px; height:244px;POSITION: relative;}
.lsp img{float:left; width:194px; height:234px;}
.lsbt{width:194px; height:34px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg10.png);position:absolute;z-index:1; bottom:10px; left:0; text-align:center}
.lsbt a{ color:#fff; font-size:14px; line-height:34px}
.lspl{float:left;height:20px;background-image:url(//mat1.gtimg.com/fj/eat/2013index/ico05.jpg);background-repeat: no-repeat;background-position: left top; margin-left:10px; padding-left:10px; padding-left:20px; }
.lspl a{ color:#333}
.lsxh{float:right;height:20px;padding-left:20px;background-image:url(//mat1.gtimg.com/fj/eat/2013index/ico06.jpg);background-repeat: no-repeat;background-position: left 2px;margin-right:10px;font-size:14px; color:#333}
.dianzan {padding-left:5px; font-size:14px;}
.lsxh a{font-size:14px; color:#333}

.sd{float:right; width:268px; height:278px; margin-right:1px; overflow:hidden}
.sd2{height:32px;margin-bottom:2px; overflow:hidden }
.sd2 span{float:left; width:268px; height:32px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg12.png);background-repeat: no-repeat;background-position: left top; background-color:#f7f7f7}
.sd2 span h2{float:left; width:114px; height:32px; padding-left:32px; color:#555555; font-size:14px; line-height:32px; font-weight:lighter}
.sd2 span b{float:right; width:100px; height:32px; padding-right:12px; color:#555555; font-size:14px; line-height:32px; text-align:right; font-weight:lighter}
.sd2 img{ width:266px; height:147px; }
.sd1{ height:179px; }
.sd1 span{ background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg11.png); background-color:#fbf6eb }
.sd1 span h2{ color:#f8a15c;}
.sd1 span b{ color:#f8a15c;}

.p3{ float:left; width:1000px;height:372px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg13.jpg); position:relative; margin-top:40px;}
.rszx{ float:left; margin-left:22px; display:inline; width:978px; height:40px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg14.jpg); margin-bottom:13px}
.sxn{ float:left; width:132px; height:40px; text-align:center; font-size:13px; color:#999; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg14.jpg); line-height:33px; margin-right:40px;}
.sxx{ float:left; width:132px; height:40px; text-align:center; font-size:13px; color:#fff; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg15.jpg); line-height:33px; margin-right:40px;}

.tkx{ float:right; width:977px; height:246px; overflow:hidden}
.zxlb{ float:left; width:977px; height:246px}
.tkp{ float: left; width:236px; height:246px}
.tkp img{ float: left; width:220px; height:246px}
.tkt{ float: left; width:182px; height:246px}
.tkwy{ float: left; width:100%; height:33px; line-height:30px; font-size:14px; color:#666; font-weight: bold}
.tkwy a{ line-height:30px; font-size:16px; color:#666; font-weight: bold}
.tkjj{ float:left; width:162px; padding-bottom:15px; line-height:21px; font-size:12px; color:#666;}
.jgz{ float:left; width:67px; height:27px; background-color:#6ecca5; text-align:center; line-height:27px; font-size:13px;}
.jgz a{line-height:27px; font-size:13px; color:#fff}
.rs{ float:left; width:66px; height:25px; color:#333; text-align:center; line-height:25px; font-size:13px; background-image: url(//mat1.gtimg.com/fj/eat/2013index/msbg16.jpg); padding-left:5px}
.tkdp{float: left; width:219px; height:187px; padding-top:35px;}
.tkdp h2{float: left; width:219px; height:24px; font-size:14px; color:#666;}
.tkgd{ float:right; width:320px; height:240px; padding-top:6px; overflow:hidden}
.tkgd dl{ float:left; width:100%; height:110px;}
.tkgd dl dd{ float:left; width:170px; height:110px; position:relative;}
.tkgd dl dd a img{width:170px; height:110px;}
.tkgd dl dd span{ position:absolute; left:62px; top:32px; width:46px; height:46px; opacity:0.8;}
.tkgd dl dt{ float:right; width:130px; height:110px;}
.tkgd dl dt p{float:right; width:100%; height:78px; overflow:hidden;}
.tkgd dl dt p b{ font-size:12px; line-height:20px; color:#999; font-weight:lighter }
.tkgd dl dt p span{ font-size:12px; line-height:20px; color:#666; font-weight:lighter }
/*soso,toplink,logo*/
.logo_box { width:1000px; height:32px; margin:15px 0; }
.logo { width:auto; height:32px; overflow:hidden;}
.logo .logo_img { width:147px; height:32px; overflow:hidden; display:block; background:url(//mat1.gtimg.com/fj/2016index/logo_2018_eat.gif) no-repeat left top; margin-right:10px; }
.logo .slogan { width:134px; height:32px; overflow:hidden; display:block; background:url(//mat1.gtimg.com/cd/201108/yimu/jiaju2013/jiaju_05.png) no-repeat left top; }
.toplink{width:530px;overflow:hidden;height:20px;line-height:20px;padding-bottom:8px;padding-top:7px;top:0;color:#F37021;padding-left:20px; font-size:12px;}
.scrolldiv{height:25px;line-height:25px;overflow:hidden;}
.scrolldiv p{height:20px;line-height:20px;overflow:hidden; padding-left:5px;}
.scrolldiv p a { font-size:12px; color:#555;}
.ss_search { width:auto; margin-top:3px;  }
#channel_nav .Form-Crumbs-Article-QQ .txtArea{border:0;}
#channel_nav .Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:26px;border:none;font-size:12px;background: url(//mat1.gtimg.com/news/imgcss_article_qq/soso_new_ui.png) 0 -26px no-repeat;cursor:pointer;}
#channel_nav .Form-Crumbs-Article-QQ .inputWarp{float:right;width:229px;height:24px;margin:0;padding:0;line-height:22px;background:none;border:#c9c9c9 1px solid;border-right:none;}
#channel_nav .Form-Crumbs-Article-QQ .txtArea{width:170px;height: 20px;margin:2px auto 0 2px;font-size:14px;line-height:20px;border:none;color:#424242;outline:none;inline:none; background:#fff;}
#channel_nav .Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:13px;line-height:22px;font-family:"宋体";}
.soso-smart-a{}
.soso-smart-b{background:#D8ECFF;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.tlad{ float:left; width:1000px; margin-bottom:20px}

.p4{ float:left; width:1000px;height:440px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg17.jpg);POSITION: relative;background-repeat: no-repeat;background-position: left 90px;}
.ssb{position:absolute;width:35px;height:115px;z-index:1; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg18.jpg);left:-14px; top:-21px}
.tk{ float:right; width:960px; height:440px; overflow:hidden}
.h1{ height:260px; overflow:hidden;}
.h2{ height:170px; overflow:hidden;}
.tk div{POSITION: relative;}
.tk1{ float:left; width:430px; height:440px}
.tk1 div{ float:left; margin:0 10px 10px 0}
.tk2{ float:left; width:310px; height:440px}
.tk3{ float:right; width:210px; height:440px}
.tk3 div{ float:left; margin:0 10px 10px 0}
.tkbt{ height:42px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg10.png);position:absolute;z-index:1; bottom:-42px; text-align:center}
.tkbt a{ color:#fff; font-size:14px; line-height:42px; font-weight:bold;}

/* 联盟商家 */
.p5{ float:left; width:1000px;height:140px; background-image:url(//mat1.gtimg.com/fj/eat/2017index/msbg19.gif);background-repeat: no-repeat; margin-top:31px}
.lmsj{ float:left; width:950px; padding:0 25px; height:95px; margin-top:41px}
.lmsj li{ float:left; width:75px; height:85px; margin:0 10px; text-align:center}
.lmsj li img{width:60px; height:60px; padding-bottom:2px;}
.lmsj a{ color:#666; font-size:12px}

/*hot-words*/
.hot-words { width:990px; height:48px; line-height:48px; padding:2px 5px; margin:20px auto; border-radius:5px; background:url(//mat1.gtimg.com/fj/shopping/2013index/img12.jpg) -1px top no-repeat;}
.hot-words strong { padding-left:10px; color:#000;}
.hot-words ul { position:relative; padding-left:20px; z-index:0;}
.hot-words ul li { position:relative; float:left; height:20px; line-height:20px; padding-right:22px; margin-top:15px; background:url(//mat1.gtimg.com/fj/shopping/2013index/img11.jpg) right center no-repeat; z-index:0;}
.hot-words ul li span { display:block; height:20px; line-height:20px;}
.hot-words ul li a { font-size:12px; color:#000;}
.hot-words ul li a:hover { text-decoration:none;}
.hot-words ul li.hot-last { background-image:none;}
.hot-words ul li.hot-w-on { margin-left:-22px; background-image:url(//mat1.gtimg.com/fj/eat/2013index/msbg05_02.jpg); z-index:1;}
.hot-words ul li.hot-w-on a { color:#fff;}
.hot-words ul li.hot-w-on span { padding-left:22px; background:url(//mat1.gtimg.com/fj/eat/2013index/msbg05_01.jpg) left center no-repeat;}
.hot-words .soutie { width:255px;}
.hot-words .soutie div { height:28px; line-height:28px; width:204px; padding-top:10px; overflow:hidden; background:url(//mat1.gtimg.com/fj/shopping/2013index/img13.jpg) left 11px no-repeat;}
.hot-words .soutie input { border:none; background:none; font-size:12px;}
.hot-words .soutie .suotie-txt { float:left; width:155px; height:28px; line-height:28px; padding-left:10px; color:#999; outline:none;}
.hot-words .soutie .suotie-sub { width:28px; height:28px; cursor:pointer;}

/* 排行+美食资讯 */
.threelist{ margin-top:40px;}
.threelist .hd{ background:url(//mat1.gtimg.com/fj/eat/2013index/msbg07.jpg) no-repeat left top; position:absolute; padding-left:30px; left:-10px; font-size:20px; line-height:30px;}
.threelist .bd{ padding:50px 0 0 20px; font-size:14px;}
.threelist .bd li{ list-style:none; height:32px; line-height:32px; overflow:hidden;}

.threelist .bd li a{ text-decoration:none; cursor:pointer;}
.threelist .bd li a p{ display:inline-block; float:left;}
.threelist .bd li em{ width:17px; height:32px; padding-left:8px; display:inline-block; background:url(//mat1.gtimg.com/fj/eat/2017index/look.png) no-repeat center center; opacity:0.8;}
.threelist .bd li a:hover em{ opacity:1;}
.threelist a{color:#333;}
.threelist a:hover,.threelist .bd li a:hover p{ color:#e66034;}

/* 近期新开餐厅 */
.xkct{ width:360px; border-left:1px #f8c9c0 solid; height:440px; position:relative; margin-right:15px; height:442px;}
.xkct .hd h4{ padding-top:3px;}
.xkct .bd dl{ height:100px; padding-bottom:8px;}
.xkct .bd dl dd{ width:150px; float:left;}
.xkct .bd dl dt{ width:175px; float:right;}
.xkct .bd dl dt h4{ line-height:32px; font-weight:normal;}
.xkct .bd dl dt p{ height:40px; line-height:20px; color:#999; overflow:hidden;}
.xkct .bd dl dt span{ font-size:14px; line-height:32px;}
.xkct .bd ul li{ background:url(//mat1.gtimg.com/fj/eat/2017index/list_icon.gif) no-repeat 10px center #f7f7f7; margin-bottom:4px; padding-left:35px;}

/* 热门餐厅TOP10 */
.rmct{ width:340px; border-left:1px #f8c9c0 solid; position:relative; height:442px;}
.rmct .hd h4{ padding-top:3px;}
.rmct .bd dl{ height:90px; padding-bottom:18px; background:url(//mat1.gtimg.com/fj/eat/2017index/1-10-1.gif) no-repeat left top; padding-left:35px;}
.rmct .bd dl dd{ width:120px; float:left;}
.rmct .bd dl dt{ width:150px; float:right;}
.rmct .bd dl dt h4{ line-height:32px; font-weight:normal;}
.rmct .bd dl dt p{ height:40px; line-height:20px; color:#999; overflow:hidden;}
.rmct .bd ul{ background:url(//mat1.gtimg.com/fj/eat/2017index/1-10-2.gif) no-repeat left top; padding-left:35px;}

/* 美食资讯 */
.mszx{ width:280px; border-left:1px #f8c9c0 solid; position:relative; height:442px;}
.mszx .hd h4{ background-color:#ed6950; padding:0 15px; color:#fff; font-size:18px; margin-top:5px;}
.mszx .bd{ padding-top:58px;}
.mszx .bd li{ background:url(//mat1.gtimg.com/fj/eat/2017index/icon_r.gif) no-repeat left center; padding-left:20px;}

/*bottom*/
.bottom { padding:20px 0; margin:15px auto; background:#f9f9f9; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;}
.bottom .wrap { width:960px; margin:0 auto; padding:0 20px;}
.bottom h3 { height:32px; line-height:34px; padding-left:10px; margin-bottom:8px; font-weight:normal; color:#FA824F;}
.bottom .b-con { width:685px; background:url(//mat1.gtimg.com/fj/hunjia/2013index/img34.png) repeat-x top;}
.bottom .b-con ul { padding-bottom:15px;}
.bottom .b-con li { float:left; width:180px; height:112px; line-height:18px; margin-right:15px; text-align:center;}
.bottom .b-con .column { width:96px;}
.bottom .b-con .column span { display:block; width:70px; line-height:20px; margin-top:18px; text-align:center; color:#fff; background:#FA824F;}
.bottom .b-con div { padding-top:10px; line-height:20px;}
.bottom .b-con .hz-h { width:135px; padding:5px; margin:13px auto 0; border:#d4d2d2 1px solid; background:#f0f0f0; text-align:center;}
.bottom .b-con .addr span { float:left; width:70px; color:#fff; background:#FA824F; text-align:center;}
.bottom .b-con .addr p { float:left; padding-left:40px;}
.bottom .b-weibo { width:275px; line-height:20px; padding-top:13px; font-size:14px;}
.bottom .b-weibo .wblogo { padding-right:10px;}
.bottom .b-weibo .tit { line-height:30px;}
.bottom .b-weibo .con { padding-top:3px;}
.bottom .b-weibo .btn_box { float:right; width:56px; height:22px; margin:5px 62px 0 0; line-height:22px; background:#3E3D3D; text-align:center;}
.bottom .b-weibo .btn_box a { color:#fff;}
#backToTop { width: 54px; height:54px; position: fixed; _position: absolute; right: 50px; bottom: 80px; _bottom:auto; cursor: pointer; overflow:hidden; background:url(//mat1.gtimg.com/fj/eat/2013index/back_top.jpg) no-repeat; opacity:.6; filter: Alpha(opacity=60);}
#backToTop:hover { opacity:1; filter:Alpha(opacity=100);}
.fix{width:120px;position:fixed;top:135px;left:50%;margin-left:510px;overflow:hidden;text-align:center}/*  |xGv00|17aa9d574fcebc8cb978028da279d8b1 */