* { margin:0; padding:0; list-style:none; border:none; font-size:14px; font-weight:normal; font-size:'Microsoft YaHei'; line-height:1.5; color:#333;}
img { display:block; border:none;}
a:link,a:visited { color:333; text-decoration:none;}
a:hover,a:active { color:#f00; text-decoration:underline;}
.banner { height:319px; width:auto; background:url(//mat1.gtimg.com/fj/chinafair16/banner.jpg) center top no-repeat #690200;}
/*导航*/
.nav { width:auto;background:url(//mat1.gtimg.com/fj/chinafair16/navrepeatbg.jpg) top repeat-x;}
.nav ul { width:960px; height:42px; line-height:42px; margin:0 auto; overflow:hidden; zoom:1;}
.nav ul li { float:left; width:114px; padding-right:2px; background:url(//mat1.gtimg.com/fj/chinafair16/divline.png) right center no-repeat; _background:url(//mat1.gtimg.com/fj/chinafair16/divline.gif) right center no-repeat}
.nav ul li a:link,.nav ul li a:visited { display:block; width:auto; height:42px; line-height:42px; text-align:center; color:#fff6d4; text-decoration:none;}
/*.nav ul li a:hover,.nav ul li a:active { background:url(//mat1.gtimg.com/fj/chinafair16/on_light.png) center no-repeat;}*/
.nav ul li.li1 { width:100px;}
.nav ul li.li2 { width:144px;}
.nav ul li.li3 { width:240px;}
.nav ul li.li7 { background:none;}

.main { width:960px; margin:0 auto; overflow:hidden; zoom:1;}

/*新闻头条*/
.headnews { float:left; width:358px; height:328px; margin:15px 10px 10px auto; padding:0px 10px; border:1px solid #ccc;}
.headnews h1 { padding:10px 0px 0px; text-align:center;}
.headnews h1 a { line-height:40px; font-size:20px; font-weight:normal; font-family:'Microsoft YaHei'; color:#b50c0b; text-decoration:none;}
.headnews h1 a:hover { text-decoration:underline;}
.headnews p { padding:0px 0px; text-indent:2em; line-height:24px; color:#666;}
.headnews p a { color:#333; font-size:14px; letter-spacing:0px;}
.headnews .headlist { margin-top:20px; padding-top:15px; border-top:1px dotted #ccc;}
.headnews .headlist div { line-height:28px; padding:0px 0px;}
.headnews .headlist div a { text-decoration:none; color:#333;}
.headnews .headlist div a:hover { color:#f00; text-decoration:underline;}

/*焦点图*/
.focus { float:left; width:568px; height:328px; margin:15px auto 10px auto; border:1px solid #ccc;}
.focus #myfocus{width:568px;height:328px;margin-bottom:6px;overflow:hidden;font:12px Verdana, Arial, Helvetica, sans-serif;background:#000 no-repeat;position:relative;}
.focus #myfocus #myloading{position:absolute;top:0;left:0;z-index:9999;width:568px;height:328px;background:#333;color:#f60;font-size:12px;text-align:center;padding-top:90px;}
.focus #myfocus #myloading .bg{position:absolute;top:0;left:0;z-index:-1;}/*载入画面*/
.focus #myfocus .pics{width:568px;height:328px;overflow:hidden;position:relative;}
.focus #myfocus .pics ul{height:328px;position:absolute;}
.focus #myfocus .pics ul li{width:568px;height:328px;float:left;position:relative;}/*图片大小300px*262px*/
.focus #myfocus .pics ul li img {width:568px;height:328px;}
.focus #myfocus .pics ul li div,#myfocus .pics ul li div span,#myfocus .pics ul li div a{display:block;position:absolute;bottom:0;left:0;width:100%;height:34px;}
.focus #myfocus .pics ul li div span{filter:alpha(opacity=50);opacity: 0.5;background:#000;}/*文字标题的背景样式*/
.focus #myfocus .pics ul li div a{line-height:34px;overflow:hidden;padding-left:16px;text-decoration:none;font-size:14px;color:#fff;font-weight:bold;}/*文字标题样式*/
.focus #myfocus .mybtn{position:absolute;bottom:10px;right:12px;}
.focus #myfocus .mybtn ul li{text-align:center;float:left;width:18px;height:16px;line-height:16px;margin-left:4px;overflow:hidden;border:1px solid #000;background:#b50c0b;color:#fff;cursor:pointer;}
.focus #myfocus .mybtn ul li.current{background:#ff8400;color:#fff;}

/*含标题版块公共部分*/
.latelynews,.videos,.meeting,.digital,.travelexpo,.reprot,.dialogue,.hdshop,.weibo,.zutu,.five,.review { float:left; width:958px; border:1px solid #ccc; background:url(//mat1.gtimg.com/fj/chinafair16/h_bg_repeat.jpg) top repeat-x;} 
.latelynews h1,.videos h1,.meeting h1,.digital h1,.travelexpo h1,.reprot h1,.dialogue h1,.hdshop h1,.weibo h1,.zutu h1,.five h1,.review h1 { height:34px; line-height:32px; padding-left:16px; background:url(//mat1.gtimg.com/fj/chinafair16/h_bg.jpg) left top no-repeat; font-weight:bold; color:#333;}
.meeting .head2,.digital .head2,.travelexpo .head2,.reprot .head2 { position:relative; height:24px; border-bottom:2px solid #dfdfdf;}
.meeting .head2 span,
.digital .head2 span,
.travelexpo .head2 span,
.reprot .head2 span { display:block; position:absolute; left:0; bottom:-2px; height:26px; line-height:20px; font-weight:bold; padding-left:30px; background:url(//mat1.gtimg.com/fj/chinafair16/h2_bg.jpg) left bottom no-repeat;}
.meeting .head2 a,
.digital .head2 a { float:right; color:#666; font-size:12px;}
/*最新资讯*/
.latelynews { float:left; width:378px; height:272px; margin-right:10px;}
.latelynews h1 span { padding:0px 10px; color:#999;}
.latelynews .latelynews_list { padding:8px 12px 0px;}
.latelynews .latelynews_list div { padding-left:15px; background:url(//mat1.gtimg.com/fj/olympic/icobg.png) left center no-repeat;}
.latelynews .latelynews_list div a { line-height:28px; color:#333; text-decoration:none;}
.latelynews .latelynews_list div a:hover { color:#f00; text-decoration:underline;}

/*9·8三人行*/
.videos { width:568px; height:272px; border:1px solid #ccc;}
.videos .vcon { overflow:hidden; zoom:1;}
.videos .vcon .big_v { float:left; width:322px; height:210px; padding:15px 0px 0px 15px;}
.videos .vcon .big_v a.b_v_link { display:block; width:322px; height:210px; position:relative;}
.videos .vcon .big_v a.b_v_link img { width:322px; height:210px;}
.videos .vcon .big_v a.b_v_link .v_play { position:absolute; left:120px; top:52px; width:62px; height:62px; display:block; background:url(//mat1.gtimg.com/fj/chinafair16/b_v_play.png) center no-repeat; _background:url(//mat1.gtimg.com/fj/chinafair16/b_v_play.gif) center no-repeat;}
.videos .vcon .big_v a.b_v_link .v_title { display:block; position:absolute; left:0; bottom:0px; width:322px; height:36px; line-height:36px; color:#fff; font-weight:bold; text-align:center; z-index:5;}
.videos .vcon .big_v a .v_title_bg { display:block; position:absolute; left:0; bottom:0px; width:322px; height:36px; background:#000; opacity:.5; filter:Alpha(opacity=50); z-index:3;}
.videos .vcon .small_v { float:right; width:204px; height:114px; padding:15px 15px 0px 0px;}
.videos .vcon .small_v a.s_v_link { display:block; width:204px; height:114px; position:relative;}
.videos .vcon .small_v a.s_v_link img { width:204px; height:114px;}
.videos .vcon .small_v a.s_v_link .v_play { position:absolute; left:77px; top:30px; width:62px; height:62px; display:block; background:url(//mat1.gtimg.com/fj/chinafair16/s_v_play.png) center no-repeat; _background:url(//mat1.gtimg.com/fj/chinafair16/s_v_play.gif) center no-repeat;}
.videos .vcon .small_v * { font-size:12px; color:#666;}
.videos .vcon .small_v h2 { text-align:center; padding-bottom:5px;}
.videos .vcon .small_v h2 a { line-height:28px; font-weight:bold; color:#333;}
.videos .vcon .small_v .s_v_list p { padding:2px 0;}
.videos .vcon .small_v .s_v_list p a:hover { color:#f00;}

/*"1+4"论坛大会*/
.meeting { width:958px; margin-top:10px;}
.meeting .m_tabs { width:900px; margin:0 auto; padding:15px 0 0; overflow:hidden; display:none;}
.meeting .m_tabs ul { width:920px; background:url(//mat1.gtimg.com/fj/chinafair16/meeting_tabs.jpg) top repeat-x; overflow:hidden; zoom:1;}
.meeting .m_tabs ul li { width:163px; height:71px; line-height:60px; float:left; margin-right:21px; text-align:center; background:url(//mat1.gtimg.com/fj/chinafair16/meeting_tab.jpg) center top no-repeat; cursor:pointer;}
.meeting .m_tabs ul li.on { background:url(//mat1.gtimg.com/fj/chinafair16/meeting_tab_on.jpg) center top no-repeat;}
.meeting .m_tab_1 { width:auto; height:278px; padding:15px 25px 0; overflow:hidden; zoom:1;}
.meeting .m_tab_1 .m_tab1_con1 { float:left; position:relative; width:282px; height:250px; background:#ccc;}
.meeting .m_tab_1 .m_tab1_con1 img { width:282px; height:250px;}
.meeting .m_tab_1 .m_tab1_con1 a { position:absolute; left:0; bottom:0; width:282px; height:30px; line-height:30px; color:#fff; background:#111; text-align:center;}
.meeting .m_tab_1 .m_tab1_con2 { float:left; width:316px; padding:0px 30px;}
.meeting .m_tab_1 .m_tab1_con2 h3 { padding:15px 0px; text-align:center;}
.meeting .m_tab_1 .m_tab1_con2 h3 a { font-size:20px; font-weight:normal; font-family:'Microsoft YaHei'; color:#b50c0b;}
.meeting .m_tab_1 .m_tab1_con2 ul li { padding-left:15px; background:url(//mat1.gtimg.com/fj/olympic/icobg.png) left center no-repeat;}
.meeting .m_tab_1 .m_tab1_con2 ul li a { line-height:24px; color:#333;}
.meeting .m_tab_1 .m_tab1_con2 ul li span a,.meeting .m_tab_1 .m_tab1_con2 ul li span { color:#666;}
.meeting .m_tab_1 .m_tab1_con2 ul li a:hover { color:#f00;}
.meeting .m_tab_1 .m_tab1_con3 { float:left; width:243px; height:242px; border:1px solid #ccc;}
.meeting .m_tab_1 .m_tab1_con3 h3 { width:auto; height:33px; text-indent:-1000px; background:url(//mat1.gtimg.com/fj/chinafair16/bbs_intro_bg.jpg) center no-repeat;}
.meeting .m_tab_1 .m_tab1_con3 div { padding:18px 18px 0px; line-height:26px; font-size:12px;}
.meeting .m_tab_1 .m_tab1_con3 div span { font-size:12px; color:#b50c0b;}

/*数字（互联网）新经济论坛*/
.digital { width:958px; height:324px; margin-top:10px;}
.digital .d_con { padding:15px 25px 0px;}
.digital .d_con .d_tab1_con1 { float:left; position:relative; width:282px; height:250px; background:#ccc;}
.digital .d_con .d_tab1_con1 img { width:282px; height:250px;}
.digital .d_con .d_tab1_con1 a { position:absolute; left:0; bottom:0; width:282px; height:30px; line-height:30px; color:#fff; background:#111; text-align:center;}
.digital .d_con .d_tab1_con2 { float:left; width:316px; padding:0px 30px;}
.digital .d_con .d_tab1_con2 h3 { padding:15px 0px; text-align:center;}
.digital .d_con .d_tab1_con2 h3 a { font-size:20px; font-weight:normal; font-family:'Microsoft YaHei'; color:#b50c0b;}
.digital .d_con .d_tab1_con2 ul li { padding-left:15px; background:url(//mat1.gtimg.com/fj/olympic/icobg.png) left center no-repeat;}
.digital .d_con .d_tab1_con2 ul li a { line-height:24px; color:#333;}
.digital .d_con .d_tab1_con2 ul li span a,.meeting .m_tab_1 .m_tab1_con2 ul li span { color:#666;}
.digital .d_con .d_tab1_con2 ul li a:hover { color:#f00;}
.digital .d_con .d_tab1_con3 { float:left; width:243px; height:242px; border:1px solid #ccc;}
.digital .d_con .d_tab1_con3 h3 { width:auto; height:33px; text-indent:-1000px; background:url(//mat1.gtimg.com/fj/chinafair16/bbs_intro_bg.jpg) center no-repeat;}
.digital .d_con .d_tab1_con3 div { padding:18px 18px 0px; line-height:26px; font-size:12px;}
.digital .d_con .d_tab1_con3 div span { font-size:12px; color:#b50c0b;}

/*第八届海峡旅游博览会*/
.travelexpo { width:958px; height:362px; margin-top:10px;}
.travelexpo .t_con { padding:15px 0px 0px 25px;}
.travelexpo .t_con .t_tab1_con1 { float:left; position:relative; width:282px; height:292px; background:#ccc;}
.travelexpo .t_con .t_tab1_con1 img { width:282px; height:292px;}
.travelexpo .t_con .t_tab1_con1 a { position:absolute; left:0; bottom:0; width:282px; height:30px; line-height:30px; color:#fff; background:#111; text-align:center;}
.travelexpo .t_con .t_tab1_con2 { float:left; width:316px; padding:0px 15px 0px 30px;}
.travelexpo .t_con .t_tab1_con2 h3 { padding:10px 0px; text-align:center;}
.travelexpo .t_con .t_tab1_con2 h3 a { font-size:20px; font-weight:normal; font-family:'Microsoft YaHei'; color:#b50c0b;}
.travelexpo .t_con .t_tab1_con2 p { line-height:24px; color:#666; text-indent:2em;}
.travelexpo .t_con .t_tab1_con2 p a { font-size:12px; color:#06F;}
.travelexpo .t_con .t_tab1_con3 { float:left; width:270px;}
.travelexpo .t_con .t_tab1_con3 .t_av { padding:12px 0px 0px; overflow:hidden; zoom:1;}
.travelexpo .t_con .t_tab1_con3 .t_av span { display:block; float:left;}
.travelexpo .t_con .t_tab1_con3 .t_av span.t_av_pa { padding-right:14px;}
.travelexpo .t_con .t_tab1_con3 .t_av span img { width:128px; height:108px;}
.travelexpo .t_con .t_tab1_con3 .t_as { padding:0px 10px; line-height:24px; font-size:12px;}
.travelexpo .t_con .t_tab1_con3 .t_a1 { padding:8px 0 8px 10px; margin-bottom:8px; border-bottom:1px dotted #ccc;}
.travelexpo .t_con .t_tab1_con3 .t_as span { font-size:12px; color:#b50c0b;}

/*财经报道团*/
.reprot { height:432px; margin:10px auto;}
.reprot .rp_con { width:920px; margin:22px auto auto; overflow:hidden; zoom:1;}
.reprot .rp_con .r_group { float:left; width:295px; height:356px; background:url(//mat1.gtimg.com/fj/chinafair16/report_wb.jpg) center no-repeat; overflow:hidden;}
.reprot .rp_con .r_group ul { width:280px; overflow:hidden; zoom:1;}
.reprot .rp_con .r_group ul li { float:left; width:50px; margin:auto 6px; text-align:center;}
.reprot .rp_con .r_group ul li img { width:50px; height:50px;}
.reprot .rp_con .r_group ul li a { display:block; line-height:24px; font-size:12px; color:#0005d5;}
.reprot .rp_con .r_group ul.r_xc { padding:63px 0 20px 35px; background:url(//mat1.gtimg.com/fj/chinafair16/report_xc.jpg) left 63px no-repeat;}
.reprot .rp_con .r_group ul.r_jz { padding:30px 0 0 35px; background:url(//mat1.gtimg.com/fj/chinafair16/report_jz.jpg) left 30px no-repeat; border-top:1px #f1dcc7 solid;}
.reprot .rp_con .r_reporter { float:left; width:295px; height:314px; margin:auto 16px;}
.reprot .rp_con .r_official { float:left; width:295px; height:314px;}


/*对话投洽会*/
.dialogue { width:958px; height:368px;}
.dialogue .di_con ul { overflow:hidden; zoom:1;}
.dialogue .di_con ul li { float:left; width:160px; margin:25px auto auto 24px; border:1px solid #ccc;}
.dialogue .di_con ul li a { display:block; text-align:center;}
.dialogue .di_con ul li img { width:154px; height:100px; padding:3px;}

/*小Q逛展会*/
.hdshop { height:auto; margin:10px auto;}

/*网友播报*/
.weibo { height:100px;}

/*精彩组图*/
.zutu { height:598px; margin:10px auto;}
.zutu .zt_con ul { overflow:hidden; zoom:1;}
.zutu .zt_con ul li { float:left; width:202px; margin:16px auto auto 30px;}
.zutu .zt_con ul li a { display:block; line-height:28px; text-align:center;}
.zutu .zt_con ul li img { width:202px; height:140px;}

/*五大洲声音*/
.five { height:480px;}
.five .f_con ul { overflow:hidden; zoom:1; padding-top:6px;}
.five .f_con ul li { float:left; width:76px; margin:16px auto auto 39px;}
.five .f_con ul li a { display:block; line-height:24px; text-align:center;}
.five .f_con ul li a.fname { width:auto; height:24px; overflow:hidden;}
.five .f_con ul li img { width:76px; height:102px;}

/*往期回顾*/
.review { height:342px; margin:10px auto;}
.review .ro { width:920px; height:257px; margin:0 auto; padding-top:20px; background:url(//mat1.gtimg.com/fj/chinafair16/bar.jpg) center bottom no-repeat; overflow:hidden;}
.review .ro ul { width:948px; overflow:hidden; zoom:1;}
.review .ro ul li { position:relative; float:left; width:58px; height:121px; padding-top:136px; margin-right:4px;}
.review .ro ul li span { display:block; width:58px; height:63px; background:url(//mat1.gtimg.com/fj/chinafair16/d.jpg) center -1px no-repeat; cursor:pointer;}
.review .ro ul li a { display:block;}
.review .ro ul li a img { width:50px; height:50px; padding:3px; border:1px solid #ccc;}
.review .ro ul li .ro_intro { display:none; position:absolute; top:0px; width:228px; height:126px; line-height:24px; overflow:hidden; font-size:12px;}
.review .ro ul li .ro_intro_r { right:-238px;}
.review .ro ul li .ro_intro_l { left:-238px;}
.review .ro ul li.ro_on { width:168px; height:257px; padding:0px;}
.review .ro ul li.ro_on .ro_intro { display:block;}
.review .ro ul li.ro_on span { width:168px; background:url(//mat1.gtimg.com/fj/chinafair16/d_on.jpg) center top no-repeat;}
.review .ro ul li.ro_on img { width:160px; height:186px;}


/*回到顶部*/
.backtop { width:28px; height:28px; line-height:28px; padding:3px; position:fixed; _position:absolute; right:10px; bottom:10px; background:#b50c0b; color:#fff; opacity:0.7; filter:Alpha(opacity=70); text-align:center; cursor:pointer;}
/*  |xGv00|68aaa847099804e89d6e248229b09fa8 */