
.container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.top{
    height: 1208px;
    background: url(//mat1.gtimg.com/ln/images/2016zt/03Mar/llss/topBg.png) center 0 no-repeat;
}
.top .vol{
    position: absolute;
    top: 100px;
    width: 207px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}
.top .topic{
    position: absolute;
    top: 387px;
    right: 13px;
    height: 66px;
    line-height: 66px;
    /* width: 645px; */
    color: #fff;
    /* font-size: 20px; */
}
.top .topic h1{
    font-size: 42px;
    font-weight: 400;
}
.top .intro{
    position: absolute;
    top: 500px;
    left: 170px;
    width: 720px;
    height: 128px;
    line-height: 32px;
    font-size: 16px;
    color: #666;
}
.top .intro.h5{display: none;}
.top .video{
    position: absolute;
    top: 685px;
    left: 50%;
    margin-left: -381px;
    padding:14px 17px;
    width: 724px;
    height: 454px;
    background: url(//mat1.gtimg.com/ln/images/2016zt/03Mar/llss/videoBg.png) 0 0 no-repeat;
}
.top .video .v-img,.top .video .v-img img{
    width: 724px;
    height: 454px;
}
#videoCon2{
        display: none;
    }
.main{
    background: url(//mat1.gtimg.com/ln/images/2016zt/03Mar/llss/bottomBg.png) center 0 repeat-y;
    overflow: hidden;
}
.vote{
    height: 390px;
}
.view:after{content:"";display:table;clear:both}.view{*zoom:1}
.view{
    height: 435px;
}
.view .talk{
    position: relative;
    font-size: 16px;
    line-height: 32px;
    padding: 35px;
    height: 320px;
}
.view .talk h2{
    position: absolute;
    font-size: 26px;
    font-weight: 700;
    top: -20px;
    left: 0;
    padding-left: 10px;
}
.view .positive .talk h2{
    border-left: 5px solid #ad0d0d;
    color: #ad0d0d;
}
.view .negative .talk h2{
    border-left: 5px solid #012b97;
    color: #012b97;
}
.view .positive{
    float: left;
    width: 470px;
    background-color: #fff;
}

.view .negative{
    float: right;
    width: 470px;
    background-color: #fff;
}
.comment{
    background: #fff;
    padding: 20px;
    margin-bottom: 100px;
}

.face{
    position: relative;
    height: 196px;
}
.face div{
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
}
.face div img{
    display: inline-block;
    width: 196px;
    height: 196px;
}

.friendline{
    position: relative;
    height: 100px;
    padding-top: 50px;
}
.friendline .qrimg{
    position: absolute;
    top: -250px;
    left: 50%;
    margin-left: -150px;
    display: none;
    width: 300px;
    height: 300px;
}
.friendline a.btn{
    display: block;
    width: 210px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 20px;
    color: #fff;
    background-color: #012B97;
    border-bottom: 3px solid #001c65;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.friendline .qrimg.hover{
    display: block;
    -webkit-animation:fadeInDown 1s ease 1 both;
            animation:fadeInDown 1s ease 1 both;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.nextVol{
    height: 350px;
    background-color: #f4ffff;
}
.nextVol .container{
    
}
.editor{
    width: 1000px;
    height: 155px;
    margin:0 auto;
}

@media (max-width: 800px){
    #topNav{
        display: none;
    }
    .container{
        width: 100%;
    }
    #videoCon2{
        display: block;
    }
    #videoCon2 a{
        display: block;
        margin: 0 auto;
        width: 320px;
    }
.top .topic{
    position: absolute;
    top: 0;
    margin-top: 31.8%;
    right: 13px;
    height: 66px;
    line-height: 66px;
    /* width: 645px; */
    color: #fff;
    /* font-size: 20px; */
}
.top .topic h1{
    font-size: 18px;
    font-weight: 400;
}
.top .video {
    position: absolute;
    top: 260px;
    left: 0;
    margin: 0;
    padding: 30px 0;
    width: 100%;
    height: 454px;
    background: url(//mat1.gtimg.com/ln/images/2016zt/03Mar/llss/videoBg.png) 0 0 no-repeat;
    background-size: 100%;
}
    .top .video .v-img, .top .video .v-img img {
        width: 100%;
        height: 180px;
    }
    #videoCon{
        display: none;
    }
    .top{
        height: 515px;        background:url(//mat1.gtimg.com/ln/images/2016zt/03Mar/llss/topBg.png) center 0 no-repeat;
        background-size: 190%;
    }
    .top .vol {
        position: absolute;
        top: 32px;
        width: 92px;
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
    .top .intro {
        display: none;
    }
    .top .intro.h5{
        display: block;
        position: absolute;
        top: 0;
        margin-top: 47%;
        left: 20%;
        width: 64%;
        height: 56px;
        line-height: 18px;
        font-size: 12px;
        color: #666;
        overflow: hidden;
    }
    .face div img {
        width: 96px;
        height: 96px;
    }
    .view .negative{
        width: 50%;
    }
    .view .positive{
        width: 50%;
    }
    .vote{
        height: 290px;
    }
    .voteBox .voteDraw{
        width: 56%;
        height: 20px;
    }
    .voteBox .voteDraw .voteLine,.voteBox .voteDraw .voteLine div{
        height: 20px;
    }
    .voteBox .voteList li {
        margin: 0;
        display: inline-block;
        width: 40px;
        height: 60px;
        border-radius: 5px;
    }
    .voteBox .voteList li .digg {
        height: 26px;
        padding-top: 34px;
        color: #333;
    }
    .voteBox .voteList li .digg a {
        height: 26px;
        padding-top: 34px;
        color: #333;
        position: absolute;
        width: 100%;
        height: 26px;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .view .talk {
        position: relative;
        font-size: 12px;
        line-height: 22px;
        padding: 15px;
        height: auto;
    }
    .comment{
        background: #fff;
        padding: 10px;
        margin-bottom: 50px;
    }
    .nextVol{
        height: auto;
    }
    .nextVol .container img{
        width: 100%;
    }
    .friendline{
        display: none;
    }
    .editor{
        width: 100%;
    }
    .editor img{
        width: 100%;
    }
    .tcopyright{
        display: none;
    }
}/*  |xGv00|f6c4b767fa87fa14d32103b529b97119 */