@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0; border:none;}
ul,li{ list-style:none;}
ul,dl{ overflow:hidden;}
a:link,a:visited{ text-decoration:none; color:#666;}
a:hover,a:active{ text-decoration:underline; color:#bd3623;}
h1,h2,h3,h4,h5,h6,b{ font-size:inherit; font-weight:normal; overflow:hidden;}
em,i{ font-style:normal;}
p{ font-size:12px;}

body{ font:normal 16px/26px "微软雅黑"; color:#666;}
.ad{ height:60px; background-color:#d3d3d3;}
.fl,dd{ float:left; display:inline;}
.fr,dt{ float:right; display:inline;}
.wrap{ width:1000px; margin:0 auto; overflow:hidden;}
.w680{ width:680px; overflow:hidden;}
.w290{ width:290px; overflow:hidden;}
.w275{ width:275px; overflow:hidden;}
.w380{ width:380px; overflow:hidden;}
.w480{ width:480px; overflow:hidden;}
.w495{ width:495px; overflow:hidden;}
.red,.red a,a.red,a.icon{ color:#cd0001;}
.gray3,.gray3 a,a.gray3{ color:#333;}
.red a:hover,.gray3 a:hover,.partner a:hover,.cnews dt b a:hover{ color:#bd3623;}
.last{ border:0 !important; background:none !important;}
.mb10{ margin-bottom:10px;}
.mt30{ margin-top:30px;}

/*横向导航*/
.mininav{ width:100%; height:34px; background-color:#4b4a4a; zoom:1;font-size:14px;line-height:34px;}
.mininav .sc_mininav{ height:34px; line-height:34px; margin:0px auto; }
.mininav .sc_mininav ul{overflow:visible;}
.mininav .sc_mininav li{ float:left; display:inline; margin:0 5px;}
.mininav .sc_mininav p{ color:#c1bebe; float:left; margin:0 5px;}
.mininav .sc_mininav li a{ color:#c1bebe; text-decoration:none; padding:0 5px;}
.mininav .sc_mininav li:hover,.mininav .sc_mininav p:hover{ background-color:#3c3c3c;cursor:pointer;}
.more-wrap{ width:80px; position:relative; z-index:1000; background:url(//mat1.gtimg.com/fj/2012index/2015nav/arrow-down-fff.png) no-repeat 65px center;}
.btn-more{ color:#c1bebe; display:block; margin:0 5px;}
.more-list{ position:absolute; font-size:14px; top:34px; left:0;}
.pmore{ display:block; width:80px; height:26px; line-height:26px; background-color:#3c3c3c; text-align:center;}
.pmore:hover{ background-color:#4b4a4a !important;}

#login{ font-size:12px; color:#c1bebe; }
#login img{ padding:2px; border:solid 1px #e7e7e7; display:inline-block; float:left;}
#login .l_btn{ background:url(//mat1.gtimg.com/cd/201108/yimu/edu/login_bg.gif) no-repeat left top; width:39px; line-height:20px; height:20px; overflow:hidden; display:block; font-size:12px; text-align:center; float:right; margin:7px 0px 0px 5px; color:#C1BEBE; text-decoration:none; }
#login .l_btn:hover{ text-decoration:none; }
.login_box{ height:34px; line-height:34px; margin-right:10px; overflow:hidden;}
#login a{ color:#c1bebe; float:left; display:inline;}

.header{ height:45px; padding:15px 0 20px;}
.sub-logo{ padding:10px 15px 0 10px;}
.topscroll{ width:400px; height:20px;line-height:20px;overflow:hidden; text-align:center;margin-top:13px;font-size:12px;}
.topscroll ul li{ text-align:center;}
.topscroll ul li img{padding-right:3px;}
.soso{ width:235px; overflow:hidden; padding-top:7px;}

/*焦点图*/
.focus{ width:100%; height:280px; overflow:hidden; position:relative;}
.page_con{ height:280px; position:relative; overflow:hidden;}
.r_con_pic{ width:400px;height:265px;position:absolute; right:0; bottom:0;}
.r_con_info{ width:330px; height:260px; padding:30px 0 0 30px; position:absolute; left:0; top:0; background:url(//mat1.gtimg.com/fj/2016index/fbg.png) no-repeat;}
.r_con_info h3{ width:300px; height:60px; font-size:18px; line-height:30px;}
.r_con_info h3 a:hover{ text-decoration:none;}
.r_con_info p{ width:290px; height:78px; margin-top:15px; overflow:hidden; color:#888;}
.f_page{ width:100px; height:30px; position:absolute; bottom:30px;left:50px;}
.f_page ul{ width:170px; height:30px; overflow:hidden;}
.f_page ul li{ width:13px; height:13px; margin:0 5px; float:left; background:url(//mat1.gtimg.com/fj/2016index/ibg.png) no-repeat -24px top !important; cursor:pointer}
.f_page ul li.current{ background:url(//mat1.gtimg.com/fj/2016index/ibg.png) no-repeat left top !important;}
.f_page ul li i{ text-indent:-1000em; display:block;}

/*头条新闻*/
.topnews h2{ height:26px; font-size:20px; padding-top:20px;}
.topnews ul{ padding:20px 0; border-bottom:1px #ccc solid; overflow:hidden; font-size:16px;}
.topnews ul li{ width:320px; height:26px; overflow:hidden; padding-right:20px; float:left; display:inline; background:url(//mat1.gtimg.com/fj/2016index/ico.gif) no-repeat 5px center; text-indent:20px;}

/*分类新闻-a*/
.anews{ width:680px; overflow:hidden;}
.anews h3{width:100%; height:30px;line-height:30px; margin-bottom:10px; background:url(//mat1.gtimg.com/fj/2016index/line.gif) no-repeat left bottom; font-size:18px; color:#bd3623;}
.anews_pic{ padding-top:8px;}
.anews_pic h4{ width:275px; height:30px; line-height:40px; overflow:hidden; text-align:center;}
.anews ul{height:215px; overflow:hidden;}
.anews li{ width:370px; height:42px; line-height:40px; border-bottom:1px #f0f0f0 solid; overflow:hidden;}
.anews li .p1n3-fl{max-width:200px;padding-right:10px;overflow:hidden;display:inline-block;float:left;}
.icon{ width:90px;height:26px; text-align:center; line-heightL26px; background:url(//mat1.gtimg.com/fj/2016index/icon.png) no-repeat; display:block;}

/*分类新闻-c*/
.cnews{ height:130px; font-size:12px; padding:20px 0; border-bottom:1px #f0f0f0 solid; color:#888;}
.cnews dd{ width:180px;}
.cnews dt{ width:480px;}
.cnews dt .news{ height:102px; overflow:hidden;}
.cnews dt .news p{ font-size:14px; max-height:44px;line-height:22px; overflow:hidden;padding-top:5px;}
.cnews dt h5{height:36px; line-height:36px; font-size:18px;}

.dnews{ height:220px;}
.dnews .w480{ padding-top:17px; height:75px;}
.dnews dt .inner{ width:230px; height:75px; overflow:hidden;}
.dnews dt .inner img{ border-radius:3px;}
.dnews dt .inner p{ width:140px;line-height:18px;}
.dnews dt .inner strong{ padding-bottom:5px; display:block;}
.dnews dt .inner i{ padding-top:5px;}


/*右侧*/
.title{ width:290px; background:url(//mat1.gtimg.com/fj/2016index/ibg.png) no-repeat 180px -20px #bd3623; height:39px; line-height:36px; text-indent:15px; font-size:18px; color:#fff;}
.title a.more{ font-size:12px; margin-right:20px; text-decoration:none; color:#fff;}
.dmzp{ padding-bottom:20px;}
.dmzp dl{ height:50px;overflow:hidden; padding:15px 0; border-bottom:1px #f0f0f0 solid;}
.dmzp dd{ width:47px;}
.dmzp dt{ width:220px;}
.dmzp dt span{ padding-right:8px; color:#888;}
.dmzp dt i{color:#CD0001;}

/*视频*/
.video{width:290px; height:240px; overflow:hidden; margin:15px 0 20px; position:relative;}
.video p{position:absolute; height:32px; width:270px; padding:0 10px; left:0; bottom:0; line-height:32px; font-size:14px; text-align:center; background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.video a{ color:#fff;}
.video a:hover{ color:#bd3623;}

/*精选活动/精品栏目*/
.jxhd{ padding-top:20px; font-size:14px;}
.jxhd h6{ height:36px; padding-top:8px; font-size:14px; line-height:36px;}
.jxhd dl{height:70px;overflow:hidden;}
.jxhd dd{ width:110px;}
.jxhd dt{ width:160px; height:66px; overflow:hidden; font-size:12px; line-height:22px;color:#888;}

/*合作伙伴*/
.partner{ width:938px; margin:20px auto; overflow:hidden; border:1px #f0f0f0 solid; padding:20px 30px; font-size:12px;}
.partner h4{ width:139px; height:53px; background:url(//mat1.gtimg.com/fj/2016index/ibg.png) no-repeat left -65px; font-size:18px; line-height:40px; text-align:center; color:#fff;}
.partner dl{ padding-top:5px;}
.partner1 dd{ width:85px;}
.partner2 dd{ width:60px;}
.partner dt{ float:left;}
.partner a{ padding:0 10px; color:#333;}

/*回顶部*/
#gotopbtn{ background-image:url(//mat1.gtimg.com/fj/shopping/2013index/back_top.jpg);bottom:45px; height:54px; opacity:0.3;filter:alpha(opacity=30); width:54px; right:25px; display:block; position:fixed; display:none}
#gotopbtn:hover{opacity:1;filter:alpha(opacity=100);}

/*导航*/
.nav{ width:80px; padding:0 20px 0 15px; overflow:hidden; position:fixed; right:50%; margin-right:500px; top:130px;background-color:#fff;}
.nav li{ display:block; width:40px; height:42px; font-size:18px; line-height:42px; background:url(//mat1.gtimg.com/fj/2016index/nav5.png) no-repeat; padding-left:40px;}
.nav li.house{ background-position:0 0;}
.nav li.shopping{ background-position:0 -40px;}
.nav li.bride{ background-position:0 -80px;}
.nav li.home{ background-position:0 -120px;}
.nav li.edu{ background-position:0 -160px;}
.nav li.money{ background-position:0 -200px;}
.nav li.itravel{ background-position:0 -240px;}
.nav li.eat{ background-position:0 -280px;}
.nav li.auto{ background-position:0 -320px;}
.nav li.baby{ background-position:0 -360px;}
.nav li.shequ{ background-position:0 -400px;}
.nav li.ent{ background-position:0 -440px;}
.nav li.health{ background-position:0 -480px;}
.nav li.xm{ background-position:0 -520px;}
.nav li.biz{ background-position:0 -560px;}
.nav li.city{ background-position:0 -600px;}
.nav li.games{ background-position:0 -640px;}

/*广告*/
.w680_ad{ width:680px; height:60px; overflow:hidden;}
.sider_ad{ height:250px;}
.tl_ad{ height:90px;}/*  |xGv00|1d3a2622716cbb02ea4aa9ed77753044 */