body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul{margin:0;padding:0}
body{color:#fff;position:relative;min-width:1000px;font-family:Microsoft YaHei,Arial;font-size:12px;line-height:22px;background-color:#eee}
a{color:#fff;text-decoration:none}
a:hover{text-decoration:none}
img{border:none;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
select {width:170px;height:40px;border: solid 1px #c5c5c5;color:#b2b2b2;text-indent:10px;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center #fff;padding-right: 14px;}
select::-ms-expand { display: none; }
/* clear */
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*display:inline-block;}
*html .clearfix{height:1%}
.clearfix{/*display:block;*/}
.w1200{width:1200px;margin:0 auto}
.w1000{width:1000px;margin:0 auto;overflow:hidden}
.fl{float:left}
.fr{float:right}
.fw{font-weight:600}

.allwrap{background:url(//mat1.gtimg.com/gd/wendy/2018panyan/bg4.jpg) no-repeat top center #fff;}
.bg{width:1000px;margin:0 auto;}
.bg1{height:1150px}
.nav{padding-top:550px;}
.nav span{background:url(//mat1.gtimg.com/gd/wendy/2018panyan/nav.png) no-repeat top center;display:inline-block;text-align:center;line-height:34px;height:115px;width:calc(1000px/4 - 13px);font-size:18px;cursor:pointer;letter-spacing:10px;padding:25px 0 0 10px}
.nav span:hover{background:url(//mat1.gtimg.com/gd/wendy/2018panyan/nav1.png) no-repeat top center;}

.bg1 .content{padding-top:10px;margin:65px auto;width:960px;font-size:14px;line-height:25px;background:url(//mat1.gtimg.com/gd/wendy/2018panyan/bg1.jpg) no-repeat;height:399px}
.bg1 .content iframe{margin: 25px 0 0 40px;box-shadow:10px 10px 10px #ddd}
.bg1 .content .fr{width:390px;color:#373737;margin: 30px 38px 0 0;}


.bg2 {margin-top:20px;}
.bg .t1{display:block;width:1000px;margin:60px auto 40px}
.bg2 .content{width:380px;color:#fff;letter-spacing:2px;margin-top:300px}
.bg2 .swiper-container{width:540px;height:310px;}
.bg2 .swiper-slide a{display:block;}
.bg2 .swiper-slide img{height:310px;width:540px;;border:1px solid #eee;}
.bg2 .swiper-slide span{display:block;width:100%;height:30px;line-height:30px;font-size:16px;background:rgba(0,0,0,.5);position: absolute;bottom: 0px;text-indent:20px}
.bg2 .swiper-container-horizontal>.swiper-pagination-bullets{bottom:3px;text-align:right}
.bg2 .swiper-pagination-bullet-active{background:#70c7d5!important}
.bg2 .swiper-pagination-bullet{width:12px!important;height:12px!important;}

.bg2 .txt{width:360px;background:#fff;border:1px solid #ddd;width:450px}
.bg2 .txt .wrap{border-bottom:1px solid #eee;padding:15px;margin:0 20px;line-height:24px;}
.bg2 .txt .tit{color:#000;font-size:14px;display:block;}
.bg2 .txt.show{display:block}
.bg2 .txt p{font-size:14px;color:#656565;}
.bg2 .txt p a{color:#70c7d5}

.bg3 .swiper-container2{width:1000px;height:470px;overflow:hidden}
.bg3 .swiper-slide{height:470px;width:330px;position:relative;overflow:hidden}
.bg3 .swiper-slide a{display:block;}
.bg3 .swiper-slide img{height:470px;width:330px;border:1px solid #eee;}
.bg3 .swiper-slide span{display:block;width:70px;height:100px;border-radius:50%;line-height:24px;font-size:16px;background:#fff;color:#000;position:absolute;bottom:-40px;left:-25px;padding:10px 0 0 40px}
.bg3 .swiper-slide i{font-size:22px;font-style:normal}


.bg4 .wrap{margin:0 auto;padding:27px 0 0 22px;width:978px;height:546px;background:url(//mat1.gtimg.com/gd/wendy/2017panyan/bg2.png) no-repeat top center;}
.bg4 .fl{position:relative;overflow:hidden;margin-right:12px;width:230px;height:260px;transition:all .3s 0s ease;}
.bg4 .fl:hover{opacity:.6;}
.bg4 .fl.none{margin-right:0;}
.bg4 .fl img{width:230px;height:175px;}
.bg4 .fl span{position:absolute;top:145px;display:block;width:100%;height:30px;background:rgba(0,0,0,.5);text-indent:20px;font-size:12px;line-height:30px;}
.bg4 .name{margin:10px 0 5px;padding-left:10px;border-left:3px solid #d7d7d7;color:#6c6d6e;text-align:left;font-size:12px;}

.bg5 .wrap{margin:0 auto;width:961px;height:131px;background:url(//mat1.gtimg.com/gd/wendy/2018panyan/bg3.png) no-repeat top center;padding-top:10px}
.bg5 .wrap a{float:left;width:430px;color:#202020;line-height:26px;text-indent:5px;}
.bg5 .wrap a:hover{color:#70c7d5}
.bg5 .wrap span{width:0;height:0;display:inline-block;border-top:4px solid transparent;border-left:8px solid #bfbfbf;border-bottom:4px solid transparent;margin-right:5px}

	
.bianji{width:100%; height:50px;background:#242424;}
.bianjimain{ width:960px;margin:0 auto; }
.bianjimain p {font-size: 14px; color: #777777;line-height: 50px; text-align: left;}



.swiper-button-prev, .swiper-container-rtl .swiper-button-next{width:35px;height:36px;background:url(//mat1.gtimg.com/gd/wendy/2018panyan/arrL.png) no-repeat top center;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{width:35px;height:36px;background:url(//mat1.gtimg.com/gd/wendy/2018panyan/arrR.png) no-repeat top center;}/*  |xGv00|285a8a47a17ee75dd01d27088a964968 */