@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0; border:none;}
ul,li{ list-style:none;}
a:link,a:visited{ text-decoration:none; color:#3a579f;}
a:hover,a:active{ text-decoration:underline; color:#526fab;}
h1,h2,h3,h4,h5{ font-weight:normal;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

body{ font:normal 14px/26px "微软雅黑"; color:#999;}
.banner{ width:100%; height:700px; overflow:hidden; background:url(//mat1.gtimg.com/fj/zt2018/jbh2018/banner.jpg) no-repeat center top;}
.nav{margin:0; overflow: hidden; width:100%; height:46px; background-image: url(//mat1.gtimg.com/fj/zt2016/98/nav.gif); }
.menu{ margin:0 auto; width:1005px; font-size:16px; color:#fff; line-height:46px; }
.menu a{ width:200px; display:inline-block; padding:0 25px;font-size:16px; color:#cfebff; line-height:46px; text-align:center; }
.menu a:hover{ color:#fff}

.wrap{ width:1000px; margin:50px auto 0; overflow:hidden;}

.focus1{ width:540px; height:340px; overflow:hidden; position:relative;}
.focus1 .page_con{ height:340px; position:relative; overflow:hidden;}
.focus1 .r_con_pic{width:540px;height:340px;position:absolute;}
.focus1 .r_con_info{ width:100%; height:36px; line-height:36px; position:absolute; bottom:0; text-indent:15px; background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;}
.focus1 .r_con_info h4 a{ font-size:18px; color:#fff;}
.focus1 .page{ width:60px; height:10px; position:absolute; bottom:13px;right:0;}
.focus1 .page ul{ width:60px; height:10px; overflow:hidden;}
.focus1 .page ul li{ width:10px; height:10px; margin:0 5px; float:left; background:url(//mat1.gtimg.com/fj/zt2017/518trade/icon.png) no-repeat left center !important; cursor:pointer}
.focus1 .page ul li.current{ background:url(//mat1.gtimg.com/fj/zt2017/518trade/icon.png) no-repeat right center !important;}

.news{ width:440px;}
.news h2{ text-align:center; line-height:40px; height:40px; overflow:hidden;}
.news ul{ border-top:1px #ccc dashed; padding-top:13px; margin-top:20px;}
.news li{ height:32px; overflow:hidden; line-height:32px; padding-left:25px; background:url(//mat1.gtimg.com/fj/zt2017/518trade/ico.gif) no-repeat 8px center;}

.title{ height:45px; background:url(//mat1.gtimg.com/fj/zt2018/jbh2018/title_bg.gif) no-repeat left top; padding-left:45px; margin-bottom:20px;}
.title h3{ height:44px; padding-left:30px; font-size:26px; line-height:42px; color:#3a579f; border-bottom:1px #54a2da solid;}

.video{ overflow:hidden;}

.show{ width:1000px; overflow:hidden;}
.show ul{ width:1200px; overflow:hidden;}
.show ul li{ width:490px; float:left; display:inline; height:320px; margin:0 20px 20px 0; background-color:#f0f0f0; position:relative; overflow:hidden;}
.show ul li h4{ position:absolute; width:490px; height:40px; left:0; bottom:0; background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); line-height:40px; font-size:16px; text-align:center; overflow:hidden;}
.show ul li h4 a{ color:#fff;}

#CopyRight2006{ padding:30px 0 20px;}/*  |xGv00|43a8510e6c41923813aacbaf814467ed */