@charset "utf-8";
/* CSS Document */

/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal}
strong, b{ font-weight: bold; }
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:700;}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:12px}
q:before,q:after{content:''}
abbr,acronym{border:0}
hr {margin: 0;padding: 0;border: 0;color: #CDCDCD;background-color: #CDCDCD;height: 1px}
blockquote{color:#666;font-style:italic;}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
pre{white-space:pre;}
pre,code,tt{font:12px 'andale mono', 'lucida console', monospace;line-height:1.5}

/*style*/
body{ background:url(http://mat1.gtimg.com/gongyi/2011images/life_head_bg.png) repeat-x #fff;}
a {outline: none; text-decoration:none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }.wrap{ width:960px; margin:0 auto;}

.head{ height:134px;}

.columnTitle{ height:40px; border-bottom:2px solid #689d2d; text-indent:-9999px; white-space:nowrap; overflow:hidden;margin-top:15px; padding:0 0 2px 5px;}
#zyxm{ background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/zyxm.gif) no-repeat 5px 0;}
#xmcg{ background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/xmcg.gif) no-repeat 5px 0;}
.column{ width:100%; overflow:hidden;}
.column_1{ border:1px solid #e3e7e8; border-top:5px solid #f1f4e9; padding:15px;overflow:hidden; }
.column_2{ border:1px solid #e3e7e8; margin-top:15px; padding:15px; overflow:hidden;}

.title{height:30px; border-bottom:1px solid #e3e7e8; margin-bottom:10px;}
.title h1{ height:20px;border-bottom:1px solid #689d2d; float:left; padding:0 15px 10px; font:18px/20px Microsoft YaHei,SimHei; color:#575757; font-weight:lighter;}
.title a.more{ font:12px/30px SimSun; color:#575757; float:right;}
.columnDes{ text-indent:2em; font:14px/24px SimSun; color:#575757;margin-bottom:10px; padding:0 15px;}

#focusImg{ float:left; background:#993;position:relative;width:718px; height:205px; }
#focusImg img{width:718px; height:205px; }
#focusImg ul.pics li{ position:absolute; top:0; left:0;}
#focusImg .num{position:absolute;bottom:6px;right:6px;z-index:2;}
#focusImg .num li{width:20px;height:20px;border:1px solid #bfbfbd;background:#fff;float:left;margin-right:2px;text-align:center;cursor:pointer;font:12px/20px Verdana, Geneva, sans-serif; color:#898989;}
#focusImg .num li.current{background:#6c6c6c; color:#fff;}


.topNews{ width:242px; height:165px; float:right; background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/topnewsbg2.jpg) no-repeat 0 0; position:relative; padding-top:40px; overflow:hidden;}
.topNews h1,.topNews a#gfwb{ position:absolute; top:12px;}
.topNews h1{ width:121px; height:27px; text-indent:-9999px; overflow:hidden; white-space:nowrap; left:0;}
.topNews a#gfwb{ width:2em; height:27px; color:#575757; font:12px/27px SimSun; right:30px; display:block;}
.topNews p{color:#575757; font:12px/18px SimSun; padding:15px 20px 0;}
.topNews p a{color:#357312; text-decoration:none;}

.listStyle1{ overflow:hidden; width:100%;}
.listStyle1 li{ width:434px; float:left; padding:15px;}
.listStyle1 img{ width:188px; height:118px; border:1px solid #d1d2d4; float:left; margin-right:15px;}
.listStyle1 h2{ color:#357312; font:14px/24px SimSun; font-weight:bold; float:left;}
.listStyle1 p{ color:#2c2c2c; font:12px/18px SimSun; width:18em;float:left;}
.listStyle1 p a{ color:#357312; text-decoration:none;}
.listStyle1 p a span{ color:#2c2c2c; padding:0 30px 0 3px; background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/icon.png) no-repeat right -93px;}
.listStyle1 p.links{ padding-top:5px;}
.listStyle1 p.links a{ display:block;}


.listStyle2{ overflow:hidden; width:990px; margin-left:-63px;}
.listStyle2 li{float:left;width:237px;padding:15px 15px 15px 78px;vertical-align:bottom; height:265px; overflow:hidden; }
.listStyle2 img{ width:235px; height:150px; border:1px solid #d1d2d4;}
.listStyle2 h2{ color:#357312; font:14px/24px SimSun; font-weight:bold;text-align:center; padding:5px 0;}
.listStyle2 p{ color:#2c2c2c; font:12px/18px SimSun;text-indent:2em;}
.listStyle2 p a{ color:#357312; text-decoration:none;}
.listStyle2 p a.discus{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/icon.png) no-repeat 0 -93px; padding-left:15px;}
.listStyle2 p a span{ color:#2c2c2c; padding:0 3px;}
.listStyle2 p.links{ padding-top:5px; text-indent:0;}

.column_layout_2{ width:960px; margin-left:-16px;}
.column_box{ border-left:1px dashed #e3e7e8; width:449px; float:left; padding:0 15px;}
.listStyle3{ overflow:hidden; width:100%;}
.listStyle3 li{ width:190px;padding:15px; float:left; overflow:hidden;}
.listStyle3 img{ width:188px; height:118px; border:1px solid #d1d2d4; float:left; margin-right:15px;}
.listStyle3 h2{ color:#357312; font:14px/24px SimSun; font-weight:bold; text-align:center;padding:5px 0;}
.listStyle3 p{ color:#2c2c2c; font:12px/18px SimSun;}
.listStyle3 p a{ color:#357312; text-decoration:none;}
.listStyle3 p a span{ color:#2c2c2c; padding:0 30px 0 3px; background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/icon.png) no-repeat right -93px;}
.listStyle3 p.links{ padding-top:5px;}
.listStyle3 p.links a{ display:block;}

.newsList li{ padding:0 15px 0 23px; background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/icon.png) no-repeat 10px -125px;}
.newsList a{color:#2c2c2c; text-decoration:none; font:14px/26px SimSun;}
.newsList a:hover{color:#357312; text-decoration:underline;}
#wbDiscuss{ width:648px; float:left; height:auto;}
#wbFollow{ width:233px; float:right; overflow:hidden;}
.addWb{ width:100%;overflow:hidden;}
.addWb li{ float:left;vertical-align:bottom; position:relative; width:77px; text-align:center; padding:12px 0; }
.addWb img{ width:50px; height:50px; border:1px solid #e3e7e8;}
.addWb li input{ position:absolute; left:13px;*left:10px; top:49px; color:#357312;}
.addWb li p{ font:12px/24px SimSun; color:#2c2c2c;}

.btbox{ text-align:center;}
#dp_followall_button{ width:109px; height:30px; line-height:30px; text-align:center; background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/addbtnbg.png) no-repeat 0 0;font:16px/30px Microsoft YaHei,SimHei; color:#fff; border:none; outline:none; cursor:pointer; margin-left:20px;}/*  |xGv00|583921d0ab7b3cff84006199e0fcd4c1 */