/*time:2012-11-12author:shenshenyan#tencent.com*/
/*reset*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px simsun Arial;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#d11007;}
em{font-style:normal}
li{list-style:none}
/*È¥³ýlistStyle */
img{border:0;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
label{cursor:pointer;}
p{word-wrap:break-word}
.cf:after{content:"";display:table;clear:both}
.cf{*zoom:1}
.wqhg .picList li i,.wbhd .bd h2,.wbadd .btbox .btshouting,.fs_B1 .B1fBt li i{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/bntBg.png) no-repeat;}
.ywq .newsList li,.layout .sub .newsList li{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/lineIcon.png) no-repeat;}
.topicBox h2 a,.topicBox h2 a:hover,.topicBox .text b ,.topicBox .text a,.topicBox .text a:hover,.ywq .newsBox h2,.gytree .text,.grBook .text,.layout .sub .newsList li a,.layout .sub .newsList li a:hover,.newTitList li h2 a,.newTitList li h2 a:hover,.zyzql .vedioBox h2{color:#22816e;}
/* wrap */
.picList,.vediolIST{overflow:hidden;zoom:1;}
.picList li{float:left;display:inline;}
.picList li span{display:block;text-align:center;}
.vediolIST li{float:left;display:inline;}
.wrap1{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/wrapCentBg.jpg) no-repeat top center;}
.wrap1 .bg{width:960px;margin:0 auto;}
.topBox{height:568px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/banner2.jpg) no-repeat;position:relative;}
.navList{overflow:hidden;zoom:1;}
.navList li{float:left;display:inline;}
.layout .bd{overflow:hidden;zoom:1;}
.layout .main{float:right;display:inline;width:530px;margin-right:25px;}
.layout .sub{float:left;display:inline;width:330px;margin-left:25px;overflow:hidden;}
.wbList{overflow:hidden;zoom:1;margin:-10px 0 0 -10px;}
.wbList li{float:left;display:inline;position:relative;margin:10px 0 0 10px;width:75px;}
.wbList li input{position:absolute;top:40px;left:2px;*top:37px;*left:-1px;}
.wbList li img{padding:2px;border:1px solid #d3d1d2;}
.wbList li p{margin-top:5px;}
.wbadd .btbox{margin-top:20px;text-align:center;}
.wbadd .btbox input{vertical-align:-2px;margin-right:5px;}
.wbadd .btbox .btshouting{margin-left:10px;width:109px;height:32px;border:none;background-position:-1px -51px;font-family:'Î¢ÈíÑÅºÚ','ËÎÌå';font-size:16px;font-weight:100;color:#fff;cursor:pointer;text-shadow:#257200 1px 1px 0;vertical-align:middle;}
.layout .hd{overflow:hidden;zoom:1;}
.layout .hd .more{float:right;display:inline;}
.picTBox .picList li{width:165px;}
.topBox h1{height:10px;overflow:hidden;text-indent:-999em;}
.topBox .intr{position:absolute;width:320px;height:130px;top:289px;left:105px;line-height:23px;}
.topBox .intr b{font-size:14px;color:#dc1947;font-weight:bold;}
.topBox .intr span{font-size:14px;font-weight:bold;}
.topBox .csjj,.topBox .tcgy{position:absolute;text-indent:-999em;overflow:hidden;height:25px;top:420px;left:134px}
.topBox .csjj{width:142px;}
.topBox .tcgy{width:87px;left:300px}
.topBox .text1,.topBox .text2{width:150px;height:130px;color:#90875f;position:absolute;line-height:20px;z-index:100}
.topBox .text1{left:724px;top:60px;}
.topBox .text2{left:820px;top:190px;}
.topBox .text1 b,.topBox .text2 b{display:block;}
.ywq{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/topBg.jpg) no-repeat 0 0;height:297px;}
.ywq .navBox{height:40px;line-height:40px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:16px;font-weight:100;}
.ywq .navBox a,.ywq .navBox a:hover{color:#fff;}
.ywq .navBox .navList{margin-left:145px;}
.ywq .navBox .navList li{padding-left:25px;}
.navBox .navList .a1{width:75px;}
.navBox .navList .a2{width:70px;}
.navBox .navList .a3{width:95px;}
.navBox .navList .a4{width:80px;}
.navBox .navList .a5{width:100px;}
.navBox .navList .a6{width:95px;}
.navBox .navList .a7{width:100px;}
.topicBox{overflow:hidden;zoom:1;padding-top:25px;}
.topicBox .main{width:515px;float:left;display:inline;margin-left:110px;}
.topicBox .sub{float:right;display:inline;width:278px;margin-right:15px;}
.topicBox .main h2{font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:26px;font-weight:100;margin:15px 0;}
.topicBox .text{line-height:22px;}
.topicBox .text b{font-size:14px;font-weight:bold;margin-right:10px;}
.vediolIST{margin:-10px 0 0 -10px;}
.vediolIST li{position:relative;border:1px solid #bebebe;margin:10px 0 0 10px;}
.vediolIST li b{position:absolute;width:100%;height:22px;background:#000;opacity:0.5;filter:alpha(opacity=50);left:0;bottom:0}
.vediolIST li i{width:19px;height:19px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/videoIcon.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/baron/zmxxc/videoIcon.png");position:absolute;left:5px;bottom:2px;z-index:10}
.layout{margin-top:10px;}
.ywq .newsBox h2{height:25px;line-height:25px;font-size:16px;font-weight:bold;margin:10px 0 5px 0;}
.ywq .newsList li{height:25px;line-height:25px;padding-left:10px;background-position:0px 12px;}
.timezhou .hdBox{height:0px;overflow:hidden;text-indent:-999em;  }
.timezhou .text{width:710px;margin-left:30px;line-height:24px;color:#666;}
.gytree{margin-top:10px;background:#f6f8ea;border:1px solid #d6d6d6;}
.gytree .hdBox{height:0px;overflow:hidden; text-indent:-999em; }
.gytree h2{text-indent:-999em;overflow:hidden;height:30px;}
.gytree .text{margin:50px 100px 0 100px;line-height:24px;}
.grBook{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/grBook.jpg) no-repeat 0 -1px;height:830px;border:1px solid #d6d6d6;margin-top:10px;}
.grBook h2{height:110px;text-indent:-999em;overflow:hidden;}
.grBook .text{width:590px;margin:0 auto;line-height:24px;}
.stbf,.xmdzs{margin-top:10px;text-align:center;}
.layout .hd{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/toptitall.png) no-repeat;height:39px;overflow:hidden;}
.layout .hd h2{width:310px;margin:0 auto;text-align:center;height:35px;line-height:35px;color:#fff;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:20px;font-weight:100;}
.layout .hd h2 b{font-size:24px;}
.layout .hd .more{margin:23px 10px 0 0px;font-weight:bold;}
.layout .hd .more a,.layout .hd .morea:hover{color:#498827;}
.layout .bd{border:1px solid #a7cc94;border-top:none;padding:20px 0;}
.picTBox{overflow:hidden;}
.layout .picList{margin-top:-11px;overflow:hidden;padding-bottom:10px;}
.layout .picList li{width:176px;margin-top:10px;padding-top:10px;border-top:1px dotted #a38662;}
.layout .picList li img{padding:4px;border:1px solid #edcd9e;margin-left:8px;}
.layout .picList li span{margin-top:10px;font-weight:bold;}
.layout .picList li .text{margin-top:5px;line-height:20px;color:#4f4f4f;}
.zjdp .picList2{margin:-10px 0 0 -10px;overflow:hidden;zoom:1; }
.zjdp .picList2 li{margin:15px 0 0 10px;padding:3px;border:1px solid #efdec3;width:117px;height:172px;overflow:hidden;float:left;display:inline;position:relative;zoom:1}
.zjdp .picList2 li b{position:absolute;height:26px;background:#000;opacity:0.5;filter:alpha(opacity=50);width:117px; bottom:3px;left:3px}
.zjdp .picList2 li span{position:absolute;height:26px;line-height:26px;text-align:center;width:117px; bottom:3px;left:3px   }
.zjdp .picList2 li a,.zjdp .picList2 li  a:hover{color:#fff;text-decoration:none;  }

.layout .main{padding-left:25px;border-left:1px dotted #a0b16b;}
.layout .sub .textBox{line-height:22px;}
.layout .sub .newsList{margin-top:10px;}
.layout .sub .newsList li{line-height:26px;height:26px;overflow:hidden;font-size:14px;padding-left:10px;background-position:0 -16px;}
.newTitList{overflow:hidden;margin-top:-1px;}
.newTit{overflow:hidden;}
.newTitList li{padding:10px 0;border-top:1px dotted #cfcfcf;line-height:25px;}
.newTitList li h2{font-size:14px;font-weight:bold;height:25px;line-height:25px;}
.newsBox .hdTop{border-top:6px solid #d6e7c0;height:25px;line-height:25px;overflow:hidden;zoom:1;padding-top:5px;}
.newsBox .hdTop h2{font-size:14px;font-weight:bold;color:#337211;}
.newsBox .hdTop .more{float:right;display:inline;}
.zyzql .vediolIST{margin-left:-28px;}
.zyzql .vediolIST li{width:145px;border:none;margin:10px 0 0 28px;}
.zyzql .vediolIST li img{border:1px solid #BEBEBE;}
.zyzql .vediolIST li b{left:1px;top:89px;}
.zyzql .vediolIST li i{left:5px;top:89px;}
.zyzql .vediolIST li span{display:block;height:25px;line-height:25px;margin-top:0px;text-align:center;}
.zyzql .vedioBox{border-top:1px dotted #e6e6e6;padding-top:15px;}
.zyzql .vedioBox h2{height:25px;line-height:25px;font-size:14px;font-weight:bold;margin-bottom:10px;}
.zyzql .bigPic span{margin-top:10px;font-weight:bold;display:block;}
.zyzql .bigPic .text{margin-top:10px;line-height:20px;}
.zyzql .bigPic .text a{font-weight:bold;}
.gqzt{margin-top:20px;height:740px;}
.gqzt .hd h2{height:79px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/gqzt.jpg) no-repeat;text-indent:-999em;overflow:hidden;}
.gqzt .hd{border-bottom:6px solid #509929;}
.stylePic .hd{border-bottom:6px solid #509929;}
.stylePic .bd{border:1px solid #a7cc94;border-top:none;overflow:hidden; }
.stylePic .hd h2{text-indent:-999em;overflow:hidden;}
.wqhg .hd h2{height:73px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/wqhg.jpg) no-repeat;}
.huoban .hd h2{height:73px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/hzhb.jpg) no-repeat;}
.wqhg .picList{margin:0px 0 0 15px;padding-bottom:40px;}
.wqhg .picList li{width:200px;height:140px;position:relative;margin:40px 0 0 25px;}
.wqhg .picList li b{height:30px;background:#000;opacity:0.5;filter:alpha(opacity=50);position:absolute;width:100%;bottom:0;left:0;}
.wqhg .picList li i{font-style:normal;position:absolute;z-index:10;width:45px;height:22px;color:#fff;font-size:14px;text-indent:5px;bottom:5px;left:10px;line-height:22px;background-position:-1px -23px;}
.wqhg .picList li span{width:138px;position:absolute;bottom:5px;right:0;color:#fff;z-index:15;height:22px;line-height:22px;font-size:14px;text-align:left;}
.huoban .picList{margin:0;overflow:hidden;zoom:1;padding-bottom:20px;}
.huoban .picList li{margin:30px 0 0 30px;}
.huoban .picList li img{border:1px solid #509929;}
.huoban .picList li span{margin-top:10px;}
.wbhd .hd{height:86px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/wbtopBg.jpg) no-repeat;text-indent:-999em;overflow:hidden;}
.wbhd .bd{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/wbLineBg.jpg) repeat-x;}
.wbhd .bd h2{height:35px;margin-bottom:10px;text-indent:-999em;overflow:hidden;}
.wbhd .bd .main h2{background-position:0 -239px;}
.wbhd .bd .sub h2{background-position:0 -286px;}
/* ½¹µãÍ¼ */
.fs_B1{height:255px;position:relative;background:#fff;border:1px solid #e4c8a7;width:315px;position:relative;padding:4px;margin:20px 0;}
.fs_B1 .B1fBt{position:absolute;bottom:2px;left:4px;overflow:hidden;zoom:1;width:325px;height:60px;}
.fs_B1.fcon{position:relative;height:283px;width:311px;float:left;display:none;}
.fs_B1 .shadow{width:315px;position:absolute;top:155px;left:0px;height:55px;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;display:block;line-height:26px;}
.fs_B1 .shadow a{text-decoration:none;color:#fff;font-size:14px;font-weight:100;overflow:hidden;padding:0 10px;overflow:hidden;width:295px;position:absolute;bottom:0;display:block;}
.fs_B1 .B1fBt li{float:left;font-size:14px;margin-right:4px;display:inline;width:76px;height:45px;cursor:pointer;padding-top:15px;position:relative;}
.fs_B1 .B1fBt li.current i{position:absolute;width:12px;height:6px;background-position:0 -1px;top:8px;left:33px;}
.fs_B1 .B1fBt li img{display:block;width:75px;height:42px;opacity:0.5;filter:alpha(opacity=50);}
.fs_B1 .B1fBt li.current img{opacity:1.0;filter:alpha(opacity=100);}
.fs_B1 .fcon img{width:315px;height:210px;display:block;}
.fs_B1 .prev,.fs_B1 .next{display:none;}
.fs_B1 .fPs{height:210px;position:relative;overflow:visible;}
.fs_B1 .fPic{position:absolute;}
/* ¸ßÇå×éÍ¼ */
.focus1 *{margin:0px;padding:0px;}
.focus1 li{list-style:none}
.focus1 ul{overflow:hidden;zoom:1;width:100%;}
.focus1{position:relative;background:#fff;position:relative;width:960px;top:20px;left:0px;overflow:hidden;height:620px;}
.focus1 .focusCon{width:960px;height:505px;overflow:hidden;zoom:1;}
.focus1 .focusCon .oh{overflow:hidden;}
.focus1 .focusCon li{height:505px;width:960px;float:left;position:relative;overflow:hidden;}
 .focus1 .focusCon li img{width:960px;height:505px;display:block;}
.focus1 .shadow{width:960px;text-indent:5px;position:absolute;bottom:0px;left:0px;height:45px;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;display:block;line-height:45px;}
 .focus1 .shadow a{text-decoration:none;color:#fff;font-size:14px;font-weight:bolder;overflow:hidden;padding:0 10px;}
 .focus1 .shadow a b{background:#bd0001;color:#fff;padding:2px 5px;margin-right:5px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-weight:100;display:none;}
.focus1.focusTit{width:960px;position:absolute;top:515px;left:0px;overflow:hidden;zoom:1;height:100px;overflow:hidden;left:10px}
.focus1 .focusTit li{float:left;font-size:14px;margin-right:4px;display:inline;width:155px;height:90px;cursor:pointer;position:relative;padding-top:8px;opacity:0.5;filter:alpha(opacity=50);}
.focus1 .focusTit li img{display:block;width:137px;height:85px;border:3px solid #fff;}
.focus1 .focusTit li.current{cursor:pointer;opacity:1.0;filter:alpha(opacity=100);}
.focus1 .focusTit li.current img{margin-bottom:-4px;width:137px;height:85px;border:3px solid #fff;}
.focus1 .prev{position:absolute;left:0px;top:200px;width:57px;height:87px;cursor:pointer;background:url(http://mat1.gtimg.com/news/nothingzhou01/CPC18.colsmL.png) no-repeat;_background:none;}
.focus1 .prev span{display:block;height:87px;width:57px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/news/nothingzhou01/CPC18.colsmL.png")}
.focus1 .next{position:absolute;right:0px;top:200px;width:57px;height:87px;cursor:pointer;background:url(http://mat1.gtimg.com/news/nothingzhou01/CPC18.colsmR.png) no-repeat;_background:none;}
.focus1 .next span{display:block;height:87px;width:57px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/news/nothingzhou01/CPC18.colsmR.png")}
.focus1 .prev:hover span{background:url(http://mat1.gtimg.com/news/nothingzhou01/CPC18.colsmLHv.png) no-repeat;}
.focus1 .next:hover span{background:url(http://mat1.gtimg.com/news/nothingzhou01/CPC18.colsmRHv.png) no-repeat;}
.focus1 .prev:hover,.focus1 .next:hover{background:none;}
.focus1 .focusTit li.current b{width:144px;height:97px;position:absolute;top:2px;left:-1px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/iconCol.png) no-repeat;}
/* Í·²¿½¹µãÍ¼ */
.fs_A1{height:392px;position:relative;width:346px;position:relative;top:127px;left:449px;}
.fs_A1 .A1fBt{z-index:10;}
.fs_A1 .shadow{width:100%;position:absolute;top:357px;left:0px;z-index:10;height:34px;display:block;line-height:34px;text-align:center;}
.fs_A1 .shadow a{text-decoration:none;color:#fff;font-size:14px;font-weight:bolder;overflow:hidden;margin-left:10px;}
.fs_A1 .fcon{position:relative;width:100%;float:left;display:none;}
.fs_A1 .A1fBt i{font-style:normal}
.fs_A1 .fcon img{display:block;}
.fs_A1 .A1fBt a i{position:absolute;display:block;width:38px;height:38px;background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/tabsBnt.jpg) no-repeat;z-index:2;text-indent:-999em;overflow:hidden;cursor:pointer;}
.fs_A1 .A1fBt a.current i{z-index:10}
.fs_A1 .A1fBt a i.a1{top:199px;left:351px;background-position:-230px -8px;}
.fs_A1 .A1fBt a i.a2{top:235px;left:340px;background-position:-220px -44px;}
.fs_A1 .A1fBt a i.a3{top:268px;left:322px;background-position:-201px -77px;}
.fs_A1 .A1fBt a i.a4{top:298px;left:301px;background-position:-180px -107px;}
.fs_A1 .A1fBt a i.a5{top:322px;left:274px;background-position:-153px -131px}
.fs_A1 .A1fBt a.current i.a1{background-position:-84px -6px;}
.fs_A1 .A1fBt a.current i.a2{background-position:-74px -44px;}
.fs_A1 .A1fBt a.current i.a3{background-position:-341px -6px;}
.fs_A1 .A1fBt a.current i.a4{background-position:-34px -107px;}
.fs_A1 .A1fBt a.current i.a5{background-position:-293px -60px;}
.wqhg .picList li a,.wqhg .picList li span a:hover{text-decoration:none; }

.fs_B2 .B1fBt li i{background:url(http://mat1.gtimg.com/gongyi/baron/zmxxc/bntBg.png) no-repeat;}
.fs_B2{height:330px;position:relative;background:#fff;border:1px solid #e4c8a7;width:530px;position:relative;padding:4px;overflow:hidden; }
.fs_B2 .B1fBt{position:absolute;bottom:3px;left:4px;overflow:hidden;zoom:1;width:536px;height:75px;}
.fs_B2.fcon{position:relative;height:270px;width:530px;float:left;display:none;}
.fs_B2 .shadow{width:530px;position:absolute;top:215px;left:0px;height:55px;background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;display:block;line-height:22px;}
.fs_B2 .shadow a{text-decoration:none;color:#fff;font-size:14px;font-weight:100;overflow:hidden;padding:0 10px;overflow:hidden;width:510px;margin-top:5px;height:45px;overflow:hidden;  display:block;}
.fs_B2 .shadow a b{display:block;font-weight:bold;}
.fs_B2 .B1fBt li{float:left;font-size:14px;margin-right:4px;display:inline;width:103px;height:52px;cursor:pointer;padding-top:19px;position:relative;}
.fs_B2 .B1fBt li.current i{position:absolute;width:12px;height:6px;background-position:0 -1px;top:8px;left:45px;}
.fs_B2 .B1fBt li img{display:block;width:102px;height:52px;opacity:0.5;filter:alpha(opacity=50);}
.fs_B2 .B1fBt li.current img{opacity:1.0;filter:alpha(opacity=100);}
	.fs_B2 .B1fBt li.current b{position:absolute;width:102px;height:1px;top:68px;left:0;overflow:hidden;border-bottom:3px solid #49ac07;z-index:100 }
.fs_B2 .fcon img{width:530px;height:270px;display:block;}
.fs_B2 .prev,.fs_B2 .next{display:none;}
.fs_B2 .fPs{height:210px;position:relative;overflow:visible;}



#flashShow2{height:760px; }
#flashShow3{height:600px; }
#flashShow{height:508px; }/*  |xGv00|936c12af86b4b87240c20416cc173878 */