/* CSS Document */

/*qq群*/
.dzch_01 {
	height: 38px;
	width: 300px;
}
.dzch_title {
	font-family: "微软雅黑", "黑体";
	font-size: 18px;
	float: left;
	padding-top: 10px;
}.dzch_nr_bbs {
	height: 272px;
	width: 298px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #90BCEB;
	border-right-color: #CEDDF1;
	border-bottom-color: #CEDDF1;
	border-left-color: #CEDDF1;
}
.bbs_qqqun_mains {
	width: 280px;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 23px;
}
.bbs_qqqun_imgs {
	height: 23px;
	width: 23px;
	float: left;
}
.bbs_qqqun_dqs {
	height: 18px;
	width: 130px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 5px;
	float: left;
	margin-left: 8px;
}
.bbs_qqqun_rens {
	height: 18px;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
	padding-top: 5px;
	text-align: center;
	padding-left: 12px;
}
.bbs_qqqun_jr {
	float: right;
	height: 18px;
	padding-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-left: 7px;
}
/*唐山印象*/
.blk_01 h2{ background:url(//mat1.gtimg.com/sjz_house/shouye/bg_modstyletwo_hd.png) no-repeat; padding-left:4px; line-height:31px; font-weight:bold; font-size:14px; margin-bottom:10px; margin-top:4px;}
.blk_01 dl{ padding:0 0 0 5px; font-size:14px; line-height:26px;}
.blk_01 dt{ color:#000;}
.blk_01 dt strong{ color:#cc0000;  width:84px;}
.blk_01 dt a{ color:#000;}
.blk_01 dt strong a{color:#cc0000;}
.blk_01 dd{ padding-left:0; background:none;}
.plist2 {ZOOM: 1; overflow: hidden}
.plist2 ul {}
.plist2 LI {DISPLAY: inline; float: left; VERTICAL-ALIGN: bottom}
.plist2 LI P {TEXT-ALIGN: center; line-heght: 20px; padding-TOP: 5px}
.plist2 LI img {BORDER: #cbcbcb 1px solid;  DISPLAY: block; }
.ptlist {ZOOM: 1; overflow: hidden}
.ptlist .pic {MARGIN: 0px 10px 0px 0px; DISPLAY: inline; float: left}
.ptlist .pic P {line-heght: 18px}
.ptlist .pic img {BORDER: #cbcbcb 1px solid;  MARGIN-TOP: 2px; DISPLAY: block;}
.ptlist .text {line-heght: 21px; DISPLAY: inline}
.ptlist .text H4 {line-heght: 26px; font-size: 14px; FONT-WEIGHT: 700}
.ptlist .text P {color: #666}

/*地产思享者*/
.dzch_01 {            margin-top: 5px;
	height: 30px;
	width: 300px;
}
.dzch_title { padding-left: 14px;
	font-family: "微软雅黑", "黑体";
	font-size: 18px;
	float: left;
}
.dzch_nr {
	height:198px;
	width: 298px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color:#ceddf1;
	border-bottom-color:#ceddf1;
	}
.jn_dzch_tb {
	height: 120px;
	width: 11px;
	float: left;
	margin-top: 28px;
	margin-left: 15px;
	background-image: url(//mat1.gtimg.com/jn_house/bcss/img/tb_bg.jpg);
}
.jn_dzch_tb_img {
	height: 15px;
	width: 11px;
	margin-bottom: 17px;
	background-image: url(//mat1.gtimg.com/jn_house/bcss/img/jn_tubw2.jpg);
}
.jn_dzch_tb_img2 {
	height: 15px;
	width: 11px;
	margin-bottom: 17px;
	background-image: url(//mat1.gtimg.com/jn_house/bcss/img/jn_tubw1.jpg);
}
.dzch_nrszs {
	width: 230px;
	float: left;
	margin-left: 20px;
}
.dzch_nr_titles {
	font-size: 14px;
	font-weight: bold;
	height: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.dzch_nrs_znr {
	width: 230px;
	margin-top: 5px;
	line-height: 20px;
	color: #666666;
}
/*微信联盟*/
.wxlm li{ float:left; width:160px; margin-left:6px; height:186px; margin-bottom:10px; list-style:none;}
.wxlm li img{ width:160px; height:160px;}
.wxlm  .mc { text-align:center; height:20px; line-height:20px;} 
/*打折优惠*/
.arrow{ background:url(//mat1.gtimg.com/weifang_house/linshi/arrows.jpg) no-repeat right; padding-right:10px;}
#real .bd ul{ border-bottom:1px dotted #e5e5e5; }
#real .bd ul.nobor{ border-bottom:none; padding-bottom:0}
#real .bd ul li{ line-height:28px; background:url(//mat1.gtimg.com/house/houseIndex2012/images/three_ico_d.gif) no-repeat 0 10px; padding-left:12px; height:28px;}
#real .bd ul.newhead li{ background:none}
#real .bd ul a{ margin-right:6px; font-size:14px;}
#real .bd ul.newhead{ text-align:center}
#real .bd ul.newhead a{ font-size:12px;}

#real .bd ul li.patop{ padding-top:10px;}
#real .bd ul li.hot{ line-height:40px; height:40px;}
#real .bd ul li.hot a{ font-size:18px; font-weight:bold; font-family:"Microsoft YaHei","SimHei"}

#real .hd .fr a{ background:none; height:auto; line-height:18px; margin-top:0}
#real .hd .arrow
{
            margin-top: 12px;
}
#real .hd .arrow ul{ overflow:hidden; height:18px;} 
/*热门楼盘*/
.hotFloor{ margin:20px auto;}
.hotFloor .hd span{ margin-top:8px;}
.hotFloor .hd span.price{ margin-left:50px;}
.hotFloor .bd{border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; border-bottom:1px solid #d5d5d5;padding:20px 14px 0px 0px; line-height:20px;}
.hotFloor .sh{ background:#ebebeb; height:1px; overflow:hidd
en;}
.hotFloor .lTitle{ margin-bottom:0px; border-bottom-color:#c7c7c7;}
.hotFloor .bd li{ width:150px; float:left; margin-left:14px;_display:inline; text-align:center; padding-bottom:20px; color:#666}
.hotFloor .bd li a{ font-weight:bold;}
.hotFloor .bd li em{ color:#ef8201; font-weight:bold; font-size:14px;}
.hotFloor .bd li img{ width:150px;height:85px; margin-bottom:5px;}
/*ppkfsMod*/
#ppkfsMod { margin-bottom: 15px; }
#ppkfsMod .bd { padding-top: 5px; height: 330px; }

#ppkfsMod .twC { display: none; margin-top: 5px; }
.twC p {
line-height: 21px;
}
#ppkfsMod h4 { padding-left: 11px; height: 26px; line-height: 26px; font-weight: normal; font-size: 14px; background: url(//mat1.gtimg.com/hz_house/new_index/bg_dot.png) 0 center no-repeat; }

#ppkfsMod .show { margin-bottom: 8px; padding-bottom: 15px; background: #FFF url(//mat1.gtimg.com/hz_house/new_index/bg_fmrw.png) 0 bottom no-repeat; }
#ppkfsMod .show .twC { display: block; }
#ppkfsMod .show h4 a { color: #e33a29; }


/*移动售楼部*/
.w680 {
width: 680px;
}
.yidongsl{}
.yidongsl li{
	width: 160px;
	float: left;
	margin-left:5px;
	margin-right:4px;
	text-align: center;
	font-size: 12px;
	line-height:22px;
}
.dianhuatu{
	background: url(//mat1.gtimg.com/house_changsha/zhangfeng/sy2014/dianhua.jpg) left center no-repeat;
	padding-left: 18px;
	font-size: 12px;
	color: #666;
}
.hr10 {
height: 10px;
overflow: hidden;
clear: both;
}

/*官方微信*/
.gfwx{ background:url(http://img1.gtimg.com/tangshan_house/pics/hv1/185/10/89/5789960.png); width:263px; height:416px; margin:8px auto 0 auto; position:relative;}
.gfwx .kao{
	position: absolute;
	width: 215px;
	padding: 8px;
	border: solid 1px #999;
	background: #fff;
	left: 15px;
	top: 58px
}
.gfwx .kao p{ width:215px; height:115px; position:relative; margin-bottom:5px;}
.gfwx .kao p span{
	position: absolute;
	color: #fff;
	font-size: 14px;
	text-align: center;
	background: #000;
	filter: alpha(opacity=80);
	opacity: 0.8;
	height: 25px;
	line-height: 25px;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: "微软雅黑";
}
.gfwx .kao dl{ overflow:hidden; zoom:1; border-top:solid 1px #F7F7F7; padding-top:5px;}
.gfwx .kao dl dt{
	float: left;
	width: 165px;
	margin-right: 10px;
	font-family: "微软雅黑";
}
.gfwx .kao dl dd{ float:left; width:40px;}
.gfwx p.gonggao{ position:absolute; left:30px; top:24px;}
.gfwx p.anniu{ position:absolute; background:#e2e2e2; border-top:solid 1px #d3d3d3; left:1px; bottom:17px; width:262px;}
.gfwx p.anniu a{
	display: inline-block;
	width: 86px;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
	border-right: solid 1px #d3d3d3;
	font-family: "微软雅黑";
}
.gfwx .zhenlaji{ position:absolute; top:160px;}
.gfwx .zhenlaji p.fucengk{ position:absolute; background:#f1f1f1; border:solid 1px #ddd; width:70px; padding:8px; left:0; display:none;}
.gfwx .zhenlaji p.fucengk a{ display:block; width:70px; line-height:35px; font-size:14px; text-align:center; border-bottom:solid 1px #ddd;}
.gfwx .zhenlaji p.fucengk a:hover{ background:#cbcbcb; color:#333; text-decoration:none;}
.gfwx .zhenlaji p.fucengk img{ position:absolute; bottom:-8px; left:50%; margin-left:-4px;}
/* |xGv00|720ed406dd9a9e2421f5c319c0de1510 */



/*购房中心*/
#purchaseCenter #cardBtn2 { line-height: 36px; _overflow: hidden; }
#purchaseCenter #cardBtn2 { border-bottom: 1px solid #c9dfd3; background: #f9f9f9; height: 32px; }
#purchaseCenter #cardBtn2 li { font-weight: bold; _position: relative; /*fix ie6*/ float: left; width: 92px; height: 32px; line-height: 32px; color: #000; margin-left: -1px; text-align: center; border-left: 1px solid #c9dfd3; border-right: 1px solid #c9dfd3; }
#purchaseCenter #cardBtn2 li.over { color: #ee8301; height: 31px; line-height: 28px; border-top: 2px solid #ee8301; background: #fff; }

#purchaseCenter #cardBody2 { overflow: hidden; margin-top: 18px; margin-bottom: 14px; }
#purchaseCenter #cardBody2 li { display: none; }
#purchaseCenter #cardBody2 dl { float: left; width: 135px; }
#purchaseCenter #cardBody2 dl a { width: 135px; overflow: hidden; display: block; text-align: center; line-height: 22px; background: url(//mat1.gtimg.com/changzhou_house/2013/v1/images/purchasePic_bg.png) 14px top no-repeat; padding-top: 2px; }
#purchaseCenter #cardBody2 dl a em { display: block; color: #f18103 }
#purchaseCenter #cardBody2 dl a img { display: block; margin: 0 auto 9px; }

#purchaseCenter .searchBox { height: 225px; overflow: hidden; background: #f7f7f7; }
#purchaseCenter .searchBox .bor { }
#purchaseCenter .searchBox .hd { padding-top: 10px; }
#purchaseCenter .searchBox .hd input { width: 160px; height: 28px; line-height: 28px; border: 1px solid #c9c9c9 }
#purchaseCenter .searchBox .hd input.searchBtn { width: 89px; border: 0; background: url(//mat1.gtimg.com/changzhou_house/2013/v1/images/searchBtn.png) no-repeat; text-indent: -9999px; }

#purchaseCenter .searchBox .bd span { font-weight: bold; }
#purchaseCenter .searchBox .bd a { margin-left: 5px; }

#marketCenter { height: 332px; }
#secondary .hd span.fr { margin-top: 5px; }

#ranking li { }
#ranking .bd { padding-bottom: 12px; }
#ranking .bd li span { display: inline-block; }
#ranking .bd li span.name { width: 100px; }
#ranking .sub .bd li span.name { width: 78px; }

#ranking .main .bd li span.name { width: 123px; }
#ranking .bd li span.price { width: 62px; }
#ranking .main .bd li span.price { width: 80px; }
#ranking .sub .bd li span.price { width: 58px; }

#ranking .bd li span.area { width: 38px; }
#ranking .main .bd li span.area { width: 62px; }
#ranking .bd li span.num { width: 68px; }

/*buyTitle2*/
.buyTitle2 { border-bottom: 2px solid #a7d278; position: relative; height: 42px; line-height: 38px; margin-bottom: 14px; margin-top: 15px; }
.buyTitle2 h2 { border-bottom: 2px solid #66a324; position: absolute; top: 0; left: 0; padding-bottom: 4px; font-size: 28px; color: #78ac3f; }
.buyTitle2 h2 span { color: #e65100 }
.buyTitle2 span a { color: #666; font-size: 14px; }
.buyTitle2 span a:hover { color: #e55110; }
  