@charset "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;}html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;clear:both;box-sizing:border-box}body{font:14px/1.5 'Microsoft YaHei',arial,helvetica,sans-serif;-webkit-text-size-adjust:none;color:#333;-webkit-text-size-adjust:none;min-width:320px;font-size:14px;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}form{display:inline;}textarea{}table{border-collapse:collapse;border-spacing:0;}ul,ol{list-style:none;}input,select,button{font-family:'Microsoft YaHei',arial,helvetica,sans-serif;font-size:100%;vertical-align:middle;outline:none;}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button;}input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent;}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}a{text-decoration:none;color:#333;}a:hover{color:#333;text-decoration:none;}img{vertical-align:middle;font-size:0;border:0;-ms-interpolation-mode:bicubic;}
i,em{font-style:normal}
a,label,input{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;/*-webkit-user-select:none;*/border:none}
body{position:relative}
html,body{height:100%}


.main{width:100%;max-width:640px;min-height:100%;overflow:hidden;margin:auto;box-sizing:border-box}
nav{position:fixed;z-index:1;left:0;bottom:0;width:100%;height:40px;background:#191b1a;font-style:italic}
nav a{display:block;float:left;width:25%;height:40px;line-height:40px;font-size:16px;color:#f3d69c;text-align:center}
nav a:nth-child(1){width:17%}
nav a:nth-child(4){width:33%}
nav a.active{color:#bb8028}
.a-btn{display:block;width:120px;height:40px;line-height:40px;background:#1e3154;margin:40px auto 0;font-size:16px;color:#fffa0b;text-align:center;border-radius:5px}
.a-btn img{width:100%;height:auto}
.content{background:none;margin-top:30px;padding-bottom:45px;border:none}
.wrap{padding:0 15px 60px}
.role-title{width:350px;height:30px;line-height:30px;overflow:hidden;background:url(//mat1.gtimg.com/cq/grace/2016/q3/wwyz/titlebg.png) no-repeat;background-size:cover;margin:35px auto 15px;color:#fffa0b;text-align:center}
.wrap p{line-height:20px;color:#090002}
.wrap p strong{color:#324655}
.bigimg{display:block;width:100%;height:auto}
.content div.form p{background-color:#fff;border:1px solid #324655;border-radius:7px}
.content div.form p input{background-color:#fff}
.content a.upload_btn{float:left;width:30%;background:#bb8028;border-radius:7px;margin-left:10%}
.content a.apply_btn{float:right;width:30%;background:#324655;border-radius:7px;margin-right:10%;color:#fffa0b}
.content a.apply_btn input{color:#fffa0b}
.cb{height:auto;overflow:hidden;margin-top:30px;padding-bottom:70px}
.cb p{padding:0 10px;color:#324655;text-align:center}
.img18{display:block;width:54%;height:auto;margin:50px auto 0}
.img19{display:block;width:21%;height:auto;margin:50px auto 0}
.time{margin-top:5px;color:#44639c;text-align:center}

@media screen and (max-width: 320px) {
	.content div.form p span{font-size:15px}
	.role-title{width:280px;height:24px;line-height:24px}
}/*  |xGv00|f7073a238a463217896c287dfa4c6b22 */