@charset "gb2312";
/* CSS Document */
/*layout1*/
.layout1{ background:url(//mat1.gtimg.com/2014/images/jxmdm/layout1.jpg) center top no-repeat; height:260px; width:100%;}
.layout1 .layout{ height:90px;}
/*layout2*/
.layout2{ background:url(//mat1.gtimg.com/2014/images/jxmdm/layout2.jpg) center top no-repeat; height:736px; width:100%;}
.layout2 .hd{ height:40px;}
.layout2 .hd h2{ color:#fff; font-size:20px; font-weight:bold; line-height:40px; padding:0 20px;}
.mod_action_share{
	position:absolute;
	top:10px;
	left:735px;
	width:308px;
}
.sharetips,.shareicon{
	float:left;
	display:inline;
}
.shareicon{width:150px;}
.sharetips{	font:normal 14px/24px microsoft yahei;	color:#333;	margin-right:8px;}
.mod_share{ float:right; margin-top:8px;}
.mod_action{ background:#7f5217; padding:1px 8px 3px; border-radius:2px;}
.action_item .ico_alert,.action_item .ico_collect,.action_item .ico_collected,.ico_collect_star{ float:left;
	display:inline;
	width:20px;
	height:19px;
	overflow:hidden;
	margin-top:1px;
	margin-right:5px;
	background:url('//mat1.gtimg.com/2014/images/jxmdm/bgs.png') no-repeat;
	cursor:pointer;
	vertical-align:middle;
}
.action_item .ico_collect{background-position:-5px -34px;}
.action_item:hover .ico_collect{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition:all .5s ease-in-out;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	background-position: -182px -3px\9;

}
.btn_alert_cancel .ico_collect{background-position: -182px -3px;}
.action_item .ico_text{float:left; display:block; height:15px; line-height:14px; padding-top:4px; overflow:hidden; font-size:14px;color: #fff; cursor:pointer; text-decoration:none; overflow:hidden;}
.mod_action .action_item{float:left;position:relative;*zoom:1}
.action_item:hover .ico_collect {
    opacity:1;
	filter:alpha(opacity=100);
}
.mod_pop_alert_hint{position:absolute;width:auto;_width:300px;white-space:nowrap;left:0;top:47px; z-index:4;}
.mod_pop_alert_hint .mod_pop_content{white-space:nowrap;font-size:0;letter-spacing:-5px}
.mod_pop_alert_hint .triangle,.mod_pop_alert_hint .fix_left,.mod_pop_alert_hint .fix_right,.mod_pop_alert_hint .mod_pop_content_inner{
	display:inline-block;
	height:23px;
	overflow:hidden;
	vertical-align:top;
	background-image:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_alert_hint.32.png);
	_background-image:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_alert_hint.ie6.png)
}
.mod_pop_alert_hint .fix_left{width:4px}
.mod_pop_alert_hint .fix_right{width:5px;background-position:right 0}
.mod_pop_alert_hint .triangle{
	background:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_arrow.32.png) no-repeat 0 0;
	_background:url(//imgcache.qq.com/mediastyle/video_2013/style/img/play/mod_pop_arrow.32.ie6.png) no-repeat 0 0;
	position:absolute;top:-7px;left:22px;width:15px;height:8px
}
.mod_pop_alert_hint .mod_pop_content_inner{background-position:0 -25px;overflow:visible}
.mod_pop_alert_hint .mod_pop_content_inner .text{display:inline-block;padding:0 6px;line-height:22px;color:#7e7e7e;font-family:simsun;font-size:12px;letter-spacing:normal}
.popup_wadint{height:36px;line-height:36px;padding:0 40px 0 10px;color:#7d5818;background:#ffffd7;border:#e1d8bf 1px solid;border-radius:3px;font-size:14px}
.popup_wadint a{color:#4580cf;text-decoration:underline}
.mod_pop_alert_hint .tags_close{font-size:25px;position:absolute;right:10px;top:2px;color:#B89864;cursor:pointer;font-style:normal;font-weight:400;}
.mod_share .iShareWrap a{ background:url('//mat1.gtimg.com/2014/images/jxmdm/bgs.png') no-repeat;}
.mod_share .iShareWrap a.iShare_1_weixin,.mod_share .iShareWrap a.iShare_1_weixin:hover{ background-position:-120px 0!important;}
.mod_share .iShareWrap a.iShare_1_qzone,.mod_share .iShareWrap a.iShare_1_qzone:hover{ background-position:-30px 0!important;}
.mod_share .iShareWrap a.iShare_1_QQ,.mod_share .iShareWrap a.iShare_1_QQ:hover{ background:url('//mat1.gtimg.com/2014/images/jxmdm/bgs.png') no-repeat -60px 0!important;}
.mod_share .iShareWrap a.iShare_1_tqq,.mod_share .iShareWrap a.iShare_1_tqq:hover{background-position:0 0!important;}
.mod_share .iShareWrap a.iShare_1_tsina,.mod_share .iShareWrap a.iShare_1_tsina:hover{ background-position:-90px 0!important;}
.mod_share .iShareWrap a.iShare_1_weixin,
.mod_share .iShareWrap a.iShare_1_qzone,
.mod_share .iShareWrap a.iShare_1_QQ,
.mod_share .iShareWrap a.iShare_1_tqq,
.mod_share .iShareWrap a.iShare_1_tsina{ width:24px; height:24px;}
.mod_share .iShareWrap a.iShare_1_weixin:hover,
.mod_share .iShareWrap a.iShare_1_qzone:hover,
.mod_share .iShareWrap a.iShare_1_QQ:hover,
.mod_share .iShareWrap a.iShare_1_tqq:hover,
.mod_share .iShareWrap a.iShare_1_tsina:hover{ opacity: 0.8; filter:alpha(opacity=80);}

/*layout3*/
.layout3{ background:url(//mat1.gtimg.com/2014/images/jxmdm/layout3.jpg) center top no-repeat; height:688px; width:100%;}
.layout3 .hd{ height:60px; line-height:60px;}
.layout3 .hd h2{ color:#fff; font-size:30px; font-weight:bold; padding:0 20px;}
.review{ width:1000px;}
.review .pageCon{ width:1000px; position:relative; overflow:hidden; height:424px !important;}
.review .pageList{ width:1050px; position:absolute; left:0; top:0;}
.review .split{ background:url(//mat1.gtimg.com/2014/images/jxmdm/reviewlist.png) no-repeat; cursor:pointer; float:left; height:200px; margin-right:50px; padding:6px; position:relative; width:200px;}
.review .hascont span{ display:none; line-height:16px; padding:5px 17px 0; width:144px;}
.review .hascont p{ color:#333; display:none; position:absolute; left:34px; top:140px; width:144px;}
.review .hascont .cover{ background:url(//mat1.gtimg.com/2014/images/jxmdm/cover.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/jxmdm/cover.png',sizingMethod=''); height:212px; position:absolute; left:0; top:0; width:212px;}
.review .hover .cover{ background:url(//mat1.gtimg.com/2014/images/jxmdm/hcover.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/jxmdm/hcover.png',sizingMethod='');}
.review .hover p{ display:block;}
.review .split i{ background:url(//mat1.gtimg.com/2014/images/jxmdm/tag.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/jxmdm/tag.png',sizingMethod=''); color:#fff; display:block; font-style:normal; height:32px; line-height:32px; position:absolute; left:-1px; top:106px; padding-left:6px; width:50px;}
.review .current i{ background:url(//mat1.gtimg.com/2014/images/jxmdm/tagRed.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/jxmdm/tagRed.png',sizingMethod='');}
.review .hascont{ background-position:0 0;}
.review .ml{ margin-left:120px; display:inline;}
.review .pageBtn{ margin-top:50px;}
.review .pageBtn a,
.review .pageBtn span{ display:inline-block; width:42px; height:42px; line-height:42px; margin-right:10px; text-align:center; border:1px solid #5a4916; font-size:16px; color:#585858;}
.review .pageBtn a:hover,
.review .pageBtn .current{ background:#000; border-color:#000; color:#FFF; text-decoration:none;}
.review .pageBtn span{ border-color:#5a4916; color:#313131;}
.review .pageBtn .prev,
.review .pageBtn .next{ width:80px; display:none;}
.pop_playerbox{width:580px;height:400px;position:absolute;z-index:10;background:#000;display:none;}
.pop_tit{height:30px;background:#000;}
.pop_videotit{font-size:16px;color:#fff;line-height:30px;padding-left:10px;width:530px;white-space:nowrap;overflow:hidden;}
#pop_player div{width:580px;height:400px;}
.mod_player div{width:750px;height:468px;}
.pop_playerclose{width:22px;height:20px;position:absolute;top:5px;right:5px;cursor:pointer;background:#333;color:#fff;font-size:14px;line-height:20px;font-family:Arial,Helvetica,sans-serif;text-align:center;}
.pop_playerclose:hover{text-decoration:none;}



/*layout4*/
.layout4{ background:url(//mat1.gtimg.com/2014/images/jxmdm/layout4.jpg) center top no-repeat; width:100%;}
.layout4 .box4{ background:url(//mat1.gtimg.com/2014/images/jxmdm/layout4_b.jpg) center bottom no-repeat #151515; padding-bottom:40px;}
.layout4 .layout{ background:#fff; border:1px solid #e6e6e6; position:relative; width:998px;}
.layout4 .layout .hd{ position:relative;}
.layout4 .layout .hd h2{ color:#fff; font-size:30px; font-weight:bold; line-height:50px; position:absolute; top:-122px; right:0;}
.layout4 .layout .bd{ padding:20px 40px; width:920px;}
/*footer*/
.footer{ background:url(//mat1.gtimg.com/2014/images/shipinjiemushouye/footer.jpg) center top no-repeat; height:150px; padding-top:20px;}
.tcopyright{ color:#ababab !important; line-height:32px !important;}
.tcopyright a{ color:#ababab !important;}
/*gotoup*/
.gotoup{width:58px;height:58px;position:fixed; background:url(//mat1.gtimg.com/2014/index/img/icons.png) 0 -140px no-repeat;bottom:80px;left:50%;margin-left:520px;cursor:pointer;display:none;}
.gotoup:hover{background-position:-60px -140px;}
.floatBottle{ height:346px; position:fixed; top:200px; width:110px;}
.leftFloat{ background:url(//mat1.gtimg.com/2014/images/jxmdm/leftFloat.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/jxmdm/leftFloat.png',sizingMethod=''); left:50%; margin-left:-640px;}
.rightFloat{ background:url(//mat1.gtimg.com/2014/images/jxmdm/rightFloat.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/jxmdm/rightFloat.png',sizingMethod=''); left:50%; margin-left:540px;}
}
/*  |xGv00|71334dafd1779281799a253b0eb0ccd2 */