/* public
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin: 0; padding: 0; color: #333; font-size: 12px; font-family: "\5B8B\4F53","Arial Narrow",Tahoma,"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","HELVETICA";}/* 1rem=12px */
ul,ol,li,dl,dt,dd{ list-style-type: none; margin: 0; padding: 0;}
li{ vertical-align: bottom;}
h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0;}
strong{ font-weight: bold;}
img{ vertical-align: bottom; border: 0;}
img:hover{ filter: Alpha(Opacity=90); -moz-opacity: 0.9; opacity: 0.9;}
a:link,a:visited{ color: #333; text-decoration: none;}
a:hover{ color: #3a93f5; text-decoration: none;}

.cls{ clear: both; height: 0; font: 0/0 Arial;}
.clearfix:after{ display: block; clear: both; visibility: hidden; content: "."; height: 0;}
* html .clearfix{ height: 1%;}
.wrapper{ width: 1000px; margin: 0 auto;}

html{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/* private
----------------------------------------------- */

body{ background: #efecdd url(//mat1.gtimg.com/auto/08gj/banner.jpg) no-repeat center 30px;}
.bodyBox{ width: 1000px; margin: 252px auto 30px; border-top: 3px solid #120948; padding: 20px; background: #fff;}
h2.tit{ height: 50px; margin: 20px 0 10px; background: #dde7ff; color: #373b58; font: bold 32px/50px "\5FAE\8F6F\96C5\9ED1"; text-align: center;}

/* 导语 */
.daoyu{ padding-bottom: 20px;}
.daoyu h2{ float: left; width: 28px; height: 60px; margin-top: 5px; padding: 17px 10px; background: url(http://img1.gtimg.com/auto/pics/hv1/230/159/1958/127359725.png) no-repeat; color: #fff; font: 28px/30px "\5FAE\8F6F\96C5\9ED1"; text-align: center;}
.daoyu div.daoyuBd{ float: right; width: 930px;}
.daoyu div.daoyuBd p{ margin: 0; font: 14px/26px "\5FAE\8F6F\96C5\9ED1"; text-indent: 2em;}

.photo{ overflow: hidden; width: 1000px;}
.photo ul{ width: 1005px;}
.photo li{ float: left; width: 330px; height: 210px; margin: 0 5px 5px 0;}
.photo li a{ display: block; position: relative; cursor: pointer; width: 100%; height: 100%;}
.photo li img{ width: 100%; height: 100%;}
.photo li em{ display: none; position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background: #000; filter:Alpha(Opacity=50); -moz-opacity:0.5; opacity:0.5;}
.photo li span{ display: none; position: absolute; left: 0; bottom: 0; width: 270px; height: 100%; padding: 0 30px; color: #fff; font: 12px/22px "\5B8B\4F53";}
.photo li span strong{ display: inline-block; margin: 20px 0 8px; color: #fff; font: 26px/32px "\5FAE\8F6F\96C5\9ED1";}
.photo li.l1{ width: 665px; height: 360px;}
.photo li.l2{ width: 330px; height: 360px;}
.photo li.l1 em,
.photo li.l2 em{ height: 155px; background: url(//mat1.gtimg.com/auto/08gj/shadow.png) repeat-x; filter:Alpha(Opacity=100); -moz-opacity:1; opacity:1;}
.photo li.l1 span{ width: 585px; height: 140px;}
.photo li.l2 span{ height: 140px;}
.photo li a:hover em,.photo li a:hover span{ display: block;}

/* 滚动图片通栏 */
.scrollBox{ position:relative; margin: 0 auto 30px;}
.scrollBox a.up,.scrollBox a.down{ display:block; position:absolute; top:45px; overflow:hidden; width:35px; height:70px;}
.scrollBox a.up{ left: 1px;}
.scrollBox a.down{ right: 1px;}
.scrollBox a.up span,.scrollBox a.down span,
.scrollBox a.up em,.scrollBox a.down em{ display: block; position: absolute; left: 0; top: 0; width: 35px; height: 70px;}
.scrollBox a.up span,.scrollBox a.down span{ background-color: #000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.scrollBox a.up:hover span,.scrollBox a.down:hover span{ filter:Alpha(Opacity=100); -moz-opacity:1; opacity:1;}
.scrollBox a.up em,.scrollBox a.down em{ background:url(http://img1.gtimg.com/auto/pics/hv1/43/163/1900/123589108.png) no-repeat; _background:url(http://img1.gtimg.com/auto/pics/hv1/7/163/1900/123589072.png) no-repeat;}
.scrollBox a.up em{ background-position: 0 0;}
.scrollBox a.down em{ background-position: 0 -70px;}
.scrollBox .scrollCon{ overflow:hidden; *zoom:1; width:998px; height:160px; margin:0 auto;}
.scrollBox .scrollCon div{ float:left;}
.scrollBox .scrollCon li{ float:left; margin-right: 10px; width: 242px; height: 160px;}
.scrollBox .scrollCon li img{ width: 242px; height: 160px;}

.scrollBox2 a.up,.scrollBox2 a.down{ top:283px; width:50px; height:100px; background:url(http://img1.gtimg.com/auto/pics/hv1/29/168/1900/123590369.png) no-repeat; _background:url(http://img1.gtimg.com/auto/pics/hv1/8/168/1900/123590348.png) no-repeat;}
.scrollBox2 a.up{ left: 0; background-position: -50px 0;}
.scrollBox2 a.down{ right: 0; background-position: 0 0;}
.scrollBox2 a.up:hover{ left: 0; background-position: -150px 0;}
.scrollBox2 a.down:hover{ right: 0; background-position: -100px 0;}
.scrollBox2 .scrollCon{ overflow:hidden; *zoom:1; width:1000px; height:667px; margin:0 auto;}
.scrollBox2 .scrollCon div{ float:left;}
.scrollBox2 .scrollCon li{ float:left; width: 1000px; height: 667px; margin: 0;}
.scrollBox2 .scrollCon li img{ width: 1000px; height: 667px;}


/** 快速导航 **/
*html{ background-image:url(about:blank); background-attachment:fixed;}
#floatLeft{ position:absolute; top:550px; z-index:999; left:50%; margin-left:540px;}
#floatLeft strong{ display: block; font: normal 12px/30px "\5B8B\4F53"; text-align: center;}

/* share_list */
.share_list{ width:32px; height:130px;}
.share_list span{ display:block; color:#9d9d9d; text-align:center; line-height:25px;}
.share_list a{ display:block; position:relative; float:left; width:32px; height:25px; margin-bottom:5px; background:url(//mat1.gtimg.com/finance/11lx/boao/index/shareIcon.png) no-repeat; transition:all 0.5s ease-in-out 0s;}
.share_list a span{ display:none;}
.share_list a:hover{ text-decoration:none;}
.share_list a:hover span{ display:block; position:absolute; left:-70px; top:0; width:70px; height:25px; line-height:25px; background-color:#d0d0d0; color:#7e7e7e; text-align:center;}
.share_list .wb_list{ background-position:-33px -1px;}
.share_list .qzone_list{ background-position:-33px -34px;}
.share_list .qq_list{ background-position:-33px -67px;}
.share_list .xl_list{ background-position:-33px -100px;}
.share_list .yd_list{ background-position:-125px -168px;}
.share_list .yd_list span{ left:-112px; width:100px; height:auto; border:1px solid #d8d8d8; padding:5px; background-color:#fff;}
.share_list .wb_list:hover{ background-position:-1px -1px;}
.share_list .qzone_list:hover{ background-position:-1px -34px;}
.share_list .qq_list:hover{ background-position:-1px -67px;}
.share_list .xl_list:hover{ background-position:-1px -100px;}
.share_list .yd_list:hover{ background-position:-125px -139px;}

#goTop{ cursor: pointer; margin-top: 50px; background:url(http://img1.gtimg.com/auto/pics/hv1/76/160/1958/127359826.png) no-repeat; height:60px; width:60px;}
#goTop.on{filter:Alpha(Opacity=80); -moz-opacity:0.8; opacity:0.8;}
/*  |xGv00|7c3002da807e7c1dd88054731c7ccca3 */