body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font:14px/1.5 Microsoft yahei, Arial, Helvetica, sans-serif;color:#333}
body,button,input,select,textarea{font:14px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333;outline:none}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
img{vertical-align:middle}
button,input,select,textarea{font-family:Microsoft yahei, Arial, Helvetica, sans-serif;font-size:100%;border:none;outline:none}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}


.btn,.top span{background-image:url(//mat1.gtimg.com/cq/grace/2016/cqxc/bg.png);background-repeat:no-repeat}
.banner{position:relative;width:100%;overflow:hidden}
.banner img{position:absolute;top:0;left:50%;display:block;width:auto;height:100%}
.wrap{position:relative;max-width:1400px;min-width:1000px;height:auto;overflow:hidden;margin:100px auto 0;zoom:1}
.wrap:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.s1{width:100%;height:auto;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#50ffffff',endColorstr='#50ffffff');background:rgba(255,255,255,.3);padding:100px 0}
.s1-l{float:left;width:41%;margin-left:7%}
.s1-l img{display:block;width:77%;height:auto}
.s1-r{float:left;width:37%}
.s1-r i{display:block;height:37px;line-height:37px;font-size:24px;color:#050505}
.key{height:auto;overflow:hidden;margin-top:16px}
.key span{display:inline-block;float:left;height:25px;line-height:25px;background:#356aa0;margin-right:15px;padding:0 12px;font-size:18px;color:#fff}
.s1-r em{margin-top:3px;font-size:40px;color:#413a3a}
.s1-r p{line-height:30px;margin-top:20px;padding:20px 0;font-size:18px;color:#1f1d1d;border-top:1px solid #000;border-bottom:1px solid #000}
.s2{position:relative;width:100%;height:auto;overflow:hidden}
.s2 .scroll{width:100%;height:auto;overflow:hidden;margin:auto}
.s2 li{position:relative;display:none;width:100%}
.s2 li.active{display:block}
.s2 li img{width:100%;height:auto}
.btn{position:absolute;z-index:10;top:300px;width:78px;height:150px}
.btn-prev{left:0;background-position:-148px 0}
.btn-prev:hover{background-position:-314px 0}
.btn-next{right:0;background-position:-231px 0}
.btn-next:hover{background-position:-396px 0}
.pic-info{position:absolute;bottom:0;width:100%;height:auto;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#60000000',endColorstr='#60000000');background:rgba(0,0,0,.6);padding:10px 0}
.pic-info span{display:block;float:left}
.pic-info span.sp1{width:10%;height:60px;text-align:center}
.pic-info span.sp1 div{display:inline-block;width:80px;background:url(//mat1.gtimg.com/cq/lzy/bg.png) no-repeat -430px -308px}
.pic-info span.sp1 i{display:block;float:left;font-size:36px;font-family:Arial;color:#fff;text-align:center}
.pic-info span.sp1 i.i1{width:50px;height:40px;line-height:40px}
.pic-info span.sp1 i.i2{width:30px;height:20px;line-height:20px;margin-top:30px;font-size:18px}
.pic-info span.sp2{width:88%;height:auto;overflow:hidden;margin:3px 2% 0 0}
.pic-info span.sp2 p{line-height:23px;font-size:14px;color:#fff}
.s3,.s4,.s5,.s6{position:relative;width:100%;height:auto;overflow:hidden;background:#fff;padding:65px 0 185px}
.s3 .scroll,.s4 .scroll{width:86%;height:auto;overflow:hidden;margin:auto}
.box{display:none;float:left;width:100%;height:auto;overflow:hidden}
.box.active{display:block}
.box-l{float:left;width:39.25%;height:auto;overflow:hidden}
.box-l img{width:100%;height:auto}
.box-l p{line-height:30px;font-size:16px;color:#555;text-indent:2em}
.box-r{float:right;width:54%;height:auto;overflow:hidden}
.box-r img{display:block;width:100%;height:auto}
.dot,.dot1{position:absolute;bottom:65px;left:0;width:100%;height:55px;text-align:center}
.dot span,.dot1 span{display:inline-block;width:53px;height:53px;line-height:53px;margin:0 12px;font-size:24px;color:#c80034;border:1px solid #c80034;text-align:center;border-radius:50%;cursor:pointer}
.dot span.active,.dot1 span.active{background:#c80034;color:#fff}
.s4 .box img{width:100%;height:auto}
.s5,.s6{padding-bottom:65px}
.video{position:relative;width:68.5%;height:auto;min-height:620px;overflow:hidden;margin:auto}
.video-l{position:absolute;z-index:2;top:0;left:0;width:90%;height:auto;max-height:510px;overflow:hidden}
.video-r{position:absolute;z-index:1;top:40px;right:0;width:95%;height:auto;overflow:hidden}
.video-r span{display:block;float:left;width:93.4%}
.kuang{display:block;width:100%}
.video-r span p{line-height:30px;margin-top:12px;font-size:16px;color:#555}
.title-video{display:block;float:right;width:4.3%;height:auto}
.s6-l{float:left;width:40%;height:auto;overflow:hidden;margin-left:7%;padding-top:80px;}
.article{display:none;height:auto;overflow:hidden}
.article.active{display:block}
.article .t,.article1 .t{height:42px;background:url(//mat1.gtimg.com/cq/grace/2016/cqxc/dot.png) repeat-x center;text-align:center}
.article .t h3,.article1 .t h3{display:inline-block;height:42px;line-height:42px;background:#fff;margin:auto;padding:0 40px;font-size:40px;color:#666}
.article .m,.article1 .m{height:auto;overflow:hidden;margin-top:-20px;padding:60px 40px 40px;border:2px solid #c80034;border-top:none}
.article .m p{line-height:30px;margin-top:37px;font-size:16px;color:#555}
.s6-r{float:right;width:40.7%;margin-right:7%}
.s7{background:#fff;padding:50px 7%}
.top{height:78px}
.top img{display:inline-block;float:left;width:auto;height:36px;margin-top:25px}
.top span{display:inline-block;float:right;width:202px;height:78px;line-height:107px;overflow:hidden;background-position:-148px -156px;padding-left:90px;font-size:20px;font-weight:bold;color:#fff;text-align:center}
.content{height:540px;background:#f6f6f6;margin-top:15px;border:2px solid #c80034}

.footer{background:#333438;margin-top:155px}
.footer span{display:inline-block;color:#fff}
.footer span.sp1{position:absolute;top:60px;left:90px;width:120px;height:45px;line-height:45px;font-size:30px}
.footer span.sp2{position:absolute;bottom:0;left:275px;width:222px;height:249px}
.footer span.sp2 img{width:222px;height:249px}
.footer span.sp3{margin-left:590px;padding:20px 0}
.footer span.sp3 p{line-height:27px;color:#fff}
.w-1000-1{position:relative;width:1000px;height:auto;margin:auto}
.cover{position:fixed;z-index:2;top:0;left:0;width:100%;height:100%;background:#333}
.loading{position:fixed;top:50%;left:50%;width:400px;height:300px;background:url(//mat1.gtimg.com/cq/grace/2016/cqxc/5-1503130Q912-50.gif) no-repeat;margin-top:-150px;margin-left:-200px}
.article1{padding-bottom:30px}
.zimu{display:block;margin:-30px auto 0}
.box-l img.zimu{width:240px;height:60px}
.article1 .m{padding-bottom:60px}

.wqhg{position:relative;width:1000px;height:auto;overflow:hidden;margin:auto}
.wqhg h3{margin:36px 0 18px 0;padding-left:59px;font-size:22px;color:#777}
.wqhg-list li{display:inline;float:left;width:207px;margin:0 9px}
.wqhg-list li.last{margin-right:0}
.wqhg-list li img{width:207px;height:154px}
.wqhg-list li p{margin-top:9px;font-size:14px;color:#555;text-align:center}
.wqhg-list li p a{color:#555}
.arr_left{position:absolute;z-index:10;top:138px;left:19px;width:27px;height:51px;background:url(//mat1.gtimg.com/cq/ent/star/bg.png) no-repeat 0 -139px}
.arr_right{position:absolute;z-index:10;top:138px;right:19px;width:27px;height:51px;background:url(//mat1.gtimg.com/cq/ent/star/bg.png) no-repeat -49px -139px}
.arr_left:hover{background-position:0 -205px}
.arr_right:hover{background-position:-49px -205px}
.scroll_cont{width:900px;margin:auto}/*  |xGv00|81a6c96aee40b303a9233eb250f42b8d */