/*
名称:star-ent.css
更新时间:2010-12-20
版本: 1.0.3
作者: ryanguo#tencent.com
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {margin:0; padding:0;}
table{border-collapse:collapse; border-spacing:0;}
fieldset, img {border:0;}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal;}
ol, ul ,li{list-style:none;}
caption, th {text-align:left;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
q:before, q:after{content:'';}
abbr, acronym{border:0;}
fieldset {display:inline;}
button{line-height:1.2; vertical-align:middle; cursor:pointer;}
strong{font-weight:800;}
/*字体样式*/
h1{font-family:"黑体","Arial Narrow",HELVETICA; font-size:20px; line-height:40px;}
.hei,.hei a{color:#333; text-decoration:none;}
.hei a:hover{color:#333; text-decoration:underline;}
.hui,.hui a{color:#8b8b8b; text-decoration:none;}
.hui a:hover{color:#8b8b8b; text-decoration:underline;}
.bai,.bai a{color:#fff; text-decoration:none;}
.bai a:hover{color:#fff; text-decoration:underline;}
.hong,.hong a{color:#ea0f00; text-decoration:none;}
.hong a:hover{color:#ea0f00; text-decoration:underline;}

.f12{font-size:12px;}
.f14{font-size:14px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh26{line-height:26px;}
.lh28{line-height:28px;}
.lh30{line-height:30px;}
/* Clear*/ 
.cl{zoom:1;}
.cl:after{content:"　";display:block;clear:both;height:0;}
/*模块*/
.dis{display:block; }
.undis{display:none;}
.container{width:960px; height:auto; margin:10px auto 0;}
.left,.center{float:left;}
.right{float:right;}
.fl{float:left;}
.fr{float:right;}
.pic img{padding:1px; border:1px solid #c3c3c3; background:#fff;}
.mod-pt li{float:left; text-align:center; display:inline;}
.mod-pti .fr{font-size:12px; line-height:20px;}
.mod-hd{line-height:26px;}
.mod-hd .fl{padding-left:23px; font-size:14px; font-weight:bold;}
.mod-hd .fr{padding-right:20px; font-size:12px;}
.mod-list-f12{font-size:12px;}
.mod-list-f14{font-size:14px;}
.mod-list-lr li{float:left;}
.mod-list-lr-2 .fl{font-size:14px;}
.mod-list-lr-2 .fr{font-size:12px;}
.mod-list-ph .hd li{float:left; text-align:center;}
.mod-list-ph .bd li{float:left;}
.mod-line-x{background:url(//mat1.gtimg.com/ent/star/2010/bg_xx.png) top repeat-x; height:1px; overflow:hidden;}
.ht26{height:26px; overflow:hidden;}
.ht10{height:10px; overflow:hidden;}
.ht8{height:8px; overflow:hidden;}
.ht7{height:7px; overflow:hidden;}
.ht6{height:6px; overflow:hidden;}
.ht4{height:4px; overflow:hidden;}
/*首屏*/
.first-screen .left{width:320px; height:auto;}
.first-screen .center{width:370px; height:auto; padding:0 10px;}
.first-screen .right{width:250px; height:auto;}
/*焦点图*/
#focus{width:320px; height:255px; padding-top:5px; background:#ea0f00;}
/*新闻专题*/
.hotnews{margin-top:6px;}
#tab1{width:305px; height:26px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 0; padding:6px 11px 0 4px;}
#tab1 span{float:right; font-size:12px; line-height:26px;}
#tab1 ul li{width:77px; height:26px; font-size:14px; line-height:26px; margin-right:3px; text-align:center; float:left; cursor:pointer;}
#tab1 ul li.over{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -324px 0; color:#ea0f00; font-weight:bold;}
#tab1 ul li.out{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -405px 0;}
#tabb1{width:318px; height:140px; padding-top:9px; border:1px solid #d6d6d6; border-top:none;}
.hotnews .mod-pti{width:300px; margin:0 auto 8px;}
.hotnews .mod-pti .fl{width:94px;}
.hotnews .mod-pti .fr{width:190px;}
.hotnews .mod-pti h3{font-weight:bold;}
.hotnews .mod-line-x{width:300px; height:8px; margin:0 auto;}
.hotnews .mod-list-lr{width:300px; font-size:12px; line-height:20px; margin:0 auto;}
.hotnews .mod-list-lr li{width:150px;}
/*焦点新闻*/
.headline{width:370px; height:96px; text-align:center;}
.first-screen .center .mod-line-x{width:354px; height:8px; margin:0 auto;}
/*今日焦点*/
#tab2{width:356px; height:30px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -486px 0; padding-right:13px;}
#tab2 span{float:right; font-size:12px; line-height:26px; margin-top:2px;}
#tab2 ul li{width:72px; height:28px; font-size:14px; line-height:26px; padding-top:2px; margin-right:5px; text-align:center; float:left; cursor:pointer;}
#tab2 ul li.over{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -859px 0; color:#fff; font-weight:bold;}
#tab2 ul li.out{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -935px 0; color:#333;}
#tabb2{width:360px; height:210px; padding:10px 0 0 10px;}
/*明星微博墙*/
.star-t .mod-hd{width:250px; height:28px; padding-top:4px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -40px;}
.star-t .bd{width:232px; height:413px; border:1px solid #d6d6d6; padding:0 8px; overflow:hidden;}
.star-t .mod-pti{width:232px; height:auto; padding:12px 0; border-bottom:1px solid #d5d5d5;}
.star-t .mod-pti .fl{width:44px;}
.star-t .mod-pti .fr{width:156px; padding-right:20px;}
.star-t .mod-pti .fr h3{ font:normal;}
/*栏目*/
.bagua, .renwu, .yulepinglun{width:958px; padding:0 1px 1px 1px; background:url(//mat1.gtimg.com/ent/star/2010/left_bg01.png) left top no-repeat #d6d6d6;}
.bagua .left, .renwu .left, .yulepinglun .left{width:319px; padding-top:40px;}
.bagua .left{background:url(//mat1.gtimg.com/ent/star/2010/tit_bg.png) -398px 0 no-repeat #fff;}
.renwu .left{background:url(//mat1.gtimg.com/ent/star/2010/tit_bg.png) -724px 0 no-repeat #fff;}
.yulepinglun .left{background:url(//mat1.gtimg.com/ent/star/2010/tit_bg.png) -1048px 0 no-repeat #fff;}
.bagua .left .mod-hd, .renwu .left .mod-hd, .yulepinglun .left .mod-hd, .mxtj .mod-hd{width:318px; height:26px; padding-top:4px; line-height:26px;}
.bagua .center, .renwu .center, .yulepinglun .center{width:390px; padding-top:40px; background:url(//mat1.gtimg.com/ent/star/2010/tit_bg.png) 0 0 no-repeat #fff;}
.bagua .right, .renwu .right, .yulepinglun .right{width:249px; padding-top:4px; background:url(//mat1.gtimg.com/ent/star/2010/tit_bg_right.png) top left no-repeat #fafafa;}
/*狗仔队、视频直击、明星语录、星 踪、明星语录2、博议娱圈、名人微博*/
.gzd, .spzj, .mxyl, .xz, .mxyl2, .byyq, .mrwb{border-right:1px solid #d6d6d6;}
.gzd .mod-hd, .mxyl .mod-hd, .byyq .mod-hd, .mxtj .mod-hd{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -255px -40px;}
.gzd .bd, .spzj .bd{width:310px; padding:6px 0 0 8px;}
.gzd .bd li{width:149px; padding-right:4px;}
.spzj .mod-hd, .xz .mod-hd, .mxyl2 .mod-hd, .mrwb .mod-hd{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -580px -40px;}
.spzj .bd li{width:124px; padding-right:30px;}
.spzj .bd li img{padding:2px 2px 14px 2px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -930px -40px no-repeat;}
.mxyl .hd{width:292px; margin:0 auto;}
.mxyl .hd .mod-ti{padding:10px 0;}
.xz .bd .mod-list-ph{width:283px; height:167px; padding:0 3px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -765px -153px; margin:11px auto 0;}
.xz .bd .mod-list-ph .hd{font-weight:bold; line-height:28px;}
.xz .bd .mod-list-ph .hd .sj{width:52px;}
.xz .bd .mod-list-ph .hd .dd{width:58px;}
.xz .bd .mod-list-ph .hd .mx{width:75px;}
.xz .bd .mod-list-ph .hd .gjsj{width:98px;}
.xz .bd .mod-list-ph .bd{padding-top:6px;}
.xz .bd .mod-list-ph .bd li{float:left;}
.xz .bd .mod-list-ph .bd .sj{width:52px; text-align:center;}
.xz .bd .mod-list-ph .bd .dd{width:58px; text-align:center;}
.xz .bd .mod-list-ph .bd .mx{width:84px; padding-left:26px;}
.xz .bd .mod-list-ph .bd .gjsj{width:60px;}
.mxyl2 .bd{width:294px; padding:10px 0; margin:0 auto;}
.byyq .bd{width:294px; margin:0 auto;}
.byyq .mod-pti{margin:16px 0;}
.byyq .mod-pti .fl{width:114px;}
.byyq .mod-pti .fr{width:168px;}
.byyq .mod-pti .fr h3{margin-top:4px; line-height:24px; font-weight:bold;}
.byyq .mod-list-f12{padding:14px 0;}
.mrwb .bd{width:309px; padding:8px 0 0 2px;}
.mrwb .mod-pt li{width:103px; padding-top:4px;}


/*星动态、爆料台、星立场、热门人物、访谈、人物周刊、公益新闻、媒体声音、微博动态*/
.xdt, .blt, .xlc, .rmrw, .fangtan, .rwzk, .mtsy, .wbdt{width:358px; margin:0 auto;}
.xdt .mod-hd, .blt .mod-hd, .xlc .mod-hd, .rmrw .mod-hd, .fangtan .mod-hd, .gyxw .mod-hd, .mtsy .mod-hd, .wbdt .mod-hd{height:28px; padding-top:6px; line-height:28px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -80px;}
.xdt .bd, .blt .bd, .xlc .bd{padding-top:4px;}
.rmrw .bd h1, .mtsy .bd h1, .wbdt .bd h1{margin-top:6px; padding-left:3px;}
.fangtan .mod-list-f14{padding:10px 0;}
.rwzk{height:175px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -395px -153px;}
.rwzk .mod-hd{line-height:27px; padding-top:2px;}
.rwzk .mod-pt{padding:0 3px 0 1px;}
.rwzk .mod-pt li{width:177px;}
.mtsy .mod-list-lr-2{width:344px;}

/*娱乐鉴定科、热度关系、人物热度排行、明星庆生、网友观点、名刊精选*/
.yljdk, .rdgx, .rwrdphb, .mxqs, .wygd, .mkjx{width:248px; border-left:1px solid #d6d6d6;}
.yljdk .mod-hd, .rwrdphb .mod-hd, .wygd .mod-hd{height:30px; padding-top:6px; line-height:28px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -629px -80px no-repeat;}
.yljdk .bd{width:224px; padding-left:10px; background:#fafafa;}
.yljdk .mod-pti{padding:12px 0;}
.yljdk .mod-pti .fl{width:94px;}
.yljdk .mod-pti .fr{width:110px;}
.yljdk .mod-pti .fr h3{font-weight:bold;}
.yljdk .qikan{height:20px; line-height:20px; font-weight:bold; padding:10px 0;}
.yljdk .qikan .fl{width:63px; height:20px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -363px -94px; text-align:center;}
.yljdk .qikan .fr{width:146px; padding-left:10px;}
.rdgx .mod-hd, .mxqs .mod-hd, .mkjx .mod-hd{height:29px; padding-top:6px; line-height:28px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -120px no-repeat;}
.rdgx .bd, .rwrdphb .bd{width:224px; padding:7px 0 0 9px; background:#fafafa;}
.rdgx .lianai{height:110px; background:url(images/lianai_bg.png) top center no-repeat;}
.rdgx .lianai .mod-pt{padding:2px 3px; border:1px solid #e4e4e4; line-height:24px; text-align:center;}
.rdgx .mod-list-ph{font-size:12px;}
.rdgx .mod-list-ph .hd{width:224px; height:28px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -255px -120px; font-weight:bold; line-height:28px;}
.rdgx .mod-list-ph .hd .kong{width:30px;}
.rdgx .mod-list-ph .hd .rw{width:114px;}
.rdgx .mod-list-ph .hd .gz{width:80px;}
.rdgx .mod-list-ph .bd{width:224px; height:133px; padding:0; background:url(//mat1.gtimg.com/ent/star/2010/ph_bg_01.png) top repeat-x;}
.rdgx .mod-list-ph .bd .fl{width:43px; height:133px; margin-left:3px; background:url(//mat1.gtimg.com/ent/star/2010/ph_pic_01.png) top left no-repeat; display:inline;}
.rdgx .mod-list-ph .bd .fr{width:178px; margin-top:3px;}
.rdgx .mod-list-ph .bd .fr .rw1{width:48px;}
.rdgx .mod-list-ph .bd .fr .rw2{width:66px;}
.rdgx .mod-list-ph .bd .fr .gz{width:62px;}
.rwrdphb .mod-list-ph .hd{width:224px; height:26px; line-height:26px; font-weight:bold; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -484px -120px;}
.rwrdphb .mod-list-ph .hd .mc{width:52px;}
.rwrdphb .mod-list-ph .hd .xm{width:58px;}
.rwrdphb .mod-list-ph .hd .zy{width:57px;}
.rwrdphb .mod-list-ph .hd .qs{width:56px;}
.rwrdphb .mod-list-ph .bd{width:224px; padding:0; background:url(//mat1.gtimg.com/ent/star/2010/ph_bg_01.png) top repeat-x;}
.rwrdphb .mod-list-ph .bd .fl{width:52px; height:209px; background:url(//mat1.gtimg.com/ent/star/2010/ph_pic_01.png) top center no-repeat;}
.rwrdphb .mod-list-ph .bd .fr{width:170px; padding-top:4px;}
.rwrdphb .mod-list-ph .bd .xm{width:48px; padding-left:10px;}
.rwrdphb .mod-list-ph .bd .zy{width:56px; text-align:center;}
.rwrdphb .mod-list-ph .bd .qs{width:56px; text-align:center;}
.mzrdbp{width:224px; margin:0 auto;}
.mzrdbp .hd{height:20px; line-height:20px; padding-left:8px; margin-top:7px; font-weight:bold; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -163px;}
.mxqs .bd{width:224px; margin:0 auto;}
.mxqs .bd .mod-pti{margin:10px 0;}
.mxqs .bd .mod-pti .fl{width:94px;}
.mxqs .bd .mod-pti .fr{width:114px; height:100px; overflow:hidden;}
.mxqs .bd .mod-pti h3{padding-bottom:4px; font-weight:bold}
.qsyg{width:224px; margin-top:10px;}
.qsyg .hd{font-weight:bold;}
.qsyg .hd .fl{width:63px; height:20px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -363px -94px; text-align:center;}
.qsyg .hd .fr{width:146px; padding-left:10px;}
.qsyg .bd{ height:50px;padding:7px 0 2px;overflow:hidden;}
.wygd .bd, .mkjx .bd{width:224px; margin:0 auto;}
.wygd .gd-ph{padding:14px 0;}
.wygd .gd-ph .fl{width:16px;}
.wygd .gd-ph .fr{width:192px;}
.mkjx .mod-pt li{width:94px; padding:9px 0 6px;}
.mkjx .mod-list-f12{padding-top:9px;}
/*时尚、公益、明星望远镜*/
.shishang .hd, .gongyi .hd, .xxwyj .hd, .zixun .hd, .fenmianhui .hd{width:960px; height:40px;}
.shishang .hd{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -336px;}
.shishang .hd .fr{padding:10px 12px 0 0; line-height:30px;}
.shishang .bd, .gongyi .bd, .xxwyj .bd, .fenmianhui .bd{width:958px; padding:0 1px 1px; background:url(//mat1.gtimg.com/ent/star/2010/left_bg02.png) top left no-repeat #d6d6d6;}
.shishang .left{width:309px; height:368px; padding:10px 0 0 9px; background:#fff; border-right:1px solid #d6d6d6;}
.shishang .right{width:639px; height:378px; background:#fff;}
.shishang .left .mod-pt{width:280px; height:178px; padding:8px 12px 0 8px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -580px; text-align:center; font-weight:bold;}
.shishang .left .mod-list-f12{margin-top:18px;}
.shishang .right .jp{width:627px; padding-left:11px; margin-top:6px;}
.shishang .right .jp .mod-hd{width:255px; height:28px; line-height:28px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -191px; padding-left:17px; font-weight:bold;}
.shishang .right .jp .bd{width:627px; background:none; padding-top:6px;}
.shishang .right .mod-pt li{width:149px; padding-right:7px;}
.shishang .right .htx, .shishang .right .xiezhen{width:314px; margin-top:8px; float:left;}
.shishang .right .htx{padding-left:11px; _padding-left:6px;}
.shishang .right .htx .mod-hd, .shishang .right .xiezhen .mod-hd{width:255px; height:28px; line-height:28px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -191px; padding-left:17px; font-weight:bold;}
.shishang .right .htx .bd, .shishang .right .xiezhen .bd{width:314px; background:none; padding-top:6px;}
.gongyi .hd{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -385px;}
.gongyi .left{width:168px; height:319px; background:#fff;}
.gongyi .left .mod-pt li{width:168px; margin-top:14px;}
.gongyi .center{width:334px; height:319px; padding-left:5px; background:#fff;}
.gongyi .center .gyxw .mod-hd{margin-top:3px;}
.gongyi .center .gyxw .mod-list-f14{padding:10px 0 0 4px;}
.gongyi .right{width:451px; height:319px; background:#fff;}
.gongyi .right .axzj{width:436px; height:294px; margin-top:12px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -303px -580px;}
.gongyi .right .axzj .mod-hd{height:30px; line-height:30px;}
.gongyi .right .axzj .bd{width:403px; margin:4px auto 0; background:#fff;}
#tab3{width:403px; height:26px; background:url(images/bian-bg_01.png) bottom right no-repeat;}
#tab3 ul li{width:122px; height:26px; font-size:14px; line-height:26px; margin-right:4px; text-align:center; float:left; cursor:pointer;}
#tab3 ul li.over{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -223px; color:#ea0f00; font-weight:bold;}
#tab3 ul li.out{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -126px -223px;}
#tabb3 .mod-pti{padding:10px 0;}
#tabb3 .mod-pti .fl{width:114px;}
#tabb3 .mod-pti .fr{width:274px;}
#tabb3 .mod-pti .fr h3{font-weight:bold; margin-bottom:8px; line-height:26px;}
.xxwyj .hd{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -434px;}
.xxwyj .left{width:318px; height:349px; border-right:1px solid #d6d6d6; background:#fff;}
.xxwyj .right{width:639px; height:349px; background:#fff;}
.mxtj .bd{width:309px; padding:8px 0 0 9px; background:none;}
.mxtj .tj-xx{width:290px; height:226px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -744px -580px; padding:8px 0 0 10px;}
.mxtj .tj-xx li{line-height:17px; overflow:hidden; margin:2px 0 3px;}
.mxtj .tj-xx .fl{padding:0 5px; background:#dfdfdf; margin-right:8px;}
.mxtj .tj-xx .tit .fl{padding:0 2px; background:#787878; margin-right:2px;}
.mxtj .mod-list-f12{margin-top:16px;}
.nyns .mod-hd{width:628px; height:38px; line-height:38px; margin:0 auto; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) -1039px 0 no-repeat;}
.nyns .bd{width:628px; background:none; padding-left:11px;}
.nyns .mod-pt li{width:149px; padding:0 7px 11px 0;}
.zixun .hd{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -483px;}
.zixun .zx-list{width:473px; height:323px; border:1px solid #d6d6d6; margin-top:10px;}
.zixun .zx-list .mod-hd{width:473px; height:28px; line-height:28px; padding-top:2px; background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -880px;}
.zixun .zx-list .bd{width:446px; margin:0 auto;}
.zixun .zx-list .bd .mod-list-lr-2{margin:8px 0;}
.fenmianhui .hd{background:url(//mat1.gtimg.com/ent/star/2010/bg.png) 0 -531px;}
.fenmianhui .mod-pt{padding:4px 0 1px 3px; background:#fff;}
.fenmianhui .mod-pt li{width:159px;}
.hezuo{width:906px; height:153px; padding:20px 36px 0 18px; background:url(//mat1.gtimg.com/ent/star/2010/bg_1.png) no-repeat;}
.hezuo .hzgs{height:98px;}
/*3级页*/
#tab-list3{width:878px; height:30px; padding:13px 0 0 82px; background:url(//mat1.gtimg.com/ent/star/2010/list_bg.png) 0 0 no-repeat;}
#tab-list3 ul li{width:72px; height:30px; font-size:14px; line-height:28px; margin-right:4px; text-align:center; float:left; cursor:pointer;}
#tab-list3 ul li.over{background:url(//mat1.gtimg.com/ent/star/2010/list_bg.png) 0 -45px; color:#fff; font-weight:bold;}
#tab-list3 ul li.out{background:url(//mat1.gtimg.com/ent/star/2010/list_bg.png) -75px -45px;}
#tabb-list3{width:958px; padding:0 1px 1px 1px; background:url(//mat1.gtimg.com/ent/star/2010/list_bg.png) -969px 0 no-repeat #d6d6d6;}
#tabb-list3 span{background:#fff; padding-left:35px;}
#tabb-list3 .list3-more{width:314px; height:26px; padding:3px 0 0 14px; line-height:26px; background:url(//mat1.gtimg.com/ent/star/2010/list_bg.png) -152px -45px; font-weight:bold;}
#tabb-list3 .mod-list-f14{padding:12px 0;}/*  |xGv00|17d67adc39458ca43b812a254eeececc */