blockquote,body,button,dd,dl,dt,form,h1,h2,h3,h4,input,li,ol,p,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{color:#222;text-align:left;font-size:9pt;line-height:1.5em}
button,h1,h2,h3,h4,input,select,textarea{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none;list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{text-align:left;font-weight:400}
fieldset,img{border:0;vertical-align:middle}
a{outline:0;color:#222;font-size: 12px;}
a,a:hover{text-decoration:none}
a:hover{color:#266abd}
.contentdiv,.hide,.spanclass{display:none}
.show{display:block}
.clx:after{display:block;content:"\20"}
.clear,.clx:after{clear:both;overflow:hidden;height:0}
.clear{visibility:hidden;font-size:0;line-height:0}
/* clear */
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*display:inline-block;}
*html .clearfix{height:1%}
.clearfix{/*display:block;*/}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.f14{font-size:14px}
.f16{font-size:1pc}
.pb10{padding-bottom:10px}
.pb5{padding-bottom:5px}
.fl{float:left}
.fr{float:right}
.lh24{line-height:24px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt20{padding-top:20px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb35{margin-bottom:35px}
.mb40{margin-bottom:40px}
.f-my{font-family:Microsoft YaHei}
.wrap{font-family:Microsoft YaHei,Arial Narrow,HELVETICA}
.center{margin:0 auto;width:750pt}
.nav{height:40px;background:#266abd}
.nav .navLink a{float:left;display:block;padding:0 33px;height:40px;color:#fff;font-size:1pc;line-height:40px}
.nav .navLink a.cur,.nav .navLink a:hover{background:#1f5aa1;text-decoration:none}
.nav .st{float:right}
.nav .st a{display:block;padding-left:20px;color:#fff;line-height:40px}
.fs_A1{position:relative;float:left;width:660px;height:380px;background:#000}
.fs_A1 .A1fBt{position:absolute;right:10px;bottom:8px;z-index:11;clear:both;height:5px}
.fs_A1 .shadow{position:absolute;bottom:0;left:0;z-index:10;display:block;padding-top:50px;width:100%;height:50px;background:rgba(0,0,0,.6);background:-webkit-linear-gradient(bottom,#000,rgba(0,0,0,.3),transparent);background:linear-gradient(to top,#000,rgba(0,0,0,.3),transparent);text-align:left;line-height:40px}
.fs_A1 .shadow a{overflow:hidden;margin-left:15px;color:#fff;text-decoration:none;font-size:18px}
.fs_A1 .fcon{position:relative;float:left;display:none;width:100%}
.fs_A1 .A1fBt i{font-style:normal}
.fs_A1 .A1fBt a{float:left;display:block;margin-right:15px;width:9pt;height:5px;background:#fff;cursor:pointer}
.fs_A1 .A1fBt a.current,.fs_A1 .A1fBt a:hover{background:#266abd}
.fs_A1 .fcon img{display:block}
.foc_r{float:right;width:325px}
.fpic{position:relative}
.fpic span{padding-top:40px;background:#000;background:-webkit-linear-gradient(bottom,#000,rgba(0,0,0,.6),transparent);background:linear-gradient(to top,#000,rgba(0,0,0,.6),transparent)}
.fpic i,.fpic span{position:absolute;bottom:0;left:0;display:block;width:100%;height:30px}
.fpic i{color:#fff;text-align:center;font-size:14px;line-height:30px}
.fpic a{display:block;color:#fff}
.aTitle{color:#333;font-size:20px;font-size:24px;line-height:2pc}
.aTitle a:hover,.aTitle1 a:hover{color:#2076bd;text-decoration:none}
.aTitle em{color:#dcdcdc}
.aSum{padding-right:50px;color:#999;line-height:24px}
.ht_con{float:left;padding-bottom:10px;padding-left:8px;width:590px;border-bottom:1px dotted #dcdcdc}
.colA{float:left;width:660px}
.colB{float:right;width:325px}
.colB .tit{width: 235px;overflow: hidden;text-overflow: ellipsis;height: 25px;white-space: nowrap;}
.col_title{height:40px;font-size:24px;line-height:30px}
.col_title span{color:#006bbe}
.chuang_title{height:40px;color:#006bbe;font-size:24px;line-height:30px}
.chuang_title i{width:40px;height:30px;background:url(//mat1.gtimg.com/gd/2016/chuangjia/chuangj.png) no-repeat 0 0}
.chuang_title i,.tt_ico{float:left;display:block}
.tt_ico{margin:5px 10px 0 0;padding-top:10px;padding-right:5px;width:45px;height:57px;color:#fff;text-align:center;font-size:18px;line-height:22px}
.tt_ico_1{background:url(//mat1.gtimg.com/gd/2016/chuangjia/tt_1.png) no-repeat 0 0}
.tt_ico_2{background:url(//mat1.gtimg.com/gd/2016/chuangjia/tt_2.png) no-repeat 0 0}
.tt_ico_3{background:url(//mat1.gtimg.com/gd/2016/chuangjia/tt_3.png) no-repeat 0 0}
.tt_others{margin-left:58px}
.tt_others li{display:inline-block;width:260px}
.tt_others li i{color:#6fa6d7}
.hd{padding-top:8px;height:40px;background:url(//mat1.gtimg.com/gd/images/channel/ent2014/hd_bagua.png) repeat-x center center}
.hd .chuang_title{float:left;padding-right:10px;background-color:#fff}
.lm_tags i{float:left;display:block;width:163px;height:38px;border-top:2px solid #fff;border-right:1px solid #fff;border-bottom:1px solid #266abd;border-left:1px solid #fff;color:#666;text-align:center;font-size:18px;line-height:38px;cursor:pointer}
.lm_tags i.cur{color:#333;border-top-color:#266abd;border-left-color:#266abd;border-right-color:#266abd;border-bottom-color:#fff}
.lm_tags i:first-child.cur{border-left:1px solid #fff}
.lm_tags i:last-child.cur{border-right:1px solid #fff}
.lm_con{display:none}
.lm_con.cur{display:block}
.lm_con .pics{height:190px}
.lm_con .pics li{float:left;margin-right:50px;width:180px}
.lm_con .pics li img{display:block}
.lm_con .pics li span{display:block;overflow:hidden;height:50px;text-align:center;font-size:1pc;line-height:50px}
.lm_con .news li{float:left;width:310px;height:40px;border-bottom:1px dotted #dcdcdc;line-height:40px}
.lm_con .news li i{color:#6fa6d7}
.lm_con .news li a{color:#666}
.lm_con .news li a:hover{color:#266abd}
.lm_con .news li.blank{width:29px;border:none}
.pic-list{margin-right:15px;margin-bottom:14px;padding:0 0 20px;border-bottom:1px solid #eee}
.pic-list .p-thumb{float:left;margin-right:20px;padding-top:6px}
.pic-list .pic-tit h3{overflow:hidden;padding-bottom:5px;height:30px;line-height:30px}
.pic-list .pic-details{padding-bottom:15px;height:39px;color:#666;font-size:9pt;line-height:18px}
.pic-list h3 a{font-weight:400;font-size:18px}
.clearfix:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0;content:""}
.clearfix{zoom:1}
.p-thumb{float:left;margin-right:20px;padding-top:6px}
.J_lazyload{background:#eee url(http://static.21cnimg.com/css/it/img-index_20130607/loader.gif) no-repeat 50% 50%}
.pic-tit h3{overflow:hidden;padding-bottom:5px;height:30px;line-height:30px}
.pic-info{float:left;overflow:hidden;width:280px;height:20px;font-size:9pt;font-family:宋体;line-height:20px}
.pic-info span{float:none;margin-right:10px;color:#999}
.pic-info span.time{padding-right:10px;border-right:1px solid #ccc}
.pic-info span em a{padding-right:10px;color:#40598b}
.plBtnspan{display:block;width:1pc;height:1pc;background:url(//mat1.gtimg.com/gd/2016/chuangjia/comm.png) no-repeat 0 0;cursor:pointer}
.aTools i{position:relative;float:left;display:block}
.aTools .iShareWrap{position:absolute;top:14px;left:-110px;display:none;padding-top:4px;width:350px}
.aTools i:hover .iShareWrap{display:block}
.aTitle a:hover i,.aTitle1 a:hover i{color:#565e75}
.aTools{padding-top:0}
.aTools a{float:left;display:block;margin-right:0;padding-top:10px;width:1pc;height:1pc}
.aRet{background:url(//mat1.gtimg.com/gd/2016/chuangjia/share.png) no-repeat 0 0}
.colB .news li{height:30px;line-height:30px}
.colB .news li i{color:#6fa6d7}
.colB .news li a{color:#666}
.colB .news li a:hover{color:#266abd}


.bigpics a{float:left;margin-bottom:15px;background:#000}
.bigpics a,.bigpics img{display:block;height:250px}
.bigpics img:hover{opacity:.7}
.bigpics span{float:left;display:block;width:15px;height:250px}


.youlian td{padding-left:10px}
.hezuo{padding:10px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;line-height:30px}
.btm{padding-top:15px;background:#333438}
body #footer,body #footer #tcopyright,body #footer a{color:#888886}
.pic-list .pic-details{padding-bottom:0; margin-bottom:15px; overflow:hidden}
.chlinks{padding-top:10px; color:#777;}
.chlinks a{color: #777;}
.chlinks a:hover{color: #266ABD;}



.pc-banner{width:100%;float:left;height:450px}
.swiper-container{width:100%;margin:35px 0 0;height:415px}
.swiper-slide{height:70%;-webkit-transition:transform 1s;-moz-transition:transform 1s;-ms-transition:transform 1s;-o-transition:transform 1s;-webkit-transform:scale(.7);transform:scale(.7)}
.swiper-slide-active,.swiper-slide-duplicate-active{-webkit-transform:scale(1);transform:scale(1)}
.none-effect{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none}
.swiper-slide a{background:#fff;padding:10px;display:block;border-radius:14px}
.swiper-slide-active a:after{background:0 0}
.swiper-slide img{width:100%;height:300px;border-radius:5px;display:block}
.button{width:1000px;margin:0 auto;bottom:43px;position:relative}
.button div:hover{background-color:#006bbe}
/*  |xGv00|93f96983cb1d39497b0960507fcf7ffe */