@charset "utf-8";
/* CSS Document */
/*html5初始化*/
header, hgroup, menu, nav, section, menu,footer,article{display:block; margin:0; padding:0;}
body,p,input,h1,h2,h3,h4,ul,ol,li,dl,dt,dd,form{margin:0; padding:0; list-style:none; vertical-align:middle;}
body{margin:0; padding:0; font-family: "Microsoft YaHei"; background:#ffffff; font-size:12px; }
.btn{
  display: inline-block;
  width: 230px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 28px;

  border-radius: 3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;

  cursor: pointer;
  text-decoration: none;
}
.smallbtn{
  display: inline-block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;

  border-radius: 3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;

  cursor: pointer;
  text-decoration: none;
}
.hide{
  display: none;
}
.container{
  width:960px; margin:0 auto;
  margin-top: 20px;

}
.top_radius{
  border-top-left-radius: 4px;
  border-top-right-radius:4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius:4px;
  -moz-border-top-right-radius:4px;
}
.bottom_radius{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius:4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius:4px;
  -moz-border-bottom-right-radius:4px;
}

.logo .jijinhui{
  width:240px; 
  height:52px;
  display: inline-block;
  background:transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/logo.png) no-repeat 0 0;
   
}
.logo .qq{
  width:240px; 
  height:52px;
  display: inline-block;
  background:transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/logo.png) no-repeat 0 -52px
   
}
.loginarea{
  float: right;

}

/*导航*/
.nav{
  padding-top: 35px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.nav a, .nav a:link, .nav a:hover,.nav  a:visited{
  text-decoration: none;
  color: #4d4d4d;
}

.nav>ul>li{
  display: inline-block;
  float: left;
  text-align: center;
  width: 140px;
  height: 50px;
  line-height: 50px;
  color: #4d4d4d;
  background-color: #fff;
  cursor: pointer;
}
.nav ul ul{
 
  margin: 0; 
  border: 0 none;
  padding: 0; 
  width: 160px; 
  list-style: none; 
  display: none; 
  position: relative; 
  top: 0; 
  left: 18px; 
  font-size: 16px;
  background-color: #e2e2e2;
}
.nav >ul> li:hover{
  color: #c22930;
 
}
.nav ul li:hover ul { 
display: block; 
z-index: 999;
}
.nav ul ul li{
  color: #fff;
  border: 1px solid #fff;
}
.nav ul ul li:hover{
  color: #c22930;
  background-color: #cfc7c0;
}

/*导航当前页的样式*/
#b_page1 .nav li#li_page1, #b_page1 .nav li#li_page1 a,
#b_page2 .nav li#li_page2, #b_page2 .nav li#li_page2 a,
#b_page3 .nav li#li_page3, #b_page3 .nav li#li_page3 a,
#b_page4 .nav li#li_page4, #b_page4 .nav li#li_page4 a,
#b_page5 .nav li#li_page5, #b_page5 .nav li#li_page5 a,
#b_page6 .nav li#li_page6, #b_page6 .nav li#li_page6 a
{
  color: #fff;
  background-color: #c22930;
}

/*banner*/
.bannerarea{
  position: relative;
}
#banner{
  position: relative;
}
.sideShow {
height: 532px;

width: 100%;
max-height: 532px;
background: #fff;
z-index: 1;

margin: 0 auto;
background: transparent url(http://im-img.qq.com/home/img/q2013/loading.gif) no-repeat center center;
}
.sideShow div {
position: absolute;
max-height: 532px;
width: 100%;
display: none;
}
.circle{
width: 100%;
text-align: center;
position: absolute;
bottom: 0px;
padding-bottom: 15px;
z-index: 10;
}
.circle li.on {
background: transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/active.png) no-repeat center center  ;
background-size: 100%;
width: 14px;
height: 14px;
}

.circle li {
display: inline-block;
 
margin: 0 2px;
width: 14px;
height: 14px;

background: transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/normal.png) no-repeat center center  ;
background-size: 100%;
cursor: pointer;
}

.floatarea{
  position: absolute;
  z-index: 10;
bottom: 15px;
left: 50px;
}
.floatarea .p1{
  font-size: 22px;
  color: #fff;
}
.floatarea .p2{
  font-size: 30px;
  color: #fff;
  letter-spacing: 7px;
}
#total_amount{
  color: #000;
  letter-spacing: 6px;
  background: transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/number.png) repeat-x -1px 3px;
}

.donate{
  background-color: #c6171f;
  color: #fff;
  position: absolute;
  bottom: 70px;
  right: 80px;
  z-index: 10;
}
/*end banner*/

/*intro*/
.intro{
  background-color: #c22930;
  color:#fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius:4px;
  padding: 25px 50px;
  font-size: 18px;
}
.intro_text{
  width: 520px;
  display: inline-block;
}
.intro h2{
  font-size: 30px;
  margin-bottom: 20px;
}
.intro p{
  margin:15px 0px;
}
.intro_detail{
  font-size: 14px;
  color: #fff;
}

.share{
  background-color: #efeae7;
  color: #2c2826;
  margin-top: 5px ;
}
.intro_video{
  width:325px;
  display: inline-block;
}



/*symbol*/
.symbol{
  margin:35px 0px;
  background-color: #efeae7;
  height: 475px;
}
.symbol .s_title{
  font-size: 36px;
  line-height: 50px;
  color: #7d7d7b;
  padding:10px 10px;

}
.symbol .s_items{
  margin-top: 50px ;
 
  border: 0 none;
  
}
.clear{
  clear: both;
}
.symbol .s_item{
  width: 320px;
  display: inline-block;
  float: left;

}
.symbol .s_item .s_pic{
  margin: auto;
  width:320px;
  height: 210px;
  display: inline-block;
}
.s_cer{
  background: transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/cers.png) no-repeat 0 0;
}
.s_icon{
  background: transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/cers.png) no-repeat -320px 0;
}
.s_head{
  background: transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/cers.png) no-repeat -640px 0;
}
.symbol .s_name{
  font-size: 36px;
  line-height: 50px;
  color: #c6171f;
  text-align: center;
  margin: 15px;
}
.symbol .s_desc{
  font-size: 18px;
  color: #808080;
  text-align: center;
}


/*学校队伍列表*/
.schoolteam{
  height: 480px;
}
.st_header{
  height: 90px;
  background-color: #c22930;
  color: #fff;
  padding: 10px 15px;
}
.st_t1{
  font-size: 36px;
  line-height: 50px;
}
.st_t2{
  font-size: 18px;
  margin-top: 10px;
}
.st_detail{
   float: right;
   margin-top: -20px;
}
.st_content{
  padding: 50px 20px;
  background-color: #efeae7;
  height:270px;
}
.st_list{
  display: inline-block;
  width: 460px;
  float: left;
}
.st_list_title{
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
  color: #c6171f;
}
.st_list dt, .st_list dd{
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  color: #2c2826;
}
.st_list dt{
    padding-left: 100px;  
    width: 200px;
}
.st_num{
   color: #c6171f;
}

/*最新资讯 */
.info{
  background-color: #efeae7;
  padding: 50px;
  margin-top: 35px;
}
.info_pic{
  width: 420px;
  height: 280px;
  display: inline-block;
  float: left;

}
.info_news{
  width: 400px;
  height: 280px;
  overflow: hidden;
  display: inline-block;
  float: left;
  padding-left:30px;
}
.info_news h2{
  font-size: 22px;
  color: #c6171f;
  font-weight: normal;
}
.info_news ul{
  padding-top: 10px;
}
.info_news li{
  font-size: 14px;
  line-height: 40px;
}
.map{
  margin: 35px 0;
}
/*合作方logo*/
.corp{
  /*background-color: #efeae7;*/
  font-weight: 700;
  font-size: 18px;
  font-family: "微软雅黑";
  padding: 30px 20px 0px 20px;
  background-color: #efeae7;
}
.corp table tr td {
  padding: 5px 4px 5px 0;
}
.zlhz_img {
  padding-top: 16px;
}
.zlhz span {
  padding-right: 20px;
}
.corp table tr.title_jj td {
padding-top: 15px;
}


.footer{
  background-color: #efeae7;
  padding-top: 50px;
  height: 100px;
  line-height: 30px;
  text-align: center;
}




/***self.html**********************************/

.commend{
     background: transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/header.jpg) no-repeat 0 0;
     height: 350px;
     color: #fff;
     font-size: 36px;
}
.commend_text{
    display: inline-block;
    float: left;
    width: 700px;
    line-height: 55px;
    padding: 55px 0 0 50px;
}
.commend_headimage{
    display: inline-block;
    float: left;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius:20px;
    border: 2px solid #efeae7;
    height: 180px;
    width: 180px;
    margin: 83px 3px;
}

.symbol2{
  margin:35px 0px;
  background-color: #efeae7;
  height: 270px;
}
 .s_item2{
  width: 480px;;
  display: inline-block;
  float: left;

}
.s_item2 .s_pic{
  margin-top: 20px;
  width:220px;
  height: 210px;
  float: left;
  display: inline-block;
}
 
.s_rightpart{
  float: left;
  text-align: center;
}
.s_rightpart .s_desc{
  padding-top: 70px;
  height: 90px;
  width: 250px;
  font-size: 18px;
}
.qzshare{
  background-color: #e99819;
  color: #fff;
}

.qzshare.disabled{
  background-color: #7d7d7b;
  color: #fff;
}
/***end self.html**********************************//*  |xGv00|8a9554cb0fb4a8733f82ba9bfebffb21 */