/*
 **************************************************************************
 *                                                                        *
 *  @author          TID (tid.tenpay.com)                                 *
 *  @date            2014.4.29                                            *
 *                                                                        *
 **************************************************************************
*/


/* ============================================================
   样式重置
   ============================================================ */

body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,blockquote,address,pre{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;vertical-align:middle;}
ul,dl,ol{list-style:none;}
img,fieldset{border:none;}
img{display:inline-block;overflow:hidden;vertical-align:top;}
em,address{font-style:normal;}
sup,sub{vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0;}
q:before{content:"";}
q:after{content:"";}
button{cursor:pointer;}
textarea{word-wrap:break-word;resize:none;}  /* word-wrap for opera, resize for webkit */
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
menu{margin:0;padding:0;}
mark{background-color:transparent;}



/* ============================================================
   字体样式
   ============================================================ */
body{color:#333333;font:12px/1.5 Tahoma, Arial, "MicroSoft Yahei";}
legend, button, select, textarea, input{color:#333;font-family:Tahoma, Arial, "MicroSoft Yahei";}
a{color:#333333;text-decoration:none;}
a:hover{text-decoration:underline;}
a:focus{outline:none;}



/* ============================================================
   页面框架
   ============================================================ */

/* 页头 */
.header{background-color:#FFFFFF;}
.header-wrap{width:960px;margin:0 auto;padding-top:13px;}
.header-top:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.header-top{zoom:1;}
.header .logo-gongyi{margin-right:40px;}
.header .logo{float:left;}
.header .login{float:right;padding-right:10px;}
.header .login-link{color:#999999;}
.header .nav{padding-top:32px;}
.header .nav-main:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.header .nav-main{zoom:1;}
.header .nav-main li{float:left;width:160px;overflow:hidden;}
.header .nav-link{display:block;height:48px;line-height:48px;border:1px solid #DCDCDC;background-color:#FFFFFF;text-align:center;font-size:20px;border-left:0 none;}
.header .nav-link:hover, .header .nav-link-on{background-color:#C22930;border-color:#C22930;color:#FFFFFF;text-decoration:none;}
.header .nav-link-first{border-left:1px solid #DCDCDC;}
.header .nav-sub{z-index:999;position:absolute;width:160px;opacity:0.9;filter:alpha(opacity=90);visibility:hidden;}
.header .nav-sub li{float:none;width:auto;}
.header .nav-sub .nav-link{border:0 none;background-color:#FFFFFF;}
.header .nav-sub .nav-link:hover{background-color:#C22930;}
.header .nav-sub .nav-link-even{background-color:#DDD3CF;}
.header .show-nav-sub .nav-sub{visibility:visible;}


/* 页面主体 */
.main{width:960px;margin:0 auto;border-top:5px solid #C22930;background-color:#FFFFFF;}


/* 分享链接 */
.share-ico{background:url(../../../../gongyi/activity/yxj/pc/school_detail.png) no-repeat;float:left;text-indent:-999px;width:18px;height:18px;overflow:hidden;margin-left:1px;}
.share-qqwb{background-position:0 0;}
.share-qzone{background-position:-19px 0;}
.share-weixin{background-position:-38px 0;}
.share-pengyou{background-position:-57px 0;}
.share-sinawb{background-position:-76px 0;}
.share-renren{background-position:-95px 0;}
.share-kaixin{background-position:-114px 0;}
.share:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.share{zoom:1;}


/* 面包屑导航 */
.breadcrumb:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.breadcrumb{zoom:1;width:960px;margin:0 auto;padding:16px 0 6px;font-size:18px;}
.breadcrumb-wrap{float:left;}
.breadcrumb-item{color:#333333;}
.breadcrumb-item:hover{text-decoration:underline;}
.breadcrumb-item-on{text-decoration:none;cursor:text;font-size:24px;}
.breadcrumb-item-on:hover{text-decoration:none;}
.breadcrumb .share{float:right;margin-top:13px;}


/* 页面横幅 */
.banner-img-describe{background:url(../../../../gongyi/activity/yxj/pc/banner.png) no-repeat;display:block;width:221px;height:44px;overflow:hidden;}
.banner{background:#E8A274 url(../../../../gongyi/activity/yxj/pc/banner_bg.png) no-repeat center 0;position:relative;z-index:-1;height:328px;width:100%;overflow:hidden;}
.banner-list{position:relative;width:960px;margin:0 auto;}
.banner-item{position:absolute;border:8px solid #FFFFFF;background-color:#FFFFFF;
	-webkit-box-shadow:1px 2px 1px 0 #777777;
	-moz-box-shadow:1px 2px 1px 0 #777777;
	box-shadow:1px 2px 1px 0 #777777;
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, color=#777777);
}
.banner-item .banner-img{position:relative;overflow:hidden;}
.banner-item .banner-img img{position:absolute;}

.banner-item1{left:-343px;top:47px;}
.banner-item1 .banner-img{width:127px;height:75px;}
.banner-item2{left:-191px;top:19px;}
.banner-item2 .banner-img{width:163px;height:103px;}
.banner-item3{left:5px;top:57px;}
.banner-item3 .banner-img{width:105px;height:65px;}
.banner-item4{left:-428px;top:151px;}
.banner-item4 .banner-img{width:118px;height:73px;}
.banner-item5{left:-281px;top:151px;}
.banner-item5 .banner-img{width:122px;height:102px;}
.banner-item6{left:-131px;top:151px;}
.banner-item6 .banner-img{width:103px;height:73px;}
.banner-item7{left:4px;top:151px;}
.banner-item7 .banner-img{width:105px;height:64px;}
.banner-item8{left:138px;top:31px;}
.banner-item8 .banner-img{width:119px;height:186px;}
.banner-item9{left:289px;top:26px;}
.banner-item9 .banner-img{width:221px;height:190px;}
.banner-item10{left:538px;top:55px;}
.banner-item10 .banner-img{width:105px;height:64px;}
.banner-item11{left:675px;top:49px;}
.banner-item11 .banner-img{width:98px;height:70px;}
.banner-item12{left:538px;top:146px;}
.banner-item12 .banner-img{width:105px;height:71px;}
.banner-item13{left:675px;top:145px;}
.banner-item13 .banner-img{width:101px;height:72px;}
.banner-item14{left:802px;top:65px;}
.banner-item14 .banner-img{width:94px;height:130px;}
.banner-item15{left:925px;top:26px;}
.banner-item15 .banner-img{width:90px;height:125px;}
.banner-item16{left:926px;top:176px;}
.banner-item16 .banner-img{width:90px;height:55px;}
.banner-item17{right:-195px;top:81px;}
.banner-item17 .banner-img{width:93px;height:129px;}
.banner-item18{right:-444px;top:5px;}
.banner-item18 .banner-img{width:221px;height:117px;}
.banner-item19{right:-318px;top:151px;}
.banner-item19 .banner-img{width:93px;height:130px;}
.banner-item20{right:-446px;top:151px;}
.banner-item20 .banner-img{width:102px;height:73px;}

/* 动画效果 */
.banner .banner-item .show-amt{-webkit-animation:amt-imgzoom 2s ease forwards;-moz-animation:amt-imgzoom 2s ease forwards;animation:amt-imgzoom 2s ease forwards;}
@-webkit-keyframes amt-imgzoom{
	0%{-webkit-transform:scale(1.1);opacity:0;}
	100%{-webkit-transform:scale(1);opacity:1;}
}
@-moz-keyframes amt-imgzoom{
	0%{-webkit-transform:scale(1.1);opacity:0;}
	100%{-webkit-transform:scale(1);opacity:1;}
}
@keyframes amt-imgzoom{
	0%{transform:scale(1.1);opacity:0;}
	100%{transform:scale(1);opacity:1;}
}




/* ============================================================
   模块
   ============================================================ */


/* [基类] 翻页 */
.page:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.page{zoom:1;text-align:right;margin-top:30px;}
.page-link{float:left;margin-left:16px;color:#333333;font-size:16px;border:1px solid #C3C3C3;padding:5px 13px;background-color:#FFFFFF;}
.page-link:hover, .page-link-on{background-color:#C22930;text-decoration:none;color:#FFFFFF;border:1px solid #E2E2E2;}
.page-link-previous, .page-link-next{padding:5px 18px;}
.page-link-previous{margin-left:0;}

/* [扩展类] 翻页-居右 */
.page-align-right .page-wrap{float:right;}

/*  |xGv00|6dac70c527048a5d7fef99dec727d1e1 */