.topBannerDiv{width:100%;height:323px;background:url(../images/gxduImgBg.gif) center center;position:absolute;top:148px;left:0;z-index:10;}
.topBannerDivMargin{margin-top:323px;}
.bottomDivText{height:64px;width:960px;background-color:white;margin:0 auto;margin-top:259px;background:url(../images/topBannerBgImg.png);position:relative;}
.listBanner{width:203px;overflow:hidden;background-color:white;z-index: 1000;position:absolute;top:10px;left:10px;}
.listABtn{font-size:18px;color:white;text-decoration:none;text-align:center;line-height:39px;float:left;display:block;width:203px;height: 39px;background:url(../images/listIconBg.gif) no-repeat center right #c22930;}
.rightPText{font-size:21px;float:right;line-height:64px;color:#ab941c;padding-right:20px;}
.mainListDiv{width:100%;overflow:hidden;border-top:10px solid #b8b7b6;background-color:#efeae7;}
.tableCs{border-collapse:collapse;background-color:white;border:1px solid #dcdcdc}
.tableCs thead{font-size:18px;color:#666666;font-weight:700;}
.tableCs td{height:87px;font-size:14px;color:#666666;padding:10px;line-height:28px;border:1px solid #dcdcdc}
.tableCs td.redText span{font-size:18px;font-weight:700;color:#c22930}
.tableCs tr.evenTrCs{background-color:#f7f4f3;}
.tableCs tr.hoverCs{background-color:#fef5cf;border-left:5px solid #c22930}
.pageDiv{width:100%;overflow:hidden;padding:10px;}


.listUlIteam li a{display:block;width:203px;font-size:18px;color:white;text-align:center;line-height:35px;background-color:#cfb321;border-bottom:1px solid white;text-decoration:none;}
.listUlIteam li a:hover{color:#c22930;border-bottom:1px solid #c22930}



.topBannerHeightBg{height:410px;background-image:url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/topBannerImg2.gif)}
.topBannerHeightBg2{height:410px;background-image:url(../images/topBannerRedImg.gif);z-index:-1;}
.topBannerDivMargin2{margin-top:412px;}
.bannerMain{width:960px;height:410px;margin:0 auto;}
.banMaiTopText{width:100%;height:60px;border-bottom:5px solid #c22930}
.titleTextList{font-size:18px;color:#000;float:left;line-height:60px;}
.titleTextList span{font-size:25px;}
.banMainRightImg{float:right;margin:35px 10px 0px 0px;}
.banMaiTopRigText{float:right;font-size:14px;margin:25px 5px 0px 10px}
.banMaiTopRigText span{font-size:25px;}

.banLeftImgDiv{width:500px;height:345px;float:left;background-color:#f1f1f1;position:relative;}
.imgDiv{position:absolute;width:500px;height:280px;z-index:1;}
.imgBottomText{text-indent:2em;font-size:14px;color:#666;line-height:26px;z-index:10;display:block;position:absolute;bottom:13px;padding:0 10px;overflow:hidden;background:url(../images/topBannerBgImg.png) repeat-x;}

.banRightTopDiv{width:420px;height:160px;background-color:white;float:right;padding:20px 4px 0px 36px;}
.banRightTopDiv p.imgNotice{display:block;height:60px;font-size:14px;color:#7a7a7a;line-height:60px;background:url(../images/imgNotice.jpg) no-repeat top center;border-bottom:1px solid #c9c9c9;margin-bottom:10px;}
/*------    notice        ------------*/
.banRightTopDiv p.imgNotice_sh{background-position:center -59px;}
.banRightTopDiv p.imgNotice_mk{background-position:center -128px;}
.banRightTopDiv p.imgNotice_zx{background-position:center -194px;}
.banRightTopDiv p.imgNotice_js{background-position:center -263px;}
.banRightTopDiv p{font-size:14px;color:#666;line-height:40px;}
.yichouP{display:block;float:left;width:150px;font-size:14px;color:black;background:url(../images/yichouImgIcon.gif) no-repeat left center;padding-left:60px;}
.banRightTopDiv p span{color:black;}
.banRightTopDiv p.jkrsP{text-align:right;padding-right:30px;}
.banRightBottomDiv{width:420px;height:135px;background-color:#f1f1f1;float:right;padding:15px 20px;font-size:14px;color:#858585}

.numberSpan{padding:3px;background-color:white;border:1px solid #dddddd;margin-right:5px;color:black;}
.redBorderCs{border:2px solid #c22930}
.numberP{color:black;background-color:white;padding:7px 4px 4px 0px;overflow:hidden;}
.inputCs{width:60px;height:20px;border:none;}
.numberP span{padding:5px;}
.numberP span.numberSpan{margin-top:3px;}
.buttonCs{width:115px;height:39px;background:url(../images/buttonImg.gif) no-repeat;overflow:hidden;border:none;}

.mainTextDiv{width:100%;overflow:hidden;background-color:white;padding-bottom:40px;}
.MainTextLeftPart{width:570px;overflow:hidden;float:left;padding:20px 0px 0px 20px;}
.MainTextRightPart{width:300px;height:2000px;float:right;background-color:white;padding:15px;}
.titlePartP{display:block;width:100%;border-bottom:1px solid #dadada;font-size:18px;line-height:30px;color:black;float:left;margin-bottom:15px;}
.titlePartP span{background:url(../images/topAngleImg.gif) no-repeat left bottom;line-height:45px;padding:10px 0px;float:left;margin-bottom:-1px;}
.text2Code {display:block;}
.text2Code dt{float:left;width:141px;height:174px;}
.text2Code dd{text-indent:2em;float:right;width:390px;height:174px;font-size:14px;color:#666;line-height:28px;}

.imageShowDiv{clear:both;height:300px;width:100%;background-color:gray;}
.pCsText{font-size:14px;line-height:30px;color:#3a3838;}
.pCsText span{font-size:18px;font-weight:700;line-height:50px;}
.titlePartP span.rightTitleSpan{float:right;font-size:14px;color:#5e5e5e;background:none;}

.tableHeightPart{width:100%;height:433px;overflow:auto;margin-top:1px}

.activeIteamList{clear:both;width:100%;overflow:hidden;position:relative;margin-bottom:10px;padding:10px 0px;}
.liNumber{position:absolute;bottom:0;right:5px;padding:5px;color:#d8d7d7;font-size:24px;}
.activeIteamMain{display:block;overflow:hidden;}
.activeIteamMain dt{width:120px;height:74px;text-align:center;float:left;}
.activeIteamMain dd{line-height:26px;font-size:12px;color:#999b9e;float:right;width:170px;}
.activeIteamMain dd.ddTitleCs{font-size:14px;color:black;}
.activeIteamMain dd.ddBgImg{background:url(../images/ddBgImgIcon.gif) no-repeat center left;padding-left:15px;width:155px;}
.activeIteamMain dd.ddBgImg span{color:#c22930}
.evenDivCs{border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;background-color:#f9f9f8}
.moreABtn{clear:both;display:block;width:100%;line-height:50px;color:#666;font-size:14px;text-align:center;background-color:#f9f9f8;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;text-decoration:none;}
.moreABtn:hover{background-color:#f4f0ee;text-decoration:underline;}


.activeMainPart{padding:10px 0px;overflow:hidden;margin-top:10px;background-color:white;margin-bottom:20px;}
.activeMainLeft{width:605px;overflow:hidden;float:left;}
.activeMainRight{width:337px;overflow:hidden;float:right;border-left:1px solid #dcdcdc;padding:0px 5px;}
.activeMainLeftTitle{display:block;border-bottom:8px solid #d8d8d8;font-size:22px;font-weight:normal;padding-left:25px;line-height:50px;}

.activeListIteam{overflow:hidden;margin:20px;border-bottom:1px solid #f0f0f0;padding-bottom:15px;}
.activeListIteam dt{float:left;display:block;width:120px;height:80px;}
.activeListIteam dd{float:right;display:block;width:420px;color:#818181;line-height:20px;}
.activeListIteam dd.actTitleDd{font-size:18px;color:black;line-height:40px;}

.actMainRigDl{padding:10px 20px;}
.actMainRigDl dd.actMainRigDlDdTitle{background:url(../images/listDdTitleIcon.gif) no-repeat left center;font-size:18px;color:#3a3838;line-height:30px;padding-left:18px;}
.actMainRigDl dd a{line-height:30px;font-size:14px;color:#3a3838;text-decoration:none;padding-left:20px;}
.actMainRigDl dd a:hover{text-decoration:underline;}

.topImgDivPart{width:870px;height:164px;margin:0 auto;margin-top:42px;}
.topBottomTextPart{width:870px;height:overflow:hidden;margin:0 auto;margin-top:10px;}

.PCsTextRight{display:block;text-align:right;line-height:30px;}

.zIndexCs{z-index:-1;}
.innerDivPart{padding:10px 40px;overflow:hidden;}
.innerDivPart p{line-height:30px;font-size:14px;color:#858484;}
.innerDivPart p.titlePartP span{color:black;font-size:18px;}
.innerDivPart p span.inn_P_P_spanTitle{font-size:16px;color:black;line-height:60px;}
.tableTNZBCs{border-collapse:collapse;}
.tableTNZBCs td{border:1px solid #dddddd;}
.tableTNZBCs thead{background-color:#eae7e4;font-size:18px;color:black;}
.tableTNZBCs td.tableLeftTdCs{background-color:#eae7e4;font-size:16px;color:black;}
.tableTNZBCs tbody td{padding:20px; font-size:14px; color:#666666;line-height:2em;}
/*  |xGv00|988004ff5c7a2306e9a2a145f3134b33 */