body,p,input,h1,h2,h3,h4,ul,ol,li,dl,dt,dd,form{margin:0; padding:0; list-style:none; vertical-align:middle;}
body{margin:0; padding:0; font-family: "Microsoft YaHei";font-size:12px; }
img{border:none;}
.clearfix:before,
.clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
#top_ucenter_t{display:none;}
a:hover{color:#057D02;}
.yxj-header{width:960px; margin:0 auto; padding-top:20px;}
.yxj-logo{clear:both;}
.yxj-logo .jijinhui{width:240px; height:52px; display: block; float:left; background:transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/logo.png) no-repeat 0 0;}
.yxj-logo .qq{width:240px; height:52px; display: block; float:left; background:transparent url(http://mat1.gtimg.com/gongyi/activity/yxj/pc/logo.png) no-repeat 0 -52px;}
.loginarea{float: right;}
.topLoginWrap{line-height:30px;}
.topLoginWrap a:visited{color:#999; text-decoration:none;}
.topLoginWrap a:link{color:#999; text-decoration:none;}
.topLoginWrap a:hover{color:#057D02; text-decoration:none;}
.topLoginWrap ul li{float:left; padding-left:12px; color:#999;}

/*导航*/
.yxj-header .yxj-nav{
  padding-top: 26px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  clear:both;
}
.yxj-nav li a, .yxj-nav li a:link{
  text-decoration: none;
  color: #4d4d4d;
}

.yxj-nav>ul>li{
  display: inline-block;
  float: left;
  text-align: center;
  width: 156px;
  height: 50px;
  line-height: 50px;
  color: #4d4d4d;
  background-color: #fff;
  cursor: pointer;
}
.yxj-nav li.menu{margin-right:1px;}
.yxj-nav li.menu:hover a.st{ color:#FFF; width:100%; display:block;}
.yxj-nav li.on a.st:link,.yxj-nav li.on a.st:visited{color:#FFF;}
.yxj-nav li.on,.yxj-nav li.menu:hover{background:#c22930; color:#FFF;}
.yxj-nav li:hover{color:#c22930;}

.yxj-nav ul ul{
  margin: 0; 
  border: 0 none;
  padding: 0; 
  width: 156px; 
  list-style: none; 
  display: none; 
  position: relative; 
  top: 0; 
  font-size: 18px;
  background-color: #e2e2e2;
  opacity: 0.9; filter: alpha(opacity=90);
}
.yxj-nav >ul> li:hover{
  color: #c22930;
 
}
.yxj-nav ul li:hover ul { 
display: block; 
z-index: 999;
}
.yxj-nav ul ul li{
  color: #4d4d4d;
  border: 1px solid #fff;
}
.yxj-nav ul ul li a{display:block; line-height:50px;}
.yxj-nav ul ul li a:hover{color:#c6171f;}
.yxj-nav ul ul li:hover{
  color: #c22930;
  background-color: #cfc7c0;
}





.corp{background-color: #efeae7;}
.corp-wrap{width:960px; margin:0 auto; padding-top:20px;}
.corp-wrap .p-m{}
.corp-wrap .p-m-left{float:left;}
.corp-wrap h3{font-size:16px; line-height:2; padding-top:5px;}
.corp-wrap ul{clear:both; overflow:hidden;}
.corp-wrap ul li{float:left; margin:5px 8px; width:170px; height:54px; border:1px #bdb9b7 solid;}
.corp-wrap ul li img{width:170px; height:54px; border:none;}

.p-logo-table .zlhz p{font-size:20px; font-weight:bold;}

.footer{
  background-color: #efeae7;
  padding-top: 50px;
  height: 100px;
  line-height: 30px;
  text-align: center;
}

/* ============================================================
   模块
   ============================================================ */


/* [基类] 翻页 */
.page:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.page{zoom:1;text-align:right;margin-top:30px;}
.page-link{float:left;margin-left:16px;color:#333333;font-size:16px;border:1px solid #C3C3C3;padding:5px 13px;background-color:#FFFFFF;}
.page-link:hover, .page-link-on{background-color:#C22930;text-decoration:none;color:#FFFFFF;border:1px solid #E2E2E2;}
.page-link-previous, .page-link-next{padding:5px 18px;}
.page-link-previous{margin-left:0;}

/* [扩展类] 翻页-居右 */
.page-align-right .page-wrap{float:right;}
/*  |xGv00|50de3cdaccc1297397ecb9c69f07c185 */