body,div,h1,h2,h3,h4,h5,h6,hr,p,pre,dl,dt,dd,ol,ul,li,fieldset,form,legend,th,td,blockquote{margin:0;padding:0}
img,fieldset{border:none}
button,input,select,textarea{margin:0;padding:0;outline:none;font-size:100%}
textarea{overflow:auto}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
li{list-style:none}
pre{word-wrap:break-word;font-family:Arial;zoom:1;white-space:pre-wrap}
th{text-align:left}
ins{text-decoration:none}
html{-webkit-text-size-adjust:none}
::-webkit-input-placeholder{color:#bbb;font-weight:400}
input:-moz-placeholder,textarea:-moz-placeholder{color:#aaa!important;font-weight:400!important}
input::-ms-clear{display:none;}

body,button,input,select,textarea{
    font:12px/1.6 'microsoft yahei','arial','simsun';color:#666; background: url(bj.jpg) center top no-repeat;
}
input,textarea{font-family:arial,simsun}

a, .link{text-decoration:none;color:#666;cursor:pointer}
html a:hover, html .link:hover{color:#E60013}
.clear{clear:both;overflow:hidden;height:0}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
.fl{float:left}
.fr{float:right}
.gray3{color:#333}/*text color*/
.gray6{color:#666}
.gray9{color:#999}
.f14{font-size:14px}
.mb20{margin-bottom:20px;}
.page-all{width:1200px;margin:0 auto}


.g-header{center no-repeat;height:61px; width: 1000px; margin:72px auto; padding-left: 200px;}
.g-header a{ color: #1b3a00; font-size: 18px; line-height: 61px; display: block; float: left; padding: 0 20px;}
.g-header a:hover{ background: #1b3a00; color: #ffb400;}
.g-box{ width:1200px;margin: 0 auto;}
.g-box2{ width:1200px; margin: 0 auto; font-size: 16px; line-height:1.5;}

.g-news{ width: 560px; padding: opx 10px 10px 10px;}
.g-news h2{ font-size: 22px; line-height:40px; color: #4c4b4b;}
.g-news h2 a{ color: #4c4b4b;}
.g-news h2 a:hover{ color: #eb7762; text-decoration: underline;}
.g-news p{ font-size: 16px; color: #4c4b4b; line-height: 2; margin-bottom: 15px;}
.g-news p a{color: #4c4b4b;}

.g-news2{ width: 560px; height: 350px;}
.g-news2 h2{ font-size: 22px; line-height: 30px; color: #eb7762;}
.g-news2 h2 a{ color: #4c4b4b;}
.g-news2 h2 a:hover{ color: #eb7762; }
.g-news2 p{ font-size: 16px; color: #4c4b4b; line-height: 2; margin-bottom: 30px;}
.g-news2 a.more{ font-size: 14px;color: #4c4b4b; display: block;; width: 100px; height: 30px; text-align: center; line-height: 30px; background: #4c4b4b; border: 1px solid #dcdcdc;border-radius:5px;}
.g-news2 a.more:hover{ background: #ff7800; }

.g-news3{ width: 510px; height: 350px;}
.g-news3 h2{ font-size: 22px; line-height: 30px; color: #eb7762;}
.g-news3 h2 a{ color: #4c4b4b;}
.g-news3 h2 a:hover{ color: #eb7762; }
.g-news3 p{ font-size: 16px; color: #4c4b4b; line-height: 2; margin-bottom: 30px;}
.g-news3 a.more{ font-size: 14px;color: #4c4b4b; display: block;; width: 100px; height: 30px; text-align: center; line-height: 30px; background: #4c4b4b; border: 1px solid #dcdcdc;border-radius:5px;}
.g-news3 a.more:hover{ background: #eb7762; }

.tupian{ width: 1300px;}
.tupian li{ float:left;}


.g-main{background:#000;padding:60px 0 1px;margin-bottom:48px;}
.row-tit{height:43px;background:url(http://mat1.gtimg.com/cq/edu/2017Q4/bishansyxx/tit.png) no-repeat;margin-bottom:30px;line-height:9em;overflow:hidden;}

/*活动集合*/
.row-actives .items{margin-bottom:44px;margin-right: -10px}
.row-actives li{float:left;}
.row-actives .grid2{width:468px;height:450px;}
.row-actives .item{margin:0 10px 10px 0;background:#161513;border-radius:5px;width:234px;height:220px;overflow:hidden;}

.row-actives li:last-child .item{margin-right:0}
.row-actives .item img{width:100%;height:100%;border-radius:5px;vertical-align:top;}
.row-actives .inner{position:relative;display:block;height:100%;}
.row-actives .desc{position:absolute;top:0;left:0;right:0;color:#F0F0F0;display:none;padding:15% 9% 0;line-height:1.8}
.row-actives .desc h6{text-align:center;font-size:14px}
.row-actives .desc .line{width:45%;height:2px;background:#BABBB5;margin:6% auto;}
.row-actives .inner:hover:before{position:absolute;background:rgba(0,0,0,.5);content:'';width:100%;height:100%;}
.row-actives .inner:hover .desc{display:block;}

.row-actives .item-22{width:468px;height:450px;}
.row-actives .item-22 .desc{padding:22% 14% 0}
.row-actives .item-22 .desc h6{font-size:24px;}
.row-actives .item-22 .desc .txt{font-size:14px;}

.row-actives .item-10{height:89px;}
.row-actives .item-12{height:350px;}

/*专家*/
.zj{ margin: 0; padding: 0; width: 1200px;}
.zj li{ width: 272px; float: left; margin-right:28px;}
.h{ width: 272px; height: 100px; background: #eb7762; color: #fff;display: block;  text-decoration: none; text-align: center; font-size: 20px; line-height:1.5; padding-top: 10px;}
.zj li a:hover{ color:#eb7762; background: #6c1000;}
.zj li a span{ display: block; font-size: 16px;}
.zj li p{ display: block; font-size: 16px; color: #4c4b4b; padding: 2px 0;}
/*展览艺术家*/
.row-artists .row-tit{background-position:0 -53px;}
.row-artists .row-body{padding-bottom:10px}
.row-artists nj-scroll{height:280px;overflow:hidden;display:block;position:relative;}
.row-artists .nj-scroll{position:relative;}
.row-artists .item{width:206px;height:284px;float: left;margin-right:14px;position:relative;}
.row-artists .item img{width:100%;height:100%;vertical-align:top}
.row-artists .page .p{position:absolute;top:42%;width:30px;height:55px;opacity:.6;background:url(../images/page.png) no-repeat}
.row-artists .page .prev{left:-50px;}
.row-artists .page .next{right:-50px;background-position:0 -58px;}
.row-artists .page .p:hover{opacity:1}
.row-artists .card{position:absolute;display:none;bottom:0;left:0;width:100%;background:#015799;color:#fff;text-align:center;padding:1em 0;}
.row-artists .card .name{font-size:20px; font-weight: bold;}
.row-artists .card p{ padding:5px 10px; text-align: left; line-height: 1.5; font-size: 14px;}
.row-artists .item:hover .card{display:block;}

/*视频播放*/
.row-video .row-tit{background-position:0 -106px;}
.row-video .row-body{margin-right:-24px;}
.row-video li{width:383px;height:314px;position:relative;float:left;margin-right:24px;}
.row-video li img{width:100%;height:100%;}
.row-video li h6{position:absolute;bottom:.5em;left:0;width:100%;text-align:center;color:#4c4b4b;font-size:18px;}

.row-pictures .row-tit{background-position:0 -156px;}
.row-pictures .item{width:287px;height:225px;float: left;margin-right:16px;position:relative;}
.row-pictures .item img{width:100%;height:100%;vertical-align:top}
.row-pictures .nj-scroll-page{text-align:center;margin:20px 0 0}
.row-pictures .nj-scroll-page .-page-item{width:33px;height:7px;background:#4c4b4bFFF;margin:0 .5em;line-height:5em;overflow:hidden;}
.row-pictures .nj-scroll-page .-page-active{background:#1b3a00}


/*for ie8 子元素table-cell不能设置宽度*/
.ct-img{overflow:hidden;display:table;table-layout:fixed;}
.ct-img a, .ct-img span{display:table-cell;overflow:hidden;vertical-align:middle;text-align:center;*display:block;*font-size:155px;table-layout:fixed;} /*height*0.873*/
.ct-img img{vertical-align:middle;margin:0 auto}

/*参展商家*/
.row-business{margin-bottom:66px;}
.row-business .row-tit{background-position:0 -207px;}
.row-business li{float:left;width:20%;padding:9px 0}
.row-business li a{width:240px;height:110px;}
.row-business li img{max-width:240px;max-height:110px;}


/*footer*/
.g-footer{background: #eb7762;color:#4d7016;font-size:16px;text-align:center;padding:45px 0 20px;}
/*  |xGv00|0bf5a04ad0ca1b5837f290c915df33b2 */


/*  |xGv00|15b18446c36a282727cadf57bed578ec */