body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{text-decoration:underline}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}
body{background:url(//mat1.gtimg.com/cq/3c/2015/images/bodybg.jpg) no-repeat top center}
			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }/*Clear float*/
.clearfix{zoom:1;}

.top{height:36px;background:#4b4a4a;font-size:14px;color:#c1bebe}
.top a{font-size:14px;color:#c1bebe}
.top-left{float:left}
.top-left li{float:left;line-height:36px;background:url(//mat1.gtimg.com/cq/3c/2015/images/line.jpg) no-repeat center right;padding:0 8px 0 6px}
.top-right{float:right;margin-right:10px}
.top-right a,.top-right span{float:left;display:block;line-height:36px;color:#c1bebe}
.top-right a.login-img{width:20px;height:20px;margin:5px 14px;padding:2px;border:1px solid #fff}
.top-right a.login-img img{width:20px;height:20px}
.ad1{width:1000px;height:60px;margin:20px auto 0 auto}
.ad1 img{width:1000px;height:60px}
.l-s{width:1000px;height:42px;margin:20px auto}
.logo{float:left}
.logo img{}
.Form-Crumbs-Article-QQ { float:right;padding-top:7px;}
.Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:30px;border:none;font-size:12px;background:url(//mat1.gtimg.com/cq/jinghao/soso-sprite-blue.jpg) left bottom no-repeat;cursor:pointer;}
.Form-Crumbs-Article-QQ .inputWarp{float:right;width:180px;height:28px;margin:0;padding:0;line-height:22px;background:#fff;border:#c9c9c9 1px solid;border-right:none;}
.Form-Crumbs-Article-QQ .txtArea{width:150px;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
.Form-Crumbs-Article-QQ .SosonLogo{float:right;width:22px;height:22px;margin:3px 3px 0 0;background:url(//mat1.gtimg.com/xian/2015images/2015index/20150204indexhd/soso-sprite.png) left top no-repeat;}
.Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:14px;line-height:28px;}
.soso-smart-b{background-color:#d8ecff;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.nav{width:1000px;height:48px;line-height:48px;overflow:hidden;margin:auto}
.nav li{float:left;background:#379be9;font-size:18px;border-left:1px solid #55aaec;border-right:1px solid #2083d1;text-align:center}
.nav li a{display:block}
.nav li a:hover{text-decoration:none}
.nav li.nav-1{width:165px;border-left:1px solid #55aaec}
.nav li.nav-2{width:124px}
.nav li.nav-3{width:164px}
.nav li.nav-4{width:127px}
.nav li.nav-5{width:207px}
.nav li.nav-6{width:201px;border-right:1px solid #379be9}
.nav li.active{border-left:1px solid #2083d1;border-right:1px solid #2083d1;background:#2083d1}
.nav li a{color:#fff}
.foot-top-list{width:1020px;height:auto;overflow:hidden;margin:20px auto 19px auto}
.foot-top-list li{display:inline;float:left;width:320px;height:auto;overflow:hidden;margin:0 10px}
.foot-top-list li a.a-block{position:relative;display:block}
.foot-top-list li img{width:320px;height:180px}
.foot-top-list li img.icon{position:absolute;top:0;left:0;width:54px;height:54px}
.foot-top-list li h3{margin:12px 0 5px 0}
.foot-top-list li h3 a{font-size:18px;color:#222}
.foot-top-list li h3 a:hover{text-decoration:underline}
.foot-top-list li p{line-height:21px;color:#777}
.foot-index-main{width:1000px;height:auto;overflow:hidden;margin:auto;padding-top:16px;border-top:3px solid #379be9}
.foot-index-main-l{float:left;width:660px;height:auto;overflow:hidden}
.foot-index-main-r{float:right;width:300px;height:auto;overflow:hidden}
.foot-tj h2 a{font-size:32px;font-weight:bold;color:#bc364a}
.foot-tj h2 a:hover{text-decoration:underline}
.foot-tj p{margin:2px 0 12px 0;font-size:14px;color:#777}
.foot-tj img{width:660px;height:350px}

.foot-index-list{width:660px;height:auto;overflow:hidden;padding:20px 0;border-top:1px solid #ddd}
.foot-index-list.nobor{border:none}
.foot-index-list h2.nojj{margin:-7px 0 10px 0}
.foot-index-list h2 a{font-size:22px;color:#414141}
.foot-index-list h2 a:hover{color:#b5152d;text-decoration:underline}
.nojj-list li{float:left;margin-right:21px;border:1px solid #ddd}
.nojj-list li.last{margin-right:0}
.nojj-list li,.nojj-list li img{width:201px;height:143px}
.foot-index-list-l{float:left;width:193px;height:138px;border:1px solid #ddd}
.foot-index-list-l img{width:193px;height:138px}
.foot-index-list-r{position:relative;float:right;width:447px;height:138px}
.foot-index-list-r h2{height:30px;line-height:30px;overflow:hidden;margin:0 0 6px -6px}
.foot-index-list-r h2 a{display:inline-block;height:30px;line-height:30px;padding:0 6px;font-size:22px;color:#414141}
.foot-index-list-r h2 a:hover{background:#379be9;color:#fff;text-decoration:none}
.ly-time{height:auto;overflow:hidden;margin-bottom:10px}
.ly-time span{display:inline-block;float:left;margin-right:10px;color:#666}
.foot-index-list-r p{line-height:24px;text-indent:2em}
.foot-index-list-r p a{color:#666}
.foot-index-list-r p a:hover{color:#379be9}
.foot-label{position:absolute;right:0;bottom:0}
.foot-label span,.foot-label a{display:inline-block}
.foot-label span{margin-left:13px}
.foot-label a{height:20px;line-height:20px;background:#379be9;margin:0 5px;padding:0 5px;color:#fff}
.loading-more{height:32px;line-height:32px;background:#379be9;text-align:center}
.loading-more a{display:block;font-size:14px;color:#fff}
.ad2{margin:20px 0 0 0}
.ad2,.ad2 img{width:660px;height:65px}

.spaqblt{width:300px;height:auto;overflow:hidden;margin:4px auto 24px auto}
.spaqblt{margin-top:0}
.spaqblt-t{height:30px;overflow:hidden;margin-bottom:8px}
.spaqblt-t h2{float:left;width:156px;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg.png) no-repeat -478px -339px;padding-left:30px;font-size:18px;color:#2083d1}
.spaqblt-t a{display:block;float:right;height:22px;line-height:22px;background:#2083d1;padding:0 8px;color:#fff}
.a-img{position:relative;display:block;width:300px;height:155px;margin:0 0 12px 0;clear:both}
.a-img img{width:300px;height:155px}
.a-img h3{position:absolute;left:0;bottom:0;width:288px;height:37px;line-height:37px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.5);padding-left:12px;font-size:14px;color:#fff}
.spaqblt-list li{height:28px;line-height:28px;overflow:hidden;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg.png) no-repeat -490px 13px;_background:url(//mat1.gtimg.com/cq/3c/2015/images/bgie6.png) no-repeat -490px 13px;padding-left:18px}
.spaqblt-list li a{font-size:14px;color:#414141}
.spaqblt-list li a:hover{text-decoration:underline}
.weixin{width:270px;height:auto;overflow:hidden;background:#f6f6f6;padding:19px 15px 19px 15px}
.weixin img,.weixin span{display:block}
.weixin img{float:left;width:117px;height:117px}
.weixin span{float:right;width:145px;height:auto;overflow:hidden}
.weixin span h3{margin:9px 0 7px 0;font-size:18px;color:#262626}
.weixin span p{line-height:21px;color:#777}
.hot{width:300px;height:auto;overflow:hidden;margin:30px 0 0 0}
.hot .spaqblt-t{background:url(//mat1.gtimg.com/cq/3c/2015/images/hotbg.jpg) no-repeat right center}
.hot .spaqblt-t h2{background:none;padding-left:0}
.hot h3{margin-bottom:9px;padding-left:3px;font-size:20px;font-weight:bold;color:#b5152d}
.hot-lb,.hot-lb img{width:300px;height:250px}
.foot-info{width:264px;height:auto;overflow:hidden;background:#f6f6f6;margin-top:30px;padding:16px 18px 7px 18px;border-top:2px solid #bc364a}
.foot-info-t{height:22px;line-height:22px;margin-bottom:10px}
.foot-info-t h3{float:left;width:168px;font-size:20px;font-weight:bold;color:#b5152d}
.foot-info-t a{float:right;width:50px;color:#777;text-align:right}
.foot-info-list li{height:86px;overflow:hidden;padding:10px 0}
.foot-info-list li img,.foot-info-list li p{display:block}
.foot-info-list li img{float:left;width:105px;height:86px}
.foot-info-list li p{float:right;width:148px;line-height:24px;font-size:14px;color:#414141}
.foot-info-list li p a:hover{text-decoration:underline}
.foot-hydt-list{padding-bottom:9px}
.foot-hydt-list li{width:264px;height:30px;line-height:30px;overflow:hidden;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg.png) no-repeat -490px 13px;_background:url(//mat1.gtimg.com/cq/3c/2015/images/bgie6.png) no-repeat -490px 13px;padding-left:17px}
.foot-hydt-list li a{font-size:14px;color:#414141}
.foot-hydt-list li a:hover{text-decoration:underline}
.ad3{width:300px;height:auto;overflow:hidden;margin-top:30px}
.ad3 img{max-width:300px}



.fs_A1{ width:300px; height:250px; position:relative; background:#000}  
.fs_A1 .A1fBt{ position:absolute; bottom:8px; left:0; overflow:hidden; zoom:1; width:300px;height:25px; z-index:10; text-align:center}  
.fs_A1 .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:40px; background:rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block; line-height:40px; text-align:left; }  
.fs_A1 .shadow a{ text-decoration:none; color:#fff; font-size:18px; overflow:hidden; margin-left:15px; font-family:"Microsoft YaHei" }  
.fs_A1 .fcon{ position:relative; width:100%; float:left;  display:none;  }  
.fs_A1 .A1fBt i{font-style:normal }    
.fs_A1 .A1fBt a{display:inline-block;background:url(//mat1.gtimg.com/gd/images/channel/ent2014/fs_a.png) no-repeat center center;width:14px;height:25px;position:relative;text-align:center }  
.fs_A1 .A1fBt a:hover,.fs_A1 .A1fBt a.current{background:url(//mat1.gtimg.com/gd/images/channel/ent2014/fs_ac.png) no-repeat center center;}  
.fs_A1 .fcon img{ display:block; } 

.foc_r{width:330px; float:right}
.fpic{position:relative}
.fpic span{width:100%; height:30px; display:block; background:#000; position:absolute; bottom:0; filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7; left:0}
.fpic i{width:100%; height:30px; display:block; position:absolute; bottom:0; font-weight:bold; text-align:center; font-size:14px; color:#fff; line-height:30px; left:0;font-family:"Microsoft YaHei"}
.fpic a{color:#fff; display:block}

#footer{height:293px;background:#f8f8f8;margin:80px auto auto auto;border-top:1px solid #dfdfdf}
.footer{width:1000px;line-height:29px;margin:auto}
.footer-left{float:left;width:180px;overflow:hidden;padding-top:42px}
.footer-right{position:relative;float:right;width:819px;padding:37px 0;font-size:14px;color:#777;border-left:1px solid #dfdfdf}
.footer-right a{color:#777}
.footer-right h4{margin-bottom:10px;font-size:16px;color:#414141;text-align:center}
.footer-right-l,.footer-right-c{float:left}
.footer-right-l{display:inline;width:82px;margin:0 100px 0 60px}
.footer-right-l li{display:inline;float:left;line-height:29px;margin:0 6px;white-space:nowrap}
.footer-right-c{width:445px}
.footer-right-c h4{text-align:left}
.footer-right-c h4.pdlm{margin-top:25px}
.footer-right-c li{float:left;margin:0 20px 0 0}
.footer-right-r{position:absolute;left:708px;top:-40px;width:110px}
.footer-right-r img{width:108px;height:108px;margin-bottom:7px;border:1px solid #dfdfdf}
.footer-right-r p{line-height:22px}
.copyright{height:auto;line-height:30px;overflow:hidden;background:#333438;padding:25px 0 17px 0;font-size:14px;color:#888886;text-align:center}
.copyright a{color:#888886}





/*ÁÐ±íÒ³*/
.page-nav{height:48px;line-height:48px;margin-top:13px;font-size:16px;color:#333;border-bottom:2px solid #bc364a}
.page-nav a{font-size:16px;color:#333}
.page-nav a:hover{text-decoration:underline}
.news-main{float:right;width:652px;height:auto;border-left:2px solid #d5d5d5}
.news-main-sub{position:relative;height:auto}
.news-time{position:absolute;z-index:2;left:-6px;top:18px;width:83px;height:26px;line-height:25px;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg.png) no-repeat -96px 0;_background:url(//mat1.gtimg.com/cq/3c/2015/images/bgie6.png) no-repeat -96px 0;padding-left:30px;font-size:14px;color:#fff}
.news-list{padding-top:54px}
.news-list li{line-height:37px;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg.png) no-repeat -476px 18px;_background:url(//mat1.gtimg.com/cq/3c/2015/images/bgie6.png) no-repeat -476px 18px;padding-left:37px;font-size:16px}
.news-list li a{color:#414141}
.news-list li a:hover{text-decoration:underline}
.foot-list-main{padding-top:0;border-top:none}



/*½¹µãÍ¼*/
.simpleSlider {
    position: relative;
}
.simpleSlider  a{
    text-decoration:none;
}
.simpleSlider  a:hover{
    text-decoration:none;
}

.simpleSlider ul,
.simpleSlider ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.focus{margin-top:10px}
.focus li img{width:660px;height:350px}
.simpleSlider ul li {
    overflow: hidden;
}

.simpleSlider div.simpleSlider-title {
    display: block;
    background: transparent;
    color: #F00;
    padding: 10px;
}

.simpleSlider div.simpleSlider-title div.simpleSlider-title-transparency {
    background: #000;
}

.simpleSlider ol.simpleSlider-navigation-buttons {
    position: absolute;
    top: 6px;
    left: 6px;
    margin: 0;
    padding: 0;
    list-style:  none;
    z-index: 2001;
}

.simpleSlider ol.simpleSlider-navigation-buttons li {
    display: inline-block;
    margin: 17px 10px auto auto;
    zoom: 1;
    *display: inline;
}

.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button {
    display: inline-block;
    border-radius: 4px;
    background: transparent;
    padding: 4px;
    color: #FFF;
    border: 1px solid #ACACAC;
    zoom: 1;
    *display: inline;
}

.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button.current {
    background: #379be9;
    color: #000;
}

.simpleSlider .simpleSlider-navigation {
    background: url('//mat1.gtimg.com/cq/tech/3c/images/transparent.gif');
}

.simpleSlider .simpleSlider-navigation a.simpleSlider-navigation-previous,
.simpleSlider .simpleSlider-navigation a.simpleSlider-navigation-next {
    display: block;
    opacity: 0.7;
    position: absolute;
    font-size: 12px;
    line-height: 40px;
    top: 130px; /* for slider-height 360px and navigation-height 30px */
    background: url(//mat1.gtimg.com/cq/3c/2015/images/ico.png)  no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width:40px;
    height:70px;
}

.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-previous {
    left: 0;
}

.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-previous:hover {
    background-position:0px -71px;
}

.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-next {
    right: 0;
    background-position:-41px 0;
}
.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-next:hover {
    background-position:-41px -71px;
}

/*** mine ***/
.simpleSlider div.simpleSlider-title{
    height: 46px;
    line-height: 46px;
    font-size:14px;
    background: none repeat scroll 0 0 #000;
    opacity: 0.6;
    width: 100%;    
    padding: 0px;
    padding-left: 10px;
}
.simpleSlider ol.simpleSlider-navigation-buttons{
    top: auto;
    left: auto;
    right: 3px;
    height: 46px;
    bottom: 0px;
    text-align: right;
}
.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button{
    border:0px;
    border-radius: 0px;
    background-color:#ffffff;
    width:11px;
    height:11px;
    margin:0px;
    padding:0px;
}

#simpleSlider-slider_rcfocus.simpleSlider div.simpleSlider-title{
    height: 40px;
    line-height: 40px;
    font-size:12px;
}
#simpleSlider-slider_rcfocus.simpleSlider ol.simpleSlider-navigation-buttons{
    top: auto;
    left: auto;
    right: 12px;
    height: 40px;
}
#simpleSlider-slider_rcfocus.simpleSlider ol.simpleSlider-navigation-buttons a.simpleSlider-navigation-button{
    width:8px;
    height:8px;
}

#simpleSlider-slider_rcfocus.simpleSlider .simpleSlider-navigation a.simpleSlider-navigation-previous,
#simpleSlider-slider_rcfocus.simpleSlider .simpleSlider-navigation a.simpleSlider-navigation-next {
    top: 100px; 
    width:32px;
    height:46px;
    line-height: 46px;
}
#simpleSlider-slider_rcfocus.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-previous {
    background-position:-106px 0px;
}
#simpleSlider-slider_rcfocus.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-previous:hover {
    background-position:-106px -53px;
}

#simpleSlider-slider_rcfocus.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-next {
    right: 0;
    background-position:-144px -53px;
}
#simpleSlider-slider_rcfocus.simpleSlider .simpleSlider-navigation  a.simpleSlider-navigation-next:hover {
    background-position:-144px 0px;
}
#simpleSlider-slider_focus-title-content{color:#fff}
/*//////////////////////////////////*/
.yl-news{padding:0 0 16px 0;font-size:14px;color:#777;border-bottom:1px dotted #b2b2b2}
.yl-news a{color:#777}
.yl-news.last{border-bottom:none}
.yl-news h3{margin:17px 0 4px 0}
.yl-news h3 a{font-size:20px;font-weight:bold;color:#555}

/*¾Û½¹3C*/
.fl{float:left}
.fr{float:right}
.qd{ margin-bottom:20px;}
.qd_menu{ border-top:2px solid #379be9; background:#f9f9f9;font:20px/54px 'microsoft yahei'; padding-left:15px;font-weight:bold;color:#2083d1; height:54px;}
.qd_menu_l{width:250px}
.qd_menu_l span{display:inline-block;background:url(//mat1.gtimg.com/cq/3c/2015/images/dot.jpg) no-repeat right center;padding:0 8px;color:#2083d1}
.qd_menu_l span.last{background:none}
.qd_menu_r{font-size:14px;font-weight:normal}
.qd_menu_r a{color:#262626}
.qd_menu em{ width:20px; height:24px; background:url(//mat1.gtimg.com/cq/tech/3c/images/3c_18.png) no-repeat; display:block; float:left; margin-top:13px; margin-left:15px;}
.qd_menu a{ font-size:14px; padding-right:15px;}
.qd_con{ background:#f9f9f9 url(//mat1.gtimg.com/cq/3c/2015/images/dydc.jpg) no-repeat right bottom; padding:0 15px 20px 25px;}
.qd_l{ width:265px; height:auto;overflow:hidden}
.qd_l img{width:265px;height:145px}
.qd_m{ width:210px; padding-left:15px;}
.qd_l h2{margin-bottom:8px;font-size:18px;color:#222;}
.qd_m p{ font-size:12px; line-height:22px; color:#666; text-indent:2em;}
.qd_r {background:url(//mat1.gtimg.com/cq/3c/2015/images/bg.png) no-repeat -490px -67px;width: 300px;height:210px;overflow:hidden;position: relative;font: 16px/30px 'microsoft yahei';color: #414141;padding: 0;}
.qd_r #submit_survey{background: #379be9;padding: 12px 35px;font-size: 20px;color: #fff;font-family: 'microsoft yahei';margin: 40px 0 0 80px;border:none;border-radius:5px}
.qd_r em{ position:absolute; width:19px; height:11px; display:block; left:-19px; bottom:-1px;}
.tgxx{height:auto;overflow:hidden;margin:30px 0 0 0}
.tgxx-con,.tgxx-con img{width:300px;height:250px}
.hot-list,.3czk,.cqcsdt{height:auto;overflow:hidden}
.hot-list li{float:left;width:145px;height:auto;overflow:hidden;margin:0 10px 20px 0}
.hot-list li.sec{margin-right:0}
.hot-list li img{width:145px;height:115px}
.hot-list li p{margin-top:3px;font-size:14px;text-align:center}
.hot-list li p a{color:#414141}
.cqcsdt{margin-top:30px}
.cqcsdt .spaqblt-t a{background:none;color:#777}

.swipe-container {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  padding-top:19px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.swipe-wrap > div label{
  cursor:pointer;
}
.invisible,.invisible1{display:none}

.foot-top-list img:hover,.foot-tj img:hover,.foot-index-list img:hover,.foot-info-list img:hover,.a-img img:hover,.tgxx-con img:hover,.qd_l img:hover,.hot-list li img:hover{opacity:0.8;-webkit-transition: opacity .3s ease-in-out;
            -moz-transition: opacity .3s ease-in-out;
            -o-transition: opacity .3s ease-in-out;
            -ms-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;}
			
.jlg-box{position:relative;width:1000px;height:254px;overflow:hidden;margin:27px auto 0}
.jlg-box .bg{position:absolute;z-index:2;top:0;left:20px;width:76px;height:37px;background:#fff url(//mat1.gtimg.com/cq/3c/2015/images/jlg.png) no-repeat}
.jlg-box .bg1{position:absolute;z-index:2;top:3px;right:20px;width:43px;height:19px;overflow:hidden;background:#fff}
.jlg-box .bg1 a{display:block;width:19px;height:19px;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg1.png) no-repeat}
.jlg-box .bg1 a.left{float:left;background-position:0 -21px}
.jlg-box .bg1 a.left:hover{background-position:0 0}
.jlg-box .bg1 a.right{float:right;background-position:-24px 0}
.jlg-box .bg1 a.right:hover{background-position:-24px -21px}
.arr_left{position:absolute;top:-8px;right:44px;display:block;width:19px;height:19px;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg1.png) no-repeat 0 -21px}
.arr_left:hover{background-position:0 0}
.arr_right{position:absolute;top:-8px;right:20px;display:block;width:19px;height:19px;background:url(//mat1.gtimg.com/cq/3c/2015/images/bg1.png) no-repeat -24px 0}
.arr_right:hover{background-position:-24px -21px}

.jlg{position:absolute;z-index:1;bottom:0;left:0;width:998px;height:240px;background:#f4f7f9;border:1px solid #e3e8ed}
.jlg-sub{float:left;width:998px}

.jlg-sub-l{position:relative;float:left;width:285px;height:190px;overflow:hidden;margin:30px 0 0 17px}
.jlg-sub-l span,.jlg-sub-l img{display:block;width:285px;height:190px}
.jlg-sub-l span{position:absolute;left:0}
.jlg-sub-l span.sp1{top:0}
.jlg-sub-l span.sp2{top:190px}
.jlg-sub-r{position:relative;float:right;width:660px;height:190px;overflow:hidden;margin:30px 17px 0 0}
.jlg-sub-r p{line-height:25px;font-size:14px;color:#888}
.jlg-sub-r p.p1{font-size:16px;color:#555}
.jlg-sub-r h3{margin:5px 0 6px;font-size:22px;font-weight:bold;color:#002e53}
.jlg-sub-r h3 a{color:#002e53}
.jlg-sub-r .link{position:absolute;right:0;bottom:0;width:92px;height:36px;line-height:36px;background:#fab731;font-size:14px;color:#000;text-align:center}
.jlg-sub-r .link:hover{text-decoration:none}/*  |xGv00|348d262e7674a8af5e2b5322b7db4677 */