/* ===== reset ===== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/1.5 Tahoma,Helvetica,simsun,sans-serif;color:#666666;word-wrap:break-word;word-break:break-all;}
table{border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,strong,th,var,i,b{font-style:normal;font-weight:normal;}
pre,code,kbd,samp,tt{font-family:"courier new",courier,monospace;font-size:100%;line-height:100%;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000000;}
button,input,select,textarea{font-size:100%;}
a{text-decoration:none;color:#907435;}
a:hover{text-decoration:underline;color:#AA0000;}
img{vertical-align:middle;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
.clearfix{*zoom:1;}

.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}

/* ===== 布局 ===== */
.grid-m510-s126-e304 .col-s126{display:inline;float:left;width:126px;}
.grid-m510-s126-e304 .col-m510{display:inline;float:left;width:510px;margin:0 15px;}
.grid-m510-s126-e304 .col-e304{display:inline;float:left;width:304px;}
.grid-m510-s126-e304 .col-s126{float:left;width:122px;padding-left:4px;}
/* ===== 全局 ===== */
body{padding-top:12px;background-color:#AA0000;}
.wrapper{width:995px;margin:0 auto;}
.header{position:relative;z-index:2;height:145px;padding:0 10px 0 11px;background:url(//mat1.gtimg.com/sports/arsenal/img/bg-header.png) no-repeat 0 0;}
.container{position:relative;z-index:1;margin:0 10px 0 11px;padding:8px 0 10px;background-color:#fff;/*background:url(//mat1.gtimg.com/sports/arsenal/img/bg-container.gif) repeat-y 0 0;*/}
.logo-footer{height:59px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/bg-logo-footer.png) no-repeat 0 0;}

.header-content{position:relative;height:107px;}
.header-content .logo-img{position:absolute;top:20px;left:10px;width:114px;height:85px;overflow:hidden;}
.header-content .logo-txt{position:absolute;top:65px;left:130px;width:356px;height:33px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/logo-txt.png) no-repeat 0 0;text-indent:-9999px;}
.header-content .logo-txt a{display:block;width:100%;height:100%;cursor:pointer;*background-image:url(about:blank);}
/* ===== 登录 ===== */
.login-area{position:absolute;top:16px;left:150px;width:307px;height:70px;overflow:hidden;}
.login-area a,
.login-area a:hover{color:#fff;}
.login-area li{display:inline;float:left;height:30px;overflow:hidden;padding:0 15px;background:url(//mat1.gtimg.com/sports/arsenal/img/login-area-sep.png) no-repeat 0 0;}
.login-area li.login,
.login-area li.reg{line-height:28px;}
.login-area li.language-select a{margin:5px 2px 0;}
.login-area li.language-select img{margin-top:8px;}
/* ===== 搜索 ===== */
.header-content .search-area{position:absolute;top:20px;right:40px;width:264px;height:24px;background:url(//mat1.gtimg.com/sports/arsenal/img/search-area.png) no-repeat 0 0;}
.header-content .search-area .input-txt{width:205px;height:14px;overflow:hidden;margin-top:3px;padding:2px;background:none;border:0 none;color:#666;line-height:14px;vertical-align:top;}
.header-content .search-area .submit{width:48px;height:19px;overflow:hidden;margin:2px 0 0;background:none;border:0 none;font-size:0;line-height:0;vertical-align:top;cursor:pointer;}

.header-content .banner-header{position:absolute;top:45px;right:10px;width:450px;height:60px;overflow:hidden;}
/* ===== nav ===== */
.nav .nav-top{height:8px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/bg-nav-top.png) repeat-x 0 0;}
.nav .nav-bottom{height:7px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/bg-nav-bottom.png) repeat-x 0 0;}
.nav .nav-list{height:20px;background:url(//mat1.gtimg.com/sports/arsenal/img/bg-nav-li.png) repeat-x 0 0;border-top:2px solid #ccc;border-bottom:1px solid #fff;line-height:20px;}
.nav .nav-list .first-cont{margin-top:-2px;}
.nav .first-level{display:inline;position:relative;*zoom:1;float:left;width:80px;border-right:1px solid #fff;text-align:center;}
.nav .first-level a{display:block;border-top:2px solid #ccc;height:20px;color:#000;}
.nav .first-level a:hover{text-decoration:none;}
.nav .first-level-cur a{border-top-color:#DB0007;font-weight:bold;}

.nav .nav-list a.has-next{background:url(//mat1.gtimg.com/sports/arsenal/img/nav-item.png) no-repeat right -20px;}
.nav .nav-list .second-cont{display:none;position:absolute;top:22px;left:-1px;z-index:2;background-color:#F2F2F2;text-align:left;}
.nav .nav-list .second-cont li{width:138px;height:19px;padding-left:12px;background:url(//mat1.gtimg.com/sports/arsenal/img/nav-item.png) no-repeat 0 0;}
.nav .nav-list .second-cont a{display:block;height:18px;overflow:hidden;border:0 none;border-bottom:1px solid #ccc;line-height:18px;font-weight:normal;}
.nav .nav-list .second-cont a:hover{color:#AA0000;}
.nav .nav-list .second-level{position:relative;*vertical-align:top;}
.nav .nav-list .third-cont{display:none;position:absolute;top:0;left:149px;z-index:3;}
.nav .nav-list .third-level{+float:left;}
/* ===== side-nave ===== */
.side-nav{width:126px;overflow:hidden;margin-left:-4px;}
.side-nav li{height:25px;overflow:hidden;padding-left:20px;background:#fff url(//mat1.gtimg.com/sports/arsenal/img/side-nav-item.png) no-repeat 0 0;line-height:25px;}
/* ===== banner ===== */
.banner{overflow:hidden;margin-right:auto;margin-left:auto;}
.banner-120x74{width:120px;height:74px;overflow:hidden;border:1px solid #9C824A;}
.banner-300x250{width:300px;height:250px;overflow:hidden;}
.banner-974x91{width:974px;height:91px;}
/* ===== mod-box ===== */
.mod-box .hd{height:22px;overflow:hidden;background:#9C824A url(//mat1.gtimg.com/sports/arsenal/img/repx-mod-box-hd.png) repeat-x 0 0;}
.mod-box .hd-tit{padding:0 5px;color:#fff;line-height:22px;font-weight:bold;}
.mod-box .bd{padding:10px 4px;border:1px solid #9C824A;border-top:0 none;}
/* ===== 闪亮时刻 ===== */
.shinning-moment .list ul{margin-top:-10px;}
.shinning-moment .list li{margin-top:10px;}
.shinning-moment .list .pic{width:106px;height:77px;overflow:hidden;padding:3px;background-color:#DCDCDC;border-radius:3px;}
.shinning-moment .list .desc{height:18px;overflow:hidden;margin-top:3px;}
.shinning-moment .list .desc a{color:#907435;}
/* ===== 阿森纳视频 ===== */
.arsenal-video{width:300px;overflow:hidden;background-color:#000;color:#fff;}
.arsenal-video a{color:#fff;}
.arsenal-video .v-tit{height:83px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/arsenal-video-tit.png) no-repeat 0 0;text-indent:-9999px;}
.arsenal-video .v-titt{height:83px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/arsenal-video-titt.png) no-repeat 0 0;text-indent:-9999px;}
.arsenal-video .v-tit a{display:block;width:100%;height:100%;*background-image:url(about:blank);}
.arsenal-video .v-big-thumb{padding:5px 15px 15px;}
.arsenal-video .v-big-thumb .desc{height:21px;overflow:hidden;margin-bottom:5px;font-size:14px;}
.arsenal-video .v-big-thumb .pic{width:264px;height:154px;overflow:hidden;padding:3px;background:url(//mat1.gtimg.com/sports/arsenal/img/big-thumb-bg.png) no-repeat 0 0;}

.arsenal-video .sep-v{height:5px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/arsenal-video-sep.png) no-repeat 0 0;}
.arsenal-video .bt-v{height:2px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/arsenal-video-bt.png) no-repeat 0 0;}

.arsenal-video .v-small-thumb{padding:5px 15px 15px;}
.arsenal-video .v-small-thumb li{*zoom:1;overflow:hidden;margin-top:10px;}
.arsenal-video .v-small-thumb .pic{position:relative;float:left;width:114px;height:64px;overflow:hidden;margin-right:10px;padding:3px;background:url(//mat1.gtimg.com/sports/arsenal/img/small-thumb-bg.png) no-repeat 0 0;}
.arsenal-video .v-small-thumb .pic .ico{display:none;position:absolute;top:0;left:0;width:39px;height:40px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/ico-free.png) no-repeat 0 0;text-indent:-9999px;}
.arsenal-video .v-small-thumb li.state-free .pic .ico-free{display:block;}
.arsenal-video .v-small-thumb .txt{*zoom:1;overflow:hidden;}
.arsenal-video .v-small-thumb .desc{margin-bottom:3px;}
/* ===== logo-footer ===== */
.logo-footer{padding:0 10px 0 11px;}
.logo-footer li{display:inline;float:left;height:26px;overflow:hidden;padding:10px 15px;}
.logo-footer img{vertical-align:middle;}
.logo-footer li.bor-left{background:url(//mat1.gtimg.com/sports/arsenal/img/logo-footer-sep.png) no-repeat 0 6px;}
/* ===== g-tit ===== */
.g-tit{height:32px;overflow:hidden;padding-left:32px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-tit.png) no-repeat 0 0;}
.g-tit-inner{height:32px;overflow:hidden;padding-right:80px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-tit.png) no-repeat right 0;color:#444;font-size:15px;line-height:26px;font-family:"microsoft yahei";}

.g-tit-b{height:25px;overflow:hidden;padding-left:32px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-tit.png) no-repeat 0 0;}
.g-tit-b-inner{height:25px;overflow:hidden;padding-right:80px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-tit.png) no-repeat right 0;color:#444;font-size:15px;line-height:26px;font-family:"microsoft yahei";}

.g-tit2{margin:10px 0;}
.g-tit2-inner{color:#AA0000;font-size:17px;font-family:"microsoft yahei";font-weight:bold;}

.g-tit3{position:relative;height:20px;overflow:hidden;padding-left:15px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-tit3.png) no-repeat 0 0;}
.g-tit3-inner{height:20px;overflow:hidden;padding-right:15px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-tit3.png) no-repeat right 0;color:#AA0000;line-height:19px;font-weight:bold;}
.g-tit3 .link-more{position:absolute;top:0;right:10px;color:#303030;}
/* ===== g-operat ===== */
.g-operat{margin-top:20px;}
.g-operat a{display:inline-block;height:14px;overflow:hidden;margin-right:40px;padding-left:18px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-operat.png) no-repeat 0 0;color:#AA0000;line-height:14px;vertical-align:middle;}
.g-operat a.operat-email{background-position:0 -17px;}
/* ===== 分页 ===== */
.g-pager{margin:15px 0;text-align:center;}
.g-pager span{margin:0 3px;padding:2px 8px;border:1px solid #ACB7CD;}
.g-pager span.cur{border:0 none;margin:0 4px;cursor:default;}
.g-pager span.cur:hover{text-decoration:none;}
/* ===== 首页layout ===== */
.grid-m654-s304 .col-m654{display:inline;float:left;width:654px;}
.grid-m654-s304 .col-s304{display:inline;float:right;width:304px;}
.grid-m520-s126 .col-m520{display:inline;float:left;width:520px;margin-left:8px;}
.grid-m520-s126 .col-s126{display:inline;float:left;width:122px;padding-left:4px;}
.grid-m310-s320 .col-m310{display:inline;float:left;width:310px;margin-left:10px;}
.grid-m310-s320 .col-s320{display:inline;float:left;width:320px;margin-left:14px;}
/* ===== 首页焦点图 ===== */
.focus-show{position:relative;right:-5px;width:503px;height:329px;overflow:hidden;padding:0 8px;background:url(//mat1.gtimg.com/sports/arsenal/img/focus-show.png) no-repeat 0 0;}
.focus-show .pic{width:503px;height:245px;overflow:hidden;}
.focus-show .txt{padding:5px 10px 0;}
.focus-show .txt .desc{height:21px;overflow:hidden;font-size:14px;font-weight:bold;}
.focus-show .txt .desc a{color:#AA0003;}
.focus-show .txt .p-con{height:38px;overflow:hidden;margin-top:2px;line-height:1.6;}
/* ===== 新闻列表3 ===== */
.g-news-list3{padding:0 5px;}
.g-news-list3 li{display:inline;float:left;width:305px;padding:15px 8px;border-bottom:1px solid #CDCDCD;}
.g-news-list3 .pic{display:inline;float:left;width:45px;height:45px;overflow:hidden;margin-right:10px;padding:1px;background-color:#fff;border:1px solid #CDCDCD;}
.g-news-list3 .txt{*zoom:1;overflow:hidden;}
.g-news-list3 .desc{height:18px;overflow:hidden;}
.g-news-list3 .desc a{color:#AA0000;}
.g-news-list3 .p-con{height:36px;overflow:hidden;}
.g-news-list3 .p-con .link-more{color:#666;}
/* ===== 新闻列表4 ===== */
.g-news-list4 li{height:21px;overflow:hidden;margin-top:4px;padding-left:10px;background:url(//mat1.gtimg.com/sports/arsenal/img/arrow.png) no-repeat 0 -33px;font-size:14px;}
.g-news-list4 li a{color:#4b4b4b;}
/* ===== 新闻列表box ===== */
.g-news-list-box .hd{height:24px;overflow:hidden;padding:2px 0;border-bottom:1px solid #CCCCCC;}
.g-news-list-box .hd h3{color:#AA0003;font-size:14px;line-height:24px;font-weight:bold;}
.g-news-list-box .list li{height:18px;overflow:hidden;margin-top:5px;padding-left:16px;background:url(//mat1.gtimg.com/sports/arsenal/img/arrow.png) no-repeat 0 -75px;}
.g-news-list-box .list li a{color:#4B4B4B;}

.news-area{padding:0 14px;}
.news-area .g-news-list-box{display:inline;float:left;width:275px;overflow:hidden;margin:0 20px 10px;}
/* ===== 阿森纳微博 ===== */
.arsenal-weibo .hd{height:30px;overflow:hidden;background:#AA0000 url(../img/arsenal-weibo-tit.png) no-repeat 0 0;}
.arsenal-weibo .hd h3{padding-left:45px;color:#fff;font-size:18px;line-height:30px;font-family:"microsoft yahei";}
.arsenal-weibo .bd{position:relative;height:554px;overflow:hidden;border:1px solid #AA0000;}
.arsenal-weibo .weibo-list{position:relative;*zoom:1;overflow:hidden;}
.arsenal-weibo .weibo-list li{position:relative;*zoom:1;margin-top:-1px;padding:6px 10px 10px 70px;border-top:1px dashed #D2D2D2;}
.arsenal-weibo .weibo-list a{color:#35436A;}
.arsenal-weibo .weibo-list .user-pic{position:absolute;top:10px;left:10px;width:50px;height:50px;overflow:hidden;border:1px solid #D2D2D2;}
.arsenal-weibo .weibo-list .weibo-msg{margin-bottom:6px;color:#333;font-size:14px;}
.arsenal-weibo .weibo-list .weibo-img-box{overflow:hidden;*zoom:1;margin-bottom:6px;}
.arsenal-weibo .weibo-list .weibo-img-box .weibo-img{float:left;padding:3px;background-color:#fff;border:1px solid #E5E6EA;}
.arsenal-weibo .weibo-list .pub-info{margin-top:6px;}
.arsenal-weibo .weibo-list .pub-info .time{color:#9D9D9B;}
.arsenal-weibo .weibo-list .pub-info .view-reply{margin-left:8px;}
.arsenal-weibo .weibo-list .pub-info .view-reply em{font-weight:bold;}
/* ===== 赛程 ===== */
.match-board{position:relative;z-index:1;width:298px;height:134px;overflow:hidden;background:url(//mat1.gtimg.com/sports/arsenal/img/lastnextbg0528.png) no-repeat 0 0;}
.match-board .tit{position:absolute;left:-9999px;}
.match-board .link-box{position:absolute;top:23px;right:10px;z-index:2;width:140px;}
.match-board .link-box a{margin-left:10px;color:#AA0000;}
.match-board .logo-box{position:absolute;top:25px;left:27px;}
.match-board .logo-box li{display:inline;float:left;width:40px;height:40px;overflow:hidden;margin-right:20px;}
.match-board .match-inf{position:absolute;top:70px;left:10px;width:275px;overflow:hidden;}
.match-board .match-inf li{height:20px;overflow:hidden;line-height:19px;text-align:center;}
.match-board .match-inf li.inf-vs{color:#907435;}
.match-board-prev{background-position:0 -150px;}
/* ===== 积分榜 ===== */
.scoreboard .tit-table .g-tit3-inner{color:#FF0000;}
.scoreboard .scoreboard-table table{width:100%;}
.scoreboard .scoreboard-table td,
.scoreboard .scoreboard-table th{padding:2px 5px;border-bottom:1px solid #CCCCCC;color:#000;}
.scoreboard .scoreboard-table thead th{font-weight:bold;}
.scoreboard .scoreboard-table tr.cur td{font-weight:bold;}
.scoreboard .season-sele{*zoom:1;overflow:hidden;}
.scoreboard .season-sele a{color:#AA0000;font-weight:normal;}
.scoreboard .season-sele a.prev{float:left;padding-left:12px;background:url(//mat1.gtimg.com/sports/arsenal/img/arrow.png) no-repeat 0 -114px;}
.scoreboard .season-sele a.prev-dis{background-position:0 -74px;color:#ccc;cursor:default;}
.scoreboard .season-sele a.prev-dis:hover{text-decoration:none;}
.scoreboard .season-sele a.next{float:right;padding-right:12px;background:url(//mat1.gtimg.com/sports/arsenal/img/arrow.png) no-repeat right -194px;}
.scoreboard .season-sele a.next-dis{background-position:right -154px;color:#ccc;cursor:default;}
.scoreboard .season-sele a.next-dis:hover{text-decoration:none;}
/* ===== 阿森纳全部赛程 ===== */
.all-match .all-match-pics{text-align:center;}
.all-match .all-match-pics img{margin:0 10px;}
.all-match .all-match-table table{width:100%;}
.all-match .all-match-table thead th{padding:3px 5px;border-bottom:2px solid #444444;color:#444444;font-size:14px;font-weight:bold;text-align:center;}
.all-match .all-match-table tbody td{padding:3px 5px;color:#000;text-align:center;}
/* ===== member-show ===== */
.member-banner{width:520px;height:287px;overflow:hidden;margin:0 -5px;background:url(//mat1.gtimg.com/sports/arsenal/img/member-banner.png) no-repeat 0 0;}
.member-banner .hd{height:23px;overflow:hidden;padding:2px 15px;text-align:right;}
.member-banner .hd .country{color:#fff;}
.member-banner .bd{width:505px;height:250px;overflow:hidden;padding-left:9px;}
/* ===== member-info ===== */
.member-info .data{padding:0 10px;}
.member-info .data li{display:inline;float:left;width:163px;overflow:hidden;padding-bottom:8px;}
.member-info .data a{color:#37458E;}
.member-info .data .lhd{color:#303030;}
.member-info .intro{margin-bottom:5px;padding:0 10px;line-height:2;}
.member-info .intro .lhd{display:inline-block;width:60px;height:15px;overflow:hidden;margin-right:5px;background:url(//mat1.gtimg.com/sports/arsenal/img/bg-tit.png) no-repeat 0 0;color:#fff;line-height:14px;text-align:center;vertical-align:middle;}
.member-info .g-news-list1{margin-top:10px;}
/* ===== 数据统计 ===== */
.data-stat-tab-triggers li{display:inline;float:left;width:72px;height:24px;overflow:hidden;margin-left:10px;background:url(//mat1.gtimg.com/sports/arsenal/img/data-stat-tab-triggers.png) no-repeat -80px 0;line-height:20px;text-align:center;}
.data-stat-tab-triggers li a{color:#666;}
.data-stat-tab-triggers li.data-stat-cur{background-position:0 0;}
.data-stat-tab-triggers li.data-stat-cur a{color:#fff;}
.data-stat-panels table{width:100%;color:#000;}
.data-stat-panels table th,
.data-stat-panels table td{padding:2px 5px;border-bottom:1px solid #CCCCCC;text-align:center;}
.data-stat-panel{display:none;}

.season-data-stat{position:relative;z-index:2;margin-top:-20px;}
.season-data-stat-triggers{padding-left:110px;}
.season-data-stat-triggers li{display:inline;float:left;height:19px;overflow:hidden;padding:0 10px;line-height:19px;}
.season-data-stat-triggers li a{color:#000;}
.season-data-stat-triggers li.season-data-stat-cur{background-color:#fff;border:1px solid #CCCCCC;border-bottom:0 none;}
.season-data-stat-triggers li.season-data-stat-cur a{color:#AA0000;}
.season-data-stat-panel{display:none;}


/* ===== 主视角虚拟体验 ===== */
.stadium_experience{width:502px;height:545px;overflow:hidden;margin:0 auto;}
/* ===== 合作伙伴 ===== */
.g-sponsors-list{padding-bottom:20px;}
.g-sponsors-list ul{margin-left:-10px;}
.g-sponsors-list li{display:inline;float:left;width:76px;height:76px;overflow:hidden;margin:20px 0 0 20px;padding:1px;background-color:#fff;border:1px solid #CCCCCC;}
/* ===== 新闻列表页1 ===== */
.g-news-list1{margin:20px 0;font-size:14px;}
.g-news-list1 li{position:relative;height:22px;overflow:hidden;margin-bottom:5px;color:#000;}
.g-news-list1 li a{color:#000;}
.g-news-list1 li .dot{display:inline-block;padding:0 5px;vertical-align:middle;}
.g-news-list1 li .date{position:absolute;top:0px;right:0px;background-color:#fff;color:#AA0000;text-align:left;}
.goto-top{height:21px;overflow:hidden;font-size:14px;text-align:right;}
.goto-top a{display:inline-block;padding-left:15px;color:#AA0000;background:url(//mat1.gtimg.com/sports/arsenal/img/arrow.png) no-repeat 0 6px;}
/* ===== 新闻列表页2 ===== */
.history-banner{width:510px;height:250px;overflow:hidden;}

.g-news-list2{margin-top:20px;}
.g-news-list2 ul{margin-left:-8px;}
.g-news-list2 li{display:inline;float:left;width:230px;height:85px;overflow:hidden;margin:0 0 10px 16px;padding-left:11px;background:url(//mat1.gtimg.com/sports/arsenal/img/g-news-list2-item.png) no-repeat ;}
.g-news-list2 li .desc{height:18px;line-height:18px;font-weight:bold;}
.g-news-list2 li .desc a{color:#000;}
.g-news-list2 li .pic-txt{margin-top:5px;}
.g-news-list2 li .pic-txt .pic{float:left;width:45px;height:45px;overflow:hidden;margin-right:10px;padding:1px;background-color:#fff;border:1px solid #CCCCCC;}
.g-news-list2 li .pic-txt .txt{*zoom:1;overflow:hidden;height:50px;line-height:16px;overflow:hidden;}
.g-news-list2 li .pic-txt .txt .link-more{color:#505050;}
/* ===== 俱乐部 ===== */
.train-player{width:510px;height:386px;overflow:hidden;padding-bottom:10px;}
.train-txt-intro .p-cont .p-con{margin-bottom:5px;text-indent:2em;line-height:22px;color:#000;}
/* =====  球队 ===== */
.member-list{padding-bottom:7px;}
.member-list ul{margin-left:-10px;}
.member-list li{*zoom:1;display:inline; float:left;width:218px;height:45px;overflow:hidden;margin-bottom:-1px;margin-left:22px;padding:1px 6px;border:1px solid #CDCDCD;border-left:0 none;background:url(//mat1.gtimg.com/sports/arsenal/img/member-list-item.png) no-repeat ;}
.member-list li i{display:inline-block;float:left;width:21px;height:45px;line-height:45px;text-align:center;color:#fff;font-weight:bold;}
.member-list li .pic{display:inline;float:left;width:45px;height:45px;overflow:hidden;margin-left:1px;}
.member-list li .txt{*zoom:1;display:inline;float:left;height:42px;overflow:hidden;margin-left:12px;padding-top:3px;color:#000;}
.member-list li .txt .name a{color:#000;}
.member-list li .txt .country{color:#AA0000;}/*/*  |xGv00|9406bd93b602f86d051d92e6cd3b905c */