/* author:shenshenyan 2013/6/18 15:03*/
@charset "utf-8";
.hd h2,.hd h3{float:none;display:block;}
a{color:#333; }
.wdwrap a:hover{color:#c00; }
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,button{margin:0;padding:0}  
body{font:12px simsun Arial;background:#fff;color:#333; }  
a{text-decoration:none;color:#542800 }
a:hover{text-decoration:underline;color:#542800; }
em{font-style:normal}  
li{list-style:none}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
button, input, select, textarea{cursor:pointer; }
p{word-wrap:break-word}
.cf:after{content:"";display:table;clear:both}  
.cf{*zoom:1}


.box .titIcon{background:url(http://mat1.gtimg.com/gongyi/zgby/img/titBgicon.png) no-repeat ;line-height:10000px;overflow:hidden;z-index:1000}

/* page */
#mini_nav_qq_wrap{position:relative; z-index:1000}
.wrap .box{overflow:hidden; }
.wrap .box01{background:#774b26 url(http://mat1.gtimg.com/gongyi/zgby/img/bg1.jpg) no-repeat center top ;height:818px;}
.wrap .box02{background:#f1e7cb url(http://mat1.gtimg.com/gongyi/zgby/img/bg2.jpg) no-repeat center top ;height:849px;}
.wrap .box03{background:#c1a790 url(http://mat1.gtimg.com/gongyi/zgby/img/bg3.jpg) no-repeat center top ;height:851px;}
.wrap .box04{background:url(http://mat1.gtimg.com/gongyi/zgby/img/bg4.jpg) no-repeat center top ;height:851px;}
.wrap .box05{background:#b6b1ab url(http://mat1.gtimg.com/gongyi/zgby/img/bg5.jpg) no-repeat center top;height:853px;}

.wrap .box{-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

.wrap .layout{background:url(http://mat1.gtimg.com/gongyi/zgby/img/bg_w.png) repeat ;height:3000px;  }
.wrap .box01 .sidai{position:absolute;width:100%;background:url(http://mat1.gtimg.com/gongyi/zgby/img/sidai.png) no-repeat center top;height:408px;top:50px;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/sidai.png");}
.wrap .box02 .midBox{width:960px;position:absolute;height:2000px;margin-left:-420px;left:50%  }

.wrap .box01 .intr{height:819px;  }
.wrap .box02 .intr{height:849px;  }
.wrap .box03 .intr{height:851px;  }
.wrap .box04 .intr{height:851px;  }
.wrap .box05 .intr{height:853px;  }

.wrap .box01 .linkBox{width:400px;height:65px;position:absolute;top:25px;left:50%;margin-left:-100px;}
.wrap .box01 .linkLi {overflow:hidden;zoom:1;width:400px;height:65px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/logo.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/logo.png");  }
.wrap .box01 .linkLi li{float:left; display:inline;  }
.wrap .box01 .linkLi a{line-height:10000px;overflow:hidden;display:inline-block;*display:inline;zoom:1;height:65px;   }
.wrap .box01 .linktc{width:150px;  }
.wrap .box01 .linkcs{width:225px;margin-left:10px;}
.wrap .box01 h1{height:10px;overflow:hidden; text-indent:-999em; }
.wrap .box01 .intr .text{position:absolute;width:530px;height:75px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:16px; line-height:24px;color:#754404;top:540px;left:50%;z-index:1000;margin-left:-158px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#01FFFFFF', endColorstr='#01FFFFFF');background:rgba(255,255,255,0.6);padding:10px 20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}

.wrap .box02 .tit{font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:18px;line-height:34px;color:#542800;position:absolute;width:730px;height:75px;left:115px;top:73px; z-index:10;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#01FFFFFF', endColorstr='#01FFFFFF');background:rgba(255,255,255,0.6);padding:10px 20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.wrap .box02 .tit b{font-weight:bold;}
.wrap .box02 .iiang{color:#542800;position:absolute;width:765px;height:75px;left:120px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:16px;line-height:25px;z-index:100 }


.wrap .box02 .iiang dl{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#01FFFFFF', endColorstr='#01FFFFFF');background:rgba(255,255,255,0.6);padding:10px 20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.wrap .box02 .iiang h2{height:55px;overflow:hidden; text-indent:-999em;margin:10px 0 5px 0; }
.wrap .box02 .jyyw{top:178px; }
.wrap .box02 .jyyw h2{background:url(http://mat1.gtimg.com/gongyi/zgby/img/jyyw.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/jyyw.png"); }
.wrap .box02 .xfby{top:445px;}
.wrap .box02 .xfby h2{background:url(http://mat1.gtimg.com/gongyi/zgby/img/xjby.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/xjby.png"); }
.wrap .box02 .iiang dt{margin-bottom:5px;font-size:18px;}
.wrap .box02 .iiang dd{margin-bottom:10px;font-size:14px;line-height:20px; }
.wrap .box02 .iiang dd .num{font-family:arial;font-size:28px;color:#d06f01;text-shadow:#785a3c 1px 0px 5px; }

.wrap .box03 .tit{color:#542800;line-height:30px;font-size:20px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';text-align:right; }
.wrap .box03 .tit b{font-size:35px;font-weight:bold;font-family:arial;}
.wrap .box03 .text{color:#3d200e;line-height:30px;font-size:20px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå'; }
.wrap .box03  .more a{position:absolute; bottom:40px;left:50%;margin-left:280px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:18px;color:#fff; }

.wrap .box04 .fqdw{position:absolute;width:818px;height:500px;top:160px;left:50%;margin-left:-250px;}
.wrap .box04 .fqdw dt{font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:22px;font-weight:100;color:#754404;padding:10px 0; }
.wrap .box04 .fqdw dt span{font-size:14px;margin:0 3px; }
.wrap .box04 .linkLi {overflow:hidden;zoom:1;width:400px;height:65px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/logo.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/logo.png");  }
.wrap .box04 .linkLi li{float:left; display:inline;  }
.wrap .box04 .linkLi a{line-height:10000px;overflow:hidden;display:inline-block;*display:inline;zoom:1;height:65px;   }
.wrap .box04 .linktc{width:150px;  }
.wrap .box04 .linkcs{width:225px;margin-left:10px;}
.wrap .box04 .fqdw dd img{padding:3px;background:#fff;border:1px solid #943c05;margin-right:15px; }
.wrap .box04 .fqdw dd p{padding:5px 0;}

.wrap .box05 .newsB{width:450px;bottom:100px;left:50%;margin-left:-350px;position:absolute;height:380px;line-height:26px;font-size:14px;   }
.wrap .box05 .newsB dt{overflow:hidden;zoom:1;margin-bottom:10px;height:30px;line-height:30px;border-bottom:1px solid #e8d4c1;   }
.wrap .box05 .newsB dt .more{float:right; display:inline;  }
.wrap .box05 .newsB dt h2{font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:18px;font-weight:100;color:#754404; }
.wrap .box05 .newsB dd a{color:#333; }
.wrap .box05 .newsB dd a:hover{color:#754404; }
.wrap .box05 .jjnews{bottom:30px}
.wrap .box05 .newsB li{padding-left:15px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/cold.png) no-repeat 3px 12px; }
body{position:relative; }
.wrap .box{height:800px;overflow:hidden; position:relative;}
.wrap .box{border-bottom:3px solid #3d200e; }
.tabs{position:absolute;z-index:9999;bottom:30px;height:110px;left:50%;margin-left:-360px;width:1088px;padding-top:100px; }
.tabs .timeline{background:url(http://mat1.gtimg.com/gongyi/zgby/img/timeline.png) no-repeat ; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/timeline.png");height:110px; }
.timeline li{position:absolute;width:70px;height:50px;cursor:pointer;}
.timeline li .tips{position:absolute;width:161px;height:85px;top:-100px;left:-150px;color:#713e02;font-size:16px;line-height:30px;text-align:center;display:none;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';}
.timeline li .tips .text2{padding:10px 10px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/tipsBg.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/tipsBg.png");height:65px; }
.timeline li .tips i{position:absolute;width:15px;height:15px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/col.png) no-repeat ;bottom:-15px;right:0;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/col.png");}
.timeline li .tips .text2 b{display:block;font-size:18px; }
.timeline .li1{left:113px;top:115px}
.timeline .li2{left:224px;top:148px}
.timeline .li3{left:428px;top:140px}
.timeline .li4{left:530px;top:130px}
.timeline .li5{left:637px;top:120px}
.timeline li .cur{display:block;}

.box .topcol{height:0px;overflow:hidden; position:absolute;top:0;border-top:10px solid #3d200e;border-right:10px solid transparent; border-left:10px solid transparent;z-index:100;left:77px;}
.box03 .topcol{left:auto;right:112px;}
.box05 .topcol{left:auto;right:77px;}
.shareBox{width:53px;height:260px;position:fixed;left:50%;margin-left:500px;bottom:40px;z-index:1000;cursor:pointer;_position: absolute; _top: expression(eval(document.documentElement.scrollTop + (document.documentElement.clientHeight - 300)));

}
.shareBox .shareqq{height:55px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/shareBg.png) no-repeat ;display:block;}
.shareBox .iShareWrap a.iShare_0_tqq{width:53px;height:42px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/shareBg.png) no-repeat ;background-position:0 -55px !important;   }
.shareBox .iShareWrap a.iShare_0_qzone{width:53px;height:42px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/shareBg.png) no-repeat ;background-position:0 -97px !important;   }
.shareBox .iShareWrap a.iShare_0_tsina{width:53px;height:42px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/shareBg.png) no-repeat ;background-position:0 -139px !important;   }
.shareBox .iShareWrap a.iShare_0_mail{width:53px;height:45px;background:url(http://mat1.gtimg.com/gongyi/zgby/img/shareBg.png) no-repeat ;background-position:0 -181px !important;   }
.shareBox .up{width:53px;height:34px;display:inline-block;*display:inline;zoom:1;background:url(http://mat1.gtimg.com/gongyi/zgby/img/shareBg.png) no-repeat ;background-position:0 -226px !important;  }
.shareBox .shareqq:hover,.shareBox .iShareWrap a.iShare_0_tqq:hover,.shareBox .iShareWrap a.iShare_0_qzone:hover,.shareBox .iShareWrap a.iShare_0_tsina:hover,.shareBox .iShareWrap a.iShare_0_mail:hover:hover,.shareBox .up:hover{background:url(http://mat1.gtimg.com/gongyi/zgby/img/shareh.png) no-repeat ; }
.shareBox .iShareWrap a.iShare_0_tqq:hover{background-position:0 -55px !important;   }
.shareBox .iShareWrap a.iShare_0_qzone:hover{background-position:0 -97px !important;   }
.shareBox .iShareWrap a.iShare_0_tsina:hover{background-position:0 -139px !important;   }
.shareBox .iShareWrap a.iShare_0_mail:hover{background-position:0 -181px !important;   }
.shareB{display:none; }

.ftBox{padding:20px 0;}
.ftBox .bd{width:960px;margin:0 auto;overflow:hidden;zoom:1;  }
.ftBox .main{float:left; display:inline; width:700px; }
.ftBox .sub{float:right; display:inline; width:245px; }
.ftBox .sub .ewmBox{text-align:center; line-height:20px;font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:16px;padding-top:40px; }
.ftBox .sub .ewmBox img{padding:10px 0;}
.ftBox .topBox{height:30px;position:relative;border-bottom:1px solid #e8e8e8;margin-bottom:10px; }
.ftBox .topBox h2{height:30px;display:inline-block;*display:inline;zoom:1; border-bottom:1px solid #d78a3f; font-family:'Î¢ÈíÑÅºÚ','ºÚÌå';font-size:16px;font-weight:100;line-height:28px;color:#d78a3f; }

.box01 .titIcon{position:absolute;width:176px;height:55px;background-position:0 0 ;bottom:-1px;left:50%;margin-left:-480px;}
.box02 .titIcon{position:absolute;width:244px;height:55px;background-position:0 -135px;bottom:-1px;left:50%;margin-left:300px;}
.box03 .titIcon{position:absolute;width:176px;height:55px;background-position:0 -66px ;bottom:-1px;left:50%;margin-left:-480px;}
.box04 .titIcon{position:absolute;width:176px;height:55px;background-position:0 -205px;bottom:-1px;left:50%;margin-left:300px;}

.box02 .jzIcon{background:url(http://mat1.gtimg.com/gongyi/zgby/img/jzan.png) no-repeat ; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/jzan.png");width:91px;height:445px;left:50%;margin-left:-440px; top:0;position:absolute;z-index:100}
.box03 .hand{width:970px;height:478px;position:absolute;left:50%;margin-left:-550px;top:0 ;}

.box03 .hand .bg{background:url(http://mat1.gtimg.com/gongyi/zgby/img/hands.png) no-repeat ; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/hands.png");height:478px; }
.box03 .poa{position:absolute;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#01FFFFFF', endColorstr='#01FFFFFF');background:rgba(255,255,255,0.6);padding:20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;bottom:75px;left:50%;margin-left:-410px;width:720px;height:195px;  }
.box03 .jzIcon{background:url(http://mat1.gtimg.com/gongyi/zgby/img/zdrw.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/zdrw.png");width:81px;height:724px;top:0;left:50%;margin-left:378px; position:absolute;z-index:10000 }

.box04 .jzIcon{background:url(http://mat1.gtimg.com/gongyi/zgby/img/fqdwBg.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/fqdwBg.png");width:82px;height:705px;top:0;left:50%;margin-left:-437px; position:absolute;z-index:10000 }

.box05 .jzIcon{background:url(http://mat1.gtimg.com/gongyi/zgby/img/jxszicon.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/jxszicon.png");width:81px;height:724px;top:0;left:50%;margin-left:346px; position:absolute;z-index:10000 }

.photobg{background:url(http://mat1.gtimg.com/gongyi/zgby/img/phone.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="http://mat1.gtimg.com/gongyi/zgby/img/phone.png"); width:1008px;height:586px; position:absolute;bottom:0;left:50%;margin-left:-700px; }

.hand .photoLi li{position:absolute;background:url(http://mat1.gtimg.com/gongyi/zgby/img/photobg.png) no-repeat ; }
.hand .photoLi li.lk55{width:62px;height:62px;background-position:-99px -95px ;padding:3px 0 0 3px;}
.hand .photoLi li.lk45{width:52px;height:50px;background-position:0px 0px ;padding:3px 0 0 3px;}
.hand .photoLi li.lk60{width:72px;height:70px;background-position:-2px -90px ;padding:7px 0 0 7px;}
.hand .photoLi li.lk75{width:86px;height:81px;background-position:-74px -0px ;padding:6px 0 0 6px;}
.hand .photoLi li.lk98{width:108px;height:101px;background-position:0px -171px ;padding:7px 0 0 7px;}

.hand .photoLi .a1{left:212px;top:114px;z-index:10}
.hand .photoLi .a2{left:273px;top:157px}
.hand .photoLi .a3{left:212px;top:217px}
.hand .photoLi .a4{left:331px;top:360px}
.hand .photoLi .am1{left:509px;top:100px}
.hand .photoLi .ar1{left:731px;top:163px}
.hand .photoLi .ar2{left:640px;top:181px}
.hand .photoLi .ar3{left:594px;top:300px;z-index:10}
.hand .photoLi .ar4{left:670px;top:368px}


/*  |xGv00|fd2f28947273c1b7468ed26a3b5b9682 */