@charset "gb2312";
/* CSS Document */
body{ background:#7a0a01; color:#ffedb6;}
a{ color:#ffedb6;}
.banner{ background:url(//mat1.gtimg.com/house/cz2013/banner.jpg) center top no-repeat; height:493px;}
.banner h1,.banner p{ height:0; overflow:hidden;}
.container{ background:url(//mat1.gtimg.com/house/cz2013/con_bg.jpg) center top no-repeat;}
.layout{ margin:0 auto; width:972px;}
.layout .bd{ background:url(//mat1.gtimg.com/house/cz2013/layout_bg.jpg) repeat-y; padding:3px 0 0 10px; width:962px;}
.layout li{ float:left;}
.layout ul:after{content:"";display:table;clear:both}
.layout ul{*zoom:1}
.layout .tips{ display:none; position:absolute; left:-5px; bottom:-190px; width:320px; z-index:0;}
.layout .tips .dot{ background:url(//mat1.gtimg.com/house/cz2013/dot.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/house/cz2013/dot.png',sizingMethod='crop'); height:20px; position:relative; left:20px; bottom:-1px; width:19px;}
.layout .tips .box{ background:url(//mat1.gtimg.com/house/cz2013/tipBox_bg.jpg) no-repeat; height:193px; width:320px;}
.layout .r .tips{ right:10px; left:auto;}
.layout .r .tips .dot{ background:url(//mat1.gtimg.com/house/cz2013/dot1.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/house/cz2013/dot1.png',sizingMethod='crop'); left:280px;}
.layout .b .tips{ top:-210px; bottom:auto;}
.layout .b .tips .dot{ background:url(//mat1.gtimg.com/house/cz2013/dot2.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/house/cz2013/dot2.png',sizingMethod='crop'); bottom:-212px;}
.layout .rb .tips{ top:-210px; right:10px; bottom:auto; left:auto;}
.layout .rb .tips .dot{ background:url(//mat1.gtimg.com/house/cz2013/dot3.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/house/cz2013/dot3.png',sizingMethod='crop'); bottom:-212px; left:280px;}
.box .Q-tpList em{ line-height:36px;}
.box .Q-tpList em span{ color:#720d03; padding-left:20px;}
.box .Q-tpWrap{ padding:15px; width:290px;}
.box .Q-tpWrap .pic span{ font-weight:bold;}
.box .Q-tpWrap p{ padding-top:32px;}
.list{ padding-bottom:7px;}
.item li{ padding:0 5px 5px 0; position:relative;}
.item .on{ z-index:1;}
.item .on .tips{ display:block; z-index:10;}
.x1{width:137px;}
.x2{ width:274px;}
.x3{ width:411px;}
.layout .ft{ background:url(//mat1.gtimg.com/house/cz2013/ft_bg.jpg) no-repeat; height:7px; overflow:hidden; width:972px;}
.bottom{ background:url(//mat1.gtimg.com/house/cz2013/bottom_bg.jpg) center top repeat-x; height:20px; margin-top:15px;}
.tcopyright{ padding:20px 0!important;}
.tcopyright a,.tcopyright .en,.tcopyright div{ color:#ffedb6!important;}
/*  |xGv00|8560dab762230ecd8d597b51482b28ba */