* {
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
}
iframe,
img {
  border: 0;
}
ul,
ol {
  list-style: none;
}
input,
select,
textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only;
}
input {
  -webkit-appearance: none;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #333;
}
.clx:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}
.clx {
  *zoom: 1;
}
body {
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  color: #333;
}
.center {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}
.banner {
  height: 485px;
  background: url(//mat1.gtimg.com/gd/2018/sanjiu/banner.jpg) no-repeat center top;
}
.headline {
  padding-top: 40px;
  height: 145px;
  background: url(//mat1.gtimg.com/gd/2018/sanjiu/headline.png) no-repeat center bottom;
}
.headline strong {
  font-size: 30px;
  line-height: 2;
  display: block;
  text-align: center;
}
.headline p {
  font-size: 14px;
  color: #666;
  line-height: 2;
}
.block_left {
  width: 800px;
  float: left;
  margin-bottom: 15px;
}
.block_right {
  width: 360px;
  float: right;
  margin-bottom: 15px;
}
.p1 {
  margin-bottom: 100px;
}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0, 0);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: left,top,-webkit-transform;
  transition-property: transform,left,top;
  transition-property: transform,left,top,-webkit-transform;
  transition-duration: 0s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-timing-function: ease;
  box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
  box-sizing: content-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.focus_photo {
  width: 480px;
  height: 285px;
  float: right;
  position: relative;
  z-index: 2;
  margin-top: 15px;
  overflow: hidden;
}
.focus_photo .swiper-slide {
  position: relative;
}
.focus_photo .swiper-slide img {
  width: 480px;
  height: 285px;
  display: block;
}
.focus_photo .swiper-slide .f_pic_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 16px;
  text-indent: 1em;
  background: rgba(0, 0, 0, 0.85);
}
.focus_photo .pagination {
  height: 5px;
  position: absolute;
  right: 10px;
  bottom: 20px;
  z-index: 10;
}
.focus_photo .pagination .swiper-pagination-switch {
  width: 10px;
  height: 10px;
  float: left;
  background: #fff;
  display: block;
  margin-right: 6px;
  border-radius: 100%;
  cursor: pointer;
}
.focus_photo .pagination .swiper-active-switch {
  width: 14px;
  height: 14px;
  margin-top: -2px;
  background: #85ce3d;
}
.newsList {
  width: 505px;
  float: left;
  padding-top: 15px;
}
.newsList li {
  border-bottom: 1px dashed #ccc;
}
.newsList li strong {
  display: block;
  height: 56px;
  line-height: 56px;
  font-size: 20px;
  overflow: hidden;
}
.newsList li p {
  font-size: 14px;
  line-height: 20px;
  height: 50px;
  overflow: hidden;
  display: none;
  color: #666;
}
.newsList li p a {
  color: #1192af;
}
.newsList li.cur p {
  display: block;
}
.map_title {
  display: block;
  margin: 0 auto 25px;
}
.mapzone {
  margin-bottom: 100px;
  background: url(//mat1.gtimg.com/gd/2018/sanjiu/mapzone.png) no-repeat center center;
}
.title {
  display: block;
  margin: 0 auto 40px;
}
.sub_tit {
  line-height: 44px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 3px;
  background: url(//mat1.gtimg.com/gd/2018/sanjiu/sub_tit.png) no-repeat center bottom;
  margin-bottom: 35px;
}
.artList {
  margin-bottom: 20px;
}
.artList li {
  width: 499px;
  float: left;
  height: 145px;
  position: relative;
}
.artList li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
}
.artList li p {
  width: 260px;
  padding: 4px 0 0 195px;
  line-height: 2;
  font-size: 16px;
}
.pinch-zoom {
  border: 2px solid #b82126;
  width: 900px;
  height: 1200px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  background: #fdfcf8;
}
.pinch-zoom .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  padding: 20px 20%;
  z-index: 99;
}
.pinch-zoom .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.pinch-zoom .p1_tips2 {
  position: absolute;
  bottom: 45px;
  right: -10px;
  width: 184px;
  z-index: 99;
}
.map {
  position: relative;
}
.map img {
  -webkit-user-drag: none;
}
.location div {
  width: 68px;
  height: 80px;
  z-index: 99;
  color: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}
.location div:hover {
  opacity: 0.6;
}
.location .red {
  background: url(//mat1.gtimg.com/gd/wendy/2018citynews/redbg.png) no-repeat;
  background-size: cover;
}
.location .yellow {
  background: url(//mat1.gtimg.com/gd/wendy/2018citynews/yellow.png) no-repeat;
  background-size: cover;
}
.location .green {
  background: url(//mat1.gtimg.com/gd/wendy/2018citynews/green.png) no-repeat;
  background-size: cover;
}
.location .blue {
  background: url(//mat1.gtimg.com/gd/wendy/2018citynews/blue.png) no-repeat;
  background-size: cover;
}
#l1 {
  position: absolute;
  top: 2410px;
  left: 776px;
}
#l2 {
  position: absolute;
  top: 2252px;
  left: 765px;
}
#l3 {
  position: absolute;
  top: 2252px;
  left: 1194px;
}
#l4 {
  position: absolute;
  top: 2195px;
  left: 1117px;
}
#l5 {
  position: absolute;
  top: 2157px;
  left: 943px;
}
#l6 {
  position: absolute;
  top: 2100px;
  left: 978px;
}
#l7 {
  position: absolute;
  top: 2314px;
  left: 814px;
}
#l8 {
  position: absolute;
  top: 2410px;
  left: 893px;
}
#l9 {
  position: absolute;
  top: 2364px;
  left: 846px;
}
#l10 {
  position: absolute;
  top: 2353px;
  left: 896px;
}
#l11 {
  position: absolute;
  top: 2295px;
  left: 975px;
}
#l12 {
  position: absolute;
  top: 1774px;
  left: 676px;
}
#l13 {
  position: absolute;
  top: 1935px;
  left: 830px;
}
#l14 {
  position: absolute;
  top: 1955px;
  left: 900px;
}
#l15 {
  position: absolute;
  top: 1915px;
  left: 767px;
}
#l16 {
  position: absolute;
  top: 2670px;
  left: 1370px;
}
#l17 {
  position: absolute;
  top: 2739px;
  left: 1266px;
}
#l18 {
  position: absolute;
  top: 2780px;
  left: 1070px;
}
#l19 {
  position: absolute;
  top: 2808px;
  left: 1012px;
}
#l20 {
  position: absolute;
  top: 2330px;
  left: 1350px;
}
#l21 {
  position: absolute;
  top: 2675px;
  left: 1024px;
}
#l22 {
  position: absolute;
  top: 2294px;
  left: 1252px;
}
#l23 {
  position: absolute;
  top: 2400px;
  left: 1252px;
}
#l24 {
  position: absolute;
  top: 2277px;
  left: 1362px;
}
#l25 {
  position: absolute;
  top: 2375px;
  left: 1439px;
}
#l26 {
  position: absolute;
  top: 1283px;
  left: 545px;
}
#l27 {
  position: absolute;
  top: 1431px;
  left: 858px;
}
#l28 {
  position: absolute;
  top: 1365px;
  left: 883px;
}
#l29 {
  position: absolute;
  top: 3210px;
  left: 1527px;
}
#l30 {
  position: absolute;
  top: 3285px;
  left: 1636px;
}
#l31 {
  position: absolute;
  top: 3262px;
  left: 1560px;
}
#l32 {
  position: absolute;
  top: 3233px;
  left: 1605px;
}
#l33 {
  position: absolute;
  top: 931px;
  left: 1677px;
}
#l34 {
  position: absolute;
  top: 2124px;
  left: 1791px;
}
#l35 {
  position: absolute;
  top: 1757px;
  left: 2248px;
}
#l36 {
  position: absolute;
  top: 1721px;
  left: 2292px;
}
#l37 {
  position: absolute;
  left: 980px;
  top: 2163px;
}
#l38 {
  position: absolute;
  left: 990px;
  top: 2122px;
}
#l39 {
  position: absolute;
  left: 1212px;
  top: 2098px;
}
#l40 {
  position: absolute;
  left: 1113px;
  top: 2266px;
}
#l41 {
  position: absolute;
  left: 1128px;
  top: 2241px;
}
#l42 {
  position: absolute;
  left: 1210px;
  top: 2057px;
}
#l43 {
  position: absolute;
  left: 1192px;
  top: 2286px;
}
#l44 {
  position: absolute;
  left: 1135px;
  top: 2151px;
}
#l45 {
  position: absolute;
  left: 1166px;
  top: 2256px;
}
#l46 {
  position: absolute;
  left: 1175px;
  top: 2144px;
}
#l47 {
  position: absolute;
  left: 1041px;
  top: 2207px;
}
#l48 {
  position: absolute;
  left: 1230px;
  top: 2229px;
}
#l49 {
  position: absolute;
  left: 1181px;
  top: 2058px;
}
#l50 {
  position: absolute;
  left: 853px;
  top: 2032px;
}
#l51 {
  position: absolute;
  left: 1113px;
  top: 2651px;
}
#l52 {
  position: absolute;
  left: 1318px;
  top: 2733px;
}
#l53 {
  position: absolute;
  left: 1010px;
  top: 2571px;
}
#l54 {
  position: absolute;
  left: 1361px;
  top: 2203px;
}
#l55 {
  position: absolute;
  left: 1458px;
  top: 2156px;
}
#l56 {
  position: absolute;
  left: 1494px;
  top: 1713px;
}
#l57 {
  position: absolute;
  left: 1560px;
  top: 2267px;
}
#l58 {
  position: absolute;
  left: 1437px;
  top: 1516px;
}
#l59 {
  position: absolute;
  left: 1809px;
  top: 2132px;
}
#l60 {
  position: absolute;
  left: 1817px;
  top: 2193px;
}
#l61 {
  position: absolute;
  left: 1876px;
  top: 1804px;
}
#l62 {
  position: absolute;
  left: 1872px;
  top: 1998px;
}
#l63 {
  position: absolute;
  left: 1739px;
  top: 2244px;
}
#l64 {
  position: absolute;
  left: 770px;
  top: 1587px;
}
#l65 {
  position: absolute;
  left: 774px;
  top: 2265px;
}
#l66 {
  position: absolute;
  left: 1403px;
  top: 1352px;
}
#l67 {
  position: absolute;
  left: 1151px;
  top: 1359px;
}
#l68 {
  position: absolute;
  left: 570px;
  top: 1521px;
}
#l69 {
  position: absolute;
  left: 880px;
  top: 1423px;
}
.detail {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.detail .wrap {
  background: url(//mat1.gtimg.com/gd/wendy/2018citynews/detailw.png) no-repeat;
  width: 640px;
  margin: 5% auto 0;
  background-size: cover;
  position: relative;
  padding: 5% 0;
}
.detail .content {
  width: 90%;
  height: 700px;
  overflow-y: auto;
  position: relative;
  margin: 0 5%;
}
.detail .wrap .tit {
  color: #b82126;
  font-size: 26px;
  text-align: center;
  padding: 2% 0 3%;
  font-weight: 600;
}
.detail .wrap p {
  color: #3a302c;
  font-size: 16px;
  line-height: 2;
  font-weight: bold;
  padding: 0 50px;
}
.detail .wrap img {
  width: 99%;
  margin: 0 auto;
}
.detail .wrap img.close {
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
}
.detail .wrap img.list {
  border: none;
}
/*  |xGv00|b2668e553a027118528fcc7db151513c */