@charset "gb2312";
/* CSS Document */

*{ margin:0; padding:0; border:none;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none; opacity :0.7;}
ul,li,dl,dd,dt{ list-style:none;}
ul,li,dl,dd,dt,p{ overflow:hidden;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

body{ background:url(//mat1.gtimg.com/fj/zt2018/wbh11/banner.jpg) no-repeat center 28px #f6aa00; font:normal 14px/26px "Microsoft YaHei"; color:#fff;}
.banner{ width:100%; height:736px; overflow:hidden;}
.nav{ width:1200px; overflow:hidden; margin:618px auto 0; text-align:center;}
.nav a{ height:118px; padding:0 55px; text-align:center; font-size:22px; line-height:118px; color:#fff;}

.w1200{ width:1200px; margin:0 auto; overflow:hidden;}
.wrap{ width:100%; background-color:#f8bb33;} 
.hd{ width:100%; height:34px; padding:100px 0 30px; text-align:left;}
.bd{ width:100%; padding-bottom:100px; overflow:hidden;}

.focus{ width:520px; height:360px; overflow:hidden; position:relative;}
.focus h3{ width:100%; height:46px; position:absolute; left:0; bottom:0; text-align:center; font:normal 20px/46px "Microsoft YaHei"; background:rgba(0, 0, 0, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); color:#fff;}
.focus a:hover{opacity:1}
.focus a:hover h3{ color:#fcdd99}

.topnews{ width:630px; height:360px; overflow:hidden; position:relative;}
.topnews a{ color:#fff;}
.topnews h3{ font:normal 28px/60px "Microsoft YaHei";}
.topnews p{ margin-bottom:10px; font-family:"ו";}
.topnews .jd{ width:560px; height:160px; padding-left:70px; position:absolute; bottom:0; right:0; background:url(//mat1.gtimg.com/fj/zt2018/wbh11/jd.gif) no-repeat left top;}
.topnews .jd li{ width:260px; float:left; margin-left:20px; position:relative;}
.topnews .jd li h4{ width:100%; height:32px; position:absolute; left:0; top:128px; background:rgba(0, 0, 0, 0.5);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000'); text-align:center; font:normal 16px/32px "Microsoft YaHei"; color:#fff;}

.bgyel{ background-color:#f8bb33;}
.sjkwb{ width:1300px;}
.sjkwb li{ float:left; display:inline; width:365px; margin-right:52px; position:relative; height:276px;}
.sjkwb li h4{ height:36px; background-color:#fcdd99; font:normal 18px/36px "Microsoft YaHei"; text-align:center;}

.scroll_A{position:relative;padding:0 40px;}
.scroll_A .inner{position:relative;width:1110px;height:250px;overflow:hidden;}
.scroll_A .split{ width:326px;height:250px;float:left;padding:0 22px; position:relative;}
.scroll_A .split h4{ width:326px; height:36px; position:absolute; left:22px; bottom:0; text-align:center; font:normal 18px/36px "Microsoft YaHei"; color:#333;}
.scroll_A .btn{position:absolute;top:0;width:48px;height:246px;cursor:pointer;}
.scroll_A .prev{left:0; background:url(//mat1.gtimg.com/fj/wbh09/ll.png) no-repeat center center;}
.scroll_A .next{right:0; background:url(//mat1.gtimg.com/fj/wbh09/rr.png) no-repeat center center;}

.tab1{width:1200px;}
.menu{height:72px; background:url(//mat1.gtimg.com/fj/zt2018/wbh11/bg004.png) no-repeat center 40px;}
.menu li{float:left;width:109px;text-align:center;line-height:40px;height:72px;cursor:pointer;color:#ffeab9;font-size:15px;overflow:hidden;}
.menu li.off{color:#fff;font-weight:bold; background:url(//mat1.gtimg.com/fj/zt2018/wbh11/bg003.png) no-repeat -12px 0;}

.menudiv{ width:100%}
.menudiv div{ padding:30px; font-size:14px;line-height:28px; height:330px; background-color:#fff0cb; color:#333;}
.menudiv div img{ float:right; width:400px; height:290px; padding-left:20px}

.foot{ width:100%; padding:50px 0; background-color:#fff;}/*  |xGv00|0b85d278cadb0242d694682e694a65a3 */