a {color:#333;}
h1, h2, h3, h4, h5, h6{font-weight:normal}
a:hover {color:#b00700; text-decoration:none;}
.layout {width:1000px;}
/*首屏*/
.part1 {padding-top:10px;}
.tabs2 .tab_bd_item{word-wrap:break-word;}
.tabs2 .tab_bd_item a {display:block;float:left;font-size:14px;color:#fff; padding:0px 10px; border-right:1px #c03933 solid;}
.tabs2 .tab_bd_item a:hover {color:#f9eeb6;text-decoration:none;}
/*焦点图*/
/* focus */
.mod_focus .focus{width:645px;height:316px;overflow:hidden; zoom: 1;position: relative; }
.mod_focus ul{width:645px;height:316px;overflow:hidden;position:relative; }
.mod_focus li{width:645px;height:316px;float:left;position:relative;}
.mod_focus li a{display:block;cursor:pointer;}
.mod_focus .tit{width:645px;position:absolute;left:0;bottom:35px;text-align:center;z-index:1; font-family:Microsoft YaHei,黑体; font-weight:normal;}
.mod_focus .tit a{color:#fff;}
.mod_focus .tit a:hover{text-decoration:none;}
.mod_focus .bg{width:645px;height:70px;position:absolute;left:0;;bottom:0;background:#000;opacity:0.7;filter:alpha(opacity=70);}
.mod_focus .foucsTit{width:645px;height:22px;left:0;position:absolute;bottom:3px;text-align:center;}
.mod_focus .foucsTit span{display:inline-block;width:8px;height:8px;margin: 0 5px;line-height:0;font-size:0;background:url(//mat1.gtimg.com/city/images/2014/ioc100.png)  no-repeat;cursor:pointer;overflow:hidden;}
.mod_focus .foucsTit .on{background:url(//mat1.gtimg.com/city/images/2014/ioc100.png) no-repeat; background-position:-26px 0px;_background-position:-25px 0px!important;  }
.mod_focus .focusBtnL,
.mod_focus .focusBtnR{width:40px;height:60px;padding:2px;margin-top:-64px;position:relative;z-index:1;}
.mod_focus .focusBtnL{float:left;}
.mod_focus .focusBtnR{float:right;}
.mod_focus .focusBtnL img{float:right;}
.mod_focus .focusBtnL img,
.mod_focus .focusBtnR img{display:none;cursor:pointer;}
.mod_focus .focusBtnL span,
.mod_focus .focusBtnR span{display:inline;width:23px;height:45px;margin:7px 5px 0;cursor:pointer;overflow:hidden;background:url(//mat1.gtimg.com/city/images/2014/icons_v8.png) 0 0 no-repeat;}
.mod_focus .focusBtnL span{float:left;background-position:0 -260px;}
.mod_focus .focusBtnR span{float:right;background-position:-33px -260px;}
.mod_focus .focusBtnLHover span{background-position:-60px -260px;}
.mod_focus .focusBtnRHover span{background-position:-93px -260px;}
.mod_focus .focusBtnLHover,
.mod_focus .focusBtnRHover{width:146px;background:#b00700;overflow:hidden;}
.mod_focus .focusBtnLHover img,
.mod_focus .focusBtnRHover img{display:inline;}
.Q-hot, .Q-tList {margin:0px;}
.part1 .left,.part2 .left{width:645px; _overflow:hidden;}
.part1 .right{width:355px; height:auto;overflow:hidden; position:relative;}
.act_right {padding-left:25px;}
.act_right .hd{ width:330px;height:90px; background:url(//mat1.gtimg.com/cq/grace/2015/city/mrkd.jpg) no-repeat;}
.act_right .hd h2 {text-indent:-9999em;}
.act_right .bd {position:relative; margin-top:-60px;}
.part1 .Q-hot-two {border-bottom: 1px solid #f0f0f0;padding-bottom:15px;}
.part1 .Q-hot-three {padding-bottom:15px;}
.part1 .Q-hot { padding-top:10px;}
.part1 .Q-hot h2 {padding-bottom: 3px;font-weight: normal;color: #5880D9;font-size: 18px;font-family: Microsoft YaHei,黑体;text-align: left;}
.part1 .Q-hot h2 a {color: #b00700;}
.part1 .Q-hot h2 a:hover {color:#c00; text-decoration:none;}
.part1 .Q-hot p{color:#888888;}
.part1 .Q-hot p a {color:#b00700;}
/*广告*/
.city_ad_1 {width:1000px; margin:0px auto; padding:15px 0px 0px 0px;}

/*城市名片*/
.act_city {padding-bottom:15px; padding-top:30px}
.act_city .hd { height:45px; background:url(//mat1.gtimg.com/city/images/2014/icons_v9.png) -2px 0px no-repeat;}
.act_city .hd h2 {text-indent:-99999em;}
.act_city .Q-pList {width:1000px; overflow:hidden;}
.act_city .Q-pList ul {width:1200px;}
.act_city .Q-pList li {width:230px; float:left; display: inline; margin-right:28px; }
.act_city .Q-pList .txt,.act_city .Q-pList .txt a {text-align:left; color:#888888;}
.act_city .Q-pList .t {font-family:Microsoft YaHei,黑体; padding:15px 0px 5px 0px; text-align:left; }
.act_city .Q-pList .t a:hover { text-decoration:none;}
.bor_left {border-left:1px #888888 dotted; padding-left:8px;}
.logo_t {display: block; width:230px; height:35px; background:url(//mat1.gtimg.com/city/images/2014/icons_v9.png) 0px -41px no-repeat;}
.logo_t2 {background-position:-259px -41px;}
.logo_t3 {background-position:-505px -41px;}
.logo_t4 {background-position:-763px -41px;}
.act_city2 {padding-bottom:30px;}

/*城市建设*/
.act_ciyt_zh {padding-bottom:40px;}
.act_ciyt_zh .left {width:670px; }
/*数据调用*/
.tabs li {float:left;}
.tabs .tab_hd_item{float:left;width:132px; height:43px; cursor:pointer; border-top:1px #eaeaea solid;  border-bottom:1px #b00700 solid;border-right:1px #eaeaea solid; line-height:43px;font-family: "Microsoft Yahei","黑体"; text-align:center; font-size:18px;}
.tabs li span {float:left;width:132px; height:35px;}
.tabs .tab_hd .current {border-top:2px #b00700 solid;border-right:1px #b00700 solid!important;border-left:1px #b00700 solid;border-bottom:1px #b00700 solid; height:42px; background:#b00700; color:#fff;}

.tabs .tab_hd_item3 .tab_hd_item {border-right:1px #eaeaea solid;}
.tabs .tab_bd_item{}
.yh {font-family: "Microsoft Yahei","黑体";font-weight: normal;}
.news_list .news_item {border-bottom: 1px solid #DDD;padding: 30px 0 30px 0;}
.news_list .news_item h3 {padding-bottom: 10px;}
.news_list .news_item .news_txt {height: 65px;padding-bottom: 7px;overflow: hidden;color: #8C8C8C;font: 14px "宋体","Arial Narrow",HELVETICA;line-height: 28px;}
.news_list .news_info {height: 22px; color:#c9c9c9; }
.news_list .news_info .tag a {color: #c9c9c9;padding: 3px 5px;}
.picTxt {display: block;cursor: pointer;z-index: 1;overflow: hidden;}
.picTxt img {border:1px #cccccc solid;}
.news_list .news_item .mod_pic {margin: 0 17px 0 0;}
.undis {display:none;}
 .news_more {display: block;margin-top:-1px;height: 30px;line-height: 30px;text-align: center;
background: #e9e9e9;font-family: "Microsoft Yahei","黑体";color: #333; font-size:14px; }
.news_more span{display: block; width:120px;margin:0px auto;  color:#333;background:url(//mat1.gtimg.com/bj/beijing/loader_btn.png) right center no-repeat;}/*loader_btn*/
.news_more:hover {color: #BC0902;text-decoration: none;}
.news_more .s {  padding-right:12px;}
/*分享*/
.tag_timer {padding-right:10px;}
.shareBtn,a.discuzBtn{float:right;display:inline;cursor:pointer;}
.shareBtn:focus{outline:none}

.shareBtn{width:11px;height:14px;background:url(//mat1.gtimg.com/news/news2013/img/icons.png) no-repeat 0 -120px; margin-left:9px; position:relative}

.discuzBtn{margin-left:12px;padding:0 5px 0 16px;font:12px/14px "Tahoma";background:url(//mat1.gtimg.com/news/news2013/img/icons.png) no-repeat 0 -79px}

.shareBtnHover{background:url(//mat1.gtimg.com/news/news2013/img/icons.png) no-repeat 0 -440px; display:block}

.discuzBtn:hover{background:url(//mat1.gtimg.com/news/news2013/img/icons.png) no-repeat 0 -399px;display:block}
#shares{width:95px;padding:6px 0;overflow:hidden;position:absolute;border:1px solid #e2e2e2;top:20px;left:-18px;z-index:2;background:#fff;display:none}
#shares .shareButton{height:26px;cursor:pointer;margin:0;font:12px/26px "宋体","Arial Narrow",HELVETICA;color:#808080; overflow:hidden; clear:both; float:left; width:100%; text-align:left}
#shares .shareButton a{ display:block;padding-left:37px;display:block;background:url(//mat1.gtimg.com/news/news2013/img/icons.png) no-repeat}
#shares .shareButton a:hover{background-color:#f3f3f3}
#shares #share2wb a{background-position:13px -1419px}
#shares #share2qzone a{background-position:13px -1445px}
#shares #share2qq a{background-position:13px -1471px}
#shares #share2sina a{background-position:13px -1497px}
#breakingNews #shares{top:12px;right:452px}


.shareTo {  position: absolute; top: 0px; right:0px; width:15px;}
.shareTo .shareBtns { height:18px; cursor: pointer; position: relative; padding-left: 28px; z-index: 999; padding-bottom: 2px; top: 1px; }
.shareTo .shareBtns span img { vertical-align: top; }
.shareTo .shareBtns span { position: absolute; left: 7px;}
.shareTo .share { position: absolute; right:0; top: 13px;  padding: 5px; overflow: hidden; zoom: 1; width: 132px; background: #fff; border: 1px solid #dbdbdb; z-index: 99999;}
.shareTo .share a { display: block; float: left; width: 16px; height: 16px; margin: 0 3px; text-indent: -999em; overflow: hidden; padding-left: 0; }
.shareTo .share .sharewb, .shareTo .share .sharewb:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -200px; }
.shareTo .share .shareqzone, .shareTo .share .shareqzone:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -224px; }
.shareTo .share .sharepengyou, .shareTo .share .sharepengyou:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -272px; }
.shareTo .share .shareqqemail, .shareTo .share .shareqqemail:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -345px; }
.shareTo .share .sharewx, .shareTo .share .sharewx:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -248px; }
.shareTo .share .sharesina, .shareTo .share .sharesina:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -297px; }
.shareTo .share .sharekaixin, .shareTo .share .sharekaixin:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -369px; }
.shareTo .share .sharerenren, .shareTo .share .sharerenren:hover { background: url(//mat1.gtimg.com/tech/newIndex2012/newPng.png) no-repeat 0 -321px; }


.act_ciyt_zh .right {width:300px;}
/*城市宣传片*/
.act_city_xc .c_hd {height:38px; background:url(//mat1.gtimg.com/city/images/2014/icons_v8.png) 0px -115px no-repeat;}
.act_city_xc .c_hd h2{ text-indent:-9999em;}
.video .pic {width:300px; height:185px; overflow:hidden; position:relative;}
.video .pic b {width:65px; height:65px; background:url(//mat1.gtimg.com/city/images/2014/icons_v8.png) 0px -315px no-repeat; position:absolute; left:50%; top:50%; margin-top:-32.5px; margin-left:-32.5px;}
.Q-tpList .pic img {border:none;}
.video .Q-tpWrap {padding:8px 0px 0px 0px;}
.video .Q-tpWrap em {font-family: Microsoft YaHei,黑体;font-weight:normal;}
.video .Q-tpWrap p {color:#888888;}
.video .Q-tpWrap p a {color:#b00700;}
.video .Q-tpWrap p a:hover {color:#b00700;}
.video .Q-tpList .other {font-family: Microsoft YaHei,黑体; padding-top:10px;  }
.video .Q-tpList .other li {font-size:14px; line-height:28px; background:url(//mat1.gtimg.com/bj/beijing/ioc.png)  -2px -79px no-repeat; padding-left:22px;}

/*中央机构影响力排行*/
.act_hot {padding-top:20px; height:423px; overflow:hidden;}
.act_hot .c_hd { height:30px;background:url(http://img1.gtimg.com/city/pics/hv1/43/42/1750/113804503.png) no-repeat;}
.act_hot .c_hd h2 {text-indent:-9999em;}
.act_hot .top {line-height:30px; color:#888888; font-weight:bold;font-size:12px; padding:10px 0px 4px 0px;}
.act_hot .top span {float:left; text-align:center;}
.act_hot .top .t1 {width:30px; text-align:left;}
.act_hot .top .t2 {width:120px;}
.act_hot .top .t3 {width:68px;}
.act_hot .top .t4 {width:70px; text-align:center;}
.act_hot li {line-height:34px; height:34px; width:100%;float:left; border-bottom:1px #d9d9d9 dotted; }
.act_hot li em {float:left;color:#b00700;}
.act_hot li .name {width:117px; text-align:center;}
.act_hot li .num2 {width:68px;text-align:center;}
.act_hot li .num3 {width:70px;text-align:center;}
.act_hot li .list .c {margin-top:5px;}
.act_hot li .list img {vertical-align:middle; }
.act_hot .num {width:30px; height:15px; background:url(//mat1.gtimg.com/city/images/2014/iocn_list.png) no-repeat; margin-top:9px; margin-left:5px;}
#em2 {background-position: 0px -36px;}
#em3 {background-position: 0px -71px;}
#em4 {background-position: 0px -108px;}
#em5 {background-position: 0px -144px;}
#em6 {background-position: 0px -180px;}
#em7 {background-position: 0px -216px;}
#em8 {background-position: 0px -252px;}
#em9 {background-position: 0px -288px;}
#em10 {background-position: 0px -324px;}

/*独家策划*/
.act_djch {padding-top:20px;}
.act_djch .c_hd { height:30px;line-height:30px; background:url(//mat1.gtimg.com/city/images/2014/icons_v8.png) 0px -217px no-repeat;}
.act_djch .c_hd h2 {text-indent:-999em;}
.act_djch .top {text-align:center;}
.act_djch .c_bd {padding-top:15px;}
.act_djch .Q-tList {padding-top:10px;}
.act_djch .Q-tList li {background:url(//mat1.gtimg.com/news/base2011/img/i.png) no-repeat;background-position:0 -178px;padding-left:20px;}

/*热门活动*/
.act_acive {padding-top:20px;}
.act_acive .c_hd {height:30px;line-height:30px; background:url(//mat1.gtimg.com/city/images/2014/icons_v8.png) 0px -188px no-repeat;}
.act_acive .c_hd h2 {text-indent:-999em;}
.act_acive .Q-tpList {padding:15px 0px 12px 0px;}
.act_acive .Q-tpList em { font-weight:normal;}
.act_acive .Q-tpList p {font-family:宋体; color:#888888;}
.act_acive .Q-tpList p a {color:#c00;}
.act_acive .Q-tList li {background: url(//mat1.gtimg.com/news/base2011/img/i.png) no-repeat;
background-position: -3px -178px;padding-left: 20px;}

/*精彩图片*/
.phott_gallery {height:466px; position:relative; background:url(//mat1.gtimg.com/city/images/2014/gallery_bg.png) no-repeat;}
.phott_gallery .s {position:absolute;}
.phott_gallery .box0 {width:320px; height:215px; left:0px; top:0px;}
.phott_gallery .box1 {width:320px; height:215px; left:0px; top:248px;}
.phott_gallery .box2 {width:315px; height:150px; left:352px; top:140px;}
.phott_gallery .box3 {width:315px; height:150px; left:352px; top:314px;}
.phott_gallery .box4 {width:300px; height:150px; left:699px; top:0px;}
.phott_gallery .box5 {width:300px; height:285px; left:699px; top:180px;}

/*政务微信*/
.act_weixin {padding-top:30px;}
.act_weixin .hd {background:url(//mat1.gtimg.com/city/images/2014/icons_v9.png) 0px -123px no-repeat; height:30px;}
.act_weixin .hd h2 {text-indent:-9999em;}
.scroll_A{position:relative;margin-top:12px;}
.scroll_A .inner{position:relative;width:1000px;height:120px;overflow:hidden;}
.scroll_A .split{width:92px;height:120px;float:left;padding:0px 10px; text-align:center; line-height:30px;font-size:14px;}
.scroll_A .btn{position:absolute;top:50%;margin-top:-60px;width:50px;height:90px;cursor:pointer;font-size:40px;font-weight:bold; background:url(//mat1.gtimg.com/city/images/2014/btn_scorll.png) no-repeat;}
.scroll_A .prev{left:11px;}
.scroll_A .next{right:2px; background-position: 0px -90px;}
.act_weixin2 .hd {background-position: 0px -164px;}
/*推荐媒体*/
.act_ipone { border:1px #dce2ee solid; margin-top:20px; padding-top:0px; padding-bottom:0px; }
.act_ipone .hd {height: 33px;line-height: 24px;color: #5880D9;overflow: hidden;font-family: Microsoft YaHei,黑体; background:none;  padding-top:8px;}
.act_ipone .hd h2 {font-weight: normal;font-size: 18px; width:101px; height:31px; background:url(//mat1.gtimg.com/city/images/2014/icons_v9.png) 0px -211px no-repeat; text-indent:-9999em; }
.act_ipone .bd{padding-top:0px;}
.act_ipone .iLeft { padding-left:20px;  }
.act_ipone .bd p {line-height:30px; color:#e4e4e4;}
.act_ipone .bd p em {color:#333;font-size:12px; }
.act_ipone .bd a {font-size:12px;padding: 0 5px;}
.act_ipone a {}
.tcopyright {padding-top:40px!important;}
.act_menu {position:relative;width:1000px;margin:auto}
.act_A {position:absolute; top:0px; left:50%; margin-left:-500px;  width:1000px; color:#333; z-index: 1;  }
.act_a1 {position:absolute; right:0px; top:0px; z-index: 10; line-height:41px; }
.act_a1 a { padding:0px 8px; border-right:1px #e5e5e5 solid;}
.act_a1 .noneb {border:none;}
.tabs2 {z-index: 1;}
.tabs2 .tab_hd {width:999px; margin:0px auto; padding-left:1px;}
.tabs2 .tab_hd_item{float:left;padding:10px 20px; background:url(//mat1.gtimg.com/city/images/2014/menu_bng.png) right center no-repeat; cursor:pointer;}
.tabs2 .tab_bd {background:#b00700;padding-left:10px}
.tabs2 .tab_hd { font-size:16px; font-family:Microsoft YaHei;}
.tabs2 .tab_hd .current{background:#b00700; color:#fff; background-image:none; margin-left:-1px;}
.tabs2 .tab_bd_item{ width:1000px; margin:0px auto; height:40px; line-height:40px; color:#fff;}
/*  |xGv00|616dff94d0ec7e93d66a64d7b9516eb1 */



.ad-top,.ad-bottom{width:1000px;height:60px;margin:auto}
.ad-top img,.ad-bottom img{width:1000px;height:60px}
.hot-tj{width:643px;height:38px;line-height:38px;margin-top:18px;border:1px solid #dfdfdf}
.hot-tj-l{float:left;width:75px;background:url(bg.png) no-repeat 64px 15px;padding-left:10px;font-size:12px;font-family:"宋体";font-weight:bold;color:#444}
.hot-tj-r{float:left;width:558px;font-size:12px}
.hot-tj-r a{color:#666}
.lm-title{width:645px;height:66px;line-height:66px}
.lm-title h2{float:left;width:610px;font-size:20px;font-weight:bold;color:#333}
.lm-title a{display:block;float:left;width:35px;font-size:12px;color:#b00700;text-align:right}
.lm-info{width:645px;height:auto;overflow:hidden}
.lm-info-l{float:left;width:280px;height:228px;overflow:hidden}
.lm-info-l img{width:280px;height:228px}
.lm-info-l a{position:relative;display:block;width:280px;height:228px;font-size:14px;color:#fff}
.lm-info-l a h3{position:absolute;left:0;bottom:0;width:280px;height:40px;line-height:40px;background: #000;opacity: 0.5;filter: alpha(opacity=50);;font-size:14px;text-align:center}
.lm-info-l a span{position:absolute;z-index:1;left:0;bottom:0;width:280px;height:40px;line-height:40px;font-size:14px;text-align:center}
.lm-info-r{float:left;width:345px;height:226px;overflow:hidden;margin-left:20px}
.lm-info-r .Q-hot h2 a{color:#000}
.act_right .hd1{ height:76px;line-height:76px;background:url(//mat1.gtimg.com/cq/grace/2015/city/dyzb.jpg) no-repeat 0 20px;}
.act_right .hd1 h2{float:left;width:286px}
.act_right .hd1 a{display:block;float:left;width:35px;font-size:12px;color:#b00700;text-align:right}
.dyzb-pic,.dyzb-pic img{width:330;height:120px}
.dyzb-msg{display:inline-block;width:auto;height:32px;background:url(//mat1.gtimg.com/cq/grace/2015/city/bg.png) no-repeat -487px -100px;margin-top:15px;font-size:12px;color:#b00700;text-align:center;*zoom:1;*display:inline}
.dyzb-msg i h5{width:auto;height:32px;line-height:25px;padding-left:13px;background:url(//mat1.gtimg.com/cq/grace/2015/city/bg.png) no-repeat -478px -149px;padding-right:5px;font-size:12px}
.dyzb-msg i{float:left;width:auto;font-style:normal;position:relative;display:inline-block;margin-left:5px;width:auto;height:25px;border-bottom:1px solid #b00700;border-top:1px solid #b00700;_display:inline;}
.dyzb-msg span{display:inline-block;width:12px;heigh:27px;line-height:27px;background:url(//mat1.gtimg.com/cq/grace/2015/city/bg1.jpg) no-repeat bottom center}
.dyzb-info{width:330px;height:auto;overflow:hidden}
.dyzb-info h2{margin-top:12px;margin-bottom:10px;text-align:center}
.dyzb-info h2 a{font-size:18px;color:#333}
.dyzb-info p{line-height:20px;font-size:12px;color:#888}
.dyzb-info p a{color:#b00700}
.dyzb-info-list{margin-top:10px;padding-left:10px}
.dyzb-info-list li{line-height:26px;background:url(//mat1.gtimg.com/cq/grace/2015/city/ioc.png) no-repeat -2px -79px;padding-left:20px}
.dyzb-info-list li a{font-size:12px;color:#333}
.lm-title1{width:320px;margin:auto}
.lm-title1 h2{width:285px;color:#000}
.zttj-list{width:330px;height:auto;overflow:hidden;margin-top:24px}
.zttj-list li{height:100px;margin-bottom:25px}
.zttj-list li.last{margin-bottom:0}
.zttj-list li span{display:block;float:left}
.zttj-list li span.sp1,.zttj-list li span img{width:127px;height:100px}
.zttj-list li span.sp2{width:188px;margin-left:15px}
.zttj-list li span.sp2 h3{margin:8px 0 9px 0}
.zttj-list li span.sp2 h3 a{font-size:14px;color:#333}
.zttj-list li span.sp2 p{line-height:23px;font-size:12px;color:#999}
.zttj-list li span.sp2 p a{font-size:12px;color:#b00700}
.lm-title-long{width:1000px;height:60px;line-height:60px;margin:auto;margin-bottom:20px;border-bottom:1px solid #999}
.lm-title-long a{color:#b00700}
.lm-title-long-l{float:left;width:235px;font-size:20px;font-weight:bold;color:#333}
.lm-title-long-c{float:left;width:730px;text-align:right}
.lm-title-long-r{float:left;width:35px;text-align:right}
.ttc-list{width:999px;height:auto;overflow:hidden;margin:auto}
.ttc-list li{float:left;width:249px;height:195px;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9}
.ttc-list li.no-borderright{border-right:none}
.ttc-list li.no-borderbottom{border-bottom:none}
.ttc-list li img{idth:249px;height:195px}
.wxtj{width:1000px;height:auto;overflow:hidden;margin:auto}
.wxtj-l{float:left;width:284px;height:auto;border:1px solid #dfdfdf}
.wxtj-r{float:left;width:714px;height:auto}
.wxtj-l img{width:284px;height:214px}
.wxtj-l p{height:48px;line-height:48px;border-top:1px solid #dfdfdf;font-size:14px;color:#000;text-align:center}
.wxtj-r li{display:inline;float:left;width:102px;height:auto;overflow:hidden;margin-left:17px}
.wxtj-r li img{width:100px;height:100px;border:1px solid #dfdfdf}
.wxtj-r li p{height:36px;line-height:36px;color:#666;text-align:center}
.hzhb{position:relative;width:1000px;height:auto;overflow:hidden;margin:auto;margin-top:23px;margin-bottom:26px;padding:14px 0;border:1px solid #dfdfdf}
.hzhb-l{position:absolute;left:0;top:50%;margin-top:-15px;width:165px;height:25px;line-height:25px;font-size:24px;color:#999;text-align:center;}
.hzhb-r{display:inline;float:left;width:804px;height:auto;line-height:23px;overflow:hidden;margin-left:165px;padding-left:30px;color:#666;border-left:1px solid #dfdfdf}
.hzhb-r li{float:left;margin:0 9px;white-space: nowrap}
.hzhb-r li a{color:#666}
.dyw-us{display:none;width:998px;height:auto;overflow:hidden;margin:auto;margin-top:27px;border:1px solid #dfdfdf}
.contact{width:1000px; margin:0 auto;font-family:SimSun, Arial, Helvetica, sans-serif;line-height:20px}
.contact .nav{width:978px;height:40px; line-height:40px;margin-top:15px;padding-left:20px;}
.contact .nav b{width:55px;float:left;}
.contact .nav p{color:#666;float:left;}
.contact .xilist{width:988px;height:40px; border-top:none;padding:20px 0 20px 10px;}
.contact .xilist li{width:240px;float:left;padding-left:5px}
.contact .xilist li b{width:80px;float:left;color:#666; }
.contact .xilist li span{width:155px;float:left;color:#666}
.contact .xilist li span i{ font-style:normal}
.ft_m{ float:left;width:1000px; text-align:center;padding:20px 0}
.ft_m p{color:#999}
.ft_m a{ color:#989898; text-decoration:none;}
.ft_m a:hover{ text-decoration:underline;}
.border{ border:1px solid #DFDFDF;}
.fl{float:left;}


/*搜搜*/
    .Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:30px;border:none;font-size:12px;background:url(//mat1.gtimg.com/cq/jinghao/soso-sprite-blue.jpg) left bottom no-repeat;cursor:pointer;}
    .Form-Crumbs-Article-QQ .inputWarp{float:right;width:180px;height:28px;margin:0;padding:0;line-height:22px;background:#fff;border:#c9c9c9 1px solid;border-right:none;}
    .Form-Crumbs-Article-QQ .txtArea{width:150px;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
    .Form-Crumbs-Article-QQ .SosonLogo{float:right;width:22px;height:22px;margin:3px 3px 0 0;background:url(//mat1.gtimg.com/xian/2015images/2015index/20150204indexhd/soso-sprite.png) left top no-repeat;}
    .Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
    .soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
    .soso-smart-m td{font-size:14px;line-height:28px;}
    .soso-smart-b{background-color:#d8ecff;}
    .soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}/*  |xGv00|35e839a6cb3435b603d8b3e626fd9053 */
	
/*头条*/
.toutiao{width:1000px;height:119px;overflow:hidden;margin:auto auto 9px auto;border-bottom:1px solid #f0f0f0}
.toutiao-left{float:left;width:90px;height:81px;background:url(//mat1.gtimg.com/cq/grace/2015/city/mrtt.jpg) no-repeat;margin:19px 0 0 8px}
.toutiao-left h1{text-indent:-9999em}
.toutiao-right{width:877px;float:right}
.toutiao-right h2{margin:27px 0 12px 0;font-size:32px;font-weight:bold}
.toutiao-right h2 a{color:#555}
.toutiao-right p{color:#555}
.toutiao-right p a{color:#b00700}/*  |xGv00|51cd3d64f0a74a3444b6975019cf5c1a */

/*智慧城市*/
.zhcs-list li{line-height:31px;background:url(http://img1.gtimg.com/cq/pics/hv1/219/102/1829/118956954.png) no-repeat 10px center;padding-left:28px;font-size:14px}
.zhcs-list li a{color:#333}
/*.zhcs-list li.li1{background-position:5px 8px}
.zhcs-list li.li2{background-position:5px -28px}
.zhcs-list li.li3{background-position:5px -63px}
.zhcs-list li.li4{background-position:5px -100px}
.zhcs-list li.li5{background-position:5px -136px}
.zhcs-list li.li6{background-position:5px -172px}
.zhcs-list li.li7{background-position:5px -208px}*/

.lm-info-l img:hover,.dyzb-pic img:hover,.zttj-list li span img:hover,.dyzb-pic img:hover{opacity:0.8;-webkit-transition: opacity .3s ease-in-out;
            -moz-transition: opacity .3s ease-in-out;
            -o-transition: opacity .3s ease-in-out;
            -ms-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;}/*  |xGv00|2825ccf28053d126235fed7fb1cdb77a */