/* author:shenshenyan 2013/6/25 13:30*/
@charset "utf-8";
.hd h2,.hd h3{float:none;display:block;}
a{color:#333; }
.wdwrap a:hover{color:#c00; }
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,button{margin:0;padding:0}  
body{font:12px simsun Arial;background:#fff;color:#333; }  
a{text-decoration:none;color:#333 }
a:hover{text-decoration:underline;color:#c00; }
em{font-style:normal}  
li{list-style:none}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
button, input, select{cursor:pointer; }
p{word-wrap:break-word}
.cf:after{content:"";display:table;clear:both}  
.cf{*zoom:1}
/* 首页 */
body{position:relative; }
.header .gwLink li a{color:#9d9d9d; }
.header .gwLink li a:hover{color:#5c687e; }
.wqhgBox .newsBox p a:hover{color:#c00; }
.conTop{color:#747474; }
.xgList li .text,.xgList li .text a{color:#656565; }
.xgList li .text{height:42px;overflow:hidden;  }
.header .linkList li .wqhg,.header .gwLink li a,.conTop .join b,.daoyu .intr .tit,.jieyu .hd,.shareBnt dd a,.gwLink .wxShow .colTop,.wqhgBox .newsBox p,.wqhgBox .colTop,.gotoup,.votLista li input,.wbsj .pgLt li,.rmht .hd h2{background:url(//mat1.gtimg.com/view/todayTopic/2013/bntBg2.png) no-repeat ; }
.header{position:relative; z-index:100;background:#fff; }
.header .bd{width:1000px;margin:0 auto;height:84px;position:relative; zoom:1 }
.header .logo{float:left; display:inline; width:305px;height:84px;    }
.header .logo a{display:block;height:100%;background:url(//mat1.gtimg.com/hb/weibo/nengjiandu.jpg) no-repeat ;text-indent:-999em;overflow:hidden; }
.header .linkList{float:left; display:inline;margin:30px 0 0 30px; }
.header .linkList li{float:left; display:inline;height:18px;line-height:18px;position:relative;padding:0 20px; border-right:1px solid #d8d8d8;  margin-left:-1px;position:relative; zoom:1; }
.wqhgBox{position:absolute;width:300px;height:264px;top:18px;left:10px;padding-top:20px;display:none;background:#fff;  }
.wqhgBox .newsBox{border:1px solid #e0e0e0;background:#fff;padding:10px; font-size:14px;height:250px; }
.wqhgBox .newsBox p{line-height:22px;height:22px;padding:10px 0px 10px 20px;background-position: -173px -158px ;border-bottom:1px solid #f2f2f2;  }
.wqhgBox .newsBox p.more{text-align:right;padding-bottom:0px;border-bottom:none;background:none;   }
.wqhgBox .colTop{position:absolute;width:18px;height:10px;background-position:-74px -77px ;top:11px;left:35px;}
.header .linkList li .navLink{font-size:16px;font-family:'微软雅黑','黑体';}
.header .linkList li .wqhg{padding-right:20px;background-position:74px -327px;_background-position: 74px -330px;}
.header .linkList li.end{border:none;}
.pc .header .gwLink{float:right; display:inline;margin-top:20px; }
.pc .header .gwLink li{float:left; display:inline;margin-left:18px;position:relative;width:98px;   }
.pc .header .gwLink li a{display:block;height:40px;padding-left:50px;line-height:40px;  }
.pc .header .gwLink li a:hover{text-decoration:none; }
.pc .header .gwLink li a.gwb{background-position:-137px -4px;}
.pc .header .gwLink li a.gwx{background-position:-138px -57px;}
.gwLink .wxShow{position:absolute;cursor:pointer;top:22px;left:-47px;width:137px;height:166px;padding-top:30px;zoom:1;display:none; }
.gwLink .wxShow .text{padding:7px;background:#fff;border:1px solid #e0e0e0; display:block;}
.gwLink .wxShow span{margin-top:5px;display:block;text-align:center; color:#7b7b7b; line-height:18px;   }
.gwLink .wxShow .colTop{position:absolute;width:18px;height:10px;background-position:-74px -77px ;top:16px;left:50%;margin-left:-9px;  }
.gwLink a:hover .wxShow{display:block;}
.container{background:#f6f6f6 url(//mat1.gtimg.com/view/todayTopic/2013/wrapBg.png) repeat-x ; }
.container .cont{width:750px;margin:0 auto;padding-bottom:20px;position:relative;  }
.conTop{height:35px;overflow:hidden;zoom:1;line-height:35px;border-bottom:1px solid #e3e3e3;padding-top:5px; }
.conTop .timenum{float:left; display:inline; }
.conTop .join{float:right; display:inline; }
.conTop .join b{font-size:12px;font-weight:bold;color:#c00;padding-left:25px;background-position:-165px -121px ;padding-bottom:8px;margin-right:3px; }
.conTop .join a{text-decoration:none; }
.daoyu .hd h1{font-family:'微软雅黑','黑体';font-size:32px;font-weight:bold;line-height:45px;padding:15px 0 0px 0;overflow:hidden; height:45px; }
.daoyu .bd{position:relative;height:310px;zoom:1; overflow:hidden; }
.daoyu .bd .opabg{position:absolute;width:100%;height:102px;left:0;bottom:0px;color:#d2d2d2;line-height:30px;font-size:14px;background:url(//mat1.gtimg.com/view/todayTopic/2013/textBgln.png) no-repeat ;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="//mat1.gtimg.com/view/todayTopic/2013/textBgln.png"); }
.daoyu .bd .intr{padding:20px 30px 0px 30px;height:82px;position:absolute;width:690px;z-index:90;bottom:0px;overflow:hidden; left:0;color:#fff; font-size:14px;line-height:30px;font-family:'宋体';background:url(//mat1.gtimg.com/view/todayTopic/2013/textBgln.png) no-repeat ; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader ( enabled=bEnabled , sizingMethod=sSize , src="//mat1.gtimg.com/view/todayTopic/2013/textBgln.png");}
.daoyu .bd .intr a{color:#daceb1; }
.daoyu .bd .text{position:absolute;width:100%;height:102px;left:0;bottom:0;color:#d2d2d2;line-height:30px;font-size:14px;   }
.daoyu .intr .tit{width:51px;height:30px;background-position:0 -144px ;display:inline-block;*display:inline;zoom:1;vertical-align:middle;margin-right:5px;overflow:hidden; }
.container .zwBox{padding:0px 45px 30px 45px;background:#fff;border:1px solid #e9e9e9;border-top:none;}
.container .article{padding:20px 0 40px 0;overflow:hidden;zoom:1;}
.container .article h1,.container .article h2,.container .article h3{clear:both; }
.container .article h2{border-top:2px solid #746243;background:url(//mat1.gtimg.com/view/todayTopic/2013/aticletitBg.png) repeat-x 0 100%; font-family:'微软雅黑','黑体';font-size:22px;font-weight:100;padding:5px 0 10px 7px;line-height:35px;margin:25px 0 20px 0;  }
.container .article h3{color:#5c687e;font-size:16px;font-weight:bold;line-height:25px;margin-bottom:15px;  }
.container .article p{line-height:28px;font-size:16px;color:#444; text-indent:2em;padding-bottom:20px; }
.container .article p a{text-decoration:underline; }
.container .tuzhu{margin-bottom:20px;text-align:center; overflow:hidden; }
.container .tuzhu span{background:#f4f4f4;padding:10px;line-height:20px;text-align:center;display:block;   }
.container .asidePic{float:right; display:inline;width:350px;margin:7px 0 0px 20px;overflow:hidden;    }
.container .asidePicleft{float:right; margin:7px 0 0 20px; display:inline;width:350px;overflow:hidden;    }
.container .asidePicright{float:left; margin: 7px 20px 0 0; display:inline;width:350px;overflow:hidden;    }
.container .tuzhu a{display:block;height:100%;  }
.jieyu{overflow:hidden;zoom:1;border-top:2px solid #746243;border-bottom:2px solid #f7f7f7;padding:20px 0;margin-bottom:20px;  }
.jieyu .hd{width:85px;height:85px;float:left; display:inline;background-position:0 -197px ; }
.jieyu .hd h2{text-indent:-999em;overflow:hidden; }
.jieyu .bd{font-family:'微软雅黑','黑体';font-size:18px;color:#444;line-height:30px;margin-top:10px;float:right; width:550px;   }
.layout{margin-bottom:20px;border:1px solid #e7e7e7;}
.layout .hd{border-bottom:1px solid #e7e7e7;height:36px;line-height:36px; background:#f6f6f6;   }
.layout .hd h2{font-size:16px;font-weight:100;font-weight:100;padding-left:15px;font-family:'微软雅黑','黑体';}
.layout .bd{padding:20px;}
.xgList {overflow:hidden;zoom:1;margin:-26px 0 0 -30px;}
.xgList li{float:left; display:inline; width:290px;margin:26px 0 0 30px;line-height:21px;font-size:12px;   }
.xgList li .pic{float:left; display:inline; margin-right:13px;}
.xgList li h2{font-size:14px;font-weight:100;margin-bottom:5px;height:21px;overflow:hidden;  }
.footer .cent{width:1000px;margin:0 auto;  }
.footer .stBox{float:left; display:inline; width:290px;border-left:1px solid #e9e9e9;margin-left:-1px;padding:0 20px 45px 20px;  }
.footer{border-top:1px solid #c5c5c5;}
.stBox .hd{height:30px;padding:15px 0;overflow:hidden; zoom:1 }
.stBox .hd .more{float:right; display:inline; line-height:30px; }
.stBox .hd .more a{color:#656565;  }
.stBox .hd h2{height:30px;line-height:30px;font-size:18px;font-weight:100;font-family:'微软雅黑','黑体';color:#010101;padding-right:20px;display:inline-block;*display:inline;zoom:1;}
.lsb .hd h2{background-position:62px -292px ;}
.jiaozhu{ border-top:1px solid #e5e5e5; padding-top:10px;background:#f6f6f6; }
#tcopyright,#tcopyright a{color:#929292; }
/* 订阅 */
.pc .shareBox{width:32px; position:absolute;top:116px;left:50%;margin-left:-440px;}
.askBj{width:72px;position:absolute;top:116px;right:50%;margin-right:-475px;   }
.shareBox .dy a{color:#fff;background:#cbcbcb;display:inline-block;*display:inline;zoom:1;height:25px;line-height:25px;width:32px;text-align:center; }
.shareBox .dy a:hover{ text-decoration:none; background:#2781e6;}
.shareBox .dy{position:relative;width:32px;height:25px;   }
.shareBox .dy span{position:absolute;height:25px;line-height:25px;background:#fff;width:80px; color:#868686;  top:0;left:-80px;display:none; text-align:center;   }
.xgzt .bd{overflow:hidden;zoom:1 }
.shareBnt dt{height:20px;line-height:20px;text-align:center;margin-bottom:-5px;  }
.shareBnt a{display:inline-block;*display:inline;zoom:1;height:25px;width:32px;  }
.shareBnt dd{width:32px;height:25px;margin-top:8px;position:relative;   }
.shareBnt dd a{display:block;height:100%;text-indent:-999em;overflow:hidden;  }
.shareBnt dd span{  display:none; }
.shareBnt dd a:hover{text-decoration:none;  }
.shareBnt dd a:hover span{display:block;text-decoration:none; position:absolute;height:25px;line-height:25px;background:#fff;width:80px; color:#868686;  top:0;left:-80px;text-align:center;text-indent:0; }
.shareBnt dd span img{width:100px;height:100px;  }
.shareBnt .phone a{background-position:-143px -506px ;}
.shareBnt .tcwb a{background-position:-34px 0 ;}
.shareBnt .qzone a{background-position:-34px -32px ;}
.shareBnt .pengyou a{background-position:-34px -64px ;}
.shareBnt .sina a{background-position:-34px -96px ;}
.shareBnt .tcwb a:hover{background-position:0px 0 ;}
.shareBnt .qzone a:hover{background-position:0px -32px ;}
.shareBnt .pengyou a:hover{background-position:0px -64px ;}
.shareBnt .sina a:hover{background-position:0px -96px ;}
.shareBnt .phone a:hover{background-position:-104px -506px ;}
.shareBnt dd.phone a:hover span{display:block;text-decoration:none; position:absolute;height:130px;line-height:25px;background:#fff;width:110px; color:#868686;  top:0;left:-110px;text-align:center;text-indent:0; }
.askBj .photo img{border:1px solid #dcdcdc;}
.askBj .photo span{display:block;height:25px;line-height:25px;text-align:center;   }
.askBj .askLink{display:inline-block;*display:inline;zoom:1;height:25px;width:70px;text-align:center; line-height:25px;background:#fff; border:1px solid #cfcfcf;}
.askBj .askLink:hover{text-decoration:none;}
.gotoup{width:54px;height:54px;position:fixed;background-position:-85px -197px ; bottom:50px;right:50%;margin-right:-456px;cursor:pointer;display:none;  }
.gotoup:hover{background-position:-85px -254px ;}
/* 投票 */
.voteU{overflow:hidden;zoom:1;margin:20px 0 0 -5px;}
.voteU li{background:url(//mat1.gtimg.com/view/todayTopic/2013/bntBg.png);width:96px;height:71px;float:left;display:inline;margin-left:137px;}
.voteU li span{color:#fff;font-family:arial;font-size:18px;text-align:center;display:block;height:40px;line-height:40px;}
.voteU li.xuyao{background-position:0 -375px;}
.voteU li.noxuyao{background-position:-0px -458px;}
.voteU li input{border:none;width:96px;text-align:center;background:none;height:26px;line-height:26px;color:#fff;font-family:'微软雅黑','黑体';font-size:14px;cursor:pointer;}
.colummPicvot .voteCol{display:inline-block;*display:inline;zoom:1;width:337px;background:#8baad0;height:15px;overflow:hidden;border:none;text-align:left;}
.colummPicvot .voteCol div{display:inline-block;*display:inline;zoom:1;height:15px;background:#dd8250;}
.colummPicvot{position:relative;padding:0px 40px;margin-top:20px;width:337px;line-height:15px;font-family:arial;font-size:14px;color:#606060;margin-left:90px;}
.colummPicvot .colL{position:absolute;left:0;top:0}
.colummPicvot .colR{position:absolute;right:0;top:0}
.shareWb{text-align:right;padding-top:30px;}
.shareWb span{margin-left:20px;}
.shareWb input{vertical-align:-2px;margin:0 5px 0 10px;}
.shareWb label{cursor:pointer;}
.xwlc #wb{vertical-align:-2px;margin:0 5px; }
#apps_svy_digg2 #optg .tid,#apps_svy_digg2 #optb .tid{background:url(//mat1.gtimg.com/view/todayTopic/2012news/iconAndBnt.png)}
#apps_svy_digg2 #optg .tid{background-position:-38px -72px;}
#apps_svy_digg2 #optb .tid{background-position:-37px -117px;}
.xwlc .xwlcTit{width:91px;height:95px;position:absolute;top:-1px;left:-1px;background-position:0 -224px;text-indent:-999em;overflow:hidden;}
.xwlc .bdBox{position:relative;z-index:10;zoom:1;}
.xwlc .bdBox .gdTit{font-size:24px;font-family:'微软雅黑','宋体';font-weight:100;height:40px;line-height:40px;text-align:center;}
#votedraw0{ overflow:hidden; zoom:1; line-height:15px; font-size:14px; color:#606060; width:450px;margin:0 0 0 98px;margin:0 0 0 90px\9}
#voteline0{ width:337px; background:#8baad0; height:18px; float:left;display:inline;margin-right:15px; }
#voteline0 div{ height:18px; background:#e2a55c;border-right:2px solid #fff; }
#votedraw0 span{ float:left; margin:0 15px 0 0px;display:inline; line-height:18px; }
.voteU{ margin:0; padding:20px 0;}
#voteContainer_0_form .wbState{padding-top:20px;text-align:right; margin:0 50px; }
.voteBox{position:relative; zoom:1}
.ztpj{position:absolute;top:160px;right:-111px;width:64px;background:#f6f6f6;border:1px solid #e9e9e9;  }
.ztpj h2{color:#989898;font-size:12px;text-align:center;font-weight:100; height:30px;line-height:30px;  }
.votLista li input{width:30px;height:30px;margin:10px 0 0 15px; border:none;overflow:hidden;display:block;text-indent:-999em; }
.votLista {padding-bottom:10px;}
.votLista li{vertical-align:middle;}
.votLista li .god{background-position:-71px 0 ;}
.votLista li .bed{background-position:-71px -41px ;}
.votLista li .god:hover{background-position:-101px 0 ;}
.votLista li .bed:hover{background-position:-101px -41px ;}
.wbsj{position:absolute;top:35px;left:2px}
#rvotenum1,#lvotenum1{left:30px;}
.wbsj .pgLt li{width:30px;height:30px;margin:5px 0 0 15px;position:relative; }
.wbsj .pgLt li.godL{background-position:-103px 0 ;}
.wbsj .pgLt li.godr{background-position:-103px -36px ;*background-position:-103px -40px ;}

.wbsj .pgLt li .port{color:#666;position:absolute;top:3px;left:30px;background:#fff;padding:5px;white-space:nowrap; }
.wbsj .pgLt li .port span{ }
.shareBox .dy .subscription-btn{display:none; }
.shareBox .cur a{width:64px;position:absolute;top:0;right:0 }
.shareBox .cur span{left:-112px}
#Ansy_Post{display:none; }
.photo a:hover,.header .linkList li a:hover{text-decoration:none; }
.header .linkList .wqhgBox a:hover{text-decoration:underline; }
.morepl {text-align:right;padding-top:10px; }
.morepl a{font-size:14px;padding:8px 10px;color:#7f94a8;border:1px solid #e7e7e7;display:inline-block;*display:inline;zoom:1; }
.morepl a:hover{text-decoration:none;color:#666;  }
.daoyu .nopic .pic{display:none; }
.daoyu .nopic .text{position: relative;color: #554f40;height:100%; }
.daoyu .nopic{height:auto;position:static;  }
.daoyu .nopic .intr{height:auto;background:url(//mat1.gtimg.com/view/todayTopic/2013/dyBgt.png);color:#554f40; position:static;padding:20px 45px 20px 45px;width:660px; }
.daoyu .nopic .intr a{color:#554f40;text-decoration:underline;  }
.daoyu .nopic .intr .tit{background-position:-64px -144px;}
.daoyu .nopic .opabg{display:none; }
.zuozhe{float:right; display:inline;margin-top:40px;color:#8a8a8a; display:none; }
.zuozhe a{color:#8a8a8a; }
.daoyu .hd{overflow:hidden;zoom:1;height:75px;overflow:hidden;  }
#pl{overflow:hidden; height:0px;display:none;  }
/* 历史版 */
.lsb .header .logo{width:405px; }
.lsb .header .logo a{background:url(//mat1.gtimg.com/view/todayTopic/2013/s_todayLogo.png) no-repeat ; }
.lsb .header .linkList{margin-left:30px;}
.lsb .header .linkList li{padding:0 11px;}
.lsb .header .gwLink{margin-left:-18px;}
.lsb .daoyu .nopic .intr{background:url(//mat1.gtimg.com/view/todayTopic/2013/s_dyBgt.png) repeat ; }
.ipad .header .linkList{float:right;}
/* 我要问编辑 */
.closed_askShow,.sendFun .btnHasStr,.askShow_layout .col{background:url(//mat1.gtimg.com/view/todayTopic/2013/bntBg.png) no-repeat ; }
.ask_show_content{background-position:0 -81px;overflow:hidden;width:260px;height:63px;float:right;}
.askShow_layout{height:310px;width:660px;position:absolute;border:#D3D3D3 1px solid;background:#fff;z-index:10;left:50%;margin-left:-275px;top:227px;display:none;z-index:800}
.askShow_content{position:relative;overflow:hidden;zoom:1;height: 300px;width:660px;}
.askShow_left{width:660px;height:360px;overflow:hidden;zoom:1;float:left;}
.closed_askShow{background-position:-104px -456px;display:block;width:16px;height:16px;position:absolute;right:5px;top:5px;z-index:1000}
.closed_askShow:hover{background-position:-104px -440px;}
.askShow_left .talkBox{background:#fff;margin-top:25px;}
.editBtn{position:absolute;top: 138px;z-index: 15;left: 20px;}
.editBtn a{line-height: 22px;font-size:14px;color:#2C91D1}
.editBox ul{overflow:hidden;zoom:1;margin: 0 0 0 6px;}
.editBox ul li{float:left;margin: 0 15px 5px;width:60px;text-align:center;font-weight: bold;color:#000;display:inline;height:120px; }
.editBox ul li a{color:#5c687e;}
.editBox ul li img{border: 1px solid #ccc;height: 60px;}
.editBox ul li span{display:block;margin-top:5px;}
.more_edit{float: right;margin: 20px 10px 0 0;display:inline;}
.askShow_layout .col{position:absolute;width:7px;height:13px;background-position:-101px -76px;top:110px;right:-7px;  }
.sendFun .btnHasStr{width:67px;height:26px;background-position: -104px -476px; vertical-align:middle; }
.sendFun .btnHasStr:hover{opacity:0.8;filter:alpha(opacity=80);}
.countTxt em{margin:0 5px; }
.sendFun .tips_tw{float:left; display:inline; }
.sendFun{overflow:hidden;zoom:1;}
.ipad .zuozhe{float:right; display:inline;margin-top:40px;color:#8a8a8a; }
body.ipad {background:#f6f6f6; }
.ipad .header .bd{width:750px;zoom:1;position:relative;  }
.ipad .header .gwLink{display:none;float:none;height:0px;width:0px;overflow:hidden; position:relative;    }
.ipad .askBj{display:none; }
.ipad .shareBox{display:block;position:static;top:0;left:0;margin:0 0 20px 100px;width:600px;overflow:hidden;zoom:1;height:30px;overflow:hidden;  }
.ipad .shareBox .dy{float:left; display:inline; width:95px;height:28px; text-align:center;}
.ipad .shareBnt{float:left; display:inline; }
.ipad .shareBnt dt,.ipad .shareBnt dd{float:left; display:inline;margin:0 0 0 10px;height:30px;line-height:30px;color:#666;   }
.ipad .shareBnt dd a:hover span{display:none;}
.ipad .shareBox .dy a{display:none; }
.ipad .shareBox .dy span{position:absolute;top:0;left:0;width:100%;height:28px;background:none;text-align:center; line-height:28px; display:block;cursor:pointer;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer; background:#f9f9f9;border:1px solid #dcdcdc;}
.ipad .shareBox .dy span:hover{color:#fff;background:#4992ff; border:1px solid #4992ff;color:#fff;text-decoration:none;   }
.ipad .shareBnt .tcwb a{background-position:-25px -310px;}
.ipad .shareBnt .qzone a{background-position:-57px -310px;}
.ipad .shareBnt .pengyou a{background-position:-89px -310px;}
.ipad .shareBnt .sina a{background-position:-125px -310px;}
.ipad .shareBnt dd a:hover{opacity:0.8;filter:alpha(opacity=80);}
.ipad .shareBnt .tcwb a:hover{background-position:-25px -341px;}
.ipad .shareBnt .qzone a:hover{background-position:-57px -341px;}
.ipad .shareBnt .pengyou a:hover{background-position:-89px -341px;}
.ipad .shareBnt .sina a:hover{background-position:-125px -341px;}
.ipad .shareBnt dt{margin-left:20px;}
.ipad .footer .stBox{padding:0 40px 40px 40px; }
.ipad .footer{width:750px;margin:0 auto;background:#fff;border-top:1px solid #e9e9e9;   }
.ipad .footer .cent{width:auto;border-left:1px solid #e9e9e9; border-right:1px solid #e9e9e9;  }
.ipad .footer .lsb{display:none; }
.ipad #tcopyright{width:750px; }
.ipad .ztpj{width:135px;height:34px;overflow:hidden;zoom:1;border:none;background:#fff;right:0;top:-50px;  }
.ipad .ztpj h2{float:left; display:inline; }
.ipad .votLista{overflow:hidden;zoom:1;}
.ipad .votLista li input{margin:0px;}
.ipad .votLista li{width:30px;height:30px;float:left; display:inline;margin:0 0 0 10px;    }
.ipad .votLista li .god{background-position:-103px -376px;}
.ipad .votLista li .god:hover{background-position:-101px -409px ;}
.ipad .votLista li .bed{background-position:-134px -376px;}
.ipad .votLista li .bed:hover{background-position:-136px -409px;}
.ipad #topic_nav_box #topic_nav{width:750px; }
.ipad .container .zwBox{overflow:hidden; width:658px; }
.ipad .subscription{display:none; }
.ipad .wbsj{position:absolute;top:-5px;left:43px;width:120px; }
.ipad .wbsj .pgLt{overflow:hidden;zoom:1;}
.ipad .wbsj li span{display:none; }
.ipad .wbsj li{float:left; display:inline; }
.ipad .wbsj .pgLt li.godL{background-position:-101px -409px ;}
.ipad .wbsj .pgLt li.godr{margin-left:10px;background-position:-136px -409px ;}
.ipad .askShow_layout .col {width: 18px;height: 10px;background-position: -75px -76px;top: -10px;right: 37px;}
.ipad .wbsj .pgLt li .port{display:none; }
.ipad .shareBnt #phone{display:none; }
.xgList li .text a{margin-left:5px;color:#333; }
.opact{width:1000px;position:absolute;top:0;left:0;width:100%;background:#333;height:1000px;opacity:0;filter:alpha(opacity=0);display:none; }
.wqhgLi .close,.rmht .close{background:url(//mat1.gtimg.com/view/todayTopic/2013/bntBg.png) no-repeat ; }
.wqhgLi .close,.rmht .close{background-position:-104px -456px;display:block;width:16px;height:16px;position:absolute;right:5px;top:22px;z-index:1000}
.wqhgLi .close:hover,.rmht .close:hover{background-position:-104px -440px;}
/* 评论 */
.textarea{background:-webkit-gradient(linear,left top,left 3%,from(#d2d2d2),to(white));border:1px solid #d8d8d8;-webkit-border-radius:3px;font-size:0;padding:4px 4px;overflow:hidden;zoom:1 }
#page-comment-main .textarea textarea{height:52px;-webkit-appearance:caret;border:0 none;color:#888;font-size:14px;font-family:"\5FAE\8F6F\96C5\9ED1";padding:0;min-height:52px;width:100%;border:none;overflow:hidden; }
.sub{padding:10px 0 12px;text-align:right;color:#888;font-size:14px;overflow:hidden;zoom:1;}
.sub .logInpl{float:left; display:inline; }
.sub .commts-total{float:left;line-height:24px;}
.sub input[type=checkbox]{margin-right:3px;vertical-align:-1px;}
.sub .commts-total em{color:black;}
.sub #infoComment-submit{background:#82a2ca url(//mat1.gtimg.com/view/todayTopic/2013/bntBg.png) no-repeat -68px -96px;width:67px;height:25px;border:none;color:#fff;text-shadow:#576c84 1px 1px 0;text-align:center; display:inline-block;*display:inline;zoom:1;font-size:12px;line-height:25px; }
.comments-form{padding:16px 12px 0;}
.comments-main{border-top:1px solid #d1d1d1;padding:0px 0 8px;border-top:none; }
.commt-list{border-top:0;font-size:14px;padding:14px 0px 12px;}
.commts-list dt{color:#888;font-size:12px;margin-bottom:10px;}
.commts-list dt time{float:right;}
.commts-list dd{font-weight:normal;margin-bottom:8px;border-bottom:1px solid #eee;}
.commt-list dd{padding-bottom:16px;border-bottom:1px dotted #ccc; }
.commts-list dd p{padding:5px 0 10px;line-height:22px;color:#333; }
.commt-list+ .link-more{font-size:14px;}
.commts-more{text-align:right;}
.link-more, .survey-link{background:-webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#e9eef0));border:1px solid #d5d5d5;-webkit-border-radius:5px;-webkit-box-shadow:0 0 1px white inset;display:block;font-size:16px;margin:0 0 2px;padding:5px 0;text-align:center;}
.comments-title{height:30px;line-height:30px;font-family:'微软雅黑','黑体';font-size:18px;font-weight:100;margin-bottom:10px;border-bottom:1px solid #ccc; padding-bottom:10px;color:#000;    }
.bar a{background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f0f3f5));border:1px solid #d5d5d5;-webkit-border-radius:2px;-webkit-box-shadow:0 0 1px white inset;display:inline-block;font-size:12px;padding:0 6px;text-align:center;height:24px;line-height:25px;}
.head h1, .loginBox .head h1{text-align:center;font-size:1.325em;color:#fff;}
.head{background:#6699cc;background:-webkit-gradient(linear, top, bottom, from(rgba(125, 172, 223, 1)), to(rgba(62, 110, 176, 1)));background:-webkit-linear-gradient(top, rgba(125, 172, 223, 1), rgba(62, 110, 176, 1));background:-moz-linear-gradient(top, rgba(125, 172, 223, 1), rgba(62, 110, 176, 1));background:-o-linear-gradient(top, rgba(125, 172, 223, 1), rgba(62, 110, 176, 1));background:linear-gradient(to bottom, rgba(125, 172, 223, 1), rgba(62, 110, 176, 1));}
.head{height:35px;padding-top:9px;position:relative;}
.navBtn, .navBtnCurrent, .goBack{left:0;}
.jumpBtn, .goComm, .goComm_r{right:0;}
.navBtn, .navBtnCurrent, .jumpBtn, .goBack, .goComm, .goComm_r{width:50px;height:44px;display:block;position:absolute;top:0;}
.cmjs{border:none;margin-bottom:0px;}
.cmjs .hd{border:1px solid #e7e7e7;border-bottom:none;overflow:hidden;zoom:1; }
.commts-total{float:right; display:inline; margin-right:10px;}
.commts-total em{color:#c00;font-weight:bold; }
.a_login_box{border:1px solid #87C2E0;height:326px;left:50%;margin:0px 0 0 -186px;position:absolute;top:-50px;width:372px;background-color:#fff;z-index:1000}
.l_hd{background:url("//mat1.gtimg.com/www/apps/images/vote_icon_bg_v2.gif") repeat-x scroll 0 -153px transparent;color:#FFFFFF;height:30px;line-height:30px;margin:0 auto;width:100%;}
.l_hd .l_hd_l{color:#194C8B;font-size:14px;font-weight:bold;padding-left:16px;text-align:left;}
.l_hd .l_hd_close{background:url("//mat1.gtimg.com/www/apps/images/vote_icon_bg_v2.gif") no-repeat scroll -14px -137px transparent;cursor:pointer;float:right;height:16px;margin:5px;overflow:hidden;width:16px;}
.logInpl a{margin:0 5px;color:#c00;  }   
.voteBox{z-index:100}
#logoutB{color:#666; }
label{cursor:pointer;}
#gomore{float:right; display:inline;margin:0 10px; }
.link-more{display:none; }
.zwBox{padding-bottom:10px;}
.share_layer .share_layer_title .del_fri{position:static;float:right; display:inline; margin:5px 10px 0 0;  }
.morePl{height:30px;line-height:30px; text-align:right;  }
.morePl a{display:inline-block;*display:inline;zoom:1;padding:0px 10px;border:1px solid #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; font-size:14px;}
#edit .attentBoxWrap{margin-top:10px;text-align:center;height:35px;  }
#edit .attentBoxWrap a{padding:3px 5px;border:1px solid #5c687e;font-weight:100;display:inline-block;*display:inline;zoom:1;font-size:12px;font-family:'宋体';}
#edit .attentBoxWrap span{display:inline; margin-top:0px;}
#edit .attentBoxWrap a:hover,#edit  b{color:#999;border:1px solid #999;text-decoration:none;font-weight:100;padding:3px 5px;display:inline-block;*display:inline;zoom:1;font-size:12px;font-family:'宋体'; }
.askBj .photo .bjn span{display:inline;}
.askBj .photo .bjn .attentBoxWrap{display:inline;}
.askBj .photo .bjn .attentBoxWrap b{font-weight:100;}
.askBj .photo .bjn{height:25px;white-space:nowrap;text-align:center;  }
.askBj .photo .bjn .attentBoxWrap a:hover{color:#3e8a00; }
.askBj .photo .bjn .attentBoxWrap a{*margin-left:5px;}
.bjss{text-align:center; color:#929292;padding-top:20px; }
.rmht .hd{display:inline-block;*display:inline;zoom:1;}
.rmht .hd h2{background-position: 80px -292px;cursor:pointer;}
.rmht{position:relative; }
.rmht .wqhgBox{top:40px;}
.conTop .join a.newdc{margin-left:10px;}
.conTop .join a.newdc:hover{text-decoration:underline; }/*  |xGv00|c140486ebc5a9dc581e1c36ed3eaa1be */