.cls{ clear:both; height:0; font:0/0 Arial;}

/* 栏目模板 */
.column1 .title{ height:33px; background:#ededed;}
.column1 .title h3{ float:left; padding:0 10px; background:#1c8dd5; color:#fff; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.column1 .title h3 a:link,.column1 .title h3 a:visited{ color:#fff;}
.column1 .title h3 a:hover,.column1 .title h3 a:active{ color:#fc0;}
.column1 .title span{ float:right; padding:0 10px; color:#929292; line-height:33px;}
.column1 .title span a:link,.column1 .title span a:visited{ color:#929292;}
.column1 .title span a:hover,.column1 .title span a:active{ color:#c00;}

.articleMain{ width:1000px; margin:20px auto; border-top:1px solid #d3dbe6; border-bottom:1px solid #d3dbe6; background:url(//mat1.gtimg.com/auto/08shengdian/line.png) repeat-y;}
.barL680{ float:left; width:680px;}
.barR320{ float:right; width:320px;}
/* 新闻列表 */
#articleList{ width:620px; margin:20px auto;}
#articleList li{ height:36px; padding-left:10px; background:url(//mat1.gtimg.com/auto/img/ico/point.png) no-repeat 0 center;}
#articleList li.hr{ background:none;}
#articleList li a{ float:left; font:100 15px/36px "\5FAE\8F6F\96C5\9ED1";}
#articleList li a:link,#articleList li a:visited{ color:#333;}
#articleList li a:hover,#articleList li a:active{ color:#d90606;}
#articleList li span{ float:right; color:#999; font:12px/36px Tahoma;}
/* 翻页 */
.pageNav{ height:32px; margin:0 auto 50px; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.pageNav a{ color:#0e58ac; font-size:14px; text-decoration:none;}
.pageNav span a,.pageNav span{ display:inline-block; overflow:hidden; padding:0 13px;}
.pageNav a,.pageNav span span{ height:30px; line-height:32px; border:1px solid #e0e0e0;}
.pageNav a,.pageNav strong,.pageNav span{ font-size:14px;}
.pageNav a:hover,.pageNav a:active{ border:1px solid #1c8dd5; background:#1c8dd5; color:#fff; text-decoration:none;}
.pageNav .now{ height:32px; border:none; color:#333; font-weight:bold; line-height:34px;}
.pageNav .mor{ border:0; padding:0; height:31px; line-height:31px;}
.pageNav .na{ color:#b3c3d0;}
.pageNav #shuzi span,.pageNav #shuzi a{ margin:0 2px;}

/*车系排行*/
.brand_rank{ width:280px; margin:20px auto 0;}
.brand_rank .list{ padding-top:15px;}
.brand_rank ul:after{ display:table; clear:both; content:"";}
.brand_rank ul{ *zoom:1;}
.brand_rank li{ position:relative; float:left; width:100%; height:19px; padding:5px 0 6px;}
.brand_rank li .num{ display:inline-block; float:left; width:18px; height:17px; margin-right:12px; border:1px solid #e5e5e5; font:12px/16px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"; text-align:center;}
.brand_rank li .top{ border-color:#df5501; background-color:#df5501; color:#fff;}
.brand_rank li a{ float:left; color:#666; font:14px/19px "\5B8B\4F53";}
.brand_rank li a:hover{ color:#c00;}
.brand_rank li .price{ display:inline-block; position:relative; float:right; height:19px; font:14px/19px "\5B8B\4F53";}
#toTop{ display:none; position:fixed; right:50%; bottom:45px; width:54px; height:54px; margin-right:-575px; background:url("//mat1.gtimg.com/auto/2014/images/auto_sprite.png") no-repeat -67px -93px; opacity:0.3; -moz-opacity:0.3; filter:alpha(opacity=30);}
#toTop:hover{ opacity:1; -moz-opacity:1; filter:alpha(opacity=100);}
/*  |xGv00|1e716f15abcb62b615242320b3044832 */