table{border-collapse:collapse;border-spacing:0}
p{ margin:0;}
.layout{width:1000px;margin:0 auto}
.layout:after,.hd:after,.bd:after,.ft:after,.cf:after,.Q-tList:after,.Q-tList ul:after,.Q-tList ol:after,.Q-pList:after,.Q-pList ul:after,.Q-tpList:after,.Q-tpList ul:after,.Q-tpWrap:after{content:"";display:table;clear:both}
.layout,.hd,.bd,.ft,.cf,.Q-tList,.Q-tList ul,.Q-tList ol,.Q-pList,.Q-pList ul,.Q-tpList,.Q-tpList ul,.Q-tpWrap{*zoom:1}
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mr20{margin-right:20px!important}
.mr40{margin-right:40px!important}
.pt10{padding-top:10px}
.search_car_btn,.car_nav li em,.head_top .select_city .btn em,.dujia,.history_links span .eye,#cp_xczx .search_btn,.foucs_pic .mini_nav li a,.mini_task li a,.foucs_pic .mini_nav li.active a,.mini_task li.active a,.cx_content_item .play_btn,.heavy_list .keyword .en,.txcp .up_btn em,.txcp .down_btn em,.car_tools li a em,.auto-menu h4 .open,.auto-menu .state-open h4 .open,.depr_list li .price .green_arr,.hide_panel .up_arr,.union .intro .join_btn,.ask_price_btn,.recommend ul li .online_ask_btn,.city_options_box .up_arr,.change_time .left_btn em,.change_time .right_btn em,.xc_select_btn .down_arr,.xc_select_btn .up_arr,.cshy_top .chose_city .btn .down,.cshy_top .chose_city .btn .up,.ct_way li .link em,#top_select_city .up_arr,#toTop{background:url("//mat1.gtimg.com/auto/2014/images/auto_sprite.png") no-repeat}
.logoAutoQQ{display:none}

/*header_box*/
.head_top{height:32px}
.logo_wrap,.logo_wrap a,.logo_wrap,.logo_wrap img{display:block;height:30px;width:128px}
.head_top .select_city{height:25px;width:172px;margin-top:7px}
.head_top .select_city .slt1,.head_top .select_city .slt2{height:25px;width:72px;text-align:right}
.head_top .select_city .slt2{width:79px;position:relative;z-index:10}
.head_top .select_city .slt2 .cx_options_box{width:255px;left:10px;top:35px;_top:37px;height:90px;position:absolute; display:none}
#top_select_city li{display:block;float:left;width:51px;line-height:30px;text-align:center}
.head_top .select_city .btn{display:inline-block;height:25px;line-height:22px;color:#666;padding-right:20px;position:relative}
.head_top .select_city .btn:hover{text-decoration:none}
.head_top .select_city .btn em{display:block;height:5px;width:9px;position:absolute;top:9px;right:5px;overflow:hidden}
.head_top .select_city .btn em.down{background-position:-948px -17px}
.head_top .select_city .btn em.up{background-position:-965px -34px}
.hide_panel{position:relative;border:1px solid #d3d3d3;padding:8px 14px 10px}
.hide_panel .left{width:290px;margin-right:10px}
.hide_panel .headline{border-bottom:1px dashed #ccc;padding:6px 0 10px}
.hide_panel .headline .pic{display:block;height:90px;width:135px;margin:5px 12px 0 0}
.hide_panel .headline .link{font:14px/26px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"}
.hide_panel .headline p{color:#666;line-height:22px;margin-top:4px}
.hide_panel .left ul{display:block;padding-top:7px}
.hide_panel .left ul li{width:290px;height:26px;overflow:hidden}
.hide_panel .left ul li a{font-size:14px;line-height:26px}
.hide_panel .middle{width:410px}
.hide_panel .middle ul{float:left;width:200px;margin-right:10px}
.hide_panel .middle ul.last{margin:0}
.hide_panel .middle ul li{width:200px;height:36px;overflow:hidden}
.hide_panel .middle ul li a{width:200px;height:36px;font:14px/36px "\5B8B\4F53"}
.hide_panel .right{width:250px;margin-top:6px}
.hide_panel .hot_active{height:30px;background-color:#333}
.hide_panel .hot_active img{display:block;float:left;height:18px;width:148px;margin-top:5px}
.hide_panel .hot_art{display:block;margin-top:1px;height:136px;width:250px;position:relative}
.hide_panel .hot_art img{height:136px;width:250px}
.dujia{vertical-align:middle;display:inline-block;height:14px;width:28px;background-position:-152px -61px;color:#fff;font:12px/14px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";text-align:right;overflow:hidden}
.hide_panel .up_arr,#top_select_city .up_arr{display:block;width:14px;height:8px;background-position:-965px -17px;position:absolute;top:-8px;left:160px;overflow:hidden}
#top_select_city .up_arr{left:20px}

.pp_options_box,.cx_options_box,.city_options_box{display:none;position:absolute;width:228px;height:274px;border:1px solid #bbb;top:30px;left:0;background-color:#fff;z-index:100}
.hot_art .mask{display:block;height:79px;width:100%;background:url("//mat1.gtimg.com/auto/2014/images/mask.png") no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/auto/2014/images/mask.png',sizingMethod='crop');position:absolute;bottom:0;left:0;cursor:pointer}
.hot_art span{font:14px/38px "\5B8B\4F53";text-align:center;height:38px;display:block;width:100%;position:absolute;left:0;bottom:0;color:#fff}
.hot_art:hover{text-decoration:none}
.hot_art:hover span{text-decoration:none;cursor:pointer}
/*搜车*/
.search_car{height:20px;width:390px;padding:5px 0 3px 8px;border:2px solid #d3d3d3;position:relative;z-index:1}
.search_ipt{height:20px;width:298px;border:none;*border:0;font:14px/20px "\5B8B\4F53"}
.search_car_btn{position:absolute;top:-2px;right:-2px;display:block;height:32px;width:86px;background-position:-824px 0}
.results_list{border:2px solid #D3D3D3;border-top:none;left:-2px;position:absolute;top:30px;width:398px;background-color:#fff;z-index:1}
.results_list li{height:24px}
.results_list li a{display:block;height:24px;line-height:24px;padding-left:10px;position:relative}
.results_list li a .acronym{display:block;height:24px;width:100px;position:absolute;top:0;right:0}
.results_list li a:hover,.results_list li a.select{text-decoration:none;background-color:#f1f1f1}
/*版式切换*/
.head_top .tab_format{margin-top:4px;border:1px solid #1c8dd5}
.head_top .tab_format a{display:block;height:26px;width:64px;float:left;line-height:26px;text-align:center;color:#1c8dd5;font-size:12px}
.head_top .tab_format a:hover{color:#c00}
.head_top .tab_format a.active{background-color:#1c8dd5;color:#fff;font-weight:bold;cursor:default}
.head_top .tab_format a.active:hover{text-decoration:none;color:#fff}

/*头部导航*/
.all_nav{height:35px;border-bottom:4px solid #1c8dd5}
.all_nav ul{width:100%;display:table;border-collapse:collapse}
.all_nav li{display:block;float:left;width:66px}
.all_nav li.first{width:76px}
.all_nav li a{display:block;font:14px/35px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";text-align:center;color:#333}
.all_nav li a:hover,.all_nav li a.active{color:#fff;background-color:#1c8dd5;text-decoration:none}





/*有情链接*/
.links_bot{border:1px solid #ddd}
.links_bot .menus{height:36px;border-bottom:1px solid #ddd;position:relative}
.links_bot .menus ul{display:block;height:38px;position:absolute;top:-1px;left:-1px}
.links_bot .menus ul li{display:block;float:left}
.links_bot .menus ul li a{display:block;height:38px;width:102px;font:18px/38px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";text-align:center}
.links_bot .menus ul li a.active,.links_bot .menus ul li a:hover{color:#fff;background-color:#1c8dd5;text-decoration:none}
.links_bot .cons{display:none;padding:13px 19px}
.links_bot .cons a{display:inline-block;line-height:26px;color:#666;margin-right:13px}
.links_bot .cons a:hover{color:#c00}
/*二维码*/
.contact{margin-top:40px;height:69px;position:relative;background:url("//mat1.gtimg.com/auto/2014/images/ct_plit.png") repeat;padding-left:100px;z-index:100}
.v_code{border:1px solid #bababa;padding:4px;position:absolute;bottom:-1px;left:7px;background-color:#fff}
.v_code img{height:70px;width:70px}
.contact .tips{padding-top:13px}
.contact .tips p{color:#6e6e6e;font:14px/22px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"}
.contact .tips p a{color:#d00000}
.ct_way{margin-top:20px;display:block;height:30px}
.ct_way li{display:block;float:left;width:125px;height:30px;position:relative}
.ct_way li .link{display:block;padding-left:35px;width:90px;color:#525252;font:16px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";position:relative}
.ct_way li .link:hover{text-decoration:none;color:#000}
.ct_way li .link em{display:block;overflow:hidden;position:absolute;top:0;left:0}
.ct_way li .link em.wx{width:28px;height:25px;top:2px;background-position:-66px 0}
.ct_way li .link em.wb{width:20px;height:26px;top:3px;background-position:-100px 0}
.ct_way li .link em.hg{width:25px;height:23px;top:3px;background-position:-126px 0}
.ct_way li .link em.us{width:25px;height:19px;top:6px;background-position:-157px 0}
.ct_way li .link:hover em.wx{background-position:-66px -32px}
.ct_way li .link:hover em.wb{background-position:-100px -32px}
.ct_way li .link:hover em.hg{background-position:-126px -32px}
.ct_way li .link:hover em.us{background-position:-157px -32px}
.ad_links{height:35px;background-color:#e7e7e7;padding:0 10px}
.ad_links li{padding:0 0 0 10px;height:35px;width:210px;float:left;line-height:35px}
.ad_links li a{display:inline-block;float:right;height:35px;line-height:35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:198px;font-size:14px;}
.ad_pics a,.ad_pics a img{display:block;height:60px;width:330px}
#toTop{background-position:-67px -93px;bottom:45px;display:none;height:54px;opacity:0.3;-moz-opacity:0.3;filter:alpha(opacity=30);position:fixed;right:50%;margin-right:-575px;width:54px}
#toTop:hover{opacity:1;-moz-opacity:1;filter:alpha(opacity=100)}
/*  |xGv00|08a46491f417c666d0742c70655ae1f3 */