@charset "gb2312";
/* CSS Document */

/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#666; font-size:12px; font-family:"\5FAE\8F6F\96C5\9ED1","Arial Narrow",Tahoma;}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#666; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}
body{ background:#FAFAFA url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/banner_bg.jpg) center 29px no-repeat;}
.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{width:1000px; margin:0 auto; background:#FAFAFA;}
.fl{ float:left}
.fr{ float:right}


/*视频*/
.video_paly{ width:1000px; height:625px; background:#000}

.video_more{ height:141px; padding-top:13px; background:#17161C;}
.tags1{ width:660px; float:left;}
.tags1 li{ cursor:pointer; width:156px; height:122px; float:left; margin-right:9px; _display:inline}
.tags1 li div{ display:none; width:156px; height:122px; background:#000; filter:Alpha(Opacity=60); -moz-opacity:0.6; opacity:0.6;}
.tags1 li.on div{ display:block;}
.tags1 li.on div h4{ text-align:center; padding:30px 0 15px;}
.tags1 li.on div h5{ padding:0 8px; font:100 12px/22px "\5B8B\4F53"; color:#fff;}
.tags1 li.on div h5 a:link,.tags1 li.on div h5 a:visited{ color:#fff;}
.tags1 li.on div h5 a:hover{ color:#FC9105; text-decoration:none;}
.wd_logo{ width:337px; float:right}

/* 快速导航 */
#toTop{ position:fixed; _position:absolute; top:10px; left:50%;}

*html{ background-image:url(about:blank); background-attachment:fixed;}
.floatLeft{ position:absolute; z-index:999;left:50%; margin-left:505px;}
.floatLeft ul.rightside{ margin-top:10px; background:url(http://img1.gtimg.com/auto/pics/hv1/87/63/1488/96773352.jpg) right top no-repeat; padding-top:61px;}
.floatLeft ul.rightside li{ width:116px; height:26px; padding-left:7px; margin-bottom:1px; cursor:pointer;}
.floatLeft ul.rightside li h4{ width:116px; height:26px; background:#000; text-align:center; line-height:26px;}
.floatLeft ul.rightside li.on{ width:123px; padding:0;}
.floatLeft ul.rightside li.on h4{ width:123px; background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/float_on.png) left center no-repeat;}
.floatLeft ul.rightside li a{ display:inline-block; width:100%; color:#fff; font:100 12px/26px "\5FAE\8F6F\96C5\9ED1";}

#scrollTop{width:52px;height:52px; text-indent: -999em; overflow:hidden;background:url(http://img1.gtimg.com/auto/pics/hv1/101/140/1487/96727976.png) no-repeat;cursor:pointer;margin-left:510px;position:fixed;left:50%;bottom:20px;text-indent:-9999px;overflow:hidden; }	
#scrollTop:hover{filter:Alpha(Opacity=80); -moz-opacity:0.8; opacity:0.8;}


.con_wrap{ padding-top:50px;}
.left{ width:360px;}
.right{ width:564px;}

.tit_left{ height:62px; background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/tit2_bg.png) no-repeat;}
.tit_left h4{ width:160px; float:left; text-align:center; font:100 30px/62px "\5FAE\8F6F\96C5\9ED1"; color:#fff;}
.left_text{ border-top:3px solid #333; padding:10px 0; line-height:24px;}
.left_text p{ text-indent:2em;}
.img_wrap{ margin:0 10px 10px 0; _display:inline}
.img_wrap2{ margin:0 0 10px 10px; _display:inline}
.text_area h4,.left_text h4{ font:600 18px/24px "\5FAE\8F6F\96C5\9ED1"; margin-bottom:10px;}
.text_area h4 a:link,.text_area h4 a:visited,.left_text h4 a:link,.left_text h4 a:visited{ color:#333;}
.text_area h4 a:hover,.left_text h4 a:hover{ color:#d90606}
.text_area a:link,.text_area a:visited{ color:#076cc4}
.text_area a:hover{ color:#d90606}

.guest{ width:360px; height:400px; position:relative;}
.guest_com{ position:absolute; display:inline-block;}
.guest_small{ font:100 14px/18px "\5FAE\8F6F\96C5\9ED1"; color:#999!important;}
.guest a.black{ color:#333;}
.guest_1{ top:30px; left:0; font:100 48px/58px "\5FAE\8F6F\96C5\9ED1";}
.guest_2{ top:50px; left:150px;}
.guest_3{ top:70px; right:5px;; font:100 48px/58px "\5FAE\8F6F\96C5\9ED1";}
.guest_4{ top:100px; right:150px;}
.guest_5{ top:120px; left:20px; font:600 30px/38px "\5FAE\8F6F\96C5\9ED1";}
.guest_6{ top:135px; left:90px; }
.guest_7{ top:160px; left:90px; font:100 36px/38px "\5FAE\8F6F\96C5\9ED1";}
.guest_8{ top:180px; left:200px; }
.guest_9{ top:200px; left:0; font:600 30px/38px "\5FAE\8F6F\96C5\9ED1";}
.guest_10{ top:220px; left:80px; }
.guest_11{ top:240px; right:40px; font:600 30px/38px "\5FAE\8F6F\96C5\9ED1";}
.guest_12{ top:260px; left:65px; }
.guest_13{ top:300px; right:5px; font:600 30px/38px "\5FAE\8F6F\96C5\9ED1";}
.guest_14{ top:310px; right:100px;}
.guest_15{ top:330px; left:0; font:100 48px/58px "\5FAE\8F6F\96C5\9ED1";}
.guest_16{ top:360px; left:150px;}
.guest_more{ height:30px; text-align:center; background:#E3E3E3;}
.guest_more a{ line-height:30px;}

.team ul li{ width:180px; float:left}
.team ul li{  font:100 14px/36px "\5FAE\8F6F\96C5\9ED1";}

/***/
.blcok_text h4{font:600 18px/24px "\5FAE\8F6F\96C5\9ED1"; background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/point.png) left center no-repeat; padding-left:20px;}
.blcok_text p{text-indent:2em; line-height:24px;}
.tit_right{ height:62px; background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/tit_bg.jpg) no-repeat;}
.tit_right h4{ width:160px; float:left; text-align:center; font:100 30px/62px "\5FAE\8F6F\96C5\9ED1"; color:#fff;}
.blcok_text h4 a:link,.blcok_text h4 a:visited{ color:#333}
.blcok_text h4 a:hover{ color:#d90606}
.qa_bg{ background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/qline.png) left top no-repeat; padding-left:40px; margin-top:40px;}
.qa_con{ height:106px;}
.qa_con h4{ line-height:32px; font-size:14px; font-weight:bold;}
.qa_con p{ line-height:24px;}
.qa_con h4 a:link,.qa_con h4 a:visited{ color:#333}
.qa_con h4 a:hover{ color:#d90606}
.line_bg{ height:3px; background:#333;}


/**/
.tags2{float:left;}
.tags2 li#spe{ background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/keyword.png) no-repeat;}
.tags2 li h4{ font:100 38px/138px "\5FAE\8F6F\96C5\9ED1"; color:#fff; text-align:center;}
.tags2 li.on h4{ display:block;}
.tags2 li{ cursor:pointer; width:176px; height:138px; background:#686868; float:left; margin:6px; _display:inline}
.tags2 li div{ display:none; width:176px; height:138px; background:#E2E2E2;}
.tags2 li h6{ width:94px; margin:30px auto 0; text-align:center;  font:100 36px/40px "\5FAE\8F6F\96C5\9ED1"; color:#fff;}
.tags2 li.on h6{ display:none;}
.tags2 li.on div{ display:block;}
.tags2 li.on div h5{ padding:15px; font:100 14px/30px "\5FAE\8F6F\96C5\9ED1"; color:#474747;}

/**/
.timeline{ background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/line_bg.png) left bottom no-repeat; padding-bottom:20px;}
.timeline li{ height:24px; margin-bottom:10px; background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/line_off.png) left top no-repeat; padding-left:40px; font:100 14px/24px "\5FAE\8F6F\96C5\9ED1"; cursor:pointer;}
.timeline li.on{ background:url(//mat1.gtimg.com/auto/01/1/1/1/wdnew/line_on.png) left center no-repeat; color:#cc3333}

.tag_body_a{ text-align:center; padding:20px 0 0;}


.marginT10{ margin-top:10px;}
.marginT20{ margin-top:20px;}/*  |xGv00|d79f098275f7d77cb04019a99629be4e */