/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#333; font-size:12px; font-family:"\5B8B\4F53","Arial Narrow",Tahoma;}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{ width:1000px; margin:0 auto;}

/* 栏目模板 */
.column1 .title{ height:33px; background:#ededed;}
.column1 .title h3{ float:left; padding:0 10px; background:#1c8dd5; color:#fff; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.column1 .title span{ float:right; padding:0 10px; color:#929292; line-height:33px;}
.column1 .title span a:link,.column1 .title span a:visited{ color:#929292;}
.column1 .title span a:hover,.column1 .title span a:active{ color:#c00;}

.column3 .title{ height:50px; border-bottom:4px solid #1c8dd5;}
.column3 .title h2{ float:left; font:normal 30px/50px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.column3 .title span{ float:right; height:40px; padding-top:10px; color:#929292; line-height:40px;}
.column3 .title span a:link,.column3 .title span a:visited{ color:#929292;}
.column3 .title span a:hover,.column3 .title span a:active{ color:#c00;}

/* header
----------------------------------------------- */
.navSub{ height:41px; background:#fafafa url(//mat1.gtimg.com/auto/1/2014/lineX.png) repeat-x 0 bottom;}
.navSub li{ float:left; height:41px; padding:0 20px; font:18px/40px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.navSub li a:link,.navSub li a:visited{ color:#bababa;}
.navSub li a:hover,.navSub li a:active{ color:#c00; text-decoration:none;}
.navSub li.on{ height:40px; border-bottom:1px solid #1c8dd5;}
.navSub li.on a:link,.navSub li.on a:visited{ color:#333;}
.navSub li.on a:hover,.navSub li.on a:active{ color:#c00;}

/* body
----------------------------------------------- */
.newsList .newTxt h3 em,.newsList .newFoot .share,.newsList .newFoot .comment em{ background:url(//mat1.gtimg.com/auto/1/2014/sprite.png) no-repeat;}
.barL680{ float:left; width:680px;}
.barR300{ float:right; width:300px;}

/* 焦点图 */
.focus{ overflow:hidden; width:678px; height:370px; border:1px solid #1c8dd5;}
#tagTit_a{ float:left; width:165px; margin-top:-1px;}
#tagTit_a li{ cursor:pointer; height:52px; margin-top:1px; background:#dbdbdb; font:18px/52px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53"; text-align:center;position:relative;}
#tagTit_a li em{display:none;}
#tagTit_a li.hover{color:#fff;background:#1C8DD5;}
#tagTit_a li.hover em{display:block;position:absolute;cursor:pointer;width:0; height:0;border:6px solid; border-color:transparent transparent transparent #fff; border-style:dashed dashed dashed solid;right:10px;top:50%;margin-top:-5px;*margin-top:-6px;_overflow:hidden;}
#tagBod_a{ float:right; width:512px; height:316px;position:relative;_zoom:1;}
#tagBod_a .pic{ display:block; position:relative; width:512px; height:316px;}
#tagBod_a .pic img{ width:512px; height:316px;}
#tagBod_a .pic em{ display:block; position:absolute; left:0; bottom:0; width:487px; height:50px; padding:29px 0 0 25px; background:url(//mat1.gtimg.com/auto/09auto/pingce/focusBg.png) no-repeat;}
* html #tagBod_a .pic em{ filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/09auto/pingce/focusBg.png",sizingMethod="crop"); background-image:none;}
#tagBod_a .pic span{ display:block; position:absolute; left:0; bottom:0; width:462px; height:50px; padding:29px 25px 0 25px; color:#fff; font:18px/50px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53"; text-align:center;}
#tagBod_a a:hover,#tagBod_a a:active{ color:#fc0; text-decoration:none;}
#tagBod_a p{ height:20px; margin:0; padding:17px 0; font:14px/20px "\5B8B\4F53";_haslayout:1;}
#tagBod_a p a{ display:inline-block; margin-left:35px; background:url(//mat1.gtimg.com/auto/09auto/pingce/sprite.png) no-repeat;}
#tagBod_a p a:hover,#tagBod_a p a:active{ color:#1c8dd5; text-decoration:none;}
#tagBod_a p a.tool1{ padding-left:18px; background-position:-27px 0;}
#tagBod_a p a.tool2{ padding-left:25px; background-position:-27px -29px;} 
#tagBod_a p a.tool3{ padding-left:26px; background-position:-27px -58px;}
#tagBod_a p a.tool4{ padding-left:25px; background-position:-27px -84px;}
#tagBod_a p a.tool5{ padding-left:40px; background-position:-27px -111px;}
#tagBod_a p a.tool6{ padding-left:26px; background-position:-256px -151px;}
#tagBod_a p a.tool7{ padding-left:27px; background-position:-27px -148px;}
#tagBod_a p a.tool8{ padding-left:24px; background-position:-70px -216px;}
#tagBod_a p a.tool9{ padding-left:24px; background-position:0px -220px;}
#tagBod_a p a.tool10{ padding-left:23px; background-position:-259px -50px;}
#tagBod_a p a.tool11{ padding-left:20px; background-position:-256px -205px;}
#tagBod_a .tagBods_a{position:relative;overflow:hidden;*zoom:1;}
#tagBod_a .tagBods_a ul{margin-right:-3000px;*zoom:1;_haslayout:1;}
#tagBod_a .tagBods_a ul:after{display:block; clear:both; visibility:hidden; content:"."; height:0;}
#tagBod_a .tagBods_a ul li{float:left;overflow:hidden;width:512px; }
#tagBod_a .tagBods_a .icons{position:absolute;bottom:70px;right:20px;z-index:88;}
#tagBod_a .tagBods_a .icons a{display:inline-block;width:20px;height:7px;overflow:hidden;position:relative;text-align:center;}
#tagBod_a .tagBods_a .icons a cite{display:block;position:absolute;}
#tagBod_a .tagBods_a .icons a:hover cite,#tagBod_a .tagBods_a .icons a.on cite{background:#1C8DD5;}
#tagBod_a .tagBods_a .icons a .left{cursor:pointer;width:0; height:0;border:10px solid; border-color:transparent #D7D7D7 transparent transparent; border-style:dashed solid dashed dashed;left:-10px;}
#tagBod_a .tagBods_a .icons a:hover .left,#tagBod_a .tagBods_a .icons a.on .left{background:transparent;border-right-color:#1C8DD5;}
#tagBod_a .tagBods_a .icons a .right{cursor:pointer;width:0; height:0;border:10px solid; border-color:transparent transparent transparent #D7D7D7; border-style:dashed dashed dashed solid;left:10px;top:-10px;_top:-25px;}
#tagBod_a .tagBods_a .icons a:hover .right,#tagBod_a .tagBods_a .icons a.on .right{background:transparent;border-left-color:#1C8DD5;}

#tagBod_a .lt,#tagBod_a .rt{position:absolute;display:block;width:56px;height:56px;top:50%;margin-top:-28px;z-index:9;text-align:center;overflow:hidden;}
#tagBod_a .lt .shadow,#tagBod_a .rt .shadow{position:absolute;width:100%;height:100%;top:0;left:0;opacity:.6;filter:alpha(opacity:60);background-color:#000;z-index:1;}
#tagBod_a .lt h1,#tagBod_a .rt h1{position:relative;z-index:2;font-size:48px;*font-size:56px;font-size:56px\0;font-weight:bold;color:#fff;width:100%;height:100%;top:0;cursor:pointer;}
#tagBod_a .lt{left:0;}
#tagBod_a .rt{right:0;}
#tagBod_a .lt:hover .shadow,#tagBod_a .rt:hover .shadow{opacity:1;filter:alpha(opacity:100);background:#33A1E7;color:#fff;}
/* 主编驾到 */
.zhubian .tp{ height:162px; margin-top:15px;}
.zhubian .tp .pic{ position:relative; float:left; width:129px; height:162px;}
.zhubian .tp .pic img{ width:129px; height:162px;}
.zhubian .tp .pic em{ position:absolute; right:0; bottom:0; width:28px; height:14px; background:url(//mat1.gtimg.com/auto/09auto/pingce/sprite.png) no-repeat -249px -132px;}
.zhubian .tp .p{ float:right; width:160px; height:162px;}
.zhubian .tp .p h4{ font:normal 13px/22px "\5FAE\8F6F\96C5\9ED1";}
.zhubian .tp .p p{ margin:10px 0 0; color:#666; line-height:20px;}
.zhubian .tp .p p a:link,.zhubian .tp .p p a:visited{ color:#1c8dd5;}
.zhubian .tp .p p a:hover,.zhubian .tp .p p a:active{ color:#c00;}
.zhubian ul{ padding:12px 0 0;}
.zhubian li{ height:30px; padding-left:10px; background:url(//mat1.gtimg.com/auto/img/ico/point.png) no-repeat 0 11px; font:14px/30px "\5B8B\4F53";}

/* 新闻列表 */
.newsList{ border-top:3px solid #1c8cd4;}
.newsList .title{ height:37px; border-bottom:1px solid #ededed;}
.newsList .title h2{ float:left; padding-left:10px; font:normal 24px/37px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .title span{ float:right; font:14px/37px "\5B8B\4F53";}
.newsList .title span a{ margin-left:10px;}
.newsList .body li{ padding:15px 0; border-bottom:1px solid #ededed; background:#fff;}
.newsList .body li:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .newsList .body li{ height:1%;}
.newsList .body li.hover{ background:#f3f3f3;}
.newsList .body li img{ display:inline-block; float:left; width:240px; height:165px; margin-right:15px;}
.newsList .newTxt{}
.newsList .newTxt h3{ font:normal 20px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .newTxt h3 em{ display:inline-block; width:28px; height:14px; margin-left:5px; background-position:-249px -132px; vertical-align:middle;}
.newsList .newTxt p{ margin:15px 0; color:#666; line-height:22px;}
.newsList .newFoot{ height:20px;}
.newsList .newFoot h5{ display:inline-block; float:left; margin-right:20px; color:#666; font:normal 12px/20px "\5B8B\4F53";}
.newsList .newFoot h5 a{ margin-right:10px;}
.newsList .newFoot h5 a.blue:link,.newsList .newFoot h5 a.blue:visited{ color:#1c8cd4;}
.newsList .newFoot h5 a.blue:hover,.newsList .newFoot h5 a.blue:active{ color:#c00;}
.newsList .newFoot .share{ display:inline-block; position:relative; cursor:pointer; float:left; width:11px; height:12px; padding:4px; background-position:-39px -169px;}
.newsList .newFoot .share.hover{ background-position:-39px -189px;}
.newsList .newFoot .share.hover .shareList{ display:block;}
.newsList .newFoot .comment{ display:inline-block; cursor:pointer; float:left; height:20px; margin-left:10px;}
.newsList .newFoot .comment a{ cursor:pointer;}
.newsList .newFoot .comment a:link,.newsList .newFoot .comment a:visited,
.newsList .newFoot .comment a:hover,.newsList .newFoot .comment a:active{ text-decoration:none;}
.newsList .newFoot .comment em{ display:inline-block; cursor:pointer; float:left; width:14px; height:13px; padding:3px 5px 3px 3px; background-position:-61px -169px;}
.newsList .newFoot .comment.hover em{ background-position:-61px -189px;}
.newsList .newFoot .comment span{ display:inline-block; float:left; font:12px/19px Arial;}
.shareList{ display:none; position:absolute; right:0px; bottom:-42px; width:180px; height:24px; border:1px solid #ddd; padding:9px 6px; background:#fff;}
.shareList a{ display:inline-block; overflow:hidden; float:left; width:24px; height:24px; margin:0 3px; padding-left:0; background:url(//mat1.gtimg.com/tech/00Jamesdu/2014/index/share.png) no-repeat; text-indent:-999em;}
.shareList .sharewb{ background-position:0 -168px;}
.shareList .shareqzone{ background-position:0 -144px;}
.shareList .sharesina{ background-position:0 -72px;}
.shareList .shareqqemail{ background-position:0 -24px;}
.shareList .sharepengyou{ background-position:0 -192px;}
.shareList .sharerenren{ background-position:0 -48px;}
.shareList .sharekaixin{ background-position:0 0;}
/* 翻页 */
.pageNav{ height:32px; margin:15px; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.pageNav a{ color:#0e58ac; font-size:14px; text-decoration:none;}
.pageNav span a,.pageNav span{ display:inline-block; overflow:hidden; padding:0 13px;}
.pageNav a,.pageNav span span{ height:30px; line-height:32px; border:1px solid #e0e0e0;}
.pageNav a,.pageNav strong,.pageNav span{ font-size:14px;}
.pageNav a:hover,.pageNav a:active{ border:1px solid #1c8dd5; background:#1c8dd5; color:#fff; text-decoration:none;}
.pageNav .now{ height:32px; border:none; color:#333; font-weight:bold; line-height:34px;}
.pageNav .mor{ border:0; padding:0; height:31px; line-height:31px;}
.pageNav .na{ color:#b3c3d0;}
.pageNav #shuzi span,.pageNav #shuzi a{ margin:0 2px;}

/* 针锋相对 */
.siteBar .body{ margin-top:15px;}
.siteBar .body .tp{ position:relative; width:300px; height:156px;}
.siteBar .body .tp img{ width:300px; height:156px;}
.siteBar .body .tp em{ position:absolute; right:0; top:0; width:28px; height:14px; background:url(//mat1.gtimg.com/auto/09auto/pingce/sprite.png) no-repeat -249px -132px;}
.siteBar .body .tp span{ display:block; position:absolute; left:0; bottom:0; width:300px; height:40px; padding:39px 0 0; background:url(//mat1.gtimg.com/auto/09auto/pingce/focusBg.png) no-repeat; color:#fff; font:bold 14px/40px "\5B8B\4F53"; text-align:center;}
.siteBar .body .tp a:link,.siteBar .body .tp a:visited,
.siteBar .body .tp a:hover,.siteBar .body .tp a:active{ text-decoration:none;}
.siteBar .body .tp a:link span,.siteBar .body .tp a:visited span{ color:#fff;}
.siteBar .body .tp a:hover span,.siteBar .body .tp a:active span{ color:#fc0;}
.siteBar .body li{ height:38px; border-bottom:1px solid #eee; padding:0 20px; font:14px/38px "\5B8B\4F53";}
.siteBar .body li.hover{ background:#f3f3f3;}

/* 选车派 */
.xuanche .body{ margin-top:15px;}
.xuanche li{ float:left; width:99px; height:37px; margin:0 1px 1px 0; background:#f1f1f1; font:14px/37px "\5B8B\4F53"; text-align:center;}
.xuanche li.hover{ background:#2b94d8; font-weight:bold;}
.xuanche li a:link,.xuanche li a:visited{ color:#666;}
.xuanche li a:hover,.xuanche li a:active{ color:#000; text-decoration:none;}
.xuanche li.hover a:link,.xuanche li.hover a:visited{ color:#fff;}
.xuanche li.hover a:hover,.xuanche li.hover a:active{ color:#fff; font-weight:bold;}

/* 广告 */
.ad_1,.ad_1 .obj,.ad_1 img{ width:300px; height:110px;}
.ad_2,.ad_2 .obj,.ad_2 img{ width:300px; height:140px;}
.ad_3,.ad_3 .obj,.ad_3 img{ width:300px; height:95px;}

/* 车型列表 */
.listAll .body{ height:642px; border:1px solid #e4e4e4; border-top:3px solid #b8b8b8;}
.listLogo{ position:relative; overflow-x:hidden;overflow-y:auto; float:left; width:240px; height:642px;}
.listLogo dl{ border-top:1px solid #e4e4e4; padding-bottom:10px;}
.listLogo dt{ margin-bottom:5px; font:600 14px/24px "\5B8B\4F53"; text-align:center;}
.listLogo .list{ position:relative;}
.listLogo strong{ display:block; position:absolute; left:0; top:0px; width:27px; height:27px; background:#b8b8b8; color:#fff; font:100 16px/25px Arial,Tahoma; text-align:center;}
.listLogo dt img{ display:block; width:75px; height:75px; margin:28px auto 3px;}
.listLogo dd{ height:26px; padding-left:30px; font:14px/26px Arial,Tahoma;overflow:hidden;}
.listData{ float:right; width:758px;}
.listData .li{ display:inline; float:left; width:334px; margin:20px 0 0 30px;}
.listData h3{ height:46px; font:normal 24px/46px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53"; text-align:center;}
.listData ol{ height:216px; margin:0 auto; border:1px solid #e5e5e5; border-top-color:#2c94d7; padding:12px 20px;}
.listData li{ height:17px; padding:9px 0 10px; font:14px/17px Arial,Tahoma;overflow:hidden;}
.listData li a{line-height:1.7;_line-height:36px;}
.listData li em{ display:inline-block; width:28px; height:14px; margin-left:10px; background:url(//mat1.gtimg.com/auto/09auto/pingce/sprite.png) no-repeat -249px -108px;}
.listData li span{ display:inline-block; width:17px; height:17px; margin-right:10px; background:url(//mat1.gtimg.com/auto/09auto/pingce/sprite.png) no-repeat; vertical-align:middle;}
.listData li span.num1{ background-position:0 0;}
.listData li span.num2{ background-position:0 -36px;}
.listData li span.num3{ background-position:0 -72px;}
.listData li span.num4{ background-position:0 -108px;}
.listData li span.num5{ background-position:0 -144px;}
.listData li span.num6{ background-position:0 -180px;}

/* footer
----------------------------------------------- */

/* 公共布局补充
----------------------------------------------- */
.undis{ display:none;}
.dis{ display:block;}
.marginT10{ margin-top:10px;}
.marginT20{ margin-top:20px;}/*  |xGv00|36b066ef4466ebfd1d5059d8cb220e81 */