/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#333; font:100 12px/18px Tahoma,"\5B8B\4F53";}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{ width:960px; margin:0 auto;}

/* 栏目模板 */
.column1 .title{ height:33px; border:1px solid #ddd; border-width:0 1px; background:url(//mat1.gtimg.com/auto/10che/sq/column.png) repeat-x;}
.column1 .title h2{ float:left; padding-left:25px; background:url(//mat1.gtimg.com/auto/10che/sq/column.png) no-repeat 11px -132px; font:600 14px/33px "\5B8B\4F53";}
.column1 .title span{ float:right; padding-right:15px; font:12px/33px "\5B8B\4F53";}
.column1 .body{ height:auto !important; min-height:0; height:0; border:1px solid #ddd; border-top:0;}

.column2 .title{ height:33px; border:1px solid #434343; border-width:0 1px; background:url(//mat1.gtimg.com/auto/10che/sq/column.png) repeat-x 0 -33px;}
.column2 .title h2{ float:left; padding-left:25px; background:url(//mat1.gtimg.com/auto/10che/sq/column.png) no-repeat 11px -132px; color:#fff; font:600 14px/33px "\5B8B\4F53";}
.column2 .title span{ float:right; padding-right:15px; color:#fff; font:12px/33px "\5B8B\4F53";}
.column2 .title span a:link,.column2 .title span a:visited{ color:#fff; text-decoration:none;}
.column2 .title span a:hover{ text-decoration:underline; color:#FFBB00;}

.column2 .body{ height:auto !important; min-height:0; height:0; border:1px solid #d1d1d1; border-top:0;}

.location{ font-family:"\5B8B\4F53";}
.location a:link,.location a:visited{ color:#049;}

/* body
----------------------------------------------- */

/*=====toplist=====*/
.toplist{width:960px; margin:0 auto; margin-top:-1px; overflow:hidden; border:1px solid #CCCCCC; border-top:0 none;}
.toplist li{height:32px; line-height:32px; border-top:1px dotted #DEDEDE; width:100%; float:left; overflow:hidden; zoom:1;}
.toplist li.bg_f9{background-color:#F9F9F9;}
.toplist li strong{font-weight:normal; color:#464646; float:left; display:block; width:6em; padding-left:1em;}
.toplist li span{float:left; margin-right:10px; color:#E6E6E6;}
.toplist li a{display:block; width:7em; float:left; color:#666;}
.toplist li a:hover{color:#DB0906;}


.barL670{ float:left; width:670px;}
.barR280{ float:right; width:280px;}
/* 焦点图 */
.foucs{ position:relative; overflow:hidden; float:left; width:670px; height:400px;}
.foucs *{ margin:0; border:0; padding:0;}
.foucs ul{ list-style-type:none;}
.foucs li{ display:none;}
.foucs li.on{ display:block;}
.foucs #foucs{ width:670px; height:400px; filter:progid:DXImagetransform.Microsoft.Fade (duration=0.6,overlap=1.0);}
.foucs #foucs img{ width:670px; height:400px; vertical-align:bottom;}
.foucs .titBg{ position:absolute; bottom:0; left:0; width:670px; height:77px; background:url(//mat1.gtimg.com/auto/10che/sq/foucsTitBg.png) no-repeat;}
* html .foucs .titBg{ _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/10che/sq/foucsTitBg.png",sizingMethod="crop"); _background-image:none;}
.foucs #tit{ position:absolute; bottom:12px; left:18px; width:330px; height:52px;}
.foucs #tit li a{ display:block; float:left; font:100 20px/26px "\5FAE\8F6F\96C5\9ED1"; text-decoration:none;}
.foucs #tit li a:link,.foucs #tit li a:visited{ color:#fff;}
.foucs #tit li a:hover,.foucs #tit li a:active{ color:#fb0;}
.foucs #tagPic{ position:absolute; bottom:9px; right:9px; height:59px;}
.foucs #tagPic li{ display:inline; cursor:pointer; overflow:hidden; float:left; width:95px; height:59px; margin-left:5px;}
.foucs #tagPic li img{ width:91px; height:55px; margin:2px; border:0;}
.foucs #tagPic li.on img{ margin:0; border:2px solid #fa0;}
/* 最热车型提车分享 */
.hotShare{ display:block; float:right; width:280px; height:400px; background:url(//mat1.gtimg.com/auto/10che/sq/hotShareBg.png);}
.hotShare h2.tit{ width:138px; height:29px; margin-top:8px; padding:3px 14px 6px 3px; background:url(//mat1.gtimg.com/auto/10che/sq/hotShareTitBg.png) no-repeat; color:#fff; font:600 14px/29px "\5B8B\4F53"; text-align:center;}
* html .hotShare h2.tit{ background:url(//mat1.gtimg.com/auto/10che/sq/hotShareTitBg.gif) no-repeat;}
.hotShare ul{ float:left; margin-top:5px; padding-top:10px; background:url(//mat1.gtimg.com/auto/10che/sq/hotShareLineX.png) no-repeat;}
.hotShare li a:link,.hotShare li a:visited{ color:#e5e5e5;}
.hotShare li a:hover{ color:#fb0;}
.hotShare .pic li{ display:inline; float:left; width:120px; height:120px; margin-left:13px; text-align:center;}
.hotShare .pic li img{ width:116px; height:86px; margin-bottom:3px; border:2px solid #fff;}
.hotShare .pic li h3{ font:100 12px/22px "\5B8B\4F53";}
.hotShare .txt{ padding:10px 10px 0;}
.hotShare .txt li{ padding-left:10px; background:url(//mat1.gtimg.com/auto/10che/sq/point.png) no-repeat 0 10px; line-height:25px;}
/* 最新提车 */
.newBuy .title{ height:40px; background:url(//mat1.gtimg.com/auto/10che/sq/colTit.png) no-repeat;}
.newBuy .title h2{ overflow:hidden; float:left; width:200px; height:40px; text-indent:-999em;}
.newBuy .title span{ float:right; margin-right:20px; font:12px/40px "\5B8B\4F53";}
.newBuy .body{ height:auto !important; min-height:0; height:0; border:1px solid #d1d1d1; border-top:0; padding:30px 0 0 0;}
.newBuy li{ display:inline; float:left; width:190px; height:174px; margin-left:40px; line-height:22px; text-align:center;}
.newBuy li img{ width:184px; height:123px; margin-bottom:3px; border:1px solid #d1d1d1; padding:2px;}


/* 欧美车型 */
.list .body{ padding:20px 0 0 1px;}
.list .bodyNoLine{ border-bottom:0;}
.list li{ display:inline; float:left; width:190px; height:164px; margin-left:24px; line-height:22px; text-align:center;}
.list li img{ width:184px; height:123px; margin-bottom:3px; border:1px solid #d1d1d1; padding:2px;}
/* 购车流程示意图 */
.helpBuy .body{ height:322px; padding:9px;}
/* 微博互动页卡 */
.tBuy .body{ height:726px !important;}

/* footer
----------------------------------------------- */
.tcopyright img{ display:inline; vertical-align:middle;}

/* 公共布局补充
----------------------------------------------- */
.marginT10{ margin-top:10px;}
.tico,a.tico,li.tico,div.tico{ padding-right:11px;text-indent:0;background:url(//mat1.gtimg.com/auto/64Q/icoT.png) no-repeat right 0;}
.ticoBig,a.ticoBig{ padding-right:14px;text-indent:0;background:url(//mat1.gtimg.com/auto/64Q/ticoBig.gif) no-repeat right 0;}
.red,a.red:link,a.red:visited{ color:#e00;}
.tico,a.tico{ display:inline-block; padding-right:11px; background:url(//mat1.gtimg.com/auto/64Q/icoT.png) no-repeat right center;}
.vico,a.vico{ display:inline-block; padding-right:17px; background:url(//mat1.gtimg.com/auto/64Q/icoV.png) no-repeat right center;}
/*  |xGv00|87897efc0bd925db56a76c164cd94e46 */