/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#333; font-size:12px; font-family:"\5B8B\4F53","Arial Narrow",Tahoma;}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{ width:1000px; margin:0 auto;}

.fl{ float:left; _display:inline}
.fr{ float:right; _display:inline}

/* 栏目模板 */
.column1 .title{ height:33px; background:#ededed;}
.column1 .title h3{ float:left; padding:0 10px; background:#1c8dd5; color:#fff; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.column1 .title span{ float:right; padding:0 10px; color:#929292; line-height:33px;}
.column1 .title span a:link,.column1 .title span a:visited{ color:#929292;}
.column1 .title span a:hover,.column1 .title span a:active{ color:#c00;}

/* header
----------------------------------------------- */
.navSub{ height:41px; background:#fafafa url(//mat1.gtimg.com/auto/1/1/1/tech_2014/lineX.png) repeat-x 0 bottom;}
.navSub li{ float:left; height:41px; padding:0 20px; font:18px/40px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.navSub li a:link,.navSub li a:visited{ color:#bababa;}
.navSub li a:hover,.navSub li a:active{ color:#c00; text-decoration:none;}
.navSub li.on{ height:40px; border-bottom:1px solid #1c8dd5;}
.navSub li.on a:link,.navSub li.on a:visited{ color:#333;}
.navSub li.on a:hover,.navSub li.on a:active{ color:#c00;}

/* body
----------------------------------------------- */
.headline span,#num li,.newsList .newTxt h3 em,.newsList .newFoot .share,.newsList .newFoot .comment em{ background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/sprite.png) no-repeat;}
.barL680{ float:left; width:680px;}
.barR300{ float:right; width:300px;}

#num li,.zhuanti .zhuantiTags li,.newsList .newTxt h3 em,.newsList .newFoot .share,.newsList .newFoot .comment em{ background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/sprite.png) no-repeat;}

/* 焦点图 */
#focus{ position:relative; overflow:hidden; width:680px; height:370px; float:left}
#focus .layout{ position:relative; width:100%; height:100%; margin:0 auto;}
#focus .layout:after{ display:table; clear:both; content:"";}
#focus ul{ overflow:hidden; width:100%; height:100%;}
#focus li{ float:left; overflow:hidden; width:100%; height:100%;}
#focus li img{ width:100%; height:100%;}
#focus li div,#focus li h3{ position:absolute; left:0; overflow:hidden; }
#focus li div{ width:100%; bottom:0;  height:79px; background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/focusBg.png) no-repeat;}
* html #focus li div{ filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/1/1/1/shequ2014/focusBg.png",sizingMethod="crop"); background-image:none;}
#focus li h3{ padding:0px 20px; bottom:0px; height:52px; color:#fff; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
#focus li h3 a:link,#focus li h3 a:visited{ color:#fff;}
#focus li h3 a:hover,#focus li h3 a:active{ color:#fc0; text-decoration:none}
#focus .num{ position:absolute; bottom:10px; right:25px; overflow:hidden; width:332px; _width:337px; height:56px;}
#focus .num span{ cursor:pointer; overflow:hidden; float:left; width:81px; height:56px;  _display:inline; text-align:center;}
#focus .num span img{ display:block; width:75px; height:50px; border:0; padding:3px;}
#focus .num span.on img{ border:3px solid #fff; padding:0;}
#focus .num img{ width:75px; height:50px;}
#focusGoL,#focusGoR{ display:block; position:absolute; top:323px; cursor:pointer; width:13px; height:21px; background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/sprite.png); _background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/arrow.gif);}
#focusGoL{ left:300px;}
#focusGoL:link,#focusGoL:visited{ background-position:0 0; _background-position:0 0; }
#focusGoL:hover,#focusGoL:active{ background-position:-20px 0; _background-position:0 -29px;}
#focusGoR{ right:8px;}
#focusGoR:link,#focusGoR:visited{ background-position:-40px  0; _background-position:-17px  0;}
#focusGoR:hover,#focusGoR:active{ background-position:-55px 0; _background-position:-17px -29px;}
.undis{ display:none;}
.dis{ display:block;}

/*热门车型*/
#tag_title_a{ overflow:hidden; width:300px; height:32px;}
#tag_title_a li{ width:100px; text-align:center; float:left; cursor:pointer; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53"; color:#666}
#tag_title_a li.on{ background:#1C8DD5; color:#fff;}

#tag_title_b li,#tag_title_c li{ width:50px; float:left; text-align:center; height:32px; font:normal 12px/32px "\5B8B\4F53"; cursor:pointer; color:#666}
#tag_title_b li.on,#tag_title_c li.on{ border-bottom:2px solid #1C8DD5}
#tag_body_a{ overflow:hidden; width:300px;}
#tag_body_a0{ overflow:hidden}
#tag_body_a0 ul{ width:320px;}
.fans li{ width:140px; height:103px; margin:10px 20px 0 0; float:left; text-align:center;}
.fans li a:link,.fans li a:visited{font:normal 12px/32px "\5B8B\4F53"; color:#3B5998}
.fans li a:hover,.fans li a:active{ color:#d90606;}

/*微联盟*/
.member_tit{ height:42px; border-bottom:4px solid #1C8DD5;}
.member_tit h3{font:normal 30px/42px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}

.ScA2{ position:relative; width:1000px; height:100px; }   
.ScA2 .scwr{ position:relative; top:0px; left:0px; overflow: hidden; zoom: 1; width:1000px; height:100px; } /*可视宽度width,height需设置正确 */    
.ScA2 .split{ float:left; width:1000px; height:100px;} 
.split li{ width:330px; height:100px; float:left;}  
.split li img{ width:100px; float:left;}
.memeber_text{ float:right; width:210px; margin:0 10px; _display:inline}
.memeber_text h4{font:normal 18px/22px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53"; color:#333}
.memeber_text p{font:normal 12px/22px "\5B8B\4F53"; color:#888}
.ScA2 .prev, .ScA2 .next{ position:absolute; cursor:pointer; display:block; width:50px; height:22px; top:-52px; }  
.ScA2 .prev{ display:none}    
.ScA2 .next{ background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/sprite.png) no-repeat; background-position:-284px -76px; right:0; font:normal 14px/22px "\5B8B\4F53"; padding-left:30px;}     
.ScA2 .prevMouseClass{ }   /*鼠标划过状态*/  
.ScA2 .nextMouseClass{ background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/sprite.png) no-repeat; background-position:-284px -114px;}  /*鼠标划过状态*/

/* 新闻列表 */
.newsList{ border-top:3px solid #1c8cd4;}
.newsList .title{ height:37px; border-bottom:1px solid #ededed;}
.newsList .title h2{ float:left; padding-left:10px; font:normal 24px/37px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .title span{ float:right; font:14px/37px "\5B8B\4F53";}
.newsList .title span a{ margin-left:10px;}
.newsList .body li{ padding:15px 0; border-bottom:1px solid #ededed; background:#fff;}
.newsList .body li:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .newsList .body li{ height:1%;}
.newsList .body li.hover{ background:#f3f3f3;}
.newsList .body li img{ display:inline-block; float:left; width:240px; height:165px; margin-right:15px;}
.newsList .newTxt{}
.newsList .newTxt h3{ font:normal 20px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .newTxt h3 em{ display:inline-block; width:28px; height:14px; margin-left:5px; background-position:-249px -132px; vertical-align:middle;}
.newsList .newTxt p{ margin:15px 0; color:#666; line-height:22px;}
.newsList .newFoot{ height:20px;}
.newsList .newFoot h5{ display:inline-block; float:left; margin-right:20px; color:#666; font:normal 12px/20px "\5B8B\4F53";}
.newsList .newFoot h5 a{ margin-right:10px;}
.newsList .newFoot h5 a.blue:link,.newsList .newFoot h5 a.blue:visited{ color:#1c8cd4;}
.newsList .newFoot h5 a.blue:hover,.newsList .newFoot h5 a.blue:active{ color:#c00;}
.newsList .newFoot .share{ display:inline-block; position:relative; cursor:pointer; float:left; width:11px; height:12px; padding:4px; background-position:-39px -169px;}
.newsList .newFoot .share.hover{ background-position:-39px -189px;}
.newsList .newFoot .share.hover .shareList{ display:block;}
.newsList .newFoot .comment{ display:inline-block; cursor:pointer; float:left; height:20px; margin-left:10px;}
.newsList .newFoot .comment a{ cursor:pointer;}
.newsList .newFoot .comment a:link,.newsList .newFoot .comment a:visited,
.newsList .newFoot .comment a:hover,.newsList .newFoot .comment a:active{ text-decoration:none;}
.newsList .newFoot .comment em{ display:inline-block; cursor:pointer; float:left; width:14px; height:13px; padding:3px 5px 3px 3px; background-position:-61px -169px;}
.newsList .newFoot .comment.hover em{ background-position:-61px -189px;}
.newsList .newFoot .comment span{ display:inline-block; float:left; font:12px/19px Arial;}
.shareList{ display:none; position:absolute; right:0px; bottom:-42px; width:180px; height:24px; border:1px solid #ddd; padding:9px 6px; background:#fff;}
.shareList a{ display:inline-block; overflow:hidden; float:left; width:24px; height:24px; margin:0 3px; padding-left:0; background:url(//mat1.gtimg.com/tech/00Jamesdu/2014/index/share.png) no-repeat; text-indent:-999em;}
.shareList .sharewb{ background-position:0 -168px;}
.shareList .shareqzone{ background-position:0 -144px;}
.shareList .sharesina{ background-position:0 -72px;}
.shareList .shareqqemail{ background-position:0 -24px;}
.shareList .sharepengyou{ background-position:0 -192px;}
.shareList .sharerenren{ background-position:0 -48px;}
.shareList .sharekaixin{ background-position:0 0;}
/* 翻页 */
.pageNav{ height:32px; margin:15px; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.pageNav a{ color:#0e58ac; font-size:14px; text-decoration:none;}
.pageNav span a,.pageNav span{ display:inline-block; overflow:hidden; padding:0 13px;}
.pageNav a,.pageNav span span{ height:30px; line-height:32px; border:1px solid #e0e0e0;}
.pageNav a,.pageNav strong,.pageNav span{ font-size:14px;}
.pageNav a:hover,.pageNav a:active{ border:1px solid #1c8dd5; background:#1c8dd5; color:#fff; text-decoration:none;}
.pageNav .now{ height:32px; border:none; color:#333; font-weight:bold; line-height:34px;}
.pageNav .mor{ border:0; padding:0; height:31px; line-height:31px;}
.pageNav .na{ color:#b3c3d0;}
.pageNav #shuzi span,.pageNav #shuzi a{ margin:0 2px;}

/*车友指南*/
.info .body{ height:144px; padding-bottom:10px; border:1px solid #ddd;}
.info .body li{ width:65px; height:62px; float:left; margin:10px 17px 0; _display:inline}
.info .body li a:link,.info .body li a:visited{ color:#666}
.info .body li a:hover,.info .body li a:active{ color:#000; text-decoration:none;}
.info .body li div,.info .body li.hover div{ background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/sprite.png); font:normal 12px/22px "\5B8B\4F53"; text-align:center;}
.info .body li a{ display:block; height:22px; padding-top:40px;}
.info .body li div.one{ background-position:-80px 0;}
.info .body li div.two{ background-position:-150px 0; }
.info .body li div.three{ background-position:-220px 0;}
.info .body li div.four{ background-position:0 -80px; }
.info .body li div.five{ background-position:-80px -80px; }
.info .body li div.six{ background-position:-150px -80px;}

.info .body li.hover div.one{ background-position:-80px -180px;}
.info .body li.hover div.two{ background-position:-150px -180px; }
.info .body li.hover div.three{ background-position:-220px -180px;}
.info .body li.hover div.four{ background-position:0 -250px; }
.info .body li.hover div.five{ background-position:-80px -250px; }
.info .body li.hover div.six{ background-position:-150px -250px;}

/*S联盟活动*/
.mems .body img{ width:135px; float:left;  margin-right:10px;}
.mems_text{ width:155px; float:right}
.mems_text h4{font:normal 14px/26px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.mems_text p{ font:normal 12px/22px "\5B8B\4F53"; color:#666}
.mems_text div{ border:1px solid #E8E8E8; height:26px; background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/tit_bgx.png) repeat-x; text-align:center; line-height:26px;}

/* 全民试驾团 */
.zhuanti .body{ position:relative; overflow:hidden; width:298px; height:210px; margin-top:15px; border:1px solid #ddd; border-bottom:0;}
.zhuanti .zhuantiPics li{ position:absolute; top:4px; left:4px; z-index:1; width:290px; height:160px;}
.zhuanti .zhuantiPics li a{ display:block; height:202px; background:#fff;}
.zhuanti .zhuantiPics img{ width:290px; height:160px;}
.zhuanti .zhuantiPics span{display:block; height:40px; margin-top:2px; padding-left:13px; font:14px/40px "\5FAE\8F6F\96C5\9ED1";}
.zhuanti .zhuantiTags{ position:absolute; bottom:16px; right:16px; z-index:10;}
.zhuanti .zhuantiTags li{ display:inline; cursor:pointer; overflow:hidden; float:left; width:16px; height:7px; background-position:0 -173px;}
.zhuanti .zhuantiTags li.active{ background-position:0 -193px;}
.baoming{width:290px; border:1px solid #ddd; border-top:0; padding:10px 4px 4px; }
.baoming div.block{ width:141px; border:1px solid #E8E8E8; height:26px; background:url(//mat1.gtimg.com/auto/1/1/1/shequ2014/tit_bgx.png) repeat-x; text-align:center; line-height:26px;}

/*观点*/
.view{}
.view ul li{ margin-top:20px;}
.view ul li img{ width:69px; float:left; display:inline-block;}
.view_text{ float:right; width:215px;}
.view_text h3{font:bold 12px/24px "\5B8B\4F53"; }
.view_text h4{font:normal 16px/28px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.view_text p{ margin:0; font:normal 12px/20px "\5B8B\4F53"; color:#999;}
.view_text h3 a:link,.view_text h3 a:visited{ color:#3399cc}
.view_text h3 a:hover,.view_text h3 a:active{ color:#333}

/*大家爱看*/
.aikan .body{ padding-top:5px;}
.aikan .body li{ overflow:hidden; height:20px; margin-top:10px; font:14px/20px "\5B8B\4F53";}
.aikan .body li span{ display:inline-block; width:18px; height:18px; margin-right:10px; border:1px solid #ddd; font-family:Arial; text-align:center; line-height:18px;}
.aikan .body li span.top{ width:20px; height:20px; border:0; background:#e05502; color:#fff;}

/*微信公众号关注排行*/
.guanzhupaihang{}
.guanzhupaihang .body li{ overflow:hidden; height:90px; margin-top:15px;}
.guanzhupaihang .body img{ float:left; width:90px; height:90px;}
.guanzhupaihang .body h3{ float:right; width:200px; height:24px; font:normal 14px/24px "\5FAE\8F6F\96C5\9ED1";}
.guanzhupaihang .body p{ float:right; width:200px; height:66px; margin:0; color:#999; line-height:22px;}

/* 公共布局补充
----------------------------------------------- */
.marginT10{ margin-top:10px;}
.marginT20{ margin-top:20px;}
/*  |xGv00|108c26a22770f7583b1fa0dbdbe86e04 */