/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#333; font-size:12px; font-family:"\5B8B\4F53","Arial Narrow",Tahoma;}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{ width:1000px; margin:0 auto;}

/* 栏目模板 */
.column1 .title{ height:33px; background:#ededed;}
.column1 .title h3{ float:left; padding:0 10px; background:#1c8dd5; color:#fff; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.column1 .title span{ float:right; padding:0 10px; color:#929292; line-height:33px;}
.column1 .title span a:link,.column1 .title span a:visited{ color:#929292;}
.column1 .title span a:hover,.column1 .title span a:active{ color:#c00;}

.fl{ float:left; _display:inline}
.fr{ float:right;_display:inline}

.headline span,#num li,.gonggao #day,.gonggao .line,.gonggao li em,.zhuanti .zhuantiTags li,.newsList .newTxt h3 em,.newsList .newFoot .share,.newsList .newFoot .comment em{ background:url(//mat1.gtimg.com/auto/1/1/1/tech_2014/sprite.png) no-repeat;}
.barL680{ float:left; width:680px;}
.barR300{ float:right; width:300px;}

/* header
----------------------------------------------- */
.navSub{ height:41px; background:#fafafa url(//mat1.gtimg.com/auto/1/1/1/tech_2014/lineX.png) repeat-x 0 bottom;}
.navSub li{ float:left; height:41px; padding:0 20px; font:18px/40px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.navSub li a:link,.navSub li a:visited{ color:#bababa;}
.navSub li a:hover,.navSub li a:active{ color:#c00; text-decoration:none;}
.navSub li.on{ height:40px; border-bottom:1px solid #1c8dd5;}
.navSub li.on a:link,.navSub li.on a:visited{ color:#333;}
.navSub li.on a:hover,.navSub li.on a:active{ color:#c00;}
.navSub li#last{ font:normal 12px/41px "\5B8B\4F53"; border:0;}
.navSub li#last a:link,.navSub li#last a:visited{ color:#3399cc}
.navSub li#last a:hover,.navSub li#last a:active{ color:#333}

/* 焦点图 */
.focus{ position:relative; overflow:hidden; width:680px; height:370px;}
.focus #focus li{ position:absolute; top:0; left:0; z-index:1; width:680px; height:370px;}
.focus #focus li a{ display:block; width:680px; height:370px;}
.focus #focus li a:link span,.focus #focus li a:visited span,.focus #focus li a:hover span,.focus #focus li a:active span{ color:#fff; text-decoration:none;}
.focus #focus img{ width:680px; height:370px;}
.focus #focus span{ display:block; position:absolute; left:0; bottom:0; width:655px; height:50px; padding:29px 0 0 25px; background:url(//mat1.gtimg.com/auto/1/1/1/tech_2014/focusBg.png) no-repeat; font:18px/50px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
* html .focus #focus span{ filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/1/1/1/tech_2014/focusBg.png",sizingMethod="crop"); background-image:none;}
.focus #num{ position:absolute; bottom:16px; right:16px; height:7px; z-index:10;}
.focus #num li{ display:inline; cursor:pointer; overflow:hidden; float:left; width:16px; height:7px; background-position:0 -173px;}
.focus #num li.active{ background-position:0 -193px;}

/* 新闻列表 */
.newsList{}
.newsList .title{ height:37px; border-bottom:1px solid #ededed;}
.newsList .title h2{ float:left; padding-left:10px; font:normal 24px/37px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .title span{ float:right; font:14px/37px "\5B8B\4F53";}
.newsList .title span a{ margin-left:10px;}
.newsList .body li{ padding:15px 0; border-bottom:1px solid #ededed; background:#fff;}
.newsList .body li:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .newsList .body li{ height:1%;}
.newsList .body li.hover{ background:#f3f3f3;}
.newsList .body li img{ display:inline-block; float:left; width:240px; height:165px; margin-right:15px;}
.newsList .newTxt{}
.newsList .newTxt h3{ font:normal 20px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .newTxt h3 em{ display:inline-block; width:28px; height:14px; margin-left:5px; background-position:-249px -132px; vertical-align:middle;}
.newsList .newTxt p{ margin:15px 0; color:#666; line-height:22px;}
.newsList .newFoot{ height:20px;}
.newsList .newFoot h5{ display:inline-block; float:left; margin-right:20px; color:#666; font:normal 12px/20px "\5B8B\4F53";}
.newsList .newFoot h5 a{ margin-right:10px;}
.newsList .newFoot h5 a.blue:link,.newsList .newFoot h5 a.blue:visited{ color:#1c8cd4;}
.newsList .newFoot h5 a.blue:hover,.newsList .newFoot h5 a.blue:active{ color:#c00;}
.newsList .newFoot .share{ display:inline-block; position:relative; cursor:pointer; float:left; width:11px; height:12px; padding:4px; background-position:-39px -169px;}
.newsList .newFoot .share.hover{ background-position:-39px -189px;}
.newsList .newFoot .share.hover .shareList{ display:block;}
.newsList .newFoot .comment{ display:inline-block; cursor:pointer; float:left; height:20px; margin-left:10px;}
.newsList .newFoot .comment a{ cursor:pointer;}
.newsList .newFoot .comment a:link,.newsList .newFoot .comment a:visited,
.newsList .newFoot .comment a:hover,.newsList .newFoot .comment a:active{ text-decoration:none;}
.newsList .newFoot .comment em{ display:inline-block; cursor:pointer; float:left; width:14px; height:13px; padding:3px 5px 3px 3px; background-position:-61px -169px;}
.newsList .newFoot .comment.hover em{ background-position:-61px -189px;}
.newsList .newFoot .comment span{ display:inline-block; float:left; font:12px/19px Arial;}
.shareList{ display:none; position:absolute; right:0px; bottom:-42px; width:180px; height:24px; border:1px solid #ddd; padding:9px 6px; background:#fff;}
.shareList a{ display:inline-block; overflow:hidden; float:left; width:24px; height:24px; margin:0 3px; padding-left:0; background:url(//mat1.gtimg.com/tech/00Jamesdu/2014/index/share.png) no-repeat; text-indent:-999em;}
.shareList .sharewb{ background-position:0 -168px;}
.shareList .shareqzone{ background-position:0 -144px;}
.shareList .sharesina{ background-position:0 -72px;}
.shareList .shareqqemail{ background-position:0 -24px;}
.shareList .sharepengyou{ background-position:0 -192px;}
.shareList .sharerenren{ background-position:0 -48px;}
.shareList .sharekaixin{ background-position:0 0;}
/* 翻页 */
.pageNav{ height:32px; margin:15px; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.pageNav a{ color:#0e58ac; font-size:14px; text-decoration:none;}
.pageNav span a,.pageNav span{ display:inline-block; overflow:hidden; padding:0 13px;}
.pageNav a,.pageNav span span{ height:30px; line-height:32px; border:1px solid #e0e0e0;}
.pageNav a,.pageNav strong,.pageNav span{ font-size:14px;}
.pageNav a:hover,.pageNav a:active{ border:1px solid #1c8dd5; background:#1c8dd5; color:#fff; text-decoration:none;}
.pageNav .now{ height:32px; border:none; color:#333; font-weight:bold; line-height:34px;}
.pageNav .mor{ border:0; padding:0; height:31px; line-height:31px;}
.pageNav .na{ color:#b3c3d0;}
.pageNav #shuzi span,.pageNav #shuzi a{ margin:0 2px;}

/*汽车极客*/
.ScB2{ position:relative; width:300px; height:337px;}   
.ScB2 .scwr{ position:relative; top:16px; left:0px; overflow: hidden; zoom: 1; width:300px; height:312px; } /*可视宽度width,height需设置正确 */    
.ScB2 .split{ width:300px; height:84px; padding:10px 0;}   
.ScB2 .prev, .ScB2 .next{ position:absolute; cursor:pointer; display:block; width:300px; height:9px; left:0px; background:url(//mat1.gtimg.com/auto/1/1/1/tech_2014/sprite.png); overflow:hidden}  
.ScB2 .prev{ background-position:0px 0px; top:7px;}    
.ScB2 .next{ background-position:0 -10px; bottom:0;}     
.ScB2 .prevMouseClass{ }   /*鼠标划过状态*/  
.ScB2 .nextMouseClass{ }  /*鼠标划过状态*/
.split img{ width:129px; height:84px; float:left; margin-right:10px; _display:inline-block;} 
.scwr_text h3{font:normal 15px/20px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.scwr_text p{ font:normal 12px/20px "\5B8B\4F53"; color:#666; margin-top:6px;}
 
/*观点*/
.view{}
.view ul li{ margin-top:20px;}
.view ul li img{ width:69px; float:left; display:inline-block;}
.view_text{ float:right; width:220px; font:bold 12px/24px "\5B8B\4F53"; }
.view_text h3{font:bold 12px/24px "\5B8B\4F53"; }
.view_text h4{font:normal 16px/28px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.view_text p{font:normal 12px/20px "\5B8B\4F53"; color:#999;}
.view_text h3 a:link,.view_text h3 a:visited{ color:#3399cc}
.view_text h3 a:hover,.view_text h3 a:active{ color:#333}

/*排行榜*/
.aikan .body{ padding-top:5px;}
.aikan .body li{ height:20px; margin-top:10px; font:14px/20px "\5B8B\4F53";}
.aikan .body li span{ display:inline-block; width:18px; height:18px; margin-right:5px; border:1px solid #ddd; font-family:Arial; text-align:center;}
.aikan .body li span.top{ width:20px; height:20px; border:0; background:#e05502; color:#fff;}

/*微信二维码*/
.qrcode{ background:#F5F5F5; border-top:1px solid #E7E7E7; padding:0 15px 20px;}
.qr_tit{ height:42px;}
.qr_tit h4{font:normal 20px/42px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.qr_con img{ width:97px; float:left; margin-right:15px; _display:inline-block}
.qrcode_text{ padding-top:10px;}
.qrcode_text h4{font:normal 12px/42px "\5B8B\4F53";}
.qrcode_text p{font:normal 12px/20px "\5B8B\4F53"; }
.qrcode_text p a:link,.qrcode_text p a:visited{ color:#3399cc}
.qrcode_text p a:hover,.qrcode_text p a:active{ color:#333}

/*专题活动*/
.zthd_tit{ height:42px; border-bottom:4px solid #1C8CD4;}
.zthd_tit h3{font:normal 30px/42px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.zthd_left{ width:500px;}
.zthd_right{ width:480px;}
.zthd_left img{ width:326px; height:212px; float:left; margin-right:15px; _display:inline-block}
.zt_text h4{font:bold 14px/24px "\5B8B\4F53"; margin-top:10px;}
.zt_text p{font:normal 12px/20px "\5B8B\4F53"; color:#666; margin-top:30px;}
.zt_text h4 a:link,.zt_text h4 a:visited{ color:#39c}
.zt_text h4 a:hover,.zt_text h4 a:active{ color:#333}
.zthd_right ul li{ width:230px; float:left; margin-bottom:10px; padding-right:10px; _display:inline-block}
.zthd_right ul li img{ width:96px; float:left; margin-right:10px; _display:inline-block}
.hd_text h4,.hd_text p{font:normal 12px/20px "\5B8B\4F53"; color:#666}
.hd_text h4 a:link,.hd_text h4 a:visited{ color:#39c}
.hd_text h4 a:hover,.hd_text h4 a:active{ color:#333}

/* 公共布局补充
----------------------------------------------- */
.marginT10{ margin-top:10px;}
.marginT20{ margin-top:20px;}
/*  |xGv00|9e8f402c48f7f20fdca5288b95f836fb */