/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#333; font-size:12px; font-family:"\5B8B\4F53","Arial Narrow",Tahoma;}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{ width:1000px; margin:0 auto;}

/* 栏目模板 */
.column1 .title{ height:33px; background:#ededed;}
.column1 .title h3{ float:left; padding:0 10px; background:#1c8dd5; color:#fff; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.column1 .title h3 a:link,.column1 .title h3 a:visited{ color:#fff;}
.column1 .title h3 a:hover,.column1 .title h3 a:active{ color:#fc0;}
.column1 .title span{ float:right; padding:0 10px; color:#929292; line-height:33px;}
.column1 .title span a:link,.column1 .title span a:visited{ color:#929292;}
.column1 .title span a:hover,.column1 .title span a:active{ color:#c00;}

/* header
----------------------------------------------- */
.navSub{ height:41px; background:#fafafa url(//mat1.gtimg.com/auto/1/2014/lineX.png) repeat-x 0 bottom;}
.navSub li{ float:left; height:41px; padding:0 20px; font:18px/40px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.navSub li a:link,.navSub li a:visited{ color:#bababa;}
.navSub li a:hover,.navSub li a:active{ color:#c00; text-decoration:none;}
.navSub li.on{ height:40px; border-bottom:1px solid #1c8dd5;}
.navSub li.on a:link,.navSub li.on a:visited{ color:#333;}
.navSub li.on a:hover,.navSub li.on a:active{ color:#c00;}

/* body
----------------------------------------------- */
.toutiao span,#num li,
.gonggao #xincheDay,
.gonggao .line,
.gonggao li em,
.zhuanti .zhuantiTags li,
.newsList .newTxt h3 em,
.newsList .newFoot .share,
.newsList .newFoot .comment em{ background:url(//mat1.gtimg.com/auto/1/2014/sprite.png) no-repeat;}
.barL680{ float:left; width:680px;}
.barR300{ float:right; width:300px;}
/* 今日头条 */
.toutiao{ height:33px; font:normal 26px/33px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.toutiao span{ display:inline-block; overflow:hidden; width:72px; height:25px; margin-right:15px; padding:0 8px 0 3px; background-position:-156px -132px; color:#fff; font:16px/24px "\5FAE\8F6F\96C5\9ED1"; text-align:center; vertical-align:middle;}
/* 焦点图 */
.focus{ position:relative; overflow:hidden; width:680px; height:359px;}
.focus #focus li{ position:absolute; top:0; left:0; z-index:1; width:680px; height:359px;}
.focus #focus li a{ display:block; width:680px; height:359px;}
.focus #focus li a:link,.focus #focus li a:visited,.focus #focus li a:hover,.focus #focus li a:active{ text-decoration:none;}
.focus #focus li a:link span,.focus #focus li a:visited span,.focus #focus li a:hover span,.focus #focus li a:active span{ color:#fff;}
.focus #focus img{ width:680px; height:359px;}
.focus #focus span{ display:block; position:absolute; left:0; bottom:0; width:655px; height:50px; padding:29px 0 0 25px; background:url(//mat1.gtimg.com/auto/1/2014/focusBg.png) no-repeat; font:18px/50px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
* html .focus #focus span{ filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/1/2014/focusBg.png",sizingMethod="crop"); background-image:none;}
.focus #num{ position:absolute; bottom:16px; right:16px; height:7px; z-index:10;}
.focus #num li{ display:inline; cursor:pointer; overflow:hidden; float:left; width:16px; height:7px; background-position:0 -173px;}
.focus #num li.active{ background-position:0 -193px;}
/* 新车公告牌 */
.gonggao .body{ position:relative; height:353px; border:1px solid #ddd; padding-top:4px;}
.gonggao .line{ position:absolute; left:-1px; top:105px; overflow:hidden; width:1px; height:253px; background-position:right 0;}
.gonggao #xincheDay{ width:290px; height:102px; margin:0 auto 4px; background-position:0 0;}
.gonggao #xincheDay span,.gonggao #xincheDay em{ display:block; float:left; width:145px; text-align:center;}
.gonggao #xincheDay span{ height:87px; margin-top:2px; font:85px/87px Arial;}
.gonggao #xincheDay em{ position:relative; height:14px; bottom:10px; color:#999; font:normal 12px/14px Arial;}
.gonggao ul{ padding-top:10px;}
.gonggao li{ position:relative; height:22px; margin-bottom:10px;}
.gonggao li em{ display:block; position:absolute; left:-4px; top:6px; float:left; width:7px; height:8px; background-position:-26px -173px;}
.gonggao li h4{ float:left; height:22px; margin-left:12px; padding:0 5px; background:#5dbdfa; color:#fff; font:normal 16px/22px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.gonggao li h3{ float:left; margin-left:10px; font:normal 14px/22px "\5B8B\4F53";}
.gonggao li strong{ float:right; margin-right:10px; color:#666; font:normal 14px/22px Arial;}
.gonggao li.green{ height:127px;}
.gonggao li.green em{ background-position:-26px -193px;}
.gonggao li.green h4{ background:#6bb907;}
.gonggao li.green h3{ font-weight:bold;}
.gonggao li.green .tit{ height:22px;}
.gonggao li.green .bod{ height:95px; margin:10px 12px 0 12px;}
.gonggao li.green .bod img{ float:left; width:145px; height:95px;}
.gonggao li.green .bod p{ float:right; width:115px; margin:0; color:#666; line-height:23px;}
.gonggao li.green .bod p a:link,.gonggao li.green .bod p a:visited{ color:#076aa9;}
.gonggao li.green .bod p a:hover,.gonggao li.green .bod p a:active{ color:#076aa9;}
.gonggao li.blue1 h4{ background:#5dbdfa;}
.gonggao li.blue2 h4{ background:#65c0fa;}
.gonggao li.blue3 h4{ background:#6dc3fa;}
.gonggao li.blue4 h4{ background:#75c7fb;}
.gonggao li.blue5 h4{ background:#7dcafb;}
.gonggao li.blue6 h4{ background:#86cefb;}
.gonggao li.blue7 h4{ background:#8dd1fb;}
.gonggao li.blue8 h4{ background:#96d4fc;}
.gonggao li.blue1 em{ filter:Alpha(Opacity=100); -moz-opacity:1.0; opacity:1.0;}
.gonggao li.blue2 em{ filter:Alpha(Opacity=95); -moz-opacity:0.95; opacity:0.95;}
.gonggao li.blue3 em{ filter:Alpha(Opacity=90); -moz-opacity:0.9; opacity:0.9;}
.gonggao li.blue4 em{ filter:Alpha(Opacity=85); -moz-opacity:0.85; opacity:0.85;}
.gonggao li.blue5 em{ filter:Alpha(Opacity=80); -moz-opacity:0.8; opacity:0.8;}
.gonggao li.blue6 em{ filter:Alpha(Opacity=75); -moz-opacity:0.75; opacity:0.75;}
.gonggao li.blue7 em{ filter:Alpha(Opacity=70); -moz-opacity:0.7; opacity:0.7;}
.gonggao li.blue8 em{ filter:Alpha(Opacity=65); -moz-opacity:0.65; opacity:0.65;}
/* 搜索 */
#cp_xczx .search_btn,
.xc_select_btn .down_arr,
.xc_select_btn .up_arr{background:url(//mat1.gtimg.com/auto/1/2014/sprite.png) no-repeat;}
.bor2_box{position:relative; height:32px; border-bottom:2px solid #1c8dd5;}
.bor2_box h3{float:left; height:32px; font:16px/32px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
#cp_xczx{ width:418px; height:31px; _width:428px;}
#cp_xczx label{ float:left; width:58px; font:normal 18px/31px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
#cp_xczx .select_search_box .selects_box{ float:left; width:292px;}
.select_item{position:relative; z-index:100; float:left; width:142px; height:31px; margin-right:4px; background-color:#fff;}
.serial{z-index:99;}
#cp_xczx .search_btn{display:block; float:left; width:68px; height:31px; background-position:0 -132px}
#cp_xczx .search_btn:hover{background-position:-78px -132px}
.xc_select_btn{display:block; position:relative; overflow:hidden; width:130px; height:29px; padding-left:10px; border:1px solid #ccc; font:14px/29px "\5B8B\4F53"; color:#666; white-space:nowrap; text-overflow:ellipsis}
.xc_select_btn:hover{color:#666; text-decoration:none}
.xc_select_btn .down_arr,.xc_select_btn .up_arr{display:block; position:absolute; top:12px; right:8px; overflow:hidden; width:9px; height:5px; background-position:-88px -173px;}
.xc_select_btn .up_arr{background-position:-88px -173px;}
.pp_options_box,.cx_options_box{display:none; position:absolute; top:30px; left:0; z-index:100; width:228px; height:274px; border:1px solid #bbb; background-color:#fff;}
.cx_options_box{width:140px;}
.xc_slide_box{position:absolute; top:0; right:0; height:274px; width:14px; border-left:1px solid #dbdbdb; background-color:#f1f1f1;}
.xc_slide_block{display:block; position:absolute; top:2px; left:2px; overflow:hidden; width:8px; height:30px; background-color:#d9d9d9; border:1px solid #bbb;}
.pp_ops_win,.cx_ops_win{position:absolute; left:0; top:8px; overflow-y:auto; width:213px; height:258px;}
.cx_ops_win{width:125px;}
.pp_ops_item{position:relative; padding:0 0 8px 30px;}
.pp_ops_item span{display:block; position:absolute; top:0; left:0; width:30px; height:26px; _margin-left:-30px; color:#f15d5d; font:12px/26px "Tahoma"; text-align:center;}
.pp_ops_item a{display:inline-block; height:26px; padding-right:12px; font:12px/26px "\5B8B\4F53";}
.pp_ops_item a:hover,.cx_ops_list ul li a:hover{color:#076aa9; text-decoration:none;}
.cx_ops_list ul li{height:26px;}
.cx_ops_list ul li span{display:block; height:26px; padding-left:10px; border-bottom:1px dotted #e2e2e2; color:#ee5e5e; font:12px/26px "\5B8B\4F53";}
.cx_ops_list ul li a{display:block; overflow:hidden; padding-left:20px; font:12px/26px "\5B8B\4F53"; text-overflow:ellipsis; white-space:nowrap;}
/* 新闻列表 */
.newsList{ border-top:3px solid #1c8cd4;}
.newsList .title{ height:37px; border-bottom:1px solid #ededed;}
.newsList .title h2{ float:left; padding-left:10px; font:normal 24px/37px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .title span{ float:right; font:14px/37px "\5B8B\4F53";}
.newsList .title span a{ margin-left:10px;}
.newsList .body li{ padding:15px 0; border-bottom:1px solid #ededed; background:#fff;}
.newsList .body li:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .newsList .body li{ height:1%;}
.newsList .body li.hover{ background:#f3f3f3;}
.newsList .body li img{ display:inline-block; float:left; width:240px; height:165px; margin-right:15px;}
.newsList .newTxt{}
.newsList .newTxt h3{ font:normal 20px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .newTxt h3 em{ display:inline-block; width:28px; height:14px; margin-left:5px; background-position:-249px -132px; vertical-align:middle;}
.newsList .newTxt p{ margin:15px 0; color:#666; line-height:22px;}
.newsList .newFoot{ height:20px;}
.newsList .newFoot h5{ display:inline-block; float:left; margin-right:20px; color:#666; font:normal 12px/20px "\5B8B\4F53";}
.newsList .newFoot h5 a{ margin-right:10px;}
.newsList .newFoot h5 a.blue:link,.newsList .newFoot h5 a.blue:visited{ color:#1c8cd4;}
.newsList .newFoot h5 a.blue:hover,.newsList .newFoot h5 a.blue:active{ color:#c00;}
.newsList .newFoot .share{ display:inline-block; position:relative; cursor:pointer; float:left; width:11px; height:12px; padding:4px; background-position:-39px -169px;}
.newsList .newFoot .share.hover{ background-position:-39px -189px;}
.newsList .newFoot .share.hover .shareList{ display:block;}
.newsList .newFoot .comment{ display:inline-block; cursor:pointer; float:left; height:20px; margin-left:10px;}
.newsList .newFoot .comment a{ cursor:pointer;}
.newsList .newFoot .comment a:link,.newsList .newFoot .comment a:visited,
.newsList .newFoot .comment a:hover,.newsList .newFoot .comment a:active{ text-decoration:none;}
.newsList .newFoot .comment em{ display:inline-block; cursor:pointer; float:left; width:14px; height:13px; padding:3px 5px 3px 3px; background-position:-61px -169px;}
.newsList .newFoot .comment.hover em{ background-position:-61px -189px;}
.newsList .newFoot .comment span{ display:inline-block; float:left; font:12px/19px Arial;}
.shareList{ display:none; position:absolute; right:0px; bottom:-42px; width:180px; height:24px; border:1px solid #ddd; padding:9px 6px; background:#fff;}
.shareList a{ display:inline-block; overflow:hidden; float:left; width:24px; height:24px; margin:0 3px; padding-left:0; background:url(//mat1.gtimg.com/tech/00Jamesdu/2014/index/share.png) no-repeat; text-indent:-999em;}
.shareList .sharewb{ background-position:0 -168px;}
.shareList .shareqzone{ background-position:0 -144px;}
.shareList .sharesina{ background-position:0 -72px;}
.shareList .shareqqemail{ background-position:0 -24px;}
.shareList .sharepengyou{ background-position:0 -192px;}
.shareList .sharerenren{ background-position:0 -48px;}
.shareList .sharekaixin{ background-position:0 0;}
/* 翻页 */
.pageNav{ height:32px; margin:15px; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.pageNav a{ color:#0e58ac; font-size:14px; text-decoration:none;}
.pageNav span a,.pageNav span{ display:inline-block; overflow:hidden; padding:0 13px;}
.pageNav a,.pageNav span span{ height:30px; line-height:32px; border:1px solid #e0e0e0;}
.pageNav a,.pageNav strong,.pageNav span{ font-size:14px;}
.pageNav a:hover,.pageNav a:active{ border:1px solid #1c8dd5; background:#1c8dd5; color:#fff; text-decoration:none;}
.pageNav .now{ height:32px; border:none; color:#333; font-weight:bold; line-height:34px;}
.pageNav .mor{ border:0; padding:0; height:31px; line-height:31px;}
.pageNav .na{ color:#b3c3d0;}
.pageNav #shuzi span,.pageNav #shuzi a{ margin:0 2px;}
/* 热门标签 */
.hotTags .body{ position:relative; height:140px; border:1px solid #ddd; border-top:0;}
.hotTags .body a:link,.hotTags .body a:visited,.hotTags .body a:hover,.hotTags .body a:active{ text-decoration:none;}
.hotTags .body span{ position:absolute; cursor:pointer; font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
/* 猜车大图 */
.caiche .body{ height:230px; padding-top:15px;}
.caiche .body img{ width:300px; height:200px;}
.caiche .body h4{ font:normal 14px/30px "\5FAE\8F6F\96C5\9ED1"; text-align:center;}
/* 互动猜价格 */
.caijia .body{ padding:5px 0;}
.caijia .body li{ width:290px; height:32px; padding-left:10px; background:url(//mat1.gtimg.com/auto/img/ico/point.png) no-repeat 0 14px;}
.caijia .body li a{ float:left; font:14px/32px "\5B8B\4F53";}
.caijia .body li a.btn{ float:right; font:12px/32px "\5B8B\4F53";}
.caijia .body li a.btn:link,.caijia .body li a.btn:visited{ color:#999;}
.caijia .body li a.btn:hover,.caijia .body li a.btn:active{ color:#c00;}
/* 新车专题 */
.zhuanti .body{ position:relative; overflow:hidden; width:298px; height:210px; margin-top:15px; border:1px solid #ddd;}
.zhuanti .zhuantiPics li{ position:absolute; top:4px; left:4px; z-index:1; width:290px; height:160px;}
.zhuanti .zhuantiPics li a{ display:block; height:202px; background:#fff;}
.zhuanti .zhuantiPics img{ width:290px; height:160px;}
.zhuanti .zhuantiPics span{display:block; height:40px; margin-top:2px; padding-left:13px; font:14px/40px "\5FAE\8F6F\96C5\9ED1";}
.zhuanti .zhuantiTags{ position:absolute; bottom:16px; right:16px; z-index:10;}
.zhuanti .zhuantiTags li{ display:inline; cursor:pointer; overflow:hidden; float:left; width:16px; height:7px; background-position:0 -173px;}
.zhuanti .zhuantiTags li.active{ background-position:0 -193px;}
/*大家爱看*/
.aikan .body{ padding-top:5px;}
.aikan .body li{ height:20px; margin-top:10px; font:14px/20px "\5B8B\4F53";}
.aikan .body li span{ display:inline-block; width:18px; height:18px; margin-right:5px; border:1px solid #ddd; font-family:Arial; text-align:center;}
.aikan .body li span.top{ width:20px; height:20px; border:0; background:#e05502; color:#fff;}

/* footer
----------------------------------------------- */

/* 公共布局补充
----------------------------------------------- */
.marginT20{ margin-top:20px;}/*  |xGv00|22e230ebc2938cbbb275a7e8f15b30e9 */