/* 公共布局
----------------------------------------------- */
body,div,dl,dt,dd,table,tr,th,td,form{ margin:0; padding:0; color:#333; font-size:12px; font-family:"\5B8B\4F53","Arial Narrow",Tahoma;}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}

.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
.wrapper{ width:1000px; margin:0 auto;}

/* 栏目模板 */
.column1 .title{ height:33px; background:#ededed;}
.column1 .title h3{ float:left; padding:0 10px; background:#1c8dd5; color:#fff; font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.column1 .title span{ float:right; padding:0 10px; color:#929292; line-height:33px;}
.column1 .title span a:link,.column1 .title span a:visited{ color:#929292;}
.column1 .title span a:hover,.column1 .title span a:active{ color:#c00;}

.fl{ float:left; _display:inline}
.fr{ float:right;_display:inline}

.headline span,#num li,.zhuanti .zhuantiTags li,.newsList .newTxt h3 em,.newsList .newFoot .share,.newsList .newFoot .comment em,.scwr_img .dujia{ background:url(//mat1.gtimg.com/auto/1/1/1/tech_2014/sprite.png) no-repeat;}
.barL680{ float:left; width:680px;}
.barR300{ float:right; width:300px;}

/* header
----------------------------------------------- */
.navSub{ height:41px; background:#fafafa url(//mat1.gtimg.com/auto/1/1/1/tech_2014/lineX.png) repeat-x 0 bottom;}
.navSub li{ float:left; height:41px; padding:0 20px; font:18px/40px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
.navSub li a:link,.navSub li a:visited{ color:#bababa;}
.navSub li a:hover,.navSub li a:active{ color:#c00; text-decoration:none;}
.navSub li.on{ height:40px; border-bottom:1px solid #1c8dd5;}
.navSub li.on a:link,.navSub li.on a:visited{ color:#333;}
.navSub li.on a:hover,.navSub li.on a:active{ color:#c00;}
.navSub li#last{ font:normal 12px/41px "\5B8B\4F53"; border:0;}
.navSub li#last a:link,.navSub li#last a:visited{ color:#3399cc}
.navSub li#last a:hover,.navSub li#last a:active{ color:#333}

/*首屏*/
.firstP{ background:#F7F7F7}
.firstP_img{ width:308px;}
.first_text{ width:350px;}
.first_text h3{ font:normal 22px/34px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53"; margin-top:10px;}
.first_text p{ font:normal 12px/24px "\5B8B\4F53"; color:#818181; padding:10px 10px 15px 0; border-bottom:1px dashed #E0E0E0}
.first_text ul{ margin-top:15px;}
.first_text ul li{font:normal 14px/26px "\5B8B\4F53";}

/*备用焦点图*/
.focus{ position:relative; overflow:hidden; width:308px; height:221px;}
.focus #focus li{ position:absolute; top:0; left:0; z-index:1; width:308px; height:221px;}
.focus #focus li a{ display:block; width:308px; height:221px;}
.focus #focus li a:link span,.focus #focus li a:visited span,.focus #focus li a:hover span,.focus #focus li a:active span{ color:#fff; text-decoration:none;}
.focus #focus img{ width:308px; height:221px;}
.focus #focus span{ display:block; position:absolute; left:0; bottom:0; width:298px; height:50px; padding:29px 0 0 10px; background:url(//mat1.gtimg.com/auto/1/1/1/tech_2014/focusBg.png) no-repeat; font:18px/50px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}
* html .focus #focus span{ filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mat1.gtimg.com/auto/1/1/1/tech_2014/focusBg.png",sizingMethod="crop"); background-image:none;}
.focus #num{ position:absolute; bottom:16px; right:16px; height:7px; z-index:10;}
.focus #num li{ display:inline; cursor:pointer; overflow:hidden; float:left; width:16px; height:7px; background-position:0 -173px;}
.focus #num li.active{ background-position:0 -193px;}

/* 新闻列表 */
.newsList{ }
.newsList .title{ height:37px; border-bottom:1px solid #ededed;}
.newsList .title h2{ float:left; padding-left:10px; font:normal 24px/37px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .title span{ float:right; font:14px/37px "\5B8B\4F53";}
.newsList .title span a{ margin-left:10px;}
.newsList .body li{ padding:15px 0; border-bottom:1px solid #ededed; background:#fff;}
.newsList .body li:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .newsList .body li{ height:1%;}
.newsList .body li.hover{ background:#f3f3f3;}
.newsList .body li img{ display:inline-block; float:left; width:240px; height:165px; margin-right:15px;}
.newsList .newTxt{}
.newsList .newTxt h3{ font:normal 20px/30px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.newsList .newTxt h3 em{ display:inline-block; width:28px; height:14px; margin-left:5px; background-position:-249px -132px; vertical-align:middle;}
.newsList .newTxt p{ margin:15px 0; color:#666; line-height:22px;}
.newsList .newFoot{ height:20px;}
.newsList .newFoot h5{ display:inline-block; float:left; margin-right:20px; color:#666; font:normal 12px/20px "\5B8B\4F53";}
.newsList .newFoot h5 a{ margin-right:10px;}
.newsList .newFoot h5 a.blue:link,.newsList .newFoot h5 a.blue:visited{ color:#1c8cd4;}
.newsList .newFoot h5 a.blue:hover,.newsList .newFoot h5 a.blue:active{ color:#c00;}
.newsList .newFoot .share{ display:inline-block; position:relative; cursor:pointer; float:left; width:11px; height:12px; padding:4px; background-position:-39px -169px;}
.newsList .newFoot .share.hover{ background-position:-39px -189px;}
.newsList .newFoot .share.hover .shareList{ display:block;}
.newsList .newFoot .comment{ display:inline-block; cursor:pointer; float:left; height:20px; margin-left:10px;}
.newsList .newFoot .comment a{ cursor:pointer;}
.newsList .newFoot .comment a:link,.newsList .newFoot .comment a:visited,
.newsList .newFoot .comment a:hover,.newsList .newFoot .comment a:active{ text-decoration:none;}
.newsList .newFoot .comment em{ display:inline-block; cursor:pointer; float:left; width:14px; height:13px; padding:3px 5px 3px 3px; background-position:-61px -169px;}
.newsList .newFoot .comment.hover em{ background-position:-61px -189px;}
.newsList .newFoot .comment span{ display:inline-block; float:left; font:12px/19px Arial;}
.shareList{ display:none; position:absolute; right:0px; bottom:-42px; width:180px; height:24px; border:1px solid #ddd; padding:9px 6px; background:#fff;}
.shareList a{ display:inline-block; overflow:hidden; float:left; width:24px; height:24px; margin:0 3px; padding-left:0; background:url(//mat1.gtimg.com/tech/00Jamesdu/2014/index/share.png) no-repeat; text-indent:-999em;}
.shareList .sharewb{ background-position:0 -168px;}
.shareList .shareqzone{ background-position:0 -144px;}
.shareList .sharesina{ background-position:0 -72px;}
.shareList .shareqqemail{ background-position:0 -24px;}
.shareList .sharepengyou{ background-position:0 -192px;}
.shareList .sharerenren{ background-position:0 -48px;}
.shareList .sharekaixin{ background-position:0 0;}
/* 翻页 */
.pageNav{ height:32px; margin:15px; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.pageNav a{ color:#0e58ac; font-size:14px; text-decoration:none;}
.pageNav span a,.pageNav span{ display:inline-block; overflow:hidden; padding:0 13px;}
.pageNav a,.pageNav span span{ height:30px; line-height:32px; border:1px solid #e0e0e0;}
.pageNav a,.pageNav strong,.pageNav span{ font-size:14px;}
.pageNav a:hover,.pageNav a:active{ border:1px solid #1c8dd5; background:#1c8dd5; color:#fff; text-decoration:none;}
.pageNav .now{ height:32px; border:none; color:#333; font-weight:bold; line-height:34px;}
.pageNav .mor{ border:0; padding:0; height:31px; line-height:31px;}
.pageNav .na{ color:#b3c3d0;}
.pageNav #shuzi span,.pageNav #shuzi a{ margin:0 2px;}

/*公告*/
.notice{ padding:10px; border:1px solid #ddd;}
.notice_tit{ height:34px; background:url(//mat1.gtimg.com/auto/01/1yongche/tit_bg.png) center left repeat-x;}
.notice_tit h4{ width:60px; background:#fff; text-align:center;  font:normal 18px/34px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.notice_con{ padding:3px 0; }
.notice_con h3{ color:#1c8dd5; font:bold 14px/32px "\5B8B\4F53";}
.notice_con h3 a:link,.notice_con h3 a:visited{ color:#1c8dd5}
.notice_con h3 a:hover,.notice_con h3 a:active{ color:#d90606}

/*指南*/
.info ul{ width:303px;}
.info ul li{ width:99px; height:37px; float:left; margin-right:2px; margin-top:2px; _display:inline; background:#F1F1F1; text-align:center; font:normal 14px/37px "\5B8B\4F53";}
.info ul li.hover{ background:#2B94D8; color:#fff; font-weight:bold;}
.info ul li.hover a{ display:block; width:99px; height:37px;}
.info ul li.hover a:link,.info ul li.hover a:visited{ color:#fff;}
.info ul li.hover a:hover,.info ul li.hover a:active{ font-weight:bold; color:#fff; text-decoration:none;}

/*保养*/
.ScB2{ position:relative; width:300px; height:337px;}   
.ScB2 .scwr{ position:relative; top:10px; left:0px; overflow: hidden; zoom: 1; width:300px; height:312px; } /*可视宽度width,height需设置正确 */    
.ScB2 .split{ width:300px; height:84px; padding:10px 0;}   
.ScB2 .prev, .ScB2 .next{ position:absolute; cursor:pointer; display:block; width:300px; height:9px; left:0px; background:url(//mat1.gtimg.com/auto/1/1/1/tech_2014/sprite.png); overflow:hidden}  
.ScB2 .prev{ background-position:0px 0px; top:7px;}    
.ScB2 .next{ background-position:0 -10px; bottom:0;}     
.ScB2 .prevMouseClass{ }   /*鼠标划过状态*/  
.ScB2 .nextMouseClass{ }  /*鼠标划过状态*/
.scwr_img{ width:129px; height:84px; float:left; margin-right:10px; _display:inline-block; position:relative;} 
.scwr_img img{ position:absolute; top:0; left:0}
.scwr_img .dujia{ position:absolute; bottom:0; right:0; width:28px; height:14px; background-position:-249px -132px;}
.scwr_text h3{font:normal 16px/20px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.scwr_text p{ font:normal 12px/20px "\5B8B\4F53"; color:#666; margin-top:6px;}

/*投诉*/
.title span.more a:hover{ background:#1C8CD4; line-height:33px;}
.title span.more a:link,.title span.more a:visited{ color:#1C8CD4}
.title span.more a:hover,.title span.more a:active{ color:#fff}

/* 用品 */
.zhuanti .body{ position:relative; overflow:hidden; width:298px; height:210px; margin-top:15px; border:1px solid #ddd;}
.zhuanti .zhuantiPics li{ position:absolute; top:4px; left:4px; z-index:1; width:290px; height:160px;}
.zhuanti .zhuantiPics li a{ display:block; height:202px; background:#fff;}
.zhuanti .zhuantiPics img{ width:290px; height:160px;}
.zhuanti .zhuantiPics span{display:block; height:40px; margin-top:2px; padding-left:13px; font:14px/40px "\5FAE\8F6F\96C5\9ED1";}
.zhuanti .zhuantiTags{ position:absolute; bottom:16px; right:16px; z-index:10;}
.zhuanti .zhuantiTags li{ display:inline; cursor:pointer; overflow:hidden; float:left; width:16px; height:7px; background-position:0 -173px;}
.zhuanti .zhuantiTags li.active{ background-position:0 -193px;}

/*用车工具*/
.tool_more .body{ height:140px; border:1px solid #ddd; padding:8px 0 15px;}
.tool_more .body li{ width:65px; height:63px; float:left; margin:7px 0 0 7px; _display:inline}
.tool_more li div{ width:65px; height:63px; background:url(//mat1.gtimg.com/auto/01/1yongche/tool.png) no-repeat; text-align:center;}
.tool_more li div a{ display:block; width:65px; height:23px; padding-top:40px;}
.tool_more li div a:link,.tool_more li div a:visited{ color:#666;}
.tool_more li div a:hover,.tool_more li div a:active{ color:#000; text-decoration:none;}
.tool_more li .one{ background-position:0 0;}
.tool_more li .two{background-position:-72px 0;}
.tool_more li .three{background-position:-143px  0;}
.tool_more li .four{background-position:-215px  0;}
.tool_more li .five{background-position:0 -65px ;}
.tool_more li .six{background-position:-72px -65px ;}
.tool_more li .seven{background-position:-143px -65px;}
.tool_more li .eight{background-position:-215px -65px;}

.tool_more li.hover .one{ background-position:0 -130px;}
.tool_more li.hover .two{background-position:-72px -130px;}
.tool_more li.hover .three{background-position:-143px  -130px;}
.tool_more li.hover .four{background-position:-215px -130px;}
.tool_more li.hover .five{background-position:0 -195px;}
.tool_more li.hover .six{background-position:-72px -195px ;}
.tool_more li.hover .seven{background-position:-143px -195px;}
.tool_more li.hover .eight{background-position:-215px -195px;}

/*分类导航*/
.fldh_tit{ height:42px; border-bottom:4px solid #1C8CD4;}
.fldh_tit h4{font:normal 28px/42px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}

.block{ width:340px;}
.block dt{font:bold 14px/36px "\5B8B\4F53";}
.block dd{ padding:0 12px; float:left; font:normal 14px/24px "\5B8B\4F53"; display:inline-block}

.block_bg{ width:258px; padding:10px 20px 20px; border:1px solid #E7E7E7; background:#f5f5f5;}
.block_bg h4{font:normal 18px/32px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";}
.block_bg p{ font:normal 12px/24px "\5B8B\4F53";}
.contacts img{ width:97px; float:left; margin-right:15px; _display:inline}
.con_text{}
.con_text h5{ font:normal 12px/24px "\5B8B\4F53"; padding-top:20px}
.con_text p{ font:normal 12px/14px "\5B8B\4F53"; padding-top:10px;}
.con_text p em{font:normal 12px/14px "\5B8B\4F53"; color:#1c8cd4;}

/* 公共布局补充
----------------------------------------------- */
.marginT10{ margin-top:10px;}
.marginT20{ margin-top:20px;}
/*  |xGv00|744b108d892d10deb2069f345447601c */