body,div,dl,dt,dd,table,tr,th,td,form,p{ margin:0; padding:0; color:#333; font-size:12px; font-family:"\5B8B\4F53","Arial Narrow",Tahoma;}
ul,ol,li,dl,dt,dd{ list-style-type:none; margin:0; padding:0;}
li{ vertical-align:bottom;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}
strong{ font-weight:bold;}
img{ vertical-align:bottom; border:0;}
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#d90606; text-decoration:underline;}
.cls{ clear:both; height:0; font:0/0 Arial;}
.clearfix:after{ display:block; clear:both; visibility:hidden; content:"."; height:0;}
* html .clearfix{ height:1%;}
/*body{ background:#eee url(http://img1.gtimg.com/auto/pics/hv1/253/42/1561/101514988.jpg) no-repeat center 29px;}*/
body{ background:#eee url(http://img1.gtimg.com/auto/pics/hv1/97/182/1901/123659032.jpg) no-repeat center 29px;}
.wrapper{ width:1000px; margin:0 auto;}

.banner{ height:100px; position:relative;}
.banner div.self{ width:310px; height:100px; position:absolute; top:0; left:0;}
.banner div.self a{ display:block; width:310px; height:100px; background:url(http://img1.gtimg.com/auto/pics/hv1/65/45/763/49625615.gif);}
.banner div.back{ position:absolute; top:60px; right:10px; width:161px; height:29px; background:url(http://img1.gtimg.com/auto/pics/hv1/118/3/1565/101765008.png) no-repeat;  _background:url(//mat1.gtimg.com/auto/01/1/1/1/04010_03.gif) no-repeat; text-align:center;  font:normal 16px/27px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";}

/*新闻列表*/
.newsList{ overflow:hidden; width:1000px;}
.newsList ul li{ _display:inline; float:left; overflow:hidden; width:320px; height:250px; margin:10px 0 0 10px; font:15px/30px "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";text-align:center;}
.newsList ul li a img{ width:320px; height:219px;}
/* 翻页 */
.pageNav{ height:32px; margin:15px; font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.pageNav a{ color:#0e58ac; font-size:14px; text-decoration:none;}
.pageNav span a,.pageNav span{ display:inline-block; overflow:hidden; padding:0 13px;}
.pageNav a,.pageNav span span{ height:30px; line-height:32px; border:1px solid #e0e0e0;}
.pageNav a,.pageNav strong,.pageNav span{ font-size:14px;}
.pageNav a:hover,.pageNav a:active{ border:1px solid #1c8dd5; background:#1c8dd5; color:#fff; text-decoration:none;}
.pageNav .now{ height:32px; border:none; color:#333; font-weight:bold; line-height:34px;}
.pageNav .mor{ border:0; padding:0; height:31px; line-height:31px;}
.pageNav .na{ color:#b3c3d0;}
.pageNav #shuzi span,.pageNav #shuzi a{ margin:0 2px;}
/*  |xGv00|567a534739aeac61dd1559c95021b7f4 */