body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif; color:#43413A;text-align:left}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none; list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{ text-align:left; font-weight:400}
img,fieldset{border:0;vertical-align:middle}
a{color:#43413A;text-decoration:none;outline:none}
a:hover{color:#c00;text-decoration:none}
.spanclass,.contentdiv,.hide{display:none}
.show{display:block}

.ma{ margin:0 auto; display: block;}
.clx:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.clx{*zoom:1}
.clear{font-size:0; line-height:0; height:0; overflow:hidden; clear:both; visibility:hidden}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb30{margin-bottom:30px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.pt30{padding-top:30px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.f14{ font-size:14px} 
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;} 
.fl{float:left}
.fr{float:right}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.tc{text-align: center;}
.imgB img{border:1px solid #E2E2E2; padding:2px; background:#fff}
body{background: #f2f2f3;}
h1.tit span {text-align:-10000em; display:block; width:0px; overflow:hidden; height:0; font-size:0;}
h2.tit span {text-align:-10000em; display:block; width:0px; overflow:hidden; height:0; font-size:0;}
h3.tit span {text-align:-10000em; display:block; width:0px; overflow:hidden; height:0; font-size:0;}
.yahei {font-family:"Microsoft YaHei"; font-size: 16px; font-weight: normal;}

.wrapk {background: none repeat scroll 0 0 #FFFFFF; margin: 0 auto;padding: 0 20px 10px;width: 960px;}
.colA{width:635px; float:left; }
.colB{width:295px; float:right}

.bTitle{height:50px; border-bottom: 1px solid #bfbfbf;}
.bTitle span{line-height:50px; font-size:24px; float:left; font-family:"Microsoft Yahei"; display:block}
.bTitle span em {color: #f70e6a;}

.ttnav {height:40px;line-height:40px;background: #f70e6a; color:#ff79ae;}
.ttnav a{color:#fff; font-family:"Microsoft Yahei"; font-size:16px; padding:0 30px;}
.ttnav a:link,.ttnav a:visited {text-decoration:none;color:#fff;}
.ttnav a:hover {text-decoration:none;color:#ffc2da;}
.ttnav a:active {text-decoration:none;color:#ffc2da;}
.topnav {height:50px; width:100%; background: #fff;}

.center{width:960px; margin:0 auto;}
.top{height:100px; }

.Ylogo {margin:15px 0 0 30px;}
.zjt{width:262px; margin:0 30px 0 0}
.zjt em{margin-top:40px; display:block; width:22px; height:22px; cursor:pointer}
.zjt .prev{float:left; background:url(//mat1.gtimg.com/gd/images/pansz/fashion_ylns2013/prev.png); margin-right:10px}
.zjt .next{float:right;background:url(//mat1.gtimg.com/gd/images/pansz/fashion_ylns2013/next.png);}
.zjt .jCarouselLite{overflow:hidden; float:left;}
.zjt li{width:180px; margin:0 14px; text-align:center; float:left; line-height:20px}
.zjt li img{display:block; }

.baoming{background:#f9f9f9 url(//mat1.gtimg.com/gd/images/pansz/fashion_ylns2013/baobg.jpg) 0 20px no-repeat; padding:30px 0;}
.tiaojian{width:206px; float:left; padding:105px 35px 0 110px; margin-right:30px; line-height:22px; font-size:12px;  color:#898989; border-right:1px solid #dadada;}

.baoming h2 {font-family:"Microsoft Yahei"; font-size:20px; color:#4c4c4c; font-weight:normal; padding-bottom:10px;}
.bm{width:550px; float:left; padding-top:5px; font-size:14px}
.bm td{vertical-align:middle}
.bm h1{font-family:"Microsoft Yahei"; font-size:36px; color:#969696; font-weight:normal; padding-bottom:30px; text-indent:30px;}
.bm h1 span {color:#f70e6a;}

.tdname{width:130px; padding-right:8px; text-align:right; font-weight:bold}
.inptxt{width:262px; height:28px; line-height:28px; padding:0 5px; background:url(//mat1.gtimg.com/gd/images/zt2012/tiyanshibm/inptxt.png) repeat-x; border:1px solid #E4E4E2}
.txtarea{width:380px}
.smt{width:238px; height:60px; border:none; background:url(//mat1.gtimg.com/gd/images/pansz/fashion_ylns2013/submit.png); cursor:pointer}

/*汇总页*/
.bigPic2{}
.bigPic2 img{width:130px; height:130px; padding:3px; background: #fff; border:1px solid #E2E2E2;}
.tryTit {font-family:"Microsoft Yahei"; font-size:20px; color:#202020; font-weight: normal;}
.tryInfo2{width:265px; padding:10px 20px 0 20px;   }

.colA .tryInfo2 {width:330px;}
.tryInfo2 p{line-height:28px; color:#7a7a7a; font-size:14px;}
.tryInfo2 .time{width:220px; float:left;}
.tryInfo2 .share{float:right}
.tryBtn{width:120px; text-align:center;}
.tryBtn .btn{margin-top: 10px;}
.tryBtn .btn a{}
.tryBtn .abs{line-height:28px; font-size:16px; font-family:"Microsoft Yahei"; padding-top: 10px;}
.tryBtn .abs span {font-size: 26px;}

/* ulPic */
.ulPic li{float:left}
.ulPic li img{display:block; margin-bottom:8px}
.ulPic li i{display:block; text-align:center;}
.ulPic3 {}
.ulPic3 li{width:50px; margin:0 16px 0 0;}
.ulPic3 li i{height:14px; line-height:14px; overflow:hidden}

.footerlist {overflow: hidden;}
.footerlist .prds {width:440px; float:left; margin-right: 70px;}
.footerlist  .bigPic2 {}
.footerlist .bigPic2 img{width: 92px; height: 92px;}
.footerlist .tryInfo2 {padding: 5px 10px 0 10px;}
.footerlist .tryInfo2{width: 215px;}
.footerlist .tryTit {font-size: 16px;}
.footerlist .tryInfo2 p {font-size: 12px; line-height: 22px;}
.footerlist .tryBtn .abs {font-size: 14px;padding-top: 0;}
.footerlist .tryBtn .btn img{width: 90px;}
.footerlist .tryBtn {width: 100px; }

.ulTxt li {background:url(//mat1.gtimg.com/gd/images/pansz/fashion_ylns2013/dot.png) no-repeat 0 5px; text-indent: 20px;}
.footerbg {width:960px; height:134px; background:url(//mat1.gtimg.com/gd/images/pansz/fashion_ylns2013/footerbg.jpg) no-repeat;}
.footerbg ul {margin-top: 10px;}
.footerbg ul li {width:330px; float: left; display: inline; margin: 0 40px 0 10px;}

.rcolbg {background:url(//mat1.gtimg.com/gd/images/pansz/fashion_ylns2013/rcolbg.jpg) no-repeat 0 8px; 
	text-shadow: 5px 5px 2px #888, 0 0 0 #000;}
.rcolbg b,.rcolbg p {text-shadow:none;}


/*首页*/
.syInfo {}
.syInfo b {display: block;}
.syInfo b,.syInfo b a{color: #f70e6a;}
.syInfo b a:hover{color: #242424;}
.syInfo p {font-size: 12px;}

.ulGirlsPic i {
display: block;
}
.beauty .bd{width:700px;overflow:hidden;}
.beauty .ulPic{width:720px;margin:0 0 0 0;}
.beauty .ulPic li{width:201px;margin:0 12px 0 0;float:left;position:relative;}
.beauty .ulPic img{width:201px;height:201px;}
.beauty .ulPic .desc{padding:5px 0 0 5px;}
.beauty  .iComment{height:28px; padding-top:10px; line-height:14px;}
.beauty .iComment span{display:block; float:left; width:88px; text-align:right; margin-right:12px}
.beauty .iComment a{display:block; float:left; padding-left:12px; height:14px;}
.beauty .aFav{margin-right:15px; background:url(//mat1.gtimg.com/gd/images/fashion/bg0427.png) no-repeat -944px -598px } 
.beauty .aCom{margin-right:15px; background:url(//mat1.gtimg.com/gd/images/fashion/bg0427.png) no-repeat -944px -628px }

.xsteam li{margin-bottom: 15px;}
.xsteam img{width:121px;height:121px;}
.xsteam .desc{font-weight: normal; color: #7a7a7a; padding-left: 10px;} 
.xscol p{font-size: 12px; line-height: 24px;}
.xscol .tryInfo2 {padding:10px 10px;}

.wbz{height:288px; padding:0 10px 0; background:#fff; margin-bottom:15px}
.wbz li{height:75px;}
.wbz li img{float:left; display:block;}
.wbz li p{width:210px; float:right; height:60px; overflow:hidden; line-height:20px; color:#7c7c7c}
.wbz li p b{display:block; color:#444}
.ulPicR li{display:inline; margin:0 7px;}
.Bact li{margin-bottom:20px;}
.Bact li p{margin-top:10px;}

.ulPicB{width:1000px; }
.ulPicB li i{display:block; text-align:center; font-weight:bold; line-height:24px;}
.ulPicB li{display:inline; margin-right:23px; width:86px; height:112px; float:left}
.ulPicB  img {border: 1px solid #E2E2E2;padding: 2px;background: #fff;}

.wbdk dt { float:left; width:520px; height:520px; background:#151617 url(//mat1.gtimg.com/cd/201108/yimu/visual/zj_l_t_18.jpg) no-repeat left top; padding:0px 80px 0px 80px;}
.wb_hot { width:520px; height:440px; }
.wbdk dd { float:right; width:290px; height:462px; overflow:hidden; background:#151617 url(//mat1.gtimg.com/cd/201108/yimu/visual/zj_l_t_18.jpg) no-repeat left top; margin-right:10px; display:inline; padding-top:58px;  }
.wbdk_pic { text-align:center; }
.wbdk_pic a { background:#f1f1f1; width:94px; height:94px; display:block; padding:4px; margin:0 auto; border:solid 1px #a6a6a6; }
.wbdk_pic a img { border: solid 1px #a7a7a7; }
.wbdk_listenk { padding:20px 0px 30px 0px; }
.wbdk_listen { width:56px; height:20px; display:block; margin:0 auto; background:#2f818e; text-align:center; line-height:20px; color:#fff; }
.wbdk_listen a,.wbdk_listen span {color:#fff;}
.wbdk_listen:hover { color:#fff !important; text-decoration:none;filter:alpha(opacity=70);opacity:0.7;//-moz-opacity:0.7; }
.wbdk_wz {color:#7c7c7c; line-height:30px; }
.addabs {width:150px;}
.weibo {width:790px;}

/*正文*/

.dyindex h1{}
#C-Main-Article-QQ {padding: 0 20px;}
#C-Main-Article-QQ h1 {
padding-bottom: 16px;
font-family: '微软雅黑';
font-size: 26px;
}
#Cnt-Main-Article-QQ p {
margin-bottom: 29px;
font-size: 14px;
line-height: 28px;
}
.redline {width:100%;height:1px; margin: 10px auto; background: #f70e6a; }

.ssnav {color: #dcdddd;}
.ssnav a{padding:0 30px;}/*  |xGv00|85e84dedfafb4d6a8f3a55c0bfe746d9 */