body,
dd,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
ol,
p,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  position: relative;
  min-width: 1000px;
  font-family: "Microsoft YaHei", Arial;
  font-size: 12px;
  line-height: 22px;
  background-color: #ffffff;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
  color: #333333;
}
li {
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  background: 0 0;
}
p {
  word-wrap: break-word;
}
i,
em {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ab {
  position: absolute;
}
.show {
  display: block;
}
.clx:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}
.clear {
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.bianji {
  width: 100%;
  height: 50px;
  background: #242424;
}
.bianjimain {
  width: 960px;
  margin: 0 auto;
}
.bianjimain p {
  font-size: 14px;
  color: #ededed;
  line-height: 50px;
  text-align: center;
}
.center {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.banner {
  height: 547px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/banner.jpg) no-repeat center top;
}
.p1 {
  height: 545px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/p1.jpg) no-repeat center top;
}
.p1 .nav {
  height: 74px;
  border-top: 1px solid #28030A;
  border-bottom: 1px solid #28030A;
}
.p1 .nav a {
  width: 158px;
  display: block;
  color: #28030A;
  font-size: 16px;
  text-align: center;
  float: left;
  height: 74px;
  line-height: 74px;
}
.p1 .nav i {
  width: 10px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  font-size: 34px;
  color: #28030A;
  display: block;
  float: left;
  font-style: normal;
  font-family: '宋体';
}
.p1 .headline {
  height: 164px;
}
.p1 .hdtext {
  width: 625px;
  padding-left: 115px;
  padding-top: 35px;
  float: left;
}
.p1 .hdtext .bigtitle {
  font-size: 30px;
  line-height: 1.5em;
}
.p1 .hdtext p {
  font-size: 14px;
  line-height: 2;
  color: #9a9a9a;
}
.p1 .hdbox {
  width: 220px;
  height: 130px;
  border: 1px solid #982121;
  margin-top: 17px;
  margin-right: 15px;
  float: right;
}
.p1 .hdbox p {
  padding: 5px 10px 0;
  color: #c52121;
  line-height: 24px;
}
.swiper-slide {
  float: left;
}
.focus_photo {
  width: 500px;
  height: 270px;
  position: relative;
  overflow: hidden;
  background: #000;
}
.focus_photo .f_pic_text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  text-indent: 1em;
}
.focus_photo img {
  width: 500px;
  height: 270px;
}
.focus_photo .f_pic_wrap {
  width: 100%;
  height: 270px;
  position: relative;
  display: block;
}
.focus_photo .pagination {
  position: absolute;
  right: 20px;
  bottom: 10px;
  text-align: center;
  z-index: 10;
}
.focus_photo .swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #fff;
  text-align: center;
  line-height: 8px;
  cursor: pointer;
  color: #ffffff;
}
.focus_photo .swiper-active-switch {
  background: #C52121;
}
.left {
  float: left;
}
.right {
  float: right;
}
.newsbox {
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 5px;
  height: 90px;
}
.newsbox strong {
  display: block;
  font-size: 18px;
  line-height: 1.8;
}
.newsbox p {
  line-height: 1.8;
  color: #9a9a9a;
  font-size: 14px;
  padding-bottom: 15px;
}
.newsbox p a {
  color: #c52120;
}
.morenews {
  display: block;
  height: 14px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/morenews.png) no-repeat center center;
  margin-top: 20px;
}
.p2 {
  height: 925px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/p2.jpg) no-repeat center top;
}
.p2 .center {
  position: relative;
}
.map {
  position: relative;
}
.map .city {
  width: 72px;
  height: 87px;
  padding-top: 8px;
  text-align: center;
  color: #fff;
  display: block;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/city.png) no-repeat;
  position: absolute;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}
.map .city i {
  display: block;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #c97056;
  margin-bottom: 3px;
}
.map .city:hover {
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/cityh.png) no-repeat;
  text-decoration: none;
}
.map .gz {
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/cityh.png) no-repeat;
  text-decoration: none;
}
.map .barca {
  line-height: 16px;
  padding-top: 8px;
  height: 39px;
}
.p3 {
  height: 450px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/p3.jpg) no-repeat center top;
}
.p3 .center {
  padding-top: 106px;
}
.p3 .oldstory li {
  width: 230px;
  height: 225px;
  margin-right: 20px;
  float: left;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/oldstory2.png) no-repeat center bottom;
}
.p3 .oldstory img {
  width: 144px;
  display: block;
  margin: 0 auto 25px;
}
.p3 .oldstory p {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
}
.p4 {
  height: 710px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/p4.jpg) no-repeat center top;
}
.p4 .center {
  padding-top: 125px;
}
.p5 {
  height: 700px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/p5.jpg) no-repeat center top;
}
.p5 .center {
  padding-top: 125px;
}
.list li {
  height: 160px;
  margin-bottom: 30px;
}
.list .text {
  width: 298px;
  height: 158px;
  background: #fff;
  border: 1px solid #28030A;
  float: left;
  line-height: 22px;
}
.list .text span {
  display: block;
  font-size: 18px;
  padding: 15px 30px 0;
}
.list .text p {
  font-size: 14px;
  padding: 0 30px;
  text-indent: 2em;
}
.list img {
  display: block;
  float: left;
}
.p6 {
  height: 502px;
  background: url(//mat1.gtimg.com/gd/2017/dingxiang/p6.jpg) no-repeat center top;
}
.p6 .center {
  padding-top: 120px;
}
/*  |xGv00|8861c44871908a145e84a0094447ea49 */