body,td,th,h1,h2,h3,h4,h5,h6 {font-size:12px;font-family:Arial,SimSun,sans-serif;}
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,p {margin:0;}
ul,ol {padding:0;list-style-type: none;}
a,a:link,a:hover {text-decoration: none;}
a img {border:0;}
input,textarea,a,button {outline:none;}
input::-moz-focus-inner {border:0;}
body {background-color:#f2f2f2;}
input,textarea,button {border:0 none;background:#fff;}

/* Clear Fix */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.cfff {color:#fff;}
.wc960 {width:960px;margin:0 auto;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.bsd1db {border:1px solid #dbdbdb;}
.bg1 {border-bottom:1px groove #444;}

.cdd5f4b {color:#dd5f4b;}
.cff5b40 {color:#ff5b40;}

.top_bar {background-color:#3c3c3c;}
.menu li {line-height:33px;height:33px;margin-left:10px;float:left;}
.menu li a {color:#d4d4d4;}

.top_banner {background:url('//mat1.gtimg.com/cq/cody/2013/qm/qm_04.jpg') repeat-x 0 0;width:100%;height:130px;}
.qm_logo {background:url('//mat1.gtimg.com/cq/cody/2013/qm/logo_03.png') no-repeat 0 0;width:286px;height:100px;margin-top:17px;}
#qk {display:block;width:30px;height:30px;font-family:"Î¢ÈíÑÅºÚ","ºÚÌå";font-size:22px;font-weight:bold;padding: 6px 0px 0px 250px;color:#b00002;}

.bm {position:relative;border:1px solid #ecd968;background-color:#fff7c8;padding:15px 35px;}
.bm .title {font-size:bold;font-size:14px;line-height:24px;}
.bm .con {line-height:22px;}
.bm .btn a {display:inline-block;width:110px;height:35px;background:url('//mat1.gtimg.com/cq/cody/2013/qm/bg-btn.png') no-repeat -5px -5px;}
.bm .btn a:hover {background-position: -5px -47px;}
#close {position:absolute;right:-6px;top:-7px;display:inline-block;background:url('//mat1.gtimg.com/cq/cody/2013/qm/bg-btn.png') no-repeat -6px -92px;width:15px;height:15px;}

.rowA_cB {position:relative;width:418px;height:338px;}
.rowA_cB .rowA_cB_rA {background:url('//mat1.gtimg.com/cq/cody/2013/qm/bg_03.jpg') no-repeat 0 0;color:#b1b1b1;padding:34px 0 0 40px;line-height:28px;font-size:14px;height:299px;overflow:hidden;}
.rowA_cB .rowA_cB_rA .title,.rowA_cB_rA .tj,.row_list .hd {font-family:"ºÚÌå","Î¢ÈíÑÅºÚ";font-size:24px;line-height:28px;}
.rowA_cB .rowA_cB_rB {position:absolute;bottom:0px;right:-14px;background:url('//mat1.gtimg.com/cq/cody/2013/qm/qm_05.jpg') no-repeat 0 0;width:432px;height:39px;}
.rowA_cB_rA span {color:#dd5f4b;}
.rowA_cB_rA .ms  li {float:left;width:145px;height:28px;overflow:hidden;}
.rowA_cB_rA .ms  li.w200 {width:200px;}
.rowA_cB .rowA_cB_rA .tj {width:270px;text-align:center;padding-left:20px;font-size:22px;}

.rowA_cB_rB,.rowA_cB_rB a {color:#fff;font-size:14px;}
.rowA_cB_rB div {margin-top:15px;}
.rowA_cB_rB div.fl {padding-left:40px;}
.rowA_cB_rB div.fr {padding-right:30px;}

.row_list .hd {padding:15px 10px 15px 20px;color:#454545;font-size:28px;line-height:32px;border-bottom:1px solid #dbdbdb;}
.row_list .bd {padding:10px;}
.rowB .bd {padding-bottom:0px;background-color:#fff;}
.pbl {margin: 0 6px;_margin: 0 5px;}
.pbl_list {border:1px solid #dcdcdc;width:220px;line-height:22px;margin-bottom:10px;}
.pbl_list .pic_txt {padding:8px;background-color:#fff;border-bottom:1px solid #dcdcdc;}
.pbl_list .txt {color:#666666;margin-top:5px;}
.pbl_list .more {padding:5px 0 5px 10px;}
.pbl_list .more .pic {width:36px;height:36px;}
.pbl_list .more .txt {padding-left:10px;color:#333;}
.pbl_list .more .txt a {color:#e2604b;}

.rowC_cA {width:650px;}
.rowC_cB {border:1px solid #dcdcdc;width:270px;}
.rowC_cB .hd {border-bottom:1px solid #dcdcdc;background-color:#e66b57;color:#fff;font-size:18px;line-height:38px;padding:0 0 0 10px;}
.rowC_cB .con {line-height:22px;padding:10px 0 10px 10px;}

.rowD {width:100%;}
.rowD .hd {width:;background-color:#1d1d1d;height:48px;line-height:48px;font-size:20px;color:#dcdcdc;}
.rowD .bd {background-color:#303030;}

.rowE .bd {padding: 20px 35px;background-color:#fff;}
.rowE_rA {border-bottom:1px dotted #dedede;padding:0 0 15px;margin-bottom:15px;}
.rowE_rA .fr {text-align:left;width:790px;}
.rowE_rA h2 {margin-top:10px;}
.rowE_rA .fr p {color:#666666;margin-top:10px;}
.rowE .rowE_cA {width:431px;line-height:22px;color:#454545;}
.rowE .rowE_cA_rB {margin-top:5px;}
.rowE .rowE_cB {width:425px;}
.rowE_cB .rowE_cB_list {padding-bottom:18px;}
.rowE_cB .se {border-top:1px dotted #dfdfdf;padding-top:18px;}
.rowE_cB_cA {width:50px;text-align:center;}
.rowE_cB_cA a {color:#454545;}

.rowE_cB_cB .title a {color:#454545;font-weight:bold;font-size:14px;}

.hover .rowE_cB_cA a,.hover .rowE_cB_cB .title a {color:#ff5b40;}

#Index {z-index: 1; margin:0px auto; width: 918px; height:auto;}
#Index .style {z-index: 99; width: 150px; bottom: 0px; display: block; float: right; height: 172px; right: 0px}
#Index_Box {position: relative; margin: 30px auto 20px; width:  918px; height: 300px}
#Index_Box ul {position: relative; width:  918px; height: 300px}
#Index_Box li {z-index: 0; position: absolute; list-style-type: none; width: 0px; background: #787878; height: 0px; overflow: hidden; top: 146px; cursor: pointer; list-style-image: none; left: 377px; border-radius: 4px; box-shadow: 1px 1px 12px rgba(200, 200, 200, 1)}
#Index_Box li img {width: 100%; background: url(//mat1.gtimg.com/xian/2013images/2013food/taste/t2/loading.gif) no-repeat center 50%; height: 100%; vertical-align: top}
#Index_Box .prev {display: block;}
#Index_Box .next {display: block;}
#Index_Box .prev {z-index: 100; overflow: hidden; cursor: pointer;}
#Index_Box .next {z-index: 100; overflow: hidden; cursor: pointer;}
#Index_Box .prev {position: absolute; width: 80px; background: url(//mat1.gtimg.com/xian/2013images/2013food/taste/t2/next.png) 0px 0px; height: 120px; top: 80px; left: 85px;}
#Index_Box .next {position: absolute; width: 80px; background: url(//mat1.gtimg.com/xian/2013images/2013food/taste/t2/next.png) -80px 0px; height: 120px; top: 80px; right: 85px;}/*  |xGv00|84fcd296285d51e074243172d05b623e */