body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul{margin:0;padding:0}
body{color:#333;background:#000;position:relative;min-width:1000px;font-family:Microsoft Yahei,Arial,HELVETICA;letter-spacing:1px;font-size:14px;}
a{color:#333;text-decoration:none}
li{list-style:none}
img{border:none;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
input{background:0 0}
p{word-wrap:break-word}
/* clear */
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*display:inline-block;}
*html .clearfix{height:1%}
.clearfix{/*display:block;*/}
.centre{width:1000px;margin-right:auto;margin-left:auto;position:relative}
.fl{float:left}
.fr{float:right}
.w1000{width:1000px;margin:0 auto;position:relative;padding-top:240px;}
.none{margin-right:0!important;}
.bianji {width: 100%;height: 50px;background: #242424;}
.bianjimain {width: 960px;margin: 0 auto;}
.bianjimain p {font-size: 14px;color: #ededed;line-height: 50px;text-align: center;}

.tit{width:322px;margin:0 auto;display:block;padding-bottom:30px}
.p1{background:url(//mat1.gtimg.com/gd/wendy/2018baiyunjd/p1.jpg) top center no-repeat;width:100%;height:700px;}
.p2{background:url(//mat1.gtimg.com/gd/wendy/2018baiyunjd/p2.jpg) top center no-repeat;width:100%;height:651px;}
.p3{background:url(//mat1.gtimg.com/gd/wendy/2018baiyunjd/p3.jpg) top center no-repeat;width:100%;height:982px;}
.p4{background:url(//mat1.gtimg.com/gd/wendy/2018baiyunjd/p4.jpg) top center no-repeat;width:100%;height:1008px;}
.p5{background:url(//mat1.gtimg.com/gd/wendy/2018baiyunjd/p5.jpg) top center no-repeat;width:100%;height:990px;}
.p6{background:url(//mat1.gtimg.com/gd/wendy/2018baiyunjd/p6.jpg) top center no-repeat;width:100%;height:992px;}
.p7{background:url(//mat1.gtimg.com/gd/wendy/2018baiyunjd/p7.jpg) top center no-repeat;width:100%;height:989px;}


.p2 .fr{width:400px}
.p2 .fr .atit{font-size:18px;font-weight:600;margin:0 0 15px 0;display:block;white-space: nowrap;}
.p2 .fr .more{color:#c90707;float:right;}
.p2 .fr p{margin-bottom:20px;height:42px;line-height:22px;overflow:hidden;color:#494949;padding-bottom:17px;border-bottom:1px dotted #777}
.p2 .fl{width:572px;}
.p2 .swiper-container .p{width:570px;height:340px}
.p2 .swiper-container .t{font-size: 17px;width: 572px;height: 25px;text-align: left;padding: 5px 0;background: rgba(0,0,0,.7);color: #fff;position: absolute;bottom: 0;text-indent: 10px;}
.p2 .swiper-pagination-bullet{background: #fff;}
.p2 .swiper-container-horizontal>.swiper-pagination-bullets{right:10px;text-align: right;left:auto;bottom:5px;}
.p2 .swiper-slide img{border:1px solid #919191;}

.txtw .picw{width:845px;height:162px;background:#fff;border:1px solid #777;position: relative;}
.txtw .picw .fl{width:420px;}
.txtw .picw .fr{width:425px;}
.txtw .picw .fr img{width:100%;height:100%}
.txtw .picw .fl .titp{font-size:18px;font-weight:600;width:375px;margin:12px auto 10px;display:block;}
.txtw .picw .fl p{color:#161616;font-size:16px;width:375px;margin:0 auto;line-height:24px}
.txtw .picw:nth-child(1){margin-left:150px}
.txtw .picw:nth-child(2){margin-left:80px;margin-top:50px;}
.txtw .picw:nth-child(3){margin-top:50px;}

.more{margin-top:50px;display:block;}

.nav{background:#075895;height:50px;}
.nav .w{width:1000px;margin:0 auto;position:relative;}
.nav a{height:38px;display:inline-block;padding-top:12px;}
.nav a span{color: #fff;padding: 0 14px;font-size: 18px;display: inline-block;border-right: 1px solid #fff;}
.nav a:last-child{border:none;}
.nav a:hover{background:#fff;}
.nav a:hover span{color:#075895;}/*  |xGv00|afd270cf371cdd58956b06efcd1c13be */