body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,simsun,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
iframe,img{vertical-align:middle;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea,select,button{outline:none;resize:none;}
a{color:#333;text-decoration:none;/*outline:none*/}
a:hover{color:#744d00;text-decoration:underline;}
.clearfix:after,.clear:after,.clx:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix,.clear,.clx{*zoom:1;}
.left,.fl,.mark{float:left}
.right,.fr,.subMark{float:right}
.spanclass,.contentdiv,.hide{display:none;}
.show{display:block;}
.vm{display:inline-block;vertical-align:middle}

.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.f14{ font-size:14px}
.f16{ font-size:16px}
.f18{ font-size:18px}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb5{padding-bottom:5px;}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.lh30{line-height:30px}

.white{color:#fff;}
.red{color:#c00;}

body{min-width:1024px;color:#333;background:#edecea;}

.wrap{width:998px;margin:0 auto;padding:0 13px;background:#ffffff;}
.wrap a:hover{text-decoration:none;}

.hidden,.hidden_f{display:none}
.brown{color:#744d00;}
.black{color:#333;}

.tunav{position:relative;}
.nav{height:40px; background:#363636; position:relative; z-index:0}
.nav .navLink a{height:40px; line-height:40px; display:block; float:left; padding:0 20px; font-size:16px; font-family:\5FAE\8F6F\96C5\9ED1; color:#fff}
.nav .navLink a:hover, .nav .navLink a.cur, .nav i:hover a{background:#714F02; text-decoration:none}
.nav .st{float:right}
.nav .st a{display:block; line-height:40px; padding-left:20px; color:#fff; background:url(//mat1.gtimg.com/gd/images/channel/news2013/wb.png) no-repeat left center}
.nav i{display:block; height:40px; float:left; position:relative; cursor:pointer}
.nav .morework{width:240px; position:absolute; left:0; top:40px; padding:5px 10px; font-size:14px; background:#714F02; font-family:\5FAE\8F6F\96C5\9ED1; display:none}
.nav .morework li{height:20px; line-height:20px; padding:10px 0;}
.nav .morework li span{display:block; width:36px; height:20px; padding-right:4px; text-align:center; float:left; margin-right:6px; background:url(//mat1.gtimg.com/gd/images/channel/news2013/morework.png) no-repeat}
.nav .morework li a{display:inline-block; float:left; padding:0 4px; margin:0 4px; color:#D6D7DC; line-height:20px; height:20px; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.nav .morework li a:hover{background:#fff; color:#084595}
.nav i:hover .morework{display:block}

.chlinks{padding-top:10px; color:#EAEAEA}
.chlinks a{color:#777;}

.header{border-bottom:2px solid #754d05;background:#e5e5e3 url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_header.jpg) center 0 repeat-x;}
.header .inner{width:998px;margin:0 auto;}
.header .logo{width:320px;height:72px;margin:42px 0 24px 0;display:inline-block;line-height:99em;overflow:hidden;background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/logo.png) 0 0 no-repeat;}

.sub_header{padding:22px 0;border-bottom:1px solid #e1e1e1;color:#494949;font:400 14px/17px \5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;}
.sub_header .button{float:left;}
.sub_header .button a{float:left;}
.sub_header .about{width:880px;float:right;}

.btn_black,
.btn_brown{width:100px;height:36px;display:inline-block;color:#fff;font:400 18px/36px \5FAE\8F6F\96C5\9ED1;text-align:center;background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_element.png) 0 0 no-repeat;}
.btn_brown{background-position:0 -38px;}
.btn_black:hover{color:#fff;background-position:0 -38px;}
.btn_brown:hover{color:#fff;background-position:0 0;}

.btn_ask{width:66px;height:24px;display:inline-block;color:#fff;font:400 12px/24px \5b8b\4f53;text-align:center;overflow:hidden;background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_element.png) 0 -76px no-repeat;}
.btn_ask:hover{color:#fff;text-decoration:none;}


.container{padding:24px 0;}
.container .main{width:649px;min-height:855px;_height:855px;padding-right:24px;border-right:1px solid #e1e1e1}
.container .sidebar{width:300px;}

.wrap .hd{height:45px;background:url(//mat1.gtimg.com/gd/images/channel/money/cf/bg_hd.png) 0 5px no-repeat;}
.wrap .hd .mark{font:400 24px/36px \5FAE\8F6F\96C5\9ED1;}

.wrap .info_section .hd{background-position:right 5px;}

.info_section{height:421px;}
.info_section .hd .toc{height:45px;float:left;color:#999;cursor:pointer;}
.info_section .hd .selected{color:#333;background:url(//mat1.gtimg.com/gd/images/channel/money/cf/bg_tab_1.png) center 5px no-repeat;}
.info_section .hd .line{float:left;width:24px;height:40px;background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_element.png) -100px 0 no-repeat;}
.info_section .con{height:320px;padding-top:10px;}
.info_section .con li{height:30px;line-height:30px;padding-left:8px;color:#7c7c7c;border-bottom:1px solid #eaeaea;background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_element.png) -198px -363px no-repeat;overflow:hidden;vertical-align:middle;}
.info_section .con li span{float:left;}
.info_section .con li .title{width:320px;height:30px;white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; overflow:hidden;}
.info_section .con li .time {width:155px;padding-left:5px;}
.info_section .con li .view {width:80px;}
.info_section .con li .reply{width:80px;}
.info_section .con li .state{width:74px;}
.wrap .loading{width:31px;height:31px;margin:100px auto;background:url(//mat1.gtimg.com/gd/images/channel/money/cf/loading.gif) 0 0 no-repeat;}


.mPage {padding:10px 10px 10px 0; height:23px; text-align:right; font-weight:normal;}
.mPage A{border:#dedfde 1px solid; padding:2px 5px;margin: 2px; color:#333; text-align:center; text-decoration:none;}
.mPage A:hover{border:#744d00 1px solid; color:#fff; background:#744d00; text-decoration:none;}
.mPage A:active{border:#744d00 1px solid; color:#fff; background:#744d00;}
.mPage .current{padding:1px 5px; margin:2px; color:#744d00;}
.mPage .disabled{border:#eee 1px solid; padding:2px 5px; margin:2px; color:#ddd;}

.send_form .mark{height:45px;background:url(//mat1.gtimg.com/gd/images/channel/money/cf/bg_tab_1.png) center 5px no-repeat;}
.send_form .content{padding:15px 5px;}
.send_form .content li{padding:7px 0;}
.send_form li label{width:56px;float:left;font:400 14px/24px \5FAE\8F6F\96C5\9ED1;}
.send_form .input_1{height:23px;border:1px solid #e3e9ef;border-top:1px solid #abadb3;}
.send_form .content .txt_f{padding-left:56px;}
.send_form .content .txt_f label{width:auto;font:400 12px/20px \5b8b\4f53;}
.send_form .content .txt_f input{vertical-align:middle;}

.submitBtn{width:100px;height:36px;margin:5px 0;display:inline-block;border:0;cursor:pointer;color:#fff;font:400 18px/36px \5FAE\8F6F\96C5\9ED1;text-align:center;background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_element.png) 0 -38px no-repeat;}


.detail_box .content{font:400 14px/24px \5FAE\8F6F\96C5\9ED1;}
.detail_box h4{padding:6px 0;min-height:28px;color:#333;font:400 24px/26px \5FAE\8F6F\96C5\9ED1;border-bottom:1px solid #dcdcdc;}
.detail_box .con{margin:20px 10px 15px;}
.detail_box .con img{max-width:622px!important;}
.detail_box h3{height:45px;color:#333;font:400 24px/36px \5FAE\8F6F\96C5\9ED1;background:url(//mat1.gtimg.com/gd/images/channel/money/cf/bg_hd.png) 0 5px no-repeat;}
.detail_box h3 span{display:block;height:45px;background:url(//mat1.gtimg.com/gd/images/channel/money/cf/bg_tab_1.png) 0 5px no-repeat;}
.detail_box dl{margin:10px;}
.detail_box dt{overflow:hidden;color:#333;border-bottom:1px solid #dcdcdc;padding-bottom:4px;margin-bottom:4px;}
.detail_box .centerBox1 h3{color:#744d00;}
.detail_box .centerBox1 dt{color:#000;}

.centerBox1,.centerBox2,.centerBox3{padding:5px 0;}

.detail_box .turnPage{padding:5px 10px 0;float:right;}
.detail_box .turnPage a,.detail_box .turnPage span{display:inline-block;margin-left:3px;}
.detail_box .turnPage .current,.detail_box .turnPage .disabled{color:#999;}

.detail_box .f_con{padding:15px 10px;font:400 12px/20px \5b8b\4f53;}
.detail_box .input_1{height:23px;border:1px solid #e3e9ef;border-top:1px solid #abadb3;}
.detail_box .f_con li{padding:4px 0;}
.detail_box .f_con .txt_f{padding-left:48px;}

.idea_bank .mark{height:40px;border-bottom:1px solid #744f08;}
.idea_bank .bd{padding:7px 0 0;width:642px;overflow:hidden;}
.idea_bank .list{width:660px;}
.idea_bank .list li{width:150px;height:95px;margin:15px 14px 0 0;float:left;}
.idea_bank .list .pic{width:60px;margin-right:10px;float:left;}
.idea_bank .list .pic img{width:60px;height:80px;}
.idea_bank .list .txt{width:80px;float:left;}
.idea_bank .list .name{color:#744d00;font:400 14px/20px \5FAE\8F6F\96C5\9ED1;}
.idea_bank .list .title{height:20px;overflow:hidden;font:400 14px/20px \5FAE\8F6F\96C5\9ED1;}
.idea_bank .list .info{height:36px;overflow:hidden;color:#777;}

.classic_case .bd{padding:15px 0 20px;}
.classic_case ul{background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_element.png) -184px 0 no-repeat;}
.classic_case ul li{height:30px;padding-left:28px;overflow:hidden;font:400 12px/30px \5b8b\4f53;}

.notice .item{padding:8px 0 0;font:400 12px/24px \5b8b\4f53;}
.notice .item .title{color:#333;}
.notice .item .con{margin:5px 0;}
.notice .item .btn_ask{float:right;}

.contact p{padding:20px 0;border-bottom:1px dotted #d4d5d7;color:#666;}
.weixin{padding:20px 0;line-height:23px;color:#666;}
.weixin .pic{float:left;width:95px;margin-right:15px;}

.organization .list{padding:10px 0 40px;}
.organization .list li{width:125px;line-height:24px;float:left;}

.footer{padding:15px 0 0;background:#333438;}
body .tcopyright,
body .tcopyright a,
body .tcopyright a:hover{color:#888886;}

.mod_back_top{position:fixed;_position:absolute;z-index:99999;bottom:45px;_bottom:auto;right:30px;display:none;}
.mod_back_top .back_top{display:block;width:50px;height:50px;line-height:100;overflow:hidden;background:url(//mat1.gtimg.com/gd/images/channel/money/cf2014/bg_element.png) 0 -102px no-repeat;}
.mod_back_top .back_top:hover{background-position:-62px -102px}
/* *//*  |xGv00|322e718b53661596661f07465c0f8bb2 */