/* CSS Document */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
li{list-style:none;}
img{border:0;}
a{text-decoration:none; font-family:'microsoft yahei'; border: 0;}
div{font-family:'microsoft yahei';}
input:focus { outline: none; } 
.main{
	width:100%;
	height:100%;
}
.header{
	max-width:100%;
	height:826px;
	margin:0 auto;
	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/header3.jpg) center no-repeat;
}
.midbg{
	max-width:100%;
	height:1691px;
	margin:0 auto;
    margin-top: -1px;
	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/midbg.jpg) center no-repeat;
}
.timelinebg{
	max-width:100%;
	height:85px;
	padding-top:740px;
}
.timeline{
	width:1230px;
	height: 85px;
	margin:0 auto;
	background: url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/timeline.png)  no-repeat;
}
.linetext{width:170px;height:85px;text-align:center;font-size:18px;color:#dfd09a; float:left; margin-top:18px; margin-right:12px; margin-left:23px;}
.video{
	width:700px;
	height:440px;
	padding-top:66px;
}
.v-img {
            background:url(http://img1.gtimg.com/ln/pics/hv1/201/23/2217/144166491.jpg) no-repeat;
        }
.v-img a img:hover{
	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/videohover.png) no-repeat;
}
span{
	font-size:16px;color:#fff6ec;
}
.mid{
	width:1211px; 
	height:1691px;
	margin:0 auto;
}
.videopart{
	width:1211px;
	height:506px;
	margin:0 auto;	
}
.introduce{
	width:436px; 
	height:410px;
	float:right;
	margin-top:-446px;
	margin-right:16px;
}
.title{
	width:450px; 
	height:36px;
	font-size:30px;
	color:#efcf96;
}
.intro{
	width:434px; 
	height:256px;
	margin-top:26px;
    font-size:16px;
	color:#cfcfcf;
    line-height:26px;
}
.enter{
	width:247px; 
	height:60px;	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/enter.png) no-repeat;
	margin-top:26px;
}
.enter a{
	font-size:25.24px;
	color:#efcf96;
	text-align:center;
	line-height:60px;
	display:block;
}
.activity{
	width:1351px;
	height:351px;
	margin-top:76px;
	margin-left:-35px;	
}
.rule{
	width:216px; 
	height:351px;	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/activity.png) no-repeat;
	float:left;
	margin-left:33px;
}
.rull-title{
	width:203px; 
	height:20px;
	margin-top:28px;
    text-align:center;
    font-size:20px;
	color:#efcf96;
}
.rull-intro{
	width:155px; 
	height:210px;
	text-align:center;
	margin-top:30px;
	margin-left:33px;
	font-size:14px;
	line-height:25px;
	color:#f2f2f2;
}
.foundyxl{
	width:1211px;
	height:59px;
	margin-top:60px;	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/yxlactivity.png) center no-repeat;
	font-size:24px;
	color:#efcf96;
	text-align:center;
	line-height:47px;
}
.yxlactivity{
	width:1211px;
	height:521px;
	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/jiaojuan.png) no-repeat;
	margin-top:46px;
}
.news{
	width:423px;
	height:410px;
	padding-top:49px;
    
}
.news-headline{
	width:423px;
	height:38px;	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/iconmini.png) no-repeat;
	margin-top:39px;
}
.h1{
    width:423px;
	height:38px;
    line-height:28px;
    padding-left: 66px;
}
.download{
    font-size:21px;
	color:#ffffff;
    line-height:36px;
}
.gengduo{
	font-size:16px;
	color:#efcf96;
	margin-left:5px;
}
.news-title{
	width:423px;
	height:300px;
	margin-top:43px;
}
.subtitle{
	width:423px;
	height:52px;
   	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/iconmini.png) no-repeat;
}
.subtitle a{
	font-size:16px;
	color:#ffffff;
	margin-left:67px;
	line-height:35px;
}
.turn{
	width:780px;
	height:410px;
	float:right;
	margin-top:-407px;
}
.silder {width: 780px;height:410px; position:relative;float:left;}
.silder .silder_list {height:410px; overflow:hidden;position: relative;}
.silder .silder_list a{position:absolute; top:0;left:0;}
.silder .silder_list a,.silder .silder_list img{display:inline-block;float:left;}
.silder .silder_page{display: none; width: 118px; height:42px;text-align:right; margin:0 auto;right:1px;  position:absolute; bottom:1px;}
.silder .silder_page li{float: left; width:20px; height:18px;line-height:16px;margin:13px 6px 0 0;display:inline-block;text-align:center;color:#efcf96; font-size:14px;}
.silder .silder_page li.current{background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/pointbg.png) center center;  color:#000;}
.silder_desc{color:#efcf96;background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/tit_bg.png) repeat 0 0;float:left;line-height:42px;height:42px;width:100%;overflow:hidden;position:absolute;left:0;bottom:0;text-align:left;text-indent:26px; font-size:16px;}
.silder .silder_page li:hover{cursor:pointer;}

.video-clips{
	width:1198px;
	margin:0 auto;
}
.showtitle{
	width:1198px;
	height:111px;
    padding-top:65px;  background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/yxlactivity.png) center no-repeat;
	font-size:24px;
	color:#efcf96;
	text-align:center;
}
.videoshow{
	width:1211px;
}
.nav{
	width:1211px;
	height:118px;
	margin-left:-51px;
}
.show-all{
	width:1230px;
	margin-left:-46px;
	margin-top:25px;
}
.wrap{
    overflow: hidden;
    position: relative;
}
.wrap2{
    overflow: hidden;
    position: relative;
}
.wrap3{
    overflow: hidden;
    position: relative;
}
.navlogo{
	width:116px;
	height:117px;	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/hoverup.png) no-repeat;
	float:left;
	margin-left:237px;
}
.navlogo:hover{
	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/hoveron.png) no-repeat;
	}
.navlogo a{
	width:116px;
	height:117px;
	font-size:22px;
	color:#efcf96;
	display:block;
	text-align:center;
	line-height:136px;
}
.navlogo a:hover{
	color:#FFF;
}
.display{
	width:360px;
	height:479px;
	float:left;
	padding-left:50px;
    position: relative;
}
.displaynone{
    width:360px;
	height:479px;
	float:left;
	padding-left:50px;
    position: relative;
    display: none;
}
.moretext{
	width:360px;
	height:483px;
	float:left;
	margin-left:50px;
	display:none;
}
.bottombg{
	max-width:100%;
	height:616px;
	margin:0 auto;	background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/bottombg.jpg) center no-repeat;
	}
.mid-bottom{
    width:1211px; 
	margin:0 auto;
    height: 100%
}
.mid-bottombg{
    max-width: 2000px;
    margin: 0 auto;
    background: url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/midbottom.jpg)  center top no-repeat;
    background-color:#181617;
}
.friend{
    width: 1186px;
    height: 82px;
    padding-top: 40px;
    background: url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/yxlactivity.png) center no-repeat;
    font-size: 24px;
    color: #efcf96;
    text-align: center;
}
.bottom{
    max-width: 1200px;
    height: 608px;
    margin: 0 auto;
}
.ul{
    width: 1246px;
    height: 300px;
    margin: 0 auto;
    margin-top: 26px;
}
.ul ul li{
    width: 195px;
    height: 100px;
    float: left;
    padding-right: 53px;
    padding-bottom: 49px;
}
.footer #huandeng_F_clcf{display:none;}
.footer .tcopyright {width:960px;margin:0 auto;padding:8px 0;font-size:12px;line-height:28px;color:#e6c790; text-align:center; overflow:hidden;clear:both;}
.footer .tcopyright .en{font-family:Arial;}
.footer .tcopyright a{color:#e6c790;text-decoration: none;}
.footer .tcopyright a:hover{color:#ffffff;text-decoration: underline;}
.mero{
    width: 644px;
    height: 68px;
    border: none; background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/morebuttonbg.png) center no-repeat;
    outline:none;
    display: block;
    margin: 0 316px;
    font-size: 19px;
    line-height: 70px;
    color:#7c7c7c;
    text-align: center;
}
.mero2{
    width: 644px;
    height: 68px;
    border: none; background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/morebuttonbg.png) center no-repeat;
    outline:none;
    display: block;
    margin: 0 316px;
    font-size: 19px;
    line-height: 70px;
    color:#7c7c7c;
    text-align: center;
}
.mero3{
    width: 644px;
    height: 68px;
    border: none; background:url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/morebuttonbg.png) center no-repeat;
    outline:none;
    display: block;
    margin: 0 316px;
    font-size: 19px;
    line-height: 70px;
    color:#7c7c7c;
    text-align: center;
}
.showmore{
    width: 644px;
    height: 66px;
    display: block;
    margin: 0 auto;
    font-size: 19px;
    line-height: 70px;
    color:#7c7c7c;
    text-align: center;
}
.showmore2{
    width: 644px;
    height: 66px;
    display: block;
    margin: 0 auto;
    font-size: 19px;
    line-height: 70px;
    color:#7c7c7c;
    text-align: center;
}
.showmore3{
    width: 644px;
    height: 66px;
    display: block;
    margin: 0 auto;
    font-size: 19px;
    line-height: 70px;
    color:#7c7c7c;
    text-align: center;
}
.minivideotext{
    width:  359px;
    height:  211px;
}
.minivideo{
    width: 360px;
    height: 270px;
    background: url(//mat1.gtimg.com/ln/images/2017zt/04Apr/foundvideo/listbofang.png);
    z-index: 999;
    position:absolute;
}
.textleft a{
    font-size: 16px;
    color: #bca373;
    line-height: 29px;
    letter-spacing:6px;
    
}
.textleft{
    width: 68px;
    height: 136px;
    float: left;
    margin-top: 33px;
}
.textright{
    width: 272px;
    height: 136px;
    float: left;
    margin-left: 13px;
    margin-top: 33px;
}
.textright a{
   font-size: 16px;
    color: #ffffff;
    line-height: 29.8px;
}
.textright ul{
    font-size: 16px;
    color:#ffffff;
    float:left; 
    line-height: 29px
}
.textright span{
    font-size: 16px;
    color:#bca373;
    line-height: 29px;
}
.toupiao{
    width: 111px;
    height: 43px;
    background-color: #bca373;
    margin-top: -21px;
    float: right;
    font-size: 19px;
    text-align: center;
    line-height: 43px;
}
.toupiao a{
    font-size: 19px;
    text-align: center;
    line-height: 43px;
    display: block;
}
.revolve{
    width: 133px;
}
/*  |xGv00|9c795cb0e949c9d3a136a5330e048ef5 */