@charset "utf-8";
/* CSS Document */
html{overflow-y:scroll}
html,body{height:100%}
*{margin:0;padding:0;border:0 none;background:transparent;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{margin:0px;padding:0px;}
body,input,button,select,textarea,table{font:12px/1.5 Tahoma,Helvetica,Arial,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,select{vertical-align:middle}
label,input[type=button],input[type=submit]{cursor:pointer}
button{cursor:pointer;overflow:visible;padding:0;width:auto}
textarea{overflow:auto}
table{border-collapse:collapse;border-spacing:0}
address,cite,dfn,em,var{font-style:normal;}
ul,ol{ list-style:none;}
img{ border:0px;vertical-align:top}
*+html img{-ms-interpolation-mode:bicubic}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }/*Clear float*/
.clearfix{zoom:1;}/*Clear float*/
.clear{ clear:both;}
/* Clear Fix */
.clearfix{display:inline-block;}
/* Hide from IE Mac */
.clearfix {display:block;}
/* End hide from IE Mac */
/* end of clearfix */



/*Public Styles*//
body{background-color:#FFF;color:#333}
a{color:#414141}
a:link,a:visited{text-decoration:none}
a:hover,a:active{text-decoration:underline;color:#0c479f;}
h1{ font-family:"Microsoft YaHei", "微软雅黑", SimHei, "黑体";}
.fl{ float:left;}
.fr{ float:right;}

/*---------------------------------
Global color
Body background:#def455
Container background:#fff
Main Text:#333
Links:#00600f
Visited links:#098761
Hover links:#aaf433
H1, H2, H3:#960
H4, H5, H6:#000
---------------------------------*/


.focus{ position: absolute; top:600px;left:0px; background: #fdbc01; padding-top:10px; padding-right:10px;}
.toutiao{}
.toutiao h2{ background:url(../images/nlt_06.jpg) left no-repeat; font-size: 22px; color: #f63c3c; font-family: 'microsoft yahei'; font-weight: bold; padding-left: 15px; margin-bottom: 15px;}
.ft16{ font-size:16px; line-height: 1.8em; color: #666666;}
.ft16t{ font-size:16px; line-height: 1.8em; color: #333333;}
.ft16t em,.ft16 em{ color:#f63c3c; font-weight:bold;}
.ft16t span{ width:250px; display:inline-block;}
.toutiao .btn{ padding-top:15px; text-align:center;}

.wd1000{ width:1000px; margin:0px auto; overflow:hidden;}

h3{color:#e22424;font-size:30px; font-family:'microsoft yahei'; line-height:3.5em;font-weight:normal;}
h4{color:#e22424;font-size:20px; font-family:'microsoft yahei'; line-height:2em;}
.box_1{ background:#fff; border-radius:3px; width:750px; padding:15px; position:relative;}

.hj{ width:8100px;position:relative;}
.hj li{ width:312px; float:left; height:440px; display:block; margin-right:32px; overflow: hidden;}
.hj li span{font-size:18px; line-height:60px; color: #333; text-align:center; background:#fff; display:block; height:60px;}

.ft14{ font-size:14px; line-height: 1.8em; color: #666666;}
.cp{ width:1100px;}
.cp li{ width:238px; float:left; height:238px; display:block; margin-right:15px;}

h5{color:#333;font-size:18px; font-family:'microsoft yahei'; line-height:2em; font-weight:bold;}

.wq{ width:1100px;}
.wq li{ width:230px; float:left; height:200px; display:block; margin-right:25px; background:#fff; border-radius: 5px;}
.wq li span{font-size:16px; line-height:40px; color: #fff; text-align:center;display:block; height:40px;}
.wq li a{ text-decoration:none; color:#fff;}
.wq li a:hover{ text-decoration:underline; color:#fff;}

.lanrenzhijia {
	width:1000px;
	height:480px;
	overflow:hidden;
	position:relative;
	margin:0 auto;
}

.info-btn {
	width:90px;
	height:14px;
	overflow:hidden;
	margin:0 auto;
	padding:0 0;
	zoom:1;
}
.info-btn li {
	float:left;
	padding:0 8px;
}
.info-btn li span {
	display:block;
	width:14px;
	height:14px;
	background:url(//mat1.gtimg.com/cq/2017ms/point_off.png) no-repeat;
	text-indent:-9999em;
	overflow:hidden;
	cursor:pointer;
}
.info-btn .info-cur span, .info-btn .info-hover span {
	background:url(//mat1.gtimg.com/cq/2017ms/point_on.png) no-repeat;
}



/*---------------------------------
Site:Dayuwang
Author:Jinghao
Updated:2013/7/3
Updated by: Jinghao
---------------------------------*/
/*  |xGv00|c19ed71c42397361363653634d276e82 */