body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif; color:#555;text-align:left}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none; list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{ text-align:left; font-weight:400}
img,fieldset{border:0;vertical-align:middle}
a{color:#444;text-decoration:none;outline:none}
a:hover{color:#c00;text-decoration:underline}
.spanclass,.contentdiv,.hide{display:none}
.show{display:block}

body{background:#fff}
.wrap{width:1000px; margin:0 auto; clear:both; zoom:1}
.clx:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.clx{*zoom:1}
.clear{font-size:0; line-height:0; height:0; overflow:hidden; clear:both; visibility:hidden}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.f14{ font-size:14px} 
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;} 
.fl{float:left}
.fr{float:right}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.imgA img{border:1px solid #E1E8F0; padding:1px; background:#fff}
.toc{cursor:pointer}

.bh:after, .ulclx li:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.bh, .ulclx li{*zoom:1}

/* channelTop */
.channelTop{height:45px; padding-top:10px}
.cSet{padding:10px 0 0 10px; color:#ddd}
.cSet a{display:inline; height:12px; line-height:12px; float:left; padding:0 8px; border-right:1px solid #ddd; *padding-top:1px; color:#777}
.cSet a.last{border:none}

.nav{height:40px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/nav.gif) repeat-x}
.nav .navLink a{height:40px; line-height:40px; display:block; float:left; padding:0 25px; font-size:16px; font-family:"Microsoft Yahei"; color:#fff}
.nav .navLink a:hover, .nav .navLink a.cur{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/nav_index.png) repeat-x; text-decoration:none}
.nav .st{float:right}
.nav .st a{display:block; line-height:40px; padding-left:20px; color:#fff; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/txweibo.png) no-repeat left center}
.city{width:958px; height:30px; line-height:30px; padding:0 20px; color:#B5B5B5; background:#E3E7EC; border:1px solid #D3D6DB; border-top:none; margin:0 auto 15px}
.city strong{color:#555}
.city a{color:#555}


.btm{background:#F6F6F6; border-top:1px solid #DCDCDC}
.bTitle{height:50px;}
.bTitle span{line-height:50px; font-size:18px; float:left; font-family:"Microsoft Yahei"; display:block; color:#272f36; font-weight:bold}
.hzcon{ padding-bottom:15px;}
.pLinks{color:#ddd; padding:0 4px}
.pLinks a{color:#777}
.picLinks img{float:left; display:block; margin-right:15px; border:1px solid #ddd}
.contact{line-height:24px; color:#777; padding-left:4px}

.main{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/topline.png) no-repeat 0 0; padding-top:15px; margin-bottom:45px}
.afTitle{height:47px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/autofocus.png) no-repeat right top}

.left{width:675px; padding-right:30px; border-right:1px dotted #D9D9D9; float:left}

.artList li{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/topline.png) no-repeat left bottom; padding-bottom:40px}
.artList li span{display:block; zoom:1}
.artList li .artTitle{height:80px; line-height:80px; font-size:26px; font-family:"Microsoft Yahei"; color:#273037; overflow:hidden; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/arttitle.png) repeat-x left bottom; margin-bottom:10px}
.artList li .artTitle a{color:#273037}
.artList li .artInfo{line-height:20px; height:20px;}
.artList li .artInfo i{margin-right:15px; display:block; float:left}
.artList li .artInfo i a{color:#09c}
.artList li .artSum{line-height:24px; font-size:14px; padding:10px 0 20px}
.artList li .artSum a{color:#09c}
.artList li .artPic{padding-left:30px}
.artList li .artPic img{max-width:600px}
.artList li .artInfo .aCom{display:block; height:20px; padding-left:22px; padding-right:8px; background:url(//mat1.gtimg.com/gd/images/channel/digilife2013/com.png) no-repeat left center; color:#999; font-weight:bold; float:left}
.artList li .artInfo .aCom:hover{color:#c00; text-decoration:none}
.artList li .artInfo em{float:left; color:#ccc}
.artList li .artInfo .shares{width:30px; height:20px; display:block; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/aRet.png) no-repeat center center; float:left; position:relative; cursor:pointer}
.artList li .artInfo .iShareWrap{padding:8px 10px; width:150px; height:16px; background:#fff; border:1px solid #DBDBDB; position:absolute; top:20px; left:-60px; display:none}
.artList li .artInfo .iShareWrap a{float:left; margin:0 3px}
.artList li .artInfo .shares:hover .iShareWrap{display:block}

.right{width:270px; float:right}

.cTitle{height:30px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/ctitle.png) no-repeat; padding:3px 12px 0; line-height:30px;}
.cTitle .mark{float:left; display:block; font-size:18px; font-family:"Microsoft Yahei"; color:#272f36;}
.cTitle em{color:#be0000}
.cTitle span b{color:#be0000}
.cTitle .submark{font-size:14px;font-family:"Microsoft Yahei"; color:#272f36;}
.cTitle .submark em{font-size:18px}

.txtPic{position:relative;}
.txtPic a{display:block; height:100%; color:#fff}
.txtPic img{display:block;}
.txtPic em{display:block; width:100%; height:30px; background:#0A1520; filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75; position:absolute; bottom:0; left:0}
.txtPic i{display:block; width:100%; height:30px; line-height:30px; text-align:center; color:#fff; position:absolute; bottom:0; left:0}
.dealerTags{padding-left:70px; padding-top:10px; height:30px}
.dealerTags i{width:20px; height:20px; display:block; float:left; margin-right:4px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/dealertag.png) no-repeat center center;}
.dealerTags i.selected{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/dealertagslt.png) no-repeat center center}

.wbUser li{height:85px; clear:both; zoom:1; padding-top:20px}
.wbUser img{float:left; display:block; margin-right:18px}
.wbUser p{width:180px; float:left; padding-top:10px}
.wbUser p span{display:block; height:24px;}
.wbUser p span .atit{padding:2px 22px 2px 0; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/atit.png) no-repeat right center; font-weight:bold; color:#272E34;}
.wbUser p span.wb{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/wb.png) no-repeat left center; padding-left:14px; color:#777}

.ranking li{height:29px; line-height:29px; border-bottom:1px dotted #CACACA; padding-left:3px; margin-left:5px}
.ranking li.first{height:75px; border:none}
.ranking li em{width:16px; height:16px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/rank.png) no-repeat; line-height:16px; text-align:center; font-family:Arial, Helvetica, sans-serif; color:#fff; float:left; margin-right:12px; font-size:11px; margin-top:6px}
.ranking li.first em{background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/rank1.png) no-repeat;}
.ranking li.first img{display:block; float:left; margin-right:15px}
.ranking li.first p{width:110px; line-height:22px; float:left}
.ranking li.first p strong, .ranking li.first p strong a{color:#262F38}
.ranking li.first .gochannel{color:#4A9BC6}
.ranking li i{display:block; float:left; margin-right:10px; line-height:29px;}
.ranking li i.up{padding-left:15px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/up.png) no-repeat left center; width:110px}
.ranking li i.down{padding-left:15px; background:url(//mat1.gtimg.com/gd/images/channel/auto2013/csjd/down.png) no-repeat left center; width:110px}

.aTools i{display:block;float:left;position:relative;}
.aTools .iShareWrap{display:none;left:-5px;position:absolute;top:14px;width:350px;}
.aTools i:hover .iShareWrap{display:block}
.aTools{height:10px;padding:8px 0 0 1px;}
.aTools a{display:block;float:left;height:14px;margin-right:12px;width:18px;}
.aCom{background:url(//mat1.gtimg.com/gd/images/channel/digi2013/bg.png) no-repeat scroll -70px 0 transparent;}
.aLike{background:url(//mat1.gtimg.com/gd/images/channel/digi2013/bg.png) no-repeat -100px 0;}
.aRet{background:url(//mat1.gtimg.com/gd/images/channel/digi2013/bg.png) no-repeat scroll -130px -1px transparent;}
.inncol{padding:8px;}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.yf{width:230px;overflow:hidden;margin:0 auto;}
.yf .desc{width:114px;}
.yf .img{width:230px;height:90px;padding:2px;}
.yf .join{width:60px;height:20px;line-height:20px;text-align:center;background:url(//mat1.gtimg.com/gd/images/digi/2012/split_v3.jpg) no-repeat 0 -81px;}
.yf .join a{color:#FFF;}
.yf li{background:url(//mat1.gtimg.com/gd/images/digi/2012/sprite_v3.gif) no-repeat 0 -570px;color:#CECECE;text-indent:12px;line-height:2em;}
.yf .deadline{margin:10px 12px;}
.yf .dl_bg{display:block;float:left;width:44px;height:17px;line-height:17px;color:#FFF;text-indent:2px;background:url(//mat1.gtimg.com/gd/images/channel/house/split_v3.png) no-repeat 0 -197px;overflow:hidden;}
.yf .dl_bg em{color:#646464;padding-left:3px;}
.yf .deadline strong{font-size:16px;color:#F6672D;}
.yf p{color:#7a7a7a;}
.desc_t a{font-weight:700;}
.zhongjian{background:url(//mat1.gtimg.com/gd/css/digi/v1.png) no-repeat;height:1px;}
.toleft,.toright{display:inline;width:9px;height:13px;text-indent:-9999px;margin-top:40px;cursor:pointer;}
.toleft a,.toright a{display:block;width:9px;height:13px;}
.toleft{background:url(//mat1.gtimg.com/gd/images/digi/2012/sprite_v3.gif) no-repeat -461px -517px;}
.toright{background:url(//mat1.gtimg.com/gd/images/digi/2012/sprite_v3.gif) no-repeat -461px -475px;}
.fr_c{width:210px;height:105px;overflow:hidden;position:relative;margin:0 auto;}
.topics .topica{position:absolute;left:0;height:125px;background:#FFF;padding:8px 0;}
.topics .topica ul li{float:left;width:210px;display:inline;height:125px;}
.topics .topica img{overflow:hidden;}
.topics .tbA{height:125px;overflow:hidden;padding:0 5px;}
.article-li:after{clear:both;content:".";height:175px;overflow:hidden;visibility:hidden;}
.article-li{border-bottom:1px dotted #6C6C6C;position:relative;padding:20px 0;}
.nrC{clear:both;padding:20px 0;border-bottom:1px solid #e8e8e8;*zoom:1;}
.nrC:hover{background:#f1f1f1;}
.nrC:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.nrC .nrPic{float:right; padding-left:17px;max-height:180px;overflow: hidden;display: block;}
.nrC h3{font-family:inherit;height:28px;overflow:hidden;margin-bottom:10px;font-size:20px;line-height:32px;padding-top:-5px;}
.nrC h3 a{color:#000;font-weight:400;}
.nrC h3 a:hover{color:#2076BD; text-decoration:none;}
.newsInfo{color:#999;height:25px;font-size:12px;}
.nrC .subInfo{clear:both;text-align:right;}
.nrC .newsInfo .date{padding-left:20px;}
.nrC .nrP a{color:#2375BE;font-size:14px;}
.article-li .info{color:#999;height:24px;margin-top:5px;}
.article-li .info .time{float:left;font-weight:400;font-family:Microsoft YaHei,Î¢ÈíÑÅºÚ,Lucida,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;width:220px;}
.layoutmsg{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #F5F5F5;border-image:none;bottom:-1px;display:none;height:27px;position:absolute;right:0;z-index:88;border-color:#D4D4D4 0 #D4D4D4 #D4D4D4;border-style:solid none solid solid;border-width:1px medium 1px 1px;}
.layoutmsg .layoutcomm{background-position:5px 0;}
.layoutmsg a{background:url(../Images/channel/hd_icon.png) no-repeat scroll 5px 0 transparent;border-right:1px solid #D4D4D4;display:block;float:left;height:27px;line-height:27px;padding-left:25px;width:30px;}
.element.style{display:block;font-size:12px;height:21px;text-decoration:none;width:51px;margin:20px 0 40px;padding:0;}
a.bshareDiv{color:#333;font-size:14px;overflow:hidden;padding-left:0;background:url(../Images/channel/hd_icon1.png) no-repeat scroll -55px 0 transparent!important;border-right:1px solid #D4D4D4!important;height:27px!important;line-height:27px!important;width:55px!important;}
a.bshareDiv,#bsPanel,#bsMorePanel,#bshareF{background:none repeat scroll 0 0 transparent;border:medium none;font:12px/14px Helvetica,Calibri,Tahoma,Arial,ËÎÌå,sans-serif;margin:0;padding:0;}
.layoutmsg .layoutlike{background-position:-115px 0;}
.layoutmsg .layoutlike2{background-position:-115px -27px;display:none;}
.iShareWrap{clear:both;overflow:hidden;width:100%;}
.iShareWrap a.iShare_1_tqq{background-position:-29px -36px!important;height:24px;margin-right:5px;width:24px;}
.iShareWrap a{background:url(//mat1.gtimg.com/joke/tomiezhang/ishare/icon_dev.png) no-repeat scroll 0 15px transparent;cursor:pointer;display:inline;float:left;font-weight:400;font-family:Microsoft YaHei,Î¢ÈíÑÅºÚ,Lucida,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;height:15px;line-height:16px;margin-right:0;overflow:hidden;width:15px;}
.iShareWrap a.iShare_1_weixin{background-position:-232px -36px!important;height:24px;margin-right:5px;width:24px;}
.iShareWrap a.iShare_1_qzone{background-position:-58px -36px!important;height:24px;margin-right:5px;width:24px;}
.iShareWrap a.iShare_1_tsina{background-position:0 -36px!important;height:24px;margin-right:5px;width:24px;}
.iShareWrap a.iShare_1_mail{background-position:-87px -36px!important;height:24px;margin-right:5px;width:24px;}
.iShareWrap a.iShare_1_kaixin001{background-position:-116px -36px!important;height:24px;margin-right:5px;width:24px;}
.iShareWrap a.iShare_1_renren{background-position:-145px -36px!important;height:24px;margin-right:5px;width:24px;}
.article-li .txt a{color:#86B6D0;font-weight:700;font-size:12px;}
.neirong_page{margin:40px 0;text-align:center;font:14px/24px simsun;}
.ygang{width:1px;height:190px;float:right;}
.sub-nav{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-image:none;border-right:1px solid #E2E2E2;height:38px;overflow:hidden;position:relative;width:998px;border-color:#E2E2E2;border-style:none solid solid;border-width:medium 1px 1px;margin:0 auto;}
.sub-nav h2{background:url(//mat1.gtimg.com/gd/images/digi/gaiban/subnav_arrow.gif) no-repeat scroll right 0 transparent;color:#0061AE;float:left;font:bold 18px/38px Microsoft Yahei,simhei,ËÎÌå;height:38px;text-align:center;padding:0 25px 0 15px;}
.sub-nav h2 a{color:#000;outline:medium none;text-decoration:none;}
.sub-nav .bd{float:left;width:720px;padding:9px 0 0 5px;}
.sub-nav .bd a:hover,.sub-nav .bd a.act{background:none repeat scroll 0 0 #AAA;text-decoration:none;}
.sub-nav .bd a{display:inline-block;height:22px;line-height:22px;margin:0 5px;padding:0 5px;}
#pageZone{text-align:center;}
#pageZone span{margin-right:5px;display:inline-block;height:34px;text-alien:center;color:#000;border:1px solid #ccdbe4;line-height:34px;min-width:35px;}
#pageZone a{color:#000;padding:0 13px;display:inline-block;}
#pageZone a:hover{text-decoration:none;background:#ededed;}
#pageZone span.isNow{font-weight:700;background:none repeat scroll 0 0 #000;border:1px solid #000;color:#FFF;}
#pageZone span.Disabled{color:#dbe1e6;padding:0 13px;}
#pageZone .number{font-size:16px;}








/*  |xGv00|5674ef217786d967282a1e13e1f95cf1 */