@charset "utf-8";

.jiange{
text-align:center;
font-size:15px;
color:#666;
padding:20px;
}

* {
	margin:0;
	padding:0;
	list-style-type:none;
}
a, img {
	border:0;
}
body {
	font-size:12px; 
	font-family:微软雅黑;
}
/* caselist */
.caselist {
	width:990px;
	margin:10px 20px 0 25px;
}
.caselist li {
	width:210px;
	height:270px;
	float:left;
	margin:0 25px 15px 0;
	position:relative;
	overflow:hidden;
}
.tagImg1 {
	width:210px;
	height:210px;
	display:block;
	position:absolute;
	left:0px;
	top:0px;
}
.tagImg1 img {
	width:210px;
	height:210px;
}
.tagImg2 {
	width:59px;
	height:59px;
	display:block;
	float:left;
	margin:0 10px 0 0;
}
.tagImg2 img {
	width:59px;
	height:59px;
}
.tagDiv1 {
	background:#F4F4F4;
	border:1px solid #E7E7E7;
	padding:10px;
	width:190px;
	height:270px;
	position:absolute;
	left:0px;
	top:500px;
	z-index:2;
}
.tagDiv1 h3 {
	margin-top:5px;
	font-size:14px;
	color:#000;
	line-height:16px;
	font-family:微软雅黑;
}
.tagP1 {
	margin:5px 0 0;
	color:#666;
}

.tagP2 {
	line-height:20px;
	clear:both;
	color:#666;
	padding:5px 0 0;
	height:270px;
	overflow:hidden;
}
span{
    color:#ff0000;
}
a:link {color: #FF0000;text-decoration:none;}     /* 未访问的链接 */
a:visited {color: #00FF00;text-decoration:none;}  /* 已访问的链接 */
a:hover {color: #FF00FF;text-decoration:none;}    /* 当有鼠标悬停在链接上 */
a:active {color: #0000FF;text-decoration:none;}   /* 被选择的链接 */
/*  |xGv00|33fec1a8c0edbb8fff134ab8f33c4c52 */