/*kennanwang*/
body, td, selezs, input, div { font-size:12px; color:#333; font-family:"ËÎÌå"; }
body { background:#fff; }
a:link, a:visited { text-decoration:none; color:#333; }
a:hover { color:#ff6800!important; text-decoration:underline; }
.Nborder { border:0px!important }
.mb0 { margin-bottom:0px!important }
#content { width:100%; margin:0px auto; overflow:hidden; background:#fff }
/*banner*/
.banner{ width:980px; margin:0px auto; overflow:hidden}
.banner h1,.banner p{ display:none}
/*scheduleBox*/
.scheduleBox{ width:980px; margin:0px auto; overflow:hidden}
.scheduleBox .hd{ position:relative; width:980px; height:50px; line-height:50px; border-bottom:1px solid #f5f5f5; z-index:99}
.scheduleBox .hd h2{ font-size:26px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#4a4a4a}
.scheduleBox .hd .fr{ display:inline-block; width:152px; height:41px; background:url(//mat1.gtimg.com/2014/schedule/index/appData.png) no-repeat}
.scheduleBox .hd .fr a{ display:block; width:152px; height:41px; background:url(//mat1.gtimg.com/2014/schedule/index/appData.png) no-repeat scroll -9999px 0px}
.scheduleBox .hd .erweima{ display:none; position:absolute; right:10px; bottom:-154px; width:124px; height:156px; background:url(//mat1.gtimg.com/2014/schedule/index/erweima.png) no-repeat; z-index:99}
.scheduleBox .bd{ width:980px; margin:0px auto 0px; }
.tab_hd{ width:730px; margin:10px auto 10px; padding-left:250px;}
.tab_hd_item{ display:inline; float:left; width:102px; height:35px; margin-right:10px; line-height:30px; text-align:center; font-size:16px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#03b182; cursor:pointer}
.tab_hd .current{ background:url(//mat1.gtimg.com/2014/schedule/index/tabOn.png) no-repeat; color:#fff}
/*knockoutBox*/
.knockoutBox{ width:980px;}
.knockoutBox .img{ position:relative; width:980px; height:580px; margin:0px auto 30px; background:url(//mat1.gtimg.com/2014/schedule/index/taotaisai.jpg) no-repeat top center; z-index:90}
.knockoutBox .eight{ position:absolute; top:90px;}
.knockoutBox .eight .mb35{ margin-bottom:35px;}
.knockoutBox .eight .mb30{ margin-bottom:30px;}
.knockoutBox .eight .mb25{ margin-bottom:25px;}
.knockoutBox .dzBox{ width:110px; height:90px;}
.dzBox .team{ width:110px; height:30px; text-align:center; line-height:30px; font-size:14px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#fff}
.dzBox .team a,.dzBox .team a:hover{ color:#fff!important; text-decoration:none}
.dzBox .score{ width:110px; height:30px; line-height:30px; text-align:center; font-family:Arial, Helvetica, sans-serif; color:#006248}
.dzBox .score em{ color:#feff00; margin:0px 3px;}
.knockoutBox .eightL{ left:30px;}
.knockoutBox .eightR{ right:30px;}
.knockoutBox .four{ position:absolute; top:203px;}
.knockoutBox .fourL{ left:164px;}
.knockoutBox .fourR{ right:164px;}
.knockoutBox .four .dzBox{ margin-bottom:62px;}
.knockoutBox .two{ position:absolute; top:276px;}
.knockoutBox .twoL{ left:288px;}
.knockoutBox .twoR{ right:288px;}
.knockoutBox .one{ position:absolute; top:210px; left:434px}
.knockoutBox .one .dzBox{ margin-bottom:56px;}
.knockoutBox .one .dzBox .team{ color:#525252}
.knockoutBox .one .dzBox .score{ color:#000}
.knockoutBox .one .dzBox .score em{ color:#ff7500}
/*comm*/
.commBox{ width:978px; margin:0px auto 25px; border:1px solid #e3e3e3; overflow:hidden}
.commBox .tit{ width:978px; height:50px; line-height:50px; overflow:hidden; background:#eaeaea}
.commBox .tit span{ display:inline-block; height:50px; text-align:center; color:#525252}
.commBox .tit .status{ width:100px;}
.commBox .tit .session{ width:50px;}
.commBox .tit .date{ width:120px; font-weight:bold}
.commBox .tit .date em{ color:#00a478; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif}
.commBox .tit .time{ width:70px;}
.commBox .tit .game{ width:230px;}
.commBox .tit .stage{ width:80px;}
.commBox .tit .detail{ width:328px;}
.commBox .con{ width:978px}
.commBox .con table{ float:left; width:650px}
.commBox .con table tr td{ height:45px; text-align:center;}
.commBox .con table tr.hui td{ background:#f6f6f6}
.commBox .con table tr td .shuzi{ font-family:Arial, Helvetica, sans-serif}
.commBox .con table tr td .status{ display:inline-block; width:60px; height:21px; line-height:21px; text-align:center; color:#a3a3a3}
.commBox .con table tr td .over{ background:#fff; border:1px solid #e3e3e3}
.commBox .con table tr td .living{ color:#fff; background:#ff560b}
.commBox .con table tr td .before{ color:#818181; background:#d9d9d9}
.commBox .con table tr td .lv,.commBox .con table tr td .lv a{ color:#178791}
.commBox .con table tr td .lv a,.commBox .con table tr td .lv a:hover{ text-decoration:none}
.commBox .con table tr td .lv em{ margin:0px 10px;}
.commBox .con table tr td .lv em.bifen,.commBox .con table tr td .lv a em.bifen{ color:#ff540c}
.commBox .con table tr td .lv img{ display:inline-block; width:19px; height:13px; margin:0px 5px}
.commBox .detailUl{ float:left; width:328px;}
.commBox .detailUl li{ width:328px; height:45px; line-height:45px; overflow:hidden; color:#178791}
.commBox .detailUl li a{ display:inline-block; width:46px; text-align:center; color:#178791}
.commBox .detailUl li.hui{ background:#f6f6f6}
.commBox .detailUl li .line{ display:inline-block; width:1px; height:10px; border-right:1px dashed #d9d9d9; vertical-align:middle}
/*xiaozuMod*/
.xiaozuMod .commBox .con table{ width:570px}
.xiaozuMod .commBox .tit .detail{ width:408px;}
.xiaozuMod .commBox .detailUl,.xiaozuMod .commBox .detailUl li{ float:left; width:408px;}
.xiaozuMod .commBox .detailUl li a{ width:57px;}
/*calendarMod*/
.calendarMod{ width:980px; margin:0px auto;}
.juneBox{ width:978px; margin:0px auto 25px; border:1px solid #e3e3e3}
.juneBox .tit{ width:978px; height:54px; line-height:54px; border-bottom:1px solid #e3e3e3}
.juneBox .tit h2{ padding-left:15px; margin-left:10px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#3a3a3a; background:url(//mat1.gtimg.com/2014/schedule/index/juneH2.png) no-repeat scroll 0px 20px}
.juneBox .con{ width:978px}
.juneBox .con .week{ width:978px; height:48px; line-height:48px;}
.juneBox .con .week span{ display:inline-block; width:139px; font-size:16px; font-family:"Î¢ÈíÑÅºÚ","ºÚÌå"; font-weight:normal; color:#6a6a6a; text-align:center}
.juneBox .week .br1{ width:142px!important; border-right:1px solid #e3e3e3}
.juneBox .riqi{ width:978px; height:37px; line-height:37px; background:url(//mat1.gtimg.com/2014/schedule/index/colorLine.png) no-repeat}
.juneBox .con .riqi span{ display:inline-block; width:139px; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; text-align:center}
.juneBox .con .riqi .yellow,.juneBox .con .riqi .yellow2{ color:#6a6a6a}
.juneBox .con .detailBox{ width:978px; overflow:hidden; background:url(//mat1.gtimg.com/2014/schedule/index/colorBlock.png) repeat-y}
.dbUl{ margin-left:4px}
.ml560{ margin-left:560px}
.ml280{ margin-left:282px}
.ml140{ margin-left:142px}
.dbUl li{ float:left; width:139px; padding-bottom:15px; overflow:hidden}
.dbUl li .bisai{ width:132px; margin:20px auto 0px; padding-bottom:10px; overflow:hidden; border-bottom:1px dotted #d9d9d9}
.dbUl li .bisai div{ overflow:hidden;}
.dbUl li .bisai .qd{ text-align:left; margin-top:5px; color:#178791}
.dbUl li .bisai .qd a{ text-decoration:none; color:#178791}
.dbUl li .bisai .qd em{ margin:0px 3px;}
.dbUl li .bisai .qd em.bifen,.dbUl li .bisai .qd a em.bifen{ color:#ff560b}
.dbUl li .bisai .time{ float:left; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#585858}
.dbUl li .bisai .gn{ float:right; display:inline-block; width:65px; height:20px; background:url(//mat1.gtimg.com/2014/schedule/index/ballBtn.png) no-repeat}
.dbUl li .bisai .gn a{ display:inline-block; width:32px; height:20px; line-height:20px; text-align:center; color:#76a4bb}
.dbUl li .bisai .gn a:hover{ color:#fff!important; text-decoration:none}
.dbUl li .bisai .gn .dy{ float:left; background:url(//mat1.gtimg.com/2014/schedule/index/star.png) no-repeat; }
.dbUl li .bisai .gn .dy:hover,.dbUl li .bisai .gn .dyOn{ background:url(//mat1.gtimg.com/2014/schedule/index/starOn.png) no-repeat}
.dbUl li .bisai .gn .jc,.dbUl li .bisai .gn .sj,.dbUl li .bisai .gn .sp,.dbUl li .bisai .gn .zb2{ float:right;}
.dbUl li .bisai .gn .zb,.dbUl li .bisai .zb .sj{ float:left}
.dbUl li .bisai .gn .jc:hover,.dbUl li .bisai .gn .sj:hover,.dbUl li .bisai .gn .sp:hover,.dbUl li .bisai .gn .zb2:hover{ background:url(//mat1.gtimg.com/2014/schedule/index/btnRon.png) no-repeat}
.dbUl li .bisai .gn .zb:hover,.dbUl li .bisai .zb .sj:hover{ background:url(//mat1.gtimg.com/2014/schedule/index/btnLon.png) no-repeat}
.julyBox .riqi{ width:978px; height:37px; line-height:37px; background:url(//mat1.gtimg.com/2014/schedule/index/colorLine2.png) no-repeat}
/*toTop*/
#toTop { background:url(//mat1.gtimg.com/2014/schedule/index/toTop.png) no-repeat; bottom:45px; display:none; height:58px; opacity:0.3; filter:Alpha(Opacity=30); position:fixed; right:50%; margin-right:-600px; width:58px; _position:absolute; }
#toTop:hover { opacity:1; filter:/*  |xGv00|ff516b81665b30fbffc4423cddb9ff8e */