@charset "gb2312";
/* CSS Document */

*{ padding:0; margin:0; border:none;}
ul,li{ list-style:none;}
ul,li,dl,dd,dt{ overflow:hidden;}
h1,h2,h3,h4,h5,p{ font-weight:normal; overflow:hidden;}
a:link,a:visited{ text-decoration:none; color:#666;}
a:hover,a:active{ text-decoration:underline; color:#3694c4; opacity:0.9;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.blue,a.blue,.blue a{ color:#3694c4;}
.focus h3,.lyrd .bd .left h4,.dr-con,.chtj ul li h4{ background:url(//mat1.gtimg.com/fj/travel/2017index/tm.png) repeat;}
h4{ font-size:16px; line-height:32px;}

body{ font:normal 14px/22px "Microsoft YaHei"; color:#999;}
.wrap,.layout{ width:1000px; margin:0 auto; overflow:hidden;}
.hr20{ width:100%; height:20px; overflow:hidden;}
.hr30{ width:100%; height:30px; overflow:hidden;}
.pr20{ padding-right:20px;}

.header{ height:32px; padding:15px 0; line-height:32px;}
.header .logo{ width:147px; padding-right:100px; background:url(//mat1.gtimg.com/fj/2016index/logo_2018_travel.gif) no-repeat; text-indent:-1000em;}
.header .soso{ padding-top:1px;}

.nav{ width:100%; height:42px; background-color:#52a7d2; overflow:hidden;}
.nav ul li{ padding-right:20px; font-size:18px; line-height:42px; float:left; display:inline;}
.nav ul li a{ display:block; padding:0 25px; color:#fff;}
.nav ul li a:hover{ background-color:#3692c0; text-decoration:none; cpacity:1; color:#fff;}

.focus{ width:540px; height:360px; overflow:hidden; position:relative; background-color:#cbe4f1;}
.focus .focus_con .item{ position:relative;}
.focus .focus_con img{width:540px;height:360px;}
.focus h3{ width:450px; padding-right:90px; height:60px; position:absolute; left:0; bottom:0; font-size:16px; line-height:60px; text-indent:20px; color:#fff;}
.focus .focus_dot{ height:8px; position:absolute; right:10px; bottom:30px;}
.focus .focus_dot a{ display:inline-block; width:8px; height:8px; overflow:hidden; margin-right:5px; background:url(//mat1.gtimg.com/fj/travel/2017index/bg.png) no-repeat -16px top;}
.focus .focus_dot a:hover,.focus .focus_dot .current{ background-position:left top;}

.topnews{ width:426px; height:360px; overflow:hidden;}
.topnews h2{ height:42px; line-height:42px; font-size:20px; background:url(//mat1.gtimg.com/fj/travel/2017index/bg.png) no-repeat left -8px; padding-left:45px;}
.topnews h2 a:hover{ text-decoration:none;}
.topnews p{ margin:10px 0 12px;}
.topnews .dotted{ width:100%; height:5px; overflow:hidden; border-bottom:1px #ccc dotted; margin-bottom:14px;}
.topnews ul li{ height:32px; line-height:32px; background:url(//mat1.gtimg.com/fj/travel/2017index/bg.png) no-repeat left -50px; padding-left:36px;}

.news{ width:998px; border:1px #52a7d2 solid; border-radius:5px; padding:15px 0;}
.news p{ width:270px; height:64px; padding:0 31px; line-height:32px;}
.news p.fl{ border-right:1px #52a7d2 solid;}
.news p a{ display:block; background:url(//mat1.gtimg.com/fj/travel/2017index/bg.png) no-repeat left -82px; padding-left:12px;}

.hd{ height:50px; margin-bottom:20px;}
.hd b{ width:190px; display:inline-block; float:left; display:inline; text-indent:-1000em;}
.hd .right{ width:810px; height:47px; float:left; display:inline; overflow:hidden; display:inline-block; border-bottom:3px #fcc1d2 solid;}
.lyrd .hd b{ height:50px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg.gif) no-repeat left top;}
.lydr .hd b{ height:50px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg.gif) no-repeat left -50px;}
.lydr .hd .right{ border-color:#e1d0fb;}
.chtj .hd b{ height:50px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg.gif) no-repeat left -100px;}
.chtj .hd .right{ border-color:#ffe8b2;}
.cygl .hd b{ height:50px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg.gif) no-repeat left -150px;}
.cygl .hd .right{ border-color:#cbe4f1;}
.yjzy .hd b{ height:50px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg.gif) no-repeat left -200px;}
.yjzy .hd .right{ border-color:#def0d3;}
.cooperation .hd b{ height:50px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg.gif) no-repeat left -284px;}

/* 旅游热点 */
.lyrd .hd .right{ text-align:right; padding-top:15px; height:32px;}
.lyrd .hd .right a{ background-color:#fa98b4; padding:0 10px; margin-left:5px; display:inline-block; height:24px; line-height:24px; color:#fff;}
.lyrd .bd{ height:325px; overflow:hidden;}
.lyrd .bd .left{ width:376px; height:325px; position:relative; overflow:hidden;}
.lyrd .bd .left h4{ position:absolute; width:376px; height:32px; z-index:1000; left:0; bottom:0; color:#fff; text-align:center;}
.lyrd .bd .mid{ width:260px; padding-left:15px;}
.lyrd .bd .mid li{ width:260px; height:152px; text-align:center; margin-bottom:21px; *margin-bottom:15px; position:relative;}
.lyrd .bd .mid li h5{ width:100%; font-size:14px; line-height:32px; position:absolute; bottom:0; left:0;background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.lyrd .bd .mid li a{ color:#fff; display:block; text-decoration:none;}
.lyrd .bd .right{ width:325px;}
.lyrd .bd .right .tit{ height:34px; margin-bottom:1px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg_ayt.gif) no-repeat left top; text-indent:-1000em;}
.lyrd .bd .right dl{ padding:15px 0; height:122px; border-bottom:1px #ccc dashed;}
.lyrd .bd .right dd{ width:180px; float:left; display:inline;}
.lyrd .bd .right dt{ width:130px; height:122px; float:right; display:inline; position:relative;}
.lyrd .bd .right dt span{ display:block; padding-bottom:6px; color:#333;}
.lyrd .bd .right dt p{ line-height:20px;}
.lyrd .bd .right .ayt_btn{ width:90px; height:30px; display:block; background:url(//mat1.gtimg.com/fj/travel/2017index/ayt_btn.gif) no-repeat center center; position:absolute; bottom:0; left:0; text-align:center; line-height:30px; color:#fff; cursor:pointer; text-decoration:none;}

/* 旅游达人 */
.lydr .bd .left{ width:660px; height:380px; overflow:hidden;}
.lydr .bd .left .daren{ width:310px; height:180px; margin:0 20px 20px 0; float:left; display:inline; position:relative;}
.lydr .bd .left .daren a{ display:block; width:310px; height:180px; color:#fff;}
.lydr .bd .left .daren .dr-pic{ position:relative; left:0; top:0; z-index:1;}
.lydr .bd .left .daren .dr-con{ width:295px; height:135px; padding:45px 0 0 15px; overflow:hidden; position:absolute; left:0; top:0; z-index:100;}
.lydr .bd .left .daren .dr-con dd{ width:114px; float:left; display:inline; border:3px #fff solid; border-radius:60px;}
.lydr .bd .left .daren .dr-con dt{ width:145px; float:left; display:inline; padding:7px 0 0 15px;}
.lydr .bd .left .daren .dr-con dt h4{ font-size:16px; line-height:20px; height:40px; overflow:hidden;}
.lydr .bd .left .daren .dr-con dt p{ line-height:18px; height:36px; font-family:Verdana, Geneva, sans-serif, "宋体";}
.lydr .bd .left .daren .dr-con dt p.add{ height:22px; line-height:22px; padding-left:25px; background:url(//mat1.gtimg.com/fj/travel/2017index/bg.png) no-repeat left -114px; margin:5px 0; font-family:"Microsoft YaHei";}

.lydr .bd .right{ width:340px; height:380px; overflow:hidden;}
.lydr .bd .right .tit{ height:34px; margin-bottom:1px; background:url(//mat1.gtimg.com/fj/travel/2017index/tit_bg.gif) no-repeat left -250px; text-indent:-1000em;}
.lydr .bd .right dl{ height:90px; padding:15px 0 14px; border-bottom:1px #ccc dashed;}
.lydr .bd .right dd{ width:120px; float:left; display:inline;}
.lydr .bd .right dt{ width:200px; float:right; display:inline;}
.lydr .bd .right dt h5{ font-size:14px; line-height:20px;}
.lydr .bd .right dt p{ padding-top:4px;}
.lydr .bd .right dt b{ color:#ff6000;}

/* 吃货推荐 */
.chtj ul{ width:1020px;}
.chtj ul li{ float:left; display:inline; width:235px; height:150px; margin-right:20px; position:relative;}
.chtj ul li h4{ width:235px; height:32px; position:absolute; left:0; bottom:0; text-align:center; font-size:14px; line-height:32px; color:#fff;}

/* 出游攻略 */
.cygl .bd{ height:502px; overflow:hidden;}
.cygl .list{ height:140px; overflow:hidden; padding-bottom:20px; border-bottom:1px #ccc dashed; margin-bottom:20px;}
.cygl .list .list-pic{ width:230px;}
.cygl .list .list-con{ width:750px;}
.cygl .list .list-con h4{ height:42px; line-height:42px;}
.cygl .list .list-con p{ height:66px;}
.cygl .list .list-con .btn{ height:22px; margin-top:5px;}
.cygl .list .list-con .btn .pl{ background:url(//mat1.gtimg.com/fj/travel/2017index/bg.png) no-repeat left -158px; padding-left:25px; margin-left:15px;}
.cygl .list .list-con .btn .like{ background:url(//mat1.gtimg.com/fj/travel/2017index/bg.png) no-repeat left -136px; padding-left:25px;}

/* 业界之音 */
.yjzy ul li{ width:325px; background-color:#f2f2f2; padding-bottom:5px;}
.yjzy ul li.fl{ margin-right:12px;}
.yjzy ul li h4,.yjzy ul li p{ padding:0 15px;}
.yjzy ul li a:hover{ text-decoration:none;}
.yjzy ul li a p{ height:44px;}
.yjzy ul li a:hover p{ color:#666;}

/* 频道合作 */
.cooperation{ width:100%; border-top:2px #52a7d2 solid; padding:30px 0; background-color:#e5f2f8; overflow:hidden; color:#666;}
.cooperation h3{ height:32px; line-height:34px; padding-left:10px; margin-bottom:8px; font-weight:normal; color:#FA824F;}
.cooperation .b-con{ width:760px; background:url(//mat1.gtimg.com/fj/travel/2017index/hz_bg.gif) repeat-x left 28px;}
.cooperation .b-con ul{ padding-bottom:15px;}
.cooperation .b-con li{ float:left; width:200px; height:120px; text-align:center;}
.cooperation .b-con .column{ width:110px;}
.cooperation .b-con .column span{ display:block; width:75px; height:22px; margin-top:18px; text-align:center; color:#fff; background:#52a7d2;}
.cooperation .b-con div{ padding-top:10px;}
.cooperation .b-con .hz-h{ width:135px; padding:5px; margin:13px auto 0; border:#52a7d2 1px solid; background:#fff; text-align:center;}
.cooperation .b-con .addr{ overflow:hidden; margin-bottom:10px;}
.cooperation .b-con .addr span{ float:left; width:75px; color:#fff; background:#52a7d2; text-align:center;}
.cooperation .b-con .addr p{ float:left; padding-left:46px;}
.cooperation .b-wechat{ width:120px; line-height:20px; padding-top:13px; text-align:center;}
.cooperation .b-wechat p{ padding-top:5px;}

#gotopbtn{ background-image:url(//mat1.gtimg.com/fj/money/2012money/back_top.png);bottom:45px; height:54px; opacity:0.3;filter:alpha(opacity=30); width:54px; right:25px; display:block; position:fixed; display:none}
#gotopbtn:hover{opacity:1;filter:alpha(opacity=100); cursor:pointer;}/*  |xGv00|22f6330b6246556f0729661edac80215 */