TD
{
    FONT-SIZE: 12px;
    COLOR: #5B5B5B;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}

.FONT01
{
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}

.FONT02
{
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    LINE-HEIGHT: 16px;
    TEXT-DECORATION: none
}

A:link
{
    FONT-SIZE:12px;
    COLOR:#FFFFFF;
    TEXT-DECORATION:none
}
A:visited
{
    FONT-SIZE:12px;
    color:#FFFFFF;
    TEXT-DECORATION:none
}
A:active
{
    FONT-SIZE:12px;
    color:#FFFFFF;
    TEXT-DECORATION:none
}
A:hover
{
    FONT-SIZE:12px;
    color:#FFFFFF;
    TEXT-DECORATION:underline
}
A.A01:link
{
    FONT-SIZE:12px;
    color:#AE6CD8;
    TEXT-DECORATION:none
}
A.A01:visited
{
    FONT-SIZE:12px;
    color:#AE6CD8;
    TEXT-DECORATION:none
}

A.A01:active
{
    FONT-SIZE:12px;
    color:#AE6CD8;
    TEXT-DECORATION:none
}
A.A01:hover
{
    FONT-SIZE:12px;
    color:#AE6CD8;
    TEXT-DECORATION:underline
}

A.A02:link
{
    FONT-SIZE:12px;
    color:#5B5B5B;
    TEXT-DECORATION:none
}
A.A02:visited
{
    FONT-SIZE:12px;
    color:#5B5B5B;
    TEXT-DECORATION:none
}
A.A02:active
{
    FONT-SIZE:12px;
    color:#5B5B5B;
    TEXT-DECORATION:none
}
A.A02:hover
{
    FONT-SIZE:12px;
    color:#5B5B5B;
    TEXT-DECORATION:underline
}

A.A03:link
{
    FONT-SIZE:12px;
    color:#E05010;
    TEXT-DECORATION:none
}
A.A03:visited
{
    FONT-SIZE:12px;
    color:#E05010;
    TEXT-DECORATION:none
}
A.A03:active
{
    FONT-SIZE:12px;
    color:#E05010;
    TEXT-DECORATION:none
}
A.A03:hover
{
    FONT-SIZE:12px;
    color:#E05010;
    TEXT-DECORATION:underline
}

A.f01:link
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:none
}
A.f01:visited
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:none
}

A.f01:active
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:none
}
A.f01:hover
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:underline
}

A.f02:link
{
    FONT-SIZE:14px;
    color:#F277B0;
    TEXT-DECORATION:none
}
A.f02:visited
{
    FONT-SIZE:14px;
    color:#F277B0;
    TEXT-DECORATION:none
}

A.f02:active
{
    FONT-SIZE:14px;
    color:#F277B0;
    TEXT-DECORATION:none
}
A.f02:hover
{
    FONT-SIZE:14px;
    color:#F277B0;
    TEXT-DECORATION:underline
}

A.f03:link
{
    FONT-SIZE:14px;
    color:#8296DE;
    TEXT-DECORATION:none
}
A.f03:visited
{
    FONT-SIZE:14px;
    color:#8296DE;
    TEXT-DECORATION:none
}

A.f03:active
{
    FONT-SIZE:14px;
    color:#8296DE;
    TEXT-DECORATION:none
}
A.f03:hover
{
    FONT-SIZE:14px;
    color:#8296DE;
    TEXT-DECORATION:underline
}

A.f04:link
{
    FONT-SIZE:14px;
    color:#EC6E6E;
    TEXT-DECORATION:none
}
A.f04:visited
{
    FONT-SIZE:14px;
    color:#EC6E6E;
    TEXT-DECORATION:none
}

A.f04:active
{
    FONT-SIZE:14px;
    color:#EC6E6E;
    TEXT-DECORATION:none
}
A.f04:hover
{
    FONT-SIZE:14px;
    color:#EC6E6E;
    TEXT-DECORATION:underline
}

A.f05:link
{
    FONT-SIZE:12px;
    color:#A2A1A2;
    TEXT-DECORATION:none
}
A.f05:visited
{
    FONT-SIZE:12px;
    color:#A2A1A2;
    TEXT-DECORATION:none
}

A.f05:active
{
    FONT-SIZE:12px;
    color:#A2A1A2;
    TEXT-DECORATION:none
}
A.f05:hover
{
    FONT-SIZE:12px;
    color:#A2A1A2;
    TEXT-DECORATION:underline
}

.solid01
{
    BORDER-RIGHT: #9C4E89 1px solid;
    BORDER-TOP: #9C4E89 1px solid;
    BORDER-LEFT: #9C4E89 1px solid;
    BORDER-BOTTOM: #9C4E89 1px solid
}

.SOLID02
{
    BORDER-LEFT: #90C1E4 1px solid;
    BORDER-RIGHT: #90C1E4 1px solid;
    BORDER-BOTTOM: #90C1E4 1px solid
	} 

.dash
{
    BORDER-RIGHT: #EBEBEB 1px dash;
    BORDER-TOP: #EBEBEB 1px dash;
    BORDER-LEFT: #EBEBEB 1px dash;
    BORDER-BOTTOM: #EBEBEB 1px dash
}

.inputForm
{
    BORDER-RIGHT: #989790 1px solid;
    BORDER-TOP: #989790 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #989790 1px solid;
    BORDER-BOTTOM: #989790 1px solid;
    FONT-FAMILY: свт╟
}

.inp01
{    
    width:36px;
    height:19px;
    font-size:12px;
    background:#FFEEFF;
}

.sel01
{
    font-size:12px;
    height:20px
}

.t01
{
    border-left:#ffffff 1px dashed;
    border-right:#ffffff 1px dashed
}

.style01 { font-size: 14px; padding-top: 10px }
.style02 { color: #FFFFFF;padding-left: 8px}
.style03 { font-size: 16px}
.style04 {  font-size: 14px; padding-left: 10px; padding-top: 6px}
.topmenu {padding-top:4px}
.style05 {font-size: 7px; color:#ACACAC }
.style06 {color:#845CB7; font-size:14px; padding-left:8px;LINE-HEIGHT:150%}
.style07 {color:#FF4F9F; font-size:14px; padding-TOP:8px;LINE-HEIGHT: 150%}
.FOOTER1{FONT-SIZE:12px;COLOR:#3B3B3B;TEXT-DECORATION:none}

A.top:link {    FONT-SIZE:12px;    COLOR:#3B3B3B;    TEXT-DECORATION:none}
A.top:visited{    FONT-SIZE:12px;    COLOR:#3B3B3B;    TEXT-DECORATION:none} 
A.top:active {    FONT-SIZE:12px;    COLOR:#3B3B3B;    TEXT-DECORATION:none}
A.top:hover {    FONT-SIZE:12px;    COLOR:#3B3B3B;    TEXT-DECORATION:none}

A.lead:link { color: #FFFFFF; TEXT-DECORATION: none }
A.lead:visited { COLOR: #FFFFFF; TEXT-DECORATION: none } 
A.lead:active { COLOR: #FFFFFF; TEXT-DECORATION: underline } 
A.lead:hover { COLOR: #FFFFFF; TEXT-DECORATION: underline }

A.FOOTER:link{    FONT-SIZE:12px;    COLOR:#3B3B3B;    TEXT-DECORATION:none}
A.FOOTER:visited{    FONT-SIZE:12px;    COLOR:#3B3B3B;    TEXT-DECORATION:none}
A.FOOTER:active{    FONT-SIZE:12px;    COLOR:#3B3B3B;    TEXT-DECORATION:none}
A.FOOTER:hover{    FONT-SIZE:12px;    color:#3B3B3B;    TEXT-DECORATION:none}

A.A04:link{    FONT-SIZE:14px;    COLOR:#FF4F9F; LINE-HEIGHT: 150%; TEXT-DECORATION:none}
A.A04:visited{    FONT-SIZE:14px;    COLOR:#FF4F9F; LINE-HEIGHT: 150%; TEXT-DECORATION:none}
A.A04:active{    FONT-SIZE:14px;    COLOR:#FF4F9F; LINE-HEIGHT: 150%; TEXT-DECORATION:underline}
A.A04:hover{    FONT-SIZE:14px;    color:#FF4F9F; LINE-HEIGHT: 150%; TEXT-DECORATION:underline}

A.A05:link{ FONT-SIZE:14px; COLOR:#845CB7; LINE-HEIGHT: 30px; TEXT-DECORATION:none}
A.A05:visited{FONT-SIZE:14px; COLOR:#845CB7; LINE-HEIGHT: 30px; TEXT-DECORATION:none}
A.A05:active{FONT-SIZE:14px; COLOR:#845CB7; LINE-HEIGHT:30px; TEXT-DECORATION:underline}
A.A05:hover{FONT-SIZE:14px; color:#845CB7;LINE-HEIGHT:30px; TEXT-DECORATION:underline}

A.scroll:link{FONT-SIZE:14px;color:#5CA1D4;TEXT-DECORATION:none}
A.scroll:visited{FONT-SIZE:14px;color:#5CA1D4;TEXT-DECORATION:none}
A.scroll:active{FONT-SIZE:14px;color:#5CA1D4;TEXT-DECORATION:none}
A.scroll:hover{FONT-SIZE:14px;color:#5CA1D4;TEXT-DECORATION:underline}

.scroll01{font-size: 14px;line-height: 150%;color: #5CA1D4;}

A.bbs0507:link{FONT-SIZE:12px;COLOR:#555555;LINE-HEIGHT:20px;TEXT-DECORATION:none}
A.bbs0507:visited{FONT-SIZE:12px;COLOR:#555555;LINE-HEIGHT:20px;TEXT-DECORATION:none}
A.bbs0507:active{FONT-SIZE:12px;COLOR:#555555;LINE-HEIGHT:20px;TEXT-DECORATION:none}
A.bbs0507:hover{FONT-SIZE:12px;COLOR:#555555;LINE-HEIGHT:20px;TEXT-DECORATION:underline}

A.dred12:link {	FONT-SIZE: 12px; COLOR: #ff688e; TEXT-DECORATION: none}
A.dred12:visited {FONT-SIZE: 12px; COLOR: #ff688e; TEXT-DECORATION: none}
A.dred12:active {FONT-SIZE: 12px; COLOR: #ff688e; TEXT-DECORATION: none}
A.dred12:hover {FONT-SIZE: 12px; COLOR: #ff688e; TEXT-DECORATION: underline}

A.bwhite:link {FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none}
A.bwhite:visited {FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none}
A.bwhite:active {FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-DECORATION: none}
A.bwhite:hover {FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: underline}

.white14b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}