td {font-size: 12px;}

A:link { COLOR: #262626; TEXT-DECORATION: none}
A:visited {COLOR: #262626; TEXT-DECORATION: none}
A:hover { COLOR: #ff0000; TEXT-DECORATION: underline}
A:active { COLOR: #ff0000; TEXT-DECORATION: underline}

A.b:link { COLOR: #000000; TEXT-DECORATION: none; LINE-HEIGHT:18px; FONT-SIZE: 12px;}
A.b:visited {COLOR: #000000; TEXT-DECORATION: none; LINE-HEIGHT:18px; FONT-SIZE: 12px;}
A.b:hover { COLOR: #ff0000; TEXT-DECORATION: underline; LINE-HEIGHT:18px; FONT-SIZE: 12px;}
A.b:active { COLOR: #ff0000; TEXT-DECORATION: underline; LINE-HEIGHT:18px; FONT-SIZE: 12px;}

A.p:link { COLOR: #525252; TEXT-DECORATION: none;FONT-SIZE: 12px;}
A.p:visited {COLOR: #525252; TEXT-DECORATION: none;FONT-SIZE: 12px;}
A.p:hover { COLOR: #ff0000; TEXT-DECORATION: underline;FONT-SIZE: 12px;}
A.p:active { COLOR: #ff0000; TEXT-DECORATION: underline;FONT-SIZE: 12px;}

A.w12:link { COLOR: #FFFFFF;  TEXT-DECORATION: none }
A.w12:visited { COLOR: #FFFFFF; TEXT-DECORATION: none }
A.w12:hover { COLOR: #FFFFFF; TEXT-DECORATION: underline }
A.w12:active { COLOR: #FFFFFF; TEXT-DECORATION: underline }

.td18 {  font-size: 12px; line-height: 18px}
.wf12  { FONT-SIZE: 12px;  COLOR: #FFFFFF; }
.rfb12  { FONT-SIZE: 12px;  font-weight:bold; COLOR: #E20F9F; }
.upright { color:#FFFFFF; font-weight:bold; layout-flow: vertical-ideographic ; letter-spacing: 6px; padding-top:55px;}
.pcbg {
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #FFFFFF;
	background-image: url(/images/superstar/pic_bg1.jpg);
}
.m{border:0;width:120px;height:90px;margin: 5px 0 4px 0;}