body {
	MARGIN: 0px;
	font-size: 12px;
	text-decoration: none;
	line-height:150%;
}
INPUT {	FONT-SIZE: 12px; LINE-HEIGHT: 120%; HEIGHT: 20px }
SELECT { FONT-SIZE: 12px; LINE-HEIGHT: 120%; HEIGHT: 20px }
TEXTAREA { FONT-SIZE: 12px; LINE-HEIGHT: 120% }
.m{font-size:12px}

A:link { FONT-SIZE: 12px; COLOR: #555555;  LINE-HEIGHT: 20px; TEXT-DECORATION: none }
A:visited {	FONT-SIZE: 12px; COLOR: #555555;  LINE-HEIGHT: 20px; TEXT-DECORATION: none }
A:active { FONT-SIZE: 12px; COLOR: #555555;  LINE-HEIGHT: 20px; TEXT-DECORATION: none }
A:hover { FONT-SIZE: 12px; COLOR: #555555;   LINE-HEIGHT: 20px; TEXT-DECORATION: underline }

A.lwhite:link { FONT-SIZE: 12px; COLOR: #FFFFFF; TEXT-DECORATION: none }
A.lwhite:visited {	FONT-SIZE: 12px; COLOR: #FFFFFF; TEXT-DECORATION: none }
A.lwhite:active { FONT-SIZE: 12px; COLOR: #FFFFFF; TEXT-DECORATION: none }
A.lwhite:hover { FONT-SIZE: 12px; COLOR: #FFFFFF; TEXT-DECORATION: underline }

A.bwhite:link {COLOR: #FFFFFF; TEXT-DECORATION: none; font-weight: bold }
A.bwhite:visited {COLOR: #FFFFFF; TEXT-DECORATION: none; font-weight: bold }
A.bwhite:active {COLOR: #FFFFFF; TEXT-DECORATION: none; font-weight: bold }
A.bwhite:hover {COLOR: #FF0000; TEXT-DECORATION: underline; font-weight: bold }

A.lm:link { COLOR: #BD53CA; TEXT-DECORATION: underline}
A.lm:visited { COLOR: #BD53CA; TEXT-DECORATION: underline}
A.lm:active { COLOR: #BD53CA; TEXT-DECORATION: underline}
A.lm:hover {  COLOR: #555555; TEXT-DECORATION: underline}

A.dgray12:link { FONT-SIZE: 12px; COLOR: #4D4D4D; TEXT-DECORATION: none }
A.dgray12:visited {	FONT-SIZE: 12px; COLOR: #4D4D4D; TEXT-DECORATION: none }
A.dgray12:active { FONT-SIZE: 12px; COLOR: #4D4D4D; TEXT-DECORATION: none }
A.dgray12:hover { FONT-SIZE: 12px; COLOR: #4D4D4D; TEXT-DECORATION: underline }

A.dgray14:link{FONT-SIZE:14px; COLOR: #4D4D4D; LINE-HEIGHT: 150%; TEXT-DECORATION: none }
A.dgray14:visited{FONT-SIZE:14px;COLOR: #4D4D4D;LINE-HEIGHT: 150%; TEXT-DECORATION: none }
A.dgray14:active{FONT-SIZE:14px; COLOR: #4D4D4D;LINE-HEIGHT: 150%; TEXT-DECORATION: none }
A.dgray14:hover{FONT-SIZE:14px;COLOR: #4D4D4D;LINE-HEIGHT: 150%; TEXT-DECORATION: underline}

A.dred14:link { FONT-SIZE: 14px; COLOR: #FF688E;LINE-HEIGHT: 150%; TEXT-DECORATION: none }
A.dred14:visited {	FONT-SIZE: 14px; COLOR: #FF688E;LINE-HEIGHT:150%;TEXT-DECORATION: none }
A.dred14:active { FONT-SIZE: 14px; COLOR: #FF688E;LINE-HEIGHT: 150%;TEXT-DECORATION: none }
A.dred14:hover { FONT-SIZE:14px;COLOR:#FF688E;LINE-HEIGHT:150%;TEXT-DECORATION: underline }

A.dred12:link { FONT-SIZE: 12px; COLOR: #FF688E; TEXT-DECORATION: none }
A.dred12:visited {	FONT-SIZE: 12px; COLOR: #FF688E; TEXT-DECORATION: none }
A.dred12:active { FONT-SIZE: 12px; COLOR: #FF688E; TEXT-DECORATION: none }
A.dred12:hover { FONT-SIZE: 12px; COLOR: #FF688E; TEXT-DECORATION: underline }

A.lred:link { FONT-SIZE: 12px; COLOR: #FF5400;  LINE-HEIGHT: 150%;TEXT-DECORATION: none }
A.lred:visited { FONT-SIZE: 12px; COLOR: #FF5400; LINE-HEIGHT: 150%; TEXT-DECORATION: none }
A.lred:active { FONT-SIZE: 12px; COLOR: #FF5400; LINE-HEIGHT: 150%; TEXT-DECORATION: none }
A.lred:hover { FONT-SIZE: 12px; COLOR: #FF5400; LINE-HEIGHT: 150%;TEXT-DECORATION: underline}

A.btitle:link { FONT-SIZE: 15px; COLOR: #4D4D4D; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.btitle:visited { FONT-SIZE: 15px; COLOR: #4D4D4D; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.btitle:active { FONT-SIZE: 15px; COLOR: #4D4D4D; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.btitle:hover { FONT-SIZE: 15px; COLOR: #4D4D4D; FONT-WEIGHT:bold; TEXT-DECORATION: underline }

A.btitlered:link { FONT-SIZE: 15px; COLOR: #ff0000; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.btitlered:visited { FONT-SIZE: 15px; COLOR: #ff0000; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.btitlered:active { FONT-SIZE: 15px; COLOR: #ff0000; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.btitlered:hover { FONT-SIZE: 15px; COLOR: #ff0000; FONT-WEIGHT:bold; TEXT-DECORATION: underline }

A.title12:link { FONT-SIZE: 12px; COLOR: #555555; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.title12:visited { FONT-SIZE: 12px;COLOR: #555555; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.title12:active { FONT-SIZE: 12px; COLOR: #555555; FONT-WEIGHT:bold; TEXT-DECORATION: none }
A.title12:hover {FONT-SIZE:12px;COLOR:#555555;FONT-WEIGHT:bold; TEXT-DECORATION: underline }

.SELECT65 { FONT-SIZE: 12px; LINE-HEIGHT: 120%; width:65px; HEIGHT: 20px }
.SELECT115 { FONT-SIZE: 12px; LINE-HEIGHT: 120%; width:115px; HEIGHT: 20px }
.SELECT80 { FONT-SIZE: 12px; LINE-HEIGHT: 120%; width:80px; HEIGHT: 20px }
.sel01{font-size:12px;height:20px}

.wborder {	border: 3px solid #FFFFFF}
.wborder1{border: 3px solid #FFFFFF;width:120px;height:90px;margin: 0 0 5px 0;}
.wborder4{border: 1px solid #FFFFFF;width:120px;height:90px;margin: 0 0 5px 0;}
.wborder2{border: 3px solid #FFFFFF;width:91px;height:57px;margin: 0 0 6px 0;}
.wborder3{border: width:120px;height:90px;margin: 0 0 2px 0;}
.textp { text-indent: 2ex; line-height:120%}
.bluefont { font-size: 12px; color: #1599B6; }
.grayfont { font-size: 12px; color: #4D4D4D; }
.graybfont { font-size: 12px; FONT-WEIGHT:bold; color: #4D4D4D; }
.graybfont14 { font-size: 14px; FONT-WEIGHT:bold; color: #4D4D4D; }
.graybfont2 { font-size: 12px; FONT-WEIGHT:bold; color: #555555; }
.purplebfont { font-size: 12px; FONT-WEIGHT:bold; color: #CF69BD; }

.bold12 { font-size: 12px; font-weight:bold; }

.white12b {	font-size: 12px; color: #FFFFFF; font-weight: bold;}
.white14b {	font-size: 14px; color: #FFFFFF; font-weight: bold;}
.upright { font-size: 14px; color:555555; font-weight:bold; layout-flow: vertical-ideographic }
.cntlist{margin:0;padding:0;}
.cntlist ul{list-style:none; width:256px;}
.cntlist li{float:left;width:122px;padding-left:1px;}

.pcbg {
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	background-image: url(/images/superstar/pic_bg1.jpg);
}
.bg_zi {
	background-image: url(/newimages/bg_zi.gif);
	background-repeat: repeat-x;
}
.bg_hong{
	background-image: url(/newimages/bg_hong.gif);
	background-repeat: repeat-x;
}
.bg_lan{
	background-image: url(/newimages/bg_lan.gif);
	background-repeat: repeat-x;
}
.bg_hui{
	background-image: url(/newimages/bg_hui.gif);
	background-repeat: repeat-x;
}
.bg_huang{
	background-image: url(/newimages/bg_huang.gif);
	background-repeat: repeat-x;
}

A.top0506:link{FONT-SIZE:12px;COLOR:#555555;LINE-HEIGHT: 20px;TEXT-DECORATION: none}
A.top0506:visited{FONT-SIZE:12px;COLOR:#555555;LINE-HEIGHT:20px;TEXT-DECORATION:none}
A.top0506:active{FONT-SIZE:12px;COLOR:#555555;LINE-HEIGHT: 20px; TEXT-DECORATION: none }
A.top0506:hover{FONT-SIZE: 12px;COLOR:#555555;LINE-HEIGHT: 20px; TEXT-DECORATION: underline }

A.topw0506:link {FONT-SIZE: 12px;COLOR:#FFFFFF; TEXT-DECORATION: none }
A.topw0506:visited {FONT-SIZE: 12px;COLOR:#FFFFFF; TEXT-DECORATION: none }
A.topw0506:active {FONT-SIZE: 12px;COLOR:#FFFFFF; TEXT-DECORATION: none }
A.topw0506:hover {FONT-SIZE: 12px;COLOR:#FFFFFF; TEXT-DECORATION: underline }


A.f01:link
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:none
}
A.f01:visited
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:none
}

A.f01:active
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:none
}
A.f01:hover
{
    FONT-SIZE:14px;
    color:#5CA1D4;
    TEXT-DECORATION:underline
}