@charset "gb2312";
*{ border:0px; font-size:12px; text-decoration:none; font-family:"ו"; margin:0px; padding:0px; color:#808080}
.floatleft{ float:left}
.floatright{ float:right}
.w960{width:960px;margin:0px auto;}

.clear{ clear:both}


.top{ height:61px; overflow:hidden}
.top .logo{height:61px;width:327px; text-align:right; vertical-align:middle}
.top .logo img{ margin-top:10px}
.top .text{ width:140px; margin-top:35px}
.top .button{ width:131px; margin-right:20px; margin-top:30px}

.lansebg{ width:100%; background:#CFE2F6}
.lansebg .banner{ height:229px; overflow:hidden}
.bb1blue{ border-bottom:#35ABCA 1px solid;}
.nav{ height:45px; overflow:hidden; margin:0px auto; width:600px}
.nav a:link{ font-size:14px; display:block; float:left; width:100px;color:#808080; height:45px; line-height:45px; text-align:center}
.nav a:hover{font-size:14px; display:block; float:left; width:100px; color:#35ABCA; height:45px; line-height:45px; text-align:center}
.nav a:visited{font-size:14px; display:block; float:left; width:100px; height:45px; line-height:45px; text-align:center}
.nav .bluebg{ background:url(//mat1.gtimg.com/hb/zxb/2_13.png) 45px 40px no-repeat; font-weight:600; color:#35ABCA;}
.nav a.bluebg:link{ color:#35ABCA;}
.bgjb{ background:url(//mat1.gtimg.com/hb/zxb/2_17.png) repeat-x; height:31px; margin-top:10px}
.bgblue{ line-height:31px; font-size:12px; color: #FFFFFF; background:#35ABCA; height:31px; display:block; width:80px; text-align:center;}
.ml190{ margin-left:190px}
.ml120{ margin-left:120px}
.entitle{ font-size:44px; color:#35ABCA;display:block; line-height:44px; height:44px; font-family:Arial; margin-top:30px }
.content{ line-height:24px; color:#808080}/*  |xGv00|5cb7b174d3e16129cd79795de89737c7 */