body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select{margin:0;padding:0}
body{color:#333;font:12px "ËÎÌå","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;}
h1, h2, h3, h4, h5, h6, .yh{ font-family:"Î¢ÈíÑÅºÚ", "ºÚÌå", "ËÎÌå"; font-size:100%; font-weight: normal;}
a{color:#333;text-decoration:none}
a:hover{color:#f00;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img,input{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.undis{display:none}
.dis{display:block}
.ind{text-indent:2em}
.layout:after, .hd:after, .bd:after, .ft:after, .cf:after{content:"";display:table;clear:both}
.layout, .hd, .bd, .ft, .cf{*zoom:1}
@media screen{
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.layout{width:1000px;margin:0 auto}
.hd h2, .hd h3{float:left;display:inline}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.l16{line-height:16px}
.l17{line-height:17px}
.l18{line-height:18px}
.l19{line-height:19px}
.l20{line-height:20px}
.l21{line-height:21px}
.l22{line-height:22px}
.l23{line-height:23px}
.l24{line-height:24px}
.l25{line-height:25px}
.l26{line-height:26px}
.l27{line-height:27px}
.l28{line-height:28px}
.l29{line-height:29px}
.l30{line-height:30px}
.vBg{background:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient( Q-gradientType = 0, startColorstr = '#99000000', endColorstr = '#99000000') \9;cursor:pointer;height:22px;line-height:22px;width:100%;}
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
}/*  |xGv00|65a9eec01eb05c747616431e9e880e14 */