/*´óÓåÍø*/
img {vertical-align: bottom;border: 0 none;}
a:link { color: #000000; outline: medium none; text-decoration: none;}
.side { overflow: hidden;}
.user_mod .userName:after, .btbox:after, .hot-read .bd li:after, .hot-comment .bd dl:after, .wb-news-mod .bd dl:after, .love-read dl:after, .essence-mod dl:after, .cf:after { clear: both; content: ""; display: block; height: 0; visibility: hidden;}
.mar-b-30 { margin-bottom: 23px;}
#sideBars .ft { background: none repeat scroll 0 0 #F5F8FD; height: 22px; text-align: right;}
.ad-box { background: none repeat scroll 0 0 #F9F9F9; border: 1px solid #E3E3E3;}
.ad-box .wzl { padding: 10px 0; width: 298px;}
.movielist ul:before, .movielist ul:after, .clearfix:before, .clearfix:after { content: ""; display: table;}
.clearfix:after { clear: both;}
.ad-box .wzl li { color: #0B3B8C; float: left; line-height: 22px; width: 142px;}
.ad-box .ad_pic_list { display: inline; float: left; height: 120px; margin: 5px 6px 5px 8px; overflow: hidden;  position: relative; width: 135px; z-index: 100;}
.ad-box .top_ad {height: 30px; margin: 5px 8px 0; overflow: hidden; position: relative; width: 284px; z-index: 100;}
.mod-side .hd h2 {color: #399DEB; font-family: 'Î¢ÈíÑÅºÚ'; font-size: 16px; margin-bottom: 10px;}
.bbs-air-mod .arclist { background: url("//mat1.gtimg.com/cq/cody/2013/dcy_top10.jpg") no-repeat scroll 0 -2px transparent; padding-left: 30px;}
.bbs-air-mod .arclist li { height: 28px; line-height: 26px; overflow: hidden; width: 270px;}
.bbs-air-mod .arclist li a {font-size: 14px;}
.essence-mod dl { margin-bottom: 15px;}
.essence-mod dl dt { display: inline; float: left; height: 60px; margin-right: 10px; overflow: hidden;}
.essence-mod dl dd { font-size: 14px;}
.pic-air-mod .bd ul { margin-left: -20px;}
.pic-air-mod .bd li { display: inline; float: left; font-size: 14px; height: 110px; margin-left: 20px; overflow: hidden; padding-bottom: 13px; width: 140px;}
.pic-air-mod .bd li { padding-bottom: 0;}
.pic-air-mod .bd li a {display: block;}
.pic-air-mod .bd li img { padding-bottom: 3px;}
.love-read-mod .bd { height: 270px; overflow: hidden; width: 300px;}
.love-read { cursor: pointer; position: relative;}
.love-read { margin-bottom: 5px;}
.love-read p { font-size: 14px;}
.love-read-con { border-bottom: 1px dotted #E4E4E4; display: none;}
.love-read dl { padding: 4px 0;}
.love-read dl dt {color: #989898; float: left; margin-right: 10px; width: 90px;}
.love-read dl dd a, .love-read dl dd a:visited, .love-read dl dd a:link, .love-read dl dd a:hover { color: #676767;}
.piclist li { background: none repeat scroll 0 0 transparent; display: inline; float: left; font-size: 14px; height: 110px; margin-left: 20px; overflow: hidden; padding-bottom: 7px; position: relative; text-align: left; white-space: nowrap; width: 140px;}
#aikan_list .bd .love-read a.more { color: #5170A6; margin-left: 5px;}
.pic-air-mod .bd li { display: inline; float: left; font-size: 14px; height: 110px; margin-left: 20px; overflow: hidden; padding-bottom: 13px; width: 140px;}
#dy_wb li.full { height: 24px; line-height: 22px; width: 290px;}
#sideBarBorder {border:0 none;}

/*ÁÐ±íÎÄ×Ö*/
#Main-Article-QQ .main {background: none;}
#C-Main-Article-QQ #PageSet a,#C-Main-Article-QQ #page {font-size:14px;}
#C-Main-Article-QQ {border-color: -moz-use-text-color #D3DBE6 #D3DBE6;border-right: 1px solid #D3DBE6;border-style: none solid solid;border-width: 0 1px 0 0;text-align: left;}
.mod-left {border:0px;}
#PageSet {padding-left:5px;width:530px;}
#PageSet ul li {padding:3px;font-size:14px !important;height:18px;line-heigh:18px;}
#PageSet ul li a {color:#000 !important;}
#PageSet ul li .ll {float:left;}
#PageSet ul li .lr {float:right}/*  |xGv00|cf71b02d3d201af90d610b6417b6d3c1 */