* {
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
}
iframe,
img {
  border: 0;
}
ul,
ol {
  list-style: none;
}
input,
select,
textarea {
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only;
}
input {
  -webkit-appearance: none;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #333;
}
.clx:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}
.clx {
  *zoom: 1;
}
body {
  font-size: 12px;
  font-family: 'Microsoft YaHei';
  color: #333;
}
.main {
  background: url(http://mat1.gtimg.com/gd/2019/03ssp/main.jpg) repeat-y center 50px;
}
.center {
  width: 1000px;
  margin: 0 auto;
}
.intro {
  height: 390px;
  background: url(http://mat1.gtimg.com/gd/2019/03ssp/intro_bg.jpg) no-repeat center top;
  margin-bottom: 30px;
}
.intro p {
  width: 390px;
  padding-top: 40px;
  padding-left: 90px;
  font-size: 18px;
  line-height: 2;
}
.pics {
  width: 1010px;
}
.pics .block {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
.pics .block a {
  display: block;
}
.pics .block img {
  display: block;
}
.pics .block span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(212, 141, 0, 0.8);
  display: none;
}
.pics .block .b_title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -77px;
}
.pics .block:hover span {
  display: block;
}
.pics .block .v_icon {
  position: absolute;
  top: 220px;
  left: 90px;
}
.pics_blank {
  height: 100px;
  background: url(http://mat1.gtimg.com/gd/2019/03ssp/pic_blank.png);
}
.arts {
  padding-top: 80px;
  margin-bottom: 120px;
}
.block_left {
  width: 500px;
  float: left;
}
.block_right {
  width: 460px;
  float: right;
}
.block_right .subpic {
  height: 370px;
}
.block_right p {
  height: 196px;
  font-size: 18px;
  line-height: 32px;
  overflow: hidden;
}
.block_right .knowmore {
  display: block;
}
.bianji {
  width: 100%;
  height: 50px;
  background: #242424;
  margin-top: 20px;
}
.bianjimain {
  width: 1000px;
  margin: 0 auto;
}
.bianjimain p {
  font-size: 14px;
  color: #ededed;
  line-height: 50px;
  text-align: center;
}
/*  |xGv00|548aaa3c9eb30be0664380c6dcbf7351 */