body{
	margin: 0;
	padding: 0;
}
.main{
	width: 100%;
	min-width: 1000px;
	background: url(//mat1.gtimg.com/cq/city/2017Q1/fjqc/beij.jpg);
	background-repeat:no-repeat;
}
.lunb{
	position:absolute;
	z-index: 10;
	overflow:hidden;
}
.button1{
	position:absolute;
	z-index: 10;
	width: 14%;
	height: 51px;
	cursor: pointer;
}
.lunb a{
	float: left;
	text-decoration: none;
    outline: none;
}
.left{
	/**border: 1px solid #000000;*/
	height: 100%;
	width: auto;
	position:absolute;
	z-index: 12;
	cursor: pointer;
}

.right{
	/**border: 1px solid #000000;*/
	height: 100%;
	width: auto;
	position:absolute;
	z-index: 12;
	cursor: pointer;
}

.right img{
	margin-top: 100px;
}
/*  |xGv00|e231346e4dba698353c6544246eceb3a */