
*{margin: 0;padding: 0;list-style-type: none;}

body,html{width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:"Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;}
a{text-decoration: none;}
img{display: block;border: none;}
.fangpiaofu45{height: 45px;}
.fangpiaofu30{height: 30px;}
.fangpiaofu55{height: 55px;}

/*顶图*/
.top-banner{display: block;width:100%;}

.main{width: 100%;background: #000;padding-bottom: 200px;}

.content1{width: 100%;height: 963px;background: url("//mat1.gtimg.com/cq/grace/2017/ctmlt/topbanner.jpg") no-repeat center;}
.content2{width: 1018px;height: 501px;background: url("//mat1.gtimg.com/cq/grace/2017/ctmlt/banner2.jpg") no-repeat center;margin: 0 auto;position: relative;z-index: 2; }
.content2 .title{width: 910px;height: 40px;position: absolute;z-index: 3;left: 45px;top:40px;font-size: 34px;line-height: 40px;color: #f8c13f;text-align: center;}
.content2 .foucspic{width: 440px;height: 320px;position: absolute;z-index: 3;left: 45px;top:115px;}
.content2 .titles{width: 400px;height: 175px;position: absolute;z-index: 3;left: 555px;top:115px;}
.content2 .titles a{display: block;width: 400px;height: 30px;line-height: 30px;font-size: 16px;color: #f8c13f;}
.content2 .baoming{display: block;width: 230px;height: 65px;position: absolute;z-index: 3;left: 730px;top:370px;}


.content3{width: 100%;height: 1167px;background: url("//mat1.gtimg.com/cq/grace/2017/ctmlt/banner3.jpg") no-repeat center;margin-top: 60px;}
.content4{width: 100%;height: 1500px;background: url("//mat1.gtimg.com/cq/grace/2017/ctmlt/banner41.jpg") no-repeat center;}
.content5{width: 100%;height: 1884px;background: url("//mat1.gtimg.com/cq/grace/2017/ctmlt/banner5.jpg") no-repeat center;}


.content6{width: 1070px;height: 655px;margin: 60px auto 0;position: relative;z-index: 2;}




.swiper-container {
    width: 841px;height: 653px;margin: 0 auto;
}

.swiper-pagination-switch {  display: inline-block;  width: 23px;  height: 23px;  background: #bfc0c0;  margin-right: 10px;  opacity: 0.8;  cursor: pointer;border-radius: 50%;  }
.swiper-visible-switch {  background: #e50055;  }
.swiper-active-switch {  background: #e50055;  }
.pagination{  position: absolute;  z-index: 20;  bottom: 25px;  width: 100%;  text-align: center;  }
.pagination-nested-1 .swiper-pagination-switch {  display:  inline-block;  margin-right: 10px;  margin-bottom: 5px;  }

.device {
    width: 841px;height: 653px;margin: 0 auto;
    position: relative;
}

.swiper-container {
    width: 841px;height: 653px;margin: 0 auto;
}

.title1 {
    display:block;
    width: 841px;height: 653px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}


.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:-45px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #e5c55b;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 10px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #fff;
}

.leftj{display: block;width: 28px;height: 52px;position: absolute;z-index: 3;left: 0;top: 272px;background: url("//mat1.gtimg.com/cq/grace/2017/ctmlt/leftarraw.jpg") no-repeat;cursor: pointer;}
.rightj{display: block;width: 28px;height: 52px;position: absolute;z-index: 3;right: 0;top: 272px;background: url("//mat1.gtimg.com/cq/grace/2017/ctmlt/rightarrow.jpg") no-repeat;cursor: pointer;}





/*  |xGv00|b69eebc6834c7e429d18194608db5332 */