body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,select,th,td,section,p,span,font,div{margin:0;padding:0}
body{font:16px "Microsoft Yahei","STHeiti";color:#461f0c}
h1,h2,h3,h4,h5,h6,address,cite,dfn,em,var,i{font-size:100%;font-style:normal;font-weight:normal}
ul,ol{list-style:none}
a{text-decoration:none;color:#461f0c;outline:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000;}
fieldset,img{border:0}
img{vertical-align:top}
button,input,select,textarea{background-color:transparent;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;font-size:100%;border:none;outline:none}
table{border-collapse:collapse;border-spacing:0}
html{overflow-y:scroll}
body{background:url(//mat1.gtimg.com/cq/city/2017Q4/wwyz2017/bg.jpg) repeat-y center}

.banner{height:867px;background:url(//mat1.gtimg.com/cq/city/2017Q4/wwyz2017/banner.png) no-repeat center}
.desc{position:relative;width:1000px;height:auto;overflow:hidden;margin:35px auto 0}
.desc h3, .desc p{padding-right:400px}
.desc h3{padding:0 0 20px;font-size:24px;font-weight:bold}
.desc p{line-height:35px;text-indent:2em}
.desc img{position:absolute;top:28px;right:0}
.news{width:1040px;height:414px;background:url(//mat1.gtimg.com/cq/city/2017Q4/wwyz2017/img2.png) no-repeat;margin:35px auto 0}
.news img{float:left;width:420px;height:290px;margin:72px 0 0 68px}
.news-r{float:right;width:445px;margin:72px 60px 0 0}
.headline{height:auto;overflow:hidden}
.headline h3{padding:9px 0 19px;font-size:26px;font-weight:bold}
.headline p{line-height:28px}
.more{float:right;margin-top:5px;font-size:14px}
.news-list{margin-top:5px}
.news-list li{height:36px;line-height:36px;overflow:hidden;background:url(//mat1.gtimg.com/cq/city/2017Q4/wwyz2017/dot.png) no-repeat left center;padding-left:10px}
.sort{width:1066px;height:auto;overflow:hidden;margin:auto}
.sort-info{width:100%;height:auto}
.items{margin-top:-9px;text-align:center}
.items li{display:inline-block;margin:0 13px}
.vote1{position:relative;width:1041px;height:715px;background:url(//mat1.gtimg.com/cq/city/2017Q4/wwyz2017/img4.png) no-repeat;margin:35px auto 0;padding-top:506px}
.vote1 .ewm{position:absolute;top:221px;left:105px;height:105px;width:130px;height:130px}
.vote2{position:relative;width:1050px;height:716px;background:url(//mat1.gtimg.com/cq/city/2017Q4/wwyz2017/img5.png) no-repeat;margin:15px auto 0;padding-top:400px}
.frame-wrap{width:880px;height:auto;overflow:hidden;margin:auto}
.comment{display:block;width:227px;height:74px;margin:20px auto 60px}
.comment img{width:100%;height:100%}
/*  |xGv00|dc32c88dea07335024116164acfe7d08 */