body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{text-decoration:underline}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}

			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

.top{height:125px}
.top-c{width:1000px;margin:auto}
.top-c-l{float:left;width:300px;height:48px;margin-top:33px}
.top-c-r{float:right;width:300px;height:125px;background:url(//mat1.gtimg.com/cq/dayuzb/top_r_bg.png) no-repeat right 35px;padding-top:66px;font-size:16px;color:#666;text-align:right}
.top-c-r a{color:#666;text-decoration:underline}
.qikan{height:680px;background:#010125 url(//mat1.gtimg.com/cq/dayuzb/qk_bg.jpg) no-repeat center center}
.qikan-c{width:1000px;margin:auto}
.qikan-t{width:1000px;height:60px;overflow:hidden;margin-bottom:32px;*margin-top:68px}
.qikan-t span{display:block;float:left;width:112px;height:31px;line-height:30px;background:url(//mat1.gtimg.com/cq/dayuzb/bg.png) no-repeat;margin:14px 14px 0 0;font-size:16px;color:#fff;text-align:center}
.qikan-t h1{display:block;float:left;width:800px;line-height:60px;font-size:48px;font-weight:bold;color:#fff}
.qikan-t h1 a{color:#fff}
.qikan-c-m{height:auto;overflow:hidden}
.qikan-c-m-l{float:left;width:620px;height:442px}
.qikan-c-m-r{float:right;width:353px;height:auto;overflow:hidden}
.qikan-c-m-r .info{line-height:24px;font-size:14px;color:#fff}
.qikan-c-m-r .info p{text-indent:2em;color:#fff}
.info-list{height:auto;overflow:hidden;margin:18px 0 23px 0;padding:15px 0;border-top:1px solid #495876;border-bottom:1px solid #495876}
.info-list li{line-height:30px;background:url(//mat1.gtimg.com/cq/dayuzb/dot.png) no-repeat 5px center;padding-left:18px;font-size:14px;color:#fff}
.info-list li a{color:#fff}
.info-ewm{height:auto;overflow:hidden}
.info-ewm span{display:block;float:left}
.info-ewm span.sp1,.info-ewm span.sp1 img{width:94px;height:94px}
.info-ewm span.sp2{float:right;width:241px;height:auto;padding-top:15px}
.info-ewm span.sp2 p{line-height:30px;font-size:16px;color:#fff}
.jbzc{position:relative;width:1000px;height:264px;background:url(//mat1.gtimg.com/cq/dayuzb/jbzc_bg.png) no-repeat;margin:82px auto 106px auto}
.jbzc img{position:absolute;top:48px;left:32px;width:220px;height:245px}
.jb-info{float:right;width:690px;height:auto;overflow:hidden;margin-right:35px}
.jb-info h3{margin:53px 0 8px 0;font-size:24px;color:#333}
.jb-info h3 a{color:#333}
.jb-info p{line-height:26px;font-size:14px;color:#666}
.jcdh{height:auto;overflow:hidden;background:#dee4eb;padding-bottom:80px}
.jcdh-c{width:1000px;height:auto;overflow:hidden;margin:auto}
.jcdh-c-m{height:auto;overflow:hidden}
.jcdh1{height:auto;overflow:hidden;background:#fff;padding-bottom:80px}
.jcdh1-c-t{padding-left:30px}
.jcdh1-c{width:1062px;height:auto;overflow:hidden;margin:auto}
.jcdh1-c-m{height:auto;overflow:hidden}
.jcdh1-c-m li{display:inline;float:left;width:501px;height:265px;overflow:hidden;background:url(//mat1.gtimg.com/cq/dayuzb/jcdh_bg.png) no-repeat center bottom;margin:14px 15px 0 15px}
.jcdh1-c-m li h3{width:152px;padding-left:68px;font-size:22px;color:#c20f0f;text-align:center}
.jcdh1-c-m li span{display:block;float:left;margin:23px 0 0 22px}
.jcdh1-c-m li span.sp1,.jcdh1-c-m li span.sp1 img{width:168px;height:188px}
.jcdh1-c-m li span.sp2{width:254px;height:auto;line-height:30px;font-size:14px;color:#666}

.xctj{height:auto;overflow:hidden;background:#7b87bf;padding-bottom:80px}
.xctj-c{width:1000px;height:auto;overflow:hidden;margin:auto}
.xctj-c-m{height:570px;overflow:hidden}
.hdpl{height:auto;overflow:hidden;background:#ffffff;padding-bottom:80px}
.hdpl-c{width:1000px;height:auto;overflow:hidden;margin:auto}
.hdpl-c-m{height:auto;overflow:hidden}
.xctj-c-m-l{float:left;width:410px;height:570px}
.xctj-c-m-l a{position:relative;display:block;width:410px;height:570px}
.xctj-c-m-l a img{width:410px;height:570px}
.xctj-c-m-l a h3{position:absolute;left:0;bottom:0;width:395px;height:43px;line-height:42px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.6);padding-left:15px;font-size:16px;color:#fff}
.xctj-c-m-r{float:left;width:560px;height:570px;margin-left:20px}
.xctj-c-m-r span{display:block;width:560px}
.xctj-c-m-r span.sp1{height:360px;margin-bottom:20px}
.xctj-c-m-r span.sp2{height:190px}
.xctj-c-m-r span a{position:relative;display:block;float:left}
.xctj-c-m-r span a h3{position:absolute;left:0;bottom:0;height:43px;line-height:42px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#75000000',endColorstr='#75000000');background:rgba(0,0,0,.6);padding-left:15px;font-size:16px;color:#fff}
.img1{width:335px;height:360px;margin-right:20px}
.img1 img{width:335px;height:360px}
.img1 h3{width:320px}
.img2{margin-bottom:20px}
.img2,.img3{width:205px;height:170px}
.img2 img,.img3 img{width:205px;height:170px}
.img2 h3,.img3 h3{width:190px}
.xctj-c-m-r span.sp2 a,.xctj-c-m-r span.sp2 a img{width:270px;height:190px}
.xctj-c-m-r span.sp2 a h3{width:255px}
.img4{margin-right:20px}
#wqhg{background:#f8f8f8;padding-bottom:73px;border-top:1px solid #e6e6e6}
.wqhg{position:relative;width:1085px;height:auto;overflow:hidden;margin:auto}
.wqhg h3{margin:60px 0 23px 0;padding-left:59px;font-size:32px;color:#414141}
.wqhg-list li{display:inline;float:left;width:207px;margin:0 19px 0 18px}
.wqhg-list li.last{margin-right:0}
.wqhg-list li img{width:207px;height:160px}
.wqhg-list li p{margin-top:9px;font-size:14px;color:#555;text-align:center}
.wqhg-list li p a{color:#555}
.scroll_cont{width:976px;margin:auto}
.arr_left{position:absolute;z-index:10;top:178px;left:19px;width:29px;height:56px;background:url(//mat1.gtimg.com/cq/dayuzb/bg.png) no-repeat 0 -39px}
.arr_right{position:absolute;z-index:10;top:178px;right:19px;width:29px;height:56px;background:url(//mat1.gtimg.com/cq/dayuzb/bg.png) no-repeat -41px -39px}
.arr_left:hover{background-position:0 -108px}
.arr_right:hover{background-position:-41px -108px}
.footer-info{background:#f8f8f8;padding:9px 0 18px 0;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;font-size:14px;color:#999;text-align:center}
.footer-info span.sp1{font-size:49px;color:#ddd}
.footer-info span.sp2{font-size:22px;color:#999}



.aside{display:none;position:fixed;bottom:100px;right:50%;width:54px;height:54px;background:url(//mat1.gtimg.com/cq/dayuzb/bg.png) no-repeat 0 -546px;_background:url(//mat1.gtimg.com/cq/dayuzb/bgie6.png) no-repeat 0 -546px;margin-right:-607px;_position:absolute;_right:expression(eval(document.documentElement.scrollRight));_top:expression(eval(document.documentElement.scrollBottom)+100)}
.aside a{display:block;width:54px;height:54px}







/*  |xGv00|cb70a041b94ec121a940f56159d5baa6 */