@charset "gb2312";
#linkbar{height:73px;background:url(//mat1.gtimg.com/2014/images/photoimg/putu/nav.png) center top;no-repeat #189c56;border-bottom:1px solid #2cb361;border-top:1px solid #0c6531;}
#info{float:left;margin-left:50px;display:inline;height:74px;color:#FFF;background:url(//mat1.gtimg.com/2014/images/photoimg/putu/logo.png) no-repeat;}
#topLogo{float:left;margin-right:60px;width:377px;height:74px;}
#topTitle{float:left;}
#info h1{font-size:26px;font-weight:normal;height:42px;line-height:52px;overflow:hidden;}
#info p{font-size:14px;line-height:28px;}
#info p span{margin-right:20px;}
.content{ background:url(//mat1.gtimg.com/2014/images/photoimg/putu/content.jpg) center top no-repeat;}
.page{ border-bottom:1px solid #d1d1d1; margin-bottom:10px; padding:40px 0; width:1000px;}
.page .pageCon{width:1000px;position:relative;overflow:hidden;}
.page .pageList{width:1000px;position:absolute;left:0;top:0;}
.page .split{ height:750px; margin:0 0 30px 0; position:relative; width:1000px;}
.page .split .vBg{ background:url(//mat1.gtimg.com/2014/images/photoimg/putu/vBg.png) no-repeat; _background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2014/images/photoimg/putu/vBg.png',sizingMethod=''); color:#fff; height:60px; line-height:60px; padding-top:150px; position:absolute; left:0; bottom:0; width:1000px;}
.page .split .vBg em{ padding:0 30px;}
.page .split a:hover{ color:#fff;}

.page .pageBtn{padding:10px 0;}
.page .pageBtn a,
.page .pageBtn span{display:inline-block;width:28px;height:28px;line-height:28px;margin-right:5px;text-align:center;border:1px solid #dadada;font-size:14px;color:#000;}
.page .pageBtn a:hover,
.page .pageBtn .current{background:#189b56;color:#FFF;text-decoration:none;}
.page .pageBtn span{border-color:#F2F2F2;color:#CCC;}
.page .pageBtn .prev,
.page .pageBtn .next{width:60px;}

/*  |xGv00|a66ea26acc07e25bcd30c3310595f4d1 */