body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal}
strong, b{ font-weight: bold; }
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:700;}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:12px}
q:before,q:after{content:''}
abbr,acronym{border:0}
hr {margin: 0;padding: 0;border: 0;color: #CDCDCD;background-color: #CDCDCD;height: 1px}
blockquote{color:#666;font-style:italic;}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
pre{white-space:pre;}
pre,code,tt{font:12px 'andale mono', 'lucida console', monospace;line-height:1.5}
.cf:after,.hd:after,.bd:after,.pList:after,.boxRight:after{content:"";display:table;clear:both}
.cf,.hd,.bd,.pList,.boxRight{*zoom:1}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.none{ display:none;}
h1{ text-indent:-999em; overflow:hidden}
.undis{ display:none}
.dis{ display:block;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#cc0000; text-decoration:underline}

body{background:url(//mat1.gtimg.com/house/315/1111/bg.jpg) repeat-x top #fff; color:#333;font-size:12px;}

.header{ background:url(//mat1.gtimg.com/house/315/1111/banner.jpg) no-repeat top center; position:relative;}
.header .banner{ width:1000px; margin:0px auto;}
.header .banner .intro{ font-family:"풕턼환쥌"; font-size:15px; font-weight:normal; font-weight:normal; padding-top:24px; line-height:24px;}
.header .banner .intro span{ display:block; padding-left:196px;}

.nav{ padding-top:246px; height:60px; position:relative; line-height:22px; font-size:14px;}
.nav .navs{ width:142px; float:left;}
.nav .navs h2{ float:left; width:30px;height:57px; text-align:center; padding-top:6px; background:url(//mat1.gtimg.com/house/315/1111/t_bg.gif) no-repeat;}
.nav .navs ul{ width:109px; font-size:12px; line-height:16px;}
.nav .navs ul li{ margin-left:10px; display:inline;}
.nav .navs ul,.nav .navs ul li{ float:left;}
.nav .navs a{ color:#ffedc2;}

.ued_focus_main{position:absolute;overflow:hidden;background:#000}
.ued_focus_main a{display:none;background:#000}
.ued_focus_main .current{display:block}
.ued_focus_text{position:absolute}
.ued_focus_text a{display:none;outline:0}
.ued_focus_text .current{display:block}
.ued_focus_sub{position:absolute}
.ued_focus_sub a{display:none;cursor:pointer;overflow:hidden;outline:0}
.ued_focus_sub a:hover{text-decoration:none}
.ued_focus_sub .current{display:block}
.f_preBtn{position:absolute;cursor:pointer}
.f_nextBtn{position:absolute;cursor:pointer}
.fs_B{position:relative;background:#000}
.fs_B{width:331px;height:327px}
.fs_B img{display:inline-block;border:0;width:331px;height:327px}
.fs_B i{font-style:normal}
.fs_B .ued_focus_main{left:0;top:0;width:100%}
.fs_B .ued_focus_text{display:none}
.fs_B .ued_focus_sub{right:6px;bottom:10px;_bottom:9px;height:15px;overflow:hidden}
.fs_B .ued_focus_sub a{display:inline;float:left;background:#87897E;width:18px;height:16px;position:relative;
margin:0 1px 0 0;color:#fff;font:12px/15px "풻";text-align:center;text-decoration:none}
.fs_B .ued_focus_sub div{height:15px;overflow:hidden;float:right}
.fs_B .ued_focus_sub .current,.fs_B .ued_focus_sub a:hover{background:#FF7E00}
.fs_B .ued_focus_sub img{display:none}
.fs_B .f_preBtn,.fs_B .f_nextBtn{display:none}

.wrap_first{ width:998px; margin:15px auto 0 auto; background:#fff; border:1px solid #f6c1a6; line-height:22px;}
.firstMain{ margin:8px 25px; position:relative;}
.firstMain h2{ padding:15px 0px 13px 0; text-align:center;}
.firstMain h2 a{color:#ce0000; font-family:"풕턼환쥌"; font-weight:normal; font-size:20px;}
.firstMain p{ text-align:center;}
.firstMain ul{ border-top:1px dotted #adadad; padding-top:13px; margin-top:15px;}
.f_more{ position:absolute; bottom:66px;right:0px; color:#992500;}
.vote{ width:259px; padding:15px 7px;}
.vote h2{ background:url(//mat1.gtimg.com/house/315/1111/vote_bg.gif) no-repeat left; height:32px;}
.vote ul{ padding-top:10px;}
.vote ul li{ padding:3px 0px;}
.vote ul li input{ margin-right:5px; vertical-align:middle;}
.vote ul li.ft{ text-align:center; padding-top:10px;}
.vote ul li.ft input{ background:url(//mat1.gtimg.com/house/315/1111/vote_button.gif) no-repeat; width:52px;height:26px; line-height:26px; font-weight:bold; border:0px; color:#fff; cursor:pointer}

.wrap_sec{ width:1000px; margin:15px auto 0 auto; line-height:22px;}
.wrap_sec h2.t{ background:url(//mat1.gtimg.com/house/315/1111/qzt_t.gif) no-repeat; height:45px;}
.wrap_sec .con{border:1px solid #f6c1a6; border-top:0px; background:#fff;}
.wrap_sec .con .box{ padding:26px;}
.wrap_sec .con .box .text{ width:610px;}

h3.ti{background:#d0c9bd; width:74px; height:24px; text-align:center; line-height:24px; color:#fff; font-size:12px; margin-bottom:10px;}
.wrap_sec .con .box,.pList{ border-top:1px solid #e8ddd8;}
.wrap_sec .con .box .text p.intro{ text-indent:2em; padding-bottom:5px;}
.wrap_sec .con .box .text p.intro a{ color:#992500; font-weight:bold;}
.wrap_sec .con .box .text .bo{ margin-top:10px; padding:15px}
.wrap_sec .con .box .text .bo span.q{ background:url(//mat1.gtimg.com/house/315/1111/q_ico.gif) no-repeat; display:inline-block; text-indent:25px; font-weight:bold; font-size:14px;}
.wrap_sec .con .box .text .bo span.a{ background:url(//mat1.gtimg.com/house/315/1111/a_ico.gif) no-repeat; display:inline-block; text-indent:25px;font-weight:bold;font-size:14px;}
.wrap_sec .con .box .text .bo a{color:#992500;font-weight:bold;}
.b_1{ background:#f9f2c5}
.b_2{ background:#fef3e1}
.pList{ padding-top:15px; _height:705px; overflow:hidden;}
.pList .boxx{ float:left; width:447px;height:66px; display:inline; background:#fcf3e3; padding:8px; margin:0px 16px 15px 16px;}
.pList .boxx ul{ width:330px; margin-right:10px;}
.pList .boxx li.t{ font-weight:bold;}

.bgt{background:#fff; border:1px solid #f6c1a6;width:998px; margin:15px auto 0 auto;}
.bgt .con{position:relative; height:560px; border-bottom:1px solid #d2d2d2; margin:0 12px 7px 10px; z-index:10}
.p1{ position:absolute; top:10px; left:0px;}
.p_lou{ position:absolute; top:10px; left:162px; background:url(//mat1.gtimg.com/house/315/1111/lou.gif) no-repeat; width:151px;height:126px;z-index:0}
.p2{ position:absolute; top:10px; left:323px;}
.p3{ position:absolute; top:10px; left:663px;}
.p4{ position:absolute; top:10px; left:823px;}
.p5{ position:absolute; top:146px; left:0px;}
.p6{ position:absolute; top:146px; left:162px;}
.p_shi{ position:absolute; top:146px; left:323px; background:url(//mat1.gtimg.com/house/315/1111/shi.gif) no-repeat; width:151px;height:126px;}
.p7{ position:absolute; top:146px; left:823px;}
.p_wenti{ position:absolute; top:282px; left:0px; background:url(//mat1.gtimg.com/house/315/1111/wenti.gif) no-repeat; width:312px;height:126px;z-index:0}
.p_baoguangtai{ position:absolute; top:282px; left:323px; background:url(//mat1.gtimg.com/house/315/1111/baoguangtai.gif) no-repeat; width:331px;height:126px;z-index:0}
.p8{ position:absolute; top:282px; left:663px;}
.p9{ position:absolute; top:282px; left:823px;}
.p10{ position:absolute; top:418px; left:0px;}
.p11{ position:absolute; top:418px; left:162px;}
.p12{ position:absolute; top:418px; left:504px;}
.p13{ position:absolute; top:418px; left:823px;}
.openDiv{ position:absolute; top:0px; left:117px; background:url(//mat1.gtimg.com/house/315/1111/openDiv_bg.png) no-repeat; width:205px; height:190px;z-index:200000; font-size:14px; display:none}
.openDiv img{ padding-left:45px; padding-top:9px;}
.openDiv ul{ width:150px; text-align:center; padding-left:45px; line-height:22px;}

.openDiv2{ position:absolute; top:0px; left:-173px; background:url(//mat1.gtimg.com/house/315/1111/openDiv2_bg.png) no-repeat; width:205px; height:190px;z-index:200000; font-size:14px; display:none}
.openDiv2 img{ padding-left:9px; padding-top:9px;}
.openDiv2 ul{ width:150px; text-align:center; padding-left:9px; line-height:22px;}


#scrWrap1{width:976px;overflow:hidden;position:relative; line-height:22px; margin:0 auto}
#scrWrap1 .split{float:left; width:1000px;height:446px;}
.con1,.con2,.con3,.con4,.con5,.con6{ position:relative; }
.con1 .sp1_1{ position:absolute; top:10px; left:0px;}
.con1 .sp1_2{ position:absolute; top:10px; left:246px;}
.con1 .sp1_3{ position:absolute; top:10px; left:492px;}
.con1 .sp1_4{ position:absolute; top:10px; left:742px; background:url(//mat1.gtimg.com/house/315/1111/sp1_4_bg.gif) no-repeat; width:214px; height:148px; font-family:"풕턼환쥌"; font-size:14px; color:#fff; padding:15px 10px 0px 15px; line-height:35px;}
.con1 .sp1_4 span{ font-size:26px;}
.con1 .sp1_5{ position:absolute; top:213px; left:492px;}
.con1 .huigu1{ position:absolute; top:237px; left:0px; width:438px; background:#e9e9e9; padding:0 20px; height:209px;}
.con1 .huigu1 h2{ background:url(//mat1.gtimg.com/house/315/1111/huigu_t.gif) no-repeat; width:150px;height:60px; margin-top:-24px; margin-left:-20px;}
.con1 .huigu1 p{ text-indent:2em; font-size:14px; padding:5px 0px;}
.con1 .huigu1 p a{color:#992500;font-weight:bold;}

.con2 .sp2_1{ position:absolute; top:10px; left:0px;}
.con2 .sp2_2{ position:absolute; top:10px; left:538px;}
.con2 .sp2_3{ position:absolute; top:10px; left:763px;}
.con2 .sp2_4{ position:absolute; top:328px; left:641px; background:url(//mat1.gtimg.com/house/315/1111/sp2_4_bg.gif) no-repeat; width:310px; height:82px; font-family:"풕턼환쥌"; font-size:14px; color:#fff; padding:6px 10px 0 79px; line-height:35px;}
.con2 .sp2_4 span{ font-size:26px;}
.con2 .sp2_5{ position:absolute; top:213px; left:492px;}
.con2 .huigu2{ position:absolute; top:34px; left:275px; width:210px; background:#e9e9e9; padding:0 20px; height:285px;}
.con2 .huigu2 h2{ background:url(//mat1.gtimg.com/house/315/1111/huigu_t.gif) no-repeat; width:150px;height:60px; margin-top:-24px; margin-left:-20px;}
.con2 .huigu2 p{ text-indent:2em; font-size:14px; padding:5px 0px;}
.con2 .huigu2 p a{color:#992500;font-weight:bold;}

.con3 .sp3_1{ position:absolute; top:10px; left:0px;}
.con3 .sp3_2{ position:absolute; top:10px; left:589px;}
.con3 .sp3_3{ position:absolute; top:10px; left:763px;}
.con3 .sp3_4{ position:absolute; top:266px; left:175px; background:url(//mat1.gtimg.com/house/315/1111/sp3_4_bg.gif) no-repeat; width:371px; height:47px; font-family:"풕턼환쥌"; font-size:14px; color:#fff; padding:5px 10px 0 9px; line-height:35px;}
.con3 .sp3_4 span{ font-size:26px; margin-right:5px;}
.con3 .sp3_5{ position:absolute; top:213px; left:493px;}
.con3 .huigu3{ position:absolute; top:325px; left:0px; width:505px; background:#e9e9e9; padding:0 20px; height:121px;}
.con3 .huigu3 h2{ background:url(//mat1.gtimg.com/house/315/1111/huigu3_t.gif) no-repeat; width:150px;height:60px; margin-top:-56px; margin-left:-20px;}
.con3 .huigu3 p{ text-indent:2em; font-size:14px; padding:5px 0px;}
.con3 .huigu3 p a{color:#992500;font-weight:bold;}

.con4 .sp4_1{position:absolute; top:10px; left:0px;}
.con4 .huigu4{position:absolute; top:320px; left:0px; width:505px; background:#e9e9e9; padding:0 20px; height:125px;}
.con4 .huigu4 h2{background:url(//mat1.gtimg.com/house/315/1111/huigu_t.gif) no-repeat; width:150px;height:60px; margin-top:-30px; margin-left:-20px;}
.con4 .huigu4 .hcon{ margin-top:-6px;}
.con4 .huigu4 p{ text-indent:2em; font-size:14px;}
.con4 .huigu4 p a{color:#992500;font-weight:bold;}
.con4 .sp4_4{ position:absolute; top:10px; left:738px; background:url(//mat1.gtimg.com/house/315/1111/sp4_4_bg.gif) no-repeat; width:219px; height:136px; font-family:"풕턼환쥌"; font-size:14px; color:#fff;  line-height:35px; padding:5px 0 0 15px}
.con4 .sp4_4 span{ font-size:26px;}
.con4 .sp4_2{position:absolute; top:151px; left:567px;}
.con4 .sp4_3{position:absolute; top:151px; left:778px;}

.con5 .sp5_1{position:absolute; top:10px; left:0px;}
.con5 .sp5_2{position:absolute; top:10px; left:224px;}
.con5 .sp5_3{position:absolute; top:162px; left:0px;}
.con5 .sp5_5{position:absolute; top:162px; left:224px;}
.con5 .sp5_6{position:absolute; top:315px; left:0px;}
.con5 .sp5_7{position:absolute; top:315px; left:224px;}
.con5 .sp5_4{position:absolute; top:10px; left:643px; background:url(//mat1.gtimg.com/house/315/1111/sp5_4_bg.gif) no-repeat; width:231px; height:138px; font-family:"풕턼환쥌"; font-size:14px; color:#fff;  line-height:35px; padding:30px 30px 30px 68px}
.con5 .sp5_4 span{ font-size:26px;}
.con5 .huigu5{ position:absolute; top:258px; left:454px; width:475px; background:#e9e9e9; padding:0 20px; height:187px;}
.con5 .huigu5 h2{ background:url(//mat1.gtimg.com/house/315/1111/huigu_t.gif) no-repeat; width:150px;height:60px; margin-top:-24px; margin-left:-20px;}
.con5 .huigu5 p{ text-indent:2em; font-size:14px; padding:5px 0px;}
.con5 .huigu5 p a{color:#992500;font-weight:bold;}
.con5 .huigu5 .hcon{ margin-top:-6px;}

.con6 .sp6_4{position:absolute; top:10px; left:0px; background:url(//mat1.gtimg.com/house/315/1111/sp6_4_bg.gif) no-repeat; width:231px; height:138px; font-family:"풕턼환쥌"; font-size:14px; color:#fff;  line-height:35px; padding:30px 30px 30px 68px}
.con6 .sp6_4 span{ font-size:26px;}
.con6 .huigu6{ position:absolute; top:246px; left:0px; width:385px; background:#e9e9e9; padding:0 20px; height:200px;}
.con6 .huigu6 h2{ background:url(//mat1.gtimg.com/house/315/1111/huigu_t.gif) no-repeat; width:150px;height:60px; margin-top:-24px; margin-left:-20px;}
.con6 .huigu6 p{ text-indent:2em; font-size:14px; padding:5px 0px;}
.con6 .huigu6 p a{color:#992500;font-weight:bold;}
.con6 .huigu6 .hcon{ margin-top:-6px;}
.con6 .sp6_1{position:absolute; top:10px; left:451px;}
.con6 .sp6_2{position:absolute; top:10px; left:724px;}


#scrLeftBtn1,#scrRightBtn1{ background:url(//mat1.gtimg.com/house/315/1111/l_r.gif) no-repeat; width:54px; height:29px; display:inline-block; margin:0px 6px; cursor:pointer;}
#scrRightBtn1{ background-position:-67px 0px;}
.scrWrap1Button{ text-align:center; padding:15px 0 10px 0;}

.f_hy{ position:relative; width:1000px; background:url(//mat1.gtimg.com/house/315/1111/f_hy.gif) no-repeat; line-height:24px; height:600px;margin:15px auto}
.f_hy div{ position:absolute; width:206px;height:75px; padding:20px;}
.f_hy h2{ font-size:14px;}
.f_hy a{color:#992500}
.f_hy .t1{top:70px; left:22px;}
.f_hy .t2{top:200px; left:22px;}
.f_hy .t3{top:328px; left:22px;}
.f_hy .t4{top:462px; left:22px;}
.f_hy .t5{top:468px; left:309px; padding:10px; width:170px;height:98px}
.f_hy .t6{top:468px; left:509px; padding:10px; width:170px;height:98px}
.f_hy .t7{top:70px; left:735px;}
.f_hy .t8{top:200px; left:735px;}
.f_hy .t9{top:328px; left:735px;}
.f_hy .t10{top:462px; left:735px;}

.cys{ background:url(//mat1.gtimg.com/house/315/1111/cys.gif) no-repeat; width:1000px;height:383px; margin:0 auto; position:relative; font-size:14px;line-height:24px;}
.cys .t1{ position:absolute; width:847px;height:61px; top:65px; left:133px; text-indent:2em;}
.cys .t2{ position:absolute; width:405px;top:230px; left:50px;}
.cys .t2 p{ text-indent:2em; padding-bottom:5px;}
.cys .t3{ position:absolute; width:405px;top:230px; left:550px;}
.cys .t4{ position:absolute; width:66px;top:284px; left:880px;}
.cys .t5{ position:absolute; width:223px;top:322px; left:652px;}

#m_div{ background:url(//mat1.gtimg.com/house/315/1111/m_div_bg.png) no-repeat; width:290px; height:127px; position:absolute; top:147px; left:484px; z-index:1; line-height:22px; font-size:14px; padding:20px;}
#m_div p{ text-indent:2em; padding-bottom:5px;}

.comment{ width:1010px; overflow:hidden; margin:10px auto}
/*  |xGv00|fee46906a05137c1510546857d3ab750 */