body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333;outline:none}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow:auto}
body{background:#f8f8f8}

			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

.ad1{width:1135px;height:60px;margin:20px auto 0 auto}
.ad1 img{width:1135px;height:60px}
.l-s{width:1135px;height:86px;overflow:hidden;margin:auto}
.logo{float:left;width:165px;height:42px;margin-top:28px}
.logo img{width:165px;height:42px}
.qq-sub-site-hd-soso{ float:right;padding-top:39px;width:231px;height:69px}
.Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:30px;border:none;font-size:12px;background:url(//mat1.gtimg.com/cq/jinghao/soso-sprite-blue.jpg) left bottom no-repeat;cursor:pointer;}
.Form-Crumbs-Article-QQ .inputWarp{float:right;width:180px;height:28px;margin:0;padding:0;line-height:22px;background:#fff;border:#c9c9c9 1px solid;border-right:none;}
.Form-Crumbs-Article-QQ .txtArea{width:150px;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
.Form-Crumbs-Article-QQ .SosonLogo{float:right;width:22px;height:22px;margin:3px 3px 0 0;background:url(//mat1.gtimg.com/xian/2015images/2015index/20150204indexhd/soso-sprite.png) left top no-repeat;}
.Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:14px;line-height:28px;}
.soso-smart-b{background-color:#d8ecff;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.nav{float:left;width:710px;height:86px;overflow:hidden;margin-left:25px}
.nav li{float:left;height:83px;line-height:102px;overflow:hidden;padding:0 33px;font-size:18px;color:#333;border-bottom:3px solid #fff;text-align:center}
.nav li.active,.nav li.ac{border-bottom:3px solid #ff7300}
.nav li a{color:#333}
.nav li.active a{color:#ff7300}

.main{height:auto;overflow:hidden;background:#f8f8f8;padding-bottom:70px;border-top:1px solid #e5e5e5}
.left{float:left;width:720px}
.right{float:right;width:343px}
.border{position:relative;background:#fff;padding:0 15px;border:1px solid #ececec}
.section{width:1135px;height:auto;overflow:hidden;margin:auto;margin-top:40px}

.section1 .left{width:413px;height:358px;overflow:hidden}
.section1 .right img{width:650px;height:360px}
.section1 .right{width:650px;height:360px;overflow:hidden}
.headline{height:94px;overflow:hidden;border-bottom:1px dotted #b2b2b2}
.headline h3{height:30px;line-height:30px;overflow:hidden;margin:18px 0 4px 0;font-size:22px;font-weight:bold;color:#ff7300}
.headline h3 a{color:#ff7300}
.headline p{height:30px;line-height:30px;overflow:hidden;font-size:14px;color:#777}
.headline p a{color:#777}
.top-list{height:auto;overflow:hidden;margin-top:20px}
.top-list li{height:30px;line-height:30px;overflow:hidden;padding-left:22px;background:url(//mat1.gtimg.com/cq/kyoko/eat15/dot.png) no-repeat 7px center;font-size:16px;color:#414141}
.top-list li a{color:#414141}

.section2 .border{padding:0 25px 25px 25px}
.line{position:absolute;top:0;left:0;width:30px;height:22px;background:url(//mat1.gtimg.com/cq/kyoko/eat15/line.png) no-repeat}
.l-title{height:69px;line-height:69px}
.l-title h2{display:inline-block;float:left;background:url(//mat1.gtimg.com/cq/kyoko/eat15/bg.png) no-repeat;padding-left:33px;font-size:26px;color:#ff7300}
.l-title h2.meiwei{background-position:-178px 21px}
.l-title h2.zixun{background-position:-174px -35px}
.l-title h2.meishi{background-position:-173px -91px}
.l-title h2.zuomeishi{background-position:-175px -150px}
.l-title .t{display:inline-block;float:right;font-size:14px;color:#555}
.l-title .t a{color:#555}
.section2 .cont{height:200px;overflow:hidden}
.section2 .cont .l{float:left;width:285px;height:200px}
.section2 .cont .l img{width:285px;height:200px}
.section2 .cont .r{position:relative;float:right;width:365px;height:200px}
.section2 .cont .r p{line-height:24px;font-size:14px;color:#666}
.section2 .cont .r p.p1{position:absolute;right:0;bottom:0}
.section2 .cont .r p.p1 a{display:inline-block;background:url(//mat1.gtimg.com/cq/kyoko/eat15/bg.png) no-repeat 62px 5px;padding-right:22px;color:#666}
.section2 .cont .r p.p1 a.active{background-position:62px -34px;color:#ff7300}
.section2 .cont .r h3{height:30px;line-height:30px;overflow:hidden;margin:5px 0 15px 0;font-size:24px;color:#333}
.section2 .cont .r h3 a{color:#333}
.section2 .delicacy-list{margin-top:39px;padding-right:19px;padding-bottom:25px}
.delicacy-list .cont{height:130px;overflow:hidden;padding-top:29px;padding-bottom:29px;border-bottom:1px solid #e9e9e9}
.delicacy-list .cont.first{padding-top:0}
.delicacy-list .cont.last{padding-bottom:0;border-bottom:none}
.delicacy-list .cont.active{background:#f8f8f8}
.delicacy-list .cont .l{float:left;width:180px;height:130px}
.delicacy-list .cont .l img{width:180px;height:130px}
.delicacy-list .cont .r{float:right;width:480px;height:200px}
.delicacy-list .cont .r h3{height:30px;line-height:30px;overflow:hidden;margin:5px 0 5px 0;font-size:22px;color:#414141}
.delicacy-list .cont .r h3 a{color:#414141}
.delicacy-list .cont .r p{color:#777}
.delicacy-list .cont .r p.p2{margin-bottom:13px}
.section2 .right{width:333px}
.section2 .right.border{height:auto;overflow:hidden;padding:10px 20px 30px 20px}
.r-title{height:63px;line-height:63px;overflow:hidden}
.r-title h2,.r-title .bok{display:inline-block}
.r-title h2{float:left;margin-left:4px;font-size:20px;color:#ff7300}
.r-title .bok{float:right;height:20px;line-height:20px;background:url(//mat1.gtimg.com/cq/kyoko/eat15/bg.png) no-repeat 62px 2px;margin-top:21px;padding-right:22px;font-size:14px;color:#666}
.r-title .bok.active{background-position:62px -37px;color:#ff7300}
.r-title.xingji .bok{background-position:33px 2px}
.r-title.xingji .bok.active{background-position:33px -37px}
.community-activity{height:auto;overflow:hidden}
.community-activity li{display:inline;float:left;width:155px;margin-right:20px}
.community-activity li.last{margin-right:0}
.community-activity li img{width:155px;height:120px}
.community-activity li p{height:28px;line-height:28px;overflow:hidden;font-size:14px;color:#666}
.delicacy-map{position:relative;width:333px;height:298px;overflow:hidden;border:1px solid #ececec}
.delicacy-map img{width:333px;height:298px}
.map-list{position:absolute;z-index:1;top:10px;left:10px;height:44px;line-height:44px;overflow:hidden;background:#fff;border-radius:3px;box-shadow:3px 3px 3px #888}
.map-list li{display:inline;float:left;width:62px;font-size:16px;color:#fff;text-align:center}
.map-list li a{display:block;color:#ff7300}
.map-list li.active a{background:#ff7300;color:#fff}
.map-a-list{position:absolute;top:0;left:0;width:333px;height:298px}
.map-a-list li{position:absolute;display:inline-block;font-size:14px;color:#333}
.map-a-list li:hover{font-size:16px}
.map-a-list li.li1{top:85px;left:187px}
.map-a-list li.li2{top:115px;left:98px}
.map-a-list li.li3{top:143px;left:45px}
.map-a-list li.li4{top:175px;left:99px}
.map-a-list li.li5{top:212px;left:154px}
.map-a-list li a{color:#333}
.qmei .bok{position:relative;display:block;width:335px;height:170px;overflow:hidden}
.qmei .bok img{width:335px;height:170px}
.qmei .bok p{position:absolute;bottom:10px;left:24px;width:287px;height:46px;line-height:46px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ddffffff',endColorstr='#ddffffff');background:rgba(255,255,255,.9);font-size:16px;color:#333;text-align:center}
.qmei .bok p.active{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ffffffff',endColorstr='#ffffffff');background:rgba(255,255,255,1)}
.qmei .bok p a{color:#333}
.star-level{height:214px}
.star-level img{width:335px;height:165px}
.star-level p{width:335px;height:48px;line-height:48px;overflow:hidden;background:#efefef;margin-top:1px;font-size:16px;color:#333;text-align:center}

.section3 .border,.section4 .border{padding:0 25px}
.section3 .l-title .tab{display:inline-block;float:right;height:45px;line-height:45px;overflow:hidden;margin-top:15px;font-size:16px;border-bottom:1px solid #ececec}
.section3 .l-title .tab ul{color:#ccc}
.section3 .l-title .tab li{display:inline-block;height:42px;padding:0 13px;border-bottom:3px solid #fff;*zoom:1;*display:inline}
.section3 .l-title .tab li a{display:block;height:42px;color:#555}
.section3 .l-title .tab li.active{border-bottom:3px solid #ff7300}
.section3 .l-title .tab li.active a{color:#ff7300}
.daren-cont{height:400px;overflow:hidden;padding-bottom:34px}
.daren-cont-sub{display:none;height:400px;overflow:hidden}
.daren-cont-sub.active{display:block}
.daren-cont-sub .bok{position:relative;float:left;width:285px;height:400px;overflow:hidden;margin-right:10px}
.daren-cont-sub .bok img{width:285px;height:400px}
.daren-cont-sub .bok span{position:absolute;bottom:20px;left:27px;width:210px;height:81px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ddffffff',endColorstr='#ddffffff');background:rgba(255,255,255,.9);padding:0 10px}
.daren-cont-sub .bok span.active{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ffffffff',endColorstr='#ffffffff');background:rgba(255,255,255,1)}
.daren-cont-sub .bok span.sp1{top:27px}
.daren-cont-sub .bok span p{height:40px;line-height:40px;overflow:hidden;font-size:16px;color:#333;text-align:center}
.daren-cont-sub .bok span p.p1{font-size:14px;color:#666;border-top:1px solid #ececec}
.info{float:left;width:410px;margin-left:15px}
.info-sub{margin-bottom:54px}
.info-sub-t{height:60px;overflow:hidden;margin-bottom:18px}
.info-sub-t span{display:block;height:60px}
.info-sub-t span.sp1{float:left;width:60px}
.info-sub-t span.sp1 img{width:60px;height:60px}
.info-sub-t span.sp2{float:right;width:335px;padding-top:5px}
.info-sub-t span.sp2 p{line-height:26px;font-size:14px;color:#666}
.info-sub p{line-height:24px;font-size:14px;color:#666}

.section4 .border{padding-bottom:34px}
.daren-cont-sub .more{float:right;display:block;width:38px;height:400px;line-height:400px;background:#f1f1f1;font-size:30px;color:#ff7300;text-align:center}
.daren-cont-sub .more.active{background:#ff7300;color:#fff}
.meishi-list{height:400px;overflow:hidden}
.meishi-list li{position:relative;display:inline;float:left;width:285px;height:400px;overflow:hidden;margin-right:10px}
.meishi-list li.first{width:493px}
.meishi-list li.last{margin-right:0}
.meishi-list li .bok{position:relative;display:block;width:285px;height:400px}
.meishi-list li .bok img{position:relative;display:block;width:285px;height:400px}
.meishi-list li .bok p{position:absolute;bottom:28px;left:27px;width:230px;height:63px;line-height:63px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#ddffffff',endColorstr='#ddffffff');background:rgba(255,255,255,.9);font-size:16px;color:#333;text-align:center}
.meishi-list li.first .bok{width:493px}
.meishi-list li.first .bok img{width:493px}
.meishi-list li.first .bok p{left:25px;width:442px}
.meishi-list li span{position:absolute;top:400px;left:0;display:block;width:265px;height:380px;background:url(//mat1.gtimg.com/cq/kyoko/eat15/circle_bg.png) repeat;padding:10px}
.meishi-list li span div{width:225px;height:357px;background:#fff;padding:23px 20px 0 20px}
.meishi-list li span div h3{line-height:30px;margin:0 0 12px 0;font-size:22px;color:#333}
.meishi-list li span div h3 a{color:#333}
.meishi-list li span div p{line-height:25px;font-size:14px;color:#666}
.meishi-list li span div p.p1{margin-top:47px}
.meishi-list li span div .bok1{display:block;width:140px;height:39px;line-height:39px;background:#ff7300;margin:25px auto 0 auto;font-size:16px;color:#fff;text-align:center}
.meishi-list li.first span{width:473px}
.meishi-list li.first span div{width:433px}
.main a:hover,.section2 .cont .r h3 a:hover,.delicacy-list .cont .r h3 a:hover{color:#ff7300}





/*  |xGv00|c06592f8032ab8b2aef3575a515951f1 */