.pageInner,.sping,.pc{ width:960px; margin:0 auto; overflow:hidden;}
.banner{ background: url(//mat1.gtimg.com/house/loupan/tlpy_2.jpg) no-repeat; width:960px; height:200px;}
.sping1{ background:url(//mat1.gtimg.com/house/loupan/tlpy_7.jpg) no-repeat; width:960px; height:474px;}
.ti1{ background:url(//mat1.gtimg.com/house/loupan/tlpy_1.jpg) no-repeat; width:960px; height:48px; text-indent:200px; font-family:"微软雅黑"; font-size:24px; line-height:56px; color:#121212; font-weight:bold; margin-top:20px;}
.ti2{ background:url(//mat1.gtimg.com/house/loupan/tlpy_19.jpg) no-repeat; width:126px; height:31px; line-height:31px; color:#fff;font-family:"宋体"; font-size:14px; text-align:center;}
.wz{font-family:"宋体"; font-size:12px; padding:5px 0;}
.pc_nr{ width:958px; border:1px solid #0c7985; overflow:hidden; padding:10px 0;}

.sping1 span{ margin:250px 0 0 30px; width:486px; float:left;}
.sping2{ padding-bottom:30px; height:191px;}
.Pd,.Ud,.Qd{ float:left; display:inline; overflow:hidden;}
.Qd{ float:right; display:inline; overflow:hidden;}
.Ud{ background:url(//mat1.gtimg.com/house/loupan/tlpy_8.jpg) no-repeat; width:248px; height:191px;}
.Qd{ background:url(//mat1.gtimg.com/house/loupan/tlpy_15.jpg) no-repeat; width:250px; height:191px;}
.Ud ul,.Qd ul{ padding-top:70px;}
.Ud li,.Qd li{ height:21px; line-height:21px; margin-left:35px; width:200px; overflow:hidden;}
.Ud a,.Qd a{ color:#333; font-family:"宋体"; font-size:12px; }
.Pd{ font-family:"宋体"; font-size:14px; width:436px; height:168px; overflow:hidden; margin:11px; padding-top:7px; line-height:24px;}
.Pd span{ font-family:"宋体"; font-size:18px; }
.tp1,.t2p,.t3p,.tp4{ float:left; display:inline; overflow:hidden;}
.tp1{ width:532px; height:352px;}
.t2p{ width:420px; margin-left:5px; height:352px;}
h3{ width:420px; text-align:center; font-family:"宋体"; font-size:14px; display:inline-block;  height:40px; padding-top:10px; line-height:40px;}
table{ border:#CCC;}
table tr td{ height:24px; line-height:24px;}
table tr th{ height:30px; line-height:30px; background:#e5e5e5;}
.tp4{ width:502px; margin-left:10px;}
h4,.t3p,.fb{ width:442px;}
h4{ width:420px; text-align:center; font-family:"微软雅黑"; font-size:18px; display:inline-block;  height:30px; padding-top:10px; line-height:30px; color:#0a616a;}
.fb{ height:21px; line-height:21px; padding:15px 0;}
h2{ border:1px solid#000; text-align:center; font-family:"宋体"; font-size:12px; display:inline-block;  height:25px;  line-height:25px; width:500px; color:#0a616a;}
.mm1{ background:#e6f9fb;}

#ts1 tr th{ height:20px; line-height:20px; background:#e5e5e5;}

.fbt{ margin-top:30px; padding-bottom:10px;}

#uq dl,#uq ul{ float:left; display:inline; overflow:hidden; margin-left:15px;}
#uq dl{ width:221px;}
#uq ul{ width:220px;}
#uq ul li{ line-height:22px;}
#uq dl dd{ width:221px; text-align:center;}
.u span{font-family:"宋体"; font-size:14px; color:#e54803;}
.q span{font-family:"宋体"; font-size:14px; color:#0a616b;}


.wzz{ width:488px; float:left; display:inline; overflow:hidden;}
.tpp{ width:470px; float:right; display:inline; overflow:hidden;}
.p1{ width:488px; text-align:center; font-family:"宋体"; font-size:14px; font-weight:bold;}
.p2{ padding:10px 20px; line-height:24px;}
.p3{ padding:10px 40px;}
.tpp1{ width:387px; float:left; display:inline; overflow:hidden;}
.tpp1 img{ width:180px; float:left; display:inline; overflow:hidden; margin:10px 6px; }
.wzz1{ width:565px; float:right; display:inline; overflow:hidden;}
.wzz1 p{ line-height:28px; margin-top:5px; width:565px; float:left; display:inline; overflow:hidden;}
.wzz1 p img,.wzz1 p span{ float:left; display:inline; overflow:hidden;}
.wzz1 p span{ width:510px; margin-left:10px;}
.wzz1 p img{ width:20px; margin-top:5px; margin-left:10px;}/*  |xGv00|ebefeffe5a0555570fce619076036052 */