@charset "gb2312";
/* CSS Document */

*{ margin:0; padding:0; border:none;}
a{ text-decoration:none; color:#000;}
a:hover{ text-decoration:underline; color:#666;}
ul,li{ list-style:none;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
ul,li,dl,dd,dt{ overflow:hidden;}

body{ font:normal 18px/30px "Microsoft YaHei"; color:#333;}
.wrap{ width:960px; margin:0 auto; overflow:hidden;}
.banner{ width:100%; height:208px; overflow:hidden; background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/banner.jpg) no-repeat center top; padding-top:272px; color:#fff; padding-bottom:60px;}
.banner h3{ width:277px; height:40px; padding:60px 45px 0; line-height:40px; overflow:hidden; font-size:28px; font-weight:normal; color:#bf9a60;}
.banner .pic{ width:208px; height:208px; overflow:hidden; position:relative;}
.banner .pic span{ width:208px; height:208px; position:absolute; left:0; top:0;}
.banner .banner_r{ padding-left:35px; width:350px; padding-top:70px; font-size:14px;}
.banner .banner_r p{ height:36px; line-height:36px; overflow:hidden; background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/icon01.png) no-repeat left top; padding-left:23px;}
.banner .banner_r .rz{ width:105px;}
.banner .banner_r .add{ width:110px; background-position:left -36px;}
.banner .banner_r .num{ width:60px; background-position:left -72px;}

.banner .share{ padding-top:10px; color:#333;}
.banner .share .bshare-custom{ padding-top:5px;}

.zhuanjia{ height:320px; padding:20px 0 80px;}
.zhuanjia dt{ width:400px; padding-left:10px;}
.zhuanjia dt h4{ border-left:4px #000 solid; padding-left:10px; font-size:28px; font-weight:bold; height:30px; line-height:30px; margin:50px 0;}
.zhuanjia dd{ width:315px; padding-right:100px; position:relative;}
.zhuanjia dd span{ width:315px; height:315px; position:absolute; left:0; top:0;}

.name_link{ height:220px; width:100%; overflow:hidden; position:relative; margin-bottom:115px;}
.name_link p{ width:308px; height:46px; position:absolute; background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/bg2.png) no-repeat; padding-top:24px; line-height:46px; text-align:center; overflow:hidden;}
.name_link p a{ color:#fff;}
.name_link .n1{ left:38px; top:0;}
.name_link .n2{ left:486px; top:0;}
.name_link .n3{ left:213px; bottom:0;}
.name_link .n4{ left:677px; bottom:0;}

.keyword{ width:100%; height:391px; background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/bg3.gif) no-repeat left center; overflow:hidden; position:relative; margin-bottom:80px;}
.keyword p{ position:absolute;}
.keyword .n1{ left:330px; top:20px; font-size:40px; line-height:40px; color:#737373;}
.keyword .n2{ left:635px; top:10px; font-size:36px; line-height:36px; color:#8d8d8d;}
.keyword .n3{ left:250px; top:140px; font-size:46px; line-height:46px; color:#343434;}
.keyword .n4{ left:450px; top:105px; font-size:82px; line-height:82px; color:#000;}
.keyword .n5{ left:680px; top:155px; font-size:40px; line-height:40px; color:#585858;}
.keyword .n6{ left:310px; top:245px; font-size:36px; line-height:36px; color:#a3a3a3;}
.keyword .n7{ left:540px; top:225px; font-size:36px; line-height:36px; color:#000;}
.keyword .n8{ left:475px; top:320px; font-size:46px; line-height:46px; color:#000;}
.keyword .n9 { left:680px; top:270px; font-size:82px; line-height:82px; color:#585858;}

.bg{ width:100%; background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/bg.jpg) no-repeat center top; overflow:hidden; padding-top:50px;}
.words{ padding-bottom:60px;}
.words .words_pic{ width:530px; height:360px;}

.words_pic{ width:530px; height:360px; position:relative; overflow:hidden;}
.words_pic .focus_con .item{ position:relative;}
.words_pic .focus_con img{width:530px;height:360px;}
.words_pic .shadow{position:absolute;left:0;bottom:0;text-indent:1em;color:#FFF;width:100%;height:35px;line-height:35px;
background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000',endColorstr='#99000000');}
.words_pic .focus_dot{ width:85px;position:absolute;right:5px;bottom:8px;}
.words_pic .focus_dot a{display:inline-block;width:9px;height:9px;background:#fff;opacity: .4;filter: alpha(opacity=40);margin-right:8px;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%; float:left;}
.words_pic .focus_dot a:hover,.words_pic .focus_dot .current{opacity: 1;filter: alpha(opacity=100);}

.words .words_intor{ width:390px; padding-left:30px; padding-top:35px; height:325px; overflow:hidden;}
.words .words_intor a{ color:#fff; text-decoration:none; display:block;}
.words .words_intor a:hover{ opacity:0.7;}
.words .words_intor b{ font:normal 22px/36px "Microsoft YaHei"; color:#bf9a60;}
.words .words_intor h4{ font-size:42px; font-weight:normal; height:66px; line-height:66px; padding-bottom:20px;}
.words .words_intor p{ font-size:18px; line-height:26px; padding-bottom:10px; height:78px; overflow:hidden;}
.words .words_intor span{ font-size:16px; color:#bf9a60;}
.words .words_intor .num{ height:50px; line-height:50px; overflow:hidden; margin-top:35px;}
.words .words_intor .num .num1{ background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/icon.png) no-repeat left top; padding-left:32px; color:#c9c9c9;}
.words .words_intor .num .num2{ background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/icon.png) no-repeat left bottom; padding-left:32px; color:#c9c9c9;}
.words .words_intor .num i{ display:inline-block; font-style:normal; padding-right:30px;}

.sign form{ display:block; overflow:hidden;}
.sign .hd{ width:100%; height:36px; background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/bg5.png) no-repeat center top; margin:30px 0 50px;}
.sign .bd .control-group{ display:inline-block; font-size:30px; color:#fff; line-height:60px; float:left; padding-bottom:30px;}
.sign .bd .input-xxlarge{ width:348px; height:60px; margin-left:20px; padding:0 10px;}
.pr40{ padding-right:40px;}
.sign .bd .control-group .radio{ padding-right:30px;}
.sign .bd .control-group .radio input{ width:23px; height:23px;}
.sign .btn{ width:169px; height:60px; background:url(http://mat1.gtimg.com/fj/zt2019/0523msh/btn.png) no-repeat; cursor:pointer; margin-left:27px;}
.sign p{ font-size:14px; line-height:18px; color:#fff; padding-bottom:50px;}/*  |xGv00|3af69a85f7d7d12d87b6a4a90650982e */