body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,simsun,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
fieldset,img{border:0;}
iframe,img{vertical-align:middle;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea,select,button{outline:none;resize:none;}
a{color:#333;text-decoration:none;/*outline:none*/}
a:hover{color:#c00;text-decoration:underline;}
.clearfix:after,.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix,.clear{*zoom:1;}
.left,.fl,.mark{float:left}
.right,.fr,.subMark{float:right}
.spanclass,.contentdiv,.hide{display:none}
.show{display:block;}

.white{color:#fff;}
.red{color:#c00;}
.mb30{margin-bottom:30px;}

body{min-width:1000px;color:#333;line-height:20px;background:#f5f5f5;}

.mininav{background:#fff;}
.channelTop{width:1000px;margin:0 auto;padding-top:8px;}
.channelTop .cLogo{padding:2px 20px 0 0;}
.channelTop .cSet{padding-top:7px;}


.header{height:110px;border-bottom:1px solid #b3b3b3;background:#e7e7e7;}
.header .content{width:1000px;margin:0 auto;}
.header .logo{float:left;margin:15px 0 0 13px;}
.header .logo a{float:left;width:260px;height:80px;line-height:99em;overflow:hidden;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/logo.png) 0 0 no-repeat;}

#iShare{background:none;float:right;margin-top:62px;width:204px;}
#iShare a{margin-left:4px;width:36px; height:36px;padding-right:0;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/icon_share.png) 0 0 no-repeat;}
#iShare a.Qs_weibo{background-position:-40px 0!important;}
#iShare a.Qs_qzone{background-position:-80px 0!important;}
#iShare a.Qs_sina{background-position:-120px 0!important;}
#iShare a.Qs_pengyou{background-position:-160px 0!important;display:block!important;}
#iShare .Qs_txt2{width:36px; height:36px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/icon_share.png) 0 0 no-repeat;}
#iShare .Qs_txt2:hover{opacity:0.8;filter:alpha(opacity=80);}

.wrap{margin:0 auto;width:1000px;padding:30px 0 50px;}
.wrap .hd{height:37px;border-bottom:1px solid #d6d6d6;}
.wrap .hd .mark{height:37px;margin-bottom:-1px;color:#e78d07;font:400 24px/1.35 \5FAE\8F6F\96C5\9ED1;}
.wrap .hd .mark span{display:inline-block;color:#515151;height:37px;border-bottom:1px solid #0a4295;}

.review .bd{padding:18px 0 28px;}
.review ul{overflow:hidden;}
.review li{width:230px;height:174px;margin-left:26px;float:left;position:relative;}
.review .first{margin-left:0;}
.review .mask{
    width:100%; color:#FFF; position:absolute; bottom:0; left:0;height:24px;line-height:24px;text-align:center;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88000000', endColorstr='#88000000',GradientType=0 );
}

.vote_box{width:656px;}
.vote_box .bd{border-top:1px solid #0a4295;padding:20px 0 10px 0;overflow:hidden;text-align:center;font:400 14px/1.5 \5FAE\8F6F\96C5\9ED1;}
.vote_box h3{padding:10px 0 20px;font-size:24px;font-weight:400;color:#515151;}
.vote_box .svy_digg{padding-left:50px;overflow:hidden;}
.vote_box .option{width:165px;margin-right:27px;float:left;display:inline;}
.vote_box .count{height:40px;font-size:16px;color:#bd0000;}
.vote_box .digg{height:56px;font-size:24px;line-height:56px;color:#999;background:#e7e7e7;text-align:left;}
.vote_box .digg a{color:#787878;display:block;height:56px;}
.vote_box .digg a:hover{color:#fff;background:#c30202;text-decoration:none;}
.vote_box .digg_1{padding-left:85px;background:#e7e7e7 url(//mat1.gtimg.com/gd/images/zt2013/ent_movie/bg_elements.png) 35px 0 no-repeat;}
.vote_box .digg_1 a{margin-left:-85px;padding-left:85px;}
.vote_box .digg_1 a:hover{background:#c30202 url(//mat1.gtimg.com/gd/images/zt2013/ent_movie/bg_elements.png) 35px -58px no-repeat;}
.vote_box .digg_2{padding-left:75px;background:#e7e7e7 url(//mat1.gtimg.com/gd/images/zt2013/ent_movie/bg_elements.png) 25px -116px no-repeat;}
.vote_box .digg_2 a{margin-left:-75px;padding-left:75px;}
.vote_box .digg_2 a:hover{background:#c30202 url(//mat1.gtimg.com/gd/images/zt2013/ent_movie/bg_elements.png) 25px -174px no-repeat;}
.vote_box .digg_3{padding-left:75px;background:#e7e7e7 url(//mat1.gtimg.com/gd/images/zt2013/ent_movie/bg_elements.png) 25px -232px no-repeat;}
.vote_box .digg_3 a{margin-left:-75px;padding-left:75px;}
.vote_box .digg_3 a:hover{background:#c30202 url(//mat1.gtimg.com/gd/images/zt2013/ent_movie/bg_elements.png) 25px -290px no-repeat;}

.provide{width:320px;}
.provide .bd{border-top:1px solid #0a4295;}
.provide .method{border-bottom:1px dotted #d4d4d4;padding:12px 0;overflow:hidden;}
.provide .type{font:400 14px/1.35 \5FAE\8F6F\96C5\9ED1;overflow:hidden;}
.provide .type .tit{float:left;width:35px;height:42px;padding:5px 12px 5px 18px;margin-right:10px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/line_pri.png) right center no-repeat;}
.provide .type a{float:left;height:24px;margin:10px 22px 0 0;line-height:23px;}
.provide .type .a_wb{padding-left:20px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/i_weibo.png) 0 center no-repeat;}
.provide .type .a_wx{padding-left:33px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/i_weixin.png) 0 center no-repeat;}
.provide .type .a_em{padding-left:27px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/i_email.png) 0 center no-repeat;color:#467acf;}
.provide .pay{margin-top:-13px;padding-right:27px;text-align:right;color:#919191;}
.provide .coop{padding:10px 0;line-height:24px;}
.provide .coop h5{color:#0a4295;font-weight:400;}
.provide .coop span{display:inline-block;margin-right:10px;color:#626262;}

.comments{width:656px;}
.comments .comm_content{padding-top:12px;}
.weibo_com{width:320px;}
.weibo_com .bd{padding:12px 0 0 0;font-size:14px;line-height:24px;}
.weibo_com .bd img{float:left;margin-right:12px;}

.footer{height:150px;background:#1d1d1d;}
.footer .content{width:1000px;margin:auto;}
.footer .logo_f{float:left;margin:22px 0 0 20px;width:100px;height:80px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/logo_f.png) 0 0 no-repeat;}
.footer .team{width:849px;padding-top:49px;float:right;color:#fff;line-height:18px;}
.footer .team a{color:#fff;}
.footer .team li{float:left;margin-right:12px;}
.footer .team img{float:left;}
.footer .team .info{float:left;margin:35px 0 0 -10px;}
.footer .team .wb{padding-left:12px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/icon_wb.png) 0 0 no-repeat;}
.footer .team .tag,
.footer .team .tag_l{height:17px;width:35px;margin-left:15px;padding:0 0 0 3px;text-align:center;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/tag_s.png) 0 0 no-repeat;display:inline-block;line-height:15px;}
.footer .team .tag_l{width:56px;padding:0 3px 0 0;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/tag_l.png) 0 0 no-repeat;}


.wrapper-inner {zoom:1; margin:0 auto;padding-top:15px;min-width:1000px;max-width:1172px;position:relative;}

#Main-P-QQ {margin:0 auto;text-align:center;font-size:12px;color:#fff;}
#Main-P-QQ .hd {height:auto;display:none;}
#Main-P-QQ .hd h1{color: white;font: 800 26px/22px "ו",arial;line-height: 26px;margin: 19px auto 0 auto;}
#Main-P-QQ .bd{width:1000px;margin:0 auto;background:#000;}

#Main-A{width:1000px;height:674px;text-align:center;position:relative;background:url(//mat1.gtimg.com/www/hd2011/ajax-loader.gif) no-repeat center center;}
#PicSrc{width:1000px;}
.pageLeft {position:absolute;left:0;top:0;width:66px;cursor:pointer;z-index:101;display:block!important;}
.pageLeft span {float:left;width:66px;height:54px;margin-top:324px;_display:inline;background-image: url(//mat1.gtimg.com/gd/images/zt2013/jiefang/arr_left.png)!important;/* FF IE7 */background-repeat: no-repeat;}
.pageLeft span a,
.pageRight span a {display:block;position:relative;width:66px;height:54px;}
.pageRight {position:absolute;right:0;top:0;width:66px;cursor:pointer;z-index:101;display:block!important;}
.pageRight span {float:right;width:66px;height:54px;margin-top:324px;_display:inline;background-image: url(//mat1.gtimg.com/gd/images/zt2013/jiefang/arr_right.png)!important;/* FF IE7 */background-repeat: no-repeat;}

.pageLeft-bg {position:absolute;left:0;top:0;width:100%;z-index:100}
.pageRight-bg {position:absolute;left:0;top:0;width:100%;z-index:100}
.pageLeft-bg,
.pageRight-bg {background:#fff;filter:alpha(opacity=0); /*IE*/-moz-opacity:0; /*MOZ , FF*/opacity:0;/*CSS3, FF1.5*/}

#mouseOverleft,
#mouseOverright{position:absolute;top:0;}
#mouseOverleft{left:0}
#mouseOverright{right:0}

/*Main-B*/
#Main-B {width:960px;margin:0 auto;padding:18px 0 0;text-align:left;color:#fff;font-size:14px;overflow:hidden;}
#Main-B .number{float:left;width:70px;height:78px;background:url(//mat1.gtimg.com/gd/images/zt2013/jiefang/icon_page.png) 0 0 no-repeat;}
#Main-B .number .cur{width:30px;display:block;height:30px;font:400 26px/30px \5FAE\8F6F\96C5\9ED1;text-align:center;}
#Main-B .number .count{width:30px;margin-left:25px;display:block;font:400 18px/30px \5FAE\8F6F\96C5\9ED1;color:#999;text-align:center;}

#Main-B p {line-height:24px;padding-bottom:18px;}
#Main-B .TimeInfo {float:right;display:none;}
#Main-B .TimeInfo span {padding-right:13px;}

/*Main-C*/
#Main-C{width:1000px;height:59px;position:relative;z-index:105;margin-top:0px;}
#goleft,
#goright{display:none;}
.smallPic{width:999px;overflow:hidden;font-size:12px;color:#fff;padding-left:1px;}
.smallPic div.left {width:1000px;height:59px;overflow:hidden;_display:inline;position:relative}
.smallPic div.left a.mask{position:absolute;width:95px;height:5px;display:block;background:#d60600;overflow:hidden;z-index:10;left:2px;}
.smallPic div.left ul{position:absolute;z-index:2;left:0;}
.smallPic div.left li {float:left;width:100px;height:59px;text-align:center;}
.smallPic div.left li div{width:95px;height:54px;margin:0 3px 0 2px;overflow:hidden;background:#000;padding-top:5px;}
.smallPic div.left li div a {display:block;width:95px;height:54px;overflow:hidden;margin:0 auto;cursor:pointer;position:relative;}
.smallPic div.left li img{width:95px;height:54px;}
.smallPic div.left li a:hover {text-decoration:none;}
.smallPic div.left li a span {position:absolute;display:block;width:33px;height:14px;right:4px;bottom:2px;background:#000;color:#fff;text-align:center;font-size:12px;}
.smallPic div.left li a:hover span {background:#464646;text-decoration:none;color:#fff;}

.adbottom {width:1000px;margin:-12px 0 30px;}
.adbottom ul{height:160px;padding:15px 0 0 12px;margin:15px 0 0;background:#000;overflow:hidden;}
.adbottom ul li {float:left; padding:0 9px; text-align:center; }
.tipsAd {border-top:1px solid #d6d6d6; height:175px; overflow:hidden;}/*  |xGv00|c6b59af78bb7bd4aa150eb63a7d28394 */