@charset "gb2312";
body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif; color:#383838;text-align:left}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none; list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{ text-align:left; font-weight:400}
img,fieldset{border:0;vertical-align:middle}
a{color:#383838;text-decoration:none;outline:none}
a:hover{color:#c00;text-decoration:underline}
.fl,.mark{float:left}
.fr,.subMark{float:right}
.spanclass,.contentdiv,.hide{display:none}
.show{ display:block}

.clx:after,.modA .thA:after,.ulTxt li:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.clx{*zoom:1}
.clear{font-size:0; line-height:0; height:0; overflow:hidden; clear:both; visibility:hidden}
.hr10,.hr0{height:10px;font-size:1px;line-height:1px;clear:both;-webkit-text-size-adjust:none;}
.hr1{height:1px;overflow:hidden;}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.f14{ font-size:14px} 
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;} 
.lh24{line-height:24px}
.black{ color:#000;}
.blank10{ clear:both; height:10px; overflow:hidden;}
.fl{float:left}
.fr{float:right}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.imgA img{border:1px solid #E2E2E2; padding:2px; background:#fff}
.picBlock img, .picBlock object{display:block}
.links{color:#D2D2D2}
.links a{color:#7C7C7C}
a.more{color:#9C9C9C; padding-right:13px; background:url(//mat1.gtimg.com/gd/images/zt2012/tuanzhang/iconB.png) no-repeat right center;}
.bgGry{background:#F3F3F3}
.lh20{line-height:20px}

body{background:#0A0603}
.top{height:317px; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/bg.jpg) no-repeat center top}
.content{background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/content.jpg) no-repeat center top}
.main{width:900px; padding:30px 30px 0; background:#fff; margin:0 auto 10px}
.first .bigPic{float:left}
.fText{width:500px; float:right;}
.fText h1{height:36px; line-height:36px; font-size:24px; font-family:"Microsoft Yahei"}
.fData{height:45px; color:#7D7D7D}
.fData a{color:#7D7D7D}
.fInfo{ height:200px; position:relative}
.fInfo li{height:29px; line-height:29px; margin-bottom:6px;font-family:"Microsoft Yahei"; font-size:16px}
.fInfo li span{display:block; float:left; width:105px; height:29px; text-align:center; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/finfo.jpg); margin-right:18px; color:#fff; font-size:14px; }
.fInfo .qf{width:138px; height:63px; display:block; position:absolute; top:0; right:0; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/qf.png) no-repeat}
.shuoming{width:896px; padding-bottom:10px; margin:0 auto 23px; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/shuoming.jpg) no-repeat #C20404; position:relative}
.shuoming .pTxt{line-height:26px; font-size:14px; color:#fff; font-family:"Microsoft Yahei"; padding:35px 0 0 30px}
.shuoming .pTxt a{color:#fff}
.shuoming .shareto{width:140px; position:absolute; top:150px; right:0}
.shuoming .shareto i{display:block; line-height:28px; color:#fff;}
.pTxt2 strong{font-size:14px; padding-bottom:5px; font-weight:bold; display:block; color:#000}
.huigu .ah{height:31px; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/wqhg.png) no-repeat 0 0; border-bottom:1px solid #C5C4C4; margin-bottom:16px}
.faweibo{width:884px; height:152px; padding:55px 6px 6px; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/fwb.jpg) no-repeat; margin:0 auto 25px; border-bottom:7px solid #F16F59; overflow:hidden}
.tuijian{width:327px; height:370px; float:left; padding-top:45px; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/tuijian.jpg) no-repeat 0 0; border:1px solid #D1D1D1}
.gundong{width:557px; height:350px; float:right; padding-top:45px; padding-bottom:20px; background:url(//mat1.gtimg.com/gd/images/zt2012/06woyaofei/gundong.jpg) no-repeat 0 0; border:1px solid #D1D1D1}
.team{height:60px; line-height:60px; text-align:center}

#shareall{height:26px; line-height:26px; background:#E9E9E9; padding:0 5px; position:absolute; top:150px; right:10px}
#shareall img{vertical-align:middle}

body #footer, body #footer a, body #footer #tcopyright {color:#fff}
/*  |xGv00|64f84f0eb3e09097b70032b41a450e6f */