body {
	font-family: "ו";
}
a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color:#FF0000;
}

.black18p a{
	font-size: 18px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
.p12h20 {
	font-size: 12px;
	line-height: 20px;
}
.p12h24 {
	font-size: 12px;
	line-height: 24px;
}
.p12h26 {
	font-size: 12px;
	line-height: 26px;
}
.p12h20pt {
	font-size: 12px;
	line-height: 21pt;
}
.red {
color:#d92026;
}
.red a{
color:#d92026;
}
.orange {
color:#ff3e3e;
}
.orange a{
color:#ff3e3e;
}
.pink {
color:#e63b5f
}
.pink a{
color:#e63b5f
}
.blue {
color:#00428e
}
.blue a{
color:#00428e
}
.tuhuang {
color:#e67b3b
}
.tuhuang a{
color:#e67b3b
}
.p14b {
font-size:14px;
font-weight:bold;
}
/*  |xGv00|d2fa8d5aa16a3fb1a020806485b54551 */