@charset "gb2312";
/**
 * author: jianminlu#tencent.com, shenshenyan#tencent.com
 * updata: 2013-04-09 17:47
 */
/* cssRset */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select{margin:0;padding:0;}
body{font:12px "宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;color:#8C8C8C;background:#F0F0F0;line-height:22px;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#BC0904;}
em{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
p{word-wrap:break-word;}
.undis{display:none;}
.dis{display:block;}
.ind{text-indent:2em;}
.Q-red{color:#BD0A01;}
.Q-black{color:#000;}
.cf:after,.layout:after,.hd:after,.bd:after{content:"";display:table;clear:both;}
.cf,.layout,.hd,.bd{*zoom:1;}
@media screen{
.hd h2,.hd h3,
.fl,.layout .fl,.chief{float:left;display:inline}
.fr,.layout .fr,.extra{float:right;display:inline}
.layout{width:1000px;margin:0 auto}
.f10{font-size:10px;}.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f15{font-size:15px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}.f22{font-size:22px;}.f26{font-size:26px;}
.l16{line-height:16px;}.l17{line-height:17px;}.l18{line-height:18px;}.l19{line-height:19px;}.l20{line-height:20px;}.l21{line-height:21px;}.l22{line-height:22px;}.l23{line-height:23px;}.l24{line-height:24px;}.l25{line-height:25px;}.l26{line-height:26px;}.l27{line-height:27px;}.l28{line-height:28px;}.l29{line-height:29px;}.l30{line-height:30px;}.l32{line-height:32px;}
.mt10{margin-top:10px;}.mr10{margin-right:10px;}.mr12{margin-right:12px;}.mb10{margin-bottom:10px;}.mb40{margin-bottom:40px;}}
.posr{position:relative;}
.posa{position:absolute;}
.yh{font-family:"Microsoft Yahei","黑体";font-weight:normal;}
.ari{font-family:"Arial";}
.pic2{border:1px solid #D2D2D2;background:#FFF;padding:2px;}
h1,h2,h3,h4{font-size:100%;}
/* sprite */
.icons{background:url(//mat1.gtimg.com/2016/zimeiti/shujupai/icons.png) no-repeat;}
/* 布局 */
.page{position:relative;border-bottom:1px solid #DEDEDE;overflow:hidden;}
.pageBg{position:absolute;top:0;left:0;width:50%;height:20000px;background:#FFF;}
.banner{position:relative;z-index:1;height:147px;background:url(//mat1.gtimg.com/2016/zimeiti/shujupai/bannerBg.jpg) center top no-repeat #011631;}
.layout1{position:relative;z-index:1;}
.layout1 .chief{width:670px;background:#FFF;padding-top:20px;}
.layout1 .extra{width:311px;padding-left:19px;}
.modList{width:640px;}
.modList .item{padding:10px 0 60px 77px;position:relative;background:url(//mat1.gtimg.com/2016/zimeiti/shujupai/lineBg.png) 20px 0 repeat-y #FFF;}
.modList .item h3 a{color:#011631;}
.modList .item h3 a:hover{color:#BC0904;}
.modList .item .num{position:absolute;left:0;top:0;width:59px;height:37px;line-height:30px;background-position:0 -20px;font-family:Tahoma;font-size:14px;text-align:center;color:#7c9dc7;}
.modList .itemPic{padding-right:20px;background:#FFF;position:relative;}
.modList .itemTxt{padding:5px 0 12px;border-bottom:1px dotted #E5E7EA;}
.modList .itemInfo{padding:10px 0 0;}
.modList .itemInfo a{color:#011630;}
.modList .itemInfo a:hover{color:#BC0904;}
.modList .bigPic{width:460px;display:none;margin-bottom:10px;position:relative;}
.modList .bigPic .closeBtn{position:absolute;top:0;right:-25px;width:15px;height:15px;line-height:99px;overflow:hidden;background-position:-140px -20px;}
.modList .itemBig{width:460px;padding-right:100px;}
.modList .itemBig .bigPic{display:block;}
.modList .itemBig .smallPic{display:none;}
.modA{padding:20px 0 10px;}
.modA .hd{height:24px;background-position:right 10px;overflow:hidden;}
.modA .hd h2{height:22px;*line-height:24px;padding-left:22px;color:#01132e;overflow:hidden;}
.mod2 .hd h2{background-position:-170px -16px;}
.mod2 .bd{width:311px;padding:10px 0 0;overflow:hidden;}
.mod2 .list{width:340px;}
.mod2 .item{float:left;width:56px;text-align:center;padding:5px 29px 5px 0;}
.mod2 .item a{color:#666;}
.mod3 h3 a,
.mod4 h3 a{color:#021530;}
.mod3 .hd h2{background-position:-170px -46px;}
.mod3 .bd{padding:5px 0 10px;}
.mod3 .item{padding:15px 0;}
.mod3 .item dt{padding:0 12px 0 0;}
.mod3 .ft .select{border:2px solid #93AECF;padding:3px 5px 3px 8px;}
.mod4 .hd h2{background-position:-170px -76px;}
.mod4 .bd{padding:5px 0 0;}
.mod4 .item{padding:15px 0;}
.mod4 .item dt{padding-right:12px;}
.mod5 .hd h2{background-position:-170px -106px;}
.mod5 .bd{padding:5px 0 0;}
.mod5 .item{padding:15px 0;}
.mod5 .item dt{width:83px;height:83px;padding-right:12px;position:relative;}
.mod5 .item .userPic{display:block;width:83px;height:83px;position:absolute;left:0;top:0;background:url(//mat1.gtimg.com/2016/zimeiti/shujupai/picBg.png) no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//mat1.gtimg.com/2016/zimeiti/shujupai/picBg.png',sizingMethod='crop');}
.mod5 h3 a{color:#454545;}

/* shenshenadd gnBox*/
.wbDl dd .iconWb.wbDl dd .iconWb:hover,.iconWb,.iconWb:hover,.iconKj,.iconKj:hover,.iconSina,.iconSina:hover,.iconRss,.iconRss:hover,.toutiaoBox .t .qi,.yueduBox .lt,.yueduBox .rb,.dingLi,.dingLiOn,.new .item .num{ background:url(//mat1.gtimg.com/2016/zimeiti/shujupai/sprite2.png) no-repeat }
#gnBox{ top:205px; position:fixed; right:50%; margin-right:-600px; width:57px; _position:absolute;}
#gnBox a{ cursor:pointer}
.numBox{ display:none; position:absolute; position:absolute; top:133px; left:0px; width:52px; height:19px; line-height:19px!important; overflow:hidden; text-align:center; font-size:12px; font-family:"微软雅黑","黑体"; font-weight:normal;}
#gnBox ul{ position:relative; width:52px; margin:0px auto; border:1px solid #D2D2D2; overflow:hidden; background:#fff}
.dingLi{ position:relative; width:52px; height:55px; background-position:-112px -0px}
#add{ display:none; position:absolute; top:133px; left:0px; width:52px; height:20px; line-height:20px; overflow:hidden; text-align:center; font-size:12px; font-family:"微软雅黑","黑体"; font-weight:normal}
.ding{ display:block; width:52px; height:55px; }
.dingLiOn { background-position:-164px -0px!important }
.iconKj{ display:block; width:52px; height:44px; background-position:0px -86px; text-indent:-9999em}
.iconKj:hover{ background-position:-60px -86px!important}
.iconWb{ display:block; width:52px; height:44px; background-position:0px -0px; text-indent:-9999em}
.iconWb:hover{ background-position:-60px -0px!important}
.iconSina{ display:block; width:52px; height:44px; background-position:0px -43px; text-indent:-9999em}
.iconSina:hover{ background-position:-60px -43px!important}
.new .item .num{background-position:-132px -74px ;text-indent:-999em;overflow:hidden;  }
.bigshow .itemPic .smallPic{display:none; }
.bigshow .itemPic .bigPic{display:block; }
.bigshow .item{width:460px; }
.bigshow .itemInfo{display:none; }

/* add sports index */
.mod_ca{padding:20px 0 0;}
.mod_ca .hd{background:#EEF3F8;}
.mod_ca .hd .qs{width:45px;height:27px;line-height:27px;padding-left:4px;color:#333;}
.mod_ca .hd h3{height:27px;line-height:27px;background-position:-460px -520px;padding-left:9px;}
.mod_ca .hd1{background:none;}
.mod_ca .hd1 h3{width:251px;padding-left:0;}
.mod_ca .hd1 a,
.mod_ca .hd1 i{background:url(//mat1.gtimg.com/sports/index2013/images/icon_txt_v2.png) no-repeat;}
.mod_ca .hd1 a{display:block;height:27px;line-height:27px;cursor:pointer;}
.mod_ca .hd1 i{display:inline-block;width:60px;height:20px;line-height:99px;margin:4px 0 0 10px;overflow:hidden;}
.mod_ca .hd1 a{background-position:0 -120px;}
.mod_ca .hd1 a:hover{background-position:0 -150px;}
.mod_ca .new a{background-position:0 -90px;}
.mod_ca .new .qs{font-family:Tahoma;font-weight:bold;color:#C91111;}
.mod_ca .hd1 .txt_jh{background-position:0 -30px;}
.mod_ca .new .txt_jh{background-position:0 0;}
.mod_ca .hd1 a:hover .txt_jh{background-position:0 -60px;}
.mod_ca .hd1 .txt_dj{background-position:-60px -30px;}
.mod_ca .new .txt_dj{background-position:-60px 0;}
.mod_ca .hd a:hover .txt_dj{background-position:-60px -60px;}
.mod_ca .hd1 .txt_mj{background-position:-120px -30px;}
.mod_ca .new .txt_mj{background-position:-120px 0;}
.mod_ca .hd1 a:hover .txt_mj{background-position:-120px -60px;}
.mod_ca .hd1 .txt_ss{background-position:-180px -30px;}
.mod_ca .new .txt_ss{background-position:-180px 0;}
.mod_ca .hd1 a:hover .txt_ss{background-position:-180px -60px;}
.mod_ca .hd1 .txt_sd{background-position:-240px -30px;}
.mod_ca .new .txt_sd{background-position:-240px 0;}
.mod_ca .hd1 a:hover .txt_sd{background-position:-240px -60px;}
.mod_ca .hd1 .txt_pl{background-position:-300px -30px;}
.mod_ca .new .txt_pl{background-position:-300px 0;}
.mod_ca .hd1 a:hover .txt_pl{background-position:-300px -60px;}
.mod_ca .bd .item{padding:12px 10px 0 0;position:relative;}
.mod_ca .bd .item h4{padding-bottom:5px;}
.mod_ca .bd .item dt{text-align:center;position:relative;z-index:1;}
.mod_ca .vote_btn{padding-top:2px;}
.mod_ca .vote_btn a,
.mod_ca .vote_btn span{display:inline-block;height:20px;line-height:20px;}
.mod_ca .vote_btn a{width:20px;}
.mod_ca .tab_hd{text-align:center;color:#D3D2D2;padding:15px 0 5px;}
.mod_ca .tab_hd span{padding:0 10px;}
.mod_ca .tab_hd a{color:#1D6CB5;}
.mod_ca .tab_hd a:hover{text-decoration:none;}
.mod_ca .tab_hd .current{color:#333;}
.mod_ca .picTxt{width:295px;}
/* pageZone */
#pageZone { padding:30px 0 30px 30px; overflow: hidden }
#pageZone span { float: left; width: 30px; height: 30px; line-height: 30px; border: 1px solid #e2e2e2; text-align: center; margin-right: 5px; font-size: 14px; cursor: pointer; }
#pageZone span:hover { background: #7C9DC7; color: #fff; text-decoration: none }
#pageZone .Disabled { width: 85px; }
#pageZone .Disabled a { display: block; width: 85px }
#pageZone span.isNow { background: #7C9DC7; color: #fff; }
#pageZone span.count { display: none }
#pageZone span.dot { border: none; }
#pageZone span a { display: block; width: 34px; height: 34px; }
#pageZone span a:hover { color: #fff; text-decoration: none }
.page{zoom:1;}
.pageBg{padding-left:170px;}
#topic_nav{overflow:hidden;}
.itemBig .smallPic,
.itemBig .picBtn{display:none;}
.modList .new .num{ background:url(//mat1.gtimg.com/2016/zimeiti/shujupai/sprite2.png) no-repeat; }
.modList .new .num{background-position:-132px -74px;text-indent:-999em;overflow:hidden;  }
#listZone{overflow:hidden;zoom:1;}
#listZone .first{margin-top:-210px;}/*  |xGv00|40cf1377c2113381338f501c7d1baff4 */