@charset "UTF-8";
/* line 1, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, linkcode, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* line 8, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
* {
  box-sizing: border-box; }

/* line 11, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 15, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
body {
  font-family: Helvetica Neue, Roboto, microsoft yahei;
  line-height: 1;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; }

/* line 24, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
ol, ul {
  list-style: none; }

/* line 28, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
blockquote, q {
  quotes: none; }

/* line 32, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

/* line 37, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 42, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
body, html {
  width: 100%;
  height: 100%; }

/* line 46, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
a {
  text-decoration: none; }

/* line 49, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
input, textarea {
  outline: none; }

/* line 52, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 57, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.wrap {
  width: 100%;
  background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/bg.jpg) center 0 no-repeat; }

/* line 61, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.header {
  height: 705px; }

/* line 64, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.mod {
  width: 1200px;
  margin: 0 auto 80px;
  overflow: hidden; }
  /* line 68, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .mod .hd {
    height: 95px;
    line-height: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color: #c4c4c4;
    background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/tit_bg.png) center center no-repeat; }

/* line 79, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.adcard {
  margin-bottom: 50px; }
  /* line 81, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .adcard li {
    float: left;
    width: 245px;
    height: 115px;
    padding: 17px 0 0 21px;
    background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/logobg.png) 0 0 no-repeat; }
    /* line 87, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .adcard li img {
      border-radius: 5px; }

/* line 93, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.timeline {
  margin-bottom: 65px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABLAAAAABAQMAAAD0NsVPAAAAA1BMVEWHh4dEHijQAAAAC0lEQVQI12MYnAAAAJcAAQakXmMAAAAASUVORK5CYII=) center center no-repeat; }
  /* line 96, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .timeline .nav {
    padding-left: 100px; }
  /* line 99, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .timeline .normal {
    float: left;
    width: 118px;
    height: 133px;
    margin-right: 55px;
    background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/btl_bg2.png) 0 0 no-repeat;
    font-size: 22px;
    color: #878787;
    text-align: center; }
    /* line 110, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .timeline .normal i {
      display: inline-block;
      width: 45px;
      height: 41px; }
    /* line 117, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .timeline .normal.home i {
      background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/ico.png) 0 0 no-repeat; }
    /* line 121, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .timeline .normal.over i {
      background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/ico.png) -45px 0 no-repeat; }
    /* line 125, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .timeline .normal.home, .timeline .normal.over {
      padding-top: 25px; }
      /* line 127, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .timeline .normal.home i, .timeline .normal.over i {
        margin-bottom: 5px; }
    /* line 131, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .timeline .normal.on {
      background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/rtl_bg.png) 0 0 no-repeat;
      color: #fff;
      text-align: center; }
      /* line 135, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .timeline .normal.on i {
        display: inline-block;
        width: 45px;
        height: 41px; }
      /* line 142, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .timeline .normal.on.home i {
        background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/ico.png) 0 -45px no-repeat; }
      /* line 147, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .timeline .normal.on.over i {
        background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/ico.png) -45px -45px no-repeat; }
    /* line 152, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .timeline .normal.sq {
      padding-top: 30px; }
      /* line 154, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .timeline .normal.sq h3 {
        line-height: 36px;
        font-size: 18px; }
      /* line 158, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .timeline .normal.sq p {
        line-height: 18px;
        font-size: 12px; }

/* line 167, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.slider_hotnews .slider {
  position: relative;
  float: left;
  width: 610px;
  height: 435px;
  background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/slider_bg.png) right bottom no-repeat; }
  /* line 173, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .slider_hotnews .slider .swiper-container {
    float: left;
    width: 590px;
    height: 415px; }
    /* line 177, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .slider_hotnews .slider .swiper-container .swiper-slide {
      position: relative; }
      /* line 179, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .slider_hotnews .slider .swiper-container .swiper-slide p {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45px;
        line-height: 45px;
        color: #fff;
        font-size: 16px;
        background-color: rgba(215, 40, 51, 0.7);
        text-indent: 30px; }
  /* line 193, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .slider_hotnews .slider .pagination {
    position: absolute;
    right: 40px;
    bottom: 35px;
    z-index: 50; }
    /* line 198, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .slider_hotnews .slider .pagination .swiper-pagination-switch {
      float: left;
      width: 14px;
      height: 14px;
      margin-left: 10px;
      border-radius: 50%;
      background-color: #474747; }
      /* line 205, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .slider_hotnews .slider .pagination .swiper-pagination-switch.swiper-active-switch {
        background-color: #ff6b74; }

/* line 211, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.slider_hotnews .hotnews {
  float: right; }
  /* line 213, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .slider_hotnews .hotnews .cover {
    position: relative;
    width: 520px;
    margin-bottom: 60px; }
    /* line 217, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .slider_hotnews .hotnews .cover h3 {
      margin-bottom: 15px;
      height: 40px;
      line-height: 40px;
      font-size: 22px; }
    /* line 223, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .slider_hotnews .hotnews .cover p {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 30px;
      color: #fff; }
    /* line 229, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .slider_hotnews .hotnews .cover .more {
      display: block;
      width: 145px;
      height: 40px;
      border: 1px solid #e13846;
      line-height: 40px;
      text-align: center;
      font-size: 14px; }
    /* line 238, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .slider_hotnews .hotnews .cover a {
      color: #fff; }

/* line 246, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.region .plist {
  float: left;
  width: 470px;
  margin-right: 30px; }
  /* line 250, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .plist li {
    float: left;
    width: 200px;
    height: 370px;
    margin-bottom: 20px;
    margin-right: 35px;
    overflow: hidden; }
    /* line 257, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .plist li img {
      margin-bottom: 20px; }
    /* line 260, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .plist li h3 {
      height: 35px;
      line-height: 35px;
      font-size: 18px; }
      /* line 264, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .region .plist li h3 a {
        color: #c4c4c4; }
    /* line 268, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .plist li p {
      line-height: 22px;
      font-size: 14px;
      color: #919191; }

/* line 275, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.region .qr_hot {
  float: left;
  width: 300px;
  overflow: hidden; }
  /* line 279, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .qr_hot .qr {
    margin-bottom: 30px; }
    /* line 281, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .qr_hot .qr h3 {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 26px;
      color: #fff; }
  /* line 288, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .qr_hot .hot {
    position: relative;
    height: 458px;
    background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/qrhot_bg.png) right bottom no-repeat; }
    /* line 292, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .qr_hot .hot h3 {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 220px;
      height: 35px;
      line-height: 35px;
      text-indent: 20px;
      font-size: 18px; }
      /* line 301, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .region .qr_hot .hot h3 a {
        color: #fff; }

/* line 307, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.region .tlist_pnews {
  float: right;
  width: 340px; }
  /* line 310, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .tlist_pnews a.more {
    display: block;
    width: 340px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border: 1px solid #e13846; }
  /* line 321, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .tlist_pnews .tlist {
    margin-bottom: 20px; }
    /* line 323, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .tlist_pnews .tlist li {
      line-height: 40px;
      font-size: 16px;
      padding-left: 15px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAIAgMAAACjXbaWAAAADFBMVEXhOUfhOUfhOUfhOUfGDRYSAAAAA3RSTlPmSklSjzZ3AAAAEklEQVQI12NoYrBh+A+BQJYjACuPBTixLylTAAAAAElFTkSuQmCC) 0 center no-repeat; }
      /* line 328, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .region .tlist_pnews .tlist li a {
        color: #c4c4c4; }
  /* line 334, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .tlist_pnews .pnews .p1news, .region .tlist_pnews .pnews .p2news {
    position: relative;
    text-align: center;
    font-size: 18px; }
    /* line 338, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .tlist_pnews .pnews .p1news .msk, .region .tlist_pnews .pnews .p2news .msk {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/msk_bg.png) 0 0 no-repeat;
      z-index: 50; }
    /* line 346, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .region .tlist_pnews .pnews .p1news a, .region .tlist_pnews .pnews .p2news a {
      color: #fff; }
      /* line 349, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .region .tlist_pnews .pnews .p1news a:hover .msk, .region .tlist_pnews .pnews .p2news a:hover .msk {
        display: block; }
  /* line 355, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .tlist_pnews .pnews .p1news {
    height: 180px;
    line-height: 180px;
    margin-bottom: 25px; }
  /* line 360, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .region .tlist_pnews .pnews .p2news {
    height: 250px;
    line-height: 250px; }

/* line 368, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.reveal {
  overflow: visible; }
  /* line 370, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .reveal .video {
    position: relative;
    height: 550px;
    margin-bottom: 60px; }
    /* line 374, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .reveal .video i {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -93.5px;
      margin-top: -99px;
      display: block;
      width: 187px;
      height: 198px;
      background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/ico_playbtn.png) 0 0 no-repeat; }
  /* line 386, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .reveal .ulist {
    position: relative;
    height: 510px; }
    /* line 389, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .reveal .ulist .swiper-container {
      height: 450px; }
      /* line 391, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .reveal .ulist .swiper-container .swiper-wrapper {
        height: 450px; }
        /* line 394, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
        .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user {
          position: relative;
          float: left;
          width: 200px; }
          /* line 398, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
          .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a {
            display: block; }
            /* line 400, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
            .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a .msk {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 200px;
              height: 450px;
              text-align: center;
              background-color: rgba(215, 40, 51, 0.7); }
              /* line 409, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
              .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a .msk .slogan {
                padding: 40px 0; }
                /* line 411, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
                .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a .msk .slogan .s1 {
                  font-size: 18px; }
                /* line 414, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
                .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a .msk .slogan .s2 {
                  font-size: 14px; }
              /* line 418, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
              .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a .msk h3 {
                margin-bottom: 40px;
                font-size: 23px; }
              /* line 422, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
              .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a .msk p {
                padding: 0 20px;
                font-size: 14px;
                line-height: 24px;
                text-align: left; }
              /* line 428, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
              .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a .msk .more {
                position: absolute;
                bottom: 80px;
                left: 50%;
                margin-left: -60px;
                display: block;
                width: 120px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #fff;
                border-radius: 5px;
                font-size: 14px; }
            /* line 444, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
            .reveal .ulist .swiper-container .swiper-wrapper .swiper-slide .user a:hover .msk {
              display: block; }
    /* line 453, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .reveal .ulist a {
      color: #fff; }
    /* line 456, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .reveal .ulist a.arrow-left2, .reveal .ulist a.arrow-right2 {
      position: absolute;
      display: block;
      top: 200px;
      width: 43px;
      height: 79px;
      background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/slider_btn.png) no-repeat;
      z-index: 50; }
    /* line 465, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .reveal .ulist a.arrow-left2 {
      left: -20px;
      background-position: 0 0; }
    /* line 469, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .reveal .ulist a.arrow-right2 {
      right: -20px;
      background-position: -43px 0; }
    /* line 473, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .reveal .ulist .pagination {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 50;
      text-align: center; }
      /* line 479, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .reveal .ulist .pagination .swiper-pagination-switch {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin: 0 5px;
        border-radius: 50%;
        background-color: #474747; }
        /* line 486, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
        .reveal .ulist .pagination .swiper-pagination-switch.swiper-active-switch {
          background-color: #ff6b74; }

/* line 494, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.meeting {
  width: 100%; }
  /* line 496, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .meeting .plist, .meeting .tlist {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 610px;
    overflow: hidden; }
  /* line 504, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .meeting .plist {
    background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/meeting_bg.jpg) 0 0 no-repeat; }
    /* line 506, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .meeting .plist .big {
      position: absolute;
      top: 45px;
      right: 60px;
      width: 540px;
      height: 320px;
      overflow: hidden; }
      /* line 513, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .meeting .plist .big img {
        width: 540px;
        height: 320px; }
      /* line 517, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .meeting .plist .big p {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-indent: 20px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.7); }
    /* line 530, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .meeting .plist .list {
      position: absolute;
      top: 400px;
      right: 60px;
      width: 560px;
      height: 350px;
      overflow: hidden; }
      /* line 537, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .meeting .plist .list li {
        position: relative;
        float: left;
        width: 260px;
        height: 165px;
        margin-left: 20px;
        margin-bottom: 20px; }
        /* line 544, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
        .meeting .plist .list li img {
          width: 260px;
          height: 165px; }
        /* line 548, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
        .meeting .plist .list li p {
 position: absolute;   left: 0;   bottom: 0;   width: 260px;   height: 55px;   line-height: 22px;   color: #fff;   font-size: 14px;   background-color: rgba(0, 0, 0, 0.7);   padding: 8px 15px; }
  /* line 563, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .meeting .tlist {
    padding-top: 40px;
    padding-left: 60px;
    background-color: #e13846; }
    /* line 567, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .meeting .tlist .news {
      margin-bottom: 60px;
      color: #fff; }
      /* line 570, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .meeting .tlist .news h3 {
        line-height: 32px;
        font-size: 21px;
        margin-bottom: 20px; }
      /* line 575, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .meeting .tlist .news p {
        line-height: 32px;
        font-size: 16px;
        margin-bottom: 20px; }
      /* line 580, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .meeting .tlist .news a {
        color: #fff; }
      /* line 583, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .meeting .tlist .news a.more {
        display: block;
        width: 145px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 5px;
        line-height: 40px;
        text-align: center;
        font-size: 14px; }

/* line 599, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.live {
  overflow: visible; }
  /* line 601, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .live .bd {
    position: relative;
    height: 670px; }
    /* line 604, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .live .bd .swiper-container {
      width: 1200px;
      height: 615px; }
      /* line 607, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .live .bd .swiper-container .swiper-slide {
        position: relative; }
        /* line 609, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
        .live .bd .swiper-container .swiper-slide p {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 83px;
          line-height: 100px;
          background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/live_msk.png) 0 0 no-repeat;
          font-size: 16px;
          color: #fff;
          text-align: center; }
    /* line 623, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .live .bd a.arrow-left3, .live .bd a.arrow-right3 {
      position: absolute;
      display: block;
      top: 240px;
      width: 43px;
      height: 79px;
      background: url(//mat1.gtimg.com/ln/images/2017zt/07Jul/wanghongjie/slider_btn.png) no-repeat;
      z-index: 50; }
    /* line 632, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .live .bd a.arrow-left3 {
      left: -20px;
      background-position: 0 0; }
    /* line 636, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .live .bd a.arrow-right3 {
      right: -20px;
      background-position: -43px 0; }
    /* line 640, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .live .bd .pagination {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 50;
      text-align: center; }
      /* line 646, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
      .live .bd .pagination .swiper-pagination-switch {
        display: inline-block;
        width: 115px;
        height: 4px;
        margin: 0 1px;
        background-color: #474747; }
        /* line 652, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
        .live .bd .pagination .swiper-pagination-switch.swiper-active-switch {
          background-color: #ff6b74; }

/* line 662, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.partner .bd ul {
  width: 1220px;
  margin-left: -20px; }
  /* line 665, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .partner .bd ul li {
    float: left;
    width: 224px;
    margin-left: 20px;
    margin-bottom: 20px; }
    /* line 670, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .partner .bd ul li img {
      width: 224px; }

/* line 678, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
.footer {
  margin: 0 auto; }
  /* line 680, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
  .footer .tcopyright {
    color: #c4c4c4;
    font-size: 14px; }
    /* line 683, D:/Dean/Dean.Work/专题页面图片/201707/东北网红节/Code/css/style.scss */
    .footer .tcopyright a {
      color: #c4c4c4;
      font-size: 14px; }

/*# sourceMappingURL=style.css.map *//*  |xGv00|689494d5276b2a854bb7cb7477e202f3 */