@charset "gb2312";
/* CSS Document */

body,a,b,p,h1,h2,h3,h4,h5,h6,img,strong,em,i,ul,li,dl,dd,dt,button,input,textarea,table,th,td,form{padding:0;margin:0;border:none;}
ol,ul{list-style:none}
body{ font-size:12px;line-height:22px;font-family:"微软雅黑";color:#333;background:url(//mat1.gtimg.com/fj/photo/bg02.jpg) repeat;}
a:link{ text-decoration:none;color:#333;}
a:hover{ text-decoration:underline;color:#cc0000;}
a:hover img{filter:alpha(opacity=70);opacity:0.7;//-moz-opacity:0.7;}
/*html { overflow-x:hidden;}*/
@media screen and (max-device-width: 320px){
 body{-webkit-text-size-adjust:none;}
}
@media screen and (max-device-width: 480px){
body{-webkit-text-size-adjust:none;}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2){
body{-webkit-text-size-adjust:none;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
body{-webkit-text-size-adjust:none;}
}

.fl{ float:left;}
.fr{ float:right;}
.red, a.red, .red a{ color:#cc0000;}

.pictop{ width:960px;height:29px;overflow:hidden;margin:18px auto 14px;}
.pictop .logo{ width:113px;height:29px;background-image:url(//mat1.gtimg.com/fj/photo/logo.jpg);overflow:hidden;text-indent:-1000px;cursor:pointer;overflow:hidden;}
.pictop .news{ width:410px;height:29px;overflow:hidden;padding-left:127px;line-height:29px;}
.pictop .soso{ width:280px;height:29px;padding-right:5px;}
#channel_nav .Form-Crumbs-Article-QQ .inputWarp{background-color:#fff;float:right;height:24px;line-height:22px;margin:0;padding:0;width:229px;border:1px #c9c9c9 solid;border-right:0;}
#channel_nav .Form-Crumbs-Article-QQ .SosonLogo{background:url("//mat1.gtimg.com/news/imgcss_article_qq/soso_new_ui.png") no-repeat scroll 0 -2px transparent;float:right;height:24px;width:50px;}
#channel_nav .Form-Crumbs-Article-QQ .txtArea{border:medium none;color:#424242;font-size:14px;height:18px;line-height:20px;margin:2px auto 0 2px;outline:medium none;width:170px;}
#channel_nav .Form-Crumbs-Article-QQ .txtArea{border:0 none;}
select, input, button, button img, textarea, label, img{margin:0;vertical-align:middle;}
#channel_nav .Form-Crumbs-Article-QQ .submit{background:url("//mat1.gtimg.com/news/imgcss_article_qq/soso_new_ui.png") no-repeat scroll 0 -26px transparent;border:medium none;cursor:pointer;float:right;font-size:12px;height:26px;width:50px;}
#channel_nav .Form-Crumbs-Article-QQ .SosonLogo span{display:none;}

.main{width:960px;margin:auto;overflow:hidden;min-height:2700px;}
.l{ width:640px;padding-right:19px;}
.right{ width:300px; position:relative;}
.scroll-fixed { position:absolute;}

.scrlBody{ overflow:hidden;}
.scrlCtrl{ text-align:center;}

.boxf{ position:relative; width:100%; height:395px;}
.boxf .scrlBody{ height:365px;}
.boxf .scrlCtrl ul{ position:absolute; z-index:10; right:10px; bottom:20px;*bottom:15px; color:#fff; font-size:18px; height:30px;}
.boxf .scrlCtrl li{ display:none;}
.boxf .scrlCtrl .active{ display:block;}
.boxf .scrlCtrl span{font-family:"Tahoma";font-size:24px;}
.boxf .scrlPrev,.boxf .scrlNext{ position:absolute; top:145px; width:43px; height:86px; background:url(images/btn_lr.png) no-repeat;_background:none #000;filter:alpha(opacity=80);opacity:0.8;}
.boxf .scrlPrev{ left:0; background-position:0 0; text-indent:-1000em; _text-indent:0;_font-size:42px;_line-height:86px;}
.boxf .scrlNext{ right:0; background-position:-43px 0; text-indent:-1000em; _text-indent:0;_font-size:42px;_line-height:86px;}
.boxf a.scrlPrev, .boxf a.scrlNext, .boxf a.scrlPrev:hover, .boxf a.scrlNext:hover{ text-decoration:none; color:#fff;}

/*焦点图*/
.foucs{ width:610px;height:387px;border:1px #ccc solid;background-color:#fff;padding:14px; margin-bottom:15px; overflow:hidden;}
.foucs a:hover img{filter:alpha(opacity=100);opacity:1;}
.foucs .r_con{ width:610px;height:387px; overflow:hidden; position:relative;}
.foucs .panel01{ width:610px; height:40px; overflow:hidden; z-index:100; position:absolute;bottom:0;background-color:#000;filter:alpha(opacity=80);opacity:0.8;}
.foucs .panel01 h2{ width:610px; height:42px; overflow:hidden; padding:5px 10px 0 10px; overflow:hidden; line-height:32px; font-size:16px; font-weight:normal;}
.foucs .panel01 h2 a{ color:#fff;}
.foucs .img{ width:610px; height:387px; z-index:10;}
.page{ width:104px;height:42px;position:relative;top:-40px;z-index:1000;font-size:22px;left:545px;}
.page ul{ width:112px;overflow:hidden; color:#fff;}
.page ul li{padding:0 8px;float:left; cursor:pointer;display:none;line-height:42px;}
.page ul li span{font-size:30px;}
.page ul li.current{display:block;}
.page_con{display:none;position:relative;}
.page_btn{ width:43px;color:#fff;line-height:86px;text-align:center;font-size:50px;height:86px; background:url(//mat1.gtimg.com/fj/photo/btn_lr.png) no-repeat;position:absolute;top:150px; z-index:1000;_background:none #000;_filter:alpha(opacity=80);_opacity:0.8;}
.page_btn a{display:block-inline;background:none;height:45px;width:45px;color:#fff;text-decoration:none}
.page_btn a:hover{ font-size:36px;text-decoration:none;}
.foucs .content{width:500px; height:50px; background-color:#000;filter:alpha(opacity=80);opacity:0.8; color:#fff; font-size:14px; line-height:24px;}
.prev{ left:0; text-indent:-1000em; _text-indent:0;_font-size:42px;_line-height:86px;}
.next{right:0; text-indent:-1000em; _text-indent:0;_font-size:42px;_line-height:86px; background-position:-43px 0;}

/*瀑布流*/
.showpic{ width:638px;border:1px #ccc solid;background-color:#f7f7f7;}
#titlediv1{ width:638px; border-bottom:1px #dedede solid; height:65px; overflow:hidden;}
#titlediv1 ul{ overflow:hidden; padding-left:14px; height:65px;}
#titlediv1 ul li{ width:98px; height:30px; margin-right:10px; border:1px #ccc solid; float:left; display:block; text-align:center; line-height:30px; font-size:12px; color:#333; cursor:pointer;margin-top:18px; background:url(//mat1.gtimg.com/fj/photo/tab_bg1.jpg) no-repeat;}
#titlediv1 ul li.selected_1{height:30px; float:left; display:block; text-align:center; color:#c90000; background:url(//mat1.gtimg.com/fj/photo/tab_bg2.jpg) no-repeat #fafafa;}
#titlediv1 ul li#tabtitle1_1{ width:73px; background-position:14px 0; padding-left:25px;}
#titlediv1 ul li#tabtitle1_2{ width:73px; background-position:23px -30px; padding-left:25px;}
#titlediv1 ul li#tabtitle1_3{ width:73px; background-position:21px -60px; padding-left:25px;}
#titlediv1 ul li#tabtitle1_4{ width:73px; background-position:25px -90px; padding-left:25px;}

#tabdiv1{ width:638px;padding-top:20px; padding-bottom:20px; overflow:hidden; border-top:1px #fff solid;}
#tabs1_1, #tabs1_2, #tabs1_3, #tabs1_4{ width:610px; margin:auto; padding-bottom:50px; position:relative}

.box{ float:left; width:191px; margin:5px 5px 10px 5px;background:url(//mat1.gtimg.com/fj/photo/l_bg.jpg) repeat-y;border-top:1px #ededed solid;border-right:1px #ededed solid;}

.box1{ width:189px;margin-left:3px;line-height:18px; font-size:12px; overflow:hidden; border-bottom:1px #dedede solid;}
.box1 a{ color:#666;}
.box1 a:hover{ color:#cc0000;}
.box1 img{ width:158px; padding:15px;display:block; background-color:#fff;}
.box1 a{ padding:9px;}
.box1 span a{padding:0;}
.box h3{width:168px; line-height:18px; padding:10px 5px 15px 15px; border-top:1px #fff solid;overflow:hidden; margin-left:3px; background:url(//mat1.gtimg.com/fj/photo/b_bg.jpg) repeat-x left bottom;font-weight:normal; font-family:"宋体"; font-size:12px;}

#morePic1, #morePic2, #morePic3, #morePic4{ width:608px; height:34px; overflow:hidden; border:1px #ccc solid; line-height:34px; text-align:center; font-size:16px; position:absolute; bottom:0; left:0; background:none #fff; cursor:pointer; display:block;}
#morePic1 img, #morePic2 img, #morePic3 img, #morePic4 img{ padding:0 7px;}

/*右侧*/
.r_box{width:298px;border:1px #ccc solid;overflow:hidden;background-color:#f4f4f4;margin-bottom:15px;}
.r_box .title{ width:298px;height:41px;border-bottom:1px #fff solid;background-color:#fafafa; overflow:hidden;}
.r_box .title h3{ padding-left:15px;font-size:18px;line-height:40px;font-weight:normal;border-bottom:1px #dedede solid;}
.r_box .title a{float:right; margin-top:-22px; margin-right:10px; width:38px; height:9px; overflow:hidden; background:url(//mat1.gtimg.com/fj/photo/more.jpg) no-repeat;}
.r_box .title span{ display:none;}
.r_box .title a:hover{ background:url(//mat1.gtimg.com/fj/photo/more.jpg) no-repeat 0 -9px;}

.bjtj{ height:415px;}
.bjtj ul{ overflow:hidden;}
.bjtj ul li{ width:125px;height:165px;overflow:hidden;text-align:center;line-height:28px;padding:17px 6px 0 14px;float:left;display:inline;}

.r_one{ width:269px;height:310px; margin:15px auto 10px;position:relative;}
.page_one, .page_two, .page_three{display:none;height:306px; overflow:hidden;}
.page1, .page2, .page3{ width:104px;height:12px;margin:0 7px 0 12px;}
.page1 ul, .page2 ul, .page3 ul{ width:112px;height:26px;overflow:hidden; padding-top:5px;}
.page1 ul li, .page2 ul li, .page3 ul li{width:12px;height:12px; padding:0 8px; text-indent:-999em;background:url(//mat1.gtimg.com/fj/photo/bg.jpg) no-repeat -92px -38px; float:left; cursor:pointer;}
.page1 ul li.current, .page2 ul li.current, .page3 ul li.current{width:12px;height:12px;display:block; background:url(//mat1.gtimg.com/fj/photo/bg.jpg) no-repeat -65px -38px;}

.btn00{ width:220px; position:absolute; bottom:0; background-color:#f4f4f4; padding-left:49px;}
.page_btn1, .page_btn2, .page_btn3{ width:26px;height:26px; background:url(//mat1.gtimg.com/fj/photo/bg.jpg) no-repeat 0 -29px; position:relative;text-indent:-999em; cursor:pointer;}
.page_btn1 a, .page_btn2 a, .page_btn3 a{display:block-inline;background:none;height:45px;width:45px;color:#fff;text-decoration:none}
.page_btn1 a:hover, .page_btn2 a:hover, .page_btn3 a:hover{ font-size:36px;text-decoration:none;}

.next1, .next2, .next3{background-position:-30px -29px;}
.img{ width:269px; height:270px; z-index:10;}
.panel{ width:269px; height:34px; overflow:hidden; z-index:100; position:absolute;bottom:0;background-color:#f4f4f4;}

.panel h4{ width:249px; height:26px; padding:5px 10px; overflow:hidden; line-height:26px; font-size:14px; text-align:center;}
.content{width:249px; padding:0 10px; text-indent:2em; background-color:#f4f4f4; line-height:20px;}


.ssp dl{ width:125px; float:left; display:inline; text-align:center; height:160px; overflow:hidden; padding:16px; padding-right:0; line-height:30px;}

.gzph{overflow:hidden; position:relative;}
#titlediv2{ width:120px; margin:0 auto 7px; overflow:hidden; position:absolute; top:5px;left:170px}
#titlediv2 ul li{ width:40px; height:24px;float:left; display:block; text-align:center; line-height:34px; font-size:14px; color:#999; cursor:pointer;}
#titlediv2 ul li.selected_2{ width:40px; height:38px;float:left; display:block; color:#333;}
#tabdiv2{ width:282px; padding:10px 0 8px 9px; overflow:hidden; top:-30px;} 
#tabdiv2 ul li{ width:282px;height:22px;overflow:hidden; line-height:26px;margin-bottom:5px;}
#tabdiv2 ul li em{ background:url(//mat1.gtimg.com/fj/photo/bg.jpg) no-repeat -99px -98px; color:#fff;float:left;font-family:Arial;height:21px;line-height:21px;margin-right:5px;margin-top: 2px;text-align:center;width:21px;font-style:normal;}
#tabdiv2 ul li a{float:left;width:256px;}
#tabdiv2 ul li em.hot{ width:21px; height:21px; font-weight:normal; float:left;text-align:center; overflow:hidden; font-size:12px;background-position:-99px -55px; color:#fff;}

.wbst{ position:relative; width:298px; height:130px; overflow:hidden;}
.wbst ul{ background:url(//mat1.gtimg.com/fj/photo/bg.jpg) no-repeat 14px -141px #f4f4f4; padding-top:35px; padding-left:14px; overflow:hidden; overflow:hidden;}
.wbst .swicth_btn{ cursor:pointer; position:absolute; left:200px; top:-2px; color:#999;}
.wbst .followall_mod ul{overflow:hidden; zoom:1;}
.wbst .followall_mod ul li{ float:left; margin:0 10px 10px 0;width:60px;text-align:center;}
.wbst .followall_mod ul li p{width:60px;height:22px;padding-top:3px;overflow:hidden;text-align:center;*height:20px;}
.wbst .followall_mod ul li input{ margin:auto;display:block;position:relative;top:-38px;left:-23px;*top:-40px;*left:-24px;}
.wbst .followall_mod li img{ width:60px; height:60px;}
.wbst .followall_mod .ft{}
.attentBoxWrap{ display:none;}
.btbox{ position:absolute; top:0; right:10px;}
.btbox button{ background:none;cursor:pointer;color:#ea4c89;}

.mrtj ul{ overflow:hidden; padding:8px 0;}
.mrtj ul li{ width:135px; height:120px; padding-left:10px; padding-top:5px; float:left; line-height:31px; overflow:hidden;text-align:center;}
.mrtj ul li a{width:135px;display:block;}

.sendStatus{height:16px;}

.news{height:20px;line-height:20px;padding-bottom:8px;padding-top:7px;top:0;}
.scrolldiv{height:25px;line-height:25px;overflow:hidden;}
.scrolldiv ul{height:20px;line-height:20px;overflow:hidden;}
.scrolldiv ul li{height:25px;padding-left:10px;}
.scrolldiv ul li img{padding-right:3px;}

#shareToWb{ width:36px; height:26px; line-height:26px; position:absolute;padding-left:29px; background:url(//mat1.gtimg.com/fj/photo/wb2_link.jpg) no-repeat; display:none;cursor:pointer;}
#shareToWb a { color:#555;}
#shareToWb:hover { background:url(//mat1.gtimg.com/fj/photo/wb2.jpg) no-repeat;}
#shareToWb:hover a, #shareToWb a:hover{ color:#097fb7;text-decoration:none;}

/*回顶部*/
#gotopbtn{ background-image:url("//mat1.gtimg.com/fj/gouwu/qqbg_1_4.png");bottom:45px; height:54px; opacity:0.3;filter:alpha(opacity=30); width:54px; right:25px; display:block; position:fixed; display:none}
#gotopbtn:hover{opacity:1;filter:alpha(opacity=100);}

#topic_top_nav{background-color:#fff;}/*  |xGv00|cca45c9127d08fcb637709c1b52180e9 */