body {
	background: #fff;
	margin: 0px; 
	color: #4B4B4B;
	line-height:150%;
}
body,td{
	font-size:12px;	
}
a:link {
	color: #4B4B4B;
	text-decoration:none;
}
a:visited {
	color: #4B4B4B;
	text-decoration:none;
}
a:hover {
	color: #FF0000;
	text-decoration:underline;
}
a:active {
	color: #4B4B4B;
	text-decoration:none;
}
img,form{border:0;padding:0;margin:0;}
.m4{margin-top:4px;}
.m7{margin-top:7px;}
.m10{margin-top:10px;}
.mtb{margin:4px auto;}
.bolds{font-weight:bold;}
.p9{font-size:9px}
.p12{font-size:12px}
.p14{font-size:14px}
.p16{font-size:16px}
.pdleft10{padding-left:10px}
.pdleft20{padding-left:20px}
.pd5{padding-top:5px;}
.pd10{padding:10px}
.pd20{padding:20px}
.cwhite{color:white}
.cblack{color:black}
.c1{color:#BABABA}
.c2{color:#FAA400}
.c3{color:#E50064}
.c4{color:#595959}
.c5{color:#F8306D}
.c6{color:#FF3E3E}
.c7{color:#BD6C1C}
a.lblack:link,a.lblack:visited{color:#4b4b4b;text-decoration:none;}
a.lblack:hover{color:#ff0000;text-decoration:underline;}

a.lwhite:link,a.lwhite:visited{color:#fff;text-decoration:none;}
a.lwhite:hover{color:#fff;text-decoration:underline;}

a.lgray:link,a.lgray:visited{color:#595959;text-decoration:none;}
a.lgray:hover{color:#595959;text-decoration:underline;}

a.lpink:link,a.lpink:visited{color:#E50064;text-decoration:none;}
a.lpink:hover{color:#E50064;text-decoration:underline;}

a.lblue:link,a.lblue:visited{color:#232E70;text-decoration:underline;}
a.lblue:hover{color:#FF0000;text-decoration:none;}

a.lred:link,a.lred:visited{color:red;text-decoration:none;}
a.lred:hover{color:#FF0000;text-decoration:underline;}

a.lame:link,a.lame:visited{color:#AE3AD0;text-decoration:none;}
a.lame:hover{color:#AE3AD0;text-decoration:underline;}

a.lred1:link,a.lred1:visited{color:#FF518E;text-decoration:none;}
a.lred1:hover{color:#FF518E;text-decoration:underline;}

a.lred2:link,a.lred2:visited{color:#FF3E3E;text-decoration:none;}
a.lred2:hover{color:#FF3E3E;text-decoration:underline;}

a.lred3:link,a.lred3:visited{color:#BD6C1C;text-decoration:none;}
a.lred3:hover{color:#BD6C1C;text-decoration:underline;}

.ibm{border:1px solid #fff;margin:5px auto;}
.p1{border-right:2px solid #BFDFF8;border-left:2px solid #BFDFF8;}
.p1b{border-bottom:2px solid #BFDFF8;}
.p1b1{border-bottom:1px solid #EBB15A;}
.p1b2{border-right:1px solid #EBB15A;}
.p1b3{border-bottom:1px solid #77B7E7;}
.p1b4{border-bottom:1px solid #B6B1E6;}
.p1b5{border-bottom:1px solid #D18AD8;}
.fra{border:solid #B3D7F4;border-width:0 6px 6px;}
.fra1{border:1px solid #000;}
.fra1xx{border:1px solid #000;margin-bottom:4px}
.fra2{border:1px solid #ccc;}
.fra3{border:1px solid #F4D4F8;}
.fra31{border:solid #F4D4F8;border-width:0 1px 1px;}
.fra4{border:7px solid #F7DCA7;}
.fra5{border:7px solid #E8D6EC;}
.fra6{border:7px solid #C3E1F9;}
.fra7{border:7px solid #F0D6F3;}
.fra8{border:7px solid #FDD0E2;}
.fra9{border:3px solid #FFF;}
.fra10{border:7px solid #EED4F5;}
.dot0{background:url(http://mat1.qq.com/astro/06new/index/dot0.gif) repeat-y right}
.dot1{background:url(http://mat1.qq.com/astro/06new/index/dot1.gif) repeat-x bottom}
.dot3{background:url(http://mat1.qq.com/astro/06new/index/dot3.gif) repeat-x bottom}
.dot2{background:url(http://mat1.qq.com/astro/06new/index/dot18.gif) repeat-x}
.tibg {
	background-image: url(http://mat1.qq.com/astro/06new/index/tibg.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.dot3xx{height:25px;border-bottom:1px dashed #000;}
.num{border-bottom:1px dashed #000;background:url(http://mat1.qq.com/astro/06new/index/numbg1.gif) no-repeat center center;height:22px;width:22px;color:#fff;text-align:center;	font-family: Arial, Helvetica, sans-serif;font-size:10px;}


.xblue{color:#4183B3;}
a.xblue:link,a.xblue:visited{color:#4183B3;text-decoration:none;}
a.xblue:hover{color:#4183B3;text-decoration:underline;}

.xpink{color:#B6517B;}
a.xpink:link,a.xpink:visited{color:#B6517B;text-decoration:none;}
a.xpink:hover{color:#B6517B;text-decoration:underline;}

.xdbles{color:#6058BD}
a.xdbles:link,a.xdbles:visited{color:#6058BD;text-decoration:none;}
a.xdbles:hover{color:#6058BD;text-decoration:underline;}

.xdzi{color:#8D57A2}
a.xdzi:link,a.xdzi:visited{color:#8D57A2;text-decoration:none;}
a.xdzi:hover{color:#8D57A2;text-decoration:underline;}

a.xtyel:link,a.xtyel:visited{color:#BC6B19;text-decoration:none;}
a.xtyel:hover{color:#BC6B19;text-decoration:underline;}

a.xpinkq:link,a.xpinkq:visited{color:#DD3C81;text-decoration:none;}
a.xpinkq:hover{color:#DD3C81;text-decoration:underline;}