@charset "gb2312";
/* CSS Document */

*{ margin:0; padding:0; border:none;}
ul,li{ list-style:none;}
a:link,a:visited{ text-decoration:none; color:#333;}
a:hover,a:active{ text-decoration:underline; color:#997733;}
h1,h2,h3,h4,h5{ font-weight:normal;}
dl,ul{ overflow:hidden;}

body{ font:normal 14px/24px "微软雅黑"; color:#999;}
h2{ font-size:22px; line-height:52px; color:#997733; text-align:center; padding-top:10px;}
h3{ font-size:20px; line-height:46px; color:#997733; text-align:center;}
h4{ font-size:26px; line-height:65px; color:#997733;}
h5{ font-size:16px; line-height:40px; color:#997733;}
b{ font-size:18px; line-height:46px; font-weight:normal; color:#333;}
em{ font-style:normal;}
span{ color:#997733;}
.pb{ padding-bottom:15px; border-bottom:1px #d6c8ae dashed;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pt15{ padding-top:15px;}
.lh20{ line-height:20px;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.wrap{ width:1000px; margin:0 auto 20px; overflow:hidden;}
.w670{ width:670px; overflow:hidden;}
.w310{ width:278px; padding:0 15px; border:1px #d6c8ae solid; background-color:#f8f7f3; overflow:hidden;}
.w290{ width:270px; padding-right:20px; border-right:1px #d6c8ae solid;}

.yel,a.yel{ color:#997733;}
.join_box{ width:160px; height:30px; margin-bottom:10px; background-color:#fff; border:1px #999 solid; overflow:hidden; line-height:30px; padding:0 13px;font:normal 14px/32px "微软雅黑";color:#999;}
.join_btn{ width:70px; height:26px; margin-top:3px; overflow:hidden; text-align:center; background-color:#88b400; border-radius:3px; font:normal 16px/24px "微软雅黑"; color:#fff; cursor:pointer;}

.logo_box{ width:1000px; margin:0 auto 15px; height:34px; padding-top:15px;}
.logo{ width:auto; height:34px; overflow:hidden; }
.logo .logo_img{ width:146px; height:32px; overflow:hidden; display:block; background:url(//mat1.gtimg.com/fj/2016index/logo_2018_home.gif) no-repeat; text-indent:-1000em;}

.city{ width:120px; color:#666; padding:6px 0 0 20px; height:20px; line-height:20px;}
.city .btn{ position:relative;}
.city .btn p{color:#999;}
.city .btn .inner{ padding-left:5px; display:none;}
.city .btn:hover .inner{ display:block; width:100px; height:100px; overflow:hidden; position:absolute; left:0; top:0;}
.city .btn:hover .inner a{ display:block; text-decoration:none;}
.city .btn:hover p{ display:none;}

.toplink{width:460px;overflow:hidden;height:20px;line-height:20px;padding:6px 0 8px 10px;top:0;color:#997733;}
.scrolldiv{ width:400px;height:25px;line-height:25px;overflow:hidden;}
.scrolldiv ul{height:20px;line-height:20px;overflow:hidden;}
.scrolldiv ul li{height:25px;padding-left:10px;}

.nav{ height:65px; line-height:65px; border-top:1px #ae915d solid; border-bottom:2px #ae915d solid;}
.nav ul{ overflow:hidden;}
.nav li{ height:65px; float:left; display:inline; padding:0 39px; font-size:18px; background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat right 0;}
.nav li.last{ background:none;}

.nav h4{ width:130px; float:left; display:inline; padding-left:10px}
.w670 .nav ul.fr,.title ul.fr{ width:500px; height:22px; line-height:20px; margin-top:22px;}
.nav ul.fr li{ height:22px; font-size:14px; background:none; padding:0;}
.nav ul.fr li:hover{ color:#fff;}
.nav ul.fr li a{ padding:0 10px; color:#666;}
.nav ul.fr li a:hover{ color:#fff; text-decoration:none; background-color:#88b400; border-radius:11px;}

.focus{ height:391px; position:relative; width:670px; overflow:hidden; position:relative;}
.focus .G1fBt{ position:absolute; bottom:0px; left:0px; overflow:hidden; zoom:1;  height:38px; line-height:48px; z-index:10; width:695px;  }
.focus .fcon{ position:relative; width:100%; float:left;  display:none; height:350px; }
.focus .G1fBt i{font-style:normal }  
.focus .G1fBt a{ background-color:#ae915d; color:#fff; display:inline-block; width:130px; height:38px; line-height:38px; overflow:hidden; margin:0px 5px 0px 0px; font-size:14px; text-decoration:none; text-align:center; float:left; }
.focus .G1fBt a:hover,.focus .G1fBt a.current{ color:#fff !important; font-weight:bolder; background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat center -65px #88b400;}
.focus .fcon img{ display:block; width:670px; height:346px; overflow:hidden; }

.join{ width:308px; height:389px; border:1px #d6c8ae solid; background-color:#f8f7f3; overflow:hidden;}
.join_in{ margin:0 20px;}
.join p{ height:36px; border-top:1px #ae915d solid; background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat 20px -103px; padding-left:45px; font-size:18px; line-height:36px; color:#997733;}
.join .join_l{ width:188px;}
.join .join_r{ width:70px;}
.join .join_r img{ padding-bottom:2px;}
.join_r a{display:block;}

ul.topnews{ padding-top:15px;}
.topnews li{ font-size:16px; line-height:36px; height:36px;overflow:hidden; background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat 3px -204px; padding-left:25px;}
.news_p{ height:48px;overflow:hidden;}

.title{ width:100%; margin-bottom:15px;}
.title .more{ float:right; display:inline; font-size:16px; margin-right:25px; padding-right:25px; background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat 65px -139px;}
.title a.more{ text-decoration:none; color:#997733;}
.title ul li a{ padding:0 15px !important;}

.tit{ overflow:hidden; padding-bottom:10px;}
.tit a{ color:#999; font-size:12px; line-height:26px;}
.tit a:hover{ color:#997733;}
.tit b{ line-height:24px;}

.w290 dl{ overflow:hidden; height:126px;}
.w290 dl dd{ width:180px;}
.w290 dl dt{ width:80px; line-height:21px; color:#666;}
.w290 dl dt span{ display:block;}
.w290 p{ display:block; clear:both; font-size:12px; line-height:20px; padding-top:5px;}

.w360{ width:360px; padding:0 19px;}
.w360 p{ text-align:center; font-size:16px; height:24px; overflow:hidden;}
.w360 ul{ overflow:hidden; padding-top:14px;}
.w360 li{ line-height:32px; height:32px; overflow:hidden;}
.w360 li a{ color:#666;}
.w360 li a:hover{ color:#666;}
.w360 dl dt{ width:110px; color:#666;}
.w360 dl dt span{ display:block;}

.w310 dl{ height:90px; overflow:hidden;}
.w310 dd{ width:130px; float:left; display:inline;}
.w310 dt{ width:125px; float:right; display:inline;}
.w310 dt h5{ line-height:24px;}
.w310 dt p{ height:40px; overflow:hidden; padding:2px 0;}

/*学装修*/
.s_b{ font-weight:bold;color:#997733;line-height:24px;font-size:16px;}

/*看案例*/
ul.kal{ overflow:hidden; width:1032px;}
.kal li{ width:238px; height:180px; float:left; display:inline; padding-right:20px; position:relative;}
.kal li p{ width:238px; height:30px; text-align:center; line-height:30px; display:block; position:absolute; bottom:0; left:0; background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;}
.kal li a{ color:#fff;}

/*设计师*/
ul.designer{ overflow:hidden; width:1020px;}
.designer li{ width:320px; height:168px; float:left; display:inline; padding-right:20px; position:relative;}
.designer li p{ width:320px; height:30px; text-align:center; line-height:30px; display:block; position:absolute; left:0; bottom:0; background:rgba(0,0,0,0.5);
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;}
.designer li a{ color:#fff;}

/*买建材*/
.mjc .w290 a{ display:block; text-align:center;}
.mjc .w360 h3{ line-height:32px; padding-top:5px;}
.mjc .w360 p{ padding-top:10px;}
.mjc .w360 ul{ overflow:hidden; padding-top:15px;}
.mjc .w360 ul li{ line-height:36px; height:36px; overflow:hidden;}
.mjc .w310 ul li a{color:#666;}
.mjc .w310 ul li a:hover{color:#997733;}

/*推荐买*/
.tjm ul{ overflow:hidden; width:1020px;}
.tjm ul li{ float:left; display:inline; width:235px; overflow:hidden; position:relative; margin-right:20px;}
.tjm ul li i{ width:42px; height:26px; background:url(//mat1.gtimg.com/fj/home/2016index/rz.png) no-repeat; font-size:16px; font-style:normal; color:#fff; display:block; position:absolute; right:0; top:15px; text-align:center; line-height:22px;}
.tjm ul li p{ text-align:center;}
.tjm ul li span a{ color:#999; text-align:center; display:block;}
.tjm ul li span a:hover{ color:#997733;}

/*家居名人堂*/
.mrt{ height:292px;}
.mrt h5{ line-height:32px;}
.mrt p{ font-size:14px; line-height:22px;}
.mrt li{ padding-left:20px; background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat left -210px;}

/*特别策划
.tbch{ height:292px;}
.tbch dl{ overflow:hidden; height:112px;}
.tbch dl dd{ width:150px; float:left; display:inline;}
.tbch dl dt{ width:195px; float:right; display:inline; color:#666;}
.tbch dl dt h5{ line-height:32px;}*/

/*行业聚焦*/
.hyjj{ height:292px;}
.hyjj h3{line-height:30px;}
.hyjj ul{padding-top:7px;}
.hyjj ul li{height:28px;line-height:28px;padding-left:20px;background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat left -270px;}
.hyjj dl{ overflow:hidden; height:112px;}
.hyjj dl dd{ width:150px; float:left; display:inline;}
.hyjj dl dt{ width:195px; float:right; display:inline; color:#666;}
.hyjj dl dt h5{ line-height:32px;}

/*曝光台*/
.bgt ul{ overflow:hidden;}
.bgt li{ line-height:28px; padding-left:20px; background:url(//mat1.gtimg.com/fj/home/2016index/bg.gif) no-repeat left -242px;}
.bgt li a{ color:#666;}
.bgt li a:hover{ color:#997733;}

/*合作企业*/
.partner ul{ width:1010px; overflow:hidden; }
.partner li{ width:92px; height:62px; float:left; display:inline; padding:0 9px 15px 10px; }
.partner li img{ width:90px; height:60px; border:1px #ccc solid; }

/*bottom*/
.bottom { padding:20px 0; margin:15px auto; background:#f9f9f9; border-top:1px solid #973; border-bottom:1px solid #973;}
.bottom .wrap { width:960px; margin:0 auto; padding:0 20px;}
.bottom h3 { height:32px; line-height:34px; padding-left:10px; margin-bottom:8px;text-align:left;}
.bottom .b-con { width:720px; background:url(//mat1.gtimg.com/fj/home/2016index/img34.gif) repeat-x top;}
.bottom .b-con ul { padding-bottom:15px;}
.bottom .b-con li { float:left; width:180px; height:112px; line-height:18px; margin-right:15px; text-align:center;}
.bottom .b-con .column { width:96px;}
.bottom .b-con .column span { display:block; width:70px; line-height:20px; margin-top:18px; text-align:center; color:#fff; background:#88b400;}
.bottom .b-con div { padding-top:10px; line-height:20px;overflow:hidden;}
.bottom .b-con .hz-h { width:135px; padding:5px; margin:13px auto 0; border:#9977331px solid; background:#f0f0f0; text-align:center;}
.bottom .b-con .addr span { float:left; width:70px; color:#fff; background:#88b400; text-align:center;}
.bottom .b-con .addr p { float:left; padding-left:40px;}
.bottom .b-weibo { width:135px; line-height:20px;}
.bottom .b-weibo p{color:#666;text-align:center;}

.fix{ width:120px; position:fixed; top:135px; left:50%; margin-left:510px; overflow:hidden; text-align:center;}

#gotopbtn{ background-image:url(//mat1.gtimg.com/fj/home/2016index/goback.gif);bottom:45px; height:54px; opacity:0.3;filter:alpha(opacity=30); width:54px; right:25px; display:block; position:fixed; display:none;z-index:1000;cursor:pointer;}
#gotopbtn:hover{opacity:1;filter:alpha(opacity=100);}

.mt1{margin-top:1px;}
.jj_topad .left { float:left;}
.jj_topad .right { float:right;}
.tlad { width:1000px; margin:0 auto 15px;}
#FJ_Home_Float { left:50%; top:50%; margin:-175px 0 0 -500px!important;}

/*底部报名通栏*/
.footbar{ height:80px; width:100%; position:fixed; bottom:0; z-index:998; text-align:center;}
.footbar .t-background{ background-color:rgba(34, 24, 20, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000') \7; height:80px;}
.t-content{ width:1000px; margin:0 auto; overflow:hidden; color:#fff; font-size:16px;}
.footbar .t-niu{ float:left; width:200px;}
.footbar .t-niu img{ width:200px; height:auto;}
.footbar .t-wenzi{ float:left; width:300px; margin:5px 0 0 40px;}
.footbar .t-wenzi img{ width:300px; height:auto;}
.footbar-join{ width:410px; overflow:hidden; float:left; padding-top:3px; padding-left:50px; font-family:Arial, Helvetica, sans-serif;}
.footbar-join form{ float:left; width:295px;}
.footbar .footbar-join ul li{ height:30px; line-height:30px; text-align:left; margin-top:5px;}
.footbar .footbar-join input{ height:30px;line-height:30px;}
.footbar .footbar-join input[type='text']{ padding:0 5px;}
.footbar .footbar-join .OMobile{ width:140px; float:left; margin-left:8px;}
.footbar .footbar-join .OName{ width:125px; float:left;}
.footbar .footbar-join .Community{ width:125px; float:left;}
.footbar .footbar-join .acreage{ width:140px;float:left; margin-left:8px;}
.footbar .footbar-join .btn{ width:100px; height:64px; background:#00a0e9; color:#fff; border:none; font-weight:bold; cursor:pointer; font-size:14px; line-height:22px;margin-left:5px; padding:0 20px; margin-top:5px; float:left;}
.footbar .t-wx{ float:right; width:120px; text-align:center; font-size:12px; margin-top:20px; margin-left:14px;}
.footbar .t-close{ float:right; width:20px; margin-top:20px; margin-left:14px; cursor:pointer; display:none;}
.footbar-close{ position:fixed; bottom:15px; left:0; cursor:pointer; z-index:998;}/*  |xGv00|bc80ce00fc8dddabb269c2e4bade21fe */