html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0 auto;
	padding: 0;
	border: 0;
	outline: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*≥ı ºªØΩ· ¯*/
body {
	background:url(//mat1.gtimg.com/zj/jiaju/sixiangjia/bg.jpg);
}
.topbox {
	width:960px;
	overflow:hidden;
	height:340px;
}
.num_top {
	width:40px;
	height:40px;
	margin-left:618px;
	margin-top:125px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:24px;
	font-weight:bolder;
	font-style:italic;
	color:#000;
}
.infoBox {
	width:910px;
	margin-bottom:15px;
	margin:0 auto;
	overflow:hidden;
}
.boxleft {
	width:400px;
	float:left;
	overflow:hidden;
}
.h01 {
	font-size:30px;
	font-family:MicroSoft YaHei;
	font-weight:bolder;
	color:#333;
}
.h02 {
	font-size:20px;
	font-family:MicroSoft YaHei;
	font-weight:bolder;
	color:#878787;
	margin-top:10px;
}
.infotable {
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px dotted #878787;
	border-bottom:1px dotted #878787;
}
.box_right {
	float:left;
	width:459px;
	padding:2px;
	border:1px solid #00b1a2;
	overflow:hidden;
	margin-left:45px;
}
#container {
	width:930px;
	height:620px;
	margin:0 auto;
	position:relative;
	z-index:0;
}
#example {
	width:930px;
	height:620px;
	position:relative;
	border:1px solid #4a4a4a;
}
#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}
#slides {
	position:absolute;
	top:0px;
	z-index:100;
}
#slides .next, #slides .prev {
	position:absolute;
	top:183px;
	left:30px;
	display:block;
	z-index:101;
}
.slides_container {
	width:930px;
	height:620px;
	overflow:hidden;
	position:relative;
	font-size:14px;
	font-family:MicroSoft YaHei;
}
#slides .next {
	left:800px;
}
.caption {
	position:absolute;
	bottom:-45px;
	height:40px;
	padding:5px 20px 5px 20px;
	background:#000;
	background:rgba(0, 0, 0, .5);
	width:740px;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}
.pagination {
	display:none;
}
.menubox a {
	display:block;
	width:150px;
	height:49px;
	float:left;
	}
.hxt {
	font-family: "Arial Black", Gadget, sans-serif;}
.float {
position: fixed;
right: 50%;
margin-right: -600px;
bottom: 60px;
width: 126px;
height: 252px;
text-align:center;
}

.float p{ color:#666;}
.float p.red{ color:#ff0000;}
 .pop-window{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0px;
	left:0px;
	background: url("//mat1.gtimg.com/zj/maxbao/reai/imgs/pop_bg.png") repeat;
	display: none;
}
.form-box{
	background-color: #fff;
	width: 20%;
	padding:20px;
	min-width: 400px;
	position: fixed;
	top:30%;
	left:40%;
	display: none;
}/*  |xGv00|c5be7d59ba4532126e466cde23a4287b */