@CHARSET "UTF-8";

.belt .belt-handler { float:left; height:130px; width:30px; text-align:center; position:relative; overflow:hidden; }
.belt .belt-handler span { text-align:center; padding-left:4px; padding-left:0px; position:absolute; left:3px; top:40%; }
.belt .belt-stage { float:left; width:490px; height:130px; overflow:hidden; position:relative; }
.belt .belt-stage .screen { width:490px; height:130px; display:none; position:absolute; left:0; top:0; }
.belt .belt-handler a { display:block; width:21px; height:21px; position:relative; left:3px; top:40%; }
.belt .belt-handler a.belt-handler-left { background:url("//mat1.gtimg.com/cq/sc/2012/01/blet-handler-bg.png") no-repeat 0 -42px; }
.belt .belt-handler a.belt-handler-left:hover { background:url("//mat1.gtimg.com/cq/sc/2012/01/blet-handler-bg.png") no-repeat 0 -63px; }
.belt .belt-handler a.belt-handler-right { background:url("//mat1.gtimg.com/cq/sc/2012/01/blet-handler-bg.png") no-repeat; }
.belt .belt-handler a.belt-handler-right:hover { background:url("//mat1.gtimg.com/cq/sc/2012/01/blet-handler-bg.png") no-repeat 0 -21px; }/*  |xGv00|8c38be925bed25b63c915ffd23f43710 */