* { margin:0; padding:0; }
ul,li{ list-style-type:none; }
img { border:0; }
input[type="text"],input[type="password"] { border:1px solid #cccccc; padding:3px;  }
input,button,select,textarea{ outline:none;}
textarea { border:1px #cccccc solid; font-size:13px; resize:none; }

div { margin:auto; }
a {color:#414141; text-decoration:none;}
a:hover {color:#eb6912; text-decoration:underline; text-decoration:none; }
h4 { font-size:14px; font-weight:600; line-height:30px;  }
.c { clear:both; }
.blank1 { width:100%; height:10px; line-height:10px; overflow:hidden; }
.blank2 { width:100%; height:20px; }
.blank3 { width:100%; height:30px; }
.blank4 { width:100%; height:40px; }
.blank5 { width:100%; height:50px; }
.blank6 { width:100%; height:60px; }
.blank8 { width:100%; height:80px; }
.blank10 { width:100%; height:5px; line-height:5px; overflow:hidden;}
body { font-size:12px; color:#333; font-family:Arial,Helvetica; }
.box { width:980px; }


#toolbar { height:29px; line-height:29px; background:url("//mat1.gtimg.com/cq/sc/2012/03/top-handler-bg.png") repeat-x; text-align:left;  }
#toolbar .box-text { margin-left:12px; color:#888888; }
#toolbar .t-left  { width:300px; float:left; }
#toolbar .t-right { width:168px; float:right; }
#toolbar .t-right p { margin:2px 2px 0 0; text-align:center; float:left; width:80px; line-height:26px; height:26px; background:url("//mat1.gtimg.com/cq/sc/2012/03/top-handler-btu-bg.png") repeat-x ;
border-left:1px solid #d8d8d8; border-top:1px solid #d8d8d8; border-right:1px solid #d8d8d8; }

#header #logo-area { width:168px; height:80px; float:left; overflow:hidden; }
#header #nav-area { position:relative; top:3px; width:772px; height:83px; font-weight:bold; font-size:14px; float:left; background:url("//mat1.gtimg.com/cq/sc/2012/03/slogan.png") no-repeat; }
#header #nav-area #nav { width:770px; height:33px; float:left; overflow:hidden;  }
#header #nav-area #nav #nav-content { width:770px;  height:31px; float:left; }
#header #nav-area #nav a { color:#d04d00; display:block; background:url("//mat1.gtimg.com/cq/sc/2012/03/nav-main-bg.png") no-repeat; width:91px; height:33px; float:left; line-height:35px; text-align:center; margin-left:10px; }
#header #nav-area #nav a:hover { text-decoration:none; background:url("//mat1.gtimg.com/cq/sc/2012/03/nav-main-selected.png") no-repeat; color:#fff; }
#header #nav-area #nav a.selected { width:91px; height:33px; padding:0; background:url("//mat1.gtimg.com/cq/sc/2012/03/nav-main-selected.png") no-repeat; }
#header #nav-area #nav a.selected span {  color:#fff;}
#header #nav-area #contact-area { width:180px; float:right; background:url("//mat1.gtimg.com/cq/sc/2012/03/contact-bg.png") no-repeat left center; }
#header #nav-area #contact-area p#service-phone { font-size:24px; color:#CF1517; margin:0 0 0 15px; }
#header #nav-area #contact-area p#work-time { font-size:10px; margin-left:10px; color:#aaaaaa; }
#header #rea-handler { background:url("//mat1.gtimg.com/cq/sc/2012/03/red-handler-bg.png") repeat-x; height:54px; width:100%; }
#header .rea-handler-pa {padding:7px 0 0 0; }
#header #category-menu { position:relative; z-index:5; width:195px; height:36px; float:left; text-align:left; background:url("//mat1.gtimg.com/cq/sc/2012/03/close-category-btu.png") no-repeat; }
#header #category-menu.selected { background:url("//mat1.gtimg.com/cq/sc/2012/03/open-categroy-btu.png") no-repeat; }
#header #category-menu #category-nav { display:none; position:absolute; z-index:1991; width:193px; background:#FFF9F1; left:0; top:36px;
	border-left:1px solid #F24845; border-right:1px solid #F24845; border-bottom:1px solid #F24845;}
#header #category-menu #category-nav .category-nav-item {  font-size:14px; position:relative; z-index:9; height:30px; width:193px; line-height:30px; background:url("//mat1.gtimg.com/cq/sc/2012/03/categroy-nav-ico.gif") no-repeat 90% center; border-top:1px solid #FFF9F1; border-bottom:1px solid #FFECD3; }
#header #category-menu #category-nav .category-nav-item:hover { background:#fff; }
#header #category-menu #category-nav .category-nav-item .cloth { position:absolute; z-index:1993; top:0; left:-2px; height:30px; width:5px; background:#fff; }
#header #category-menu #category-nav p.item-title { display:block; background:url("//mat1.gtimg.com/cq/sc/2012/03/categroy-nav-left-ico.gif") no-repeat center left; color:#373737; float:left; margin-left:15px; _margin-left:7px; }
#header #category-menu #category-nav p.item-title:hover { text-decoration:none; background:url("//mat1.gtimg.com/cq/sc/2012/03/categroy-nav-left-ico.gif") no-repeat center left #fff; }
#header #category-menu #category-nav p.item-title a { cursor:pointer; display:block; margin-left:10px; _margin-left:5px; float:left; }
#header #category-menu #category-nav p.item-title a:hover { cursor:pointer; color:#b10606; font-weight:bold; }
#header #category-menu #category-nav .category-detailed {  display:none; background:#fff; position:absolute; z-index:999; top:-1px; left:193px; width:500px; padding:10px 10px; border:1px solid #F24845; }
#header #category-menu #category-nav .category-detailed .category-detailed-content { float:left; border-bottom:1px dotted #eed6b7; font-size:12px; width:500px; }
#header #category-menu #category-nav .category-detailed .category-detailed-content p { padding-right:10px; float:left; width:65px; text-align:right; text-decoration:underline; font-weight:bold; }
#header #category-menu #category-nav .category-detailed .category-detailed-content p a { border:0; color:#cc0000; }
#header #category-menu #category-nav .category-detailed .category-detailed-content .pro-name { float:left; width:420px; }
#header #category-menu #category-nav .category-detailed .category-detailed-content .pro-name a { border-left:1px solid #cccccc; padding:0 3px 0 6px;  }
#header #category-menu #category-nav .category-detailed .category-detailed-content .pro-name a:hover { text-decoration:underline; color:#cc0000; }
#header #category-menu #category-nav .category-detailed ul li { width:120px; text-align:center; float:left; }
#header #category-menu #category-nav .category-detailed ul li a {  }
#header #search-box { width:550px; height:31px; background:#ff6b10; float:left; position:relative; margin-left:10px; }
#header #search-box #search-q { width:435px; height:17px; line-height:17px; margin:3px 0 0 4px; padding-left:25px;  background:url("//mat1.gtimg.com/cq/sc/2012/03/search-magnifier.PNG") no-repeat #fff; border-top:1px solid #6b6b6b; border-left:1px solid #a1a1a1; float:left; color:#aaaaaa; }
#header #search-box #search-btu { width:78px; height:31px; float:right;}
#header p.search-tip { margin-left:10px; line-height:35px; color:#ffbe10; float:left; }
#header p.search-tip a { color:#fff; }


#footer { height:350px; background:#f5f5f5; border-top:1px solid #e8e8e8;  text-align:left; }
#footer .footer-top { padding-left:80px;}
#footer .h-process { width:155px; height:150px; float:left; font-size:12px; color:#9b9b9b; margin-top:10px;  }
#footer .last {  width:100px;}
#footer .last p {width:100px; }
#footer .h-process p { width:155px; height:25px; }
#footer .h-process .manage { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_34.png") no-repeat 18% 20%; }
#footer .h-process .shopping-process { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_35.png") no-repeat 18% 20%; }
#footer .h-process .delivery { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_36.png") no-repeat 18% 20%; }
#footer .h-process .payment { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_29.png") no-repeat 18% 20%; }
#footer .h-process .service { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_27.png") no-repeat 18% 20%; }
#footer .h-process .specials-service { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_28.png") no-repeat 18% 20%;}

#footer .h-process p span { width:70px; line-height:25px; margin-left:45px; color:#686666;}
#footer .h-process .detailed { width:150px; height:100px; border-right:1px dashed #ababab; }
#footer .h-process .detailed ul { width:80px; line-height:25px; margin-left:45px; }

#footer .f-center { height:50px;}
#footer .f-center .c-left { background:url('//mat1.gtimg.com/cq/sc/2012/03/index_37.png') no-repeat; height:50px; width:10px; float:left;}
#footer .f-center .c-right { background:url('//mat1.gtimg.com/cq/sc/2012/03/index_40.png') no-repeat; height:50px; width:10px; float:right;}
#footer .f-center .c-center { width:960px; float:left; text-align:center; background:url('//mat1.gtimg.com/cq/sc/2012/03/index_38.png'); }
#footer .f-center .c-center p { float:left; width:200px; height:50px; line-height:50px; }
#footer .f-center .c-center .city-shopping { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_30.png") no-repeat 18% 45%; }
#footer .f-center .c-center .hour-delivery { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_31.png") no-repeat 10% 45%; }
#footer .f-center .c-center .cash-on-delivery { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_32.png") no-repeat 18% 45%; }
#footer .f-center .c-center .safe-and-efficient { background:url("//mat1.gtimg.com/cq/sc/2012/03/index_33.png") no-repeat 18% 45%; }
#footer .f-center .c-center p span { height:50px; font-weight:600; font-size:20px; color:#b70000; }
#footer .f-footer { text-align:center; font-size:12px; color:#2e2e2e; }
#footer .f-footer .f-footer-friendship a { margin:0 5px; }


.topFocusContainer ul.topFocus {padding:0;margin:0;list-style-type:none;}
.topFocusContainer {background-color: #000000;height: 350px;min-width: 1020px;overflow: hidden; position: relative; width: 100%;}
.topFocusContainer img {border:none;}
.maskL {left: 0;}
.maskR {right: 0;}
.focusMask {background: none repeat scroll 0 0 #000000;height: 350px;opacity:0.6;filter:alpha(opacity=60);position: absolute;top: 0;width: 413px;z-index: 800;}
.top_leftbtn {cursor: pointer; left: 200px;position: absolute;top: 160px;z-index: 1000;}
.top_rightbtn {cursor: pointer;position: absolute;right: 200px;top: 160px;z-index: 1000;}
.topFocus {height: 350px;position: absolute;}
.topFocus li {display: inline-block;width: 840px;height: 350px;overflow: hidden; position: absolute;}


/*  |xGv00|0b461daa5d76c95af21316687ae8b714 */