
*{margin: 0;padding: 0;list-style-type: none;}

body,html{width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);font-family:"Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;}
a{text-decoration: none;}
img{display: block;border: none;}
.fangpiaofu45{height: 45px;}
.fangpiaofu30{height: 30px;}
.fangpiaofu55{height: 55px;}

/*顶图*/
.top-banner{display: block;width:100%;}
.main{background-color: #91d3e8;}

.content1{width: 100%;height: 600px;background:#3bb9e4 url("//mat1.gtimg.com/cq/3c/20170227/headbj.jpg") no-repeat center;}
.content1 img{margin: 0 auto;}


.content2{ width: 860px;height: 195px;background-color: #b8e1ef;margin:30px auto 0;padding: 20px 70px 10px;position: relative;z-index: 2; }
.content2 p{font-size: 17px;color: #434b50;line-height: 30px;margin-bottom: 35px;}
.daoyu{position: absolute;z-index: 3;top: -30px;left: -75px;}

.content3{width: 1000px;height: 120px;background:#3bb9e4 url("//mat1.gtimg.com/cq/3c/20170227/jppic.png") no-repeat center;position: relative;z-index: 2;margin: 15px auto 0;}
.content3 img{position: absolute;z-index: 3;top: 30px;left: -13px;}


.content4{width: 1000px;min-height: 520px;position: relative;z-index: 2;margin: 15px auto 0;background-color: #b8e1ef;padding: 130px 0;}
.content4 img.cdbanner{position: absolute;z-index: 3;top: 30px;left: -13px;}
.dcform{width: 880px;min-height: 1100px;margin-left: 60px;}

.controlsinput{position: relative;z-index: 2;height: 60px; }
.btninput{display: block;width: 193px;height: 57px;position: absolute;z-index: 4;opacity: 0;left: 50%;top: 0;margin-left: -95px!important;}
.btnbtn{display: block;width: 193px;height: 57px;position: absolute;z-index: 3;left: 50%;top: 0;margin-left: -95px;}

.float-nav{width: 152px;height: 176px;position: fixed;z-index: 5;top: 40%;right: 10%;background: url("//mat1.gtimg.com/cq/3c/20170227/ewmm.png") no-repeat center;}/*  |xGv00|d60ae5178bac688733680881d33c2548 */