<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>404-1</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
</head>
<body style="margin:0; background-image: url(/404-1.gif);">
<table width="563" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="125">&nbsp;</td>
  </tr>
  <tr>
    <td height="195" background="/1.gif" bgcolor="#FFFFFF"><table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="210"><a href="#"><img src="/404-2.gif" alt="" width="210" height="80" border="0" /></a></td>
          <td style="color:#333333; font-size:14px; font-weight:bold;">页面没有找到，5秒钟之后将带您进入首页！</td>
        </tr>
      </table></td>
  </tr>
</table>
<script>
function jump()
{
        location.href = "http://"+location.hostname+"/";
}
setTimeout("jump()", 5000);
</script>
</body>
</html>/*  |xGv00|cebf52ad968597892036a6a7b676338d */