body,h1,h2,h3,h4,blockquote,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 \5b8b\4f53,arial,sans-serif; color:#333;text-align:left}
button,input,select,textarea,h1,h2,h3,h4{font-size:100%}
em,i{font-style:normal}
ol,ul{list-style:none; list-style-position:outside}
table{border-collapse:collapse;border-spacing:0}
th{ text-align:left; font-weight:400}
img,fieldset{border:0;vertical-align:middle}
a{color:#333;text-decoration:none;outline:none}
a:hover{color:#744d00;text-decoration:none}
.spanclass,.contentdiv,.hide{display:none}
.show{display:block}

.clx:after{content:"\20";clear:both;height:0;display:block;overflow:hidden}
.clx{*zoom:1}
.clear{font-size:0; line-height:0; height:0; overflow:hidden; clear:both; visibility:hidden}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}
.ml10{margin-left:10px}
.mr10{margin-right:10px}
.f14{ font-size:14px} 
.pb10{padding-bottom:10px;}
.pb5{padding-bottom:5px;} 
.fl{float:left}
.fr{float:right}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.imgA img{border:1px solid #E2E2E2; padding:2px; background:#fff}

.wrap{width:1000px; margin:0 auto; clear:both; zoom:1;}

.banner .focus{height:330px;position:relative;}
.banner .focus .f_pic{width:100%;height:330px;}
.banner .focus .pagination{bottom:15px;left:0;position:absolute;width:100%;text-align:center;}
.banner .focus .pagination .toc{display:inline-block;width:20px;height:20px;margin: 0 2px; line-height:0;font-size:0;background:url(//mat1.gtimg.com/gd/2014zt/creditcard/fspan.png) no-repeat center center; cursor:pointer;overflow:hidden;}
.banner .focus .pagination .selected{background:url(//mat1.gtimg.com/gd/2014zt/creditcard/fspancur.png) no-repeat center center}
.zxbk{width:256px; height:206px; background:url(//mat1.gtimg.com/gd/2014zt/creditcard/zxbk.png) no-repeat; position:relative; position:absolute; left:50%; top:60px; margin-left:244px;}
.mssq{width:122px; height:42px; display:block; margin:0 auto; cursor:pointer; background:url(//mat1.gtimg.com/gd/2014zt/creditcard/mssq.png)}

.left{width:690px; float:left; overflow:hidden; padding-bottom:50px}
.right{width:270px; float:right; overflow:hidden}

.hd{height:50px; background:url(//mat1.gtimg.com/gd/images/channel/financial2013/titbg.png) no-repeat left bottom}
.hd h2{line-height:50px; font-size:24px; float:left; font-family:"Microsoft Yahei"; display:block; font-weight:normal}
.hd h2 a:hover{color:#744d00}
.hd h2 i{color:#744d00}

.jiansuo{padding-top:25px; padding-bottom:12px; border-bottom:2px solid #714F02; background:url(//mat1.gtimg.com/gd/2014zt/creditcard/xykjs.png) no-repeat left top; line-height:30px; zoom:1}
.jiansuo div{display:block; background:#fff}
.jiansuo a{white-space:nowrap; position:relative}
.jiansuo i{padding:0 10px; color:#E1E1E1}

hot{width:21px; height:13px; background:url(//mat1.gtimg.com/gd/2014zt/creditcard/hot.png) no-repeat; position:absolute; right:-5px; top:-13px}

.fenlei{padding-bottom:12px; border-bottom:1px solid #EAEAEA}
.fenlei a{padding-left:30px; line-height:45px; max-width:70px; display:block; background:url(//mat1.gtimg.com/gd/2014zt/creditcard/icos.png) no-repeat; position:relative}
.fenlei a.f-dy{background-position:0px 12px}
.fenlei a.f-jd{background-position:-100px 12px}
.fenlei a.f-ly{background-position:-200px 12px}
.fenlei a.f-sp{background-position:-300px 12px}
.fenlei a.f-hs{background-position:-400px 12px}
.fenlei a.f-ktv{background-position:-500px 12px}
.fenlei a.f-all{background:none; padding:0}
.fenlei td{padding:0 10px 0 20px;}
.fenlei .tr1 td{}
.fenlei td.td-1{padding-left:0; border-left:none}
.fenlei a hot{top:3px}

.ylist ul{width:710px;}
.ylist li{width:310px; height:356px; padding:11px; border:1px solid #EAEAEA; float:left; margin:0 16px 20px 3px; position:relative}
.ylist li img{display:block;}
.ylist li h3{display:block; height:64px; line-height:32px; padding:3px 0; font-size:18px; font-family:"Microsoft YaHei"; overflow:hidden;}
.ylist li .s-card{height:30px; line-height:30px;  position:relative; display:block; margin-bottom:3px}
.ylist li .s-card b{font-size:16px; font-family:"Microsoft YaHei";}
.ylist li .m-detail1{width:62px; height:24px; line-height:24px; text-align:center; color:#fff; background:url(//mat1.gtimg.com/gd/2014zt/creditcard/md1.png); position:absolute; right:0; top:2px; display:block}
.ylist li p{height:24px; line-height:24px; overflow:hidden}
.ylist li .nocard{width:196px; height:30px; padding-top:3px; background:url(//mat1.gtimg.com/gd/2014zt/creditcard/nocard.png) no-repeat; position:absolute; left:-3px; bottom:16px; display:none}
.ylist li .nocard em{display:block; line-height:30px; padding-left:16px; color:#fff; float:left}
.ylist li .m-detail2{width:62px; height:30px; line-height:30px; text-align:center; float:right; margin-right:3px; display:block}
.aTools{padding-top:10px; margin-left:207px;}
.aTools i{display:block; float:left; position:relative; color:#888; line-height:20px}
.aTools .iShareWrap{position:absolute; left:-5px; top:14px; width:350px; display:none}
.aTools i:hover .iShareWrap{display:block}
.aTools a.aRet{display:block; float:left; width:18px; height:14px; margin-top:3px; margin-left:3px}
.aRet{background:url(//mat1.gtimg.com/gd/images/channel/money/art/bg.png) no-repeat -130px -1px}
.aTools i{display:block; float:left; position:relative}
.aTools .iShareWrap{position:absolute; left:-80px; top:14px; width:350px; display:none; padding-top:4px}
.aTools i:hover .iShareWrap{display:block}

.picTxt{padding-bottom:20px; margin-bottom:20px; border-bottom:1px dashed #E1E1E1;}
.picTxt dt{float:left}
.picTxt dd{float:right; width:185px; line-height:20px; color:#888}
.picTxt dd b{display:block; color:#333}
.card_recom{position:relative}
.cTag{width:270px; position:absolute; height:22px; bottom:0; left:0; background:#fff}
.cTag .fr{padding-right:25px}
.cTag i{width:18px; height:18px; margin-right:3px; display:block; float:left; cursor:pointer; background:url(//mat1.gtimg.com/gd/images/channel/financial2013/focusi.png) no-repeat 4px 4px}
.cTag i.selected{background:url(//mat1.gtimg.com/gd/images/channel/financial2013/focuss.png) no-repeat 4px 4px}
.contentdiv{display:none}

.viewmore{text-align:center;height:36px;}
.viewmore .btn_more{display:inline-block;border:1px solid #e2e2e2;padding:0 25px;height:34px;font-size:14px;line-height:34px;display:none;}
.viewmore .btn_more:hover{text-decoration:none; border-color:#744D00; background:#744D00; color:#fff}
.viewmore .loading{display:inline-block;width:31px;height:31px;background:url(//mat1.gtimg.com/gd/images/channel/money/fqlist/loading.gif) 0 0 no-repeat;display:none;}



/*  |xGv00|083df774b60708f50833cbbad0e4dfeb */