body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:Microsoft yahei, Arial, Helvetica, sans-serif;color:#666}
body,button,input,select,textarea{font:12px/1.5 Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333;outline:none}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html{overflow-y:scroll}

			
			
/*common*/
.cle{height:0;font-size:0;clear:both;overflow:hidden}

.nav-box{width:100%;height:98px;background:#fff;border-top:1px solid #0072c9;border-bottom:1px solid #0072c9}
.nav-box.active{position:fixed;z-index:10;left:0;top:0}
.nav{width:1000px;height:98px;overflow:hidden;margin:auto}
.nav li{display:inline;float:left;width:142px;height:88px;line-height:88px;font-size:22px;color:#414141;border-top:10px solid #fff;text-align:center}
.nav li.active{border-top:10px solid #0072c9}
.nav li a{display:block;color:#414141}
.banner{position:relative;height:600px;background:url(//mat1.gtimg.com/cq/bruceliu/chuangye/banner.jpg) no-repeat center center}
.banner .box{height:600px}
.hand{position:absolute;top:329px;left:50%;width:490px;height:271px;background:url(//mat1.gtimg.com/cq/bruceliu/chuangye/hand.png) no-repeat;margin-left:-690px}
.logo{position:absolute;top:75px;left:0;width:143px;height:143px;background:url(//mat1.gtimg.com/cq/bruceliu/chuangye/logo.png) no-repeat}
.title{position:absolute;top:79px;left:158px;width:808px;height:256px;background:url(//mat1.gtimg.com/cq/bruceliu/chuangye/title.png) no-repeat}
.light{position:absolute;top:205px;left:0;width:541px;height:540px;background:url(//mat1.gtimg.com/cq/2015ct/guang.png) no-repeat;-webkit-animation:scale0d8 4s linear infinite;animation:scale0d8 4s linear infinite;}
@-webkit-keyframes scale0d8{0%{-webkit-transform:scale(.8);}
    50%{-webkit-transform:scale(1);}
    100%{-webkit-transform:scale(.8);}}
@keyframes scale0d8{0%{transform:scale(.8);}
    50%{transform:scale(1);}
    100%{transform:scale(.8);}}

.section{height:auto;overflow:hidden}
.box{position:relative;width:1000px;height:auto;overflow:hidden;margin:auto;padding:80px 0}

.section1,.section3{background:#f6f6f6}
.s1-t{height:auto;overflow:hidden}
.img{margin-bottom:20px}
.s1-t-l{float:left;width:470px}
.s1-t-l p{line-height:32px;font-size:16px;color:#414141}
.s1-t-l p.p1{margin-top:32px}
.s1-t-r{float:right;width:485px;height:295px}
.s1-b{margin-top:65px}
.s1-b .img{margin-bottom:42px}

.section2{background:#fff}
.section2 .img{margin-bottom:35px}

.s3-t{height:auto;overflow:hidden}
.s3-t-l{float:left;width:450px}
.s3-t-l p{line-height:30px;font-size:16px;color:#333}

.s3-t-r{position:relative;float:right;width:461px;padding-left:35px;border-left:4px solid #f3ebc2}
.s3-t-r h2{margin-bottom:4px;font-size:16px;font-weight:bold;color:#333}
.s3-t-r p{line-height:30px;padding-left:23px;font-size:16px;color:#333}
.s3-t-r p.p1{padding-left:45px}
.s3-t-r p a{color:#0072c9}
.beizhu{height:auto;line-height:24px;overflow:hidden;background:#fff6c4;margin-top:4px;padding:10px 15px;font-size:14px;color:#222;border:1px solid #f0e18f}
.ewm{position:absolute;top:130px;right:10px;width:94px;height:94px}
.ewm img{width:94px;height:94px}
.xuanshou-list{margin-top:40px}

.section4{background:#5a5a5a}
.section4 .box{width:1026px}
.section4 li{display:inline;float:left;width:145px;height:73px;margin:15px 13px}
.section4 li img{width:145px;height:73px}

.section5{background:#333}
.section5 p{line-height:39px;font-size:18px;color:#fff}
.section5 p.p1{padding-left:90px}
.section5 p.p2{padding-left:125px}

.time{position:relative;height:163px;background:url(//mat1.gtimg.com/cq/bruceliu/chuangye/time.png) no-repeat center 41px}
.time img{position:absolute;display:block}
.s1-img1{top:108px;left:14px}
.s1-img2{top:0;left:204px}
.s1-img3{top:108px;left:315px}
.s1-img4{top:;left:583px}
.s1-img5{top:108px;left:863px}

.a3{position:relative;width:974px;height:629px;background:url(//mat1.gtimg.com/cq/bruceliu/chuangye/s2_tit2.png) no-repeat}
.s2-img1{position:absolute;top:150px;left:0}
.s2-img2{position:absolute;top:139px;left:823px}
.s2-img3{position:absolute;top:450px;left:25px}
.s2-img4{position:absolute;top:390px;left:854px}
.a3 p{line-height:25px;font-size:14px;color:#666;text-indent:2em}
.s2-1{position:absolute;top:202px;left:0;width:335px;}
.s2-2{position:absolute;top:23px;left:528px;width:405px;}
.s2-3{position:absolute;top:505px;left:25px;width:409px;}
.s2-4{position:absolute;top:445px;left:622px;width:350px;}




/*  |xGv00|f147998ae72b066f8f160282998faa98 */