* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}
body {
  color: #fff;
  font-family: "Microsoft YaHei";
  line-height: 1.5;
  font-size: 12px;
  background: #1f257b;
}
a {
  color: #fff;
  text-decoration: none;
}
.center {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.clx {
  *zoom: 1;
}
.clx:after {
  content: "\20";
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
}
.banner {
  height: 1080px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/banner.png) no-repeat center top;
}
.page_intro {
  height: 774px;
  margin-top: -96px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/bg_intro.png) no-repeat center top;
  box-sizing: border-box;
  padding-top: 136px;
}
.page_intro .intro_title {
  display: block;
}
.page_intro p {
  width: 760px;
  margin-left: 45px;
  font-size: 16px;
  line-height: 2;
}
.page_schedule {
  padding: 50px 0 100px;
}
.page_schedule .schedule {
  width: 1088px;
  height: 387px;
  margin: 0 auto;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/bg_schedule.png);
  box-sizing: border-box;
  padding: 220px 230px 0 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page_schedule .schedule span {
  display: block;
  text-align: center;
  line-height: 2;
  font-size: 24px;
}
.page_schedule .schedule em {
  width: 18px;
  height: 9px;
  display: block;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/delta_down.png);
  margin: 5px auto;
}
.jnr {
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/bg_jnr.png) no-repeat center top;
}
.page_judgels {
  padding-top: 33px;
}
.page_judgels .tit {
  display: block;
  margin-left: -60px;
}
.page_judgels .judgels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}
.page_judgels .judgels li {
  width: 230px;
}
.page_judgels .judgels li img {
  display: block;
  margin: 0 auto;
}
.page_judgels .judgels li span {
  display: block;
  text-align: center;
  margin-top: -80px;
  line-height: 2.5;
  font-size: 18px;
}
.page_judgels .judgels li p {
  text-align: center;
  line-height: 2;
  font-size: 14px;
}
.page_rules .tit {
  display: block;
  margin-left: 350px;
}
.page_rules .rule1 {
  width: 1005px;
  height: 239px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/rule1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page_rules .rule1 strong {
  width: 155px;
  font-size: 24px;
  text-align: center;
}
.page_rules .rule1 p {
  font-size: 16px;
  line-height: 2;
  padding-right: 310px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page_rules .rule2 {
  width: 1020px;
  height: 239px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/rule2.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -80px;
}
.page_rules .rule2 strong {
  width: 155px;
  font-size: 24px;
  text-align: center;
}
.page_rules .rule2 p {
  font-size: 16px;
  line-height: 2;
  padding-right: 1em;
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page_rules .require {
  width: 1237px;
  height: 411px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/require.png);
  margin-left: -65px;
  position: relative;
  box-sizing: border-box;
  padding-top: 70px;
  padding-left: 180px;
}
.page_rules .require strong {
  position: absolute;
  left: 83px;
  top: 75px;
  font-size: 24px;
  line-height: 1.1;
}
.page_rules .require p {
  font-size: 16px;
  line-height: 1.8;
  width: 750px;
}
.sub_tit {
  width: 171px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0 auto;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/sub_tit.png);
}
.copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.copyrights li {
  width: 330px;
  height: 351px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/copyright.png);
  position: relative;
}
.copyrights li p {
  padding: 60px 60px 0 40px;
  font-size: 16px;
  line-height: 2;
}
.copyrights li i {
  position: absolute;
  right: 50px;
  top: 230px;
  font-size: 30px;
  font-weight: bold;
  color: #dc4476;
  font-family: arial;
}
.awards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}
.awards li {
  width: 294px;
  height: 312px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/award.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2;
}
.awards li span {
  font-size: 18px;
}
.awards li em {
  font-size: 14px;
  margin-bottom: 5px;
}
.awards li i {
  padding-top: 10px;
  border-top: 2px solid #fff;
  width: 170px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}
.awards li p {
  font-size: 16px;
}
.btns {
  width: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.btn {
  width: 46px;
  height: 46px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/btn.png);
  cursor: pointer;
}
.btn:hover {
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/btn_on.png);
}
.btn_next {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.ani {
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/bg_ani.png) no-repeat center top;
}
.actives {
  width: 1110px;
  height: 627px;
  position: relative;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/bg_actives.png) no-repeat center top;
  margin: 0 auto 80px;
}
.actives .swiper-container {
  height: 627px;
}
.actives .swiper-slide {
  position: relative;
  height: 627px;
}
.actives .swiper-slide p {
  width: 320px;
  position: absolute;
  top: 200px;
  left: 130px;
  font-size: 14px;
  line-height: 2;
}
.actives .swiper-slide p strong {
  display: block;
  font-size: 18px;
  line-height: 32px;
}
.actives .swiper-slide img {
  position: absolute;
  right: 50px;
  top: 120px;
}
.actives .btns {
  position: absolute;
  left: 63px;
  top: 470px;
  z-index: 99;
}
.interview {
  width: 1061px;
  height: 709px;
  position: relative;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/bg_interview.png) no-repeat center top;
  margin: 0 auto;
}
.interview .swiper-container {
  height: 709px;
}
.interview .swiper-slide {
  position: relative;
  height: 709px;
}
.interview .swiper-slide p {
  width: 560px;
  position: absolute;
  top: 163px;
  left: 472px;
  font-size: 14px;
  line-height: 2;
}
.interview .swiper-slide p strong {
  display: block;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 10px;
}
.interview .swiper-slide p span {
  line-height: 2;
  margin-bottom: 10px;
  display: block;
}
.interview .swiper-slide img {
  position: absolute;
  left: 30px;
  top: 45px;
}
.interview .btns {
  position: absolute;
  right: 35px;
  top: 430px;
  z-index: 99;
}
.page_collections {
  height: 686px;
  padding-top: 284px;
  position: relative;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/bg_collections.png) no-repeat center top;
  margin-top: -140px;
}
.page_collections .tit {
  margin-left: -63px;
}
.page_collections .collections {
  height: 400px;
}
.page_collections .swiper-wrapper {
  height: 348px;
}
.page_collections .swiper-slide {
  width: 320px;
  height: 348px;
  background: url(http://mat1.gtimg.com/gd/2019/12jqe/collect.png) no-repeat center bottom;
  text-align: center;
  line-height: 2;
  margin-right: 20px;
}
.page_collections .swiper-slide .pic {
  width: 320px;
  height: 214px;
  display: block;
  position: relative;
}
.page_collections .swiper-slide .pic .more {
  width: 320px;
  height: 214px;
  background: rgba(0, 0, 0, 0.8) url(http://mat1.gtimg.com/gd/2019/12jqe/more.png) no-repeat center;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.page_collections .swiper-slide .pic .more span {
  font-size: 20px;
  line-height: 2;
}
.page_collections .swiper-slide .pic .more i {
  font-size: 14px;
  color: #c32257;
  line-height: 2;
}
.page_collections .swiper-slide .pic:hover .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page_collections .swiper-slide .text {
  height: 136px;
  box-sizing: border-box;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page_collections .swiper-slide .text p {
  font-size: 18px;
}
.page_collections .swiper-slide .text span {
  font-size: 14px;
  font-family: arial;
}
.page_collections .swiper-pagination-bullet {
  width: 29px;
  height: 4px;
  background: #4148b2;
  border-radius: 0;
  opacity: 1;
}
.page_collections .swiper-pagination-bullet-active {
  background: #D82F67;
}
.bianji {
  width: 100%;
  height: 50px;
  background: #242424;
}
.bianjimain {
  width: 960px;
  margin: 0 auto;
}
.bianjimain p {
  font-size: 14px;
  color: #ededed;
  line-height: 50px;
  text-align: center;
}
/*  |xGv00|7d72a527535c432a893be397722343c7 */