blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei",arial,\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
img{vertical-align:top}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
/*-----------------rest---------------------------------*/
/*导航样式*/
.qq-sub-site-hd{margin:20px auto 0;width:1000px;font-size: 14px;font-family: 'Microsoft YaHei';}
.qq-sub-site-hd img{border:0;vertical-align:top}
.qq-sub-site-hd a{text-decoration:none}
.qq-sub-site-hd a:hover{text-decoration: underline;}
.qq-sub-site-hd .qq-sub-site-hd-warp{padding-bottom:10px;*zoom:1;}
.qq-sub-site-hd .qq-sub-site-hd-warp:after{content:"";display:table;clear:both;}
.qq-sub-site-hd .qq-sub-site-hd-logo{float:left;}
.qq-sub-site-hd .qq-sub-site-hd-soso{float:right;margin-top:15px;width:231px;}
.qq-sub-site-hd .qq-sub-site-hd-nav{background-color:#2f8cd7;padding-top:8px;height: 56px}
.qq-sub-site-hd .qq-sub-site-hd-nav .qq-sub-site-hd-nav-col{float:left;padding: 0 13px;margin:0}
.qq-sub-site-hd .qq-sub-site-hd-nav .w146{width: 146px}
.qq-sub-site-hd .qq-sub-site-hd-nav .w190{width: 190px}
.qq-sub-site-hd .qq-sub-site-hd-nav .bl{border-left: 1px #4a9fe4 solid}
.qq-sub-site-hd .qq-sub-site-hd-nav .br{border-right: 1px #247abf solid}
.qq-sub-site-hd .qq-sub-site-hd-nav li{float:left;line-height: 24px;list-style:none}
.qq-sub-site-hd .qq-sub-site-hd-nav li a{padding: 0 8px;color: #fff;white-space:nowrap;float:left;}
.qq-sub-site-hd .qq-sub-site-hd-nav .more-wrap{position:relative;background:url(//mat1.gtimg.com/ln/images/c/map/arrow-down-fff.png) right center no-repeat;}
.qq-sub-site-hd .qq-sub-site-hd-nav .more-wrap .more{color:#fff;display:block;padding:0 8px;white-space:nowrap;}
.qq-sub-site-hd .qq-sub-site-hd-nav .more-wrap .more-list{position:absolute;padding:0;margin:0;list-style:none;background-color:#409ae3;display:none}
.qq-sub-site-hd .qq-sub-site-hd-nav .more-wrap .more-list a{padding:0 8px;text-decoration:none;}
.qq-sub-site-hd .qq-sub-site-hd-nav .more-wrap .more-list a:hover{background-color:#54aaef;}
.qq-sub-site-hd .qq-sub-site-hd-nav .more-wrap-active .more{background-color:#469fe1;}
.qq-sub-site-hd .qq-sub-site-hd-nav .more-wrap-active .more-list{display:block}
.qq-sub-site-hd .qq-sub-site-hd-weather{float:right;color:#828282;margin:20px 20px 0 0;font-size:12px;}
.qq-sub-site-hd .qq-sub-site-hd-weather a{color:#828282}
.qq-sub-site-hd .qq-sub-site-hd-weather .weather-ipCity{width:2em;float:left}
.qq-sub-site-hd .qq-sub-site-hd-weather .weather-week{width: 3em;float:left;margin:0 5px 0 10px}
.qq-sub-site-hd .qq-sub-site-hd-weather .weather-icon img{float:left;margin-right:5px}
.qq-sub-site-hd .qq-sub-site-hd-weather .weather-temperature{float:left;}
/*搜搜*/
.Form-Crumbs-Article-QQ .submit {float:right;width:50px;height:30px;border:none;font-size:12px;background:url(//mat1.gtimg.com/ln/images/c/map/soso-sprite.png) left bottom no-repeat;cursor:pointer;}
.Form-Crumbs-Article-QQ .inputWarp{float:right;width:180px;height:28px;margin:0;padding:0;line-height:22px;background:none;border:#c9c9c9 1px solid;border-right:none;}
.Form-Crumbs-Article-QQ .txtArea{width:150px;_width:145px;height: 26px;_height:24px;margin:1px 0 0 5px;font-size:14px;line-height:26px;border:0;color:#666;outline:none;font-size:100%;padding:0}
.Form-Crumbs-Article-QQ .SosonLogo{float:right;width:22px;height:22px;margin:3px 3px 0 0;background:url(//mat1.gtimg.com/ln/images/c/map/soso-sprite.png) left top no-repeat;}
.Form-Crumbs-Article-QQ .SosonLogo span{display:none;}
.soso-smart-m{position:absolute;z-index:9999;margin:0;background:#fff;border:1px solid #ccc;cursor:default;}
.soso-smart-m td{font-size:14px;line-height:28px;}
.soso-smart-b{background-color:#d8ecff;}
.soso-smart-c{padding-left:3px;white-space:nowrap;text-align:left;overflow:hidden;}

.wrap { width:1000px; height:auto; margin:20px auto 0; }
.content{float:left; width:600px; padding-bottom:12px;}
.difang_banner{height:40px;line-height:40px;color: #2f8cd7;font-size: 24px;border-bottom: 1px #2f8cd7 solid}
/*新闻 资讯*/
.news_box {float:left; padding-left:6px;}
/*行业 生活*/
.life_box {float:left; width:600px; padding-left:6px; margin-top:7px;}
.life_box .difang_banner{width:600px; background-position:0px -66px;}
.class_nav{float:left; padding-top:15px;padding-bottom:20px;}
.beijiang .class_nav, .tianjin .class_nav, .hebei .class_nav {border:solid 1px #e54c4c;}
.guangdong .class_nav {border:solid 1px #f35a34;}
.class_nav dl{float:left; padding:10px 0 20px;width:186px; border-bottom:dashed 1px #b5b8bf; border-right:dashed 1px #b5b8bf;}
.class_nav dl.last{border-right:none;}
.class_nav dl.row2{ padding-top:15px;}
.class_nav dl.row3{ padding-top:15px; border-bottom:none}
.class_nav dt{width:171px; padding-left:15px; font-size:18px;line-height:22px;}
.class_nav dd{width:186px; margin-top:7px;}
.class_nav dd li{float:left; width:75px; padding-left:15px; line-height:26px;}
.class_nav dd li a{display:block; color:#666; font-size:14px;}
.class_nav dt{color:#666;}
.class_nav dl:hover{background:#458fce;color:#fff;}
.class_nav dl:hover dt,.class_nav dl:hover a{color:#fff;}
.right{width:354px; float:right;}
/*腾讯地方站*/
.difang_box {float:left; width:354px;}
.difang_box .difang_banner{width:354px; background-position:0px -132px;}
.difang_nav {float:left; padding:10px }
.beijiang .difang_nav, .tianjin .difang_nav, .hebei .difang_nav {border:solid 1px #c97575;}
.guangdong .difang_nav {border:solid 1px #fea06d;}

.difang_nav li{float:left; width:54px; line-height:35px; text-align:center;}
.difang_nav li a{display:block; font-size:18px; color:#666; font-weight:500;}
.difang_nav li a:hover{color:#2f8cd7}
/*热门推荐*/
.hot_box {float:left; width:354px; margin-top:17px;}
.hot_box .difang_banner{width:354px; background-position:0px -198px;}
.hot_nav {float:left;  padding:20px 10px; }
.beijiang .hot_nav, .tianjin .hot_nav, .hebei .hot_nav {border:solid 1px #d6545d;}
.guangdong .hot_nav {border:solid 1px #ec6d2c;}

.hot_nav li{float:left; padding-bottom:16px;}
.hot_nav li img{float:left; border:solid 1px #cfcfcf;}
.beijiang .hot_nav li img, .tianjin .hot_nav li img, .hebei .hot_nav li img {border:solid 1px #ea5758;}
.guangdong .hot_nav li img {border:solid 1px #fd8c4e;}

.hot_nav li .hot_hd{float:left; width:160px; margin-left:10px; font-size:18px; line-height:20px; font-weight:500; color:#2f8cd7;}
.hot_nav li .hot_hd a{color:#2f8cd7;}
.hot_nav li .hot_bd{float:left; width:160px; margin:9px 0 0 10px; font-size:14px; line-height:23px; color:#666; }
.beijiang .hot_nav li .hot_bd, .tianjin .hot_nav li .hot_bd, .hebei .hot_nav li .hot_bd {border-top:solid 1px #e94848;}
.guangdong .hot_nav li .hot_bd {border-top:solid 1px #fe610c;}

/*  |xGv00|ae550a3160f98bcd1069509fcd62b420 */